[2022-08-25 11:13] cardil commented on #5342
/remove-lifecycle rotten

[2022-08-25 20:48] droopy4096 opened #6004 "Add support for OpenShift's SCC"
## Feature Request

#### Describe the problem you need a feature to resolve.

as could be seen from [GitLab issue](https://gitlab.com/gitlab-org/cloud-native/gitlab-operator/-/issues/762) - it is unnecessary hard to distribute operator as OLM bundle when one cannot include SCC (unlike `Roles`, `RoleBindings`, `ClusterRoles` and `ClusterRoleBindings` and `ServiceAccounts` that comprise RBAC stack i

[2022-08-26 00:01] #5615 closed

[2022-08-26 00:01] #5618 closed

[2022-08-26 04:52] aiyijing opened #6005 "What is the difference between cluster mode operator and namespace mode operator ？"
and the namespace mode/multi namespace mode operator will only watch the CR of
the specified ns

I found that there is no permission to control components in OLM.

and the cluster mode. As an operator developer, how can we use the namespace mode
in the OperatorHub.

[2022-08-26 04:58] wreed4 commented on #2633
THANK you @alvaroaleman! I've been looking at this forever.  trying to do mock type in envtest.  For anyone else who finds this, this is the magic incantation that worked.

[code]

The missing line was as @alvaroaleman said
[code]

I have no idea if this is right, but the way I read that is you need to inform the metav1 package about the new group and version you're creating as well as the scheme

[2022-08-26 08:01] #5562 closed

[2022-08-26 09:43] ipsita-npg opened #6006 "Unable to Create Deployment for Memcached example using operator-sdk - Controller pod is in crashloopbackoff"
referring this guide to create deployment and CR for memcached  using operator-sdk
https://sdk.operatorframework.io/docs/building-operators/golang/tutorial/
https://github.com/operator-framework/operator-sdk/tree/master/testdata/go/v3/memcached-operator

operator-sdk version: operator-sdk version: "v1.10.1-ocp", commit: "bd668f80fdf6a02698335a6c1278bd421477d236", kubernetes version: "v1.21", go ve

[2022-08-26 18:30] everettraven commented on #6006
Hi @ipsita-npg , thanks for raising this issue! One thing I noticed is that the version of `operator-sdk` that you are using is `v1.10.1-ocp`. Have you tried running through this again with the latest release?

[2022-08-26 18:31] everettraven commented on #6002
Closing as https://github.com/operator-framework/operator-sdk/pull/6003 was merged

[2022-08-26 18:31] #6002 closed

[2022-08-26 18:33] everettraven commented on #5993
@jmrodri @varshaprasad96 are we good to close this issue? I noticed that this was marked as a release blocker for the 1.23.0 release and since we have released 1.23.0 I assume this is no longer an issue?

[2022-08-26 19:14] everettraven opened #6008 "Go Operator Tutorial fails to start when following the demo when using `master` branch"
## Bug Report

#### What did you do?

Followed the [Go Operator Tutorial](https://sdk.operatorframework.io/docs/building-operators/golang/tutorial/) steps to create the Memcached Operator.

For the controller I copied and pasted the contents from the `testdata/go/v3/memcached-operator/controllers/memcached_controller.go` file on the `master` branch (docs currently use the `latest` branch but wante

[2022-08-26 19:15] everettraven commented on #6008
/kind documentation

[2022-08-26 20:13] everettraven commented on #6005
Hi @aiyijing , there are currently 3 different "modes" an operator can be set up with for watching Kubernetes resources:
- All namespaces
    - This means that the operator is configured and expects to have the permissions to watch all necessary resources in all namespaces. This essentially equates to give me permissions to see everything I want to see at the cluster level.
- Single namespace

[2022-08-27 00:01] #5575 closed

[2022-08-27 00:48] aiyijing commented on #6005
Oh, thanks

[2022-08-28 04:06] camilamacedo86 commented on #6008
@assafad, could you please help on this one?

[2022-08-28 06:51] camilamacedo86 commented on #6008
I think the @everettraven makes sense, ihmo we can:
a) Comment both lines and add a description on top so that when users copy and past the content following the basic tutorial all will work fine and is clear that both lines are useful only for the custom metrics
b) We need to have a follow-up tutorial was we have the webhooks one where we will describe how to add custom metrics and we will ask fo

[2022-08-29 07:13] akashjain971 commented on #5994
Created an issue in controller-runtime
https://github.com/kubernetes-sigs/controller-runtime/issues/1990

[2022-08-29 13:23] everettraven commented on #6008
@camilamacedo86 Yes, that is my suggestion :)

[2022-08-29 14:19] jmrodri commented on #5743
@bdattoma yes that is happening. What I was trying to say in my previous comments about the selector "working" was that scorecard is parsing it correctly and thinking it is running just one test. But the kuttl image isn't respecting that hence we see the duplicate pods.

[2022-08-29 17:43] varshaprasad96 commented on #6006
This looks like a nil pointer error: `panic: runtime error: invalid memory address or nil pointer dereference` while starting the controller. Could you please share your reconciler code or your project.

[2022-08-29 17:56] varshaprasad96 commented on #6004
OLM currently supports only specific types in which Openshift's SCC is not supported afaik. The new OLM bundle API (Rukpak) is working towards solving this. Probably @asmacdo @theishshah can provide more light on its adoption?

[2022-08-29 18:20] asmacdo commented on #6004
yes, RukPak will assist with this. a "plain bundle" does not care what the object types are.

I'm closing this issue-- could you please reopen against the operator-lifecycle-manager repo?

[2022-08-29 18:20] #6004 closed

[2022-08-29 18:45] everettraven commented on #6005
Closing this issue. If you have any other questions, please feel free to reopen the issue!

[2022-08-29 18:45] #6005 closed

[2022-08-29 18:45] camilamacedo86 commented on #6004
Hi @droopy4096,

In OCP you just need additional SCC permissions if your workloads cannot run as restricted and require raising permissions, as described in: https://github.com/redhat-openshift-ecosystem/community-operators-prod/discussions/1417

Note: You may can define this into the operator metadata bundle via the RBAC specified into the CSV which is used for the ServiceAccount managing the wor

[2022-08-29 22:58] jberkhahn commented on #5987
Doing some investigation on this, when the golang target was changed these were left out, maybe intentionally, lemme investigate and see if adding this breaks anything.

[2022-08-31 10:57] stiller-leser commented on #5246
Hey,

just checking in on the issue to see if there is any plan to look into this. We just tried to enable it again with the latest ansible and operator-sdk and ran into an OOM in seven minutes.

If not, we might need to consider to re-implement our operator in go.

[2022-08-31 18:07] asmacdo commented on #5993
I'm going to assume @everettraven is right :)

[2022-08-31 18:07] #5993 closed

[2022-08-31 18:12] varshaprasad96 commented on #5899
@kaushiksrinivas please let us know if we have answered the question. I'm closing this issue for now, please feel free to reopen.

[2022-08-31 18:12] #5899 closed

[2022-08-31 18:13] asmacdo commented on #5832
Removed the milestone for re-triage. @jmrodri thoughts?

[2022-08-31 18:30] #5690 closed

[2022-08-31 18:34] asmacdo commented on #2745
This is valuable, but not actionable. IMO specific language RFEs should be filed if needed.

[2022-08-31 18:34] #2745 closed

[2022-08-31 21:26] jchoibm commented on #5951
@pk-218 I was unable to reproduce this on operator-sdk version v1.23.0 have you attempted with this version?

[2022-09-01 03:25] laxmikantbpandhare commented on #5937
'operator-manifest-tool' k8s 1.25 bump completed.

[2022-09-02 10:53] mudler commented on #4930
I've stumbled into this myself and I was surprised to see it's not bundled somehow in the generated Makefile.

I'm not a fun of scripting solutions, so I've quickly assembled a small utility, if anyone else have the same issue, there you go: https://github.com/spectrocloud/kubesplit

[2022-09-02 16:41] jmrodri commented on #5743
@bdattoma wow this is really an annoying bug :) So I took the suggested change to the entrypoint which is enough for the use case specified here where you only want to run one test out of `n` tests. But if you want to run 2 of `n` tests, this fails because kuttl will only keep the output of the last test which is written to the JSON report `/tmp/kuttl-test.json`. It would be easier if kuttl would

[2022-09-03 03:27] jmrodri commented on #5743
Looks like the `entrypoint` change and a tweak to the configuration would work. Here's what I have so far:

[code]

[2022-09-03 03:31] jmrodri commented on #5743
But now that I look at your config it may not work.

[code]

From the docs example, the parameter to the entrypoint would have to be `list-pods` or `list-other`. Because `00-pod` won't match anything.

[code]

[2022-09-04 08:31] pk-218 commented on #5951
No, I haven't attempted it with v1.23, v1.22 is the version I have on my system

[2022-09-05 00:00] #5553 closed

[2022-09-05 05:36] rayankiy opened #6016 "ansible-operator reconciliation time interval"
Hi,

We are using ansible-operator built out of the version `quay.io/operator-framework/ansible-operator:v1.22.0` and we observe their is a operator reconciliation triggered  after every 9-10 hours intervals .

Is this expected ?

I found a defect https://github.com/operator-framework/operator-sdk/issues/3397#issuecomment-871076205 where it is mentioned  that every 10 hours default reconciliation

[2022-09-05 07:40] bdattoma commented on #5743
hi @jmrodri thanks for investigating.

Which doc examples are you referring to?
Anyway, 00- and 01- match a kuttl directory in my scorecard. I don't have `list-pods` and `list-other` folders, but I have a folder for each entrypoint.

[2022-09-06 03:18] jmrodri opened #6017 "Exposing verbosity in scorecard kuttl tests"
## Feature Request

#### Describe the problem you need a feature to resolve.

Passing in `--verbose` to `scorecard` there is no way to get the debug logs. We aren't passing `-v` in the `entrypoint`.  https://github.com/operator-framework/operator-sdk/blob/master/images/scorecard-test-kuttl/entrypoint#L6-L9

`kuttl` has the verbosity option:

[code]

#### Describe the solution you'd like.

See the

[2022-09-07 02:39] #5991 closed

[2022-09-07 15:01] pk-218 commented on #5951
Yes

[2022-09-07 16:03] jcho02 commented on #5951
I was able to install/uninstall using the `--version=latest` tag on v1.22.

However, I also tried an install on v1.22, then upgraded to v1.23 and tried to uninstall olm. There I was able to reproduce the same errors you were getting. By reverting back to v1.22, I was able to successfully uninstall olm.

Perhaps you upgraded your operator-sdk version without uninstalling olm beforehand. I would try

[2022-09-07 16:21] pk-218 commented on #5951
@jcho02 Yes, I think that caused the issue.

Thank you for looking into it!

[2022-09-07 16:22] #5951 closed

[2022-09-07 21:49] tlwu2013 commented on #5866
OLM folk doesn't have issues with the changes in the proposed PR.

[2022-09-08 13:10] everettraven commented on #5937
Kubebuilder-declarative-pattern is done as of https://github.com/kubernetes-sigs/kubebuilder-declarative-pattern/pull/238

[2022-09-08 14:37] asmacdo commented on #5685
/lifecycle frozen

[2022-09-09 08:36] jrsmroz opened #6027 "Can't pin images if docker authentication is required."
## Bug Report

#### What did you do?

I've tried to pin the images using the operator-sdk. But got an error

#### What did you expect to see?

Images should be pinned correctly.

#### What did you see instead? Under which circumstances?

[code]

#### Environment

**Operator type:**

N/A

**Kubernetes cluster type:**

N/A

`$ operator-sdk version`
[code]

`$ go version` (if language is Go)

`$ kube

[2022-09-09 16:41] jcho02 commented on #5956
Is this still open? Would like to take a crack at it.

[2022-09-10 15:04] #5743 closed

[2022-09-10 17:30] arewm commented on #5569
/close

[2022-09-10 17:30] #5569 closed

[2022-09-11 01:28] jmrodri commented on #5743
@bdattoma I rebuilt the `scorecard-test-kuttl` image `quay.io/operator-framework/scorecard-test-kuttl:v2.1.0`

[2022-09-11 01:46] jmrodri commented on #6016
The `ansible-operator` has a reconcilePeriod built in which defaults to 10 hours: https://github.com/operator-framework/operator-sdk/blob/master/internal/ansible/flags/flag.go#L99

You can read more about reconcile-period here:
https://sdk.operatorframework.io/docs/building-operators/ansible/reference/advanced_options/#ansiblesdkoperatorframeworkioreconcile-period-custom-resource-annotation

[2022-09-12 07:59] bdattoma commented on #5743
thanks @jmrodri I will give a try as soon as I can

[2022-09-12 08:47] J0zi commented on #5773
@rashmigottipati https://github.com/operator-framework/operator-sdk/issues/5616 was not fixed.
Still struggling to upgrade
[code]
or
[code]
or even production
[code]

[2022-09-12 12:15] Jaanki opened #6028 "Generating Manifests and Metadata page `--kustomize` flag not available"
I am trying to create a bundle for [submariner-operator](https://github.com/submariner-io/submariner-operator/) by following the official "[Generating manifests and metadata](https://v1-23-x.sdk.operatorframework.io/docs/olm-integration/generation/)" guide. The page describes about passing `--kustomize=false` to disable the interactive prompt. However, when running the command `generate kustomize

[2022-09-12 18:05] varshaprasad96 commented on #6028
@Jaanki `generate kustomize manifests` does not have `--kustomize` flag. You can use `--interactive=false` to skip the prompts. Here is more on the command: https://v1-23-x.sdk.operatorframework.io/docs/cli/operator-sdk_generate_kustomize_manifests/

[2022-09-12 18:07] #5946 closed

[2022-09-12 18:16] jmrodri commented on #5946
I don't think we should pin to a specific image. This was a fluke error that happened and it was fixed. We can stick to using `opm:latest`. Closing this issue for now.

[2022-09-12 23:36] rubenhak commented on #5158
The error message is misleading. I was getting the same error if the path indicated in **--helm-chart** does not exist. Hope it would be helpful for someone else struggling with this error.

[2022-09-13 00:03] mpreu commented on #5584
This is a problem for `ComponentConfigs`, which upstream are defined without any `status` or even `spec` fields. It is possible to remove the entry from the `PROJECT` file to get generation going again. But as upstream seems to not do this, I think in general not a good solution.

[2022-09-13 07:26] jeloba commented on #5946
@jmrodri it's a fluke that broke user workflows without changes. That caused quite a bit of work and trouble. It can always happen again.

It's also bad practice and makes it difficult to protect against supply-chain attacks... :shrug:

[2022-09-13 10:55] joelanford commented on #5946
On the flip side, pinning means higher probability of running code with vulnerabilities.

I'd also change the SDK default back to latest. Users can choose to continue pinning with the flag to ensure stable pipelines.

[2022-09-13 16:00] everettraven commented on #6028
@Jaanki I took a look at this and using the `--interactive=false` flag this worked fine for me. I even cloned the [submariner-io/submariner-operator](https://github.com/submariner-io/submariner-operator) source. After updating the PROJECT config version to `3` instead of `3-alpha` I was able to successfully run `operator-sdk generate kustomize manifests --interactive=false`.

Since I was unable to

[2022-09-14 13:47] everettraven commented on #6008
#6018 was merged and that should resolve this issue.

[2022-09-14 13:47] #6008 closed

[2022-09-14 15:36] everettraven commented on #5773
So I did some digging and here are my findings:

When using:
[code]

It was able to successfully install the operator on the cluster.

When going to upgrade the bundle with:
[code]
The command stalls and never completes. The bundle is not properly upgraded.

Doing some further debugging I was able to determine that the point in the source that stalls when running `operator-sdk run bundle-upgrade .

[2022-09-15 15:23] Jaanki commented on #6028
@everettraven hey, thanks for trying it. I have [this PR](https://github.com/submariner-io/submariner-operator/pull/2211) which updates the PROJECT config to v3 and the `operator-sdk` version to `1.23.0`. After these changes when I run `operator-sdk generate kustomize manifests --interactive=false` (there is also a `make kustomization` target for it), it runs indefinitely.

[2022-09-15 15:26] Jaanki commented on #6028
Also another doc related issue:
[kustomize files](https://v1-23-x.sdk.operatorframework.io/docs/olm-integration/generation/#kustomize-files) section in the official guide suggests that `kustomization.yaml` be under `config/manifests/bases/` but shouldn't it be under `config/manifests/`?

[2022-09-15 16:22] Jaanki commented on #6028
PROJECT config being different in these 2 scenarios might be a problem.

What I have is (generated by running `operator-sdk init --domain submariner.io --repo
github.com/submariner-io/submariner-operator` with sdk v1.21.1 (and then adding the APIs)
[code]

and what `operator-sdk alpha config-3alpha-to-3` generates is
[code]

`plugins` section is different.

[2022-09-15 16:56] everettraven commented on #6028
Yep, thanks for catching that!

Oh yes, that definitely seems like a problem. for now, I would recommend attempting to update the version in the PROJECT file manually to `version: "3"` instead of using `operator-sdk alpha config-3alpha-to-3` for now and seeing how that does.

[2022-09-15 17:03] everettraven commented on #6028
I am not sure why it would be running indefinitely. As I mentioned I was able to clone the submariner project and it worked fine for me with the 1.23.0 release. I wonder if it has anything to do with needing to migrate to the newest version of SDK and potentially missing a migration step? If you are upgrading from a different SDK version, did you go through all the migration docs here?:
https://v1

[2022-09-15 23:20] laxmikantbpandhare commented on #5937
`operator-framework/api` bump k8s 1.25 merged https://github.com/operator-framework/api/pull/260

[2022-09-16 03:42] anupchandak commented on #5371
I see the same issue for Ansible Operator. Any plan to address it?

[2022-09-16 04:32] anupchandak commented on #5256
I am facing a similar issue. Any plan to address it?

[2022-09-16 11:38] FrancoisTrible commented on #5723
Please cancel this bug - We declare that BAI is not fips compliant and we should leave it at that in 2022.

[2022-09-16 17:50] andreaTP opened #6031 "Quarkus Operator SDK version is outdated"
## Feature Request

The Quarkus Operator SDK template generating the project stub seems to be outdated:

[code]

while latest is:
[code]

cc. @metacosm

[2022-09-16 17:51] laxmikantbpandhare commented on #6031
Let me take a look into it

[2022-09-16 19:02] laxmikantbpandhare commented on #6031
Raised PR on java-operator-pkugins https://github.com/operator-framework/java-operator-plugins/pull/102

[2022-09-16 19:52] andreaTP commented on #6031
Thanks @laxmikantbpandhare for redirecting this to the correct project!

[2022-09-16 20:24] laxmikantbpandhare commented on #6031
This issue raised here is correct. `operator-sdk` release needs to happen for getting those changes available.

[2022-09-18 08:59] Chever-John commented on #5792
Hello everyone, I've been following this project recently and would like to contribute. What is the problem with this good first issue? Can you describe it in detail? I want to spend some time trying to solve it.

[2022-09-18 19:31] orangemail opened #6034 "Unable to execute Envtest Setup"
I'm trying to follow these steps  given in URL : https://v1-5-x.sdk.operatorframework.io/docs/building-operators/golang/references/envtest-setup/  which has details of Envtest Setup.

![image](https://user-images.githubusercontent.com/20956904/190925056-87b07445-8bb5-4f31-acd2-5b4a6de54e17.png)

I see that URL : https://raw.githubusercontent.com/kubernetes-sigs/controller-runtime/master/hack/setup

[2022-09-19 13:32] everettraven commented on #6034
Hi @orangemail, I took a look into this and it seems like that is the method that was used for installing and using `envtest` a little while ago. Since then the controller-runtime repository has been updated and it is recommended to install `envtest` another way that uses the `go install ...` command.

In the latest SDK documentation we recommend taking a look at this KubeBuilder documentation for

[2022-09-19 18:20] #5987 closed

[2022-09-20 07:52] gprossliner opened #6035 "Best Practice to reconcile all objects at once"
## Type of question

Best practices

## Question

#### What did you do?

I created a basic operator using the operator-sdk scarfolding tool.

One important usecase involves enumerating all instances of a specific CRD, and generate a single configuration file, which will be mounted into a Daemonset. Basically it's like the NGINX ingress controller, which takes all Ingress objects, and generates one

[2022-09-20 09:19] dove-young opened #6036 "operator-sdk cannot work with olm v0.19.0"
## Bug Report

#### What did you do?
- all commands do not work
  - operator-sdk olm status
  - operator-sdk olm install
  - operator-sdk olm uninstall

[code]
- here is an olm `v0.19.0` found
[code]

- retry with specific version and namespace
[code]

**Kubernetes cluster type:**
- OpenShift 4.10.18

`$ operator-sdk version`

[code]
`$ go version` (if language is Go)

`go version go1.18.2 linux/a

[2022-09-21 08:36] dove-young commented on #6036
Found a known issue https://bugzilla.redhat.com/show_bug.cgi?id=2021039

[2022-09-21 09:47] stiller-leser commented on #5246
So we continued to look into it and it seems that the OOM comes from new processes `/usr/bin/python3.8 -m ansible_collections.cloud.common.plugins.module_utils.turbo.server --fork --socket-path /opt/ansible/.ansible/tmp/turbo_mode.kubernetes.core.socket` being created until the pod OOMs. Seems that their termination isn't fast enough.

[2022-09-21 11:05] stiller-leser commented on #5246
An `strace` of such a process (one which does not get killed properly), shows:

[code]

The process then continues to run. It seems that the socket appears and disappears quite frequently.

[2022-09-21 14:51] stiller-leser commented on #5246
Adding an if-statement here https://github.com/stiller-leser/cloud.common/blob/main/plugins/module_utils/turbo/server.py#L375 seems to solve the OOM issue. Not sure if that's the proper handling though.

[2022-09-21 18:08] varshaprasad96 opened #6037 "Introduce Makefile target to build multi-arch solutions"
## Feature Request

#### Describe the problem you need a feature to resolve.
With the bump in KB, it would be useful to introduce the Makefile target to support building multiple architectures.
Please refer:  https://github.com/kubernetes-sigs/kubebuilder/blob/master/testdata/project-v3/Makefile#L82-L97. This needs to be introduced in Ansible, Helm and Hybrid plugins.

 /language ansible
 /languag

[2022-09-21 18:09] varshaprasad96 commented on #5937
@theishshah Can we make sure that https://github.com/operator-framework/operator-sdk/issues/6037 is in.

[2022-09-21 18:22] asmacdo commented on #5937
We need to add https://github.com/operator-framework/operator-sdk/issues/6031

[2022-09-21 18:30] asmacdo commented on #2770
kubebuilder deploy-image plugin is doing this [https://book.kubebuilder.io/plugins/deploy-image-plugin-v1-alpha.html](https://st1.zoom.us/web_client/6orpgrb/html/externalLinkPage.html?ref=https://book.kubebuilder.io/plugins/deploy-image-plugin-v1-alpha.html)

If any other features should be added to SDK, lets create a new issue.

[2022-09-21 18:30] #2770 closed

[2022-09-22 02:52] dove-young commented on #6036
move this issue to OLM repo https://github.com/operator-framework/operator-lifecycle-manager/issues/2864

[2022-09-22 02:52] #6036 closed

[2022-09-22 04:33] dove-young opened #6038 "operator-sdk run bundle $BUNDLE_IMG on testdata/go/v3/memcached-operator"
## Bug Report

#### What did you do?

- run command `operator-sdk run bundle  $BUNDLE_IMG --verbose`

#### What did you expect to see?

- `memcached-operator` should be installed successfully

#### What did you see instead? Under which circumstances?

- command did not finished successfully
[code]

- deployment `memcached-operator-controller-manager` cannot rollout
[code]
- describe RS `oc describ

[2022-09-22 05:01] dove-young commented on #6038
I can workaround it by run this command
[code]

[2022-09-22 15:51] everettraven commented on #5898
Verified that this works as expected after the PR @camilamacedo86 mentioned in the [above comment](https://github.com/operator-framework/operator-sdk/issues/5898#issuecomment-1200121348)

The default `go/v3` plugin still uses Kustomize v3.8.7 while the new `go/v4-alpha` plugin uses Kustomize v4.5.5. I tested creating the memcached-operator with both plugins and running `make bundle`. Both the `go/

[2022-09-22 15:51] #5898 closed

[2022-09-22 21:20] everettraven commented on #5773
So the [above comment ](https://github.com/operator-framework/operator-sdk/issues/5773#issuecomment-1246951229) is definitely an issue at the moment because when a fix is applied I am able to use `operator-sdk run bundle` and `operator-sdk run bundle-upgrade` to successfully run and upgrade a valid bundle.

@J0zi I suspect for the production operators you mentioned running:

That you encountered t

[2022-09-23 08:00] #5666 closed

[2022-09-23 10:38] lsierant commented on #6027
I can confirm this. It is a major bug as it is not possible to use image digests option for certified operator bundles which are using images from registry.connect.redhat.com.

[2022-09-23 11:29] lsierant commented on #6027
As a workaround it is possible to use operator-manifest-tools directly as an additional step. This way it is possible to use different image resolver, e.g. skopeo which supports using docker's config.json. Crane also supports it, but as @jtaylor-kove mention its usage is not correct here.

workaround:
[code]

[2022-09-23 15:28] everettraven commented on #6035
@gprossliner I'll start out with answering your questions and then go into some of my thoughts/questions regarding your use case.

This is correct. Whenever the controller is started - if there exists any CRs on the cluster that the controller has permissions to reconcile they will be reconciled.

I would recommend using the `List` function from the controller (`r.List()`) as it uses the controlle

[2022-09-23 15:30] everettraven commented on #6038
I believe @jmrodri is looking into issues related to SCC and the `operator-sdk run bundle(-upgrade)` commands.

[2022-09-23 17:43] everettraven opened #6039 "`operator-sdk run bundle(-upgrade)` subcommands stall"
## Bug Report

#### What did you do?
When running `operator-sdk run bundle` and specifying an index image via the `--index-image` flag the command will stall when attempting to generate the extra FBC here:
https://github.com/operator-framework/operator-sdk/blob/79afd9365d8f0f4f95dd2e5d51a85a9a8d7abcf0/internal/olm/operator/bundle/install.go#L195-L203

The same thing occurs when running `operator-s

[2022-09-23 17:44] everettraven commented on #6039
/cc @jmrodri since he noticed the `operator-sdk run bundle` command stalling when using the `--index-image` flag

[2022-09-23 17:44] everettraven commented on #6039
/assign

[2022-09-24 08:25] orangemail commented on #6034
@everettraven : Thanks for the information.  I hope this will help.

[2022-09-26 09:01] frzifus commented on #5900
/remove-lifecycle stale

[2022-09-26 14:40] everettraven commented on #6028
@Jaanki were you able to get this resolved?

[2022-09-26 17:16] #6039 closed

[2022-09-26 18:17] everettraven commented on #6034
@orangemail I am going to close this issue, but if you end up having any more problems feel free to reopen. Thanks!

[2022-09-26 18:17] #6034 closed

[2022-09-26 19:38] gprossliner commented on #6035
Thank you @everettraven for your response, and for clarification of my first questions.

Actually, I have two CRD: `RouterConfig`, where in most cases, there will only be one per cluster, and `Route`, which are associated by sharing a key in spec. `RouteList` is not an own CRD, but the list of all `Route`instances.

This was one of my experiments. I added a label in the `Reconcile` of the `RouteCo

[2022-09-26 21:00] everettraven commented on #6035
@gprossliner Okay, I think I have a little more context now. I *think* you may be able to do something similar to what you described but without triggering the Reconcile for the `RouterConfig` from the `RouteController`.

What I was wondering in my follow-up question was if you would be able to have a user create a `RouterConfig` CR that they reference in the creation of a `Route` CR? This way whe

[2022-09-27 14:58] gprossliner commented on #6035
Thank you very much for your detailed answer. This is exactly my usecase. I will evaluate your suggestions and tell you about the outcommings!

[2022-09-27 17:12] laxmikantbpandhare commented on #5937
Did java-operator-plugins release [v0.7.0 ](https://github.com/operator-framework/java-operator-plugins/releases/tag/v0.7.0)
It will fix #6031 and it will be added in `operator-sdk` next release `v1.24.0`.

[2022-09-27 17:13] laxmikantbpandhare commented on #6031
Modified milestone to `v1.24.0`

[2022-09-28 05:44] Jaanki commented on #6028
@everettraven yes and no. I renamed csv file from `submariner.clusterserviceversion.yaml` to `submariner-operator.clusterserviceversion.yaml` and corresponding `kustomization.yaml` changes. After this, `operator-sdk generate kustomize manifests -q` runs non-interactively even without `--interactive=false` flag but it never completes. So the never completes part is what is not working now. This is

[2022-09-28 09:43] gprossliner commented on #6035
I've done some testing for your purposed solution. The critical path is when the RouteController updates the RouteConfig object, because it updates an object "owned" by a different controller. This is where I had problems in the past.

But I tried again, and added some logging to check what is about to happen. I even added a mutex to ensure only one controller runs `Reconcile` at any given time, b

[2022-09-28 11:12] gprossliner commented on #6035
I updated the test so that I always use `r.Client.Get/Update...`, not `r.Get/Update` directly, but the behavior is the same. I can make a repo if needed.

[2022-09-28 13:42] everettraven commented on #6035
@gprossliner When you attempt to get the `RouteConfig` object in the `RouteController` are you using the `r.List()` or `r.Client.List()` function? My understanding of this particular scenario would be that you would want to use the `r.Client.List()` function for fetching any `RouteConfig` objects from the cluster to make modifications to and when listing `Route` objects you would want to use `r.Li

[2022-09-28 14:01] everettraven commented on #6035
/assign

[2022-09-28 14:08] everettraven commented on #6035
@gprossliner I took a look at the `RouteController` from the repo you shared and I think my previous comment regarding which `List` function to use should resolve your issue. This list call:
https://github.com/gprossliner/operator-demo/blob/2825b14e169e43b7da63e51a469feffd68eba6f6/controllers/route_controller.go#L74-L77

should be:
[code]

[2022-09-28 15:28] everettraven commented on #6028
@Jaanki so I took a little bit of time to debug this issue in the subcommand, and from what I can tell the internal portion of code that gets reached and is infinitely looping is here:
https://github.com/operator-framework/operator-sdk/blob/8fc9626cf19d6f8ea8a4251b22928dbb200deda0/internal/generate/clusterserviceversion/bases/definitions/ast.go#L104-L174

I haven't had the chance to diagnose exact

[2022-09-29 06:59] gprossliner commented on #6035
Thank you, I'm out of office until tomorrow, but I will check as soon as I will return.

[2022-09-29 13:21] Jaanki commented on #6028
could any of the `config/*` files misformed? I am just trying to list things that could be wrong. This is a high priority task to get the bundle generated. :)

[2022-09-29 13:49] J0zi commented on #5773
So we are waiting for another release of `operator-sdk` to test it out and we could be unblocked then.

[2022-09-29 15:44] chris93111 opened #6045 "ansible-operator timezone report to manifest"
## Type of question

## Question

#### What did you do?

The report of status operator reconcil doesn't take the timezone of the container

So the status.conditions.lastTransitionTime is wrong

We don't see any option in documentation for change timezone, maybe is a mistake of configuration of kubernetes but all node are the good timezone

#### What did you expect to see?

time set correctly in st

[2022-09-29 18:47] laxmikantbpandhare opened #6046 "New changes in kubebuilder causing issue in SDK testcases"
## Feature Request

#### Describe the problem you need a feature to resolve.

kubebuilder scaffolding logic got changed

#### Describe the solution you'd like.

go lang

Before kb changes

[code]

After

[code]

``config/manager/controller_manager_config.yaml` will be scaffolded only after `--component-config` flag is enabled.

The Kubebuilder issue is here - https://github.com/kubernetes-sigs/kub

[2022-09-29 18:48] laxmikantbpandhare commented on #6046
As part of this issue, we need to modify test cases and docs from `operator-sdk`.

[2022-09-30 08:00] #5683 closed

[2022-10-01 14:11] imperialguy opened #6048 "automate user inputs in operator-sdk generate kustomize manifests"
## Type of question

How to automate the user inputs in `operator-sdk generate kustomize manifests`

## Question

#### What did you do?

Ran this command from the operator dir:
[code]

#### What did you expect to see?

I expect to be able to automate user inputs via command-line parameters or some sort of config file

#### What did you see instead? Under which circumstances?

It asks six different

[2022-10-02 00:46] chaewoorha commented on #5410
Hello @camilamacedo86

I am facing a similar issue. Could you help me figure this out?
Here is the steps. Due to company regulation, I changed proprietary docker img to example.com/foo:v.0.0.3

1) make bundle bundle-build bundle-push
2) make catalog-build catalog-push
3) operator-sdk run bundle

bash-4.4$ operator-sdk run bundle example.com/foo-bundle:v0.0.3
INFO[0006] Successfully created registr

[2022-10-02 00:47] chaewoorha commented on #5410
test

[2022-10-02 00:53] chaewoorha opened #6049 "Failed to run bundle: install plan is not available for the subscription"
Hello, Developers

I am facing a similar issue as [5410](https://github.com/operator-framework/operator-sdk/issues/5410)
Could you help me figure this out?

I am using **Minikube**. Here is the steps.

Step1. $ make bundle bundle-build bundle-push
Step2. $ make catalog-build catalog-push
Step3. $ operator-sdk run bundle

[code]

Error messages:

[code]

[2022-10-02 13:13] imperialguy commented on #6048
I don't need this anymore. Closing it.

[2022-10-02 13:13] #6048 closed

[2022-10-03 00:00] #4996 closed

[2022-10-03 14:48] everettraven commented on #6028
@Jaanki Doing a little more debugging using the submariner project I was able to find that the loop is happening when trying to process the following fields in the `SubmarinerStatus` struct: https://github.com/submariner-io/submariner-operator/blob/dc55d7bee82eba362e744672d1c5a18b32e9ac65/api/v1alpha1/submariner_types.go#L85-L88

If I comment those lines out in the `SubmarinerStatus` then `operato

[2022-10-03 18:22] laxmikantbpandhare commented on #6046
[code]

[2022-10-03 18:26] laxmikantbpandhare commented on #6046
KB issue - https://github.com/kubernetes-sigs/kubebuilder/issues/2782

[2022-10-03 18:49] jmrodri commented on #6046
Based on the error in comment [3 above](https://github.com/operator-framework/operator-sdk/issues/6046#issuecomment-1265853162) that looks like the `manifests` plugin doesn't know about the file `config/manager/controller_manager_config.yaml`. But based on comment [4 above](https://github.com/operator-framework/operator-sdk/issues/6046#issuecomment-1265857089) the component config is supposed to b

[2022-10-03 18:50] jmrodri commented on #6046
@laxmikantbpandhare I think what I would try first is using a branch of operator-sdk that contains the updated kubebuilder in it. Do the following:

[2022-10-03 19:01] laxmikantbpandhare commented on #6046
Yes, I tried the above command and got the same error on the terminal.

[code]

Then, I tried below command and it worked.

[code]

[code]

[2022-10-03 19:43] zohiba opened #6051 "Dependencies.yaml under bundle/metadata"
I am trying to install some licensing operator in a different namespace as a dependency when my operator is getting installed.  I found this https://docs.openshift.com/container-platform/4.8/operators/understanding/olm/olm-understanding-dependency-resolution.html#olm-bundle-format-dependencies_olm-understanding-dependency-resolution helpful, but is there a way I can tell this dependency to get ins

[2022-10-03 20:57] chaewoorha commented on #6049
@everettraven Thanks for your help. I tired, but still facing the same issue with opm v1.26.2, but with opm v1.23.0, I am facing a different err.

[code]

[2022-10-03 21:14] chaewoorha commented on #6049
@everettraven Thanks! It works with your solution.

[2022-10-03 21:37] everettraven commented on #6028
@Jaanki So after attempting to create a fix I did a little bit more digging and discovered that the problem is that the code that processes child elements isn't able to tell the difference between types with the same name in different packages. So for example, the custom `DaemonSetStatus` type that submariner operator defines in the `v1alpha1` package is the same name as the `appsv1.DaemonSetStatu

[2022-10-03 21:40] everettraven commented on #6049
@chaewoorha I'm glad that worked!

I am going to keep this issue open for now to remind me to look into setting the default index-image used for SQLite to be one that works appropriately.

[2022-10-04 05:18] porridge commented on #5452
/remove-lifecycle stale

On Tue, 4 Oct 2022 at 03:01, OpenShift Bot ***@***.***> wrote:

[2022-10-04 09:07] jolbax opened #6052 "Disable Cache for objects: documentation out-dated"
### What is the URL of the document?

[After deploying my operator, I see errors like “Failed to watch ”](https://master.sdk.operatorframework.io/docs/faqs/#after-deploying-my-operator-i-see-errors-like-failed-to-watch-external-type)

### Which section(s) is the issue in?
after-deploying-my-operator-i-see-errors-like-failed-to-watch-external-type

### What needs fixing?
The code provided cannot be

[2022-10-04 20:27] everettraven commented on #6038
Okay, so looking into this some more it seems like my last comment was actually incorrect (although it could still be something that needs to be resolved). My bad for not taking a more detailed look at the error messages before posting my last comment :sweat_smile:

This part of the error states the problem is setting the seccomp:
[code]

Since all our current samples in the `testdata/` folder are

[2022-10-04 20:51] everettraven commented on #6038
Another thing to mention is that our testdata go samples are generated and during the generation we replace a section that is normally commented as such:
[code]

As per the comment, if you are using an OpenShift version < 4.11 then you would need to remove the `seccompProfile` section to get it to work.

[2022-10-05 08:22] gprossliner commented on #6035
Hi! Now I use the `.Client` methods everywhere. Basically to wrap the API calls in custom functions to perform central logging.

In my real project, the problem is still there, it happens about 1 of 3 times. In the test repo that I've shared, I am still not able to recreate the issue. I will now start to tear down the logic, and compare what is different in both repos line-by-line - again.

#####

[2022-10-05 09:05] gprossliner commented on #6035
I was finally able reproduce the issue in the demo repo. It seems that because once all Route objects have been reconciled, that never was really an update to RouterConfig, because nothing has changed. Now I include a `Token` field in the `RouterConfig.Status` struct, which is updated every time a `Route` object is reconciled (https://github.com/gprossliner/operator-demo/commit/db9e0a7320444ad8f92

[2022-10-05 13:34] everettraven commented on #6035
Hi @gprossliner,

You definitely bring up some good points, and it may be the case that I misunderstood and that they simply are the same. My understanding was that `r.List` would check the cache first while `r.Client.List` would always hit the kube api server. After looking at your analysis I believe that they are simply the same and I just had a misunderstanding (I never really looked in depth a

[2022-10-07 17:59] jmazzitelli opened #6063 "be able to manually request a reconciliation [ansible operator]"
I asked around, and the consensus seems to be this is not a feature today. If this is possible today, let me know how, and I can retract this enhancement request.

## Feature Request

#### Describe the problem you need a feature to resolve.

_<tl;dr>In general, the problem is: if a CR contains dynamic values that when evaluated at different times can produce different values (such as, for example,

[2022-10-07 18:26] #5738 closed

[2022-10-08 08:37] THMAIL opened #6072 "the version choices of operator-sdk"
hello everyone，

I want to extend kubernetes with operator-sdk，but I don't know which operator-sdk version  should I choose.

So I read the [doc](https://github.com/operator-framework/operator-sdk#dependency-and-platform-support) from github, and it tells me I should go to  [this page](https://sdk.operatorframework.io/docs/overview/#kubernetes-version-compatibility) to find the answer. Then [this

[2022-10-09 02:45] laxmikantbpandhare commented on #6046
I found the bug on Kubebuilder which was missed as part of the `--component-config` flag enablement process.

Issue - https://github.com/kubernetes-sigs/kubebuilder/issues/3009
PR - https://github.com/kubernetes-sigs/kubebuilder/pull/3010

[2022-10-09 02:48] THMAIL commented on #6072
Does anyone know how to resolve this problem?

[2022-10-09 02:51] laxmikantbpandhare commented on #6072
Not sure what exactly your ask. Do you want to install `operator-sdk` and use our command line tool? Could you please specify what exactly you are trying?

[2022-10-09 05:20] jmrodri commented on #6046
@laxmikantbpandhare okay, that makes sense. I think we need to get that merged into kubebuilder and do a point release of kubebuilder. Then bring that into SDK.

[2022-10-09 05:50] laxmikantbpandhare commented on #6046
Do you mean patch release? Yes, the minor release is needed for sure.

[2022-10-09 12:12] dengshaojiang commented on #4434
Thanks a lot!
It perfectly solves the problem of third-party crds.

[2022-10-10 05:05] fgiloux commented on #5104
/remove-lifecycle stale

[2022-10-10 05:29] laxmikantbpandhare commented on #5104
I can take a look into it. I recently worked on `--component-config` flag enablement in Kubebuilder. /assign

[2022-10-10 05:29] laxmikantbpandhare commented on #5104
/assign

[2022-10-10 12:41] Jaanki commented on #6028
@everettraven hey, thanks for looking into this. Yes, after renaming the fields, `operator-sdk generate kustomize manifests` completes and does not loop any longer. I am able to create to the bundle.

[2022-10-10 13:56] everettraven commented on #6038
@dove-young I just wanted to follow up. If you comment out the `seccompProfile` sections of the files under the `config/` directory for the operator does it work as expected?

[2022-10-10 14:04] everettraven commented on #6035
@gprossliner I just wanted to follow up. Did you have a chance to try out using server-side apply as mentioned in my previous comment?

[2022-10-10 14:13] everettraven commented on #5832
There was some internal discussion a while back about what possibly needs to be done to resolve this. To make it more transparent and easier to find I wanted to copy that discussion over here:

Things that likely need to be done:
- Scaffold a new Dockerfile with the name `<operator-name>-index.Dockerfile`
- Scaffold a new directory with the name `<operator-name>-index`
- Scaffold the `<operator-na

[2022-10-10 17:05] varshaprasad96 commented on #6072
Hi @THMAIL,
In general, the version of K8s dependencies which are used to build Operator-SDK is the version to which it is strictly compatible. For example, in [Operator-SDK 1.23.0](https://github.com/operator-framework/operator-sdk/blob/1eaeb5adb56be05fe8cc6dd70517e441696846a4/go.mod#L41), specifies the k8s dependencies in its go.mod file as 0.24.2. This means SDK 1.23.0 is strictly compatible wi

[2022-10-10 17:17] varshaprasad96 commented on #6052
@jolbax Thanks for pointing this issue out. That's right, this is due to the change in controller-runtime where we reverted to using `NewClientFunc` instead of `ClientBuilder` (https://github.com/kubernetes-sigs/controller-runtime/pull/1409). Would you like to submit a PR to fix this documentation?

[2022-10-10 17:19] varshaprasad96 commented on #6051
Hi @zohiba, this issue seems to be related to Operator Lifecycle Manager's task on resolving dependencies before installing the operator. Could you please raise an issue in https://github.com/operator-framework/operator-lifecycle-manager.

[2022-10-10 18:20] varshaprasad96 commented on #6072
@THMAIL Thanks for bringing this up. We can add documentation that explicitly states the K8s version that is supported by SDK. To automate this with an K8s update, we can pick the version from Makefile and add this as a part of release script. @everettraven will be working on this issue.

[2022-10-10 22:23] bitbreakr opened #6074 "Reconciling loop not being iterated"
## Bug Report

#### What did you do?

I'm currently writing an operator and have two k8S clusters. One of the clusters is a local one running with Kind, and the other one is running at DigitalOcean. The reconcile loop is iterating on the Kind cluster but isn't on the DigitalOcean cluster.

Is this a known issue?

Logs from Digital Ocean

![CleanShot 2022-10-11 at 00 24 30@2x](https://user-images.g

[2022-10-11 06:53] gprossliner commented on #6035
Hi there! Not yet, I'm sorry, but I keep you informed.

[2022-10-11 09:14] gprossliner commented on #6035
Is there any way to check if a reconciliation is "initial", that means on startup for all resources, or from a change of a resource? Or to disable the initial reconciliation of a specific kind?

This would also help me a lot, since there is no point in reconciling all `Route` objects one at a time at startup, as I never need to act on individual routes, but only ever on all routes for a single `Ro

[2022-10-11 10:02] #6074 closed

[2022-10-11 10:46] lucas4p commented on #2950
Referring to Multiple CR Versions in watches.yaml results in duplicate Ansible reconciliations, do you know if there is already a solution?

[2022-10-11 13:45] everettraven commented on #6035
I think it is possible to perform that kind of logic but my understanding is that something like that would go against the best practice of keeping your reconciliation loop idempotent. The goal with keeping it idempotent is that regardless of whether or not your CR is being created or updated the same logic is run to ensure the desired state is reached. The downside to not keeping the reconciliati

[2022-10-12 05:23] Rahilsiddique commented on #6052
hey can you assign this issue to me, I have understood the problem and can fix it, thanks

[2022-10-12 05:35] laxmikantbpandhare commented on #6052
/assign Rahilsiddique

[2022-10-12 12:39] aashishprasad99 commented on #3590
Even I am having the same issue @kyp0717 , did you get any resolution?

[2022-10-12 14:59] bmm-alc opened #6078 "Small typo in the operator output"
## Bug Report

#### What did you do?
there is a typo in the output of the command `make bundle` ("suceessfully" instead of "successfully")

[code]

#### Environment

**Operator type:** I'd say common

**Kubernetes cluster type:** Irrelevant

`$ operator-sdk version` 1.24.0

#### Possible Solution

edit https://github.com/operator-framework/operator-sdk/blob/735678238f2ce54ecc063265906be856cd3858d4

[2022-10-12 17:32] #6038 closed

[2022-10-12 18:39] jberkhahn commented on #5239
todo:
-fork repo
-find out which repos need to be changed over to point at the new repo

[2022-10-12 18:48] varshaprasad96 commented on #5382
Based on the discussion, the required task for this issue to include docs on how to filter caches using labels in controller-runtime. The original design doc is here: https://github.com/kubernetes-sigs/controller-runtime/blob/master/designs/use-selectors-at-cache.md

[2022-10-12 18:51] jberkhahn commented on #5496
/lifecycle-frozen

[2022-10-12 18:52] jberkhahn commented on #5496
/lifecycle frozen

[2022-10-12 19:16] tlwu2013 commented on #5956
hey @jcho02, AFAIK this is not closed and is labeled with "help wanted", so that'll be awesome if you want to give it a shot!

[2022-10-13 07:39] jinguiy opened #6081 "pods deployed by helm operator keep in Terminating/ContainerCreating status"
## Bug Report

#### What did you do?
install the operator

#### What did you expect to see?
pods deployed by operator should in running status

#### What did you see instead? Under which circumstances?
The pods keep in Terminating/ContainerCreating status

#### Environment

**Operator type:**
helm operator

**Kubernetes cluster type:**
OpenShift 4.10.x

`$ operator-sdk version`
operator-sdk versio

[2022-10-13 08:46] gprossliner commented on #6035
Thank you again for your patience and answer. Based on your comment, I was able to solve the problems with the optimistic concurrency error: https://github.com/gprossliner/operator-demo/commit/d4ee18492a6005b4d91bbfecb14a4f216e1ad348

I don't introduce a new field like the `hasBeenReconciledBefore` you mentioned, but I use the `observedGeneration` field of my status condition to check if something

[2022-10-13 13:16] everettraven commented on #6035
@gprossliner I'm glad that you were able to resolve the issue! Since you were able to resolve this issue, I'm going to close the issue for now. If you have any more questions related to this feel free to reopen.

If you have any other questions feel free to open a new issue or join the [operator-sdk community slack channel](https://kubernetes.slack.com/archives/C017UU45SHL) and ask there.

[2022-10-13 13:16] #6035 closed

[2022-10-13 14:41] sukhil-suresh commented on #5803
/close

[2022-10-13 14:41] #5803 closed

[2022-10-14 14:00] jmrodri opened #6085 "Typo in e2e generation code: addTestE2eMaekefileTarget should be addTestE2eMakefileTarget"
## Bug Report

There's a typo in hack/generate/samples/internal/go/memcached-with-webhooks/e2e_test_code.go. It should be `addTestE2eMakefileTarget` instead of `addTestE2eMaekefileTarget`.

#### What did you do?

Inspected code in another PR

#### What did you expect to see?

I expected to see `addTestE2eMakefileTarget`

#### What did you see instead? Under which circumstances?

I saw `addTestE2eM

[2022-10-14 20:46] jamie-at-sas opened #6087 "wrong minimum version of go listed in prereqs in developer-guide"
### What is the URL of the document?

https://sdk.operatorframework.io/docs/contribution-guidelines/developer-guide/#prerequisites

### Which section(s) is the issue in?

prerequisites

### What needs fixing?

Doc says prereq is  `go version 1.17` but the `go.mod` file in the source says `go 1.18`.

#### Additional context

The source will not build if your version of Go is earlier than what is li

[2022-10-15 02:39] auroraqin commented on #5529
Hi @jamesdhope

What's the final solution of this issue? I met the same issue even after choosing the corresponding SDK version consist with OCP. The error of controller pod creation is
container create failed: time="2022-10-15T02:36:56Z" level=error
            msg="container_linux.go:367: starting container process caused:
            exec: \"--health-probe-bind-address=:6789\": executable file

[2022-10-15 08:02] stanislavulrych opened #6089 "Add possibility to choose podman instead of docker for building golang operator, bundle and catalog image"
## Feature Request

#### Description

Currently, the docker is used as a build tool for operator images. Other container tools could be used to build the images. Since podman cli has syntax compatible with docker, it could be easily used by just allowing a change of the tool.

- In order to change the container tool for image build, it has to be changed on mulltiple locations in the Makefile.
- Th

[2022-10-17 15:54] laxmikantbpandhare commented on #5937
All k8s 1.25 updates completed for this issue.

[2022-10-17 17:26] laxmikantbpandhare commented on #6078
Closing this as fix got merged.

[2022-10-17 17:27] #6078 closed

[2022-10-17 19:05] laxmikantbpandhare commented on #6031
Pointed to most latest now:

[code]

[2022-10-17 19:05] laxmikantbpandhare commented on #6031
1.25 SDK release will take care of this.

[2022-10-17 19:08] laxmikantbpandhare commented on #6031
PR for the same: https://github.com/operator-framework/operator-sdk/pull/6044

[2022-10-17 19:15] metacosm commented on #6031
Note that 4.0.3 is functionally equivalent to 4.0.2, this was just needed to publish more artifacts to better integrate with the Quarkus ecosystem.

[2022-10-17 22:25] laxmikantbpandhare commented on #6046
This is fixed as part of https://github.com/operator-framework/operator-sdk/pull/6047

[2022-10-17 22:26] #6046 closed

[2022-10-18 15:27] acornett21 opened #6094 "Numerous Ansible Operator Versions Causes Unexpected Reconcile of Daemonsets"
## Bug Report

#### What did you do?

We were upgrading an Ansible operator from operator-sdk version 1.14 to the latest version of operator-sdk and Ansible runtime, following the migration/upgrade documentation.

#### What did you expect to see?

I'd expect that following the migration documents that an operator that worked with version 1.14, would work with 1.24.

#### What did you see instead?

[2022-10-18 19:06] #6028 closed

[2022-10-19 00:03] imperialguy opened #6095 "unable to run bundle stored on private repository/registry"
## Type of question

General operator-related help

## Question
How can I run a bundle stored as a private repo on `quay.io` registry.

#### What did you do?

On Openshift (crc) cluster:
-  I created a project/namespace called "sample"
-  Created a secret called "quay" in the namespace "sample", and added my quay.io credentials to it
[code]
- Ran the following command on command line:

[code]

###

[2022-10-19 03:14] #6037 closed

[2022-10-19 03:14] #5937 closed

[2022-10-19 03:16] jmrodri commented on #6031
https://github.com/operator-framework/java-operator-plugins/blob/main/pkg/quarkus/v1alpha/scaffolds/internal/templates/pomxml.go#L54-L61

[2022-10-19 03:16] #6031 closed

[2022-10-19 03:16] jmrodri commented on #5239
This issue is NOT a release blocker since it is simply moving a repo over to the framework.

[2022-10-19 07:07] kavyamani596 opened #6096 "r.Client.List not working as expected"
## Type of question
 How to implement a specific feature

## Question

#### What did you do?

I tried to implement the r.Client.List feature as specified in the doc, but with user input values
in doc:
         `podList := &v1.PodList{}
	opts := []client.ListOption{
		client.InNamespace(request.NamespacedName.Namespace),
		client.MatchingLabels{"app": request.NamespacedName.Name},
		client.Matching

[2022-10-19 08:06] stiller-leser commented on #5246
Unfortunately, another issue arises, where during the start of the socket, this condition might occur: https://github.com/stiller-leser/cloud.common/blob/main/plugins/module_utils/turbo/common.py#L60 - We've tried to increase the sleep to reduce the chance of it occuring, but unfortunately had no luck.

Would there be a way of falling back to the standard way of calling the module in case the sock

[2022-10-19 15:28] AllexVeldman opened #6097 "Additional status condition on CR"
## Type of question

General operator-related help

## Question

#### What did you do?

With a recent release of Kiali, which uses the operator-sdk, I noticed an additional status condition reported in the CR:

[code]

Is this expected?

#### What did you expect to see?

[code]

#### What did you see instead? Under which circumstances?

[code]

#### Environment

**Operator type:**

/language ansib

[2022-10-19 16:55] everettraven commented on #6096
@kavyamani596 what section of the docs is the original code located?

[2022-10-19 18:32] everettraven commented on #6096
@kavyamani596 Would you mind sharing the results of a couple commands that would do the same thing list operations just using the `kubectl` command? This would help verify that there are pods on the cluster that meet all the criteria given in the list options.

1. `kubectl -n xyz get pods`

2. `kubectl -n xyz get pods -l app=some-name`

3. `kubectl -n xyz get pods -l app=some-name --field-selector

[2022-10-19 19:16] everettraven commented on #6097
@AllexVeldman @jmazzitelli So I took some time to investigate this. I'm not as well versed in the inner workings of the ansible operator but my understanding is that this condition is specifically to represent whether or not there were any failures reported by Ansible during the reconciliation process.

In the reconciliation process of the ansible operator it will eventually call this function:
ht

[2022-10-20 05:40] kavyamani596 commented on #6096
sure @everettraven

1.kubectl -n xyz get pods
Output:
NAME                               READY   STATUS    RESTARTS   AGE
acc-ss-64c6c86867-q4snw   1/1     Running   0          8d
agg-5788ffff44-fjdwl       1/1     Running   0          8d
api-66969dc58d-6gxcf               1/1     Running   0          8d
etcd-0                             1/1     Running   0          8d
eve-ddc85fd6-x49zx

[2022-10-20 06:59] AllexVeldman commented on #6097
@everettraven This clarifies what I was looking for, thank you!

[2022-10-20 06:59] #6097 closed

[2022-10-20 13:48] stanislavulrych opened #6100 "Generating permissions into permissions instead of clusterPermissions"
## Type of question

Open question

## Question

The permissions for the go based operator are generated from kubebuilder annotations in controllers code.  By default, the permissions are generated into `(csv).spec.install.spec.clusterPermissions`

#### What did you expect to see?

I would like to have the permissions listed in `(csv).spec.install.spec.permissions`

Is there a way how to modify th

[2022-10-20 16:35] everettraven commented on #6096
@kavyamani596 so it definitely looks like for some reason the list options aren't working appropriately since the `kubectl ...` commands all returned something and the pod has 0 restarts (I was wondering if maybe it had entered a bad state and was no longer "Running" - but that doesn't seem to be the case).

I'm glad that you were able to find a solution that worked for you! I'm not sure that this

[2022-10-20 18:32] davidlanouette commented on #6087
/assign

[2022-10-21 19:29] #6087 closed

[2022-10-22 00:00] #5170 closed

[2022-10-22 00:00] #5725 closed

[2022-10-22 00:00] #5758 closed

[2022-10-22 00:00] #5789 closed

[2022-10-22 02:16] lmbss opened #6106 "variables in uppercase"
## Bug Report

When a variable is reported in the CRD in uppercase it is transformed.
EX:

VARIABLE: valuetest

arrives at the playbook

_variable

#### What did you do?

Jinja2 Macro and debug taks

[code]

[code]

definition on CRD:

[code]

result

[code]

[code]

#### What did you expect to see?

            - name: TEST
              value: 'value'

#### Environment

**Operator type:**

/lang

[2022-10-22 02:53] lmbss commented on #6106
Sorry i catch the solution in OCP documentation, its important put this information on operator-sdk tips

![image](https://user-images.githubusercontent.com/6818101/197315986-1e81c254-976a-47b7-be7c-11f27f54514d.png)

[2022-10-22 02:54] #6106 closed

[2022-10-24 18:13] bcrochet commented on #6094
Assign me please.

[2022-10-24 18:21] OchiengEd commented on #6100
I can look into this

[2022-10-24 18:59] OchiengEd commented on #6100
hi @stanislavulrych You can achieve what you want by setting an arbitrary namespace in the kubebuilder rbac annotations. For example, if you want an operator to be able to create statefulsets and pods at the namespace level, it would look like shown below:

[code]

Notice I have namespace set to `namespace=placeholder`.

While doing this will allow the cluster roles to be made to be roles, they wo

[2022-10-24 21:12] piotrpersona opened #6111 "Using an operator to deploy a complex microservices system"
## Type of question

General operator-related help

## Question

I was going through some docs and Youtube videos about the purpose of k8s operators. Most of them says that perfect use case would be to deploy and operate a stateful application such as database or the monitoring system.
I wonder if the operator pattern can be applied to a complex web system which is composed of microservices, but I

[2022-10-26 06:59] efussi commented on #5723
With https://github.com/kubernetes-client/python/releases/tag/v25.3.0 released, the above [patch in the operator's Dockerfile](https://github.com/operator-framework/operator-sdk/issues/5723#issuecomment-1175975274) can be changed to:
[code]

[2022-10-26 07:11] venkataramanam commented on #5723
@efussi

Thank you. Did a quick test by installing `openshift==0.13.1` and it installed `kubernetes==25.3.0` as a dependency which has the fix you had committed.

[2022-10-26 08:47] stanislavulrych commented on #6100
Hi @OchiengEd, thank you for the answer.

I have tried that and it really generates `bundle/manifests/[operator-name]-manager-role.rbac.authorization.k8s.io_v1_role.yaml`.

I just do not understand, why these permissions are not added to `.spec.install.spec.permissions` in the Cluster Service Version. Is there any special reason for it not being added to it?

[2022-10-27 07:00] kkumarDMS commented on #5582
I am also got same error here

[2022-10-27 07:26] keskad commented on #2288
In my case a upgrade helped - `v0.20.2` -> `v0.25.3`

[2022-10-27 11:24] xrow opened #6115 "helm overrideValues will not work for booleans"
## Bug Report

#### What did you do?

When susing the helm operator sdk I have an issue with override vars not being strings.

My watches looks like this
[code]

#### What did you expect to see?

no issue when using my operator

#### What did you see instead? Under which circumstances?

From the pod log from the operator:

`{"level":"error","ts":1666869259.3604903,"logger":"helm.controller","msg":

[2022-10-27 11:33] xrow commented on #6115
https://github.com/operator-framework/operator-sdk/blob/f5e15be6c282d9df1662dd3febcfbd782c2b94f0/internal/helm/controller/reconcile.go#L54

A map of strings per default.

[2022-10-27 12:57] vkrizan opened #6116 "Tag operator images with major version tag"
## Feature Request

#### Describe the problem you need a feature to resolve.

The operator images are tagged with minor versions only. We have to track new minor versions and change our `FROM` base.

For example:
[code]

#### Describe the solution you'd like.

It would be great to have a major version tag as well. For example `v1` that would be the highest minor and patch version for that major ve

[2022-10-27 18:58] bcrochet commented on #6094
After some investigation, it seems that the role tasks in this particular operator were not idempotent. It seems that what was happening is that when a reconcile occurs, it is applying a yaml for the daemonset causing the daemonset to recreate the pods. When the daemonset is unchanged, and an apply is not even attempted, this behavior no longer occurs.

[2022-10-28 09:23] J0zi commented on #5773
@everettraven @rashmigottipati please reopen

I have tested it and cannot say if update issue was solved even because run bundle is now broken. So we cannot test operator upgrade and this remains a blocker.

[code]

To successfully fix all issues following should work https://github.com/operator-framework/operator-sdk/issues/5773#issuecomment-1243412368

[2022-10-28 13:20] everettraven commented on #5773
Reopening as per @J0zi

[2022-10-28 13:21] everettraven commented on #5773
@J0zi I will take another look at this and report back what I find

[2022-10-28 17:13] everettraven commented on #5773
@J0zi So I took a look at this and ran all the same commands you did and for the most part ran into the same errors. The only exception I found was that I was able to successfully install flux with `operator-sdk run bundle quay.io/community-operators-pipeline/flux:v0.25.2` with a fresh KinD cluster.

My suspicion as to why the subsequent `operator-sdk run bundle ...` commands are failing is due to

[2022-10-28 17:35] everettraven commented on #5773
@J0zi So doing another bit of investigation, it seems it is not possible to have multiple `OperatorGroups` in a single namespace or else *all* `ClusterServiceVersions` will enter a failed state as mentioned in the [OLM `OperatorGroup` Documentation](https://olm.operatorframework.io/docs/concepts/crds/operatorgroup/).

This makes me think that installing all of these particular operators in the sam

[2022-10-29 19:57] mhrivnak commented on #6089
+1. I've had success both doing a find/replace in the Makefile, and installing the `podman-docker` package in fedora, which just creates a shell alias. Either way, the workflows in the Makefile seem completely compatible.

[2022-10-30 22:19] speedfl opened #6117 "External resource management using operator"
## Type of question

Open question

## Question

#### What did you do?

Hello. This follows a discussion we had during the kubecon 2022 in Detroit with @asmacdo from RedHat.
More than an issue it is a *Philosophical* question about external resource management using an operator. It could be nice to have a consensus and recommendations in the documentation.

When using a standard operator it is pos

[2022-10-31 11:37] J0zi commented on #5773
@everettraven thank you very much for your investigation. I tested multiple operators and upgrade is working. So we can implement it to our pipelines :)
Thank you again, you can close the issue.

[2022-10-31 13:14] everettraven commented on #5773
Closing as per https://github.com/operator-framework/operator-sdk/issues/5773#issuecomment-1296962584

[2022-10-31 13:14] #5773 closed

[2022-10-31 15:08] skattoju opened #6118 "Update helm operator container image's latest tag"
## Bug Report

Helm operators built using [quay.io/operator-framework/helm-operator:latest](http://quay.io/operator-framework/helm-operator:latest) can no longer be published due to a vulnerability. The [vulnerability](https://access.redhat.com/errata/RHSA-2022:7089) being reported has already been fixed in ubi8/ubi-minimal

#### What did you do?

Built a helm operator and submitted for scanning.

[2022-10-31 16:18] nitishdsharma commented on #6118
operator-sdk version: "v1.18.1"
kubernetes version: "1.21"

[2022-10-31 17:50] varshaprasad96 commented on #6117
Hi @speedfl, thanks for bringing this up. This is an interesting topic - triggering reconcile from events which are external to the cluster. We had a discussion about this and Michael Hrivnak (@mhrivnak) suggested a solution of using controller-runtime's `source.Channel` (https://pkg.go.dev/sigs.k8s.io/controller-runtime/pkg/source#Channel). The idea is use the Channel source and push `GenericEven

[2022-10-31 17:58] mhrivnak commented on #6117
Thanks Varsha for relaying that.

A channel source is indeed a good tool for this circumstance. You can either listen for some inbound notification, such as listening on an http endpoint or an external message bus, or you can use a goroutine to poll the state of an external resource. The choice will depend on the capabilities and nature of the external entity you want to watch. Either way, this ca

[2022-10-31 17:58] varshaprasad96 commented on #6115
@xrow As you have pointed out correctly, this is because the `overrideValues` option takes in a map of strings as key/value type (https://github.com/operator-framework/operator-sdk/blob/v1.25.0/internal/helm/controller/reconcile.go#L54). This seems a reasonable feature, we may have to look into the implementation details as the override values can also be environment variables.

/kind feature

[2022-10-31 18:19] varshaprasad96 commented on #6111
@piotrpersona Thanks for bringing up this issue. Answering the questions inline:
As you mentioned the idea of operators is to automate stateful application or even a bunch of such applications co-existing in an ecosystem. To summarize your need, I can image your ecosystem to be a bunch of independent stateless applications which are dependent on each other. Fortunately, operator framework does hav

[2022-10-31 18:35] jmrodri commented on #6118
* verify that fresh image task is running
* verify latest branch points to latest release

[2022-10-31 19:09] asmacdo opened #6122 "Simplify pattern of reconcililing based on a non-standard event"
As an Operator author, I want my operator to start reconciliation based on a custom event source.

Typically, operators begin a reconciliation when either the Primary or the Secondary resources change (and create an event). This story covers less common cases:
 - Reconcile if resources outside of the cluster are misbehaving
 - Running reconciliation based on metrics

If I understand correctly, thi

[2022-10-31 19:12] asmacdo commented on #5382
This slide from Kubecon may be helpful

![image](https://user-images.githubusercontent.com/1028657/199090623-a9ee400e-9d60-4434-be80-199e44b53263.png)

[2022-10-31 19:16] asmacdo commented on #6117
As it happens I --just-- write up another issue about this.

https://github.com/operator-framework/operator-sdk/issues/6122

Thanks for starting the conversation, folks can feel free to close my issue.

[2022-10-31 19:24] asmacdo commented on #6122
This belongs in best-practices doc IMO

[2022-10-31 19:40] asmacdo commented on #6111
I've heard of very complex applications that use "top level" operator that uses APIs provided by other operators.

This makes sense and (IMO) fits with Kubernetes design principles. For instance, you might create a Deployment, and the deployment controller will create replica sets, which are then managed by the ReplicaSets controller. Operators offer a nice way of abstracting out the complexity of

[2022-11-01 01:22] OchiengEd commented on #6100
@stanislavulrych  Not sure of the reason for this bwhavior. At this time, the issue has been marked as a bug and I believe Jesus will be looking into why the decision was made to have it as a separate file before any action can be taken.

[2022-11-01 17:23] jmrodri opened #6128 "Meta Issue for K8S 1.26"
## Meta Issue for k8s 1.26 bump
In order to bump Operator SDK to support Kubernetes 1.25 there are a few dependencies we rely on making the bump first.

This issue is meant to help track all dependencies and the status of their bumps.

### Order of dependency bumps
**Step 1: upgrade controller-runtime, controller-tools, helm, and operator-framework/operator-manifest-tools(can be done in parallel)*

[2022-11-01 17:48] piotrpersona commented on #6111
@varshaprasad96 @asmacdo Thank you for response.
I think it's clear that operator framework with OLM would fit into my system's design.

[2022-11-01 17:48] #6111 closed

[2022-11-02 14:04] asmacdo commented on #5382
I've taken this as assigned on behalf of @rocrisp who's not yet a member of the org.

[2022-11-02 14:22] jmrodri opened #6130 "CI: fix deprecated set-output and save-state in Github Actions"
## Bug Report

#### What did you do?
Ran GH Action. Github as deprecated the `set-output` and `save-state`. https://github.blog/changelog/2022-10-11-github-actions-deprecating-save-state-and-set-output-commands/

#### What did you expect to see?
Expected it to run without any warnings

#### What did you see instead? Under which circumstances?

Deprecation errors
* freshen-images errors: https://gi

[2022-11-02 18:09] jmrodri commented on #6052
@Rahilsiddique any movement on this issue?

[2022-11-02 18:11] jmrodri commented on #5239
What's left is to find out which repos need to be changed over to point at the new repo

[2022-11-02 19:30] jmrodri opened #6131 "Query Memory usage by operator SDK"
Kiali-operator uses operator sdk and looks like operator sdk generate logs in runner volume which is EmptyDir which uses host resource.

Any idea how much size it can consume on node, any thoughts on memory usage of this folder would be great?

https://github.com/kiali/kiali/discussions/4374

[2022-11-03 05:54] Rahilsiddique commented on #6052
apologies for messing up the last pr, can i create a new pr for this issue ?

[2022-11-03 07:09] ASinha24 commented on #5994
Hey, I see this issue is in backlog, and not yet fixed. do we have any workaround for this.

[2022-11-03 07:26] tkrishtop commented on #6118
Hi @everettraven @jmrodri our Telco partner reported a similar issue. They used the latest version of operator-sdk 1.25.0 to build a helm operator, and that produced an operator that did not pass oscap-podman vulnerability check required for the RH certification.

I checked today and discovered that quay.io/operator-framework/helm-operator:v1.25.0 was rebuilt 20h ago. It is now passing oscap-podma

[2022-11-03 12:59] everettraven commented on #6052
Hi @Rahilsiddique sure thing, feel free to close the old PR and open a new one

[2022-11-03 13:05] everettraven commented on #6118
Hi @tkrishtop, I believe @jmrodri has been running some of our GitHub actions to update these images and is planning on making some updates to the actions to prevent these images from becoming out of date again.

From offline conversations we have had it isn't as easy - with how our existing actions are setup - to automatically update the latest tag of the images. This is something we have been di

[2022-11-03 16:33] acornett21 commented on #6118
@tkrishtop Thanks for clarifying, that's good info to have! Much appreciated!

[2022-11-03 17:38] everettraven commented on #6118
@acornett21 all the images for operator-sdk that are on quay are built and pushed as part of our GitHub Actions. We have an action that will run nightly to update the images for our latest 2 release tags but it was omitted in that action to also update the images for our latest tag. There is also some funky time based logic that was preventing some of our latest 2 release tags to have their images

[2022-11-04 07:35] asmacdo opened #6138 "compile from source says golang 1.18"
### What is the URL of the document?

https://sdk.operatorframework.io/docs/installation/#compile-and-install-from-master

should be 1.19 I think

### Which section(s) is the issue in?

### What needs fixing?

#### Additional context

[2022-11-04 08:36] kkumarDMS commented on #5466
Hi,
I am facing the same issue on ubuntu.

controller
Writing kustomize manifests for you to edit...
Writing scaffold for you to edit...
api/v1alpha1/memcached_types.go
controllers/memcached_controller.go
Update dependencies:
$ go mod tidy
Running make:
$ make generate
Makefile:170: warning: overriding recipe for target '/mnt/e/Go'
Makefile:155: warning: ignoring old recipe for target '/mnt/e/Go'

[2022-11-04 11:19] J0zi commented on #5773
@everettraven we encountered following issue with upgrade:
[code]

[2022-11-04 16:20] everettraven commented on #5773
@J0zi This issue specifically seems to be related to the bundle being to large to fit into a `ConfigMap` and with the new FBC format we have made some changes to `operator-sdk run bundle-upgrade` that attempts to mount the FBC for the upgrade as a `ConfigMap`.

This is something that we have seen before. IIRC we did implement a change that helps alleviate this slightly but it isn't perfect and is

[2022-11-04 19:09] everettraven opened #6140 "`memcached-sample` GitHub Action e2e test is flaky"
## CI Bug Report
The [memcached-sample/e2e](https://github.com/operator-framework/operator-sdk/actions/workflows/test-sample-go.yml) GitHub Action is flaky due to a [metrics counter assertion check that fails](https://github.com/operator-framework/operator-sdk/blob/dc8c40b72ff93135e32f02614c601365e46dca0d/testdata/go/v3/memcached-operator/test/e2e/e2e_test.go#L257). The expectation seems to consis

[2022-11-05 00:00] #5724 closed

[2022-11-05 00:01] #5759 closed

[2022-11-06 09:00] #5812 closed

[2022-11-06 11:46] sradco opened #6142 "Add monitoring to the testdata operator"
## Feature Request
Add a separate monitoring project to the testdata operator, where developers can see what is deployed when adding monitoring to the operator and having a Memcached example with monitoring.

#### Describe the problem you need a feature to resolve.

Currently the testdata operator is missing scaffolding metrics, alerts, runbooks and other things related to monitoring.
When new ope

[2022-11-06 11:59] sradco commented on #6142
/assign @varshaprasad96 Hi, I created this issue. Please review.

[2022-11-07 00:00] #5654 closed

[2022-11-07 08:09] FedericoYST opened #6143 "CVE-2022-23648 CVE-2022-31030 github.com/containerd/containerd package"
## Bug Report

#### What did you do?
I have executed a vulnerability scan on the latest available image:

- quay.io/operator-framework/helm-operator:latest

#### What did you expect to see?
A vulnerability free image

#### What did you see instead? Under which circumstances?
Two vulnerabilities on the github.com/containerd/containerd package:

1. CVE-2022-23648
2. CVE-2022-31030

#### Environment

[2022-11-07 09:53] J0zi opened #6144 "Run bundle-upgrade is failing because is unable to fit into a ConfigMap, too large"
## Bug Report

#### What did you do?

[code]

#### What did you expect to see?

Bundle upgraded

#### What did you see instead? Under which circumstances?

ConfigMap "operator-sdk-run-bundle-config" is invalid: []: Too long: must have at most 1048576 bytes

#### Environment

`$ operator-sdk version`

[code]

`$ go version` (if language is Go)

`$ kubectl version`

#### Possible Solution

#### Addi

[2022-11-07 09:54] J0zi commented on #5773
@everettraven we will continue here https://github.com/operator-framework/operator-sdk/issues/6144

[2022-11-07 16:31] varshaprasad96 commented on #6142
Adding documentation and scaffolding around best practices will be a great addition to operator authors who would like to include monitoring stack. Since this is an optional feature (though a suggested best practice to get metrics out of reconciler), adding a separate sample project as KB does (https://github.com/kubernetes-sigs/kubebuilder/tree/master/testdata) makes it easier for users to know t

[2022-11-07 16:39] varshaprasad96 commented on #6131
We would need to run a profiler to check the memory consumption. If this is a go based operator we could use the go’s pprof library, however, if its ansible we already have a community project to help us to do so: [ansible-community/operator-sdk-performace-testing](https://github.com/ansible-community/operator-sdk-performance-testing). We initially thought of having an endpoint exposed to make pro

[2022-11-07 17:41] varshaprasad96 commented on #6128
(not related just side note) If there aren't any breaking changes from one k8s version to another, I wish we could automate this process :/

[2022-11-07 18:34] varshaprasad96 commented on #6122
Closing this issue in favor of https://github.com/operator-framework/operator-sdk/issues/6117

[2022-11-07 18:34] #6122 closed

[2022-11-07 18:37] varshaprasad96 commented on #6138
Let's have an env variable that takes the value from the go version check and accordingly modifies this doc. That way we need not worry about our documentation getting out of sync.

[2022-11-07 18:42] varshaprasad96 commented on #6144
This issue seems to be similar to: https://github.com/operator-framework/operator-sdk/issues/5880

[2022-11-07 19:29] #6131 closed

[2022-11-07 19:32] varshaprasad96 commented on #6138
Alternative is to have a script that pulls the version from go.mod and update docs.

[2022-11-07 19:33] varshaprasad96 commented on #6140
This would be a part of #6142

[2022-11-07 19:55] varshaprasad96 commented on #6142
/assign @machadovilaca

[2022-11-07 20:34] varshaprasad96 commented on #6142
Listing the sub tasks as discussed in the community meeting:
- Adding a separate folder that scaffolds a sample go memcached project with the best practices for collecting metrics.
- Including the scaffolded project in Makefile, so as to test the scaffolding : https://github.com/operator-framework/operator-sdk/blob/498e0c407a2096af3cfac421eca726e55e8f00d1/Makefile#L162
- Fixing the test flakes in

[2022-11-08 05:50] kavyamani596 opened #6148 "Operator Pod crashing due to 'port already in use'"
## Type of question

General operator-related help

## Question

#### What did you do?

I've implemented 2 operators in the same repo.
In their main.go file I've used different ports
Say for operator A , I've used 8080,8081
Operator B, I've used used 8085,8086

#### What did you expect to see?

Both operators Running when  I deploy them

#### What did you see instead? Under which circumstances?

O

[2022-11-08 12:13] simararneja opened #6149 "Why does ansible-operator image contain files from python3.6 and python3.8 ?"
Looking at the dive report for the quay.io/operator-framework/ansible-operator:v1.25.0 image I noticed there are duplicate files being baked into the docker image. The two directories in question are `/usr/lib64/python3.6` and `/usr/lib64/python3.8`.

It appears the two folders are also baked inside https://github.com/operator-framework/operator-sdk/blob/master/images/ansible-operator/Dockerfile#L

[2022-11-10 11:52] nunojca opened #6166 "Go Operator Tutorial"
This doesn't seem to be correct and coherent with the code snippet:

[2022-11-10 13:48] whitfiea opened #6167 "Updating of ansible-runner to 2.1.x"
The current ansible-runner used in the operator image is [2.0.2](https://github.com/operator-framework/operator-sdk/blob/4181435b97008d70648e7fdeaa0757d3542034e7/images/ansible-operator/Pipfile#L7) which has a known vulnerbility CVE-2021-4041 which is fixed in version 2.1.0 onwards. I can see the dependabot created this PR sometime ago to raise the version to 2.1.1: https://github.com/operator-fra

[2022-11-10 14:31] #5239 closed

[2022-11-10 20:33] arewm opened #6168 "`operator-sdk bundle validate` doesn't check type correctness of all values"
## Bug Report

Bundle validation passes when values within the CSV do not have appropriate types.

This has been encountered multiple times. We traced down the suspected offending lines to when the `spec.version` was a string as well as when `metadata.annotations.*` were not strings, for example,

[code]

#### What did you do?

Ran `opm render` and `opm bundle add ` resulting in an error message

[2022-11-10 20:43] daezaa opened #6169 "Upgrade Request for a dependency - kubernetes"
## Feature Request

#### Describe the problem you need a feature to resolve.
There is a known issue which [kubernetes client](https://github.com/kubernetes-client/python/) fails in FIPS enabled clusters (https://github.com/operator-framework/operator-sdk/issues/5723) and it has been resolved in `25.3.0` version.
However ansible-operator is not picking up the version which the issue is addressed. -

[2022-11-12 00:00] #5798 closed

[2022-11-12 00:00] #5838 closed

[2022-11-12 00:00] #5855 closed

[2022-11-12 00:00] #5859 closed

[2022-11-12 20:16] Starefossen commented on #5810
If anyone else is stuck on this here is how I solved it to get `make deploy` working without having to modify the makefile:

[code]

[2022-11-13 13:18] bishal7679 opened #6170 "`&` is overlapped in package & Deploy section"
## Bug Report

![Screenshot (1529)](https://user-images.githubusercontent.com/70086051/201523605-57a6dccc-de69-4e38-865b-d27076da939e.png)

[2022-11-14 14:40] everettraven commented on #6118
As an update, the latest tag should have been updated as of 11/09/2022 since we released a patch release (`v1.25.1`) of Operator SDK. For the long term, I believe @jmrodri is still working on fixing our automated refresh GitHub Action

[2022-11-14 14:46] acornett21 commented on #6118
@everettraven Thanks for the update!

[2022-11-14 14:49] everettraven commented on #6170
So I took a quick look into this because I suspected that this is an issue related to how the docs site handles different screen widths. From what I could quickly gather via the Firefox Inspector this seems to be a problem with scaling between a width of 992px and 1347px. We use a tool called Hugo for generating our docs site and I'm not entirely sure what is done behind the scenes for handling sc

[2022-11-14 15:15] everettraven commented on #6148
@kavyamani596 Thanks for raising this issue!

This log message here is stating that the Operator B metrics server is starting on port 8085.

This error is likely occurring because the manager is attempting to use port 8085 but that port is already taken by the metrics server. I believe changing either the metrics server or the controller manager to use a different port from each other would resolv

[2022-11-14 16:12] rccrdpccl opened #6171 "operator-sdk throws error when running through official docker image"
## Bug Report

When using operator-sdk through docker (i.e. `docker run -v $(pwd):/app -w /app -it quay.io/operator-framework/operator-sdk:v1.25 init --domain quay.io --repo github.com/myoperator/myoperator`)

#### What did you do?

I have followed the "Getting started" docs to initialize repo, but it failed when creating resources:

[code]
(output redacted for visibility)

#### What did you expec

[2022-11-14 16:24] coriaedu opened #6173 "check for tool version in makefile and not just its existence"
## Feature Request

#### Describe the problem you need a feature to resolve.

I have an issue after upgrading OSDK version for my operator.

The **Makefile** has two targets that will download [`controller-gen`](https://github.com/operator-framework/operator-sdk/blob/24c8b61b7ce9f0aedbfc0659c8e60fc8b249018f/testdata/go/v3/memcached-operator/Makefile#L195) and [`kustomize`](https://github.com/opera

[2022-11-14 16:43] tkrishtop commented on #6118
Hello @everettraven it seems like 1.25.1 takes ubi8.6 while the latest now is ubi8.7, [it was released 6 days ago](https://catalog.redhat.com/software/containers/ubi8/5c647760bed8bd28d0e38f9f).

Could you please issue one more patch release please?

[code]

[2022-11-14 17:19] everettraven commented on #6118
@tkrishtop Thanks for pointing that out! I will take a look!

[2022-11-14 17:25] everettraven commented on #6173
@coriaedu Thanks for raising this issue! I think that this would be great functionality to add.

Since this is related to Go operators, I would recommend also [opening an issue in Kubebuilder](https://github.com/kubernetes-sigs/kubebuilder/issues/new/choose) that references this issue. Operator-SDK uses the Go plugin from Kubebuilder for scaffolding Go operator projects so the change would need  t

[2022-11-14 19:05] theishshah commented on #6148
Closing for now, if the above doesn't solve the issue feel free to re-open. Thanks

[2022-11-14 19:05] #6148 closed

[2022-11-14 21:44] asmacdo commented on #6170
Idk, but I imagine this could be Hugo, the Docsy theme, or our hacks on top of our Docsy fork.

We should be able to bump the Hugo version relatively easily, and it's worth doing even if it doesn't fix this issue.

To bump Docsy would require us to integrate with Docsy properly, rather than the patch we use in our fork.

[2022-11-15 06:29] abdennour commented on #6144
may because you have icon with big size. i mean `csv.spec.icon[*].base64data`

[2022-11-15 15:25] coriaedu commented on #6173
Thank you @everettraven , I opened https://github.com/kubernetes-sigs/kubebuilder/issues/3068 and am going through the step to become a collaborator for that repo so I can hopefully provide the fix along with the issue :)

Should we close this?

[2022-11-15 15:32] everettraven commented on #6173
@coriaedu If you would like we can close this issue. During our community meeting yesterday I advocated for keeping it open because I feel like this would be a nice addition. Keeping it open would help sdk maintainers with tracking this (many of the operator-sdk maintainers are also contributors to Kubebuilder but may not actively pay attention to those issues).

[2022-11-15 15:41] coriaedu commented on #6173
Ok, I'd say we leave it open until the https://github.com/kubernetes-sigs/kubebuilder/issues/3068 is addressed  :crossed_fingers:

Thanks!

[2022-11-15 16:31] bcrochet commented on #5939
I have a solution for this, and will post it shortly. If you'd like to assign this to me, that'd be fine.

[2022-11-16 09:38] buffalo1024 commented on #560
Met this problem too.

[2022-11-16 12:45] J0zi commented on #6144
@everettraven any update?
@abdennour this is not my operator :) `v0.31.1` has also big icon and was able to be installed. Upgrade should not fail on the same or similar size icon.

[2022-11-16 14:37] everettraven commented on #6144
@J0zi This was on my radar to take a dive into but I got distracted and totally forgot to take a look. Thanks for the ping, I will make sure I take a look today!

[2022-11-16 21:26] coriaedu commented on #6173
closed https://github.com/kubernetes-sigs/kubebuilder/issues/3068

[2022-11-16 21:26] #6173 closed

[2022-11-16 23:09] daezaa opened #6183 "1.25.2 ansible-operator is not picking up 8.7 ubi."
## Bug Report

#### What did you do?
[code]

#### What did you expect to see?
As stated on the [1.25.2 release note](https://github.com/operator-framework/operator-sdk/releases/tag/v1.25.2), the base image should have been picking up v8.7 UBI.

#### What did you see instead? Under which circumstances?
Latest commit to the Dockerfile of ansible-operator is https://github.com/operator-framework/oper

[2022-11-17 20:03] everettraven commented on #6183
Both #6179 and #6180 have been merged and if my understanding is correct the image should be updated automatically within the next day or so. I'll check back on Monday next week and verify whether or not the update has gone through.

[2022-11-17 23:50] sukhil-suresh opened #6184 "The operartor-sdk init command fails for helm chart with bundled dependencies listed in the Chart.yaml file"
## Bug Report

#### What did you do?

Ran the`operator-sdk` init command against a helm chart which has bundled sub-charts and the main `Chart.yaml` file has the `dependencies` entry specified with the `file://` address resolver.

Command
[code]

The `/repo/helm/k10/Chart.yaml` file
[code]

#### What did you expect to see?

Expected the `operator-sdk init` command to work successfully.

#### What

[2022-11-18 08:00] #5792 closed

[2022-11-18 15:54] kriswuollett opened #6185 "gpg key used to verify release expired on 2022-10-31"
Followed directions at https://sdk.operatorframework.io/docs/installation/#2-verify-the-downloaded-binary to install. Signature and checksums match, but signature key has expired on 2022-10-31.

[code]

[2022-11-18 15:55] VannTen opened #6186 "Standard way to add manifests used for implementing the operator (ex: Tekton Pipeline)"
### What is the URL of the document?

https://sdk.operatorframework.io/docs/overview/project-layout/

### Which section(s) is the issue in?

Common Base, I guess.
### What needs fixing?

Precise how to ship resources which are part of the operator implementation.

#### Additional context

For some context, we're currently working on a operator which use Pipeline (CR provied by Tekton) to implement

[2022-11-18 16:13] kriswuollett commented on #5981
/remove-lifecycle stale

[2022-11-19 03:20] #6171 closed

[2022-11-19 03:52] jmrodri commented on #6185
@kriswuollett can you try again? We recently updated the expiration of the key. I pushed it up to the keyserver tonight. See if that helps.

[2022-11-19 04:12] #6130 closed

[2022-11-19 22:23] balpert89 opened #6188 "Error log message contains name of another controller"
## Bug Report

#### What did you do?

I have two controllers in my operator:
1. `ClusterHealth`
2. `MachineHealth`

Both do separate kinds of work, its not important for this issue. The behavior I have observed is when an error in controller `ClusterHealth` happens, the log message shows that the controller and controller kind are of controller `MachineHealth`.

I have observed this in a log outpu

[2022-11-20 17:01] balpert89 commented on #6188
Okay so I did some digging by adding two other controllers into the mix  - the controller which is last registered in the manager "wins": We setup our controllers in the operator by using
[code]

`Complete` calls `Build` in `sigs.k8s.io/controller-runtime/pkg/builder/controller.go`, which calls `doController` which is finally responsible to setup the logger:
[code]
It always uses the manager objec

[2022-11-21 15:25] everettraven commented on #6188
Taking a look at our sample Go operator under `testdata/go/v3/memcached-operator/`, in the controller we set up a new logger from the current context every time we reconcile:
https://github.com/operator-framework/operator-sdk/blob/5e5333e7d0d6f448adf2ee740e94358c9aa662a4/testdata/go/v3/memcached-operator/controllers/memcached_controller.go#L83

I'm not entirely sure how controller-runtime handles

[2022-11-21 15:43] everettraven commented on #6186
@VannTen does your operator depend on Tekton being installed on the cluster? If so, then you shouldn't have to install the CRD as part of your operator installation.

If you are just using the CRD for something custom and it doesn't depend on Tekton being installed on the cluster, then I believe the best place for it would be to add it under the `config/crd/` directory in the project.

Under the C

[2022-11-21 16:01] VannTen commented on #6186
On Mon, Nov 21, 2022 at 07:44:06AM -0800, Bryce Palmer wrote:

Yes, it does. But I don't want to install the CRD, I want to install the CR (aka, `Pipeline`).

To schematise, my operator reconcile loop does something like this:
[code]

So I want to ship one Pipeline object per type (but the problem is the same using only one) ; those implements part of our operator logic.
The operator code itself o

[2022-11-21 16:05] everettraven commented on #6186
Ah okay, I think I understand now. Just to check my understanding, you are wanting to create a `Pipeline` CR as part of your reconciliation loop?

Also a follow up question, what kind of operator is this (Go, Ansible, Helm)?

[2022-11-21 16:09] everettraven commented on #6183
Just to follow up, I took a look to see if it has been updated but our automated image refresh job failed this morning. I kicked it off again to see if it was just a flake, but if not I will try to investigate why it is failing so we can get this image rebuilt ASAP

[2022-11-21 16:12] VannTen commented on #6186
On Mon, Nov 21, 2022 at 08:05:51AM -0800, Bryce Palmer wrote:

(a PipelineRun is the instantiation of a Pipeline)

Almost. I create a PipelineRun as part of the reconcile loop. That part
is done. But to create a PipelineRun, I need it's "blueprint" which is the
Pipeline.

[2022-11-21 16:21] varshaprasad96 commented on #6186
@VannTen If I understand right, the goal is to include an external CR manifest in the operator project and not the definition for the name. `manifests` target uses KB markers and generates a bunch of manifests with the help of controller-tools. Additionally, when the `make build` target is called, the yaml files under config/manifests are used by kustomize to build the required files. If you are l

[2022-11-21 17:15] balpert89 commented on #6188
Thank you :-)

Indeed I have observed this when using `logf.FromContext`, then you will see this happening on every log message related to that controller.

My approach is to implement my own Log Constructor, as controller-runtime does not export any func to use the default object and change it. This is on a per-controller basis so each controller maintains its own log instance now.

For reference

[2022-11-21 19:03] varshaprasad96 commented on #6184
Operator-sdk internally uses helm's helpers to load the chart directory with the dependent sub charts (https://github.com/operator-framework/operator-sdk/blob/b158b7e5a6625370a7e8dfe13fd27fdce53e0680/pkg/helm/release/manager_factory.go#L75-L78). Since the error says `failed to fetch chart dependencies: directory /repo/helm-charts/k10/charts/grafana not found` I'm not sure if this is an issue with

[2022-11-21 19:11] jberkhahn commented on #6184
The most common reason this happens is you need to have all the dependencies downloaded locally on disk. That might fix your problem, if it doesn't please let us know.

[2022-11-21 19:32] jberkhahn commented on #6188
So it looks like this is resolved? Closing this issue, please feel free to reopen if you have any further questions. Also, maybe open an issue in controller-runtime like everettraven said.

[2022-11-21 19:32] #6188 closed

[2022-11-21 19:38] jberkhahn commented on #6128
see #5937

[2022-11-21 19:51] jberkhahn commented on #6186
So, it looks like you're trying to create a single Pipeline object when your operator is installed, and then run stuff against it when an instance of your operator is created?

There (currently) isn't really a good way to include instances of a CR in your operator's bundle via OLM. This is a known issue, and is an feature explicitly being added in [Rukpak](https://github.com/operator-framework/ruk

[2022-11-21 21:41] jberkhahn commented on #6185
i can confirm the new key works

[2022-11-21 21:45] everettraven commented on #6166
Hi @chiukapoor, thanks for picking up this issue!

I will go ahead and assign you. Let me know if you have any questions!

/assign @chiukapoor

[2022-11-21 21:52] sukhil-suresh commented on #6184
The problem is that the `operator-sdk init` command starts by copying the bundled sub-charts as `.tgz` files under the generated `helm-charts` folder and the subsequent `operator-sdk create api` command (invoked by the operator-sdk init command) fails to pick up the sub-charts since the dependencies repository locations in the Chart.yaml file are no longer resolvable.

The helm chart I am using ha

[2022-11-22 05:17] #6185 closed

[2022-11-22 05:18] jmrodri commented on #4421
There are no plans to do this.

[2022-11-22 05:18] #4421 closed

[2022-11-22 05:19] jmrodri commented on #4671
No plans to do this.

[2022-11-22 05:19] #4671 closed

[2022-11-22 05:22] jmrodri commented on #5491
There are no plans to support new types in the current registry+v1 format. There is a new project [rukpak](https://github.com/operator-framework/rukpak#readme) which supports a new [plain+v0](https://github.com/operator-framework/rukpak/blob/main/docs/bundles/plain.md) bundle format that allows for arbitrary objects to be provisioned.

[2022-11-22 05:22] #5491 closed

[2022-11-22 05:34] jmrodri commented on #6149
`/usr/lib64/python3.8` is provided by `python38-libs-3.8.13-1.module+el8.7.0+15641+2ece4388.x86_64`.

If I try to remove `python38-libs`, that shows that it tries to remove `python38-pip`, which is a package we need to support `pip` calls.

[code]

Meanwhile, `/usr/lib64/python3.6` is provided by `python3-libs-3.6.8-48.el8_7.x86_64`. If we try to remove that package, we end up trying to remove `dn

[2022-11-22 05:34] #6149 closed

[2022-11-22 05:36] jmrodri commented on #5945
Fixed by https://github.com/operator-framework/operator-lifecycle-manager/pull/2791

[2022-11-22 05:36] #5945 closed

[2022-11-22 07:21] KailashPatilKP opened #6189 "Unable to execute make install command for v.0.19.0 (older version required due to dependency)"
I'm trying to install operator-sdk from v.0.19.0 tag but it's failing with below error. Tried to exclude the dependencies but it didn't work. I need this version to build a golang operator and fix some vulnerabilities. Therefore, need to install this version of operator-sdk to run the operator with build option.

# golang.org/x/sys/unix
../../../go/pkg/mod/pkg/mod/golang.org/x/sys@v0.0.0-202002021

[2022-11-22 08:44] VannTen commented on #6186
Exactly.

Thanks for the link, I'll take a look.

So basically, embed the definition of the Pipeline into the operator code, right ? That's an idea, but it makes the Pipelines a bit harder to test.
What reasons make static Pipelines a bad idea ?

(Thanks for the discussion in any case :) )

[2022-11-22 10:44] tkrishtop commented on #5452
Upd. In half of such situations, the scorecard-test pod is stuck in the namespace, failing to terminate. This last bad thing should be easy to fix, whatever the reason for the initial issue.

[code]

[2022-11-22 15:15] everettraven commented on #6186
@VannTen,

Yep that is the suggestion @jberkhahn is making. The logic for your reconciliation loop would essentially be updated to have the first step be:
- Create the `Pipeline` CR if it does not already exist

I think the problem here with making the `Pipeline` a static resource that is only applied as part of the installation of the operator is that your operator depends on the existence of tha

[2022-11-22 16:25] chiukapoor opened #6190 "Broken external link"
## Bug Report

#### What did you do?

External link `https://master.book.kubebuilder.io/migration/v2vsv3.html` in `/target/docs/upgrading-sdk-version/v1.3.0/index.html` is moved and gives a 404 error.

#### What did you expect to see?

We need to change the link to the new location `https://master.book.kubebuilder.io/migration/legacy/v2vsv3.html`

#### What did you see instead? Under which circums

[2022-11-22 16:44] chiukapoor commented on #6166
The `make test-sanity` is failing due to #6191 #6190, waiting for the fix to get merged before creating a PR for this issue.

[2022-11-22 20:40] everettraven commented on #6183
Update: It seems like we would need to go through the process of another patch release to get this taken care of. I have this on my todo list but after some discussion offline with other maintainers we aren't marking this as something that is urgent and rather something that I will get around to when I have some extra time.

[2022-11-22 20:49] #6190 closed

[2022-11-22 20:50] #6169 closed

[2022-11-22 20:52] daezaa commented on #6183
@everettraven Thanks for the update, do you have the ETA for next patch release?

[2022-11-22 20:55] everettraven commented on #6183
@daezaa Due to this week being the week of Thanksgiving in the United States I would give a rough estimate of mid-late next week

[2022-11-22 21:01] #6072 closed

[2022-11-23 04:36] #6189 closed

[2022-11-23 05:23] KailashPatilKP opened #6198 "FATA[0000] Failed to build operator binary: failed to exec []string"
## Bug Report

#### What did you do?

I'm trying to execute the command (docker push <DOCKER_REGISTRY_URL>/<USER_NAME>/siddhi-operator:<TAG>) but it's failing with below error.

`panic: modindex.GetPackage called with empty modroot

goroutine 19 [running]:
cmd/go/internal/modindex.GetModule({0x0, 0x0})
	/usr/local/Cellar/go/1.19.3/libexec/src/cmd/go/internal/modindex/read.go:157 +0x125
cmd/go/inte

[2022-11-23 05:50] #6144 closed

[2022-11-23 14:12] #6049 closed

[2022-11-23 14:46] #6166 closed

[2022-11-23 19:29] tlwu2013 commented on #6100
hey @stanislavulrych, are you completely blocked by this issue?  If so, will it be possible for you to manually edit the `.spec.install.spec.permissions` in ClusterServiceVersion as a workaround for unblocking?

[2022-11-23 19:38] everettraven commented on #6143
This should be resolved now as newer releases have been created that have updated the `latest` tag for the `helm-operator` image.

We can see a clean vulnerability scan on quay for one of the manifests for this image here: https://quay.io/repository/operator-framework/helm-operator/manifest/sha256:7d6d774e88c3fb220e4c97e415b2461e108ccc491f1016e225cbf96bbdc0823c?tab=vulnerabilities

Due to this I w

[2022-11-23 19:46] everettraven opened #6200 "`freshen-images` doesn't rebuild images for the `latest` tag"
## CI Bug Report

#### What did you do?

Ran the `freshen-images` GitHub Action

#### What did you expect to see?

The `latest` tag for all rebuilt images is also rebuilt and pushed

#### What did you see instead? Under which circumstances?

The n-1 version tags `v*` are rebuilt and pushed but not the `latest` tag

#### Possible Solution

Update the `freshen-images` GitHub Action to also update th

[2022-11-23 19:50] everettraven commented on #6118
This image should now be updated as of the `v1.25.2` patch release.

To track updating the `freshen-images` GitHub Action fix I created: https://github.com/operator-framework/operator-sdk/issues/6200

Closing this issue, but please feel free to reopen if there is still an issue with this image.

[2022-11-23 19:50] #6118 closed

[2022-11-23 19:58] everettraven commented on #6089
#6090 was created to address this. In the process of creating the PR it was determined that changes upstream in Kubebuilder would need to be made to add conditional logic to run a different set of commands for building multi-arch images when using `podman` instead of `docker`.

@stanislavulrych mentioned trying to take this on in a comment on the PR: https://github.com/operator-framework/operator-

[2022-11-24 02:52] jmrodri commented on #6200
@everettraven `latest` isn't a tag. I first thought oh I can hardcode `latest` in the list. So the logic is more complicated, it will need to know how to change into the `latest` branch.

OR

if there is a way for it to know which is the most recent github tag, then push that to `latest` as well. For example, once it determines that the 2 tags to rebuild are `v1.25.2` and `v1.24.1` then it knows t

[2022-11-24 08:29] FedericoYST commented on #6143
Hi @everettraven,
First of all, thank you for your response!
As you can see, trivy scan found the following CVE:
![image](https://user-images.githubusercontent.com/68863319/203730309-8afe5ef0-17cb-418f-ad3c-bfeb4a63dc1d.png)
I think Quay.io scan found only OS vulnerabilities and not the library ones which are equally important.
Let me know what you think.

[2022-11-24 12:22] venkataramanam opened #6202 "Ansible operator v1.25.2 misses custom resource modify events"
## Bug Report

#### What did you do?

We have multiple instances of a custom resource in our application. One among those we treat it as some kind of `master` instance. The others are treated as sort of logical instances. Whenever any updates are done to the `master` like upgrading it by specifying a field `.spec.version`, operator does all the necessary hard job of upgrading that instance. Finall

[2022-11-24 12:43] everettraven commented on #6143
@FedericoYST i agree that the libraries are important as well, however I think most of them are pulled in via the ubi(-minimal) 8.7 image that are images use as a base.

I will reopen this issue and bring it up in the community meeting on Monday November 28th.

This raises a question in my mind of whether or not we truly need to be inheriting packages from the base image we use to build and ship o

[2022-11-24 12:46] everettraven commented on #6200
@jmrodri that makes sense to me. There has to be some way to do it,  I guess it is more just a matter of _how_.

[2022-11-24 13:35] FedericoYST opened #6203 "CVE-2017-11468 on github.com/docker/distribution package"
## Bug Report

#### What did you do?
I have executed a vulnerability scan on the latest available image:

- quay.io/operator-framework/helm-operator:latest

#### What did you expect to see?
A vulnerability free image

#### What did you see instead? Under which circumstances?
Two vulnerabilities on the github.com/docker/distribution package:

1. CVE-2017-11468

#### Environment

**Operator type:**

[2022-11-25 09:25] stanislavulrych commented on #6100
@tlwu2013 so far, I am building the operators without any manual steps, which is the reason why I opened this issue - it is possible to edit the CSV manually, however, you might understand that it somehow complicates the automated pipelines for the build.

[2022-11-25 09:28] stanislavulrych commented on #6089
@everettraven I am sorry for the delay, I tried to address the issue in kubebuilder, but I am not familiar with the code much, so it will take me more time. I am still interested in the feature.

[2022-11-25 11:59] everettraven commented on #6089
@stanislavulrych No worries! I was asked during our community meeting to add an update comment so that's all that comment is supposed to be

[2022-11-27 11:28] talsharon48 opened #6204 "Unable to bundle-upgrade using operator-sdk cli tool"
## Bug Report

#### What did you do?
Hello,
I am using operator-sdk v1.24.0 and trying to use it to create bundle and use them in openshift cluster via OLM.
i wrote a demo operator made bundle from it and created a catalog image using catalog-build and catalog-push.
i have manged to create catalog source  from it, saw it in the UI and installed the operator, when i tried upgrading the operator, i

[2022-11-28 00:00] #5551 closed

[2022-11-28 00:00] #5763 closed

[2022-11-28 00:00] #5764 closed

[2022-11-28 08:53] kaovilai commented on #5763
/remove-lifecycle rotten

[2022-11-28 15:41] everettraven commented on #6198
@KailashPatilKP do you have to use Operator SDK version `v0.19.0`? That is a version we no longer support and I would highly recommend trying to upgrade and use the [latest release](https://github.com/operator-framework/operator-sdk/releases/tag/v1.25.2) of Operator SDK which is version `v1.25.2`.

If you absolutely *need* to use Operator SDK version `v0.19.0` it seems like this is related to usin

[2022-11-28 15:54] everettraven commented on #6186
IMO, this is the responsibility of the cluster operator, or eventually of OLM.

I *believe* OLM does handle the case of Deployment or RBAC deletion (just deleting this stuff isn't the proper way to remove an operator). As mentioned by @jberkhahn:

Due to this limitation unfortunately this route would likely have to be taken for the time being (and if you wanted to have it created once during opera

[2022-11-28 16:21] VannTen commented on #6186
On Mon, Nov 28, 2022 at 07:54:40AM -0800, Bryce Palmer wrote:

Agreed. But I would have liked to have OLM handle the rest as well.
(seems to be what operator-framework/operator-lifecycle-manager#1996 is
about right ?)

We'll take a took.

-

Thanks for your answers, I now understand what I can and can not do with
OLM and the operator-sdk. I'm ok to close this, unless you want to keep
it open as a

[2022-11-28 17:32] varshaprasad96 commented on #6198
Additionally, I would also highly recommend to either scaffold the project in the [GOPATH](https://go.dev/doc/gopath_code) or [activate](https://github.com/golang/go/wiki/Modules#how-to-install-and-activate-module-support) module support. This error usually happens in Go when it assumes that the package is outside a module (https://cs.opensource.google/go/go/+/refs/tags/go1.19.3:src/cmd/go/interna

[2022-11-28 17:46] jberkhahn commented on #6186
Thanks. Feel free to reopen this if you do have any further questions.

[2022-11-28 17:46] #6186 closed

[2022-11-28 19:28] varshaprasad96 commented on #6200
We update the logic in (https://github.com/operator-framework/operator-sdk/blob/a1b976e7d40e4c8c5c3800283de0c0905c06bd56/.github/workflows/freshen-images/lib.sh#L31) to find the latest tag and push it to quay's latest tag.

[2022-11-28 19:34] varshaprasad96 commented on #6202
@venkataramanam we don't have any particular changes that could affect the way ansible operator works in 1.25.2 from 1.25.0 (https://sdk.operatorframework.io/docs/upgrading-sdk-version/v1.25.2/). Could you add any error logs if they appear?

[2022-11-28 19:42] varshaprasad96 commented on #6203
We have addressed the same issue in https://github.com/operator-framework/operator-sdk/issues/6143. Closing this in favor of the previous one. Thanks for bringing this up!

[2022-11-28 19:42] #6203 closed

[2022-11-28 19:45] varshaprasad96 commented on #6204
Can you check by running the same command with an increased timeout using the `--timeout` flag in the command. In some of the cases we have observed the default timeout to be less for openshift clusters.

[2022-11-29 14:33] talsharon48 commented on #6204
hello,
I have tried to use the `--timeout=15m0s` flag giving it 15 minutes to complete and got the same result
 `FATA[0900] Failed to run bundle upgrade: install plan is not available for the subscription olm-test: timed out waiting for the condition`

[2022-11-29 15:37] everettraven commented on #6204
@talsharon48 just to make sure - you can't share any logs at all? Without some logs or more information I'm not quite sure we will be able to help very much. That said, I'll share a brief overview of what I would check:
1. Check the logs of the registry pod that is created by the `operator-sdk run bundle-upgrade` command. If this is failing to start properly, this could be causing OLM to not have

[2022-11-29 17:34] xrow opened #6205 "Deployment of operator missing helm option"
## Feature Request

#### Describe the problem you need a feature to resolve.

Currently main option of a clean deployment is the deploying the operator via OLM.

#### Describe the solution you'd like.

A common pattern of deployment is also that operator image is deployed to a kubernetes cluster via a helm chart including the operator and helm chart including the operator crd like explained here h

[2022-11-30 09:39] venkataramanam commented on #6202
@varshaprasad96

Yes, I did see there aren't changes around this area.

Unfortunately, there aren't any error logs.

Yes, there is a change in the OpenShift version. Not sure if that was the reason for missing change events from being watched.

No, absolutely no change in events. We only just update `.spec.version` in all logical instances as part of `master` CR reconcile at the very end.

Is ther

[2022-11-30 13:53] talsharon48 commented on #6204
@everettraven I can investigate the logs from any pod, ill just have to type here any figures manually for you to see.
1. The logs from the pod raised by the `upgrade-bundle` command look good and ending by serving the registry (when I
    choose the operator at the `OperatorHub` I can see the `v0.0.2`, the new one, available)
2. The `CatalogSource` also looks good with a status saying the `Connec

[2022-11-30 15:27] everettraven commented on #6204
@talsharon48 The only other thing I can think to check is if the `Subscription` has the field `installPlanApproval: Manual`.

If it does not then that means OLM is automatically approving the upgrade - I'm not sure what impact this has on the actual generation of a new `InstallPlan`. I believe the `operator-sdk run bundle-upgrade` command expects it to be set to manual approval so OLM doesn't auto