[2019-10-29 16:40] joelanford commented on #2030
Looks like `operator-framework/operator-lifecycle-manager` also requires `k8s.io/kubernetes`, so we'll have to look into dropping that dependency there too.

[2019-10-29 16:52] davidffrench commented on #2118
@hasbro17 Looks like there is an issue with `v0.11.0` working with Kubernetes `v1.11.x`. The new CRDs generated have a field called `type` at the root of the status sub resource which is not allowed. I have been doing a bit of research into this.

It looks like you are familiar with this based on this PR https://github.com/operator-framework/operator-sdk/pull/1961. Do you know if there is anything

[2019-10-29 18:23] jmccormick2001 commented on #2094
I played around this morning and was able to recreate your error I think...

jeffmc@doppio114 ~/projects/memcached-operator> operator-sdk scorecard -o text
INFO[0000] Using config file: /home/jeffmc/projects/memcached-operator/.osdk-scorecard.yaml
WARN[0027] time="2019-10-29T13:14:52-05:00" level=info msg="a cleanup function failed with error: cleanup function failed: timed out waiting for the con

[2019-10-29 20:00] Jamstah commented on #1969
Thanks. I was coming to that conclusion, but it took a lot of time to get there. I do already have a finalizer working for my purposes.

I'd recommend a doc update, perhaps here?
https://github.com/operator-framework/operator-sdk/blob/master/doc/ansible/dev/dependent_watches.md

[2019-10-29 20:03] flickerfly commented on #1985
On the plus side, this seems to be resolved with operator-sdk 0.11.0.
On the negative, it may be because I can't run at all anymore as all those command options are no longer valid and I can't figure out how to duplicate them in the config. Any help with that?

[2019-10-29 20:07] flickerfly commented on #1983
The workaround I was using for this was to use the arguments like --namespace and --olm-deployed. These also no longer appear to be working in operator-sdk 0.11.0.

    operator-sdk version: "v0.11.0", commit: "39c65c36159a9c249e5f3c178205cc6e86c16f8d", go version: "go1.12.7 linux/amd64"

[2019-10-29 20:27] #1985 closed

[2019-10-29 21:19] joelanford commented on #2094
The `Deployment.apps` is the operator itself, right? If so, the correct order would be:

1. CustomResourceDefinition.apiextensions.k8s.io
2. Deployment.apps
3. RoleBinding.rbac.authorization.k8s.io
4. Role.rbac.authorization.k8s.io
5. ServiceAccount

Deleting the CRD causes all CRs of that type to be deleted, but if the CR has a finalizer, then the operator still needs to be running. So we would n

[2019-10-29 21:31] jmccormick2001 commented on #2094
@joelanford I confirmed that order does indeed work, to the fix here would be to change scorecard to delete in that order it sounds like.

[2019-10-29 23:02] patoarvizu opened #2125 "Is r.client.Get() supposed to require 'watch' permissions?"
## Type of question

Desired behavior of a piece of functionality.

## Question

**What did you do?**

I run something like `r.client.Get(context.TODO(), types.NamespacedName{Name: "name", Namespace: "namespace"}, resource)` (the hard-coded names and namespaces are on purpose, since I'm looking for a specific resource). The operator's role looks like:
[code]
I tried this with both `Role` and `Clus

[2019-10-29 23:21] patoarvizu commented on #2125
And maybe somewhat related to this: I'm trying to run an operator that watches existing resources (`ServiceAccount`s in my case) across all namespaces (setting `WATCH_NAMESPACE = ""`), but read its own configuration from a `ConfigMap` on the specific namespace where it's running, but when it tries to read it, I see `Failed to list *v1.ConfigMap: configmaps is forbidden: User "system:serviceaccount

[2019-10-29 23:56] joelanford commented on #2125
@patoarvizu The default client API is split client. Writes are made directly to the API server, but reads are made from a cache. The client `lists` resources to populate the cache initially and then `watches` them to keep it updated. That way, when you call `Get()`, you can fetch the resource from the cache instead of hitting the API server.

You _can_ use [`manager.GetAPIReader()`](https://github

[2019-10-30 00:46] patoarvizu commented on #2125
Ah alright, that makes sense.

Would the issue I describe in my last comment related to the main question? Or does that not have anything to do with the client?

[2019-10-30 01:34] joelanford commented on #2125
WATCH_NAMESPACE is passed in as [`manager.Options.Namespace`](https://github.com/kubernetes-sigs/controller-runtime/blob/40070e2a1958c3d974ba95da883a2bd088137789/pkg/manager/manager.go#L139-L145), which scopes the caches used in the controller-runtime manager in your operator. Since you want to watch `ServiceAccount` resources across the cluster, it makes sense to set that to `""`. However, that m

[2019-10-30 02:50] patoarvizu commented on #2125
Thank you very much for the explanation, this clarifies things 100%!

[2019-10-30 02:50] #2125 closed

[2019-10-30 15:11] gpanagiotidis opened #2132 "What's the use case of creating several controllers for the same operator?"
I want to create two CRDs that are a bit different, and two controllers, each one watching on of the CRDs, doing more or less the same job, except returning a different status. For this operation I will use a private library that's doing the API requests to an external server.

My question is, should I create two operators with a controller in each, or create one operator with two controllers?

[2019-10-30 23:21] Jamstah opened #2138 "Add vars support to ansible watches"
## Feature Request

With ansible watches, you can specify a `playbook` or `role`, but cannot also specify `vars`. With the finalizer, you can also specify `vars`.

In my case, I am creating a number of CRDs with a similar function, it would be good to run them through the same playbook but with different `vars`. If I could specify the `vars` in the watch, it would make it really easy. Instead, I w

[2019-10-30 23:27] #1968 closed

[2019-10-31 06:42] camilamacedo86 commented on #2132
Hi @gpanagiotidis,

An operator project is designed to have resources where each type of resource(CR/CRD) has its own controller. Note that having many types/resources managed by the same controller goes against the controller-runtime design.

I'd like to suggest you check [Getting started with Golang Operators by using Operator SDK](https://developers.redhat.com/blog/2019/10/04/getting-started-wi

[2019-10-31 06:44] #2132 closed

[2019-10-31 08:23] feikesteenbergen commented on #1366
I'm running into the same issue currently, [this](https://github.com/operator-framework/operator-sdk/blob/master/doc/ansible/dev/developer_guide.md#extra-vars-sent-to-ansible) does not make it clear to me why this happens.

This is what is created as a CRD:

[code]

And this is how `backup` ends up in the ansible run:

[code]

It seems that any set of digits is surrounded by underscores when conve

[2019-10-31 08:34] viveksinghggits opened #2139 "how to download the specific version of a dependency"
## Support Question

## Question

**What did you do?**
I just created a project using `operator-sdk new <operator-name>`  It creates the project successfully with the dependencies that it requires.

**What did you expect to see?**
I wanted to have a specific version of the `controller-runtime` dependency let's say for example `v0.1.4`

**What did you see instead? Under which circumstances?**
The d

[2019-10-31 08:49] camilamacedo86 commented on #2139
Hi @viveksinghggits,

The deps are defined in the go.mod file. However, if you do not use the specific version used/tested for each SDK release you will may face unexpected issues. So, it would not be recommend at all.

See that the version of SDK 0.11.0 is using the version `sigs.k8s.io/controller-runtime v0.2.2` and the version 0.12 will use `sigs.k8s.io/controller-runtime v0.3.0`. So, if you wo

[2019-10-31 09:04] viveksinghggits commented on #2139
Hi @camilamacedo86,
I totally understood, your response and thank you for that. I was just going through an example and that used the version `v0.1.4` but I understand that it depends on the sdk version.
Thanks

[2019-10-31 09:04] #2139 closed

[2019-10-31 09:24] camilamacedo86 commented on #2139
If you are following the Getting Started, not that we have a PR to update it open. You can follow up it.

[2019-10-31 09:54] camilamacedo86 commented on #2060
HI @jpkrohling,

I am closing this one since shows that the above comment answered your question. Also, note that it is more related to k8s projects instead of SDK since it came from https://github.com/kubernetes-sigs/controller-runtime.

However, please feel free to re-open it if you see that is required.

[2019-10-31 09:58] jpkrohling commented on #2060
+1, the code from @hasbro17 is similar to what I have in the first comment and what I ended up using. I still think there could be a shortcut, but I can live without it.

[2019-10-31 10:00] camilamacedo86 commented on #2117
Hi @flickerfly,

The python version was upgraded in the 0.11, then because of it, the image is using pip3. You can create an alias for the pip calls the same bin used by pip3 if you wish as well.

So, I understand that we can close this one and I am doing it. However, please feel free to re-open if you see that it is required.

[2019-10-31 10:00] #2117 closed

[2019-10-31 11:20] holger-wg2 commented on #1858
Setting the operatorNs in `serveCRMetrics()` to "" gets rid of that error. Which also makes sense, as the error gets created when the reflector cannot find the kind in a certain namespace. ResourceTypes with scope cluster are not associated to a Namespace

[2019-10-31 16:23] gpanagiotidis commented on #2132
/open

[2019-10-31 16:33] egaudet commented on #2030
@joelanford  Turned out to be running the go get command from a directory with a go.mod that doesn't have the k8s dependencies (i.e. replace).  I was trying to test out doc generation from the project https://github.com/ahmetb/gen-crd-api-reference-docs so I was running in that directory.  Running elsewhere and I don't see the problem.  Thanks!

BTW, is there any other recommended way to generate

[2019-10-31 17:52] camilamacedo86 commented on #2132
Hi @gpanagiotidis,

It is up to your solution/business requirements.In the suggested link has some explanations and an example which I thought would clarify and make its concepts more evident.

However, in order to try to make it simple, following an explanation and answer for your question.

By concept, each kind (CRD) would represent a unit/piece which is required for all/full solution managed b

[2019-10-31 18:15] estroz commented on #2042
@robbie-demuth @jpkrohling @apinnecke out of curiosity, do you use the generated Go OpenAPI spec (`pkg/apis/<group>/<version>/zz_generated.openapi.go`), or is that extra code just sitting around?

[2019-10-31 18:43] robbie-demuth commented on #2042
To be honest, I haven't ever really looked at it. I don't believe our organization uses it. We mainly just need the generated `DeepCopy...` methods which I believe are generated by `operator-sdk generate k8s`. I assumed the generated OpenAPI code was used as an interim step to generate the CRD manifest

[2019-10-31 19:17] estroz commented on #1738
@dmvolod the SDK has upgraded to go 1.13 and dropped support for `dep`/Gopkg.toml in new projects. We recommend upgrading to v0.12.0. If you still have trouble with your dual dependency management issue, feel free to submit a patch PR to the `v0.11.x` branch and we can look into getting that merged. I will reopen this issue if that is the case.

[2019-10-31 19:17] #1738 closed

[2019-11-01 07:42] apinnecke commented on #2042
@camilamacedo86 No, those `zz_generated.*` files are not used by us at all. We only use the generated CRD manifests for deployment.

[2019-11-01 13:53] Oblynx commented on #1770
@jmazzitelli I had the same issue, thanks a lot for pointing to that variable. I can't find documentation for it, so I believe this issue should be reopened until it's documented.

[2019-11-01 16:42] asmacdo opened #2142 "Port to Hugo+Docsy"
Based on [hugo +docsy proposal](https://github.com/operator-framework/operator-sdk/blob/eb270396c47f3b9abedb34db2aed964a8a91f74e/doc/proposals/hugo-doc-build.md)

- [ ] Add Hugo + Docsy boilerplate
- [ ] Move docs to hugo/docsy location
- [ ] Add frontmatter to each docs file
- [ ] Quick review, fix syntax errors if they exist

## :warning: Merge Conflicts :warning:

As much as is reasonable, work

[2019-11-01 17:10] asmacdo opened #2143 "Organize top level of new Hugo Docs"
Blocked by https://github.com/operator-framework/operator-sdk/issues/2142

In GitHub, the docs organization was limited by the directory structure and the lack of a navigation bar.

This task is to:

- Create a structure for the new docs
- Move existing docs into structure
- Stub necessary pieces, and file stories

## Proposed Structure

The highest level is the "top bar":

- Documentation
- Commu

[2019-11-03 17:35] davidffrench commented on #2118
@hasbro17 Pinging again to see if you have an answer to my question in the last comment.

I am also very happy to collaborate with you to discuss k8s and Go versions etc for each operator-sdk version and produce a PR for the compatibility matrix.

[2019-11-04 08:13] vthapar opened #2151 "Single Controller with Multiple CRDs and multiple deployments"
## Type of question

**How to implement specific feature**

## Question
Is it possible to have single controller manage multiple deployments with multiple CRDs?

**What did you do?**
I have an operator that creates a deployment based on primary CRD. Now I want to add additional optional CRDs that will result in additional deployments. These additional deployments require primary to be present but

[2019-11-04 16:26] jmazzitelli commented on #1736
just fyi...

I have ansible operator 0.10.0 as my base image and I just tried it.  I do NOT have services/finalizers, I just  have "update" verb on deployments/finalizers and  I see this in my logs (which is good):
[code]
I then removed my operator to try a second test. I changed my role and removed this:
[code]
I re-installed the operator and it failed with:
[code]

So it looks like you only need

[2019-11-04 16:52] #2114 closed

[2019-11-04 18:01] camilamacedo86 commented on #2071
Hi @flickerfly,

The above fields are not mandatory for the operator to work in OLM. However, you will probably check some errors/warnings when the operator-courier verifies the CSV if they are not present.

Note that these values cannot be obtained in the code source of the project and to populated it as you requested here, would be required to use placeholders however, after a big discussion was

[2019-11-04 18:01] #2071 closed

[2019-11-04 18:59] flickerfly commented on #2071
Thanks, I'll watch that space. Sounds like you heard what I was thinking and have plans to deal with it another way.

[2019-11-04 19:12] camilamacedo86 commented on #2071
Sure, really thank you for your collaboration and understanding. We definitely heard and completed understanding your motivation here and we will work to improve this. It just will be done in another way according to some strategy in places.

[2019-11-04 21:05] drewwells opened #2152 "Official docker image for cli"
## Feature Request

**Is your feature request related to a problem? Please describe.**
Provide a versioned docker container for using the operator-sdk CLI

**Describe the solution you'd like**
Same as above, docker container with the binary in it. Lots of people have created these https://hub.docker.com/search?q=operator-sdk&type=image

[2019-11-04 22:23] camilamacedo86 commented on #2151
Hi @vthapar,

Technically is possible to manage N CRD's in the same controller. Shows that it is not working in your example because of the watch implementation that was not done for a secondary resource. See [here](https://github.com/operator-framework/operator-sdk-samples/blob/master/memcached-operator/pkg/controller/memcached/memcached_controller.go#L55).

However, it goes implicit against the

[2019-11-04 22:23] #2151 closed

[2019-11-04 23:15] #1526 closed

[2019-11-04 23:45] hasbro17 commented on #2118
@davidffrench Unfortunately I don't think there is a way to revert controller-tools or the SDK(which just uses controller-tools) to generate CRDs without the `type: object` at the root of spec at `validation.openAPIV3Schema.properties.spec`.

The old behavior in controller-tools (https://github.com/kubernetes-sigs/controller-tools/pull/72) was just a workaround the bug on k8s 1.11 (https://github.

[2019-11-05 09:58] davidffrench commented on #2118
Thank you for the response @hasbro17 . We still have an obligation for our operator to support OpenShift 3.11 which is based on Kubernetes 1.11. I imagine many other operators likely will need too also for the time being.

It is unfortunate that controller-tools does not allow you to generate without a structural schema as it is only mandatory in `apiextensions.k8s.io/v1`, `v1beta1` can still be u

[2019-11-05 11:01] linuxbsdfreak opened #2154 "failed to install release: release name exceeds max length of 53 error"
## Type of question

**Are you asking about community best practices, how to implement a specific feature, or about general context and help around the operator-sdk?**

## Question

**What did you do?**
We are using the helm operator from operarator-sdk to provision systems using helm charts

**What did you expect to see?**
It is unable to install

**What did you see instead? Under which circumsta

[2019-11-05 13:25] camilamacedo86 commented on #2154
Hi @linuxbsdfreak,

Thank you or raise it. See that you are using and very old version of  SDK. Also, note that this part wa changed in for the latest one versions. See [here](https://github.com/operator-framework/operator-sdk/blob/master/CHANGELOG.md#changed-2).

In this way, could you try to migrate/use the latest released version of SDK for your project 0.12 first and let us know if the same be

[2019-11-05 14:36] linuxbsdfreak commented on #2154
Hi @camilamacedo86 @joelanford . I will test and get back to you with a newer version

[2019-11-05 14:45] bharathi-tenneti commented on #2152
/assign @bharathi-tenneti

[2019-11-05 18:53] asmacdo commented on #2143
From @camilamacedo86: **Regards the navigation:**

* navigation bar, I think we should add first Getting started, then the others as it is.

By checking it make very clear that we need to improve it, however, following my suggestion based on the current docs and structure.

[2019-11-06 09:55] Slayv opened #2161 "v0.12.0 upgrade guide"
## Type of question

About general context

## Question

Is there any v0.12.0 upgrade guide?

I didn't find any notes about in the relevant [documentation section](https://github.com/operator-framework/operator-sdk/blob/master/doc/migration/version-upgrade-guide.md), but I see breaking changes in release notes, e.g. Go 1.13 is required.

[2019-11-06 10:35] camilamacedo86 commented on #2161
Hi @Slayv,
Following the link for the upgrade version guide.

https://github.com/operator-framework/operator-sdk/blob/master/doc/migration/version-upgrade-guide.md

P.S  I'd like to keep this one for we add the link for the upgrade version guide in https://github.com/operator-framework/operator-sdk/releases.

[2019-11-06 12:11] grdryn opened #2162 "Hyphens in API versions lead to incorrect CRDs"
## Bug Report

**What did you do?**
[code]

**What did you expect to see?**
I expected the generated CRD to be at `deploy/crds/my-cool-thing_v1alpha1_test_crd.yaml`, and have the group set to `my-cool-thing.grdryn.me`.

**What did you see instead? Under which circumstances?**
It was generated as `deploy/crds/my-cool-thing_v1alpha1_test_crd.yaml` and the group in the file was de-hyphenated to:
[cod

[2019-11-06 12:49] camilamacedo86 commented on #2162
HI @grdryn,

The validation to ensure that the Group is a valid value for k8s API is done [here](https://github.com/operator-framework/operator-sdk/blob/master/internal/scaffold/resource.go#L135).

The point that you raised [here](https://github.com/operator-framework/operator-sdk/blob/master/internal/scaffold/resource.go#L133) need to be replaced because it will set the value to the GroupImport w

[2019-11-06 12:50] camilamacedo86 commented on #2162
Also, it is related to https://github.com/operator-framework/operator-sdk/issues/2058

[2019-11-06 13:58] mhenke1 opened #2164 "0.12.0 - r.client.List does not compile due to dependency problem in go.sum"
## Bug Report

**What did you do?**
Created an fresh operator with
`operator-sdk new foo --repo github.ibm.com/bar/foo`

**What did you expect to see?**
* go.sum containing sigs.k8s.io/controller-runtime v0.3.0 only
* `r.client.List` should be callable with new signature expected with controller-runtime v0.3.0
* `operator sdk build `should succeed with a operator caling `r.client.List`

**What did

[2019-11-06 14:02] mhenke1 commented on #2161
@camilamacedo86 The upgrade version guide does not mention 0.12.x explicitly.
Might be worth to add some explicit lines explaining that no special tasks are needed
after having done the migration to 0.11.x

[2019-11-06 14:46] camilamacedo86 commented on #2161
Hi @mhenke1,

It is true. I think it is missing the migration doc as well. Really tks I will be working on it.
In the meantime, I'd recommend you ensure that you are using go 1.13 and replace your go.mod for https://github.com/operator-framework/operator-sdk/blob/master/internal/scaffold/go_mod.go#L40-L69.

[2019-11-06 21:55] paterczm opened #2166 "How to get cluster scoped resource?"
Hello

I want to create an operator which can manage namespaces and I'm stuck getting namespace by name. I'm trying to use [Client's Get api](https://github.com/operator-framework/operator-sdk/blob/master/doc/user/client.md#get), but it looks designed for namespace scoped resources only (expects `types.NamespacedName` as the second parameter). Please advise.

Thank you

Marek

[2019-11-06 22:05] estroz commented on #2162
@grdryn this issue has come up a few times before (#1812, #997, #1368) and apparently has not been fixed despite those issues being closed. I will note that file naming is not the issue here; with the `spec.version` field being deprecated in CRD's in favor of `spec.versions`, we changed CRD file names to `<full group>_<resource>_crd.yaml`. More on that in our [version migration guide](https://gith

[2019-11-06 22:08] patelajayp opened #2167 "0.11.0 - operator-sdk test fails due to redefined flags"
## Bug Report

**What did you do?**
Ran `operator-sdk test local ./test/e2e/ --no-setup --namespace sdktest` to test operator locally

**What did you expect to see?**
Tests to run and pass

**What did you see instead? Under which circumstances?**
Failed with the following error:

[code]

**Environment**
* operator-sdk version: `"v0.11.0", commit: "39c65c36159a9c249e5f3c178205cc6e86c16f8d", go vers

[2019-11-06 22:22] geerlingguy opened #2168 "Switch Ansible test scaffold from k8s_facts to k8s_info module"
## Feature Request

**Is your feature request related to a problem? Please describe.**

When using the molecule test scaffold shipped with operator-sdk's Ansible option, playbook runs on Ansible 2.9 show a deprecation warning like the following:

[code]

**Describe the solution you'd like**

This is pretty easy to fix; we just need to change from using `k8s_facts` to `k8s_info`. I verified with a

[2019-11-06 22:47] estroz commented on #2162
@grdryn the hyphen problem was fixed in SDK v0.11.0. The issue related to how our CRD generator managed hyphens in group names. I suggest upgrading to `operator-sdk` v0.11.0+. Check out our upgrade guide for [v0.11.x](https://github.com/operator-framework/operator-sdk/blob/master/doc/migration/version-upgrade-guide.md#v011x) if you decide to upgrade SDK versions. If that is not possible then eithe

[2019-11-06 22:56] #2162 closed

[2019-11-06 23:04] camilamacedo86 commented on #2162
HI @grdryn,

Just to clarifies and supplement the issue that you are reporting regards the group names is solved as @estroz described. It is a duplication of https://github.com/operator-framework/operator-sdk/issues/1812#issuecomment-533814837.  (solved in 0.11+)

The other point regards the version no longer be part of the CRD name is also something that was changed and it in the above link. Just

[2019-11-06 23:08] camilamacedo86 commented on #2058
Described in the upgrade guide for [v0.11.x](https://github.com/operator-framework/operator-sdk/blob/master/doc/migration/version-upgrade-guide.md#v011x) that the CRD name standard was changed. See [here](https://kubernetes.io/docs/tasks/access-kubernetes-api/custom-resources/custom-resource-definition-versioning/) that when we upgrade the version we still using the same CRD. So because of this no

[2019-11-06 23:08] #2058 closed

[2019-11-06 23:10] camilamacedo86 commented on #2166
Hi @paterczm,

The following doc has all info required as the steps for you change your operator project to be cluster scoped.

https://github.com/operator-framework/operator-sdk/blob/master/doc/operator-scope.md

Closing this one, however, feel free o re-open if you think that it still required.

[2019-11-06 23:12] #2138 closed

[2019-11-06 23:15] camilamacedo86 commented on #2167
Hi @patelajayp,

Note that the v0.11.0 is not supporting the go version 1.13+. Could you try to use the latest release of the SDK(0.12) and let us know if you still facing any issue with?

[2019-11-06 23:25] camilamacedo86 commented on #2168
HI @geerlingguy,

Thank you for raise it. Also, please feel free to collab with the PR if you wish.

[2019-11-07 00:09] camilamacedo86 commented on #2164
HI @mhenke1,

Thank you for raise it. You raised here 3 concerns/issues. Following the details and some questions.

- [X] go.sum containing sigs.k8s.io/controller-runtime v0.3.0 only
This one I could reproduce/check it. OK

- [ ] r.client.List should be callable with new signature expected with controller-runtime v0.3.0

I created a new project + API + controller and could do it as follows. **Is i

[2019-11-07 01:31] joelanford commented on #2164
@mhenke1 The `require` block in `go.mod` declares the minimum acceptable version of each of the listed dependencies for the module defined by that `go.mod`. So in this case, since controller-runtime `v0.3.0` is listed in your project's `go.mod` file, you are guaranteed that the resolved version will be at least `v0.3.0` and you are guaranteed that it will be less than `v1.0.0` since semver dictate

[2019-11-07 10:30] grdryn commented on #2162
Thanks folks, glad to see it was fixed in v0.11.0. I'll see if I can figure out a way to upgrade to that version (will need to find time to try a workaround like in https://github.com/operator-framework/operator-sdk/issues/2118#issuecomment-549598512 though).

[2019-11-07 14:00] paterczm commented on #2166
Hello @camilamacedo86
The doc you linked talks about cluster level RBAC and cluster CRD scope, but it does not explain how to use the Client to get cluster scoped resources.

[2019-11-07 15:03] patelajayp commented on #2167
I upgraded my operator-sdk version to:

`"v0.12.0", commit: "2445fcda834ca4b7cf0d6c38fba6317fb219b469", go version: "go1.13.3 darwin/amd64"`

and am still having the same issue.

[2019-11-07 15:42] camilamacedo86 commented on #2167
Hi @patelajayp,

Following some tips that I hope that help you to solve it.

- Use `./test/e2e ` instead of `./test/e2e/`. See the error ` "./test/e2e//..."`
- Use `--namespace=${NAMESPACE}` intead of --namespace X
- Ensure that the k8s cluster is up and running
- Ensure that all is applied in the cluster  since you are using --no-setup

If you still facing the issue try to use `--debug` and `--ve

[2019-11-07 16:08] camilamacedo86 commented on #2166
Hi @paterczm,

So, your operator project would first all need cluster-scope permissions to check all resources in the cluster. Then, for you change the scope of the operator cluster and allow it has access to all cluster follow up the steps [here](https://github.com/operator-framework/operator-sdk/blob/master/doc/operator-scope.md). In this doc you will find how to change the scaffold/init project

[2019-11-07 16:18] paterczm commented on #2166
Ah yes, that's what I was looking for, thank you!

Passing `types.NamespacedName{Name: memcached.Name}` or `types.NamespacedName{Name: memcached.Name, Namespace: ""}` to the Get api looks up cluster scoped resources. I was expecting something like `type.CluserescopedName`.

[2019-11-07 16:39] camilamacedo86 commented on #2166
Hi @paterczm,

The project/operator can be namespaced-scope or cluster-scoped which means have access to all or just 1 specific namespace. If you would like to manage a resource which will be across the cluster then you need to have your project set up for it first. I mean be using ClusterRoles and etc .  Are you project cluster-scope already?

Then, when you do `types.NamespacedName{Name: memcach

[2019-11-07 18:04] paterczm commented on #2166
Hello @camilamacedo86

My problem is resolved now, your previous post helped me. I thought that my answer made it clear. I never had a problem with RBAC setup (got that part right at least), just didn't understand Get api usage.

Thanks again
Marek

[2019-11-07 19:11] camilamacedo86 commented on #2166
So, all sort out !! You get how to set up the cluster-scope and how works RBAC and the GET. :-)
Really tks for let me know. I am closing this one.

[2019-11-07 19:11] #2166 closed

[2019-11-07 22:15] joelanford commented on #2066
@petro404 The way we usually tell users how to handle this would be to use client-go's support for the discovery API to lookup a resource that you expect to be in a given cluster.

So for example, with OpenShift 4.x, you could look for the `config.openshift.io` `clusterversion` resource. If it's there, you're in an OpenShift 4.x cluster. If it isn't there, you're not in an OpenShift 4.x cluster.

[2019-11-08 05:24] #1538 closed

[2019-11-08 10:17] camilamacedo86 commented on #2066
I  will keep this one open and assign to me in order to:
- Create a POC following the suggested approach
- Then, create a RedHat dev blog post with this solution.
@joelanford

[2019-11-08 10:21] camilamacedo86 commented on #1631
/remove-lifecycle

[2019-11-08 11:25] #302 closed

[2019-11-10 03:36] jianzhangbjz opened #2172 "Should display the (user) qualifier fields when generating the CSV so that the users can clearly know it"
## Bug Report

**What did you do?**
Use the `operator-sdk olm-catalog gen-csv` to generate the CSV files.
[code]
But, got errors since lack some basic fileds:
[code]

**What did you expect to see?**
Should display the [(user) qualifier fields](https://github.com/operator-framework/operator-sdk/blob/master/doc/user/olm-catalog/generating-a-csv.md#csv-fields) when generating the CSV so that the user

[2019-11-10 10:50] jianzhangbjz opened #2173 "Should disable the AllNamespaces installMode"
## Bug Report

**What did you do?**
I create the CSV files by using `operator-sdk olm-catalog gen-csv` command.
[code]
But, failed to install the CSV.
[code]

**What did you expect to see?**
Should set the `AllNamespaces` to `false` as default since I didn't use the cluster CRD.

**What did you see instead? Under which circumstances?**
A clear and concise description of what you expected to happen

[2019-11-10 17:28] camilamacedo86 commented on #2172
Hi @jianzhangbjz,

It is not really a bug. See the info in  the [Getting Started](https://github.com/operator-framework/getting-started#generate-an-operator-manifest):

Also, the RFE for the command generates these values populated is tracked in  #1132 and it has been done in the PR https://github.com/operator-framework/operator-sdk/pull/1162. Also, if you are using the master branch may you can u

[2019-11-10 17:34] #400 closed

[2019-11-11 02:21] jianzhangbjz commented on #2172
@camilamacedo86 Thanks for your details! Yes, I can see they are marked with a (user) qualifier.
But, this doc lack the `displayName` field. Maybe it needs some updates. For my personal opinion, it's better to display these (user) qualifier fields when generation the CSV file. What do you think?

owned: all CRDs the Operator deploys itself from it's bundle.
name: CRD's metadata.name.
kind: CRD's m

[2019-11-11 02:24] jianzhangbjz commented on #2172
/reopen

[2019-11-11 08:19] srinivas-kandula opened #2176 "Support configMaps in CSV"
## Feature Request

**Is your feature request related to a problem? Please describe.**
 I am working with RedHat partner connect team to build operator for a application that need to be hosted in Operatorhub.io.  While building CSV using `operator-sdk olm-catalog gen-csv` came across this limitation of operator-sdk.  The operator deploys a application that needs default configMap to be present in

[2019-11-11 08:52] camilamacedo86 commented on #2172
HI @jianzhangbjz,

Your last point regards the displayName is answered already in another issue.  See https://github.com/operator-framework/operator-sdk/issues/2071#issuecomment-549474792

Closing this one as a duplicatation of.

[2019-11-11 08:52] #2172 closed

[2019-11-11 13:23] #1750 closed

[2019-11-11 16:43] mikkeschiren opened #2177 "Get ansible k8s syntax to validate in Visual Studio Code"
Normaly i use Visual Studio Code to edit ansible, but I can't figure out how to fix so Visual Studio Code understands the k8 syntax:

![bild](https://user-images.githubusercontent.com/712838/68604433-c12b1900-04aa-11ea-9295-e67b8567fb05.png)

Any ideas or suggestions?

[2019-11-11 17:37] #1537 closed

[2019-11-11 17:40] camilamacedo86 commented on #2177
HI @mikkeschiren,

It shows a subject related to, I mean more appropriate to VS channels and etc.  However, it may https://code.visualstudio.com/docs/azure/kubernetes#_install-the-kubernetes-extension is what you are looking for.

I'd recommend you looking for extensions and plugins of your IDE.

I am closing this one since shows sorted besides is not be part of operator-framework and sdk scope.

[2019-11-11 18:23] steveyang95 opened #2178 "Best Practices: Updating operator-sdk, watching different kinds, and community"
## Type of question

**Are you asking about community best practices, how to implement a specific feature, or about general context and help around the operator-sdk?**

General questions on best practices:

Q: If we ever need to update the operator-sdk to whatever is latest, what is the recommended way to update our operators?

Q: For the add function, there is a TODO comment like the following:

[2019-11-11 18:33] steveyang95 commented on #2178
I found the following for updating operator-sdk, but the changes seem to be very manual:
https://github.com/operator-framework/operator-sdk/blob/master/doc/migration/version-upgrade-guide.md

If I was on operator-sdk version 0.9.x and if I want to go to 0.11.x, do I need to manually apply the changes for 0.10.x first and then go to 0.11.x?

[2019-11-11 19:39] mikkeschiren commented on #2177
@camilamacedo86 that extension is on one of them I am using, it thought that the project were responsible for it's own schemas? Or were could I find the schema?

[2019-11-11 19:44] camilamacedo86 commented on #2177
Hi @mikkeschiren,

The schemas are provided /defined by the k8s API. However, what is the best plugin to work with k8s API in Visual Studio is not really a operator-framework scope.  If you are using an extension/plugin for your IDE and it still not work well maybe is the version of the extension or plugin that does not support the version of Kube API used with.

So, I'd recommend you check it and

[2019-11-11 20:28] robbie-demuth commented on #2167
@camilamacedo86 - As Ajay mentioned, we've updated our project to 0.12.0 and are still hitting the same issue. It looks like two dependencies are declaring the same flag, but I'm unsure how to tell which ones they both are. We've also validated and/or tried all of your tips. Here's the output with `--debug` and `--verbose`

[code]

[2019-11-11 20:34] camilamacedo86 commented on #2178
Hi @steveyang95,

As you checked and found it you need to follow the steps in the [version upgrade doc](https://github.com/operator-framework/operator-sdk/blob/master/doc/migration/version-upgrade-guide.md).

Yes. I'd recommend you do step by step and keep your project updated in order to avoid tech debts as well.

The TODO in the code shows places that you might would like to add the code impleme

[2019-11-11 20:34] #2178 closed

[2019-11-11 20:47] robbie-demuth commented on #2167
@camilamacedo86 - So I did a bit more digging and was finally able to debug the end-to-end tests in Goland. It looks like there's a package in controller-runtime that defines the `kubeconfig` flag in its `init` function, which conflicts with the similarly named flag in the Operator SDK

`controller-runtime`
https://github.com/kubernetes-sigs/controller-runtime/blob/v0.3.0/pkg/client/config/config.

[2019-11-11 21:47] fabianvf commented on #1453
/remove-lifecycle rotten

[2019-11-11 22:00] joelanford commented on #2167
Hmm. We have [e2e tests in our CI system that run the e2e framework](https://github.com/operator-framework/operator-sdk/blob/master/hack/tests/subcommand.sh) and those tests are still passing. So something funky is going on here. Thanks for raising this issue! I'll dig into this.

[2019-11-11 22:52] mikkeschiren commented on #2177
I do not think k8 version is something to do with it - it is yaml files for ansible, used by the ansible operator that do no validate. To make it validate it need a schema for the ansible operator. Maybe I can write my own, it should not be so much to add for the offical ansible schemas.

[2019-11-11 23:07] camilamacedo86 commented on #2177
I see you are checking the files for example task.yml. Am I right?

So, if you would like to edit ansible files in the Visual Studio I'd recommend you looking for a plugin/extension for your IDE. See for example: https://marketplace.visualstudio.com/items?itemName=vscoss.vscode-ansible

Have you tried to check this one?

Also, perhaps see if someone already raise this question in https://github.co

[2019-11-12 00:00] hasbro17 commented on #2176
@srinivas-kandula I see you've opened up a corresponding issue on OLM as well.
I think that's the correct place to first have the discussion for your use case before we can add this functionality to the SDK.

We need to be clear on what the expected workflow is for requesting OLM or the catalog operator to create an arbitrary required resource like a configmap. Although I suspect that is out of sc

[2019-11-12 00:00] #2176 closed

[2019-11-12 00:45] hasbro17 commented on #419
The TLS cert generation pkg at `pkg/tls` is, for all intents and purposes, not supported anymore.
It was an early stage experimental effort to make it easier for operators to issue TLS certs to their applications but there are more complete solutions that exist like https://github.com/jetstack/cert-manager.

The SDK may support generating cert-manager manifests in the future.

[2019-11-12 00:45] #419 closed

[2019-11-12 01:02] estroz commented on #2173
@jianzhangbjz what do you mean by

Do you mean your operator is `Namespaced` scoped?

[2019-11-12 07:16] mikkeschiren commented on #2177
Thanks, but I already have the ansible extension - the problem is not ansible itself - it is that the schema used in the ansible operator does not validate against the existing schemas, like: https://github.com/SchemaStore/schemastore/blob/8af13cd3afa7ca67a1c246b38e19602c7e242783/src/api/json/catalog.json#L13

And then it does not validate, the editor itself (any editor) is more or less useless fo

[2019-11-12 09:35] camilamacedo86 commented on #2177
Hi @mikkeschiren,

Are you able to see errors when you check the [.travis](https://github.com/operator-framework/operator-sdk-samples/blob/master/ansible/memcached-operator/.travis.yml) file as well? If yes, so your question is: How to make  **Visual Studio** recognize YML files?

It is important to highlight that the operator-sdk and its Framework are NOT creating any new type of file and it will

[2019-11-12 09:37] mishindm commented on #2112
an addition - if the AnsiballZ_k8s.py is quite regular and  could be handled by watchdog script, e.g.
get the pids of all AnsiballZ_k8s.py processes
sleep 1minute
kill all the AnsiballZ_k8s.py processes still running
we have time to time non-regular (happens something like once a week) pattern like this
[code]
and there is no obvious solution how to deal with such scenarios as there is no defined

[2019-11-12 17:56] camilamacedo86 commented on #1787
Hi @estroz,

I believe that it is fixed in the 0.12 anyway. Am I right?

[2019-11-12 18:14] camilamacedo86 commented on #2164
I am closing this one as not reproducible.
However, please feel free to re-open if you think that is required.

[2019-11-12 18:14] #2164 closed

[2019-11-12 19:17] hasbro17 commented on #1393
/lifecycle frozen

[2019-11-12 19:53] estroz commented on #1787
@camilamacedo86 this was not necessarily fixed, as I haven't had time to implement caching to speed up generation. @buoto @RoeeShlomo have you upgraded SDK versions, and if you have, do you still experience slow `generate` commands?

[2019-11-12 19:53] estroz commented on #1787
/lifecycle frozen

[2019-11-12 20:18] camilamacedo86 opened #2182 "Removed export GO111MODULE=on from all places since it shows no longer required in 1.13"
## Feature Request

Removed export GO111MODULE=on from all places since it shows no longer required in 1.13

[2019-11-12 20:22] joelanford commented on #2182
@camilamacedo86 this was already completed in https://github.com/operator-framework/operator-sdk/pull/2135

[2019-11-12 20:29] camilamacedo86 commented on #2182
But it shows that still needed @joelanford : https://github.com/operator-framework/operator-sdk/search?q=GO111MODULE&unscoped_q=GO111MODULE

Or, is correct the SDK output the following error when it is off?

$ operator-sdk generate k8s
FATA[0000] using go modules requires GO111MODULE="on", "auto", or unset. More info: https://github.com/operator-framework/operator-sdk/blob/master/doc/user-guide.md

[2019-11-12 20:34] joelanford commented on #2182
Correct. If you look closely, you'll see that those usages are there to ensure that a user's GO111MODULE environment variable is setup correctly.

GO111MODULE _is_ required to be setup correctly. However in Go 1.13, the default behavior when it is unset or `auto` has changed. See https://github.com/golang/go/issues/31857 for details.

[2019-11-12 20:38] camilamacedo86 commented on #2182
Closing it. You are right if we do not set it, that's the same as auto.
Has no need for this task all done.

[2019-11-12 20:38] #2182 closed

[2019-11-12 20:54] camilamacedo86 opened #2183 "Add kube matrix version test in the CI to ensure its compatibilities"
## Feature Request

**Is your feature request related to a problem? Please describe.**
In order to ensure that the SDK will work well with a range of k8s versions, we need to test it in the CI.

**Describe the solution you'd like**

Does as it is done [here](https://github.com/kubernetes-sigs/kubebuilder/blob/master/.travis.yml#L19)

[2019-11-12 20:54] camilamacedo86 commented on #2183
c/c @estroz

[2019-11-12 21:03] clnperez opened #2184 "host operator sdk cli binary for Power (ppc64le)"
## Feature Request

**Is your feature request related to a problem? Please describe.**
no

**Describe the solution you'd like**
hosting a ppc64le binary

This PR got the helm image built for ppc64le: https://github.com/operator-framework/operator-sdk/pull/1533. Would it be possible to host that cli binary?

Happy to submit a PR if needed.

[2019-11-12 22:42] jmccormick2001 commented on #2184
https://github.com/operator-framework/operator-sdk/releases/download/v0.12.0/operator-sdk-v0.12.0-ppc64le-linux-gnu

is that it? or am I misunderstanding?

[2019-11-12 23:31] clnperez commented on #2184
hah, nope! someone was looking for it and I just assumed they'd done their due diligence. I should have done mine. thanks @jmccormick2001!

[2019-11-12 23:31] #2184 closed

[2019-11-13 00:35] camilamacedo86 opened #2186 "Error Failed to parse %v from environment. is faced when we start the Ansible Operators upgraded to 0.12"
## Bug Report

**What did you do?**
Upgrade the sample to use the SDK O.12

**What did you expect to see?**
All worked without issues

**What did you see instead? Under which circumstances?**
The following  error when we run the project
[code]
**Environment**
* operator-sdk version: 0.12

* go version: 1.13.4

* Kubernetes version information:

[code]
* Kubernetes cluster kind:minikube

* Are you

[2019-11-13 00:45] camilamacedo86 commented on #2186
c/c djzager

[2019-11-13 10:13] mikkeschiren commented on #2177
I still believe it is a schema problem - where is the schema for the ansible operator? I cant see how it is relevant for general questions for an editor or the ansible project - the schema of the file is not recognized, and therefor it does not validate, and you do not get stuff like autocompletion etc. Do you get autocompletion in the editors you tried? I have tried a bunch of editors. All have t

[2019-11-13 10:19] camilamacedo86 commented on #2177
HI @mikkeschiren,

Can you please check the [Ansible Sample](https://github.com/operator-framework/operator-sdk-samples/tree/master/ansible/memcached-operator) and le us know what and where you see an error as example in your IDE?

[2019-11-13 11:51] mikkeschiren commented on #2177
Same results:

![bild](https://user-images.githubusercontent.com/712838/68761274-0b7bd980-0614-11ea-820e-d001fc243712.png)

But if I am using the deprecated k8s_raw:

![bild](https://user-images.githubusercontent.com/712838/68761333-28181180-0614-11ea-80a5-13732778c4ea.png)

No warnings any more.

[2019-11-13 12:14] mikkeschiren commented on #2177
Anyhow, I guess this should be an ansible issue, will create issue overhere.

[2019-11-13 12:16] #2177 closed

[2019-11-13 12:32] camilamacedo86 commented on #2177
Hi @mikkeschiren,

Just to clarifies. See the same file open in the Intellij:

<img width="1080" alt="Screenshot 2019-11-13 at 12 23 25" src="https://user-images.githubusercontent.com/7708031/68763648-d91cad00-0610-11ea-86f0-fca2cdace894.png">

So, how this behaviour cannot be something specific of Visual Studio IDE and/or extensions used on it? I hope that it can clarify. I'd you suggest raise an

[2019-11-13 12:57] camilamacedo86 commented on #1702
The same error still occurring with 0.12 as follows. To reproduce is just required to clone the Go Memcahced sample and run `operator-sdk up local` for it.

[2019-11-13 13:21] djzager commented on #2186
Looking into this today.

[2019-11-13 13:22] djzager commented on #2186
One question. Are either of these environment variables being set?`WORKER_MEMCACHED_CACH_EXAMPLE_COM` or `ANSIBLE_VERBOSITY_MEMCACHED_CACHE_EXAMPLE_COM`

[2019-11-13 13:25] djzager commented on #2186
Looking at the code for maxWorkers (same thing for the ansible verbosity):

[code]

Looks like we are trying to get the environment variable and simply returning the default when we can't convert it to an `int`. So, if the environment variable is unset...I think you would see this message.

Is there a value add in additionally checking if the environment variable is set?

[2019-11-13 13:41] camilamacedo86 commented on #2186
Hi @djzager,

See that default values are attributed to it here:

https://github.com/operator-framework/operator-sdk/blob/d94ad3ea7d1547fdc2b2312e42da3455168d1e43/pkg/ansible/flags/flag.go#L44-L57

The problem is that after #2087 the code impl is face an issue to parse them:

So, IHMO following what we need to change here:
- The logs have been done as info when should be errors.  See : {"level":"i

[2019-11-13 14:05] djzager commented on #2186
I think there may be a bit of a misunderstanding about what is happening here. Let's start with the log message that you shared.

[code]

Going back to the code:

[code]

and:

[code]

Specifically, `log.Info("Failed to parse %v from environment. Using default %v", envVar, defValue) `. Is saying that we couldn't parse the `envVar` (don't care why we can't parse it, maybe it's not there, maybe the

[2019-11-13 14:23] joelanford commented on #2186
There _is_ one bug here.

The log line:

[code]

is not correct (it doesn't support `Printf` style formatting). Rather, the [signature](https://github.com/go-logr/logr/blob/a1ebd699b1950beb1da0752cbb5559662018f798/logr.go#L124-L130) is:

[code]

[2019-11-13 14:25] jmrodri commented on #2186
@camilamacedo86 @djzager the logic is correct. This is behaving exactly as expected. The log should be info because it is not a failure but information. We failed to see or parse anything from the environment variable. But if you did not set them then you can ignore this message and move on. If you did set them this should alert you that this might be your problem.

The failure is really what @joe

[2019-11-13 14:36] camilamacedo86 commented on #2186
Hi @jmrodri. @joelanford @djzager,

I understood what is happening now. Thank you for the clarification.
However, the text `Failed to parse %v from environment. ` -> It is not good for the users.
In POV it leads to us believe that something is wrong when is not.

The goal is just to inform that the default values were used because not ENV VARs were found. So, I  would suggest the msg be changed to

[2019-11-13 14:42] jmrodri commented on #2186
Okay fair enough. I suggest we use the original message I used when I wrote the first iteration of `maxWorkers`:
[code]

[2019-11-13 14:44] jmrodri commented on #2186
So the fix for this is:
1) Use an fmt.Sprintf inside the `log.Info`
2) use a more user friendly message for the worker parsing like: `"Using default value for workers %d", defvalue"`
3) use a more user friendly message for ansible verbosity like : `"Using default value for ansible verbosity %d", defValue"`

[2019-11-13 14:53] bharathi-tenneti commented on #2186
/assign @bharathi-tenneti

[2019-11-13 15:37] muralov commented on #1531
@joelanford I see that @ssalaues have this issue too. Do you still need sample helm chart from me?

[2019-11-13 16:03] joelanford commented on #1531
@muralov I think @ssalaues's issue is different because the release manifest changes depending on whether it's an install or an upgrade. That breaks the helm-operator's assumption that the chart is idempotent. If I understand correctly, @ssalaues did not have an issue with non-deterministic release manifest sorting.

If you have a reproducer, that would be super helpful.

As an aside, we're workin

[2019-11-13 17:32] joelanford opened #2189 "Revert prometheus/client_golang dependency to v0.9.x instead of v1.0.0"
See https://github.com/kubernetes-sigs/controller-runtime/issues/660

[2019-11-13 17:42] joelanford commented on #2189
Looks like this will be more difficult for us because `kube-state-metrics` also depends on `prometheus/client_golang@v1.0.0`.

`kube-state-metrics` was bumped to `v1.7.2` in #1943. And it appears that there might be compatibility issues between `kube-state-metrics` `v1.6.0` and Go 1.13. So we may not be able to solve this without undoing quite a bit.

Users who need compatibility with `k8s.io/comp

[2019-11-13 20:19] CharlyF commented on #2042
I faced this issue using the wrong type in my `*_types.go` file.
With the operator-sdk 0.9.0, this:
[code]
Would work, but as I bumped to 0.12.0:
I saw the error:
[code]
It was wrong from the start, but it took me some time to find it out, give the error message.

[2019-11-13 20:49] estroz commented on #2042
@CharlyF thanks for sharing your experience; the lack of errors being surfaced is a bad experience for sure. Ensuring `generate` commands surface errors correctly is being worked on.

[2019-11-13 21:36] geerlingguy commented on #1453
One other suggestion: could we use the yaml callback plugin for a little nicer output? (see: https://www.jeffgeerling.com/blog/2018/use-ansibles-yaml-callback-plugin-better-cli-experience)

[2019-11-13 22:26] camilamacedo86 commented on #2154
Hi @linuxbsdfreak,

Shows that it is sorted out, so I am closing this one.
However, please feel free to re-open if you see that is required.

[2019-11-13 22:26] #2154 closed

[2019-11-13 23:45] jthomperoo opened #2193 "Use imported struct in OpenAPI definition"
## Type of question

How to implement a feature/possible bug?.

## Question

**What did you do?**
I updated my CRD `_types.go` file with an imported type, e.g:
[code]

This object is imported from `autoscaling.CrossVersionObjectReference`:
[code]
As you can see it has JSON struct tags.

**What did you expect to see?**
I expected the CRD YAML generated by `operator-sdk generate k8s` and `operator-s

[2019-11-14 08:07] linuxbsdfreak commented on #2154
@camilamacedo86 . You can close it out. We have verified after upgrading and it works.

[2019-11-14 11:36] camilamacedo86 opened #2195 "ignore"
... ignore

[2019-11-14 11:37] #2195 closed

[2019-11-14 19:18] camilamacedo86 opened #2196 "Add golangci-lint Make target and call in the CI"
## Feature Request

**Is your feature request related to a problem? Please describe.**
Improve/ensure the quality of the code and its maintenance ability.

**Describe the solution you'd like**
Add linter to the project. Following what is expected to get done:

- Add Makefile target to call linter
- Add linter in the CI ( but it should not make the CI fails for now )
- The linter that should be add

[2019-11-14 19:26] camilamacedo86 opened #2197 "Add Makefile target for Coveralls and call in CI"
## Feature Request

**Is your feature request related to a problem? Please describe.**
Improve/ensure the quality of the code and its maintenance ability.

**Describe the solution you'd like**
Add Coveralls to the project. Following what is expected to get done:

- Add Makefile target to call Coveralls
- Add Coveralls in the CI ( but it should not make the CI fails for now )

See an example of it

[2019-11-14 19:36] jmrodri commented on #2196
We don't want to do the foreach because it won't return a non zero exit code and near impossible to fail the build. I had to fix that in our broker Makefile. https://github.com/openshift/ansible-service-broker/commit/cc9798c432dca0177d4ed2c398eeb1aea6e1e3e6

[2019-11-14 20:47] atinsood opened #2198 "shortcircuiting reconcile loop in ansible"
## Question

How do you accomplish a scenario like this in ansible? I have a secret(potential containing db credentials) that needs to be up, before my controller starts installing the product. In golang I would assume you would keep throwing an error in the reconcile loop and have the reconcile loop run again. How do you accomplish a similar flow in ansible?

This is what you could have done in t

[2019-11-14 21:06] muralov commented on #1531
@joelanford thanks for your reply! It was for me a bit difficult to reproduce, then somehow I gave up, however, I will try once more.

Let me try with Helm v3 CLI for `helm --dry-run`.  I will aslo try with a build of the branch [2080](https://github.com/operator-framework/operator-sdk/pull/2080).

[2019-11-15 00:29] jmazzitelli commented on #1658
We still want this. I believe work is ongoing to implement this so we should /remove-lifecycle stale.

[2019-11-15 06:19] dubauski opened #2200 "Need an example of spec.icon usage in a CSV file"
## Type of question

Help around operator-sdk and best practices

## Question
How do I provide correct value for spec.icon in a CSV file? Are there additional fields that need to be set for it to work? Please provide a working example to follow.

**What did you do?**
I've searched for hours for any sample on how spec.icon field is used and found none. The only piece of documentation found is on ht

[2019-11-15 06:55] dubauski commented on #2200
I was digging around for any clue about proper usage and found reference to

spec.icon: Base64 encoded image. E.g. cat icon.png | Base64   or   base64 -w 0 icon.png

I've tried setting spec.icon value to output of the above cat command but it didn't work.

[2019-11-15 14:35] atinsood commented on #2198
@camilamacedo86 this is more of a question on whether such a behavior even exists in the first place. if not I can take a stab at the code and see what would it take to implement this if it makes sense to implement this,

[2019-11-15 15:18] atinsood commented on #2036
@huizengaJoe not yet, but I am planning to. will update the issue as soon as I try that out.

[2019-11-15 15:22] atinsood commented on #2198
actually this is what I tried ```- name: Search for secrets
  register: secret_list
  k8s_facts:
    kind: Secret
    namespace: '{{ meta.namespace }}'
    name: 'missing-secret-xxx'

- name: assert that secret was found
  assert:
   that:
     - secret_list.resources | length > 0
   fail_msg: " {{secret_list | length }} must be greater than 0"
   success_msg: "{secret_list | length }} was greater

[2019-11-15 17:00] dubauski commented on #2200
Never mind found it: https://github.com/operator-framework/operator-lifecycle-manager/blob/4197455/Documentation/design/building-your-csv.md

Icon: a base64 encoded image of the Operator logo or the logo of the publisher. The base64data parameter contains the data and the mediatype specifies the type of image, eg. image/png or image/svg.

Example:

   icon:
   - base64data: <base64-encoded-data>

[2019-11-15 17:00] #2200 closed

[2019-11-15 17:50] geerlingguy commented on #2168
Added PR (see above).

[2019-11-15 20:51] christianh814 commented on #1234
I got asked this question at a workshops and it's actually a valid one. There should be SOME sort of default readiness/health check for an ansible operator

[2019-11-15 21:17] geerlingguy opened #2204 "Websocket requests are not proxied correctly in Ansible-based operators"
## Bug Report

**What did you do?**

I am trying to an Ansible `k8s_exec` module, which allows running the equivalent of `kubectl exec` commands to exec a command on a Pod via Ansible through the Python Kubernetes library. This allows me to write a task like:

[code]

Instead of installing `kubectl` on my operator image (added `COPY --from=lachlanevenson/k8s-kubectl:v1.16.2 /usr/local/bin/kubectl

[2019-11-15 21:32] geerlingguy commented on #2204
Note that using `kubectl exec` works fine inside the operator, even if I set the `KUBECONFIG` environment variable to the same as the ansible tasks are using with:

[code]

[2019-11-16 05:51] #1550 closed

[2019-11-16 15:46] jthomperoo commented on #2193
Hi, updating my operator-sdk to `v0.12.0` fixed this for me, it is now generating the YAML that I expected. Sorry I didn't try that before opening this issue, I'm happy to close this unless you'd rather I keep it open to track it?

[2019-11-17 23:57] #1514 closed

[2019-11-18 13:24] avarf commented on #1874
Does this issue solved?

[2019-11-18 17:05] #2196 closed

[2019-11-18 17:07] camilamacedo86 commented on #2196
Hi @jmrodri I think the comment is in the wrong issue? Am I right?

[2019-11-18 17:25] camilamacedo86 commented on #2204
Hi @geerlingguy,

Before any further analyse and check could you please check it with the latest version of SDK. I mean, could you upgrade your project to use SDK 0.12? Or let us know if you are able to reproduce this scenario using the [Memcached sample](https://github.com/operator-framework/operator-sdk-samples/tree/master/ansible/memcached-operator)?

Also, I checked that:

So, note that the py

[2019-11-18 17:57] asmacdo commented on #1874
@avarf the patch isn't merged yet, but if you would like to help test it, the the PR is 2210.

[2019-11-18 18:00] #1504 closed

[2019-11-18 22:22] camilamacedo86 opened #2212 "Enable linter unparam and fix issues"
## Feature Request

This issue is for we track the need to enable  `--enable=unparam `. See: https://github.com/operator-framework/operator-sdk/blob/master/hack/go-linter.sh#L13

We should do a PR with the check enabled and its fixes. Following the current errors.

[code]

[2019-11-18 22:25] camilamacedo86 opened #2213 "Enable `structcheck ` in the linter and fix issues"
## Feature Request

This issue is for we track the need to enable  `--enable= structcheck `. See: https://github.com/operator-framework/operator-sdk/blob/master/hack/go-linter.sh#L13

We should do a PR with the check enabled and its fixes. Following the errors.

[code]

[2019-11-18 22:26] camilamacedo86 opened #2214 "Enable `varcheck ` in the linter and fix issues"
## Feature Request

This issue is for we track the need to enable  `--enable= varcheck `. See: https://github.com/operator-framework/operator-sdk/blob/master/hack/go-linter.sh#L13

We should do a PR with the check enabled and its fixes. Following the errors.

[code]

[2019-11-18 22:29] camilamacedo86 opened #2215 "Enable `ineffassign ` in the linter and fix issues"
## Feature Request

This issue is for we track the need to enable  `--enable= ineffassign `. See: https://github.com/operator-framework/operator-sdk/blob/master/hack/go-linter.sh#L13

We should do a PR with the check enabled and its fixes. Following the current errors.

[code]

[2019-11-18 22:30] camilamacedo86 opened #2216 "Enable `misspell ` in the linter and fix issues"
## Feature Request

This issue is for we track the need to enable  `--enable= misspell `. See: https://github.com/operator-framework/operator-sdk/blob/master/hack/go-linter.sh#L13

We should do a PR with the check enabled and its fixes.  Following the current errors.

[code]

[2019-11-18 22:30] camilamacedo86 opened #2217 "Enable `interfacer ` in the linter and fix issues"
## Feature Request

This issue is for we track the need to enable  `--enable= interfacer `. See: https://github.com/operator-framework/operator-sdk/blob/master/hack/go-linter.sh#L13

We should do a PR with the check enabled and its fixes. Following the current errors.

[code]

[2019-11-18 22:30] camilamacedo86 opened #2218 "Enable `dupl ` in the linter and fix issues"
## Feature Request

This issue is for we track the need to enable  `--enable= dupl `. See: https://github.com/operator-framework/operator-sdk/blob/master/hack/go-linter.sh#L13

We should do a PR with the check enabled and its fixes. Following the current erro:

[code]

[2019-11-18 22:33] camilamacedo86 opened #2219 "Enable `errcheck ` in the linter and fix issues"
## Feature Request

This issue is for we track the need to enable  `--enable= errcheck `. See: https://github.com/operator-framework/operator-sdk/blob/master/hack/go-linter.sh#L13

We should do a PR with the check enabled and its fixes. Following the current errors.

[code]

[2019-11-18 22:33] camilamacedo86 opened #2220 "Enable `deadcode ` in the linter and fix issues"
## Feature Request

This issue is for we track the need to enable  `--enable= deadcode `. See: https://github.com/operator-framework/operator-sdk/blob/master/hack/go-linter.sh#L13

We should do a PR with the check enabled and its fixes. Following the current errors.

[code]

[2019-11-18 22:34] camilamacedo86 opened #2221 "Enable `maligned ` in the linter and fix issues"
## Feature Request

This issue is for we track the need to enable  `--enable= maligned `. See: https://github.com/operator-framework/operator-sdk/blob/master/hack/go-linter.sh#L13

We should do a PR with the check enabled and its fixes. Following the current errors.

[code]

[2019-11-18 22:34] camilamacedo86 opened #2222 "Enable `gosec` in the linter and fix issues"
## Feature Request

This issue is for we track the need to enable  `--enable= gosec `. See: https://github.com/operator-framework/operator-sdk/blob/master/hack/go-linter.sh#L13

We should do a PR with the check enabled and its fixes. Following the current errors.

[code]

[2019-11-18 22:35] camilamacedo86 opened #2223 "Enable `goconst ` in the linter and fix issues"
## Feature Request

This issue is for we track the need to enable  `--enable= goconst `. See: https://github.com/operator-framework/operator-sdk/blob/master/hack/go-linter.sh#L13

We should do a PR with the check enabled and its fixes. Following the current errors.

[code]

[2019-11-18 22:35] camilamacedo86 opened #2224 "Enable `lll ` in the linter and fix issues"
## Feature Request

This issue is for we track the need to enable  `--enable= lll `. See: https://github.com/operator-framework/operator-sdk/blob/master/hack/go-linter.sh#L13

We should do a PR with the check enabled and its fixes. Following the current errors.

[code]

[2019-11-18 22:36] camilamacedo86 opened #2225 "Enable `goimports ` in the linter and fix issues"
## Feature Request

This issue is for we track the need to enable  `--enable= goimports `. See: https://github.com/operator-framework/operator-sdk/blob/master/hack/go-linter.sh#L13

We should do a PR with the check enabled and its fixes. Following the current errors.

[code]

[2019-11-18 22:36] camilamacedo86 opened #2226 "Enable `gocyclo ` in the linter and fix issues"
## Feature Request

This issue is for we track the need to enable  `--enable= gocyclo `. See: https://github.com/operator-framework/operator-sdk/blob/master/hack/go-linter.sh#L13

We should do a PR with the check enabled and its fixes. Following the current errors.

[code]

[2019-11-18 22:37] camilamacedo86 opened #2227 "Enable `golint ` in the linter and fix issues"
## Feature Request

This issue is for we track the need to enable  `--enable= golint `. See: https://github.com/operator-framework/operator-sdk/blob/master/hack/go-linter.sh#L13

We should do a PR with the check enabled and its fixes. Following the current errors.

[code]

[2019-11-18 22:37] camilamacedo86 commented on #2226
May this one need to be done per parts.

[2019-11-18 23:59] estroz commented on #2193
@jthomperoo not a problem! I'll close this out.

[2019-11-18 23:59] #2193 closed

[2019-11-19 15:13] jdockter opened #2235 "operator-sdk scorecard exit status not honored"
## Bug Report

Per the operator-sdk scorecard documentation
https://github.com/operator-framework/operator-sdk/blob/master/doc/test-framework/scorecard.md#exit-status
[code]

**What did you do?**
Ran the following commands on operator built with operator-sdk, specifically passing in namespace value that is not present so test would fail, expecting to see return code of 1 but got 0.

Scenario 1
[co

[2019-11-19 15:20] camilamacedo86 commented on #2235
c/c @jmccormick2001

[2019-11-19 15:46] LuciferInLove opened #2237 "ansible operator failed when json_query filter is used"
## Bug Report

**What did you do?**
I have ansible operator generated with:
[code]

I've created the role with json_query filter in some steps. When I run ansible-operator I've got the error.

**What did you expect to see?**
Steps with json_query filter must be succeeded.

**What did you see instead? Under which circumstances?**
I see the error in operator logs:
[code]

**Environment**
* operator-

[2019-11-19 16:02] camilamacedo86 commented on #2237
Hi @LuciferInLove,

Are you using the SDK 0.12 for a new project generated with or a project that you upgraded to use it?

[2019-11-19 16:09] camilamacedo86 commented on #2237
It is using python 3 and pip3. See: https://github.com/operator-framework/operator-sdk-samples/blob/master/ansible/memcached-operator/.travis.yml#L5

Are you with python 3 and pip3 installed in your env?

[2019-11-19 17:47] jdockter opened #2239 "osdk-scorecard yaml migration"
## Type of question
using osdk-scorecard.yaml with operator-sdk scorecard

## Question
Is there a full mapping between passing flags and leveraging osdk-scorecard.yaml
https://github.com/operator-framework/operator-sdk/blob/master/doc/sdk-cli-reference.md#scorecard
vs
https://github.com/operator-framework/operator-sdk/blob/master/doc/test-framework/scorecard.md#config-file

**What did you do?**
Ti

[2019-11-19 18:17] ricardozanini commented on #2118
Hi! I just came up with the same problem related to the generated CRDs to have this block:

[code]

The only way to workaround this is to remove it manually every time? :disappointed:

We have an automate process that generates the artefacts for us, having to hack into the generated CRD will be too troublesome.

[2019-11-19 19:23] LuciferInLove commented on #2237
Yes to both questions, but I'll check it out in detail

[2019-11-19 21:49] flickerfly opened #2242 "Release lock when ansible operator pod is deleted"
## Feature Request

**Is your feature request related to a problem? Please describe.**
When I delete a pod from my ansible operator, the new pod comes up and finds a lock in place by the old pod. It seems to wait for an expiration timer or perhaps detects the other is gone before it then picks up and moves on with its tasks. This causes a small delay in processing.

**Describe the solution you'd l

[2019-11-20 03:29] joelanford commented on #2235
@jdockter This feature and the associated docs were merged into `master` more recently than the `v0.12.0` release. To try out the documented exit code functionality, you can build `operator-sdk` from source on the `master` branch.

[2019-11-20 03:29] #2235 closed

[2019-11-20 03:47] joelanford commented on #2242
@flickerfly The leader for life approach to leader election used by the ansible operator makes use of owner references and kubernetes garbage collection to guarantee that the lock is deleted only after the leader pod has been deleted. This approach prevents any possibility of split brain, where 2 pods are able to be leaders simultaneously.

It seems like there are two things at play that determine

[2019-11-20 03:53] joelanford commented on #2239
@jdockter If you're using `v1alpha2` of scorecard, you should be able to use the `--selector` flag to pass a kubernetes-style label selector to choose which tests to run (e.g. `--selector="suite=basic"`)

[2019-11-20 06:18] david-shepard opened #2244 "Ansible logs when running operator-sdk local"
## Type of question

Hi, when I run `operator-sdk local` with an operator of `type=ansible` it looks like no matter what logging level I set - you can't see the actual ansible logs? (ie. the contents of a [debug msg](https://docs.ansible.com/ansible/latest/modules/debug_module.html)) I'm only able to see the logs for the `operator-sdk` go program that is calling `ansible-runner`

## Question

**Wh

[2019-11-20 07:02] LuciferInLove commented on #2237
When I run
[code]
I see only building of docker container image.

Dockerfile generated by operator-sdk looks like:
[code]

[2019-11-20 07:07] LuciferInLove commented on #2237
All are working when I add jmethpath installing in Dockerfile manually

[2019-11-20 11:33] camilamacedo86 commented on #2237
HI @LuciferInLove,

Could you please clarfies the steps performed in `All are working when I add jmethpath installing in Dockerfile manually`? What do you mean with?  Could you please describe the steps?

[2019-11-20 13:59] flickerfly commented on #2242
Thanks for that breakdown and teaching me a few things. (Is this documented somewhere I missed? Maybe I can write that up.) I'll look into what #1 looks like. Perhaps my expectations are just too high and the delay is appropriate to avoid a split brain.

[2019-11-20 14:41] LuciferInLove commented on #2237
Hi. When I run
[code]
I see such files tree:
[code]
Then I edit build/Dockerfile:
[code]
Then I run `operator-sdk build my_image` and deploy this operator image in kubernetes.
All are working great in this case.

[2019-11-20 16:22] #1305 closed

[2019-11-20 16:22] #1874 closed

[2019-11-20 16:49] asmacdo commented on #1874
BZ clone https://bugzilla.redhat.com/show_bug.cgi?id=1749620

[2019-11-20 16:50] asmacdo commented on #1305
BZ clone: https://bugzilla.redhat.com/show_bug.cgi?id=1749620

[2019-11-20 16:52] jdockter opened #2245 "Operator courier future"
## Type of question

operator-courier

## Question

In reading this proposal, https://github.com/operator-framework/operator-sdk/blob/master/doc/proposals/openshift-4.3/operator-testing-tool.md#story-3---common-validation, it sounds like the 'operator-courier verify' functionality is going to be rolled into a new `operator-sdk scorecard --bundle ./my-operator' command.  Is that correct?  If so, wi

[2019-11-20 17:09] jmccormick2001 commented on #2245
the plan is to have a 'bundle validation' test in scorecard, a static validation test, where you can specify a bundle path and it will call a common validation lib to inspect the bundle contents and report back any validation errors.

[2019-11-20 19:45] camilamacedo86 commented on #2245
@joelanford would you like to add some input here to help us to close this one.

[2019-11-20 19:56] camilamacedo86 commented on #2244
Hi @david-shepard,

To check the ansible logs you need to check its container. Following an explanation.

- Use the following command to check the operator logs.

- Use the following command to check the Ansible logs.

Did you check the logs in the ansible one?

[2019-11-20 20:53] camilamacedo86 commented on #2239
Is @jdockter the above answer what you are looking for? If not, could you please let us know what we can do to help you with?

[2019-11-20 20:55] camilamacedo86 commented on #2237
Really thank you for your info. It shows an issue.  I am looking on that.

[2019-11-20 21:01] LuciferInLove commented on #2237
@camilamacedo86 , thank you too)

[2019-11-20 21:07] david-shepard commented on #2244
I'm running `operator-sdk` in **local** mode so no containers are being created

[2019-11-20 21:34] camilamacedo86 commented on #2244
Hi @david-shepard,

I will create a POC and do a few tests and I will answer you as soon as possible.

[2019-11-20 23:34] jdockter commented on #2239
@camilamacedo86 @joelanford thanks that worked both for --selector="suite=basic" and --selector="suite=olm".  Two follow-on questions...
1) when the `olm-deployed` option is leveraged what is the scorecard actually installing to the cluster?
2) can `olm-deployed` option be passed as a flag on the command line or do I have to toggle that on or off in the osdk-scorecard.yaml?

[2019-11-21 00:04] camilamacedo86 commented on #2239
Hi @jdockter,

Let's see if I can help you.

Ref.: https://github.com/operator-framework/operator-sdk/blob/master/doc/test-framework/scorecard.md#running-the-scorecard-with-an-olm-managed-operator

Usually, you will use as a flag in the command. However, note that for the plugins config in the yaml file you may would like to use the bool attribute `olm-deployed`.

<img width="953" alt="Screenshot

[2019-11-21 01:35] camilamacedo86 opened #2251 "Unable to run `operator-sdk up local` when it has watches"
## Bug Report

**What did you do?**
Try to run `operator-sdk up local` to test the ansible [Memcached sample](https://github.com/operator-framework/operator-sdk-samples/tree/master/ansible).

**What did you expect to see?**
Able to run the operator locally.

**What did you see instead? Under which circumstances?**

[code]
**Environment**
* operator-sdk version: master and 0.12.0

* go version: 0.1

[2019-11-21 01:36] camilamacedo86 commented on #2251
c/c @fabianvf

[2019-11-21 02:43] camilamacedo86 commented on #2237
Just to register I could reproduce this one by using the Memcached sample. Following the error:

[code]

[2019-11-21 03:11] camilamacedo86 opened #2253 "[tech-debt] - calling yaml.load() without Loader=... is deprecated"
Improve Ansible code in order to remove the deprecation.

[code]

[2019-11-21 04:54] joelanford commented on #2251
@camilamacedo86 This is working as expected. The `watches.yaml` is setup to work out-of-the box for container builds, but requires some manual changes with `up local` (same for the helm operator, in fact).

See:
* Ansible: https://github.com/operator-framework/operator-sdk/blob/master/doc/ansible/user-guide.md#2-run-outside-the-cluster
* Helm: https://github.com/operator-framework/operator-sdk/blo

[2019-11-21 04:54] #2251 closed

[2019-11-21 05:01] joelanford commented on #2245
The plan is to eventually phase out operator courier when its functionality exists elsewhere. As @jmccormick2001 mentioned, we'll soon have support for the bundle validation in the SDK. In addition the SDK and OLM projects will be working together to introduce functionality for building a bundle image, which (I believe) can then be pushed to a container registry like any other container image. Sco

[2019-11-21 11:43] depauna commented on #2112
So we have the exact same problem. Any update on this?

[2019-11-21 12:06] #1218 closed

[2019-11-21 14:18] jdockter commented on #2239
@camilamacedo86 yes I have read those documents before but it wasn't clear to me what the scorecard was actually doing when olm-deployed is true, is the scorecard just applying the CR to the cluster?  how is it different under the covers from olm-deployed false?

The second question is can I pass the olm-deployed boolean of true or false on the command line vs osdk-scorecard.yaml, something like `

[2019-11-21 14:26] camilamacedo86 commented on #2239
Hi @jdockter,

It will apply the [Cluster Service Version (CSV)](https://github.com/operator-framework/operator-lifecycle-manager/blob/master/doc/design/building-your-csv.md) in the cluster which is the file/config required to integrate your project with OLM.

If you do not use `--olm-deployed` then it will be false.  If you use it will be true. However, if you use it with =false also probably wil

[2019-11-21 15:30] #2223 closed

[2019-11-21 18:39] asmacdo commented on #1874
Demo of bugfix: https://www.youtube.com/watch?v=qTzdAYWPdCQ

[2019-11-21 18:39] asmacdo commented on #1305
Demo of bugfix: https://www.youtube.com/watch?v=qTzdAYWPdCQ

[2019-11-21 18:57] david-shepard commented on #2244
There is no docker containers created when you do `operator-sdk up local`, docker doesn't even have to be running on your local machine. These [docs](https://github.com/operator-framework/operator-sdk/blob/master/doc/ansible/dev/developer_guide.md#testing-an-ansible-operator-locally) help explain.

Yes the actual debug tasks output (`test!!!`) should be displayed

[2019-11-21 19:53] camilamacedo86 commented on #2244
HI @david-shepard,

My understanding by checking the [doc](https://github.com/operator-framework/operator-sdk/blob/master/doc/ansible/dev/developer_guide.md#testing-an-ansible-operator-locally) point out by you is that when you run the operator locally you will not see the ansible logs outputted just the operators one.  See:

<img width="699" alt="Screenshot 2019-11-21 at 19 36 09" src="https://us

[2019-11-21 20:02] david-shepard commented on #2244
I'm pretty sure in local mode it **still** receives events from ansible (via [ansible-runner-http](https://github.com/ansible/ansible-runner-http))

I updated this in the original issue:

[2019-11-21 20:41] fabianvf commented on #2244
Initially we did output Ansible stdout in the logs, but it basically just produced an unreadable blob of json serialized text, which is why it was removed. We definitely plan to revisit the logging for Ansible, we'll have to add logic to massage the output into a format that's more legible in the context of the operator logs. Tweaking the callback plugin may also help produce a more parseable outp

[2019-11-22 00:08] #1516 closed

[2019-11-22 12:47] #2237 closed

[2019-11-22 13:15] #2197 closed

[2019-11-22 14:43] #2091 closed

[2019-11-22 17:06] camilamacedo86 opened #2257 "Commands using sed the shell scripts do not work for Mac OS"
## Bug Report

**What did you do?**
For example, try to run make test-sanity in a mac os x.

**What did you expect to see?**
The test be executed with success

**What did you see instead? Under which circumstances?**
An error because of the sed

**Possible Solution**
Check if is mac or Linux and then exec accordingly the command. Or change the implementation in order to not require sed usage.

**A

[2019-11-22 17:07] camilamacedo86 commented on #2257
c/c @estroz @joelanford

[2019-11-22 17:10] joelanford commented on #2257
@camilamacedo86 Yeah, that's a known issue, but I'm not sure every single one of our `sed` usages is broken. For this particular issue, which sed invocation is erroring out?

[2019-11-22 17:13] joelanford commented on #2257
Also, I sometimes use a Mac and I've gotten around this problem by installing GNU sed from homebrew. The version of sed shipped with Mac OS is super old.
[code]

[2019-11-22 17:23] camilamacedo86 commented on #2257
Thanks @joelanford it does not work. I know that we have this issue with some places .. but would be nice to find a better solution which make work in both. For example, now I am unable to run the test sanity without changing it manually :-(

[code]

[2019-11-22 18:24] joelanford commented on #2257
Submit a PR with the manual change you made to get it to work on Mac :slightly_smiling_face:

[2019-11-22 20:20] #2215 closed

[2019-11-22 21:26] fabianvf commented on #2112
I've not been able to replicate this yet, though I did just get reminded of a similar bug that was filed in the ansible/ansible repo: https://github.com/ansible/ansible/issues/55554 , which unfortunately also doesn't have a resolution yet. Is anyone able to reliably replicate this in a local environment, and if so could you post the steps?

[2019-11-22 23:28] jesperhansen17 commented on #2227
Hi @camilamacedo86, can I have a look at this one?

[2019-11-24 16:57] ktreese opened #2262 "Support for ansible-vault"
## Feature Request

**Is your feature request related to a problem? Please describe.**
I have an issue when I need to store sensitive data within the confines of the Ansible operator.  At present, there isn't a means to do so using native Ansible features like ansible-vault.

**Describe the solution you'd like**
We use ansible-vault to encrypt secrets within the confines of an ansible playbook.  T

[2019-11-25 09:28] fitex commented on #2112
We have the same issue on all our OpenShift 3.11 and 4.1 clusters with operators using an ansible role. Our operators are namespaced.

The operator freezes at a random task in the role and we see that memory usage stays flatlined at his peak (Grafana). It can happen a few minutes after the operator was deployed, but also after two days. Eventually, it always freezes in all namespaces.
We tried to

[2019-11-25 09:30] fitex commented on #2112
<img width="996" alt="image" src="https://user-images.githubusercontent.com/36197042/69528463-8c20cb00-0f6e-11ea-9a52-44dfbe2aa7f3.png">

[2019-11-25 09:31] camilamacedo86 commented on #2227
Hi @jesperhansen17,

Thank you for try to would like to collab with. However. this one has a PR already to address these needs. See https://github.com/operator-framework/operator-sdk/pull/2240 which is liked with.

But see that we have many issues/tasks that you can collab. See here: https://github.com/operator-framework/operator-sdk/issues?q=is%3Aopen+label%3A%22help+wanted%22+no%3Aassignee

[2019-11-25 10:43] I-am-Dishon commented on #2224
@camilamacedo86  i am willing to try this, could you assign it to me

[2019-11-25 12:15] jesperhansen17 commented on #2227
Hi @camilamacedo86,

I see, I will check if there is any good first issue that I can have a look at.

How is the process, you pick a Issue and ask if I can do it and I will be assigned to it?
Or how is the process?

[2019-11-25 12:21] jesperhansen17 commented on #2218
@camilamacedo86

I would like to give this a go.

[2019-11-25 13:48] camilamacedo86 commented on #2227
Hi @jesperhansen17,

You can work on in any issue which has nobody assigned to it or has not a PR done for it already. I'd ask for you assign the issue to yourself when you do the PR to make easier to others identify it.

[2019-11-25 13:52] camilamacedo86 commented on #2224
I believe that you can assign to yourself by make a comment as `/assign <youruser>`.

[2019-11-25 14:30] I-am-Dishon commented on #2224
/assign @I-am-Dishon

[2019-11-25 16:45] geerlingguy commented on #1770
Seconding the reopening of this issue until docs are added for this feature.

[2019-11-25 16:45] fabianvf commented on #1770
We should both add more documentation for this, and add a way to disable it to the watches.yaml

[2019-11-25 16:56] #2221 closed

[2019-11-25 17:15] camilamacedo86 commented on #2222
We decided not to move forward with this one.

[2019-11-25 17:15] #2222 closed

[2019-11-25 17:17] jdockter commented on #2239
@camilamacedo86 okay thanks, closing.

[2019-11-25 17:17] #2239 closed

[2019-11-25 19:31] camilamacedo86 commented on #2183
We decide not to move forward in this way with because for us it will take too long to run all tests and we are studying to do a cron job to ensure it.

[2019-11-25 19:32] #2183 closed

[2019-11-25 21:02] paterczm opened #2265 "client.Get by types.NamespacedName in namespace scope works only in the namespace where the operator is running"
Hello!

I'm observing a strange behavior when getting resources by name and namespace. Please consider:

A snippet from a controller:
[code]

Those limit resources do exist:

[code]

Running the operator in paas-operators namespace:
[code]

None of the limits were found as expected.

Running the operator in another-example-team namespace:
[code]

As you can see, one limit object was found as expec

[2019-11-25 21:38] camilamacedo86 commented on #2265
When we run `operator-sdk local` we are running the operator out of the cluster and the operator scope will be namespaced where by default it will be in the namespace where the operator is deployed.

However, in the cluster, the operator will just be allowed to watch other namespaces if its scope is a cluster one. For further information see the [doc](https://github.com/operator-framework/operator

[2019-11-25 21:44] #2225 closed

[2019-11-25 22:28] aliok opened #2266 "operator-name in csv-config.yaml is ignored"
## Bug Report

**What did you do?**
I ran this command:
[code]

with `hack/csv-config.yaml`:
[code]
Note that, operator's directory name does not match the operator name in `csv-config.yaml`.
Operator directory is called `eventing-operator`.

**What did you expect to see?**

* A new directory created as `deploy/olm-catalog/knative-eventing-operator/0.10.2`.
* CSV file with `name` field as `knative

[2019-11-25 22:31] camilamacedo86 commented on #2266
hi @aliok,

Thank you for raising it.

 c/c @estroz @joelanford

[2019-11-25 22:49] aliok opened #2267 "gen-csv should find out the latest CSV version"
## Feature Request

**Is your feature request related to a problem? Please describe.**

Assume this tree:
[code]
and assume I want to generate the CSV for version `0.11.0`.

Currently I have to do this:
[code]
I have to find out the `from-version` myself and feed it to `operator-sdk olm-catalog gen-csv`, which is not easy (details at the bottom).

**Describe the solution you'd like**

I would like

[2019-11-25 22:51] aliok commented on #2267
cc @camilamacedo86

[2019-11-26 00:28] estroz commented on #2266
@aliok thanks for filing an issue. This is fixed in #2249, which removes config file support in favor of `--exclude=[paths]`. You must set `--operator-name` explicitly if you want a different operator name for your CSV.

[2019-11-26 09:10] accammer commented on #2112
I am seeing the same behaviour in the 0.12 version of the ansible operator.  I m using the k8s_status module to update the status of the CR.  What we are seeing is that the step runs OK but the status of the CR is left in "Running Reconciliation" and it never returns.  At this point, the operator will stop listening to the watches and needs restarting.

As stated above - we do not want to move to

[2019-11-26 10:26] jianzhangbjz commented on #2173
@estroz Sorry for the late reply. Yes, I used the `Namespaced` scoped as default.

[2019-11-26 10:30] jesperhansen17 commented on #2218
Hi @camilamacedo86

I have updated the `dupl` errors in `internal/scaffold/role.go` and `internal/scorecard/plugins/olm_tests.go` and I can't find any unit test covering this code. Is this correct or am I missing something?

[2019-11-26 11:09] fitex commented on #2112
@accammer Indeed, I can confirm your observations. We also have the issue with v0.12.

[2019-11-26 11:19] camilamacedo86 commented on #2218
HI @jesperhansen17,

The project is very good covered by tests, however, many of them are e2e and are not written in go.  We would like to start to cover more with unit tests as well.

Did you make the PR? If yes, please add the Closes: #numberissue for it be linked and closed with the merge.

[2019-11-26 11:26] camilamacedo86 commented on #2112
Hi @fitex,

Note that OCP 3.11 is no longer compatibles with the latest versions of SDK since it has been using upper versions of k8s API which will not work with.

@mishindm, @fitex, @accammer could you help us by providing the detailed steps to reproduce it as a POC on top of [Memcached Ansible Sample](https://github.com/operator-framework/operator-sdk-samples/tree/master/ansible/memcached-opera

[2019-11-26 11:56] mishindm commented on #2112
@camilamacedo86 memcached is probably bad example as it has too few objects created.
For example, we have 2 operators - in one of them ansible mainly invokes helm binary with few secrets/jobs created with k8s and it may work for a week without issues.
In comparison operator which creates about 400 objects during full deployment may be frozen once-twice during such deployment - and would be frozen

[2019-11-26 12:11] accammer commented on #2112
I am running on microK8s 1.1.3 not OCP.

The main issue with this issue is that it is inconsistent and not easily reproduced although it is happening regularly

[2019-11-26 12:12] camilamacedo86 commented on #2112
Hi @mishindm,

The k8s API changed and it is currently in 1.17+ when OCP 3.11 is using 1.11+ which as you can check in the README of SDK is lower than the prerequirements. See that ansible in the [master](https://github.com/operator-framework/operator-sdk/blob/master/internal/scaffold/ansible/go_mod.go#L48 ) is pinned  kubernetes-1.16.2 which is not compatible with OCP 3.11 at all as the version [

[2019-11-26 12:17] camilamacedo86 commented on #2112
Hi @accammer,

What is the k8s API version used by microK8s 1.1.3? Is this the latest version?

[2019-11-26 12:20] #1124 closed

[2019-11-26 12:28] camilamacedo86 commented on #2267
I am not sure if I follow up properly the feature request here.

Would you like to run `operator-sdk olm-catalog gen-csv ` and then it automatically set the from and the new version following up semver? Am I right?

The version.go is not necessarily the same version of CSV. Note that the tags of CSV not necessarily will be or follow up the project tags as well.

[2019-11-26 12:33] aliok commented on #2267
I am more interested in that cli sets from version automatically.

On Tue, Nov 26, 2019, 3:28 PM Camila Macedo <notifications@github.com>
wrote:

[2019-11-26 12:35] camilamacedo86 commented on #2267
It still not clear for me. Could you please exemplify as for example?
- For the example in the first comment of this issue; I'd like to run the command `x`
- Then, I would expect the result X.

[2019-11-26 12:37] aliok commented on #2267
Ok, will do that when I get home

On Tue, Nov 26, 2019, 3:35 PM Camila Macedo <notifications@github.com>
wrote:

[2019-11-26 12:44] fitex commented on #2112
As previously mentioned, we have the problem with v0.10, v0.11 and v0.12 on both OpenShift 3.11 and 4.1.

[2019-11-26 12:50] camilamacedo86 commented on #2112
Hi @fitex,

Since 0.9+ version of SDK, the OCP 3.11 is no longer compatible with the k8s API used on it.

[2019-11-26 12:53] accammer commented on #2112
$ kubectl version
Client Version: version.Info{Major:"1", Minor:"10", GitVersion:"v1.10.6", GitCommit:"a21fdbd78dde8f5447f5f6c331f7eb6f80bd684e", GitTreeState:"clean", BuildDate:"2018-07-26T10:17:47Z", GoVersion:"go1.9.3", Compiler:"gc", Platform:"linux/amd64"}
Server Version: version.Info{Major:"1", Minor:"13", GitVersion:"v1.13.6", GitCommit:"abdda3f9fefa29172298a2e42f5102e777a8ec25", GitTreeSta

[2019-11-26 13:07] jesperhansen17 commented on #2218
Hi @camilamacedo86

Ok, I see.

Haven't opened a PR yet. Still doing some manual testing. Will open ASAP.

[2019-11-26 13:09] accammer commented on #1978
HI @fabianvf, @camilamacedo86,
  I was surprised by the default behaviour that when reconciliation ran it runs the ansible again.  I would have thought that reconciliation would only run in the event of a change to the CR or its dependents.  I thought that was the default behaviour of operators.  If this is not the case the documentation should be changed to describe this behaviour.  Nowhere examp

[2019-11-26 13:53] camilamacedo86 commented on #1978
HI @accammer,

The watch feature is able to identify that something changed and will trigger the reconcile in all types of operators. Also, it is the expected behaviour and in POV it is properly documented in k8s docs as SDK and in many blogs and articles. See for example [the kubebuilder doc](https://book-v1.book.kubebuilder.io/beyond_basics/controller_watches.html)

Regards the ansible operator

[2019-11-26 14:23] joelanford commented on #1978
@accammer The reason you might be seeing what appear to be duplicate reconciliations is that the first run of the playbook is probably making a change to the CR and/or one or more of its dependents. All of these updates cause update events to be sent to the operator's informer, and any of them that are not filtered by a watch predicate will cause a reconciliation.

We recently improved the ansible

[2019-11-26 14:23] #1978 closed

[2019-11-26 15:26] accammer commented on #1978
Is there any documentation that explains the #2024 predicates or are they internal?

[2019-11-26 16:03] #2168 closed

[2019-11-26 16:56] atinsood commented on #2244
I think the ansible logs do get pushed out to `/tmp/ansible-operator/runner/` under your operator artifacts/stdout.

[2019-11-26 17:59] jeyaramashok opened #2271 "Scorecard: Basic Tests fail with 'olm-deployed' option set to true"
## Bug Report

Scorecard basic tests fail with error `unrecognized install strategy` _(olm-test plugin runs successfully)_

**What did you do?**

I tried to follow steps in [Running the scorecard with an OLM-managed operator](https://github.com/operator-framework/operator-sdk/blob/master/doc/test-framework/scorecard.md#running-the-scorecard-with-an-olm-managed-operator). I fixed the CSV to add sco

[2019-11-26 18:22] #1499 closed

[2019-11-26 20:16] paterczm commented on #2265
Hello Camila

Thanks for clarifying about `operator-sdk up local`, I thought it can be used to run cluster scoped operators (especially since my operator run using this method is able to create objects in other namespaces, but not get them). Are there plans to add cluster operator support to `operator-sdk up local`?

[2019-11-26 21:07] aliok commented on #2267
@camilamacedo86 Updated the issue description. Let me know if you need further clarification.

[2019-11-26 21:15] camilamacedo86 commented on #2265
Hi @paterczm,

Could you try export the Env Var's as follows then run the operator-sdk up local?

I believe that it will work since it will be started with the value  " " for WATCH_NAMESPACE which is the cluster scope setup. Please, let me know if it works or not for you.

Also, the project has the https://github.com/operator-framework/operator-sdk/pull/2149 which has been discussed in order to im

[2019-11-26 21:19] camilamacedo86 commented on #2267
Hi @aliok,

Yes, it is clear enough now. Really thank you for the clarifications.
It need to be discussed with the team, so I will label it. Also, feel free to collab with a PR if you think that you could easily provide the solution as well.

[2019-11-26 21:22] aliok commented on #2267
I was planning to give it a try already :)

[2019-11-26 21:23] camilamacedo86 commented on #2267
Hi @joelanford, @hasbro17 and @estroz,

WDYT? It shows reasonable for me but low priority. It would be adding new flag as for example `--from-latest-version` to the `operator-sdk olm-catalog gen-csv ` command which would automatically identify the latest tag used for the CSV.

[2019-11-26 21:53] estroz commented on #2267
@aliok you can sort by semantic version with GNU `sort`:
[code]
You can do something like:
[code]
to get the latest version. Does that solve your issue?

[2019-11-26 21:55] aliok commented on #2267
hi @estroz
thanks, it does actually.

I would still prefer the hypothetical `--from-latest-version` though :)
Let me know what you guys think and I can send a PR for that.

[2019-11-26 22:05] estroz commented on #2267
@aliok sounds good. I'll let a few others comment on this, and if we find its a feature we want in `operator-sdk` then you can spend time on the PR.

One goal of the SDK is to have a low-complexity CLI, so we strive to keep the number of flags to a minimum, especially when there are 1-2 line bash wrappers that give you the same functionality of 10+ lines of Go code. This is the main reason why I h

[2019-11-27 01:44] camilamacedo86 commented on #2267
Hi @aliok,

After @estroz solution in https://github.com/operator-framework/operator-sdk/issues/2267#issuecomment-558833237 it shows that could be easily solved by adding it as Makefile target.

In this way, it is the same scenario of https://github.com/operator-framework/operator-sdk/pull/1600#issuecomment-506730405 and then I am afraid that we should NOT move forward with.  As an example of a si

[2019-11-27 01:47] #2267 closed

[2019-11-27 09:38] #2219 closed

[2019-11-27 15:28] #2218 closed

[2019-11-27 22:09] estroz commented on #2173
@jianzhangbjz can you please include:

In your issue description. Seeing as you're using `oc`, this issue may be caused by your cluster version.

[2019-11-28 13:09] M4R774 commented on #1703
I am facing similar issue. What do you mean, that struct should be passed as a pointer? @Man-Jain

[2019-11-28 13:21] Man-Jain commented on #1703
Checkout these as an example

https://github.com/hyperledger/cello/tree/master/src/agent/fabric-operator/pkg/apis/fabric/v1alpha1

[2019-11-28 17:46] paterczm commented on #2265
I tested this again today. Following has no effect (still can't Get namespace scoped resources from other namespaces):
[code]

However, this works:
[code]
Namespace parameter has to be blank, specifying the namespace or omitting the parameter reproduces the issue. Hope https://github.com/operator-framework/operator-sdk/pull/2149 will help this work in a more predictable way.

[2019-11-28 17:51] camilamacedo86 commented on #2265
Hi @paterczm,

Really thank you for your reply. I am glad that  `operator-sdk up local --namespace ""` attend your needs for now. Please, feel free to follow up #2149.

Then, I am closing this one since all shows sort out. However, please feel free to re-open if you think that is required.

[2019-11-28 17:51] #2265 closed

[2019-11-28 18:37] camilamacedo86 commented on #2008
- PR for the controller-runtime : https://github.com/kubernetes-sigs/controller-runtime/pull/701

[2019-11-29 15:30] paterczm opened #2282 "Golang operator's controller reconcilies an unchanging custom resource"
Hello

I recently noticed that my controllers wake up and perform reconciliation also when the watched resources aren't changing. I experimented with a single controller and made it watch only one custom resource (using `EnqueueRequestForObject`) and sure enough - I can see in the logs that it reconciles 4 to 5 times every hour, despite the custom resource not being updated. Tried to see what's go

[2019-11-29 15:46] camilamacedo86 commented on #2282
Hi @paterczm,

Note that:

- The reconcile will be trigged by default every 10 hours unless you change it.
- The reconcile will be trigged when any event/change in the resources watched by it be identified.

Further details

After you apply/create the CR which will trigger the reconcile it is trigged by the watches implementations and/or by the manager each X time.

#### Watches

By default, you w

[2019-11-29 16:02] paterczm commented on #2282
Thank you for getting back to me so quickly.

The only watch I defined for testing this is:
[code]

I didn't make any modifications to the generated code in `cmd/manage/main.go`, so it should not trigger the reconciliation a few times every hour.

I doubt it matters, but I'm watching a cluster scoped resource.

I guess what I'm looking for here is more insight into when and why events are raised,

[2019-11-29 16:57] camilamacedo86 commented on #2282
Hi @paterczm,

You can print and check logs in the operator pod. Following an example:
Use to log:

See: https://github.com/operator-framework/operator-sdk-samples/blob/master/memcached-operator/pkg/controller/memcached/memcached_controller.go#L92

Use to check:

However, the events are raised in the k8s API. So, you can check the events in the namespace (`kubectl get events -n <namespace>`). If y

[2019-11-29 17:00] camilamacedo86 commented on #2282
Hi @paterczm,

Important:

Since SDK 0.9 the OCP 3.11 is no longer compatible with since it will use an old version of k8s api. I'd recommend you use Minkube and/or OCP 4. So, it means that the SDK 0.11 has not support for the cluster version used by you.

[2019-11-29 17:04] #2282 closed

[2019-11-29 20:14] paterczm commented on #2282
I don't see the same problem when I run the operator in OpenShift 4.2, so looks like this is related to the Kubernetes/OpenShift version. Unfortunately, OpenShift 3.11 is the environment I'm targeting for this operator. Do you recommend using an older version of the SDK for OpenShift 3.11? From what you're saying, I understand that SDK 0.8.x should still support OpenShift 3.11?

[2019-11-29 20:33] camilamacedo86 commented on #2282
Hi @paterczm,

The SDK version 0.8 should work with 3.11, however, note that it is really outdated. So, I do NOT recommend you use an old version of the SDK and go since it may bring others complications and then if you have any issue and etc .. the solution will be to do the upgraded. Shows that you are doing a new project too, so it will be born with tech debt already. In this way, I definitely

[2019-12-01 10:18] camilamacedo86 commented on #1701
Hi @gearoidibm,

The ansible and its deps were updated. Are you able to face the same issue with a project upgraded and/or created using the SDK 0.12?

[2019-12-02 03:57] jdockter commented on #2235
@joelanford any idea when the next official release is going to be cut that would have this change in it?

[2019-12-02 08:52] austincunningham opened #2284 "Github binary fails to download with curl"
## Bug Report

**What did you do?**
A clear and concise description of the steps you took (or insert a code snippet).
Followed the instructions for linux at https://github.com/operator-framework/operator-sdk/blob/master/doc/user/install-operator-sdk.md

- set the var
[code]
- download the binary
[code]
- ran the command to chmod and move the binary to /usr/local/bin
[code]

**What did you expect t

[2019-12-02 09:29] austincunningham commented on #2284
Tried using curl without env var RELEASE_VERSION
[code]
- looks to have download
- chmod command appears to work
[code]
- But looks to be the wrong version again
[code]

[2019-12-02 09:44] jpkrohling opened #2285 "CRD generation not respecting "// +k8s:openapi-gen=false""
## Bug Report

In the Jaeger Operator, we want to skip the generation of the CRD schema for some properties such as `v1.Volume`, as they cause the final CRD to be way too big. Adding `// +k8s:openapi-gen=false` to the fields does make the field to be skipped from `pkg/apis/jaegertracing/v1/zz_generated.openapi.go`, but the field does end up in the CRD.

**What did you do?**

From [this branch (jpk

[2019-12-02 13:09] camilamacedo86 commented on #2284
HI @austincunningham,

**Regards the Donwload:**

It is probably because of the `\` in the middle added by you (`$\{RELEASE_VERSION\}`). See that the description [here](https://github.com/operator-framework/operator-sdk/blob/master/doc/user/install-operator-sdk.md) is not the same.

Following the local test.

[code]

- command used by you: `~ curl -LO https://github.com/operator-framework/operator

[2019-12-02 13:31] camilamacedo86 commented on #2285
Hi @jpkrohling,

I am sure that the annotation is supported for all spec such as the following example. So, could you let us know where you check that the annotation could be used to ignore specific fields and definitions? Could you please share this doc? Also, could you add here a piece of the code over how you are using it?

[code]

[code]

[2019-12-02 13:57] fitex commented on #2112
We have back-ported our code to use operator-sdk 0.8.1.
For this we had to refactor our ansible role to make it backwards compatible with ansible 2.7.

This operator is already running 48h on both OpenShift 3.11 and Openshift 4.1 without freezing. So far it's looking good.

One of the differences is that ansible 2.7 uses python 2 (iso 3) and so the k8s module behaves differently then in ansible 2.

[2019-12-02 14:27] camilamacedo86 commented on #2112
Hi @fitex,

It is definitely not the only difference. Note that the `operator-sdk 0.8.1.` use an old k8s API which is compatible with OCP 3.11.  Also, see that OCP 4.1 is using an old k8s api version `Kubernetes 1.13`.

I truly believe that you would not see this issue using OCP 4.2 which is using `Kubernetes 1.14` and SDK 0.12. If you or @accammer and or @mishindm check it with 4.2 or minikube wi

[2019-12-02 14:57] fitex commented on #2112
Hi @camilamacedo86, as soon as we have a 4.2 cluster, we will try it out.

But so far, as the documentation is not clear which version of operator-sdk is compatible with which OpenShift version, we will stay with operator-sdk 0.8.1.

Also, according to the k8s module of Ansible 2.7/2.8/2.9, it is compatible with Openshift >= 0.6:
https://docs.ansible.com/ansible/latest/modules/k8s_module.html

Eve

[2019-12-02 15:23] austincunningham commented on #2284
Thanks @camilamacedo86 it was the v0.9.0 in the $GOPATH/bin

[2019-12-02 15:23] #2284 closed

[2019-12-02 15:25] camilamacedo86 commented on #2112
Hi @fitex,

Ansible and python is one thing. But the operators use the k8s API which is another dependency and you are right currently the docs do not make it clear enough. It has an issue raised here to create a matrix with the supported versions.

Please, let me know if you are able to check it and would be great to get your confirmation that the scenario is not faced in the OCP 4.2 with SDK 0.1

[2019-12-02 15:36] austincunningham commented on #2284
Looks like the backslashes are beening added by zshsh, maybe ohmyzsh,
[code]
[code]

[2019-12-02 16:35] jpkrohling commented on #2285
We talked quite a bit in private, and I wanted to summarize the current status before leaving for the day.

1. looks like I left it out from the original description, but the *actual* problem is that the generated [CRD](https://github.com/jpkrohling/jaeger-operator/blob/763-Add-openapi-to-generate/deploy/crds/jaegertracing.io_jaegers_crd.yaml) cannot be applied, as Kubernetes complains about `The

[2019-12-02 16:46] joelanford commented on #2285
@jpkrohling Are you doing `kubectl apply` to create the CRD? If so, the apiserver is probably adding the `kubectl.kubernetes.io/last-applied-configuration` annotation, which contains the entire content of the applied resource. With all of the validation metadata included, I wouldn't be surprised if that pushed that field above 262144 characters.

[2019-12-02 16:50] joelanford commented on #2285
Seems related to https://github.com/kubernetes-sigs/kubebuilder/issues/1140

[2019-12-02 17:00] camilamacedo86 commented on #2285
Hi @joelanford,

Yes. It may be the same scenario of kubernetes-sigs/kubebuilder#1140 since theire the say that solved te issue by using the create flag instead of applying. However, I'd like to do more tests in kubebuilder to ensure since there also many info can be used in the scaffolds which is not the case of SDK. For example, the name o the project is used to create the namespace.  Then, I'd

[2019-12-02 17:56] #2161 closed

[2019-12-02 18:33] #2216 closed

[2019-12-02 19:26] #2257 closed

[2019-12-02 19:31] #2213 closed

[2019-12-02 20:35] wfindley opened #2286 "finalizer is not defaulting to the top level ansible role"
## Bug Report

**What did you do?**
I made a `watches.yaml` file very much like this:
[code]

**What did you expect to see?**

https://github.com/operator-framework/operator-sdk/blob/master/doc/ansible/dev/finalizers.md#role
describes that

I expected `/opt/ansible/roles/mycoolapp` to be used.

**What did you see instead? Under which circumstances?**
A clear and concise description of what you exp

[2019-12-02 20:44] camilamacedo86 commented on #2286
HI @wfindley,

Really thank you for raise it. WDYT about collab with by creating a PR for the docs with your improvement suggestion for it?

[2019-12-03 03:05] wfindley commented on #2286
It could just as well be a need for testing or an actual bug in the code.  I *am* doing a probably unexpected thing where I am using the exact same playbook, unaltered, to do both the finalizer and the general control loop.  Updating the documentation is one thing, but if it was intended to work like that but it's not, then it's a regression and should maybe be fixed?

[2019-12-03 03:20] wfindley commented on #2286
https://github.com/operator-framework/operator-sdk/blob/79f85641042bf8e7c664784d3ece0c6c53f692f3/pkg/ansible/watches/watches.go#L256

Nope.  That default case is just never gonna do what the docs say it does.  I think updating the docs is the easiest fix.  Yeah, I can put together a PR.

[2019-12-03 10:22] mangelajo opened #2288 "Fails with "deepcopy.go:885] Hit an unsupported type invalid type for invalid type, from" out of the box"
## Bug Report

**What did you do?**

[code]
**What did you expect to see?**
Working add api

**What did you see instead? Under which circumstances?**

[code]

**Environment**
* operator-sdk version: 0.12.0
[code]

* go version:
[code]
and same result with:
[code]

* Are you writing your operator in ansible, helm, or go?
go

[2019-12-03 12:03] mangelajo commented on #2288
More hints on the issue:

[code]

[2019-12-03 12:05] camilamacedo86 commented on #2288
Hi @mangelajo,

The go version compatible with SDK 0.12 is the 1.13+.
Are you with the project created inside of $GOPATH? Also, what is the path of the project?
It shows the same scenario of https://github.com/operator-framework/operator-sdk/issues/1854#issuecomment-525132306.

[2019-12-03 12:30] mangelajo commented on #2288
Thank you Camila!

I tested with go 1.13+ too, I updated the bug report,

It's not on $GOPATH since we are using GO111MODULES in the project, let me
test
with that, and I'll look at #1853 to see if that sheds some light.
---
irc: ajo / mangelajo
Miguel Angel Ajo Pelayo
+34 636 52 25 69
skype: ajoajoajo

On Tue, Dec 3, 2019 at 1:05 PM Camila Macedo <notifications@github.com>
wrote:

[2019-12-03 12:42] camilamacedo86 commented on #2288
HI @mangelajo,

Note that go do not work well with more than one version installed.  So, ensure that you have locally just the 1.13+.

[2019-12-03 12:56] mangelajo commented on #2288
[root@68d43dc05cf5 submariner-operator]# echo $GOPATH
/go
[root@68d43dc05cf5 submariner-operator]# pwd
/go/src/github.com/submariner-io/submariner-operator
[root@68d43dc05cf5 submariner-operator]# echo $GOROOT

[root@68d43dc05cf5 submariner-operator]# export GOROOT=$GOPATH
[root@68d43dc05cf5 submariner-operator]# operator-sdk generate k8s
INFO[0000] Running deepcopy code-generation for Custom Reso

[2019-12-03 13:10] mangelajo commented on #2288
Sorry, GOROOT must be /usr/lib/golang in my case.

It has to point to the golang installation, otherwise operator-sdk generate
openapi won't work.

---
irc: ajo / mangelajo
Miguel Angel Ajo Pelayo
+34 636 52 25 69
skype: ajoajoajo

On Tue, Dec 3, 2019 at 1:56 PM Miguel Angel <miguelangel@ajo.es> wrote:

[2019-12-03 13:57] camilamacedo86 commented on #2288
Hi @mangelajo,

I am not sure if I understood. Could you fix the local env with the info informed and see it worked or not?

[2019-12-03 14:04] camilamacedo86 commented on #2288
Hi @mangelajo,

I cloned your project locally to check it. See that I am running inside of the GOPATH and with the same path/dir of your project and all worked fine.

- Create dir and clone project
[code]
- Go inside and running sdk gen commands
[code]

- My go env
[code]

Please, let us know if you are ok to close this one or has anything else that you are expecting here.

[2019-12-03 16:27] #2214 closed

[2019-12-03 16:27] #2220 closed

[2019-12-03 17:09] #2217 closed

[2019-12-03 22:59] #671 closed

[2019-12-04 06:29] #1132 closed

[2019-12-04 10:48] jessehu commented on #1813
Hi @AllenZMC , what's the root cause please?

[2019-12-04 11:51] bharathi-tenneti commented on #2152
@drewwells  Can you present your usecase, for this Docker image request. Depending on the usecases, we will consider creating/maintaining officialdocker image for SDK.

[2019-12-04 13:49] jpkrohling commented on #2285
You are absolutely right, @joelanford. Using `kubectl create` instead of `kubectl apply` helps me move forward. I'm closing this, thanks!

[2019-12-04 13:49] #2285 closed

[2019-12-04 16:32] camilamacedo86 commented on #2285
Hi @jpkrohling,

To know more about see here doc over it: https://kubernetes.io/docs/tasks/manage-kubernetes-objects/declarative-config/

[2019-12-04 17:40] #2242 closed

[2019-12-04 20:56] #2271 closed

[2019-12-04 21:54] camilamacedo86 opened #2289 "Makefile to target images are not working properly in a Mac OS env"
## Bug Report

**What did you do?**
- Use the make target `make image-build-helm` and push this image
- Then, replace the build/Dockerfile of the helm to use it instead of the released one.
- Run make install.

**What did you expect to see?**
The image was built and work successfully as it works when the command is used in the Linux.

**What did you see instead? Under which circumstances?**

[code

[2019-12-04 21:54] camilamacedo86 commented on #2289
c/c @joelanford

[2019-12-05 07:58] gyliu513 opened #2292 "CSV file does not include spec.customresourcedefinitions.owned.displayName and spec.customresourcedefinitions.owned.description"
## Bug Report

**What did you do?**
A clear and concise description of the steps you took (or insert a code snippet).

[code]

The CSV was generated by 0.12 operator-sdk.

[code]
[code]

[code]

**What did you expect to see?**
A clear and concise description of what you expected to happen (or insert a code snippet).

**What did you see instead? Under which circumstances?**
A clear and concise desc

[2019-12-05 08:00] gyliu513 commented on #2292
FYI @clyang82

[2019-12-05 10:42] mangelajo commented on #2288
Let me close this one.

I want to open a new one for better "no GOROOT" handling in some situations where the error message is left to the underlying generators and is very obscure.

[2019-12-05 10:42] #2288 closed

[2019-12-05 11:29] camilamacedo86 commented on #2292
Hi @gyliu513,

In the 0.12, the operator-sdk command is not generating the owned metadata info. See that implementation to attend this need is already done and merged in the master https://github.com/operator-framework/operator-sdk/pull/1162. Then, it will be in the next release.

Also, see that the docs are highlighting that this command will NOT gen all required info and point yu to know how to

[2019-12-05 14:03] gyliu513 commented on #2292
Thanks @camilamacedo86 , but `Several fields` is a bit difficult to understand, the end user do not know which field they need to input.

As now we already know that only `spec.customresourcedefinitions.owned.displayName` and `spec.customresourcedefinitions.owned.description` are missed, shall we highlight this in the document that only those two fields are needed?

[2019-12-05 14:11] camilamacedo86 commented on #2292
Hi @gyliu513,

Regards the docs, if you click on the link added above which is in the doc you see all required fields detailed documented. See: https://github.com/operator-framework/operator-sdk/blob/master/doc/user/olm-catalog/generating-a-csv.md#csv-fields

Regards the `spec.customresourcedefinitions.owned` if you use the master they will be generated. Regards the name and display fields, see th

[2019-12-05 14:25] gyliu513 commented on #2292
Thanks @camilamacedo86 , I was a bit confused by the document, the code and my CSV file, let me explain:

My CSV file `owned` only request the following fields and it works:

[code]

But the https://github.com/operator-framework/operator-sdk/blob/master/doc/user/olm-catalog/generating-a-csv.md#csv-fields here, says the following fields are required for `owned`:

* `owned`: all CRDs the Operator de

[2019-12-05 15:22] #2212 closed

[2019-12-05 15:33] camilamacedo86 commented on #2292
Hi @gyliu513,

Did you check it with OLM? Did you create the PR for operatorhub.io? Did you use operator-scorecard to test it locally?

Note that when we say that the fields are required, it means that they are required for you to integrate the project with OLM and publish your project in the operatorhub.io for example. See: https://operatorhub.io/contribute

The displayName is not mandatory/requi

[2019-12-05 16:37] jeyaramashok commented on #1234
Is there a design proposal on how to handle this?

[2019-12-05 17:52] flickerfly commented on #1234
I haven't found a design proposal in my poking around.

I also haven't run into any problems simply using `ansible --version` since my operators are mostly Ansible. I've been thinking about developing a python script to do some more intense checking for permissions, dependencies and the like, but haven't yet. I'm hoping to hear what the original election conflict was so I can avoid that, but my gu

[2019-12-05 18:18] christianh814 commented on #1234
cc @chris-short

[2019-12-05 19:31] riponbanik opened #2294 "operator-sdk new failed"
**What did you do?**

I ran the following command and it gives me timeout error every time -

operator-sdk new cnat-operator --repo github.com/riponbanik/k8s-example/cnat-operator
INFO[0000] Creating new Go operator 'cnat-operator'.
INFO[0000] Created go.mod
INFO[0000] Created tools.go
INFO[0000] Created cmd/manager/main.go
INFO[0000] Created build/Dockerfile
INFO[0000] Created build/bin/entrypoin

[2019-12-05 20:02] #2008 closed

[2019-12-05 21:08] camilamacedo86 commented on #2294
Shows that you have some network issues locally. See `dial tcp: i/o timeout`

[2019-12-05 21:16] riponbanik commented on #2294
@camilamacedo86  Does not seem to be network issue. I am using 50MBPS internet connection

[2019-12-05 21:28] camilamacedo86 commented on #2294
Hi @riponbanik,

See that I am not facing any issue.

[code]

Then check that when it will get the module in your logs has a TCP timeout issue

Which means that was that from your computer is has been not possible to get the module from the https://proxy.golang.org/.

**IMPORTANT**

**Does not seem to be a network issue. I am using 50MBPS internet connection. I changed to use go version 12 and tha

[2019-12-05 22:03] riponbanik commented on #2294
@camilamacedo86 Thanks. Strange things, I never had this before. I run this from a vm virtual box and it used to download all go modules perfectly. Here is go env -

GOARCH="amd64"
GOBIN=""
GOCACHE="/home/ripon/.cache/go-build"
GOEXE=""
GOFLAGS=""
GOHOSTARCH="amd64"
GOHOSTOS="linux"
GOOS="linux"
GOPATH="/home/ripon/ws/build/golang"
GOPROXY=""
GORACE=""
GOROOT="/usr/local/go"
GOTMPDIR=""
GOTOOLDIR=

[2019-12-05 22:06] #2227 closed

[2019-12-05 22:42] estroz commented on #2266
@aliok see #2297 for the immediate fix.

[2019-12-05 23:15] camilamacedo86 commented on #2292
Hi @gyliu513,

Please, let me know if the above information helps you and clarifies the points. We know that this part requires manual effort which is not great at all. However, as I said above, the good news is that
If you use the master branch, you will see that is possible to populate the CSV with the commands and annotations which is very helpful. You also can check the proposals accepted alre

[2019-12-06 00:31] #2266 closed

[2019-12-06 01:44] camilamacedo86 opened #2299 "Use restmapper from controller-runtime"
## Feature Request

The SDK has https://github.com/operator-framework/operator-sdk/tree/master/pkg/restmapper since it was added in the kubernetes-sigs/controller-runtime#554. So, the current implementation can be changed to use the controller one.

Regards: https://github.com/operator-framework/operator-sdk/pull/2281#discussion_r354520102

[2019-12-06 05:36] gyliu513 opened #2300 "What is the best practise for operators include multiple resources"
## Type of question

**Are you asking about community best practices, how to implement a specific feature, or about general context and help around the operator-sdk?**

## Question

**What did you do?**
I want to create an monitoring operator, but the operator include components like Prometheus, Grafana, exporter etc.

So I have two options to create my monitoring operator:
- Option 1: Use one ope

[2019-12-06 06:33] riponbanik commented on #2294
@camilamacedo86  I have tested with Go version 12.14 and operator-sdk 11.0. I am not seeing any timeout issue, but the following

1. operator-sdk new
..............
go: error loading module requirements
Error: failed to exec []string{"go", "build", "./..."}: exit status 1
Usage:
  operator-sdk new <project-name> [flags]

2.  operator-sdk add api
---
INFO[0043] Created deploy/crds/cnat.programming-

[2019-12-06 06:49] #742 closed

[2019-12-06 07:41] gyliu513 commented on #2292
Thanks @camilamacedo86 , you already provided enough info for me ;-)

[2019-12-06 10:28] camilamacedo86 commented on #2294
HI @riponbanik,

See that you face the same issue. You are unable to download the go modules.
`go: error loading module requirements`

Following some suggestions and info.

1. The go does not work well with more than one version installed locally, so let's try o fix your setup for the latest version with go  1.13+. Could you please remove all go bins that you have and re-duo your local setup for t

[2019-12-06 10:58] camilamacedo86 commented on #2289
Fixed by @joelanford here https://github.com/operator-framework/operator-sdk/pull/2296.

[2019-12-06 11:06] camilamacedo86 commented on #2292
Hi @gyliu513,

I do not know if it was clear, however, I really would like to suggest you use the master branch to make it easy. See [here](https://github.com/dev4devs-com/postgresql-operator/blob/master/pkg/apis/postgresql/v1alpha1/database_types.go#L42) an example with the annotations to gen the owned in the CSV by the commands.

Also, I'd like to recommend follow up the instructions in the [Get

[2019-12-06 11:17] camilamacedo86 commented on #2300
HI @grdryn,

By building an operator via SDK, you can check that the implementation to export the metrics using the Prometheus Operator is done by default. Check the main.go. There a ServiceMonitor will be created to export the Prometheus metrics for the operator and its custom resources.

To install the Prometheus, follow up https://github.com/coreos/kube-prometheus. It is very straight forward.

[2019-12-06 11:24] grdryn commented on #2300
@gyliu513 this is probably for you :)

[2019-12-06 11:28] camilamacedo86 commented on #2300
Autocomplete / GitHub suggestions issues :-P. Tks @grdryn

[2019-12-06 14:20] chris-short commented on #1234
I see a health check as being as simple as running `ansible --version` and getting a 0 exit code. Yes, I'd love to see something that is a more accurate description of health but, I don't know what that would be at this point.

[2019-12-06 17:45] #2289 closed

[2019-12-07 11:05] Jacklli opened #2302 "Hit an unsupported type invalid type for invalid type"
## Bug Report

**What did you do?**
A clear and concise description of the steps you took (or insert a code snippet).
execute the command:
operator-sdk add api --api-version=app.example.com/v1alpha1 --kind=AppService

and then error occured:
INFO[0001] Running deepcopy code-generation for Custom Resource group versions: [app:[v1alpha1], ]
F1207 05:56:36.506959   20352 deepcopy.go:885] Hit an unsup

[2019-12-07 11:06] Jacklli commented on #2302
# go version
go version go1.11.6 linux/amd64

[2019-12-07 12:44] camilamacedo86 commented on #2302
Hi @Jacklli,

If you are using the latest versions of SDK the go version  go1.11.6  is incompatible. You need to use 1.13+. Could you please remove this version and install the 1.13+ and let us know?

If you still facing an issue could you please inform the following info for we are able to help you with?
- SDK version : (Run `operator-sdk version`)
- GO version:
- A snippet of the code used in th

[2019-12-07 18:54] #1513 closed

[2019-12-08 05:43] riponbanik commented on #2294
@camilamacedo86 Thanks for your suggestion. Steps 1-4 were successful, but again failed at step 5

verifying sigs.k8s.io/controller-runtime@v0.3.0/go.mod: sigs.k8s.io/controller-runtime@v0.3.0/go.mod: Get https://proxy.golang.org/sumdb/sum.golang.org/supported: dial tcp: lookup proxy.golang.org on 192.168.1.1:53: read udp 192.168.1.168:52034->192.168.1.1:53: i/o timeout
verifying github.com/operat

[2019-12-08 06:56] #1657 closed

[2019-12-08 12:56] #1631 closed

[2019-12-08 14:08] gyliu513 commented on #2300
Thanks @camilamacedo86 for the always great support! Sorry for not describe clearly, here I was wondering if I can get some guidance for the best practise of `one operators include multiple resources`, and my monitoring operator is just an example :-)

[2019-12-08 22:41] camilamacedo86 commented on #2300
Hi @gyliu513,

Sorry, but for me still not very clear what you are looking for. Note that you can define how many API's can be required for your solution. Could you please give more details for we are able to provide better assistance?

[2019-12-08 22:53] camilamacedo86 commented on #2294
Hi @riponbanik,

Still shows some problem with your local setup. Let's try:

1. Ensure that you have just 1 go version installed (1.13+)
2. Clean your local env by:
- // remove all inside of $GOPATH/bin/*

Than;

And try again without the option `--repo=github.com/riponbanik/k8s-example/cnat-operator`

 If it doesn't work please put here;
- operator-sdk version
- go version
- the path that you are

[2019-12-09 05:19] gyliu513 commented on #2300
@camilamacedo86 let me explain the problem in detail, hope this helps.

Assume I have an application a1 which include c1, c2 and c3 as internal components, and now I want to create a operator to manage a1. In my understanding, there are two options for the operator of a1:

- Option 1: Use one operator to manage c1, c2 and c3 for application a1.
- Option 2: Build operators for c1, c2 and c3, then u

[2019-12-09 13:55] LouisPlisso opened #2303 "Cannot upgrade operator-sdk past 0.8.0 because of k8s.io/api"
## Bug Report

**What did you do?**
Importing operator-sdk in go.mod running go get and it fails:
[code]

**What did you expect to see?**
No error on `go get`

**What did you see instead? Under which circumstances?**
Getting this error:
[code]

**Environment**
* operator-sdk version: any version starting at 0.9.0 with the introductions of go modules

reproduced in this bug report with `v0.12.0`

*

[2019-12-09 13:56] LouisPlisso commented on #868
Hey, is there any documentation on how to have projects generated with a previous version of the operator-sdk to move to a vendor-free configuration: we have switched to go modules and getting rid of vendor would be nice
Thanks for your reply

[2019-12-09 14:15] camilamacedo86 commented on #2303
Hi @LouisPlisso,

Could you please follow up the steps in [upgrade guide](https://github.com/operator-framework/operator-sdk/blob/master/doc/migration/version-upgrade-guide.md)? Note that if you are going from 0.8 to 0.12 you need to perform many changes in the code as well.

Regards the go.mod, I also would suggest you check the Memcached sample which is using the 0.12. See [here](https://github.

[2019-12-09 14:29] clyang82 opened #2304 "Should create operator CRs be done in operators"
## Bug Report

**What did you do?**

I saw there are some operators are creating CR in operator while others do not create CR.

**Create CR in operator**
- https://github.com/tektoncd/operator (https://github.com/tektoncd/operator/blob/e8cf87e85cdae0b50bb62c73fe231d5e2c8a92f2/pkg/controller/config/config_controller.go#L296)
- https://github.com/integr8ly/integreatly-operator

**Not create CR in op

[2019-12-09 14:29] clyang82 commented on #2304
FYI @gyliu513

[2019-12-09 15:35] camilamacedo86 commented on #2304
Hi @clyang82,

I'd recommend follow up the [Getting Started](https://github.com/operator-framework/getting-started) an en example over and check the [blog post](https://developers.redhat.com/blog/2019/10/04/getting-started-with-golang-operators-by-using-operator-sdk/).

IHMO keep the CR's in the project make easier understand what is expected and as provide features to install/uninstall the operat

[2019-12-09 16:17] #2186 closed

[2019-12-09 16:27] camilamacedo86 commented on #2300
Hi @gyliu513,

You can have how many CRD/API defined in the projects as your business requires. See a demonstration of this idea in the [blog post](https://developers.redhat.com/blog/2019/10/04/getting-started-with-golang-operators-by-using-operator-sdk/) for example.  Also, indeed an operator A can use check resources of an Operator B.

Also, if you are using OLM, for example, you can define that

[2019-12-09 16:30] estroz commented on #868
@LouisPlisso follow the [version upgrade guide)(https://github.com/operator-framework/operator-sdk/blob/master/doc/migration/version-upgrade-guide.md) from the version following your project’s current one past `0.8.x`, in which we add module support.

[2019-12-09 16:47] LouisPlisso commented on #2303
@camilamacedo86 thanks for the quick reply

I think pinning version (with the `replace` directive) is locking and preventing using a newer patch release of k8s (in my case 1.15.6 instead of 1.15.4)

I'll try using the upgrade guide and follow the example: thanks again

[2019-12-09 16:47] #2303 closed

[2019-12-09 19:12] flickerfly opened #2306 "Old emails in Code of Conduct document"
Code of Conduct document has CoreOS.com email addresses in it. These aren't a thing anymore right?
https://github.com/operator-framework/operator-sdk/blob/master/code-of-conduct.md

[2019-12-09 19:36] riponbanik commented on #2294
@camilamacedo86 Thanks for assistance to troubleshoot the issue. None of it fixed my issue in my office laptop. I have got a pc at home where I did the installation and it succeeded. It could be the proxy/file system scanner (Application Controll) slowing down and thus timing out. Is there any way to increase timeout or no of retries?

[2019-12-09 19:40] flickerfly opened #2307 "Document reporting of vulnerabilities"
## Feature Request

**Is your feature request related to a problem? Please describe.**
I was considering the potential need of reporting vulnerabilities as we begin scanning our operator containers. I found some CVEs related to dbus, but they are considered mitigated by default configs by Red Hat. There are some other less critical ones that I haven't investigated yet.

**Describe the solution you

[2019-12-09 20:04] camilamacedo86 commented on #2294
Hi @riponbanik,

Really thank you for let me know. So, shows that my first guess was accurate. You are in some private LAN where a firewall rule is blocking it. I do not think that increase the time will solve it. I'd recommend you speak with the admins of this LAN. They can help find out what rule has been violated with and change the rules to allow you to do it in their network.

I am closing th

[2019-12-09 20:04] #2294 closed

[2019-12-10 01:10] camilamacedo86 commented on #2112
Hi @fitex,

Could you confirm that the issue does not occur with SDK 0.12 and OCP >= 4.2 ? Unfortunately, how we cannot reproduce it will be wonderful to get the confirm a confirmation from you folks.

[2019-12-10 01:11] camilamacedo86 commented on #2112
Hi @fitex,

Could you confirm that the issue does not occur with SDK 0.12 and OCP >= 4.2 ? Really thank you for your collab and contribution with.

[2019-12-10 02:18] clyang82 commented on #2304
@camilamacedo86 Thanks for your strongly support always. I will use OLM to manage the operators. Just want to know what is best practice for operator developing. What should be done in operator? Thanks for  sharing your points. Should the operator create the corresponding CR in `reconcile` ?

[2019-12-10 04:12] joelanford commented on #2304
@clyang82 There are a few scenarios to consider.

1. An operator creates a CR for a CRD that it does not own.

    This scenario is fairly common. For example, operators created with Operator SDK will create a prometheus ServiceMonitor CR when deployed in a cluster with the prometheus operator.

2. An operator creates a CR for a CRD that it does own.

    This scenario is less common. There are a

[2019-12-10 04:20] joelanford commented on #2300
@gyliu513 Either option is reasonable. I think it depends on the complexity of c1, c2, and c3. If they are simple components that are tightly coupled, perhaps a single operator can handle all three.

However if one or more of them have complex reconciliation requirements (e.g. a database that requires backups and data migrations between versions) or they can be managed as standalone components (i.

[2019-12-10 06:03] joelanford opened #2308 "Use Go 1.13 error wrapping"
Now that we've upgraded to Go 1.13, we should find instances in our code base of:
1. `errors.Wrap()`, `errors.Wrapf()`, and replace them with `fmt.Errorf()` with `%w`.
2. `fmt.Errorf()` calls that wrap an error, but use `%s` or `%v`, and replace them with `fmt.Errorf()` with `%w`
3. Any other uses of the `github.com/pkg/errors` package should be transitioned over to Go's standard library `errors`

[2019-12-10 07:03] #1669 closed

[2019-12-10 09:39] gyliu513 commented on #2300
Thanks @camilamacedo86 and @joelanford , this really helps!!

[2019-12-10 09:39] #2300 closed

[2019-12-11 08:21] Reamer commented on #1770
I have the same issue. I doesn't understand the workaround with the hidden variable. Can someone explain more.

[2019-12-11 08:28] clyang82 commented on #2304
@joelanford Thanks for your great sharing. My case is that I want to create a meta operator to manage some operators. My current think is meta operator creates each CR for each managed operator. That is align with your first point. How to create each CR for each managed operator? It needs some inputs from the user. That is CR-based configuration from the user's input. Any comments?

[2019-12-11 09:45] camilamacedo86 commented on #2304
So @clyang82,

It shows related to the "umbrella operator" [ML][https://groups.google.com/forum/#!searchin/operator-framework/umbrella%7Csort:date].

Have you been to discuss this topic there or this idea came up when you saw this discussion? Why you need a "meta operator"? Why the umbrella operator needs creates the CR for the others? Why you cannot have an Operator A, B and C where for example B

[2019-12-11 09:54] camilamacedo86 commented on #1770
Hi @jmazzitelli, @Oblynx, @geerlingguy

The same code shows valid for 0.12. See [here](https://github.com/operator-framework/operator-sdk/blob/master/pkg/ansible/runner/runner.go#L263). This issue is labelled to make clear that it is over about doc for ansible-operator.

Also, please feel free to contribute with by raising a PR for the docs. Contributions with the project are very welcome :-)

[2019-12-11 11:30] cpanato opened #2318 "Error running operator-sdk generate k8s release v0.13.0"
## Bug Report

Hello, I've updated our operator to release 0.13.0 and when running the command `operator-sdk generate k8s` i got an error that not happen if i use the latest master

**Using 0.13.0**
[code]

**Using master**
[code]

any ideas?
thanks!

[2019-12-11 13:42] #2299 closed

[2019-12-11 16:37] fitex commented on #2112
Hi @camilamacedo86 ,

We have upgraded our cluster to OpenShift 4.2.9, so I will give it a try with SDK 0.12.
In the meantime I see that SDK 0.13 is released. Will that version also work with OpenShift 4.x?

[2019-12-11 17:20] camilamacedo86 commented on #2112
Yes, it will @fitex. Please, feel free to use to do this check 0.12 or any upper version which in this case is 0.13. Really thank you for your reply.

[2019-12-11 17:22] camilamacedo86 commented on #2112
Hi @fitex,

Really thank you for your reply.

Yes, it will. Please, feel free to check 0.12 or any upper version which in this case is 0.13.  In order to avoid tech-debts, I would always suggest using the latest versions.

[2019-12-11 18:45] camilamacedo86 commented on #2318
Hi @cpanato,

It is strange since current the master and 0.13 are quite similar. Wdyt about remove the sdk binary from the $GOPATH/bin and clean your local go env as [here](https://dev4devs.com/2019/09/19/golang-how-to-clean-my-local-mod-dev-env/) and then, install the 0.13 to check it again?

If the issue is faced, could you provide a link for your project? Is it public?

[2019-12-11 18:46] camilamacedo86 commented on #2307
@joelanford, @dmesser and @shawn-hurley. I think we need your help with.

[2019-12-12 00:13] estroz commented on #2042
This should be fixed by #2201, which directly uses `controller-gen crd` API and surfaces errors appropriately.

Note that `generate openapi` has been deprecated in favor of `generate crds`. A lot of these issues will go away now that `openapi-gen` is not longer run by default.

[2019-12-12 00:18] camilamacedo86 commented on #2244
The PR https://github.com/operator-framework/operator-sdk/pull/2321 was made to attend this need. @david-shepard and @atinsood please feel free to check.

[2019-12-12 05:30] clyang82 commented on #2304
Thanks @camilamacedo86 for your comments.

I need to have an operator for operators. it can be called `umbrella opertor` or `meta operator`. the operator is used to manage other operators. You should know the [uber operator](https://github.com/integr8ly/integreatly-operator). I think I have the same case likes the uber has. I do not want to ask the client to create all dependent operators one by o

[2019-12-12 07:05] Jacklli commented on #2302
it's fixed after upgrading to go 1.13.1.
thanks a lot

[2019-12-12 08:03] cpanato commented on #2318
Hello @camilamacedo86 thanks for your reply

I'm trying from a clean env, and i dont see the error anymore, maybe was because i converted to go mod and maybe some missmatch versions.
will figure out
thanks and sorry for the popcorn

[2019-12-12 09:31] camilamacedo86 commented on #2302
Hi @Jacklli,

Thank you for let us know. To use the SDK version >= 0.12 is required use go 1.13+.

[2019-12-12 09:40] camilamacedo86 commented on #2318
Really tks for your reply @cpanato.
I am closing this one since shows sort out.
However, please feel free to re-open if you see that it still required.

[2019-12-12 09:41] cpanato commented on #2318
@camilamacedo86 looks like not, I created a new project did the following
[code]

Then added the api
[code]

got the error tried to run again the generate
[code]

my go env
[code]

go version: `go version go1.13.4 darwin/amd64`
sdk version: `operator-sdk version: "v0.13.0", commit: "1af9c95bb51420c55a7f7f2b7fabebda24451276", go version: "go1.13.3 darwin/amd64"`

[2019-12-12 09:42] cpanato commented on #2318
@camilamacedo86 i've reopening since the error still persists, in a new operator scaffolding

[2019-12-12 09:43] cpanato commented on #2318
should i open another issue?

[2019-12-12 09:47] camilamacedo86 commented on #2318
Hi @cpanato,

If you pass the repo it needs to be compatible with the path of your operator and name.. Could you try to do the same without `--repo github.com/cpanato/temp-operator` and your follow exactly the steps of https://github.com/operator-framework/operator-sdk#create-and-deploy-an-app-operator.. ?

[2019-12-12 09:55] cpanato commented on #2318
@camilamacedo86 same error.

however if i explict export `export GOROOT='/usr/local/Cellar/go/1.13.4/libexec'`

and run the generate k8s it works
[code]

if unset
[code]

[2019-12-12 11:40] camilamacedo86 commented on #2304
Hi @clyang82,

You can use [OLM Dependency Resolution](https://github.com/operator-framework/operator-lifecycle-manager#dependency-resolution) and also you can indeed create another Operator which will manage all without OLM as well and can be distributed with too.

Are you asking about some specific project/operator? If yes, in this case, we are not able to speak and/or discuss the reasons and mo

[2019-12-12 11:48] camilamacedo86 commented on #2318
So, the root cause of your issue is that your GOROOT is not set up properly.
I'd recommend you check if you have more than one go version installed locally and remove them. Keep just the version used.

Also, I think that if you are installing go as described in its [docs](https://golang.org/doc/install#install). If I remember correctly shows that the brew install formula is not working well with t

[2019-12-12 11:48] #2318 closed

[2019-12-12 11:52] cpanato commented on #2318
thanks @camilamacedo86

[2019-12-12 12:52] glothriel commented on #2198
I have exactly the same problem with ansible operator. If I don't set `reconcilePeriod` in watches.yml it doesn't ever reconcile. If I set one it is spamming reconcile loops no mater if task failed or succeeded.

[2019-12-12 15:03] robszumski commented on #2307
Hey @flickerfly, thanks for pointing out this gap and the new GitHub feature. We have some automation scripts that we use to care for repos and will get this added to all of them.

In the meantime, you can find contact instructions at https://access.redhat.com/security/team/contact. As part of our donation to the CNCF, we would align with their processes as well.

[2019-12-12 17:54] camilamacedo86 commented on #2001
Hi @aaronmcohen,

Thank you for raise this request.  Note that the PR https://github.com/operator-framework/operator-sdk/pull/2327 was created to add the print of the Cluster Version. You can follow up it.

However, see that is not recommended to develop solutions based on the vendor.

**Why**

Let's think about the scenario where we have an Operator that will take further actions only if the [OLM

[2019-12-12 18:21] #2001 closed

[2019-12-12 18:40] jdockter commented on #2235
@joelanford using v.0.13.0 and still seeing errors when plugin error, ie failed to read csv, see below

$ operator-sdk version
operator-sdk version: "v0.13.0", commit: "1af9c95bb51420c55a7f7f2b7fabebda24451276", go version: "go1.13.3 linux/amd64"

$ operator-sdk scorecard --verbose namespace test1
DEBU[0000] Debug logging is set
INFO[0000] Using config file: /home/jpd/go/src/github.ibm.com/jdockte

[2019-12-12 18:50] #2081 closed

[2019-12-13 02:58] clyang82 commented on #2304
Hi @camilamacedo86, thanks for your elaboration and sharing your ideas and suggestions. That is enough for me to build an operator. Let me close this issue. Again, thanks for your support.

[2019-12-13 02:58] #2304 closed

[2019-12-13 03:18] vincent-pli opened #2333 "Depends on folder name when generate binary: "operator-sdk build""
## Type of question
Scope design

## Question

**What did you do?**
I have a `operator` generated by `operator-sdk`, and my project name is `my-test`, with some reason I clone it to another location with name `test`.
When I try to use `operator-sdk build` I hit error:
"build/_output/bin/my-test not existed not existed"

**What did you expect to see?**
Everything works

**What did you see instead?

[2019-12-13 09:02] dongwangdw opened #2334 "How can I enable multiple crd in helm operator ?"
I wan to use operator-sdk to create a helm operator.
And I got multiple crd to watch deploy?
I wonder how should I arrange the helm repos?

[2019-12-13 09:23] dongwangdw commented on #2334
`operator-sdk add ` may be used to add more crds and api.
But as the doc stated, this subcommands will not be supported anymore.

If these two subcommands will not be supported any more, how to add multiple api and crds ?

[2019-12-13 14:41] Slayv commented on #2161
@camilamacedo86 thank you for your work

[2019-12-13 18:38] #2244 closed

[2019-12-13 19:06] david-shepard commented on #2244
Thanks @camilamacedo86!

[2019-12-13 22:34] camilamacedo86 commented on #2333
Hi @vincent-pli,

The name of the project will be used in a lot of places when the init project is generated by the tool. However, note that GO will also use the path of your project and, in this way, its name to do the imports.

In your scenario will be required to replace all these places manually. Regards the go imports if you use an IDE, for example, to do this change it could be solved by it.

[2019-12-13 22:34] #2333 closed

[2019-12-13 22:37] camilamacedo86 commented on #2302
I am closing this one since shows that all is sorted out. Please, feel free to re-open if you think that it's still required.

[2019-12-13 22:37] #2302 closed

[2019-12-13 23:53] camilamacedo86 commented on #2198
Hi @atinsood and @glothriel,

I understand that your scenario is: `I'd like to ensure that a task was done before continuing ...`. Then, in this case, did you try to use Ansible Conditionals. See the Ansible doc [Waits for a condition before continuing](https://docs.ansible.com/ansible/latest/modules/wait_for_module.html#examples). Also, I'd like to suggest you check the [doc](https://docs.openshi

[2019-12-14 00:22] camilamacedo86 commented on #1942
Hi @rajmechi,

since it has been open for a while without replay. I'd like to share here an explanattion over watches which I believe that will attend your needs. Also, note that the version `kubernetes v1.10.0+b81c8f8` is not supported by SDK. I'd like to recommend you use the latest version of SDK (0.13.0), with a Kubernetes >= 1.14+ and go 1.13+.

Regards the watch, see that is a feature which

[2019-12-14 00:22] #1942 closed

[2019-12-14 16:26] glothriel commented on #2198
Thanks for the response @camilamacedo86, it's very clear. I'm aware about the behaviour you described, but it was surprising to me, that the framework doesn't operate in the mode Kubernetes controllers generally tend to follow - triggering reconciliation loops with exponential back-off after consecutive fails to reconcile a resource.

[2019-12-14 18:04] JAORMX commented on #1217
Is scheduled to be done at some point? Would sure be great! :smile:

[2019-12-14 19:04] camilamacedo86 commented on #2198
@fabianvf could you also give a hand here and let us know if you see if I am missing something here?

[2019-12-15 10:11] thom8 commented on #2253
Looks like that's been fixed over here -- https://github.com/kubernetes-client/python/issues/787

[2019-12-16 09:07] tapairmax opened #2337 "Operator SDK does not support Helm v3 charts"
## Bug Report

**What did you do?**
<my-helmv3-chart> is a Helm chart created thanks to the Helm v3 (Version:"v3.0.1") command.
The API version of such a chart is "apiVersion: v2" (in Chart.yaml file).

$ operator-sdk new <my-operator> --helm-chart <my-helmv3-chart> --type=helm
INFO[0000] Creating new Helm operator 'my-operator'.
Error: failed to create helm chart: failed to fetch chart: apiVersio

[2019-12-16 09:53] #1671 closed

[2019-12-16 13:08] jmazzitelli commented on #1658
/remove-lifecycle rotten

Where are we with this? I see the proposal PR is still open: https://github.com/operator-framework/operator-sdk/pull/2048

[2019-12-16 14:20] fitex commented on #2112
@camilamacedo86
Unfortunately we have the same behaviour with OpenShift 4.2.9 and Operator-sdk 0.13.0.

![image](https://user-images.githubusercontent.com/36197042/70914089-925b1200-2017-11ea-9f15-bb4304193b70.png)

[2019-12-16 17:21] joelanford commented on #2337
@tapairmax Helm 3 support is not present in that commit. Please recompile from the latest `master`. If you still experience issues, let us know and we can re-open!

And thanks for testing this out! We'd love to be able to iron out any issues with the Helm 3 change before it makes it into a release.

[2019-12-16 17:21] #2337 closed

[2019-12-16 21:07] xrow opened #2339 "Helm: "release not found" error is unclear"
## Feature Request

**Is your feature request related to a problem?

I have an issue when I am debugging an helm operator. I get an error message on which it is unclear on how to react or what to fix. I would like to see an improvement.

"failed to get release history: release: \"xxx-stage\" not found" is just not enough I would say. I believe the real cause are some template errors.

[code]

**De

[2019-12-16 21:34] joelanford commented on #2339
@xrow what is the output of `operator-sdk version`?

[2019-12-16 21:38] xrow commented on #2339
@joelanford I am using v0.12

[2019-12-16 21:47] joelanford commented on #2334
@dongwangdw To have a helm-operator watch and reconcile two different CRDs for two different charts, there are a few things you need to do:
1. Copy/move your second chart into the `helm-charts` directory in your project root.
2. Add another entry in `watches.yaml` with the `group`, `version`, and `kind` of your CRD and the `chart` that should be reconciled. If you're using `v0.13.0`, the chart pat

[2019-12-16 21:52] joelanford commented on #2339
@xrow Interesting. I asked because there's a known bug on `master` where something similar is occurring, but I'm not sure what's causing that with `v0.12.0`.

Can you provide more context?
1. What logs were output leading up to that error?
2. What happens that causes the operator to reconcile the CR when you see this error? Are you creating a CR, editing it, or deleting it?
3. Are you able to repr

[2019-12-16 21:56] xrow commented on #2339
I only have more hint.... just before I was seeing the opertor not not being able to install a release due to a missing key. That somehow fucked up the old install. There where no logs before other then sucessfull outout from before the i did an update on the release. I am getting this problem from time to time. I can`t tell yet on have to reproduce it on purpose.

[2019-12-16 23:04] joelanford commented on #2339
Are you able to paste snippets from the operator log into this issue? Without that, it'll be tough to debug further. And let me know if you are able to figure out how to reproduce consistently.

[2019-12-16 23:07] xrow commented on #2339
Yes I need time to repoduce... Below is the template error from before that did lead to the mentioned behavoir. I am now using v0.13.

[code]

[2019-12-16 23:24] joelanford commented on #2339
@xrow yep that error indicates that the rendered manifest from your chart contains invalid YAML.
I would expect that error to continually repeat (with a backoff) until the templating issue is resolved. Is that what you're seeing?

[2019-12-16 23:27] xrow commented on #2339
Yes... that is right that error is clear to me... But concerning the error of the original issue it appeared when having the app already installed and an operator update came in place that broke it. Maybe with or wihtout the CRD being updated.

[2019-12-16 23:55] vincent-pli commented on #2333
@camilamacedo86
For the fix, I think we can use some parameter when generated  `build/Dockerfile`,
I mean:
[code]
for the golang, I think we should no worry about it, since we adopter `go mod`, what do you think?

[2019-12-16 23:58] joelanford commented on #2339
@xrow I'm not positive, but that templating error _may_ be a red herring. Do you have other logs from before and after the `failed to get release history: release: \"xxx-stage\" not found` error?

Looking at the code, the only place I see with that error message is when the Helm operator is trying to uninstall a release. There's currently a bug in `v0.13.0` (The one I mentioned in my second commen

[2019-12-17 00:01] xrow commented on #2339
Ok. Please put the ticket on hold or close. I need to gather more info and reproduce. Meanwhile thanks for your help.

[2019-12-17 07:48] dongwangdw commented on #2334
Got you. Thanks.
Well, got another question.

If I add more CRDs which seems it will complicate the logic. Then there will be a comparison:
multiple CRDs in one operator VS multiple operators each with a single CRD. The later one seems make more sense from the design perspective.  Any comments?

[2019-12-17 09:34] tapairmax commented on #2337
Hi, I've upgraded the operator-sdk version up to the latest on the master branch and tested again.
Now, the Helmv3 Chart is no longer and issue, however when I run the Controller I see some errors like this:
[code]

[2019-12-17 18:09] joelanford commented on #2334
I think the only reason I would consider using multiple CRDs in a single Helm operator would be if there was a parent-child relationship between the charts. For example, you might have a parent chart for an `App` that deploys an `AppWebsite` and `AppDatabase`, where `AppWebsite` and `AppDatabase` each have their own separate charts. With this model, you can abstract details of what the website and

[2019-12-17 18:09] #2334 closed

[2019-12-17 18:18] joelanford opened #2342 "Bug: Helm CR deletion sometimes results in "release not found" error."
There's currently a bug in `v0.13.0`, I think introduced inadvertently by https://github.com/operator-framework/operator-sdk/pull/1047 that causes the helm-operator to reconcile a stale version of the CR, making it think a release should exist, when in fact it was just uninstalled.  This bug is not entirely reproducible because the cache from which the CR is fetched during reconciliation is someti

[2019-12-17 18:19] joelanford commented on #2339
@xrow I created https://github.com/operator-framework/operator-sdk/issues/2342 to cover this specific issue, so I'll close this one. If you find that you have found a separate issue, we can either re-open or create another new issue.

[2019-12-17 18:19] #2339 closed

[2019-12-18 15:03] vinzent commented on #2112
also have the issue that my ansible based operator gets stuck after a while. Some reconciliation loops are fine, then after few minutes to hours the ansible process gets stuck blocking the operator from further processing.

I enabled `ANSIBLE_DEBUG=1` to get bit more output. here are the last 30 lines:

[code]

This last log line is from here: https://github.com/ansible/ansible/blob/480b106d653597

[2019-12-18 16:21] kvaps commented on #1939
/remove-lifecycle stale

[2019-12-18 16:30] fabianvf commented on #2198
@glothriel if you're failing the playbook (eg, with the `fail` module), and it's not automatically requeuing with exponential backoff then that's definitely a bug. If you're exiting without a failure that will be viewed as a success though, so double check that the playbook run is marked as failed

[2019-12-19 07:33] vinzent commented on #2112
Managed to get an strace.

I can see that the command  `python3.6 ... AnsiballZ_k8s.py` actually writes the response to STDOUT and that the `ansible-playbook` process also reads the response.

After the python3.6 process writes the output there is one getpid() call and afterwards only futex().

As the response is written it looks to me like k8s is actually finished but the process still waits on s

[2019-12-19 07:50] nrchakradhar commented on #2308
@joelanford I can take a shot at this. This will be my first contribution and hence I may take some time. Please let me know if its fine.

[2019-12-19 12:29] sgrzemski opened #2347 "The tutorial from getting started does not result in a deployment of CR"
## Bug Report

**What did you do?**
I have installed the operator-sdk version 0.13.0 from [here](https://github.com/operator-framework/operator-sdk/blob/master/doc/user/install-operator-sdk.md). Then I followed [this getting started guide](https://github.com/operator-framework/getting-started/blob/master/README.md) but the generated code does not create a deployment composed of Custom Resources. C

[2019-12-19 14:33] fabianvf commented on #2112
@vinzent that's some great info, any chance you've got the strace dump available? If it's hanging after the response is already processed it could be an issue with garbage collection/cleanup (we saw an issue a while back on python2 that was caused by a GC bug when calling `__del__` on an object that referenced an open socket, I wonder if this is something similar...)

[2019-12-19 16:52] joelanford commented on #2308
@nrchakradhar Awesome thanks! We would welcome this contribution!

[2019-12-20 09:20] vinzent commented on #2112
@fabianvf

strace around python3.6 writing the response to stdout

* python3.6 writes to stdout: https://gist.github.com/vinzent/5c81ee3135f56979eafee28e3aeb8dbf#file-gistfile1-txt-L132
* ansible-playbook reads from stdout: https://gist.github.com/vinzent/5c81ee3135f56979eafee28e3aeb8dbf#file-gistfile1-txt-L144

the tail of the python3.6 ansiballz process:  https://gist.github.com/vinzent/5c81ee31

[2019-12-20 14:43] vinzent commented on #2112
@fabianvf managed to get a gdb bt .

[code]

couldn't do a py-bt (https://wiki.python.org/moin/DebuggingWithGdb) . there was some message from gdb that I should run `dnf debuginfo-install platform-python-3.6.8-15.1.el8.x86_64` but that resulted in

[code]

[2019-12-20 15:27] vinzent commented on #2112
@fabianvf  managed to get debuginfo installed. needed to pass  `--enablerepo="*"` to get access to debug repos.

py-bt looks like its hung in Garbage collecting.

[code]

py-bt and bt: https://gist.github.com/vinzent/5c81ee3135f56979eafee28e3aeb8dbf#file-gdb-backtrace-txt

[2019-12-20 18:01] fabianvf commented on #2112
Was able to force a hang with the following code:

[code]
Not super familiar with threading in Python so not sure what a fix would like yet, but for now filed this issue against the kubernetes client: https://github.com/kubernetes-client/python/issues/1037

[2019-12-20 18:07] yeya24 opened #2351 "Does operator-sdk support additional printer columns?"
## Type of question

**Are you asking about community best practices, how to implement a specific feature, or about general context and help around the operator-sdk?**

## Question

**What did you do?**

I want to add additional printer columns in my crds. I saw kubebuilder supports this feature, https://book.kubebuilder.io/reference/generating-crd.html#additional-printer-columns.
I am wondering h

[2019-12-21 14:18] nrchakradhar commented on #2308
@joelanford I hope I have understood the changes to be done. I have written a script that does the change for fmt.ErrorF. I will put some samples here tomorrow. If it looks fine, I will commit the changes.  Thanks for providing me an opportunity to contribute.

[2019-12-22 06:57] nrchakradhar commented on #2308
Following are some of the sample changes. If its fine, I will submit the changes for all files.
**About 69 files with about 180 changes will be modified.**
<table border=0 cellpadding=0 cellspacing=0 width=1000 style='border-collapse:
 collapse;table-layout:fixed;width:751pt'>
 <col width=33 style='mso-width-source:userset;mso-width-alt:1140;width:25pt'>
 <col width=106 style='mso-width-source:use

[2019-12-23 04:16] #1737 closed

[2019-12-23 05:55] vinzent commented on #2112
To test I replaced Python3 with Python2 in the container: The ansible-operator didn't  get stuck with Python 2.7 since friday.

Whereas with Python 3 it only takes few minutes until it hangs.

[2019-12-25 16:28] anikin-aa commented on #1561
Guys, any ideas here ? Or we should just use kubeClient ?

[2019-12-26 04:28] #1597 closed

[2019-12-26 09:25] jianzhangbjz opened #2352 "How can I update the operator-sdk binary to the latest commit?"
## Question
Now, my operator-sdk version is `v0.12.0` and commit is `2445fcda834ca4b7cf0d6c38fba6317fb219b469`.
[code]
But, I find the latest commit is `79e6369540c60a4a75e7227a0cc71b3b436236f1` for the v0.12.0 version.
![image](https://user-images.githubusercontent.com/15416633/71468718-f1800a00-2801-11ea-87e4-66548d553b07.png)
My question is how to update it to this latest commit, not to `v0.13.

[2019-12-26 10:06] mailzyok commented on #2347
Same issue here.

[2019-12-27 13:29] tomklino opened #2353 "Fatal deepcopy error on operator-sdk add api"
While following the getting started guide (created a memcached operator), and reaching the part of the guide that stated [add a new custom-resource-definition](https://github.com/operator-framework/getting-started#add-a-new-custom-resource-definition), I issued the command `operator-sdk add api --api-version=cache.example.com/v1alpha1 --kind=Memcached`

Some files have changed but eventually the c

[2019-12-27 13:48] tomklino commented on #2353
Okay, so about 60 seconds after posting this, a very helpful person on the kubernetes slack pointed me to this [issue](https://github.com/operator-framework/operator-sdk/issues/1854#issuecomment-525132306).

tl;dr: the environment variable GOROOT should have been set like so
[code]

[2019-12-27 14:58] ytsarev commented on #1854
So to summarise
[code]
does the trick

[2019-12-28 03:49] wanminny opened #2354 "failed to cache compiled Go files"
[code]

[2019-12-28 03:51] wanminny commented on #2354
some erros .
operator-sdk add api --api-version=cache.example.com/v1alpha1 --kind=Memcached

thx;

[2019-12-28 17:12] abergmeier commented on #1854
Not for me.

[2019-12-28 17:56] estroz commented on #1854
@abergmeier can you open another issue with your specific environment specs? Thanks.

[2019-12-28 17:58] estroz commented on #2353
@tomklino I assume you were able to resolve your issue using the suggested workaround. If not, feel free to re-open this issue.

[2019-12-28 17:58] #2353 closed

[2019-12-30 05:43] sfxworks commented on #1502
Is anyone running into this issue with 0.13?

[code]

[2019-12-30 17:22] estroz commented on #1502
@sfxworks can you open a new issue detailing your environment info? Thanks!

[2019-12-30 20:39] micahlee commented on #2152
A use case I have for this to use the SDK CLI in a CI pipeline to build an operator image. We use docker on CI nodes to run build tools, rather than install the tools directly.

We use a third party image now, but would certainly prefer an officially maintained image.

[2020-01-01 00:05] kfox1111 opened #2358 "fact gathering still enabled"
**What did you do?**
facts are being gathered. A patch seems to have merged to default to no fact gathering. Not sure why facts are being gathered.

**What did you expect to see?**
no facts being gathered

**What did you see instead? Under which circumstances?**
Operator runs slower as its gathering facts

**Environment**
* operator-sdk version:
operator-sdk version: "v0.13.0", commit: "1af9c95bb5

[2020-01-03 01:30] AAbouZaid commented on #2108
The same issue happens with `ConfigMap` and `Pod` (and I think it will be like that with all core resources)

[2020-01-03 12:13] aelbarkani opened #2361 "Support for Multinamespace mode in Ansible operator"
## Feature Request

**Is your feature request related to a problem? Please describe.**
It seems that when WATCH_NAMESPACE is defined to multiple namespaces (separated by a comma) in an Ansible operator, the operator interprets it as a single namespace.

Here are the steps I've followed:

1. I created an operator with operator-sdk using Ansible flavor
2. I used operator-sdk olm-catalog gen-csv to c

[2020-01-03 15:53] joelanford commented on #2352
@jianzhangbjz the `release-4.3` branch in this repository is managed by the OpenShift bot. It tracked `master` until the larger OpenShift 4.3 release was made, and has nothing to do with our upstream release cycle. The commit for `v0.12.0` is `2445fcda834ca4b7cf0d6c38fba6317fb219b469`.

We probably need to look into disabling the bot's release branch management since this is pretty confusing.

[2020-01-03 15:59] joelanford commented on #2351
@yeya24 Operator SDK uses the same underlying tool as kubebuilder to generate CRDs (controller-tools). Have you tried using the kubebuilder annotations for additional printer columns and then running the `operator-sdk generate crds` subcommand?

[2020-01-03 17:26] fabianvf commented on #2286
@wfindley looks like the error message isn't super helpful, but for finalizers you need to specify one of `role | playbook | vars`, you can see the additional check here: https://github.com/operator-framework/operator-sdk/blob/79f85641042bf8e7c664784d3ece0c6c53f692f3/pkg/ansible/watches/watches.go#L161-L165

I'm not sure if you need to specify a finalizer if you don't have any changes to make to t

[2020-01-03 19:08] joelanford commented on #2347
@sgrzemski The getting started guide's ["Add a New Controller" section](https://github.com/operator-framework/getting-started/blob/master/README.md#add-a-new-controller) has a step to replace the generated controller with the example controller code from the [example memcached-operator's controller](https://github.com/operator-framework/operator-sdk/blob/master/example/memcached-operator/memcached

[2020-01-03 19:09] #2245 closed

[2020-01-03 19:20] joelanford commented on #2354
@wanminny One sanity check thing to try is `export GOROOT=$(go env GOROOT)` (see https://github.com/operator-framework/operator-sdk/issues/1854#issuecomment-525132306)

That specific error message doesn't ring a bell though, so that may not make a difference.

If that doesn't work, what's the contents of your `go.mod` file? And what steps did you take to build your project? Are you following the u

[2020-01-03 21:17] fabianvf commented on #2358
Are you using a playbook or a role? We may need to set additional options on ansible-runner when running a role directly

[2020-01-03 22:35] rhuss commented on #1568
/lifecycle frozen

[2020-01-04 06:28] RushinthJohn commented on #1858
I created an Ansible operator and am getting this same error stream.
My operator is just watching Namespaces and triggering a simple Ansible role.
Since this is an ansible-operator I am not able to apply any of the fixes mentioned above.

[2020-01-04 08:47] RushinthJohn commented on #1858
I was able to solve this problem by setting the scope of the operator to watch all namespaces.

[2020-01-04 12:35] RushinthJohn opened #2362 "Namespace stuck in Terminating mode due to Finalizer in spec and ansible-operator not triggering."
## Bug Report

**What did you do?**
I created an ansible-operator that watches the Namespaces.
The Ansible role is triggered successfully whenever a namespace is created.
But when I delete a namespace, the namespace is stuck in terminating mode.

**What did you expect to see?**
When the namespace was deleted the Ansible role mentioned has to be triggered.

**What did you see instead? Under which c

[2020-01-04 12:35] RushinthJohn commented on #2362
This is similar to https://github.com/operator-framework/operator-sdk/issues/1493

[2020-01-04 14:03] mabukar opened #2363 "[query]: Helm-operator and configmap update"
Hello!

What would be the right way to manage (update/delete) the configmap of installed application releases via Helm operator? The configuration is mounted to volumes and the files are visible in the running pod.

I can get the configmap with "_kubectl get configmap ..._" but unable to modify it with "_kubectl create configmap appconfig --from-file=/tmp/config.json -o json --dry-run | kubectl ap

[2020-01-04 17:18] aelbarkani opened #2364 "How to keep CR history for rollback purposes ?"
### Question

Is there an easy way to keep revisions of CRs in order to be able to rollback to a specific revision, the same way we have revisions of deployments,statefulsets, daemonsets or helm releases ? If yes, are there any guides/docs about it ?

Thanks in advance !

[2020-01-06 06:17] vinzent commented on #1770
Actually I expected only first level of keys to be snake-cased. It was quite a surprise, that this is snake-case modification is recursive for the complete structure.

[2020-01-06 09:17] jianzhangbjz commented on #2352
@joelanford Yeah, it's very confusing. Ok, got it, thanks!

[2020-01-06 12:10] thegridman commented on #2351
It does support additional printer columns, we use it in our CRDs (we're on operator-sdk 0.13.0 but it worked in earlier versions). For example we have the following Go struct:
[code]

Which generates a CRD with this in it:
[code]

[2020-01-06 12:38] vinzent commented on #2112
As a workaround I know removed the `__del__` method from api_client.py .

[2020-01-06 14:10] camilamacedo86 commented on #2112
Hi @vinzent,

Really thank you for the information provided and tests performed. Note that the OpenShift 3.11 is no longer supported and it is k8s API version is incompatible with the k8s version used in the SDK 0.13

Regards the workaround adopted:

Please, could you add the links and provide more details over the steps? So, just to confirm; after you remove it then all worked well with 0.13 and

[2020-01-06 14:14] camilamacedo86 commented on #2351
Really thank you for your great collaboration, @thegridman. 🥇

Hi @yeya24,

Shows that all is sorted out. So, I am closing this one. However,  please, feel free to re-open if you think that it still required.

[2020-01-06 14:15] #2351 closed

[2020-01-06 14:26] camilamacedo86 commented on #2364
Hi @aelbarkani,

When we apply a new version of the CR the k8s API will add annotations with previous data in the resource. However, I am afraid that it may not attend your needs. If you are using the Go language to develop your operators may you could, for example, define default values and ensure that the CR's will always be update with them in the reconcile.

Could give more context over your n

[2020-01-06 14:30] camilamacedo86 commented on #2362
PS. The #1493 was closed in favour of #1513 where has the steps to reproduce the scenario and a POC.

[2020-01-06 14:32] vinzent commented on #2112
@camilamacedo86 at least ot works fine with 0.13 and OpenShift 3.11 even though you say it's not supported. The error also isn't tied to any openshift version at all, because the problem can be reproduced without even connecting to a cluster at all.

I don't know what further details to provide. I removed the `__del__` method in the ApiClient class (api_client.py) as a *workaround*. I think it's n

[2020-01-06 14:39] vinzent commented on #2112
@camilamacedo86 please also have a look at https://github.com/kubernetes-client/python/issues/1037

[2020-01-06 14:43] aelbarkani commented on #2364
Thanks @camilamacedo86  for your answer. We are using Ansible flavor of operator-sdk to create our operators.

I was targeting something that makes CRs compatible with kubectl rollout commands, but it seems that actually those commands accept only deployments, statefulsets and daemonsets.

[code]

[2020-01-06 14:49] camilamacedo86 commented on #2361
Hi @aelbarkani,

Shows that the behaviour faced is what is specified in your catalogue files ( CSV and   OperatorGroup). Have you got a look in the steps described [here](https://github.com/operator-framework/getting-started#manage-the-operator-using-the-operator-lifecycle-manager)?

@estroz  would you like to supplement this one?

[2020-01-06 14:56] joelanford commented on #2363
@mabukar Is the configmap created as part of the Helm release? If so, the helm-operator will prevent manual changes to the configmap. Instead it will always ensure that the release manifest and deployed resources align with the CR that defined them. This is an intentional design decision of the helm operator, which makes Helm declarative rather than imperative

One way to handle this would be to p

[2020-01-06 16:10] abergmeier opened #2365 "Error: unable to validate against any security context constraint"
## Bug Report

When upgrading our working Operator from 0.11 to 0.12, we get an error:

[code]

Our Operator tries to deploy a Pod named `bar-pod` using `controllerutil.CreateOrUpdate`.

**What did you do?**

Deployed our Operator using SDK 0.12.

**What did you expect to see?**

Should just reconcile fine.

**Environment**
* operator-sdk version:
[code]
* go version:

[code]

* Kubernetes version

[2020-01-06 16:36] camilamacedo86 commented on #2365
The OpenShift 3.11 will use a k8s API which is no longer supported after the 0.9 version of SDK. Then, issues also can be faced. Could you please check it in the Minikube and/or OCP 4.X which will use API compatible versions and let us know if you still facing the same issue?

[2020-01-06 17:15] #1702 closed

[2020-01-06 17:41] aelbarkani commented on #2361
Hi @camilamacedo86. Yes, I've followed the steps described there. I've set the Multinamespace field to true in InstallModes (in the CSV). And indicated several namespaces in the targetNamespaces of the OperatorGroup:
[code]
OLM seems to be working fine. In my opinion it's rather an issue in operator-sdk. I've checked the documentation I've found this sentence here:
https://github.com/operator-fram

[2020-01-06 17:57] camilamacedo86 commented on #2361
Hi @aelbarkani,

I checked it better and saw the error faced`"system:serviceaccount:marketplace:railsstack-operator" cannot list resource "railsstacks" in API group "rails.onehq.com" in the namespace "ns1,ns2`.

I understand that the OLM/CSV is not supported yet for Ansible operators. @estroz could you please double-check it as well? Also, do you think that any way we should keep it open in order

[2020-01-06 19:44] #2342 closed

[2020-01-06 20:27] mabukar commented on #2363
@joelanford, thanks a lot.

Yes, the configmap is created as part of the Helm release. Your explanation makes sense.

Could you please elaborate a bit about the update process you've proposed (preferably with some example commands)? Should I generate a Helm chart with updated configmap values and then re-apply/update the CR (for instance: _kubectl -f apply deploy/cr/my_cr.yaml_ or similar command)

[2020-01-06 20:50] joelanford commented on #2363
@mabukar Sure!

So basically what I'm suggesting is that your configmap contents should be driven by your CR. The goal is for the CR to fully abstract away all the underlying details of the chart such that users interacting with your operator via CRs don't need any awareness of the implementation details of the underlying chart's resources (that's the role of the operator). They shouldn't even hav

[2020-01-06 21:44] joelanford commented on #2363
Your configmap template in your chart should have configurable values templated out as chart values such that they can be configured by the CR. For example:

[code]

[2020-01-06 22:15] joelanford commented on #2365
@abergmeier That's a interesting error message. If you Google "unable to validate against any security context constraint", you get a bunch of results where the brackets have some clue about what's wrong. In your case, it's totally empty. Not sure how that happens.

I would agree with @camilamacedo86 that the version skew between Operator SDK 0.12 (which uses kubernetes 1.15 client libraries) and

[2020-01-06 22:36] #2042 closed

[2020-01-06 23:10] #2306 closed

[2020-01-06 23:11] hasbro17 commented on #2306
@flickerfly Thanks for pointing that out. I've updated the contact info on there.

[2020-01-07 04:54] RushinthJohn commented on #2362
Hi, @camilamacedo86  #1513 has the steps to reproduce the scenario where the ansible-operator is watching a CR but in this case, the ansible-operator I created is not watching a CR but a Namespace which is a built-in type. As you can see from my ```watches.yaml``` the playbook/role is getting triggered when a new Namespace is created.

But the playbook/role is not getting triggered when I delete a

[2020-01-07 04:55] RushinthJohn commented on #2362
The steps to reproduce this issue are:
1. Build an ansible-operator with the mentioned ``watches.yaml`` and an Ansible role that just prints out a message
2. Deploy the operator and create a Namespace
3. By viewing the logs you can see that the Ansible role was triggered
4. Now delete the created Namespace
5. You will be able to see from the logs that the Ansible role was not triggered and the del

[2020-01-07 05:15] #1808 closed

[2020-01-07 08:17] camilamacedo86 commented on #1453
Hi @chancez,

We add an improvement regards the logs. See: https://github.com/operator-framework/operator-sdk/pull/2321.

Could you please let us know if this improvement could not attend your scenario as well and if we can close this one?

[2020-01-07 08:29] camilamacedo86 commented on #1714
The solution here is to upgrade to use the latest versions where has the fix. See:

<img width="936" alt="Screenshot 2020-01-07 at 08 28 38" src="https://user-images.githubusercontent.com/7708031/71880232-c1046e00-3127-11ea-87e8-b3f087385ec9.png">

Closing this one. @asmacdo, please feel free to re-open if you see that it still required.

[2020-01-07 08:29] #1714 closed

[2020-01-07 08:39] glothriel commented on #2198
Thanks @fabianvf I will try to reproduce on some minimal example this week

[2020-01-07 09:09] camilamacedo86 commented on #1944
Hi @michaelgugino,

It is already supported. You can use the watch feature. See in the Memcached sample an example [here](https://github.com/operator-framework/operator-sdk-samples/blob/master/go/memcached-operator/pkg/controller/memcached/memcached_controller.go#L54).

[2020-01-07 09:11] camilamacedo86 commented on #1944
HI @fabianvf,

Shows that the question raised here is sorted out and an issue for the scenario which shows a specific issue was raised as well #2108. In this way, I am closing this one. However, please feel free to re-open if you see that something still is required to be addressed here.

[2020-01-07 09:11] #1944 closed

[2020-01-07 09:14] camilamacedo86 commented on #1983
c/c @jmccormick2001

[2020-01-07 09:28] camilamacedo86 commented on #2198
Hi @glothriel,

I am closing this one since shows all sorted out. Please, feel free to raise a new issue as a bug if it does not work as described by @fabianvf in your POC/tests.

[2020-01-07 09:28] #2198 closed

[2020-01-07 10:06] camilamacedo86 commented on #2364
Hi @aelbarkani,

Thank you for your reply. Could you please clarify when would make sense in the operator use a feature to rollout the CR? I mean, what scenario are you trying to solve? What need are you trying to address?

[2020-01-07 10:10] camilamacedo86 commented on #2362
Hi @fabianvf could you give a hand here? WDYT?

[2020-01-07 10:17] camilamacedo86 commented on #2066
I am closing this one since the blog posts have been done and are in process to be published. (it can take a while in order to follow all process)

[2020-01-07 10:17] #2066 closed

[2020-01-07 13:50] michaelgugino commented on #1944
@camilamacedo86 I realize I can use existing examples to create what I want to do.  What I want is to be able to specify a type when using the generation tool so I don't have to make so many modifications.  I don't consider this to be solved.

[2020-01-07 15:19] jmccormick2001 commented on #1983
@ricardozanini can you retry/retest using the latest operator-sdk version?  I'm not able to recreate this one using the current version.  thanks.

[2020-01-07 15:27] camilamacedo86 commented on #1944
So, @michaelgugino, if you are looking for an RFE please, raise a new issue of this type telling us what, when and why it would be required.

Regards the topic `
Are you asking about community best practices, how to implement a specific feature, or about general context and help around the operator-sdk?`

If we cover all and provide the examples, so it shows sorted out. Do not you agree?

[2020-01-07 15:39] michaelgugino commented on #1944
I'll open an RFE.

[2020-01-07 16:31] mabukar commented on #2363
@joelanford, thanks for the instructions, I will give a try. My configmap template reads config values from a local file (not variables) ... so I would need to figure out how to modify my CR in order to be able to dynamically change the configmap values.

For example, this is how the configmap roughly looks like:
[code]

[code]

[2020-01-07 16:46] joelanford commented on #2363
Since your configmap files are part of your chart that gets built into the operator, those effectively become static, non-overridable configs. What you could do is have a `values.yaml` that defines the defaults (basically what you have in your `config/*` files). And then update your configmap template to use them.

Maybe something like this:

[code]

[code]

[2020-01-07 17:02] fabianvf commented on #2362
@RushinthJohn is the operator getting triggered on update? Curious if this is an issue specifically with deletion or if we're not getting events that come after creation period

[2020-01-07 17:43] camilamacedo86 opened #2369 "Up local doc commands has been gen without Ansible and Helm flags"
## Bug Report

**What did you do?**
Add a new Ansible flag which is used/added to the operator-sdk up local when the operator is Ansible type.

**What did you expect to see?**
A clear and concise description of what you expected to happen (or insert a code snippet).

**What did you see instead? Under which circumstances?**
The doc [operator-sdk up local [flags]]() be updated successfully when the

[2020-01-07 17:59] joelanford commented on #2189
This bug is not fixable due to Helm 3's requirement on [`prometheus/client_golang@v1.2.1`](https://github.com/helm/helm/blob/ad07bb690dbf34e7067171235861a3c0fb9897b6/go.mod#L45)

[2020-01-07 17:59] #2189 closed

[2020-01-07 18:01] joelanford commented on #1531
@muralov I'm going to close this for now since it's pretty stale and I haven't been able to reproduce it, but if you are able to provide a reproducer, please ping me and we can re-open!

Also, BTW, the Helm 3 PR has been merged to master and will be in the next release (probably this week).

[2020-01-07 18:02] #2352 closed

[2020-01-07 18:04] joelanford commented on #2363
@mabukar I'm going to close this issue since I think the original question has been answered, but I can definitely keep helping if you run into more questions about how to get this working!

[2020-01-07 18:04] #2363 closed

[2020-01-07 18:34] mabukar commented on #2363
@joelanford, Sure, I really appreciate your support.

[2020-01-07 19:11] mabukar opened #2370 "[Query]: Documentation about Hybrid operators!"
Hello!

Are there any documentations or user guides available for Hybrid operators? For instance, how operator developers can extend the functions of Helm operators via Hybrid operator?

Thanks!

[2020-01-08 09:26] chowmean opened #2371 "Getting error while creating a basic operator."
## Type of question

**Help around the operator-sdk, facing issue while creating one**

## Question

**What did you do?**
Creating a basic operator. When I tried to deploy the application for operator. It gives below error.
`Error from server (NotFound): error when creating "test.yaml": the server could not find the requested resource (post redises.ice.example.com)`

**What did you expect to see?*

[2020-01-08 12:11] camilamacedo86 commented on #2371
Hi @chowmean,

The error shows that you are trying to apply/create a CR which has not its definition in the cluster.

So, have you applied the CRD which defines it?
Also, note that your CR is missing the apiVersion:

See an example of a valid CR [here](https://github.com/operator-framework/operator-sdk-samples/blob/master/go/memcached-operator/deploy/crds/cache.example.com_v1alpha1_memcached_cr.ya

[2020-01-08 12:25] RushinthJohn commented on #2362
@fabianvf I performed an update on the Namespace by adding labels to its metadata and the Ansible role was not triggered. Not sure if adding labels constitutes an update event.

[2020-01-08 12:27] chowmean commented on #2371
Sorry I missed the line
This is the CR that I used.
[code]

This is the CRD that I applied to kubernetes server.
[code]

I am trying to create a redis kind of object but it is showing plural error like redises is not found.

[2020-01-08 12:38] camilamacedo86 commented on #2371
Hi @chowmean,

If you check the plural metadata in the CRD needs to be gen with the Kind in the plural. See: https://github.com/operator-framework/operator-sdk-samples/blob/master/go/memcached-operator/deploy/crds/cache.example.com_memcacheds_crd.yaml#L10

I did a local test with SDK and it was gen as your example `plural: redis`.

What is the k8s vendor and version that you are using? I am settin

[2020-01-08 12:40] glothriel opened #2372 "Ansible operator does not trigger reconcile loops after ansible failure"
## Bug Report

**What did you do?**
I created a hello-world style ansible operator, which does nothing but failing the play with ansible's `fail` task.
I deployed the Operator, CRD and Custom Resource.

**What did you expect to see?**
I expect to see the operator firing consecutive reconcile loops with exponential back-off.

**What did you see instead? Under which circumstances?**
The operator fai

[2020-01-08 12:43] chowmean commented on #2371
Yes and that is not happening. Below is the env info.
**operator-sdk version**: "v0.12.0", commit: "2445fcda834ca4b7cf0d6c38fba6317fb219b469", go version: "go1.13.4 darwin/amd64"

**Kubernetes version information:**
Client Version: version.Info{Major:"1", Minor:"7", GitVersion:"v1.7.6", GitCommit:"4bc5e7f9a6c25dc4c03d4d656f2cefd21540e28c", GitTreeState:"clean", BuildDate:"2017-09-15T08:51:09Z", Go

[2020-01-08 13:01] camilamacedo86 commented on #2372
Hi @glothriel,

If you check [here](https://github.com/operator-framework/operator-sdk-samples/tree/master/ansible/memcached-operator#troubleshooting) in the sample you will see that has few commands and checks that you can do to troubleshooting the operator. Could you please provide the following info?

1. (state of resources) by running `kubectl get all -n <namesoace>`
2. Ansible and Operator lo

[2020-01-08 13:06] camilamacedo86 commented on #2372
Just to register here important info provided by fabian regards this scenario:

<img width="896" alt="Screenshot 2020-01-08 at 13 05 49" src="https://user-images.githubusercontent.com/7708031/71980351-b1fce900-3217-11ea-83f4-bdc5a92859da.png">

[2020-01-08 16:53] camilamacedo86 commented on #2371
Hi @chowmean,

Following the analyse and tests performed.

I did the following steps to create a CR/CRD with the same group and kind by SDK in order to ensure that the data on them as been generated successfully and will be accepted by k8s API.

1. Create the project and resources

[code]

2. Applying in the Minikube

[code]

**See that all worked well which lead to guess that you have an issue yo

[2020-01-08 16:53] #2371 closed

[2020-01-08 17:19] #1700 closed

[2020-01-08 18:23] mabukar commented on #2363
@joelanford, one more question related to Helm operators. Would it be possible to attach own custom hooks, that will be invoked when installing or uninstalling releases via CR? Or what would be the best way to watch such application pod actions (created/deleted)?

This is unrelated to original question, but I can open a new ticket if that is more convenient.

Thanks!

[2020-01-08 19:42] camilamacedo86 commented on #2372
Following the logs from the POC provided by the user:

**ANSIBLE**

[code]

**OPERATOR**

[code]

See that the imp is in :

See: `,"event_type":"runner_on_failed","job":"6129484611666145821","EventData.Task":"fail","`

@fabianvf I also understand that is a bug. Am I right? Sinec the EventData is returning fail it should not it retrigger the reconcile?

[2020-01-08 19:45] fabianvf commented on #2372
@camilamacedo86 yeah that's a bug, it should definitely requeue

[2020-01-08 20:06] camilamacedo86 commented on #1453
Hi @chancez,

All indicate that this scenario is solved in the PR: #2321.  It is merged in the master and will probably be available in the next release. So, we are closing this one. However, please feel free to re-open if you think that something still required to get addressed here.

[2020-01-08 20:06] #1453 closed

[2020-01-09 05:53] wlmvp commented on #1813
Hi @AllenZMC , what's the root cause please?

[2020-01-09 09:10] chowmean commented on #2371
I tried the exact same steps with new minikube setup and new operator project setup. It is still giving me the same error.
`Error from server (NotFound): error when creating "deploy/crds/ice.example.com_v1_redis_cr.yaml": the server could not find the requested resource (post redises.ice.example.com)`

Will update if I find something.

[2020-01-09 09:37] chowmean opened #2376 "Issue while submitting CR to K8s, when kind name ends with an 's'"
## Bug Report

**What did you do?**
Create a new operator with kind Redis. Tried to create the CRD and then the CR.

**What did you expect to see?**
It should create both CRD and CR.

**What did you see instead? Under which circumstances?**
When we try to create the CR, It gave this error.
`Error from server (NotFound): error when creating "deploy/crds/ice.example.com_v1_tests_cr.yaml": the server

[2020-01-09 09:39] chowmean commented on #2371
Got a problem when the Kind name ends with `s` CR is not accepted. Raised a Bug for this. https://github.com/operator-framework/operator-sdk/issues/2376
It should fail for your case also that you tried above, but I don't know why it worked for Redis in your case.

[2020-01-09 10:02] davidkirwan commented on #1736
Just hit this same issue yesterday with ``operator-sdk v0.12.1``

Fix was to add deployments/finalizers update permissions:

[code]

[2020-01-09 10:26] camilamacedo86 commented on #1736
Hi @davidkirwan,

It make sense. Really thank you for share. We will look at that.

[2020-01-09 10:39] camilamacedo86 commented on #2376
Hi @chowmean,

As I described in https://github.com/operator-framework/operator-sdk/issues/2371#issuecomment-572159050 I used the same data/input Kind=Redis and all was generated and worked well in the k8s.

Could you please check it with the latest version of SDK 0.13?

[2020-01-09 11:07] chowmean commented on #2376
Tried with **operator-sdk** version: v.0.13 and **Kubernetes**: v1.7.5
Still the same error.

[2020-01-09 11:14] camilamacedo86 commented on #2376
HI @chowmean,

I am unable to reproduce the issue with the data gen by the SDK and using k8s 1.14+.
Could you please verify your local env ( versions and configuration )? See that your k8s is old and using a very old version of go when it should be using 1.13+ as well.

If you after that, still facing the issue could you please add here the ** Environment** data used?

[2020-01-09 11:47] theSupermacy commented on #2376
Hi @chowmean,
I have checked on mini-kube and the issue does not replicate.
My version were:-
kubernetes:- v1.17.0
Docker:-v19.03.5
go:-v1.13.5

[2020-01-09 11:52] chowmean commented on #2376
Thanks, @theSupermacy, the problem seems like with Kubernetes older version. Closing this issue.

[2020-01-09 11:52] #2376 closed

[2020-01-09 12:10] zerok commented on #1908
/remove-lifecycle stale

@jmrodri I had a similar issue. Could it be, that your testing code does not include a TestMain that runs "github.com/operator-framework/operator-sdk/pkg/test".MainEntry?

[2020-01-09 12:27] mabukar commented on #2363
@joelanford, FYI: I have tried out the solution you proposed and it works perfectly! Thanks a lot.

[2020-01-09 15:28] vadimeisenbergibm commented on #1237
@shawn-hurley Is it possible to watch specific pods, by some label? Otherwise, will the operator's role run for any change in any pod in the namespace?

[2020-01-09 15:46] asmacdo commented on #2253
Attempted to replicate with https://github.com/operator-framework/operator-sdk/pull/2377 and I didn't see this warning, so I assume we are fine to close.

[2020-01-09 15:46] #2253 closed

[2020-01-09 16:19] vadimeisenbergibm commented on #1237
@shawn-hurley Another issue with watching pods, is that the operator will update their status:
`"logger":"reconciler","msg":"Unable to update the status to mark cr as running"`. However, if I am only interested in watching some resources and not interested in updating their status, what should I do?

[2020-01-09 16:22] fabianvf commented on #1237
@vadimeisenbergibm you can set the `manageStatus` option to false in the watches.yaml to skip status management. I also don't think there's a way to filter by label currently

[2020-01-09 16:23] camilamacedo86 commented on #1237
HI @vadimeisenbergibm,

In order to better help the users and we are able to help you more assertively, could I kindly ask for you to raise one subject/matter per issue? Could you please open a new one with further questions/issues bring up and/or if the above comment did not help you with?.

[2020-01-09 16:25] camilamacedo86 commented on #2253
Really tks @asmacdo it probably was solved already.

[2020-01-09 16:27] vadimeisenbergibm commented on #1237
Hi @camilamacedo86, the answer of @fabianvf helped me, thanks. I will open an issue regarding filtering watched resources.

[2020-01-09 16:30] vadimeisenbergibm opened #2378 "Add filtering of watched resources"
## Feature Request

**Is your feature request related to a problem? Please describe.**
I would like my Ansible operator to watch some resources, for example pods, and I want it to run only on some specific pods, for example pods with some label.

**Describe the solution you'd like**
I would like to be able to add selectors in `watches.yaml` to specify selectors of the watched resources, e.g. label

[2020-01-09 16:30] vadimeisenbergibm commented on #1237
@camilamacedo86 @fabianvf I have added a feature request https://github.com/operator-framework/operator-sdk/issues/2378.

[2020-01-09 17:05] camilamacedo86 commented on #2378
@fabianvf would be great have your input here?

[2020-01-09 20:50] ricardozanini commented on #1983
Hi @jmccormick2001 please go ahead and close this issue, I can confirm that it's working :)

[2020-01-09 20:50] #1983 closed

[2020-01-09 22:57] swapnil-zendesk opened #2383 "Operator removed all the labels and annotations added to operator service"
## Bug Report
I am trying to add labels to the service exposed by the operator. The operator removes labels and annotations from service. We are trying to create a service mesh that would require marking all services with a project and team label.

**What did you do?**
Tried creating service through yaml file.
`---
apiVersion: v1
kind: Service
metadata:
  labels:
    name: xyz-operator
    project

[2020-01-09 23:12] camilamacedo86 commented on #2383
Hi @swapnil-zendesk,

If you are writing your operator in Go then, I'd like to say that you need to add the labels in the code that gen the resources. See in the Memcached sample [here](https://github.com/operator-framework/operator-sdk-samples/blob/master/go/memcached-operator/pkg/controller/memcached/memcached_controller.go#L235) the labels added in the Service.

Also, I'd like to say that the g

[2020-01-10 00:23] swapnil-zendesk commented on #2383
Hello @camilamacedo86 ,
Thank you for replying.
It might be confusing but the service I am referring to is the one operator used to communicate with other service/ pods.

`swapnil@jumpbox2:~$ kubectl get all -n namespace
NAME                                          READY   STATUS    RESTARTS   AGE
pod/xyz-operator-74b9c548c4-dqtlq   1/1     Running   0          42m

NAME

[2020-01-10 00:51] joelanford commented on #2354
@wanminny Were you able to solve your problem? If not, we can re-open and keep troubleshooting.

[2020-01-10 00:51] #2354 closed

[2020-01-10 00:53] joelanford commented on #2347
@sgrzemski @mailzyok Were you able to resolve your issue? If not, we can re-open and keep troubleshooting!

[2020-01-10 00:53] #2347 closed

[2020-01-10 09:30] camilamacedo86 commented on #2383
Hi @swapnil-zendesk,

The only services that are created by default in the scaffold, I mean, that the developer did not implemented on it are to allow to expose the operator metrics. See [here](https://github.com/operator-framework/operator-sdk-samples/tree/master/go/memcached-operator#installing) the Memcached sample.

**Example**

[code]

They are implemented in the main.go [here](https://github

[2020-01-10 09:58] smiklosovic commented on #1538
@traghave any luck?

[2020-01-10 12:47] TristanCacqueray commented on #1770
@Reamer for a resource named:
[code]
You can access the unmodified spec with this ansible var: `_softwarefactory-project_io_zuul_spec`, at least with quay.io/operator-framework/ansible-operator:v0.13.0

[2020-01-10 12:51] vinzent commented on #1770
I'm aware of that.

At least we're using the role with an ansible operator AND additionally also with "traditional" inventory. So I need to check if that specific key exists or not and use set_fact to create a temporary fact that stores the actual data to be used.

[2020-01-10 12:53] TristanCacqueray commented on #2372
This is also a convenient feature during development :), would it be possible to make this behavior optional?

[2020-01-10 13:07] TristanCacqueray opened #2384 "Ansible operator (v0.13.0) k8s module apply attribute needs more recent openshift python library"
## Bug Report

**What did you do?**

[code]

**What did you expect to see?**

The task succeeding.

**What did you see instead? Under which circumstances?**

It failed with:
[code]

**Environment**

The image is built with: quay.io/operator-framework/ansible-operator:v0.13.0
And it contains: openshift-0.8.9

**Possible Solution**
Add to the Containerfile:
[code]

[2020-01-10 13:42] camilamacedo86 commented on #2372
Then I think we cannot do both ( fix and rfe ) in the same PR. Could you please create a new issue with your request for we are able to discuss this matter there?

[2020-01-10 14:12] alexcpn opened #2385 "Fails to create a new operator using helm chart"
## Bug Report

**What did you do?**
Was trying to generate an Helm operator with existing Helm chart.
This is similar to #1993
I ran the same command as in #1993 and got this error

`~/coding/k8s$ operator-sdk new kubedb2-helm-operator   --type=helm   --helm-chart=kubedb   --helm-chart-repo=https://raw.githubusercontent.com/appscode/charts/master/stable/ --helm-chart-version=0.12.0 --verbose
DEBU[

[2020-01-10 14:29] joelanford commented on #2385
@alexcpn SDK v0.13.0 does not include the most recent Helm v3 changes, which are on `master`, but not yet released. We'll be making a release of SDK either today or early next week, so I would encourage you to retry from a build of the current master or once we release v0.14.0.

If you run into the same issue with either of those, we can definitely re-open this issue and help you figure out what's

[2020-01-10 14:29] #2385 closed

[2020-01-10 18:28] mitar opened #2386 "Help operator: support multiple charts per operator"
## Feature Request

**Is your feature request related to a problem? Please describe.**

I am new to the operator SDK, but I was reading user documentation for Helm operator and it seems to me that it is just about creating one operator per Helm chart. I understand that this aligns with what the operator SDK is about, but in practice, wouldn't it make more sense to have only one operator which know

[2020-01-10 19:14] bharathi-tenneti commented on #2370
@mabukar  As of now, this is something we have in our back log.

[2020-01-10 19:41] camilamacedo86 commented on #2370
Hi @mabukar,

I just would like to supplement that for the specific question as @bharathi-tenneti described, I am afraid that we have not.

However, it has guide docs for Ansible and Helm operator and many features and usages documented. See the links in the  [samples](https://github.com/operator-framework/operator-sdk-samples). And then, you also can check all docs in this repo here: https://gith

[2020-01-10 20:16] geerlingguy commented on #2384
Just noting that I haven't had this issue on my builds, not sure why not...?