[2020-11-05 14:40] majidma-ag commented on #4195
Hi Camila,
I saw the error, but the play looks fine.

[2020-11-05 15:48] asmacdo commented on #4015
Bumping to 1.3 and assigning Jesus.

[2020-11-05 17:20] #4092 closed

[2020-11-05 19:10] mrhillsman opened #4196 "csv markers fail to generate for embedded types in sdk 1.1.0"
## Bug Report

#### What did you do?

I created two projects using version 0.18.2 and 1.1.0 of the sdk. For both versions, I created an embedded type defined in a types.go file alongside memcached_types.go. When generating the CSV markers from the embedded type defined in the types.go file do not appear when using version 1.1.0 of the sdk but do appear when using version 0.18.2 of the sdk.

You ca

[2020-11-05 20:00] camilamacedo86 commented on #3684
/lifecycle frozen

[2020-11-05 20:10] mrhillsman commented on #4196
@estroz

[2020-11-05 20:16] lsalazar1 commented on #4193
Ah okay, I was running v1.1.0 when I should've been using v.0.17.0 (squad set this version as mandatory). The scorecard command has been somewhat functional.

We've had times were it will output what we're expecting
![Screen Shot 2020-11-05 at 11 21 04 AM](https://user-images.githubusercontent.com/42328472/98291283-800bfe80-1f70-11eb-8400-5de46ecbebd4.png)

and other times we're it says that it fa

[2020-11-05 20:26] estroz commented on #4196
/assign

[2020-11-05 20:37] jmccormick2001 commented on #4193
namespaced-manifest	string	manifest file with all resources that run within a namespace. By default, the scorecard will combine service_account.yaml, role.yaml, role_binding.yaml, and operator.yaml from the deploy directory into a temporary manifest to use as the namespaced manifest.....that is from the 0.17 documentation for scorecard...however, not sure if it will cover your situation but its so

[2020-11-05 21:46] asmacdo commented on #4071
I also reproduced this, the issue occurs when a watches.yaml file lists a playbook, and that playbook imports a role that is not in ANSIBLE_ROLES_PATH. If the watches file lists the role directly, ansible-operator handles this correctly.

[2020-11-06 00:17] drewwells commented on #3357
The {uid} suffix fixes this problem https://github.com/operator-framework/operator-sdk/pull/1818. To make matters worse, you can't add openapi patterns to enforce a naming scheme on the CR. This leaves us with having to write an admission webhook to enforce a name

[2020-11-06 01:32] estroz commented on #4071
Bumping to v1.3

[2020-11-06 02:11] estroz commented on #3235
Since this is fixed upstream but isn't available because [`go/v3-alpha`](https://github.com/kubernetes-sigs/kubebuilder/blob/7d86f0d/pkg/plugin/v3/plugin.go) isn't hasn't been added to `operator-sdk init` yet, so I'm bumping this to v1.3

[2020-11-06 04:55] pkandarpa-cs opened #4198 "CVE-2018-1098 found with operator-sdk v1.0 transitive dependencies"
## Type of question

Best practices

## Question

#### What did you do?
Veracode is reporting a vulnerability with Operator-sdk v1.0. The CVE ID is CVE-2018-1098

k8s.io/apiextensions-apiserver@v0.18.6 requires ===> github.com/spf13/cobra@v0.0.5
github.com/spf13/cobra@v0.0.5 requires ===> github.com/spf13/viper@v1.3.2
github.com/spf13/viper@v1.3.2 requires ===> github.com/coreos/etcd@v3.3.10+incom

[2020-11-06 05:16] majidma-ag commented on #4195
@camilamacedo86,
As i mentioned in the previous comment the playbook works if you execute it using regular ansible-playbook command, not sure why it is complaining that playbook has conflicting actions.

[2020-11-06 05:25] sundar-cs commented on #3590
Hi,

I see the same issue as described by atef23 on 29th July, but in my case the logs have No errors (RBAC or whatever).
i.e. the operator logs says Successfully Reconciled but no pod gets created.

The link being followed is:
https://sdk.operatorframework.io/docs/building-operators/golang/quickstart/

Operator-sdk version is 1.1.0

kubectl get crd -A
NAME                           CREATED AT
mem

[2020-11-06 16:37] #4193 closed

[2020-11-06 17:41] estroz commented on #4096
Output from a manual test (created using the [Go sample](https://github.com/operator-framework/operator-sdk/tree/v1.1.0/testdata/go/memcached-operator) with [default kuttl config and assert](https://sdk.operatorframework.io/docs/advanced-topics/scorecard/kuttl-tests/)):
[code]

So this is fixed. Closing.

[2020-11-06 17:41] #4096 closed

[2020-11-06 17:43] #4106 closed

[2020-11-06 18:51] estroz commented on #4183
/kind feature
/language ansible

[2020-11-06 18:54] estroz commented on #4082
There's a big generator refactor coming that fixes #3998, which I'd like to see get in first because
1. It fixes a UX problem that a lot of users are having right now
1. Will likely make this refactor easier since it removes a concrete type parameter from generators.

Therefore I'm bumping this to v1.3

[2020-11-06 19:26] estroz commented on #4041
@zhiweiyin318 this is indeed a bug that was fixed in v1.1.0. If you can't bump to that minor version, feel free to reopen this issue.

[2020-11-06 19:26] #4041 closed

[2020-11-06 19:29] estroz commented on #2977
/lifecycle frozen

[2020-11-06 20:07] estroz commented on #2996
@mmellin hopefully filing an issue with OLM helped. If you still think there's something the SDK should be doing that it isn't, feel free to reopen this issue.

[2020-11-06 20:07] #2996 closed

[2020-11-06 20:10] estroz commented on #3736
@stiller-leser if you establish a watch on the service(s) that have the IP you want, the reconcile loop will run once that happens and you can update your CR's status then.

[2020-11-06 20:12] estroz commented on #3744
@shivanshs9 does the scenario in #4196 describe the yours as well?

[2020-11-06 20:12] #4198 closed

[2020-11-06 20:44] #3930 closed

[2020-11-06 20:51] estroz commented on #3962
@ajeetas some of the validation errors are pretty clear: you need to lower-case `Citrix` everywhere. These errors likely stem from an incorrect `init` invocation:
- the `--kind` value needs to be a camel-cased string, so instead of `--kind=Citrix-adc-istio-ingress-gateway` it should be something like `--kind=CitrixAdcIstioIngressGateway`
- the `--group` value needs to be lower-cased, so instead of

[2020-11-06 21:49] #4120 closed

[2020-11-07 06:48] faust64 commented on #3585
That issue is still there.

I've been updating my operator base image to 1.1.0: no change.
Restarting/starting an operator, while 10s of CR exist, all playbooks would start together, k8s modules would randomly timeout, none of your playbooks would complete, ... until such time playbooks run are spaced enough to get enough CPU.

Meanwhile, as of using 1.1.0 (ansible 2.10.2), most my playbooks would

[2020-11-07 07:15] faust64 opened #4202 "Recursion issues as of 1.1.0 / ansible 2.10.2"
## Bug Report

#### What did you do?

Changed my base image from 1.0.1, to 1.1.0.

#### What did you expect to see?

Nothing special, similar results to 1.0.1 I guess.

#### What did you see instead? Under which circumstances?

Playbooks crashing.

In practice. My operator deploys stuff, that could have dependencies on other components we might have deployed with another CR.

At some point, I woul

[2020-11-07 09:49] sayboras opened #4203 "make test shows source: not found"
## Bug Report

`make test` shows below error for golang project

[code]

#### What did you do?

Follow steps in https://sdk.operatorframework.io/docs/building-operators/golang/quickstart/, and run `make test`

#### What did you expect to see?

`make test` should not show any error

#### What did you see instead? Under which circumstances?

[code]

#### Environment

**Operator type:**

/language go

[2020-11-07 14:47] shivanshs9 commented on #3744
@estroz not exactly, since in my case, only `statusDescriptors` weren't being collected. But I did use a different version, v1.0.0. Haven't tested yet with v1.1.0

[2020-11-08 11:09] pre commented on #4084
Workaround of https://github.com/operator-framework/operator-sdk/issues/4084#issuecomment-714533177 also works for Helm [overrideValues](https://sdk.operatorframework.io/docs/building-operators/helm/reference/advanced_features/override_values/) which contain comma-separated values, such as an env `LDAP_BASE_DC` whose value is `dc=example,dc=com`.

Thanks!

[2020-11-08 20:53] varshaprasad96 opened #4206 "Error while running conversion webhooks with OLM"
## Bug Report

#### What did you do?
Generated `packagemanifests` using operator-sdk with webhooks. Used the generated package manifests to deploy the operator using olm.

#### What did you expect to see?
Operator running successfully.

#### What did you see instead? Under which circumstances?
[code]

#### Environment

**Operator type:**

/language go

`$ operator-sdk version`
[code]

`$ go versio

[2020-11-09 08:09] huzefa51 opened #4207 "unable to build the docker image for operator"
We are using operator-sdk version 1.0.1
[code]

While trying to build the docker image of operator we are getting below error but normal make install and other make run commands are working fine.

[code]

Below is my go env output
[code]

[2020-11-09 09:28] stiller-leser commented on #3736
Hi @estroz,

thank you - might I ask how I can establish a watch? Would I need to add them to the `watches.yml` or is there a way to only add a watch to a specific service?

Best regards,
Kaj-Sören Mossdorf

[2020-11-09 11:25] camilamacedo86 commented on #3672
/remove-lifecycle stale

[2020-11-09 17:15] pprokopi opened #4209 "Requeuing Reconcile stops working after 15 requeues"
## Bug Report

#### What did you do?

Created the following Reconcile function in my controller

[code]

#### What did you expect to see?

A endless loop of requeues (counted using the log messages that appear), or at least a bit enough number of them.

#### What did you see instead? Under which circumstances?

It always stopped requeuing around 15 requeues.
If I trigger a reconciliation by alteri

[2020-11-09 17:43] camilamacedo86 opened #4210 "Operator-sdk help for Helm/Ansible shows that GO text"
## Bug Report

#### What did you do?

Run `operator-sdk -h` in a Helm/Ansible project (it is possible to use the testdata/ samples to check)

#### What did you expect to see?

A specific helper message according to the type

#### What did you see instead? Under which circumstances?

The GO help message.

#### Environment

**Operator type:**

/language ansible
/language helm

- operator-sdk version

[2020-11-09 18:44] asmacdo commented on #4157
Fixed by https://github.com/operator-framework/operator-sdk/pull/4205

[2020-11-09 18:44] #4157 closed

[2020-11-09 18:45] camilamacedo86 commented on #1234
Just to keep it update. The controller-runtime provides features to address this need and it is addressed on upstream for v3-alpha plugin. See: https://github.com/kubernetes-sigs/kubebuilder/pull/1795

So, the next step would be we check if we can add it to v1+ ansible/helm plugin or we need to push it for v2+ plugin as well for them. Also. we might need to deprecate some specific implementation d

[2020-11-09 18:46] asmacdo commented on #4172
We've encountered it often enough for new code files, but also for temporarily flaking external websites. We need some way to manually allow our CI to pass if one of many external sites aren't up.

[2020-11-09 18:51] asmacdo commented on #4202
Operator SDK `1.0.1` and `1.1.0` are both still using Ansible `2.9` https://github.com/operator-framework/operator-sdk/blob/v1.1.0/hack/image/ansible/Dockerfile#L24

[2020-11-09 19:14] asmacdo commented on #4145
This is a tough question to answer for Ansible-based operators generally. If you have the time, I think the community could really benefit from a blog post or similar as you go through this process.

[2020-11-09 19:19] joelanford commented on #4145
It should be totally possible to migrate from Ansible to Go without any user-facing changes. You can re-implement all of your Ansible logic in Go without changing your CRD, and transparently upgrade users from the Ansible-based operator to a Go-based operator, and it wouldn't even _have_ to be a new major version number.

The one thing to look out for is CRD validations. Ansible-based operators do

[2020-11-09 19:19] #4145 closed

[2020-11-09 19:36] joelanford commented on #4175
Closing as a duplicate of #4171.

[2020-11-09 19:36] #4175 closed

[2020-11-09 19:43] asmacdo commented on #4172
What we've decided to do is move the link checker from a Travis job to a GitHub action. The link checker will no longer block merging but will show up as a red x.

[2020-11-09 19:56] camilamacedo86 commented on #4195
Hi @majidma-ag,

We are unable to reproduce this issue with the sample in the /testdata/ansible or following the tutorials. So, we would need to have more information. It really shows some role and/or playbook with invalid syntax. Could not be that your not might be executing the same playbook/role that the project is complaining about. So, could you share a link for your project for we are able t

[2020-11-09 20:05] camilamacedo86 commented on #4184
Hi @fckbo,

Could you provide the above information request? Also, could you let us know more about your local env such as: is it using the default setup? Have you many other projects or just this one?

[2020-11-09 22:12] jmrodri commented on #4203
@sayboras out of curiosity what Linux version are you using? `uname -a`

[2020-11-09 22:56] jberkhahn commented on #4171
So, if you take a look at the [example controller implementation](https://github.com/operator-framework/operator-sdk/blob/master/testdata/go/memcached-operator/controllers/memcached_controller.go) you can see how to use the reconciler API to query and manipulate deployments and other core kubernetes types. You can follow this same pattern with custom types such as those implemented in the Istio op

[2020-11-10 04:05] estroz commented on #3695
/lifecycle frozen

[2020-11-10 04:09] majidma-ag commented on #4195
Hi @camilamacedo86,

This does not looks like a issue, you may go ahead and close the issue.
Need an advice from you.
The controller logs will show the details of all the previous runs, i wanted to see the logs of only the current run, what settings should i tweak it. ? Please let me know.

I see we need to tweak the config/manager/manager.yaml and config/default/manager_auth_proxy_patch.yaml to h

[2020-11-10 07:30] sayboras commented on #4203
oh right, I am running with ubuntu

[code]

[2020-11-10 17:59] estroz commented on #4148
Bumping the timeout to 2m will fix this.

[2020-11-10 19:29] brandentimm opened #4216 "Darwin binary for v1.2.0 incorrectly compiled for Linux"
## Bug Report

#### What did you do?

Downloaded the v1.2.0 binary from the releases page (https://github.com/operator-framework/operator-sdk/releases/download/v1.2.0/operator-sdk-v1.2.0-x86_64-apple-darwin) and attempt to execute it on Mac OS.

#### What did you expect to see?

The operator-sdk binary successfully execute.

#### What did you see instead? Under which circumstances?

zsh: exec form

[2020-11-10 19:48] camilamacedo86 opened #4217 "CLI implementation shows options/commands which are not supported by the project type"
## Bug Report

#### What did you do?

In the root dir of a Helm/Ansible project, executed the commands which are listed via `$ operator-sdk -h`.

#### What did you expect to see?

Able to use any command that is listed by the CLI helper

#### What did you see instead? Under which circumstances?

Errors, as follows, are faced when/if we try to execute a command that is not valid for tthe specific t

[2020-11-10 20:04] camilamacedo86 commented on #4148
HI @estroz,

The images used in the CI should not be pulled since we build all images with the dev tag and load them on the cluster.
So, why would be required a timeout of 2 min to get the image when they are on the cluster already? My guess is that the CI is using the release tags (pulling) when should not see:

Currently:

1. We just replace 2 places with dev images for scorecard. See: https://g

[2020-11-10 20:21] jmrodri commented on #4203
Thanks. So based on the default Ubuntu installation `/bin/sh` is a symlink to `dash` a different shell. Changing `source SCRIPT` to `. SCRIPT` would work but that can't be done in the SDK.  I'll look at your PR now.

[2020-11-10 21:50] estroz commented on #4148
How can they be pulled if you're already [replacing scorecard all images](https://github.com/operator-framework/operator-sdk/blob/723bec5a9895f07429297af84d75445a0082049f/internal/testutils/scorecard.go#L88) tags with the `<image>:dev` tag? That tag [does not exist remotely](https://quay.io/repository/operator-framework/scorecard-test?tab=tags), so can never be pulled. If they aren't  being replac

[2020-11-10 22:02] #4146 closed

[2020-11-10 22:37] camilamacedo86 commented on #4148
As described above, we are NOT replacing ALL images tags. We just replace 2 places.

You linked https://quay.io/repository/operator-framework/scorecard-test?tab=tags which has the image with release tags. However, it is not the only image used by the scorecard.

The regex will ONLY fail if not be able to do the replace in the 2 specifics places. However, as described in https://com/operator-framew

[2020-11-10 22:44] relyt0925 commented on #2623
@estroz we are able to replicate this specifically when an independent apiservice (that does not contain the CRD) cannot be accessed. We can replicate this on a regular basis when that is the case.

[code]

Something like that  is a good example.

If there's logs you would like me to gather let me know. I will also try to get more logs of what specifically is failing in this situation.

[2020-11-10 22:49] relyt0925 commented on #2623
I believe the issue is there's no "silent fail" when a specific API Service cannot be looked up:
https://github.com/operator-framework/operator-sdk/blob/947a464dbe968b8af147049e76e40f787ccb0847/pkg/ansible/proxy/proxy.go#L301-L328

Basically that means if one APIService fails the entire operator cannot function. However, in this case if the operator were able to disregard that the metrics service

[2020-11-10 23:03] jberkhahn commented on #4151
So here's why my tests are failing. I just run `make test-all`. It runs for a bit, and starts to fail here, which looks to me like part of the sanity tests:
[code]

and a bunch more similar errors after that. I suspect this isn't actually an error with the testing, but rather an error with some way my system is configured, but I can't figure it out.

[2020-11-10 23:26] estroz commented on #4151
@jberkhahn can you paste your full logs in an details box so I can see what else is happening:
[code]

[2020-11-10 23:44] joelanford commented on #4216
Thanks for the report. We'll get these rebuilt ASAP!

[2020-11-11 00:17] jberkhahn commented on #4151
<details><summary>Output</summary><br><pre>
jberkhahn@Purgatory> make test-all
go build -gcflags "all=-trimpath=/Users/jberkhahn/workspace/go/src/github.com/operator-framework" -asmflags "all=-trimpath=/Users/jberkhahn/workspace/go/src/github.com/operator-framework" -ldflags " -X 'github.com/operator-framework/operator-sdk/internal/version.Version=v1.2.0+git' -X 'github.com/operator-framework/oper

[2020-11-11 00:22] joelanford commented on #4216
New binaries are uploaded. Could you download again and retry?

[2020-11-11 01:06] jberkhahn commented on #4151
Eric helped me trouble shoot a bit (I had some super weird version of kustomize installed), and now this is where I'm failing

<details><summary>Output</summary><br><pre>

jberkhahn@Purgatory> make test-all
go build -gcflags "all=-trimpath=/Users/jberkhahn/workspace/go/src/github.com/operator-framework" -asmflags "all=-trimpath=/Users/jberkhahn/workspace/go/src/github.com/operator-framework" -ldfl

[2020-11-11 01:16] joelanford commented on #4151
@jberkhahn the `./tools/scripts/fetch` script downloads and expects to find all binaries in `./tools/bin` so ensure everything is self-contained. Copy `kind` to `./tools/bin` and see if that gets you past this.

[2020-11-11 02:36] #4216 closed

[2020-11-11 03:26] jberkhahn commented on #4151
that fixed it.

next speed bump I run into was not having something called 'molecule' installed. I assume that's (this)[https://github.com/ansible-community/molecule] and installed whatever version 'pip install molecule' grabbed. Would be nice for that to be written down somewhere or just have the script install it?

I'm now seeing a similar error to Camila's, i.e. timeouts in the ansible e2e test

[2020-11-11 10:31] camilamacedo86 commented on #4151
Hi @joelanford @estroz,

IMO following the problems with the changes made in the makefile regards to run the tests:

- I have the Kind installed locally already. I do not want the makefile targets to install the Kind because it breaks my local env setup
- I want to be able to run the tests via the IDE as I did before to troubleshooting and debug the tests which mean manually build the images and l

[2020-11-11 13:38] joelanford commented on #4151
@jberkhahn Can you try this: `make test-e2e-teardown test-e2e-ansible`?

That will cause the e2e kind instance to be deleted and re-created, ensuring a totally fresh cluster for the test.

Typically, I would expect `make test-e2e-ansible` to work multiple times without restarting the kind cluster, so if my above suggestion fixes the problem and the problem is easily reproducible, we probably need

[2020-11-11 13:49] joelanford commented on #4148
This sounds like speculation. Have you tried stepping through the e2e test manually to see what ends up in the bundle? How would release tags end up in the bundle if the source config files have been replaced with the `:dev` tags? That seems extremely unlikely. If you have verified a release tag is being used, can you identify which file contains the release tag?

Until we can find to a specific c

[2020-11-11 14:48] camilamacedo86 commented on #4151
Hi @jberkhahn.

Please do the test with  `test-e2e-helm` instead of it. The molecule tests that are now called with ith the makefile target `test-e2e-ansible` has pre-requirements that are not set locally. Let's keep it apart at the first moment. Btw I never was able to run them locally. So, first, let's ensure that we are able to run the test/e2e locally as it was done before.

IMO following the

[2020-11-11 15:51] camilamacedo86 commented on #4148
Hi @joelanford,

I understand that the error `context deadline exceeded` faced in the scorecard means that was NOT possible to pull the image. Then, I know that in the CI we should NOT pull the image. The CI should build a dev image using the code changes and load it in the Kind. The PR https://github.com/operator-framework/operator-sdk/pull/4144 has the goal to ensure that the CI will no longer p

[2020-11-11 16:03] camilamacedo86 commented on #4148
Hi @joelanford @estroz,

I understand that the error `context deadline exceeded` faced in the scorecard occurs when is NOT possible to pull the image. Then, I know that in the CI we should NOT pull the image and use the dev image loaded on the Kind instead of that.

In this way, by looking `context deadline exceeded` I just can make the assumption that CI is pulling the image when should not which

[2020-11-11 16:08] joelanford commented on #4148
That's not right. All that means is that the test did not complete before the timeout. It doesn't tell us anything about _why_ the test didn't complete in time.

It looks like your screenshot is showing files in the generated projects in `testdata`. However, we [copy those projects into an e2e directory](https://github.com/operator-framework/operator-sdk/blob/265b948cca9248cbd60db81b162623976d6ea4

[2020-11-11 16:51] joelanford commented on #4148
I found this in the scorecard test pod before the e2e scorecard test timed out:
[code]

I didn't see that secret in the namespace, but I may not have been fast enough before the test timed out and things got cleaned up.

[2020-11-11 16:57] AndreaGiardini commented on #2815
Hey @joelanford

I think I am experiencing the same problem with the latest version of operator-sdk:
[code]

I created a helm operator of https://github.com/Requarks/wiki/tree/dev/dev/helm using:
[code]
Then (on a kind cluster):
[code]

The operator seems stuck in an endless upgrade loop:
[code]

Looks like it is constantly trying to upgrade the Secret resource.
Any pointer in the right direction?

[2020-11-11 17:26] barryzhounb opened #4223 "User "system:serviceaccount:test-namespace:default" cannot list resource"
Our team developed an xxxx Operator with Operator-sdk framework v1.0, basically it worked. Somehow we got issue,we could not find the root cause.

1. Development environments:
go 1.13

require (
        github.com/go-logr/logr v0.1.0
        github.com/onsi/ginkgo v1.14.2
        github.com/onsi/gomega v1.10.3
        k8s.io/api v0.18.6
        k8s.io/apimachinery v0.18.6
        k8s.io/client-go

[2020-11-11 17:52] #4148 closed

[2020-11-11 18:43] estroz commented on #4223
A few possibilities
- It looks like your RBAC doesn't have the "list" verb specified for certain types. What does your `config/rbac/role.yaml` look like?
- The namespace used (test-namespace) does not look like the one created by default. How are you deploying your operator? Are you using `make deploy`?

/triage support

[2020-11-11 18:58] barryzhounb commented on #4223
Hi @estroz ,
This is a piece of role.yaml, since it is too long, I could not show all here. I saw here for deployments, there are a few of verbs(create/delete/get/list)
[code]

[2020-11-11 19:20] estroz commented on #4196
Current workaround: add a `spec=true` or `status=true` marker to skipped parent(s) field(s).

[2020-11-11 19:35] estroz commented on #4044
This may never be completed because the changes being discussed here could be considered breaking changes to the go/v2 plugin, hence will never be applied upstream. However these changes are already present in the go/v3-alpha plugin.

[2020-11-11 19:47] jberkhahn commented on #4151
TODO:
add a canary test that checks if molecule is installed/correct version and fails quickly before actually trying to do ansible stuff

[2020-11-11 20:00] asmacdo commented on #4129
This one should be pretty easy for a new contributor, feel free to ping me to get help.

[2020-11-11 21:11] jberkhahn commented on #4151
@joelanford `make test-e2e-teardown test-e2e-ansible` works fine. upon running things individually its definitely the molecule tests that are causing the big problems.

next thing i encountered is in the integration tests in hack/tests/integration.sh we use the `mktemp` command with the -p flag which the osx version doesn't look like it has.

[2020-11-11 23:23] #3678 closed

[2020-11-11 23:31] camilamacedo86 commented on #3678
It is done in the PR #4156

[2020-11-12 11:38] camilamacedo86 commented on #3050
It shows that can be closed. Feek free to raise new issues and/or ping us to re-open this you if you need.

[2020-11-12 11:38] #3050 closed

[2020-11-12 11:41] camilamacedo86 commented on #3020
The version 0.17+ is no longer supported. We recommend users upgrade their project to 1.0+. See:
Also, it shows open for a while without a reply which shows fine to be closed.
However, please feel free to ping us if you think that it should be re-opened.

[2020-11-12 11:41] #3020 closed

[2020-11-12 12:58] alejandrojnm opened #4228 "v1.CreateOptions is not suitable for converting"
## Bug Report

#### What did you do?

- Import a third party library (kubevirt.io)
- Add it to the main to load the schemas like this
`kubevirtv1 "kubevirt.io/client-go/api/v1"`
and in the `init()` added this
`utilruntime.Must(kubevirtv1.AddToScheme(scheme))`

- in the controller i create a function to create a new VM using they schema

[code]

after that use in this way

[code]

#### What did you

[2020-11-12 17:19] secat opened #4229 "Unable to run operator-sdk x86_64-linux-gnu binary since version v0.19.0"
## Bug Report

Running the downloaded binary from GitHub doesn't work anymore starting from version `v0.19.0`

[code]

#### What did you do?

I ran the following commands in a bash shell to install the operator-sdk:
[code]

where `RELEASE_VERSION` where:
- `v0.19.0`
- `v0.19.3`
- `v0.19.4`
- `v1.2.0`

#### What did you expect to see?

The operator-sdk binary to work as expected (by example version

[2020-11-12 17:23] joelanford commented on #4229
Do you have a `PROJECT` file in your root directory? If so, it sounds like the `version` field is invalid or maybe not present.

Starting at v0.19, SDK added support for Kubebuilder-based projects, and this sounds like SDK is identifying your project as such based on the presence of the `PROJECT` file.

Here are the migration docs (if you haven't found them already): https://sdk.operatorframework.

[2020-11-12 17:47] secat commented on #4229
@joelanford effectively, the `PROJECT` file is missing from the root directory of my project.

Thank you.

However, I would have expected the tool to report this kind of thing with an explicit message saying that the `PROJECT` file is missing at the root of the director project.

[2020-11-12 17:59] joelanford commented on #4229
In v0.19, both old and new project layouts are supported, so SDK should be switching on the presence of that file.

In v1+, only Kubebuilder style projects are allowed. So if there isn't a `PROJECT` file, the SDK assumes there isn't a project in this directory.

If you don't have a `PROJECT` file _at all_ that's definitely a weird error message. Are you able to write up some steps to reproduce thi

[2020-11-13 13:49] barryzhounb opened #4230 "Operator controller could not delete correlated resources under envTest environments"
## Type of question

<General operator-related help>

## Question

In Kubernetes and Operator-sdk, we can define CRD (Custom Resource Definition) and CR (Custom Resource). In my operator controller, when a CR is initialized, then my controller reconcillation creates a new Deployment and service.

When we delete a CR object, then the correlated resources (such as Deployment or service) will be dele

[2020-11-13 14:12] camilamacedo86 commented on #4228
As we spoke, I understand that you are trying to add a third-party api and create a resource for it. However, you faced the issue `"Create VM: v1.CreateOptions is not suitable for converting to \"kubevirt.io/v1alpha3\" in scheme \"pkg/runtime/scheme.go:101\""` which shows that is something wrong with the data/info  add to create this resource.

In this way, the third-party api authors maybe can he

[2020-11-13 15:49] camilamacedo86 commented on #4151
HI @joelanford and @jberkhahn,

Before the changes on  Makefile we were able to:
- Call the make targets to build the images and load them in the kind
- Then, run the tests via IDE which allows us to troubleshoot/debug them

It is no longer possible as well.

[2020-11-13 16:14] camilamacedo86 commented on #4151
By running `make test-e2e-teardown test-e2e-go` I face a timeout issue to install OLM. It does not work:

[code]

[2020-11-13 16:42] kraman opened #4231 "Creating bundle for a multigroup operator with groups at different levels fails"
## Bug Report

#### What did you do?

[code]

#### What did you expect to see?

No warnings or errors and Subsystem and ProductCluster are in CSV

#### What did you see instead? Under which circumstances?

[code]

#### Environment

**Operator type:**
/language go

**Kubernetes cluster type:**

Kind cluster

`$ operator-sdk version`

`operator-sdk version: "v1.1.0", commit: "9d27e224efac78fcc9354ec

[2020-11-13 22:17] camilamacedo86 commented on #4231
HI @estroz,

It shows a bug. The  command `/usr/local/bin/kustomize build config/manifests | operator-sdk generate bundle -q --overwrite --version 0.0.1 ` is unable to work with multigroup layout.

[2020-11-13 23:15] kraman commented on #4231
@camilamacedo86 multgroup projects are working IF the domain of the project is immediate parent of the API group.
Eg: Project domain `foo.com` with a group of `something.foo.com` and `somethingelse.foo.com` works fine.
But a project domain of `foo.com` with group of `bar.something.foo.com` would fail.

[2020-11-14 00:33] estroz commented on #4231
/assign

[2020-11-14 09:50] asoorm commented on #3660
@mikeshng You should be able to create a status field in the resource. Then based on the status field, even if the reconcile func is called, it can exit early.

If your REST call is not idempotent, I think that you can get around this by performing a GET then perform some validation on the response before performing a POST, PUT, PATCH request on the REST server.

[2020-11-14 11:44] camilamacedo86 opened #4234 "For Go samples, change the webhook scaffold in the sample"
## Feature Request

#### Describe the problem you need a feature to resolve.

Motivation: https://github.com/operator-framework/operator-sdk/pull/4232#discussion_r523302079

#### Describe the solution you'd like.

Replace in the hack/generate/intenal/go sample mock :

[code]

With:
[code]

Then, update the mocks accordingly.

[2020-11-14 11:50] camilamacedo86 commented on #3094
/remove-lifecycle rotten

c/c @asmacdo @fabianvf

[2020-11-14 12:42] faust64 commented on #4202
I don't disagree regarding 1.0.1.
Though I just pulled the last 1.1.0, and I confirm that it does ship with 2.10. Though I agree, that Dockerfile suggests otherwise

[code]

[2020-11-14 12:52] #4230 closed

[2020-11-15 06:47] nirrozenbaum commented on #3123
@fabianvf hi Fabian,
still waiting for your answer per this one..

[2020-11-16 11:04] dalbani commented on #4202
Out of curiosity, I track the meaning of `ansible~=2.9`: it's called a "compatible release", translated in this case to `>= 2.9.N, == 2.*` according to https://www.python.org/dev/peps/pep-0440/#compatible-release.

For reproducibility purposes, shouldn't _all_ the versions, including `ansible`, be pinned to a specific version in the Dockerfile?

[2020-11-16 12:09] camilamacedo86 opened #4235 "The status conditionals helper form operator-lib was removed and the docs were not updated"
#### What did you do?

Check the doc:https://sdk.operatorframework.io/docs/building-operators/golang/advanced-topics/#manage-cr-status-conditions.

#### What did you expect to see?

It updated with the changes made in: https://github.com/operator-framework/operator-lib/pull/35

#### What did you see instead? Under which circumstances?

The doc with the outdated info.

[2020-11-16 13:01] dalbani opened #4237 "Provide a way to replicate Ansible/Python environment of Docker image"
## Feature Request

#### Describe the problem you need a feature to resolve.

In order to run the `ansible-operator` locally for development purposes (with `make run`), one has to setup an Ansible / Python (virtual) environment.
Ideally, it would have to be identical to the one found in the Docker image `quay.io/operator-framework/ansible-operator` which is then deployed on production.
However, du

[2020-11-16 13:52] barryzhounb opened #4238 "Failed to watch resources (Deployment/Service/Secret/ConfigMap/CustomResource)"
## Bug Report

#### What did you do?

We developed an Operator with Operator-Sdk Golang, it ran well. Then we wrote unit test for controller with envTest and Ginkgo.

We use the template code (controller_suit_test.go) that generated by Operator-Sdk v1.0, then we create a test namespace, and initialize a controller manager, then we execute test specs.

#### What did you expect to see?

#### What di

[2020-11-16 14:23] camilamacedo86 commented on #3701
/lifecycle frozen

[2020-11-16 14:36] #4228 closed

[2020-11-16 16:05] secat commented on #4229
I created a project following this doc: https://sdk.operatorframework.io/docs/building-operators/golang/migration/ and I was using the version `v0.18.2` instead of `v0.19.4`.

The problem happens when switching to `v0.19.4` in a projected created with `v0.18.2` following the migration doc.

However, if I go in my on operator which doesn't have a `PROJECT` file, it works using `v0.19.4`.

Thank you

[2020-11-16 16:14] #4229 closed

[2020-11-16 16:20] #4171 closed

[2020-11-16 16:29] anusood opened #4239 "How can we do functional tests in CI/CD pipeline by mocking kubernetes resources for GO operators"
How can we do functional tests in CI/CD pipeline by mocking kubernetes resources for GO operators. Apart from envTest, as no services/pod from inside the tests are created in envtest.

## Question

#### What did you do?

Creating a GO operator for our project.

#### What did you expect to see?

functional end-to-end test for the operator and check the resources created

#### What did you see inste

[2020-11-16 16:29] camilamacedo86 opened #4240 "Document: Run pkg manifest does not work with webhooks and certmanager"
## Bug Report

#### What did you do?

Try to run the Memcached Go testdata project which has a webhook implementation with `run packagemanifests`

#### What did you expect to see?

All worked well as expected.

#### What did you see instead? Under which circumstances?

Failed to mount the cert-manager:

[code]

Then, if we remove the https://github.com/operator-framework/operator-sdk/blob/master/t

[2020-11-16 16:49] camilamacedo86 commented on #4240
c/c @varshaprasad96

[2020-11-16 17:16] varshaprasad96 commented on #4240
@camilamacedo86 Are you trying to test validating or conversion Webhooks?
If you are using only validating Webhooks, you need not uncomment the cert-manager part in the kustomize  manifests. That would not scaffold the volume Mounts in csv, and everything should work fine as expected since olm will take care of mounting the certificates. You may have to use OLM version 0.17.0, which has the fix ([

[2020-11-16 17:24] varshaprasad96 commented on #4235
@camilamacedo86
We still haven't upgraded k8s to 1.19+ and the `metav1.Condition` was released in k8s 1.19. That was the reason we reverted the docs, and have added a [note](https://sdk.operatorframework.io/docs/building-operators/golang/advanced-topics/#manage-cr-status-conditions) instead in the same section:
[code]

[2020-11-16 17:34] camilamacedo86 commented on #4235
Really thank you for share that info here. It shows fine. So, we only an issue to track this need when the release gets done.

[2020-11-16 18:00] estroz commented on #4240
Seconded, cert-manager [explicitly](https://olm.operatorframework.io/docs/advanced-tasks/adding-admission-and-conversion-webhooks/#certificate-authority-requirements) does not work with OLM. This link needs to be embedded in SDK docs.

/kind documentation
/assign

[2020-11-16 18:03] estroz commented on #4235
#3997 needs to be re-committed.

/assign @varshaprasad96

[2020-11-16 18:05] estroz commented on #3702
Closed by #3716

[2020-11-16 18:05] #3702 closed

[2020-11-16 18:15] estroz opened #4241 "docs: make OLM integration quickstart quick(er)"
## Feature Request

#### Describe the problem you need a feature to resolve.

The OLM integration "quickstart" is not a quickstart in the same manner as Go/Ansible/Helm quickstarts.

#### Describe the solution you'd like.

The existing OLM integration quickstart needs to be moved to a long-form "tutorial" page, and an actual quickstart needs to be written then linked to/inserted into existing Go/A

[2020-11-16 18:15] estroz commented on #4241
/assign

[2020-11-16 18:44] estroz commented on #4207
@huzefa51  this is a Go module issue, not a problem with your operator project. Is `github.com/test/applications` a local Go package that is part of your operator? If so, you'll need to the package's directory to your image like with `controllers/`:
[code]

Does your operator project build locally? If you run `make manager`, what happens?

/triage needs-information
/assign

[2020-11-16 18:49] estroz commented on #4239
What do you mean by this? You can create any k8s object for which a scheme is registered with envtest using the `*rest.Config` returned by [`envtest.Environment.Start()`](https://pkg.go.dev/sigs.k8s.io/controller-runtime/pkg/envtest#Environment.Start). I recommend creating functional tests this way.

Alternatively you can create custom tests using [scorecard custom tests](https://sdk.operatorframe

[2020-11-16 18:56] estroz commented on #4217
@camilamacedo86 since kubebuilder's `pkg/cli` manages what commands are available for a plugin, can you re-create this issue upstream? There should be some functionality that only prints commands available to a plugin after running `init` or `init --plugins=<key>`.

[2020-11-16 19:01] anusood commented on #4239
can we manage a new image resource  pod created from inside the controller in the Reconcile method and communicate with it.? Also, if I delete the CR object, would the service and pods for that deployment be deleted automatically in the envTest environment as it does on openshift?

[2020-11-16 19:10] estroz commented on #4209
/triage support
/assign @camilamacedo86

[2020-11-16 19:11] estroz commented on #4210
Duplicate of #3798

[2020-11-16 19:11] #4210 closed

[2020-11-16 19:15] estroz commented on #3798
This needs to be fixed upstream: when `--plugins` is set, then use that help text; if not, print generic help text that says "set --plugins for plugin-specific help text".

/assign @asmacdo

[2020-11-16 19:17] estroz commented on #4223
/assign

[2020-11-16 19:23] estroz commented on #4234
/assign @camilamacedo86

[2020-11-16 19:27] estroz commented on #4235
This depends on go/v3-alpha being stabilized, since this is the only plugin that will use k8s v1.19+.

[2020-11-16 19:38] estroz commented on #4237
Steps to install these deps need to be documented.

/kind documentation
/assign @asmacdo

[2020-11-16 19:42] estroz commented on #4238
/assign @jmrodri

[2020-11-16 19:45] estroz commented on #4239
/assign

[2020-11-16 19:50] estroz commented on #4217
/assign @asmacdo

[2020-11-16 19:52] estroz commented on #4217
Duplicate of #3798

[2020-11-16 20:33] camilamacedo86 commented on #4240
Hi @varcha @estroz,

Just to register that with OLM 0.17 and by disabling cert-manager before run the pkg manifests solves it.

[2020-11-17 00:36] #4152 closed

[2020-11-17 15:26] reinvantveer commented on #4237
👍 for the suggestion of transparent local dependency installation. A couple of thoughts. There's a lot of potential for dependency hell here, `pip3 install`-ing in the global site-packages, I'd much rather see a solution that uses virtualenvs and deterministic builds through the Makefile. We've been using pipenv successfully for quite some time now, and it would be a welcome addition for managing

[2020-11-17 17:28] anusood opened #4243 "can we ue spock/groovy for testing operator-sdk operator functional tests?"
## Type of question

General operator-related help

## Question

#### What did you do?

Project specific operator writing

#### What did you expect to see?

functional tests for operator using groovy/spock

#### What did you see instead? Under which circumstances?

#### Environment

**Operator type:**

/language go

**Kubernetes cluster type:**

"OpenShift"

`$ operator-sdk version`

v1.0.0

`$ go

[2020-11-17 19:04] chrispatmore opened #4244 "How to get webhook + OLM generation right"
## Type of question

How to implement a specific feature

## Question

#### What did you do?

I was using `v1.0.0` to generate a webhook that I was using with OLM. I had to add in several "hacks"
to get around some issues, namely the webhook container port, target port, and deployment name. To do this
after building the bundle I would manipulate the CSV using `yq` to set these values appropriately

[2020-11-17 21:45] thewilli opened #4245 "How to watch for metadata changes with ansible-based Operator?"
## Type of question

General operator-related help

## Question

#### What did you do?

Created a basic, ansible-based Operator using the and added the following content to the `watches.yaml` file in order to watch for Ingress resource changes:

[code]

#### What did you expect to see?

The playbook is run for each new and updated Ingress resource. Updates include all kinds of valid updates.

####

[2020-11-18 08:35] digitole commented on #3947
Hi! Does this include the docs for the ansible operator scope? It seems that there is none for the ansible operator, only for golang.

[2020-11-18 09:08] chrispatmore commented on #4244
Looking with fresh eyes in the morning, I see that although the generated CSV has
[code]
Once I install the `targetPort` is no longer in the CSV, This may explain why the `<kustomize-prefix>-controller-manager-service` is not being generated as a `443:9443` service as I would expect

[2020-11-18 11:12] chrispatmore commented on #4244
After testing on a `4.6.1` OCP I can confirm that the `<kustomize-prefix>-controller-manager-service` is now created with a `433:9443` port mapping and the webhook references that service so everything now lines up, and works correctly

*However* I still have the extra service `<kustomize-prefix>-webhook-service` being generated into the bundle, which is therefore being deployed into the cluster w

[2020-11-18 19:42] camilamacedo86 commented on #4195
Hi @majidma-ag,

Thank you for your reply. In the controller-manager, you will find all logs since it is initialized. You can have one terminal open to tail the logs and in another one, you do the operations such as apply the CR to troubleshooting.

What you can do is enable/disable the ANSIBLE LOGS. More info: https://github.com/operator-framework/operator-sdk/blob/9adf15540db110eb46ea247f8e86bb8

[2020-11-18 19:42] #4195 closed

[2020-11-18 19:52] camilamacedo86 commented on #4209
Hi @pprokopi,

Sorry for the late response in this one. The reconcile function is responsible for synchronizing the resources and their specifications according to the business logic implemented on them. In this way, it works like a loop, and it does not stop until all conditionals match its implementation. The following is pseudo-code with an example that clarifies it.

[code]

The following are

[2020-11-18 19:58] alvaroaleman commented on #2633
If you are getting this error you are most likely trying to use the internal version of the api rather than one of the external ones, xref https://github.com/kubernetes-sigs/controller-runtime/issues/1262#issuecomment-729917992

[2020-11-18 19:59] alvaroaleman commented on #2633
Also ftr if you are sure that you are using an external version of an api, your registration is most likely missing this: https://github.com/kubernetes/apiextensions-apiserver/blob/a7ee1efe41fc19623ce57f047c7595d624df4c17/pkg/apis/apiextensions/v1beta1/register.go#L53

[2020-11-18 21:28] camilamacedo86 commented on #3447
/lifecycle frozen

[2020-11-18 23:35] jblashka opened #4246 "Enable logging to a file"
## Feature Request

#### Describe the problem you need a feature to resolve.

I'm trying to capture the output of my ansible operator so it can be sent to a log aggregation tool. I see that the ansible runner output is available in the /tmp/ansible-operator/runner directory but none of the other operator log events are available from what I can tell.

#### Describe the solution you'd like.

It wou

[2020-11-19 13:30] dalbani commented on #4202
For the reference, I have stated my question about version pinning in https://github.com/operator-framework/operator-sdk/issues/4237.

[2020-11-19 13:59] joelanford commented on #3169
/close

[2020-11-19 13:59] #3169 closed

[2020-11-20 23:15] yydzhou opened #4248 "operator-sdk does not work with go1.15.5"
## Bug Report

#### What did you do?
I am following the quick start to learn about the operator-sdk
https://sdk.operatorframework.io/docs/building-operators/golang/quickstart/

https://sdk.operatorframework.io/docs/building-operators/golang/quickstart/
#### What did you expect to see?

#### What did you see instead? Under which circumstances?
[code]

#### Environment

**Operator type:**

**Kuberne

[2020-11-21 05:44] yydzhou commented on #4248
turns out it's my local environment issue. The brew installed go mixed with source code installed go. closing this one.

[2020-11-21 05:44] #4248 closed

[2020-11-21 21:39] LCaparelli opened #4249 "Can admission logic be placed in a separate package when using scaffolded webhooks?"
## Type of question

How to implement a specific feature

## Question

Can admission logic be placed in a separate package when using scaffolded webhooks?

#### What did you do?

I'm implementing webhook-based validation for the single CR my operator manages. For that, I simply ran:

`operator-sdk create webhook --group apps.m88i.io --version v1alpha1 --kind Nexus --defaulting --programmatic-valid

[2020-11-22 12:57] camilamacedo86 commented on #2497
/remove-lifecycle stale

[2020-11-23 12:14] YiannisGkoufas commented on #2415
Would it be possible to have something similar for the new operator-sdk cli?
Apologies if its documented somewhere already.

[2020-11-23 14:00] LCaparelli commented on #4249
We have since reconsidered our decision to keep validation logic in a separate package and made peace with keeping it in the same package as the CR struct definition. For now we only manage one CR, but if we ever expand on it we'd rather organizing the validation code on a per-CR basis, instead of keeping the code for all CRs in a single package.

Although we no longer wish to go forward with the

[2020-11-23 18:09] varshaprasad96 commented on #4244
Hi @chrispatmore ,
I will use @estroz 's demo project as an example here. The generated bundle should look like [this](https://github.com/estroz/kubecon-2020-demo/tree/main/bundle). `<kustomize-prefix>-webhook-service` should be having the target port to the value specified in the csv ([here](https://github.com/estroz/kubecon-2020-demo/blob/main/bundle/manifests/memcached-operator-webhook-service_

[2020-11-23 18:32] chrispatmore commented on #4244
Oh all the services are there and everything now lines up thanks! (the bundle looks like the one you have linked), after upgrading to OCP `4.6.1`. The only thing I am interested in is the need for the `webhook-service` to be generated into the bundle, as it then get's deployed by OLM alongside the `controller-manager-service`. So I have created 2 services where I only need one, and only one is use

[2020-11-23 18:48] estroz commented on #4244
`make bundle` reads a bunch of manifests from `kustomize build config/manifests` output, then adds manifests whose GVKs OLM supports to your on-disk bundle. Unfortunately there's no non-error-prone way to remove a webhook's service from that set of manifests because it could contain port mappings for other parts of your operator. Therefore this service will get added to `./bundle` and OLM will cre

[2020-11-23 19:19] kensipe commented on #4243
Hey @anusood , looking to understand what are interested in with this question.   First I think we need to establish the meaning of words... What specifically are you looking to do?  what does "functional tests" mean to you?
Most of my experience with spock is BDD unit and integration tests against groovy / java.  I have friends using Geb to provide testing against browsers (wrapper around seleniu

[2020-11-23 19:26] estroz commented on #4249
@LCaparelli loosely speaking it isn't really possible because of Go's import and type system; additionally controller-runtime's `webhook.Validator` interface needs to be implemented on the type it's validating, so that your `main()` function can registered webhooks with the manager. You could set up some sort of interface in `pkg/admission` that `Nexus` implements as well as `webhook.Validator` su

[2020-11-23 19:33] jberkhahn commented on #4249
We're going to close this out. If this comes up again it's probably a good idea to open this upstream in [controller-runtime](https://github.com/kubernetes-sigs/controller-runtime) as this is more an issue with CR then OperatorSDK.

[2020-11-23 19:33] #4249 closed

[2020-11-23 19:53] LCaparelli commented on #4249
Thank you for the responses @estroz @jberkhahn :-)

[2020-11-23 20:28] estroz commented on #4244
This problem is really a bug because `make bundle` should work out of the box, without and with webhooks.

[2020-11-23 20:45] jayeshnazre opened #4251 "Custom resource does not delete the resources created in another namespace - No ownerReferences set"
## Bug Report

#### What did you do?

**step 1:** I created a sample memcached-operator via the operator-sdk using ansible.
Used the below commands
mkdir memcached-operator
cd memcached-operator
operator-sdk init --plugins=ansible --domain=example.com
operator-sdk create api --group cache --version v1 --kind Memcached --generate-role

Basically I followed the steps listed in [quickstart](https://s

[2020-11-23 20:46] kahou82 opened #4252 "kubernetes operator does not reconcile when custom resource is deleted"
## Type of question

/How to implement a feature

## Question

I have a k8s operator which is responsible to watch a specific customer resource. At certain point, the operator is disabled by another person and then he delete the correlated customer resource.

When I enable the operator again, the operator does not reconcile the deleted object.

How can I ensure the operator reconcile the deleted o

[2020-11-23 21:44] #4252 closed

[2020-11-24 22:37] bndw opened #4255 "Docker build fails on COPY api/"
## Bug Report

Following the [Golang Based Operator Tutorial](https://sdk.operatorframework.io/docs/building-operators/golang/tutorial/), the step to [Build the Docker image](https://sdk.operatorframework.io/docs/building-operators/golang/tutorial/#build-and-push-the-image) fails due to a bug in the Dockerfile.

#### What did you do?

`brew install operator-sdk` and followed the tutorial up to the

[2020-11-25 06:33] bhkamath commented on #4098
Similar issue to me as well on my MacOS environment.  I have followed the cleanup and proxy setting but has no effect.  I suspect it is failing to fetch sumdb.

operator-sdk init --domain=example.com --repo=github.com/example-inc/memcached-operator
Writing scaffold for you to edit...
Get controller runtime:
$ go get sigs.k8s.io/controller-runtime@v0.6.3
warning: GOPATH set to GOROOT (/usr/local/go

[2020-11-25 07:10] snorwin commented on #1813
Since we migrated to operator-sdk 1.0.0, there have been many container restarts caused by the `leader election lost` error. We use a single replica of an operator on openshift v3.11.170 and kubernetes v1.11.0+d4cacc0.

The issue has been resolved by increasing the 'LeaseDuration' to '30s' and the 'RenewDeadline' to '20s'.

[2020-11-25 08:47] Dimss commented on #3950
any updates on this one?
I'm facing with the same issue on Azure AKS 18.3 cluster

[2020-11-25 09:31] zroubalik commented on #3006
/remove-lifecycle rotten

[2020-11-25 09:35] zroubalik commented on #3006
@camilamacedo86 sorry for the delay, I missed this somehow.

The problem is: I have an operator that is consuming some cluster internal services. When I run operator locally for development/debug purposes, the operator is not able to reach internal cluster services (which are not exposed).

`kubefwd` is an example of how to solve this issue, it forwards requests from outside the cluster to the clu

[2020-11-25 13:54] AllenZMC commented on #1813
yes @snorwin

[2020-11-25 14:08] Zlopez opened #4257 "Error: unknown flag: --metrics-addr"
## Bug Report

#### What did you do?

I'm using Minikube 1.15.1 as Kubernetes cluster for testing the operator deployment. I used the Makefile (I only added the default value for `IMG` variable) generated by operator-sdk:
[code]

I did `make install` and `make deploy`.

#### What did you expect to see?

The operator should be deployed without issue.

#### What did you see instead? Under which circ

[2020-11-25 16:21] Zlopez commented on #4257
Found out the issue was on our side, we used the image that was build with old version of operator-sdk, after rebuild the manager container started without issue.

[2020-11-25 16:21] #4257 closed

[2020-11-25 16:34] estroz commented on #3006
My 2c: I’d rather see something like this described in an FAQ than downloaded by/built into operator-sdk projects.
1. It’s another tool dependency to version and manage.
1. It’s only useful for running locally, which isn’t where operators are intended to live. In fact, as an operator becomes more complex, more out-of-cluster tools could be required to connect components to in-cluster ones. That’s

[2020-11-25 17:36] Dimss opened #4258 "Ansible Operator stuck in infinite reconciliation loop on K8S >= 18.x"
## Bug Report

#### What did you do?
[simple operator](https://github.com/Dimss/infinite-loop-operator)  which is deploys two manifests: static pod and crd

#### What did you expect to see?

Operator successfully finish reconciliation loop

#### What did you see instead? Under which circumstances?

Operator stuck in infinite reconciliation loop

#### Environment

K8S v1.19.3
OperatorSDK 1.2.0

/la

[2020-11-25 22:07] cagrev commented on #2895
So much has changed with OLM since this was opened. Closing. A new issue will be created if there are any more current findings.

/close

[2020-11-25 22:07] #2895 closed

[2020-11-26 11:05] YiannisGkoufas commented on #2415
Invoking @camilamacedo86 :)
I believe it should be something similar (since its very useful) in the operator-sdk cli but I haven't discovered it yet.

[2020-11-26 13:00] Dimss commented on #3950
thanks for repose @jmrodri , any chances  this issue related to this one #4258

[2020-11-26 15:50] pprokopi commented on #4209
Hello, I simplified the function and added logs and this is the result.
The requeue runs for approximately 15 times and then hangs.
If I trigger a reconciliation manually by modifying my CR, a single log appears, which means the reconciliation runs once and the requeuing hangs again.
I haven't had a chance to try it with 1.0+ or your sample yet.

`
func (r *ReconcileOperator) Reconcile(request rec

[2020-11-26 16:00] #4243 closed

[2020-11-26 16:00] #4239 closed

[2020-11-26 16:08] anusood opened #4260 "Can we run the controller of the operator in one namespace and the image we want to run/manage from inside the operator in another namespace?"
## Type of question

General operator-related help

## Question

#### What did you do?

We have an operator where we want to create a pod of an image we pass in CR.yml in another namespace

#### What did you expect to see?

#### What did you see instead? Under which circumstances?

#### Environment

**Operator type:**

 /language go

**Kubernetes cluster type:**

Openshift

`$ operator-sdk version

[2020-11-27 01:29] pprokopi commented on #4209
Upon further testing, I discovered that if I add a delay by replacing the Requeue:true with RequeueAfter: 100*time.Millisecond, this doesn't happen and an infinite loop is created (as expected).
But it's not the delay that's fixing it. I tried introducing my own delay delay using time.Sleep (1000 * time.Millisecond) before requeuing and the bug still happened when I used Requeue:true

[2020-11-27 13:05] akaris-redhat commented on #3623
Hi,

I'd like to reopen this. Can we add the following default make targets?
[code]

Given the close relationship between operator-sdk, OpenShift, RHEL 8 and given the absence of docker in RHEL 8 I strongly advocate that the operator-sdk and its getting started examples work from the get go with podman.

[2020-11-28 03:51] ccnankai opened #4262 "Error: api scaffold failed: (error generating CRD for Group test Version v1 Kind Realibox)"
## Bug Report

#### What did you do?

export RELEASE_VERSION=v0.13.0

curl -LO https://github.com/operator-framework/operator-sdk/releases/download/${RELEASE_VERSION}/operator-sdk-${RELEASE_VERSION}-x86_64-linux-gnu

chmod +x operator-sdk-${RELEASE_VERSION}-x86_64-linux-gnu && sudo mkdir -p /usr/local/bin/ && sudo cp operator-sdk-${RELEASE_VERSION}-x86_64-linux-gnu /usr/local/bin/operator-sdk && r

[2020-11-28 08:52] #4262 closed

[2020-11-28 19:53] waveywaves opened #4263 "Either Or Kubebuilder validation for CRDs"
## Type of question

Best practices

General operator-related help
Open question

## Question

Is there a way to add a validation for "one of" to the CRDs using the kubebuilder markers (`// +kubebuilder:validation..`).

Eg:
There are two parts to `.spec.options`. `.spec.options.option1` and `.spec.options.option2`
User should be able to provide either `.spec.options.option1` or `.spec.options.opti

[2020-11-30 10:08] camilamacedo86 commented on #4263
Hi @waveywaves,

The markers are added to the _type.go file which is the file that will generate the CRD. See: https://book.kubebuilder.io/reference/markers/crd-validation.html

However, if your question is if has a way to generate the validation for a CustomResource and not for another of the same Kind(CRD) then, the answer is no. Note that, the goal of the command `create api` is to create Custo

[2020-11-30 10:08] #4263 closed

[2020-11-30 10:14] camilamacedo86 commented on #4260
So, I understand that you are looking for:

- Apply a CR in the namespace A
- Then, the operator will be observing it and will reconcile this CR
- In the reconciliation, you would like to create the Pod (k8s resource) in namespace B

In this way, you need code your reconcile to do that. See here in the Memcached sample that the namespace where the Deployment resource will be created is defined whe

[2020-11-30 10:14] #4260 closed

[2020-11-30 15:47] jmrodri commented on #3758
Closing as this is a documentation problem.

[2020-11-30 15:47] #3758 closed

[2020-11-30 19:01] estroz commented on #4255
@bndw if that changes works, then I assume your PROJECT file has `multigroup: true` as well? If so, did you run `operator-sdk edit --multigroup`? That command should have updated your Dockerfile appropriately.

[2020-11-30 19:42] bndw commented on #4255
@estroz Yes, I did add `multigroup: true` to the PROJECT file and didn't realize there was an additional command needed.

I just reverted my manual change to the Dockerfile and tried your suggestion, but hit an error:
[code]

Either way, feel free to close this issue if you believe it's working as designed.

[2020-11-30 20:10] estroz commented on #4255
@bndw I referenced an unreleased command, whoops. `operator-sdk edit` was added in #4156 and will be released in v1.3.

[2020-11-30 20:10] #4255 closed

[2020-11-30 23:05] #4114 closed

[2020-11-30 23:11] wtrocki opened #4265 "Cli is not generating roles.xml"
## Bug Report

Generated code missing role.yml file (adding file manual fixes builds)

#### What did you do?

Followed https://sdk.operatorframework.io/docs/building-operators/golang/quickstart/

#### What did you expect to see?

Generated README containing some guides about what was generated and all referenced files existing.

#### What did you see instead? Under which circumstances?

role.yaml

[2020-12-01 03:13] niuxiaojuan-github opened #4267 "Could not find or access the include_tasks file in ansible operator"
## Type of question

How to implement a specific feature

## Question

#### What did you do?

I have an ansible operator with following role

[code]

in main.yml I have task like following
[code]

#### What did you expect to see?
I expected to see loopontasks.yml is executed for each iteration successfully

#### What did you see instead? Under which circumstances?
But I got error like following
[c

[2020-12-01 09:43] #4265 closed

[2020-12-01 10:16] wtrocki opened #4268 "[Sugestion] Generate README.md file explaining make targets and overall strategies for using operator"
Hi

It is quite common for generators to explain project structure and available commands in README.md
I'm quite happy to contribute that change to the repository if that is something that will be valuable.

## What readme can have

- [x] Links to getting started
- [x] Explanation of the make commands (this can be done also using make help)`
- [x] Folder structure
- [x] Links to general informatio

[2020-12-01 10:16] wtrocki commented on #4268
CC @camilamacedo86

[2020-12-01 10:21] camilamacedo86 commented on #4268
Hi @wtrocki,

IMO it is an RFE that should be done against upstream/kubebuilder then when it gets done there we can get the changes in the SDK. Could you please raise your suggestion against https://github.com/kubernetes-sigs/kubebuilder?

[2020-12-01 10:25] camilamacedo86 commented on #3581
/remove-lifecycle rotten

[2020-12-01 10:25] camilamacedo86 commented on #2770
/remove-lifecycle rotten

[2020-12-01 11:20] wtrocki commented on #4268
@camilamacedo86 Thank you so much. Created https://github.com/kubernetes-sigs/kubebuilder/issues/1866
Hoping for the best. That will be cool way to start contributing

[2020-12-01 11:27] camilamacedo86 commented on #4268
I am closing this one in the SDK repo. Let's follow up and centralize this discussion in Kubebuilder which shows the best place.
Realy thank you for your collab with it.

[2020-12-01 11:27] #4268 closed

[2020-12-01 14:14] jenoOvchi opened #4269 "Add custom fields to default status for Ansible Operators"
## Feature Request

#### Describe the problem you need a feature to resolve.

It will be great to combine standard status of Ansible Operator with custom fields to see status of Ansible Tasks and manage additional information about execution results.

#### Describe the solution you'd like.

Add settings to watch.yaml to set combined status management and create standard Ansible Tasks to set and ch

[2020-12-01 20:07] camilamacedo86 commented on #3797
/remove-lifecycle stale

[2020-12-01 20:15] caggles commented on #2400
Updating to the OCP4 version seems to have dealt with the issue I was having!

[2020-12-01 20:15] #2400 closed

[2020-12-01 21:20] camilamacedo86 commented on #4209
Hi @pprokopi,

We create a simple project with an api and just the queue true to check this scenario.  Note that each time that we re-triger the reconcile the item is added to the queue and in this case its time will take exponantionally longer to process each item:

[code]

So, it has not a fixed limit in 15, as you can check it was executed more times than 15. However, if your controller is not

[2020-12-01 21:20] #4209 closed

[2020-12-01 23:16] #4196 closed

[2020-12-01 23:31] estroz commented on #3235
This is still an upstream issue, see https://github.com/kubernetes-sigs/controller-tools/issues/529.

I'm moving this to the backlog until this is resolved in controller-gen once and for all, and a patched v0.3 version is created for go/v2 projects.

[2020-12-02 01:47] camilamacedo86 commented on #3545
/lifecycle frozen

[2020-12-02 10:55] MaheshIBM opened #4272 "Golang Based Operator Tutorial"
I get the following error when i try to install the CRD

[code]

[code]

[2020-12-02 11:28] MaheshIBM commented on #4272
I got the problem, there was another crd with same resource def.

memcacheds.cache.example.com had to delete it 🎉
[code]

[2020-12-02 11:28] #4272 closed

[2020-12-02 11:28] MaheshIBM commented on #4272
found [this ](https://github.com/kubernetes/website/issues/18248)useful

[2020-12-02 19:22] estroz opened #4274 "deps: k8s v1.20"
## Feature Request

#### Describe the problem you need a feature to resolve.

Kubernetes v1.20 will be released soon (second week of December 2020).

#### Describe the solution you'd like.

Projects should support v1.20 as soon as possible.

TODO's:
- [x] bump controller-runtime to k8s v1.20, release v0.8.0
	- [x] https://github.com/kubernetes-sigs/controller-runtime/pull/1268
- [ ] bump go.kubebu

[2020-12-02 19:33] estroz commented on #4274
/assign @varshaprasad96

[2020-12-03 03:12] niuxiaojuan-github commented on #4267
seems caused by suffix yml/yaml, closing the issue

[2020-12-03 03:12] #4267 closed

[2020-12-03 11:13] #4234 closed

[2020-12-03 17:24] estroz commented on #3623
As an operator project owner, you have complete control over your Makefile and can update the default docker targets as needed. You can one-liner this with `sed -i 's/docker/podman/g' Makefile`.

An alternative is writing a phase 2 plugin (when they are implemented, see https://github.com/kubernetes-sigs/kubebuilder/pull/1801) to scaffold podman/buildah instead of docker, but that's still a ways o

[2020-12-03 18:56] jmccormick2001 commented on #3623
I haven't documented it (yet), but if you do end up using podman, watch out for the manifest version it creates, I ended up using "--format=docker' to get it to build v2 manifests which are required by the opm command.

[2020-12-04 05:57] estroz opened #4275 "docs: add `run bundle` documentation"
## Feature Request

#### Describe the problem you need a feature to resolve.

I would like an explanation of how to use `operator-sdk run bundle`, in both short and longer form.

#### Describe the solution you'd like.

Additions to the OLM integration docs [quickstart](https://sdk.operatorframework.io/docs/olm-integration/quickstart-bundle/#testing-bundles), [CLI overview](https://sdk.operatorfram

[2020-12-04 09:50] wtrocki opened #4277 "OLM Integration Package Manifests Quickstart"
`make packagemanifests` is is not in the kubebuilder template anymore.

See > https://sdk.operatorframework.io/docs/olm-integration/quickstart-package-manifests/

[2020-12-04 13:47] camilamacedo86 commented on #4277
If users would like to use `make packagemanifests` than it needs to be added manually. See the first text of the link added:

<img width="963" alt="Screen Shot 2020-12-04 at 13 43 10" src="https://user-images.githubusercontent.com/7708031/101170686-b6ec3780-3636-11eb-9ba8-605fba318c52.png">

It is properly described. If you click on `and have added the packagemanifests target to your Makefile as d

[2020-12-04 13:47] #4277 closed

[2020-12-04 17:17] wtrocki commented on #4275
@estroz +100. I have been struggling to get my head around this. The fact that OLM is separately documented requires installation of the serv

See also: https://github.com/operator-framework/operator-sdk/issues/4277

Quickstart is confusing. Requires developers to go to some other repository readme as last step (which you can forget/ommit) but later phases will not work. Any reason why Operator an

[2020-12-04 18:37] estroz opened #4281 "operator-sdk binary and plugin version upgrade notifications"
## Feature Request

#### Describe the problem you need a feature to resolve.

I want to know when new `operator-sdk` binary and plugin versions are available when running certain `operator-sdk` commands

#### Describe the solution you'd like.

When I run an `operator-sdk` command, I want to see some output like that of [`minikube`](https://github.com/kubernetes/minikube/blob/0fc0c82337876cff676790

[2020-12-05 14:01] camilamacedo86 opened #4284 "e2e-integration has been facing an issue with the latest released version of OLM 0.17.0"
## Bug Report

#### What did you do?

- Add 0.17.0 OLM bindatata to SDK https://github.com/operator-framework/operator-sdk/pull/4242
- Update the integration tests (which were no using the previous one to use 0.16.0) to use the 0.17.0 - **Important: This error might be faced since the 0.16.0 version of OLM and not ONLY now.**

#### What did you expect to see?

All tests work successfully.

#### Wh

[2020-12-05 14:03] camilamacedo86 commented on #4284
c/c @estroz @varshaprasad96

[2020-12-05 17:45] mikeshng opened #4285 "Helm operator: are rollback workarounds for helm install and upgrade failure still valid"
## Bug Report

#### What did you do?
I am looking at the code and I see in the helm operator manager functions we have workarounds for helm install and upgrade error scenarios.

https://github.com/operator-framework/operator-sdk/blob/v1.2.0/internal/helm/release/manager.go#L172
https://github.com/operator-framework/operator-sdk/blob/v1.2.0/internal/helm/release/manager.go#L213

I am wondering if t

[2020-12-07 17:12] varshaprasad96 commented on #4284
@camilamacedo86 This seems to be an error during the uninstall [(here)](https://github.com/operator-framework/operator-sdk/blob/master/internal/olm/operator/uninstall.go#L65). Was this including Webhooks scaffolded in csv ?
I tried this out by scaffolding a sample memcached operator (without Webhooks) and running package manifests command in olm 0.17.0. Im not able to reproduce this error. It seem

[2020-12-07 17:16] camilamacedo86 commented on #4284
Hi @varshaprasad96,

The error faced is in the [integration tests](https://github.com/operator-framework/operator-sdk/blob/master/test/integration/). These tests use a simple init project with an API and a CSV mocked. So, I do not see any relation with webhooks at all. See the error `reason: "UnsupportedOperatorGroup", message: "OwnNamespace InstallModeType not supported, cannot configure to watch

[2020-12-07 17:19] varshaprasad96 commented on #4284
This is the installMode section in the csv which I used:
[code]
Ill scaffold an operator as done in integration tests and check this out.

[2020-12-07 17:51] estroz commented on #4284
I'm fairly certain these tests are running up against a caching issue, where a previously installed set of manifests is being used.

[2020-12-07 18:46] estroz commented on #4285
In what scenarios would a release decode incorrectly, considering that these release objects are generated (afaict)? Is this considered a bug that should be fixed upstream?

As far as being able to use `--wait`-like functionality in helm-operator, check out #4102 as to why it doesn't exist yet. If `--wait` did exist perhaps accepting `--atomic` to get rid of the current workaround would be feasibl

[2020-12-07 19:06] asmacdo commented on #4269
If you want to set custom fields on the status, you can use the k8s_status module. https://github.com/operator-framework/operator-sdk-ansible-util/blob/master/plugins/modules/k8s_status.py#L17

This is part of the sdk util collection. https://galaxy.ansible.com/operator_sdk/util

[2020-12-07 19:08] asmacdo commented on #4269
If that doesn't give you what you need please reopen!

[2020-12-07 19:08] #4269 closed

[2020-12-07 20:00] camilamacedo86 commented on #4285
HI @jberkhahn,

As we spoke in the triage meeting, we have the plan to replace the operator helm based code image by the code implementation in : https://github.com/joelanford/helm-operator. More info see the EP in WIP: https://github.com/operator-framework/enhancements/pull/45

The workarounds raised here might no longer be required after that. So, since the goal here shows more remove/change the

[2020-12-08 02:07] estroz commented on #4285
IIRC we discussed that this feature _might_ not be necessary, but also that the way helm-operator functions is not changing with the rewrite mentioned above. This feature is still worth working on in the meantime, starting with addressing the problems with wait semantics pointed out in #4102.

[2020-12-08 11:08] wtrocki commented on #1736
If you are using the new kubebuilder based operator try

[code]

[2020-12-08 12:14] wtrocki commented on #1736
I have the same issue but cannot manage to fix that by the line above:

[code]

@camilamacedo86 I have noticed that you have added there `resourceNames:` but my generated manifest missing that. Is that required?

[2020-12-08 12:40] genialmaniac commented on #3237
/reopen

[2020-12-08 12:42] genialmaniac commented on #3237
you closed the issue but does it mean you solved the bug in v0.20 ? This is a seirous bug according to me, whatever an operator creates, even on a "remote" namespace, it should be monitored anyway, regardless of the WATCH_NAMESPACE value

[2020-12-08 14:04] jkmw opened #4291 "Best practices for using private git-repositories?"
## Type of question

- Best practices
- Open question

## Question

#### What did you do?

We have written a kubernetes operator which imports a library from a private git repository.
If we try to create the operator image with `docker build` or `make docker-build`, it fails because the Dockerfile has no credentials to access the private repository:

[code]

#### What did you expect to see?

We wo

[2020-12-08 16:07] fabianvf commented on #3237
@genialmaniac the `WATCH_NAMESPACE` envvar allows admins to restrict the namespaces that the operator will watch, so it's intentional that the operator won't establish watches on namespaces that fall outside of the ones specified. Are you trying to have the operator reconcile dependent resources in a namespace where you don't want it to reconcile your primary resource?

[2020-12-08 17:26] estroz commented on #4244
This issue is a duplicate of #4201 btw

/remove-triage support
/triage duplicate

[2020-12-08 17:29] camilamacedo86 commented on #2388
Hi @geerlingguy,

It shows addressed already for 1.0+ layout.  Could you please confirm and let us know? If not, what do you would like to change based on the molecule for 1.0+ layout?

[2020-12-08 18:01] geerlingguy commented on #2388
@camilamacedo86 - Ah, this one is a bit outdated, I think. I think it can be closed now.

[2020-12-08 18:26] #2388 closed

[2020-12-08 18:30] camilamacedo86 commented on #4285
IMO if we confirm that the workaround is no longer in place in https://github.com/joelanford/helm-operator. then, we can close this one and let the RFE be addressed in #4102.

[2020-12-08 18:44] estroz commented on #3672
Input is processed (and should be validated) [here](https://github.com/operator-framework/operator-sdk/blob/v1.2.0/internal/generate/clusterserviceversion/bases/metadata.go#L45).

[2020-12-08 20:07] avalluri opened #4293 "`operator-sdk install olm` reports failure even if the installation was successful"
## Bug Report

#### What did you do?

Install the OLM using `operator-sdk`:
[code]
And, It reports that the installation was failed:
[code]

But the actual installation was successful:
[code]

#### What did you expect to see?

OLM installation should succeed without any failure message.

#### What did you see instead? Under which circumstances?
Failure message:
[code]

#### Environment

**Operator

[2020-12-09 04:49] umangachapagain commented on #4281
/assign @umangachapagain

[2020-12-09 04:49] umangachapagain commented on #3672
/assign @umangachapagain

[2020-12-09 09:56] whaike opened #4295 "HELP !"
[code]
Is there something wrong with your go mod ? I guess.

[2020-12-09 12:37] camilamacedo86 commented on #4295
The github.com/operator-framework/operator-sdk no longer provide any pkg. It is only the tool so you ought to not go get it. The lib features provided that be used in the projects are in the project: https://github.com/operator-framework/operator-lib.

Also,  shows nice to share that if your project is lower than 1.0 we would like to recommend your project for the new layout. See https://sdk.opera

[2020-12-09 12:37] #4295 closed

[2020-12-09 12:56] mikeshng opened #4296 "Helm operator: in some rare cases, helm operator is incorrectly determining a release is not installed"
#### What did you do?
I am looking at the helm operator manager sync code where it determines if a release is installed or not: https://github.com/operator-framework/operator-sdk/blob/v1.2.0/internal/helm/release/manager.go#L113-#L122
Its relying on an installed helm release to always have a deployed storage available.
But looking at the helm code it seems like at least in one case that might not

[2020-12-09 16:16] camilamacedo86 commented on #3691
/remove-lifecycle rotten

Hi @estroz @varshaprasad96,

do you know if it is an issue that still requiring to be addressed or if it is fixed already?

[2020-12-09 16:19] camilamacedo86 commented on #3667
/remove-lifecycle rotten

It shows very easier tasks to be accomplished. So, wdyt we add it in a milestone?
c/c @jmrodri @estroz @asmacdo

[2020-12-09 16:26] camilamacedo86 commented on #4046
Hi @davidnortonjr-sps,

It is open for a while without a response in the raised questions made https://github.com/operator-framework/operator-sdk/issues/4046#issuecomment-710147046 for we have a better understanding of the RFE wish by you here as your scenario.

In this way, shows that you might figure out that is no longer required and then would be fine close this one. However, if you see that i

[2020-12-09 16:27] #4046 closed

[2020-12-09 16:29] camilamacedo86 commented on #4184
Hi @fckbo,

We are unable to reproduce your scenario. Because of these additional questions or made and we would need to have further info to be able to help you with it. Since it has been open for a while without a reply I will assume that you were able to figure ou it already. In this way, I hope that it is fine we close this one.  However, please feel free to ping us to re-open if you think tha

[2020-12-09 16:29] #4184 closed

[2020-12-09 16:49] camilamacedo86 commented on #4293
What doo do you think about push a PR against master with your contribution?

[2020-12-09 16:49] mikeshng commented on #4296
Another way that we might run into this problem. Maybe the problem is not as rare as it seems(?)

If a helm upgrade failed (and maybe the rollback failed as well) and in the helm storage the release is set to `failed` status.
then helm operator will remove the record in the sync function:
https://github.com/operator-framework/operator-sdk/blob/v1.2.0/internal/helm/release/manager.go#L105-L106

the

[2020-12-09 16:55] estroz commented on #3691
This sounds like a mix of bad error reporting, which was fixed by #3908, and kind-specific image loading, which we can’t fix, so I’d say this is closed.

[2020-12-09 16:55] #3691 closed

[2020-12-09 22:24] camilamacedo86 commented on #1234
/lifecycle frozen

[2020-12-10 09:20] prashant20verma commented on #2444
We are writing operator using ansible operator-sdk.
**tags** are needed to exclude/include certain task if operator is being run in development or production. We understand at the moment, operator-sdk does not support defining run-time tags.
Is there any plan or timeframe to develop this capability?

[2020-12-10 11:03] camilamacedo86 commented on #2444
Hi @prashant20verma,

It is not prioritized and is flagged as `help wanted`. Would you like to help and contribute with that? See that to add this RFE we need to pass the info tags through to the [runner|https://github.com/operator-framework/operator-sdk/tree/master/internal/ansible/runner]. And then, if you decide to contribute with the project to add this RFE please feel free to ping us in the s

[2020-12-10 15:57] georgettica commented on #3545
as referenced from another issue, the problem for me happens when I run `make bundle` and I get
[code]

if these are different issues, please tell me and I will create a diffrent card

[2020-12-10 23:02] #4293 closed

[2020-12-11 01:17] psaini79 opened #4302 "Executing a command inside the pod in Reconciliation loop"
## Type of question

Best practices

## Question
What is the best way to run the command inside the Pod from the reconciliation loop?

#### What did you do?
I followed this https://github.com/halkyonio/hal/blob/78f0b5ee8e27117b78fe9d6d5192bc5b04c0e5db/pkg/k8s/client.go and implemented the same in reconciliation loop and it works but I am wondering is it the correct way as in my case user cannot pa

[2020-12-11 01:35] rashmigottipati commented on #4176
`run bundle-upgrade` is now a part of operator-sdk

[2020-12-11 01:35] #4176 closed

[2020-12-11 16:23] exdx opened #4304 "bump operator-framework/api dependency to v0.3.22"
## Bug Report

#### What did you do?

Run custom category validation

#### What did you expect to see?

Success

#### What did you see instead? Under which circumstances?

Failure to parse the custom categories from the CSV file successfully

#### Possible Solution

This issue was addressed by https://github.com/operator-framework/api/pull/78
and published in https://github.com/operator-framework/

[2020-12-12 22:47] avalluri opened #4308 "run packagemanifests: randomly fails to start the operator from olm-catalog"
## Bug Report

#### What did you do?
Install the OLM using `operator-sdk`:
[code]
Install an operator using `operator-sdk`:
[code]

#### What did you expect to see?
Operator installation should be successful with no failure.

#### What did you see instead? Under which circumstances?
Installation failure message:
[code]

#### Environment

**Operator type:**

/language go

**Kubernetes cluster type:

[2020-12-14 04:19] #3066 closed

[2020-12-14 04:19] #3101 closed

[2020-12-14 13:58] camilamacedo86 opened #4310 "The file `config/rbac/role.yaml` has not been updated with the APIs which are created"
## Bug Report

#### What did you do?

- Create an Ansible project
- Then scaffold a rule and a playbook

#### What did you expect to see?

The tool uses properly the marker `+kubebuilder:scaffold:rules` as it is done for Helm to update the watch file with the required rbac roles for the APIs scaffolded in the project

#### What did you see instead? Under which circumstances?

The tool only adds RB

[2020-12-14 15:28] camilamacedo86 opened #4311 "Raise the name of the tasks by default in the molecule tests"
## Feature Request

#### Describe the problem you need a feature to resolve.

I'd like to know what task fails in the Molecule tests as it was possible before 1.0+.

#### Describe the solution you'd like.

Update the default `scaffold molecule/default/verify.yml` with :

[code]

However, I think we cannot scaffold it in the init. The `ansible_failed_task` will only exist after we scaffold a task f

[2020-12-14 17:25] varshaprasad96 commented on #4304
We would be releasing SDK 1.3.0 soon with the latest release of operator-framework/api ([0.4.0](https://github.com/operator-framework/api/releases/tag/v0.4.0) at this time). However, we can also have a v1.2 patch with updated api version to solve the issue of allowing multiple categories.

[2020-12-14 18:09] aemperador commented on #4291
this may be a naive question/answer, but does ssh not work in this case? could you pass the ssh key somehow?

[2020-12-14 19:09] kensipe commented on #4291
@jkmw The question seems to be centered around Go /  Go Modules with the use of private repositories.
The following is a medium article I found that likely can shed some light:  https://medium.com/cloud-native-the-gathering/go-modules-with-private-git-repositories-dfe795068db4

Additionally, here is a stackoverflow response:  https://stackoverflow.com/questions/53516358/go-modules-private-repos-an

[2020-12-14 19:09] #4291 closed

[2020-12-14 19:16] jmrodri commented on #4302
@psaini79 I'd like to better understand what you're trying to accomplish. Based on the information above I see a few things.

1. You are trying to execute a command on a pod from your operator. I'm assuming you are trying to run it on the operand pod.
2. Why are you trying to execute a command on the pod? What is it you are trying to accomplish there?
3. You stated "I wanted to what is the best wa

[2020-12-14 19:17] estroz commented on #4310
Referring to [this `role.yaml` generated file](https://github.com/operator-framework/operator-sdk/blob/master/testdata/ansible/memcached-operator/config/rbac/role.yaml#L57).

[2020-12-14 19:26] estroz commented on #3070
Closed by #4271

[2020-12-14 19:26] #3070 closed

[2020-12-14 19:27] estroz commented on #3580
Closed by #4282

[2020-12-14 19:27] #3580 closed

[2020-12-14 19:27] estroz commented on #3998
Closed by #4282

[2020-12-14 20:44] asmacdo commented on #4237
Adding release blocker since this blocks #4202

[2020-12-14 20:45] asmacdo commented on #4202
Using Ansible 2.10 was a mistake, and I will be pinning to 2.9 in the fix for #4237.

Adding this as a release blocker since we should have been using 2.9.

[2020-12-14 20:55] psaini79 commented on #4302
@jmrodri
Thanks for the reply. Below is my use case:
1) I have a number of statefulsets created using operators under a single CR as they all are part of my application.
E.g
[code]
2)  Whenever I delete testapp or any other stateful set from myAppSpecs , the operator login to myRepoSpecs and cleans all the records of statefulset testapp from myRepoSpecs in this case testrepo is the statefulset.

T

[2020-12-14 21:05] santoshborse opened #4314 "Reducing scope of Ansible operator from cluster to namespace"
## Type of question

General operator-related help

## Question
I migrated my Ansible based operator from version v0.18 to v1.2.

The default skeleton generated by v1.2 operator sdk is cluster scoped operator. When I try to change the scope to namespaced ( by change in CRD and RBAC ) the operator log throws error

[code]
#### What did you do?

#### What did you expect to see?

The operator should

[2020-12-14 22:23] coderanger commented on #4302
Mentioned on Slack but overall this is not something OSDK or Kubernetes provides. `kubectl exec` exists for debugging and development, but it's not really suitable for this kind of production-ready use case. You'll need to build something into your tooling for it. If you really want remote execution, you can run `sshd` in a sidecar. Or you can build an HTTP (REST, gRPC, whatever you like) API into

[2020-12-14 23:01] camilamacedo86 commented on #4302
Hi @psaini79,

Why not use the finalizers? The finalizer let you implement what actions/operations should be done to allow effectively delete your CR. See:  https://sdk.operatorframework.io/docs/building-operators/golang/advanced-topics/#handle-cleanup-on-deletion

Then, why you do not use the client provide in the controller to GET/LIST/DELETE/UPDATE all these resources as you wish before the CR

[2020-12-14 23:18] psaini79 commented on #4302
@camilamacedo86 and @coderanger

Thanks for the reply.

I discussed with @coderanger on the slack and it seems we can use the exec method from the operator but should not be used as the exec method is not the correct way to handle update and delete. Instead, I should use sidecar container or REST server specific to my app. Sidecar will not help in my case. The app running on testrepo stateful set,

[2020-12-15 02:10] estroz commented on #4304
Bumping to v0.3.22 causes dependency conflicts since it includes a k8s v1.19 bump, so bumping operator-sdk v1.2 to v0.3.22 won't happen (another good reason to cut minor releases for k8s bumps). As @varshaprasad96 mentioned, operator-sdk v1.3 will include a bump to v0.4.0 to fix the described issue.

[2020-12-15 02:10] #4304 closed

[2020-12-15 07:22] J0zi commented on #4304
So we are waiting for #4305 and release afterwards.

[2020-12-15 08:49] estroz commented on #4304
@J0zi #4294 superseded #4305 and has already merged.

[2020-12-15 09:22] #4308 closed

[2020-12-15 10:25] #3123 closed

[2020-12-15 10:58] J0zi opened #4317 "Categories validation works on a host, not in a container"
## Bug Report
Categories validation works on a host, not in a container.

#### What did you do?
Manually built `operator-sdk`
`operator-sdk version: "v1.2.0-42-g7a741929", commit: "7a741929485a7122d88f1ff22000093ddde13ab0", kubernetes version: "v1.19.4", go version: "go1.15.6", GOOS: "linux", GOARCH: "amd64"`

Run `OPERATOR_BUNDLE_CATEGORIES=/tmp/community-operators/categories.json /tmp/operator-t

[2020-12-15 11:27] camilamacedo86 commented on #4311
The PR https://github.com/operator-framework/operator-sdk/pull/4318 has its solution, however, to finish it is required to:

- Upstream PR get merged: https://github.com/kubernetes-sigs/kubebuilder/pull/1907
- SDK repo be updated with the new commit and these change

[2020-12-15 12:42] michael-niemand opened #4319 "Using secrets in CR spec"
## Type of question

General operator-related help

## Question

#### What did you do?

I want to use a secret in my CR spec.

I built a simple operator that creates a database on a managed DB server. For each CR "MySqlDb" a user, password and database name are passed in the spec and a database and a user are created accordingly. Works all well, but right now I pass the DB password in clear text,

[2020-12-15 15:05] sagar-lonkar opened #4320 "Query on role.yaml generated by operator-sdk with Go"
We are using operator-sdk with Go
Using **make manifest** command , role.yaml gets generated.

As per api marker documentation ( https://book.kubebuilder.io/reference/markers/rbac.html ) , we need to add namespaces value in api marker so that role.yaml have  Role instead of ClusterRole in controller.go files

Q1. How to pass dynamic namespace value to api-marker

Q2. How to add lables under metada

[2020-12-15 15:34] asmacdo commented on #4202
Getting the requirements to be install via requirements.txt turned out to be more complex than I originally realized. I'm pinning the top level deps by hand, fixing this issue. https://github.com/operator-framework/operator-sdk/pull/4321

[2020-12-15 15:50] asmacdo commented on #4237
This no longer blocks #4202, but this turned out to be a little more involved than I realized. I dont want this to block the release, so I'm bumping to 1.4

I think I agree with @reinvantveer. What I have in mind is creating a virtualenv in the image, and installing the top-level deps via a pinned requirements.txt.

TODO:
- Base image:
  - pull the top level Python dependencies out of Dockerfile a

[2020-12-15 17:00] reinvantveer commented on #4237
Agreed that having a *requirements.txt for a virtual environment is a huge improvement. However, this leaves one thing still in limbo: the Python version itself - a requirements.txt file doesn't allow you to specify this, while pipenv can (I'm unsure whether poetry can). In a nutshell: I don't quite feel that a requirements.txt file is a substitute for proper dependency management.

On this note o

[2020-12-15 17:20] camilamacedo86 commented on #4302
Hi @psaini79,

If `User passes new CR like below:` then, it means that you are changing/updating the CR. So, if you use the watch feature it will retrigger the reconcile. The reconcile function is responsible for synchronizing the resources and their specifications according to the business logic implemented on them. In this way, it works like a loop, and it does not stop until all conditionals ma

[2020-12-15 17:26] estroz commented on #4317
I can't seem to figure out what is causing the panic, still digging. In the meantime, can you try running the equivalent [`opm`](https://github.com/operator-framework/operator-registry/releases/tag/v1.15.3) command and report results:

[code]

@gallettilance is running the validation library against an image within a container supported by operator-registry's validation library?

[2020-12-15 18:57] AndrienkoAleksandr opened #4322 "How to use NewSimpleClientset in the unit tests."
## Question

#### What did you do?
I tried to write `Unit test` with fake.NewSimpleClientset:

[code]

#### What did you expect to see?

Test passed: ok

#### What did you see instead? Under which circumstances?

Strange an error:

--- FAIL: TestGetNodeIP (0.00s)
panic: no kind is registered for the type v1alpha1.Memcached in scheme "pkg/runtime/scheme.go:101" [recovered]
	panic: no kind is regist

[2020-12-15 19:38] asmacdo commented on #4202
Fixed by #4321

[2020-12-15 19:38] #4202 closed

[2020-12-15 21:37] mikeshng opened #4323 "Helm operator: manager's ReconcileRelease() function might not be checking for the Helm specific annotation "helm.sh/resource-policy": keep"
## Bug Report
In the `ReconcileRelease()` function in the release manager.
https://github.com/operator-framework/operator-sdk/blob/v1.2.0/internal/helm/release/manager.go#L233-L350

It seems like it's not respecting the Helm specific annotation `"helm.sh/resource-policy": keep`
which is suppose to orphan the resource from Helm's control.

[code]

Ref: https://helm.sh/docs/howto/charts_tips_and_tri

[2020-12-15 21:50] genialmaniac commented on #3237
Hi, thanks to answer, let's take a gitops operator for example. It's namespace scoped, and it's monitoring repository(ies) based on a(some) given CRD. Potentially it'll indeed create external objects/CR in remote namespaces to reconcile the cluster with desired state. Would it means those objects will not be watched by the operator ? Sorry if that sounds abnormal to me.

[2020-12-16 08:49] J0zi commented on #4317
@estroz here is an `opm` output
`Version: version.Version{OpmVersion:"v1.15.3", GitCommit:"9e92474", BuildDate:"2020-12-03T18:34:29Z", GoOs:"linux", GoArch:"amd64"}`
[code]

[2020-12-16 08:54] estroz commented on #4317
If running validators in a container was indeed supported in prior versions of operator-sdk/opm, this is a regression @gallettilance @dinhxuanvu.

@J0zi can you file an issue in https://github.com/operator-framework/operator-registry with the above output and context?

[2020-12-16 08:56] J0zi commented on #4317
no problem

[2020-12-16 09:01] J0zi commented on #4317
opened https://github.com/operator-framework/operator-registry/issues/538

[2020-12-16 09:21] camilamacedo86 commented on #4311
I am closing this one after a deeper check on it I realized that the `variable` is no longer defined for the new molecule tests and that the existent one (ansible_failed_result)  will return all data indeed the task name.

[2020-12-16 09:21] #4311 closed

[2020-12-16 09:26] camilamacedo86 commented on #4310
I faced this issue when I was manually upgrading nd changing the advanced e2e molecule tests. after check it better I could ensure that it is working. The problem was related to changes done manually. ( it was probably missing or adding a wrong marker.)

we can ensure that works well expected by checking the testsdata generated for the advanced e2e molecule in the PR https://github.com/operator-fr

[2020-12-16 09:26] #4310 closed

[2020-12-16 09:33] camilamacedo86 commented on #3925
It is blocked by : https://github.com/kubernetes-sigs/kubebuilder/issues/1785

[2020-12-16 11:25] stiller-leser opened #4324 "Operator hangs on `Reconciler error`"
## Bug Report

#### What did you do?

Created a secret with a wrongly formatted `.dockerconfigjson`. This results in:

[code]

The operator stop reconciling the other resources in the cluster and only shows:

[code]

 Starting it new, allows for some reconciliations before it crashes again.

#### What did you expect to see?

Since the content in the resources can be configured by users, I would ha

[2020-12-16 12:08] n1r1 opened #4325 "Bundle CSV is not populated correctly when using DaemonSet"
## Bug Report

#### What did you do?

Tried to create a CSV (by using `make bundle`) for a controller that should be deployed with `DaemonSet`

#### What did you expect to see?

CSV file that contains the DaemonSet specified in the `manager.yaml` under `spec.install`

#### What did you see instead? Under which circumstances?

[code]

#### Steps to reproduce

To create a minimized workaround I foll

[2020-12-16 14:56] camilamacedo86 commented on #4151
By running  `make test-e2e-teardown test-e2e-ansible` it still not working in my local env. Also, it brokes my local setup. Then, just to clarifies;

- I am as a contributor I'd like to have the targets to build and executed tests using the docker and kind setup locally already without need to install it so that it would not breaking my local env and would allow me troubleshooting via an IDE as it

[2020-12-16 16:06] estroz commented on #4151
How did e2e tests break your local setup?

[2020-12-16 16:15] estroz commented on #4325
The CSV spec's install strategy is clear about what it contains (a set of deployments), and if one isn't found by the genertor then the list will be empty. To include DaemonSets is more of an OLM feature request than an operator-sdk bug, and has been asked for before and has gotten this response: https://github.com/operator-framework/operator-lifecycle-manager/issues/1022#issuecomment-527814579.

[2020-12-16 16:15] #4325 closed

[2020-12-16 16:29] #1939 closed

[2020-12-16 17:43] camilamacedo86 commented on #4151
The problems occurred face shows to be related to the sdk control-pane 1.19.4 ([makefile line](https://github.com/operator-framework/operator-sdk/blob/master/Makefile#L149)) installed:
<img width="1104" alt="Screen Shot 2020-12-16 at 17 28 14" src="https://user-images.githubusercontent.com/7708031/102384489-b2c00280-3fc4-11eb-995f-44da88bba500.png">

It has been causing side affects for me locally

[2020-12-16 18:19] camilamacedo86 commented on #1234
It will be solved for GO with the go/v3 plugin that will be available for the next release and for Helm/Ansible we have the PR: https://github.com/operator-framework/operator-sdk/pull/4326

[2020-12-17 09:53] camilamacedo86 opened #4330 "For Ansible-based operator, remove the deprecated ping endpoint"
## Feature Request

#### Describe the problem you need a feature to resolve.

The ping endpoint was deprecated in https://github.com/operator-framework/operator-sdk/pull/4326/files and requires to be removed for 2.0 release.

#### Describe the solution you'd like.

Remove the following code in `internal/cmd/ansible-operator/run/cmd.go`:

[code]

/language ansible

[2020-12-17 10:00] camilamacedo86 opened #4331 "Ansible using the same default port that is used for Go and Helm"
## Feature Request

#### Describe the problem you need a feature to resolve.

Add the probes for Ansible as the new flag --health-probe-bind-address was added in https://github.com/operator-framework/operator-sdk/pull/4326/.

To keep the backwards compatibility only Ansible is using the port `6789`. However, go and helm uses `:8081`.

So, I am as maintainer and SDK user would like to see ansible c

[2020-12-17 20:29] varshaprasad96 commented on #4206
Tested this again with operator-sdk 1.2.0, and olm 0.17.0. This error does not occur, olm uses the conversion webhook definition defined in csv. The only thing remaining for SDK to seemlessly support conversion webhook is to scaffold the [conversion webhook definition](https://github.com/varshaprasad96/memcached-operator/blob/71eab9b739d1c3dd6506ba0065b4bed10462067d/packagemanifests/0.0.1/memcache

[2020-12-17 20:29] #4206 closed

[2020-12-18 04:37] estroz commented on #4322
Try
[code]

[2020-12-18 04:51] estroz commented on #4320
1. You want to do this with kustomize's [namespace config option](https://kubectl.docs.kubernetes.io/references/kustomize/namespace/). In fact, this is already [done for you](https://github.com/operator-framework/operator-sdk/blob/master/testdata/go/v3/memcached-operator/config/default/kustomization.yaml#L2)
2. Annotations would be set using kustomize's [commonAnnotations config option](https://ku

[2020-12-18 04:59] estroz commented on #4223
@barryzhounb when you run `make deploy`, `kustomize` applies the [namespace](https://github.com/operator-framework/operator-sdk/blob/master/testdata/go/v3/memcached-operator/config/default/kustomization.yaml#L2) in `config/default/kustomization.yaml` to all resources. If this name does not equal the one you're trying to deploy in, then your role binding will not bind the role to the correct servic

[2020-12-18 05:04] estroz commented on #4203
Relates to https://github.com/kubernetes-sigs/controller-runtime/issues/1300

[2020-12-18 05:13] estroz commented on #4110
Closed by #4253

[2020-12-18 05:13] #4110 closed

[2020-12-18 05:16] estroz commented on #4045
I'm pretty sure this is taken care of by #4074. Feel free to re-open if not.

[2020-12-18 05:16] #4045 closed

[2020-12-18 05:19] estroz commented on #3947
@digitole yep this does. I haven't gotten around to making this doc yet, and may not have time for awhile.

[2020-12-18 05:21] estroz commented on #3925
@camilamacedo86 why does that kubebuilder issue block an image tag upgrade for anisble and helm?

[2020-12-18 05:34] estroz commented on #3667
I'd rather change `BUNDLE_IMG` to `IMG` so you can do the following without adding a new target:
[code]
This isn't a breaking change because existing projects won't have to change anything.

[2020-12-18 06:11] jmrodri commented on #3667
The only downside to renaming BUNDLE_IMG to IMG is that if I set an env I could mess myself up by doing make bundle-build IMG=$IMG.

But more than likely I would probably do this:
[code]

So I'm OK with renaming BUNDLE_IMG in the Makefile to just IMG.

[2020-12-18 06:25] gowrisankar22 opened #4339 "Unable to inject the time to my status"
## Bug Report

when I tried adding time utc to my field actually I am getting an error like below.

[code]

**Kubernetes cluster type:**

`$ operator-sdk version`

operator-sdk version: "v1.2.0", commit: "215fc50b2d4acc7d92b36828f42d7d1ae212015c", kubernetes version: "v1.18.8", go version: "go1.15.5", GOOS: "darwin", GOARCH: "amd64"

`$ go version` (if language is Go)

1.15

`$ kubectl version`

C

[2020-12-18 08:51] sagar-lonkar commented on #4320
Thanks Eric for your response.

Q1. How to pass dynamic namespace value to api-marker
Ans: You want to do this with kustomize's namespace config option. In fact, this is already done for you

Even if kustomization.yaml will contain namespace that will be applied to all resources , it will be hard-coded.

In case of openshift , user who is installing operator , it should take that namespace automat

[2020-12-18 09:12] camilamacedo86 commented on #3925
HI @estroz,

Because we need to have the image in the [google cloud](https://console.cloud.google.com/gcr/images/kubebuilder/GLOBAL/kube-rbac-proxy?gcrImageListsize=30.) otherwise we are unable to pull that.
I already raised it twice in the `Kubebuilder, Controller Runtime, and Controller Tools Meeting`.

The kube-rbac-proxy images provided by Kubebuilder are running pods as root which brings a hi

[2020-12-18 13:20] agaffney commented on #4169
Just for some extra context, the noted JSON "unsafe" syntax is the equivalent of using the `!unsafe` YAML tag. An alternative is passing the extra vars in YAML format and using that tag.

[2020-12-18 13:23] agaffney commented on #4169
This same problem is being attacked a different way via https://github.com/ansible/ansible/pull/72547, which will appear in the next major Ansible version. This will allow referencing a "complex" var passed by the operator using the `!unsafe` tag and have it apply to all nested strings.

[2020-12-18 15:12] stiller-leser commented on #4324
Closing the issue as it seems resolved when `reconcilePeriod` is defined.

[2020-12-18 15:12] #4324 closed

[2020-12-18 18:59] #4025 closed

[2020-12-18 19:38] estroz commented on #4339
@gowrisankar22 try using [`metav1.Time`](https://pkg.go.dev/k8s.io/apimachinery/pkg/apis/meta/v1#Time).

/language go
/triage support

[2020-12-18 20:18] estroz commented on #4320
You can do something like the following:
[code]

Perhaps create a target that compiles the manifests for a particular namespace:
[code]

Then run:
[code]

And you'll have your namespaced operator available in `operatory.yaml`. You can substitute `> operator.yaml` for `| kubectl apply -f -` if applying to your cluster directly.

Unfortunately there's no way to specify a _different_ namespace for su

[2020-12-18 20:50] kevinrizza commented on #4320
Yeah, if you're using OLM, OLM does namespace substitution based on the namespace the cluster admin installing the operator chose. There's no way to specify "add this thing to some other specific namespace", because OLM doesn't give the operator developer any control over what lands in what namespaces.

[2020-12-19 04:38] #3182 closed

[2020-12-19 04:38] #3192 closed

[2020-12-19 17:51] camilamacedo86 commented on #3925
The problem is to ship an image that we. or google has no control off. Indeed for downstream we might are building and storing our image.

[2020-12-19 17:53] #1234 closed

[2020-12-21 00:25] Athosone commented on #2415
I am looking for it to using the new CLI, did you find it @YiannisGkoufas ?

[2020-12-21 00:25] Athosone commented on #2415
I am looking for it to using the new CLI, did you find it @YiannisGkoufas ?

[2020-12-21 03:33] mrpre opened #4345 "How to make r.Delete return until the resource is deleted"
## Type of question

Best practices
How to implement a specific feature

## Question

#### What did you do?

delete a resource

#### What did you expect to see?

`r.client.Delete` returns until the resource is totally deleted.
I want find an api like `kubectl delete` which will wait the resource deleted.

#### What did you see instead? Under which circumstances?

call r.client.Delete  and it retur

[2020-12-21 09:20] YiannisGkoufas commented on #2415
Nope, no luck @Athosone :(

[2020-12-21 16:48] Athosone commented on #2415
I found a way thanks to an issue on github (I dont find the link anymore)
But you can create controllers easily by using the corev1 resources:

[code]

This code has been generated using this command:
[code]

[2020-12-21 17:37] camilamacedo86 commented on #2415
Hi @YiannisGkoufas,

We have in the docs https://sdk.operatorframework.io/docs/building-operators/golang/advanced-topics/#adding-3rd-party-resources-to-your-operator and currently, the tool does not provide too much help to work with external types. See that it has been tracked and discussed in https://github.com/kubernetes-sigs/kubebuilder/issues/1772#issuecomment-723213345.

However, see that th

[2020-12-21 17:37] #2415 closed

[2020-12-21 19:27] Avni-Sharma commented on #3625
Closing the issue, as it no longer stands relevant. Thanks @hasbro17

[2020-12-21 19:27] #3625 closed

[2020-12-21 20:32] mikeshng commented on #4323
This issue might not be valid because I might have misunderstood the `"helm.sh/resource-policy": keep` annotation as "no modification" to the resource but I think modification is ok as long as its not a delete. Since `ReconcileRelease()` might just be patching and not deleting any resources then I think it doesn't need to respect the `"helm.sh/resource-policy": keep` annotation. Please reopen if m

[2020-12-21 20:32] #4323 closed

[2020-12-22 11:48] andreaskaris opened #4348 "Outdated (unit) test documentation"
## Bug Report

The documentation for tests is outdated:

What's described in here already works out of the box and the `test:` target is already set up with the steps from:
https://sdk.operatorframework.io/docs/building-operators/golang/references/envtest-setup/

The `test-static` and `test-all`  and `help` targets do not exist:
https://sdk.operatorframework.io/docs/contribution-guidelines/testing

[2020-12-22 11:52] andreaskaris commented on #4348
Closing this. The actual documentation for this is here: https://sdk.operatorframework.io/docs/building-operators/golang/testing/

[2020-12-22 11:52] #4348 closed

[2020-12-22 16:50] #2497 closed

[2020-12-22 19:45] IBMRob commented on #3744
We are also suffering from this problem, We have a number of common structures (in a `common_types.go` file)  which are used in multiple CRDs. None of the `specDescriptors` in the common structures are being generated into the appropriate CRDs.

This is causing us a major head-ache because we can't share structures across multiple CRDs meaning we need to duplicate lots of code.

[2020-12-22 22:10] glenmc007 commented on #1736
Its not working for me.

Here is the error.
ERROR	controllers.AppDeployment	Failed to create new Deployment	{"appdeployment": "pilot-deploy-operator/appdeployment", "Deployment.Namespace": "pilot-deploy-operator", "Deployment.Name": "appdeployment", "error": "deployments.apps \"appdeployment\" is forbidden: cannot set blockOwnerDeletion if an ownerReference refers to a resource you can't set final

[2020-12-23 09:40] AndrienkoAleksandr commented on #4322
Looks like, I incorrectly tried to set up scheme to the NewSimpleClientset. I debugged code and I clear see, that fake NewSimpleClientset doesn't support it. But fake lib provides another way how to include desired api. For example:

[code]

[2020-12-23 09:40] #4322 closed

[2020-12-23 13:12] camilamacedo86 opened #4349 "When we click on the `Create documentation issue` the documentation label is not set"
## Bug Report

#### What did you do?

Click on in :

<img width="412" alt="Screen Shot 2020-12-23 at 13 11 22" src="https://user-images.githubusercontent.com/7708031/102999112-5f980380-4520-11eb-9b3a-90063d202aa3.png">

#### What did you expect to see?

- The new open with the label `kind documentation`

#### What did you see instead? Under which circumstances?

No label added

[2020-12-24 06:23] feuyeux commented on #1758
https://www.openshift.com/blog/operator-sdk-reaches-v1.0

[2020-12-24 09:11] #1758 closed

[2020-12-24 09:15] camilamacedo86 opened #4350 "Doc in the Operator-SDK the difference between kubebuilder and operator-sdk"
## Feature Request

#### Describe the problem you need a feature to resolve.

This question is common see: https://github.com/operator-framework/operator-sdk/issues/1758

#### Describe the solution you'd like.

I think that would be great have a section to describe it in the https://sdk.operatorframework.io/ or at least which would link the post https://www.openshift.com/blog/operator-sdk-reaches-

[2020-12-24 10:55] #3325 closed

[2020-12-24 10:55] #3328 closed

[2020-12-24 10:55] #3344 closed

[2020-12-24 21:08] jdewinne opened #4351 "Installation: gpg recv-keys fails"
## Bug Report

#### What did you do?

Following the [github installation](https://sdk.operatorframework.io/docs/installation/#install-from-github-release) guide. When executing `gpg --recv-keys 052996E2A20B5C7E` I get `gpg: keyserver receive failed: No data`

#### What did you expect to see?

Something like "Key imported"

#### What did you see instead? Under which circumstances?

I get: `gpg: key

[2020-12-25 23:55] psaini79 opened #4352 "Operator-sdk : Cluster Role creation Steps"
## Type of question

 Best practices

## Question
I am working on operator-sdk and kept on getting the following error:

[code]
This operator is cluster scoped.
#### What did you do?

It was working fine but what I did I cleaned all the cluster roles and leader election role by using the files present under config/rbac/*.yaml

The above files are created during the operation compilation and run. F

[2020-12-26 01:18] psaini79 commented on #4352
Ok. I found the issue. It seems whenever I execute the command `make generate` and `make manifests` command it sets the service account default namespace to system. I had to manually modify the yaml files and set the namespace to the operator namespace.

Now, I am wondering how can I handle this situation automatically? can I create namespace for my sfsets from the operator? Also, How do I create

[2020-12-26 11:00] flozzone opened #4353 "ansible: use kustomize with ClusterServiceVersion resources"
## Feature Request

#### Describe the problem you need a feature to resolve.

When working with Ansible based operators, the ClusterServiceVersion resource is generated by `operator-sdk generate kustomize manifests`, which generates a yaml file under e.g. `config/manifests/bases/sample-operator.clusterserviceversion.yaml`. To provide further operator metadata, I modified the file `sample-operator.

[2020-12-26 16:26] gowrisankar22 opened #4354 "Unable to build the operator image"
I have developed an operator using operator-sdk. while building an image i am running into the below error. Can someone help?

I have tried with ssh and via netrc file as well but nothing worked

[code]
**Dockerfile**
[code]

[2020-12-26 17:04] #3364 closed

[2020-12-26 23:05] #2942 closed

[2020-12-27 08:33] gowrisankar22 commented on #4354
closing the issue as it was an issue from my docker file.

[2020-12-27 08:33] #4354 closed

[2020-12-28 00:43] YanFenGuo commented on #3931
We've implemented this in our own Operator code, so this is not urgent for us now.

[2020-12-28 08:15] sagar-jadhav opened #4355 "Error while scaffolding project: failed to initialize project with "go.kubebuilder.io/v3""
## Bug Report

#### What did you do?

- Installed `operator-sdk` via `Homebrew`. Followed this [steps](https://sdk.operatorframework.io/docs/installation/#install-from-homebrew-macos)
- Scaffolded project using the following command:

[code]

#### What did you expect to see?

The project should be initialized successfully without any error.

#### What did you see instead? Under which circumstances

[2020-12-28 08:28] zhangtbj commented on #4355
I also see this problem by using the latest `v1.3.0` version. And didn't find a solution for that.

[2020-12-28 09:16] sagar-jadhav commented on #4355
With the below command, it is working now:

[code]

looks like some issue with the `go.kubebuilder.io/v3` plugin.

[2020-12-28 09:46] zhangtbj commented on #4355
Using `--plugins go.kubebuilder.io/v2` also works for me.

Thanks @sagar-jadhav !

[2020-12-29 10:15] Bryce-huang commented on #1813
It just slowed down the frequency and did not solve the problem

[2020-12-30 02:02] #3805 closed

[2020-12-30 08:52] camilamacedo86 commented on #2950
This issue was answered already. See the latest comment.

[2020-12-30 08:52] #2950 closed

[2020-12-30 08:53] camilamacedo86 commented on #3677
/lifecycle frozen

[2020-12-30 09:03] camilamacedo86 commented on #3437
/lifecycle frozen

HI @estroz @asmacdo,

It is label as a priority. So, should not it be add in a milestone?

[2020-12-30 09:39] camilamacedo86 commented on #4355
Hi @sagar-jadhav and @zhangtbj,

The problem here is that you are using the tool to scaffold a project in a directory that has files. See the error message:

This validation was added for v3/ projects and a truly recommend you use v3 instead of v2 for any new project and do NOT scaffold new projects in a directory that has files already. It can bring issues and problems which were faced in the pas

[2020-12-30 09:39] #4355 closed

[2020-12-30 11:19] #3572 closed

[2020-12-30 17:20] #3479 closed

[2021-01-02 17:32] #3589 closed

[2021-01-03 10:21] aelbarkani opened #4356 "make bundle generates wrong CSV for Ansible operator"
## Bug Report

#### What did you do?
1. I tried `make bundle` to generate a bundle for an Ansible operator.
2. I deployed the bundle to a cluster with OLM v0.17.0.
3. The deployment failed with the following error show in the InstallPlan:
`[spec.customresourcedefinitions.owned.displayName: Required value, spec.customresourcedefinitions.owned.description: Required value]`
4. I tried to modify manua

[2021-01-03 20:31] rshetye commented on #4351
1. `$ gpg --recv-keys 052996E2A20B5C7E`
does not work
`gpg: keyserver receive failed: No data`
Tried with different key servers. Searched for the key on different keyservers ( http://keys.gnupg.net/ , https://pgp.mit.edu/ , https://keyserver.ubuntu.com/ ) . Key is not found on various online PGP databases.

2. `$ gpg -u "Operator SDK (release) <cncf-operator-sdk@cncf.io>" --verify checksums.txt.as

[2021-01-04 11:22] pre commented on #4258
operator-sdk Helm operator has the same problem with infinite reconciliation loop on kubernetes 1.18 - might share the same root issue?

[2021-01-04 11:39] pre opened #4357 "Helm operator: how to not update all deployed CR instances at once"
## Type of question

General operator-related help

## Question

When the Chart of a Helm operator is updated, deploying the helm-operator with this updated Chart will trigger an update to all of the CR instances at once.

This causes problems such as:
- changing a default image tag of a Deployment causes all pods to be recreated _at once_. This creates a burden to the image server when there are

[2021-01-04 19:14] kansberry commented on #4351
Same issue and error. Unable to import key using "gpg --recv-keys 052996E2A20B5C7E" command.

[2021-01-04 19:17] estroz commented on #4353
You can actually do this as of v1.3 by passing a CSV through stdin (see [the docs](https://sdk.operatorframework.io/docs/olm-integration/generation/#clusterserviceversion-manifests)).

[2021-01-04 19:17] #4353 closed

[2021-01-04 19:32] joelanford commented on #4345
@mrpre The best practice here is that you shouldn't block your reconcile loop waiting for certain things to happen or states to exist. If you do, you can starve your worker thread pool and cause your operator not to scale well.

Rather, you should structure your reconciler to issue the non-blocking delete call and then return without error if the deleted object still exists. When the object is act

[2021-01-04 19:32] #4345 closed

[2021-01-04 19:36] jberkhahn commented on #4350
TODO: add a section to the top of the FAQ docs that answers the question "whats the difference between Operator-SDK and Kubebuilder?" Include a link to https://www.openshift.com/blog/operator-sdk-reaches-v1.0 which discusses the current (post 1.0) differences and https://github.com/operator-framework/operator-sdk/issues/1758 which discusses legacy (pre 1.0) differences.

[2021-01-04 19:46] camilamacedo86 commented on #4314
Hi @santoshborse,

Before 1.0+ version the operators built with the SDK tool were namespaced scope. As you could check, after 1.0+ the projects starts to be cluster scoped instead.

Currently, unfortunately, we have not documented the steps required to change the scope specifically for Ansible or Helm. However, the steps are quite similar/same of the same ones done for Golang operators and describ

[2021-01-04 21:00] joelanford commented on #4357
Simultaneous updates of CRs when the operator is updated is the expected behavior. There was some discussion of this issue on the SDK community call today, and the consensus was that introducing delays and non-determinism would likely cause more problems that it would solve.

For example one possible scenario would be that a CR is updated after the operator is deployed, but before the operator's d

[2021-01-04 21:12] estroz commented on #4351
The key has been re-uploaded, can you retry @jdewinne?

[2021-01-04 21:41] joelanford commented on #4351
Can confirm that I was able to pull this key from `keyserver.ubuntu.com`

[2021-01-04 21:56] bentito opened #4361 "Quickstart for Go-based Operators does not include kustomize install"
A command line using `kustomize` is specified to delete the quick-start install, but `kustomize` is never mentioned for install.

[2021-01-04 22:48] jdewinne commented on #4351
:+1: Works for me. Closing it.

[2021-01-04 22:48] #4351 closed

[2021-01-05 00:35] jberkhahn commented on #4319
Hey there, this isn't really an operator-specific question, but here are a few things that might help.

First off, please don't ever store anything sensitive as plaintext. Secrets are the correct way to handle this sort of thing.

As far as I'm aware, there isn't functionality in CRD's to include secretRefs, so you'll have to do so manually. This would entail having some field in your spec that is

[2021-01-05 00:52] nicklasfrahm commented on #4302
@camilamacedo86 I have been playing around with execution in the container via `exec` quiet a lot recently and I built myself the following helper. This might be good to add to the examples somewhere or make it a part of the manager client:

[code]

[code]

The API is not perfect, because it does not support `stdin`, but it worked nicely for my use-case.

[2021-01-05 03:14] rshetye commented on #4351
You also need to specify the correct keyserver. Default keyserver on Ubuntu 20.04.1 LTS did not work. (added -v for verbose to show default keyserver versus explicit keyserver)

WORKED for me:
`$ gpg -v --recv-keys --keyserver hkp://hkps.pool.sks-keyservers.net 052996E2A20B5C7E`
[code]

DID NOT WORK for me.
`$ gpg -v --recv-keys 052996E2A20B5C7E`
[code]

[2021-01-05 17:40] estroz commented on #2770
/lifecycle frozen

[2021-01-05 17:41] estroz commented on #2770
Another library recently brought to my attention: https://github.com/darkowlzz/operator-toolkit.

[2021-01-05 17:58] camilamacedo86 commented on #3966
/lifecycle frozen

[2021-01-05 18:42] bentito commented on #4361
huh, at least on my machine, running MacOS, kustomize was never installed and if make was trying to install it, it failed silently. I ended up installing with Homebrew: `brew install kustomize` and then the delete worked.

[2021-01-05 19:43] kansberry commented on #3461
I am using operator-sdk version 1.3.0 and get this error message:
`  Unexpected error:
      <*fmt.wrapError | 0xc00045cd60>: {
          msg: "failed to start the controlplane. retried 5 times: fork/exec /usr/local/kubebuilder/bin/etcd: no such file or directory",
          err: {
              Op: "fork/exec",
              Path: "/usr/local/kubebuilder/bin/etcd",
              Err: 0x2,

[2021-01-05 20:24] bentito opened #4362 "docs: Quickstart for Go-based Operators docs do not mention "make kustomize""
Actually, I realized that the problem with the docs isn't platform dependent (see https://github.com/operator-framework/operator-sdk/issues/4361). The docs never call for the user of the docs to issue `make kustomize` step, and it's not called from any other make steps, so by the time the user calls `kustomzie` for the delete step, it will fail.

Doc link is here:

https://sdk.operatorframework.io

[2021-01-05 21:27] estroz commented on #3461
@kansberry `make test` is giving you that error? If you add
[code]
to your file, what happens?

[2021-01-05 21:32] kansberry commented on #3461
No, the command I am running is "make docker-build IMG=registry.hub.docker.com/$USERNAME/memcached-operator:v0.0.1". I also created an environment variable of SHELL=/bin/bash, as suggested, but this didn't fix the issue. I tried falling back to 1.2.0, and I get the same error.

[2021-01-05 21:35] estroz commented on #3461
@kansberry can you file a new issue with a link to/paste of your `Makefile`.

[2021-01-05 22:09] bentito opened #4364 "docs: Quickstart for Go-based Operators, kind=Memcached fails"
https://sdk.operatorframework.io/docs/building-operators/golang/quickstart/

The underlying `operatorsdk --kind=Memcached` called out in the Quickstart docs, `Memcached`, fails to deploy with an error like this:

[code]

This is likely due to changes in the `gcr.io/distroless/static:nonroot` image. Was able to fix the instantiated file `config/manager/manager.yaml` by removing `runAsUser` and addi

[2021-01-06 16:44] Phiph commented on #4355
Hi Camila,

I'm trying to run the init on a folder that just has a .git folder in side of it. I think it may be a false positive. As I think my folder structure meets the validation requirements.

![image](https://user-images.githubusercontent.com/8458416/103795841-63f30f00-503e-11eb-8615-b3308b93ee21.png)

[2021-01-06 19:57] camilamacedo86 commented on #4364
Hi @bentito,

The error faced "Invalid value: 65532: must be in the ranges: [1000600000, 1000609999]]" is specific to the OCP environment.

Then, by applying your solution "by removing runAsUser and adding runAsNonRoot: true to the spec.securityContext." you are raising security concerns.

Could you please try to change the user id in the Dockerfile and manager manifests for a value in the range

[2021-01-06 20:02] camilamacedo86 commented on #4362
HI @bentito,

The docs never call it because ALL targets that require kustomize already calls the kustomize target which will install it if the same not be installed already.

Then, I still not thinking that we should add it in the quickstart. The users will copy and paste the quickstart instruction, I do not think that it has any instruction that would fail because of it. However, I might be miss

[2021-01-06 21:20] bentito commented on #4364
I tried changing the UID, and I agree on security concern of my proposed workaround, but the UID range changes each time, it's a moving target, you can't guess it correctly every time. I think the problem must lie in the `gcr.io/distroless/static:nonroot` image assuming this memcached example used to work.

[2021-01-06 21:31] bentito commented on #4362
None now. The docs showing publicly are not current. The current docs no longer use kustomize for delete. I closed the PR with suggested change because of that.

[2021-01-06 22:08] camilamacedo86 commented on #4364
Hi @bentito,

Sorry. I missed that **you are using `runAsNonRoot: true`** which shows enough to solve the security concern over it. So, your workaround shows OK.

The reason for the specific used ID be set shows to be because of the K8s security police issue _"container has runAsNonRoot and image has non-numeric user (nonroot), cannot verify user is non-root"_  raised by the [k8s code implementati

[2021-01-06 22:15] camilamacedo86 commented on #4362
Hi @bentito,

So, what would be the motivation for `adding a make kustomize step to the quickstart doc.`? Sorry, but it still not clear for me. What is the target that you are using which requires kustomize and is not installing it? OR what is the command/step that you did use sdk or its helpers that did not work because of that?

[2021-01-06 23:47] bentito commented on #4362
There is none any more. The version being rendered for the docs was out of
date.
Brett Tofel

[2021-01-07 08:43] shaloba commented on #1858
i succeed to solve this issue with the following:

first of all - i install the operator under my kube-system namespace

after install i edit the clusterrole binding (like below) and change the namespace of the service account from **default** to **kube-system**

`
kubectl edit clusterrolebinding pulsar-operator-cluster-role-binding
`

`
apiVersion: rbac.authorization.k8s.io/v1
kind: ClusterRoleBi

[2021-01-07 11:14] jomeier opened #4366 "Method to identify k8s distribution the operator is running on -> apply different manifests in that case"
Hi,

is there any method that can determine out of the box on which k8s distribution an operator is running on in the SDK?

In the case of OpenShift / OKD sometimes it is necessary to apply additional k8s manifests that are specific to this distribution as for example SecurityContextConstraints (as in the Rook Operator).

It would be great if I could have a simple switch/case somewhere in the oper

[2021-01-07 11:46] camilamacedo86 commented on #4362
Really thank you for let me know. I am closing this one so. Please, feel free to open new issues with your questions, suggestions and concern.

[2021-01-07 11:46] #4362 closed

[2021-01-07 11:54] camilamacedo86 commented on #4366
Hi @jomeier,

Could you please let us know why you need to identify what is the vendor? I mean, why do you need to know the vendor? Because if is for example to use some schema that has one vendor and not in another the best approach would check if the schema is or not in the cluster instead. See: [Why not couple an Operator’s logic to a specific Kubernetes platform?](https://developers.redhat.com

[2021-01-07 12:10] jomeier commented on #4366
@camilamacedo86
Thanks for your answer. There are lots of operators e.g. the rook operator that need do make special preparations in an OpenShift/OKD cluster compared to a vanilla k8s cluster.

My idea is to have some utility function in the SDK that determines the type of cluster. So if programmers like to implement specialities for some of the cluster types, they wouldn't have to implement this

[2021-01-07 12:50] kaushiksrinivas opened #4367 "Need inputs on evolving an api with required fields between two versions."
Below is the scenario we are trying to accomplish with operators using operator sdk.

V1 of operator controller:
Has required fields in the api: field1, field2

V2 of operator controller:
Has required field in the api: field2, field3 (Note : field1 is deleted in this version).

Now user has installed V1 version of operator. And old CR and Controllers are running fine.
Now comes the concern, where

[2021-01-07 12:55] kaushiksrinivas commented on #4367
@camilamacedo86 Any inputs on this would be helpful.

[2021-01-07 14:49] bentito commented on #4364
PR adding specific workaround to the FAQ is: https://github.com/operator-framework/operator-sdk/pull/4368

[2021-01-07 14:49] ccnankai opened #4369 "namespace not found for current environment"
## Bug Report

#### What did you do?

I ran the following steps in the terminal：

operator-sdk new project
operator-sdk add api --api-version=xxx.com/v1  --kind=yyy
Add the corresponding fields in the *_types.go file

kuctl apply -f  deploy/crds/*_crd.yaml
export WATCH_NAMESPACE=default
go run cmd/manager/main.go

#### What did you expect to see?
No error

#### What did you see instead? Under whic

[2021-01-07 15:20] camilamacedo86 commented on #4369
Hi @ccnankai,

Version 0.13 is too old and is no longer supported. I'd like to recommend you upgrade your projects to the latest version. Note that for 1.0+ the layout changes. So, I'd like to recommend you follow up the guidance to update your project until the latest 0.19 version at least. And then, migrate your project to the latest layout. Following the steps:

- Follow up all steps in the mig

[2021-01-07 15:27] #4369 closed

[2021-01-07 15:34] joelanford commented on #4366
I totally agree with you on this. To the extent possible, it should be on the operator to discover its environment and handle it automatically.

I think what Camila is suggesting is that OpenShift/OKD is effectively Kubernetes with some extra extensions present by default, right?

So the stance of the SDK is generally to use the discovery API to determine the available extensions that you care abo

[2021-01-07 15:40] camilamacedo86 commented on #4367
Hi @kaushiksrinivas,

So, I understand that you have the scenario:

- An operator project with a release A where it's using an API version == v1.
- Then, you want to do a new release A+1 where it will provide a new version of API ==v2. The new API version will have new fields.

Then, I'd recommend you create a new API for the new version and its controller which means that GroupKindVersion1 will h

[2021-01-07 17:54] kaushiksrinivas commented on #4367
Hi @camilamacedo86
below is my example scenario,
Release A : Use GroupKindVersion1 and its controller to deploy a pod running application 'A'.
Release A+1: Use the same api version GroupKindVersion1 with modifications (i.e for ex: delete of a field and addition of a new field together) and enhanced controller to deploy the same but an enhanced version of application 'A'.

We need the pod running a

[2021-01-07 18:31] camilamacedo86 commented on #4367
Hi @kaushiksrinivas,

If you add or remove a field/attr/spec of an API/CRD then you would need to have another version of the same group and kind. It is no longer the same. You cannot change the spec definitions and says that it is the same because it is not true. You might find a way to change the controller logic to make it works, however, I'd not recommend you follow up this approach.

So, if y

[2021-01-07 18:43] camilamacedo86 commented on #4367
HI @kaushiksrinivas,

I think we can close this one. All info required shows shared already. However, please feel free to ping us to re-open if you need or raise new issues.

[2021-01-07 18:43] #4367 closed

[2021-01-07 18:51] Jitesh817 opened #4371 "import (cachev1alpha1 "github.com/example/memcached-operator/api/v1alpha1") in memcached_controller.go for Memcached-operator not working"
## Type of question

General operator-related help

## Question

#### What did you do?
Following the golang based operator tutorial [https://sdk.operatorframework.io/docs/building-operators/golang/tutorial/](here). Followed it step by step. After making all the code changes went on to build the operator using following command :
`$ make install`

#### What did you expect to see?
for build to compl

[2021-01-07 19:56] varshaprasad96 commented on #4371
Hi @Jitesh817
The Golang import paths are relative to your $GOPATH. Can you please check if your project is inside `github.com/example/memcached-operator` ? If you followed the tutorial, I suspect it should be in `example-inc/memcached-operator`, since the initial part of the tutorial directs to create project inside `example-inc`. The import statement should basically reflect the location of `v1a

[2021-01-07 20:59] ari-e opened #4372 "Controller runtime metrics not exposed before first reconciliation/error"
## Bug Report

#### What did you do?

Launch an operator built on top of the operator-sdk to my cluster then curl the metrics endpoint from within the pod.

#### What did you expect to see?

Expected to see all relevant controller metrics, most importantly `controller_runtime_reconcile_total` and `controller_runtime_reconcile_errors_total` set to 0.

#### What did you see instead? Under which circ

[2021-01-07 21:09] ari-e commented on #4372
Relevant controller-runtime code for reference:

https://github.com/kubernetes-sigs/controller-runtime/blob/3645df01769a3f131a6d9adfe4dfd6f76206ff82/pkg/internal/controller/metrics/metrics.go#L29-L39

https://github.com/kubernetes-sigs/controller-runtime/blob/2b423ec0a6646ad7fec022f76aa7c94358dc1135/pkg/internal/controller/controller.go#L263-L282

[2021-01-08 05:53] #2769 closed

[2021-01-08 09:57] J0zi commented on #4317
@estroz @jberkhahn it not only blocks new categories to be added but we are unable to use the latest `opm`/`operator-sdk` in our pipelines. We are running `operator-sdk` in container which works for `0.18.2` https://github.com/operator-framework/community-operators/pull/2941/checks?check_run_id=1664566934#step:3:495 but fails for  `1.3.0` https://github.com/operator-framework/community-operators/p

[2021-01-08 11:22] J0zi commented on #4317
we found `-b none` working :tada: Need to test it more.

[2021-01-08 12:16] umangachapagain opened #4374 "Bundle validation fails with CRD not found"
## Type of question

## Question

#### What did you do?
`operator-sdk bundle validate ./deploy/bundle --verbose`

#### What did you expect to see?
Bundle is valid.

#### What did you see instead? Under which circumstances?
Error that says some of the owned CRDs are not found, even though it is included in the bundle.

[code]

#### Environment

**Operator type:**

/language go

**Kubernetes cluster

[2021-01-08 12:37] umangachapagain commented on #4374
/cc @camilamacedo86

[2021-01-08 13:23] Jitesh817 commented on #4371
Hi @varshaprasad96
Thank you... that did the trick. Apparently I copied the controller code from the specified repo which changed the package location.

[2021-01-08 13:23] #4371 closed

[2021-01-08 13:35] camilamacedo86 opened #4375 "operator-sdk bundle validate ./bundle is not returning all errors"
## Bug Report

#### What did you do?

- create a project
- run make bundle
- then run, operator-sdk bundle validate ./bundle

#### What did you expect to see?

I would expect that when I do not inform an optional suite of test the validate would make AlL checks
then, it should fail:

[code]

#### What did you see instead? Under which circumstances?

[code]

[code]

[2021-01-08 13:35] camilamacedo86 commented on #4375
c/c @estroz

[2021-01-08 13:43] camilamacedo86 opened #4376 "Options to use operator-sdk bundle validate ./bundle --select-optional are confuse"
By check-in the options available in `operator-sdk bundle validate ./bundle --select-optional` we have:

-  operator-sdk bundle validate ./bundle --select-optional suite=operatorframework
- operator-sdk bundle validate ./bundle --select-optional name=operatorhub

1. Why we have to use suite for `operatorframework` and name for `operatorhub`?
2. Why do we need to use the `suite` and `name` at all?

[2021-01-08 13:44] camilamacedo86 commented on #4376
c/c @dmesser @estroz @jmrodri @joelanford

[2021-01-08 13:47] camilamacedo86 commented on #4374
Could you share the bundle.Dockerfile content please?

[2021-01-08 14:03] camilamacedo86 opened #4377 "The options for customize the channels and versions for the bundle target is not clear."
## Bug Report

#### What did you do?

I checked the Makefile;

[code]

- How I am a user of the tool can customize the channels and versions of my projects?
- What is the difference here between `DEFAULT_CHANNEL` and `BUNDLE_DEFAULT_CHANNEL`? It is not clear for users and if they export `BUNDLE_DEFAULT_CHANNEL` instead of `DEFAULT_CHANNEL` it will fail.
- How users would know that they can export

[2021-01-08 14:23] umangachapagain commented on #4374
https://github.com/openshift/ocs-operator/blob/master/deploy/Dockerfile

[2021-01-08 16:51] camilamacedo86 commented on #4374
HI @umangachapagain,

Following some questions

1. What the motivations for these changes in the default layout? Because if you move the things you need to customize the commands and makefile and etc .. to make all still working and you will face problems to upgrade the project for further versions. So, why these changes are required at all? What problems are you trying to solve it?

2. How are yo

[2021-01-08 17:11] estroz commented on #4375
@camilamacedo86 you're saying that all optional validators should be run when `bundle validate` runs without `--select-optional`? This was explicitly not what we wanted when this feature was implemented, and I continue to think they should not be run by default, since those validators are optional and might actually conflict (in the future). Regardless this is not a bug, but a feature request.

/k

[2021-01-08 17:19] camilamacedo86 commented on #4375
Hi @estroz,

Since you have a better context about the feature and based in your point of view could you please help me understand;

- What that means get a valid bundle result when we run `operator-sdk bundle validate ./bundle` without the --select-optional? Is this bundle valid for what if we are not checking what is mandatory to have the bundle pushed to OCP catalogue or opertorhub.io?

[2021-01-08 17:20] estroz commented on #4376
Selectors are commonly used in k8s code/manifests (including the existing `operator-sdk` CLI), so users are likely familiar with how they work. In the case of `bundle validate`, `suite` specifies a suite of optional validators, and `name` specifies a specific optional validator. If we add another optional validator related to operator-framework, then it would have `suite=operatorframework` and `na

[2021-01-08 17:33] estroz commented on #4375
A valid bundle is defined by the [bundle spec](https://github.com/operator-framework/operator-registry/blob/master/docs/design/operator-bundle.md), therefore the "base" (required) validators make sure a bundle conforms to that spec. Optional validators check a superset of requirements of a bundle, ex. for operatorhub.io, but _not requirements for a valid bundle_.

Consider the following scenario:

[2021-01-08 18:00] mikeshng opened #4378 "Helm operator: namespace scope resources with Helm keep annotations are being deleted by garbage collection"
## Bug Report

#### What did you do?
I created a sample Helm operator, then modified one of the namespace scope resources in the template to contain:
[code]
see "Tell Helm Not To Uninstall a Resource" in: https://helm.sh/docs/howto/charts_tips_and_tricks for more details.

After applying the Helm sample CR and then proceed to delete it, the resource with the keep annotation is also deleted from th

[2021-01-08 18:01] camilamacedo86 commented on #4376
Hi @estroz,

I already checked the doc suggested [OLM integration docs](https://sdk.operatorframework.io/docs/olm-integration/generation/#validation) and it does not really help me out :-(. So, I hope that you can help me getting this better for we check how can others could understand that as well.

Let's go step by step as any user. I executed:

[code]

Then, it makes me very confusing because;

[2021-01-08 18:13] estroz commented on #4376
1. We could document these label selectors better.
2. You passed labels incorrectly, the invocation should be
[code]
	Error messaging could be better though.
3. Yes. As more validators are added I expect `suite=operatorframework` to be larger than just one validator.
4. This is incorrect, as I've stated above. `bundle validate` validates a bundle against a spec. Bundles are an effort larger than j

[2021-01-08 18:58] camilamacedo86 commented on #4375
Hi @estroz,

Really thank you. It makes sense. I push a pr with a little more info to the cmd desc which i think that would not let me have this question in the first place. https://github.com/operator-framework/operator-sdk/issues/4375

closing this one.

[2021-01-08 18:58] #4375 closed

[2021-01-08 19:13] camilamacedo86 commented on #4376
Hi @estroz,

Thank you for the answers and to share your knowledge over it.  So, IMO what we can do here to address these scenarios and make easier the understanding for the others too are:

- [ ] - See if we can find a better way to output the info `$ operator-sdk bundle validate --list-optional` to illustrate this idea
- [ ] - Improve the cmd output of --select-optional -h to clarifies the label

[2021-01-08 19:20] camilamacedo86 opened #4380 "unable to use `operator-sdk generate bundle --input-dir` to generate a bundle from a pre-existent one"
## Bug Report

#### What did you do?

Try to create a new bundle from another one that already exists with `operator-sdk generate bundle --input-dir`

#### What did you expect to see?

The command should say what args are missing for I generate my new bundle from a pre-existent one
and successfully perform this action.

#### What did you see instead? Under which circumstances?

Error: invalid comm

[2021-01-08 19:23] joelanford commented on #4372
Submitted a PR to fix this here: https://github.com/kubernetes-sigs/controller-runtime/pull/1324

[2021-01-08 20:29] AdanSh opened #4381 "Makefile:62: recipe for target 'manifests' failed"
## Bug Report

I tried to build an operator using operator sdk official documentation but at line "cachev1alpha1 github.com/example/memcached-operator/api/v1alpha1"   where I have to insert github link my code is giving me error.
`/*
Licensed under the Apache License, Version 2.0 (the "License");
you may not use this file except in compliance with the License.
You may obtain a copy of the License

[2021-01-08 21:17] jomeier commented on #4366
Thanks to you both for your feedback. I understand what you mean and think that this are valid points.

I also found something that could fix the problem with additional SecurityContextConstraints that are required for some operators on OpenShift/OKD:

The ClusterServiceVersion manifest contains a section where we can define permissions that are translated into RoleBindings, ClusterRolebinding and

[2021-01-09 17:58] zhangzerui20 opened #4382 "Can I get pod logs through SDK API?"
like :`client.Pods(pod.Namespace).GetLogs`

[2021-01-10 18:02] #3367 closed

[2021-01-11 07:59] niaomingjian opened #4383 "Cleanup hangs in operators-helm tutorial"
## Type of question

## Question

#### What did you do?

Running the helm-based operator sample in [tutorial](https://sdk.operatorframework.io/docs/building-operators/helm/tutorial)
Cleanup hangs at this step [cleanup](https://sdk.operatorframework.io/docs/building-operators/helm/tutorial/#cleanup).

#### What did you expect to see?
CR was deleted normally.

#### What did you see instead? Under wh

[2021-01-11 10:35] chowmean opened #4384 "Functionality of helm operator"
## Type of question
Clarification of functionality

## Question
As I understand when you convert a helm chart using helm operator, what operator does it convert the chart to resource yaml and put watchers on those resources. So when that particular k8s resource is down it can be started again.

Can you please help here if I am correct or any doc which can help in better understanding of this.

[2021-01-11 11:20] J0zi commented on #4317
Despite `-b none` works in case of sdk against quay registry, issue still persist accessing local kind registry from container.

[2021-01-11 14:01] SAbdulRahuman opened #4385 "How to find operator-sdk version compatibility with kubernetes version"
I'm using operator-sdk version 1.18.2 for operator development and want to upgrade operator-sdk version to new / latest one.
If i move to operator-sdk latest version and develop operators, will it be compatible to older kubernetes (i.e, 1.18) ?.
or
How to i choose operator-sdk version for kubernetes cluster version ?.

## Type of question
 General operator-related help

## Question

#### What did

[2021-01-11 15:18] joelanford commented on #4366
That's a great question. My guess would be that OLM tries to blindly apply that role, and it would fail. If that's true, you would need different CSVs for different platform targets.

[2021-01-11 17:16] joelanford commented on #4372
Upstream PR has been merged. This will be released in controller-runtime v0.8.0.

[2021-01-11 17:16] #4372 closed

[2021-01-11 17:18] asmacdo commented on #3437
It still looks like this needs discussion-- I think its classified correctly for now, but because its priority/important-longterm we can discuss in the next grooming meeting, scheduled for January 13. If anyone wants to make a case for an upcoming milestone, feel free to come! https://github.com/operator-framework/community/#operator-sdk-grooming-meeting

[2021-01-11 17:21] asmacdo commented on #3800
/lifecycle frozen

[2021-01-11 17:59] varshaprasad96 commented on #4381
Hi @AdanSh
The error states that - `cannot find module providing package github.com/example/memcached-operator/api/v1alpha1:`.
This means there is `v1alpha1` package missing in the import path you have specified.
The Golang import paths are relative to your $GOPATH. Can you please check if your project is inside github.com/example/memcached-operator ? If you followed the tutorial, I suspect it sho

[2021-01-11 19:12] estroz commented on #4364
Before adding this to the FAQ I'd like to see this addressed upstream, i.e. is there another workaround that will work for both OCP and vanilla k8s.

/triage needs-information

[2021-01-11 19:18] estroz commented on #4366
Regardless of whether this library will be implemented, it should be added to https://github.com/operator-framework/operator-lib/. @jomeier if the above suggestions to solve your problem don't, or if you think there's some scaffolding that can be done to do so, feel free to reopen this in operator-lib.

[2021-01-11 19:18] #4366 closed

[2021-01-11 19:21] estroz commented on #4374
@camilamacedo86 will open an issue for this in the api repo, since this issue is caused by duplicate CSV values not generating warnings.

[2021-01-11 19:24] estroz commented on #4377
These variables could be documented with comments.

[2021-01-11 19:30] joelanford commented on #4378
@mikeshng I think this is happening because the helm-operator injects an owner reference into all the resources in the manifest. So when the CR is deleted, first a helm uninstall happens (which wouldn't delete these resources), then the CR finalizer is removed and the CR is deleted, then Kubernetes GCs all owned resources.

I think the fix would be to NOT inject owner references into resources tha

[2021-01-11 19:37] estroz commented on #4383
This problem is likely caused by the operator stopping before CRs are cleaned up. The finalizer is present so helm-operator can run `helm uninstall` prior to the CR being deleted. We might want to document this case in the tutorial with a note.

/kind documentation

[2021-01-11 19:44] estroz commented on #4384
Yes. The helm-operator will constantly reconcile the manifest such that the release contains the state seen in the cluster, outside of managing underlying k8s resources themselves (the cluster does this for you).

We don't have any docs that describe the nuances of helm-operator, although the above summary basically captures the essence of how it works. helm-operator also respects helm functionali

[2021-01-11 19:50] chowmean commented on #4384
Awesome. Just one more query how can we add custom logic to it like executing commands in conatiners. Any ways to do that? Also I would like to take up the documentation of this  if possible

[2021-01-11 20:08] #3801 closed

[2021-01-12 13:17] camilamacedo86 opened #4392 "Migration guide from 0.19 to 1.0+ is outdate and missing steps after 1.3.0 release"
## Bug Report

#### What did you do?

Try to upgrade a project which is 0.19 to. the latest version available by following https://sdk.operatorframework.io/docs/building-operators/golang/migration/

#### What did you expect to see?

All worked by following the steps provided.

#### What did you see instead? Under which circumstances?

It will not work because with the plugin v3 released by default

[2021-01-12 13:17] camilamacedo86 commented on #4392
c/c @estroz @joelanford @jmrodri

[2021-01-12 13:27] lfrancke commented on #215
I know this is a very old issue and I don't want to debate it at all. I'm just wondering if anyone remembers the context/source for the quote from @xiang90 at the beginning:

We're trying to understand best practices etc. around reconciliation loops and state machines and this issue always comes up.

Thank you

[2021-01-12 17:35] hickeyma commented on #4381
It doesn't have to be in the `GOPATH` as can use `GO111MODULE=on` when not in the path.  There is a bug however in docs [here](https://sdk.operatorframework.io/docs/building-operators/golang/tutorial/#create-a-new-project).

Need to change `--repo=github.com/example-inc/memcached-operator` to `--repo=github.com/example/memcached-operator` for `operator-sdk init` command.

I  can push a PR for the

[2021-01-12 17:59] varshaprasad96 commented on #4381
@hickeyma Yes, thats right. I just submitted a [PR](https://github.com/operator-framework/operator-sdk/pull/4393) to fix the docs. Please feel free to review it.

[2021-01-12 17:59] estroz commented on #4392
The migration guide should specifically be used to migrate from < v0.19 to v1.0, and not to migrate to the latest minor version (migration guides exist for each minor version already).

[2021-01-12 18:48] camilamacedo86 commented on #4392
Hi @estroz,

I see that we have here 2 approaches to follow up.

**Option A** (based in your comment/pov)

We need to provide 2 docs;

1 - How to upgrade from 0.19 to 1.3.0 (default plugin v3)
2- How to upgrade from 1.2.0 to 1.3.0 (v2 to v3 plugin)

For item 2 we can use the upstream doc when the pr kubernetes-sigs/kubebuilder#1916 get merged. However, the SDK doc will still be missing item 1. Als

[2021-01-12 19:00] estroz commented on #4392
I am not suggesting this. Instead I suggest the following:
1. How to upgrade from 0.19 to 1.0
2. How to upgrade from 1.0 to 1.1 (migration guide was generated during release)
3. ...
4. How to upgrade from 1.A to 1.B (migration guide was generated during release)

That way SDK maintainers do not have to update the "0.19 to 1.0+" doc whenever a new release is created, since a migration guide already

[2021-01-12 23:08] camilamacedo86 commented on #4392
Hi @estroz,

Do you think that is easier/less effort ask for the users follow up N docs instead of just one?
I mean, see that the biggest part of the users has their projects using a version lower than 1.0. So, if we follow up your suggestion it means:

- Migrate 0.19 to 1.0 - Recreate the project from the scratch and perform a lot of changes
- MIgrate from 1.0 to 1.1 - Small changes
- MIgrate 1.2

[2021-01-13 02:07] estroz commented on #3984
/lifecycle frozen

[2021-01-13 02:36] camilamacedo86 commented on #4374
Done: https://github.com/operator-framework/api/issues/93

[2021-01-13 07:45] kaushiksrinivas opened #4394 "how to get the api version of the cr instance in the reconcile function ?"
Trying to upgrade an api version from one version to another.
But do not want the old controller to reconcile the cr of a newer version.

How can we figure out the api version of the cr instance which caused the reconcile for the given controller ?

[2021-01-13 07:45] kaushiksrinivas commented on #4394
@camilamacedo86 Need inputs

[2021-01-13 12:14] #4374 closed

[2021-01-13 12:22] #3660 closed

[2021-01-13 12:50] camilamacedo86 commented on #4394
Hi @kaushiksrinivas,

Following the steps;

1. Create the new API

$  operator-sdk create api --group=cache --kind=Memcached --version=v2 --resource=true --controller=false

2. See that when you run the command `create api` you are creating this object/struct representation in `api/version/`; Then, in the controller, you end up importing your own APIS which would mean that the old controller would

[2021-01-13 17:26] #4381 closed

[2021-01-13 18:27] fabianvf commented on #3945
/lifecycle frozen

we don't want to lose this one, it's pretty critical information for debugging infinite controller loops

[2021-01-13 18:57] #4378 closed

[2021-01-13 19:06] camilamacedo86 opened #4396 "change default packagemanifests/bundle channel from alpha to preview"
## Feature Request

#### Describe the problem you need a feature to resolve.

SDK and OLM are projects from the same organization and one of our goals is to make then aligned and closer as much as possible. Therefore, keep a consensus across the board makes easier the users understanding. However, besides the recommend creating fast/preview/stable as channel names we are scaffolding alpha.

#### D

[2021-01-13 19:32] jmrodri commented on #4015
Related to PR #4190

[2021-01-14 04:04] #3712 closed

[2021-01-14 11:19] Phiph commented on #3461
Thanks Estroz. I was experiencing the same problem as the OP. Doing your suggestion solved the problem!

Environment -
Kali linux WSL2 instance.

[2021-01-14 11:51] camilamacedo86 commented on #4314
Hi @santoshborse,

Since it has been open whiteout interactions shows that the above info was enough for you to solve the problem. So, I am closing this one. However, if you still needing help with could you please raise a new issue and provide all steps done for we are able to reproduce and help you from there.

[2021-01-14 11:51] #4314 closed

[2021-01-14 15:19] joefuzz opened #4397 "Operator Capability Levels - Unclear meaning of items marked with "**""
When viewing the Operator Capability Levels documentation page, several points have "**" marks at the end. However, I do not see anything written on that same page explaining what that notation means in context. Is there clarification elsewhere that I missed, or was a footnote left off in error?

Is it possible for someone to clarify the meaning of the "**" denotation on the referenced page?

Refe

[2021-01-14 20:24] AdanSh commented on #4381
Thankyou thats useful but now another error popped out after using this.

[2021-01-14 20:27] AdanSh commented on #4381
`package controllers

import (
	appsv1 "k8s.io/api/apps/v1"
	corev1 "k8s.io/api/core/v1"
	"k8s.io/apimachinery/pkg/api/errors"
	metav1 "k8s.io/apimachinery/pkg/apis/meta/v1"
	"k8s.io/apimachinery/pkg/types"
	"reflect"

	"context"
	//"github.com/kubernetes-sigs/controller-runtime/pkg/controller"
	"github.com/go-logr/logr"
	"k8s.io/apimachinery/pkg/runtime"
	ctrl "sigs.k8s.io/controller-runtime"
	"s

[2021-01-14 20:47] varshaprasad96 commented on #4381
@AdanSh Which version of SDK are you using? With SDK 1.3.0, we have an updated the version of controller-runtime (0.7.0) with which the signature of `Reconciler` is modified to  `Reconcile(context.Context, reconcile.Request) (reconcile.Result, error)`

[2021-01-14 21:01] varshaprasad96 commented on #4381
You are probably looking at the older version of `memcached_controller.go` in the samples. You can refer to the most recent version from master or from 1.3.x tag - [here](https://github.com/operator-framework/operator-sdk/blob/v1.3.x/testdata/go/v3/memcached-operator/controllers/memcached_controller.go#L59), with updated signature of [Reconcile](https://github.com/operator-framework/operator-sdk/b

[2021-01-14 22:41] estroz commented on #4384
That's a great question. If helm can somehow execute a command in a container, then your operator should be able to as well.

That'd be awesome if you could help out with docs! I will note that a big refactor to `helm-operator` is [in the works](https://github.com/joelanford/helm-operator) so it might be worth waiting until that's done. It will be moved to a separate repo as well. The semantics wo

[2021-01-15 10:53] absynth76 commented on #4179
Hello, I somehow disagree with the response, you don't need cert manager, you need to instruct kubernetes to consume your webhook as described here https://sdk.operatorframework.io/docs/building-operators/ansible/reference/webhooks/
It's not because you are using cert-manager in a test that you are forced to use a cert-manager issued test (even if I don't disagree with the fact that cert-manager i

[2021-01-15 16:55] flozzone commented on #4353
As from what I have seen it already passes the CSV through stdin with the default Makefile command `make bundle`. But I don't know where to put a `patchesStrategicMerge` or a `patchesJson6902` to add multiple owned customresourcedefinitions in the CSV from different files.

At the end I would like to have such a directory structure, or similar:
[code]
A kustomize instruction should then add custom

[2021-01-15 18:22] varshaprasad96 commented on #4179
Hi @absynth76, yes, cert-manager is not the only solution. But as provided in the kubebuilder [tutorial](https://book.kubebuilder.io/cronjob-tutorial/cert-manager.html) any third-party solutions work as long as certs are in the desired location.

We may have to look at the scaffolded CRD (or the scaffolded project - if possible), just to ensure that the webhookClientConfig is right and if there is

[2021-01-18 15:36] mikeshng opened #4401 "Helm operator feature request: for CR delete, add option to wait until all resources are deleted before removing the finalizer"
## Feature Request

#### Describe the problem you need a feature to resolve.
For the deletion of the Helm operator CR resource, there is no option to wait until all the resources are deleted before removing its finalizer.

The current implementation seems to call the equivalent of `helm uninstall` but that command behaves asynchronously, so some of the resources might not actually be fully deleted

[2021-01-19 12:24] camilamacedo86 commented on #4394
I am closing this one since the previous comment shows sorted out your questions. However, please feel free to raise new issues if you still needing help with. Also, please let us know what do you did, what was there result faced and what is the result expected in this case.

[2021-01-19 12:24] #4394 closed

[2021-01-19 21:28] geerlingguy opened #4403 "Ansible Operator defaults on macOS result in 'No such file or directory' when running docker make targets"
## Bug Report

#### What did you do?

I followed the instructions in the Ansible operator quickstart: https://sdk.operatorframework.io/docs/building-operators/ansible/quickstart/

[code]

#### What did you expect to see?

I expected the image to be built.

#### What did you see instead? Under which circumstances?

I saw:

[code]

#### Environment

**Operator type:**

/language ansible

**Kubernete

[2021-01-19 21:31] geerlingguy commented on #4403
Surprisingly, if I comment out the `SHELL` line below from the generated Makefile, everything works perfectly:

[code]

I'm running macOS Big Sur, in `zsh` shell. Maybe `/bin/sh` is different?

[2021-01-20 16:21] aharbis opened #4409 "CSV specDescriptors for type pulled from wrong GVK"
## Bug Report

#### What did you do?

We currently have a single group, `datapower.ibm.com`, two versions: `v1beta1` and `v1beta2`, and the CRDs are as follows:

- `datapower.ibm.com/v1beta1`: `DataPowerService`
- `datapower.ibm.com/v1beta2`: `DataPowerService` + `DataPowerMonitor`

In the `v1beta1` DataPowerService, we had an embedded `DataPowerMonitorSpec` type defined, as this existed as a prop

[2021-01-20 16:33] aharbis commented on #4409
I will add that it looks like this isn't limited to `specDescriptors`. The `description` being pulled for our `v1beta2` DataPowerService is coming from our `v1beta1` DataPowerService types file.

Looking in `spec.customresourcedefinitions.owned`, of course.

[2021-01-20 18:47] #4377 closed

[2021-01-20 18:54] #4235 closed

[2021-01-20 20:23] reinvantveer commented on #4237
I'm having a first go at an attempt to contribute here: upgrading Python in the ansibe operator Docker image.
https://github.com/operator-framework/operator-sdk/pull/4413

[2021-01-20 20:45] estroz commented on #4237
@reinvantveer thanks! I can assign you to this issue in that case.

/assign @reinvantveer

[2021-01-21 01:51] camilamacedo86 opened #4414 "Quick-start for Golang operators in master is confuse"
We can check the diffs between https://sdk.operatorframework.io/docs/building-operators/golang/quickstart/ (release) and master (https://master.sdk.operatorframework.io/docs/building-operators/golang/quickstart/). Following the points

- Ansible/Helm/Golang now has no longer the same steps and are no longer equals
- The idea of the quick start is to be very quick and just give the commands for the

[2021-01-21 01:54] camilamacedo86 opened #4415 "Golang Quick-Start master changes brings confusion"
We can check the diffs between https://sdk.operatorframework.io/docs/building-operators/golang/quickstart/ (release) and master (https://master.sdk.operatorframework.io/docs/building-operators/golang/quickstart/). Following the points

- Ansible/Helm/Golang now has no longer the same steps and are no longer equals
- The idea of the quick start is to be very quick and just give the commands for the

[2021-01-21 02:02] camilamacedo86 commented on #4415
c/c @asmacdo @jmrodri @estroz

[2021-01-21 02:15] #4414 closed

[2021-01-21 19:43] reinvantveer commented on #4237
Following comments https://github.com/operator-framework/operator-sdk/pull/4413#issuecomment-763954279 and https://github.com/operator-framework/operator-sdk/pull/4413#issuecomment-764811597 now the PR for pinning the base images for Ansible and Helm operators

[2021-01-21 20:05] font opened #4418 "Running generate bundle again removes 'replaces' field"
## Bug Report

#### What did you do?

Execute `make bundle` twice:

[code]
The specific line in the `Makefile` recipe is the following:
[code]

#### What did you expect to see?

A CSV that does not change after a `make bundle` was previously run. This is useful for CI/CD testing to make sure the bundle is up-to-date.

The first time `make bundle` was run with a new updated version `v0.0.1-rc.2` it

[2021-01-22 00:43] #3769 closed

[2021-01-22 16:56] adambkaplan opened #4421 "Github Action to Install Operator-SDK"
## Feature Request

#### Describe the problem you need a feature to resolve.

`operator-sdk run` can be used to test if an SDK operator successfully deploys via OLM.
Installing operator-sdk via a GitHub action would let users easily install the sdk and run their desired tests via GitHub actions.

#### Describe the solution you'd like.

A GitHub action published on GitHub's action marketplace which

[2021-01-22 16:57] adambkaplan commented on #4421
/kind feature

[2021-01-22 17:03] adambkaplan commented on #4421
Note that there is an action on the marketplace that may cover the desired feature set: https://github.com/marketplace/actions/setup-operator-sdk-action

[2021-01-22 17:46] debankur1 opened #4422 "unable to use sigs.k8s.io/cluster-api in Operator-sdk v0.19.4"
v0.3.9

sigs.k8s.io/cluster-api/util
../../../../../pkg/mod/sigs.k8s.io/cluster-api@v0.3.9/util/util.go:429:48: undefined: controllerutil.Object
../../../../../pkg/mod/sigs.k8s.io/cluster-api@v0.3.9/util/util.go:440:46: undefined: controllerutil.Object
../../../../../pkg/mod/sigs.k8s.io/cluster-api@v0.3.9/util/util.go:464:47: undefined: controllerutil.Object
../../../../../pkg/mod/sigs.k8s.io/clus

[2021-01-22 18:19] jmccormick2001 opened #4423 "enable scorecard to override image pull policy"
## Feature Request

in scorecard today, IfNotpresent is the default pull policy for test images, it would be useful to let users override this within the scorecard config.yaml file to specify for example a pull policy of Always.

https://github.com/operator-framework/operator-sdk/blob/master/internal/scorecard/testpod.go#L54

#### Describe the solution you'd like.

retain the default perhaps, but

[2021-01-22 19:21] fabianvf commented on #4169
I think it would make sense to have values from the CR be tagged unsafe by default, I don't think we should be evaluating those unless the author explicitly opts in

[2021-01-22 19:53] aharbis commented on #4409
I've narrowed down that `buildCRDDescriptionFromType` in `internal/generate/clusterserviceversion/bases/definitions/crd.go` is returning incorrect data. I checked the `crd` struct from line 73 below and found that at this point the `description` pulled was incorrect, as were the `specDescriptors`.

(incorrect meaning: for the `v1beta2 DataPowerService` GVK, `v1beta1 DataPowerService` metadata was

[2021-01-22 20:21] aharbis commented on #4409
Digging a little more, the problem may not be within `buildCRDDescriptionFromType`. It looks like the `kindType` being passed into this function (line 73 above) has the incorrect data, which would mean it's coming from this line:

[code]

[2021-01-22 20:22] agaffney commented on #4169
Probably, but I suggested making it opt-in to not break any cases where people are currently relying on this behavior.

[2021-01-22 21:55] estroz commented on #4422
operator-sdk v0.19.4 used k8s v1.18. cluster-api [uses v1.17](https://github.com/kubernetes-sigs/cluster-api/blob/v0.3.12/go.mod#L35-L39) for both versions you are trying to use. That's why you're seeing dependency issues. There doesn't seem to be a version cut containing k8s v1.18 unfortunately (master was bumped to [v1.19](https://github.com/kubernetes-sigs/cluster-api/blob/daba8fe/go.mod)) so y

[2021-01-22 21:55] #4422 closed

[2021-01-22 22:05] estroz commented on #4418
This was a bug that was fixed in v1.3. Since there's no reliable way to figure out what version is being upgraded from using the existing CSV (as you said), we decided that having devs add a `spec.replaces` field to their base CSV (`config/manifests/bases/<operator name>.clusterserviceversion.yaml`) is the best fix. This field will not be overwritten when you run `make bundle`. Hope that helps!

[2021-01-22 22:05] #4418 closed

[2021-01-22 22:18] estroz commented on #4415
That isn't really true. In fact, they are more equal than they were in the latest release (v1.3).

Each quickstart takes ~3000 pixels (3 page-length scrolls on a 1080p monitor) to get to the bottom. That includes headers, footers, etc. IMO this _is_ very quick.

This should be added back.

We don't, it is an example. Feel free to make it more generic.

Feel free to change those.

Agreed

Sure. #44

[2021-01-22 22:22] estroz commented on #4397
Those appear to be leftover markdown syntax rather than footnote signifier. Any chance you could submit a PR to remove them?

/kind documentation

[2021-01-22 22:27] estroz commented on #4382
Unfortunately not. You'll have to set up a [client-go Clientset](https://pkg.go.dev/k8s.io/client-go/kubernetes/#NewForConfig) and use to `CoreV1` interface.

[2021-01-22 22:27] #4382 closed

[2021-01-23 15:07] jobcespedes commented on #4183
Are alerts possible too, when using Ansible?

[2021-01-23 15:19] ShinojEdakkara opened #4425 "Golang Based Operator Tutorial"
**Implement the Controller**
For this example replace the generated controller file controllers/memcached_controller.go with the example memcached_controller.go implementation.

For the above section in https://sdk.operatorframework.io/docs/building-operators/golang/tutorial/ , I copied the example from : https://github.com/operator-framework/operator-sdk/blob/v1.2.0/testdata/go/memcached-operator

[2021-01-23 18:31] lenardchristopher opened #4426 "Testing Labels"
Testing labels permissions.

[2021-01-23 18:31] #4426 closed

[2021-01-23 18:34] lenardchristopher commented on #4349
The link doesn't have the `labels` query param. However, I don't think it will matter because GitHub permissions are blocking labels. [This doc](https://docs.github.com/en/rest/reference/issues#create-an-issue) says

Also, I can't add a label an issue, even if I created it.

[2021-01-23 20:10] rashmigottipati commented on #4425
@ShinojEdakkara
PR #4393 that was merged to master fixes this issue, it should be available in the next SDK release.

[2021-01-23 22:41] joefuzz commented on #4397
I’d be happy to! I am green with this kind of stuff so forgive me if it takes me a little to submit my PR, but I will checkout and read the contributor docs.

[2021-01-25 06:56] #3604 closed

[2021-01-25 09:57] camilamacedo86 commented on #4425
Closing this one as solved in the master already,

[2021-01-25 09:57] #4425 closed

[2021-01-25 16:32] geerlingguy commented on #4403
Apparently this also happens in WSL2, according to https://github.com/geerlingguy/kubernetes-101/issues/21

[2021-01-25 18:34] #4397 closed

[2021-01-25 18:34] estroz commented on #4097
/remove-lifecycle stale

[2021-01-25 19:00] jmrodri commented on #4403
Looking at the go plugin we don't set a `SHELL` but in the ansible and helm plugins we do add that to the generated makefile.
[code]

[2021-01-25 19:11] estroz commented on #4392
On second thought, I agree with your idea. We should retitle the document to `Migrating Projects from pre-v1.0.0 to latest release` and keep it up to date with the latest release.

[2021-01-25 19:19] estroz commented on #4401
/kind feature

[2021-01-25 19:21] asmacdo commented on #4403
When this is fixed, please remove the temporary docs https://github.com/operator-framework/operator-sdk/pull/4395/files#diff-144ee4fe7c63a792e842fe887c0197146516350985701be7b87d74ae56a1a00eR40

[2021-01-25 19:21] estroz commented on #4403
/kind bug

[2021-01-25 19:23] estroz commented on #4409
/kind bug
/assign

[2021-01-25 19:35] estroz commented on #4421
@adambkaplan this is a great idea. Do you want to work on this? If not, @jmrodri will.

[2021-01-25 19:36] asmacdo commented on #4421
In the meantime, you should be able to use a docker image we publish that contains the binary.

[2021-01-25 19:39] estroz commented on #4423
@jmccormick2001, @theishshah and I think it would be a good idea to switch the default to "Always" to avoid potential bugs if the user is unaware of caching, on top of adding a configurable policy. Thoughts?

/assign @theishshah

[2021-01-25 20:09] ErezArbell opened #4430 "Golang Based Operator Tutorial: issues with the content of file memcached_controller.go"
Issues in page <https://sdk.operatorframework.io/docs/building-operators/golang/tutorial/>:

#### Issue 1
In the line:
[code]
The link in `memcached_controller.go` need to be fixed.
With the current link (<https://github.com/operator-framework/operator-sdk/blob/v1.2.0/testdata/go/memcached-operator/controllers/memcached_controller.go>) you will get error in the test stage:
[code]
Should be <https:

[2021-01-25 20:23] ErezArbell opened #4432 "golang/tutorial failed unless I installed kubebuilder"
## Bug Report

This is exactly the same as closed issue https://github.com/operator-framework/operator-sdk/issues/3461

#### What did you do?

I followed this tutorial today:
https://sdk.operatorframework.io/docs/building-operators/golang/tutorial/

I run it until got to this command:
[code]

#### What did you expect to see?

Should pass

#### What did you see instead? Under which circumstances?

[2021-01-25 21:09] aharbis commented on #4409
@estroz Regarding the milestone, just wondering if this bug fix would be back-ported to the prior release streams, or if we'd be looking at an upgrade to `v1.5.0` to fix this?

[2021-01-25 21:28] estroz commented on #4409
@aharbis likely backported if you want it to be (as per the [backport policy](https://sdk.operatorframework.io/docs/upgrading-sdk-version/backport-policy/)). It is in v1.5.0 because I don't expect to have the time to fix this until that release. If you have time to work on this earlier (or anyone else reading this), feel free to assign yourself.

[2021-01-26 08:07] ErezArbell opened #4433 "watch permission need to be added on pods in the examples."
## Bug Report

Following issue https://github.com/operator-framework/operator-sdk/issues/4059
I had the same issue.
I can confirm that the correct solution is https://github.com/operator-framework/operator-sdk/issues/4059#issuecomment-712858011

So the 'watch' need to be added in the relevant places. It is not there now.

[2021-01-26 11:26] camilamacedo86 commented on #4432
The following info will be in the FAQ section for the next releases:

Note: If using an OS which does not point sh to the bash shell (Ubuntu for example) then you should add the following line to the Makefile:

SHELL := /bin/bash

This will fix potential issues when the docker-build target runs the controller test suite. Issues maybe similar to following error: failed to start the controlplane. re

[2021-01-26 12:30] avrahams opened #4434 "Test fails with no matches for kind \"Route\" although routev1 is added to schema"
## Bug Report

#### What did you do?

I am following the code skeleton for writing test for [controllers ](https://book.kubebuilder.io/cronjob-tutorial/writing-tests.html)

Since my controller also uses openshift routes I added the route to the schema
[code]
#### What did you expect to see?

I expected the manager to start in the test suite without errors as it does in runtime

#### What did you s

[2021-01-26 14:16] SayidHosseini opened #4435 "GPG key import receive failed: No data"
## Bug Report

#### What did you do?
Following the [installation instructions](https://sdk.operatorframework.io/docs/installation/), tried to import the GPG key with the command `gpg --recv-keys 052996E2A20B5C7E`.

#### What did you expect to see?
I expected the key to be imported and get the following message:
[code]

#### What did you see instead? Under which circumstances?
I got:

[code]

####

[2021-01-26 14:31] mikeshng commented on #3407
/remove-lifecycle stale

I have a PR for this and its marked for the v2.0.0 milestone

[2021-01-26 15:01] camilamacedo86 commented on #4434
HI @varshaprasad96 @rashmigottipati,

It is related to our chat. some references:
- https://github.com/kubernetes-sigs/kubebuilder/issues/1772#issuecomment-723213345
- blog post with the legacy layout https://developers.redhat.com/blog/2020/02/04/how-to-use-third-party-apis-in-operator-sdk-projects/
- sdk docs: https://sdk.operatorframework.io/docs/building-operators/golang/advanced-topics/#adding

[2021-01-26 15:33] avrahams commented on #4434
@camilamacedo86 I understand that the code I expected to work as in kubernetes-sigs/kubebuilder#1772 (comment) is not working.
Is there a workaround that I can use until it's fixed ?

[2021-01-26 16:52] mrethers opened #4436 "Helm-based operator ability to update"
## Feature Request

When working with helm charts as a foundation for the operator, I'm able to use the SDK init operation to scaffold the project, but I cannot update the generated resources after a change is made to the chart externally. For example, if I wanted to add a new resource that required additional permissions, and potentially new values, I would like to update the rbac/role.yaml accor

[2021-01-26 17:33] camilamacedo86 commented on #4434
Hi @avrahams,

It might be missing some detail. To solve this issue is required to do a POC and a few checks. Then, properly doc that as well.

@varshaprasad96 @rashmigottipati see that be solving this one we might be able to close  https://github.com/kubernetes-sigs/controller-runtime/issues/1191

[2021-01-26 17:55] estroz commented on #4432
The root cause of this issue is `make test` failing (a dependency of `docker-build`) because of the shell issue. There are two upstream issues related to this problem (https://github.com/kubernetes-sigs/controller-runtime/issues/1234, https://github.com/kubernetes-sigs/controller-runtime/issues/1300), and the workaround suggested above is documented in the FAQ (will be updated next week), so I'm g

[2021-01-26 17:55] #4432 closed

[2021-01-26 17:58] estroz commented on #4435
This seems like an environment issue because others reported being able to pull the key from their default keyserver. The docs should be updated to specifically point to `keyserver.ubunut.com`.

/kind documentation

[2021-01-26 18:02] SayidHosseini commented on #4435
I also tried it with multiple other linux distros and the same thing there. Maybe it's a linux thing.

[2021-01-26 18:08] estroz commented on #4435
I was able to pull using the default keyserver on fedora. What gpg version are you using? Mine is `gpg (GnuPG) 2.2.20`.

[2021-01-26 18:33] SayidHosseini commented on #4435
I'm using the `gpg (GnuPG) 2.2.19` and it is the latest available in the Ubuntu 20.04 repositories.
I didn't try the fedora dist. Can you try with verbose to check what is the keyserver you are receiving from?

I tried with the following distributions and I get the same _**gpg: keyserver receive failed: No data**_:
*  **Debian 10** with `gpg (GnuPG) 2.2.12`
*  **Kali 2020.04** with `gpg (GnuPG) 2.

[2021-01-26 19:04] estroz commented on #4435
Now this is failing for me too, when it wasn't before :raised_eyebrow:.

[2021-01-26 19:28] njhale opened #4438 "Document Compatibility with OLM"
In some cases, recent versions of SDK are incompatible with older versions of OLM. In these scenarios, users may _incorrectly_ attribute a failed operator installation via OLM to OLM itself. This leads to a [backlog of issues]() on OLM, which I think we could avoid by providing a compatibility matrix in SDK's docs.

(If such docs already exist, please link in the comments and feel free to close th

[2021-01-26 20:10] njhale opened #4439 "Webhook mount location is incompatible with older versions of OLM"
## Bug Report

#### What did you do?

Attempt to deploy an operator with webhooks generated by SDK v1.1.0 against the `release-4.6` version of OLM.

#### What did you expect to see?

The operator falls back to the _old_ default serving cert mount locations for the `release-4.6` version of OLM if the _newer_  locations aren't populated:

_older_ `release-4.6` locations:

- `/apiserver.local.config/

[2021-01-27 06:57] gowrisankar22 opened #4440 "Identify the leader pod"
I have the below use case:

1. Running operator in 3 replicas[HA]
2. I would like to run a sidecar container with the operator pod to check certain things,  based on that, I will just make an update in the CR so that controller will reconcile. Now I want to identify from the sidecar container, which operator pod is running as a leader (I am running operator in 3 pods in 3az) before the sidecar is

[2021-01-27 12:27] camilamacedo86 commented on #4392
hi @jmrodri @estroz @rashmigottipati,

IMO it is quite important and if we leave in the backlog it might not get done. WDYT about we prioritize it for 1.5.0 milestone?

[2021-01-27 14:13] camilamacedo86 opened #4442 "operator-sdk generate bundle -h has no instructions/examples for Non-SDK projects"
## Bug Report

#### What did you do?

Checking the operator-sdk generate bundle -h help

#### What did you expect to see?

I'd like to see in the help examples over how to use them when the project is non-sdk as well

#### What did you see instead? Under which circumstances?

Only steps valid for sdk layout projects

#### Environment

operator-sdk version: df8186c446c7e8d260bcd42216e59b4a08ce7185

[2021-01-27 15:01] jmccormick2001 commented on #4423
one thing to note here, if you have say 10 tests, and an imagePullPolicy of Always, it will mean the test image will get pulled down 10 times as each test Pod is created...so, this default choice might impact runtime, something to be aware of.  As long as the end user can override the default to something other than Always, they can get the effect they want, but its worth noting I think as to the

[2021-01-27 15:49] #4435 closed

[2021-01-27 15:59] jmrodri commented on #4364
My understanding is if you specify a specific user on OpenShift it will attempt to honor that setting. So a `runAsUser` set to `65532` will cause OpenShift to try and use user id `65532` which does not exist. So we have to NOT set it so that OpenShift will automatically use a random user id.

My understanding was for upstream we needed to add `runAsUser` to avoid running as root upstream. The best

[2021-01-27 16:15] estroz commented on #4364
Yeah that sounds correct. My comment is referring to `runAsUser: 65532` being redundant, since the default value is taken from container metadata, which sets this value to 65532 already [upstream](https://github.com/kubernetes-sigs/kubebuilder/blob/master/pkg/plugins/golang/v3/scaffolds/internal/templates/dockerfile.go#L65). Therefore we should be able to replace `runAsUser: 65532` with `runAsNonR

[2021-01-27 16:42] estroz commented on #4392
@camilamacedo86 that depends on if @rashmigottipati can do this by v1.5.0

[2021-01-27 17:06] rashmigottipati commented on #4392
I'm good with prioritizing this and moving it to v1.5.0 milestone.

[2021-01-27 17:28] hickeyma commented on #4129
@asmacdo @camilamacedo86 @NissesSenap I can work on this if thats ok?

[2021-01-27 17:34] estroz commented on #4364
PR: https://github.com/kubernetes-sigs/kubebuilder/pull/1978

[2021-01-27 23:12] varshaprasad96 opened #5101 "Operator SDK to notify developers about cluster topology"
Openshift plans to introduce an [API](https://github.com/openshift/enhancements/blob/master/enhancements/cluster-high-availability-mode-api.md) which allows operators to know about the topology of the cluster in which they would be deployed. Currently, with the introduction of this API one can know if the openshift cluster has sufficient control plane and infrastructure nodes to support high avail

[2021-01-28 03:08] #4350 closed

[2021-01-28 03:14] estroz commented on #4409
@aharbis I actually did have time to work on this (#4445). I'll cherry-pick this back to v1.3 so it'll be in v1.3.1 and v1.4.0.

[2021-01-28 08:13] FNaughton opened #4446 "Ansible-based operator logging verbosity flags don't affect events written to stdout"
## Bug Report

I'm attempting to lower the log level of my ansible-based operator for every day use. Logs are collected from stdout of the operator pod.
I would also like to be able to increase log levels for investigation when there's an issue.

#### What did you do?

I followed the guidelines for adjusting log levels [here](https://v0-19-x.sdk.operatorframework.io/docs/ansible/reference/advanced

[2021-01-28 12:25] StiviiK opened #4447 "Resource already deleted when Reconcile gets called"
## Type of question
How to implement a specific feature

## Question

#### What did you do?
I have built a simple Go based Operator, mostly generated using the CLI, the Reconcile functions works fine when the resource is created or updated but when I delete the resource the Reconcile function gets called when the resource is already deleted therefore I can't handle the cleanup of the resource.

[c

[2021-01-28 14:52] StiviiK commented on #4447
Adding a finalizer did solve the problem for me.
Reference: https://sdk.operatorframework.io/docs/building-operators/golang/advanced-topics/#handle-cleanup-on-deletion

[2021-01-28 14:52] #4447 closed

[2021-01-28 19:14] alecmerdler commented on #4355
I see this as well when I have a `.git` directory. Removing the `.git` directory and re-running `operator-sdk init` fixed the issue.

[2021-01-29 01:10] #3785 closed

[2021-01-29 01:10] #3790 closed

[2021-01-29 11:05] kstiehl commented on #3123
@nirrozenbaum
Have you found a solution for that?

I would also be interested whether there is a good solution to do that for a Golang operator

[2021-01-29 12:29] camilamacedo86 commented on #3480
The `alm-examples: section in csv if crds directory is empty.` because you have not the CRs with the specs. This fields will be filled with the samples/CRs specs and values.

Also, I'd suggest you migrate your project to the latest version as well. See: https://sdk.operatorframework.io/docs/building-operators/golang/migration/

[2021-01-29 15:11] #3680 closed

[2021-01-29 15:11] estroz commented on #3680
This has been done for awhile now.

[2021-01-29 15:50] nirrozenbaum commented on #3123
nope, unfortunately no.

[2021-01-29 16:07] adambkaplan opened #4453 "make install fails following Quickstart for Go-based Operators"
When following the quickstart guide using operator-sdk v1.3 (modified for the operator I'm trying to build), I get the following error from `make install`:

[code]

I see a file in confg/crc/bases called `operator.shipwright-io_shipwrightbuildren.yaml` instead.

**Steps to reproduce**

1. Init repo with operator-sdk:

[code]

2. Create an API

[code]

3. Create the image and push via `make docker-

[2021-01-29 16:39] fabianvf commented on #3123
Terribly sorry, missed those pings. I do not think there is a way to dynamically update the watches for a running ansible operator currently. Some users in the past have used a `watches.yaml` stored in a configmap and mounted that into the operator deployment, so when the content of the watches change the operator is redeployed

[2021-01-29 17:18] jmrodri commented on #4453
@adambkaplan I was able to recreate the problem. It seems to happen when `make manifests` is run. The `operator.shipwright-io_shipwrightbuildren.yaml` file is being created instead of `operator.shipwright-io_shipwrightbuilds.yaml` as if something was doing bad pluralization.

The workaround I was able to do was:
1. Rename the file `mv operator.shipwright.io_shipwrightbuildren.yaml operator.shipwri

[2021-01-29 17:19] jmrodri commented on #4453
I created a repo with 3 commits showing the 3 steps I've taken to recreate the issue:
https://github.com/jmrodri/shipwright/commit/149fafbc2bc2871f9519da16bd5aa88d659a0462

The third commit: `make manifests` is causing the problem.

[2021-01-29 17:38] jmrodri commented on #4453
We're using `controller-gen` v0.4.1 which depends on `gobuffalo/flect` v0.2.0 for pluralization logic. `gobuffalo/flect` v0.2.0 has a problem:

[code]
With `gobuffalo/flect` v0.2.2, it is fixed.

[code]

[2021-01-29 17:43] jmrodri commented on #4453
Looks like the fix was done after the v0.4.1 release https://github.com/kubernetes-sigs/controller-tools/pull/522

[2021-01-29 18:34] camilamacedo86 commented on #4453
It will be fixed when we update/align SDK with upstream: WIP https://github.com/operator-framework/operator-sdk/pull/4402

[2021-01-29 19:25] camilamacedo86 commented on #3448
/lifecycle frozen

[2021-01-31 03:25] #4129 closed

[2021-01-31 03:25] #4349 closed

[2021-01-31 07:30] nirrozenbaum commented on #3123
@fabianvf thanks for your comments.
do you know if this option is possible in go operator?

[2021-01-31 17:04] jmrodri commented on #4169
Moving this to milestone v1.5.0 as it will not be done in time for v1.4.0

[2021-01-31 19:21] #3825 closed

[2021-02-01 12:43] dalbani commented on #4237
Another component which probably needs to have its version pinned: the Ansible Galaxy collections.
https://github.com/operator-framework/operator-sdk/blob/master/internal/plugins/ansible/v1/scaffolds/internal/templates/requirements.go#L35

[2021-02-01 13:54] reinvantveer commented on #4237
I agree

[2021-02-01 15:39] zonnie opened #4456 "Unable to run "make generate" - fails due to Golang version issues"
## Bug Report

#### What did you do?

- Upgraded the `operator-sdk` to version `1.3` from version `1.0`
- Followed the upgrade steps and updated my code
- Run `make generate`

#### What did you expect to see?

Expected `make generate` to work properly

#### What did you see instead? Under which circumstances?

Got the following, I was on Go version `1.13`

[code]

Following the error I thought I n

[2021-02-01 18:34] estroz commented on #4453
@adambkaplan what plugin version are you using (the `layout` field in your PROJECT file)? #4402 won't actually fix this unless you are using the proper version of `controller-gen` (v0.4.1) which is only supported by the go/v3 plugin (introduced in operator-sdk v1.3.0). v0.4.0+ creatse v1 CRDs and webhooks by default, so you can use v0.4.1 if you add `crdVersions={v1beta1}` to your Makefile and `we

[2021-02-01 18:35] varshaprasad96 commented on #4456
Hi @zonnie,
Operator-SDK [1.3](https://github.com/operator-framework/operator-sdk/blob/v1.3.x/go.mod) should be having controller-runtime upgraded to 0.7.0 and controller-tools to 0.4.1. Can you bump these two versions and check again?

[2021-02-01 18:41] estroz commented on #4453
Actually re-opening this to make sure this is fixed, since you mentioned operator-sdk v1.3 was used.

[2021-02-01 18:42] varshaprasad96 commented on #4430
This was fixed in master (https://github.com/operator-framework/operator-sdk/pull/4393/files), but needs to back ported. Thanks for pointing this out, will cheery pick this PR for previous versions.

[2021-02-01 18:53] varshaprasad96 commented on #4439
+1. We may have to document the OLM compatibility in general. Also for this specific issue, we could point out that for previous versions of OLM, the workaround is to specify the location of certs while setting up webhook with controller-runtime manager (ex: [here](https://github.com/varshaprasad96/memcached-operator/blob/conv-wh-specify-config/api/v1/memcached_webhook.go#L38-L48)).

[2021-02-01 19:08] estroz commented on #4430
/assign @varshaprasad96
/kind bug

[2021-02-01 19:10] estroz commented on #4433
/kind bug

[2021-02-01 19:11] estroz commented on #4433
I think the RBAC files are not being regenerated after adding the appropriate marker comments. Will investigate.

[2021-02-01 19:15] estroz commented on #4434
@varshaprasad96 will try to reproduce this. While https://github.com/kubernetes-sigs/controller-runtime/issues/1191 might be the root cause, we are not sure.

/assign @varshaprasad96
/triage needs-information

[2021-02-01 19:19] estroz commented on #4436
This would probably be useful, but is complicated since `operator-sdk update api` can't know what you've changed in between `create api` and `update api`. This could probably be solved (completely?) with marker comments in relevant files. I do think this should be a mode of `create api` rather than a separate subcommand, to keep the CLI simple, ex. `operator-sdk create api --update ...`.

/kind fe

[2021-02-01 19:24] estroz commented on #4439
/kind documentation
/assign

[2021-02-01 19:26] estroz commented on #4440
/assign @rashmigottipati
/triage support

[2021-02-01 19:29] estroz commented on #4442
The command docs could be made more general, but catering to non-SDK projects isn't a strict goal of this project.

/kind documentation
/assign

[2021-02-01 19:33] estroz commented on #4446
/kind bug
/assign @jmrodri

[2021-02-01 19:38] estroz commented on #4453
/assign @jmrodri
/kind bug

[2021-02-01 21:46] mrethers commented on #4436
Totally agree with you.

On Mon, Feb 1, 2021, 2:19 PM Eric Stroczynski <notifications@github.com>
wrote:

[2021-02-02 00:02] jmrodri commented on #4258
I was able to recreate this thanks for the excellent project example. One thing I've noticed between the good and the bad logs is as follows.

**good**

The good has 2 `playbook_on_stats` which prints out the following. Notice the `changed` value. The first run changed **1**.
[code]

On the second reconcile it changed **0**:
[code]
---

**bad**

Contrast that to the bad. On its first run it change

[2021-02-02 00:09] tobernguyen commented on #1978
Update the broken link above: https://sdk.operatorframework.io/docs/building-operators/ansible/reference/watches/

[2021-02-02 00:48] tobernguyen opened #4459 "reconcilePeriod set to 0s is not working"
## Bug Report

#### What did you do?

I have my `watches.yaml` set to following:

[code]

#### What did you expect to see?

I expected the reconcile run once at the 1st start time and don't run again unless the watched subresource has a update.

#### What did you see instead? Under which circumstances?

The reconciliation still runs periodically (about 1 minute).
The ansible playbook was run succe

[2021-02-02 14:22] ErezArbell opened #4463 "Wrong "Conditions" import in Advanced Topics"
In this page: <https://sdk.operatorframework.io/docs/building-operators/golang/advanced-topics/>
This section:
[code]

should be replaced with
[code]

[2021-02-02 14:44] jmrodri commented on #3945
I spent the past couple days trying to debug an issue. There wasn't much information at all in the runner or reconciler stating what was going on.

[2021-02-02 18:41] estroz commented on #4000
Packaging all binaries into one image is complicated by multiple plugins and versions. From #4428:

[There are t]hree ways to tackle this:
1. Make an image for each plugin version with the appropriate tool version.
	- `quay.io/operator-framework/operator-sdk-go-v2:v1.3.0` containing all go/v2 tools
2. Download multiple versions of tool binaries into the same image, with each binary name containing

[2021-02-02 19:22] estroz commented on #4438
`operator-sdk` recently started packaging a set of versioned OLM manifests as bindata internally to declare explicit support for these versions and permit offline installations (assuming referenced images are present in-cluster). As of now, 0.15.1, 0.16.1, and 0.17.0 are supported, but support is not documented anywhere.

P.S. @njhale the link on "backlog of issues" in this issue's description is

[2021-02-02 19:31] jberkhahn commented on #4383
closed via #4461

[2021-02-02 19:31] #4383 closed

[2021-02-02 20:05] jmrodri opened #4464 "Update scorecard docs to be more clear how to use the configuration file."
### What is the URL of the document?

https://sdk.operatorframework.io/docs/advanced-topics/scorecard/scorecard/#configuration

### Which section(s) is the issue in?
[Configuration](https://sdk.operatorframework.io/docs/advanced-topics/scorecard/scorecard/#configuration)

### What needs fixing?
A better description of when and how to use the configuration. There are no examples of passing in a con

[2021-02-02 20:31] varshaprasad96 commented on #4463
Hi @ErezArbell
The `Advanced Topic` section has been replaced to use [upstream](https://master.sdk.operatorframework.io/docs/building-operators/golang/advanced-topics/#manage-cr-status-conditions) conditions instead of the one from `operator-lib` since the operator-lib's `status` package is removed. `github.com/operator-framework/operator-lib/conditions` is a different library which helps communic

[2021-02-02 20:50] #4409 closed

[2021-02-02 21:09] #4275 closed

[2021-02-02 21:11] ErezArbell commented on #4463
Thank you.
When will this master become latest?
Is there full example of operator using the new conditions?

[2021-02-02 21:38] varshaprasad96 commented on #4430
@ErezArbell This [PR](https://github.com/operator-framework/operator-sdk/pull/4465) fixes a few issues found in tutorial of 1.3.x. Please free to take a look and let us know if there is anything missing.

[2021-02-02 21:47] jmrodri commented on #4258
So far I haven't found a bug in the ansible-operator itself, it is responding to events that are causing the reconcile to continue. There might be a problem with how the k8s modules are handling *changes*.

[2021-02-02 23:10] jmrodri commented on #4258
I bumped this to v1.5.0.

[2021-02-02 23:38] rashmigottipati commented on #4440
@gowrisankar22

You should be able to find out the leader from your own application using sidecar, simply by accessing `http://localhost:4040` from the sidecar container and get a JSON response back that contains the name of the elected leader pod.

Have you already tried this?

[2021-02-03 03:51] Xiaoyang-Gu opened #4467 "Fail to find compatible kubebuilder-tools when run tests in makefile in my arm64 machine"
## Find Compatible kubebuilder-tools for make test file

## Question

#### Compatible error?

I made Quickstart for Go-based Operators to build a new operator on my arm64 machine.  After I init my operator and `Build and push the operator image`. I found I cannot fetch compatible kubebuilder-tools and get the error like the picture below.
<img width="792" alt="1" src="https://user-images.githubuse

[2021-02-03 04:32] gowrisankar22 commented on #4440
@rashmigottipati by default 4040 port is exposed by the operator pod? I couldnot access the 4040 port

[2021-02-03 04:37] rashmigottipati commented on #4440
@gowrisankar22 I will do some investigation on that and let you know.

[2021-02-03 05:42] gowrisankar22 commented on #4440
@rashmigottipati that will be really great