[2020-03-01 18:13] charles-d-burton commented on #2490
I can replicate this issue on Ubuntu 18.04 very easily.  The only solution I found is setting the GOROOT as described here.

[2020-03-01 22:13] zanoubia commented on #2596
any ideas of workarounds ? should I use a different sdk version ?

[2020-03-02 05:38] kaushiksrinivas commented on #2302
Had to unset the https_proxy if behind a proxy for validating the project creation to complete.
We were seeing tls timeout issues.

[2020-03-02 06:40] jeyaramashok commented on #2595
@estroz created this PR https://github.com/operator-framework/operator-sdk/pull/2613 , pls let me ur thoughts on this.

I was not sure if I had to add any tests, I could not find one. Pls point to any tests if needs to be updated.

[2020-03-02 11:47] zanoubia commented on #2596
Hi again,

I tried to make it work inside container using the golang latest docker images. I worked in src directory so no --repo flag.

operator-sdk version: "v0.15.2", commit: "ffaf278993c8fcb00c6f527c9f20091eb8dd3352", go version: "go1.13.3 linux/amd64"

I get the same errors as previous error  :s :s

[2020-03-02 14:07] dmesser commented on #2567
Fair point. Though ultimately the CSV generator should be idempotent enough to not override these kind of changes.

[2020-03-02 17:00] bcmills commented on #2030
/remove-lifecycle rotten

[2020-03-02 19:00] zanoubia commented on #2596
https://github.com/operator-framework/operator-sdk/issues/1854#issuecomment-525206318
as suggested in the comment of the issue above, GOROOT in go env is not enough, it should also be  exported  as linux env var.

However, I still get this error when i run the command the first time:
[code]
I run the second time, now it succeed on the first step and also in deepcopy but i have this:
[code]
I'm sti

[2020-03-02 19:10] estroz commented on #396
/lifecycle frozen

[2020-03-02 19:19] estroz commented on #1206
@JohnStrunk are you still experiencing this issue? If so, feel free to re-open.

[2020-03-02 19:19] #1206 closed

[2020-03-02 19:33] estroz commented on #1645
A lot of these libraries have changed/will be upstreamed. Closing.

[2020-03-02 19:33] #1645 closed

[2020-03-02 19:34] camilamacedo86 commented on #2596
Hi @zanoubia,

I'd recommend to you:
- Ensure that your GOROOT and GOPROXY is properly setup
- Then, clean your local GO env with:
[code]
- Remove the SDK from your GOPATH/bin
- Then, re-install it
- Please, do not use your previous scaffolded project where you are facing the issues.
- Re-create a new one from scratch and see if your problem is solved.

Note that the error faced shows that your lo

[2020-03-02 19:37] estroz commented on #1679
Closing in favor of #1939, which solves the issue described here in another manner.

[2020-03-02 19:49] estroz commented on #1908
@zerok @odra are you still experiencing this issue?

[2020-03-02 19:55] estroz commented on #1954
@alenkacz you can effectively get this behavior using VCS like `git`. I'd say this shouldn't be an SDK feature.

[2020-03-02 19:55] #1954 closed

[2020-03-02 20:00] estroz commented on #1996
@ssbano @fr34k8 this isn't necessarily a high priority issue, but we'd welcome a PR. See the reference PR in the comment above: https://github.com/operator-framework/operator-sdk/issues/1996#issuecomment-536783478.

[2020-03-02 20:17] mhrivnak commented on #1679
I think should be re-opened.

Bookmarks are only useful when re-establishing a watch. That would not be the case when the operator container is first starting up. On startup, it always establishes new watches, because nothing is persisting a collection's resource version.

https://kubernetes.io/docs/reference/using-api/api-concepts/#watch-bookmarks

Further, bookmarks are only useful when you are

[2020-03-02 20:36] mhrivnak commented on #1939
AIUI, bookmarks are only useful when using a label selector on a watch. It's a way for the API service to tell you: "a whole bunch of events happened; you didn't see them because they don't match your selector, but just trust me, the current resource version is now X".

Only if the SDK starts supporting watches with selectors would this become useful. Even at that, I suspect it would be an impleme

[2020-03-02 21:26] mikeshng opened #2614 "unable to retrieve the complete list of server APIs (fixed in helm 3.0.2)"
## Bug Report

**What did you do?**
https://github.com/helm/helm/issues/6361
The current helm version `helm.sh/helm/v3 v3.0.1` contains an issue described in the above URL.

It's claimed to be fixed in `3.0.2` https://github.com/helm/helm/issues/6361#issuecomment-578921598

Could you please move up the version to `3.0.2`?

**What did you expect to see?**
Not see the `unable to retrieve the complet

[2020-03-02 22:41] jberkhahn commented on #1908
/assign @jberkhahn

[2020-03-03 10:51] zanoubia commented on #2596
Hi @camilamacedo86 ,
I restarted from scratch. I created an empty brand new golang container from the golang official image. I made sure the env variables are good. Installed the sdk from the latest release (followed the install guide).

Still having the first error:
`Error: scaffold group file: my-operator/pkg/apis/sw/group.go:6:9: expected 'IDENT', found 'sw'
`
 then the latest error :
[code]

[2020-03-03 11:21] camilamacedo86 opened #2615 "Error: unknown flag: --watches-file"
From channel:

I'm seeing this in our CI runs:
[code]
I'm having a hard time following when this flag was removed from the cmd/operator-sdk/run code

[2020-03-03 11:22] alenkacz commented on #1954
@estroz I don't agree, I think it's a good practice to cleanup after yourself, be it temporary folders or something that is not really functional and is left on the disk. Especially because with this, operator creation cannot be simply re-run :) pushing this to the user and letting him/her initialize a git repository prior to running operator-sdk for the first time is an option, but not very user-

[2020-03-03 11:28] camilamacedo86 commented on #2615
Hi @estroz,

This came from the channel. I was looking and shows that we remove the flag  here: https://github.com/operator-framework/operator-sdk/pull/2441

However, I am still facing the flag in the doc [sdk-cli-reference](https://github.com/operator-framework/operator-sdk/blob/master/doc/sdk-cli-reference.md#run) and I was not able to find this [CHANGELOG.md](https://github.com/operator-framewo

[2020-03-03 11:33] camilamacedo86 commented on #2596
Hi @zanoubia,

Could you please let me know if you are able to follow the Quick Start and/or Getting Started instructions as asked in https://github.com/operator-framework/operator-sdk/issues/2596#issuecomment-593562274 or are you facing the same issue?

[code]

Note the above test is out of $GOPATH.

[2020-03-03 11:46] 27149chen opened #2616 "How to update CR when an operator is upgraded"
## Type of question

**Are you asking about community best practices, how to implement a specific feature, or about general context and help around the operator-sdk?**
community best practices

## Question

When an operator is upgraded to a new version, should the field of the previous CR be upgraded too?
There are some situations (The premise of this question is that one version of operator can o

[2020-03-03 12:29] zanoubia commented on #2596
Hi @camilamacedo86 ,

Using your example, it works perfectly when I export GOROOT as env var in linux . However when using my API and Kind custom names it doesn't.
**Is there any naming restriction or syntax to follow when naming the APIs and Kinds ?? That's the only thing that could explain this weird behaviour.**

[2020-03-03 13:30] camilamacedo86 commented on #2596
What do you mean with `Using your example, it works perfectly when I export GOROOT as env var in linux `?

[2020-03-03 13:45] zanoubia commented on #2596
Hi,

Yes That's what I did

When I use --api-version=app.example.com/v1alpha1 --kind=AppService , it works. When I use our own names it doesn't work. The tests for both cases were done in clean golang docker containers with the same go env.

I'm closing the issue since you can't reproduce the errors. I'll dig further and keep you updated.

[2020-03-03 14:02] timflannagan1 commented on #2615
For more context, this is the entrypoint to our ansible-based Operator: https://github.com/operator-framework/operator-metering/blob/master/images/metering-ansible-operator/scripts/entrypoint.sh

I'm able to build and run our origin images locally fine, and the problem only occurs when CI is building and using our OCP images. As a next step, I can try and build the OCP images locally, replacing th

[2020-03-03 14:33] zanoubia commented on #2596
The api version can't start with any of the reserved words of go ( like select, range ....) so if the api name is like select.example.com it will give the same errors as above, and the error is not clear.
Maybe a check on the api version before running must be included in the sdk

[2020-03-03 14:33] #2596 closed

[2020-03-03 14:35] camilamacedo86 commented on #2596
Hi @zanoubia,

Regards to :

It shows another scenario. Could you please track a new issue for that?

[2020-03-03 14:52] camilamacedo86 commented on #2615
Hi @timflannagan1,

If you are using the 0.15.x then you entrypoint.sh need to be updated as [here](https://github.com/operator-framework/operator-sdk/blob/v0.15.x/internal/scaffold/ansible/entrypoint.go)

[2020-03-03 15:54] rodrigovalin opened #2618 "operator-sdk test should be able to run inside Kubernetes cluster"
## Feature Request

**Is your feature request related to a problem? Please describe.**

We are using `operator-sdk` to run our operator' e2e tests, unfortunatelly, the operator-sdk expect the tests to be run "locally", and expects a `--kubeconfig` flag to be set. Our use case involves running the tests inside Kubernetes, as Pods, in which case there is not `kubeconfig` file. However, operator-sdk

[2020-03-03 16:34] german-muzquiz opened #2619 "Shared API types: Hit an unsupported type invalid type for invalid type"
## Bug Report

**What did you do?**
I have an existing project using operator-sdk that is working fine. Now I plan to add a new version of the API, and there are some custom types that need to be shared between all APIs. I'm following this guide: https://github.com/operator-framework/operator-sdk/blob/9a32696a3b68dc9f94acca29dd4878df0baddf9e/doc/user/migrating-existing-apis.md#copying-shared-type-

[2020-03-03 17:09] camilamacedo86 commented on #2619
it is caused because of an error in your local env. You need to set the go env GOROOT.
Run `export GOROOT=$(go env GOROOT)`

See:

The GOROOT environment variable point to the directory where the go which should be used is installed. In this way, I understand that usually, you don’t need to set $GOROOT variable. However, you may face issues in some scenarios. For example; if you have more than one

[2020-03-03 17:11] camilamacedo86 commented on #2490
Hi @jmccormick2001,

It is caused because of an error in your local env. You need to set the go env GOROOT.
Run `export GOROOT=$(go env GOROOT)`

See:

The GOROOT environment variable point to the directory where the go which should be used is installed. In this way, I understand that usually, you don’t need to set $GOROOT variable. However, you may face issues in some scenarios. For example; if y

[2020-03-03 17:12] zanoubia commented on #2596
@camilamacedo86 , yes sure ;)

[2020-03-03 17:18] german-muzquiz commented on #2619
Could this have a different cause than those other issues? `GOROOT` is already set as I showed above:

[code]

I also tried running `export GOROOT=$(go env GOROOT)` and still see the same error. What is strange is that moving the shared type to the `v1alpha2` package makes it work, but having it in the shared package makes it fail.

[2020-03-03 17:24] camilamacedo86 commented on #2619
You probably install it with the brew. It shows to be one of the above scenarios. Note that the brew formula for go does not work well without so manual changes.

[2020-03-03 17:45] zanoubia opened #2620 "couldn't add a new api for a custom resource kind when the api name starts with a Go key word"
## Bug Report

**What did you do?**
I followed the quick start guide, in the step of adding an api :

`operator-sdk add api --api-version=range.myapp.com/v1alpha1 --kind=MyKind --verbose
`

**What did you expect to see?**
Creation of the new api

**What did you see instead? Under which circumstances?**
A clear and concise description of what you expected to happen (or insert a code snippet).
[code

[2020-03-03 18:04] german-muzquiz commented on #2619
Following your instructions I was able to pinpoint the problem.
In the shared package I had a reference to a versioned type:
[code]
This makes it fail using latest operator-sdk `0.15.2` and go `1.14`, but as soon as I delete that import, code generation works.

So it seems that cyclic imports between versioned and non-versioned sibling packages is causing the problem.

[2020-03-03 18:35] estroz commented on #2615
The `run` -> `exec-entrypoint` name change is already a breaking change in the changelog. We need to update the release notes and migration guide for `v0.15.x`.

[2020-03-03 18:56] camilamacedo86 commented on #2619
Hi @german-muzquiz,

Thank you for you leet us know that you find the issue in your code impl. Btw, the `go 1.14` is not supported. In order to work with SDK, you will need to use the version 1.13+ < 1.14 and it properly set in the GOROOT.

So, please, let us know if we can close this one or if you are still needing help with your impl. If yes, could you please let us know what is your scenario an

[2020-03-03 19:08] german-muzquiz commented on #2619
The goal is to be able to add new CRD versions in a maintainable way (v1beta1, v1beta2, etc.). In the current implementation, all the code is importing versioned packages:
[code]
Every time we increase the version, a lot of code would be impacted. To avoid this, I'm trying to create a set of version agnostic interfaces in a shared package, and make all the `_types.go` implement these interfaces. T

[2020-03-04 08:51] zanoubia commented on #2596
#2620

[2020-03-04 11:25] camilamacedo86 commented on #2620
HI @zanoubia,

I could reproduce this scenario. Then, I am flagging it as a bug for we are able to address it in a better way.

[code]

[2020-03-04 12:01] StevenMercurio commented on #1701
/remove-lifecycle rotten

[2020-03-04 12:02] StevenMercurio commented on #1701
/reopen

[2020-03-04 12:07] camilamacedo86 commented on #1701
@StevenMercurio it was re-opened as you requested.

[2020-03-04 12:38] StevenMercurio commented on #1701
There seems to be no way I can figure out to stop an int that I assign to a var from being turned into a string when I use the variable to try and put the data where I need it.  :(

[2020-03-04 14:40] camilamacedo86 commented on #2610
Hi @petro404,

See that the watch feature does it for you. It will re-trigger the reconcile when something change for some specific object. See its section in the [user guide ](https://github.com/operator-framework/operator-sdk/blob/master/doc/user-guide.md#resources-watched-by-the-controller) for Go operators.

So, could you please let us know:
- Did you try to use the watch feature?
- What type

[2020-03-04 14:44] camilamacedo86 commented on #2618
Hi @rodrigovalin,

To test your operator we recommend you implement unit tests and or e2e test as described in https://github.com/operator-framework/operator-sdk/blob/master/doc/test-framework/writing-e2e-tests.md.

Also, as an alternative, you can use shell scripts as well.

Please, let me know if the information provided answered your question and if we can close this one.

[2020-03-04 14:53] camilamacedo86 commented on #2616
Hi @27149chen ,

When following the Getting Started, one of the first steps is to run the command `operator-sdk add api --api-version=cache.example.com/v1alpha1 --kind=Memcached`. The purpose of this command is to generate Custom Resource (CR) and Custom Resource Definition (CRD) resources for the Memcached Kind. This command is creating the API with the group/domain `cache.example.com`, and versi

[2020-03-04 14:58] camilamacedo86 commented on #2608
HI @jpkrohling,

Are you able to reproduce/create a POC with by using the [Go Memcached Sample](https://github.com/operator-framework/operator-sdk-samples/tree/master/go/memcached-operator)?

Because if the information is true :

`When an operator has permissions for a single namespace, using the client provided by the manager makes the client to request objects from the cluster-level, causing the

[2020-03-04 15:12] mikeshng commented on #2614
/assign mikeshng

[2020-03-04 15:18] camilamacedo86 commented on #2604
Hi @asmacdo and @fabianvf could you please give a hand in this one?

[2020-03-04 15:54] tomsucho commented on #2576
Hey Guys, any thoughts on this one?

[2020-03-04 17:05] arthurbarr commented on #2579
@dmesser Tried to join the community meeting, but I got a message saying it was either over, or I wasn't authorized.  Perhaps we can try again at the next meeting.

[2020-03-04 17:05] arthurbarr commented on #2579
@dmesser Tried to join the community meeting, but I got a message saying it was either over, or I wasn't authorized.  Perhaps we can try again at the next meeting.

[2020-03-04 17:05] mphammer opened #2622 "Controller fails on empty manifest files from a Helm Chart"
## Bug Report

**What did you do?**
For each of the following cases I did these steps:
1. Created an Operator from a local helm chart:
`$ operator-sdk new my-operator --type=helm --helm-chart <local_helm_chart_path>`
2. Deployed the CRD
`$ kubectl create -f deploy/crds/<resource>_crd.yaml`
3. Started local operator
`$ operator-sdk run --local`
4. Create the CR
`kubectl create -f deploy/crds/<resou

[2020-03-04 17:44] mhrivnak commented on #2568
`operator-sdk build` is a fairly thin wrapper that basically does `go build ...` and `podman|docker|buildah build ...`. It's reasonable that some build systems either won't want to or won't be able to make `operator-sdk` itself available at build time, and that's fine.

It might help to make it more clear in the `operator-sdk build` help text what it's doing, and perhaps even have a "dry run" opti

[2020-03-04 17:49] camilamacedo86 commented on #2579
Hi @arthurbarr,

I am sad that you could not attend it. Regards this issue I'd like to share with you that it is prioritized. Note that this change does not just impact the generation of CR/CRDs but the features which will consume that as well. Also, it is important to highlight that SDK is integrated with OLM, then we would also need to check it there. So, it shows a little more effort that just

[2020-03-04 18:31] asmacdo commented on #2604
Closing, I think this is a dupe of https://github.com/operator-framework/operator-sdk/issues/1770

If not, please reopen.

[2020-03-04 18:31] #2604 closed

[2020-03-04 18:50] camilamacedo86 commented on #2568
Hi @nalbury-handy,

The command `operator-sdk build` will scaffold the files and build the docker image. Also, as you checked it has some options/flags which can be seen by the --help and or [doc](https://github.com/operator-framework/operator-sdk/blob/master/doc/cli/operator-sdk_build.md)

You can check its implementation [here](https://github.com/operator-framework/operator-sdk/blob/master/cmd/o

[2020-03-04 18:54] nalbury-handy commented on #2568
Thanks! this is what I ended up coming up with and it seems to work for our purposes. Read the source code for the build cmd to find the `go build ...` args. Posting it incase anyone else wants to customize the container image a bit.

[code]

[2020-03-04 18:55] #2568 closed

[2020-03-04 19:13] camilamacedo86 commented on #2622
Hi @mphammer,

Could you please provide and `-helm-chart <local_helm_chart_path>` which we can use to reproduce your scenario in order to make it more clear? Have you any example from the [stable](https://github.com/helm/charts/tree/master/stable/memcached) repo which would allow us to check/reproduce it? Also, what do you mean with `https://github.com/helm/charts/tree/master/stable/memcached`? Co

[2020-03-04 22:55] 27149chen commented on #2616
@camilamacedo86 , sorry it doesn't answer my question. I know how to update the code, my question is how to handle the existing crs (the crs which were deployed into the ocp cluster previously) during operator upgrade. Operator v1 is deployed, now I'm going to upgrade it to v2, should the crs be updated automatically? or should they be updated by user manually? Which one is better and recomended?

[2020-03-04 22:56] 27149chen commented on #2616
@camilamacedo86 please reopen it

[2020-03-05 11:29] camilamacedo86 commented on #2616
Hi @27149chen,

Sorry if the first comment was not clear enough. So, following all answers and comments inline:

When following the Getting Started, one of the first steps is to run the command `operator-sdk add api --api-version=cache.example.com/v1alpha1 --kind=Memcached`. The purpose of this command is to generate Custom Resource (CR) and Custom Resource Definition (CRD) resources for the Memca

[2020-03-05 12:07] camilamacedo86 commented on #2618
Also, regards the RFE raised here, I am afraid that it would not be possible to be executed from inside of the cluster as you suggested. Note that when the operator is running in a cluster the info will be obtained from the Pod where it is running  (cfg, err := config.GetConfig()) and it will not be the same and then, any solution would indeed need to support MultiCluster configuration.

Also, in

[2020-03-05 12:17] hbfjk opened #2623 "The ownerReferences on deployed resources are missing"
We are using operator framework to deploy our own custom resource, we deployed deployment, statefulset, job on K8s env, but the ownerReferences to the custom resource TESTCluster are missed for all deployments, statefulsets, jobs.
"ownerReferences": [{"apiVersion": "icp4a.ibm.com/v1", "kind": "TESTCluster",

After the further investigation, the operator poxy can not determine if it is virtual reso

[2020-03-05 12:48] 27149chen commented on #2616
Hi, @camilamacedo86 thank you for your reply.

Can you show me an example?

It is recommended to change the api version frequently? I can see that some k8s apis keep adding new fields, but the api version is always v1 (for example, field `overhead` is introduced in 1.16 for PodSpec, but the api version is still core/v1)

I understand that it is actually a new crd if api version is changed, my ques

[2020-03-05 13:37] camilamacedo86 commented on #2616
Hi @27149chen,

In the operator.yaml you will add the EnvVar. E.g

[code]

Then you can get it from the code such as:

[code]

If it has not a breaking change then it means that you might keep the version. And then, also means that all CR's using the CRD X version Y will still be working and valid and can be or not updated with new values.

See: [Versions in CustomResourceDefinitions](https://kube

[2020-03-05 14:07] chatton commented on #2618
Hi @camilamacedo86,

In this case we want the pod we deploy to run `operator-sdk test local` to not need to require a `--kubeconfig` value if the pod itself is inside the cluster.

When trying this on the v0.15.2, with the test pod deployed in the same cluster and namespace as the operator, we get the following error.

[code]

Looking at the code, it looks like if no `--kubeconfig` value is passed

[2020-03-05 14:52] camilamacedo86 commented on #2618
HI @chatton,

If your KUBECONFIG be in the default place `$HOME/.kube/config` then, I understand that it will work without the flag. Could you please verify and let us know?

Regards your RFE, could you please let us know: What is the scenario that you would to achieve by using `operator-sdk test` running the operator inside of the cluster that you cannot achieve currently?

[2020-03-05 17:29] djzager commented on #2576
Disclaimer: not an authoritative source when it comes to controller metrics. I have only tied into the work that @lilic had done to expose custom resource metrics (https://github.com/operator-framework/operator-sdk/pull/1277) for Ansible based operators specifically https://github.com/operator-framework/operator-sdk/pull/1723 and have looked at the [metrics provided by controller-runtime](https://

[2020-03-05 19:49] tomsucho commented on #2576
Thanks for checking this. I think it would be a great feature to have :)

[2020-03-05 20:29] fabianvf commented on #2565
yeah totally, if the tool fails to run we should be marking that. It's possible it's emitting an event that we're just not picking up, might be as simple as adding a new check in that event loop

[2020-03-05 22:45] jberkhahn commented on #1908
So, after trying a bunch of different ways trying to reproduce this issue, I have to concur with @zerok. This only seems to happen if you don't use the operator-sdk testing framework's MainEntry(), which is what actually adds that flag [here.](https://github.com/operator-framework/operator-sdk/blob/master/pkg/test/main_entry.go#L26)

[2020-03-06 01:05] estroz commented on #1908
Globals biting us in the butt it seems :grimacing:, if I'm understanding how this error occurs correctly. Without breaking the API, which I don't think we want to do right now, this is a docs fix: `You must use test.MainEntry() to get the correct behavior, do not use test.Global directly`.

[2020-03-06 01:47] #2442 closed

[2020-03-06 06:43] 27149chen commented on #2616
It doesn't make sense. The image is a cr instance property, what if I want to create two instances with different images? How to do it in the operator manifest?

[2020-03-06 06:51] 27149chen commented on #2616
@camilamacedo86 please reopen it, thanks.

[2020-03-06 09:55] camilamacedo86 commented on #2616
HI @27149chen,

Our recommendation for the images:tags will add they in the EnvVar of the operators because in this way you can define that the Operator A version X can only work with the image:tag N.

Another possible option for your scenario could be in the EnvVar add a range of supportable versions and then, in the controller, you will verify the CR spec to ensure that the image tag informed is

[2020-03-06 10:01] tomsucho opened #2627 "Ansible: verbosity level 0 doesn't seem to work"
## Bug Report

**What did you do?**
I tried using verbosity level 0 via:
- annotation on the CR:
  "ansible.operator-sdk/verbosity": "0"
- operator args:
            args:
            - "--ansible-verbosity"
            - "0"
to control what is getting into the logs, but it doesn't seem to work i.e. getting operator errors like:

`{"level":"error","ts":1583486711.1724753,"logger":"runner","msg":"u

[2020-03-06 10:20] camilamacedo86 commented on #2627
Hi @tomsucho,

Following the comments inline.

Regards `- "--ansible-verbosity"`:

This annotation change the verbosity of Ansible logs and not of the Operator. You added here the Operator logs and not the Ansible ones. The Ansible logs until this version are in the ansible container. Following an example:

- Use the following command to check the operator logs.
`kubectl logs deployment.apps/<name

[2020-03-06 10:27] tomsucho commented on #2627
that was my intention to limit logs in Ansible container, however when I set that to 0 it didn't work at all - the operator itself logs errors when kicking-off reconcile loop event and so no playbook gets even executed (and as a result no logs at all in Ansible container, but that's not how it should work ;-) at level 0 there should be still some minimal log for each task in a Play)

[2020-03-06 10:35] camilamacedo86 commented on #2627
Hi @tomsucho,

The Operator Logs are not the same as Ansible Logs. The Ansible Logs came from the ansible used on it when the Operator logs are provided by the operator/controller which is built.

In this way, the purpose of `--ansible-verbosity` will change it just for Ansible logs, which mean the logs that came from it and you can check in the ansible container.

[2020-03-06 10:40] tomsucho commented on #2627
@camilamacedo86
yes I know all that, but what I'm trying to say is when I set this level 0 then this breaks the Operator.. not sure how to say it more concise.. would you be able to set it on any of your CRs and see if your operator will continue to work?

[2020-03-06 10:53] 27149chen commented on #2616
@camilamacedo86 it is not just because of versioning, in some cases, the user may need to use their private image registry. So I think it is impossible to validate the supported versions by image name and tag

[2020-03-06 10:54] camilamacedo86 commented on #2627
Hi @tomsucho,

Did you try to do a test using the [Memcached Ansible Sample](https://github.com/operator-framework/operator-sdk-samples/tree/master/ansible/memcached-operator) in order to verify if the error is in the annotation or something else in your project?

Anyway, I am doing it now. However, I would always recommend you do an isolated test to verify first this kind of scenario and ensure t

[2020-03-06 11:00] camilamacedo86 commented on #2616
Hi @27149chen,

If you allow the user add any image:tag whiteout do any validation then it means that your operator A version X supports and it's compatible with all which I do not think that would be achievable.

You are free to add the images:tag in the CR, however, as described above we recommend you use the EnvVars in order to be able to create a matrix of compatible. The operator envVars will

[2020-03-06 11:36] camilamacedo86 commented on #2627
Hi @tomsucho,

I could reproduce and check that when the value is == 0 the error is faced and it works fine with 5 for example. Looking on it to provide a fix.

[2020-03-06 11:46] 27149chen commented on #2616
ok, thanks. close it.

[2020-03-06 11:46] #2616 closed

[2020-03-06 11:46] jpkrohling commented on #2608
It should be easy to reproduce with the memcached example. I can't work on that right now, but I'll try to get a reproducer before the end of the month.

[2020-03-06 12:00] camilamacedo86 commented on #2616
Hi @27149chen,

Thank you for your reply. Please, feel free to raise new issues with. other questions, issue and or RFE as well.

[2020-03-06 14:54] tomsucho opened #2628 "Ansible: is there a way to pass config options to Ansible?"
## Type of question
how to implement a specific feature

## Question
I got lot of conditional checks/logic in the playbook/roles and would like to try to skip from the output all lines that eventually look like:
`
TASK [playbook-name : fail] **************************************
skipping: [localhost] => {"changed": false, "skip_reason": "Conditional result was False"}
`
Ansible provides a way of

[2020-03-06 15:05] ktreese commented on #2262
/remove-lifecycle stale

cc: @fabianvf

[2020-03-06 15:09] fabianvf commented on #2262
/lifecycle frozen

[2020-03-06 16:01] chatton commented on #2618
Hi @camilamacedo86,

The location of the kubeconfig file isn't a concern for us, it's the fact that it needs to provided in order for the test to correctly run from inside the kubernetes cluster. Overhead is introduced in ensuring the correct kubeconfig file is in the correct location.

The ideal scenario for us is if we don't need to configure any kubeconfig files at all (which need to be checked

[2020-03-06 19:41] fabianvf commented on #2628
I'm not sure if setting the `ANSIBLE_DISPLAY_SKIPPED_HOSTS` in the operator deployment (on the operator container) would make it all the way through to ansible-runner, but that would be the way to set it. Perhaps it would make sense for us to make sure that all `ANSIBLE_` prefixed environment variables are passed through to the runner environment if it isn't currently working.

I think putting it

[2020-03-06 19:52] fabianvf commented on #2623
That is very strange, what version of the operator-sdk and kubernetes are you using? Can you share your full (or at least more) of your logs as well, in case there's some additional information there?

With that failure it looks like it's possible that the discovery client did not properly find all API resources, are the discovery APIs restricted in your cluster? (https://github.com/operator-frame

[2020-03-07 00:01] marshallford opened #2630 "(Ansible) Running operator locally with generate-playbook flag fails with newly scaffolded project"
## Bug Report

See title. Thank you for your time.

[code]

**What did you expect to see?**

N/A

**What did you see instead? Under which circumstances?**

See error above.

**Environment**

[code]

* Kubernetes version information:

[code]

* Kubernetes cluster kind:

GKE on-prem

* Are you writing your operator in ansible, helm, or go?

Ansible

**Possible Solution**

Update the `playbook` field

[2020-03-07 01:59] #1908 closed

[2020-03-07 08:36] petro404 commented on #2610
Hi @camilamacedo86
I am aware of the watch feature and I am already using it, my use case is the following:

[2020-03-09 13:35] #1858 closed

[2020-03-09 13:35] #2577 closed

[2020-03-09 14:14] #2592 closed

[2020-03-09 14:26] camilamacedo86 commented on #2610
Hi @petro404,

Following my comments inline.

All reconciles that should be re-trigged by a change in a resource would need to have the watch feature implemented on it. See that you can use the watch feature for resources which are/or not directly managed by the specific controller.

Please, let me know if it answers your question and if we can close this one.

[2020-03-09 14:43] camilamacedo86 commented on #2630
Thank you for raise that.

This scenario is solved in the master branch with :

Then, it will be available in the next release.

Note that until there to run locally you need have the /opt/ansbile/playbooks locally. Check its documentation for the tag used by yourself. For example: for 0.15.x [here](https://github.com/operator-framework/operator-sdk/blob/v0.15.x/doc/ansible/user-guide.md#2-run-out

[2020-03-09 14:43] #2630 closed

[2020-03-09 14:51] marshallford commented on #2630
Can a release be cut that includes #2273? Thanks for the thorough response.

[2020-03-09 14:58] camilamacedo86 commented on #2630
HI @marcoderama,

The next release will include  #2273, however, before that you can do as described in the docs for the roles in order to run locally or use master if you wish.

We cannot give an ETA, however, the changelog shows have a lot of things done already in the Unreleased section so probably very soon a new release 0.16 will be done.

[2020-03-09 16:45] #2449 closed

[2020-03-09 18:04] jmrodri commented on #2614
Fixed by PR #2621

[2020-03-09 18:04] #2614 closed

[2020-03-09 18:25] #2011 closed

[2020-03-09 18:33] fabianvf commented on #1701
Also raised in https://github.com/operator-framework/operator-sdk/issues/2609 , and in ansible https://github.com/ansible/ansible/issues/40185 , and discussed on slack  https://kubernetes.slack.com/archives/CAW0GV7A5/p1582893529107700

Basically the issue here is that when you have an inline template, jinja templated fields always end up as strings (because they are wrapped in quotes and then yaml

[2020-03-09 18:33] #1701 closed

[2020-03-09 18:36] #2057 closed

[2020-03-09 18:39] camilamacedo86 commented on #2620
Following some info about this one discussed in the bug triaged:

- The root cause of the error is: when we will scaffold the `pkg/apis/range/group.go` file and add the import with the name of the group it will not work because the word is restrictive for GO language.
- So, what is required to do here:

- Check how kubebuilder is working with, if the same not be faced there than we need just close

[2020-03-09 18:43] camilamacedo86 commented on #2057
It was closed in the bug triaged:

The reason, the client has some options and features that can be used and then examples and its docs can be found in the controller-runtime docs.

Also, If in the future or if you @grdryn think that something should be addressed in SDK than probably would be such as add a not in its docs to lt users check the controller-runtime/client docs as its examples.

Pleas

[2020-03-09 18:45] camilamacedo86 commented on #2011
Closed in the bug triaged - We decide that it will probably be affected by the integration with SDK and then, these docs will be updated anyway.

[2020-03-09 18:47] bradtopol commented on #2072
/assign

[2020-03-09 18:51] asmacdo commented on #2167
If this is still an issue, please reopen.

[2020-03-09 18:51] #2167 closed

[2020-03-09 19:01] camilamacedo86 commented on #2173
Hi @estroz,

I understand that when we scaffold the project by default the scope of the operator will be namespaced, however, when the CSV is generated by default it is done like the project was cluster-scoped and will be dealing with multi-namespaces.

So, what @jianzhangbjz is a proposing in https://github.com/operator-framework/operator-sdk/pull/2174 is change the default configuration of CSV f

[2020-03-09 19:04] camilamacedo86 commented on #2167
Hi @thebithead,

Just to let you know we discussed it in the bug triaged and we decide to close since shows that the same will no be faced if you are using the 1.13+ go version and the latest version of SDK. However, if you still facing this issue please let us know for we are able to re-open this one and please provide the data regards your latest test/check as well.

[2020-03-09 19:57] thebithead commented on #2167
I was able to replicate the problem using Go version 1.12.  But I wanted to
go forward, not backwards.

On Mon, Mar 9, 2020 at 3:04 PM Camila Macedo <notifications@github.com>
wrote:

--

*Tom Gates*
Software Engineer
*www.nuodb.com* <http://www.nuodb.com/>
c: (603) 865-7134
t: @nuodb <https://twitter.com/nuodb>
f: *facebook.com/NUODB <https://www.facebook.com/NUODB>*
The information contained in

[2020-03-09 20:10] camilamacedo86 commented on #2167
Hi @thebithead the Go version 1.12. is not supportable with the latest version. Then, issue can really occur with if you are using Go version 1.12. So, I understand that all is fine when you are using the go 1.13+ and the latest,  Am I right?

[2020-03-09 21:17] thebithead commented on #2167
No.  I was able to replicate the problem using SDK version 0.9.0 and Go
version 1.12.

I did not (yet) try using the latest SDK version.

On Mon, Mar 9, 2020 at 4:10 PM Camila Macedo <notifications@github.com>
wrote:

--

*Tom Gates*
Software Engineer
*www.nuodb.com* <http://www.nuodb.com/>
c: (603) 865-7134
t: @nuodb <https://twitter.com/nuodb>
f: *facebook.com/NUODB <https://www.facebook.com/NUO

[2020-03-09 21:54] robotmaxtron opened #2633 "Failed to list *apiextensions.CustomResourceDefinition: v1.ListOptions is not suitable"
## Bug Report

**What did you do?**
Using the rbac-permissions-operator, refresh the roles above based on the CRDs deployed in the OSD cluster

**What did you expect to see?**
Expected to be able to list the CRD as part of a reconcile loop.

**What did you see instead? Under which circumstances?**
When testing the controller in crc with `operator-sdk up local`, it loops over this error.

[code]

*

[2020-03-09 22:54] camilamacedo86 commented on #2633
HI @robotmaxtron,

Could you please answer the following question?

1. What is `rbac-permissions-operator`? Is a project that you have?

2. What do you mean with ` refresh the roles above based on the CRDs deployed in the OSD cluster`? Did you update the roles configuration? Did you change it?
3.

The error faced:

Let to me believe that  your project is using some module that is no longer compati

[2020-03-09 22:57] jberkhahn commented on #1082
/assign @jberkhahn

[2020-03-09 23:03] camilamacedo86 commented on #2619
HI @german-muzquiz,

I am not sure if I properly follow up your solution. However, I'd like to recommend you check the k8s doc [Versions in CustomResourceDefinitions](https://kubernetes.io/docs/tasks/access-kubernetes-api/custom-resources/custom-resource-definition-versioning/)  as [Migrating Existing Kubernetes APIs](https://github.com/operator-framework/operator-sdk/blob/master/doc/user/migratin

[2020-03-09 23:03] #2619 closed

[2020-03-09 23:18] camilamacedo86 commented on #2618
HI @chatton,

Note that:

You will not need to configure the kubeconfig if it is configured in the default place `$HOME/.kube/config`

Sorry, but could you please help us understand what is the requirement that makes required you run the test inside of the cluster as you request? What is the scenario that it is not achievable with it as it is currently?  Could please let us know?

[2020-03-10 03:24] jmrodri commented on #2082
After looking into this more, I agree with @jberkhahn analysis, it is not an an easy fix, it would require re-writing a significant portion of the generator to support it. I'm going to close this for now.

[2020-03-10 03:24] #2082 closed

[2020-03-10 03:32] jmrodri commented on #2030
@howardjohn  Seems you are using it as a library, what parts of the SDK are you using when importing it? We've talked about making a library at some point which might help with this issue depending on what parts are being used. Clearly, if it's helm a separate library that supported that probably wouldn't fix the issue. But I'd like a little more information about your use cases.

[2020-03-10 06:59] kaushiksrinivas opened #2636 "Operator pod crashes in the middle of the reconcile logic."
When writing the reconcile logic for a operator, there can be multiple resources to be reconciled.
As an example, a kafka operator reconcile function can call internally
ReconcilePod
ReconcileService
ReconcileConfigMap etc.

now suppose, the pod has been reconciled and just before the service reconcile if the kafka operator pod itself crashes, how do we handle such scenarios ?
Now the pods are upd

[2020-03-10 07:04] kaushiksrinivas commented on #2636
@camilamacedo86 Any inputs on this.

[2020-03-10 09:19] camilamacedo86 commented on #2636
Hi @kaushiksrinivas,

Following my comments inline.

By using Operators you can manage the resources, for example, you can read their current state and then, programmatically and dynamically perform operations according to.

You need to check the implementation logic of your project and logs to identify the root cause and solve it. It shows not be something related to SDK but with the specific pro

[2020-03-10 09:19] #2636 closed

[2020-03-10 09:29] #2602 closed

[2020-03-10 09:53] rodrigovalin commented on #2618
Hello @camilamacedo86,

Our current CI environment runs workloads inside Kubernetes clusters, ultimatelly as Pods (as part of a Deployment or, in this case, a Job). The `operator-sdk` functionality is planned to be used inside a Kubernetes cluster, in particular the `operator-sdk test`. In a Pod environment, there is not `$HOME/.kube` directory, but the clients are expected to configure themselves

[2020-03-10 10:03] kaushiksrinivas commented on #2636
@camilamacedo86 thanks a lot for the detailed response.
My questions were based on the use case where, the operator pod crashes before the reconcile code was complete and ways to re run the reconcile code to complete the process when operator pod comes up again.

I observe that, if i delete the operator pod. Once the pod comes back up, it is reading the state of the CR and running the reconcile lo

[2020-03-10 10:45] camilamacedo86 commented on #2636
Hi @kaushiksrinivas,

So, it means that it is facing some fatal error. Then, is required to check the logic implementation used and why it happens.

Yes, it is expected. When the operator starts it will WATCH the cluster and the resources which are. implemented to be observed. So, as described above by default in the scaffold implementation you will see a watch implementation for the primary resou

[2020-03-10 10:48] kaushiksrinivas commented on #2636
Thank you for the quick response.

[2020-03-10 10:50] camilamacedo86 commented on #2618
Hi @rodrigovalin,

The `operator-sdk test` is not designed to run inside of the cluster and I'd not recommend you upload a kubeconfig to do it.

I understand that has not any scenario case that is no achievable with the current implementation, I mean has NOT any need that would only be achievable by allowing the `operator-sdk test` rus the operator inside of the cluster as argumentation for this c

[2020-03-10 11:53] camilamacedo86 commented on #2610
Hi @petro404,

I am closing this once since all shows sorted out.  However, please feel free to raise new issues with your questions, and your bugs as feature requests.

Also, I'd like to kindly ask for you try fill all the issue template as to provide the required information for we are able to reproduce and check your scenario such as; steps to create a POC based on the sample or getting started

[2020-03-10 11:53] #2610 closed

[2020-03-10 11:57] camilamacedo86 commented on #1927
Hi @jpkrohling,

I am closing this one since we are unable to reproduce this scenario as you can check in the comment https://github.com/operator-framework/operator-sdk/issues/1927#issuecomment-542166779 made at 15 Oct 2019 and no further information was sent for we are able to check it.

However, please feel free to raise a new issue if you sill needing helping with.

[2020-03-10 11:57] #1927 closed

[2020-03-10 11:59] camilamacedo86 commented on #2490
HI as described above all shows sorted out here, so I am closing this one. However, please feel free to re-open if you see that something still required to be done regards this issue.

[2020-03-10 11:59] #2490 closed

[2020-03-10 12:45] camilamacedo86 commented on #2620
Checked that this issue does not occur with the scaffold layout of Kubuilder. Following at the end the test done. Then,  it will be solved with the integration with. So, IHMO we can close this one.

Any objection @jmrodri @hasbro17?

[code]

[2020-03-10 14:39] #2036 closed

[2020-03-10 14:53] howardjohn commented on #2030
We were using some very small amounts of code, like a light wrapper around leader election and some constants or something similar. We removed these a while back, so it doesn't personally impact me, but may be useful forohters

[2020-03-10 16:16] #2615 closed

[2020-03-10 17:56] kramvan1 commented on #2623
@fabianvf   We are also seeing this issue sometimes.   Created a test ansible operator with the SDK v15.2.

In the failing case, the deployment resource does not have the ownerReference added.
Logs:
[code]

In the success case the ownerReference is there
[code]
the logs:
[code]

Seems like a possible timing issue.

There should be the error context added to the message here: https://github.com/ope

[2020-03-10 18:23] robotmaxtron commented on #2633
@camilamacedo86 I created a new operator using operator-sdk v0.12, where the changelog show the bulk of the changes relating to CRDs. I believe the reconcile loop should be able to list and read CRD objects.

https://github.com/robotmaxtron/isolated-crd-controller/blob/master/pkg/controller/customresourcedefinition/customresourcedefinition_controller.go

[2020-03-10 18:34] camilamacedo86 commented on #2633
Hi @robotmaxtron,

Your scenario is faced because you are adding third-party apis then, you also need to customize the metrics code implementation for it. See: https://github.com/camilamacedo86/operator-sdk/blob/master/doc/user-guide.md#default-metrics-exported-with-3rd-party-resource

This issue is similar scenario of: #2577 #1858

Closing it as sorted out. Please, feel free to ping us and let us

[2020-03-10 18:34] #2633 closed

[2020-03-10 19:09] fabianvf commented on #2623
Great information, thanks for the follow up. Separately from fixing this, I wonder if we should be failing the request in the case that we can't determine whether it's a virtual resource, since recovering from a created resource without an ownerReference is going to require manual steps.

[2020-03-10 19:27] kramvan1 commented on #2623
@fabianvf      Yes, failing seems like the right change as it does mean manual cleanup steps.

No sure what the timing issue is, but seems related to the resource cache being queried here.

BTW, I put up a PR (above) to help with the logging around this a bit.

[2020-03-10 22:47] evalsocket commented on #2525
@dmesser try this use case they are not using `controller-runtime` but they are using `client-go` library. In the above message, I am wrong about the `controller-runtime`. It's a client library that we need to write plugins

[2020-03-11 09:32] camilamacedo86 commented on #1206
Just to track here.
I checked it with the master branch and then, I was unable to reproduce the scenario.

[code]

[2020-03-11 13:38] johananl commented on #1688
@Katiyman If I understood your question correctly, when using Go modules any dependencies are downloaded to `$GOPATH/pkg/mod`.

[2020-03-11 16:36] camilamacedo86 commented on #2620
Hi @zanoubia,

The SDK is in the process to integrate with Kubebuilder, which means that the scaffold files will follow the same Kubebuilder structure and then,  this issue will no longer be faced.

So, since it not critical and will be solved with the integration I am closing this one. However, please, feel free to ping us if you think that it should be re-opened.

[2020-03-11 16:36] #2620 closed

[2020-03-11 18:28] flickerfly commented on #2307
/lifecycle frozen

[2020-03-11 21:50] mwoodson opened #2644 "Testing operator sdk locally isn't reading from another namespace"
## Type of question

I am having an issue running the operator-sdk local.

## Question

I have an operator called cloud-ingress-operator.  This is for Openshift Dedicated (OSD).  It installs addtional ELB's and such.

When doing so, it reads (gets) 'machines' from the openshift-machine-api namespace as well as other clusterscoped CR's, like the 'infrastructures.config.openshift.io'.

When I run th

[2020-03-11 22:37] jmccormick2001 commented on #2644
interesting, wanted to make sure you can run 'oc get machines' from the command line and it lists something?

[2020-03-12 00:04] magick93 commented on #2578
I'm in the same situation, and am getting the same error.

Its a shame to see support for 3.11 being abandoned with OKD 4x is only in alpha.

[2020-03-12 10:08] camilamacedo86 commented on #2644
HI @mwoodson,

See [here](https://github.com/openshift/cloud-ingress-operator/blob/master/deploy/operator.yaml#L27) that your project needs to be executed with WATCH_NAMESPACE as "".  (cluster-scoped)

And then, note that you are applying the roles permssions in a different namespace that you are using to run the operator. See your [role_binding](https://github.com/openshift/cloud-ingress-operator

[2020-03-12 10:22] camilamacedo86 commented on #2578
HI  @magick93,

The OCP 3.11 uses and old version of the k8s api lib and then because of this is not possible to keep the compatibility with.  Also, I understand that this project will not be upgraded too.

See that the issue described here is fixed at 0.15.2 of  SDK as well which again is not compatible with 3.11. I'd recommend you use Minikube to do local tests since it is very easy to install t

[2020-03-12 11:13] zanoubia commented on #2620
Thank you @camilamacedo86 . I will test once the new version is out.
Would you please guide me to links to know more on SDK/kubebuilder integration ?

[2020-03-12 11:29] camilamacedo86 commented on #2620
Hi @zanoubia,

The proposal doc can be checked [here](https://github.com/operator-framework/operator-sdk/blob/master/doc/proposals/kubebuilder-integration.md).

We have not an ETA for that but the plan is that it is ann requirement for the release of 1.0.0 which is not the next version.

Also, feel free to join us in the Community meetings too. See: https://github.com/operator-framework/community

[2020-03-12 12:10] camilamacedo86 commented on #2618
Hi @rodrigovalin,

The request made here is a significant change in the design of this feature as also would be required to evaluate its impacts as viability.

Note that we have been working to provide improvements in the features to test the projects. See for example the proposals; https://github.com/operator-framework/operator-sdk/pull/2624 and https://github.com/operator-framework/operator-sdk/

[2020-03-12 12:10] #2618 closed

[2020-03-12 12:35] camilamacedo86 commented on #2392
Hi @zeromsi,

According to the https://github.com/operator-framework/operator-sdk/issues/2392#issuecomment-573505325 I understand that it is sorted out. So, I am closing this one, however,  please feel free to ping us to re-open this one if you are still needing help with.

[2020-03-12 12:35] #2392 closed

[2020-03-12 13:14] mwoodson commented on #2644
@camilamacedo86  Thanks so much for taking time to help me with this issue! It's greatly appreciated!

I have a quick question.

You said that the rolebinding "name: cloud-ingress-operator" is not in the openshift-cloud-ingress-operator namespace.  But on[ line 9](https://github.com/openshift/cloud-ingress-operator/blob/master/deploy/role_binding.yaml#L9), there is a namespace defined.

Why would

[2020-03-12 14:03] camilamacedo86 commented on #2644
Hi @mwoodson,

It is right. All are with the namespaced used `openshift-cloud-ingress-operator`. It was a mistake.

If the RBCA be not applied in the namespace where the operator will be "deployed" than, it will not have the permissions to check the resources.

So, can you please perform the following tests for we are able troubleshooting it?

1) Log the value that will be set in the namespace for

[2020-03-12 14:51] mwoodson commented on #2644
I ran this command:

Here is the output from a log message.  The Request.Namespace is "openshift-cloud-ingress-operator"

`{"level":"info","ts":1584024077.6486912,"logger":"controller_apischeme","msg":"Reconciling APIScheme","Request.Namespace":"openshift-cloud-ingress-operator","Request.Name":"example-apischeme"}`

This is function in the reconciler that fails:

https://github.com/openshift/cloud

[2020-03-12 14:56] camilamacedo86 commented on #2644
HI @mwoodson,

I ran this command:

It is the Log from the controller (the namespace where the requests of this controller has been executed). I suggested you print the namespace var to know what value is passing to the manager.

See:

[code]

In your case, the value in the namespace needs to be " ".

[2020-03-12 15:02] jmccormick2001 commented on #2644
I was trying to test this out on my ocp 4.3 instance...I'm seeing this when I run it locally with WATCH_NAMESPACE=""

{"level":"info","ts":1584025111.5984113,"logger":"controller_apischeme","msg":"Reconciling APIScheme","Request.Namespace":"openshift-cloud-ingress-operator","Request.Name":"example-apischeme"}
E0312 09:58:31.699161   19273 runtime.go:78] Observed a panic: "invalid memory address or

[2020-03-12 15:15] mwoodson commented on #2644
@jmccormick2001 That's the error i'm seeing.

The error you are seeing:

[code]

is happening at this line in the code:

https://github.com/openshift/cloud-ingress-operator/blob/7183c10ec66eba79aa8e72ad0f0281e5ffa8325c/pkg/controller/utils/clusterinfo.go#L75

The &machineList.Items[0] isn't there, because it can't get the machines.  So it's throwing that error

[2020-03-12 15:16] camilamacedo86 commented on #2644
HI @mwoodson,

The track is showing that the first issue ( at least according to what was added here ) is in:

Then, see:

https://github.com/openshift/cloud-ingress-operator/blob/master/pkg/controller/utils/clusterinfo.go#L100

Which means that something above is nil.

Then, looking it we have:

[code]

Could you check the trace and log the values? IHMO, it is required to check what is null and t

[2020-03-12 15:24] mwoodson commented on #2644
@camilamacedo86

I don't think this call is the issue, but I'm happy to be wrong.  That code is called from the reconciler here:

https://github.com/openshift/cloud-ingress-operator/blob/master/pkg/controller/apischeme/apischeme_controller.go#L138-L144

And we log that info here in the reconciler:

https://github.com/openshift/cloud-ingress-operator/blob/master/pkg/controller/apischeme/apischeme_c

[2020-03-12 15:28] jmccormick2001 commented on #2644
jeff: infra.Status.PlatformStatus.AWS is nil

thats the nil value.

[2020-03-12 15:40] mwoodson commented on #2644
@jmccormick2001  curious, are you running this on an AWS cluster?

[2020-03-12 15:42] jmccormick2001 commented on #2644
nope, local ocp cluster.

[2020-03-12 15:46] mwoodson commented on #2644
Yeah.  This is what we see on the aws cluster

[code]

[2020-03-12 17:06] #2583 closed

[2020-03-12 19:46] camilamacedo86 commented on #2644
HI @mwoodson,

However, it is when you are running the operator in the cluster. So,  I do not know how works your project, however, you are using this AWS client which shows very related to the scenario.

Note that your project may be updating the `platformStatus.aws.region` when it is running in the cluster and not locally. And then, my guess would be that it is using some specific configuration

[2020-03-12 21:40] jmccormick2001 commented on #2644
after playing with this today, I am seeing an error come back from even a simple client-go test program, "Unauthorized", when making a call to List the Machines in this namespace.  More debugging to go.

[2020-03-12 22:31] camilamacedo86 commented on #2644
Hi @jmccormick2001,

If you are adding third-party schemas (OCP API), then you need to customize the metrics default implementation. See: https://github.com/camilamacedo86/operator-sdk/blob/master/doc/user-guide.md#default-metrics-exported-with-3rd-party-resource (I assume that you are checking the similar issues of #2577, #1858). To do the POC to check it you can just comment the `addMetrics` the

[2020-03-13 00:26] camilamacedo86 commented on #2644
Hi @mwoodson and @jmccormick2001,

I made a POC to check it and I could identify what is happening. See: https://github.com/camilamacedo86/app-operator\

Besides we are exporting the environment variable  WATCH_NAMESPACE by running `export WATCH_NAMESPACE=""` the value passed in the flag --namespace has been set in the  `WATCH_NAMESPACE`. So, because of this the manager has been recieving this val

[2020-03-13 12:37] jmccormick2001 commented on #2644
thanks @camilamacedo86 , #2617

[2020-03-13 14:38] gyliu513 opened #2647 "Helm operator cannot guarantee the install sequence for CRD and CR"
## Bug Report

**What did you do?**
I found that if my helm chart including CRD resources or hooks, I may not able to use helm operator, as the helm operator cannot guarantee the install sequence of CRD and CR, if the CR was installed before CRD, then the helm operator install will be failed.

Any plan to fix this for helm based operator.

[2020-03-13 14:48] daquinoaldo opened #2648 "Ansible operator: cannot create directory ‘/.ansible’: Permission denied"
## Type of question
**Are you asking about community best practices, how to implement a specific feature, or about general context and help around the operator-sdk?**
Help around the operator-sdk

## Question
**What did you do?**
- I created an ansible operator with `operator-sdk new visitors-frontend-operator --type=ansible --api-version=example.com/v1 --kind=VisitorsApp`.
- I've edited the roles

[2020-03-13 14:53] mwoodson commented on #2644
@camilamacedo86  I tried making the changes as suggested above:

[code]

I am still seeing the same behavior.  I've asked @jmccormick2001 to verify it as well.

[2020-03-13 14:58] camilamacedo86 commented on #2648
Hi @daquinoaldo,

Did you build the project with `operator-sdk buil <image:tag>`? If not can you try and see if the error will change? If the resulting change please let us know and add here the logs if you start to face another issue.

[2020-03-13 15:00] camilamacedo86 commented on #2647
Hi @gyliu513,

Could you please clarification and provide more information over your scenario? What are the steps for we reproduce it with the [Memcached Helm Sample](https://github.com/operator-framework/operator-sdk-samples/tree/master/helm/memcached-operator)?  What do you mean with ` helm operator cannot guarantee the install sequence of CRD and CR, if the CR was installed before CRD, then the

[2020-03-13 15:14] daquinoaldo commented on #2648
I build the image with `operator-sdk build visitors-frontend-operator`. Is the tag important?
Also, docker is installed via `dnf`, latest version of docker-ce.

I have also a visitors-backend-operator, implemented in Go, that is build and deployed in the same way, and it works.

[2020-03-13 15:32] camilamacedo86 commented on #2644
HI @mwoodson,

As you can check in the POC <https://github.com/camilamacedo86/app-operator> if you pass the namespace as empty for the manager it will allow the operator to watch all namespaces.  See: https://github.com/camilamacedo86/app-operator/blob/master/cmd/manager/main.go#L99

Note that the above POC proves that the `operator-sdk run --local` will able to work with multinamespaces and clust

[2020-03-13 15:42] camilamacedo86 commented on #2648
Hi @daquinoaldo,

Thank you for let us know. I am unable to reproduce it with the [memcached ansible sample](https://github.com/operator-framework/operator-sdk-samples/tree/master/ansible/memcached-operator). Could you share the repo link of your project? Can we try to run it?

[2020-03-13 15:53] miguelsorianod opened #2649 "Watch errors when Getting an object that does not implement the Watch verb"
Hi,

We have added some code in our operator that manages ImageStreamTag objects (an OpenShift Kubernetes object).

The code performs Gets of ImageStreamTag objects and deletes them.

We execute the operator with operator-sdk run --local and the code seems to Get the objects and delete them in a correct way but we observe the following errors are being logged in the operator constantly:
[code]

Wi

[2020-03-13 15:56] camilamacedo86 commented on #2649
Hi @miguelsorianod,

If you are adding third-party schemas (OCP API), then you need to customize the metrics default implementation. See the [doc](https://github.com/camilamacedo86/operator-sdk/blob/master/doc/user-guide.md#default-metrics-exported-with-3rd-party-resource).

Similar to issues of #2577, #1858.

I am closing this one as a duplicate. However, feel free to ping us to re-open if you th

[2020-03-13 15:57] mwoodson commented on #2644
@camilamacedo86  I just deleted my last comment.  That was on me, I hadn't properly saved.  @jmccormick2001  synced and he showed me errors.

I have restarted it and it appears to be working as expected!  Thanks so much, thi sis huge!

[2020-03-13 16:03] camilamacedo86 commented on #2644
I am so happy that it is working for you now and we could be sorted out. It is terrific. 👍

This issue will be closed when we merged the PR #2617. I hope that it makes easier to solve it in the future. Please, feel free to open new issues with questions, and problems or feature requests as attending the community meeting. Your collab is very important to us.

[2020-03-13 16:11] miguelsorianod commented on #2649
Hi @camilamacedo86 ,

I think this issue is not related or duplicated of one of the ones you linked.
Those are related to metrics and we are not experiencing that problem in the metrics implementation.

It seems related to objects (being in OpenShift or Kubernetes objects themselves) that do not implement the Watch verb and the client being used.

[2020-03-13 16:18] miguelsorianod commented on #2649
To try to add more information. A way to reproduce this would be:
1. Try to perform a Get of an ImageStreamTag object using the client provided by the operator-sdk. Instead of an ImageStreamTag, any object that does not implement the 'watch' verb would reproduce the problem. You can check what verbs implement each object type by executing kubectl api-resources -o wide and looking at the list of ve

[2020-03-13 16:30] daquinoaldo commented on #2648
@camilamacedo86
Sure, I've uploaded the code in my repository [visitors-splitted](https://github.com/daquinoaldo/visitors-splitted).

You can find the working Go implementation in `visitors-backend-operator` and the Ansible implementation that caused me the problem in `visitors-frontend-operator`.
The namespace on OpenShift is `myprj`.

All the commands I used to run and deploy it are in the READM

[2020-03-13 16:36] camilamacedo86 commented on #2649
Hi @miguelsorianod,

You have been facing the error: `Failed to watch *v1.ImageStreamTag`
And when you checked this OCP api it is not implementing the watch verb.

`imagestreamtags                       istag          image.openshift.io                      true         ImageStreamTag                       [create delete get list patch update]
`

1. Could you please let us know if this issue occur

[2020-03-13 16:41] miguelsorianod commented on #2649
Hi,

The issue does not occur when I start the operator, without any CR being deployed.

The second point shouldn't have anything to do, as the metrics configuration/initialization endpoint happen at startup time (in cmd/manager/main.go). If the error was to be related to metrics and the filtering of GKVs it would be directly shown at operator startup time.

Related to the third point, we have not

[2020-03-13 16:52] camilamacedo86 commented on #2649
Hi @miguelsorianod,

Really thank you for your information provided. In this case, we need to do a POC to isolate the scenario first and ensure that the same error would be faced with the default scaffold. Which means:

- On top of the [Memcached Go sample](https://github.com/operator-framework/operator-sdk-samples/tree/master/go/memcached-operator) and the schema ImageStreamTag
- Then, customize

[2020-03-14 17:46] shawn-hurley commented on #2525
If I understand correctly what you want is help to scaffold and potentially some helpers to create a plugin for kubectl that would know how to talk to your operator in new and novel ways. I am thinking of something like is [isitoctl](https://istio.io/docs/reference/commands/istioctl/).

It seems like we would need to do research into this. I think the [sample](https://github.com/kubernetes/sample-

[2020-03-14 18:41] miguelsorianod commented on #2649
Hi @camilamacedo86,

I've updated the first comment with the used operator-sdk version.

I've created a POC in https://github.com/miguelsorianod/pocs-operator-sdk/commits/watch-issue-poc
that contains a new operator-sdk project (v0.15.2) with an example API version `poc.example.com/v1alpha1` and a kind `PocKind` and its respective controller.

The code:
* Makes sure the filtered GKV list is an emp

[2020-03-14 21:37] camilamacedo86 commented on #2649
Really thank you for the collab and for providing it. I will be working on it as soon as possible for we reach a solution.

[2020-03-15 09:09] vikas027 opened #2654 "Question (Ansible) - How to have more columns in status (kubectl get)?"
## Type of question

**Are you asking about community best practices, how to implement a specific feature, or about general context and help around the operator-sdk?**

I need some pointers to add more columns to status (`kubectl get <crd> <resource>`).

## Question

**What did you do?**
I have followed the Ansible user [guide](https://github.com/operator-framework/operator-sdk/blob/master/doc/ans

[2020-03-15 10:41] phoracek opened #2655 "Add Watch method to pkg/test/client.go"
## Feature Request

**Is your feature request related to a problem? Please describe.**

When testing my operator, I want to verify that status on my resource moves from A to B to C. Currently I do it with polling and `Get`, however, sometimes there is a race if the state transforms from A to C to quickly.

I can use `Watch` method of client-go directly, however, it would be easier and cleaner if t

[2020-03-15 11:08] camilamacedo86 commented on #2655
Hi @phoracek,

To check changes in the resource has the Watch feature. Following an example:

[code]

See the. doc: https://github.com/operator-framework/operator-sdk/blob/master/doc/user-guide.md#resources-watched-by-the-controller

You do not will watch the client, but the resources. (the client is reasonable to the requests in the API only). Then, when the watched resource be created/delete/upd

[2020-03-15 11:13] phoracek commented on #2655
Hello @camilamacedo86, thanks!

The issue is, I don't want to implement a controller. I want to test what the controller does. My controller is already running, reconciling and setting status on its CR. In my tests, I validate that the status reaches expected state with `github.com/operator-framework/operator-sdk/pkg/test`'s `test.Global.Client.Get` (https://github.com/kubevirt/cluster-network-add

[2020-03-15 11:15] phoracek commented on #2655
I see that operator-sdk just uses controller-runtime's client which does not have `Watch` either. I should first open an RFE on them, shouldn't I.

[2020-03-15 14:25] camilamacedo86 commented on #2655
HI @phoracek,

To do the tests you will use a fake-client and check the expected results.  See the [doc](https://github.com/operator-framework/operator-sdk/blob/master/doc/test-framework/writing-e2e-tests.md).

Also, you can check an example in my personal project. So, you will create the controller_test as [here](https://github.com/dev4devs-com/postgresql-operator/blob/master/pkg/controller/datab

[2020-03-15 21:03] bharathi-tenneti commented on #2654
Hi @vikas027 Thanks for reaching out , this is a kubectl cli question. Perhaps a better place would be [here](https://github.com/kubernetes/kubectl/issues).
Having said that, what you are looking for is to be able to add custom columns for `kubectl get crd`. One option for you is to distill information from `kubectl describe memcacheds.cache.example.com`, which gives you a lot more information tha

[2020-03-15 23:21] vikas027 commented on #2654
Hey @bharathi-tenneti ,

AFAIK, this is not a `kubectl` thing. I am new to `operator-sdk` but have used `kopf` (python) operator in which I did not have to anything in `kubectl`. I just had to define an additional column as shown in this [example](https://github.com/zalando-incubator/kopf/blob/master/examples/crd.yaml#L22-L37).

Using GoLang, in `operator-sdk` too you can have the same behaviour.

[2020-03-15 23:26] camilamacedo86 commented on #2654
Hi @bharathi-tenneti,

I think that @vikas027 is looking for how to create more instances of the pod created by the CR applied. Then, if I understood it properly I'd like to suggest checking the [Ansible Memcached Sample](https://github.com/operator-framework/operator-sdk-samples/tree/master/ansible/memcached-operator). See that the number of instances in this example is defined [here](https://git

[2020-03-15 23:36] vikas027 commented on #2654
Hey @camilamacedo86 ,

Thanks for looking into it. I am not looking to change the number of pods (or memcache instances), but looking to have more columns in the `kubectl get` output.

## What I currently have
[code]

## What I want - a way to add more columns
[code]

Pls see the above comment in which I have explained how I achieved this using `kopf` operator and trying to do the same through `op

[2020-03-15 23:48] camilamacedo86 commented on #2654
Hi @vikas027,

The CustomResources are from k8s api. See in the k8s docs [here](https://kubernetes.io/docs/tasks/access-kubernetes-api/custom-resources/#additional-printer-columns/) how to add more columns on it.

Note that it is not something specific to any operator tool indeed.

Then, it means that you are free to manually improve your CRD as you wish. See that it is the `deploy/crds/` dir.

In

[2020-03-15 23:59] vikas027 commented on #2654
Thanks for the explanation @camilamacedo86 , I think I have got it. I will raise a PR to have the size as well so it is easier to understand the same for others too.

[2020-03-15 23:59] #2654 closed

[2020-03-16 00:44] camilamacedo86 commented on #2654
HI @vikas027,

Please, feel free to contribute with PR's to improve the docs if you see that has some need. You are very welcome.

[2020-03-16 02:34] gyliu513 commented on #2647
@camilamacedo86 the use case is as follows:

1) I have a helm chart which has CRD and CR resources, and I can use hook to guarantee the install sequence of CRD and CR and make sure CRD can be installed first.
2) After I covert the helm chart to operators, then both CRD and CR are just YAML templates in the helm operator.
3) When I install the helm operator, sometimes the CR resources was applied b

[2020-03-16 02:43] gyliu513 opened #2656 "Enable build for ppc64le and s390x"
## Feature Request

**Is your feature request related to a problem? Please describe.**
A clear and concise description of what the problem is. Example: "I have an issue when (...)"

**Describe the solution you'd like**
A clear and concise description of what you want to happen. Add any considered drawbacks.

Seems the current build only support x86 and macos, any plan to support build for ppc64le

[2020-03-16 02:49] gyliu513 commented on #2656
![image](https://user-images.githubusercontent.com/4461983/76719108-be4f7600-6773-11ea-81c0-3a6056bbde47.png)

I think `openshift-ci-bot` only support x86 now, IBM can provide some machines for POWER and Z for prow cluster.

[2020-03-16 03:02] liqlin2015 opened #2657 "Helm operator failed to uninstall release"
## Bug Report

Helm operator failed to uninstall release.

**What did you do?**
A clear and concise description of the steps you took (or insert a code snippet).
Saw this error when I tried to remove my release with helm operator
[code]

Not sure why helm release was not found. But from the helm operator if helm release cannot be found it should return error `driver.ErrReleaseNotFound`. Just check

[2020-03-16 04:14] kraman opened #2658 "Invalid CRD generated when using pkg/status.Conditions"
**What did you do?**
* Built operator-sdk from master
* Used `pkg/status.Conditions` in my CRD

**What did you expect to see?**
A valid CRD with status.conditions as a array of condition objects

**What did you see instead? Under which circumstances?**

[code]

The CRD has an `additionalProperties` under the `conditions` object instead of `items`.

**Environment**
* operator-sdk version: `"v0.15.0

[2020-03-16 10:27] camilamacedo86 commented on #2658
The K8s API is warning you that the syntax used in your CRD is invalid.

`The CustomResourceDefinition "..." is invalid: spec.validation.openAPIV3Schema.properties[status].properties[conditions].items: Required value: must be specified`

I understand that you change it manually and not via the tool. It is recommended define the validations via annotations in the *_types.go and then, gen the CRDS.

[2020-03-16 10:30] camilamacedo86 commented on #2657
Hi @liqlin2015,

Could you please provide the steps for we reproduce it? E.g

1. Run `operator-sdk new memcached-operator --api-version=cache.example.com/v1alpha1 --kind=Memcached --type=helm --helm-chart=stable/memcached` to install the helm chart X
2. Update the value of Z with Y.
...

[2020-03-16 10:36] camilamacedo86 commented on #2656
Shows that the images are already built. See [here](https://travis-ci.org/github/operator-framework/operator-sdk/builds/662563445).

@jmrodri @fabianvf could you please give and hand here?  I understand that for we achieve it we need to start to build and push the images in the release process. Am I right?

[2020-03-16 12:41] gyliu513 commented on #2656
Thanks @camilamacedo86 , Yes, I think we should build and push those images to release process.

So the operator-sdk CI/CD is using both PROW and travis?

[2020-03-16 13:04] itdove opened #2659 "`generate crds` generates crd not compatible with kube 1.11"
## Bug Report

**What did you do?**
Run `operator-sdk generate crds`

**What did you expect to see?**
If the status is defined, the type: object shouldn't.

[code]

**What did you see instead? Under which circumstances?**
[code]

if I apply that crd I get the error:
[code]

**Environment**
* operator-sdk version: 0.15.2

* Kubernetes version information:

*  kubernetes: 1.11

* Kubernetes cluster

[2020-03-16 13:13] camilamacedo86 commented on #2656
Hi, @gyliu513 yes we have the upstream and downstream release.
The upstream release is doc [here](https://github.com/operator-framework/operator-sdk/blob/master/doc/dev/release.md). Please, feel free to check.

And then, I think that for we achieve it for upstream we need to call the current makefile targets used in the Travis in the process of the script `./release.sh`. However, it shows done alr

[2020-03-16 13:28] morvencao commented on #2656
Looks like the operator-sdk totally use travis to build the artifacts for different platforms.
@camilamacedo86 Is there any plan to replace travis with prow?
We're asking this because prow supports multiple build clusters, so we can easily extend that to support build for other platform(ppc64le and s390x), as described in  https://github.com/operator-framework/operator-sdk/issues/2656#issuecomment

[2020-03-16 13:37] camilamacedo86 commented on #2656
HI @morvencao,

Note that I am aware of for now at least.

See that my comment https://github.com/operator-framework/operator-sdk/issues/2656#issuecomment-599528795 shows that it is implemented already.

[2020-03-16 13:41] morvencao commented on #2656
@camilamacedo86 got that, thanks.

[2020-03-16 13:41] camilamacedo86 commented on #2659
Hi @itdove,

The OCP 3.11 is using an old version of the k8s api which is no longer compatible/supportable by SDK. I'd recommend you use Minikube to test locally or OCP 4.X.

Closing this one as sorted out. However, please feel free to ping us to re-open if you think that something is required.

[2020-03-16 13:41] #2659 closed

[2020-03-16 13:52] joelanford commented on #2647
@gyliu513 The helm operator is based on Helm 3, which changed how CRDs are handled. See the new [chart hooks documentation](https://helm.sh/docs/topics/charts_hooks/).

Specifically:

Can you retry using a `crds/` directory and let us know if that solves your problem?

[2020-03-16 14:09] kraman commented on #2658
@camilamacedo86 I did not modify the CRD directly. I used `operator-sdk generate crds` to do so.
Within my go types file I import `"github.com/operator-framework/operator-sdk/pkg/status` and the status struct has

[code]

I think something is wrong with how operator-sdk is generating the CRD for this type.

[2020-03-16 14:13] gyliu513 commented on #2656
@morvencao can you help check why kubernetes community deprecate travis but all depend on prow? I think we can share some background here to have some discussion with RH team.

[2020-03-16 14:22] camilamacedo86 commented on #2658
Hi @kraman,

The above annotations are used to just gen the CSV spec fields and not the CRD.
The error faced is over the `openAPIV3Schema` in your CRD. I think you are looking in the wrong place.

1. What is the CR applied which is facing the error?
2. Can you share the full error log?
3. Can you share its type.go definition?
4. Can you share its CRD used?

[2020-03-16 14:32] joelanford commented on #2656
As @camilamacedo86 mentioned, during our next release (today, if all goes to plan), we'll upload official builds of the `operator-sdk` binary to GitHub for:
- x86_64-linux-gnu
- ppc64le-linux-gnu
- s390x-linux-gnu
- x86_64-apple-darwin

Currently, the `master` tags (and `latest` and version tags as of today's planned 0.16 release) in `quay.io/operator-framework` are multi-arch images that support

[2020-03-16 14:41] joelanford commented on #2658
@kraman Can you try adding this comment annotation in your _types.go file:
https://github.com/operator-framework/operator-sdk/blob/14e209e85ba6edf39377bdec55877e6d620f6788/pkg/status/conditions.go#L87

That annotation is declared on the `Conditions` type in the SDK, but maybe there's something weird going on where it needs to be re-declared in `_types.go`.

I'll try to reproduce this myself as wel

[2020-03-16 15:13] joelanford commented on #2658
Hmm, I'm unable to reproduce.

I did:
1. `operator-sdk new status-operator --repo=example.com/status-operator`
2. `operator-sdk add api --api-version=example.com/v1 --kind=MyApp`
3. Updated `myapp_types.go` to include the `Conditions` field in the `Status` struct with the same comments and `+operator-sdk` annotations
4. Ran `operator-sdk generate k8s` and `operator-sdk generate crds` successfully.

[2020-03-16 15:38] joelanford commented on #2658
It may also be a Kubernetes version issue. I successfully created that CRD in a Kubernetes 1.16 server. I'll try 1.17 as well.

[2020-03-16 15:57] kraman commented on #2658
@joelanford if you run the CRD above through openapi validator it will tell you that conditions is of `type: array` and so should have an `items` property in it. `additionalProperties` is only valid for `type: object`

[2020-03-16 15:58] kraman commented on #2658
also, adding `// +kubebuilder:validation:Type=array` to my go types file did not change anything.

[2020-03-16 16:08] camilamacedo86 commented on #2658
HI @kraman,

Could you please provide? Note that the annotations used by you have no relation with open API issue faced and/or the values gen in the CR.

1. What is the CR applied which is facing the error?
2. Can you share the full error log?
3. Can you share its type.go definition?
4. Can you share its CRD used?

[2020-03-16 16:21] kraman commented on #2658
@camilamacedo86 yes I realize. I don't think I need to create any annotations on my types go file because the issue is related to annotations in the `pkg/status/conditions.go` file.

Based on what I see in  https://github.com/operator-framework/operator-sdk/issues/2658#issuecomment-599591747, @joelanford has already recreated the problem.

K8s 1.16 doesn't error on this but 1.17 does.

full error:

[2020-03-16 17:28] joelanford commented on #2658
@kraman Thanks for confirming that it seems to be an issue with tighter validations in Kubernetes 1.17.

This may be something we can fix in the operator-sdk repo, by adding more kubebuilder annotations to the `pkg/status/conditions.go` file, but I need to experiment to know for sure. In the meantime, you may be able to work around it by adding validation annotations in your types.go file.

It's a

[2020-03-16 18:24] joelanford commented on #2656
Since this is merged upstream, I'm going to close this. If anyone feels there is more to be done, we can re-open and discuss more.

I would note that we would be interested in help downstream on these things.

[2020-03-16 18:24] #2656 closed

[2020-03-16 18:46] camilamacedo86 commented on #2655
HI @phoracek,

Could you please let us know if the above information attends your needs?  If not, because for example you really check the status of the transition in the tests, could you please share with us why? I mean, could you illustrate a scenario that it would be required to be done in the tests?

[2020-03-16 18:49] asmacdo commented on #2262
@fabianvf is willing to help anyone who wants to implement this.

[2020-03-16 18:53] phoracek commented on #2655
Thanks for the suggestion!

If I understand it correctly, fake client is only useful for unit tests. That does not fit my needs, I need to monitor the transition on a real cluster.

My operator is deploying set of components on the cluster. One controller is applying desired configuration why another is monitoring all deployed pods and updating the status based on their lifecycle.

In this test, I

[2020-03-16 18:54] fabianvf commented on #2286
This behavior (one of playbook | role | vars being required) is documented in the finalizers document, and the error you are seeing is expected. https://github.com/operator-framework/operator-sdk/blob/master/doc/ansible/dev/finalizers.md#handling-deletion-events-with-operator-sdk-ansible-based-operators

[2020-03-16 18:54] #2286 closed

[2020-03-16 19:14] camilamacedo86 commented on #2655
HI @phoracek,

Could you check the doc [Using the Operator SDK's Test Framework to Write E2E Tests](https://github.com/operator-framework/operator-sdk/blob/master/doc/test-framework/writing-e2e-tests.md)?

So, I understand that what you are requesting here would be something like a few helpers, as it has the `WaitForDeployment` such as `WaitForStatus` in order to attend your need. Am I right? Coul

[2020-03-16 19:15] #2565 closed

[2020-03-16 20:00] kraman commented on #2658
Thanks @joelanford Ive worked around the problem by patching the CRD for now.

[2020-03-16 20:18] joelanford commented on #2030
It's been awhile since I looked at this, but it appears that the only remaining blocker for this issue is that operator-sdk has a transitive dependency on `k8s.io/kubernetes` via its OLM dependency.

[code]

If you're wondering why that first `operator-sdk` entry shows up, it is because it is listed as indirect in the `go.mod` file. Searching operator-sdk code for `k8s.io/kubernetes` imports yield

[2020-03-16 20:58] flickerfly opened #2663 "Changing role to ClusterRole and generating a new CSV results in bad CSV"
## Bug Report

**What did you do?**
I changed an operator's role to a clusterRole in `deploy/role.yaml`. I would have rather added it with limited permission, but I understand having both is not currently supported. Then I generated a new CSV.

**What did you expect to see?**
I expected the new CSV to have a `spec.install.spec.clusterPermissions` value, but not a `spec.install.spec.permissions` va

[2020-03-16 23:23] camilamacedo86 commented on #2663
Hi @flickerfly,

When we gen the CSV by the tool,  it will use the resources files in the deploy dir to generate the CSV. However, if we change these files and would like to reflect this change in the integration with OLM we need re-generate the CSV (usually it will mean a new version/tag of it).

So, I am not sure if I follow up what exactly you are pointing here in this issue. Were you expecting

[2020-03-17 06:28] gyliu513 commented on #2647
Thanks @joelanford , let me check.

[2020-03-17 09:33] #2627 closed

[2020-03-17 11:19] glothriel opened #2665 "Support Kubernetes 1.17 in tests"
## Feature Request

Molecule test framework for operator-sdk uses `bsycorp/kind` image, that did not release 1.17 version. This makes us unable to test against kubernetes > 1.16

We could evaluate if we can use kindtest:node images instead of custom ones.

[2020-03-17 11:20] glothriel commented on #2665
It looks like their CI failed for 1.17: https://travis-ci.org/bsycorp/kind/builds/648677096?utm_source=github_status&utm_medium=notification

[2020-03-17 11:20] tomsucho commented on #2628
Setting options in /etc/ansible/ansible.cfg worked, so closing this.

[2020-03-17 11:20] #2628 closed

[2020-03-17 11:32] camilamacedo86 commented on #2665
Hi @glothriel,

The plan is to upgrade the SDK to use 1.17 k8s api. However, it has dependencies with OLM then, we need to wait for OLM be upgraded first. Note that the 1.17 still not supported yet.

PS: By checking your errors in https://travis-ci.org/github/bsycorp/kind/jobs/648677100#L403 I am not sure if the 1.17 is properly set up in your test env too.

[2020-03-17 12:43] flickerfly commented on #2663
Sorry, let me see if I can make it more clear.

I changed the deploy/role.yaml from a `Kind: Role` to a `Kind: ClusterRole` and generated CSV 2 noting CSV 1 as the CSV to be replaced. The result was CSV 2 with both the Role and the ClusterRole in it.

[2020-03-17 15:37] #2307 closed

[2020-03-17 17:38] fabianvf commented on #2112
Python dependencies have been fixed and bumped, this should finally be fixed

https://github.com/operator-framework/operator-sdk/pull/2652/files#diff-dd9d2b60820cd667310a1c6a16f46522R79

[2020-03-17 17:38] #2112 closed

[2020-03-17 18:04] glothriel commented on #2665
Hi @camilamacedo86

This isn't my test env, it's a build that builds `bsycorp/kind` images, that are used by [OperatorSDK molecule test framework](https://github.com/operator-framework/operator-sdk/blob/master/test/ansible/molecule/test-local/molecule.yml#L16). So even if OperatorSDK itself had support for 1.17, we are unable to ship molecule tests, as there are no `bsycorp/kind:1.17` images.

[2020-03-17 18:10] camilamacedo86 commented on #2665
The default Kube version is 1.16. See; https://github.com/operator-framework/operator-sdk/blob/ff657078952b44bf46fbfd9bf30ed84b500f1973/doc/ansible/dev/testing_guide.md#L95

[2020-03-17 23:55] camilamacedo86 commented on #2649
Hi @miguelsorianod,

I could check that just add the schema that has not the watch verb implemented to the manager as follows will cause this scenario.

**just add the schema without the watch verb will cause this issue**

Shows that when we add the Schema to the manager, the client/cache use/provided will require the `watch` verb.

[code]

**Possible Solution with client.Reader**

So, I understoo

[2020-03-18 01:07] camilamacedo86 commented on #2419
We are working on to migrate the docs for Hugo.
So, I think we can close this for now and see if it will still be required in the future.

[2020-03-18 01:07] #2419 closed

[2020-03-18 01:11] camilamacedo86 commented on #2226
The following PR solves the complexity in helm reconcile.
PR : https://github.com/operator-framework/operator-sdk/pull/2594

[2020-03-18 04:21] a1exeyz commented on #2567
Here is how I implemented it:

https://github.com/IBMSpectrumComputing/operator-sdk/commit/12ad8db2ee4b8e41ec980cee96fcc93f33685c35#diff-f35e03cc1931f951934595ab69089d20

Usage:
	// +operator-sdk:gen-csv:customresourcedefinitions.specDescriptors.index=1

[2020-03-18 04:53] a1exeyz commented on #2567
There is a catch though: grouped fields are rendered before not grouped, so the order is not exactly how it's defined in the CSV.

[2020-03-18 12:18] dmesser commented on #2567
@a1exeyz What do you refer to by _grouped fields_?

[2020-03-18 16:33] aharbis opened #2674 "build failure should not result in usage text being logged to console"
## Bug Report

**What did you do?**

When running `operator-sdk build`, if there is a Go compilation error (for example), the `operator-sdk` console output will log the Go errors, but then also print the usage of the command.

To reproduce, make a Go source file change that yields a compilation error, such as declaring a variable but not using it.

**What did you expect to see?**

A build error sh

[2020-03-18 20:09] a1exeyz commented on #2567
Grouped are those who have x-desctriptior urn:alm:descriptor:com.tectonic.ui:fieldGroup.
In the following example the second field will be displayed first because it belongs to the group.
It looks like a bug for me.

      specDescriptors:
      - description: LicenceAccepted must be set to accept terms and conditions of
          IBM Spectrum Symphony software
        displayName: Accept Terms an

[2020-03-18 20:20] tlwu2013 commented on #2567
Hi @a1exeyz , thanks for bringing this up and it's a known issue to us too.

Currently, the "fieldGroup" specDescriptor will be always rendered in Console prior to others per current implementation. We are working on changing this behavior in Console's upcoming release as well.

[2020-03-19 01:22] horis233 opened #2677 "Scorecard failed when the operator generates its seed custom resource."
## Bug Report

**What did you do?**

In order to certify my operator on RedHat and pass the operator config check on the RedHat website, I run the `operator-sdk scorecard` locally to check my operator.

My operator has three CRDs and the operator will generate default instances for two CRs and users just need to create one. The default CRs are the same as alm-example in the CSV.

When running the

[2020-03-19 01:28] gyliu513 commented on #2677
Thanks @horis233 , +1 to ignore the error of `IsAlreadyExists`.

@camilamacedo86 @mhrivnak any comments/suggestions for this? Thanks!

[2020-03-19 03:40] liqlin2015 commented on #2657
@camilamacedo86 Sorry, it cannot be reproduced all the time. Do you think it's a bug from above code? Should it add check for notFound case?

[2020-03-19 04:26] joelanford commented on #2657
Don't know for sure, but this may be able to be reproduced by:
1. Installing a release with the operator by creating a CR
2. Manually deleting the release using the Helm CLI
3. Deleting the CR

In the past, I've seen that when there is no history for a release, `m.storageBackend.History` returns a nil error and zero length history or returns an error, depending on the underlying storage driver.

T

[2020-03-19 10:21] Frankkkkk commented on #2358
Hi,
We have the same problem running roles. Didn't had the time to diagnose it further
Cheers

[2020-03-19 12:12] huizengaJoe commented on #670
@devnulled  your comment
https://github.com/operator-framework/operator-sdk/issues/670#issuecomment-475788962
really resonates, I know its an old post but wondering if you had pursued your hybrid approach and might have some more insight

[2020-03-19 13:02] camilamacedo86 commented on #2658
HI @kraman and @joelanford,

I am testing it with 1.17. Following the steps and SDK 0.16.

[code]

On top of the Memcached Go Sample I added the following spec:

[code]

Then, run :

- Run the command `operator-sdk generate k8s` to ensure that your resources will be updated
- Run the command `operator-sdk generate crds` to regenerate CRDs
- Run the command `operator-sdk build $IMAGE` and `docker p

[2020-03-19 13:04] camilamacedo86 commented on #2658
The POC is here: https://github.com/camilamacedo86/operator-sdk-samples/tree/test-issue

[2020-03-19 13:08] camilamacedo86 commented on #2658
The POC is here: https://github.com/camilamacedo86/operator-sdk-samples/tree/test-issue/go/memcached-operator

[2020-03-19 13:56] jmccormick2001 commented on #2677
I'll check it out and do some testing.

[2020-03-19 14:04] camilamacedo86 commented on #2658
Hi @kraman,

It is important to highlight that @joelanford was unable to reproduce your issue too. See:

<img width="970" alt="Screenshot 2020-03-19 at 13 50 00" src="https://user-images.githubusercontent.com/7708031/77074360-ab91a700-69e8-11ea-820f-6944bf69d9d2.png">
<img width="917" alt="Screenshot 2020-03-19 at 13 49 56" src="https://user-images.githubusercontent.com/7708031/77074368-acc2d400-6

[2020-03-19 15:33] jmccormick2001 commented on #2677
https://github.com/jmccormick2001/operator-sdk/tree/scorecard-cr-exists

would you be able to test your operator out with the above branch?  I've added a check in there for handling an already exists condition when creating objects.

[2020-03-19 17:15] bharathi-tenneti commented on #2152
@joelanford  is point of contact for this issue.

[2020-03-19 18:12] horis233 commented on #2677
@jmccormick2001
I verified with my operator, operator-sdk from your branch can avoid the  `IsAlreadyExists` issue.

[2020-03-19 18:40] jmccormick2001 commented on #2677
nice, I should have a PR with this out there soon.

[2020-03-19 19:46] fabianvf commented on #1658
@jmazzitelli I began to implement the proposal in #2048 and it proved to be quite awkward and unwieldy, the document in #2685 has an alternate approach that I think will likely be much better

[2020-03-19 22:13] razvan-wework commented on #2476
I'm still seeing "fatal error: concurrent map read and map write" on the master branch from ~3 days ago. The helm operator restarted about 140 times in 24h. 1 CRD / chart, about 170 CRs

[2020-03-20 00:00] camilamacedo86 commented on #2476
HI @razvan-wework,

Did you upgrade your project to use the latest version?
If yes, could you please raise a new issue and provide all information requested?
Could you please add the Dockerfile used in your project as the error and if possible all steps required for we are able to reproduce it?

[2020-03-20 00:09] #2543 closed

[2020-03-20 02:37] #2674 closed

[2020-03-20 02:59] MrXinWang opened #2686 "Feature Request: arm64 binary releases"
## Feature Request

**Is your feature request related to a problem? Please describe.**
Referencing discussion in [kiali/issues#1091](https://github.com/kiali/kiali/issues/1091), a release of operator-sdk image on arm64 (aarch64) is greatly appreciated.

**Describe the solution you'd like**
An official release of operator-sdk binary. By checking the Makefile, I think it is not very difficult to rel

[2020-03-20 03:04] MrXinWang commented on #2686
@lilic @AlexNPavel Any comments? Thanks!

[2020-03-20 03:05] joelanford commented on #2658
This looks like the change the made the tighter validations in 1.17: https://github.com/kubernetes/kubernetes/pull/85223

[2020-03-20 03:07] joelanford commented on #2658
To me, it's pretty clearly a bug on our side somewhere (either in controller-tools or our annotations on the `status.Conditions` type).

[2020-03-20 09:59] camilamacedo86 commented on #2658
Hi @joelanford,

Thank you for share. I still unable to reproduce it with SDK features and I will check it in Kubebuilder/controller-tools as well.

Because of this, IMO would be very needed and helpful the user provides their _type implementation as CRD as requested at the first moment. Otherwise, we need to try to find out and discover what they are using, what was done and etc as guessing by th

[2020-03-20 13:20] lisa commented on #2633
Hi @camilamacedo86 and anyone who might come across this. I have some more information to add about the issue Max and us were seeing.

I used Max's [bare repository](https://github.com/robotmaxtron/isolated-crd-controller) to try and isolate the problem. I read your comment @camilamacedo86 about metrics and thought the best course was to eliminate as much as possible from the equation to see where

[2020-03-20 13:27] camilamacedo86 commented on #2649
Hi @miguelsorianod,

I could check that the client cache will require the List and Watch permissions. So, the suggested solution would be using the APIReader [client.Reader](https://godoc.org/sigs.k8s.io/controller-runtime/pkg/client#Reader) instead of.

See my poc in : https://github.com/camilamacedo86/operator-sdk-samples/tree/poc-watch/go/memcached-operator

Just clone the branch and then run `

[2020-03-20 14:44] #2644 closed

[2020-03-20 15:01] inuyasha82 commented on #2302
Hi, just want to add my 2 cents to this issue, i hit the same exact problem building a project that is using operator-sdk, btw setting GOROOT or GOPATH, it didn't help.

in my case, running a RHEL 7 the issure was the value of the GOPROXY variable configured by default in the system (the value you get using the command `go env GOPROXY`). By default the value of this variable is "direct", but inste

[2020-03-20 15:13] asmacdo commented on #2143
Closed by https://github.com/operator-framework/operator-sdk/pull/2679

[2020-03-20 15:13] #2143 closed

[2020-03-20 15:21] asmacdo opened #2689 "Organize ansible docs (website)"
The scope of this issue is all files in `website/content/en/docs/ansible/`

- [ ] add hugo frontmatter to all files
- [ ] Ansible top-level should include (minimum):
  - [ ] Installation
  - [ ] Quickstart
  - [ ] Reference
- [ ] Place each file in relevant section
- [ ] update external links
- [ ] update section internal links. (Changes should only occur in content/en/docs/ansible/, cross-section

[2020-03-20 15:24] asmacdo opened #2690 "Organize golang docs (website)"
The scope of this issue is all files in website/content/en/docs/golang/

- [ ] add hugo frontmatter to all files
- [ ] subsection top-level should include (minimum):
  - [ ] Installation
  - [ ] Quickstart
  - [ ] Reference
- [ ] Place each file in relevant section
- [ ] update external links
- [ ] update section internal links. (Changes should only occur in content/en/docs/golang/, cross-section

[2020-03-20 15:25] asmacdo opened #2691 "Organize helm docs (website)"
The scope of this issue is all files in website/content/en/docs/helm/

- [ ] add hugo frontmatter to all files
- [ ] Subsection top-level should include (minimum):
  - [ ] Installation
  - [ ] Quickstart
  - [ ] Reference
- [ ] Place each file in relevant section
- [ ] update external links
- [ ] update section internal links. (Changes should only occur in content/en/docs/helm/, cross-section link

[2020-03-20 15:27] tima opened #2692 "Feature Request: Using/Setting more unique variables in Ansible Operators"
## Feature Request

**Is your feature request related to a problem? Please describe.**

The Ansible Operator SDK stores things like name in `meta.name`. Using something as generic and nondescript as that is considered bad Ansible form and style given the engine’s flat namespace and the potential for collision.

**Describe the solution you'd like**

The idea here would be to transition what’s in st

[2020-03-20 15:28] asmacdo opened #2693 "Organize test-framework docs (website)"
The scope of this issue is all files in website/content/en/docs/test-framework/

- [ ] add hugo frontmatter to all files
- [ ] create subsections and place each file in relevant section
- [ ] update external links
- [ ] update section internal links. (Changes should only occur in content/en/docs/test-framework/, cross-section links will be updated later)

[2020-03-20 15:28] asmacdo opened #2694 "Organize migration docs (website)"
The scope of this issue is all files in website/content/en/docs/test-framework/

- [ ] add hugo frontmatter to all files
- [ ] create subsections and place each file in relevant section
- [ ] update external links
- [ ] update section internal links. (Changes should only occur in content/en/docs/test-framework/, cross-section links will be updated later)

[2020-03-20 15:29] asmacdo opened #2695 "Update CLI docs (website)"
Update the doc generation script to include frontmatter and build docs into the website/content/en/cli directory

[2020-03-20 15:33] miguelsorianod commented on #2649
Hi @camilamacedo86,

Yes. We have an implementation where we workaround the cache at the moment for our use case: https://github.com/3scale/3scale-operator/blob/bab0608b9e36953e0eb0259ad348fd1b91e99f68/pkg/3scale/amp/operator/upgrade.go#L562

It would be great if we could take advantage of the use of the cache instead of having to provide the non-cached client reader. I've seen you opened an issue

[2020-03-20 15:35] geerlingguy commented on #2692
Just wondering for this—is `meta.name` a convention across different operator languages (e.g. Go, Java, etc.)? If so, then maybe that's a good reason to stick with it.

Otherwise, one argument against it may be that in an operator context, these variables aren't necessarily _ansible_-related, but rather operator-related.

But I do see what you're saying, all the 'magic' variables/facts that are av

[2020-03-20 15:44] camilamacedo86 commented on #2649
Just to clarifies.The issue faced is:

[code]

[2020-03-20 15:51] joelanford commented on #2658
Hmm. I was finally able to also test on 1.17 and like @camilamacedo86, I'm not able to reproduce. The CRD from [here](https://github.com/operator-framework/operator-sdk/issues/2658#issuecomment-599591747) applies cleanly on a minikube 1.17.3 cluster.

[code]

[2020-03-20 16:04] camilamacedo86 commented on #2649
Regards the request. For it returns NOT FOUND and then, is required to:

[code]
Otherwise, it will not mount correct the request and the status code will be 400. Shows that OCP is not following the standards in this scenario.

[2020-03-20 17:34] camilamacedo86 commented on #2302
HI @inuyasha82,

Is not it done already?

see at the bottom.

However, please feel free to contribute with prs to improve the docs.

[2020-03-20 17:40] inuyasha82 commented on #2302
Yes, what I was trying to say is that how is written now that note looks
like that it is referring only on the case you are building the operator
from sources, and not for other cases. So is hard to spot, my suggestion is
just to probably move it somewhere else. In that document (i.e. as
prerequisite?)

Il Ven 20 Mar 2020, 17:35 Camila Macedo <notifications@github.com> ha
scritto:

[2020-03-20 18:04] camilamacedo86 commented on #2649
HI @miguelsorianod,

So, we:
- Open an issue to see if OCP can implement the WACTH for this API. https://github.com/openshift/api/issues/601
- Open an issue to start a thread and see if we can improve the client-go/controller-runtime to handle this scenario and skip the cache: https://github.com/kubernetes-sigs/controller-runtime/issues/870
- And then, we have an OpenPR to explain what to do when

[2020-03-20 19:18] #2677 closed

[2020-03-20 19:51] joelanford commented on #2658
Okay, progress!

@camilamacedo86 was able to reproduce the issue by adding an additional, unrelated field to the status.

<details>
    <summary>Here's a CRD that reproduces the issue</summary>

[code]
</details>

The issue can be resolved by either:
1. Replacing `additionalProperties` with `items` in the `conditions` validation (this seems like the correct fix)
2. Removing `nodes` entirely from t

[2020-03-20 19:58] camilamacedo86 commented on #2658
H @joelanford and @kraman,

I could reproduce the issue :-)

To do that we need to use the `sigs.k8s.io/controller-tools/cmd/controller-gen@v0.2.5` to generate the CRD instead of the current implementation used in the SDK.

Following the steps.

1- Define the type as:

[code]

2 -  Add the Makefile with: (See: https://github.com/camilamacedo86/operator-sdk-samples/blob/test-issue/go/memcached-oper

[2020-03-21 02:57] horis233 opened #2698 "Scorecard Owned CRDs listed resources"
## Type of question

I have two questions about the scorecard check
[code]

From my understanding, this topic is to make sure all the resources used by CRD listed in its `resources` fields in the CSV.

1.  I read the code. I wonder why the scorecard only checks the resource `version` and `kind` but ignores the resource name (`group`).
https://github.com/operator-framework/operator-sdk/blob/master/

[2020-03-21 02:58] horis233 commented on #2698
@jmccormick2001 May you help to take a look?

[2020-03-21 04:12] xauthulei opened #2699 "An exception occurred during task execution. To see the full traceback, use -vvv."
Hi team, I am try to use the `operator-sdk` to create a private operator and wish to deploy the cluster for testing, However I got follow errors:

TASK [gateway : create jupyter gateway depoyment "XXX-jupyter-gateway"] *******
task path: /opt/ansible/roles/gateway/tasks/deployment.yml:1
An exception occurred during task execution. To see the full traceback, use -vvv. The error was:

[2020-03-21 09:16] camilamacedo86 commented on #2699
If you are using the SDK latest version 0.16 then, you can add the following envvar in the deploy/operator.yaml to output in the container of your project all Ansible logs.

[code]

Otherwise, if you are using a version < 0.16.0 you need to check the Ansible logs in the ansible sidecar container by using the command `kubectl logs deployment.apps/<yourproject>-operator -c ansible -n <namespace>`. E

[2020-03-21 18:10] ParFlesh opened #2700 "arrayFieldGroups require [0] in path for correct form display in OKD"
## Bug Report

**What did you do?**
[code]

**What did you expect to see?**
[code]

**What did you see instead? Under which circumstances?**
[code]

**Environment**
* operator-sdk version:

[code]

* go version:

[code]

* Kubernetes version information:

[code]

[code]

* Kubernetes cluster kind: `OKD 4.4.0-0.okd-2020-03-21-112849`

* Are you writing your operator in ansible, helm, or go? `go`

[2020-03-21 19:43] #2649 closed

[2020-03-23 04:04] supermqB opened #2701 "The invalid message for minimum validator need to be adjusted."
## Bug Report
In CR, I have a property with minimum=20 validation. When we set a a value(eg: 10) which is smaller than 20. I got an error likes below:

[code]
The statement `Invalid value: 20` sounds not reasonable. Perhaps we should show the original value(10) instead,  just likes `Invalid value: 10`

Meanwhile, maximum validation had  the similar issue. it does not report what the value user inp

[2020-03-23 05:39] xauthulei commented on #2699
@camilamacedo86 ,Thanks for your suggestion, In fact,I remember that the reported error comes from the CMD `kubectl logs deployment.apps/<yourproject>-operator -c ansible -n <namespace>` .  Now I imported the role template liking this:
[code]
instead of :
`import_tasks: deployment.yml `

Finally, I got the root causes from the cmd output:
[code]

Thanks again. Meanwhile, Could I know that our ansi

[2020-03-23 10:53] camilamacedo86 commented on #2699
Hi @xauthulei,

I understand that the question raised here is sorted out and then, now you did another one.
So, could you please raise a new issue with and all required requested info for we are able to help you with? E.g version used and etc ...

PS.: I'd recommend you try to always upgrade your project to use the latest version as well.

I am closing it assorted out and I am looking for the new

[2020-03-23 10:53] #2699 closed

[2020-03-23 14:18] a1exeyz commented on #2567
@tlwu2013 Is it also a known problem that during the CSV generation CR fields for the alm-examples is also sorted by path? After my fix the order of element in Form UI is Ok, but in Yaml format it's a mess.

[2020-03-23 15:56] #2595 closed

[2020-03-23 18:13] joelanford commented on #2491
Sorry, I haven't forgotten about this. I was out for a month. I've added this to the v1.0.0 milestone so we make sure to get this in.

I've been working on a major refactoring of the Helm Operator [here](https://github.com/joelanford/helm-operator) that will likely coincide with the 1.0.0 release, so I'll try some of these ideas out there as I find time.

Or if you're interested in working on this

[2020-03-23 18:16] #2406 closed

[2020-03-23 18:17] estroz commented on #2430
Closed by #2682

[2020-03-23 18:17] #2430 closed

[2020-03-23 18:22] jberkhahn commented on #2444
This would involve passing the tags through to the runner. It would probably be a good idea to implement a generic way of passing through arguments, as there a a lot of potential features that require that.

[2020-03-23 18:22] estroz commented on #2451
Closing due to lack of response. If you still want this feature, feel free to re-open.

[2020-03-23 18:26] estroz commented on #2485
This is a controller-tools issue. We can bump the controller-tools version once this bug is fixed upstream.

[2020-03-23 18:26] #2485 closed

[2020-03-23 18:27] estroz commented on #2486
This is a real bug.

[2020-03-23 18:33] robbie-demuth commented on #1858
@camilamacedo86 - I think there's still an outstanding issue here https://github.com/operator-framework/operator-sdk/pull/2601/files#r396670669

[2020-03-23 18:42] estroz commented on #2529
@zachncst this issue relates to #2158. If you or anyone from the community is still interested in this issue, we can re-open.

[2020-03-23 18:42] #2529 closed

[2020-03-23 18:44] estroz commented on #2566
Closing, feel free to re-open with more relevant information.

[2020-03-23 18:44] #2566 closed

[2020-03-23 18:48] estroz commented on #2567
POC for a community member who wants to work on this: @estroz

Note: this might be implementable by using the existing order of descriptors.

[2020-03-23 18:50] aharbis opened #2706 "How to handle cluster-level cleanup of Operator created resources prior to deletion"
## Type of question

**Are you asking about community best practices, how to implement a specific feature, or about general context and help around the operator-sdk?**

Best practice / how-to.

## Question

**What did you do?**

We are creating `MutatingWebhookConfiguration` and `ValidatingWebhookConfiguration` objects in our Operator during the manager startup. We originally were setting an `owne

[2020-03-23 18:54] joelanford commented on #2576
Another possible route for having a feature like this would be the hybrid operator approach that we're considering.

Basically, the idea is that we would work toward making the Ansible (and Helm) operator Go code more reusable and extensible. Then, for example, folks would be able to instantiate an Ansible controller in a Go operator and add custom code to support this kind of thing.

[2020-03-23 18:57] aharbis commented on #2706
I should have clarified, we are writing our Operator in Go, not Ansible.

[2020-03-23 19:04] camilamacedo86 commented on #2706
HI @aharbis,

If you would like to manage via the Operator a resource that is not namespaced scope then, you should change the scope of your Operator. Did you try that? See the [doc](https://github.com/operator-framework/operator-sdk/blob/master/doc/operator-scope.md).

Also, see that you can use Finalizers to ensure that some action will be done/executed before the CR be deleted. See the [doc](ht

[2020-03-23 19:21] aharbis commented on #2706
Hi @camilamacedo86, appreciate the quick response.

I think we want to avoid moving to a cluster-scoped Operator, as the primary resource our Operator manages via reconciliation will be in a namespace. At the moment the *only* cluster-level resources we work with are the webhooks, which are to be created at boot, and torn down at deletion. It would seem a bit odd for the usage of webhooks to neces

[2020-03-23 19:22] #2467 closed

[2020-03-23 19:25] estroz commented on #2497
@akshaychitneni this might be something that could benefit from [kubebuilder plugins](https://github.com/kubernetes-sigs/kubebuilder/blob/master/designs/extensible-cli-and-scaffolding-plugins-phase-1.md) since we'll be moving to a kubebuilder-based project structure soon.

[2020-03-23 19:32] estroz commented on #2400
@caggles are you still seeing issues with your `DeploymentConfig`? Would it be possible to have a general `example.com/org/name:prod` tag for your operator image, such that image updates will pull a new image under the same tag?

[2020-03-23 19:52] camilamacedo86 opened #2707 "Issues faced when the operator and CRD are cluster-scoped in the metrics"
By @robbie-demuth,

No. I'm not talking about the creation of the actual Kubernetes Service and ServiceMonitor resources. I'm talking about the way in which the Go code that serves the custom resource metrics tracks which custom resources to report on. After filtering the GVKs, serveCRMetrics restricts which namespaces should be searched for custom resources:

[code]

The call to k8sutil.GetOperat

[2020-03-23 20:14] camilamacedo86 commented on #2707
By @robbie-demuth,

No. I'm not talking about the creation of the actual Kubernetes Service and ServiceMonitor resources. I'm talking about the way in which the Go code that serves the custom resource metrics tracks which custom resources to report on. After filtering the GVKs, serveCRMetrics restricts which namespaces should be searched for custom resources:

[code]

The call to k8sutil.GetOperat

[2020-03-23 20:15] camilamacedo86 commented on #2707
Hi @robbie-demuth,

Let's move our discussion and checks here. I am looking at what you are suggesting here.

[2020-03-23 20:18] asmacdo commented on #2689
Closed by #2704

[2020-03-23 20:18] #2689 closed

[2020-03-23 20:37] robbie-demuth commented on #2707
Understood. If that's the case and you guys want to keep it the way that it is now, the documentation for cluster-scoped CRDs should probably be updated https://github.com/operator-framework/operator-sdk/blob/master/doc/operator-scope.md#crd-scope

[2020-03-23 20:47] camilamacedo86 commented on #2707
If you check the current scaffold you will see:

[code]

Then, it has a clear msg over what is expected in this place. `NOTE that passing nil or an empty list of namespaces in GenerateAndServeCRMetrics will result in an error.` and then, because of this, we cannot use the WATCH_NAMESPACE at this point.

So, could you please clarify better what is the issue that you still facing if you upgrade your

[2020-03-23 20:51] robbie-demuth commented on #2707
I've updated one of my projects to call `k8sutil.GetWatchNamespace()` instead of `k8sutil.GetOperatorNamespace()` and it does work. It's important to note that if `WATCH_NAMESPACE` is set to `""`, the list of namespaces passed to `GenerateAndServeCRMetrics` won't be nil or empty. Instead it'll be equivalent to `[]string{""}`

[2020-03-23 20:51] camilamacedo86 commented on #1858
We are addressing the above comment in: https://github.com/operator-framework/operator-sdk/issues/2707

[2020-03-23 20:53] robbie-demuth commented on #2707
I haven't yet upgraded to v0.16.0. We're still running v0.15.2. I can upgrade and see if the issue goes away 👍

[2020-03-23 21:07] #1082 closed

[2020-03-23 21:10] asmacdo opened #2708 "Version Documentation"
## Versioned Documentation

As a user, I would like to view SDK documentation for the version I am using

This can be accomplished using the docsy "Releases" feature, which adds a Releases dropdown, which can link to arbitrary urls. On release, SDK will need to build a new version (to a new subdomain) and add a link to that version on master.

[2020-03-23 21:19] camilamacedo86 commented on #2707
Hi @robbie-demuth,

If you pass `[]string{""}` it will be an empty list of namespaces. See that the GenerateAndServeCRMetrics will use the ns [here](https://github.com/operator-framework/operator-sdk/blob/master/pkg/kube-metrics/metrics.go#L62) and then, it will not generate the data per ns [here](https://github.com/operator-framework/operator-sdk/blob/master/pkg/kube-metrics/store.go#L37)

So, I

[2020-03-23 21:24] robbie-demuth commented on #2707
I think a lot of the disconnect here is that I was digging through code generated by v0.15.2. That being said, I traced through some of the code you linked and it did seem to work when the namespace was set to the empty string. With respect to third-party APIs, we are also using those, but have setup the RBAC rules correctly. I suppose I could filter them out since I don't need them in the list of

[2020-03-23 21:41] camilamacedo86 commented on #2707
Hi @robbie-demuth,

It is because more than one scenario can cause the same issue. So, I understand that it was not clear for you at all by checking just 1 of the PR's linked.

**Note that the issue will NOT just be faced because of RBCA.**

See that you need to customize the

`filteredGVK, err := k8sutil.GetGVKsFromAddToScheme(apis.AddToScheme)`

This information was addressed in the PR #2606 and

[2020-03-23 21:46] robbie-demuth commented on #2707
We're not yet filtering out the third-party GVKs. The docs are a bit fuzzy though. They make it seem like filtering is unnecessary if proper RBAC rules are present. In our case, we have the required RBAC rules in place, so I didn't think we'd need to filter, but, as I said above, I'll give it a shot and see if that fixes the issue

[2020-03-23 22:05] akshaychitneni commented on #2497
Thanks @estroz. I will look into it.

[2020-03-23 22:06] camilamacedo86 commented on #2707
Really thank you @robbie-demuth for your reply. I think that it is the root cause of your scenario. So, I'd recommend upgrade your project to use the SDK 0.16 and customize this part. See the [migration doc](https://github.com/operator-framework/operator-sdk/blob/master/doc/migration/version-upgrade-guide.md#v016x) it will help you to upgrade the project.

[2020-03-23 22:28] robbie-demuth commented on #2707
Upgrading to 0.16.0 didn't fix the issue. My `addMetrics` and `serveCRMetrics` functions now look as follows:

[code]

Given that we've got the RBAC rules in place and are still seeing `Failed to list *unstructured.Unstructured: the server could not find the requested resource`, I'll try the GVK filtering tomorrow AM

[2020-03-23 22:35] camilamacedo86 commented on #2707
Hi @robbie-demuth,

One of the goals of the change in the scaffold as you check was trying to clarify this need. I mean that is required to customize the filter.  See that any new project now will be scaffold with the comment:

[code]

Also, we address the info in the doc(#2606) in order to solve this scenario. It was verified for others as well. Let me know if it worked for you.

Really thank you

[2020-03-24 01:45] njhale commented on #2706
Hi @aharbis, thanks for submitting this!

I'll try to help supplement @camilamacedo86's suggestions.

From the [k8s GC docs](https://kubernetes.io/docs/concepts/workloads/controllers/garbage-collection/#owners-and-dependents):

Creating invalid OwnerReferences can lead to some [serious issues](https://access.redhat.com/security/cve/cve-2019-3884), which have existed in k8s for a while (~v1.6).

As

[2020-03-24 13:01] asmacdo commented on #2708
See: https://github.com/google/docsy/issues/114#issuecomment-516592637

[2020-03-24 14:19] robbie-demuth commented on #2707
I'm still the unstructured error after removing the third party GVKs. I'm going to try what we talked about earlier regarding updating the namespace passed to `serveCRMetrics` to be based on `WATCH_NAMESPACE` instead of `k8sutil.GetOperatorNamespace()` since that fixed the issue for me when I was using v0.15.2

[2020-03-24 14:29] robbie-demuth commented on #2707
Invoking `kubemetrics.GenerateAndServeCRMetrics` with `ns` set to `[]string{"<WATCH_NAMESPACE>"}` fixes the permissions issue. It's also worthwhile to note that invoking it with the namespace set to the operator namespace actually prevents custom resource metrics from working correctly when using cluster-scoped CRDs because _the CRs don't exist in a namespace_

[2020-03-24 14:37] corentin1002 commented on #2358
Hi, just made a few tests on my side.

I have a role with `gather_facts: no` but it still gathering facts.

I also tried to change the following envvars without any success, my role still gathering facts at every run :
* `ANSIBLE_GATHERING` set to `explicit`
* `DEFAULT_GATHERING` set to `explicit`

[2020-03-24 15:05] camilamacedo86 commented on #2707
Hi robbie-demuth,

You need to remove ALL third-party GVK that will be added from the filter:

[code]

Note that if you add A it usually has dependencies and will add automatically other schemas as well. So, you need to ensure that `filteredGVK` has just the specific operator GVKs.

If you after that still facing issues, can you please output the values of filteredGVK and share with us?

[2020-03-24 15:13] robbie-demuth commented on #2707
I have removed them all. Here's the output of `kubectl logs`:

[code]

Note the following line:

[code]

[2020-03-24 15:28] camilamacedo86 commented on #2707
Note that the error faced is NOT related permissions `Failed to list *unstructured.Unstructured: the server could not find the requested resource`. Shows that the CRD is not applied. Could you please verify if you are applying all resources in the same namespace where the operator is deployed? Are you testing it by using the operator-sdk run command?

[2020-03-24 15:52] fabianvf commented on #2358
hmm, I bet you the setting is being lost when we run `ansible-runner`, we probably need to make sure that these variables are set by runner when it actually executes the role. Perhaps we should find all `ANSIBLE_` prefixed variables set in our env and ensure they are set in the runner env file https://github.com/operator-framework/operator-sdk/blob/master/pkg/ansible/runner/runner.go#L181-L184

[2020-03-24 15:54] robbie-demuth commented on #2707
Okay, this makes more sense. If it's not a permissions issue, it's certainly related to the fact that the metrics server is searching for CRs in the namespace returned by `k8sutil.GetOperatorNamespace()`, but, as I've mentioned above, cluster-scoped CRDs result in CRs _which aren't namespace-scoped_. I've got all of the appropriate RBAC resources in place to support the cluster-scoped CRD - includ

[2020-03-24 16:00] camilamacedo86 commented on #2707
HI @robbie-demuth,

Sorry, but your comment is not clear for me. Before deploying the operator it requires that the CRD be applied in the cluster as well. Could you share a link for your project with the filter changes for I am able to check it locally? Or are you able to describe the steps for I am able to reproduce your scenario with the [Go Memcached sample](https://github.com/operator-framewor

[2020-03-24 16:14] robbie-demuth commented on #2707
Cluster-scoped CRDs don't belong to a namespace. In otherwords, `.metadata.namespace` is always empty for cluster-scoped CRDs. When the scaffolded code executes `kubemetrics.GenerateAndServeCRMetrics(cfg, ns, filteredGVK, metricsHost, operatorMetricsPort)`, `ns` is set to `[]string{<NS>}` where `<NS>` is the result of `k8sutil.GetOperatorNamespace()`. In my case, this is `site-worker-group-operato

[2020-03-24 16:17] robbie-demuth commented on #2707
Regarding your other comments, the CRD is applied to the cluster. Unfortunately, I can't share the project because it's not open-source. To reproduce, I'd recommend creating an operator where _both_ the operator _and_ the CRD are cluster-scoped. While it's possible to have a cluster-scoped operator, but a namespace-scoped CRD, a cluster-scoped CRD requires a cluster-scoped operator. Having both be

[2020-03-24 16:47] camilamacedo86 commented on #2707
I will create a POC as soon as possible and keep you updated.
Then, we can check this specific scenario further.

[2020-03-24 17:26] #2579 closed

[2020-03-24 18:55] robbie-demuth commented on #2707
I've created a fork/branch of operator-sdk-sample's memcached-operator that illustrates the bug https://github.com/robbie-demuth/operator-sdk-samples/tree/cluster-scoped/go/memcached-operator

[2020-03-24 21:41] aharbis commented on #2706
For now we decided to set the `OwnerReference` of the Webhook Configs to point to our `ClusterRole` that is created during installation of the Operator, as this will share the same life-cycle as the Operator, and the `ClusterRole` objects exist at the cluster-scope.

@njhale Could you elaborate, or point us to some documentation / examples of this:

I've not really been able to find a way to handl

[2020-03-24 21:49] jontow commented on #2648
I'm hitting this same issue on an unrelated in-development operator.  I've just generated it and begun development using operator-sdk v0.16.0.  I'm also using crc 1.7.0.

I'm really not familiar with the insides of operator-sdk or the ansible-operator image, but wanted to share what I see.

It looks like something is expecting $HOME to be /opt/ansible, but (and you can see this in the original log

[2020-03-25 00:22] camilamacedo86 commented on #2707
Hi @robbie-demuth,

Really thank you for sharing your example.

_PS.: Note that it has no relation with the PR #2601 and/or the scenarios addressed motivated by issue #1858. I will hide the previous comments to make easier others follow up, but please, feel free to unhide them if you need._

**Following the details and a summary.**

### Scenario:

- An operator with [cluster-scope](https://github.

[2020-03-25 12:38] robbie-demuth commented on #2707
Thanks for being so responsive and helping hash this out, @camilamacedo86. With regards to your concerns about the suggested solution, why is it bad to serve custom resource metrics for the namespaces indicated by WATCH_NAMESPACE (or all namespaces if it is set to `""`)? For namespace-scoped operators and namespace-scoped CRDs, the deployment manifest sets watch namespace as follows:

[code]

This

[2020-03-25 14:21] corentin1002 commented on #2358
Hi,

I have added the environment vars when building my docker image :
[code]

Then I have this in one of my roles :
[code]
this give me the following log :
[code]

Of course, if I remove my env vars from my dockerfile, I don't have them in my debug.

[2020-03-25 14:41] BlackMix commented on #2686
Would be nice to have the arm64

[2020-03-25 14:44] MrXinWang commented on #2686
@camilamacedo86 Hi! I am wondering if this is possible?

[2020-03-25 15:04] fabianvf commented on #2358
Awesome information, thanks for that debugging. In that case this seems much more bizarre, perhaps we need to actually pass an option to runner directly

[2020-03-25 15:25] BlackMix commented on #2686
@MrXinWang just need only add arm64 in Makefile?
I see there only few os: "amd64" "ppc64le" "s390x" hmm

[2020-03-25 15:29] MrXinWang commented on #2686
@BlackMix Yes fixing the building on arm should be not that difficult as the examples are pretty clear in `Makefile` and the golang scripts that produce the Dockerfiles for images.

But in terms of the official release of arm64 binary, it needs more, at least the community should support this...and we also need some tests...

[2020-03-25 15:32] BlackMix commented on #2686
@MrXinWang so i'll wait for someone to add arm64, i like kiali and i don't want to use it on a op machine if it can run on a raspberry pi 4, thanks.

[2020-03-25 16:03] camilamacedo86 commented on #2707
HI @robbie-demuth,

**IHMO: The best way for we address it is by adding in this [doc section](https://github.com/operator-framework/operator-sdk/blob/master/doc/user-guide.md#default-metrics-exported-with-3rd-party-resource) and in this [code comment ](https://github.com/camilamacedo86/operator-sdk/blob/master/internal/scaffold/cmd.go#L227-L229) that it should NOT have GKVs from cluster-scoped CRD

[2020-03-25 16:17] robbie-demuth commented on #2707
I'm not sure I understand what this means

Yes. When invoking `GenerateAndServeCRMetrics(...)` with `[]string{""}` from `k8sutil.GetWatchNamespace()`, I _am_ able to see custom resource metrics for custom resources associated with cluster-scoped CRDs

I've seen the code you linked for GetNamespacesForMetrics. I'm confused by why the function defaults to returning namespaces associated with the ope

[2020-03-25 16:20] camilamacedo86 commented on #2686
Hi folks,

If you check [here](https://travis-ci.org/github/operator-framework/operator-sdk/builds/666443331?utm_medium=notification&utm_source=github_status) the Travis will build
images with different architectures from master as it has the release for other types as well. See the [release tab for 0.16 for example](https://github.com/operator-framework/operator-sdk/releases/tag/v0.16.0).

The im

[2020-03-25 16:36] MrXinWang commented on #2686
Hi @camilamacedo86 , thanks for your reply, hope this is welcomed :)))

@BlackMix Can you please do me a favor and try to raise a PR for this? I would love to do that PR myself but I think I will have to raise an application for a opensource legal approval for this project from my company and it might take some time....If you can do this it will save me from some troubles..Thanks!

[2020-03-25 19:57] BlackMix commented on #2686
@MrXinWang let me see, need to install go v1.13, if success build so I do PR

[2020-03-25 20:15] geerlingguy commented on #2204
#2716 looks like it resolves this issue 🎉

[2020-03-25 20:21] fabianvf commented on #2358
Runner takes the `--role-skip-facts` variable as a toggle for fact gathering, but there doesn't seem to be a way to make it work like `explicit` does.

[2020-03-25 22:38] BlackMix commented on #2686
@MrXinWang I got "success" on build, but something got wrong in named file..
now i'll travel for work and i won't be able to finish this
![Kawaii-jwt](https://i.imgur.com/saAyxsd.jpg)

[2020-03-25 23:14] dmesser opened #2719 "Scorecard needs to wait for CRs being deleted."
## Feature Request

**Is your feature request related to a problem? Please describe.**

In CR behavioral tests we often observe something like this:

[code]

Source: https://travis-ci.com/github/operator-framework/community-operators/jobs/303074370

It looks like that when the Operator is not fast enough to delete the CR before the next test run it stumbles upon the CR in the terminating state whe

[2020-03-26 00:59] MrXinWang commented on #2686
Hi @BlackMix ! Great thanks for doing this! Good to see it works :))

For the naming issue, would you please try adding another target named
`build/operator-sdk-%-arm64-linux-gnu: GOARGS = GOOS=linux GOARCH=arm64` under this line in Makefile: https://github.com/operator-framework/operator-sdk/blob/5104f530ea7bbfb50f4d2d5888cbdc2f26786906/Makefile#L116

Then by running `make build` it should output

[2020-03-26 01:40] joelanford commented on #2701
@supermqB What command are you running that results in that error? It looks like `kubectl edit`, maybe?

Operator SDK and Kubebuilder only help you in generating the validations for your CRDs. The actual
validation occurs when you submit a CR of that type to the cluster. I suspect that error is being returned from the Kubernetes API server, so I'm going to close this since it isn't something that

[2020-03-26 01:40] #2701 closed

[2020-03-26 03:53] joelanford commented on #2700
Thanks for reporting this issue! I've created #2721, which I think should resolve this problem.

[2020-03-26 03:59] joelanford commented on #2647
@gyliu513 Any luck with this? I'll close for now since I think that'll solve your issue, but we can re-open if you still run into issues.

[2020-03-26 03:59] #2647 closed

[2020-03-26 04:15] joelanford commented on #2608
@jpkrohling I haven't tried reproducing this, but my first thought is that if the manager is setup to watch all namespaces, then (I think) it configures the client to do `List` at the cluster scope. If that's what's happening, this is a controller-runtime thing.

[2020-03-26 04:35] BlackMix commented on #2686
hmm, yeah, I did it, build working.
![](https://i.imgur.com/2tVgeOq.png)

[2020-03-26 04:36] MrXinWang commented on #2686
awesome! @BlackMix

[2020-03-26 04:41] joelanford commented on #2622
@mphammer

Case 1 is actually pretty common in Helm charts. In fact, we coincidentally test this case in the SDK's helm-operator e2e test (check out the ingress template generated from [this command](https://github.com/operator-framework/operator-sdk/blob/5104f530ea7bbfb50f4d2d5888cbdc2f26786906/hack/tests/e2e-helm.sh#L129-L133) in the test).

So I'm fairly certain the Helm operator supports disab

[2020-03-26 04:49] BlackMix commented on #2686
PR #2722

[2020-03-26 06:08] AlexeyUzhva opened #2723 "Operator SDK is incompatible with GoCentral go proxy because of replace directive usage"
## Bug Report

**What did you do?**
Trying to use GOPROXY with operator SDK

**What did you expect to see?**
It should work

**What did you see instead? Under which circumstances?**
It's rejected because of Kubernetes v.0.0.0 version & replace directive

**Environment**
* operator-sdk version:

0.16.x

**Possible Solution**
Use standard approach to version reps instead of doing replace.

**Additio

[2020-03-26 07:01] estroz commented on #2700
For reference: [arrayFieldGroup](https://github.com/openshift/console/blob/master/frontend/packages/operator-lifecycle-manager/src/components/descriptors/reference/reference.md#16-arrayFieldGroup)

[2020-03-26 09:15] surajssd opened #2724 "Released version has `-dirty` string in it"
## Bug Report

**What did you do?**

I downloaded the latest version from https://github.com/operator-framework/operator-sdk/releases/tag/v0.16.0 and ran following commands to install it in my $PATH.

[code]

And when I run following command to check version:

[code]

I see that the version has `-dirty` attached to it.

**What did you expect to see?**

I expect to see the version to be `v0.16.0`.

[2020-03-26 09:33] surajssd opened #2725 "operator-sdk fails to add an api on brand new project"
## Bug Report

**What did you do?**

I was following the [Quick Start guide](https://github.com/operator-framework/operator-sdk/tree/v0.16.0#install-the-operator-sdk-cli) to create a project and when add api it fails with error, `Hit an unsupported type invalid type for invalid type, from ./pkg/apis/app/v1alpha1.AppService`.

[code]

**What did you see instead? Under which circumstances?**

This i

[2020-03-26 09:48] pzghost commented on #2725
Maybe the operator-sdk cann't get your` GOROOT`, you should set it obviously.
e.g.
[code]

[2020-03-26 10:56] dmesser commented on #2719
The behavior of scorecard is also problematic for Operators that manage their own singleton-CRs: https://github.com/operator-framework/community-operators/pull/1408

[2020-03-26 12:05] camilamacedo86 commented on #2724
I did the following test for Mac OS X and I am checking the dirty appended as well.

See:
[code]

The same is not checked with 0.15.2. See:

[code]

I think it is a minor issue that happened in the release process. Let's discuss it in the bug meeting triaged to see how we can address it.

[2020-03-26 12:51] dmesser commented on #2719
Btw, increasing `init-timeout` does not help.

[2020-03-26 13:14] joelanford commented on #2723
@AlexeyUzhva

We agree, but it is sometimes necessary, and it _is_ supported by the Go tooling.

This seems to be the true source of the problem. There are many healthy projects that require `replace` directives due to a variety or reasons (e.g. conflicts between dependencies, dependencies not being module aware, etc.)

---

The good news is that as more and more projects become module-aware, the

[2020-03-26 13:14] #2723 closed

[2020-03-26 13:17] surajssd commented on #2725
That is my GOROOT as well:

[code]

If that is default why do I have to set it again?

[2020-03-26 13:32] joelanford commented on #2725
This is a known issue. See https://github.com/operator-framework/operator-sdk/issues/1854#issuecomment-525132306

If setting GOROOT doesn't resolve this, we can re-open.

[2020-03-26 13:32] #2725 closed

[2020-03-26 13:33] camilamacedo86 commented on #2719
I was checking with @dmesser the scenario with the init-timeout and I note something in the logs that may help us reproduce and identify the root cause of it.

See:
[code]
From: https://travis-ci.com/github/operator-framework/community-operators/jobs/304588664

Note the error:

So, I found: https://github.com/kubernetes/kubernetes/issues/72051#issuecomment-457060575, may it helps to troubleshoot t

[2020-03-26 14:55] #2700 closed

[2020-03-26 15:03] asmacdo opened #2726 "Cannot run Ansible operator locally without `roles/`"
## Bug Report
Watches files can now specify a role from an ansible collection, so the `roles` directory should be optional, but without it `operator-sdk run --local` does not know the type of the operator.

[code]

[code]

[code]

[2020-03-26 15:04] jontow commented on #2648
For whatever it is worth, and to temporarily unblock anyone else that runs across this issue while a proper fix is unavailable, I am able to work around the above reported error by simply adding "ln -s ${HOME}/.ansible /.ansible" to the end of the RUN line in my build/Dockerfile:

[code]

[2020-03-26 16:49] #2486 closed

[2020-03-26 18:27] varshaprasad96 commented on #2724
The binaries for v.0.16.0 have been updated : https://github.com/operator-framework/operator-sdk/releases/tag/v0.16.0
Thank you so much @surajssd for pointing this out :)

[2020-03-26 18:27] #2724 closed

[2020-03-26 19:22] #2204 closed

[2020-03-26 20:07] mikeshng opened #2727 "Helm Operator missing ownerReferences for ClusterRole and ClusterRoleBinding"
## Type of question

For Helm Operator install, why is the `ownerReferences` set properly for deployments and services but not for clusterrole and clusterrolebinding? Is this the expected behavior? If I wish to, how do I add the `ownerReferences` to those resources?

## Question

**What did you do?**
I created a helm operator which deploys clusterrole and clusterrolebinding.
[code]

**What did you

[2020-03-26 20:11] surajssd commented on #2724
Thank you!

[2020-03-26 20:13] joelanford commented on #2727
Kubernetes does not allow namespace-scoped resources to own cluster-scoped resources, so the helm operator has a check that prevents adding those invalid owner references.

Is the lack of owner references on those cluster-scoped resources causing a problem?

[2020-03-26 20:28] joelanford commented on #2726
@asmacdo When we finish the KB integration and transition the ansible-based operator and scaffolding to a KB plugin, we'll have the project type stored in the `PROJECT` file.

In the meantime, do you think there's another unique indicator in an ansible-based operator project we can use?

[2020-03-26 20:32] mikeshng commented on #2727
Thanks Joe for the quick reply.

In some cases, removing the finalizer then deleting the helm operator resource might leave behind some orphans like clusterrole because it doesn't have the ownerReferences so it doesn't get garbage collected.

I guess this is the expected behavior. Manually removing the finalizer means some manual cleanup operations should be done afterwards.

Thanks again, please

[2020-03-26 21:14] BlackMix commented on #2686
Hi @camilamacedo86
can u look at pr or only others reviews?

[2020-03-26 21:44] brindasanth opened #2728 "Operator-sdk for Kotlin/java type"
I work for **Software Defined Network(SDN)** Solutioning. Current architecture is completely driven by java based OpenDaylight controller with Netconf protocol and YANG models. We feel that many functionalaties such as Resource Life Cycle Management, Audit, Closed Loop Control, Scheduling, High Performance Data Store, Lifecycle Managements of Network Functions etc are missing or not properly devel

[2020-03-26 22:15] joelanford commented on #2727
That's correct. From a cleanup perspective, the finalizer will ensure that all release resources are removed. Manually removing the finalizer effectively means that `helm uninstall` won't happen, and you are then relying on garbage collection.

Right now, I'm pretty sure the release secret ALSO does not have an owner reference, so that would be orphaned as well.

---

One other thing I'm curious a

[2020-03-27 07:48] glothriel commented on #2665
Oke my upstream issue seems to be resolved: https://github.com/bsycorp/kind/issues/29

[2020-03-27 10:16] avarabyeu commented on #1975
Is there any chance support of clientset generation will be added in the future?

[2020-03-27 12:02] camilamacedo86 commented on #2686
Hi @BlackMix,

See that the Deploy jobs are NOT executed for the PR's. Just in the master.
But I will try to look at it as soon as possible.

Also, @joelanford @hasbro17 are you ok with we add more 1 arch type?

[2020-03-27 12:08] nirrozenbaum opened #2732 "not able to create Ansible operator"
## Bug Report

**What did you do?**
created an ansible operator from scratch after using the sdk scaffolding.
I used `operator-sdk new pong-operator --type ansible --generate-playbook --api-version pong.example.com/v1alpha1 --kind Pong` to generate the skeleton, then I added my logic under roles/pong. trying to build the operator using `operator-sdk build` command

**What did you expect to see?**

[2020-03-27 12:18] camilamacedo86 commented on #2732
HI @nirrozenbaum,

Could you please let us know what is the Docker version used by you?
Also, by checking the above logs shows that your Dockerfile was created. So, could you please add here what do you face if you try to build it with docker by running `docker build -f build/Dockerfile .` from the root path of your project?

[2020-03-27 14:20] corentin1002 commented on #2358
Well, I'm looking for how to specify this option, but the ansible container is using the `ansible` command (and not `ansible-runner` command) that do not accept `--role-skip-facts`.
So maybe I could specify this option into the `watches.yaml`, but i can't find, in the doc, how to do. https://github.com/operator-framework/operator-sdk/blob/master/doc/ansible/user-guide.md#watches-file

[2020-03-27 14:58] nirrozenbaum commented on #2732
Docker version:
[code]

[code]

[2020-03-27 15:53] aharbis opened #2733 "v0.16.x upgrade guide uses incorrect revision"
## Bug Report

**What did you do?**

The [v0.16.x upgrade guide](https://github.com/operator-framework/operator-sdk/blob/master/doc/migration/version-upgrade-guide.md#v016x) includes the following:

[code]

**What did you expect to see?**

The revision for the SDK pkg needs to be `v0.16.0`.

**What did you see instead? Under which circumstances?**

The revision for the SDK pkg is `0.16.0` which yi

[2020-03-27 16:02] #2118 closed

[2020-03-27 16:04] uma-spatil opened #2734 "resource " already exists", when r.client.Get()"
****** logs *******
{"level":"info","ts":1585324637.7143104,"logger":"controller_trainingmanagement","msg":"Creating a new training resourceQuota","reconcile request detail":"/blr-trainingmgnt","Request.Namespace":"","Request.Name":"blr-trainingmgnt","Request.NamespacedName":"/blr-trainingmgnt","resourceQuota.Name":"blr1-training-rq","foundrq":{"name":""}}
{"level":"error","ts":1585324639.2301235,

[2020-03-27 16:08] camilamacedo86 commented on #2733
Hi @aharbis,

Thank you for check this small typo issue could you please do a PR to fix it in the doc? Please, note that temporary we need also update the files in the .webiste dir which has the same structure. I mean we need to do this update in the doc/ and .website guide.

[2020-03-27 16:12] camilamacedo86 commented on #2734
Could you please check if you are you getting and creating in the same namespace?
Note that by looking at your code example shows that you are using `training_ns.Name` and `training_rq.Name,`. So, I think is valid to ensure that it is not a result of a small typo issue.

[2020-03-27 16:17] aharbis commented on #2733
Sure, I'd be happy to submit the fix.

[2020-03-27 16:23] BlackMix commented on #2686
Thanks @camilamacedo86
It would be great to have arm64 here, because
other repositories like Istio and kiali supported arm64
istio is almost done and kiali is already finished

the arm64 community will love it :)

[2020-03-27 16:24] uma-spatil commented on #2734
Yes, the object name is training_rq.Name is created under Namespace trainings_ns.Name

[2020-03-27 16:27] aharbis commented on #2733
PR https://github.com/operator-framework/operator-sdk/pull/2735 open.

[2020-03-27 17:03] fabianvf commented on #2358
I don't think there is a way to specify the flag currently, the `ansible-runner` binary is being invoked by the go code and we would need to add this functionality there. The ansible sidecar container is just aggregating logs, it doesn't actually have anything to do with the execution of the playbook/role.

[2020-03-28 15:16] Uvindu96 opened #2738 "Deadloack on operator with Leader Locker"
## Bug Report

**What did you do?**

- Deployed my operator manually not from operator-hub.
- I tried to do a deployment using my operator.
- Pods never become ready due to deadlock

**What did you expect to see?**
Ignored the lock and pods to be created.

**What did you see instead? Under which circumstances?**
[code]

**Environment**
* operator-sdk version: 0.7
https://github.com/operator-framew

[2020-03-28 15:39] Uvindu96 commented on #2738
I was able to fix this

[2020-03-28 15:39] #2738 closed

[2020-03-29 06:55] nirrozenbaum commented on #2732
I've tried to git clone `https://github.com/operator-framework/operator-sdk-samples` and build the ansible memcached sample, and seeing the same error.
tried googling a bit a saw there might be a error with this docker version.
I downgraded docker version to 18.06.1 and now I'm seeing a different error:
[code]

[2020-03-29 17:29] camilamacedo86 commented on #2732
Hi @nirrozenbaum,

I am unable to reproduce this errors, however, my local env is mac os x and my. ocker version is `17.09.1-ce` See.

[code]

See that the error `"process_linux.go:297: copying bootstrap data to pipe caused \"write init-p: broken pipe\"": unknown` shows an issue with your docker installation. See: https://stackoverflow.com/questions/57914696/oci-runtime-create-failed-copying-boots

[2020-03-30 01:13] hasbro17 opened #2741 "CI failing: HTTP failure with marker link check"
The markdown tests job is currently failing for all(most?) PRs that don't seem to have anything to do with the failure e.g #2511 #2740
https://travis-ci.org/github/operator-framework/operator-sdk/jobs/667925856#L1052
[code]

/cc @joelanford @estroz @camilamacedo86

[2020-03-30 01:16] hasbro17 commented on #2741
Also @asmacdo if you've ever seen this failure for the website docs before.

[2020-03-30 01:31] hasbro17 commented on #2401
@rareddy Sorry I forgot to follow up on this. Do you still have this issue?
And are you able to test against a more recent version of k8s > 1.11.x?

[2020-03-30 06:21] nirrozenbaum commented on #2732
hi @camilamacedo86,
I was also suspecting something is wrong with the env so I updated the versions of all components to the latest (go, kubectl, docker).
after updating all versions is works.
thanks!

[2020-03-30 11:58] camilamacedo86 commented on #2732
I am closing this as sorted out. Really thank you for your reply.

[2020-03-30 11:58] #2732 closed

[2020-03-30 12:04] camilamacedo86 commented on #2741
Hi @hasbro17 shows be at ./README.md:11 so I do not think that has relation with the website dir at all.

[2020-03-30 12:12] camilamacedo86 commented on #2358
So, it is not a bug at all. It would be an RFE, Am I right @fabianvf?

[2020-03-30 13:21] rareddy commented on #2401
I can not recreate anymore in newer version, sure you can close this

[2020-03-30 13:34] aharbis opened #2744 "Upgrading from v0.15.2 to v0.16.0 breaks types generation"
## Type of question

**Are you asking about community best practices, how to implement a specific feature, or about general context and help around the operator-sdk?**

Support on upgrading to v0.16.0 from v0.15.2.

## Question

**What did you do?**

In our project we are working on migrating from Operator SDK v0.15.2 to v0.16.0, following the [migration guide](https://github.com/operator-framewor

[2020-03-30 13:53] aharbis commented on #2744
Someone else on my dev team has confirmed the same process fails for him:

1. Start with working `v0.15.2` build
2. Upgrade to `v0.16.0`
3. `operator-sdk generate k8s` fails with same error I reported above

[2020-03-30 14:49] mphammer commented on #2622
Hi @camilamacedo86,

Sorry for the late response. These errors were not from the stable repo but from a custom helm chart. Here are examples of the Charts:
**Case 1:**
Chart.yaml:
[code]
Values.yaml:
[code]
templates/resource.yaml:
[code]

**Case 2:**
Chart.yaml:
[code]
Values.yaml:
[code]
templates/resource.yaml:
[code]

[2020-03-30 16:55] aharbis commented on #2744
I tried to generate a new project and experience the same issue.

[code]

From reading through https://github.com/operator-framework/operator-sdk/issues/1854#issuecomment-525132306 I tried the "workaround" of manually exporting `GOROOT` in my local env, and that did seem to workaround this issue.

However:

**Why is this failing on an upgrade from v0.15.2 to v0.16.0, when I did not need to manuall

[2020-03-30 17:03] aharbis commented on #2744
Digging through the repo history and issues, I think I found an explanation by @joelanford here:

https://github.com/operator-framework/operator-sdk/pull/2346#issuecomment-567514085

It looks like there was a proposal to fix this so that end-users who download the release (versus building from source) will not need to worry about setting `GOROOT`, but that was never merged as the above PR was clos

[2020-03-30 17:56] #2401 closed

[2020-03-30 18:12] estroz commented on #2741
Meta: need to investigate running marker only on docs that have been changed in a PR to avoid rate limiting (429 error), and a nightly/"merge with master" job to check all links to catch errors like this. Also need to report health of master when "merge with master" tests fail with a notification.

/priority important-longterm

[2020-03-30 18:15] estroz commented on #2734
@uma-spatil can you provide a simple example that reproduces your issue, or a link to your controller code?

/triage support

[2020-03-30 18:29] estroz commented on #2726
/kind bug

[2020-03-30 18:36] estroz commented on #2719
/kind bug
/priority important-longterm

[2020-03-30 18:40] estroz commented on #2708
Versioned docs in the website will likely start at the SDK version this is completed in.

[2020-03-30 18:46] estroz commented on #2707
We'll need to update the operator scope doc to discuss changes regarding metrics and potentially change our `main.go` scaffold to consider cluster-scoped CRDs.

/kind documentation

[2020-03-30 18:57] estroz commented on #2686
Meta: testing new build targets doc is needed since, there are some manual steps required to test images built with new targets.

[2020-03-30 19:13] estroz commented on #2706
@aharbis [doc](https://kubernetes.io/docs/tasks/access-kubernetes-api/custom-resources/custom-resource-definitions/#finalizers) on finalizers, hopefully that helps. If so, feel free to close this issue.

[2020-03-30 19:55] estroz opened #2745 "Meta: Operator SDK's in other languages"
There has been quite a bit of interest in writing an SDK for Java (#1568, #2728) and python (mentioned in slack and community meetings). In general the operator-framework community should support as many Operator SDK's, or one SDK that manages Operators in multiple languages, as possible since Operators are largely language independent. While this repo does not support scaffolding Operators in oth

[2020-03-30 19:58] estroz commented on #2728
@brindasanth thanks for suggesting this. I've created a meta issue for non-Go Operator SDK's (#2745). Note that a feature request for a Java SDK exists (#1568). I suggest checking that out for any info that might help you build an SDK for Kotlin.

[2020-03-30 19:59] estroz commented on #1568
Meta-issue for non-Go Operator SDK's: #2745.

[2020-03-30 20:02] aharbis commented on #2706
@estroz Thanks. I've read the doc on Finalizers, and I'm familiar with implementing them.

What I don't understand, and what I can't find documentation for within the Operator SDK, is how to implement Finalizers for the Operator pod itself. @njhale mentioned that we could add a finalizer at startup, which seems relatively easy.

The outstanding topic for discussion is where to implement the finali

[2020-03-30 20:38] joelanford commented on #2706
@aharbis It would require a separate watch with a separate reconciler. In this separate watch, you would probably use a predicate to filter on the operator pod's name/namespace, and then the Reconcile method would just be checking for the presence of a deletion timestamp and that pod's finalizer. If both exist, you can do the cleanup and then delete the finalizer from the pod.

The one catch here

[2020-03-30 21:33] aharbis commented on #2706
Thanks @joelanford, that helps. Good note on the leader, I hadn't thought about that. Right now we are just running a single pod in our Operator deployment.

Good to close this issue out, appreciate the feedback and help from everyone!

[2020-03-30 21:33] #2706 closed

[2020-03-30 23:18] brindasanth commented on #2728
Thanks a lot taking this feature,

FYI : In these projects (https://github.com/brvith/operator-framework and https://github.com/brvith/ric/tree/master/operators/sample-pnf-operator ), I used Kubernetes officially supported java client https://github.com/kubernetes-client/java not kubernetes fabric.

[2020-03-30 23:19] brindasanth commented on #2745
We shall use Kubernetes official java client project: https://github.com/kubernetes-client/java

[2020-03-31 03:12] joelanford commented on #2744
@aharbis Absolutely. Sorry that got lost in the holiday ether! Would you be interested in submitting a PR? If not, I will. This has been coming up quite often and would be nice to finally fix for folks.

[2020-03-31 03:51] aharbis commented on #2744
@joelanford No worries! Sure, I'd be happy to. I'll try to put something together this week.

[2020-03-31 05:07] #2665 closed

[2020-03-31 11:10] camilamacedo86 opened #2747 "Doc how to contribute and test the deploy of binaries"
## Feature Request

**Is your feature request related to a problem? Please describe.**
We need to describe where the deploy of different types are built as was described in the comment https://github.com/operator-framework/operator-sdk/issues/2686#issuecomment-603938038
and then, how to contribute and/or test these deployments. See: https://github.com/operator-framework/operator-sdk/pull/2742#issu

[2020-03-31 11:11] camilamacedo86 commented on #2747
IMO: This info could be added to https://github.com/operator-framework/operator-sdk/blob/master/doc/dev/developer_guide.md. WDYT @joelanford ?

[2020-03-31 12:17] libesz opened #2748 "Trigger point to re-reconcile all CR instances"
## Feature Request

**Is your feature request related to a problem? Please describe.**
I have a (go-lang) controller, watching a CRD as usual. The exact result of the reconciliation depends on some other cluster settings as well, these are outside of the CRs. The user may change the dependent setting which is not practical to watch in the same controller. In this case the controller needs to re-co

[2020-03-31 12:31] camilamacedo86 commented on #2665
Just, to register we are working to upgrade the SDK to use the upper version 1.17 and it will probably be shipped with the next release.

[2020-03-31 13:20] mikeshng commented on #2727
The namespace-scoped resource did reset.
When I edit the deployment and change the port to `8080` it reverted back to `80`
In
[code]
The cluster-scoped resource did not reset as you predicted.
When I edit the clusterrole,
[code]
Added a `get` and it persisted.
[code]

[2020-03-31 14:13] joelanford commented on #2748
@libesz If I understand your use case correctly, I think the features you need already exist.

If the dependent setting is in another CR, you can use [`EnqueueRequestsFromMapFunc`](https://godoc.org/sigs.k8s.io/controller-runtime/pkg/handler#EnqueueRequestsFromMapFunc) to watch the other CRD type and write a custom mapping function that lists every CR you need to reconcile.

If the dependent setti

[2020-03-31 14:44] libesz commented on #2748
Thanks for the fast response. I couldn't find the mentioned functions for the first sight. Will look into those.

Actually the operator has two controllers. One watches the CRD, the other watches Nodes. The one which watches the nodes is catching deletes, which is not related to the CRD directly. However, the CRD watching controller at reconciliation time uses the actual node's labels, where it is

[2020-03-31 16:36] joelanford commented on #2657
@liqlin2015 I'm unable to reproduce. I'm looking at your error message and comparing to the Helm 3 `History()` function for secrets, and can't make sense of it. Can you confirm that your operator's base image is `v0.15.2`?

In Helm 2-based operators (pre-`v0.14.0`), that error comes from [here](https://github.com/helm/helm/blob/e0604b930643f1af768b78af454d89eb23f52cec/pkg/storage/errors/errors.go#

[2020-03-31 16:36] #2657 closed

[2020-03-31 17:30] #2030 closed

[2020-03-31 18:57] joelanford commented on #2748
Controllers created from the same manager share informers and caches, so if you're already watching Nodes in one controller, there should not be any additional load to also watch Nodes from the CRD controller and use `EnqueueRequestsFromMapFunc`.

Potentially unrelated question: Are all of the operator daemonset pod instances running and reconciling concurrently and watching the same sets of resou

[2020-03-31 19:07] libesz commented on #2748
Thanks for the update again!

Yes, they are concurrently reconciling the same CR instances, in all active mode. The derived state is realized and managed locally on every node where the Pods are running (no any derived K8S objects). The CRD watching controller loop only updates the CR status, where all the nodes have a dedicated slot to update. Of course they may conflict in updating the status, b

[2020-03-31 19:26] bharathi-tenneti commented on #2694
@asmacdo I assume, links in the description points to migration section?
https://github.com/operator-framework/operator-sdk/tree/master/website/content/en/docs/migration

[2020-03-31 20:25] jmontleon commented on #2648
For what it's worth I saw this on a 4.3.1 cluster I was diagnosing for someone, but not on a 4.3.8 cluster I tried to reproduce it on. I also didn't see it on two other testing clusters running 4.3.8. I don't know why cluster version would come into play, but thought I would mention it.

[2020-03-31 20:55] mikeshng commented on #2727
https://github.com/operator-framework/operator-sdk/blob/v0.16.0/pkg/helm/controller/controller.go#L146

It seems like not watching the cluster scope resources are intentional.

[2020-03-31 21:18] #2691 closed

[2020-03-31 21:49] #2733 closed

[2020-03-31 22:09] mkimuram commented on #1975
@camilamacedo86 @kameshsampath @avarabyeu

I have the same use case. So, I tried it manually and managed to generate client code by using [slok/kube-code-generator](https://github.com/slok/kube-code-generator). (See details below for all the steps that I did.)

I'm not enough familiar with clientset generation to ensure that I did it in the right way. If someone can confirm that it is good enough,

[2020-03-31 23:37] aharbis commented on #2744
@joelanford Submitted PR #2754 with a proposed fix.

[2020-04-01 02:10] mkimuram commented on #1975
This [patch](https://github.com/mkimuram/operator-sdk/commit/ef6dbb1d1dd7360a288bf82f7939781a8a4ef90e) should (re)generate client on `add api` and `generate k8s`. If this makes sense, I will make a PR.
(We might need to create separate sub-command, like `generate client`, in order to specify container environment other than docker, and so on.)

[2020-04-01 02:31] joelanford commented on #2748
Gotcha, thanks for the details! I think adding a watch for Nodes on the CRD controller with `EnqueueRequestsFromMapFunc` will do exactly what you want with no added load. Let us know if that works!

On a related node, I assume you're doing a `Get` on a `Node` in your CRD reconciler to get the node's labels? If so, you are likely already pulling the Node resource from the cache, which is already po

[2020-04-01 03:50] #2744 closed

[2020-04-01 04:19] hasbro17 commented on #2741
Now hitting:
[code]

 Hopefully that's just temporary but adding this here for future reference.

[2020-04-01 05:37] #2493 closed

[2020-04-01 07:58] libesz commented on #2748
Not yet. Right now the main function fetches the self Node labels at startup and passes that to the CRD controller. So I hit the subject problem when I started improve that :).

Will get back with the results. Thanks!

[2020-04-01 14:59] libesz commented on #2748
Seems working!
I was able to filter the watch source only to the own node, than trigger only on updates, where labels are changed, using a predicate.

Thanks for the help!

[2020-04-01 14:59] #2748 closed

[2020-04-01 18:29] aneeshkp opened #2759 "Porting existing Helm Charts to Ansible Operator"
## Feature Request
I have an issue, where a customer wants to use operator-SDK ansible operator and port their existing helm charts into this operator.

Do you have any plan to include this kind of ability within the SDK to convert charts into ansible or do you have suggestions or tools on how to do this?
 My initial thought was ansible understands jinja2 templates and it be should straight forwar

[2020-04-01 18:34] camilamacedo86 commented on #2759
Hi, @joelanford and @fabianvf could you please give a hand in this one. He asked help and I suggested raise the issue. I think you both will have better insight over it.

[2020-04-01 18:46] joelanford commented on #2759
@aneeshkp We don't plan to provide features in the SDK to migrate helm charts to ansible roles/playbooks.  One option may be to use ansible's [`helm`](https://docs.ansible.com/ansible/latest/modules/helm_module.html) module as a starting point.

One problem you would run into with converting Helm templates is that many of them use [`sprig` template functions ](http://masterminds.github.io/sprig/)

[2020-04-01 19:25] jontow commented on #2648
Confirmed that this behavior disappears on crc 1.8.0 (OpenShift 4.3.8).

[2020-04-01 20:00] BlackMix commented on #2686
can close this issue

[2020-04-01 20:02] #2686 closed

[2020-04-01 21:12] jmontleon commented on #2648
I wonder if this could be related to https://github.com/cri-o/cri-o/issues/3186

[2020-04-02 00:28] #1996 closed

[2020-04-02 01:45] estroz commented on #1996
@ssbano @fr34k8 we recently added arm64 support: #2742

[2020-04-02 04:07] #2658 closed

[2020-04-02 13:33] aneeshkp commented on #2759
Thanks, @joelanford , The goal is to move all the helm charts into ansible operator so they can be part of the operator catalog, managed by OLM,  So using helm module with pure ansible won't help I think.  As you said, we need to build a solution to support sprig function in ansible via jinja2 template functions.

[2020-04-02 13:57] joelanford commented on #2759
@aneeshkp Maybe I'm not understanding correctly, but there shouldn't be any reason that using the ansible operator with the `helm` module or using the helm operator directly would prevent the operator from being included in the operator catalog and managed by OLM.

[2020-04-02 19:07] bharathi-tenneti commented on #2622
/assign

[2020-04-02 19:33] #2588 closed

[2020-04-02 19:39] #2690 closed

[2020-04-02 20:14] joelanford opened #2769 "Relocate controller-runtime client doc upstream"
I noticed that we have a document about the [controller-runtime client](https://github.com/operator-framework/operator-sdk/blob/master/website/content/en/docs/golang/references/client.md). Rather than maintaining this in the operator-sdk repo, I would suggest that we contribute this upstream, perhaps with a combination of:
- a new doc under the kubebuilder reference docs: https://book.kubebuilder.

[2020-04-02 21:30] metacosm opened #2770 "Investigate which features (if any) could be included to ease operator development"
## Feature Request

**Is your feature request related to a problem? Please describe.**
There are several frameworks out there that aim at making it easier to develop operators by providing implementations for common tasks such as:

- https://github.com/redhat-cop/operator-utils
- https://github.com/RHsyseng/operator-utils
- https://github.com/halkyonio/operator-framework
- ...

**Describe the solu

[2020-04-03 15:55] aneeshkp commented on #2759
@joelanford , One of the main reason is helm charts based operator maturity level is, install and upgrades only and ansible operator gives more capabilities and I will let @jsm84 update more about the business decisions.
Q? So  if I use ansible helm modules, can I still get the same capabilities as ansible operators?

[2020-04-03 16:03] jsm84 commented on #2759
@joelanford I was asked to chime in here, so please pardon if I sound like I'm on a soap box. I agree that OLM/operator catalog listing wouldn't be affected by using the helm module in ansible. The issue with using the helm module as part of an automated conversion tool (from helm to ansible) is simply the redundancy. IMO, it defeats the purpose of conversion having go code, that calls ansible cod

[2020-04-03 16:04] joelanford commented on #2759
That is definitely true. If you're looking to add some of the higher level maturity features, then you would need to move to ansible or Go.

Yes, using an ansible operator would enable you to add more logic around the helm lifecycle. The caveat is that if you need fine-grained control of the rollout of what's in the helm release, you probably won't be able to achieve that as easily since helm does

[2020-04-03 16:31] fabianvf commented on #2759
Just a note, the helm module in Ansible core is unmaintained/deprecated and will soon be removed, but it is going to be replaced with modules that ship in the Kubernetes Ansible collection. If you want to follow/try out that work the PR is here: https://github.com/ansible-collections/kubernetes/pull/61

Making use of these modules would definitely allow you to add functionality beyond install/upgr

[2020-04-03 17:18] ryandgoulding opened #2774 "Improve Ansible User Guide documentation for Building/Running the Operator"
## Feature Request

**Is your feature request related to a problem? Please describe.**
The existing documentation may cause confusion for new users with respect to building and running the example memcached operator.  Namely, "quay.io/example/v0.0.1" is used in several places without much explanation.  Extracting an environment variable to represent this value could improve usability;  specificall

[2020-04-03 17:20] ryandgoulding commented on #2774
I would appreciate the ability to take ownership of this issue.  I am forming a PR that should help give context.

[2020-04-03 18:10] #2694 closed

[2020-04-03 21:30] tima commented on #2759
I agree. Using the 'helm' module is a quick fix/transition to Ansible, but it won't suffice for long and is not the end state you'd want to remain in.

Unfortunately @jsm84 this is not something I am aware exists either though it is on my list of things to develop. I've done a preliminary comparison of helm to (pure) ansible and I don't think a tool to automatic convert one to the other is possibl

[2020-04-06 14:30] akram opened #2784 "Validation howto ? openapi ?"
## Type of question

**Are you asking about community best practices, how to implement a specific feature, or about general context and help around the operator-sdk?**
community best practices and how to implement a specific feature

## Question

**What did you do?**
In my CRD, I have two fields that are mutually exclusive. I want kubernetes to perform this validation on create of edit.
Documentat

[2020-04-06 15:17] mphammer commented on #2622
Hi @joelanford, thanks for the information and the "kind/bug" label. I don't currently have the cycles to work on this issue. Thanks @bharathi-tenneti for taking this up! If you need more information from me I will do my best to assist you.

[2020-04-06 15:22] bharathi-tenneti commented on #2622
@mphammer
When trying to reproduce CASE 1, with below environment, I see that operator shows error in the creation step itself, as shown below.
[code]
 Was curious, whether you have seen similar error while creation.
Later, encountered bellow error , after deployment of `cr`
[code]

P.S
[code]
[code]

[2020-04-06 15:28] davesargrad opened #2785 "Documentation should include instructions for running the operator outside the cluster in dlv"
## Feature Request
I'd like to see the [documentation ](https://github.com/operator-framework/operator-sdk/blob/master/doc/user-guide.md)updated to show how to run an operator outside the cluster in the [dlv](https://github.com/go-delve/delve) single step debugger.

Currently the command line invocation of the custom operator is hidden in the documentation through the use of the operator-sdk

![im

[2020-04-06 16:06] joelanford commented on #2622
@mphammer @bharathi-tenneti Just want to re-iterate [my previous comment](https://github.com/operator-framework/operator-sdk/issues/2622#issuecomment-604225508) that I think something slightly different is happening with case 1 than what is described in the issue.

The error message you got (`failed to install release: no objects visited`) is actually coming from the Helm libraries [here](https://

[2020-04-06 16:46] aneeshkp commented on #2759
@tima I will send you an email with a link to a google doc, where we can discuss the approach we have in mind and see if its feasible solution.
@fabianvf  I would like to try helm_cli  modules from the PR  you posted, Do you have any link to readme document on how to use it?

[2020-04-06 18:13] estroz commented on #2648
/cc @fabianvf

[2020-04-06 18:21] jberkhahn commented on #2655
Hey, just checking in on this issue. We would like if you could post more specific information about your exact usecase. If you could share the exact state change you're hoping to monitor, or provide us with some code examples for what you're doing that would be great.

[2020-04-06 18:31] estroz commented on #2774
/assign @ryandgoulding

[2020-04-06 18:31] estroz commented on #2774
@ryandgoulding can you link your PR here? Thanks!

[2020-04-06 18:40] estroz commented on #1770
Person to help triage this issue: @fabianvf

[2020-04-06 18:43] estroz commented on #2108
Person to contact: @fabianvf

[2020-04-06 18:44] estroz commented on #2142
/lifecycle frozen

[2020-04-06 19:21] fabianvf commented on #2726
Adding the `--type` override is actually a little trickier than expected, since there are no guards in place in our code specifying the wrong type seems to lead to a segfault most of the time. This means adding it is a much bigger undertaking than initially anticipated. I vote we punt adding the `--type` override until it's explicitly requested, and close this one out with better Ansible detection

[2020-04-06 19:38] odra opened #2788 "Ansible operator PVC creation and neverending reconcile loop"
## Bug Report

**What did you do?**
I am creating a PVC resource in ansible using its native `k8s` module.

[code]

**What did you expect to see?**
The CR condition status to be finished and waiting for the next reconcile loop/event.

**What did you see instead? Under which circumstances?**

The reconcile loop never finishes and stays on "running" state forever even though both PVC and PV status a

[2020-04-06 20:53] tima commented on #2759
@aneeshkp https://github.com/ansible-collections/kubernetes/pull/61

[2020-04-06 21:07] jsm84 commented on #2622
@joelanford  we have a partner seeking operator certification that is also seeing case #2. In their particular case, the chart installs and also renders fine using helm3. Putting the same chart into an operator yields case #2, which we believe is when the deployment templates get rendered.

The following conditional code appears to be tripping up the helm-operator:

[code]

The chart name is `k10`

[2020-04-06 22:03] camilamacedo86 opened #2790 "Replace the usage of `gopkg.in/yaml.v3` for `sigs.k8s.io/yaml`"
What ?
- Replace the usage of `gopkg.in/yaml.v3` for `sigs.k8s.io/yaml`

Why?
- Just to place is requiring the `gopkg.in/yaml.v3` and then, we can use the module `sigs.k8s.io/yaml` which is already used in the project instead of.

Where?
- pkg/ansible/watches/watches.go
- pkg/helm/controller/controller.go

Notes: After the PR https://github.com/operator-framework/operator-sdk/pull/2786/files# will

[2020-04-06 22:35] camilamacedo86 commented on #2788
Hi @odra,

Shows that some error in the task (role/playbook) has been faced and because of this the reconcile is retrigged and kept running which is the expected behaviour. Then, if you check the CR status you will be able to check the error and the reason for the reconcile has been re-trigged.

**Example**

<img width="706" alt="Screenshot 2020-04-06 at 23 17 20" src="https://user-images.githubus

[2020-04-07 08:48] xauthulei opened #2793 ""msg": "TemplateNotFound"
## Bug Report

**What did you do?**

In my based k8s secret template, I want to include another template `jupyterhubDockerhubconfigjson.j2` (Even if they are in same directory will failed again with same error):
[code]
And, in my role task:
[code]
and it reported this error:
[code]
"Li4vdGVtcGxhdGVzL2h1Yi9qdXB5dGVyaHViRG9ja2VyaHViY29uZmlnanNvbi5qMg==" will be
`../templates/hub/jupyterhubDockerhubc

[2020-04-07 10:23] odra commented on #2788
There are no ansible playbook errors, the pvc is bound as expected but it just keeps running and never finishes.

The cr does not show any kind of errors in the conditions list:

[code]

I 've updated the operator-sdk cli to `v.0.16.0` and migrated it to use the new container but the problem presists.

[2020-04-07 10:49] xauthulei commented on #2793
After some testing, I change the **include** liking this without `b64encode` :
[code]
output (seems it could find the template `jupyterhubDockerhubconfigjson.j2` )
[code]
However, I add the `b64encode` , it will get the error again :
input:
[code]
output
[code]

How could I encode the json configure here ? Thanks

[2020-04-07 10:52] metacosm commented on #2770
Should this be part of operator-framework/enhancements instead?

[2020-04-07 11:24] camilamacedo86 commented on #2788
Hi @odra,

Could you please the following information?

- The content of the build/Dockerfile of your project for we are able to check it.
- Enable the Ansible debug logs with the env var `ANSIBLE_DEBUG_LOGS` in the operator.yaml file as done [here](https://github.com/operator-framework/operator-sdk-samples/blob/master/ansible/memcached-operator/deploy/operator.yaml#L40) in the Ansible Mencache ex

[2020-04-07 11:39] odra commented on #2788
Dockerfile:
[code]
Logs: https://gist.github.com/odra/09c0991de02bbf67df4cae00a61b4ea7

[2020-04-07 11:58] odra commented on #2788
I've created a sample repository which creates a pvc and replicates the error: https://github.com/odra/pvc-operator

[2020-04-07 11:59] odra commented on #2788
lol looks like the sample repository works ^:O

[2020-04-07 13:18] odra commented on #2788
I noticed that the status is updated as "completed" but it then starts the reconcile loop right after that, as if something changed.

[2020-04-07 13:32] odra commented on #2788
quick question: how does the ansible operator decides that it should run again? is it based on the "changed" status from the run?

[2020-04-07 13:50] cacois opened #2795 "Subresource status failing to stop infinite loop"
## Bug Report

**What did you do?**
A clear and concise description of the steps you took (or insert a code snippet).

As documented [here](https://www.openshift.com/blog/kubernetes-operators-best-practices), in order to avoid CR status changes causing an infinite loop of the reconcile() function, we should make the `status` block a subresource, following steps outlined [here](https://book-v1.book

[2020-04-07 13:52] odra commented on #2788
OK I found the issue, the playbook was creating a self signed cert on every play which resulted in a secret getting update every time.. not an operator issue.

Closing it.

[2020-04-07 13:52] #2788 closed

[2020-04-07 14:00] mikeshng opened #2796 "Helm Operator's status.deployedRelease.manifest output formatting"
## Type of question

The Helm Operator status.deployedRelease.manifest output formatting changed from version `0.12` to `0.16`

Is this because of different `helm` import versions and this is WAD?

## Question

**What did you do?**
Using version `0.16`, I created a helm operator
[code]

**What did you expect to see?**
After a successful deployment, when I run `kubectl get NginxIngress -o yaml` I s

[2020-04-07 14:07] thesunnysky opened #2797 "operator leader election failed when the node of current leader shutdowns unexpectedly"
## Bug Report

**What did you do?**
my operator runs in cluster with replicas is 3,  when the node of current leader shutdowns unexpectedly,  I expected  one of the else two operators will take the leadership and become new leader, but what i had seen is that none of the else two operators take the leadership and become new leader;

**Environment**
* operator-sdk version:
operator-sdk version: v0.

[2020-04-07 14:26] akoserwal opened #2798 "[GetGVKsFromAddToSchem] Identify better ways to handling metrics filter for third-party API's and/or CRD which are cluster scoped."
## Feature Request

[user-guide: default-metrics-exported-with-3rd-party-resource](https://github.com/operator-framework/operator-sdk/blob/master/doc/user-guide.md#default-metrics-exported-with-3rd-party-resource)

Current documentation has gaps in understanding about the implementation to handle third party API schemas and their dependent schemas not registered with the manager. Also, I suspect t

[2020-04-07 15:01] joelanford commented on #2798
@akoserwal For the sake of completeness (and for others having similar problems), can you describe the problem you're having?

I do think this section is slightly confusing. `GenerateAndServeCRMetrics` creates metrics about instances of each of the GVKs passed in, in the set of namespaces passed in. It's been awhile since I've personally looked at this, but IIRC, kube-state-metrics will do a `List

[2020-04-07 15:03] joelanford commented on #2798
Oh and lastly, what does your `role.yaml` file look like? Have you added `list` rules for each of the GVKs that is being passed into `GenerateAndServeCRMetrics()`?

[2020-04-07 15:06] bharathi-tenneti commented on #2622
@jsm84  Can you please recheck the charts link from above, will try to reproduce.

[2020-04-07 15:22] bharathi-tenneti commented on #2796
/assign

[2020-04-07 15:24] bharathi-tenneti commented on #2796
@mikeshng Not able to reproduce , please see below log
[code]

[2020-04-07 17:05] estroz commented on #2770
@metacosm thanks for bringing up these projects and the meta-issue of adding operator utilities to the SDK. If there are specific bits from a project that someone finds useful they should make a PR against the relevant operator-framework repo, ex. the SDK.

I would say an enhancement proposal is warranted if the contribution is a substantial chunk of/an entire repo. Did you have any specific featu

[2020-04-07 17:10] #2726 closed

[2020-04-07 17:11] camilamacedo86 commented on #2798
HI @akoserwal,

After spoke with @joelanford about it I also agree that  #2794 would not be the best approach.

So, may the possible solution here is to improve the docs as joe describe above and then we can :

- Clarify how to customize the filter in the docs by providing some example such as https://github.com/3scale/3scale-operator/blob/master/cmd/manager/main.go#L240
- Add the info regards the

[2020-04-07 17:13] akoserwal commented on #2798
Operator: https://github.com/teiid/teiid-operator

Issues I got when I try to update the service monitoring and metrics code generated by the operator-sdk(v15 or v16)

Errors:
[code]
Many more similar to above for different resources.

[role.yaml](https://github.com/teiid/teiid-operator/blob/master/deploy/role.yaml)

[2020-04-07 17:30] joelanford commented on #2798
@akoserwal For the types in those error messages, are you intending to generate metrics for them? Or are you trying to figure out how to tell operator-sdk NOT to generate metrics for them so that those errors stop?

Where in your code are you calling `GenerateAndServeCRMetrics()`?

[2020-04-07 17:33] akoserwal commented on #2798
we revered the change: https://github.com/teiid/teiid-operator/commit/eb86d2f7d9c8df62b4b240e8aa8a895c515d4200

This case for now: "NOT to generate metrics for them so that those errors stop?"

[2020-04-07 17:34] metacosm commented on #2770
I’ve started doing a comparative analysis of the different projects to see where they converge and what different things they cover. Depending on what might make sense for inclusion, it might end up being significant or not…

[2020-04-07 17:41] #2797 closed

[2020-04-07 17:56] mikeshng commented on #2796
@bharathi-tenneti Thanks for your reply. I am only referring to the `status.deployedRelease.manifest` field. Please see below.

[code]

[2020-04-07 18:07] bharathi-tenneti commented on #2796
Please see
[code]

[2020-04-07 18:39] jsm84 commented on #2622
@bharathi-tenneti Sorry about that. That link is a helm repo, and not browser accessible.

The following helm commands will add the repo, and then fetch the chart in tar.gz format:

[code]

[2020-04-07 18:56] mikeshng commented on #2796
That's strange. Could you please give me your outputs for the following?
[code]

[2020-04-07 19:20] bharathi-tenneti commented on #2796
[code]
[code]
[code]
[code]

[2020-04-07 19:23] Rulox opened #2801 "StackTrace is showing $GOPATH (trimpath not working?)"
## Bug Report

**What did you do?**
Built the operator using `operator-sdk build image:tag` and deployed in a crc cluster. (operator srcs https://github.com/nginxinc/nginx-ingress-operator)

The errors in the `stacktrace` are showing my local GOPATH

[code]

**What did you expect to see?**
$GOPATH trimmed

**What did you see instead? Under which circumstances?**
The $GOPATH when the log shows an e

[2020-04-07 19:46] joelanford commented on #2770
I think we can collect the feature additions relevant to SDK here for now. Maybe just keep a running checklist in the description of features we want to consider for inclusion?

Two other important points that are relevant here:
1. We're working on integrating with Kubebuilder, which will result in `operator-sdk` using Kubebuilder project layouts for Go operators. If any of the features are relate

[2020-04-07 19:47] bharathi-tenneti commented on #2622
@jsm84 What is your helm version and sdk version?

[2020-04-07 19:53] mikeshng commented on #2796
Thanks. I will close this for now.

[2020-04-07 19:53] #2796 closed

[2020-04-07 21:59] depohmel commented on #2622
helm chart is helm2
sdk is 0.15.2 (0.16.0 requires h3 chart)

this chart works find with helm3 and helm2

[2020-04-07 22:16] joelanford commented on #1975
Re-opening for discussion since this has some new activity.

I think we’re unlikely to accept patches to build this into the SDK CLI. We recently deprecated and removed support for Go openapi code generation and started directing folks to use `openapi-gen` directly.

If think it follows that we would make a similar suggestion for client generation.

Ping @estroz

[2020-04-07 22:28] estroz commented on #1975
@joelanford @mkimuram we could add a section about generators with links in the user guide for Go operators.

[2020-04-07 22:37] estroz commented on #1975
I think we can punt on this for now since generators are generally well-known. See https://github.com/operator-framework/operator-sdk/pull/2803#issuecomment-610645354.

[2020-04-07 22:37] #1975 closed

[2020-04-08 02:01] thesunnysky commented on #2797
Use Leader-with-lease election may fix this problem:
https://docs.openshift.com/container-platform/4.1/applications/operator_sdk/osdk-leader-election.html

[2020-04-08 03:29] joelanford commented on #2622
Really? If so, that was an unexpected breakage. Do you have details?

[2020-04-08 05:33] depohmel commented on #2622
Unfortunately yes, it looks for Charts.lock with is available only in helm 3 since requirements were moved to Chart.yaml. I can create the issue tomorrow with details.

[2020-04-08 10:34] metacosm commented on #2770
OK, should I add my findings as comments here? Note, however, that I'm the author of one of these libraries so I am not without bias :)

OK, good to know. Wasn't aware of these efforts and have to admit that I'm not familiar with kubebuilder at all… but it does indeed make sense to include the functionality at the right level.

[2020-04-08 11:56] akoserwal commented on #2798
Errors stopped after the grant all permissions to the resources, not just with verbs [list, watch].

[2020-04-08 12:26] raffaelespazzoli commented on #2798
I'm seeing this error too. And I can confirm that is not permission related as it can be reproduced even with cluster-admin role.

[2020-04-08 13:08] davesargrad commented on #2785
I did figure out how to run in the debugger, and hand it the proper configuration:

![image](https://user-images.githubusercontent.com/48793689/78787498-6f62be00-7978-11ea-956b-aa2af5180a70.png)

[2020-04-08 13:17] davesargrad opened #2804 "How does one generate human readable documentation for the API's registered through the operator-sdk"
## Feature Request
How do I generate documentation (either in html, or md) of the CRD API's that I create using the operator sdk?

It would be nice to see this clearly documented within the operator-sdk documentation.

Proper html documentation might look like the apis found within the [ K8S documentation](https://kubernetes.io/docs/reference/generated/kubernetes-api/v1.18/), for example [this ](h

[2020-04-08 14:23] camilamacedo86 commented on #2798
HI @raffaelespazzoli  and @akoserwal,

Note that some OCP APIs has NOT the Watch and List verbs that are required for kubemetrics be able to List and to Watch the resources to generate the metrics from them in the specified namespaces.

**Example**

See that the ImageStreamTags is not implementing the watch which would be important to observe changes in this resource as well.
[code]

So the GKV of

[2020-04-08 14:56] raffaelespazzoli commented on #2798
@camilamacedo86 I admit I am not fully following the discussion here. But I am not trying to do anything special with `GetGVKsFromAddToScheme`. I am writing a normal operator that uses a few OCP resources. That's all I do and I get all of those errors. When I remove metrics, I stop receiving those errors. Btw, I am not using resources from the `image.openshift.io` api domain. I'm using apis from t

[2020-04-08 15:02] akoserwal commented on #2798
@camilamacedo86: This makes sense now.

Points of confusion

1) About the setting the role's permissions correctly and passing ALL these OCP values to the kubemetrics implementation?

- "kubemetrics.GenerateAndServeCRMetrics function requires an RBAC rule to list all GroupVersionKinds in the list of watched namespaces, ":

This implies that we need to add the verb "list" to the resource defined in

[2020-04-08 15:38] mithuns opened #2805 "More documentation required around Unit testing with Operator SDK"
## Type of question

**how to implement a specific feature**
Unit testing with 3rd party objects being created in reconcile function.
How to mock out such objects.

## Question

**What did you do?**
Tried following this
https://github.com/operator-framework/operator-sdk/blob/master/doc/user/unit-testing.md#testing-with-3rd-party-resources

**What did you expect to see?**
Be able to mock out a thir

[2020-04-08 17:17] camilamacedo86 commented on #2805
Hi @mithuns,

It is hard with the information provided and without any context over your project knows exactly what you are trying to test. However, note that you need to use the [fake client](https://godoc.org/sigs.k8s.io/controller-runtime/pkg/client/fake) to perform the tests.

By looking at your code example It shows not like the example and accurate since it is not using the fake client. See

[2020-04-08 18:04] camilamacedo86 commented on #2798
HI @raffaelespazzoli,

Note that:
- This scenario can just/only be faced when third-party APIs schemas are added on the projects
- The usage of third-party API's is not mandatory for Operator's projects works in the specific cluster vendors.

So, what I am trying to clarify here is that:

- IMO the default metrics helper provided will attend perfectly well the most common scenarios and users as th

[2020-04-08 18:05] joelanford commented on #2798
The other key here is that `GetGVKsFromAddToScheme` is a convenience helper function that makes it easier to get your operator's GVKs from the existing registration functions.

However, if those registration functions are pulling in a bunch of other GVKs you don't care about, it is totally reasonable to skip using `GetGVKsFromAddToScheme()` and manually construct the list of GVKs to pass them into

[2020-04-08 18:12] depohmel opened #2806 "0.16.0 requires helm chart to be helm 3 chart"
## Bug Report

**What did you do?**
```operator-sdk new``` for helm2 chart version with dependencies

**What did you expect to see?**
don't excpect operator to be created without errors

**What did you see instead? Under which circumstances?**
I see the error:
[code]

**Environment**
* operator-sdk version:
```operator-sdk version: "v0.16.0", commit: "55f1446c5f472e7d8e308dcdf36d0d7fc44fc4fd", go

[2020-04-08 18:13] depohmel commented on #2622
FIled https://github.com/operator-framework/operator-sdk/issues/2806

[2020-04-08 18:33] raffaelespazzoli commented on #2798
@camilamacedo86 I am still confused on what is the right thing to do to make the error go away. As I said I import these APIs:
[code]
for my operator exactly with the method described by this article: [How to use third-party APIs in Operator SDK projects](https://developers.redhat.com/blog/2020/02/04/how-to-use-third-party-apis-in-operator-sdk-projects/). Yet I'm getting this error.
I'm not gettin

[2020-04-08 18:48] camilamacedo86 commented on #2798
HI @raffaelespazzoli,

As described above

Then, the suggested solution is to customize your metrics implementation as described in the [doc](https://github.com/operator-framework/operator-sdk/blob/master/doc/user-guide.md#default-metrics-exported-with-3rd-party-resource).

Note that `filteredGVK` should have just the Operator's GKV's in your scenario.  And then, as shared some example over how yo

[2020-04-08 18:52] camilamacedo86 commented on #2084
/remove-lifecycle rotten

[2020-04-08 18:52] camilamacedo86 commented on #2084
/assing @camilamacedo86

[2020-04-08 19:57] bharathi-tenneti commented on #2622
@depohmel Can you please try this repo for SDK, and let us know if it fixes Case 2 for you?
https://github.com/bharathi-tenneti/operator-sdk/tree/issue%232622

[2020-04-08 23:15] raffaelespazzoli commented on #2798
@camilamacedo86 I think I get it now. here is what my code looks like:
[code]
just reporting a small fragment. The rest is the same as the one in the provided 3scale example.
Yet I am still getting the error...

[2020-04-09 00:15] depohmel commented on #2622
@bharathi-tenneti  i hope ecerytihg right to build operator-sdk and package it
but i still getting ```2020-04-09T00:10:33.996Z	DEBUG	predicates	Reconciling due to dependent resource update	{"name": "prometheus-server", "namespace": "kasten", "apiVersion": "v1", "kind": "PersistentVolumeClaim"}
2020-04-09T00:10:38.214Z	ERROR	helm.controller	Failed to run release hook	{"namespace": "kasten", "name":

[2020-04-09 00:30] depohmel commented on #2622
@bharathi-tenneti  i'm getting this error, right after fully rendered chart
[code]

[2020-04-09 00:32] camilamacedo86 commented on #2798
HI @raffaelespazzoli,

Note that you should pass just the operator's GKVs to the `GenerateAndServeCRMetrics`. Also, you need to ensure that your operator has the required permissions to watch/list them. So, if this information is not enough for you sorted it out, I'd kindly ask for you raise a new issue providing all information as the error faced, your main.go implementation, roles and as the ste

[2020-04-09 00:33] depohmel commented on #2622
good news that I can see Deployments in logs now.

[2020-04-09 01:25] raffaelespazzoli opened #2807 "getting Failed to list *unstructured.Unstructured: the server could not find the requested resource"
## Bug Report

When I activate metrics, I constantly get this error:
[code]

I believe this issue is related to #2798 . And I am following the guidance provided in that issue (or at least I think I am).

my serveCRMetrics looks like:

[code]

When the container starts it prints:
[code]
and naturally I have permissions on that resource because is the main resource managed by this operator.

Notice

[2020-04-09 01:41] bharathi-tenneti commented on #2622
@depohmel Great, so did I understand correctly, that your issue is  getting fixed when you use SDK repo from thins branch?
https://github.com/bharathi-tenneti/operator-sdk/tree/issue%232622

[2020-04-09 01:49] depohmel commented on #2622
Yes, one of them :) there is still another error :(

[2020-04-09 02:05] raffaelespazzoli commented on #2807
I'm also getting this error message in the log:
[code]
this is weird because my operator is cluster scoped so the namespace should be empty.
perhaps here the code should pass the namespace in which the operator is running rather than the namespace that the operator is watching.

[2020-04-09 02:12] joelanford commented on #2806
I think you're running into this: https://github.com/helm/helm/issues/7464

I can confirm that this issue is fixed on `master` (where we've bumped to v3.1.0 with the kubernetes 1.17 changes).

Unfortunately it doesn't seem like there is a Helm release that fixes it before the Kubernetes deps are bumped to 1.17, so I don't think there's a fix we can make in to backport to v0.16.1.

As a workaround,

[2020-04-09 02:14] joelanford commented on #2622
@depohmel That seems like a completely separate issue. Can you file a separate GitHub issue for that one?

[2020-04-09 02:19] camilamacedo86 commented on #2807
HI @raffaelespazzoli,

So, could you please let us know:

1. Have you applied the CRD before you started up the operator? See that the error is `the server could not find the requested resource` What is the result of `kubectl get customresourcedefinition -n <namespace>`?
2. What is the scope of this CRD? What is the info [here for an example](https://github.com/operator-framework/operator-sdk-samp

[2020-04-09 02:30] camilamacedo86 commented on #2807
HI @raffaelespazzoli,

The error:

Was fixed for the latest version of the SDK (0.16). You can get it by just updating your code in the main.go. See the [CHANGELOG](https://github.com/operator-framework/operator-sdk/blob/master/CHANGELOG.md#bug-fixes-1):

Following the steps for you are able to fix it.
- Do the step [Bug Fixes and Improvements for Metrics](https://github.com/operator-framework/ope

[2020-04-09 06:41] loxley commented on #2490
I am also hitting this, only setting GOROOT as described by @joelanford works.

However operator-sdk v0.13.0 works without a problem(which was the version I used before testing the v0.16.0 version).

I am also pretty sure I never set GOROOT in my environment when using the v0.13.0. So what has changed?

[2020-04-09 09:38] grdryn commented on #2490
@loxley the most bizarre thing is that for me it was v0.15.0 that worked fine, and for you it was v0.13.0. :shrug:

I wonder if it's some similarity to the environment in which it was built -- e.g. I use Fedora 31, the same as jmccormick2001 built v0.15.0 on. Maybe your local environment is similar to that of whoever built v0.13.0?

In any case, explicitly setting GOROOT seems to be the only consi

[2020-04-09 10:39] raffaelespazzoli commented on #2807
@camilamacedo86 with regards to your questions:
`Have you applied the CRD before you started up the operator? See that the error is the server could not find the requested resource What is the result of kubectl get customresourcedefinition -n <namespace>?`

yes I have executed all the prerequisites and the operator is working fine with respect to its business logic.

`What is the scope of this CRD

[2020-04-09 10:48] camilamacedo86 commented on #2807
Hi @raffaelespazzoli,

CRD cluster scoped has not the namespace metadata info and will NOT work with the default metrics implementation and then, because of this, your checking `resource not found`. The default kubemetrics will look for the GVK in the namespaces informed.

The same scenario discussed in the https://github.com/operator-framework/operator-sdk/issues/2707. The feature provide cannot

[2020-04-09 11:05] raffaelespazzoli commented on #2707
Not sure I'm fully following the discussion here because I don't know the internals of the `serveCRmetrics` implementation. Anyway I wanted to add that it should be possible to handle this case.
In fact given a gvk, it's possible to introspect it and discovered if it is namespaced or not using the discovery api ("k8s.io/client-go/discovery"). Then if it's namespaced construct the query using the p

[2020-04-09 11:31] camilamacedo86 commented on #2807
Hi @raffaelespazzoli,

I am closing this one as sorted out. Following the summary.

### Error `Could not create ServiceMonitor object","error":"an empty namespace may not be set during creation`.

- Solved for all projects built with 0.16 or upgraded to this version by following the migration guide. - It is the same scenario of #2602
- The steps required to let you know how to solve it in your pro

[2020-04-09 11:37] camilamacedo86 commented on #2805
HI @mithuns,

I think we could provide all information required and examples that can help you with. So, I am closing this one and please feel free to contribute by doing a PR if you see that something could be added in the docs in order to address better this subject.

Also, feel free to ping us to re-open this one if you see that it is required.

[2020-04-09 11:37] #2805 closed

[2020-04-09 13:26] joelanford commented on #2807
@camilamacedo86 I could be wrong, but I'm tracing through the code and I don't think it works for operators that are watching all namespaces because there's no way to tell `GenerateAndServeCRMetrics()` to generate metrics for all namespaces. It looks like it requires an explicit list of namespaces.

Passing just the operator namespace into that function will result in kube-state-metrics only being

[2020-04-09 15:18] joelanford opened #2811 "Meta issue: Improvements for metrics packages and helpers"
There have been several bug reports, feature requests, and questions posted recently that bring into focus the fact that the SDK packages and helper functions for generating metrics are in need of some attention.

So far the major themes I've seen are:
- [ ] Need to have clear delineation between when the operator namespace is required vs when the watch namespaces are required.
- [x] Need to suppo