[2020-09-08 23:03] Doout opened #3863 "Operator-sdk run packagemanifests does not work on Openshift"
## Bug Report

#### What did you do?
Nothing

#### What did you expect to see?
Operator deploy with `run packagemanifests`

#### What did you see instead? Under which circumstances?
Pod crashloopbackoff with the following log
[code]

#### Environment

**Operator type:**

**Kubernetes cluster type:**

`$ operator-sdk version`
Latest version

`$ go version` (if language is Go)

1.14.x

`$ kubectl ve

[2020-09-08 23:41] camilamacedo86 commented on #3863
c/c @joelanford

[2020-09-09 00:40] drewwells commented on #1335
This would be a great addition to the docs. Alternatively, the word "core" could ensure resource does not get created.

[2020-09-09 06:10] tomqwpl commented on #3858
I think we're talking at cross purposes in terms of namespace scoped CRDs. I understand that I can define a CRD with "scope=namespace" such that the CRs that you create are themselves namespaced. So I can define a new resource type in kubernetes "Cheeses" so that when I create an instance of a Cheese it will be within a namespace. That's not what I'm talking about.
I'm talking about this: https://

[2020-09-09 06:10] #3858 closed

[2020-09-09 09:56] arivatibm opened #3865 "How to watch all CRs with a specific label?"
## Type of question

<-- General operator-related help -->

## Question: How to watch all CRs with a specific label?

#### What did you do?

could not find documentation on how to watch all CRs that have a specific label

#### What did you expect to see?

Documentation about this feature

#### What did you see instead? Under which circumstances?

I found this issue - but not sure it is related: ht

[2020-09-09 14:55] wzhanw commented on #3846
Hi @faust64, thank you, your suggestion is very helpful.

[2020-09-09 14:57] camilamacedo86 commented on #3846
HI @wzhanw,

I am closing this one. Shows that it was addressed properly already.
However, please feel free to ping us if you need and open new issues.

[2020-09-09 14:57] #3846 closed

[2020-09-09 14:58] wzhanw commented on #3846
@camilamacedo86 Thanks, it is clear and I took the solution provided by @faust64, it worked for me.

[2020-09-09 18:58] joelanford commented on #3863
Just posted #3867 to resolve this.

@Doout Can you test that PR?

[2020-09-09 22:25] #2728 closed

[2020-09-10 03:33] Doout commented on #3863
@joelanford No, I try something very similar to what you did and it fail on `registry-server` part.

Your PR also hit the same issue, I did not have time to look into what `registry-server` try to do but I assume it tries to open some file within the same folder

[code]

[2020-09-10 07:02] faust64 commented on #3857
Hi,

I am using the v1.0.0 image - as my Dockerfile would confirm. I haven't used the operator-sdk CLI in ages, don't trust its version, ...
The graph I'm providing shows memory usage during my first week of running v1.0.0.

Regards.

[2020-09-10 09:54] camilamacedo86 commented on #3857
Hi @faust64,

As described above see that you made customizations on the [Dockerfile](https://gitlab.com/synacksynack/opsperator/docker-operator/-/blob/master/Dockerfile#L20-47) and is not using the same versions of python and etc. See the issue faced in the past: https://github.com/operator-framework/operator-sdk/issues/2112.

Shows that in the past this problem was solved by using `openshift~=0.

[2020-09-10 11:18] #3840 closed

[2020-09-10 15:26] geerlingguy opened #3868 "Ability to use different 'stdout_callback' or set 'callback_whitelist' with Ansible"
## Feature Request

#### Describe the problem you need a feature to resolve.

I would like to debug the performance of my Ansible-based operator, and I want to try to track timing information for the tasks that are run by Ansible in my operator.

In general, when I do this with Ansible outside of an operator, I can add an `ansible.cfg` file to my project or in the default path `/etc/ansible/ansibl

[2020-09-10 15:40] drewwells commented on #2863
We're facing errors as well. Does operator-sdk work if it's a subdirectory inside a go module?

[2020-09-10 17:17] joelanford commented on #3739
@cheewaio we don't have 1.0.0 images posted, but this will be resolved in 1.1 with #3855

[2020-09-10 17:19] #3739 closed

[2020-09-10 17:58] fabianvf commented on #3868
@geerlingguy the output coming from the container log might not reflect the configuration you provide, as there's a few levels of indirection between the binary, ansible-runner and ansible. The profiling information may show up on the filesystem where runner stores the stdout though, that should be located in `/tmp/ansible-operator/runner/{g}/{v}/{k}/{namespace}/{name}/artifacts/latest/stdout` (wh

[2020-09-10 18:05] geerlingguy commented on #3868
@fabianvf - Ah, perfect! It looks like my custom `ansible.cfg` is getting picked up after all!

I looked at the file `/tmp/ansible-operator/runner/cache.example.com/v1alpha1/Memcached/default/memcached-00/artifacts/latest/stdout` inside the operator manager container, and it had the timings in it:

[code]

[2020-09-10 18:07] #3868 closed

[2020-09-10 18:08] geerlingguy commented on #3868
Just leaving a reciprocal link to the repo where I'm working on this: https://github.com/geerlingguy/operator-sdk-performance-testing/issues/14

[2020-09-10 18:17] geerlingguy commented on #2358
As I'm working on debugging Ansible performance with operators, I'm finding that fact gathering, at least for simple playbooks, adds 30% overhead to each reconciliation for a given CR.

I think we should disable fact gathering by default for role-based operators, and ideally offer a setting/configuration value so people can enable it if needed (the use case for that is very slim IMHO unless we sta

[2020-09-10 18:56] ccgagnon opened #3870 "RHSA-2020:3658 vulnerability found in Helm operator docker image 1.0.0"
## Bug Report

#### What did you do?
Scanning the Docker image with Snyk and got High vulnerabilities

#### What did you expect to see?
No vulnerabilities

#### What did you see instead? Under which circumstances?
librepo package versions <0:1.11.0-3.el8_2 affects the current image https://quay.io/repository/operator-framework/helm-operator/manifest/sha256:a6e23dc4f9a14253f2b13c4a1aa4fb1fc116ed347

[2020-09-10 21:34] jmrodri commented on #3760
@asmacdo

[2020-09-11 12:28] hedeesaa commented on #1870
I followed steps defined in the Doc but I the it didnt work properly. I get this error from operator:
[code]

[2020-09-11 12:46] #3863 closed

[2020-09-11 20:22] jberkhahn opened #3871 "e2e tests wont run locally"
## Bug Report
the e2e tests will not run locally unless I add [these two lines](https://github.com/operator-framework/operator-sdk/blob/4fe0e7316150cfe02d38d83debeba9dc0420cf8a/hack/tests/integration.sh#L21-L22) before the call to setup_envs in the script that the Makefile task I'm running is shelling out to. This isn't documented anywhere so it's very confusing if you don't know to do this. Accor

[2020-09-11 20:54] joelanford commented on #3871
I _think_ I see what the problem might be.

In CI, we always run `make setup-k8s` which invokes [`./hack/ci/setup-k8s.sh`](https://github.com/operator-framework/operator-sdk/blob/master/hack/ci/setup-k8s.sh) before running tests. This file cleans up the staging directory, downloads all the necessary binaries (envtest, kind, kubectl) for the test, then sets up kind/kubectl.

In [`./hack/test/e2e-go

[2020-09-11 21:23] dbainbri-ciena opened #3872 "Custom column output that combines struct values"
## Type of question

Best practices
How to implement a specific feature

## Question

#### What did you do?

for `kubebuilder:printcolumn` I would like to combine several fields from a sub-resource. I tried several things including

JSONPath="{.spec.Sub.Foo}/{.spec.Sub.Bar}" // which works with `kubectl -o jsonpath`, but is rejected when i do a `make` as not "simple"

JSONPath="{.spec.Sub.*}" // a

[2020-09-11 21:39] joelanford commented on #3872
The `kubebuilder:printcolumn` marker is used to populate the CRD's [`spec.versions.additionalPrinterColumns` fields](https://kubernetes.io/docs/tasks/extend-kubernetes/custom-resources/custom-resource-definitions/#additional-printer-columns).

The underlying tool that's used to generate the CRD (controller-gen) is populating the `spec.versions.additionalPrinterColumns.jsonPath` field from the mark

[2020-09-11 22:24] dbainbri-ciena commented on #3872
confirmed that this error is coming when `kubectl apply -f` is being called, so not related to operator-sdk. i wonder if you can added a customer "format" to manage this. sort of disappointing if you can't somehow customize this.

[2020-09-11 22:24] #3872 closed

[2020-09-12 01:16] camilamacedo86 opened #3873 "Helm RBAC roles scaffolded are not idempotent"
## Bug Report

#### What did you do?

Generate the Helm Sample using the [script](https://github.com/operator-framework/operator-sdk-samples/blob/master/helm/.generate/gen-helm-memcached.sh) with a Kind cluster up and without a cluster running.

#### What did you expect to see?

- I would expect to see more roles when the plugin is able to get a kubeconfig than when it is NOT.
- I would expect to

[2020-09-12 01:21] camilamacedo86 commented on #3873
c/c @joelanford

[2020-09-12 04:03] joelanford commented on #3873
When there isn't a cluster available, the role generator will use the [default ruleset](https://github.com/operator-framework/operator-sdk/blob/4fe0e7316150cfe02d38d83debeba9dc0420cf8a/internal/plugins/helm/v1/scaffolds/internal/templates/config/rbac/manager_role.go#L171-L204), which is fairly broad in order to allow most charts that use built-in APIs to work without further modification.

When th

[2020-09-12 04:13] joelanford commented on #3872
@dbainbri-ciena [This issue](https://github.com/kubernetes/kubernetes/issues/67268) seems to be the closest I can find to discussion about what you're asking for. It looks like there was some appetite for improvement here, but so far no one has pushed this along.

[2020-09-12 06:35] prafull01 commented on #3771
/assign

[2020-09-12 08:11] prafull01 commented on #3771
Waiting for #3499 PR to be merged, so that all the tests can be fixed horizontally.

[2020-09-12 12:48] joelanford commented on #3771
I think this can be improved further to `Expect(podNames).To(HaveLen(1))`

[2020-09-12 14:04] camilamacedo86 commented on #3873
Hi @joelanford

Thank you for your reply. Following some comments:

**Keep the `NewDiscoveryClientForConfig ` based on (see [principle of least privilege](https://en.wikipedia.org/wiki/Principle_of_least_privilege)) shows go against the strattgey adopted **

If we are following the [principle of least privilege](https://en.wikipedia.org/wiki/Principle_of_least_privilege)) why we would grant cluste

[2020-09-12 14:40] prafull01 commented on #3771
Sure @joelanford , I will take care of that :)

[2020-09-13 13:23] danielc103 opened #3875 "Dynamically set namespaced in Golang example"
## Type of question

Best practices
How to implement a specific feature

## Question

#### What did you do?

Followed instructions on https://sdk.operatorframework.io/ to setup Golang memcached-operator.  I want to dynamically set namespaced operator scope.  Following the instructions I created the helper function and modified the `manager.yaml` as described and modified the `role.yaml` and `role_

[2020-09-13 16:12] pradeepnnv commented on #3862
Hi @camilamacedo86 , I would like to try fixing this issue.

[2020-09-13 17:10] camilamacedo86 commented on #3862
Hi @pradeepnnv,

It is very nice.  Please, feel free to push the PR and assign this issue to you. (To assign you just need to do a new comment with `/assign <your git hub name>`)

[2020-09-13 17:21] jensfr commented on #3862
Thank you, @pradeepnnv!

Camila Macedo <notifications@github.com> schrieb am So., 13. Sept. 2020,
19:10:

[2020-09-13 17:42] pradeepnnv commented on #3862
/assign pradeepnnv

[2020-09-14 00:05] dbainbri-ciena commented on #3872
Thanks. Appreciate the pointer. It does look like interest has faded.

[2020-09-14 13:28] joelanford commented on #3873
It seems like we could do this, but is generally unrelated to this issue.

We made a broader decision based on Kubebuilder defaults (and the fact that CRDs and webhooks are cluster-scoped objects) to default operator projects to be cluster-scoped. Given that decision, the principal of least privilege would direct us to give the operator the minimal set of permissions to enable it to do its job acr

[2020-09-14 13:29] joelanford commented on #3873
Closing since we can't make this change right now.

[2020-09-14 13:29] #3873 closed

[2020-09-14 14:10] jmrodri commented on #3871
I'd like the tests to possibly see if there's a cluster available for it to run. If not, possibly let the user know what they need. On CI, I think it is okay to always run `setup-k8s` but I don't want something to muck with my environment locally I already have a kind cluster running.

[2020-09-14 15:35] camilamacedo86 commented on #3871
Hi @jberkhahn,

We only need to have a Kind cluster running and the bins then, we can just run `make test-e2e-helm` for example.

Regards the error:

It is because the ENV TEST requires binaries. IMO we can solve it by;

- Adding a new target setup-local-e2e-env as suggested by @joelanford
- Then, properly documenting in https://sdk.operatorframework.io/docs/contribution-guidelines/testing/running

[2020-09-14 18:06] estroz commented on #3875
/language go

[2020-09-14 18:23] faust64 commented on #3857
Hi,

Note I don't pass any environment variable building my image: we're not going through any `if`.
I am only installing openssh and openssl:

[code]

[2020-09-14 18:26] estroz commented on #3865
https://github.com/kubernetes-sigs/controller-runtime/issues/244 is indeed related. Once that feature is proposed/implemented in controller-runtime, Go projects scaffolded by `operator-sdk` will support it. Since a corresponding issue exists upstream, I'm closing this one.

[2020-09-14 18:26] #3865 closed

[2020-09-14 18:36] joelanford commented on #3870
@ccgagnon We don't rebuild existing images upstream. We've added this to the v1.0.1 milestone, so this will be resolved when we release v1.0.1 (and the latest base image fixes are automatically pulled in).

[2020-09-14 18:58] camilamacedo86 commented on #3875
@estroz one of these steps required to be done manually. See that we have an issue open in KB regards this specific step: https://github.com/kubernetes-sigs/kubebuilder/issues/1496

[2020-09-14 19:06] danielc103 commented on #3875
[code]

Does changing the kubebuilder tag with namespace default "hard code" that default namespace into role and binding?

[2020-09-14 20:15] jberkhahn commented on #3871
Summary of comments from Sep 14 bug triage meeting:
- the tests (e2e or otherwise) need to be platform independent. this is a requirement
- the tests need to be run the same locally as in CI. this will probably help #1
- what make task runs/does should be made clear. currently there's a bunch of different test-related make tasks
- the docs should clearly spell out how to run the tests

[2020-09-14 22:00] estroz commented on #3875
@danielc103 it does, but when you run `make deploy`, `kustomize` will substitute that `Role`'s namespace with whatever is in your `config/default/kustomization.yaml`. You can set `namespace=default` for your purposes.

You will also have to update `config/default/role_binding.yaml` to bind your new `Role` by removing "Cluster" from the file (ex. `ClusterRoleBinding` -> `RoleBinding`).

If this wor

[2020-09-15 00:50] danielc103 commented on #3875
@estroz , @camilamacedo86  that worked, thank you.  I also some artifacts left over from earlier testing (didn't cleanup well).

[2020-09-15 00:50] #3875 closed

[2020-09-15 02:15] ccgagnon commented on #3870
Thank you @joelanford. Do you have an ETA to when 1.0.1 would be released?

[2020-09-15 12:32] camilamacedo86 opened #3878 "Cleanup after test e2e funcs for Ansible/Helm/Go"
#### Describe the problem you need a feature to resolve.

The goal of this task is to improve the  funcs which are called after the execution of the [e2e tests](https://github.com/operator-framework/operator-sdk/tree/master/test) we have such as https://github.com/operator-framework/operator-sdk/blob/master/test/e2e-go/e2e_go_cluster_test.go#L45-L71:

- See that we have operations that which the e

[2020-09-15 15:32] #3740 closed

[2020-09-15 20:05] drewwells opened #3880 "make manifest (controller-gen) ignores config kustomization.yaml"
#### What did you do?

1. modified config/crd/crd/kustomization.yaml to include commonAnnotations.
2. execute make manifests (which executes controller-gen)
3. see that CRDs were not updated to include mutations.

#### What did you expect to see?

I expected to see the output given this kustomize command which produces a slight variation of the CRD definitions.
[code]

#### What did you see instea

[2020-09-15 20:23] asmacdo opened #3882 "Netlify PR previews are failing"
## Bug Report

Created a PR with a docs change, but the docs builds fail https://github.com/operator-framework/operator-sdk/pull/3881

[2020-09-15 20:50] #3882 closed

[2020-09-16 20:03] AlperEnver opened #3889 "Unable to init project after upgrade to operator-sdk 1.0"
Upgraded from 0.17 to 1.0 of the operator-sdk today. I cannot init a new project and need to migrate my existing operator.

When I try to init a project so that I can migrate my old project I get the following error:

**FATA[0001] failed to initialize project with version "3-alpha": exit status 2**

if I do the following:

mkdir memcached-operator
cd memcached-operator
operator-sdk init --domain e

[2020-09-16 22:19] camilamacedo86 commented on #3889
Hi @AlperEnver,

The go version required to work with the tool is 1.13 and you are using an upper version which shows be the root cause of your issue.

[2020-09-16 22:50] AlperEnver commented on #3889
Thank you so much for your response. I really appreciate it.

Can I please ask why the version in the operator-sdk version above is "go1.14.7 darwin/amd64" and my go version is "go1.15.2 darwin/amd64"?

Also do I need to uninstall go and explicitly install 1.13? I assume the operator-sdk cannot support multiple version of go?

Thanks again!

[2020-09-16 23:19] camilamacedo86 commented on #3889
The operator-sdk uses and requires to go 1.13. When you run operator-sdk version it shows the version setup locally that will be used by it. Could you please remove all go version installed locally and ensure that you are using 1.13 to try again?

[2020-09-16 23:54] AlperEnver commented on #3889
Yes! I will let you know how it goes. Thanks again.

[2020-09-17 02:09] camilamacedo86 commented on #3839
in the bug triage meeting, it was discussed and then, shows that we also need to discuss if there's really a need for the custom test example at all in the Go as well. According to @joelanford `After all, the basic and olm tests are probably reasonable examples on their own.`

[2020-09-17 03:50] joelanford opened #3896 "Use `Expect(err).NotTo(HaveOccurred())` instead of `Expect(err).Should(Succeed())`"
_Originally posted by @hasbro17 in https://github.com/operator-framework/operator-sdk/pull/3895#discussion_r489929125_

[2020-09-17 07:17] DanielXLee commented on #3896
@joelanford can I take this issue?

[2020-09-17 07:20] a1046149428 commented on #3235
Is there any update for this issue?

[2020-09-17 11:19] camilamacedo86 commented on #3896
HI @DanielXLee,

Please, feel free to help with.

[2020-09-17 11:25] DanielXLee commented on #3896
Thanks @camilamacedo86
/assign DanielXLee

[2020-09-17 12:12] jmccormick2001 commented on #3839
The custom scorecard test was meant to be a small minimal starting point for people wanting to write this sort of custom test image, something they could grab and start using without any use of unexported sdk API code.

The only downside to having people start with the basic/olm tests that I can think of would be they would need to know what to chop out, there might be questions arise when they at

[2020-09-17 12:30] #3896 closed

[2020-09-17 13:50] abkieling opened #3900 "[Website] Link in Envtest Setup page is broken"
## Bug Report

#### What did you do?

1. Open the Operator SDK website
1. Navigate to the Envtest Setup page: https://sdk.operatorframework.io/docs/building-operators/golang/references/envtest-setup/
1. Click on "this script" link in the first paragraph

#### What did you expect to see?

I expected to see the script source

#### What did you see instead? Under which circumstances?

A "404: Not Fou

[2020-09-17 14:09] camilamacedo86 commented on #3839
Hi @jmccormick2001,

Let's just be sure that we are all on the same page.

My suggestion was to ADD the same tests one for GO with the custom image for Ansible/Helm. Then, in the bug triage meeting, @joelanford and @estroz raised the concern that we might not need to have the e2e for the custom scorecard tests at all and it does not need to be tested with another type as well.

So, since you are w

[2020-09-17 14:29] Imunhatep commented on #3859
I'm curious why not to update to go 1.14? is there any specific reason?

[2020-09-17 16:58] f41gh7 commented on #3235
I've decided to remove inherited open api scheme for kubernetes built-in objects from my crds.

  My motivation - it makes crd heavier. So, you cannot use kubectl apply -f crd.yaml for crd spec with few v1.Container fields. And some integrations breaks as well (operator-hub tests for instance).

[2020-09-17 18:38] AlperEnver commented on #3889
Hi, I installed go version 1.13 and was able to create/init my project and also create my api/controller. Thanks again for your help.

[2020-09-17 18:38] #3889 closed

[2020-09-17 22:23] camilamacedo86 commented on #3900
It is solved for master branch already. See: https://master.sdk.operatorframework.io/docs/building-operators/golang/references/envtest-setup/

It will get fixed when we release a new 1.0.X version.

Thank you for raise. 👍

[2020-09-17 22:23] #3900 closed

[2020-09-18 02:03] liqlin2015 opened #3911 "[helm operator] cluster resources were not cleaned up after a installation failure"
## Bug Report

Sometimes cluster resource like clusterrole, scc were not cleaned up after a installation failure

#### What did you do?

Tried to install by helm based operator in OCP 4.5 cluster. Sometimes the operator failed to install the helm release due to the failure that resource already exists. See the error from operator
[code]

#### What did you expect to see?

Helm release should be abl

[2020-09-18 03:40] joelanford commented on #3911
@liqlin2015 The Helm operator uses Helm's underlying installation, upgrade, and uninstall code to give users a familiar and predictable experience. As far as I know, Helm does not have a mechanism to allow adopting existing resources during installation. That would need to be a new feature added to Helm.

May I ask how those existing resources were initially created? Is this a situation where the

[2020-09-18 04:10] joelanford commented on #3839
@camilamacedo86 just for more context about my thought process here. We need to consider the context of each test, what the goal for the test is, and also ask what needs to be tested, and when. So in my mind:
1. e2e tests for the operator types are all about testing that a default scaffolded project works. Since the default scaffold includes the basic and olm tests, we should test those for each o

[2020-09-18 11:14] camilamacedo86 commented on #3839
I liked your idea @joelanford 👍 +1
The only thing that does not actually change the approach, but I'd like to know if we have the intention to scaffold the custom scorecard manifests by default on the projects? Or at least, for now, we have not.

[2020-09-18 12:32] jmccormick2001 commented on #3839
totally a good idea to try and move the custom scorecard sample to where and how the other samples are done...if that is the case, then you'd only have to scaffold custom scorecard configuration when running/testing those samples since most people building projects won't care to have custom scorecard configs.

[2020-09-18 12:47] camilamacedo86 commented on #3839
hI @jmccormick2001,

I think your comment `since most people building projects won't care to have custom scorecard configs.`  shows that answers my question too :-) we have no intention to scaffold the manifests by default in the projects.

[2020-09-18 14:11] joelanford opened #3912 "Centralize logic for scorecard CI image replacement"
We currently repeat the same image replacement code for the scorecard-test image in three places:
1. https://github.com/operator-framework/operator-sdk/blob/40e00a33280882c41689ca33cd2ee72b9e34cad7/test/e2e-go/e2e_go_suite_test.go#L109-L118
2. https://github.com/operator-framework/operator-sdk/blob/40e00a33280882c41689ca33cd2ee72b9e34cad7/test/e2e-ansible/e2e_ansible_suite_test.go#L107-L116
3. htt

[2020-09-18 14:12] mjovanovic0 opened #3913 "Negative integer default values for schema generation are generated as string literals"
## Bug Report

#### What did you do?

I want to generate OpenAPIv3 schema that has a field with default value of -1 (or any negative number).
This is probably bug within kubebuilder rather then operator-sdk.

In go struct I have following:

[code]

This will generate OpenAPIv3 schema as following:

[code]

Default value is setted as string literal instead of number when default value is negative v

[2020-09-18 14:19] prafull01 commented on #3912
/assign

[2020-09-18 14:41] camilamacedo86 commented on #3913
HI @mjovanovic0,

Thank you for raising that. See that this implementation came from the controller-tools and it has been addressed in the upstream/kubebuilder into the issue: https://github.com/kubernetes-sigs/kubebuilder/issues/1634.

Could you please try use `// +kubebuilder:default="-1"` and answer in there?

I am closing this one here since it has been addressed in the upstream already.

[2020-09-18 14:41] #3913 closed

[2020-09-18 17:43] joelanford commented on #3862
Closed by #3876

[2020-09-18 17:43] #3862 closed

[2020-09-18 17:46] joelanford commented on #3870
@ccgagnon we just finished the v1.0.1 release. The `latest` and `v1.0.1` now pass the security scan.

[2020-09-18 17:46] #3870 closed

[2020-09-18 22:31] jberkhahn opened #3918 "New Contributors Guide"
## Feature Request
I would like a section of the docs for on-ranmping new contributors.

#### Describe the problem you need a feature to resolve.
As discussed in [this thread](https://github.com/operator-framework/community/pull/12#discussion_r448640845) there's a lot of implicit process that isn't explicitly documented, such as how and when /lgtm's count for merging purposes, how and when contrib

[2020-09-19 00:25] #3771 closed

[2020-09-19 11:04] camilamacedo86 commented on #3839
I removed the "needs discussion" since shows that @joelanford suggestion reaches a consensus https://github.com/operator-framework/operator-sdk/issues/3839#issuecomment-694638583.

However, it is blocked by : https://github.com/operator-framework/enhancements/pull/47. It can be done ONLY after the EP be implemented.

[2020-09-19 12:33] camilamacedo86 opened #3922 "Replace scorecard images in all files of the tree"
As a follow up of https://github.com/operator-framework/operator-sdk/issues/3912

IMO we could to do:

[code]

[code]

**Motivation:** The above code will ensure that we are always replacing ALL places. Note that in the future we will build the bundle **before** in the samples and then, we will do this replace just for the e2e tests.

Also, note that it is very easy we add new scaffolds and just f

[2020-09-19 12:34] prafull01 commented on #3922
/assign

[2020-09-19 14:33] joelanford commented on #3922
This seems to me like a premature optimization at this point. Before implementing, let’s discuss options in the automation of sample generation enhancement proposal.

https://github.com/operator-framework/enhancements/pull/47

[2020-09-19 14:47] ekuric opened #3923 ""make tidy" fails to finish when trying to build operator-sdk from source ( build from master )"
## Bug Report

#### What did you do?
trying

$ git clone https://github.com/operator-framework/operator-sdk
$ cd operator-sdk
$ git checkout master
$ make tidy
$ make install

following instructions from
->  https://sdk.operatorframework.io/docs/installation/install-operator-sdk/#compile-and-install-from-master

#### What did you expect to see?
`make tidy` to finish

#### What did you see instead?

[2020-09-20 09:05] camilamacedo86 commented on #3922
Hi @joelanford.

Thank you for your input. I think I could not clarifies properly the reasons/motivations for it. It is NOT only about the samples EP. By addressing operator-framework/enhancements#47 we will just have + 1 scenario case that justifies it.

**The current implementation is susceptible to failures in the following scenarios**. Note that the CI and the tests will PASS and we will NOT k

[2020-09-20 12:28] #3912 closed

[2020-09-20 15:14] kprasad99 opened #3924 "Unable to set apiextensions.k8s.io/v1 using crd-version args in operator-sdk v1.0.1"
## Type of question

 General operator-related help

## Question

#### What did you do?

Trying to generate CRD using `operator-sdk` `v1.0.1`, since my target k8s cluster is v1.19.0, want to generate CRD with `apiVersion` `v1` instead of `v1beta1`. as per the release note of [v0.17.0](https://github.com/operator-framework/operator-sdk/releases/tag/v0.17.0) an argument was added to `new/add api` co

[2020-09-20 17:04] #2576 closed

[2020-09-20 19:11] semoac commented on #3763
I encounter a similar problem, since I need to validate the status of the resources after the upgrade. Helm doesn't have a good way to ensure that the resources were properly deployed, so `operator-sdk` doesn't have a good way to report the status of the child resources either.
I was hoping to use `helm test` in my pipeline to confirm the status of the rollout after a few seconds.

[2020-09-20 22:32] joelanford commented on #3763
It should be possible to directly use `helm test <crName>` once the operator has reconciled the CR.

Does that work (and solve the problem)?  If so, we should document this to make it more obvious that this should work out of the box.

[2020-09-21 00:49] aaronmcohen commented on #3763
@joelanford Please document this to make it more obvious. Additionally do you still need me to expand our use-case?

[2020-09-21 07:03] ekuric commented on #3923
seems this note `Note: Ensure that your GOPROXY is set with its default value for Go versions 1.13+ which is https://proxy.golang.org,direct.` from https://sdk.operatorframework.io/docs/installation/install-operator-sdk/#compile-and-install-from-master is necessary in order to make this working. Works after setting GOPROXY to above value. ... I think this can be closed.

[2020-09-21 12:23] camilamacedo86 commented on #3923
Thank you @ekuric.
I am closing this one. Feel free to raise new issues if you need.

[2020-09-21 12:23] #3923 closed

[2020-09-21 12:40] joelanford commented on #3763
If running `helm test` directly meets your needs, then I think that answers my question. Thanks!

[2020-09-21 13:14] joelanford commented on #3924
For Go operators, Operator SDK now uses `kubebuilder`'s Go plugin for scaffolding files, and that plugin does not currently support a flag to choose the CRD version.

However, this is now configurable in your Makefile. Find the line that sets `CRD_OPTIONS` and add `crdVersions={v1}`, then re-run `make manifests`. E.g.:
[code]

[2020-09-21 13:17] ccgagnon commented on #3870
Perfect thank you!

[2020-09-21 14:36] camilamacedo86 commented on #3924
@joelanford we have an open issue to track it already. See: https://github.com/operator-framework/operator-sdk/issues/3580

[2020-09-21 14:43] joelanford commented on #3580
@camilamacedo86 As @estroz mentioned, these issues need to be resolved upstream for the SDK to incorporate them. Can you create (if not already created) and link to the upstream issues where these problems are being discussed and fixed?

If they're already fixed and released upstream, we need an issue in the SDK to bump our dependencies.

[2020-09-21 14:57] camilamacedo86 commented on #3580
Hi @joelanford,

See the body description of this issue. All links and content related upstream are described on it already.
They was added when this issue was raised, see:

<img width="1112" alt="Screen Shot 2020-09-21 at 15 53 53" src="https://user-images.githubusercontent.com/7708031/93782600-ac6af600-fc22-11ea-9700-84ead7d694ff.png">

It is not solved in upstream yet.  However, we will unable

[2020-09-21 15:24] camilamacedo86 opened #3925 "upgrade sdk to use kube-rbac-proxy:v0.7.0 instead of kube-rbac-proxy:v0.5.0"
#### Describe the problem

Helm/Ansible/GO operators are using the image `kube-rbac-proxy:v0.5.0`. This image is not rootless and raises security concerns. This image is built from https://github.com/brancz/kube-rbac-proxy/. The project https://github.com/brancz/kube-rbac-proxy/ was updates and its 0.7.0 will provide an image that address these concerns.

#### Describe the solution you'd like.

-

[2020-09-21 17:11] camilamacedo86 opened #3927 "docs: keep the title of the documents consistent"
## Feature Request

#### Describe the problem you need a feature to resolve.

A discussion over the titles was raised in https://github.com/operator-framework/operator-sdk/pull/3926#discussion_r492209561. Should we have the titles with `operator-sdk` or not.  Following the context:

**Is the `for Operator SDK`  showing in the menu?**

No. The menu shows the `linkTitle:`

<img width="245" alt="Scre

[2020-09-21 17:12] camilamacedo86 commented on #3927
c/c @estroz @joelanford

[2020-09-21 17:14] camilamacedo86 opened #3928 "Should we keep the Versioning doc in /docs/upgrading-sdk-version/operator-sdk-versioning/ ?"
Decide if we can remove the Versioning doc in ;
Motivation : https://github.com/operator-framework/operator-sdk/pull/3926#discussion_r492204870

[2020-09-21 18:21] #3918 closed

[2020-09-21 18:47] camilamacedo86 commented on #3927
We have 3 votes to remove.

[2020-09-21 19:11] camilamacedo86 opened #3930 "Remove outdated docs from master"
## Feature Request

#### Describe the problem you need a feature to resolve.

The following docs are very outdated shows that have no reason for we keep them around in the SDK. Also, I understand that all EP's are now addressed in https://github.com/operator-framework/enhancements so shows that we have no need to have a proposals dir as well.

- https://github.com/operator-framework/operator-sdk/t

[2020-09-22 02:18] prafull01 commented on #3878
/assign

[2020-09-22 06:35] kprasad99 commented on #3924
@joelanford Yeah figured it out this way, but was looking for more elegant way similar to --crd-version

[2020-09-22 06:35] kprasad99 commented on #3924
@camilamacedo86 you can close this issue, since there is already an issue tracker id.

[2020-09-22 08:09] YanFenGuo opened #3931 "Need to keep the Ansible log of first reconcile"
## Feature Request

#### Describe the problem you need a feature to resolve.

Ansible Operator keep reconciling and the log of first reconcile maybe overwritten, but for problem definition, the log of the first reconcile is very important and some error may only exist in first reconcile.

#### Describe the solution you'd like.

Keep the log of first reconcile, don't overwrite it.

[2020-09-22 18:00] aemperador commented on #3880
@drewwells could you provide your Makefile or your Make `manifests` target? My assumption is that the `kustomize build` isn't being applied to the cluster. The `kustomize build` will provide the new yaml, but it needs to be piped/placed somewhere. Ex: https://kubernetes-sigs.github.io/kustomize/guides/offtheshelf/#4-bring-up-variants

[2020-09-22 18:04] aemperador commented on #3931
@YanFenGuo do you have repro steps for this scenario?

[2020-09-22 19:50] #3924 closed

[2020-09-22 21:26] jmrodri commented on #3738
The instructions on the release guide do not seem to work on Fedora. There are 2 things that should be done.

1. release v1.0.1 to homebrew (can be done from a Mac if need be)
2. update the instructions to work on Fedora

https://v0-19-x.sdk.operatorframework.io/docs/contribution-guidelines/release/#6-updating-the-homebrew-formula

[2020-09-22 21:35] jmrodri commented on #3738
/assign @Venkat19967

[2020-09-22 22:56] drewwells commented on #3880
Sorry I'm not clear in the description, operator-sdk uses controller-gen to generate the CRD yaml. However, controller-gen is not picking up any settings in kustomization.yaml.

[2020-09-23 00:12] YanFenGuo commented on #3931
Yes see if this description make it clear, I'm using Ansible operator-sdk 0.17.2, for watch.yaml, I set `reconcilePeriod: 5m` so Operator will continue reconciling.
When I check Ansible log under `/tmp/ansible-operator/runner/<group>/<version>/<kind>/<namespace>/<name>.`, I found it only keep logs of latest 20 reconcile? What I'm expecting is we can keep the log of first reconcile, don't overwrite

[2020-09-23 12:32] joelanford commented on #3880
@drewwells `controller-gen` doesn't know about `kustomize`. It generates base files from your API definitions and then `kustomize build` reads those base files and applies any configurations and patches that are defined by `kustomization.yaml`.

The default project configuration does not directly persist the kustomize output. Instead `kustomize` is used in other make targets (i.e. `install`, `depl

[2020-09-23 14:14] drewwells commented on #3880
Okay thanks. So we can’t inject common annotations in one step, it has to be layered on top of the controller gen output.

[2020-09-23 14:14] #3880 closed

[2020-09-23 14:27] joelanford commented on #3880
You _could_ do something like this in your Makefile if you wanted a single step to build the full resource manifests:

[code]

And then running `make deploy.yaml` would run controller-gen and then immediately run `kustomize` to output the final manifest containing all of the patches, commonAnnotations, and any other `kustomize`-based changes.

[2020-09-23 17:43] mhrivnak commented on #3859
FWIW: I think this only succeeds on 1.13 because, from release notes: "As of Go 1.13, the go command by default downloads and authenticates modules using the Go module mirror and Go checksum database run by Google."

So for now, successful builds are depending on that continuing to be available in Google's module cache or some other cache. It may work, but it's a dependency to be aware of.

[2020-09-23 18:16] joelanford commented on #3859
So this issue isn't go version dependent. It is `GOPROXY` dependent.

I just cleaned my local modcache, set `GOPROXY=direct` and attempted to compile from source with go 1.13, 1.14, and 1.15. All fail with:
[code]

Setting `GOPROXY=https://proxy.golang.org,direct` gets things working for all go versions since 1.13.

Different distros and installation methods set the default GOPROXY differently. Se

[2020-09-24 12:23] #3928 closed

[2020-09-24 14:49] akang0 commented on #1234
@asmacdo @camilamacedo86 Short question, is liveness and readiness probe available for go operator ?

[2020-09-24 14:53] joelanford commented on #3922
To shed some more light on my potential concerns, I think blindly replacing all occurrences of certain strings could leave us in a similar situation (i.e. the e2e test passes when it shouldn't).

For example, if we had a bug in our code that caused the generated bundle to contain the incorrect scorecard test images, we might blindly replace them in our test code, thus fixing them and causing the e

[2020-09-24 17:25] camilamacedo86 commented on #3922
Another way to ensure that the e2e tests are using the dev images when we run olm and scorecard commands would be before we run these commands in the tests check if ALL manifests in the directories config and bundle are with `quay.io/operator-framework/scorecard-test:dev` otherwise fail. I will add it to the EP operator-framework/enhancements#47.

[2020-09-24 18:31] camilamacedo86 commented on #3763
Hi @aaronmcohen and @semoac,

Would you not like to contribute to the project by documenting it? @aaronmcohen do you see any other a point that still requires some implementation or can we address all as described above by @joelanford ?

[2020-09-25 15:19] jmazzitelli opened #3945 "have some way to know what dependent resource was touched to trigger ansible operator reconciliation"
## Feature Request

When a dependent resource is changed, and it triggers a reconciliation, the user should have some way to know why the reconciliation was triggered (i.e. the user should have a way to figure out WHAT dependent resource changed).

Right now, when a reconciliation happens due to a change in a dependent resource, you do not know which resource changed. This would be really helpful

[2020-09-25 15:21] jmazzitelli commented on #3945
@fabianvf asked that I submit this issue ... slack conversation:

[code]

[2020-09-25 16:15] estroz commented on #3930
Should we be removing `proposals/`? There are some SDK-specific proposals that aren't relevant to the operator-framework as a whole, so aren't necessarily fitting for the enhancements repo. I said as much in a recent bug triage meeting.

[2020-09-25 19:34] camilamacedo86 opened #3947 "Operator-scope doc suggestion for improvements"
## Feature Request

#### Describe the problem you need a feature to resolve.

improve the operator scope doc with the suggestions made by @estroz.

#### Describe the solution you'd like.

 However I'd like to see a differently structured approach. Each type of watch (single, multi, all namespace) should have its own section, with changes required to permissions for each. This is much clearer than

[2020-09-25 19:35] #3688 closed

[2020-09-25 20:17] gee4vee opened #3948 "Retrieving watch namespace in operator-sdk 1.0"
## Type of question

How to implement a specific feature
We are migrating to operator-sdk 1.0. In our main.go, we need to create additional resources. Previously we used `namespace, err := k8sutil.GetWatchNamespace()` to get the namespace in which to create the resources. Now `k8sutil` is internal and cannot be used. Is there an alternative we can use in main.go to get the namespace in use?

## Qu

[2020-09-25 21:13] mhrivnak commented on #3859
I reached out to the maintainer, and he was able to get the redirect up and running again for vbom.ml/util. This problem should be resolved for now, and the new import path should be picked up naturally whenever we rebase onto k8s 1.20.

[2020-09-26 16:39] estroz commented on #3947
/assign

[2020-09-28 07:46] wzhanw opened #3950 "infinite reconcile loop on Openshift 4.5.8"
## Bug Report

#### What did you do?
We have an ansible based operator to manage our resources, service, deployment, etc.
I set below settings in watches.yml:
[code]

#### What did you expect to see?
I expected the reconcile run once at the 1st start time and don't run again unless the watched subresource has a update.

#### What did you see instead? Under which circumstances?
There is an infinite

[2020-09-28 08:16] wzhanw commented on #3950
I found those types (`ServiceAccount` and `PersistentVolumeClaim`) of resources cannot be watched on any version of openshift, because the openshift will inject some secrets to the service account,   and PVC will be updated with bounded PV after it bounded a Persistent Volume.

[2020-09-28 16:33] #2358 closed

[2020-09-28 16:46] Venkat19967 commented on #3738
/close

[2020-09-28 16:48] #3738 closed

[2020-09-28 16:49] Venkat19967 commented on #3738
This issue has been solved. Homebrew already has the latest version of Operator SDK

[2020-09-28 17:04] asmacdo commented on #3945
I've file an upstream issue with controller-runtime since this seems like it would be a generally useful behavior. https://github.com/kubernetes-sigs/controller-runtime/issues/1186

As a backup (if they don't want this change upstream) this could also be implemented by creating a LogPredicate, which always returns true and has the side effect of logging the event.

[2020-09-28 18:11] estroz commented on #3930
There should be contributor docs pointing to the correct enhancements location.

/assign

[2020-09-28 18:14] estroz commented on #3931
/assign @asmacdo

[2020-09-28 18:21] estroz commented on #3948
/assign

[2020-09-29 17:08] michael-niemand opened #3958 "Can't install necessary binaries in Ansible operator"
## Type of question

How to implement a specific feature
General operator-related help
Open question

## Question

#### What did you do?

I want to write an operator that does mysql tasks using Ansible. In order to use the mysql ansible modules, additional binaries are required accoring to the Ansible documentation.
Trying to install these using yum results in an error message, not allowing instal

[2020-09-30 12:23] ajeetas opened #3962 "Attempting to Build Operator, customresourcedefinitions coming empty in CSV"
## Type of question
How to CRD definition come up properly in Operator
Steps:
1.operator-sdk init --project-name citrix-adc-istio-ingress-gateway-operator --plugins=helm --kind=Citrix-adc-istio-ingress-gateway --group=Citrix --helm-chart=/Users/ajeeta/operator-ingress-2020/citrix-adc-istio-ingress-gateway
2. make bundle
3. docker  build -t  quay.io/ajeetas/citrix-adc-istio-ingress-gateway-operator

[2020-09-30 17:05] estroz commented on #3962
A few questions:

1. Did you run `operator-sdk create api`?
1. Did you run `make bundle`?
1. Does `./config/crd` exist?

/language helm
/triage support
/assign

[2020-09-30 17:10] estroz commented on #3948
@gee4vee that function was [removed in v1.0.0](https://github.com/operator-framework/operator-sdk/releases/tag/v1.0.0) from the SDK since it is a [simple wrapper](https://sdk.operatorframework.io/docs/building-operators/golang/operator-scope/#configuring-namespace-scoped-operators) around `os.LookupEnv("WATCH_NAMESPACE")`. We suggest writing that function yourself as described in the linked docs.

[2020-09-30 17:10] #3948 closed

[2020-09-30 18:30] asmacdo commented on #3573
Some research is needed to determine what these default values should be. We have deprioritized for now-- please feel free to chime in or open a PR with suggested defaults.

[2020-09-30 18:32] jmrodri commented on #3692
There are 3 possible solutions:

1. Update the quickstart documentation to ensure folks *always* add it by hand: https://sdk.operatorframework.io/docs/building-operators/golang/quickstart/
2. Update our scaffolding code to add it automatically to the generated `Makefile`
3. Update the `Makefile` so that the `docker-build` target does not depend on the `test` target.

[2020-09-30 18:32] jmrodri commented on #3692
Consensus on the grooming call was to do option 2.

[2020-09-30 19:11] joelanford commented on #3712
There are some options here that need to be investigated:
1. We can move to Red Hat OpenShift's prow instance, but this would require us to port our e2e test setup, which is not trivial due to the fact that prow jobs run in containers that lack access to docker sockets. We would need alternate ways to spin up clusters and build images used in the e2e tests.
2. We may be able to move to GitHub Acti

[2020-09-30 20:33] estroz commented on #3737
Unless more requests for this feature are filed, this will stay in the backlog/get closed by the bot if there's no activity.

[2020-10-01 04:09] ajeetas commented on #3962
Did you run operator-sdk create api?

I am following this doc, there is option of `operator-sdk init`
https://redhat-connect.gitbook.io/certified-operator-guide/helm-operators/building-a-helm-operator
Did you run make bundle?

yes I ran `make bundle`.
bundle  structure like this have two directoies: manifests, metadata
to check proper structure Please check github location: `https://github.com/aje

[2020-10-01 04:57] ajeetas commented on #3962
here is tree of the Project:
Ajeetas-MBP-f484:cia-operator ajeeta$ tree
.
├── Dockerfile
├── Makefile
├── PROJECT
├── bin
│   └── kustomize
├── bundle
│   ├── manifests
│   │   ├── Citrix.my.domain_citrix-adc-istio-ingress-gateways.yaml. // this I have copied form config/crd
│   │   └── citrix-adc-istio-ingress-gateway-operator.clusterserviceversion.yaml
│   └── metadata
│       └── annotations.ya

[2020-10-01 08:47] zihad247414 commented on #363
I did same, restart computer and it was solved my issue 👍

[2020-10-01 14:03] camilamacedo86 commented on #3692
It is great news @jmrodri.  Also, I think the best option is 2.

[2020-10-01 17:02] jberkhahn commented on #3692
@camilamacedo86 Doesn't your comment indicate we get this for free because it's been fixed upstream? We just need to bump the version?

[2020-10-01 18:49] asmacdo opened #3964 "Flakey tests using `operator-sdk olm install`"
## Bug Report
When running the PR jobs on travis, two of the e2e tests (`Subcommands and Integration on Kubernetes` and `Go on Kubernetes`) failed with an apparent flake when running the command `operator-sdk olm install`.

[code]

Full Error
[code]

[2020-10-01 19:29] asmacdo commented on #3964
After waiting ~1hour and restarting the tests, the tests pass. It was probably caused by running too many jobs too close together, making this flake a productivity bottleneck.

[2020-10-01 20:36] jberkhahn commented on #3712
I did some investigation around Github Actions. It seems a bit kludgy, but possible. Defining a github action basically consists of some light scaffolding around a Dockerfile. So we'd have to define a Dockerfile with the scripts and such for each test we want to run baked in. I don't see anything about unrestricted access to the docker socket, and assume we can't get that unless we host our own Gi

[2020-10-01 20:44] santoshborse commented on #2444
I think there should be a way to pass the tags from custom resource as well

[2020-10-01 20:48] joelanford commented on #3712
Here’s an example of something we could do: https://github.com/joelanford/helm-operator/blob/plugin/.github/workflows/ci.yml

A good chunk of that could be refactored into scripts in the repo, but I don’t think we’ll need any custom Dockerfile-based action implementations.

[2020-10-01 21:36] estroz commented on #3859
Given @mhrivnak's comment, this is resolved.

[2020-10-01 21:36] #3859 closed

[2020-10-02 14:55] camilamacedo86 opened #3966 "SDK tool with an standard to report/output a list of errors."
## Feature Request

#### Describe the problem you need a feature to resolve.

**The problem here is that instead of the command scorecard and bundle has a standard to return the result with a list of errors we have a different implementation to achieve the same for each command which reduces the maintainability as make it harder for who will consume the result via a pipeline for example.**

See th

[2020-10-02 20:31] carlosedp opened #3967 "CR gets stuck in finalizer after deleting all operator resources (CRDs, Namespaces, etc)"
## Bug Report

#### What did you do?

I'm developing a Go operator where most operations are done on an external element (configuring external Load Balancers).

If I delete all manifests from the operator deployments (RBAC, CRDs, Deployment, Service) and not deleting my managed CR, it get's stuck in the finalizer and orphaned in etcd while the namespace stays in "Terminating". I tried increasing t

[2020-10-02 20:50] lkysow commented on #2887
The leader election logger is hard-coded to use klog so you get its log interleaved with a different format:
[code]

[2020-10-02 20:57] carlosedp commented on #3967
I also found out that locally developing with the manager running on my machine, if the operator (manager) is not running and I try to delete the CR, it gets stuck in the cluster (I believe this happens because there is nothing to process the finalizer).

Again, patching it removing the finalizer cleans it out.

[2020-10-02 21:17] carlosedp commented on #3967
I think this is by design and it's my mistake since there is nothing to fulfill the cleanup running, the CR stays "pending".

If I remove the namespace itself, the CR is cleaned and the namespace deleted with all other resources.

Sorry about the noise.

[2020-10-02 21:17] #3967 closed

[2020-10-02 22:03] carlosedp opened #3968 "Error updating object Status - "the object has been modified; please apply your changes to the latest version and try again""
## Bug Report

#### What did you do?

Updating object Status gives error saying the object has been modified. Doesn't happen on every reconciliation loop tho.

[code]

#### What did you expect to see?

No errors on reconciliation loop.

#### What did you see instead? Under which circumstances?

When applying my CR, I see the error below on the logs:

<details><summary>Error Log:</summary>

[code]

[2020-10-03 15:51] roysahar-ibm opened #3969 "deepcopy.go:885] Hit an unsupported type invalid type for invalid type"
## Bug Report

#### What did you do?

1. Built docker container with the following:
`FROM golang:1.13.8`
 `WORKDIR /go/src/github.com/IBM/ibm-block-csi-operator`
 `ENV GO111MODULE=on \`
   `GOROOT=/usr/local/go`
 `RUN go get github.com/onsi/ginkgo/ginkgo`
  `RUN RELEASE_VERSION=v0.16.0 \`
    `&& ARCH=$(uname -m) \`
    `&& SDK_ASSET=operator-sdk-${RELEASE_VERSION}-${ARCH}-linux-gnu \`
    `&& cur

[2020-10-04 17:23] forvaidya opened #3971 "Operator-sdk errors under WSL"
## Bug Report
operator-sdk init --domain=example.com --repo=github.com/example-inc/memcached-operator

**Errors**

[code]

#### What did you do?

tried to build in WSL ubuntu with root user and non root user

#### What did you expect to see?

successful generation of operator

#### What did you see instead? Under which circumstances?

#### Environment

**Operator type:**

/language go

**Kubernete

[2020-10-04 21:30] carlosedp commented on #3848
Hi @balpert89, I need to do something pretty similar where my controller needs to watch changes to the cluster Nodes and trigger a reconciliation loop for each CR. The problem with this approach is that there is no CR info (name, namespace) in the `EnqueueRequestsFromMapFunc` function.

Do you have any tips on how I can trigger it? Thanks!

[2020-10-05 03:55] ajeetas commented on #3962
@estroz Just following up on this.

[2020-10-05 07:14] forvaidya commented on #3971
I think it is common to any module not just this project
I will wait for a couple of days if anyone have advice for me or else I will close this ticket

[2020-10-05 11:44] camilamacedo86 commented on #3969
The error faced means that it has a really invalid type defined or your go env is not setup properly.
I'd like to recommend that you check your project and local env for example, to see if you have more than one go version installed.

Note that the old sdk CLI versions did not change at all. So, all lead to a misconfiguration locally.

Also, note that versions lower than 0.19 is no longer supporte

[2020-10-05 14:02] carlosedp commented on #3848
I ended up watching the external nodes and filtering on some changes, then I trigger a reconciliation for all my CRs.

[2020-10-05 14:04] cts-zeero opened #3973 "Ansible-operator gcp auth provider not found"
## Bug Report

#### What did you do?

Installed and ran my ansible operator as instructed in the **Development Tips** section of the ansible operator docs https://sdk.operatorframework.io/docs/building-operators/ansible/development-tips/#testing-an-ansible-operator-locally

#### What did you expect to see?

make run
/home/user/go/bin/ansible-operator
{"level":"info","ts":1595899073.9861593,"logger

[2020-10-05 14:13] joelanford commented on #3973
@cts-zeero Thanks for the report. This appears to be a regression caused by https://github.com/operator-framework/operator-sdk/pull/3331. We created separate binaries for the `ansible-operator` and `helm-operator` runtime components, but neglected to duplicate the auth provider import from the `operator-sdk` main.go file.

We need to add your suggested import to `cmd/ansible-operator/main.go` and

[2020-10-05 16:17] cts-zeero commented on #3973
PR link below

#3974 https://github.com/operator-framework/operator-sdk/pull/3974

[2020-10-05 18:22] joelanford commented on #3966
This might help: https://github.com/hashicorp/go-multierror

[2020-10-05 18:38] #3671 closed

[2020-10-05 18:48] joelanford opened #3975 "Re-add Black Lives Matter banner (without Red Hat branding)"
## Feature Request

See #3932

[2020-10-05 18:50] joelanford commented on #3975
@robszumski Were you working on a replacement for this, or do we need to get this assigned?

[2020-10-05 19:14] robszumski commented on #3975
@joelanford I am not working on anything, it's an open issue

[2020-10-05 19:33] kensipe commented on #3971
@forvaidya thanks for the report!

There are a few things question / comment on regarding this report:

1. It isn't clear why WSL and not WSL2.  WSL2 is going to provide full kernel support:  https://docs.microsoft.com/en-us/windows/wsl/compare-versions

2. Currently Operator SDK is only tested with Go 1.13 (which is likely not an issue here... just wanted to make sure you were aware)

3. The issu

[2020-10-05 19:33] #3971 closed

[2020-10-05 20:55] #3973 closed

[2020-10-06 10:16] mdbooth opened #3979 "`operator-sdk generate kustomize manifests -q` generates invalid config/manifests/kustomization.yaml"
## Bug Report

Trying to work out why my generated CSV was incomplete after executing `make bundle`:

[code]

From the above, `failed to read Resources: Load from path ../default failed` appears to be because the generated config/manifests/kustomization.yaml is invalid. The contents of this file are:

[code]

This file is generated by `operator-sdk generate kustomize manifests -q`. Guessing resour

[2020-10-06 11:52] #3964 closed

[2020-10-06 13:49] camilamacedo86 commented on #3930
Hi @estroz,

Let's consider that we can close it by removing the design docs.

Regards `Should we be removing proposals/? There are some SDK-specific proposals that aren't relevant to the operator-framework as a whole, so aren't necessarily fitting for the enhancements repo. I said as much in a recent bug triage meeting.` I think we can discuss it in the future since it shows confuse have 2 places

[2020-10-06 15:10] joelanford opened #3984 "Use multi-stage Dockerfiles for all images"
The SDK build process currently has a pretty convoluted process for building docker images that involves several make targets and hack scripts.

I propose that we reduce this complexity by consolidating all image build steps into multi-stage Dockerfiles. With this change we will:

1. Update Dockerfiles to perform go binary builds in a builder stage rather than copying in a pre-built binary.
1. Upd

[2020-10-06 15:21] camilamacedo86 commented on #3984
Note that the scorecard images are not == these ones. Could we change the scorecard images to follow any final result define here? WDYT about add it in the scope of this change?

[2020-10-06 15:22] joelanford commented on #3984
Yeah I'm including the scorecard images in the scope of this.

I'll have a PR up shortly.

[2020-10-06 16:10] ejschoen opened #3985 "Can't follow Operator SDK installation instructions with Go version 1.15.2 on Debian 9"
## Bug Report

#### What did you do?

Last step of Operator SDK installation instructions is "make install"

#### What did you expect to see?

Successful return

#### What did you see instead? Under which circumstances?

[code]
#### Environment

Debian 4.9.0-8-amd64 SMP Debian 4.9.110-3+deb9u6 (2018-10-08) x86_64
Golang 1.15.2

#### Possible Solution

Works with golang 1.14.9.

#### Additional con

[2020-10-06 16:48] cliveseldon commented on #3979
So this default is wrong?
https://github.com/operator-framework/operator-sdk/blob/adcef86d6e337cb98a3bd10e8e6bddf921f17e9f/internal/cmd/operator-sdk/generate/kustomize/manifests.go#L154-L159

[2020-10-06 17:32] joelanford commented on #3985
@ejschoen This seems like it may be an issue with your Go or Debian installation or both.

I can run the build using the debian-based `golang:1.15` image without encountering issues:
[code]

[2020-10-06 17:32] #3985 closed

[2020-10-06 17:33] joelanford commented on #3985
Also, I don't _think_ it should matter, but the SDK project is still officially building using go 1.13. We are planning to bump to go 1.15 soon though.

[2020-10-06 20:49] kotyara85 opened #3989 "Unregister controllers"
Hello,
Is there a way to dynamically unregister controllers?

Current code is

[code]

Thank you

[2020-10-06 22:38] jberkhahn commented on #3692
waiting for [1711](https://github.com/kubernetes-sigs/kubebuilder/pull/1711) in kubebuilder to be merged before we bump our dependency on it

[2020-10-07 07:55] michael-niemand commented on #3958
turns out the mysql python module, installed via pip, does it for this use case, but I'll leave the question open for other possible 3rd-party installs an operator might need ...

[2020-10-07 08:49] cliveseldon commented on #3979
Actually looks like the `bases` folder is just used in `operator-sdk enerate bundle` where assumes the name of the csv file from the project name.

[2020-10-07 09:52] RobEarl opened #3991 "Unable to use status.Conditions due to package missing/moved"
## Bug Report

#### What did you do?

Following the instructions here - https://sdk.operatorframework.io/docs/building-operators/golang/advanced-topics/

I imported `github.com/operator-framework/operator-sdk/pkg/status` in my `_types.go` file.

#### What did you expect to see?

I expected to be able to use status.Conditions.

#### What did you see instead? Under which circumstances?

[code]

####

[2020-10-07 13:51] camilamacedo86 commented on #3966
Hi @estroz,

I am waiting for the PR : https://github.com/operator-framework/operator-sdk/pull/3908/files to push my suggestion to replace the code add-in https://github.com/operator-framework/operator-sdk/pull/3908/files#diff-d99b4452be120b4094387171182b4470R51-R82

[2020-10-07 13:53] asmacdo commented on #3958
It is possible to install binaries using yum or pip. In this case it wasn't working because mysql is not available in the default ubi8 repositories. Installing via pip should be fine, but if you want to install the rpm, you'll have to enable the appropriate repo.

[2020-10-07 13:53] #3958 closed

[2020-10-07 15:51] camilamacedo86 opened #3994 "[ci] - changes in the docs has been trigging the test jobs"
## Bug Report

#### What did you do?

Push a PR with changes in the docs only

#### What did you expect to see?

The tests are skipped

#### What did you see instead? Under which circumstances?

The tests have been executed. See; https://travis-ci.org/github/operator-framework/operator-sdk/builds/733699483

[2020-10-07 17:30] estroz commented on #3979
@mdbooth the `kustomization.yaml` file is not invalid; the `bases` directive has been deprecated since v2.1.0, and is superseded by `resources`. What `kustomize` version are you using? Can you try doing:
[code]

[2020-10-07 17:37] estroz commented on #3994
The PR you linked has an update to `testdata/`, which I think is unintentional. Other docs-only PRs do not trigger full test suites, ex. [this build](https://travis-ci.org/github/operator-framework/operator-sdk/builds/733439141).

[2020-10-07 17:37] #3994 closed

[2020-10-07 17:41] estroz commented on #3991
Yep this is just a documentation issue. Feel free to make a PR!

/kind documentation

[2020-10-07 17:43] joelanford commented on #3991
We _just_ merged a PR that removes the `status` package in `operator-lib`. The upstream community now has official conditions types and helpers. See https://github.com/operator-framework/operator-lib/issues/10#issuecomment-705087512

/assign @varshaprasad96

[2020-10-07 17:44] estroz commented on #3989
Once you've added a controller to the manager you cannot remove it. This is more of a [controller-runtime](https://github.com/kubernetes-sigs/controller-runtime/issues/) question, so feel free to create a new issue there if you'd like to discuss your use case!

[2020-10-07 17:44] #3989 closed

[2020-10-07 17:45] camilamacedo86 commented on #3994
Thank you for check that. I missed it. Good point.

[2020-10-07 17:47] varshaprasad96 commented on #3991
Yes, the [PR](https://github.com/operator-framework/operator-lib/pull/35) for removing status package from operator-lib just got merged. Will create a follow-up to update doc in SDK.

[2020-10-07 17:53] estroz commented on #3991
Should we update the v1.0.x docs to use `operator-lib/status` like we intended, or also point those docs to upstream conditions?

[2020-10-07 17:53] joelanford commented on #3991
I'd vote for pointing to upstream probably.

[2020-10-08 11:05] b1zzu opened #3998 "Error: error reading configuration: open PROJECT: no such file or directory"
## Bug Report

#### What did you do?

I'm trying to follow the [Generating Manifests and Metadata](https://sdk.operatorframework.io/docs/olm-integration/generation/) tutorial, and I've executed the kustomize generator cmd in an **empty** directory:
[code]

#### What did you expect to see?

I expected the cmd to ask for the missing information and generate the `kustomization.yaml` and the `.cluster

[2020-10-08 13:04] RobEarl commented on #3991
@estroz will do, thanks for confirming!

[2020-10-08 13:26] camilamacedo86 commented on #3998
Hi @b1zzu,

Shows that you are trying to use SDK CLI version 1.0+ with a project that did not migrate to the new layout.  You need to migrate your projects see: https://sdk.operatorframework.io/docs/building-operators/helm/migration/

[2020-10-08 13:27] camilamacedo86 commented on #3998
Closing it as solved. However, please feel free to ping us to re-open if you need it.

[2020-10-08 13:46] cliveseldon opened #3999 "Status Descriptor Test fail for OLM Example with Scorecard"
## Bug Report

#### What did you do?

`operator-sdk scorecard bundle`

#### What did you expect to see?

All tests pass.

#### What did you see instead? Under which circumstances?

[code]

The above seems to be running:

https://github.com/operator-framework/operator-sdk/blob/537799091b792173574756ff8534f48868585d5d/internal/scorecard/tests/olm.go#L199-L207

Which calls:

https://github.com/operat

[2020-10-08 13:47] joelanford commented on #3998
Re-opening for a bit more discussion because I've seen this question come up a few times.

@camilamacedo86 Can we investigate why that command needs a `PROJECT` file? I wonder if there's a workaround we could suggest or a change we could make to relax this requirement.

[2020-10-08 13:53] camilamacedo86 commented on #3998
Hi @joelanford,

The PROJECT file is a requirement for the CLI. It has the project config that is used for example to run the commands such as the plugin layout and the project name to integrating the project with OLM.

[2020-10-08 13:54] cliveseldon commented on #3999
I validated above by changing my "sample" to

[code]

And now the scorecard passes

[2020-10-08 14:05] camilamacedo86 commented on #3998
Hi @joelanford,

The [PROJECT file](https://github.com/operator-framework/operator-sdk/blob/master/testdata/helm/memcached-operator/PROJECT) is a requirement for the CLI and IMO it should NOT change to keep the consistency across the types as well. It has the project config that is used for example to run the commands such as:

- The project layout: Without it, we do not know if is Helm/Ansible/Go

[2020-10-08 14:15] joelanford commented on #3998
Some SDK subcommands don't require the PROJECT file (e.g. `operator-sdk bundle validate` and `operator-sdk run bundle`). I'm curious what specifically the `generate kustomize manifests` subcommand needs it for?

Is there a workaround we can suggest? (e.g. create a PROJECT file and add some minimal set of info that is required).

One of the goals of operator-sdk v1.0 was to make many of the extra s

[2020-10-08 14:17] camilamacedo86 commented on #3998
Hi @joelanford,

IMO it is important to highlight that the root cause is NOT migrated the project. The project file is ONLY the first issue faced as a consequence of it as well.  So, by `I wonder if there's a workaround we could suggest or a change we could make to relax this requirement.` we would end up in another scenario and not really solving it.

[2020-10-08 15:03] camilamacedo86 commented on #3998
Hi @b1zzu,

I got the @joelanford point. If you are looking for only run `operator-sdk generate kustomize manifests` to generate the CSV for your project then the workaround so far would create a file in the root of the project:

[code]

Then, it will work.

However, if you would like to use all commands/features described in the docs you still need to migrate your project for the new layout: http

[2020-10-08 16:26] anmol372 commented on #3998
/assign

[2020-10-08 16:32] camilamacedo86 commented on #3998
Hi @estroz,

Just to clarifies based on the tests made so far:
- If we add `version: 2` the command is getting the projectName by getting the dir directory name. The same is not true when the version is v3-alpha.
- The resources have been not used in helm to gen the CSV. Should it be used? If yes, then shows that we have a bug.
- Also, if teh version is v3-alpha than the layout is requested.

Rega

[2020-10-08 16:37] estroz commented on #3968
@carlosedp what I think is happening is the Go object you're passing to the `Update()` method has an old resource version/generation value. I recommend you try `Get()`ing the LB before attempting to update its status so the most recent in-cluster object is used. Additionally, the `Update()` may fail a few times before passing due to the cache being stale, so errors should be handled with that in m

[2020-10-08 17:10] estroz commented on #3999
The scorecard is intended to promote operator best-practices, one of which is having a status on a CR.
Statuses are recommended by the [k8s API conventions](https://github.com/kubernetes/community/blob/master/contributors/devel/sig-architecture/api-conventions.md#spec-and-status):

However it also says the following:

Are you saying your CRD defines CRs of the latter type?

/triage support

[2020-10-08 17:15] cliveseldon commented on #3999
Maybe I am getting confused on the purpose of the olm-example section. I would as a user assume the `status` section is added by the k8s api-server. One does not apply CRs with a `status` field. My CRD obviously has a `status` section.

[2020-10-08 17:28] SteveMattar opened #4000 "Add controller-gen and kustomize to the SDK base image"
## Feature Request

#### Describe the problem you need a feature to resolve.

My project is using the new Kubebuilder-style layout
I need a base image containing the following tools in order to build my operator bundle
* `controller-gen`
* `kustomize`
* `operator-sdk` v1+
* `envtest`

#### Describe the solution you'd like.
Include `controller-gen` and `kustomize` to your SDK base image
The origina

[2020-10-08 17:31] estroz commented on #3999
That's correct, but given that the values in `olm-examples` are examples, I _think_ they should display what status fields are possible. @dinhxuanvu @awgreene can you weigh in on whether examples should have a status?

[2020-10-08 17:34] dinhxuanvu commented on #3999
olm-examples/alm-examples are not really examples in traditional sense because it is used to drive the UI I believe. So when users use web console to create CR, it will use those yaml to create the CR on the cluster. That's why we validate it.

[2020-10-08 17:42] estroz commented on #3999
In that case, these examples' `status` fields should not be validated. Instead `scorecard` should only be checking whether `statusDescriptors` exist for a GVK.

/ping @jmccormick2001

/remove-triage support
/kind bug

[2020-10-09 02:44] jmrodri commented on #3998
@joelanford one thing I noticed is that just about everything looks at the PROJECT file first, like `operator-sdk version`. The `version` command code does not, I think the cli that configures the plugins is causing this and it is done before all the commands (unless I misread it):

https://github.com/operator-framework/operator-sdk/blob/master/internal/cmd/operator-sdk/cli/cli.go#L50
https://gith

[2020-10-09 10:17] MrYourM opened #4003 "Unable to init project use operator-sdk 1.0.1"
Hi
  my operator-sdk version info:
[code]
When I init a new project
[code]
It occurs an err
`FATA[0041] failed to initialize project with version "3-alpha": exit status 2 `

Please help
tks

[2020-10-09 10:19] MrYourM commented on #4003
I find this (issue)[https://github.com/operator-framework/operator-sdk/issues/3889], but it is not useable

[2020-10-09 13:39] jimdickinson commented on #3461
I just hit this on 1.0, and I don't see this explained in the docs. Is this the right page? https://sdk.operatorframework.io/docs/building-operators/golang/references/envtest-setup/

Might want to weave a link to that into the tutorial, although it's quite possible I missed it.

[2020-10-09 14:20] carlosedp commented on #3968
Thanks, `Get`ing the resource again before Updating did it.

[2020-10-09 14:20] #3968 closed

[2020-10-09 14:22] camilamacedo86 commented on #3461
Hi @jimdickinson,

In the quickstart, you will see that a step was added to solve this problem for now.  See: https://sdk.operatorframework.io/docs/building-operators/golang/quickstart/#configuring-your-test-environment

[2020-10-10 19:58] varshaprasad96 commented on #4003
Hi @MrYourM
Could you please upgrade your go version to 1.15 and check. The go version which is used with this particular version of the tool seems to be 1.15.

[2020-10-11 10:47] camilamacedo86 commented on #2913
It shows solved. in this way, I am closing this one and please feel free to re-open if you need and/or raise new issues as well.

[2020-10-11 10:47] #2913 closed

[2020-10-11 15:03] camilamacedo86 commented on #3006
Hi @zroubalik and @adnzn,

Sorry for the delay to get a response on it. I never used https://github.com/txn2/kubefwd, however, shows that it create service for deployments. is it? Could you please clarify more what problems and needs would you like to achieve with it?

Note that for 1.0+ we have no longer the `operator-sdk run --local` and instead you will find in the Makefile a target called `mak

[2020-10-11 18:22] camilamacedo86 opened #4010 "CI: Molecule test starts to fail on master"
## Bug Report

#### What did you do?

The PR"s starts to report this issue.

#### What did you expect to see?

All CI jobs work well as expected

#### What did you see instead? Under which circumstances?

The `make test-e2e-ansible-molecule` finish with `The job exceeded the maximum log length, and has been terminated.` because it is falling. E.g prs:

- https://github.com/operator-framework/opera

[2020-10-11 18:25] camilamacedo86 commented on #4010
c/c @asmacdo @fabianvf

[2020-10-11 21:30] lenardchristopher commented on #2600
For anyone looking for a good way to use environmental variables with operator-sdk, I wrote up a post about my solution here: https://dev.to/chrislenard/debug-and-test-operator-sdk-in-vs-code-1gib

[2020-10-12 02:19] MrYourM commented on #4003
@varshaprasad96
Thanks, when i first to use operator-sdk 1.0.1, go verison is 1.15.2, but it also produce this erro
`FATA[0041] failed to initialize project with version "3-alpha": exit status 2`

my os verison:
`ubuntu 18.04.3 LTS`
could you tell me how to trouble shoot or other possible reasons？

[2020-10-12 03:22] grantliu3 opened #4012 "Helm operator keeps creating secrets when performing helm upgrade"
## Bug Report
Helm operator keeps creating secrets when performing helm upgrade if the upgrade job fails due to ImagePullBackOff

#### What did you do?
I have a helm operator, it works well for install/uninstall. I have installed the operator using OLM
Then I added a job to helm chart to support upgrade scenario:
1. create a upgrade job with below annotation, I use this job to do some pre-steps be

[2020-10-12 08:15] GreaTdANie1 opened #4013 "How to properly do List right after Update/Create"
## Type of question

General operator-related help

## Question

#### What did you do?

I'm currently trying to add Update request handling for my cluster. Say I have a StatefulSet which has several pods and one of my application is deployed in each of them. Now I want to handle an Update request that want more pods in this StatefulSet. What I want to do in my Reconcile() is first change the size

[2020-10-12 10:18] camilamacedo86 commented on #4003
HI @varshaprasad96,

The change in the PR https://github.com/operator-framework/operator-sdk/pull/3987 is not released yet. The version 1.0.1 uses 1.13+. See: https://github.com/operator-framework/operator-sdk/blob/v1.0.1/go.mod.

Hi @MrYourM,

I am unable to reproduce this scenario. It shows to be related to your local env setup. So, I'd recommend checking it by:

- Ensure that you have just 1 go

[2020-10-12 10:33] camilamacedo86 commented on #2745
/lifecycle frozen

[2020-10-12 13:16] camilamacedo86 commented on #4012
Hi @grantliu3,

Thank you for raise this issue. First, at all, I'd like to recommend you migrate your project to the new layout (1.0+). See; https://sdk.operatorframework.io/docs/building-operators/helm/migration/. Note that the version 0.19.x can receive only bug fixes and the previous one is no longer supported.

I understand that helm will try to create the service-account and the secret to ins

[2020-10-12 13:38] camilamacedo86 commented on #4010
The version of https://galaxy.ansible.com/community/kubernetes is not pinned and was released in the latest days. So, it might be related to it.

[2020-10-12 14:04] joelanford commented on #4010
I've been seeing this issue as well. I tried pinning community.kubernetes to 1.0.0 and then got a different error related to a timeout waiting for the bsycorp/kind container to be ready.

https://travis-ci.org/github/joelanford/operator-sdk/jobs/734733429#L2971

[2020-10-12 16:18] joelanford commented on #4000
We should probably include the `envtest` binaries in the base image as well.

[2020-10-12 17:50] estroz commented on #3991
Closed by #4008

[2020-10-12 17:54] asmacdo opened #4015 "Scaffolded operators should depend on latest community.kubernetes collection"
## Feature Request

/language ansible

Currently, Ansible-based operators depend on `community.kubernetes<1.0.0`, but we should upgrade to the latest.

[2020-10-12 18:03] estroz commented on #4013
The idea behind a reconcile loop is to take advantage of Kubernetes' eventual consistency concept, meaning that _eventually_ the state of the system (cluster) will look how you want it to after you apply some changes. On each run of your controller's `Reconcile()` method, your operator is effectively checking if the state of the cluster is what you programmed it to look like; if it doesn't, it wil

[2020-10-12 18:03] asmacdo commented on #4010
https://github.com/operator-framework/operator-sdk/pull/4014

[2020-10-12 18:23] #4010 closed

[2020-10-12 18:40] jberkhahn commented on #3692
We're going to merge #3983 and wait on the upstream changes to fix it for good.

[2020-10-12 18:42] jmrodri commented on #3626
`run bundle` is now in the operator-sdk.

[2020-10-12 18:42] #3626 closed

[2020-10-12 19:00] asmacdo commented on #3975
I plan to steal this from: https://github.com/kubernetes-sigs/kubebuilder/pull/1553

[2020-10-13 09:09] GreaTdANie1 commented on #4013
Thank you for your reply!

Now I think understand the logic behind requeuing. It's like dividing my operation into different stages, before moving on to the next stage (i.e. configure the new pods), I should check if the current stage is satisfied (i.e. new pods are already created), and requeue if it is not, until it is ready for the next stage.

The only problem here though is, since my applicat

[2020-10-13 10:48] shichangzhi commented on #3758
This is due to version incompatibility , you can verify this using " operator-sdk --help " , V1.0.X do not support " operator-sdk new " , on the contrary V0.17.X do . The official traps are the most deadly . SAD ! ! !

[2020-10-13 10:54] camilamacedo86 commented on #3758
HI @arivatibm,

Could you please follow up the docs in  https://sdk.operatorframework.io/docs/building-operators/golang to work with the latest versions?

[2020-10-13 11:40] arivatibm commented on #3758
We have developed the operator for a Demo so not clear if we will upgrade

[2020-10-13 11:48] harche opened #4020 "cannot set blockOwnerDeletion if an ownerReference refers to a resource you can't set finalizers on: , <nil>""
## Bug Report

#### What did you do?
Deploy a controller on the openshift cluster

#### What did you expect to see?
reconciliation loop to succeed.

#### What did you see instead? Under which circumstances?
[code]

#### Environment

**Operator type:**

/language go

**Kubernetes cluster type:**
OpenShift

`$ operator-sdk version`
`operator-sdk version: "v0.16.0", commit: "55f1446c5f472e7d8e308dcdf

[2020-10-13 12:07] harche commented on #4020
Getting the same result with operator sdk v1.0.1,

[code]

[2020-10-13 12:42] camilamacedo86 commented on #3741
It is done .

[2020-10-13 12:42] #3741 closed

[2020-10-13 13:30] joelanford commented on #4012
@grantliu3 I agree with @camilamacedo86 that this sounds like expected behavior. The helm-operator is constantly trying to reconcile your CR, so during every reconciliation it compares the currently deployed release manifest with a candidate release manifest (using a dry-run upgrade). If there is a difference it runs the upgrade. If the upgrade fails, it performs a rollback (which is effectively a

[2020-10-13 13:36] joelanford commented on #4020
@harche It looks like you're trying to set `blockOwnerDeletion` in an owner reference that refers to a kataconfiguration.openshift.io KataConfig object. Therefore, I think you need the finalizers permission on the KataConfig resources (not the DaemonSets).

[2020-10-13 13:47] harche commented on #4020
Oh yes, sorry I overlooked that. Thanks for pointing that out.

[2020-10-13 13:47] #4020 closed

[2020-10-13 15:04] #3975 closed

[2020-10-13 20:27] tobiasdziekanowski opened #4024 "watch on namespaces"
## Type of question

i want to build a controller, that has a watch on namespaces with a certain label within ansible, that applies some secrets and a deployment to the given namespaces, w/o triggered by a cr.

## Question

#### What did you do?
reading the documentation, it seems not to be possible, googleing didn't help that much.

#### What did you expect to see?
i wanted to build a controller,

[2020-10-14 02:14] camilamacedo86 opened #4025 "Replace the test/ansible static files by a mock data generated with the samples stack"
## Feature Request

#### Describe the problem you need a feature to resolve.

Currently, we have a dir with a lot of advanced scenarios to test ansible with the molecule. However, these files are not updated/changed based on the pr changes since they are not generated automatically and are not check in the CI.

#### Describe the solution you'd like.

Create a mock sample as advanced-molecule-opera

[2020-10-14 05:10] umangachapagain opened #4027 ""operator-sdk init" fails while updating "go.mod""
## Bug Report

#### What did you do?
In a project that has `rook v1.4.5` as dependency in `go.mod`, I ran `operator-sdk init`

#### What did you expect to see?

Project initialized correctly with updated dependency.

#### What did you see instead? Under which circumstances?

[code]

#### Environment

**Operator type:**

**Kubernetes cluster type:**

`$ operator-sdk version` : `operator-sdk version

[2020-10-14 05:13] camilamacedo86 commented on #4027
Could you please check if your GOPROXY is “https://proxy.golang.org,direct” ?

[2020-10-14 05:18] camilamacedo86 commented on #4027
Hi @umangachapagain,

The default scaffold shows not download this dep. I am unable to get it as well.

[code]

Are your GOPROXY env with "https://proxy.golang.org,direct"?

[2020-10-14 05:58] umangachapagain commented on #4027
This worked for me for some reason. According to https://github.com/rook/rook/issues/6428#issuecomment-707760428 it was always working.

I have `GOPROXY=https://proxy.golang.org`

[2020-10-14 06:00] harche opened #4029 "How to schedule controller on master nodes only?"
## Type of question

How to implement a specific feature

## Question

#### What did you do?
Before 1.0 release, we could simply append nodeselector in the operator.yaml to make sure the controllers are only scheduled on the master nodes,

[code]
https://github.com/openshift/kata-operator/blob/master/deploy/operator.yaml#L17

I am looking for a pointer on how this can be done for the operator base

[2020-10-14 11:22] camilamacedo86 commented on #4027
So, could you please update your GOPROXY for the default configuration `"https://proxy.golang.org,direct"` and let us know if the problem will be solved for you?

[2020-10-14 11:59] jmccormick2001 commented on #4029
you might try editing the generated manager manifest under config/manager.

[2020-10-14 13:02] joelanford commented on #4027
@umangachapagain It looks like one of your dependencies depends on `k8s.io/kube-controller-manager@v0.0.0`, which is not a real version. You would need to use a `replace k8s.io/kube-controller-manager => k8s.io/kube-controller-manager <some version>` line in your go.mod file.

[2020-10-14 14:07] anusood opened #4030 "Dynamically updating a CR based on responsse of an API request"
I have a scenrio in which my operator ussing one CR creaates a pod, deployment , service and route for an API sservice we have. This API service connects to a DB on OpenShift annd adds data to the DB with subsequent HTTPS requests to my API.

Now I want that based on the data added to the DB( or the response we get for these HTTPS requests), another CR is updated and the controller for this second

[2020-10-14 14:27] camilamacedo86 commented on #4030
Hi @anusood,

In the PR https://github.com/operator-framework/operator-sdk/pull/4021, I am proposing some changes in the tutorial guide which shows answer your question. See;

Also, you can see my personal project which is in the legacy layout yet which requires manipulated one CRD as a secundary resource in a controller. See; https://github.com/dev4devs-com/postgresql-operator

See that in the Ba

[2020-10-14 14:55] anusood commented on #4030
can you direct me in a way where I can manipulate one of the CRs of the operator from inside the Java code of the API pod/service i am running.

[2020-10-14 15:25] camilamacedo86 commented on #4030
Hi @anusood,

It shows out of the scope of SDK  tool domain since it would be outside of the operator project build with. However, if you would like to do requests to the K8S API outside of the operator project, as for example, from another application you need to use the client for that. The controller already provides it for you which allows you the client.GET/CREATE/DELETE/UPDATE and etc from t

[2020-10-14 16:34] aemperador commented on #3984
@joelanford did a PR get put up for this? I like this proposal and would like to see it come to life

[2020-10-14 16:38] aemperador commented on #4000
it looks like the PR for this was merged. should this issue be closed?

PR ref: https://github.com/operator-framework/operator-sdk/pull/3902

[2020-10-14 19:32] estroz commented on #3984
@aemperador I don't think this is going to happen quite yet actually. During testing I saw a host of issues with multi-platform builds and generally slow builds, which we can't have in CI. I'll be looking into multi-stage builds after we revamp our release process (see #4034).

[2020-10-14 23:23] jberkhahn commented on #3692
I'd like to keep this issue open to track the issue upstream. Will move it into the next release and take off the blocker tag.

[2020-10-14 23:24] camilamacedo86 commented on #3692
It was

[2020-10-15 00:58] camilamacedo86 commented on #3692
In SDK, this problem is solved with the PR #3983 and it was cherry-picked to v1.0.x with https://github.com/operator-framework/operator-sdk/pull/4038.

Also, the same solution is merged already for the v3+ plugins in upstream and a better approach has been discussed and might be pushed to v2+ as well.   More info: https://github.com/kubernetes-sigs/kubebuilder/pull/1711.

In this way, we can consi

[2020-10-15 00:58] #3692 closed

[2020-10-15 03:26] umangachapagain commented on #4027
We do use that. And, like I said `go get` works but scaffolding doesn't.
I even updated my project to Rook 1.4.5 and then tried `sdk init`, it still complains about the dependency.

[2020-10-15 03:28] umangachapagain commented on #4027
Didn't work.

[2020-10-15 06:48] irajdeep opened #4039 "FATA[0002] failed to initialize project with version "3-alpha": exit status 2"
## Bug Report

#### What did you do?
operator-sdk init --domain=example.com

#### What did you expect to see?
Project getting scaffolded

#### What did you see instead? Under which circumstances?
[code]

#### Environment

**Operator type:**

**Kubernetes cluster type:**

`$ operator-sdk version:` "v1.0.1", commit: "4169b318b578156ed56530f373d328276d040a1b"

`$ go version` (if language is Go): "go1

[2020-10-15 07:05] SteveMattar commented on #4000
@aemperador this PR does not include the tools we need
`controller-gen`, `kustomize` and `envtest`

[2020-10-15 07:46] harche commented on #4029
Thanks

[2020-10-15 07:46] #4029 closed

[2020-10-15 08:04] asoorm opened #4040 "bug: make install and make deploy fails "no matches for OriginalId" failed to find unique target for patch `~X`."
## Bug Report

It is impossible to deploy / install an operator when using webhooks.
I am applying the following tutorial to my use-case: https://sdk.operatorframework.io/docs/building-operators/golang/tutorial/

#### What did you do?

See here for the src: https://github.com/asoorm/memcached-operator

<details><summary>All the boilerplate setup</summary>
<p>

Create the webhook:

[code]

Implemen

[2020-10-15 10:06] zhiweiyin318 opened #4041 "CSV invalid: spec.install.spec.permissions.rules: Invalid value: "null""
## Bug Report

#### What did you do?

I have clusterrole, clusterrolebinding and sa, but have not role and rolebinding in config path, bind clusterrole to sa cluster-manager.

generate bundle manifests using `operator-sdk generate bundle --manifests --version 0.3.0`.
the generated CSV  is:
[code]
fail to run CSV and meet errors when I deploy it under OLM 0.16.1  `operator-sdk run packagemanifests

[2020-10-15 12:37] irajdeep commented on #4039
Okay, this was an error on my end related to `GOFLAGS` setting. Apologies for the noise.

[2020-10-15 12:37] #4039 closed

[2020-10-15 12:56] camilamacedo86 commented on #4039
It is fine. I am very happy that you could solve it.
Please, feel free to raise further issues if you need to.

[2020-10-15 16:20] jberkhahn opened #4044 "Remove our changes to kubebuilder generated makefiles"
Followup to #3692

Once https://github.com/kubernetes-sigs/kubebuilder/pull/1711 gets merged upstream and we bump our version of kubebuilder, we will need to revert the changes in #3983.

[2020-10-15 16:42] camilamacedo86 commented on #4027
Hi @umangachapagain,

You have a project already and then you are trying to init a project on it. it shows that you have conflicts of go mod dependencies whcih is related to your customizations.

I'd recommend you do:
- create a new dir
- run the operator-sdk init
- then check its go.mod and try to update your existent project to have the same deps and versions
- after you make it works then try t

[2020-10-15 18:09] horis233 opened #4045 "Can't set package name when using `operator-sdk generate bundle`"
## Bug Report

I can't set package name when using `operator-sdk generate bundle` to generate bundle files.

#### What did you do?

When I use the `make bundle-manifests` command generated by the operator-sdk, I found I can't set the package name for my operator.

[code]

The package name generated in the `bundle.Dockerfile`  and `bundle/metadata/annotations.yaml` are the same as the `projectName`

[2020-10-15 18:10] davidnortonjr-sps opened #4046 "Helm operator to respond to Namespace resources."
## Feature Request

#### Describe the problem you need a feature to resolve.

I'd like to be able to apply a Helm chart in response to a Namespace resource, using labels or annotations on the Namespace resource. I think it is fairly common to want to have operators do things in response to off-the-shelf Helm resources, and Namespace is one of those.

#### Describe the solution you'd like.

A few p

[2020-10-15 20:58] #4040 closed

[2020-10-16 14:44] camilamacedo86 commented on #3848
I understand that, to create a watch for CR's of Kind defined in the operator it would work as any secondary resource that is not managed by the controller such as in the example https://github.com/dev4devs-com/postgresql-operator/blob/master/pkg/controller/backup/controller.go#L60-L63 where I am watching a resource that is managed by another controller.

Note that one of the attributes that can b

[2020-10-16 16:05] camilamacedo86 commented on #4046
Hi @davidnortonjr-sps,

Thank you for raise this RFE. Could you please describe further what do you mean with `I'd like to be able to apply a Helm chart in response to a Namespace resource`? Are you looking for the scenario where the operator will watch a specific namespace and then when it is created/edit/update/delete the Helm chart will be applied?

Regards your comment `Helm operator would nee

[2020-10-18 11:01] zonnie commented on #3461
@camilamacedo86 - the link you sent leads to the `Quickstart` page but the section is missing.

[2020-10-18 12:23] camilamacedo86 commented on #3461
The above link shows the latest version (1.1). For this version, the setup is no longer required. See that your project is built with the target as: https://github.com/operator-framework/operator-sdk/blob/master/testdata/go/memcached-operator/Makefile#L28-L33.

However, if you see any problem could you please raise a new issue.

[2020-10-18 14:07] #4003 closed

[2020-10-18 15:25] zonnie opened #4059 "Operator not getting any requests for CRD"
## Bug Report

#### What did you do?

Followed the tutorial here [operator-sdk tutorial](https://v1-0-x.sdk.operatorframework.io/docs/building-operators/golang/tutorial/)

When running locally with
`make run ENABLE_WEBHOOKS=false`

It seems fine:
[code]
The deployments and pods are created successfully.

When running remotely on a GKE cluster (the same one the above uses):
[code]
Obviously the per

[2020-10-19 08:16] majorinche opened #4060 "example is missing for memcached-operator"
follow up this link: https://sdk.operatorframework.io/docs/building-operators/golang/tutorial/

try to the step "make manifests"
/root/go/bin/controller-gen "crd:trivialVersions=true" rbac:roleName=manager-role webhook paths="./..." output:crd:artifacts:config=config/crd/bases
Error: go [list -e -json -compiled=true -test=false -export=false -deps=true -find=false -tags ignore_autogenerated -- ./.

[2020-10-19 08:42] zonnie commented on #4059
Seems like I found the problem, can't really explain it though.
I followed the guild and modified the namespace in `config/default/kustomization.yaml` using
[code]
Before that it seems that running `make manifests` didn't change the `role.yaml` at all.
I have no clue how (or if) these are related but not the `Deployments` are "fetchable" by the operator.

Now however I'm spammed with these in the

[2020-10-19 10:42] camilamacedo86 commented on #4059
The error faced is:

`E1018 13:26:58.743329       1 reflector.go:178] pkg/mod/k8s.io/client-go@v0.18.6/tools/cache/reflector.go:125: Failed to list *v1.Deployment: deployments.apps is forbidden: User "system:serviceaccount:default:default" cannot list resource "deployments" in API group "apps" at the cluster scope`

which means that the user used to deploy the project with `make deploy IMG=<image>

[2020-10-19 10:56] camilamacedo86 commented on #4060
Hi @majorinche,

The   `github.com/example/memcached-operator/api/v1alpha1` is an example of the import for the API scaffold in your project and not for any external repo. You can check a final example in the https://github.com/operator-framework/operator-sdk/tree/master/testdata/go/memcached-operator as well.

The tutorial describes the steps that ought to be followed by users. The example which

[2020-10-19 10:56] #4060 closed

[2020-10-19 13:31] grantliu3 commented on #4012
@camilamacedo86,  I didn't get a chance to try out 0.19.4 and 1.0.1, I'll have a try with latest version when available.
@joelanford, I understand the reconcile logic tries to rollback and reconciliation again,  but in my case, the helm operator failed to rollback, (refer to below error logs in operator pod),  thus the secrets have never been deleted (rollback) and helm operator keeps creating new

[2020-10-19 13:32] grantliu3 commented on #4012
There are many similar error logs in operator pod like this:
`{"level":"error","ts":1602183709.727247,"logger":"helm.controller","msg":"Release failed","namespace":"kube-system","name":"my-release","apiVersion":"sretooling.management.xxx.com/v1alpha1","kind":"Bastion","release":"my-release","error":"failed update (pre-upgrade hooks failed: failed to deploy my-release-bastion-upgrade-job) and faile

[2020-10-19 13:40] joelanford opened #4061 "Samples generation cause problems during releases"
## Bug Report

#### What did you do?

Released operator-sdk v1.1.0

#### What did you expect to see?

Clean commits and CI runs that require no special handling for generated samples. We expect that the tagged commit has samples that reflect that tag.

#### What did you see instead? Under which circumstances?

During the v1.1.0 release, the v1.1.0 tag build failed CI because the tag triggered diff

[2020-10-19 14:18] zonnie commented on #4059
@camilamacedo86 As I said, the `Deployment` issue was some kind of "quirk" with the `make manifest` that just didn't re-create the `role.yaml` for some reason.
I managed to make it happen but now it has some kind of issue watching `Pod`s
[code]
The `role.yaml` looks like this now:
[code]
I re-built and re-deployed the image and still get the above log messages

[2020-10-19 14:54] camilamacedo86 commented on #4012
+1 for the @joelanford questions and also I'd like to raise a few ones:

- If you use only helm (helm --upgrade) to upgrade the chart in this scenario, would not you face the same?
- would not the option --force to upgrade the chart solve your scenario? The --force option would give up on trying to patch if it fails, destroy and re-create the resource. See; https://sdk.operatorframework.io/docs/bu

[2020-10-19 17:42] mikeandersen opened #4063 "Unable to use upstream Conditions as described in documentation"
## Bug Report

[The documentation](https://sdk.operatorframework.io/docs/building-operators/golang/advanced-topics/#manage-cr-status-conditions) was recently updated (#3997) to suggest using the upstream Conditions [from apimachinery](https://github.com/kubernetes/apimachinery/blob/master/pkg/apis/meta/v1/types.go) for handling resource statuses. However, these resources appear to be new in 1.19+

[2020-10-19 17:59] asmacdo opened #4064 "Add SDK user group(s) to Kubernetes slack"
It would be nice to be able to ping admins, or approvers in the channel (as long as by convention they are not overused).

This would result in a PR to https://github.com/kubernetes/community/blob/master/communication/slack-config/usergroups.yaml

[2020-10-19 18:03] joelanford commented on #4063
@mikeandersen are you able to use `github.com/operator-framework/operator-lib@v0.1.0/status.Conditions` until you're able to update to use k8s 1.19.x?

[2020-10-19 18:05] joelanford commented on #4063
Alternatively, you should be able to resolve the controller-runtime logr bump issue by explicitly requiring `github.com/go-logr/logr v0.2.1`

[2020-10-19 18:06] asmacdo opened #4065 "Create channel in Kubernetes slack: operator-sdk-users"

[2020-10-19 18:23] estroz commented on #4041
This is a YAML encoding bug in the CSV generator.

/assign
/kind bug

[2020-10-19 18:27] estroz commented on #4045
This is by design since your PROJECT config should contain the name of your operator/package. Is the name of your package different from the name of your operator project?

We are going to be adding (back) an `--operator-name` flag (or similarly named) to `generate` subcommands, but the primary use case is for generating bundles outside of an operator project (i.e. when `PROJECT` is not available)

[2020-10-19 18:38] jberkhahn commented on #4044
So, in the previous issue we wanted to change the Makefiles generated by OperatorSDK so they do not require additional changes to run out of the box. It was determined that the best place to make this change was upstream, in Kubebuilder. However, this was an important enough issue that we were blocking release 1.1 on it, and the upstream change wasn't going to be merged in time. So we added a bit

[2020-10-19 18:54] joelanford commented on #4063
If neither of these is sufficient, please re-open!

[2020-10-19 18:54] #4063 closed

[2020-10-19 19:00] asmacdo commented on #4064
This will be a PR to add `operator-sdk-maintainers` only

[2020-10-19 19:12] asmacdo commented on #4024
This should be possible using the `selector` field in the watches file. https://sdk.operatorframework.io/docs/building-operators/ansible/reference/watches/

Looks like the `selector` feature was added in `1.1.0`, so you will need to upgrade. https://sdk.operatorframework.io/docs/upgrading-sdk-version/

[2020-10-19 19:13] asmacdo commented on #4024
If that doesn't solve your issue, please reopen.

[2020-10-19 19:13] #4024 closed

[2020-10-19 19:38] kensipe opened #4067 "Disconnect Operator Support to Init for an Existing Go Project"
## Feature Request

#### Describe the problem you need a feature to resolve.

Operator SDK supports 2 approaches for `init`.
1. Init of a new project that does not have a go.mod
2. Init of a project where a go.mod exists. (this is true for upstream kubebuilder as well)

The second (go.mod file exists) model was intended to support a new go.mod file, not an existing go project with a populated go.m

[2020-10-19 19:45] camilamacedo86 commented on #4059
Could you please try to add the following in your main.go and let us know if it solves your problem?

https://github.com/operator-framework/operator-sdk/blob/4054b5f044bbb87e452428f5df6a5be747c552b8/cmd/operator-sdk/main.go#L18-L20

[2020-10-19 19:53] camilamacedo86 commented on #4065
Have we not the #kubernetes-operators for that? What is the motivation to add a new channel?

[2020-10-19 19:58] joelanford commented on #4065
I was the one that originally floated the idea. We've been getting questions from users in the `operator-sdk-dev` channel since that is the only channel that exists with `operator-sdk` in the name.

After the initial influx of questions, I did add a channel topic:

I don't recall seeing any user questions since, so maybe we hold off on this to see how well the channel topic works to redirect users

[2020-10-19 20:14] asmacdo commented on #4064
https://github.com/kubernetes/community/pull/5247

[2020-10-19 20:24] mikeandersen commented on #4063
Thanks @joelanford, installing `github.com/operator-framework/operator-lib@v0.1.0` works. 👍

Might still be worth considering an update to the documentation since this may trip up other developers until [kubernetes-sigs/controller-runtime](https://github.com/kubernetes-sigs/controller-runtime) v0.7 gets released. Not sure if there's an estimated release date but it's currently in alpha.

[2020-10-19 20:44] camilamacedo86 commented on #4046
Also, would like to raise an EP in https://github.com/operator-framework/enhancements where you would detail more how it would work?

[2020-10-19 20:51] camilamacedo86 commented on #4027
Hi @umangachapagain,

This issue was discussed in the bug triage meeting and then we reach a consensus that the recommended path to make a pre-existing project to work with the tool would be scaffold a new project and then, copy and past your implementation accordingly. See that it would not be the only possible issue faced and try to make the project work with the tool by running `operator-sdk in

[2020-10-19 20:51] #4027 closed

[2020-10-19 23:14] estroz commented on #4041
@zhiweiyin318 I'm not actually able to reproduce this issue using a non-default service account, and some unit tests I've added confirm that no empty `permissions` are added if rules do not exist.

Can you paste the output of `kustomize build config/manifests`?

/remove-kind bug
/triage needs-information

[2020-10-20 00:22] zhiweiyin318 commented on #4041
I think the issue is produced not only by non-default sa but also by Non-existent roles.
the output of  `kustomize build config/manifests` is here:

[manifests.txt](https://github.com/operator-framework/operator-sdk/files/5405535/manifests.txt)

[2020-10-20 07:03] zhouhao3 opened #4070 "What kind of license should be used for the GPL-3.0 License plug-in used in the operator"
## Type of question

## Question

#### What did you do?
We are going to make a new operator:

[code]
When the subsequent playbook.yaml is executed, the functions of these plug-ins will be called.

Because we use some GPL-3.0 License plug-ins in the image, we are not sure what to use for the operator license we made.
So we want to hear your suggestions. thank you very much!

/language ansible

[2020-10-20 07:44] zonnie commented on #4059
@camilamacedo86 I think there's a misunderstanding...my problems are when the operator is running **inside** the cluster.
I mentioned the local run only to say that I have no problems there.
In any case I tried your suggestion anyway and I'm still having the same issues watching Pods.

[2020-10-20 09:31] camilamacedo86 commented on #4059
Hi @zonnie,

Could you share a link for your project or the controller implementation for we check what is missing on that? Are you using the `make deploy IMG=<image>` to deploy the project? Did you setup the watch such as the following example?

[code]

[2020-10-20 10:21] zonnie commented on #4059
@camilamacedo86 - I can't share the repo but the controller implementation is this:
[code]

This is the `logic` package that is referred to above:
[code]

[2020-10-20 10:51] camilamacedo86 commented on #4059
Hi @zonnie,

`E1019 14:16:15.443229       1 reflector.go:383] pkg/mod/k8s.io/client-go@v0.18.6/tools/cache/reflector.go:125: Failed to watch *v1.Pod: unknown (get pods)`

By looking at your roles it shows missing the Pod rules. See the https://github.com/operator-framework/operator-sdk/blob/master/testdata/go/memcached-operator/config/rbac/role.yaml#L41-L47 which is generated by the tool as well.

[2020-10-20 10:56] zonnie commented on #4059
@camilamacedo86 my `role.yaml` (attached above) has these roles as far as I understand:
[code]

I'm not really sure what versions you are referring to in the `Makefile` - this is my `Makefile`:
[code]
This is my `go.mod`:
[code]
I'll try to bump the `controller-runtime` as you suggested anyway

[2020-10-20 13:26] zonnie commented on #4059
@camilamacedo86 I updated the `controller-runtime` to `v0.6.3` - issue persists...
Anything else I can provide/try ?

[2020-10-20 13:39] joelanford commented on #4059
@zonnie It looks like you're missing the `watch` permission on `pods`.

You need your role to include this:
[code]

[2020-10-20 13:40] zonnie commented on #4059
@joelanford Did I miss a marker or something ? why wasn't this created automatically ? 🤔

[2020-10-20 13:44] joelanford commented on #4059
Yeah, see my edit to my comment about updating the marker.

The controller-runtime caching client can be confusing when it comes to `get`ing and `list`ing objects you aren't explicitly watching.

Under the hood, the client uses an informer to populate a cache to service all requests. So if you do `r.Client.Get()` for a resource that isn't already watched, what actually happens is that the cache st

[2020-10-20 13:46] zonnie commented on #4059
@joelanford So if I want the the informer requires a `list` for the initial population and `watch` for future changes ?

[2020-10-20 13:47] joelanford commented on #4059
Correct.

[2020-10-20 13:48] dalbani opened #4071 ""make run" fails for scaffolded Ansible operator with roles"
## Bug Report

#### What did you do?

I created a very simple Ansible operator with steps like:
[code]
Note that I specified `--generate-role`.

#### What did you expect to see?

I expected the `make run` command to work out of the box.

#### What did you see instead? Under which circumstances?

This is the error message that I got:
[code]

#### Environment

**Operator type:**

/language ansible

[2020-10-20 14:27] joelanford opened #4072 "All scaffolded projects are using deprecated `rbac.authorization.k8s.io/v1beta1` for the auth proxy client ClusterRole"
## Bug Report

#### What did you do?

Initialized new projects for Go, Ansible, and Helm

#### What did you expect to see?

Consistent use of `rbac.authorization.k8s.io/v1` for all RBAC resources.

#### What did you see instead? Under which circumstances?

In all project types, the `metrics-reader` ClusterRole in `./config/rbac/auth_proxy_client_clusterrole.yaml` uses `apiVersion: rbac.authorizati

[2020-10-20 14:28] joelanford commented on #4059
Closing since I think this should solve the issue. If it doesn't, please re-open!

[2020-10-20 15:17] camilamacedo86 commented on #4059
Hi @zonnie,

That would be my lastest suggestion. See;

[code]

You have not the watch on that.

[2020-10-20 17:02] aemperador commented on #4000
ok @SteveMattar thanks for the update. I can take this on

[2020-10-20 19:42] tobiasdziekanowski commented on #2282
Hey @camilamacedo86
I am not able to switch to openshift 4, since my target openshift version in production is 3.11.
So, maybe it's a bit off topic, but what is the best approach for using the operator sdk in that version in combination with ansible? sticking to version 0.8.2 of the operator-sdk or go to a higher version? i am getting more and more confused by reading this https://sdk.operatorfram

[2020-10-20 21:46] carlosedp commented on #3848
I ended up doing something a little more complex as can be seen on:

https://github.com/carlosedp/lbconfig-operator/blob/7c67a134f2681ef656913ffa45a7698019892097/controllers/externalloadbalancer_controller.go#L271

But it worked 👍

[2020-10-21 01:03] majorinche commented on #4060
hi @camilamacedo86
i try your example, and successfully get controller and memcache instance up, but when i checked log of controller, find some errors

E1021 00:53:19.613142       1 reflector.go:383] pkg/mod/k8s.io/client-go@v0.18.6/tools/cache/reflector.go:125: Failed to watch *v1.Pod: unknown (get pods)
E1021 00:53:25.112223       1 reflector.go:383] pkg/mod/k8s.io/client-go@v0.18.6/tools/cache

[2020-10-21 08:07] zonnie opened #4077 "Operator reconcile behaviour and best-practices"
## Type of question

Best practices
General operator-related help

## Question

#### What did you do?

I have an operator that is linked to a CRD that is responsible for multiple applications under-the-hood (via `Deployments`).
I want to be able to deploy and upgrade only that resource, let's name it `MgmtApp`, and that the underling applications will be created/updated accordingly.

**My question

[2020-10-21 12:28] camilamacedo86 commented on #4077
The recommendation would be that the reconcile solution ought to be idempotent which means that it will be looking for the state in the cluster in order to have the desired state at the end. Regards to manage many operators as the dependency between then, the recommendation would be using [OLM](https://github.com/operator-framework/operator-lifecycle-manager) for that.

An operator project is desi

[2020-10-21 12:28] #4077 closed

[2020-10-21 12:33] camilamacedo86 commented on #4013
Hi @GreaTdANie1,

Just to supplement the info provided already.

The reconcile solution ought to be idempotent which means that it will be looking for the state in the cluster in order to have the desired state at the end.

See that, the reconcile function is responsible for synchronizing the resources and their specifications according to the business logic implemented on them. In this way, it wo

[2020-10-21 12:33] #4013 closed

[2020-10-21 13:48] melifaro opened #4078 "custom resources metrics in ansible-operator"
## Type of question
How to implement a specific feature

## Question
Are there any best-practices to retrieve metrics, related to Custom Resources managed by ansible-operator? For example, the status of a specific custom resource?
Or the only way to currently do it is to write an exporter for them?

#### What did you do?
Running an ansible-operator withing the cluster, managing several custom reso

[2020-10-21 14:41] stafot commented on #3069
Is there a way to sync them?

[2020-10-21 14:43] joelanford commented on #3069
`go mod vendor` should do it. If you get errors there, then you have some Go dependency issues to resolve.

[2020-10-21 14:45] stafot commented on #3069
For me returns the same error that
[code]

[2020-10-21 14:47] joelanford commented on #3069
That error makes me think your code is trying to import `api/v1alpha1`

This is a Go issue. In this case, you likely need to use the fully qualified module name in the import path. For example: `github.com/my-org/my-operator/api/v1alpha1`.

[2020-10-21 14:50] stafot commented on #3069
@joelanford Thanks, that did the trick.

[2020-10-21 14:51] #3069 closed

[2020-10-21 15:00] asmacdo commented on #4064
Upstream PR merged. `operator-sdk-maintainers` is active.

To be added to this user-group, see the upstream PR and add yourself to both files. See [this doc](https://github.com/kubernetes/community/blob/588581e6049409ab5f3968f5ed8c5a34f1119cef/communication/slack-guidelines.md#requesting-a-user-group) for how to find the slack ID.

[2020-10-21 15:00] #4064 closed

[2020-10-21 15:51] asmacdo opened #4080 "Migrate to travis-ci.com"
Our current CI on travis-ci.org will be EOL on December 31, 2020.

travis-ci.com will still have free builds for open source projects but we need to migrate.

More info:

- [the newsletter](https://mailchi.mp/3d439eeb1098/travis-ciorg-is-moving-to-travis-cicom)
- [migration docs](https://docs.travis-ci.com/user/migrate/open-source-repository-migration)

[2020-10-21 16:03] joelanford commented on #4080
Big :+1: from me. I've been wanting to do this for awhile.

[2020-10-21 18:14] estroz commented on #3871
#4023 fixes this except ansible-molecule tests, which will be addressed in a separate issue.

[2020-10-21 18:14] #3871 closed

[2020-10-21 18:16] estroz commented on #3763
This issue will serve as documentation rather than adding this to SDK docs.

/remove-kind documentation

[2020-10-21 18:16] #3763 closed

[2020-10-21 18:18] camilamacedo86 commented on #3848
It shows answered in the comment https://github.com/operator-framework/operator-sdk/issues/3848#issuecomment-710090557. So, I am closing this one, however, please feel free to ping us if you think that it should be re-opened.

[2020-10-21 18:18] #3848 closed

[2020-10-21 18:34] estroz commented on #3700
@kensipe what's the status on this? Still good for v1.2.0?

[2020-10-21 18:36] estroz commented on #3700
After discussion during grooming, we've realized that this should be done simultaneously for Go, Ansible, and Helm operators.

[2020-10-21 18:36] estroz commented on #3698
Closed in favor of #3700.

[2020-10-21 18:36] #3698 closed

[2020-10-21 18:36] estroz commented on #3699
Closed in favor of #3700.

[2020-10-21 18:36] #3699 closed

[2020-10-21 18:42] estroz commented on #3580
All we need to do is import the v3-alpha kubebuilder plugin once https://github.com/kubernetes-sigs/kubebuilder/pull/1644 is merged.

[2020-10-21 18:53] jberkhahn opened #4082 "Refactor internal/generate generators into an interface to be more easily testable"
Currently the coupling between the cmd layer and the generators is messy and hard to test. Refactor the generators to be implementations of an interface that can be faked out with [counterfeiter](https://github.com/maxbrunsfeld/counterfeiter) and unit tests can then be written in the cmd layer. This is a sub-part of #3246.

Current open PR is #3747

[2020-10-21 19:04] estroz commented on #2648
This bug is related to cri-o, and has been fixed in a more recent version that is used in recent versions of OCP.

[2020-10-21 19:04] #2648 closed

[2020-10-21 19:13] camilamacedo86 commented on #4025
We have 2 directories that require to be replaced:

- test/ansible : It will be addressed in the issue: https://github.com/operator-framework/operator-sdk/issues/3540
- test/molecule-operator: it is addressed in the PR: https://github.com/operator-framework/operator-sdk/pull/4011

[2020-10-21 19:21] camilamacedo86 commented on #4025
We have 2 directories that require to be replaced which are `test/molecule-operator` and `test/ansible`. The `test/ansible` has advanced scenarios and still in the legacy layout. We have an outdated PR https://github.com/operator-framework/operator-sdk/pull/3433 which is outdated, however, in this PR we tried to only update the files for the new layout.

Also, as an example see the PR: https://git

[2020-10-21 19:24] camilamacedo86 commented on #3540
We are closing this one in favor of: https://github.com/operator-framework/operator-sdk/issues/4025

[2020-10-21 19:24] #3540 closed

[2020-10-21 19:44] camilamacedo86 commented on #3608
we have 2 directories that require to be replaced:

- test/ansible : It will be addressed in the issue: https://github.com/operator-framework/operator-sdk/issues/3540
- test/molecule-operator: it is addressed in the PR: https://github.com/operator-framework/operator-sdk/pull/4011

So, since it is a bug scope we will close this one with the merge of https://github.com/operator-framework/operator-sd

[2020-10-21 21:48] drewwells commented on #2152
docker in docker has been around for a long time, it is not challenging to support https://www.docker.com/blog/docker-can-now-run-within-docker/

Even if the docker calls failed, it would be a major improvement to support specific versions of operator-sdk from docker cli. As mentioned above, we need to be able to build CICD pipelines on stable versions of applications. Having an operator-sdk docke

[2020-10-21 21:51] camilamacedo86 commented on #2152
Re-opened add move to 1.2.0 since the 1.1.0 is released already 👍
c/c @asmacdo

[2020-10-21 22:21] joelanford commented on #2152
This was completed in 1.1 and the operator-SDK image is now available at `quay.io/operator-framework/operator-sdk:v1.1.0`

[2020-10-21 22:21] #2152 closed

[2020-10-22 08:39] morvencao opened #4084 "Comma is not allowed in Override Values of watches.yaml in Helm-based Operator"
## Bug Report

#### What did you do?

I created an Helm based operator and try to pass down environment variables from the Operators Deployment all the way to the helm charts templates by adding the `overrideValues` in `watched.yaml`:
[code]

Then I installed the operator in **MULTIPLE_NAMEPACE** mode, in that case the env `WATCH_NAMESPACE` in Operator Deployment will be comma separated string lis

[2020-10-22 09:26] morvencao commented on #4084
/bug

[2020-10-22 11:20] miguelsorianod commented on #3678
Hi,

I've reproduced the reported issue here.

Is there some way I can help with this?

Thank you.

[2020-10-22 11:30] camilamacedo86 commented on #3678
Hi @miguelsorianod,

IMO what I think that we really to do is:

- get merged the PR: https://github.com/kubernetes-sigs/kubebuilder/pull/1691
- bump kubebuilder commit in the SDK
- then, add the edit plugin to SDK as well
- add the edit plugin to SDK as a new RFE
- and then, we can address users to the doc: https://book.kubebuilder.io/migration/multi-group.html

@joelanford wdyt?

[2020-10-22 11:45] camilamacedo86 commented on #4084
Hi @morvencao,

I am curious if it is not because the ${WATCH_NAMESPACE} has not the values inside of `"`, such as "ns1,ns2"? Did you try to check it?

[2020-10-22 13:16] #3242 closed

[2020-10-22 13:31] camilamacedo86 commented on #3267
/remove-lifecycle stale

@asmacdo did we solve that already?

[2020-10-22 13:47] joelanford commented on #4084
This looks like a bug to me. A Helm strvals line [can contain multiple key value pairs](https://github.com/helm/helm/blob/11077a4991a9501e2d056c32eb6cb0c69212b287/pkg/strvals/doc.go#L21), but we expect each strval to be a separate map key in `overrideValues`.

We convert the map entries into strval lines [here](https://github.com/operator-framework/operator-sdk/blob/30181408e24103a194820a8eef736b1

[2020-10-22 13:53] joelanford commented on #4084
Actually my above suggestion doesn't seem to work either. We might need to do some research to see if the strvals parser can handle commas in values.

[2020-10-22 14:11] camilamacedo86 commented on #3770
The EP https://github.com/operator-framework/enhancements/pull/25 for OLM also shows requires to parse the chart values to create the manifests.

[2020-10-22 14:27] joelanford commented on #4084
Ah! Looks like [commas and equal signs need to be escaped](https://github.com/helm/helm/blob/11077a4991a9501e2d056c32eb6cb0c69212b287/pkg/strvals/parser_test.go#L191-L200) when they are meant to be literal values.

However, strvals [allows nested setting of arrays and values in those arrays](https://github.com/helm/helm/blob/11077a4991a9501e2d056c32eb6cb0c69212b287/pkg/strvals/parser_test.go#L253-

[2020-10-22 14:29] joelanford commented on #4084
Also, out of curiosity, why do your templated resources need to know what namespaces your operator is watching?

It seems like `WATCH_NAMESPACE` should only be a concern of the operator, not the operands.

[2020-10-22 14:33] grantliu3 commented on #4012
@joelanford sorry I can't share my charts,  but I think it's easy to reproduce, I'm going to have a try to use memcached-operator to reproduce it,  if reproduced I'll send you the updated operator code for reproduce/investigation.

[2020-10-22 14:36] joelanford commented on #3770
I have a [working branch](https://github.com/joelanford/operator-sdk/tree/helm-schema) that uses `values.schema.json` if it is present in a chart.

While developing it, I noticed that Kubernetes API server is fairly strict on what it expects to be present or not present in the CRD validation section when converting from `values.schema.json`.

This is a UX problem because the CRD generation appears

[2020-10-22 14:37] grantliu3 commented on #4012
@camilamacedo86
1. if using `helm --upgrade` to upgrade directly,  the helm upgrade will be hung, and exited when timeout.
2. I tried to add the annotation to my CR and re-execute the steps in the beginning of this issue,  and still encounter the problem in https://github.com/operator-framework/operator-sdk/issues/4012#issuecomment-712159193
[code]

[2020-10-22 15:05] camilamacedo86 commented on #4067
IMO we can still be allowing the go.mod and/or the .gitignore in the directory.
see the PR made to address it; https://github.com/kubernetes-sigs/kubebuilder/pull/1738

[2020-10-22 15:13] joelanford opened #4085 "Cleanup command doesn't cleanup from a failed run"
## Bug Report

/cc @raffaelespazzoli

#### What did you do?

Tried to use the `cleanup` command to cleanup from a failed `run` command.

[code]

#### What did you expect to see?

Successful cleanup of any resources created by the run command, such that `operator-sdk run bundle` does not fail with an error about existing resources.

#### What did you see instead? Under which circumstances?

[code]

[2020-10-22 15:39] anusood opened #4087 "how to create a Namespace from inside the Controller in OperatorSDKv1 when a CR is updated"

[2020-10-22 16:14] #4087 closed

[2020-10-22 19:47] miguelsorianod opened #4092 "make test-links fail when hugo's docsy theme is not installed"
## Feature Request

When a user tries to execute `make test-links` and has not installed hugo's docsy theme the task fails with:

[code]

Specifically it seems to fail in the following line of the `hack/check-links.sh` script:
[code]

It is true that in operator-sdk documentation https://sdk.operatorframework.io/docs/contribution-guidelines/documentation/#prerequisites a prerequisite is to install

[2020-10-22 19:52] camilamacedo86 commented on #4092
I think we can add the `git submodule update --init --recursive` to the `make test-links`. @asmacdo have you any objection to it or has any reason for it not be done at the first moment?

[2020-10-23 03:15] morvencao commented on #4084
@camilamacedo86 The **${WATCH_NAMESPACE}** does have the values inside of the quote, because it is set by the Downward API from annotation:
[code]

@joelanford Thanks for the investigation and quick reply, I did try your solution and it is working. Thanks again!!
BTW, the reason why I pass `WATCH_NAMESPACE` from operator to operand, because our operand is also a controller and need to watch its CR

[2020-10-23 12:46] benemon opened #4095 "Ansible Operator doesn't find Playbook"
## Type of question

General operator-related help

## Question

#### What did you do?
Created a new Operator:

[code]

Added a new API and generated the playbook:

[code]

Check the watches.yaml:

[code]

Added some content to the playbook generated under `playbooks/routewatch.yml`.

Up to this point, all tested locally, works fine.

Build the Operator image and push it to Quay

[code]

Build and

[2020-10-23 13:00] #4095 closed

[2020-10-23 13:01] benemon commented on #4095
Having "IfNotPResent" vs "Always" in your Deployment can be a real PITA when prototyping stuff.

[2020-10-23 13:20] camilamacedo86 commented on #3268
Hi @cscetbon,

I am closing this one since it has been without interaction for a while and I think you already figure out this problem.

However, only to register the client provided in the controller will get the object in the same way. Note that, if you do a  client.GET the object and have a var as, for example,  deployment with this value and then change this object on the Cluster then you need

[2020-10-23 13:20] #3268 closed

[2020-10-23 14:21] jmccormick2001 opened #4096 "scorecard - produce a better error response when RBAC errors occur inside kuttl"
## Feature Request

when a user doesn't provide all the necessary RBAC privs to their service account, when
running a kuttl test, kuttl will fail with RBAC errors.  This causes scorecard to produce
and empty result "{}" which is hard to debug.  And users will almost certainly not get
their RBAC privs correct all the time or will forget to specify the --service-account
CLI flag to scorecard.

####

[2020-10-23 15:19] camilamacedo86 commented on #4067
I am closing this one since it was tracked only for we do this change in upstream.
Now, when SDK supports the v3-alpha plugin implementation it will be solved.

[2020-10-23 15:19] #4067 closed

[2020-10-23 15:52] #4084 closed

[2020-10-23 16:20] estroz opened #4097 "releases: investigate different method of generating changelog"
## Feature Request

#### Describe the problem you need a feature to resolve.

Currently, the changelog is generated from `changelog/fragments` in `CHANGELOG.md`, and soon to be in [`changelog/generated/<version>.md`](#4034). The changelog and deleted fragments need to be committed in a release commit. Ideally this release commit would either be smaller or non-existent, which implies that the chang

[2020-10-23 17:33] steveyang95 commented on #3969
@camilamacedo86 Can you confirm that nothing has changed?
I have the following versions/vars:

[code]

And I also get:

[code]

I ran this 2 months ago in August and it worked fine. I come back to it now and no matter what I try with the Go configurations and checking the file for invalid types, I can't get past it. I also tried running my August version on CircleCI (rerunning the same exact build

[2020-10-23 18:39] camilamacedo86 commented on #3969
Hi @steveyang95,

The binaries which are released never changes.

See if you have a fixed go version on the CI. For example, if you have only go 1.13.x it will always bring the latest released of go which can be related to your scenario. Note that the error faced means that it has a really invalid type defined or your go env is not set up properly. So, it can be the go env set by default in versio

[2020-10-23 18:49] camilamacedo86 commented on #3969
Following a summary, if you are facing the same:

Regards the issue: `deepcopy.go:885] Hit an unsupported type invalid type for invalid type
#3969`

**Usually it means an issue with your local go env, however, it also can be a legitimate issue where the type is invalid**

1. Ensure that you have only one go version installed and the same version supported by the tool
2. Check your go env vars:

-

[2020-10-23 18:49] #3969 closed

[2020-10-24 13:17] ming-ddtechcg opened #4098 "FATA[0002] failed to initialize project with version "3-alpha": exit status 1"
$ operator-sdk init --domain=example.com --repo=github.com/example-inc/memcached-operator
Writing scaffold for you to edit...
Get controller runtime:
$ go get sigs.k8s.io/controller-runtime@v0.6.2
go: sigs.k8s.io/controller-runtime@v0.6.2 requires
        k8s.io/apiextensions-apiserver@v0.18.6 requires
        github.com/go-openapi/validate@v0.19.5 requires
        github.com/go-openapi/analysis@v

[2020-10-24 13:52] camilamacedo86 commented on #4098
Hi @ming-ddtechcg,

See the error faced by you:

`github.com/globalsign/mgo@v0.0.0-20180905125535-1ca0a4f7cbcb: invalid version: git fetch --unshallow -f origin in /home/kubeeadm/go/pkg/mod/cache/vcs/0eb69f2163bb2fb915dbc4b9c83a68ab02240cc5c1aaa829e77cb6f9fd51e98d: exit status 128:`

Shows that you are unable to fetch/download the deps. So, it can be a firewall, for example, your  LAN has restrict

[2020-10-24 22:15] ming-ddtechcg commented on #4098
Thanks for the feedback.

The host that I ran is capable to reach internet directly without the proxy setting.

[code]

[2020-10-25 09:23] advancedwebdeveloper opened #4099 "Experiencing panic/crash while obtaining yaml package dependency"
Hi there.

I have an issue/bug [here ](https://github.com/kubernetes-sigs/yaml/issues/41).

I am using [gollvm](https://go.googlesource.com/gollvm/) - you can reproduce the bug, by installing my "release" build [from here](https://drive.google.com/file/d/1goBZhc2st89x4LswJivTFOpIbydJUi50/view?usp=sharing).
If someone curious about gollvm("llvm-goc") itself - you can find my build folder, compresse

[2020-10-25 11:33] camilamacedo86 commented on #4098
HI @ming-ddtechcg,

The  `https://proxy.golang.org,direct` is the default setup for Golang. When you init an app it will require to get the dependencies and as you can see the error faced by you is `"invalid version: git fetch --unshallow"`.

You need to set these values in your go env, otherwise, you would need to have the exactly the same versions required in your repository. More info: https://

[2020-10-26 05:06] varshaprasad96 commented on #3687
@jmrodri : I tried investigating this issue.
- When run from the directory of the operator, `run packagemanifests` gives the following error:
[code]

And when run from anywhere else in the directory where `packagemanifests` are not located, the following error is produced:
[code]

Is this fine, or do you suggest we improve the error messages in these scenarios ?

[2020-10-26 05:34] shimron opened #4100 "FATA[0120] Failed to run bundle: install plan is not available for the subscription: timed out waiting for the condition"
## Bug Report

#### What did you do?

operator-sdk run bundle

#### What did you expect to see?

operator installed

#### What did you see instead? Under which circumstances?

`operator-sdk run bundle {host}/zhenjin-operator-bundle:0.0.1 -n operators `

`INFO[0013] Successfully created registry pod: {host}-zhenjin-operator-bundle-0-0-1`

`INFO[0013] Created CatalogSource: zhenjin-operator-catalog

[2020-10-26 07:19] arivatibm commented on #3816
I also have this error when using the operator sdk 1.1 quickstart:

[code]

I'm using operator-sdk version:
operator-sdk version: "v1.1.0", commit: "9d27e224efac78fcc9354ece4e43a50eb30ea968", kubernetes version: "v1.18.2", go version: "go1.15.2 darwin/amd64", GOOS: "darwin", GOARCH: "amd64"

[2020-10-26 08:42] #4100 closed

[2020-10-26 10:19] ryandawsonuk commented on #3340
Just realised I didn't explain this very well. I am indeed [adding in to the built image](https://github.com/SeldonIO/seldon-deploy-operator/blob/6c5bb4ac4e12191b908515ee52987c8d485f9a8d/Dockerfile.certified#L10) by building on top of it. What I was suggesting is that it would be good if the `[operator-sdk build](https://github.com/SeldonIO/seldon-deploy-operator/blob/6c5bb4ac4e12191b908515ee52987

[2020-10-26 11:38] shimron opened #4101 "how to update operator with operator-sdk"
## Type of question

Best practices

## Question

#### What did you do?

I have already installed an operator with the  command "operator-sdk run bundle" ,

but doesn't know how to update this operator with a newer version.

Trying to install a newer version bundle with "operator-sdk run bundle", cause a fata error.

#### What did you expect to see?

operator updated

#### What did you see instead

[2020-10-26 12:35] jfgosselin opened #4102 "wait and timeout options with Helm-based operator"
## Feature Request

#### Describe the problem you need a feature to resolve.

The Helm-based operator does not wait until  the Deployments have minimum (Desired minus maxUnavailable) Pods in ready state before marking the release as successful.

#### Describe the solution you'd like.

Expose a _wait_ and _timeout_ option like the Helm cli and update the CustomResource status accordingly.

--timeou

[2020-10-26 12:54] #4085 closed

[2020-10-26 13:03] joelanford commented on #3340
@ryandawsonuk I'm going to close this because the `operator-sdk build` command was removed in 1.0.0. Its replacement is the `docker-build` target in the Makefile that is scaffolded by `operator-sdk init`, which you can tweak with your desired image builder, flags, etc.

[2020-10-26 13:03] #3340 closed

[2020-10-26 14:53] joelanford commented on #3767
Re-opening because PR #3779 did not resolve this issue for Helm operators. It applied the change to the Ansible operator scaffolding, but this permission change is not required for Ansible operators because the Ansible operator does not use a finalizer on the main CR.

I will submit a PR shortly that makes this change for Helm and reverts the change for Ansible.

[2020-10-26 15:03] jmrodri opened #4104 "Bump operator-sdk to use operator-framework/api v0.3.18"
## Feature Request

#### Describe the problem you need a feature to resolve.

Bring in support for PR https://github.com/operator-framework/api/pull/69

#### Describe the solution you'd like.

Bump go.mod to use v0.3.18 of operator-framework/api from v0.3.13.

/language go

[2020-10-26 15:41] joelanford opened #4106 "Clarify purpose of ansible-operator and helm-operator binaries"
The Operator SDK project officially builds and distributes `ansible-operator` and `helm-operator` binaries in our GitHub releases.

In our docs, we should clarify what the purpose of these release binaries is.

They are used in the ansible and helm operator base images, and they are used by the scaffolded project ansible and helm Makefiles for `make run`, which runs the operator locally.

/languag

[2020-10-26 17:26] joelanford commented on #4102
This seems like it would be helpful.

The one concern I have is that Kubernetes controllers generally don't block, waiting for certain conditions to exist. Instead, they make their observations and changes, and then wait until those changes trigger another reconcile loop. The loop then repeats until steady state is reached.

If Helm's `--wait` conditions could be implemented as I describe above, w

[2020-10-26 17:57] asmacdo commented on #4106
+1, though I am not really sure **where** would make sense.

[2020-10-26 18:08] asmacdo commented on #4046
Lets have more discussion here before anyone starts an enhancement proposal.

[2020-10-26 18:23] jfgosselin commented on #4102
@joelanford that will meet my use case. You are right, I don't think the timeout make sense.

[2020-10-26 18:50] jberkhahn commented on #4099
This seems unrelated to the SDK, seems to be a go tooling issue.

[2020-10-26 18:50] #4099 closed

[2020-10-26 18:51] joelanford commented on #4098
@ming-ddtechcg Can you try running `go clean -modcache` and retry the `operator-sdk init` command from an empty directory?

[2020-10-26 19:05] jberkhahn commented on #4106
We discussed this and decided to make the binaries output help text that they are not supposed to be manually used, and their purpose is to be used by the scaffolded projects.

[2020-10-26 19:06] joelanford commented on #4102
@jfgosselin Cool! Is this something you would be willing to investigate and contribute?

One thing I'm not sure about is whether the Helm libraries expose the same checks that the `--wait` flag makes without actually having to wait.  If it does, it should be possible to incorporate that check into the reconcile loop and possibly tweak or add a status condition.

[2020-10-26 19:56] drewwells commented on #4102
This is closely related to #2491. The operator should mark the CR status Ready only after all the resources are ready by k8s's definition of ready.

In Helm, there is an interface that implements ready checking of multiple resources https://github.com/helm/helm/blob/9b42702a4bced339ff424a78ad68dd6be6e1a80a/pkg/kube/interface.go#L38-L44

The hooks that perform the checks are here
https://github.com

[2020-10-26 20:10] jberkhahn opened #4110 "Make CI jobs run inside Github actions"
Per the discussion from #3712, we would like to investigate the possibility of running our CI jobs themselves inside Github actions.

Couple of known caveats:
1. Github actions can't be dependent on other Github actions.
2. Github actions don't support all the architectures we build for, so our tests will have to be decoupled from deploys (building and pushing images to quay). This might be a good

[2020-10-26 20:18] jberkhahn opened #4112 "Make the state of master tests and deploys more obvious"
Per the discussion from #3712, we would like to investigate making the current state of master tests and deploys more obvious to OperatorSDK developers. Currently there is a tiny badge on the latest commit line at the top of the base page that status of the most recent master build. When a master job fails an email is sent out to repo admins, but the jobs are flakey and rerun when another PR merge

[2020-10-26 20:19] jberkhahn commented on #3712
Bunch of discussion from the meeting. The decision was made to investigate Github actions at this time instead of Prow at this time as we know converting to Prow would be a bunch of work, and we can always switch to Prow later if Github actions don't work.

This issue is now tracking progress on:
1. try to write a github action to rerun my travis jobs while changing as little as possible
1a. inves

[2020-10-26 21:05] jmrodri opened #4113 "Wrong link on "OLM Integration Package Manifests Quickstart""
## Bug Report

#### What did you do?

1. Visit https://sdk.operatorframework.io/docs/olm-integration/quickstart-package-manifests/
1. Click [here](https://sdk.operatorframework.io/docs/olm-integration/generation#overview) in the first paragraph

#### What did you expect to see?
I expected to be taken to the section that tells me what to put into the Makefile as the paragraph suggests.  I believe t

[2020-10-26 21:15] jmrodri commented on #3687
Just tried doing this again with a fresh operator.

[code]

[code]

[2020-10-26 21:17] jmrodri commented on #3687
When run in the operator's directory giving it the packagemanifests directory, it seems to work just fine:
[code]

[2020-10-26 21:19] joelanford commented on #4102
@drewwells It looks like `WatchUntilReady` is used only for hook execution, and it also looks like it is _always_ called, even if `--wait` is not set. So I think the helm-operator is likely already waiting for hooks.

For `--wait` functionality, we would want to mimic or re-use the [`KubeClient.Wait()`](https://github.com/helm/helm/blob/593fec6868d7a239032cf234b530aee6f5d52708/pkg/kube/client.go#L

[2020-10-26 21:19] jharmison-redhat opened #4114 "Generate release binary signatures with a consistent GPG key"
## Feature Request

#### Describe the problem you need a feature to resolve.

I have an issue when using CI to download and validate the signature of releases of the Operator SDK. At the moment, the binary signing process appears to be done manually by the releaser, and the releaser is not consistent between versions.

I do not want to wholesale accept GPG keys programatically based on whoever sig

[2020-10-26 21:29] joelanford commented on #4114
This is good timing! We're planning to do as you suggest and use a release-specific GPG key to sign release binaries published to the GitHub release page.

If you're interested in the nitty-gritty details, you can peruse our proposal here:
https://github.com/operator-framework/operator-sdk/blob/master/proposals/automating-releases.md

[2020-10-26 21:33] jharmison-redhat commented on #4114
Ah, terrific!

I did search all issues (including closed) for the word `gpg`, but didn't peruse the proposals.

I appreciate the link! Looks like it meets my needs exactly!

[2020-10-26 21:44] jmrodri commented on #3687
After digging into the code a bit more this doesn't seem to be a problem with the SDK itself. The problem exists in the operator-framework/api packagemanifestloader.
https://github.com/operator-framework/api/blob/master/pkg/manifests/packagemanifestloader.go#L29-L40

It looks like it collects the files and dirs in the given directory and tries to walk them. So if you give it the directory of your

[2020-10-26 21:48] drewwells commented on #4102
I agree about the action package, it's very lacking in its flexibility.

You're right about `WatchUntilReady`. There's another similarly named method that is public and constructs a waiter https://github.com/helm/helm/blob/593fec6868d7a239032cf234b530aee6f5d52708/pkg/kube/client.go#L116-L128 We won't have any errors to show until the Timeout elapses though and possibly no other reconciliations.

W

[2020-10-27 00:25] joelanford commented on #4102
@drewwells There are a few reasons I don't think we should use `action.Install.Wait`.

As I mentioned in my first comment, it is generally an anti-pattern to wait in Kubernetes controllers. The more accepted pattern is to observe the current state of the CR and its resources (e.g. ask is the release ready?), make any changes (e.g. set CR status based on whether the resources are ready), and immedi

[2020-10-27 00:50] jmrodri commented on #3687
Closing this as bundles are going to be the future format for operators with OLM, I don't think we should fix this.

[2020-10-27 00:50] #3687 closed

[2020-10-27 01:03] jmrodri commented on #4070
It looks like you are looking for a license suggestion for your operator. As we are not lawyer, we suggest you speak to your legal team to determine which license you should use for your operator.

I can tell you that the `ansible-operator`, `operator-sdk` and `helm-operator` are licensed under Apache 2.0: https://github.com/operator-framework/operator-sdk/blob/master/LICENSE

Also, I was able to

[2020-10-27 01:03] #4070 closed

[2020-10-27 02:33] drewwells commented on #4102
We can cheat here just like helm-cli does. It marks the release as ready as soon as it becomes available even when that is only true for a short period. Programs that do not have sufficiently long startupProbes will pass as ready then start crash looping, helm does not catch this.

I think here we need to distinguish between operations helm can handle vs trying to micromanage resources of a releas

[2020-10-27 03:43] rashmigottipati commented on #4101
Hello @shimron, thanks for raising this issue. By design, run bundle command is not intended for operator upgrades. It is only meant for installing a particular version of an operator. We will be adding a new feature to perform/test operator upgrades. Here's the link to the enhancement proposal: [run bundle-upgrade](https://github.com/operator-framework/enhancements/blob/master/enhancements/run-bu

[2020-10-27 03:52] shimron commented on #4101
@rashmigottipati  As I know, cleanup will also delete the CRs,  this is unacceptable in production environment.  Is there another way to perform the update ?

[2020-10-27 06:18] shimron opened #4116 "error waiting for CSV to install: csv failed: reason: "InterOperatorGroupOwnerConflict", message: "intersecting operatorgroups provide the same apis""
## Bug Report

#### What did you do?

trying to install  two different version of operators into two namespaces with "operator-sdk run bundle"

#### What did you expect to see?

two operators both installed successfully

#### What did you see instead? Under which circumstances?

previous version of operator was installed successfully：

`
 operator-sdk run bundle {host}/zhenjin-operator-bundle:0.0.

[2020-10-27 08:22] shimron commented on #4101
When will bundle-upgrade be available? Any release plan for it ?

[2020-10-27 08:41] shimron commented on #3070
Hi @blzuu , did you find a way to upgrade operator to a newer version ?  I'm also stuck by this step right now.

https://github.com/operator-framework/operator-sdk/issues/4101

[2020-10-27 10:26] jmazzitelli commented on #3387
/remove-lifecycle stale

[2020-10-27 10:29] jmazzitelli commented on #3364
I still would like this feature. However, I hacked around it myself by creating my own setting in the CR to be able to turn on and off reconciliation manually if the user sees the operator going into infinite reconciliation loops (typically this happens due to bugs in the operator). Yes, it's an ugly hack :}

[2020-10-27 12:34] jfgosselin commented on #4102
@joelanford sorry, I've never coded in Go

[2020-10-27 12:58] camilamacedo86 commented on #3767
For Helm, the finalizer permission will be added in #4105
For Ansible, the finalizer permission was added in #3779

Also, we need to cherry-pick the #4105 to 1.0.

[2020-10-27 14:51] estroz commented on #4101
Closing in favor of #3070.

[2020-10-27 14:51] #4101 closed

[2020-10-27 14:59] #3767 closed

[2020-10-27 15:16] joelanford commented on #4102
@jfgosselin No worries. This is not currently a high priority for the core SDK team maintainers, but it is definitely a nice feature, and we would definitely accept a PR.

I think the direction we would want to go is to:
1. work upstream in the Helm project to expose the release readiness check as an exported function
1. incorporate a new release of Helm that contains 1, such that the Helm operato

[2020-10-27 15:22] psav opened #4119 "Make bundle wipes out changes to scorecard config"
## Bug Report
#### What did you do?

Running `make bundle` wipes out any changes that have been made to the scorecard config in `bundle/tests/scorecard/config.yaml`

#### What did you expect to see?

`make bundle` should not wipe out the changes to scorecard config

#### What did you see instead? Under which circumstances?

`make bundle` wiped out the config

#### Environment

**Operator type:**

[2020-10-27 15:24] joelanford commented on #4119
@psav This is the expected behavior. The `./bundle` directory is idempotently re-generated every time you run `make bundle` from other source files. To persist scorecard config changes, edit the kustomize files in `./config/scorecard/`.

If this doesn't solve your problem, let us know and we can re-open.

[2020-10-27 15:24] #4119 closed

[2020-10-27 15:25] joelanford commented on #4119
This will be clarified in docs changes based in #4108

[2020-10-27 16:31] jfgosselin commented on #4102
BTW not sure how they did it in the [Flux Helm Operator](https://github.com/fluxcd/helm-operator/blob/master/deploy/crds.yaml#L379) but I think they support this feature (we didn't use Flux for some other reasons).

[2020-10-27 18:29] joelanford commented on #4102
I didn't look too closely, but it looks like they just allow the `.Wait` setting to be used directly. If anyone sees this that has some knowledge about this particular aspect of the Flex Helm Operator, I'd be interested in knowing how/if the concurrency and reconciliation problems I mentioned above are handled.

[2020-10-27 19:22] varshaprasad96 opened #4120 "Add `containerPort` in `webhookdefinitions` while scaffolding CSV"
## Bug Report

#### What did you do?
Generate package manifests using Operator-SDK `make packagemanifests` target. The `webhookConfig` in CSV appears to be:
[code]

When I run the operator using olm, the install plan fails since `containerPort` is not specified:
[code]

#### What did you expect to see?
Operator running successfully

#### What did you see instead? Under which circumstances?
Since t

[2020-10-27 19:28] varshaprasad96 commented on #4120
If olm is defaulting the containerPort value when it is not specified, this can be closed from SDK's end.

[2020-10-27 20:36] komish commented on #3748
Does this need more information or is it resolved? Asking because of the tag. I just ran across this on opsdkv1.0.0 but I see 1.1.0 out and need to try to upgrade my operator-sdk to see if it's resolved there, but wanted to see if I could provide whatever information is missing.

[2020-10-27 20:40] joelanford commented on #3748
I _think_ this should be resolved as of 1.1.0. The PR (https://github.com/operator-framework/operator-sdk/pull/3813) that presumably fixed this was merged prior to the release. Would you mind trying it out and letting us know.

If it is resolved, we can put this back in the 1.1.0 milestone and close it.

[2020-10-27 20:40] awgreene commented on #4120
@varshaprasad96 OLM defaults the containerPort to 443, but the SDK will still need to default the targetPort.

[2020-10-27 20:42] komish commented on #3748
Certainly, I'll give it a test in the AM and report back!

[2020-10-27 21:53] kensipe commented on #4096
The issue was resolved upstream in kuttl.  Kuttl did NOT create a report for a `--report` if no testcases were run or if there was a startup failure (for instance auth issue or bad connection).  This was fixed in KUTTL and is available with `0.7.1` release.  It will now always create a report if requested and it will provide failure info if an infra tooling failure occurs.

My understanding was a

[2020-10-27 22:16] drewwells commented on #4102
Workaround, `kubectl wait` can look at the status types to block when things happen.  It's not currently possible to use it with InstallSuccessful b/c it is listed as a Reason instead of a type. You can get the deploy, then have to filter the output looking for InstallSuccessful

[code]

Current
[code]

If there was a Status for "DeployedSuccessful", then users could use kubectl to wait on this st

[2020-10-28 03:56] Bryce-huang opened #4122 "How to generate v1 crd instead of the default v1beta1 ?"
## Type of question

How to implement a specific feature

## Question

#### What did you do?
How to generate v1 crd instead of the default v1beta1 ?

#### What did you expect to see?
to generate v1 crd

#### What did you see instead? Under which circumstances?

#### Environment

**Operator type:**

operator-sdk  with go

**Kubernetes cluster type:**

`$ operator-sdk version`
 1.10

`$ go version`

[2020-10-28 06:36] Bryce-huang commented on #4122
I got it ,  in makefile `CRD_OPTIONS ?= "crd:trivialVersions=true,crdVersions=v1"`

[2020-10-28 06:36] #4122 closed

[2020-10-28 06:51] kumarrprashant2005 commented on #4045
@estroz In absence of such a flag, it becomes extremely difficult to create multiple bundles with different package names. This will be a common use-case for operators which have different package names for (upstream) community & Red Hat certified.

Also, if there was an option to just change the package name and not the CSV names, it would be helpful. Right now, the generated CSV file in the bund

[2020-10-28 12:04] camilamacedo86 opened #4123 "Create a test to ensure that user-facing deps are installed in ansible base image"
## Feature Request

#### Describe the problem you need a feature to resolve.

The [old mock data](https://github.com/operator-framework/operator-sdk/blob/v0.19.x/test/ansible-memcached/secret/tasks/main.yml#L16-L20) for Ansible has a task whcih is broke/invalid. I mean, if we add this task in the Memcached sample and deploy and test the project we will face the error:

[code]

See that this task h

[2020-10-28 12:07] miguelsorianod opened #4124 "How to provide ServiceMonitor of an operator with OLM"
## Type of question

General operator-related help

## Question

Hi,

I'm working on migrating an operator from v0.x to v1.1.0. One of the changes I've noticed is that the ServiceMonitor does not seem to be created by the operator anymore, and it's a standalone object in config/prometheus.

However, when I generate the bundle the object is not there. Thus, when I install the operator using OLM thr

[2020-10-28 12:15] camilamacedo86 commented on #4123
Hi @asmacdo @fabianvf,

Would you like to add your input?

[2020-10-28 13:15] asmacdo commented on #4123
+1 to adding this test because there is nothing in the sdk repo that uses jmespath but removal could be a user-facing backwards incompatible. (operator authors may be using `json_query`)

[2020-10-28 13:32] asmacdo commented on #4123
The test doesn't need to take the same form, it would probably be better to use [python requirements module ](https://docs.ansible.com/ansible/latest/collections/community/general/python_requirements_info_module.html)

[2020-10-28 14:38] komish commented on #3748
Based on my testing, it looks like operator-sdk v1.1.0 does resolve this issue.

To recap, I aimed to add a custom service account to my operator (such that I did not use "default" which is what the kustomize manifests are set up to do by default). I ended up with a CSV-adjacent service account included in the bundle, and the namespace that I had prepared was stripped which I believe was the goal

[2020-10-28 15:10] joelanford commented on #3748
Yup! Sounds right. Thanks for confirming.

/milestone v1.1.0

[2020-10-28 15:10] #3748 closed

[2020-10-28 15:11] fabianvf commented on #4123
Agree with Austin, we can validate that it's installed with the requirements module (and maybe we should do the same for the other python libraries we install, ie, kubernetes and openshift)

[2020-10-28 18:58] joelanford commented on #3998
@jmrodri That error is slightly different than the one in this issue.

If you don't have a PROJECT file _at all_, the SDK commands that don't actually require anything from it should work. That's what this issue is about.

If you have a `PROJECT` file, it looks like SDK (via Kubebuilder) expects it to be valid. I don't know if this behavior was intentional or not. If not, we could probably look in

[2020-10-28 19:56] jmrodri commented on #3998
So running `operator-sdk version` always tries to read the `PROJECT` file if there is one. And if it happens to be a directory which is not a valid PROJECT file, then you get the error I described. And it happens fairly early in the process.

When we call `operator-sdk version` I see the following happening:

operator-sdk.cli.Run() is called  and calls `GetPluginsCLIAndRoot()` https://github.com/o

[2020-10-28 20:03] jmrodri commented on #3998
The TL;DR is that I believe my comment https://github.com/operator-framework/operator-sdk/issues/3998#issuecomment-705933816 is completely related because it's a command that does NOT need to look at the PROJECT file. Or at least it shouldn't FAIL if it's invalid.

[2020-10-28 20:06] joelanford commented on #3998
The `kubebuilder` CLI library needs to read the project file to load the plugin which defines the command. So it makes sense for that file to be read for `init` and `create api`, for example.

I agree that we should look to see if we can skip that part for ExtraCommands.

[2020-10-28 20:16] NissesSenap opened #4129 "Create a new Issue template for Documentation issues"
## Add Issue tempalte for docs issues
edit (asmacdo):
There are now buttons for creating issues from each page of the docs so this is mostly done. The only remaining work is to add a Issue template [here](https://github.com/operator-framework/operator-sdk/tree/master/.github/ISSUE_TEMPLATE) and update the "edit this page" links to use that template.

## Original Feature Request (outdated)
Make it

[2020-10-28 20:28] estroz commented on #3998
@jmrodri can you file a kubebuilder issue for skipping `PROJECT` reads for extra commands, and link it here?

[2020-10-28 21:32] estroz commented on #4045
In that case, this is a duplicate of #3998 and is being worked on.

[2020-10-28 22:01] aemperador commented on #4000
I've created a PR for adding kustomize first as a base image that includes the operator-sdk and kustomize: https://github.com/operator-framework/operator-sdk/pull/4130

controller-gen is not included in this one

[2020-10-28 22:46] estroz commented on #4045
On further consideration, this isn't an exact duplicate of #3998, since that issue is asking for a `--package-name` flag so `generate bundle` can be run outside of a project. That flag would allow you to do part of what you want, since changing the package name would also change the CSV name (which is derived from project name).

@kumarrprashant2005 can you explain why changing your CSV name to al

[2020-10-28 23:10] estroz commented on #3991
On second thought this cannot be in v1.0.x because upstream `metav1.Condition` wasn't released until k8s v1.19 and v1.0.x (and v1.1.x) are on k8s v1.18. Also the `go/v2` plugin is still on v1.18 so we probably can't have this in our master docs either.

[2020-10-29 02:53] chowmean opened #4135 "Issue while upgrading operator on k8s 1.14 to 1.16"
While upgrading kubernetes we had an operator YAML with `deployment apps/v1 api`. When we checked in `1.14` the deployment api is converted to `extensions/v1beta1`. Now when we run the same yaml in `1.16` the api used in `apps/v1`.
Is there any conversion that Kubernetes does for backward compatibility in `1.14` for `apps/v1` but since `apps/v1` is available from `1.10` why it does so?

Kubernetes

[2020-10-29 04:31] joelanford commented on #4080
This is complete.

[2020-10-29 04:31] #4080 closed

[2020-10-29 10:27] camilamacedo86 commented on #3418
HI @samuel-hawker,

The place is https://github.com/kubernetes-sigs/controller-runtime. It is not something that is part of the domain of responsibility of SDK. I'd recommend you raise your suggestion there.

I am closing this one as sorted out.

[2020-10-29 10:28] #3418 closed

[2020-10-29 10:40] camilamacedo86 commented on #2962
It was done in the operator-lib. https://github.com/operator-framework/operator-lib/blob/31bfca01148d2c0edb8575de63580870e3bff825/handler/enqueue_annotation.go

[2020-10-29 10:40] #2962 closed

[2020-10-29 11:55] kumarrprashant2005 commented on #4045
@estroz Say if I have a certified operator already out there which has the CSV name which is different from package name (which I presume would be common as the recommendation was to just add the certified suffix to the package name), then this creates problems for upgrade. Once I migrate to the newer SDK, the CSV name would be different if I set the PROJECT to include the certified suffix. This n

[2020-10-29 16:10] estroz commented on #4045
CSV name is meant to be unique, and whether the package name is used in the CSV name doesn't really matter. For example:

I have one CSV for package `foo`:
[code]

I create a new CSV for package `foo` with a higher version, then replace the old one:
[code]

I also create a new CSV for package `bar` with a higher version and CSV name ~ package name, then replace the old `foo` one:
[code]

As long a

[2020-10-29 16:28] #4104 closed

[2020-10-29 16:36] jmrodri commented on #3998
kubebuilder issue to skip `PROJECT` read for extra commands: https://github.com/kubernetes-sigs/kubebuilder/issues/1755

[2020-10-29 17:04] dinhxuanvu commented on #4045
What Eric said is correct. The CSV name must be unique and using `packagename.version` schema is a popular choice to name the CSV that we've seen so far.

[2020-10-30 03:21] camilamacedo86 commented on #4129
HI @NissesSenap,

It shows nice. +1 for me. Would you like to push a pr with the solution? WDYT?

[2020-10-30 06:57] dubauski opened #4145 "Can you change operator language between releases?"
## Type of question

## Question

#### What did you do?

We are planning to release v1.0 of our Ansible based operator. We anticipate the need to implement complex logic in v2.0 of the operator and for that reason it will be necessary to switch to Go based operator implementation.

What kind of problems should we expect with such switch in technologies? If it is not supported or potentially a mess

[2020-10-30 09:07] kumarrprashant2005 commented on #4045
@estroz @dinhxuanvu Thanks a lot for your clarification. I was not aware that you could replace a foo.v1.0.0 with a bar.v1.1.0
This eases some of the trouble while creating CSVs.

The problem with the separate bundles with separate package names still stand and an option to create one would help anyone with these problems.

I could technically create a separate bundle (with a different package nam

[2020-10-30 09:20] fgiloux opened #4146 "Steps in golang tutorial under Cleanup are not sufficient"
## Documentation Bug Report

#### What did you do?

I followed the steps here:
https://sdk.operatorframework.io/docs/building-operators/golang/tutorial/#cleanup

#### What did you expect to see?

that all resources created by the tutorial are deleted

#### What did you see instead? Under which circumstances?

remaining resources:

clusterRoles
- manager-role
- memcached-operator-manager-role
- mem

[2020-10-30 11:30] camilamacedo86 commented on #4146
Hi @fgiloux,

When the SDK supports by default the v3+ plugin it will be solved because the following target will be in the Makefile:

[code]

Could you please try to add this target and check if it will clean all ?

[2020-10-30 11:45] fgiloux commented on #4146
Hi @camilamacedo86

first thing it did:
namespace "memcached-operator-system" deleted

If you want to keep it this way I would recommend to state in the tutorial to create a new namespace and not to use an existing one.
Next it delete crd, cluster roles ,etc which is good.
One little thing is that it also tries to delete deployment and service inside the deleted namespace

[2020-10-30 11:50] camilamacedo86 commented on #4146
Hi @fgiloux,

The new namespace for the operator is created by default it is the projectname + system. The tutorial is based on the version > v1.0.

Note that the target suggested is how it is done for v3+ plugin in upstream which means that when SDK supports v3+ plugin by default it would be solved at this way.

[2020-10-30 12:26] camilamacedo86 commented on #4145
Hi @dubauski,

The Ansible based-operators behind the scene is Go operators. The Ansible operators allow users write their projects with a language that they are more familiarized with it, however, it has some limitations which are not faced with the Golang projects since it is possible to develop and customize your solutions as you wish.

IMO it is not about-face problems, however, how big and co

[2020-10-30 13:08] camilamacedo86 commented on #4135
Hi @chowmean,

We need further information to help you with it as for example if your operator is go, ansible or helm?   I'd kindly ask for you fill the issue template.

Also, note that versions lower than 0.19 is no longer supported and it is recommended migrate the projects to use 1.0+. See: https://sdk.operatorframework.io/docs/building-operators/golang/project_migration_guide/

In the latest v

[2020-10-30 13:08] Gmtstephane commented on #3235
Hello, still nothing new ?
It is impossible to add Any k8s resources in our CRD, so it make creating operator quiet useless if we cannot handle its managed ressources directly in his spec.
The workaround is to fetch the ressources every time in the reconcile loop.

I would define this as a major issue.
Thanks

[2020-10-30 13:14] camilamacedo86 commented on #4124
Hi @miguelsorianod,

For the new layout (>= +1.0), you will update the kustomize.yml file to enable the Prometheus metrics. See an example in the `testdata/` samples: https://github.com/operator-framework/operator-sdk/blob/master/testdata/go/memcached-operator/config/default/kustomization.yaml#L26-L27

For further information see the doc: https://book.kubebuilder.io/reference/metrics.html.

I will

[2020-10-30 13:15] camilamacedo86 commented on #4120
Closing this one based in the above comments.

[2020-10-30 13:21] varshaprasad96 commented on #4120
Sorry, I should have commented before. Alex is right, we would still need to default the `targetPort` value even though fix for `containerPort` is already done by olm in operator-framework/api. Reopening this issue, will make a pr for this fix.

[2020-10-30 13:21] varshaprasad96 commented on #4120
/assign

[2020-10-30 13:24] #4072 closed

[2020-10-30 13:24] awgreene opened #4147 "Add `targetPort` in `webhookdefinitions` while scaffolding CSV"
What did you do?
Attempted to generate a CSV using the SDK for an operator that includes a Webhook.

What did you expect to see?
The SDK does not define a containerPort or targetPort for the webhook:
* OLM defaults containerPorts to 443 if not specified.
* OLM will set the targetPort to the value of the containerPort if not specified

Given the above, the Operator-SDK will only generate a correct

[2020-10-30 13:24] varshaprasad96 commented on #3999
Closing the issue as #4141 and #4093 have been merged

[2020-10-30 13:24] #3999 closed

[2020-10-30 13:25] awgreene commented on #4147
Closing this since https://github.com/operator-framework/operator-sdk/issues/4120 was reopened.

[2020-10-30 13:25] #4147 closed

[2020-10-30 13:52] camilamacedo86 commented on #1234
is it implemented in controller-runtime already? See: https://github.com/kubernetes-sigs/controller-runtime/issues/855
If yes I think we should use the controller-runtime implementation. So, IMO we need here:

- Check if the above are features that can be used from controller runtime
- To do it in upstream (Kubebuilder)
- Path the solution for Helm/Ansible (we might need to review what is done for

[2020-10-30 13:57] snorwin commented on #1813
Hi @AllenZMC  , what's the root cause please?

[2020-10-30 14:23] asmacdo commented on #4129
Docsy has support for this feature this is from the theme's example:
![Screenshot from 2020-10-30 10-19-43](https://user-images.githubusercontent.com/1028657/97716054-82b2b380-1a99-11eb-89b9-89bf821d4a2c.png)

AFAICT we already hvae this feature enabled, so I'm not sure why it isn't being picked up. @matthewcarleton, this sounds familiar, do you remember anything about this? https://github.com/ope

[2020-10-30 14:45] miguelsorianod commented on #4124
Hi @camilamacedo86,

Even if you enable prometheus the ServiceMonitor does NOT automatically end up in the bundle.

[2020-10-30 14:52] asmacdo opened #4148 "Scorecard flake in "go unit and e2e" CI job"
## Bug Report
In the `go unit and e2e` on travis, I got a timeout error:

`Error: error running tests context deadline exceeded`

Log:

[code]

[2020-10-30 15:04] asmacdo commented on #4148
Also seen in helm e2e test

[2020-10-30 15:15] camilamacedo86 commented on #4124
Hi @miguelsorianod,

You need to enable tthe metrics as described in https://github.com/operator-framework/operator-sdk/issues/4124#issuecomment-719544629. However, regards its integration with OLM shows that it will be addressed in PR #4137. @joelanford let me know if I missed something about the #4137 change.

[2020-10-30 15:19] camilamacedo86 commented on #4129
You did notice that we have a create project issue already on the website. So, shows that we can close this one since the RFE is addressed already.,

@NissesSenap I am closing it. However, please feel free to ping us to re-open if you think that is required.

[2020-10-30 15:23] camilamacedo86 commented on #3770
The end goal of this issue would be we have a makefile target manifests for Ansible/Go. I will update the first comment to clarifies it.  It cames in the survey so, I am removing the milestone for we have the chance to discuss it again in the bug triage.

[2020-10-30 15:42] NissesSenap commented on #4129
Hmm I'm not sure what you are talking about @camilamacedo86 I can't see any "project issue" on the website but I'm usually half blind so please point it out to me :)

@asmacdo without knowing the hugo theme that you are using. Doesn't that only trigger when you push some feedback button?
Can't say that I found the feedback button ether but I guess you will be redirected to: https://github.com/oper

[2020-10-30 15:58] asmacdo commented on #4129
The picture I posted should show up on the right side of the page like it does on the example site. https://example.docsy.dev/docs/

This is still an issue, but it is a dupe of: https://github.com/operator-framework/operator-sdk/issues/3642

[2020-10-30 16:03] asmacdo commented on #4129
But yes, once it's working, there will be a "File an issue" link that points to https://github.com/operator-framework/operator-sdk/issues/new.

We could create a new type of issue here: https://github.com/operator-framework/operator-sdk/issues/new/choose

I think that having a "documentation issue" template sounds like a pretty good idea.

Also, I'm reopening this issue and closing #3642 since the

[2020-10-30 16:04] #3642 closed

[2020-10-30 16:04] asmacdo commented on #3642
This was the original but #4129 has better info.

[2020-10-30 16:04] miguelsorianod commented on #4124
Hi @camilamacedo86,

When enabling the metrics as described in https://github.com/operator-framework/operator-sdk/issues/4124#issuecomment-719544629 the ServiceMonitor is not automatically added to the bundle. I think https://github.com/operator-framework/operator-sdk/pull/4137 that you are referencing might solve that.

However, I think #4137 might not address this part of the comment:
[code]

[2020-10-30 18:26] estroz commented on #3235
Workaround for post-v1.0 projects:
[code]
[code]
[code]

[2020-10-30 18:32] estroz commented on #3494
Closed by #4137

[2020-10-30 18:32] #3494 closed

[2020-10-30 18:33] camilamacedo86 commented on #4123
Just to clarifies:

The check `Check if jmespath is installed` has not been called and its code is invalid. We can easily check it by looking on the e2e-ansible task output of any CI job. E.g search for `Check if jmespath is installed` in https://travis-ci.com/github/operator-framework/operator-sdk/jobs/420868963

[2020-10-31 11:47] camilamacedo86 commented on #3558
/lifecycle frozen

[2020-10-31 11:54] camilamacedo86 commented on #3706
I removed from the backlog because it was added to the backlog for we are able to discuss it again in the bug triage meeting and I update the first comment to make its motivation more clear.

[2020-10-31 15:31] camilamacedo86 commented on #3448
/remove-lifecycle stale

[2020-10-31 19:06] #4061 closed

[2020-10-31 23:17] camilamacedo86 opened #4151 "Unable to run the tests locally (Mac) after the changes made on the Makefile"
## Bug Report

#### What did you do?

I executed `make test-e2e-go`, `make test-e2e-helm`, `make test-e2e-ansible`,

#### What did you expect to see?

The tests are executed successfully.

#### What did you see instead? Under which circumstances?

The `operator-sdk run packagemanifests --install-mode AllNamespaces --version 0.0.1 --timeout 4m` faces a timeout now and for ansible, I also have been

[2020-10-31 23:17] camilamacedo86 commented on #4151
c/c @estroz @joelanford

[2020-10-31 23:21] camilamacedo86 opened #4152 "The makefile target bindata has showing errors (Mac)"
## Bug Report

#### What did you do?

`make bindata`

#### What did you expect to see?

Generate the bindata succefully

#### What did you see instead? Under which circumstances?

[code]

#### Environment

- Mac

#### Possible Solution

Replace the command wget for a command/logic that is supported in Mac and Linux.

[2020-10-31 23:21] camilamacedo86 commented on #4152
c/c @varshaprasad96

[2020-10-31 23:36] camilamacedo86 opened #4153 "Unable to run the tests directly"
## Bug Report

#### What did you do?

Run make install and then run the tests directly via command line or IDE such as done before the changes made in the Makefile targets.

#### What did you expect to see?

Be able to run the tests without the need to use the makefile target in order to troubleshooting.

#### What did you see instead? Under which circumstances?

The error ` time="2020-11-01T10:03

[2020-10-31 23:36] camilamacedo86 commented on #4153
c/c @estroz

[2020-10-31 23:55] camilamacedo86 opened #4154 "Unable to use `operator-sdk olm install --timeout 4m`"
## Bug Report

#### What did you do?

Executed `$ operator-sdk olm install --timeout 4m`

#### What did you expect to see?

OLM installed

#### What did you see instead? Under which circumstances?

The error `I1031 20:53:35.082812   20372 request.go:621] Throttling request took 1.034184485s, request: GET:https://127.0.0.1:64988/apis/discovery.k8s.io/v1beta1?timeout=32s
FATA[0016] Failed to install

[2020-10-31 23:56] camilamacedo86 commented on #4154
c/c @varshaprasad96 @estroz

[2020-11-01 04:39] varshaprasad96 commented on #4154
Hi @camilamacedo86
I tried installing latest version of olm using the same command. I am not able to reproduce this issue:

[code]

I tried installing version `0.15.1` as specified in the error in #4153

[code]

This works too. I'm not entirely sure on why `OperatorGroup` was not created. Was this intermittent, or does it occur always with this timeout value?. Technically, timeout shouldn't be the

[2020-11-01 04:46] varshaprasad96 commented on #4152
Mac does not come with `wget`. We could use `curl` instead.

[2020-11-01 04:48] varshaprasad96 commented on #4153
Hi @camilamacedo86
I am not able to reproduce this issue. Could you please have a look at : https://github.com/operator-framework/operator-sdk/issues/4154#issuecomment-720026561

[2020-11-01 12:55] camilamacedo86 commented on #3678
Done : https://github.com/operator-framework/operator-sdk/pull/4156/files

[2020-11-01 12:56] camilamacedo86 commented on #3615
/remove-lifecycle stale

[2020-11-01 13:09] camilamacedo86 commented on #4153
Hi @varshaprasad96,

sorry, I cut/paste the wrong output. I just updated the first comment. See that to test it I am doing:

- $ kind delete cluster
- $ kind create cluster
- $ go test ./test/e2e-go -v -ginkgo.v

[2020-11-01 13:13] camilamacedo86 commented on #4154
@varshaprasad96 what is the cluster used in your tests?

[2020-11-01 13:37] camilamacedo86 opened #4157 "check link docs fails when we add a new document"
## Bug Report

#### What did you do?

Add a new command to the tool and run make generate to update the CLI docs

#### What did you expect to see?

The docs link check NOT fail in the CI when we add a new doc

#### What did you see instead? Under which circumstances?

[code]

[2020-11-01 13:38] camilamacedo86 commented on #4157
c/c @asmacdo

[2020-11-01 15:34] Gmtstephane commented on #3235
Hi, i tried your fix, without results, with a simple example :
[code]

Following your instructions, My makefile is like :
`CRD_OPTIONS ?= "crd:crdVersions={v1beta1},crdVersions={v1beta1},trivialVersions=true"`

and my controller-gen version :
[code]
When i try to install the crd :

[code]

Thanks.

[2020-11-01 18:14] kubealex opened #4158 ""operator-sdk run local" not present in 1.1.0"
## Bug Report

#### What did you do?

Follow the documentation for Helm Operator Tutorial, and try to run a local instance of the operator locally.
#### What did you expect to see?

Command operator-sdk run local --kubeconfig=<path_to_config> working as expected

#### What did you see instead? Under which circumstances?

operator-sdk run local --kubeconfig=kubeconfig
Error: unknown flag: --kubecon

[2020-11-01 19:34] camilamacedo86 commented on #4158
HI @kubealex,

It is not a bug. The `operator run local` is no longer supported. For the version +1.0 (new layout) the projects are created with a Makefile where users are able to create the target `make run` which has the same purpose. See the e.g https://github.com/operator-framework/operator-sdk/blob/master/testdata/helm/memcached-operator/Makefile#L20-L21

In this way, I'd like to recommend yo

[2020-11-01 19:34] #4158 closed

[2020-11-01 19:40] aaronmcohen commented on #3545
/remove-lifecycle stale.

[2020-11-01 19:43] aaronmcohen commented on #3763
@camilamacedo86 @joelanford Per https://github.com/operator-framework/operator-sdk/issues/3763#issuecomment-696087557 . How do you run helm tests against a helm based operator? What `tiller` do you point the client to?

[2020-11-01 19:51] kubealex commented on #4158
Completely fine, I opened a pull request to update the documentation, since it is in 1.1 docs.

[2020-11-01 20:43] camilamacedo86 commented on #3545
/remove-lifecycle stale

[2020-11-01 20:44] camilamacedo86 commented on #3623
/remove-lifecycle stale

[2020-11-02 05:45] dubauski commented on #4145
Thank you for quick reply, @camilamacedo86.

[2020-11-02 08:20] pre commented on #3357
For a wonderful MVP for better user experience, a helpful error message would be great. The current error is very much confusing - if you don't remember that this issue exists, you may end up spending quite an amount of time figuring out what's going on.

/remove-lifecycle stale

[2020-11-02 09:44] fckbo commented on #3477
Hello, just ran into it  generating/installing the Go MemcachedStatus operator provided in https://github.com/operator-framework/operator-sdk/tree/master/testdata with.
`operator-sdk version
operator-sdk version: "v1.1.0", commit: "9d27e224efac78fcc9354ece4e43a50eb30ea968", kubernetes version: "v1.18.2", go version: "go1.15 linux/amd64", GOOS: "linux", GOARCH: "amd64"`

and using `oc version
Clien

[2020-11-02 10:42] camilamacedo86 commented on #3477
Hi @fckbo,

The testdata/go/memcached operator has not the finalizer permission required for it works in OCP:

See:

https://github.com/operator-framework/operator-sdk/blob/master/testdata/go/memcached-operator/controllers/memcached_controller.go#L45-L48

We added this permission in upstream https://github.com/kubernetes-sigs/kubebuilder/pull/1688 but for v3+ plugin which means that it will ONLY b

[2020-11-02 13:07] grantliu3 commented on #4012
I'm not able to reproduce this problem when using memcached-operator, still investigating the key steps that are required to reproduce it, will update this issue if any progress.

[2020-11-02 13:19] fgiloux commented on #4146
Hi @camilamacedo86

I have created the PR (as you can see). I also modified the deployment namespace to something different than "default", which already exists in kubernetes clusters to avoid having resources created in this namespace prior to the tutorial being deleted as well. I hope this makes sense to you.

[2020-11-02 13:51] camilamacedo86 commented on #3998
@jmrodri,

I was checking this one further and shows that Kubebuilder does not require the PROJECT file for extra commands at all. See that it will not raise an issue when do not exist: https://github.com/kubernetes-sigs/kubebuilder/blob/76e8d21fd0efb89eb7de53bd7b48a1c70c3771d7/pkg/cli/cli.go#L187-L191

The error `Error: error reading configuration: open PROJECT: no such file or directory` faced w

[2020-11-02 16:47] jmrodri commented on #4154
@camilamacedo86 Works fine for me I used both kind 0.8.1 and 0.9.0.

### kind v0.9.0 and operator-sdk version v1.1.0

#### Install kind cluster
[code]

#### Install OLM with operator v1.1.0
[code]

[2020-11-02 16:53] jmrodri commented on #4154
#### Tried using master build
[code]

[2020-11-02 17:20] jmrodri commented on #4154
@camilamacedo86 interestingly enough on my laptop it fails with a timeout. Looking at the pods in `olm` namespace, they're in `ImagePullBackoff`.
[code]

I was able to pull that image:
[code]

As well as latest:

[code]

[2020-11-02 18:34] estroz commented on #4153
@camilamacedo86 the operator-sdk e2e tests are not meant to be run directly. There is a bunch of setup done in the Makefile and scripts like image builds and loading into the kind cluster. The tests were designed this way intentionally, so I'm closing this issue.

[2020-11-02 18:34] #4153 closed

[2020-11-02 18:45] varshaprasad96 commented on #4154
@camilamacedo86 Im using kind v0.9.0, operator-sdk version: "v1.1.0", go version: "go1.15.2 darwin/amd64"

[2020-11-02 18:49] camilamacedo86 commented on #4154
Hi @varshaprasad96, @jmrodri.

So, it shows a timeout issue faced by only. I would need to add more than the 4min to make it work. Really tks for your help,

[2020-11-02 18:49] #4154 closed

[2020-11-02 19:05] asmacdo commented on #4157
We have new links on every docs page
![Screenshot from 2020-11-02 14-03-44](https://user-images.githubusercontent.com/1028657/97908137-4c349d00-1d14-11eb-877b-3c8e6caa2a16.png)

"Edit this page" links to github. This will break our link checker for every PR that adds a new doc. We need

Option 1add a mechanism  to skip links
Option 2 remove this feature.

[2020-11-02 19:18] varshaprasad96 commented on #3991
Closing this issue, as the [doc](https://master.sdk.operatorframework.io/docs/building-operators/golang/advanced-topics/) has been updated for all versions post v1.0 to reflect this change.

[2020-11-02 19:18] #3991 closed

[2020-11-02 19:27] joelanford commented on #3770
I think this is what I used experimenting with Helm: https://github.com/karuppiah7890/helm-schema-gen

[2020-11-02 19:31] joelanford commented on #3770
If someone cares about this and would like to help us investigate or implement, please reach out to the maintainers to continue the discussion about how this could work.

[2020-11-02 19:33] asmacdo commented on #4065
We are not going to create the channel for now, the consensus is that #kubernetes-operators on kubernetes slack is the place where users should ask operator-sdk questions.

However, if this doesn't work for everyone, feel free to comment and reopen.

[2020-11-02 19:33] #4065 closed

[2020-11-02 19:34] camilamacedo86 commented on #3706
We discussed in the bug triage meeting and then we decided to no mover forward with because actually, we can have more than one pkg running and not necessary it will be the Project Name. Another good argumentation was that we would like to promote run bundle more instead of that.

[2020-11-02 19:34] #3706 closed

[2020-11-02 19:40] asmacdo commented on #4129
It looks like this one is actually already done and will be included in the next release. See https://master.sdk.operatorframework.io/docs/

[2020-11-02 19:41] asmacdo commented on #4129
Leaving this open to cover the creation of a new issue template for docs issues:
https://github.com/operator-framework/operator-sdk/issues/new/choose

[2020-11-02 19:44] joelanford commented on #4110
Another detail:

Right now `master` branch builds and tag pushes do the same set of CI tests that PRs do. Then, if and only if the tests pass, the deploy stage runs.

If we move tests into GitHub Actions, we lose that coupling and conditional logic. There was some discussion in a community meeting that we could perhaps remove the CI tests from `master` and tag builds due to the fact that we know c

[2020-11-02 19:45] jberkhahn commented on #4112
Per the discussion in the 11/2 triage meeting, it was decided that the current badge status indicator is good enough, so there isn't anything actionable on this at this time.

[2020-11-02 19:45] #4112 closed

[2020-11-02 20:10] estroz commented on #3235
@Gmtstephane I linked the wrong commit in the instructions, try `6fa696de4772fb44595d25355946254885a202df` (updated above).

[2020-11-02 20:17] asmacdo commented on #4157
I pushed the following diff to @camilamacedo86's PR https://github.com/operator-framework/operator-sdk/pull/4156

[code]

This will ignore all the "edit this page" links in the link checker.

[2020-11-02 20:41] estroz commented on #3623
The Makefile is yours once you've `init`'d your project, so you can modify the image build targets yourself.

[2020-11-02 20:41] #3623 closed

[2020-11-02 20:46] Gmtstephane commented on #3235
Working Thanks !

[2020-11-02 22:10] kensipe commented on #4135
@chowmean your question seems centered around core types... There pretty disciplined rules around versions of core types and their support.  Older versions continue to be supported through a deprecation period until they are removed.  It would be good to understand the deprecation policy: https://kubernetes.io/docs/reference/using-api/deprecation-policy/

Once a version of a kind is removed, there

[2020-11-02 22:10] #4135 closed

[2020-11-02 22:16] camilamacedo86 commented on #4124
Hi @miguelsorianod,

The error faced occurs because the cluster has not Prometheus installed. We discussed this issue in the bug triage and OLM might have an option to solve this kind of dependency if you cannot ensure that Prometheus will be installed on the cluster.

From the SDK side, we can say that it solves with #4137. Could you please raise this question in OLM repository? Its maintainers m

[2020-11-02 22:16] #4124 closed

[2020-11-02 23:12] agaffney opened #4169 "Ansible operator needs a way to pass vars as "unsafe""
## Feature Request

#### Describe the problem you need a feature to resolve.

I'm writing an operator that accepts values that look like Jinja templates but aren't. Ansible is attempting to interpret these and blowing up.

#### Describe the solution you'd like.

Ansible (since 2.8-ish) allows you to specify vars as "unsafe" via JSON (such as when submitted via extra vars). You can do this via the

[2020-11-03 03:04] joelanford commented on #4098
@ming-ddtechcg I am not able to reproduce this after clearing my module cache. I tried with both `GOPROXY=https://proxy.golang.com,direct` and `GOPROXY=direct`. If you're able to provide more details about how to reproduce this issue, we can take another look!

[2020-11-03 03:04] #4098 closed

[2020-11-03 12:31] dannyzaken opened #4170 "make generate fails when type alias is used in <kind>_types.go"
## Bug Report

#### What did you do?

* I am migrating [noobaa-operator](https://github.com/noobaa/noobaa-operator) to operator-sdk v1.
* after recreating the project and adding one of our APIs I ran `make generate`

#### What did you expect to see?

success

#### What did you see instead? Under which circumstances?

code generation failed with panic (see below).

After some investigation, I found

[2020-11-03 13:26] joelanford commented on #4170
This is an issue with `controller-gen`. It looks related to https://github.com/kubernetes-sigs/controller-tools/issues/492.

As far as I can tell, type aliases are not supported.

[2020-11-03 13:26] #4170 closed

[2020-11-03 14:20] chowmean commented on #4135
Thanks, the issue was based on kubectl preferring local cluster api order while displaying information. https://github.com/kubernetes/kubernetes/issues/95974

[2020-11-03 14:33] anusood opened #4171 "How to restart a virtual service from controller in OperatorSDK v1.0.0"
Once a pod is recreated from inside the controller, I want a Virtual Service of Istio to be recreated as well. What package/third party API can help me with it.

[2020-11-03 14:35] camilamacedo86 commented on #3639
/remove-lifecycle stale

[2020-11-03 15:44] hensur commented on #3235
Workaround for 0.18.x projects:
I just bumped the `controller-tools` dependency and built a new binary.

The generated manifests have the `default` field set.

Required changes: https://github.com/hensur/operator-sdk/commit/ffa2f2cb5dff1720f201f90a1f4fbc23404383a0

[2020-11-03 16:05] asmacdo opened #4172 "As a developer, I'd like to force the link-checker to skip specific links for a PR"
## Feature Request

Somewhat frequently, CI gets jammed up due to the link checker.

#### Case 1: External site down

If any of the sites we link to are down, we are unable to pass CI.

#### Case 2: Chicken/Egg links

Some PRs link to GitHub code that will not exist until the PR is merged.

### Prior Work

The link checker can accept an additional argument `url-ignore`
https://github.com/operator-

[2020-11-03 17:13] asmacdo opened #4173 "Refactor and Unit Test operator_installer.go: `getInstalledCSV`"
## Feature Request

#### Describe the problem you need a feature to resolve.

`getInstalledCSV` is difficult to unit test because it creates an OLM client as part of the function, which means that any tests can't make use of the Fake Client.

See: https://github.com/operator-framework/operator-sdk/pull/4165/files#r516283764

[2020-11-03 18:30] #3585 closed

[2020-11-03 20:30] anusood opened #4175 "I need to recreate a different CRD object that exists on Openshift, from inside the controller of my operator. How too do this is the controller in operatorSDK?"
So I have a scenario where if the pod gets deleted, it gets recreated from my operator, but I want the CRD Object for the VirtualService of Istio to also be recreated at the same time. How do you suggest I do it? Would be of great help. Thanks

[2020-11-03 21:06] rashmigottipati opened #4176 "Meta-issue: Implement `run bundle upgrade` subcommand to improve OLM integration"
The Operator SDK maintainers are hard at work to implement run bundle upgrade to improve integration with the Operator Lifecycle Manager.

The goal of run bundle upgrade subcommand is to make Operator Developers rely on the Operator SDK to facilitate an upgrade of an Operator from its previous version, using Operator Lifecycle Manager.
Ideally, this command automates a lot of the manual orchestrat

[2020-11-03 21:35] witchbutter opened #4177 "Quickstart Makefile doesn't work"
## Type of question

Open question

## Question
I am running through the tutorial here: https://sdk.operatorframework.io/docs/building-operators/helm/quickstart/
I am using MacOS Catalina.  It does not work and there seems to be nowhere else to ask about it but here.

#### What did you do?
Follow the directions to the letter until the step (obviously I substituted a real registry and project):
`ma

[2020-11-03 21:36] fckbo commented on #3477
Hi @camilamacedo86,

thx for your answer, this is what I had done....it worked... and sorry, I actually did not realise that the fix would be included only in a future release. Thx for clarifying.

[2020-11-03 21:36] rashmigottipati commented on #3070
Created this meta-issue https://github.com/operator-framework/operator-sdk/issues/4176 to track run bundle upgrade work.

[2020-11-03 22:00] camilamacedo86 commented on #3477
It is fine and really thank you for your collaboration 🥇

[2020-11-03 22:15] joelanford commented on #4177
I'm not able to reproduce this on my Linux machine.

Looking at the Dockerfile, there are no references to `bin`, so this error seems to be something going on in the Makefile. Also, the `docker-build` and `docker-push` targets have no make dependencies, so I would think that you would see this error with _any_ make targets. This seems like an issue with your environment somehow. Can you try runnin

[2020-11-04 00:06] witchbutter commented on #4177
I do see the error with any make targets.  `docker build` and `docker-push` work.

[2020-11-04 07:57] harche opened #4179 "Trying to write a validating webhook"
## Type of question

## Question

#### What did you do?
I want to restrict the number of CRs that users are allowed to create, and to do so I am writing an admission webhook. I implemented a basic [ValidateCreate](https://github.com/harche/kata-operator/blob/webhook/api/v1/kataconfig_webhook.go#L47) by following the operator sdk [tutorial](https://v1-0-x.sdk.operatorframework.io/docs/building-oper

[2020-11-04 10:23] camilamacedo86 commented on #4177
I have a mac as well although it has no relation at with the SO kind.

Note that:

The error `nginx-operator/bin: No such file or directory` is faced because it is looking for the bin/ directory which is **ONLY** required and added when we would run the operator locally with the make target `make run`. The quick-start do not cover it since it has not this step.

So, you probably executed another s

[2020-11-04 11:31] chphong commented on #2103
code in go.mod below works for me.
`replace github.com/codegangsta/cli => github.com/codegangsta/cli v1.20.0`

[2020-11-04 12:46] dongwangdw opened #4180 "Can we use custom SCC against operand?"
We want to use custom SCC to restrict the permission of operands.
We reconsile it from operator and config the corresponding service account to use it.

yes, we use it before we create it in CSV. This works in ocp 4.5/4.6 but not in 4.4.
In 4.4, two service account use this SCC, one can not get satifisfied, the other is OK.

At first glass, this has some logic issue. But it works in 4.5 and 4.6.

[2020-11-04 13:38] camilamacedo86 commented on #4172
I understand that we just faced this situation because a new feature adds in the docs where the link was added `https://github.com/operator-framework/operator-sdk/edit/master`. Should we face this scenario frequently? If not, I am ok with we dealing with manually as done in this case.

[2020-11-04 14:06] #4180 closed

[2020-11-04 16:28] witchbutter commented on #4177
I did not previously run make run.  I can delete minikube and the folder and start from scratch and still get the exact same output:
[code]

[2020-11-04 16:52] joelanford commented on #4177
env: Fusion.app/Contents/Public:/usr/local/MacGPG2/bin:/opt/puppetlabs/bin:/opt/puppetlabs/pdk/bin:/opt/X11/bin:/Library/Apple/usr/bin:/Users/witchbutter/.rvm/bin:/Users/witchbutter/nginx-operator/bin: No such file or directory

I've never seen lines like this in anything the SDK or Makefile would output, but it looks like it _could_ be related to a combination of your shell or environment and thi

[2020-11-04 17:30] witchbutter commented on #4177
I rewrote the lines to a sensible default:
`SHELL := env PATH=/usr/local/bin:/usr/bin:/bin:/usr/sbin:/sbin /bin/sh`
The path you see above is created by homebrew and I wonder if maybe it is just too long for /bin/sh to handle.  It is working with the reduced path.

[2020-11-04 17:30] #4177 closed

[2020-11-04 21:19] nicknezis opened #4183 "Add the ability to create custom metrics in an Ansible Operator"
## Feature Request

#### Describe the problem you need a feature to resolve.

When running an Ansible Operator, there is no easy way to provide metrics based on the operation of the operator. Operator SDK provides various metrics, but there is no ability to create custom metrics.

#### Describe the solution you'd like.

I would like to have an Ansible module/task that provides some syntactic sugar

[2020-11-04 21:25] #3608 closed

[2020-11-04 21:52] #3477 closed

[2020-11-04 22:00] fckbo opened #4184 "memcached operator restart due to OOMKilled when deployed "manually" and works fine when deployed using OLM"
## Type of question
Open question

## Question
Hello, I noticed that the memcached controller was restarting, when deploying some memcached instance, due to " OOMKilled" when the operator was deployed "manually" using
[code]
but when packaging it in a bundle, creating a CatalogSource and deploying it using OLM on OCP GUI it did not happen
#### What did you do?
Used the tutorial
[code]
I noticed th

[2020-11-04 22:07] camilamacedo86 commented on #4184
Hi @fckbo,

For we try to help you we need further information such as:

1 - Could you please provide the logs `kubectl logs deployment.apps/memcached-operator -n <ns>`?
2 - Could you share the link for this Memcached operator? did you wrote that following the tutorial? are you using  the project in the testdata?
3 - Is the problem not faced if you use make deploy IMG=<image> and let the operator

[2020-11-04 22:58] estroz commented on #4071
I am able to reproduce this locally.

/kind bug

[2020-11-05 00:00] estroz commented on #4096
Closed by #4138

[2020-11-05 00:32] #4113 closed

[2020-11-05 06:16] lsalazar1 opened #4193 "Basic Scorecard Test not Working"
## Type of question

How to implement a specific feature

## Question
I'm trying to get a scorecard to work for an operator we created at work. We thought something as simple as defining an .osdk-scorecard.yaml and running `operator-sdk scorecard` would work. Unfortunately, the results say were encountering a fatal error[0000] (a bundle image or directory is required). What would I need to do to g

[2020-11-05 08:18] SteveMattar commented on #4000
@aemperador Thanks for your work! Is there any reason why `controller-gen` is not part of this [PR](https://github.com/operator-framework/operator-sdk/pull/4130)?

[2020-11-05 11:21] camilamacedo86 commented on #4179
hI @harche,

To work with webhooks you need to have the cert-manager installed on the cluster. My guess is that it is missing. Also, note that it gets a few minutes to be fully installed. You need to follow the instructions in: https://cert-manager.io/docs/installation/kubernetes/

also, see that for this scenario you can check the sample https://github.com/operator-framework/operator-sdk-samples/

[2020-11-05 11:45] camilamacedo86 commented on #4193
Hi @lsalazar1,

Could you please provide further information to let us know the following?

- What is the command used to run the scorecard ? Is it `operator-sdk scorecard  bundle --selector=suite=basic --output=json --wait-time=60s`?
- Did you build the bundle (make bundle) and its image before running the scorecard (make bundle IMG=<some-registry>/<project-name>:<tag>)?
- Could you please provid

[2020-11-05 13:42] jmccormick2001 commented on #4193
.osdk-scorecard.yaml  was the older style scorecard configuration, you will want to be using the new scorecard config.yaml file, there is a sample of it in the SDK repo and it also gets scaffolded out when you create a new project.

[2020-11-05 13:46] jmccormick2001 commented on #4096
still a problem here I think, needs to be confirmed that the bump fixed it.

[2020-11-05 13:54] camilamacedo86 commented on #3676
/lifecycle frozen

[2020-11-05 14:25] majidma-ag opened #4195 "Seeing re-conclier error in the controller manager logs."
I am using the operator-sdk (native ansible operator for k8s) to onboard clients in keycloak,

1) I did the necessary pre-requisites to initialise the operator and creating the api.
2) In the roles/tasks.yml of the operator directory i have defined the standard playbook for keycloak client creation, i am using the following:
- name: Create or update Keycloak client
  local_action:
    module: keyc

[2020-11-05 14:35] camilamacedo86 commented on #4195
HI @majidma-ag,

Shows that your role has a syntax error. See the logs:

`ERROR! conflicting action statements: keycloak_client, state\r\n\r\nThe error appears to be in '/opt/ansible/roles/xx-sso-yyy/tasks/main.yml': line 3, column 3, but may\r\nbe elsewhere in the file depending on the exact syntax problem.\r\n\r\nThe offending line appears to be:\r\n\r\n# tasks file for xx-sso-yyy\r\n- name: hhh