[2022-04-07 12:36] umangachapagain commented on #5587
@asmacdo These are 2 different issues, not duplicates. When you fix 5574, you will hit this issue as I mentioned in the bug report above.

[2022-04-07 15:36] asmacdo opened #5635 "oauthlib fails to install into ansible base images"
## Bug Report

Oauthlib version was bumped, but the hash is not up to date.

#### What did you do?

`make image-build-base` fails to complete. The new version of oauthlib is downloaded,  but it doesnt match the expected hash.

I've marked this as a 1.19 release blocker, because this will cause our the dependency base image to fail to build.

[2022-04-07 16:56] everettraven commented on #5553
@bradtopol I went through the Quickstart guide and didn't have any issues with the `config/samples/cache_v1alpha1_memcached.yaml` file that is generated.

Is this still an issue that you are encountering?

Here is the output I get when running `operator-sdk version`:
operator-sdk version: "v1.18.1", commit: "707240f006ecfc0bc86e5c21f6874d302992d598", kubernetes version: "1.21", go version: "go1.17

[2022-04-07 17:45] asmacdo commented on #5635
Fixed by https://github.com/operator-framework/operator-sdk/pull/5625

[2022-04-07 17:45] #5635 closed

[2022-04-07 20:00] #5415 closed

[2022-04-08 14:14] vittico opened #5642 "Ansible operator-sdk: allow customization of proxy-server port"
Allow the Operator port to be customized [1]

[1] https://github.com/operator-framework/operator-sdk/blob/latest/internal/cmd/ansible-operator/run/cmd.go#L254

It would be good if  the proxy server port can be customized like any other port instead of having this hard-coded.

Whenever customers or  other vendors make use of the operator-sdk and run on the host network (which can definitely happen)

[2022-04-09 14:20] rbq commented on #4925
I'm getting the message "[...] contains a path component, which the proxy server is currently unable to handle properly. Work on this issue is being tracked here: [...]" in 1.19.0.

[2022-04-10 11:45] #5332 closed

[2022-04-11 11:32] yimingtech commented on #5558
operator-sdk version: "v1.19.0", commit: "728682c347f6335ee2a610e08790a5e1411508f4", kubernetes version: "v1.23", go version: "go1.18", GOOS: "darwin", GOARCH: "amd64"    Is an error   failed to create API: unable to run post-scaffold tasks of "base.go.kubebuilder.io/v3": exit status 2

[2022-04-11 13:39] asmacdo commented on #5613
Fixed by https://github.com/operator-framework/operator-sdk/pull/5643

[2022-04-11 13:39] #5613 closed

[2022-04-11 18:22] asmacdo commented on #5642
Seems like a very reasonable request. We've put it on the backlog for now, but we would absolutely accept this feature sooner if anyone is interested in creating a PR (@vittico?). Feel free to contact me if someone would like help contributing!

[2022-04-11 18:27] jmrodri commented on #4925
/cc @jmrodri

[2022-04-11 18:27] laxmikantbpandhare commented on #4925
thank you for bringing this @rbq - We are working on it and will fix this soon.

[2022-04-11 21:46] everettraven commented on #5634
@tdaleibm After being informed that `operator-sdk` does indeed have a s390x release, I was able to set up an environment to test on s390x and replicate your issue on both Ubuntu and Fedora.

I was able to get it to work after making sure `gcc` was installed and running `export CGO_ENABLED=0`. I am curious, if you do the same does running `operator-sdk create api --group cache --version v1alpha1 --

[2022-04-12 12:26] tdaleibm commented on #5634
Ah yes, thank you so much `CGO_ENABLED=0` solved my problem.

[2022-04-12 12:26] #5634 closed

[2022-04-12 16:00] laxmikantbpandhare commented on #4925
@rbq - We removed the change that was throwing an error when there is a path in the proxy server. It will be available in the 1.20 `operator-sdk` release.

[2022-04-12 22:08] hj-johannes-lee commented on #4815
Hello, I am trying to run with insecure registry running on localhost as the example in the issue.

`$operator-sdk run bundle localhost:5000/test:devel -n testoperator --skip-tls
$kubectl logs -n testoperator   localhost-5000-test-devel
time="2022-04-12T21:30:43Z" level=info msg="adding to the registry" bundles="[localhost:5000/test:devel]"
time="2022-04-12T21:30:43Z" level=info msg="trying next h

[2022-04-12 22:48] laxmikantbpandhare commented on #4815
@hj-johannes-lee - Which Operator SDK version you are using? Could please share those details.

[2022-04-13 03:54] ryantking commented on #5457
@apodhrad This is now fixed, would you be able to install from the latest commit and try scorecard now to see if the output works for you to confirm?

[2022-04-13 05:11] fgiloux commented on #5180
/remove-lifecycle stale
this should most probably get implemented in kubebuilder but still an issue operator-sdk.
multi-arch is more and more becoming a thing.

[2022-04-13 08:03] huiyichanmian opened #5654 "etcd dependency has no darwin/arm64 binary"
When I use the operator-sdk in the reference document and execute make docker build, the following error occurs:

My working environment：

go version go1.17.8 darwin/arm64

operator-sdk version: "v1.19.0", commit: "728682c347f6335ee2a610e08790a5e1411508f4", kubernetes version: "1.23", go version: "go1.17.8", GOOS: "darwin", GOARCH: "arm64"

[code]

[2022-04-13 08:18] venkataramanam opened #5655 "Regression - v1.19.0 reconciles continuously every minute"
## Bug Report

#### What did you do?

The latest Ansible Operator v1.19.0 is reconciling continuously every minute. Did not see this behaviour with the last version v1.18.1. The watches.yaml we use is ...

[code]

We do not set the `reconcilePeriod` in the watches.yaml for the Ansible Operator that watches the custom resource of kind `WOService`

This looks like a regression. Even though the custo

[2022-04-13 09:29] rbq commented on #4925
@laxmikantbpandhare That's great to hear, thanks a lot!

[2022-04-13 09:33] huiyichanmian commented on #5090
I have been tortured by this problem. How did you solve it in the end？

[2022-04-13 15:25] ryantking commented on #5574
This is fixed in [v1.19.1](https://github.com/operator-framework/operator-sdk/releases/tag/v1.19.1).

[2022-04-13 15:25] #5574 closed

[2022-04-13 15:27] ryantking commented on #5587
This is fixed in [v1.19.1](https://github.com/operator-framework/operator-sdk/releases/tag/v1.19.1).

[2022-04-13 15:27] #5587 closed

[2022-04-13 15:29] VenkatRamaraju commented on #5655
Hi @venkataramanam,

This is because of the command-line flag ``reconcile-period`` has a [default](https://github.com/operator-framework/operator-sdk/blob/master/internal/ansible/flags/flag.go#L96-#L99) value of 1m. So, to avoid any interval-based reconciles, you can run the Ansible Operator like the following:
[code]
No reconcile period must be specified in the `watches.yaml` file or the custom r

[2022-04-13 16:13] venkataramanam commented on #5655
@VenkatRamaraju Thanks for looking into this issue.
I will try the suggestion to set the reconcile period as command-line arg to ansible-operator

[2022-04-14 08:09] venkataramanam commented on #5655
@VenkatRamaraju Passing on the reconcile period to ansible-operator as commandline arg worked. Thank you.

[code]

Closing this.

[2022-04-14 08:09] #5655 closed

[2022-04-14 13:33] kevinrizza commented on #5410
Was a subscription actually created? I'm not super familiar with run bundle, but I assume that it's basically generating a catalog source at runtime and then creating a subscription pointing to the catalog it generated. if no installplan was generated, it could be a resolution error or a problem getting content from that catalog.

[2022-04-14 14:06] pohly commented on #5410
I don't know. How do I check?

Our CI jobs capture the output of all pods, perhaps that would help? Unfortunately the ones with the more recent OLM expired. Let me kick one off once more...

[2022-04-14 15:04] ryantking commented on #5621
This has been resolved by #5653

[2022-04-14 15:04] #5621 closed

[2022-04-14 15:44] vivekr-splunk opened #5666 "bundle creation fails : setting environment variable RELATED_IMAGE_SPLUNK_ENTERPRISE in deployment"
## Bug Report

Hi I am working to create bundle for [splunk operator](https://github.com/splunk/splunk-operator), as part of development I need to create bundle. when I try to creating bundle it fails with **related images with valueFrom field unsupported** error

#### What did you do?

I am trying to generate bundle for [splunk-operator](https://github.com/splunk/splunk-operator) in the [deployme

[2022-04-14 17:04] camilamacedo86 commented on #5583
Hi folks, 

The next step here seems like make controller-gen work with go modules. Could someone check that? Have we had an issue with controller tools (https://github.com/kubernetes-sigs/controller-tools) already? 

[2022-04-14 18:57] kevinrizza commented on #5410
The only real way to install an operator is to create a Subscription resource -- that's the entrypoint API used to install an operator with OLM. I'm not an sdk developer (I work on OLM), but I am making the assumption that this run bundle error is happening because that Subscription is failing. So, if we look at the status of the subscription, it may give us a better idea of *why* the install is f

[2022-04-14 19:20] camilamacedo86 commented on #5410
They provide the bundle files here: https://github.com/operator-framework/operator-sdk/issues/5410#issuecomment-983007339

@rashmigottipati @jmrodri could we try to check this one?
I think we need to try to reproduce the issue and check the subscription status to know what is wrong here.

[2022-04-14 20:05] pohly commented on #5410
I tried with operator-sdk 1.19.1 and OLM 0.20.0, with Kubernetes 1.19 and 1.22. The "install plan is not available for the subscription pmem-csi-operator-v100-0-0-sub" occurred for both.

Attached is the log output from https://cloudnative-k8sci.southcentralus.cloudapp.azure.com/view/pmem-csi/job/pmem-csi/view/change-requests/job/PR-1071/2/artifact/joblog-jenkins-pmem-csi-PR-1071-2-test-1.22.log

[2022-04-14 20:09] pohly commented on #5410
I also tried with operator-sdk 1.18.0 and OLM 0.20.0. That worked once (Kubernetes 1.22) and failed once (1.19). It seems to be a bit random, but usually it fails reliably.

[2022-04-14 23:50] #5371 closed

[2022-04-15 18:07] wdrdres3qew5ts21 opened #5667 "Operator Reconcile always tried to re-create resource even though have end condition already"
## Type of question
Hello, i had explore Operator SDK for my study project I want to create resource like Deployment and Service when my customize Kubernetes CR had been created. but some how even though I had condition to check whether resource had been created already or not I always got duplicate loop, Operator tried to create resource again so I got some error like this.

`My full code and rep

[2022-04-15 19:03] aemperador commented on #5409
This can be closed. The PR was merged.

[2022-04-16 09:34] wdrdres3qew5ts21 commented on #5667
I already found solution ! It cause from `err = r.Client.Get(ctx, findMe, foundService)` like my assumption due to my resource like Deployment had been re-named to another that was not original CR Instance name so I cannot using `instance.Name` directly I need to using name that matching name of Resource had been created !
Here is example snippet it might useful for our friend around here :)

<img

[2022-04-16 09:34] #5667 closed

[2022-04-16 21:18] ljavorsk commented on #5558
Hi, I've just run into a similar issue...

 Environment:
`M1 (arm) Mac`

Operator-sdk version:
`operator-sdk version: "v1.19.1", commit: "079d8852ce5b42aa5306a1e33f7ca725ec48d0e3", kubernetes version: "v1.23", go version: "go1.18.1", GOOS: "darwin", GOARCH: "arm64"`

Go version:
`go version go1.18.1 darwin/arm64`

Gcc version:
`Apple clang version 13.1.6 (clang-1316.0.21.2)
Target: arm64-apple-dar

[2022-04-16 21:18] ljavorsk commented on #5558
Hi, I've just run into a similar issue...

 Environment:
`M1 (arm) Mac`

Operator-sdk version:
`operator-sdk version: "v1.19.1", commit: "079d8852ce5b42aa5306a1e33f7ca725ec48d0e3", kubernetes version: "v1.23", go version: "go1.18.1", GOOS: "darwin", GOARCH: "arm64"`

Go version:
`go version go1.18.1 darwin/arm64`

Gcc version:
`Apple clang version 13.1.6 (clang-1316.0.21.2)
Target: arm64-apple-dar

[2022-04-18 17:43] #5642 closed

[2022-04-18 17:47] varshaprasad96 commented on #5654
Related upstream issue: https://github.com/kubernetes-sigs/controller-runtime/issues/1809
@camilamacedo86 are you still working on this upstream?

[2022-04-19 13:01] nvvalchev commented on #5558
@ljavorsk , I am with the same configuration as yours. Managed to workaround the problem by uninstalling go (v 1.18.1) and installing version 1.17.9.

[2022-04-19 14:02] laxmikantbpandhare commented on #5616
@J0zi - I am looking into it. I will update you soon.

[2022-04-19 23:24] #5586 closed

[2022-04-20 16:47] ljavorsk commented on #5558
@nvvalchev How did you force the version of go to be 1.17? Or did you installed different version of operator-sdk?

Or you didn't used `brew` and installed it out of source?

[2022-04-20 16:47] ljavorsk commented on #5558
@nvvalchev How did you force the version of go to be 1.17? Or did you installed different version of operator-sdk?

Or you didn't used `brew` and installed it out of source?

[2022-04-21 13:35] jeloba commented on #5616
I have a similar issue (same error). It started showing up after updating a working setup to OLM 0.20.0 from 0.18.1.

I inspected the cluster and found the following:

* the catalog is installed correctly and running
* the `packagemanifest` under tests show up
* a subscription is created
* an install plan was created, waiting for manual approval

[2022-04-21 17:05] pohly commented on #5410
Update: I've been successful when installing OLM 0.20.0 on a fresh test cluster. The failure only seems to occur when the cluster has been in use for a while, i.e. several other tests not involving OLM ran earlier.

[2022-04-21 18:13] nvvalchev commented on #5558
@ljavorsk , I force removed go with brew (as operator-sdk v1.19.1 is dependent on it) and installed go 1.17.9 via brew. Works like charm.

The initial go installation v 1.18.1 was performed by brew as transitive dependency of operator-sdk.

[2022-04-22 11:35] camilamacedo86 commented on #5569
Hi @jmrodri,

The documentation describes that it should be OPTIONAL.
So, what I was expecting here would be:
- Check if the option should or not be optional
- If the doc is right that we articulate the fix
- if the doc is wrong could we articulate a change on there

Did we check it out and the conclusion was that the doc is wrong or should we re-open this one?

[2022-04-22 13:37] alejandrojnm commented on #5558
I got the same error, I fixed modifying the makefile, search for this variable and replace it with this:
[code]
because previously every cmd had ` $(shell pwd)/bin/` in front

[2022-04-23 00:58] arshabbir commented on #5090
The below combination worked for me :)

arshabbir@arshabbir-VirtualBox:~/testop$ operator-sdk version
operator-sdk version: "v1.19.1", commit: "079d8852ce5b42aa5306a1e33f7ca725ec48d0e3", kubernetes version: "1.23", go version: "go1.17.8", GOOS: "linux", GOARCH: "amd64"
arshabbir@arshabbir-VirtualBox:~/testop$ go version
go version go1.17.3 linux/amd64

[2022-04-23 05:04] shintard commented on #5090
this problem is solved by these two differentials.

https://github.com/kubernetes-sigs/controller-runtime/issues/1657#issuecomment-988484517
https://github.com/ministryofjustice/analytical-platform-tools-operator/commit/fdca2114c6bb0084492ba6f2593afe8286b0e9cf

[2022-04-25 09:05] J0zi commented on #5616
@laxmikantbpandhare @rashmigottipati any update?

[2022-04-25 14:23] droopy4096 commented on #5491
/remove-lifecycle stale

[2022-04-25 17:31] varshaprasad96 opened #5680 "SDK does not officially support the latest OLM version"
SDK has a list of officially supported OLM versions which can be used with `operator-sdk olm` commands (https://sdk.operatorframework.io/docs/overview/#olm-version-compatibility). The latest OLM's release is 0.20.0 (https://github.com/operator-framework/operator-lifecycle-manager/releases/tag/v0.20.0), but we still support 0.18.2.

Solution:
1. Verify if everything in SDK works with OLM's latest v

[2022-04-25 19:33] dgibbard-cisco opened #5681 "Unable to run Quickstart example to create an operator"
## Bug Report

Unable to create new operator using: <https://sdk.operatorframework.io/docs/building-operators/golang/quickstart/> or other basic examples:
[code]

As the ```operator-sdk create api``` command throws and error at the ```make generate``` stage, due to a missing ```myproject/bin/controller-gen``` file:
[code]

#### What did you do?

#### What did you expect to see?

#### What did you

[2022-04-25 19:45] everettraven commented on #5681
As far as I am aware, Operator SDK (and some of the dependencies it uses) doesn't currently work with Go 1.18. I believe the current workaround is to downgrade to Go 1.17.8.

[2022-04-25 21:06] varshaprasad96 opened #5682 "Add GH action to ensure that OLM bindata in SDK is up-to-date"
## Feature Request
Create a github action in CI to ensure that the OLM bindata in SDK is up to date with the latest 3 releases of OLM. This is to ensure that we always "officially" support latest OLM versions.

Related to https://github.com/operator-framework/operator-sdk/issues/5680

[2022-04-25 21:08] varshaprasad96 commented on #5682
@everettraven As discussed in triage, assigning this issue to you. Please feel free to add a milestone which you are comfortable with.

[2022-04-25 21:50] camilamacedo86 commented on #5654
@varshaprasad96 did we check if we have the code to build the artefacts in this arch?
If yes, we can see how we can trigger the build. If not we need to raise the issue in the respective repo/place.

[2022-04-26 08:34] davidmogar opened #5683 "Cross-namespace owner references on Go operator"
## Type of question

How to implement a specific feature

## Question

In a similar way to the Memcached operator, I have a controller for a resource Foo that creates other resources of type Bar. Those are created in a **different namespace**. Both resources, Foo and Bar, are namespaced. I need to reconcile Foo objects whenever the status of a Bar resource created by that particular Foo gets updat

[2022-04-26 10:56] cardil commented on #5342
/reopen
/remove-lifecycle rotten

[2022-04-26 16:16] dgibbard-cisco commented on #5681
I did try a few different golang versions etc; but found that using VSCode + Dev Containers provided a repeatable/working development env for this :) Thanks for the hint!

[2022-04-26 16:16] #5681 closed

[2022-04-26 17:51] asmacdo opened #5685 "Add documentation for Pull request process"
What i have in mind is something similar to https://docs.pulpproject.org/pulpcore/contributing/pull-request-walkthrough.html

Specifically, I don't see in our docs that we require 2 approvals to merge.

[2022-04-26 18:14] asmacdo opened #5686 "e2e-ansible-molecule test improvements"
The ansible-molecule GH action takes on average 35 minutes to run on CI, which is more than double the test time for the other e2e tests and is a bottleneck for the whole project. I recently went through these tests and collected a handful of improvements to make. The goal would be to bring the ansible-molecule test runtime down to about 15 minutes to be on-par with go and helm e2e.

[ ] Asynchron

[2022-04-26 18:37] camilamacedo86 commented on #5686
Could we begin to have the molecule tests scaffolded by default under the testdata?
WDYT?

[2022-04-26 19:34] cniackz commented on #1896
Hello @dvaldivia,

Even when your example have API as you shown, you have to reference an existing API in your CRD:

[code]

Where `v2` is located in the `customresourcedefinition`

[code]

Then test will pass:

[code]

By the way, I was having the exact same problem exposed in this place before:

[code]

But got solved with my new yaml file. I will take care of this for redhat market place.
But i

[2022-04-26 21:37] asmacdo commented on #4172
In retrospect, I think this is ok-- failing on broken links spreads the work around and never lets our docs have broken links. If something is going crazy, admins can still merge, and I think that merging despite link-checker flake is fine, (or even if a link is actually broken and the admin wants it to merge quickly). IMO this could be normal for important work or especially work that has a wide

[2022-04-27 07:50] rbq commented on #4925
@laxmikantbpandhare Are releases cut based on schedule (the milestone says due today) or features?

[2022-04-27 10:36] camilamacedo86 opened #5688 "From SDK 1.17.0 release CRD using v1beta1 requires preserveUnknownFields: false to pass in the validations"
## Bug Report

From SDK 1.17.0 release CRD using v1beta1 requires preserveUnknownFields: false to pass in the validations
We need to understand why.

- Is some dependence that was added to the operator-framework/api?
- Should the ` preserveUnknownFields: false` been set before and the checks were not raising the error?
- Should we really fail in this scenario where the ` preserveUnknownFields: fal

[2022-04-27 10:37] camilamacedo86 commented on #5688
@ryantking @J0zi @mvalarh ^

[2022-04-27 14:45] cbandy commented on #5688
Comparing [SDK v1.16.0 to v1.17.0](https://github.com/operator-framework/operator-sdk/compare/v1.16.0...v1.17.0) shows the following change to imports:

[code]

[Comparing those SHAs in API](https://github.com/operator-framework/api/compare/ff6b5ebe3c25...6b187a1d0908) includes the following commit which changes CRD validation:

- https://github.com/operator-framework/api/commit/12a70c0e4176b7ec79

[2022-04-27 16:17] VenkatRamaraju commented on #5616
Hey @J0zi,

My suspicion is that the problem is with the version naming. I'm able to install `apicurito:v1.0.1` and upgrade it to `apicurito:v1.0.2`. These operators follow the general semver naming conventions. However, I am not able to upgrade using the examples you provided (timeout). It may be due to the "testing" prefix on the tags of these bundle images.

[2022-04-27 16:49] thomassuedbroecker opened #5689 "Problem with "make: *** [generate] Error 127""
## Bug Report

#### What did you do?

[code]

#### What did you expect to see?

No error!

#### What did you see instead? Under which circumstances?

Creates following problem:  _make: *** [generate] Error 127_

[code]

Simply the `bin` directory with the needed `controller-gen`,  `kustomize` and  `setup-envtest` files, wasn't created by operator-sdk commands.

#### Environment

**Operator type:**

[2022-04-27 16:58] tdaleibm commented on #5654
I'm seeing the same etcd dependency issue with s390x architecture, should I create a separate bug for tracking?

[2022-04-27 17:57] renan-campos commented on #5435
I was also unsure how to use this flag to add service accounts, and found that the missing step in my case was to include the file describing the new service account in the list of resources in `rbac/kustomization.yaml`.

[2022-04-27 18:11] jberkhahn commented on #5451
WIth no way to reliably reproduce this we can't really fix it. Closing this, but feel free to reopen if you can reliably reproduce the bug.

[2022-04-27 18:11] #5451 closed

[2022-04-27 18:20] theishshah commented on #5457
PR is merged, please feel free to open a follow up ticket if there are further bugs following the v1.20.0 release

[2022-04-27 18:20] #5457 closed

[2022-04-27 18:29] laxmikantbpandhare commented on #4925
@rbq - We planned to do it by EOD tomorrow. I will update you here.

[2022-04-27 18:41] asmacdo opened #5690 "Issue triage/grooming process audit"
## Requirements
- avoid an infinitely growing backlog of no-longer-relevant issues
- issues that are not being actively worked on should be unassigned so anyone can pick them up

Just a placeholder for now, more to come :)

[2022-04-27 21:38] everettraven opened #5710 "Bundle should not be added to index if the index image already contains the bundle when running `operator-sdk run bundle`"
## Feature Request

#### Describe the problem you need a feature to resolve.

When running `operator-sdk run bundle` if you include an index image via the `--index-image` flag that already has the bundle in it, the registry pod will fail due to the bundle image already existing in the index.

Here is a list of steps to reproduce what I am talking about:
1. Create a new kind cluster by running `kin

[2022-04-27 22:16] #5631 closed

[2022-04-27 22:34] everettraven commented on #5689
I believe this may be because you are using Go 1.18. Currently operator-sdk (and the underlying dependencies such as kubebuilder and controller-runtime) don't have support for Go 1.18.

I believe there is some work being done to add support for Go 1.18 but I can't say for sure when that will be.

The current workaround is to downgrade to Go 1.17.x.

If you give the workaround a try, please update

[2022-04-28 06:19] thomassuedbroecker commented on #5689
Hi @everettraven, thanks for your feedback but why following information is available on [brew formula](https://formulae.brew.sh/formula/operator-sdk) ?

The required version of golang for the actual operator-sdk is `go 1.18.1`

<img width="522" alt="operator-problem" src="https://user-images.githubusercontent.com/12815392/165689102-8835fa65-c181-4f6a-9404-99a37a4533c8.png">

[2022-04-28 09:13] camilamacedo86 commented on #5688
The community guess is that is related to the fact of SDK/API be upgraded to use k8s 1.23 as well.
See: https://github.com/kubernetes/kubernetes/blob/v1.23.0/staging/src/k8s.io/apiextensions-apiserver/pkg/apis/apiextensions/validation/validation.go#L1451

[2022-04-28 10:00] thomassuedbroecker commented on #5689
Hi @everettraven, I created a blog post how it works for me [MAKE: *** [GENERATE] ERROR 127](https://wp.me/paelj4-15y).

[2022-04-28 10:22] aairom commented on #5689
Having the same issue as @thomassuedbroecker

[2022-04-28 10:30] nheidloff commented on #5689
Hi team, we like the operator SDK A lot.

Please fix the issue above! The first time experience of the SDK is not good right now.

Thomas, Alain, I and others have built this repo to promote operators: https://github.com/IBM/operator-sample-go The missing bin files are a blocker to get lots of people to build operators right now. We don't want to loose time telling people how to get the missing bi

[2022-04-28 12:04] camilamacedo86 commented on #5689
Hi @nheidloff,

The go 1.18 is not supported yet. This issue does not occur with 1.17.
See that we are blocked here and we will only be able to provide this support when 1.24 k8s be released as others deps.

[2022-04-28 12:10] everettraven commented on #5689
@thomassuedbroecker Thanks for pointing out that Homebrew shows go 1.18 as a dependency! I will take a look at what needs to be changed.

[2022-04-28 12:15] camilamacedo86 commented on #5689
Hi @everettraven,

I do not think that we maintain the brew formula.
But the solution here would make the brew formula use 1.17 instead.

[2022-04-28 12:20] everettraven commented on #5689
@camilamacedo86 we may not maintain it, but seeing as it is an installation method we support I figured it would likely impact a decent number of our users.

I found that the formula for operator-sdk can be found here: https://github.com/Homebrew/homebrew-core/blob/HEAD/Formula/operator-sdk.rb

I am thinking to make a PR to modify the dependency on `go` to be on `go@1.17`.

[2022-04-28 13:47] thomassuedbroecker commented on #5689
Hi @camilamacedo86  @everettraven ,

thanks for taking care. A **PR** would be great!

From my point of view `brew install operator-sdk` simply should work and handle the right dependencies.

A user shouldn’t not run into any problem, when he follows the awesome simple brew installation that s described in the operator-sdk documentation.

Optimal would be, if the operator-sdk would support to inst

[2022-04-28 15:29] #5680 closed

[2022-04-28 17:26] #4909 closed

[2022-04-28 19:34] everettraven commented on #5689
PR has been created in the Homebrew/homebrew-core repo here: https://github.com/Homebrew/homebrew-core/pull/100353

@thomassuedbroecker I believe that this should resolve any problems when installing with Homebrew and not having had an existing Go installation. Once we have support for go 1.18 I will make sure to update the formula again

[2022-04-28 20:33] laxmikantbpandhare opened #5713 "config.toml-E file got generated after release process (make prerelease)"
## Bug Report

config.toml-E file got generated after the release process (make prerelease)

#### What did you do?

#### What did you expect to see?

only config.toml file gets generated

#### What did you see instead? Under which circumstances?

both config.toml and config.toml-E file got generated

#### Environment

**Operator type:**

**Kubernetes cluster type:**

`$ operator-sdk version`

v1.1

[2022-04-28 21:51] laxmikantbpandhare commented on #4925
@rbq - We have released Operator SDK v1.20.0. Could you please verify and let us know ur observations.

[2022-04-29 06:03] nheidloff commented on #5689
Nice! Thanks @everettraven and @camilamacedo86 !

[2022-04-29 06:11] thomassuedbroecker commented on #5689
Awesome! Thanks @everettraven and @camilamacedo86 !

[2022-04-29 09:15] J0zi commented on #5413
We have the same issue with `operator-sdk run bundle quay.io/operatorhubio/hive-operator:v2.5.3508-6cb94c6`

[2022-04-29 09:16] J0zi commented on #5410
We have the same issue with `operator-sdk run bundle quay.io/operatorhubio/hive-operator:v2.5.3508-6cb94c6`

[2022-04-29 10:42] empty2fill commented on #5284
Here are a couple workarounds to try to resolve the issue:

Ensure gcc is installed
Set the CGO_ENABLED environment variable to 0 to disable [cgo](https://pkg.go.dev/cmd/cgo)

https://sdk.operatorframework.io/docs/faqs/#running-operator-sdk-create-api-results-in-an-error-with-usrlocalgosrcnetcgo_linuxgo138-no-such-package-located-in-the-error-message

[2022-04-29 20:11] janosdebugs opened #5719 "controller-gen not found when using commands from Quickstart for Go-based Operators"
When using the following commands from the [Quickstart for Go-based operators](https://sdk.operatorframework.io/docs/building-operators/golang/quickstart/) the installation fails because it can't find `projectdir/bin/controller-gen`:

[code]

[code]

The error output is as follows:

[code]
Go: go version go1.18 linux/amd64
SDK: operator-sdk version: "v1.20.0", commit: "deb3531ae20a5805b7ee30b71f13

[2022-04-29 20:19] fabianvf commented on #4172
could we make it so the link-checker runs but doesn't block merge?

[2022-04-29 20:27] janosdebugs commented on #5719
The problem seems to be that the `Makefile` contains a target called `go-get-tool`, which uses the now-deprecated `go get` instead of `go install`, but I can't seem to find the source for this file

[2022-04-29 20:27] asmacdo commented on #4172
Ive gotten the impression this doesn't work very well since job statuses are success failure or canceled. We could have it be a "success" then post a comment with the failing links, I'd be fine with that.

[2022-04-29 21:19] #5682 closed

[2022-05-02 05:42] dptiwari commented on #5719
This issue is addressed at [#5689](https://github.com/operator-framework/operator-sdk/issues/5689)
 a [PR](https://github.com/operator-framework/operator-sdk/issues/5689#issuecomment-1112583497) has been created there.

[2022-05-02 06:06] #5719 closed

[2022-05-02 06:07] janosdebugs commented on #5719
For the record, the PR mentioned only fixes the dependency on Go 1.18 in Homebrew. Actual support for go 1.18 is still desirable.

[2022-05-02 18:32] VenkatRamaraju commented on #5612
Hi @adambkaplan,

I am closing this issue for now. Feel free to reopen it if the error persists.

[2022-05-02 18:39] varshaprasad96 commented on #5685
@asmacdo would be available to help in resolving this issue.

[2022-05-02 21:09] everettraven commented on #5710
After a discussion over Slack that involved Joe Lanford it makes sense to leave this functionality the way that it is.

It was discussed that we should add further documentation to the `operator-sdk run bundle` command about the reasons behind this decision.

I will close this issue and open a new one to add information to the docs.

Slack thread: https://kubernetes.slack.com/archives/C017UU45SHL/

[2022-05-02 21:09] #5710 closed

[2022-05-02 21:15] everettraven opened #5721 "Add more detailed explanation to `operator-sdk run bundle` command docs"
### What is the URL of the document?

https://sdk.operatorframework.io/docs/cli/operator-sdk_run_bundle/

### Which section(s) is the issue in?

Description of the command

### What needs fixing?

There should be a more detailed explanation of the `--index-image` flag and why the `operator-sdk run bundle` command should fail if the bundle already exists in the index image.

#### Additional context

[2022-05-02 23:55] tlwu2013 commented on #4884
This feature is [designed and implemented in issue #5511](https://github.com/operator-framework/operator-sdk/issues/5511) and released in [version 1.17](https://github.com/operator-framework/operator-sdk/milestone/37?closed=1).

[2022-05-03 01:59] jmrodri commented on #5721
@everettraven this page is auto generated from the CLI help. So whatever we do it will likely need to go into the command itself. https://github.com/operator-framework/operator-sdk/blob/master/internal/olm/operator/bundle/install.go#L48-L57

[2022-05-03 08:23] efussi opened #5723 "operator-sdk 1.20.0 breaks k8s_status in FIPS enabled OpenShift cluster"
## Bug Report

#### What did you do?

I have an Ansible operator image based on `quay.io/operator-framework/ansible-operator:v1.19.1` which adds the `kubernetes.core:2.3.0` and `operator_sdk.util:0.4.0` collections in **requirements.yaml**. One of the playbook tasks sets the status of a CR like so:
[code]
This works just fine on my FIPS-enabled OCP 4.8 cluster.

#### What did you expect to see?

W

[2022-05-03 13:38] ryantking commented on #5654
Hi @tdaleibm, from researching this issue, it looks like the path of least resistance is going to be adding `--arch=amd64` to your `setup-envtest` call in the `Makefile` to download the Intel binaries, which Darwin arm64 machines can run.

Beyond that, the most recent Kubebuilder releases and onward now have a prebuilt binary for Darwin, but this looks like its related to a downstream dependency i

[2022-05-03 14:32] everettraven opened #5724 "Testing for Plugins"
## Feature Request

#### Describe the problem you need a feature to resolve.
There is currently not an easy way to e2e test a plugin without writing all the tests within operator-sdk. This makes it difficult to e2e test a plugin that is in an external repository.

#### Describe the solution you'd like.
First thought was to create a Go library that could be used to test a plugin, however this may b

[2022-05-03 18:08] tdaleibm commented on #5654
Thanks, looks like my issue is just for s390x, since kubebuilder is still not available for this arch https://github.com/kubernetes-sigs/kubebuilder/issues/2298.

[2022-05-03 19:41] everettraven commented on #5690
Here are some of my thoughts on this:

---

### Issue Assignment
Issues should only be assigned if someone speaks up that they would like to take the issue (either during triage or on the GitHub issue itself)

If all issues are assigned, this could deter potential contributors. In my experience it is common to search for issues by filtering by labels and assignee. If an issue is already assigned i

[2022-05-03 19:53] asmacdo commented on #5686
@camilamacedo86, do you mean committing them to the repo? They are currently scaffolded there at test runtime, but not committed to the repo. If so, big +1

If I misunderstood could you elaborate?

[2022-05-03 20:09] asmacdo commented on #5690
A few minor suggestions, but this is fantastic thanks @everettraven

Another option: the bot could simply remove the milestone rather than close this issue. This can also be done by hand (that's how I trigger a discussion for triage today.) Milestone and labels both require `triage` permissions, so it should basically be equivalent. It would also be nice to preconstruct some queries like goodfirst

[2022-05-03 20:25] everettraven commented on #5690
+1
I like this better than the option I proposed because it removes the milestone and brings it back up for the next triage meeting.

+1
I agree that this could be incredibly helpful for potential contributors

I am thinking something along the lines of (all estimates being if you dedicated time only to the issue):
  - XS (extra-small) -> likely can be done within the span of a few hours
  - S (sm

[2022-05-03 22:40] Daxcor69 opened #5725 "Adding a namespace value to the init phase of the api."
## Feature Request

#### Describe the problem you need a feature to resolve.

When I deployed my first operator it didn't work.  I noticed that it stuck the operator in the "default" name space. Most standard k8s "get something running" allows for a namespace designation on the cil.

#### Describe the solution you'd like.

`operator-sdk init --plugins=ansible --domain example.com  -- namespace my_

[2022-05-04 04:47] ZoeShaw101 commented on #5582
Got same error here.

[2022-05-04 07:59] tomasfabian commented on #5558
Hi I posted an [answer in StackOverflow](https://stackoverflow.com/a/72109578/13748014) with step by step commands how I was able to successfully scaffold a new operator with the v1.20.0 `operator-sdk`.
Hopefully it will help you to solve the _Error: failed to initialize project: unable to scaffold with "base.go.kubebuilder.io/v3": exit status 2_ issue, too.

[2022-05-04 15:49] mikeshng opened #5728 "Helm Operator: charts with Helm template function "lookup" always fail at sync release."
## Bug Report

#### What did you do?
Using operator-sdk, I created a Helm operator for a Helm chart (for [example](https://github.com/mikeshng/simple-helm-lookup/blob/main/acm/helm/etcd-backup/templates/deployment.yaml#L34)) that uses the lookup Helm template function. The Helm operator is unable to sync the release and always fails with the error message:
[code]
This is likely due to the fact tha

[2022-05-04 21:01] elliotfehr commented on #4996
/remove-lifecycle stale

[2022-05-05 11:21] camilamacedo86 commented on #5654
@huiyichanmian,

The darwin/arm64 is still not supported by kubebuilder-tools. See that we open a issue for that: https://github.com/kubernetes-sigs/kubebuilder/issues/2664.

c/c @varshaprasad96 @ryantking @rashmigottipati

[2022-05-05 17:01] #5721 closed

[2022-05-05 20:42] everettraven commented on #5728
Interesting. I will start looking into this and see if there is something reasonable that we can implement as a workaround.

Thanks for bringing this issue to our attention!

/assign

[2022-05-05 20:47] asmacdo opened #5730 "Add RBAC configuration to the Ansible tutorial"
With an RBAC related failure, The logs are helpful, but without context in the tutorial, it's confusing to new operator authors. IMO the log output for failure could be included too?
 https://github.com/operator-framework/operator-sdk/blob/master/testdata/ansible/memcached-operator/config/rbac/role.yaml#L13-L16

Extra considerations
 - is this documented well in Helm, Go, Kubebuilder?
- is this an

[2022-05-05 21:13] asmacdo opened #5731 "Add kustomize docs to Ansible Tutorial"
If I missed where this is documented maybe we can just add some links.

https://kustomize.io/

We probably ought to point out how kustomize is used in the Makefile, and maybe add a make target for dry run to debug kustomize output? @fabianvf is this how you do it too?
https://github.com/operator-framework/operator-sdk/blob/master/testdata/ansible/memcached-operator/Makefile#L99

[2022-05-06 00:10] #3966 closed

[2022-05-06 00:10] #5229 closed

[2022-05-06 00:10] #5420 closed

[2022-05-06 00:10] #5421 closed

[2022-05-06 00:17] asmacdo commented on #5229
Doesn't appear to be a common need, please feel free to reopen if you'd like us to triage this again.

[2022-05-06 14:59] everettraven commented on #5728
Hi @mikeshng ,

Here is what I have found when digging into this issue a bit more:

Reading the error it seems that this is where the error actually occurs:
https://github.com/operator-framework/operator-sdk/blob/1af83ad4d320f879e2e7af3040d0baf88eecf260/internal/helm/release/manager.go#L129-L132

Diving into the `getCandidateRelease` function we see:
https://github.com/operator-framework/operator-

[2022-05-06 15:39] mikeshng commented on #5728
I agree. Installing then uninstalling doesn't seem like a good idea.

Thank you! This is exactly what I needed.

I feel like if those are the necessary validation steps then operator-sdk should probably be able to perform them without having to ask the user to run those manual steps.

I assume most end users are not familiar with the inner workings of operator-sdk. They might not know that dry-run

[2022-05-06 16:36] asmacdo commented on #4245
/reopen

[2022-05-06 16:46] vanessarakoczy commented on #5616
Hi @J0zi,
We are experiencing same issue as well.
Our naming convention is correct, we've tried reverting our OLM back to version 0.18.3 to see if it would resolve anything, but no such luck. Was there any other resolution you were able to find?

[2022-05-06 17:09] laxmikantbpandhare commented on #5616
@vanessarakoczy - Could you please share which images you are trying to upgrade. I will try this locally.

[2022-05-06 18:28] everettraven commented on #5724
## Testing strategy
So with Phase 2 Plugins on the way, it seems like there is the potential to have 2 kinds of plugins:
1. Plugins written in Go that are a library that is imported by Operator SDK and are built in with Operator SDK
2. Plugins written in any language that will use the new Phase 2 Plugins methods of communication.

### Traditional plugins
With the traditional plugins (ones that hav

[2022-05-06 18:41] camilamacedo86 commented on #5724
Hi @everettraven,

It exists already. You can check the lib: https://github.com/kubernetes-sigs/kubebuilder/tree/master/test/e2e/utils

Then, you can check some examples:
- In SDK: https://github.com/operator-framework/operator-sdk/tree/master/test/e2e/go
- In KB: https://github.com/kubernetes-sigs/kubebuilder/tree/master/test/e2e/v3

Note that any external plugins must have a way to be executed b

[2022-05-06 18:45] vanessarakoczy commented on #5616
@laxmikantbpandhare these are the commands we're trying:

operator-sdk run bundle quay.io/operatorhubio/app-director-operator:v0.0.2 --skip-tls-verify

[2022-05-06 18:51] everettraven commented on #5724
@camilamacedo86 interesting....

I raised this issue because of a conversation had in the OSDK community meeting and a separate offline conversation.

@jmrodri was a part of that offline conversation and brought up that testing scaffolds was a problem for the java-operator-plugins repo and the helm-operator-plugins repo. Unfortunately there was a lot of other information in that conversation so I

[2022-05-06 18:59] everettraven commented on #5724
After digging around a bit I think I am understanding a bit more what the actual point of this issue *should* be.

It seems like the issue is that it is difficult to write lightweight tests to see exactly what files and their contents are being scaffolded when the plugin is run via something like `kubebuilder init` or `operator-sdk init` rather than actually e2e testing an operator built with the

[2022-05-06 19:10] john-a-joyce opened #5732 "Improvement for Best Practices single API multiple implementations"
### What is the URL of the document?

https://sdk.operatorframework.io/docs/best-practices/best-practices/

### Which section(s) is the issue in?

The text "In the case where an API exists but with multiple implementations"

### What needs fixing?

The best practice to follow for "API exists but with multiple implementations" is not clear.   It almost appears as if the response got truncated.   Th

[2022-05-06 20:33] joelanford commented on #5732
The canonical upstream example is `Ingress` and `IngressClass`

The premise is that `Ingress` is just an API. There's no built-in controller for it. The way it starts to get reconciled is by setting its `ingressClassName` (or relying on a default ingress class, as defined by an annotation on exactly one `IngressClass` resource), and then deploying a controller that can lookup its controller name i

[2022-05-08 07:44] camilamacedo86 commented on #5724
Hi @everettraven,

So, what you want to do here is create samples under the test data directory. Am I writing? So, you can check what is scaffold or not with the Java plugin: see that we use the KB test utils and other common utils provided by KB to generate the samples on SDK : https://github.com/operator-framework/operator-sdk/tree/master/hack/generate/samples/internal

Note that we call the too

[2022-05-08 09:21] rrey opened #5733 "Installation Guide - go version 1.16 vs 1.17"
The installation guide is stating that a pre-requisite is `go version 1.16` while the rest of the procedure fails if not using `1.17`.
I faced the following issue https://github.com/operator-framework/operator-sdk/issues/5689 with bot go 1.16 and/or 1.18.
Moving to 1.17 fixed the issue.

[2022-05-08 11:47] everettraven commented on #5724
Hi @camilamacedo86 ,

Thanks for all this information!

At the moment, I'm not sure what the acceptance criteria would be for this. I think it may be best to address this again during the SDK community meeting on May 9th and get more thoughts on this.

@jmrodri had mentioned something about e2e testing for plugins to me and I think more thoughts on this from him would help with understanding what

[2022-05-08 21:21] laxmikantbpandhare commented on #5616
@vanessarakoczy - I am able to reproduce the issue locally.

[2022-05-09 11:50] steknowis commented on #5612
@VenkatRamaraju
Unfortunately I also have this issue.

I am building a container image and pull the operator-sdk binary directly from the GitHub releases like this:
[code]
Output of `operator-sdk version`:
[code]

I get the same output as @adambkaplan that `make bundle` produces following line in the bundle/metadata/annotations.yaml:

`operators.operatorframework.io.metrics.builder: operator-sdk-v

[2022-05-09 13:19] michael-goe commented on #5090
Thanks for posting. For me the first one was sufficient to resolve the problem on M1.

[2022-05-09 15:50] huiyichanmian commented on #5654
@camilamacedo86
So it looks like I'll have to build on a linux system.

[2022-05-09 16:51] #5409 closed

[2022-05-09 16:52] asmacdo commented on #5382
/lifecycle frozen

[2022-05-09 16:55] VenkatRamaraju commented on #5612
Hey @steknowis  @adambkaplan,

The PR that fixes this issue just went in. Please rebase on the master branch and let me know if the correct SDK version shows up in the annotations. I'll leave the issue open for now.

[2022-05-09 17:55] asmacdo opened #5738 "Explain context of "group" when initializing a project"
In the Go docs this is all they have:

[code]

Lets Add a link to API groups and maybe an example of what the author **should** set it to.

[2022-05-09 18:33] rashmigottipati commented on #5725
/cc @theishshah

[2022-05-09 18:46] rashmigottipati commented on #5733
/cc @everettraven

[2022-05-09 18:53] asmacdo opened #5739 "Unpin `cryptography ` Python dep for Ansible Operators"
We've got this version pinned
https://github.com/operator-framework/operator-sdk/blob/master/images/ansible-operator/Pipfile#L13-L16

It looks like the rust toolkit is available for UBI 8 now, so I think we can start bumping this dep.

Might affect https://github.com/operator-framework/operator-sdk/issues/5619

[2022-05-09 19:15] everettraven commented on #5724
More information was provided during the community meeting. The goal of this issue is to work on getting the e2e tests for the plugins that are in external repositories to be able to run the e2e tests themselves instead of the e2e tests for them residing within the operator-sdk repository.

@camilamacedo86 provided some good resources to look into for determining the best way to do this.

This iss

[2022-05-09 19:23] everettraven opened #5740 "Update Homebrew Formula when Go 1.18 is supported."
## Feature Request

#### Describe the problem you need a feature to resolve.
At the time of writing, Operator SDK does not support Go 1.18. This resulted in changing the Homebrew Formula for operator-sdk to be dependent on Go 1.17.

#### Describe the solution you'd like.
When Go 1.18 is supported the Homebrew Formula for operator-sdk needs to be updated to have the proper Go dependency.

[2022-05-09 20:11] everettraven commented on #5728
During the community meeting it was decided to leave this open to see if any solutions to the dry-run issue could be formulated.

As per my last comment, we seem to be pretty coupled to the functionality defined by Helm for checking if an upgrade would be valid via the dry run option. The most prevalent workaround from the referenced helm issue that Operator SDK could try implementing is to attemp

[2022-05-10 00:59] joelanford commented on #5728
I'd just echo what's been said:
1. doing an actual upgrade to see if we need to upgrade pretty much defeats the purpose.
2. workaround for now is basically "don't use lookup". If you use lookup, but then handle it returning nil, it seems like you'll end up getting dry-runs that return a diff from the existing release, which will trigger a real upgrade (which will use the lookup), and then the cycl

[2022-05-10 08:13] steknowis commented on #5612
As far as I can tell, this is fixed.
Thank you for the quick response!

[2022-05-10 09:42] bdattoma opened #5743 "test selection in kuttl scorecard image is ignored and all the test are actually run"
## Bug Report

#### What did you do?

I am using the kuttl scorecard image (i.e., `quay.io/operator-framework/scorecard-test-kuttl:v2.0.0`) and in my config.yaml I have two test suites. When I run the scorecard command using the test selection, the scorecard actually runs all the tests regardless the selection I specify.
```operator-sdk scorecard ./bundle --selector='suite=sanity-suite' --namespac

[2022-05-10 10:28] caatclaudia commented on #4709
You can use the command: `pip install ansible-runner-http`

[2022-05-10 13:19] everettraven commented on #5689
Created a newer PR to resolve some issues I was having with git: https://github.com/Homebrew/homebrew-core/pull/101238

[2022-05-10 14:40] sreenichelikam-hpe opened #5744 "is there a way to find the list of k8s objects created by k8s operator when CustomResource created for that operator"
##  i want to get the list of k8s objects created by the operator ?

Basically i want to monitor and send success or failure of the k8s objects created by the operator. So i want to know the list of k8s objects to monitor the state.

[2022-05-10 14:42] #5612 closed

[2022-05-10 21:19] asmacdo opened #5745 "Remove subscription-manager from Ansible base image."
## Bug Report

From slack:

In short, our container uses the base image quay.io/operator-framework/ansible-operator:v1.13.1 that we then yum update to pick up all cve fixes and the like. But it fails:
 Status: Downloaded newer image for quay.io/operator-framework/ansible-operator:v1.13.1
  ---> 6546e357d59e
 Step 4/12 : USER root
  ---> Running in 39fe0919323f
 Removing intermediate container 39fe

[2022-05-11 00:49] camilamacedo86 commented on #5410
I could also reproduce with: **(SKD master branch)**

- operator-sdk olm install
- run bundle quay.io/operatorhubio/hive-operator:v2.5.3508-6cb94c6

The code of the bundle hive-operator:v2.5.3508-6cb94c6 is in: https://github.com/k8s-operatorhub/community-operators/tree/main/operators/hive-operator/2.5.3508-6cb94c6

**Following the steps**
[code]

And then, by checking the bundle logs: (**kubectl

[2022-05-11 08:07] jmazzitelli commented on #5745
@jmrodri said the following in another channel - may or may not be related to the actual problem:
[code]

[2022-05-11 08:59] caatclaudia opened #5757 "Execute commands in a pod to outside"
## Context
I'm creating a Kubernetes operator, through Ansible, that allows me to monitor the node's state from a Kubernetes Cluster, namely that allows me to understand the CPU and disk state of the same. For this, my main.yml file executes the following commands:

[code]

This file runs correctly when I run the following commands:
[code]

However when I use the commands, the pod cannot execute t

[2022-05-11 12:40] sqqqrly commented on #5060
To support larger clusters, we had to boost the limit to `4Gi` !!!   We see memory usage of up to 2.2Gi.

[2022-05-11 12:52] camilamacedo86 commented on #5060
Hi @jkupferer,

You can check the doc, to know to manage resources: https://sdk.operatorframework.io/docs/best-practices/managing-resources/

Also, as shared in https://github.com/operator-framework/operator-sdk/issues/5060#issuecomment-976380853 you might want to check what you have been configured to be watched by your Operator.

So, I think we can close this one.

[2022-05-11 12:52] #5060 closed

[2022-05-11 16:14] camilamacedo86 commented on #5410
We could find a way to reproduce the issue with OPM and without SDK. So, we raise an issue for we get it fixed in OPM: https://github.com/operator-framework/operator-registry/issues/952

[2022-05-11 16:33] asmacdo commented on #5745
Reached out to rhsm+subscription manager folks for confirmation.

That's not an error. Subscription-manager is installed which is why you are seeing the notification. That's basically the "sub-man could be doing more for you" message. I'm a little surprised to see sub-man included in the base UBI images.

[2022-05-11 19:57] ljavorsk opened #5758 "Ideas to improve the documentation"
### What is the URL of the document?

[Operator-sdk Ansible tutorial](https://sdk.operatorframework.io/docs/building-operators/ansible/tutorial/)

### Which section(s) is the issue in?

Not a specific section, these are ideas for new sections.

### What needs fixing?

Nothing in particular.

#### Additional context

I've just finished my first Ansible-based operator and throughout the process, I'v

[2022-05-12 09:53] geoghegk opened #5759 "Operator upgrade from 0.19 to 1.16"
## Bug Report

#### What did you do?

I have a helm operator. I have migrated the SDK from 0.19 to 1.16. The migration seems to have gone OK. I have a functioning helm operator based on 1.16.
I am having a problem when my product is doing an operator upgrade from the version that is based on 0.19 to the version that is based on 1.16. The issue is with a stateful set that has storage configured. Th

[2022-05-12 12:54] arewm opened #5760 "Omitting the default channel shouldn't create an empty default channel"
## Bug Report

#### What did you do?

[code]

#### What did you expect to see?

`operators.operatorframework.io.bundle.channel.default.v1` to be omitted in the annotations and Dockerfile generated.

#### What did you see instead? Under which circumstances?

A default channel specified with an empty string.

`operators.operatorframework.io.bundle.channel.default.v1: ""`

The presence of this empty

[2022-05-12 14:31] arewm commented on #5760
I noticed that the operator-sdk version was old. I attempted to upgrade to the latest and I think that this might not be a bug after all --

[code]

After the update:
[code]

[2022-05-12 14:32] arewm commented on #5569
While my issue is related, I think that the one that I opened is caused because the `operator-sdk` version is old (`1.0.1`). Upgrading to the latest version _appears_ to fix _my_ issue -- it no longer injects an empty string into the default channel.

[2022-05-12 14:33] #5760 closed

[2022-05-12 18:16] #5322 closed

[2022-05-12 18:50] kaovilai opened #5763 "Don't override relatedImages in config CSV."
## Bug Report
Looks like https://github.com/operator-framework/operator-sdk/issues/5000 has reappeared after related image discovery features were added. This has caused us to change how we specify relatedImages in our operator https://github.com/openshift/oadp-operator/pull/694

Seems to be sideeffect from related image discovery feature. Not sure which was the first PR for that.

Related PRs: ht

[2022-05-12 19:28] kaovilai commented on #5763
/kind bug

[2022-05-12 21:20] cliles opened #5764 "Additional debug logs from DependentPredicate"
## Feature Request

#### Describe the problem you need a feature to resolve.

When using an ansible-operator I have an issue when my operator starts looping reconciliation due to dependent resource updates. It is difficult to quickly pinpoint the cause. The current debug logging level helps by providing the information as to what dependent resource triggered the update, but there is no verbosity t

[2022-05-13 02:16] #5733 closed

[2022-05-13 02:52] blindenvy commented on #5763
Same issue in `v1.19.1`

[2022-05-13 09:49] becalledbyJoyce opened #5767 "Reconciler error happening on my pod while running with ansible-operator.version v1.19.1 and v1.20.0"
## Bug Report

#### What did you do?

We are trying with ansible-operator.version v1.19.1 and v1.20.0 on our pod and its get "reconciler error"
{"level":"error","ts":1651176144.8050282,"logger":"controller.masterdatamanagement-controller","msg":"Reconciler error","name":"mdm-cr","namespace":"mdmcpd","error":"Get \"https://x.x.x.x/apis/mdm.cpd.ibm.com/v1/namespaces/mdmcpd/masterdatamanagements/mdm-

[2022-05-13 11:02] geoghegk commented on #5759
It appears that the v2 release secret gets created momentarily during the upgrade process. See the followign where we start out with v1, then upgrade kicks off and we get a v2, and then the v2 goes away, but you can see the age on the v1 is updated indicated that it has been updated - as if the v2 has been overwritten into the v1:

[code]

[2022-05-13 14:16] jmrodri commented on #5764
@cliles what are you currently seeing? What level would you like to see the additional information?

[2022-05-13 21:42] everettraven commented on #5724
So I spent some time looking around at the current ways that testdata is generated and how e2e tests are written. The Kubebuilder library for writing the e2e tests and generating test data are nice, but I feel there is some room for some improvements that I think would make it easier to implement testdata generation and e2e tests in the future.

I have created a PoC to test and validate some of th

[2022-05-14 17:22] cliles commented on #5764
Hi @jmrodri!

The current level of debug is at https://github.com/operator-framework/operator-lib/blob/main/predicate/dependent.go#L101

I would like to also see the actual diff output as performed at https://github.com/operator-framework/operator-lib/blob/main/predicate/dependent.go#L98

[2022-05-15 16:42] camilamacedo86 commented on #5724
Hi @everettraven,

Just to share:

Kubeuilder provides the lib TestContext, as you can check. For we mock a project to do e2e tests or to have a sample test data, the requirements are precisely the same. In this way, (IMO) would not make sense if we have 2 libs and duplicate the code, duplicate the effort to keep them maintained or force people to be skilled in both.

**Why the SampleContext was a

[2022-05-16 14:04] #5564 closed

[2022-05-16 14:10] everettraven commented on #5689
Closing this issue as the PR was merged and should be resolved as of: https://github.com/Homebrew/homebrew-core/commit/7e5afcbb3383815d68167dc14744b424acb0706e

[2022-05-16 14:10] #5689 closed

[2022-05-16 15:59] deepak1725 commented on #4059
Thanks for the superb conversation above.
I had the same issue but for Deployment resource, fixed it by adding a marker in the controller:

`//+kubebuilder:rbac:groups="apps",resources=deployments,verbs=get;list;watch;update;patch`

[2022-05-16 17:00] kaovilai commented on #5763
Thanks @blindenvy for the investigation. Do you know if 1.9 is the latest that worked? or just what you tried.

Looks like my fix at #5763 maybe put on pause until they discuss use case further. If you could add a comment or two there that would be awesome.

[2022-05-16 17:28] ryantking commented on #5763
So I confirmed that the related image discovery feature does overwrite the base CSV related images. This was an unintended breaking change that I did not notice when implementing that feature so was not documented correctly. The current official way to define related Images is with environment variables that start with `RELATED_IMAGE_` in the `manager.yaml` file. These will be discovered and added

[2022-05-16 17:49] kaovilai commented on #5763
I don't mind either. I err on the preference of preferring notmyimage from `RELATED_IMAGE_` overriding the baseCSV since you're probably in the process of migrating and are aware that ENV RELAED_IMAGE_ affects your final relatedImage.

Even if you don't know about RELATED_IMAGE_ in ENV, it would be hard to miss scrolling through CSV.

Otherwise leave baseCSV relatedImage as is if not specified in

[2022-05-16 18:27] ryantking commented on #5763
I think there's a good case for both. It really comes down to if we want to say definitions in the base CSV are overrides or a deprecated way to define relatd images that we still support. If its the former, the base CSV definitions should take precedence and vise versa for the latter.

[2022-05-16 18:37] kaovilai commented on #5763
I think sticking with overrides will be best. Which overrides which is up for discussion.

Deprecation should be introduced slowly.

[2022-05-16 18:41] varshaprasad96 commented on #5757
@caatclaudia Could you please provide more context on the project and if possible can you link the project repository so that we can run it locally and test it out.

[2022-05-16 19:00] ryantking commented on #5763
By deprecated, I just meant that we don't officially recommend defining related images in the base CSV, not marking it for removal or anything.

What I'm asking is if we say that base CSV related images are treated as overrides then that becomes a happy path that we expect users to use when defining related images via env variables does not work for them. If we say that discovered related images a

[2022-05-16 19:07] everettraven commented on #5757
@caatclaudia Without more context what I think is happening is that `kubectl` is not installed in the container that the operator is running in. I think there are a few potential solutions but I am not sure which would work the best without testing locally.

Potential solutions:
1.  Modify the scaffolded Dockerfile to install `kubectl`
2. Run `kubectl` in a sidecar container (some more information

[2022-05-16 20:48] caatclaudia commented on #5757
Thank you! Here is the folder I am using for the operator: [operator-verify.zip](https://github.com/operator-framework/operator-sdk/files/8703327/operator-verify.zip)

And the commands I used to run the pod were the following:
[code]

Thank you so much for your help!

[2022-05-16 21:07] joelanford commented on #5763
I think we should specifically recommend _only_ the env-based related image detection. If there are `csv.spec.relatedImages` in the base CSV manifest, I think we should:
1. Give them the lowest precedence when choosing names or de-duping.
2. Output a warning along the lines of "we found related images in your base CSV. we preserved them in the generated CSV, but your operator is at risk for suppor

[2022-05-16 21:25] kaovilai commented on #5763
How so? planned removal soon after?

[2022-05-16 21:58] VenkatRamaraju commented on #5767
Hi @becalledbyJoyce,

Thanks for submitting the issue. Can you provide us with context around this.
1. What command did you run? With which flags?
2. Did you follow the tutorial to create your operator?
3. Since you're running Ansible, what are the playbook tasks doing.

Any other information will be helpful in debugging this. If I understand correctly, this issue shows up only after 1.17.0, corre

[2022-05-17 03:08] ryantking commented on #5763
@joelanford I am in favor of this approach in general. The only thing that I disagree with is giving precedence to discovered related image when its name conflicts with a base CSV related image with a different image. Since related image name/image collision detection is a new feature, applying it to the base CSV related image would break backwards compatibility. Take for example the following bas

[2022-05-17 11:24] caatclaudia commented on #5757
Following your feedback, I modified the playbook with the following lines
[code]

In the tasks file, I modified it to use ".kubectl"
And I repeated the procedure again, what happens now is, inside the pod I can run the commands:
![image](https://user-images.githubusercontent.com/56655085/168799933-4912e483-952e-4322-96e7-5ac08518b0e1.png)

But when I see the logs of the pod I am not able to see an

[2022-05-17 15:02] jberkhahn opened #5771 "Cut release for helm-operator-plugins and bump version in sdk"
there was a fix in helm-operator-plugins to bump the golang version in the scaffolding [here](https://github.com/operator-framework/helm-operator-plugins/commit/e484968a09c1eca03eaadb418449c33bef3579c4). Currently if you try to build a hybrid-helm plugin it blows up with a cryptic error. Could we cut a new release of helm-operator-plugins and bump the version in sdk?

[2022-05-17 17:18] becalledbyJoyce commented on #5767
Hi Venkat,
We are not facing any functionality issue of ansible-operator. We just need the go version in ansible-operator to get updated to below version(1.18.1 ,1.17.9 )
<img width="1140" alt="Screenshot 2022-05-17 at 7 07 56 PM" src="https://user-images.githubusercontent.com/88610589/168872723-0efcaf2b-df8b-460d-9bc1-6817a094ee71.png">

Please find in the attached screenshot

[2022-05-17 18:22] joelanford commented on #5763
@kaovilai

Maybe what I'm thinking about is orthogonal. This is why I'm asking for folks to check my math. Anyways, here goes.

If you manually specify a relatedImage in the CSV, there's no guarantee that you've also correctly created a `RELATED_IMAGE_` environment variable for it in your deployment. When a pipeline goes and builds your operand images, it needs to inform your controller what those

[2022-05-17 18:26] joelanford commented on #5763
@ryantking - Yeah makes sense to me. I hadn't considered backcompat issue with the name changing. In all likelihood, there's nothing that actually depends on that name since I know OLM and mirroring tooling ignore it. But there could be some operator author tooling that uses it.

So I'm plus +1 to that tweak, though I still think it makes sense to issue a warning about the statically defined relat

[2022-05-17 18:33] kaovilai commented on #5763
Only in upstream builds. for downstream @rayfordj @weshayutin has scripts that replace upstream with downstream image by digest.

[2022-05-17 18:38] kaovilai commented on #5763
Looks like we are in the process of moving towards RELATED_IMAGE_ long term as well per (RH-only) https://issues.redhat.com/browse/OADP-296

[2022-05-17 19:35] laurieaw63 commented on #3094
Is there an example somewhere that demonstrates a hybrid?

[2022-05-17 20:49] everettraven commented on #5757
@caatclaudia Would you mind providing the full log output? I made what I believe are the same modifications that you made and it seems like there is an issue with using the `ping` command. I believe that the base image that is used for running an Ansible operator on cluster is based on the Red Hat Universal Base Image (UBI) 8. From what I can tell, the `iputils` package that installs the `ping` co

[2022-05-17 20:56] #5771 closed

[2022-05-17 20:58] caatclaudia commented on #5757
Thank you for your answer and clarification.

My Cluster Kubernetes is k3s.
I used this base image because I follow a tutorial that used this one. But there is another base image (e.g. that already contains `iputils` package) that you can advise? Thank you for your help and for your time

[2022-05-17 21:11] everettraven commented on #5757
I think that the image that should be used is the base image you are using, but you likely just need to make a few Dockerfile modifications.

@asmacdo @fabianvf Are there any other images that can be used when building an Ansible operator that may include more pre-installed packages?

For installing the `iputils` package on the currently used image, I would probably recommend using a multistage bu

[2022-05-18 13:55] camilamacedo86 opened #5773 "Run bundle and upgrade bundle does not work when the bundles is not added to default channel"
## Bug Report

The command run bundle and upgrade bundle will fail when the bundle informed is not configured to be in its default channel:

[code]

By default, the commands create a new index and try to add the bundle to it. So, when SDK call OPM, it fails in:

https://github.com/operator-framework/operator-registry/blob/v1.22.0/pkg/sqlite/load.go#L426-L428

https://github.com/operator-framework/

[2022-05-18 14:02] camilamacedo86 commented on #5410
This issue shows to be the scenario clarified and tracked via: https://github.com/operator-framework/operator-sdk/issues/5773. In this way, to avoid duplication and centralize the information, we can close this one in favour of https://github.com/operator-framework/operator-sdk/issues/5773.

Note that some workarounds were also proposed in the issue: https://github.com/operator-framework/operator-

[2022-05-18 14:02] #5410 closed

[2022-05-18 14:05] camilamacedo86 commented on #5616
This issue shows to be the scenario clarified and tracked via: https://github.com/operator-framework/operator-sdk/issues/5773. To avoid duplication and centralize the info, it seems like we can close this one in favour of https://github.com/operator-framework/operator-sdk/issues/5773.

Note that some workarounds were also proposed in the issue: https://github.com/operator-framework/operator-sdk/is

[2022-05-18 14:05] #5616 closed

[2022-05-18 14:06] camilamacedo86 commented on #5413
This issue shows to be the scenario clarified and tracked via: https://github.com/operator-framework/operator-sdk/issues/5773. To avoid duplication and centralize the info, it seems like we can close this one in favour of https://github.com/operator-framework/operator-sdk/issues/5773.

Note that some workarounds were also proposed in the issue: https://github.com/operator-framework/operator-sdk/is

[2022-05-18 14:06] #5413 closed

[2022-05-18 14:18] camilamacedo86 commented on #5773
Hi @rashmigottipati, and @jmrodri, I tried to centralise all only a task after checking this scenario.

This shows that the required changes in the command to support FBC might also be an option to solve this scenario at least when a user does not provide as arg an index using SQL format.

[2022-05-18 16:59] caatclaudia commented on #5757
Thank you so much. It works!

[2022-05-18 16:59] #5757 closed

[2022-05-18 18:06] varshaprasad96 opened #5776 "Operator SDK 1.21.0 release"
Release Operator SDK 1.21.0

[2022-05-18 18:52] VenkatRamaraju commented on #5530
@MathieuCesbron closing this. Feel free to re-open it if you want to discuss this further.

[2022-05-18 18:52] #5530 closed

[2022-05-19 06:57] whitfiea opened #5780 "reconcilePeriod not working with ansible-operator"
## Bug Report

#### What did you do?

We upgraded from using ansible-operator 1.17 to 1.20

#### What did you expect to see?

The operator to reconcile only when it first starts and when a dependent resource changes only.

#### What did you see instead? Under which circumstances?

The operator reconciles every minute regardless as to whether a resource changes or not.

#### Environment

**Operator

[2022-05-19 08:04] pohly commented on #5410
That is not the root cause of the failure that I ran into with PMEM-CSI. If I install OLM on a fresh test cluster, running the bundle works. If I do the same thing after the cluster has been in use for a while, it fails for the same bundle.

I can't tell from the log files (see my earlier comments) what might be going wrong. As I have a workaround (run OLM tests first), I am not going to reopen th

[2022-05-19 13:05] whitfiea commented on #5780
Overriding the ENTRYPOINT to set reconcile-period works. I think this issue is still needed as the documentation is incorrect and also doesn't mention setting --reconcile-period as an argument.

[2022-05-19 15:16] VenkatRamaraju commented on #5780
Hi @whitfiea,

Thanks for opening this issue. I can clarify some of the logic. There are three ways of specifying a reconcile-period for an ansible-based operator:
1. Through the `--reconcile-period` command line flag.
2. Through the `reconcilePeriod` field in the `watches.yaml` file.
3. Through the `ansible.operator-sdk/reconcile-period` field in the custom resource's annotations.

We have had us

[2022-05-19 15:18] VenkatRamaraju commented on #5713
I'll update this issue after `v1.20` gets released.

[2022-05-19 15:24] whitfiea commented on #5780
@VenkatRamaraju thanks for the update. In our case we don't want to do interval based reconciliations at all and that is what we had when using 1.17, we didn't have any other those three options set. We then upgraded to 1.20 and it started reconciling every minute on all our operators. I set reconcilePeriod to 0s in our watches.yaml but this didn't work. The only thing that worked is setting it on

[2022-05-19 15:32] VenkatRamaraju commented on #5780
Yeah, I see what's going on.

Setting `0s` in `watches.yaml` is saying "I don't want to do event-based reconciliations." However, since the default value of the flag is `1m`, this value is taking precedence during reconciliations. Let me investigate the reason for the default being `1m` and talk to a couple of other team members as well. I'll update this issue shortly. We may end up removing the d

[2022-05-19 18:01] VenkatRamaraju commented on #5780
Hi @whitfiea,

After talking it over with a few folks, we have decided to change the default reconcile period to 10h for Ansible-based operators. We are using 10h as the to align the functionality with our Go operator and its [conventions](https://pkg.go.dev/sigs.k8s.io/controller-runtime/pkg/manager#Options) .

A [PR](https://github.com/operator-framework/operator-sdk/pull/5781) is in-flight with

[2022-05-19 20:35] whitfiea commented on #5780
@VenkatRamaraju does this mean the the reconcilePeriod set in the watches will still not work if I set it to 0s (or any value) as the default always overrides it?

[2022-05-19 20:57] whitfiea commented on #5780
Reading it again I think we are saying that the three options to set reconcile period will work apart from if you want to turn the interval based reconciliation off (via setting 0s). This would only work via --reconcile-period on the cmdline.

The change in the PR looks good, and will make the default behaviour more like the go operator like you said.

[2022-05-19 20:57] VenkatRamaraju commented on #5780
@whitfiea,

If you specify `reconcilePeriod:0s` or don't specify this field at all in the `watches.yaml` file, then the default value of `10h` will be used. However, if you use any specific value in the `watches.yaml` (ex: `1h2m3s`), then this value will be used.

In essence, if the watches reconcile period is non-zero, it will take precedence over the command-line flag. If you absolutely don't wa

[2022-05-19 21:02] VenkatRamaraju commented on #5780
@whitfiea,

Yup! To completely disable any interval-based reconciliation, specifying a 0 value from the command-line flag is the only way.

Thanks for bringing this to our attention. Feel free to close the issue if everything has been cleared up. If not, I'm happy to go into more detail.

[2022-05-20 05:52] #5780 closed

[2022-05-20 13:41] gquillar opened #5784 "Add ppc64le/s390x support to generate operators from the testdata samples"
## Feature Request

#### Describe the problem you need a feature to resolve.

On `ppc64le` or `s390x` architectures, we have issues when trying to generate the operator-sdk Ansible/Helm testdata samples or building Ansible/Go/Helm-based operators using operator-sdk and these testdata samples:
- The `kustomize` binary v3.8.7 doesn't exist for ppc64le/s390x failing the `make generate`command.
[code]

[2022-05-21 11:27] tavaresrodrigo opened #5785 "KUSTOMIZE_VERSION ?= v3.8.7 on bump-kb.yaml breaking the "Install the CRDs into the cluster" step on the kubebuilder Quick Start"
## Bug Report

#### What did you do?

I'm following the https://book.kubebuilder.io/quick-start.html and during the "Install the CRDs into the cluster:" step, *make install* I experience the error below:

[code]

#### What did you expect to see?

I expected that the "make install" command would execute successfully allowing me to proceed to the run stage.

#### What did you see instead? Under whic

[2022-05-21 20:53] camilamacedo86 commented on #5785
Hi @tavaresrodrigo,

`GOOS: "darwin", GOARCH: "arm64"` is not supported by Kubebuilder or SDK.
You might want to look at the issue raised:  https://github.com/kubernetes-sigs/kubebuilder/issues/1932

You might, for the kustomize only dep able to work around it by using the v4; however, from v3 and v4, it has breaking changes, and we cannot ensure that it works well with the default go/v3 scaffold.

[2022-05-21 21:18] camilamacedo86 commented on #5784
Hi @gquillar,

The samples under the testdata are projects scaffolded with the code source/SDK tool. We cannot make the samples support ppc64le or s390x. Instead, we need Kubebuilder and SDK producing projects that support these architectures. Also, probably plugins that indeed have the source code outside of the SDK repo.

Note that is not only about changing the Makefile. (https://github.com/ope

[2022-05-21 21:50] camilamacedo86 opened #5786 "Readme for language plugins with specific info for SDK projects and features"
## Feature Request

#### Describe the problem you need a feature to resolve.

For Golang we scaffold a Readme file, see: https://github.com/kubernetes-sigs/kubebuilder/pull/2610
I think it would be nice if we have the same for the other languages.

Additionally, wdyt about we have a helper plugin that adds on top the steps specific for SDK and how to test the bundle with the operator-sdk run bundl

[2022-05-23 06:43] suikast42 opened #5787 "Watch on cert-manager api causes a timed out waiting for cache to be synced error"
## Bug Report

Everthing with the operator works as expected until I add a watcher for any resource of cert-manager api

`	options.Watches(&source.Kind{Type: &certmanagerApiV1.ClusterIssuer{}}, &watcher)`

Then I got an error:

2022-05-23T08:41:20.619+0200    INFO    setup   starting manager
2022-05-23T08:41:20.619+0200    INFO    Starting server {"kind": "health probe", "addr": "[::]:8081"}
2022-

[2022-05-23 10:25] tavaresrodrigo commented on #5785
Hi @camilamacedo86, thank you 😃. I've tried on a t3.small and everything worked as expected. Do you think it might be worth handling this error? I think it would be a better user experience if the error was more precise, clearly describing the issue.

So instead of:
[code]

maybe:
[code]

Thank you for the collaboration, and sorry if my suggestion makes no sense for the project, I'm just getting s

[2022-05-23 10:57] suikast42 commented on #5787
Issue is reolved.

I forgot
`	utilruntime.Must(certmanagerApiV1.AddToScheme(scheme))`

But the logging is confusing. I think there was an appropriate logging in the past

[2022-05-23 10:57] #5787 closed

[2022-05-23 13:52] everettraven commented on #5744
@sreenichelikam-hpe I think a way you could do this is to have all objects that the operator creates have a specific label, and potentially add each unique GroupVersionKind to a list. You can then use a k8s client like the [controller-runtime client](https://pkg.go.dev/sigs.k8s.io/controller-runtime/pkg/client) or the [client-go dynamic client](https://pkg.go.dev/k8s.io/client-go/dynamic) to get a

[2022-05-23 15:42] gquillar commented on #5784
[PR #2697](https://github.com/kubernetes-sigs/kubebuilder/pull/2697) has been opened on kubernetes-sigs/kubebuilder to fix the arch used to build the binary in the go/v3 scaffold templates.

[2022-05-23 16:02] asmacdo commented on #5422
I've added this as a release blocker. This has been deprecated for some time, and I am guessing that this will prevent some more problems for @camilamacedo86 with operatorframework/api version bumps

[2022-05-23 17:57] VenkatRamaraju commented on #5558
@camilamacedo86 can we close this issue?

[2022-05-23 18:03] everettraven commented on #5558
Installs via Homebrew should also be fixed as of: https://github.com/Homebrew/homebrew-core/commit/7e5afcbb3383815d68167dc14744b424acb0706e

[2022-05-23 18:12] varshaprasad96 commented on #5728
We probably need docs for the workaround. @everettraven can you create another follow up issue to track that down. Meanwhile, since we have a solution here, I'm closing this issue.

[2022-05-23 18:14] asmacdo commented on #5759
@varshaprasad96 could you take a look at this?

[2022-05-23 18:17] everettraven opened #5789 "Helm: Add docs that give more information regarding cluster aware template functions"
### What is the URL of the document?
Needs to be created

### Which section(s) is the issue in?
Needs to be created

### What needs fixing?
Helm operators do not allow for cluster  aware functions to be run in a Helm Chart template. This is due to the dry-run logic that the Helm operators follow for checking if an upgrade is valid. This should be documented so that users who would like to implemen

[2022-05-23 18:20] asmacdo commented on #5784
Since this is now an upstream issue, I think we are good to close here? Please reopen if necessary.

[2022-05-23 18:20] #5784 closed

[2022-05-23 21:14] camilamacedo86 commented on #5558
GO 1.18 is still not supported; see: https://github.com/kubernetes-sigs/kubebuilder/issues/2559.
So, we must make go 1.18 be supported in Kubebuilder then we can begin to support here as well.

[2022-05-24 01:04] camilamacedo86 commented on #5321
Hi @itroyano,

we parse all manifests and if we succeed we know that we find the csv, see: https://github.com/operator-framework/api/blob/master/pkg/manifests/bundleloader.go#L150-L152 . Otherwise, it will fail in [LoadBundle](https://github.com/operator-framework/api/blob/37561c93045eee6044ae4748d3aea29fae5b09f8/pkg/manifests/bundleloader.go#L39).

We would

a)check when an error is faced if the

[2022-05-24 01:19] camilamacedo86 commented on #5786
Hi @varshaprasad96,

No, This plugin is only to add content to the README file scaffold by default regards what is specific for SKD. Example: Add on the bottom of the readme how to test the solution with the operator-sdk run bundle.

It is only about the README file content.

[2022-05-24 08:23] nariman-maad opened #5790 "volume populator"
Hi, is it possible to write "volume populator" logic using "operator sdk" ?

Mode about:
https://kubernetes.io/blog/2021/08/30/volume-populators-redesigned/#using-populators

[2022-05-24 08:42] camilamacedo86 commented on #5773
@asmacdo @rashmigottipati is a bug. Could we add here the bug label?
Also, could please clarify why it needs discussion? What discussion is required about this?

[2022-05-24 12:58] thomasmckay opened #5791 "Quickstart for Helm-based Operators"
In https://sdk.operatorframework.io/docs/building-operators/helm/quickstart/#olm-deployment
[code]
This does not work without specifying `IMG` and `IMAGE_TAG_BASE`, or the Makefile targets need to be better at figuring out the proper values (my vote).

[2022-05-24 12:58] asmacdo commented on #5745
I was not able to replicate this on master or using the 1.13.1 image.

[code]

[code]
In both cases, I did see that subscription manager wasn't registered (as expected), but I did not run into the situation that there was a required subscription-manager provided dependency.

`docker-build` stdout](https://pastebin.com/GTqZvdDg)

I think we would probably be fine to remove subscription-manager to b

[2022-05-24 13:20] thomasmckay opened #5792 "Helm Operator Tutorial"
In https://github.com/open-policy-agent/gatekeeper/tree/master/charts/gatekeeper

[code]
I may be misunderstanding but shouldn't it be `v$(VERSION)`? As-is it will tag it as `0.0.1`

[2022-05-24 14:29] geoghegk commented on #5759
So I think I have isolated the likely cause of this problem. In the old operator (based on operator sdk 0.19) there is a custom entry point. It launches the helm-operator process, however, it does not use the exec command. i.e. it has this:
[code]
instead of what I believe it should be:
[code]

Without the exec command, it seems that during the upgrade, the old operator continues to try to reconci

[2022-05-24 15:04] thomasmckay opened #5793 "failed to install CRD, forbidden, cannot create resource "customresourcedefinitions" in API group apiextensions.k8s.io"
## Type of question

helm operator init and run

## Question

What was missed in scaffolding that would result in this error:

 `failed to install release: failed to install CRD crds/assign-customresourcedefinition.yaml: [customresourcedefinitions.apiextensions.k8s.io](http://customresourcedefinitions.apiextensions.k8s.io/) is forbidden: User "system:serviceaccount:default:gatekeeper-helm-operator

[2022-05-24 15:37] asmacdo commented on #5793
@thomasmckay could you post your `config/rbac/role.yaml` file?

[2022-05-24 17:40] asmacdo commented on #5422
After speaking with @camilamacedo86 this is not ready to be done yet. I am moving to the backlog under priority/important-soon so this will be discussed at the next backlog grooming meeting.

[2022-05-24 17:42] thomasmckay commented on #5793
I really think it is that the operator-sdk needs to populate the CRDs in the `crds` folder as per https://helm.sh/docs/chart_best_practices/custom_resource_definitions/#method-1-let-helm-do-it-for-you

[2022-05-24 18:49] #5730 closed

[2022-05-24 18:49] #5731 closed

[2022-05-24 19:39] jberkhahn opened #5798 "Make Badrobot work with SDK"
Hey,

At Kubecon I attended a [talk about operators as a threat vector to cluster security](https://kccnceu2022.sched.com/event/ytpr/tweezering-kubernetes-resources-operating-on-operators-kevin-ward-controlplane?iframe=no). I spoke with Kevin Ward (@wakeward), one of the maintainers on the project, about possibly integrating the tool they built, [BadRobot](https://github.com/controlplaneio/badrobo

[2022-05-24 21:05] kaovilai commented on #5763
@joelanford
I may have some confusion around. Let me know if https://github.com/operator-framework/operator-sdk/pull/5765 is currently ok.

[2022-05-24 21:36] camilamacedo86 commented on #5422
We might want to add something here that it is blocked until we ensure that its consumers are no longer using it.

[2022-05-24 22:54] VenkatRamaraju commented on #5713
Didn't replicate in v1.21.0 release.

[2022-05-24 22:54] #5713 closed

[2022-05-24 22:55] #5776 closed

[2022-05-24 23:41] sukhil-suresh opened #5803 "Pause and Resume watch/reconcile of custom resource by helm-operator"
## Feature Request

#### Describe the problem you need a feature to resolve.

For a particular scenario, we temporarily scale down a deployment (which is part of our product) by updating the replica value to zero in the spec.  However, it seems the helm-operator-controller interferes with this and scales it back up to the replica count set for the operand install.

#### Describe the solution you'd

[2022-05-25 18:33] jberkhahn commented on #5798
When I say Bundles, I mean the off-cluster artifact that is produced by SDK when you package an operator for OLM, see example [here](https://github.com/operator-framework/operator-sdk/tree/master/testdata/go/v2/memcached-operator/bundle). This is what is hosted on Operator Hub, and what our validators are run against. Due to rukpak it is likely the exact contents of a Bundle is going to change in

[2022-05-25 19:00] ryantking commented on #5798
For reference, here's the very WIP PR on that: https://github.com/operator-framework/rukpak/pull/396/files

[2022-05-26 14:25] J0zi commented on #5773
Thanks @camilamacedo86 for steering it

[2022-05-26 19:30] varshaprasad96 commented on #5759
@geoghegk Thanks for digging in. Since this is from a very old version of SDK which is not supported (0.19 - pre 1.0 release), we can't release a patch. But adding documentation on this would really be helpful for someone doing an upgrade.

[2022-05-26 19:52] joelddiaz opened #5810 "OperatorSDK 1.21 on M1 Macs fails to install kustomize"
## Bug Report
#### What did you do?
Followed the migration steps as documented in https://master.sdk.operatorframework.io/docs/upgrading-sdk-version/v1.21.0/

Now `make kustomize` fails with:
[code]

#### What did you expect to see?

The ability to continue to build the operator in my M1 Mac environment.

#### What did you see instead? Under which circumstances?
The version of kustomize (v3.8.7) t

[2022-05-26 21:31] camilamacedo86 commented on #5810
Same https://github.com/operator-framework/operator-sdk/issues/5785#issuecomment-1133766895.

[2022-05-26 21:48] #5732 closed

[2022-05-27 05:31] becalledbyJoyce commented on #5767
Hi @VenkatRamaraju / @asmacdo ,

Is there update on my request.

Thanks and regards,
Vasanth

[2022-05-27 10:14] kavyamani596 opened #5812 "Failed to start container "memcached": Error response from daemon: failed to create shim: OCI runtime create failed"
Hello,

So I tried deploying the memcached operator, instead of pushing the image ,I build it locally and tried to use it for getting up the container, but when I apply the /config/samples/cache_v1alpha1_memcached.yaml file,
It has problem running the containers.

NAME                                READY   STATUS              RESTARTS   AGE
memcached-sample-85c7664985-nq7ql   0/1     RunContainer

[2022-05-27 17:08] everettraven commented on #5724
Created a draft PR to show a PoC of this testing library/package update here: https://github.com/operator-framework/operator-sdk/pull/5813

[2022-05-29 13:24] camilamacedo86 commented on #5767
@becalledbyJoyce,

The go version used is not the go version supported. Could you please use go 1.17 and let us know if the error persists?

[2022-05-30 13:48] mbaldessari opened #5817 "controller-manager-metrics-service warning with OCP 4.11 nightly"
## Bug Report

#### What did you do?

Using operator-sdk v1.21 against an OCP 4.11 (4.11.0-0.nightly-2022-05-25-193227) test releases gives the following warning on the prometheus yaml:
[code]

The steps to create the test operator were the following:
[code]

This warning is not observed with proper released versions of OCP (4.10 and lower). I presume this is somewhat related to https://github.com

[2022-05-31 10:35] #5514 closed

[2022-05-31 10:35] DanArlowski commented on #5514
For feature guys - Apply the CRD in Addition o adding the scheme.

[2022-05-31 16:53] #5423 closed

[2022-05-31 16:55] everettraven commented on #5785
closing this issue since @camilamacedo86 had the upstream PR merged.

[2022-05-31 16:55] #5785 closed

[2022-06-01 06:52] becalledbyJoyce commented on #5767
HI @camilamacedo86 , We are already using the version and we are getting the above vulnerabilities.

[2022-06-01 14:10] everettraven opened #5820 "meta issue for k8s 1.24 bump"
## Meta Issue for k8s 1.24 bump
In order to bump Operator SDK to support Kubernetes 1.24 there are a few dependencies we rely on making the bump first.

This issue is meant to help track all dependencies and the status of their bumps.

### Order of dependency bumps
**Step 1: upgrade controller-runtime, controller-tools, helm, and operator-framework/operator-manifest-tools(can be done in parallel)*

[2022-06-01 20:40] everettraven commented on #5785
@tavaresrodrigo Would you be interested in helping test a change upstream in Kubebuilder that tries to make modifications to the scaffolded Makefile so that M1 Mac users can use Kustomize v3.8.7 by building it locally instead of attempting to pull a prebuilt release?

If you are interested, there is an upstream PR to address it here: https://github.com/kubernetes-sigs/kubebuilder/pull/2706

[2022-06-02 10:39] caatclaudia opened #5827 "Definition of Hosts"
## Context
I'm creating a Kubernetes operator, through Ansible, that allows me to monitor the node's state from a Kubernetes Cluster, namely that allows me to copy a directory to a remote host. For this, my main.yml file executes the following commands:

[code]

When I use these commands, the pod cannot execute the commands correctly, as it does not show output for these commands, since I didn't d

[2022-06-02 10:43] caatclaudia opened #5828 "Pod doesn't look directory outside"
## Context
I'm creating a Kubernetes operator, through Ansible, that allows me to monitor the node's state from a Kubernetes Cluster, namely that allows me to change files in a directory from the node Cluster (not inside the pod). For this, my main.yml file executes the following commands:

[code]

When I use these commands, the pod cannot execute the commands correctly, since the pod looks for th

[2022-06-02 11:04] caatclaudia commented on #5827
@everettraven Sorry, do you think you could help me here? I think that is a dumb question, but I really don't know, sorry

[2022-06-02 13:14] everettraven commented on #5827
@caatclaudia No dumb questions here, and I am always happy to help however I can.

One thing I noticed is that your `hosts` definition in the playbook is using a `.` after it instead of a `:` (at least in the snippet you included). I'm not sure if this would cause the issue you are experiencing, but as far as I understand it you should be able to use normal playbook definitions to perform operatio

[2022-06-02 13:37] everettraven commented on #5828
@caatclaudia I am not aware of any ways for a pod to reach the host filesystem other than potentially mounting a volume. I think the way to do this would be to modify the `config/manager/manager.yaml` file which contains the `Deployment` for your operator. You should be able to modify this `Deployment` definition to mount whatever volumes your project may need.

An example of this file can be foun

[2022-06-02 15:04] everettraven commented on #5827
@caatclaudia So it seems to me after going through some of the Ansible documentation that you will need to have an inventory that contains that ip address to use it as a host in the playbook file.

I think this means you will need to create an inventory/hosts file in the `playbook/group_vars` directory so that it is copied over with the playbook into the Docker image.

Documentation on building an

[2022-06-02 16:25] caatclaudia commented on #5828
Thank you, this helps me a lot. But the only problem is that I want to make some changes in files, and the volume path has the root owner, but my operator runs in ansible user, so it doesn't have permissions to write in files. Any suggestion?

[2022-06-02 21:20] everettraven commented on #5828
@caatclaudia Hmm... I am not entirely sure on this one. It may be that you need to change the permissions on the files but I will look into this more and get back to you.

[2022-06-03 08:40] caatclaudia commented on #5828
I already have found the answer, so I'm gonna close this issue, but I am gonna put the answer here to maybe help someone that can have the same issues.

I have seen this [link](https://kubernetes.io/docs/tasks/configure-pod-container/security-context/ ) that is about **security context**, this security context allows the definition of the user and group that are running this container. I found som

[2022-06-03 08:40] #5828 closed

[2022-06-03 11:29] caatclaudia commented on #5827
Ok, I created a playbook and hosts files and my playbook is able to look to this file. But I am having this issue when I try to execute commands on my remote machine
![image](https://user-images.githubusercontent.com/56655085/171845259-62661b9e-f235-4509-b0d2-011d846a15c7.png)

My Dockerfile as this commands, but the issue continues:
[code]

Any suggestion?

[2022-06-03 13:27] everettraven commented on #5827
@caatclaudia I did a little digging and this seems to be related to an Ansible default of creating a temp directory in `~/.ansible/tmp`. It seems like by default ansible tries to use the $HOME directory of the user on the remote machine where the user is the same user that ran the Ansible playbook. In your case I think it is likely that the user being used in your container (i believe the user is

[2022-06-03 18:00] fabianvf commented on #5827
Yeah it should totally be possible to target remote hosts within a playbook. So long as the host address or IP is resolvable + reachable from inside the pod running in kubernetes it should behave exactly as ansible running outside the cluster. If you want to target the host via SSH you'll need to include your ssh keys (or use sshpass and password authentication as it seems you are doing) etc in th

[2022-06-05 19:27] laxmikantbpandhare commented on #4925
@rbq - that's great, thank you for the confirmation.

[2022-06-06 01:00] shawnhwei commented on #5420
/reopen

[2022-06-06 08:19] zc2638 opened #5831 "How to generate k8s resource manifest?"
## Question
How should I operate to generate k8s resource manifests ?
I don't want to use `operator-sdk` custom resource `ClusterServiceVersion`.
I hope the whole process is completed through pure k8s resources, controllable.

`$ operator-sdk version`
operator-sdk version: "v1.21.0-6-g28033559", commit: "280335593c76c1fb14ce96100938f140ddb42659", kubernetes version: "v1.23", go version: "go1.18",

[2022-06-06 15:32] rashmigottipati opened #5832 "FBC: catalog-build target in Makefile needs to be updated to generate an FBC catalog image"
## Bug Report

#### What did you do?

The catalog-build target in Makefile still uses `opm index add` to generate a SQLite catalog index image. This needs to be updated to generating an FBC index image as we will be defaulting to using File-Based Catalogs once [PR](https://github.com/operator-framework/operator-sdk/pull/5809) is merged into master.

How reproducible:
Always

Steps to Reproduce:
1.

[2022-06-06 16:46] varshaprasad96 commented on #5831
@zc2638 Could you please elaborate the question. Do you mean adding generic K8s resources as a part of Custom Resource Definition? Or do you mean that the controller not reconciling the Custom resource and instead just a k8s object?In second case, we don't need to generate/apply manifests of k8s resources since the api-server will already know about it.

[2022-06-06 18:11] asmacdo commented on #4245
@asmacdo will talk to @fabianvf about this-- I'll unassign once I have a meaningful comment to add here and we can triage again next week.

[2022-06-06 18:24] varshaprasad96 commented on #5792
Yes. It could be, since its a tag. @thomasmckay would you mind submitting a PR to fix the Makefile scaffolding to have `v` in the version, or add the `v` prefix to the `IMG` tag. https://github.com/operator-framework/operator-sdk/blob/280335593c76c1fb14ce96100938f140ddb42659/testdata/helm/memcached-operator/Makefile#L6

Thanks for brining it up!

[2022-06-06 18:29] asmacdo commented on #5619
If we cannot switch to ubi-micro, please reopen https://github.com/operator-framework/operator-sdk/issues/5745

[2022-06-06 18:29] #5619 closed

[2022-06-06 18:47] #5790 closed

[2022-06-06 19:01] everettraven commented on #5810
As @camilamacedo86 mentioned, this is a known issue and we are waiting for Kubebuilder to support the `darwin/arm64` platform before Operator SDK can start supporting it. There is currently a few efforts in place to get Kubebuilder to begin supporting this platform.

Due to this I am closing this issue.

[2022-06-07 01:26] zc2638 commented on #5831
Hi @varshaprasad96 ,
I run `make bundle` to get the `ClusterServiceVersion` resource.
I hope that I can get the generated `Deployment` resource by command to deploy the operator, which will be very useful for my business.

[2022-06-07 20:19] jberkhahn commented on #5812
So, it looks like you're trying to deploy the regular memcached docker image - which is just a container that has memcached in it, not intended to be an operator controller. You need to build your operator image and either host it on an image registry like Docker Hub or upload it to the cluster manually before deploying your operator.

[2022-06-08 01:46] cliles opened #5837 "ansible-operator reconcile-period options are not documented"
### What is the URL of the document?

Mentioned already briefly at: https://sdk.operatorframework.io/docs/building-operators/ansible/development-tips/
Should be also added in detail somewhere under: https://sdk.operatorframework.io/docs/building-operators/ansible/reference/advanced_options/

### Which section(s) is the issue in?

#annotations-for-custom-resource

### What needs fixing?

The recent

[2022-06-08 02:53] jmrodri commented on #5688
It was definitely due to a k8s update. I know we were removing them after the update and had to add a FAQ https://sdk.operatorframework.io/docs/faqs/#preserve-the-preserveunknownfields-in-your-crds

[2022-06-08 02:59] jmrodri commented on #5688
@camilamacedo86 I'm not sure what the exact issue is you are trying to outline.

[2022-06-08 06:04] becalledbyJoyce commented on #5767
hi @camilamacedo86 , cant you do anything regarding this request. without the go version update, we will face vulnerability in our product.

[2022-06-08 08:28] camilamacedo86 commented on #5688
Hi @jmrodri,

After we bump the k8s api to 1.23 on operator-framework/api, the behaviour change and begin to require `preserveUnknownFields: false` by looking at that, the change was done in the k8s api, so it shows like a bug fix. We could try to track it out to understand better.

However, **it only really affects those who want to provide solutions for k8s versions < 1.16 and Openshift < 4.6 (w

[2022-06-08 10:18] camilamacedo86 opened #5838 "Unable to identify where is the error with the lint checks implemented on the Ansible projects"
## Bug Report

See:

[code]

#### What did you do?

Changes in the scaffold and tested it with default molecule tests scaffolded for advanced molecule sample

#### What did you expect to see?

Be able to know where is the error `Error: [trailing-spaces] trailing spaces`. What is the file? what is the line?

#### What did you see instead? Under which circumstances?

Only errors and warnings without

[2022-06-08 10:27] camilamacedo86 opened #5839 "Ansible deprecated WARNINGS has been raised because requires require Python 3.8"
## Feature Request

#### Describe the problem you need a feature to resolve.

[code]

#### Describe the solution you'd like.

Note check WARNINGs in the default scaffold regards tech debts on what is built by default
That means, I think we need to upgrade here the version.

/language ansible

[2022-06-08 14:16] jmrodri commented on #5688
Closing this issue, if @cbandy or @camilamacedo86 think we should revisit this, please add a new comment as to why and reopen.

[2022-06-08 18:39] varshaprasad96 commented on #5685
Anyone working on this issue, please contact one of the maintainers to know more about the process. We are here to help!

[2022-06-08 18:41] varshaprasad96 commented on #5548
The outcome of the discussion was to have a flag that allows users to opt-in and run a test if needed.

[2022-06-09 07:14] becalledbyJoyce commented on #5767
Hi @camilamacedo86 ,
We are sure  that the issue happened only after upgrading  ansible-operator.version to v1.19.1 and v1.20.0. With older version , it worked fine and never breaks it. So any newer release of ansible-operator would be great (along with go updated which wants for resolving vulnerabilities). We can reproduce this issue by upgrading the ansible-operator to v1.19.1 and v1.20.0.

Than

[2022-06-09 07:27] zc2638 commented on #5831
/help

[2022-06-09 12:57] camilamacedo86 commented on #5831
Hi @zc2638,

The `make bundle` creates the bundle.

**The bundles are required for you to integrate your solution with [OLM](https://olm.operatorframework.io/).**

That means distributing your solution via https://operatorhub.io/ or for example via the RedHat community (https://github.com/redhat-openshift-ecosystem/community-operators-prod/) to add your Project on Openshift/OKD catalogs by default

[2022-06-09 14:02] #5593 closed

[2022-06-09 16:00] rashmigottipati opened #5847 "`run bundle` command fails when FBC index is too huge"
## Bug Report

#### What did you do?

`./build/operator-sdk run bundle quay.io/rashmigottipati/memcached-operator-bundle:v0.0.1 --index-image quay.io/operatorhubio/catalog:latest`
INFO[0006] Creating a File-Based Catalog of the bundle "quay.io/rashmigottipati/memcached-operator-bundle:v0.0.1"
INFO[0007] Rendering a File-Based Catalog of the Index Image "quay.io/operatorhubio/catalog:latest"
INFO[0

[2022-06-09 16:38] VenkatRamaraju commented on #5837
Hi @cliles,

Thanks for bringing this up. I agree, we should have documented this for Ansible when the change went in. We have a [document](https://sdk.operatorframework.io/docs/building-operators/helm/reference/advanced_features/annotations/#helmsdkoperatorframeworkioreconcile-period) for Helm that explains the precedence. I will add a similar document for Ansible.

[2022-06-09 22:02] #5837 closed

[2022-06-09 23:06] #5839 closed

[2022-06-10 00:38] #5460 closed

[2022-06-10 06:05] Kanaga13579 commented on #2334
Hi @joelanford , currently I am working on a similar use-case of deploying multiple CR using single helm operator. But I am little confused about establishing parent child relationship between these CR. It would be really great if you could share any project/github repo where this is actually implemented.

Thanks!

[2022-06-10 13:10] asmacdo commented on #5740
Should be good to go on this as soon as https://github.com/operator-framework/operator-sdk/pull/5843/ merges

[2022-06-10 13:20] asmacdo opened #5854 "Bump golang 1.17 -> 1.18"

[2022-06-10 13:27] asmacdo opened #5855 "Should we define "dependency watchers"?"
We have many deps that only get bumped when there is a problem, or when we do an audit. One alternative would be have defined watchers for each dep and bump as soon as we can.

[2022-06-10 13:36] asmacdo opened #5856 "bump `kind` dependency 0.11 -> 0.14"
AFAIK there is nothing requiring this change, but we have gotten a bit behind.

[2022-06-10 15:19] camilamacedo86 commented on #5740
Hi @everettraven ,

We do not maintain the homebrew formula.

However, when we do the release from master it will work fine because the problem was that homebrew install go 1.18 and SDK and Go 1.18 was not supported yet.

[2022-06-10 15:21] everettraven commented on #5740
@camilamacedo86 This issue was created here so the maintainers in the homebrew-core repo would allow me to downgrade go to 1.17 when we did not support go 1.18. I am going to link them to this issue when upgrading the homebrew formula to support go 1.18.

[2022-06-10 15:24] camilamacedo86 commented on #5740
That is fine. Thank you for share

[2022-06-12 11:05] camilamacedo86 opened #5859 "Default Memcached sample does work on Openshift and fails with `Error "failed calling webhook`"
## Bug Report

By using the go/v3/testdata/memcached-operator to build a new catalog and test it with OLM/Openshift the following error is faced because of webhooks:

[code]

#### What did you do?

1) Update the Makefile `IMAGE_TAG_BASE ?= example.com/memcached-operator` to build the images in my registry instead (IMAGE_TAG_BASE ?= cmacedo/memcached-operator)
2) Update the file `config/manager/kus

[2022-06-12 11:08] camilamacedo86 commented on #5859
c/ @jmrodri @tlwu2013

[2022-06-12 13:33] camilamacedo86 opened #5860 "I'd like to check the Golang Memcached Sample publish on OperatorHub io and RedHat Community"
## Feature Request

#### Describe the problem you need a feature to resolve.

I'd like to check the Golang Memcached Sample publish on OperatorHub io and RedHat Community so that:

a) I could easily test/check the default example integrated with OLM on k8s/OCP/OKD vendors
b) We could ensure that the default sample attends the minimal requirements to work with OLM properly
c) I could easily check h

[2022-06-12 13:35] camilamacedo86 commented on #5860
c/c @jmrodri @tlwu2013

[2022-06-12 13:57] camilamacedo86 commented on #5859
@rashmigottipati @varshaprasad96 do you know what are the manual steps to make the sample with Webhooks be installed on OCP or if is not possible?

[2022-06-12 14:49] camilamacedo86 commented on #5856
Done on master https://github.com/operator-framework/operator-sdk/blob/master/Makefile#L163-L173 already
Closing this one

[2022-06-12 14:49] #5856 closed

[2022-06-12 14:50] camilamacedo86 commented on #5855
Could you provide an example of dep that we are not watching in the bot?

[2022-06-12 20:46] camilamacedo86 opened #5864 "pod.spec.securityContext.seccompProfile is not working on old version"
We udpate the default scaffold on K8s and SDK to follow up the good practices and recommendations on the k8s api: https://kubernetes.io/docs/concepts/security/pod-security-standards/#restricted

The `securityContext.seccompProfile` was added in 1.19 and it seems not work on ocp < 4.11.
So, we might need to change the default scaffold and comment it before to do the releases so that users will be a

[2022-06-12 21:29] camilamacedo86 opened #5865 "make target catalog build creating a fbc index"
## Feature Request

The catalog-build target is using SQLIndex, see:

[code]

https://github.com/operator-framework/operator-sdk/blob/master/testdata/go/v3/memcached-operator/Makefile#L229-L232

Could we change this one to create the mock catalog as a helper to test the bundle with OLM using FBC instead?

[2022-06-12 21:32] camilamacedo86 commented on #5865
c/c @Lance @gallettilance

[2022-06-13 04:37] avisiedo opened #5866 "Uninstalling operator by olm use all the grace_period to terminate the pod_registry."
## Bug Report

Launching and terminating several times an operator using "operator-sdk" which is installed using OLM, I get for the termination that the registry_pod is not terminated immediately, keeping the pod up until the graceperiod is reached and a SIGKILL is sent to all the process in the container.

#### What did you do?

For [freeipa-operator](github.com/freeipa/freeipa-operator) I ran:

[2022-06-13 13:30] everettraven commented on #5820
All actions are completed to allow Operator SDK to support k8s 1.24. Closing.

[2022-06-13 13:30] #5820 closed

[2022-06-13 13:35] everettraven commented on #5864
@camilamacedo86 is this regarding the file that are scaffolded with kustomize in the `config/` directory?

[2022-06-13 13:58] rashmigottipati commented on #5865
This issue seems to be a duplicate of https://github.com/operator-framework/operator-sdk/issues/5832

[2022-06-13 14:40] camilamacedo86 commented on #5864
We also will need to add a comment in the docs and a changelog to clarify that.

[2022-06-13 16:52] varshaprasad96 commented on #5859
@camilamacedo86 A few follow up questions:
1. How does the CSV look like? Does it have all the required fields for the deployment of webhook? Here are some details from OLM's end:
https://olm.operatorframework.io/docs/advanced-tasks/adding-admission-and-conversion-webhooks/#defining-conversion-webhooks-in-the-clusterserviceversion

2. The logs state that: `no endpoints available for service "memca

[2022-06-13 16:55] varshaprasad96 commented on #5803
@sukhil-suresh Unfortunately, we don't have this feature in Helm operators. The available set of annotations for Helm operators are here: https://sdk.operatorframework.io/docs/building-operators/helm/reference/advanced_features/annotations/.

[2022-06-13 17:17] camilamacedo86 commented on #5859
Hi @varshaprasad96,

The test above was made with the sample without changing anything on that.
See the steps in the description, I just create build the operator and bundle and create a catalog to test it on OCP.
Therefore, I would expect that work but it fails.

[2022-06-13 17:50] varshaprasad96 commented on #5855
+1, would be helpful to some examples. There are many cases where we necessarily **not want** to bump deps immediately and wait for some other dependency to start the chain. For example, we don't immediately bump a helm version, till we have a compatible k8s/kb/c-r in place. Also, does the github's dependabot help us here?

[2022-06-13 17:50] camilamacedo86 commented on #4172
the issues/flakes are timeouts when we are validating the links.
Can we not just increase the timeout of it?

[2022-06-13 18:07] camilamacedo86 commented on #5434
/lifecycle frozen

@varshaprasad96 @jmrodri

OLM supports that (as far as I know)
We just need to change the validations to allow that.

The goal of this one is we collab with Operator-Framework/api OR OLM valuations to allow users do it

[2022-06-13 18:26] #5745 closed

[2022-06-13 18:26] #5791 closed

[2022-06-13 18:33] varshaprasad96 commented on #5827
@caatclaudia Hope the comments help in solving the issue. Closing this for now, please feel free to reopen!

[2022-06-13 18:33] #5827 closed

[2022-06-13 18:39] sukhil-suresh commented on #5803
@varshaprasad96 Thanks for sharing the annotations supported by the Helm operator.

We have an (untested) workaround for the problem we faced, which involves updating the operand spec to have support for the deployment replica. The assumption is that the helm operator will respect the operand spec value change.

Feel free to close the issue, if needed. I still believe there is value in an annotati

[2022-06-13 18:40] varshaprasad96 commented on #5838
This issue seems to be related to ansible's linter. We would have to check if the linter accepts any arguments to give us a verbose error with filenames and line numbers. If not, the next step would be to open an issue with anisble's linter project and follow up with them.

[2022-06-13 21:12] #5847 closed

[2022-06-13 21:33] rashmigottipati opened #5870 "run bundle-upgrade fails for a large FBC index"
## Bug Report

#### What did you do?

`run bundle-upgrade` subcommand with FBC image doesn't work when a large index image is passed by the user for the `--index-image` flag. It fails with the error message `Request entity too large: limit is 3145728`.

#### What did you expect to see?

Successful upgrade of bundle image from v0.0.1 to v0.0.2 CSV with the provided index image.

#### What did you s

[2022-06-13 21:53] camilamacedo86 commented on #5865
So we can close this on @rashmigottipati

[2022-06-13 21:53] #5865 closed

[2022-06-13 23:20] camilamacedo86 opened #5871 "Add support to k8s 1.24"
## Feature Request

#### Describe the problem you need a feature to resolve.

To pass on the tests against 1.24 we are creating a token in the tests, see: https://github.com/operator-framework/operator-sdk/blob/master/test/common/sa_secret.go

However, that means if we follow up the quick start against on cluster with 1.24 that will probably not work because it is missing the token. So, we need to

[2022-06-14 05:59] Kanaga13579 commented on #5792
Hi @varshaprasad96 , I would like to know the use of "overrideValues" in watches.yaml. If the values can be overridden by adding in CR spec, then what is the use of adding overrideValues field again in watches.yaml? Could you please share your thoughts on this? It would be really grateful if you can explain me with an example.

Thanks !

[2022-06-14 06:17] Kanaga13579 opened #5873 "Use of overrideValues in watches.yaml in helm operator"
## Type of question

General operator-related help

## Question

#### What did you do?

Need to know the use of overrideValues field in watches.yaml

#### What did you expect to see?

#### What did you see instead? Under which circumstances?

#### Environment

**Operator type:**

 /language helm

**Kubernetes cluster type:**

`$ operator-sdk version`

operator-sdk version: "v1.21.0", commit: "89d2

[2022-06-14 09:01] camilamacedo86 opened #5875 "Make install target is broken because try to install the kustomize when it is installed already"
## Bug Report

#### What did you do?

call make install twice

#### What did you expect to see?

Not fail and just install the kustomize if that is not installed already

#### What did you see instead? Under which circumstances?

The following error in the second time because the bin is in the dir already

[code]
#### Environment

**Operator type:**

 /language go
/language ansible
 /language helm

[2022-06-14 09:01] camilamacedo86 commented on #5875
c/c @ryantking

[2022-06-14 09:13] camilamacedo86 commented on #4172
See that it has an timeout option: https://github.com/gjtorikian/html-proofer#configuring-typhoeus-and-hydra

[2022-06-14 09:49] camilamacedo86 commented on #5871
To ensure that the token is not required with the default scaffold I pushed a PR against Kubebuilder where we commented the curl call to validate the metrics and we were not using the token. the tests against 1.24 passed so it shows safe we say that we do not need to scaffold any token for the Sa and is all fine.

[2022-06-14 09:59] ericdurandsymphony commented on #5873
It can be used for example to define values which are common at the cluster level. So that all CRs don't have in fact to define any of those values, as they will be overriden by the operator at deployment.
Then different sets of such override values can be set on different clusters.

[2022-06-14 11:28] Kanaga13579 commented on #5873
Okay. Thanks for clearing my doubt @ericdurandsymphony . I know we have an option to set the overrideValues from environment variables. In this case, if the overrideValues changes, will the operator reconcile? or operator reconciles only for the changes in CR spec values?

Thanks!

[2022-06-14 19:11] jhrozek commented on #5584
/remove-lifecycle stale

[2022-06-15 16:03] mrogers950 commented on #5584
I ran into this as well. It seems that for objects that have a Status, it requires a Spec as well. I had other definitions that didn't trigger the error with no Spec, but they didn't have a Status.

[2022-06-15 21:36] loganmc10 opened #5880 "ConfigMap "operator-sdk-run-bundle-config" is invalid: []: Too long"
## Bug Report

#### What did you do?
Tried updating my operator on the OperatorHub, see https://github.com/k8s-operatorhub/community-operators/pull/1339

#### What did you expect to see?
A successful upgrade

#### What did you see instead? Under which circumstances?
[code]

#### Environment

**Operator type:**
Operator is here: https://github.com/routernetes/routernetes-operator
Ansible based oper

[2022-06-15 21:38] loganmc10 commented on #5880
Maybe the same issue as https://github.com/operator-framework/operator-sdk/issues/5870? But this is affecting 1.22.0

[2022-06-16 14:13] everettraven commented on #5880
@loganmc10 This is something that was an issue before the 1.22.0 release but we weren't able to get the bugfix for `run bundle-upgrade` in on the 1.22.0 release. It is planned that this bug will be fixed and a patch release (1.22.1) will be created once the fix is in.

@rashmigottipati is working on the fixes for this so she may have more information on this.

[2022-06-17 03:52] Kanaga13579 opened #5882 "CR spec overrides the entire key value from Values.yaml in helm-operator"
## Bug Report

#### What did you do?

I have created a helm operator for an existing chart which watches a CR. I am creating this CR by extending k8s API, through go code. While creating the CR through code, I am just adding some fields under container. Values.yaml have same key values. The CR spec replaces the entire key from Values.yaml. But I want to use some values from Values.yaml under same

[2022-06-18 12:46] #4990 closed

[2022-06-18 22:16] larsks opened #5884 "Attempt to use manager_config_patch.yaml results in "flag provided but not defined: -config""
## Bug Report

#### What did you do?

I have build a simple operator using `operator-sdk`  version:

[code]

The generated manifests include `config/manager/controller_manager_config.yaml`, which when patched in via `config/default/manager_config_patch.yaml` sets the manager args to:

[code]

But the generated code in `main.go` has no support for a `-config`
flag:

[code]

#### What did you expect

[2022-06-20 16:19] larsks opened #5887 "Ansible operator is munging keys"
## Bug Report

#### What did you do?

I have a CRD that defines properties named `quotaName` and `quotaDefinition`.

#### What did you expect to see?

I expected these keys to be exposed in the corresponding Ansible role as variables `quotaName` and `quotaDefinition`.

#### What did you see instead? Under which circumstances?

The keys have been renamed to `quota_name` and `quota_definition`, whic

[2022-06-20 18:03] itroyano opened #5888 "(/api bump) bundle validate does not fail on invalid env in deployment spec"
## Bug Report

Given a CSV yaml with the following spec

[code]

`operator-sdk bundle validate` is successful, despite {name. image} not being a valid `env` spec in Deployment.
it should be {name, value}.

#### What did you expect to see?

validation to fail on

[code]

#### What did you see instead? Under which circumstances?

`INFO[0000] All validation tests have completed successfully`

#### En

[2022-06-21 12:07] loganmc10 commented on #5887
This is mentioned a few places in the docs: https://sdk.operatorframework.io/docs/building-operators/ansible/reference/watches/

You can set ```snakeCaseParameters``` to false in watches.yaml to disable the behaviour you're talking about

[2022-06-21 14:58] camilamacedo86 commented on #5888
I think that is definitely something that we need to do.
However, the implementation must be done here: https://github.com/operator-framework/api/blob/master/pkg/validation/internal/csv.go

Would you like to contribute with?

c/c @ryantking

[2022-06-21 15:08] camilamacedo86 commented on #5884
Did you scaffold the project using this option `operator-sdk init --component-config` ?
To know how to use the Component Config I'd like to recommend you follow up on the tutorial: https://book.kubebuilder.io/component-config-tutorial/tutorial.html

[2022-06-21 15:30] larsks commented on #5887
@loganmc10 thanks, that's helpful. Now that I know what to look for I do see the note in [the tutorial](https://sdk.operatorframework.io/docs/building-operators/ansible/tutorial/), but since the behavior is surprising I would like to see it emphasized (and perhaps added to the [quickstart](https://sdk.operatorframework.io/docs/building-operators/ansible/quickstart/) as well.

I'll try to get aroun

[2022-06-21 15:34] camilamacedo86 commented on #5884
I agree. It shows for me seems a bug.
We probably should only scaffold the file if/when the option is informed in the init command
Also, we could add on the file a comment with the link for its tutorial.

It needs to be addressed on the Kubebuilder.

[2022-06-21 21:46] jchunkins commented on #5875
This seems like the make target for installing kustomize just needs to be changed to this simple bash expression:

[code]

[2022-06-22 11:37] camilamacedo86 commented on #5817
Hi @mbaldessari,

The warnings occur because the scaffolds used to build this project have Pod/containers that are not configured to follow the Pod Security Standards. More info: https://master.sdk.operatorframework.io/docs/best-practices/pod-security-standards/

I will leave it open and provide further information/tips asap.

[2022-06-22 20:25] everettraven opened #5897 "`run bundle-upgrade` does not always automatically approve the InstallPlan"
## Bug Report

#### What did you do?

1. `operator-sdk run bundle docker.io/vramaraj/memcached-operator-bundle:v0.0.1`
2. `operator-sdk run bundle-upgrade docker.io/vramaraj/memcached-operator-bundle:v0.0.2`
This outputs:
[code]

3. `kubectl get installplans`
[code]

It seems like it attempted to approve the incorrect `InstallPlan`. This doesn't always seem to occur and is pretty erratic in when i

[2022-06-22 23:12] #5887 closed

[2022-06-23 06:22] camilamacedo86 opened #5898 "Know what changes in the scaffolds for Golang operators or SDK bundle generate command are required to use kustomize v4 (make bundle does not work with)"
## Investigation

#### Describe the problem you need a feature to resolve.

For we are able to support Apple Silicon we need to have the kustomize bin v3 for darwin/arm64 (https://github.com/kubernetes-sigs/kustomize/issues/4612) which seems that will not be provided because v3 is deprecated more than one year ago OR are able to move forward to use kustomize v4.

According to the kustomize release

[2022-06-23 06:23] camilamacedo86 commented on #5898
c/c @jmrodri @ryantking

[2022-06-23 07:19] kaushiksrinivas opened #5899 "expose metrics of the operator with tls (https) certificates"
Building operator using operator-sdk framework.
Do not see much information about exposing metrics with tls enabled.
Is it supported to expose metrics with tls (configurable tls certificates) and if yes, how to configure certificates for the metrics port with tls on the operator pod ?

Is there any documentation pages and configuration links/samples required to achieve this ?

[2022-06-23 13:06] frzifus opened #5900 "Updating label selector breaks olm upgrades"
## Type of question

Best practices

General operator-related help

## Question

#### What did you do?

We added a new label selector to our bundle. ([config/default/kustomization.yaml](https://github.com/jaegertracing/jaeger-operator/pull/1850/files#diff-c006b1ef995eeeb57408cce42bd84db8dfc0cbe18df03222857665cebb1ac6fdR18))

#### What did you expect to see?

Operator gets replaced.

#### What did

[2022-06-23 21:59] rashmigottipati commented on #5870
This is fixed on master by the below PRs:
https://github.com/operator-framework/operator-sdk/pull/5868
https://github.com/operator-framework/operator-sdk/pull/5891

For the traditional case, there's no support for large FBC index yet and that is one of the limitations of this command. I'll explicitly clarify this in the documentation as well.

[2022-06-23 21:59] #5870 closed

[2022-06-23 23:53] rashmigottipati commented on #5773
@J0zi @camilamacedo86 PR https://github.com/operator-framework/operator-sdk/pull/5809 was merged into master. This adds support for FBC images.

[2022-06-23 23:54] rashmigottipati commented on #5773
I ran the bundle provided in the description against latest master and it successfully installed the CSV.

Below are the logs:
▶ ./build/operator-sdk run bundle quay.io/operatorhubio/hive-operator:v2.5.3508-6cb94c6
INFO[0007] Creating a File-Based Catalog of the bundle "quay.io/operatorhubio/hive-operator:v2.5.3508-6cb94c6"
INFO[0009] Generated a valid File-Based Catalog
INFO[0012] Created registr

[2022-06-24 00:19] javajon opened #5902 "Go tutorial with memcached showing pods not starting with CreateContainerConfigError"
## Bug Report

#### What did you do?

Follow the [Go Operator Tutorial](https://sdk.operatorframework.io/docs/building-operators/golang/tutorial).

At end, when the 3 Memcached Pods run, they report `CreateContainerConfigError`

When using operator-sdk version 1.19.1 (with Go 1.17.9) the tutorial worked for me. When upgrading the environment to operator-sdk version 1.22.0 (with Go 1.18.3) it produ

[2022-06-24 00:51] #5488 closed

[2022-06-24 00:51] #5506 closed

[2022-06-24 00:51] #5463 closed

[2022-06-24 05:44] kaushiksrinivas commented on #5899
@camilamacedo86
Can you provide any inputs here ?

[2022-06-24 07:25] camilamacedo86 commented on #5899
Hi @kaushiksrinivas,

The metrics are exported by default in the entry point `metrics`. How does it work?

See that in the manager ( main.go ) when we init the Operator we expose that: https://github.com/operator-framework/operator-sdk/blob/master/testdata/go/v3/memcached-operator/main.go#L70

Then, if you follow up on the docs we recommend using it with the Prometheus Operator, see: https://book.

[2022-06-24 14:44] asmacdo commented on #5463
@morningspace did you get the help you needed? please feel free to reopen!

[2022-06-24 16:40] everettraven commented on #5902
Hi @javajon, thanks so much for raising this issue! I was able to replicate the error on my end and will start looking into potential fixes for this. I will make sure to post any updates here when I have some more information.

[2022-06-24 16:40] everettraven commented on #5902
/assign everettraven

[2022-06-24 17:33] rashmigottipati commented on #5880
@loganmc10 I'm able to reproduce this on latest master. We recently got some fixes in for `run bundle` and `run bundle-upgrade` to make them work with a large FBC index. This change resolves most of the scenarios where there is a large FBC index and the rendered bundle image is within `ConfigMap` size limits as we modified the registry pod logic to use a `ConfigMap` to store the extra FBC (which i

[2022-06-24 18:50] javajon commented on #5902
Fantastic, thank you for the attention. The suggested change makes sense. I tried it and it worked. Humbled that I could help.

[2022-06-24 19:11] #5897 closed

[2022-06-25 10:14] camilamacedo86 commented on #5902
Hi @javajon and @everettraven

Please, see my comment in: https://github.com/operator-framework/operator-sdk/pull/5904#discussion_r906635613

[2022-06-25 16:17] camilamacedo86 commented on #5902
@everettraven @javajon,

Please check my comment in: https://github.com/operator-framework/operator-sdk/pull/5904/files#r906635613. See that the manager(Operator) also has the same config and does not require runAsUser. It is required because of the Memcached image that will be inited with a user.

[2022-06-26 07:41] morningspace commented on #5463
@asmacdo thanks and yes, we ultimately created [this project](https://github.com/multicloudlab/crossplane-provider-ansible) to address my problems.

[2022-06-27 03:53] TachibanaGin opened #5909 "API Markers"
[code]

[code]

Update: I edited the original comment to put it in triple backticks

[2022-06-27 17:16] varshaprasad96 commented on #5909
@TachibanaGin after modifying the `*_types.go` file (wherein you are changing `ElasticsearchSpec` can you run `make generate` and check that the spec you want is rendered in the CRD? After that, you can run `make bundle` and verify if the error still persists.

[2022-06-27 17:22] varshaprasad96 commented on #5899
In case more info is needed from controller-runtime's end on configuring custom tls certificates for metrics: https://github.com/kubernetes-sigs/controller-runtime/pull/993. It can passed from here: https://github.com/kubernetes-sigs/controller-runtime/blob/196828e54e4210497438671b2b449522c004db5c/pkg/manager/manager.go#L237-L242

[2022-06-27 18:17] loganmc10 opened #5910 "File-Based Catalog/FBC does not honor --use-http or --skip-tls-verify"
When using ```operator-sdk run bundle --skip-tls-verify```:

When using ```operator-sdk run bundle --use-http```:

[2022-06-27 18:21] #4713 closed

[2022-06-27 18:23] asmacdo commented on #3615
I'll bring this up at the chairs meeting, it would be nice to share this style guide with OLM, so it might make sense in the community repo.

[2022-06-27 18:32] tlwu2013 commented on #5866
I'll try to find experts in `opm` and see if they have more experience in this.

[2022-06-27 18:37] jberkhahn commented on #5875
TODO: do we need to bump kubebuilder to get this?

[2022-06-27 18:45] jberkhahn commented on #5884
Hey @camilamacedo86  could you file an issue about this upstream on Kubebuilder, and then close this issue?

[2022-06-27 19:32] everettraven commented on #5873
@Kanaga13579 My understanding is that the `overrideValues` in the `watches.yaml` file are bundled with your operator deployment and are static. In order to change these values you would have to re-bundle your operator and deploy it again. Regarding the CR spec changes, I do believe that this would kick off a reconcile.

I am going to close this issue, but if you have any more questions feel free t

[2022-06-27 19:32] #5873 closed

[2022-06-27 19:57] camilamacedo86 commented on #5898
@jberkhahn could you please let us know why it needs discussion?

[2022-06-27 19:57] laxmikantbpandhare commented on #5910
I tried `--skip-tls-verify` and `--use-http` with `memcached-operator` and I am able to run it successfully with `operator-sdk run bundle`:

[code]

Could you please provide more details about the `operator-sdk` version and the exact command that you are trying to run using `operator-sdk run bundle`

[2022-06-27 20:00] everettraven commented on #5898
@camilamacedo86 During the triage meeting we felt it would be good to add needs discussion so that this issue can be used to discuss what changes we will need to make throughout Operator SDK to support Kustomize v4. We felt it would allow getting as much input as possible and deciding what the next steps that need to be taken are. I am planning to spend some time looking into this and putting toge

[2022-06-27 20:15] loganmc10 commented on #5910
I'm using Operator SDK 1.22.0. I assume your example works because the image is hosted on docker.io. I am testing using a local registry (https://docs.docker.com/registry/deploying/), which can either be served using only HTTP, or HTTPS with a self-signed certificate.

The command I am doing is:
[code]

I am doing this as part of a PR workload (when a PR I submitted, GitHub Actions builds the oper

[2022-06-27 20:17] laxmikantbpandhare commented on #5910
Ah! Let me try with the local registry. I will update you here soon.

[2022-06-27 20:32] camilamacedo86 commented on #5898
Hi @everettraven,

Thank you for sharing it with me. That is great you will look at that.

I just would like to share that the idea of this task is we identify what/why the make bundle when webhooks are scaffold with kustomize v4 does not work first then we can move with the other steps.

Se can use the CLI API to know what plugin key was used to do the scaffold and then perform the code that work

[2022-06-28 09:15] camilamacedo86 commented on #3615
/lifecycle frozen

[2022-06-28 09:18] camilamacedo86 commented on #3615
@asmacdo,

In the past when we discussed this topic we spoke about adopting the Kubernetes style guide. I think we should move with this idea instead of re-invent the wheel see: https://kubernetes.io/docs/contribute/style/style-guide/

c/c @awgreene

[2022-06-28 11:55] asmacdo commented on #3615
I completely agree that we should use the k8s style guide, but I also advocate that we should have our own to supplement.

Our supplement should not ~reinvent the wheel (idiom lol)~ waste time redefining accepted standards, it should only include extra style decisions that are not mentioned in the k8s style guide. (Operator vs operator is another example).

It may also be  necessary to override k8

[2022-06-28 15:07] TachibanaGin commented on #5909
i use
make generate&make manifests...
input&output:
hatchin@192 Bobft-ElasticSearch-Operator % make generate
/Users/hatchin/go/src/Bobft-ElasticSearch-Operator/bin/controller-gen object:headerFile="hack/boilerplate.go.txt" paths="./..."
hatchin@192 Bobft-ElasticSearch-Operator % make manifests
/Users/hatchin/go/src/Bobft-ElasticSearch-Operator/bin/controller-gen rbac:roleName=manager-role crd webh

[2022-06-28 16:59] camilamacedo86 commented on #3615
Hi @asmacdo,

It also was discussed before we should **not** use $ as well. See that we have NOT them in the quick start: https://sdk.operatorframework.io/docs/building-operators/ansible/quickstart/

Why we should not use $? it makes hard for users copy and paste and run the commands.
However, yes we have docs that have $ because they wrote before

What need do we have now that doc/definition does

[2022-06-28 19:09] camilamacedo86 commented on #3615
Hi @asmacdo,

It also was discussed before we should **not** use $ as well. See that we have NOT them in the quick start: https://sdk.operatorframework.io/docs/building-operators/ansible/quickstart/

Why we should not use $? it makes hard for users copy and paste and run the commands.
However, yes we have docs that have $ because they wrote before

What need do we have now that doc/definition does

[2022-06-29 08:50] #5554 closed

[2022-06-29 08:51] camilamacedo86 commented on #5554
Closing this on since it is sorted out.
However, please feel free to re-open if you see that still needing help with

[2022-06-29 17:19] #5740 closed

[2022-06-29 18:26] asmacdo commented on #5551
This should be filed against api/

[2022-06-29 18:34] asmacdo commented on #5739
This should be pretty easy if anyone wants to pick it up, I'd be willing to coach.

[2022-06-30 11:11] camilamacedo86 commented on #5817
Hi @mbaldessari,

[2022-06-30 11:11] #5817 closed

[2022-06-30 11:28] camilamacedo86 commented on #5884
Please see that it was tracked in Kubebuilder: https://github.com/kubernetes-sigs/kubebuilder/issues/2782
Feel free to follow up.

[2022-06-30 11:28] #5884 closed

[2022-06-30 14:17] everettraven opened #5916 "Proxy support for `run bundle(-upgrade)` on a vanilla k8s cluster"
## Feature Request

#### Describe the problem you need a feature to resolve.
Currently there is not a way to specify that the catalog pod created by `run bundle(-upgrade)` should use a proxy in a vanilla k8s cluster.

#### Describe the solution you'd like.
Add a flag for referencing a `ConfigMap` that already exists on the cluster and in the namespace the catalog pod is being created in. This flag

[2022-07-01 01:00] #5500 closed

[2022-07-01 01:00] #5470 closed

[2022-07-01 14:07] SamYuan1990 opened #5922 "Question with prometheus monitor"
## Type of question

after init the project I found
[code]
and I am a little confused as the `prometheus` related settings in prometheus folder is for operator itself or it can be used for us to development ServiceMonitor for memcacheds if following guide as https://sdk.operatorframework.io/docs/building-operators/golang/tutorial/

## Question

#### What did you do?

following memcacheds guide set

[2022-07-01 14:25] jmrodri commented on #5922
@SamYuan1990 those sections are for exposing the Operator's metrics

[2022-07-01 15:02] SamYuan1990 commented on #5922
ok got it, thanks. @jmrodri

[2022-07-01 20:15] iyurev opened #5925 "Define best-practice patterns for bundles when developing with CI/CD"
### What needs fixing?
Hi, Is there any the  best practices  guide which describes common patterns of  CI/CD  for development and publishing K8S operator ?
For example in my case I don't completely understand, do I need to store ```bundle``` folder in the git repository with other project files or it'd be better to considering that one as a building artifacts ?

[2022-07-03 21:40] jthomperoo opened #5926 "Best way to handle updating dependent resource on name change"
## Type of question

Best practices

## Question

#### What did you do?

I have an operator that has the following setup:

- Provisions a CR.
- Provisions a Pod for the CR, the Pod's name is based on a field in the CR.
- Pod ownership is set to the CR.
- When some part of the CR is updated it will then update the Pod (delete and recreate).

This works fine in all use cases except when you modify t

[2022-07-04 08:41] vittico commented on #5642
Incomming requests are still pointing to the old default port 8888

When we change the proxy port to e.g 8889 the proxy is starting as expected with the new defined port, see:

[code]

So far so good, but now a few lines further we get a lot of issues with incomming requests, related to the default port which was 8888, see:

[code]
So incomming requests will still go to the previous default port 8

[2022-07-05 03:41] rudradevpal commented on #5739
/assign

[2022-07-05 11:24] asmacdo commented on #5739
Hi @rudradevpal thank you for picking this up!

For this one, you can start by updating the pipfile and then using pipenv to update the .lock file. (Let me know if you need some docs links to figure that out.)

From there, you can use `make image-build ansible-operator` to build the image.

https://github.com/operator-framework/operator-sdk/blob/9762aa24be11521165ebf7568b674146c6a7da32/Makefile#L8

[2022-07-05 12:14] rudradevpal commented on #5739
@asmacdo can you please share docs for

[2022-07-05 12:47] tkrishtop commented on #5452
/remove-lifecycle stale

[2022-07-05 15:01] fredcsfaria opened #5927 "Go tutorial fails creating the API"
## Bug Report

#### What did you do?

I am following the Go Operator Tutorial:

       1.  operator-sdk init --domain example.com --repo github.com/example/memcached-operator
        2. operator-sdk create api --group cache --version v1alpha1 --kind Memcached --resource --controller

When I run the command 2 above I receive the error:

          " FATA[0004] failed to create API: unable to run pos

[2022-07-05 15:34] everettraven commented on #5927
Hi @fredcsfaria, would you mind sharing the full output after running the commands so that we have a bit more context of the error message?

I ran through the same steps you provided with `v1.22.0` on platform `linux/amd64` and did not run into any errors so I am not sure what  the problem could be without a bit more context. Thanks!

[2022-07-05 16:06] fredcsfaria commented on #5927
Hello,

Sorry I missing other log messages.  Sure.  The full log is  below:

##  demo-operator ->operator-sdk init --domain example.com --repo github.com/example/memcached-operator
Writing kustomize manifests for you to edit...
Writing scaffold for you to edit...
Get controller runtime:
$ go get sigs.k8s.io/controller-runtime@v0.12.1
Update dependencies:
$ go mod tidy
Next: define a resource with:

[2022-07-06 07:59] jeloba opened #5929 "`run bundle`(`-upgrade`) fails for large CRDs"
## Bug Report

#### What did you do?

Run and upgrade a bundle using the Operator SDK CLI.

#### What did you expect to see?

Being able to run and upgrade any bundle, regardless of size.

#### What did you see instead? Under which circumstances?

Running the bundle worked, but upgrading failed and timed out.

#### Environment

**Operator type:**

/language go

**Kubernetes cluster type:**

K3S in

[2022-07-06 14:20] rudradevpal commented on #5739
@asmacdo can you please help on this

[2022-07-06 16:01] fredcsfaria commented on #5927
Hi @everettraven

Sure. The full log output:

**fredcsfaria@operator-demo $operator-sdk init --domain example.com --repo github.com/example/memcached-operator**
Writing kustomize manifests for you to edit...
Writing scaffold for you to edit...
Get controller runtime:
$ go get sigs.k8s.io/controller-runtime@v0.12.1
Update dependencies:
$ go mod tidy
Next: define a resource with:
$ operator-sdk crea

[2022-07-06 16:46] rashmigottipati opened #5932 "Registry Pod and job back pods don't have "securityContext.runAsNonRoot=true" config generated by run bundle"
#### What did you do?

1. operator-sdk run bundle quay.io/xxxx/blacklist-bundle:v4.10
2. oc get pods

#### What did you expect to see?

1. $ oc get pod quay-io-xxxx-blacklist-bundle-v4-10 -o yaml | grep "securityContext" -A1.
        f:securityContext: {}
        f:terminationGracePeriodSeconds: {}
--
  securityContext:
    runAsNonRoot: true
  serviceAccount: default

3.$ oc get pod 540b848f2d7df

[2022-07-06 16:59] jeloba commented on #5929
After more investigation I found another issue (race condition) that is the real cause of this. Will open a new issue for that.

Closing this as an Duplicate of #5880

[2022-07-06 17:00] #5929 closed

[2022-07-06 17:09] jeloba opened #5933 "`run bundle-upgrade` contains a race condition"
## Bug Report

#### What did you do?

Run bundle-upgrade using the Operator SDK CLI in a setup with lots of latencies.

#### What did you expect to see?

The bundle upgrade working as expected.

#### What did you see instead? Under which circumstances?

The bundle did not upgrade because the new CSV did not appear. The new catalog was empty.

An investigation revealed that the right catalog pods w

[2022-07-06 18:20] everettraven commented on #5927
Hi @fredcsfaria, thanks so much for sharing that!

It looks to me that your Go installation may be corrupted (something went wrong somewhere so that there are multiple definitions of some code internal to Go). I would recommend attempting to remove and reinstall Go and see if that resolves the issue.

I hope this helps!

[2022-07-06 21:18] fredcsfaria commented on #5927
Solved after reinstall Go. Thanks.

[2022-07-06 21:18] #5927 closed

[2022-07-06 21:50] #5910 closed

[2022-07-06 21:53] laxmikantbpandhare commented on #5910
@loganmc10 - This issue is fixed and we will release the Operator SDK 1.22.1 patch release in the next couple of days. Once it got released, please confirm the above-mentioned issue.

[2022-07-07 15:35] asmacdo commented on #5739
Let's unpin for now.

Use pipenv to install dependencies (from the pipfile) into a temp virtualenv, and it should update the lock file.
 https://pipenv.pypa.io/en/latest/

[2022-07-07 15:41] asmacdo commented on #5739
For building and testing, take a look at the makefile. `make image-build ansible-operator` (also ansible-operator-2.11-preview) will build the images.

Once the images are building, you should be ok to push a PR and let CI run.

[2022-07-07 22:08] camilamacedo86 opened #5934 "Samples - Change the memcached image used in the samples so that we do not need to use RunAsUser"
## What is the problem

I cannot run the samples on Openshift

## Why

Because we are setting RunAsUser(1001) therefore, it will not work on OCP

## Proposed Solution

Change the Memcached image: https://github.com/docker-library/memcached/pull/79 ( To have the USER ID define )

OR

maintain a short Dockerfile that's auto-built with just FROM memcached \n USER 11211:11211 (if it has to be baked in

[2022-07-07 22:08] camilamacedo86 commented on #5934
c/c @everettraven

[2022-07-07 22:20] camilamacedo86 opened #5935 "Provide an example over how to label ns when workloadsrequires scaling permissions"
### Context

**If your workloads require escalated permissions:** it is recommended that operator authors ensure the namespace containing their solution is [labeled](https://kubernetes.io/docs/tasks/configure-pod-container/enforce-standards-namespace-labels/). They can either update your operator to manage the namespace labels or include the namespace labelling as part of the manual install instru

[2022-07-08 01:02] #5531 closed

[2022-07-08 14:28] dprince commented on #5583
We recently hit this issue in github.com/openstack-k8s-operators. Looks like operator-sdk-1.22.0 resolves this (likely because it bumps controller-tools to 0.9). I think you could mark this issue as having been fixed in tag 1.22.

[2022-07-08 15:45] theishshah opened #5937 "Meta Issue for K8S 1.25 & golang 1.19 Bump"
## Meta Issue for k8s 1.25 bump & golang 1.19
In order to bump Operator SDK to support Kubernetes 1.25 there are a few dependencies we rely on making the bump first.

This issue is meant to help track all dependencies and the status of their bumps.

### Order of dependency bumps
**Step 1: upgrade controller-runtime, controller-tools, helm, and operator-framework/operator-manifest-tools(can be done

[2022-07-08 16:00] #5932 closed

[2022-07-08 20:30] #5926 closed

[2022-07-08 22:20] camilamacedo86 commented on #5548
Hi @varshaprasad96, @theishshah

What do you mean with a flag? What does this flag?

**Let's check the error:**

We have the scorecard test olm-status-descriptors-test which has the purpose to ensure that all specs defined in the status have a description. Then, we have here a scenario where the user/author does not define any spec for the status. In this way, he cannot add a description for somet

[2022-07-08 22:49] varshaprasad96 commented on #5548
@camilamacedo86 If I remember right, the discussion was that these scorecard tests are optional. If a user feels that their CRD need not be tested for status descriptors, they should not run this test at all. These are good practices, and if the user decides otherwise, its uptown them to skip the test. cc: @theishshah - pl feel free correct me if I'm wrong.
The introduction of flag is for the exac

[2022-07-08 23:06] camilamacedo86 commented on #5548
Hi @varshaprasad96,

All scorecard tests are configured via https://github.com/operator-framework/operator-sdk/blob/master/testdata/go/v3/memcached-operator/bundle/tests/scorecard/config.yaml#L58-L67

So, a user can remove the image from the config and that is how someone can enable/disable or indeed add custom scorecard tests. In this way, adding flags for this feature does not seems to make sens

[2022-07-09 02:25] jmrodri commented on #5937
So we need to add a space in between each of the `[]` so that they show up as boxes. And I assume the k8s versions should be 1.25 instead of 1.24 :)

[2022-07-09 02:52] jmrodri commented on #5925
I've seen this done in both ways. I've seen some that will store the bundle with the Operator's project. But I have also seen repos that are just a collection of bundles. Neither one is wrong nor necessarily correct, I think it depends what you want to do with your CI/CD.

[2022-07-09 02:57] jmrodri commented on #5832
I removed the release-blocker label because this turns out to be more of an RFE than a bug.

[2022-07-09 07:03] #5338 closed

[2022-07-09 08:30] camilamacedo86 commented on #5548
Hi @mshitrit,

Could you also please let us know why your CRD does not implement a status in this scenario for you have no descriptors?

[2022-07-09 08:55] camilamacedo86 commented on #5548
Hi @mshitrit, @phantomjinx,

Could you also please let us know why your CRD does not implement a status in this scenario for you have no descriptors? Are not your CRD case under the scenario:

[2022-07-09 09:16] phantomjinx commented on #5548
Hey @camilamacedo86

For camel-k's perspective, we have 6 CRDs of which 5 have populated status structs. The 6th (pointed to above) has a status struct but currently no properties. Maybe on time it will but since it does not change state, such properties have not been required.

Therefore,  in my opinion the error in the failing test is not correct as, by definition,  there cannot be any descripto

[2022-07-09 10:26] camilamacedo86 opened #5939 "Scorecard container is not config as restricted and would violate the Pod Security Standard"
## Bug Report

[code]

#### What did you do?

Run the scorecard tests for the sample `./testdata/go/v3/memcached-operator/bundle/`

#### What did you expect to see?

No alerts or WARNS regards the scorecard containers would be violating the Pod Security Standards

#### What did you see instead? Under which circumstances?

The containers violate the definition and cannot run as restricted

#### Env

[2022-07-09 11:15] camilamacedo86 commented on #5548
Hi @varshaprasad96 @theishshah,

I am proposing a solution for this one  https://github.com/operator-framework/operator-sdk/pull/5940
IMO it is a bug and we should be sorted it out as proposed in this PR.

[2022-07-09 23:35] camilamacedo86 commented on #5934
Done a PR to see if we can update the image: https://github.com/docker-library/memcached/pull/79

It was tested locally and the Pod worked successfully:

[2022-07-10 07:05] mshitrit commented on #5548
Hi @camilamacedo86 ,
For Poison Pill, I suspect that the status is not needed in the CRD.
I'm pretty sure it was added in order to avoid the error we got when omitting it (see [here](https://github.com/operator-framework/operator-sdk/issues/5548#issue-1138684531)).

[2022-07-10 10:42] iyurev commented on #5925
I've also noticed repositories which host only operator bundles,  and I suppose that I  could use the same  approach in my CI/CD pipeline.

In my job I'm developing and maintaining several k8s operators and ideally pipeline in each operator's project ( git repository) should can do following things:

1. Build controller manager image ( if it's GO operator the binary file building while for image b

[2022-07-10 21:44] alokhom commented on #5466
Hi,
I am facing the same issue on ubuntu 20.08 with go installed from source and

[code]
next ...
[code]

[2022-07-11 08:44] fgiloux commented on #5104
/remove-lifecycle stale

[2022-07-11 10:05] StepOnce7 commented on #5785
@camilamacedo86
hi，I had the same problem, using the latest version(kubebuilder V3.5.0), but not work when I did a make install.
I see the latest release notes currently support darwin-arm64, but it failed, am I missing any configuration? I didn't find it, I would like to ask, is there any way to solve it? thanks.

[2022-07-11 14:02] deepankarm opened #5942 "Is there an easy way to pass a custom `domain` during `create api`?"
## Type of question

Open question

## Question

How to change `domain` argument while doing `operator-sdk create api --group cache --version v1alpha1 --kind Memcached --resource --controller`?

#### What did you do?

I tried passing `--domain` during `create api` command, but it fails with ` unknown flag: --domain` error, as `domain` is not yet supported.

#### What did you expect to see?

I'd ex

[2022-07-11 17:26] varshaprasad96 commented on #5942
@deepankarm - domain is usually constant for a project and is set during initialization. It is intended to be changed per GVK. What is the reason behind changing it in `create api` ?

[2022-07-11 17:32] varshaprasad96 commented on #5937
Nit: We need not bump `helm.sh/helm/v3` to the latest k8s version. Their release cadence is way different (usually super slow). We just need to bump  the helm dependency in plugins to the latest `helm-v3` version which is built with a compatible k8s.

[2022-07-11 17:38] varshaprasad96 commented on #5909
@TachibanaGin could you share your CRD if possible? Does the particular custom resource contain spec like this? (https://github.com/operator-framework/operator-sdk/blob/e7c9b74e20ab2dd17ab246c8c9e867b8c9b5b079/testdata/go/v3/memcached-operator/bundle/manifests/cache.example.com_memcacheds.yaml#L8)

[2022-07-11 17:39] varshaprasad96 commented on #5882
@Kanaga13579 closing the issue here, since we haven't received a response yet. Please feel free to reopen if this doesn't answer your question.

[2022-07-11 17:39] #5882 closed

[2022-07-11 17:40] deepankarm commented on #5942
Ah, I see now that it can be set during `operator-sdk init`. Is there a way to change what was configured during `init` (maybe using `operator-sdk edit` ? Changing the same in `PROJECT` file doesn't seem to work as expected.

[2022-07-11 18:20] varshaprasad96 commented on #5942
`operator-sdk edit` is again intended to switch between multi-group and single group. It doesn't support changing domain afaik. Reference to edit command is same as here: https://book.kubebuilder.io/migration/multi-group.html#single-group-to-multi-group

[2022-07-11 18:34] rashmigottipati commented on #5933
@jeloba We modified some logic recently that changes the FBC root dir from "/configs" to `fmt.Sprintf("/%s-configs", CatalogSource.Name)`, and this is where all the extra stuff for the FBC is supposed to end up.

To be able to replicate this issue, could you please provide the bundle images that you ran `run bundle` and `run bundle-upgrade` with? And also any relevant logs might be helpful. Thanks

[2022-07-11 18:47] asmacdo commented on #5934
blocked until https://github.com/docker-library/memcached/pull/79 merges, but @camilamacedo86 will keep an eye on it.

[2022-07-11 18:49] asmacdo opened #5944 "Bump SDK to use k8s 1.24"

[2022-07-11 18:50] #5944 closed

[2022-07-11 19:11] varshaprasad96 commented on #5942
@deepankarm We had a discussion regarding this during the community meeting. Changing domains or having multiple domains in the project is something which neither Kubebuilder or Operator SDK supports for now. What we support now is:
1. One domain + One GVK
2. One domain + Multiple GVKs
3. One domain + One GK + multiple versions
4. Combination of any of these but with single domain.

If there is a

[2022-07-11 19:11] #5942 closed

[2022-07-12 06:38] jeloba commented on #5933
The bundles and the operator are proprietary. I can probably provide the bundle but not the operator for testing. Will that be of any help?

As far as I see it, the behavior is not dependent on the specific catalog or bundle images but on the latency of the underlying cluster in realizing the changes to the `ConfigMap`.

[2022-07-12 07:22] fgiloux commented on #5180
/remove-lifecycle stale

[2022-07-12 13:54] fredcsfaria opened #5945 "olm install - operatorhubio-catalog Readiness probe failed"
## Bug Report

#### What did you do?

Install the  olm using the  "operator-sdk olm install"

#### What did you expect to see?

The pods in olm namespace in "ready" state.

#### What did you see instead? Under which circumstances?

The operatorhubio-catalog is not ready:

 k get pods -n olm
<img width="440" alt="image" src="https://user-images.githubusercontent.com/52935549/178506536-3090106f-043c

[2022-07-12 14:25] #5880 closed

[2022-07-12 17:49] loganmc10 commented on #5910
I worked around this by adding the self-signed certificate for the local registry to the certificate store on the CI server, I assume it's good now, although I don't see anything in the 1.22.1 changelog/release notes that mentions this being fixed

[2022-07-13 07:14] jeloba opened #5946 "Don't use `opm:latest` for `bundle run` and `bundle run-upgrade`"
## Bug Report

#### What did you do?

Nothing stuff broke by itself, because the sdk is not using immutable image tags.

#### What did you expect to see?

`bundle run` working as it did for the last CI job.

#### What did you see instead? Under which circumstances?

The registry pod not starting up. The following error was in the logs:

#### Environment

**Operator type:**

/language go

**Kuberne

[2022-07-13 08:41] bartoszmajsak commented on #5946
I can only confirm I'm seeing the same issue

[2022-07-13 09:53] fedepaol commented on #5946
Same for when running `opm index add`, adding the same flag worked.

[2022-07-13 12:00] jeloba commented on #5946
The version should also be pinned in `catalog.Dockerfile`.

[2022-07-14 09:58] kavyamani596 opened #5947 "r.Status().Update(ctx,object) is taking time"
## Question

#### What did you do?

I have a custom resource whose status I update twice, I have made sure these updates do not cause another reconcile by -> WithEventFilter(ignoreStatusUpdate()) in Setup manager.

        connected := r.checkABCConnection(abcR, abcObj, ctx)
	if connected {
		setupLog.Info("ABC Present, moving to next step")
		r.getUpdatedABCObject(ctx, req)  // I'm getting the up

[2022-07-14 13:07] #5522 closed

[2022-07-18 01:11] #5256 closed

[2022-07-18 01:11] #5507 closed

[2022-07-18 14:30] #5744 closed

[2022-07-18 18:02] varshaprasad96 commented on #5945
@fredcsfaria we would need more context on the cluster which is being used. Usually this error occurs when there are not enough hosts available to schedule the pods on, or maybe when there is a networking issue with the node where the particular pod is being scheduled. Are there any logs from the pods which is being started but not healthy? Or any errors from the API server which can be used to di

[2022-07-18 18:31] camilamacedo86 commented on #5946
Hi @fedepaol,

The error faced when you use `opm index add` is not related to this issue specifically. Note that the latest version `quay.io/operator-framework/opm:latest` is using the new format so you will probably not be able to run this command `opm index add`. You can know more about the new format and why we have been moving in this direction by looking at: https://github.com/redhat-openshif

[2022-07-18 20:31] joelanford commented on #5946
It should be possible to use `opm:latest` with the imperative/sqlite `opm index|registry add` flows. The `opm:latest` image is the full `opm` binary at the highest released semver version of the operator-registry repo. So it contains all of the deprecated sqlite functionality still.

[2022-07-19 05:18] kavyamani596 commented on #5947
Hi @varshaprasad96 ,
This is not impacting the reconcile func.
The update takes place after throwing that error.. when I do "kubectl get abc", I see the updated status there
But the problem is... in the code, the updated Object is not fetched when I encounter that Error, and this is causing problem in the next step, as it is dependent on the previous update.

And considering the resource version t

[2022-07-19 07:13] fedepaol commented on #5946
I'll check about the new format, thanks for the heads up @camilamacedo86 !
Re: the error I was getting with opm index add, I did not get any errors when creating the index, but I was getting the same`standard_init_linux.go:228: exec user process caused: exec format error` error when deploying, which was fixed by specifying the index image. Anyhow, things seems to be settled now, and I'll move the

[2022-07-19 11:10] dacamposol opened #5949 "Retrieval of Owned deleted resources fails as the resource is not found"
## Bug Report

#### What did you do?

I have defined my setup function as:

[code]

The resource `MyChildResource` gets created as part of the reconciliation cycle of `MyResource`, so I'd like to watch it so in case it gets deleted, the reconciliation cycle of `MyResource` runs again and recreates it.

#### What did you expect to see?

The `Reconcile` method of `MyCustomReconciler` to be executed

[2022-07-19 11:36] camilamacedo86 commented on #5949
Hi @dacamposol,

All resources which are "children" of your CR and created in its reconciliation should have the owner ref which will be added when you use the method `ctrl.SetControllerReference` [example](https://github.com/operator-framework/operator-sdk/blob/master/testdata/go/v3/memcached-operator/controllers/memcached_controller.go#L200-L202)

Therefore, you can watch ( and re-trigger the re

[2022-07-19 11:47] camilamacedo86 commented on #5947
Hi @kavyamani596,

When we use the client in the controller we are getting the state of the resource on the cluster at that moment. After that, if you update the resource OR the ks8 api ( see that has fields that are updated automatically by the API ) or another process/users to do so the state of the resource on the cluster is no longer the same.

I mean that, if we try to update a resource and t

[2022-07-19 16:14] dacamposol commented on #5949
Hello @camilamacedo86,

Thank you for your quick response. I didn't find anything on the documentation regarding that case, so I opened a PR so this is clearly stated in the tutorial (feel free to reject it if you think that these is supposed to be common knowledge).

[2022-07-19 16:15] #5949 closed

[2022-07-20 02:29] kavyamani596 commented on #5947
hi @camilamacedo86

Yes I have done that step.

I think you missed to notice that..

        setupLog.Info("ABC Present, moving to next step")
	r.getUpdatedABCObject(ctx, req)  **// I'm getting the updated object before going forward to next step where I'll
                                                                       update the status object again**
	//get other info and patch status
	r.

[2022-07-20 06:35] pk-218 opened #5951 "Unable to install/uninstall OLM"
## Bug Report

#### What did you do?
**Install OLM**
```operator-sdk olm install```

_Output_
[code]

Tried installing OLM again using `operator-sdk olm install`

_Output_
[code]

Hence, tried to uninstall OLM
`operator-sdk olm uninstall`

_Output_
[code]

Tried other CLI options to see if installation somehow works
`operator-sdk olm status`

_Output_
[code]

Tried uninstalling with flags
`operato

[2022-07-20 06:50] pk-218 commented on #5951
For now, I have installed OLM for now after referring to OperatorHub's [documentation](https://operatorhub.io/how-to-install-an-operator)
[code]

However, I would be glad have the ease of use of `operator-sdk` for OLM commands than `kubectl`

[2022-07-20 18:22] rhyas commented on #5910
FWIW, this bug does not appear to be fixed.

[code]

[2022-07-20 18:28] asmacdo commented on #5524
This would be a great first issue! If anyone wants to pick this up and ask questions, @theishshah will explain it all!

[2022-07-20 18:30] jmrodri commented on #5888
Once issue https://github.com/operator-framework/api/issues/248 is merged, we should bump to that version in operator-sdk to complete this ticket.

[2022-07-20 18:31] asmacdo commented on #5743
Thanks!

[2022-07-20 18:33] asmacdo commented on #5875
Still need to bump kubebuilder it seems, we updated to 3.5.0, which i assume doesnt have this change @camilamacedo86 ?

[2022-07-20 20:43] rhyas commented on #5910
Ok, this appears to just have not completely made it into 1.22.1 as the thread suggests. Building the project off the main branch results in a build that does accept and use the flags as it should, so I suspect it'll be in a future release. Just a suggestion, but you should tag this issue with the release that it finally makes it into. It will save some time if people come across this.

[2022-07-20 21:27] laxmikantbpandhare commented on #5910
@rhyas - Yes, these changes are not get added in the 1.22.1 patch release. We are planning to do 1.23.0 in the next couple of days. We will make sure that these changes are part of the upcoming release.

[2022-07-21 09:31] camilamacedo86 commented on #5524
To version your Operator itself the recommendation would be follow up seemver: https://semver.org/

Therefore, you will see that when you create a project you will build it and create an image, the image tag should be the Operator version. In this way, you see the Makefile: https://github.com/operator-framework/operator-sdk/blob/87cdc50247832a53e26b713a2ecab6e2215bdb52/testdata/go/v3/memcached-ope

[2022-07-21 09:34] camilamacedo86 commented on #5875
@asmacdo you can check that the change was made in the PR linked: https://github.com/kubernetes-sigs/kubebuilder/pull/2774

Therefore, you can see that it is only in master and that we do have not this update here, see our testdata samples:

https://github.com/operator-framework/operator-sdk/blob/87cdc50247832a53e26b713a2ecab6e2215bdb52/testdata/go/v3/memcached-operator/Makefile#L169-L173

[2022-07-21 09:43] camilamacedo86 commented on #5947
Hi @kavyamani596,

You say that you are `I'm getting the updated object before going forward to next step where I'l update the status object again` and still facing  `"Error: Updating Other Info Status"`.

So, did you troubleshoot it to know when you fetch the resource you have the changes ?
You might be trying to retrieve the data before it actually is performed on the cluster side. It is not bec

[2022-07-21 09:47] camilamacedo86 commented on #5524
Hi @adyanth,

What are the manifests which not get updated when you follow the steps described in https://github.com/operator-framework/operator-sdk/issues/5524#issuecomment-1191262547? Sorry, I am not sure if I can follow up on your motivation. Could you please provide some examples?

[2022-07-21 09:53] adyanth commented on #5524
This command is what I believe updates the manifests:
https://github.com/operator-framework/operator-sdk/blob/87cdc50247832a53e26b713a2ecab6e2215bdb52/testdata/go/v3/memcached-operator/Makefile#L187

This is only called during `make bundle`. What I propose is doing that for other make targets (like docker-build, etc) as well, since there is no need to use `make bundle` when not publishing to OLM.

[2022-07-21 12:08] kavyamani596 commented on #5947
Hello @camilamacedo86 ,

a) So, did you troubleshoot it to know when you fetch the resource you have the changes ?
You might be trying to retrieve the data before it actually is performed on the cluster side. It is not because you call the client.update that is done

### Yes, I did add a print log to check the object before proceeding, and there I was able to catch that this update issue is happen

[2022-07-21 14:42] jmrodri commented on #5422
@camilamacedo86 who are the "consumers" of this?

[2022-07-21 14:49] camilamacedo86 commented on #5422
Hi @jmrodri,

These are the users/places which "consume" the validator.
Our concern here is that many places still using this validator so far.
We might need to wait a long period to be able to remove the alpha check without impact nobody.

Therefore, I think we could add this one to the 2.x milestone.

[2022-07-21 18:22] laxmikantbpandhare commented on #5910
We released SDK v1.22.2, changes for `skip-tls-verify` and `use-http` is added as part of this release.

[2022-07-22 15:39] adyanth commented on #5584
When a Custom Resource does not have either Spec or Status sections, `operator-sdk generate kustomize manifests` fails with the same error. What is the fix for this?

[2022-07-22 20:39] laxmikantbpandhare commented on #5937
I created an issue on controller-tools to track the v1.25.0 bump Issue - https://github.com/kubernetes-sigs/controller-tools/issues/707

As of now, we are planning to bump it to v1.25.0-alpha.3 - I raised PR https://github.com/kubernetes-sigs/controller-tools/pull/708

[2022-07-23 07:16] #5321 closed

[2022-07-25 09:49] vittico commented on #5642
I really think we should reopen this ticket as issues are still present

[2022-07-25 09:55] vittico opened #5956 "Ansible operator-sdk: allow customization of proxy-server port - Issues persist after #5642"
Incomming requests are still pointing to the old default port 8888

When we change the proxy port to e.g 8889 the proxy is starting as expected with the new defined port, see:

[code]

So far so good, but now a few lines further we get a lot of issues with incomming requests, related to the default port which was 8888, see:

[code]
So incomming requests will still go to the previous default port 8

[2022-07-25 15:51] fbladilo opened #5957 "Add ability to prune unreferenced resources in ansible operators"
## Feature Request

Add the capability to prune non-referenced resources to ansible operator , the need is essentially the same as addressed by :

[Resource Pruning](https://sdk.operatorframework.io/docs/best-practices/resource-pruning/) for Go operators.

#### Describe the problem you need a feature to resolve.

Allow ansible operator users to remove un-referenced resources

#### Reproduce

1. Us

[2022-07-25 18:19] tlwu2013 commented on #5642
New issue created in https://github.com/operator-framework/operator-sdk/issues/5956

[2022-07-25 20:52] droopy4096 commented on #5491
/remove-lifecycle stale

[2022-07-26 16:27] venkataramanam commented on #5723
I had observed a FIPS issue with python `openshift` package version 0.13.1
https://github.com/openshift/openshift-restclient-python/issues/427#issuecomment-1103702707

Looks like Ansible operator now uses `openshift` version 0.13.1
https://github.com/operator-framework/operator-sdk/commit/9bb14cc42e1bf1e3d769961f7ecb8b4c67012523
https://github.com/operator-framework/operator-sdk/blob/master/images

[2022-07-27 07:04] camilamacedo86 commented on #5738
@asmacdo,

When we init a project we can inform the domain that will be used when/if we create APIs for the project,
This domain is tracked on the PROJECT file, see: https://github.com/operator-framework/operator-sdk/blob/master/testdata/go/v3/memcached-operator/PROJECT#L1

Therefore, when we call the command to create an API ( create api [OPTIONS] ) we no longer need to inform the domain ( we ind

[2022-07-28 03:08] algogrit commented on #5785
This should be mentioned in the kubebuilder book as well.

[2022-07-28 20:19] camilamacedo86 commented on #5785
Hi @algogrit,

I think we could create an FAQ section for the SDK side. But we might before do the following:

Note that we also need to release kubebuilder (which will happen very soon), we have the go/v4-alpha plugin that provides the same result of `--plugins=kustomize/v2-alpha,base.go.kubebuilder.io/v3`) to use Kustomize v4 and support Apple Silicom.

Then, we will bump Kubebuilder into the SD

[2022-07-29 01:22] #5549 closed

[2022-07-29 04:12] algogrit commented on #5785
By the way, kustomize binaries for amd64 work well even on Apple silicon cause of Rosetta Stone 2.

In the interim, just changing the install script to use amd64 binaries even on darwin/arm64 should work.

Sent from a pocket screen

[2022-07-29 09:39] camilamacedo86 opened #5958 "Begin to provide plugin phase 2 in SDK repo"
## Feature Request

#### Describe the problem you need a feature to resolve.

The implementation was introduced in Kubebuilder
- It still missing the samples, docs, and e2e tests on the Kubebuilder side, see: https://github.com/kubernetes-sigs/kubebuilder/issues/2600#issuecomment-1199073677

However, we can also begin to provide the option on the SDK project

#### Describe the solution you'd like.

[2022-07-29 09:39] camilamacedo86 commented on #5958
c/c @jmrodri @everettraven @rashmigottipati

[2022-07-29 10:24] camilamacedo86 opened #5959 "ignore"
Ignore

[2022-07-29 11:04] camilamacedo86 commented on #5785
Hi @algogrit,

I create an meta issue to address all scenarios to move forward: https://github.com/operator-framework/operator-sdk/issues/5959#issue-1322047595

Thank you for letting us know. However, we also need to move forward with the projects and begin to use kustomize v4/ v3 is deprecated for more than a year and has no longer keeping maintained. That is the reason why they do not want to pr

[2022-07-29 11:12] camilamacedo86 commented on #5558
- If you fail because you were using go 1.18 and it was not supported. Its supported was added to the latest release
- If you fail because you are using homebrew and it installs go 1.18 that is fixed as well
- If you fail because you are trying to use SDK in Apple Sillicon then please check : https://github.com/operator-framework/operator-sdk/issues/5959

Therefore, I think we can close this one.

[2022-07-29 11:12] #5558 closed

[2022-07-29 15:54] camilamacedo86 commented on #5785
Hi @algogrit,

I create a meta issue to address all scenarios to move forward: https://github.com/operator-framework/operator-sdk/issues/5959#issue-1322047595

💡 **One thing that we could do IMO is create a FAQ section where we would describe how can you build kustomize v3 binary for work with Apple Silicon and change the Makefile to do it so.** Could you help us out with that? WDYT? Could you ope

[2022-07-29 15:54] camilamacedo86 commented on #5785
Hi @algogrit,

I create a meta issue to address all scenarios to move forward: https://github.com/operator-framework/operator-sdk/issues/5959#issue-1322047595

💡 **One thing that we could do IMO is create a FAQ section where we would describe how can you build kustomize v3 binary for work with Apple Silicon and change the Makefile to do it so.** Could you help us out with that? WDYT? Could you ope

[2022-07-29 15:54] camilamacedo86 commented on #5785
Hi @algogrit,

💡 **One thing that we could do IMO is create a FAQ section where we would describe how can you build kustomize v3 binary for work with Apple Silicon and change the Makefile to do it so.** Could you help us out with that? WDYT? Could you open the issue for the FAQ only with the script and help us by working on this one? However, I do not think that SDK/Kubebuilder should take the res

[2022-07-29 15:58] #5959 closed

[2022-07-29 19:33] laxmikantbpandhare commented on #5937
Updated `controller-tools` to `v1.25.0-alpha.3`

[2022-07-29 19:38] laxmikantbpandhare commented on #5937
I created an issue on controller-tools to track the v1.25 bump issue - https://github.com/kubernetes-sigs/controller-tools/issues/711

[2022-07-30 09:06] camilamacedo86 commented on #5898
I could analyse this one and find why the `make bundle` is not working with kustomize v4x:

By running `kustomize build config/default` with kustomize version 3.8.1 and 4.5.5 we can check that the containers on the Deployment are sorted in another order. Then, note that to remove the cert volumes when we build the CSV because it does not work with OLM we do the patch: https://github.com/operator-f

[2022-08-01 16:40] asmacdo commented on #5957
@fbladilo Have you tried using finalizers? If so, can you elaborate on why they are insufficient?

[2022-08-01 17:20] asmacdo commented on #5956
Looks like we are using the proxyport for starting the proxy, but not for connecting to it...

https://github.com/operator-framework/operator-sdk/blob/87cdc50247832a53e26b713a2ecab6e2215bdb52/internal/ansible/controller/reconcile.go#L147

[2022-08-01 18:13] varshaprasad96 commented on #5958
This is ready to be implemented, but is not a priority.

[2022-08-01 18:16] varshaprasad96 commented on #5958
PR to add samples in KB for phase 2: https://github.com/kubernetes-sigs/kubebuilder/pull/2810

[2022-08-02 10:52] #5548 closed

[2022-08-02 10:56] camilamacedo86 commented on #5686
/remove-lifecycle stale
/lifecycle frozen

[2022-08-02 16:55] asergienk opened #5964 "Validate the scorecard config file"
## Feature Request

#### Describe the problem you need a feature to resolve.

CVP team would want the scorecard config.yaml file to be validated with `operator-sdk bundle validate` command.
The only two folders that are getting validated are _metadata_ and _manifests_, so, `tests/scorecard/config.yaml` is not validated.

Example:
`ocs-osd-deployer-operator-bundle-container-2.0.4-1` has an invalid

[2022-08-02 16:56] asergienk commented on #5964
c/c camilamacedo86

[2022-08-02 17:15] camilamacedo86 commented on #5964
Hi @asergienk,

I think a possible check here would ensure that the config is parsable such as we do with the CSV spec. But would still not be possible to ensure that the info added on it is valid.

I think we could make the Scorecard command ( which was used to run this config ) first check if the config file is parsable if not then raise a more friendly error message that helps us users know tha

[2022-08-05 18:28] erinc1915 opened #5974 "Managed field changes cause unnecessary reconciliation loops"
## Bug Report
We are observing repeated reconciliation loops due to changes to managed fields in dependent resources.
For example, a deployment whose status changes from `readyReplicas: 1` to `unavailableReplicas: 1` triggers reconciliation. I know that changes to the `status` field are ignored, but it seems that the corresponding changes to the managed fields are not.

In my example, the managed

[2022-08-08 18:14] theishshah commented on #5964
This would be a great first issue for contributors interested in Scorecard, please reach out to me for any guidance I can help provide :D

[2022-08-08 18:37] asmacdo commented on #4172
https://github.com/operator-framework/operator-sdk/blob/master/hack/check-links.sh#L15-L18

[2022-08-08 19:52] aemperador commented on #5951
I like the idea of a force uninstall script. @varshaprasad96 do you have a preference on how this is fixed? I would like to work on a fix as a contribution

[2022-08-08 21:58] fbladilo commented on #5957
@asmacdo The resources we are trying to delete are actually k8s resources in the watched operator namespace, my understanding of finalizers is to provide a way to perform more complex tasks outside k8s (cleaning up 3rd party APIs , etc). That is the reason I pointed to example of resource pruning helpers in Go documentation in the issue, because the use case falls along those lines.

It is plausib

[2022-08-09 00:20] varshaprasad96 commented on #5951
@aemperador We already have `olm install/uninstall/status`  command which actually download the exact same manifests which you mentioned here (https://github.com/operator-framework/operator-sdk/issues/5951#issuecomment-1189896347). If those commands are not working, especially in a vanilla Kubernetes cluster, then there are high chances that it is a bug with the SDK tool somewhere and we would hav

[2022-08-09 00:40] murphd40 commented on #5945
I'm also seeing this behaviour:

[code]

[code]

[code]

---

I ran the following experiment, manually running the entrypoint of the container

[code]

It took around **50 seconds** for the `serving registry` log message to appear. I believe that is the source of the issue I am experiencing - the liveness/readiness probes are failing because it takes the pod too long to initialize and the pod gets

[2022-08-09 06:39] camilamacedo86 opened #5979 "Doc into FAQ: Further explanation about domain and apis"
## Feature Request

#### Describe the problem you need a feature to resolve.

**How and where is the domain informed used?**

Currently, the tool does not support work with multi-domains to create the APIs by default. [For more info check the issue kubebuilder/issues/2394 raised to add this support](https://github.com/kubernetes-sigs/kubebuilder/issues/2394) Therefore, you will check below that wh

[2022-08-09 08:24] anupchandak commented on #4909
I am on `ansible-operator:v1.22.0` but still see this issue. When I delete a CR during its reconciliation loop, I do not see the finalizer invoked.

[2022-08-09 11:31] jotak opened #5980 "bundle-upgrade operation stuck and never timeouts"
## Bug Report

Hi,

When doing a `run bundle-upgrade` operation to test an operator upgrade, the operation is stuck after logging `Found existing catalog source with name` etc.

I reproduce consistently, every time I try.

Also, it seems to never timeout (I've been waiting for ~10min so far), apparently not honouring the [timeout](https://github.com/operator-framework/operator-sdk/blob/2885f88d14c

[2022-08-09 11:34] jotak commented on #5980
PS: I saw this issue that could be similar: https://github.com/operator-framework/operator-sdk/issues/5773 , but since symptoms seem different, I opened a new one

[2022-08-09 11:55] jotak commented on #5980
Found a workaround, inspired by https://github.com/operator-framework/operator-sdk/issues/5946
Using `--index-image` pointing to my operator-sdk cli version worked:

[code]

[2022-08-09 15:02] atimgraves opened #5981 "operator-sdk olm install should be able to specify context"
## Feature Request

#### Describe the problem you need a feature to resolve.

operator-sdk olm install (and other commands) uses the default context, there doesn't seem to be any clear way to switch to a different context (when for example installing in multiple clusters)

The only solution I have found is to copy the kube config file, change the default context in the copy then run the operator-s

[2022-08-10 16:16] chinochao opened #5982 "Controller Image not pulled"
I have a k3s cluster and when I follow the Ansible Operator Tutorial I get errors when the controller needs to start.

It seems the image is not found. Can someone point in the right direction to resolve this issue?

[code]

[2022-08-10 16:22] camilamacedo86 commented on #5982
How do you deploy it?
It seems that you did not build and push the image `make build push IMG=myresitry/image`.
Then, it seems that you are not using the `make deploy IMG=` command either.

You need to build and publish the image so that it can be used.
By looking at the logs  `"controller:latest"` it means that you did not build the image ( that is like a placeholder that will be replace by the d

[2022-08-10 16:35] chinochao commented on #5982
Oh yes. I missed that step. I did not see it was failing as I did not updated the image name.

[2022-08-10 16:35] #5982 closed

[2022-08-10 19:02] murphd40 commented on #5945
Looks like my issue will be fixed in the next release: This [PR](https://github.com/operator-framework/operator-lifecycle-manager/pull/2791) tackles the issue 👍 Thanks

[2022-08-11 10:33] ric79 opened #5984 "ansible runner: ERROR! the role 'hello' was not found ...."
## Type of question
General operator-related help

## Question

#### What did you do?
I'm trying to run the helloworld ansible operator. When I run `make run` I get an error 'ERROR! the role 'hello' was not found in ...'

#### What did you expect to see?
The Operator should exec role/hello/tasks/main.yaml

#### What did you see instead? Under which circumstances?

[code]

#### Environment

**Opera

[2022-08-11 13:49] maratsal opened #5987 "after init of the project Makefile doesn't have proper bundle target"
## Bug Report

#### What did you do?

after initializing helm based operator project by command
[code]
Makefile doesn't have proper bundle target with right option.
current code - https://github.com/operator-framework/operator-sdk/blob/025df62736f9e98ad22af1384f1d67d96cbcb7ee/internal/plugins/manifests/v2/init.go#L185

Which should be:
[code]
Like on the line https://github.com/operator-framework/

[2022-08-11 14:30] maratsal opened #5988 "if use long project name autogenerated resource names might be longer than 63 characters"
## Bug Report

#### What did you do?
generate project with command:
[code]
This will initiate project and as an example one of the service name would be longer than 63 characters allowed by k8s and this will  cause problem with deployment of operator. Please see below for the error message from OLM (got it from subscription details):
[code]

#### What did you expect to see?

I would expect warning

[2022-08-11 14:45] camilamacedo86 commented on #5988
That is not a bug it is a validation. The name is used to create the namespace. Therefore, k8s has a limit of size which needs to be respected.

[2022-08-11 15:04] maratsal commented on #5988
in this particular case the problem no with the namespace name, but service name for the metrics service my-random-long-project-name-1-controller-manager-metrics-service.

I felt that operator sdk should not be generating manifests that are not deployable on k8s, i.e. either provide warning or fail init command, or have some prerequisites on project name length.

[2022-08-11 20:56] ivandov opened #5989 "Ansible operators usage of WATCH_NAMESPACE env variable may lead to unnecessary privilege escalations"
## Bug Report

#### What did you do?
This is a follow-on and related to #2461.

I deployed an Ansible Operator with no `WATCH_NAMESPACE` environment variable defined. This operator needs RBACs to work with some resources in the current namespace as well as resources in other namespaces.

Hypothetically, to focus on the potential security exposure or unnecessary privilege escalation here... let's s

[2022-08-12 09:25] ric79 opened #5990 "make docker-build with proxy support"
## Bug Report

#### What did you do?

`make docker-build` does not run properly behind a corporate proxy. I need to pass http_proxy and https_proxy in order to execute `RUN ansible-galaxy... `

#### What did you expect to see?

[code]

**Operator type:**

**Kubernetes cluster type:**
minikube

[code]

[2022-08-15 00:00] #5602 closed

[2022-08-15 10:07] camilamacedo86 opened #5991 "Replace tutorial sample to use as base deploy-image/v1-alpha as scaffold"
## Feature Request

#### Describe the problem you need a feature to resolve.

We have the Golang tutorial and sample which is done by we injecting the code via : https://github.com/operator-framework/operator-sdk/tree/master/hack/generate/samples/internal/go/memcached-with-webhooks

SDK could simplify and improve its maintainability by using the  [deploy.image/v1-alpha](https://master.book.kubebui

[2022-08-15 16:17] asmacdo commented on #5984
Ill try to reproduce this, might be a change with Ansible 2.13

[2022-08-15 16:27] asmacdo commented on #5767
@becalledbyJoyce could you try upgrading to operator-sdk 1.22? This uses go 1.18. If this is still an issue please reopen.

[2022-08-15 16:27] #5767 closed

[2022-08-15 18:13] asmacdo commented on #5981
Seems reasonable, @atimgraves would you be interested in adding this functionality?

[2022-08-15 18:14] asmacdo commented on #5987
@jberkhahn will try to reproduce

[2022-08-15 18:33] asmacdo commented on #5990
This could be reasonable, but we werent sure how widely this is needed.

For now, I suggest modifying your Makefile to fit your needs, and if others need to pass custom `docker build` build-args as well please feel free to reopen. Or if you think this would be useful in the FAQ please feel free to open a PR.

[2022-08-15 18:33] #5990 closed

[2022-08-15 21:38] camilamacedo86 commented on #5988
Hi @maratsal,

I understand the problem. We check the name of the project here: https://github.com/kubernetes-sigs/kubebuilder/blob/master/pkg/plugins/common/kustomize/v1/init.go#L95-L97 (SDK uses Kubebuilder as lib)

So, we need to figure out:

- a) Do we need to reduce the size allowed for the project name? If so the solution is in the Kubebuilder
OR
- b) No matter the size it will never fail?
-

[2022-08-15 21:44] camilamacedo86 commented on #5934
I am unable to get the PR https://github.com/docker-library/memcached/pull/79 merged.

Therefore, the other solution is to maintain a short Dockerfile that's auto-built with just FROM memcached \n USER 11211:11211 (if it has to be baked into the image itself)

Remove the assignment to allow others to work on this one.
Also, I improved the description to make it more clear.

[2022-08-15 21:46] camilamacedo86 commented on #5875
Sorted out.

[2022-08-15 21:46] #5875 closed

[2022-08-15 22:06] camilamacedo86 commented on #5989
Hi @ivandov,

If I properly understand what you are looking for is;

- Only have access to the secrets in the namespace where the Operator is running
- However, have access to the CR and all other resources in the other namespaces.

All projects are done using Golang and controller runtime (Indeed Ansible/Helm operators are acctually Golang ones). The options to configure the manager (see https://

[2022-08-16 02:54] NikhilSharmaWe commented on #5991
I would like to work on it.
/assign

[2022-08-16 08:17] camilamacedo86 commented on #5991
To do this one we will mainly need to:

**(To update the sample)**

- call the deploy image plugin [here](https://github.com/operator-framework/operator-sdk/blob/master/hack/generate/samples/internal/go/memcached-with-webhooks/memcached_with_webhooks.go#L68-L84)
- pass the Memcached image [here](https://github.com/operator-framework/operator-sdk/blob/master/hack/generate/samples/internal/go/memcac

[2022-08-16 12:25] maratsal commented on #5988
hi @camilamacedo86,

Let me post commands here to reproduce the issue. You can run following and you will get service name that is longer than 63 characters:
[code]

So basically this manifest's service name gets longer than 63 characters: `bundle/manifests/my-random-long-project-name-nginx-controller-manager-metrics-service_v1_service.yaml`

I think operator-sdk should be catching the problem eit

[2022-08-16 13:23] everettraven commented on #5989
Hi @ivandov,

My understanding of the core problem here is the inability to "scope" down operator permissions to only have the permissions they need to operate. In your particular case that would be that your operator should only have the RBAC permissions to read secrets from namespace X, while having the permissions to create the `Foo` CR in all namespaces.

This is a problem that we have identif

[2022-08-16 13:38] maratsal commented on #5987
I have tried to modify my Makefile and include `$(BUNDLE_GEN_FLAGS)` option to `bundle`, but it didn't inject digests for me as it seems it is working only with `go` based operators and not with `helm` operators.

Not sure if there is an easy fix to make it work with `helm` based operators.

[2022-08-16 14:38] ivandov commented on #5989
Thanks @camilamacedo86 and @everettraven.

So my team has had experience building both Golang and Ansible operators, as well as forking the `operator-sdk` and making our own extensions to the ansible operator logic for specific scenarios we wanted handled differently.

This issue was written up - not because of the need for handling this form of logic in the ansible layer - but more about the secu

[2022-08-16 14:40] camilamacedo86 commented on #5989
Hi @ivandov,

Currently, the controller runtime itself does not allow us to inform that one kind or that a list of kinds should be allowed only from a specific namespace as you are looking for. Therefore, I think we should close this one based on the above explanations.

[2022-08-16 15:05] ivandov commented on #5989
A limitation in `controller-runtime` should not be a valid reason to close this issue - as this is a valid concern regardless of library limitations.

[2022-08-16 15:09] rashmigottipati commented on #5980
@jotak here's the temporary workaround for this issue before we pin opm's version: https://github.com/operator-framework/operator-registry/issues/984#issuecomment-1175091401

Feel free to reopen this issue if you're still seeing issues with `run bundle-upgrade`.

[2022-08-16 16:36] jmrodri commented on #5743
Took this ticket over from Ish.

[2022-08-16 16:47] atimgraves commented on #5981
Hi There
I don't have any experience with coding in go (my background is Java). I'll
have a look, but don't think I have the skills
Thanks, Tim

On Mon, 15 Aug 2022 at 19:13, Austin Macdonald ***@***.***>
wrote:

[2022-08-16 17:36] everettraven commented on #5989
I agree with @ivandov that the current limitation in controller-runtime shouldn't warrant closing this issue, but I think this issue would rather be better suited to be added to the Backlog due to the fact that there is work being done in this problem space.

@ivandov if you are interested in reading more about the work and potential solutions we are exploring I would recommend taking a look at th

[2022-08-16 18:57] jkapponms opened #5993 "OLM install fails, CRD file not found"
## Bug Report

**What did you do?**
Ran `operator-sdk olm install` to install OLM into a fresh [kind](https://kind.sigs.k8s.io/) cluster.

**What did you expect to see?**
OLM successfully installed into my cluster.

**What did you see instead? Under which circumstances?**
[code]

Pulled the url `https://github.com/operator-framework/operator-lifecycle-manager/releases/latest/download/crds.yaml` an

[2022-08-17 14:05] asmacdo commented on #5956
https://xkcd.com/2652/

[2022-08-18 06:00] Chever-John commented on #5993
Now, I think it has them.

https://github.com/operator-framework/operator-lifecycle-manager/issues/2841

[2022-08-18 06:36] akashjain971 commented on #3086
@feicun how about creating two separate manager objects with different sync-period? There is no need to use the same manager object for both.

[2022-08-18 09:20] Icesource commented on #1315
It works for me. Thank you!

[2022-08-18 14:27] akashjain971 opened #5994 "SyncPeriod does not work if controller is created WithEventFilter(predicate.GenerationChangedPredicate{})"
## Bug Report

#### What did you do?
Create a manager with SyncPeriod.
[code]

and setup the reconciler with this manager
[code]

and created an object of type MyKind.

#### What did you expect to see?
The reconciler should run every 10 seconds.

#### What did you see instead? Under which circumstances?
The reconciler does not run periodically.
But, if  `WithEventFilter(predicate.GenerationChanged

[2022-08-18 17:37] eguzki opened #5995 "bundle validate does not fail on invalid minKubeVersion"
## Feature Request

#### Describe the problem you need a feature to resolve.

`operator-sdk bundle validate` passes all tests when CSV's `spec.minKubeVersion` has invalid version like `1.21`

`spec.minKubeVersion` with value `1.21` is invalid because OLM refuses to deploy the CSV with the following **confusing** error `CSV version parsing error`:

[code]

When the field `spec.minKubeVersion` is up

[2022-08-19 08:15] apodhrad commented on #5743
I have created also a Jira issue for a better tracking in some Jira dashboards
https://issues.redhat.com/browse/OSDK-2479

[2022-08-19 09:57] apodhrad commented on #5964
Hi @theishshah do you already use some kind of yaml validation in operator-sdk?
I was thinking of creating some schema which could be used the scorecard tool itself as well as separately with other languages/systems.

[2022-08-22 17:49] varshaprasad96 commented on #5995
This seems to be an additional validation mentioning that `spec.minKubeVersion` should follow semver format which we would have to add in `operator-framework/api` since it contains the validators ?
cc: @jmrodri @camilamacedo86

[2022-08-22 17:56] varshaprasad96 commented on #5993
Looks like OLM release has the required manifests now: https://github.com/operator-framework/operator-lifecycle-manager/releases/tag/v0.22.0. @jkapponms Is the command working now?

Meanwhile, we need to update Operator SDK to officially support the latest OLM release version by updating bindata (https://sdk.operatorframework.io/docs/overview/#olm-version-compatibility)

[2022-08-22 18:04] everettraven commented on #5993
I tested the command locally and everything seems to be good.

I think the bindata update should be a part of the release process so it should be updated whenever we cut the 1.23.0 release right @varshaprasad96 ?

[2022-08-22 18:06] varshaprasad96 commented on #5994
This seems to be an issue related with controller-runtime. IMO though predicates filter the specific events getting queued for the controller to act on, `SyncPeriod` should still be respected.

[2022-08-23 01:49] jmrodri commented on #5993
In my local branch, it works after updating bindata.

[code]

[2022-08-23 18:30] #4172 closed

[2022-08-24 14:36] laxmikantbpandhare commented on #5937
Raised PR on controller-tools - https://github.com/kubernetes-sigs/controller-tools/pull/717

Maybe we need to wait for a bump of golang version to 1.19

[2022-08-24 18:04] ivandov commented on #5989
Thanks @everettraven - I reviewed the [Descoped Operators doc](https://hackmd.io/@of-olm/SyNl04xac) and spoke with our internal OLM Guild lead, who sounds like he's been staying in sync with the work your team is doing.

I like the approach the descoped operator pattern will be taking, it makes sense. My only concern is that the even with manual definition of RBACs for the Operator's service accou

[2022-08-24 18:30] jmrodri commented on #5743
So if I do not pass in a selector, both tests are run.

[2022-08-24 18:33] jmrodri commented on #5743
Passing in a selector causes it to only run that test that I select, so I think the selector portion is actually working.

[code]

What's mysterious is why are there `Results` for both every time.

[2022-08-24 18:51] jmrodri commented on #5743
And it looks like the test pod is returning a result for all of the tests regardless of which one we run.

[code]

[2022-08-24 20:19] everettraven commented on #5989
@ivandov You are correct that there are currently some limitations in `controller-runtime` that makes it difficult for an operator to be able to handle this scenario.

The idea is that the PoC caching solution that I am currently working on will address this. As for the how, `controller-runtime` has a `cache.Cache` interface that is used for the caching layer in a controller. For now, I am working

[2022-08-25 07:23] iblancasa opened #6002 "Upgrading kube-rbac-proxy is done twice in the upgrade instructions to 1.23.0"
### What is the URL of the document?
https://v1-23-x.sdk.operatorframework.io/docs/upgrading-sdk-version/v1.23.0/

### Which section(s) is the issue in?
There are two sections for `Upgrade kube proxy image gcr.io/kubebuilder/kube-rbac-proxy`: [one to upgrade from v0.11.0 to v0.12.0](https://v1-23-x.sdk.operatorframework.io/docs/upgrading-sdk-version/v1.23.0/#upgrade-kube-proxy-image-gcriokubebuild

[2022-08-25 08:19] bdattoma commented on #5743
@jmrodri in my tests, I create a pod for each test suite and when I run it with a selector, I see all the pods being created instead of the only one I requested.

the command:
![image](https://user-images.githubusercontent.com/88311595/186612725-d3b47e00-5dc9-41be-9db3-1e0a8b5fa103.png)
So the logs report correctly my selection in the `Entrypoint` section (i.e., oo-ods-ci-settings, 01-smoke).

But