[2019-01-30 14:40] bvkin opened #1029 "Unable to install package deepcopy-gen"
## Type of question

General Context and Help

## Question

Hello,
I seem to be unable to install the deepcopy-gen package in order to use the operator-sdk. Iv'e been following along with this guide: https://learn.openshift.com/operatorframework/go-operator-podset/

Also, I have tried to follow the instructions in issues #334 but when I run the install command I get the following error.

[code]

I

[2019-01-30 14:52] InfoSec812 opened #1030 "Unable to install Operator SDK on Linux with Go 1.10.4/Dep 0.50.0"
## Bug Report

**What did you do?**
Following the instructions for installation in the [QuickStart](https://github.com/operator-framework/operator-sdk/blob/master/README.md#quick-start).

The `make dep` succeeds, but running `make install` gives errors about finding the required dependencies.

**What did you expect to see?**
A successful build

**What did you see instead? Under which circumstances

[2019-01-30 15:06] LiliC commented on #927
@spanichella Hello, can you see what the logs say. Can you do `kubectl logs deployment/memcached-operator-ansible ` and `kubectl get events`

[2019-01-30 15:12] spanichella commented on #927
@LiliC you find them here https://www.dropbox.com/s/ercy39wlmipu3fg/Logs-kubectl.zip?dl=0
Thanks for the help.

[2019-01-30 15:13] InfoSec812 commented on #1030
I found the answer! For some reason my `GOROOT` env variable was incorrect. Once I set it using `export GOROOT=/usr/lib/go-1.10` it worked fine!

[2019-01-30 15:13] #1030 closed

[2019-01-30 23:02] #838 closed

[2019-01-31 03:47] shovanmaity commented on #928
Yes @LiliC .

[2019-01-31 06:59] robinbraemer commented on #982
I wasn't able to build it from source because of unknown syscalls in the ansible package etc. which are not available on Windows.

Now I have created me a VM with a desktop (VirtualBox) for developing operators.
The issue can be closed, thanks!

[2019-01-31 06:59] #982 closed

[2019-01-31 09:06] LiliC commented on #927
@spanichella Could it be possible to paste the content of that in a https://gist.github.com instead of a download link :) Thanks!

[2019-01-31 10:43] chrsoo opened #1036 "Remove user dir from operator binary"
## Bug Report

**What did you do?**
Panic.

**What did you expect to see?**
The stack trace should only contain paths relative to the GOROOT

**What did you see instead? Under which circumstances?**
When the operator panics for whatever reason the stack trace includes the full path to the source code. This discloses information on the host that built the binary, e.g. the home dir of the user that

[2019-01-31 15:38] baichinger opened #1038 "Defaulting functions do not get called"
## Bug Report

**What did you do?**
The generated defaulting functions for the CRD do not get called. Code generation was done via
[code]
[`RegisterDefaults`](https://github.com/Dynatrace/dynatrace-oneagent-operator/blob/master/pkg/apis/dynatrace/v1alpha1/zz_generated.defaults.go#L14) gets invoked during startup. The registered function `SetObjectDefaults_OneAgent` does not.

**What did you expect

[2019-01-31 16:56] spanichella commented on #927
Sorry @LiliC , I'm not frequent with Issues on GitHub, and I really appreciate your help.

Thanks for pointing me out "https://gist.github.com ". :)

Created the two files there:

https://gist.github.com/spanichella/255056c6a6bd9d71818616c4b2e5515b
https://gist.github.com/spanichella/59d0a957ecf00e7ef1066d689714b8d8

Sebastiano

[2019-01-31 17:08] LiliC commented on #927
@spanichella No worries, thanks for that!

Seems like the operator binary is not found in the container
[code]

https://gist.github.com/spanichella/59d0a957ecf00e7ef1066d689714b8d8#file-log_events-txt-L12

[2019-01-31 18:07] spanichella commented on #927
I tried to build and push again the operator, but still the same problem.

I found also a bit strange in the log and the pods the naming " example-memcachedansible-memcachedansible".

In any case, I'm not sure how to proceed, sorry.
Do I have to check if the in the "$PATH" of my local machine the executable file is there?

[2019-01-31 19:21] AlexNPavel commented on #1036
Thanks for opening this issue. I tried building but was still getting some of my own home paths (specifically for things in the vendor directory) during panics with the flags you provided. I found that the correct flags to remove the paths even across the vendored packages seems to be `-gcflags "all=-trimpath=$GOPATH" -asmflags "all=-trimpath=$GOPATH"`. I will make a PR with the fixes in the makef

[2019-01-31 20:05] #256 closed

[2019-02-01 01:03] AlexNPavel commented on #1029
I ran through the terminal session in the learn.openshift.com example you linked and that course works correctly. You shouldn't need to install the code generator manually, as the generate k8s command should do that for you.

Can you run `operator-sdk generate k8s` in your project and post the output here?

[2019-02-01 01:08] #1036 closed

[2019-02-01 10:45] LiliC commented on #1028
cc @hasbro17 think you added that TODO comment.

[2019-02-01 10:46] LiliC commented on #1018
Closing this as it solved the problem, @mandaltu123 if you run into any other problems feel free to open a new issue.

[2019-02-01 10:46] #1018 closed

[2019-02-01 10:51] LiliC commented on #927
@spanichella can you provide details on how you built the operator. The problem seems to be at least judging by the logs the binary is missing from the container.

https://github.com/operator-framework/operator-sdk/blob/master/doc/ansible/user-guide.md#build-and-run-the-operator

[2019-02-01 14:11] LiliC commented on #910
@aaronmcohen has the above solved your problem, in that case, we can close this issue.

[2019-02-01 14:13] LiliC commented on #879
@ravisantoshgudimetla Closing this issue due to inactivity but if you have any other questions, feel free to open a new issue or just reopen this one, thanks.

[2019-02-01 14:13] #879 closed

[2019-02-01 14:51] bvkin commented on #1029
It seems to be working now. I think that whoever is maintaining that package may have been having some issues.
Thanks!

[2019-02-01 14:51] #1029 closed

[2019-02-01 18:26] #846 closed, assigned to theishshah

[2019-02-01 21:57] theishshah commented on #1038
This should fix the issue, please re-open if not.

[2019-02-03 20:59] matihost commented on #890
ansible-operator  seems handling v0.4.0 `Cluster` wide CR
However
`operator-sdk new foo-operator --cluster-scoped --api-version=foo.bar.com/v1alpha1 --kind=FooBar --type=ansible --skip-git-init --generate-playbook`
still creates CRD object sample with 'Namespaced` scope.

[2019-02-03 21:32] matihost opened #1051 "Ability to disable object cache completely"
Ansible base operators essentially runs watch playbook/role:
- when CR object changes (oc apply)
- when objects created by CR invocation are removed (and changed?)
depending on https://github.com/operator-framework/operator-sdk/blob/master/doc/ansible/dev/advanced_options.md#watches-file-options settings

However when CR object is deleted  - the playbook is not run and object created by CR invocat

[2019-02-04 09:16] spanichella commented on #927
Dear @LiliC , Attached you find a pdf of the process followed to build the operator.

It is very detailed
[Ansible operator.pdf](https://github.com/operator-framework/operator-sdk/files/2827186/Ansible.operator.pdf)
 so that you can get how I did build it.

Cheers,
Sebastiano

[2019-02-04 10:00] #856 closed

[2019-02-04 10:16] baichinger commented on #1038
The actual problem is not the missing defaulter functions generated. Already did this manually. The problem is that those functions don't get called by the client. The current workaround is to call them explicitly: `r.schema.Default(instance)`

https://github.com/Dynatrace/dynatrace-oneagent-operator/blob/defaulters/pkg/controller/oneagent/oneagent_controller.go#L108

Is this the way it is suppose

[2019-02-04 12:31] spanichella opened #1053 "error when creating "deploy/crds/example_v1alpha1_nginx_cr.yaml"
## Bug Report

**What did you do?**
I followed the guideline for installing the operator as described here: https://github.com/operator-framework/operator-sdk/blob/master/doc/helm/user-guide.md

The steps I did are the following:
[Helm operator.pdf](https://github.com/operator-framework/operator-sdk/files/2827914/Helm.operator.pdf)

when I have executed
$kubectl apply -f deploy/crds/example_v1alph

[2019-02-04 13:15] shawn-hurley commented on #1051
@matihost

This is possible with an undocumented feature that should have had docs around it. Sorry.

This is called a finalizer. You can add it per GVK in you watches file. example
[code]
This needs to be documented much better but is this basically what you're looking for?

[2019-02-04 13:23] shawn-hurley commented on #927
@spanichella

The problem appears that you update the tasks/main.yml to use the command `memcachedansible` with is not the correct command, if you change this to `memchached` then this works.

Closing as I was able to reproduce locally and also fix the problem with this change. Please re-open if this is still a bug

[2019-02-04 13:23] #927 closed

[2019-02-04 15:12] joelanford commented on #1053
@spanichella There is an issue in Kubernetes prior to 1.11.2 that causes pluralization issues with certain CRDs. The CRD name "nginx" triggers the bug. That's why we recommend 1.11.3+ in the Helm user guide.

Can you upgrade your Kubernetes version (both client and server) to 1.11.3+ and try again?

[2019-02-04 17:27] angapov opened #1055 "k8s_status module is not recognized by Ansible"
## Bug Report

I created a simple Ansible role with the following code:
[code]

I expected CR status to be updated in accordance with [doc](https://github.com/operator-framework/operator-sdk/blob/master/doc/ansible/dev/developer_guide.md). However in operator pod logs I see:
[code]
That basically means that k8s_status module is not recognized by Ansible.

**What did you do?**
Created a simple Ansi

[2019-02-04 17:42] shawn-hurley commented on #1055
@angapov Thanks for the bug report. This is fixed by https://github.com/operator-framework/operator-sdk/pull/972.

We currently are waiting to do a release for 0.4.0 and I am sorry this, Could you attempt to use the master base image? To do this change the `build/Dockerfile` to use the image tagged with the master. We should have a new release by the end of the week I believe. @joelanford @hasbro1

[2019-02-04 17:42] #1055 closed

[2019-02-04 18:20] angapov commented on #1055
@shawn-hurley I used
[code]
Still the same result.

[2019-02-04 18:56] shawn-hurley commented on #1055
@angapov how are you running the operator?

[2019-02-04 19:33] shawn-hurley commented on #1055
No worries, sorry about this. We have CI jobs in place now to catch this before a release happens 😳

[2019-02-04 20:56] AlexNPavel commented on #1038
@baichinger Hello. I've looked into this and I think I found what might be causing the issues. I found some examples of defaulters here: https://github.com/kubernetes/gengo/tree/master/examples/defaulter-gen/_output_tests

All of the projects that have defaulters include this function in their `defaults.go` file:

[code]

I imported your project, added that function to your v1alpha1 package's `def

[2019-02-04 22:31] hasbro17 commented on #1028
Yes, the event handler docs are on my ToDo list. Essentially we need a doc that explains the [EventHandler](https://godoc.org/github.com/kubernetes-sigs/controller-runtime/pkg#hdr-EventHandler) a bit more, and how to use the [EnqueueRequestsFromMapFunc](https://godoc.org/github.com/kubernetes-sigs/controller-runtime/pkg/handler#EnqueueRequestsFromMapFunc) to enqueue requests for arbitrary objects.

[2019-02-05 16:04] baichinger commented on #1038
It does not make any difference if the functions gets registered either by `RegisterDefaults` or by `addDefaultingFuncs`. In either way the functions get registered. The problem is that those functions don't get called. IMO the client `github.com/kubernetes-sigs/controller-runtime/pkg/client` is in charge of calling https://github.com/kubernetes/apimachinery/blob/master/pkg/runtime/scheme.go#L389

[2019-02-05 16:44] bofm opened #1061 "e2e test fails with "serviceaccounts already exists""
## Bug Report

**What did you do?**

`operator-sdk test local ./test/e2e --up-local --namespace operator-test`

**What did you expect to see?**

A clear and concise description of what you expected to happen (or insert a code snippet).

**What did you see instead? Under which circumstances?**

The test fails with `serviceaccounts "mongodb-operator" already exists` on `ctx.InitializeClusterResource

[2019-02-05 18:19] #978 closed

[2019-02-05 20:28] fabianvf opened #1062 "Improve CI speed"
## Feature Request

**Is your feature request related to a problem? Please describe.**
Our CI runs are getting longer and longer, and a non-trivial portion of that is due to the dep ensure and build of the binary.

**Describe the solution you'd like**
It would be nice if we could make use of [travis caching](https://docs.travis-ci.com/user/caching/) to have a pre-step that's shared by all the stag

[2019-02-05 21:42] AlexNPavel commented on #1062
Would caching `$GOPATH/pkg/dep/sources` make sense? That would be a trivial addition that should help the speed of `dep` somewhat, as it wouldn't have to download full git repos with that cached

[2019-02-05 21:44] AlexNPavel commented on #1062
The main issue with travis caching is that it's not network local, so this might not actually result in much of a speed improvement for us: https://docs.travis-ci.com/user/caching/#how-does-caching-work

[2019-02-05 22:14] fabianvf commented on #1062
I was also thinking we could hopefully skip the dep ensure in some steps and just pull a cached binary. I don't think Ansible or Helm actually need anything other than a built binary.

[2019-02-06 00:47] matihost commented on #1051
Sorry for delay. I wanted to test it.

And short answer is:
"finalizer idea is great, but logic not quite..

Current "finalizer"  has some issues:

1) If finalizer playbook creates some object - these objects are part of the cache as well - and they  are also removed afterwards.

1) If finalizer or main playbook apply/patch some object - these objects are not part of the cache - and they are not r

[2019-02-06 14:03] bofm commented on #1061
I re-initialized a clean minikube environment and the tests worked well. I'm sorry for bothering.

[2019-02-06 14:03] #1061 closed

[2019-02-06 18:17] AlexNPavel commented on #1062
Caching is problematic on travis as the cache gets shared across basically all jobs (https://docs.travis-ci.com/user/caching/#pull-request-builds-and-caches), which can cause the cache to explode quite quickly if we try to cache the project binaries. We are adding the vendor to the git repo, which reduces the time dep takes to run to under 1 second (as all the dependencies are already in the proje

[2019-02-06 20:09] fabianvf commented on #1062
Ah, that's a shame, I misunderstood how this all worked.

[2019-02-06 22:47] #1012 closed

[2019-02-06 23:01] hasbro17 commented on #1038
@baichinger Just weighing in on this, I think the correct behavior for the controller-runtime client is to return exactly what is there on the server, without adding defaults to the CR.
I don't know if that will be changing anytime soon so you might have to explicitly call the Defaulting function on the object yourself for now.

The recommended way to default CRDs is via mutating [admission webhoo

[2019-02-07 01:04] anwar6953 commented on #554
This resolved the issue for me:
kubectl create clusterrolebinding cluster-admin-binding --clusterrole cluster-admin --user <USER>

[2019-02-07 13:33] zipper97412 opened #1069 "Helm Operator update loop"
## Bug Report

**What did you do?**
`operator-sdk up local --namespace myproject`
- I am in the folder of my helm based operator
- I have uploaded the coresponding CRD on my okd(openshift) cluster
- I have an instance of my CRD

**What did you expect to see?**
The operator successfully apply my helm package then wait for changes in my CRD instances

**What did you see instead? Under which circumst

[2019-02-07 17:18] odra commented on #344
Did a quick search in kubernetes repo and found this: https://github.com/kubernetes/kubernetes/issues/72187

Is this log message the expected behavior?

[2019-02-07 17:20] odra commented on #935
Is anyone work on this? Can I pick it?

[2019-02-07 17:28] eivantsov commented on #344
It happened to me on version 0.0.6. Now, with 0.3.0, it's ok

[2019-02-07 20:06] AlexNPavel commented on #1062
I think we can close this issue now, as the dependency getting and build speeds have been drastically improved. Here is a summary:

1. PR #1065: Added `vendor` to git. This increases the initial git clone time by ~1 second and allows the `dep ensure` stage to be reduced to ~1 second from the original ~200-250 seconds due to all dependencies already existing. It also fixes the occasional flakes cau

[2019-02-07 20:06] #1062 closed

[2019-02-08 00:26] AlexNPavel commented on #1069
/cc @joelanford

[2019-02-08 11:05] patrickshan opened #1077 "Any recommendation about migrating old sdk.Patch function"
## Type of question

**Are you asking about community best practices, how to implement a specific feature, or about general context and help around the operator-sdk?**

best practices

## Question

**What did you do?**
Try to migrate operator-sdk from old v0.0.7 to v0.4.0

**What did you expect to see?**
old sdk actions are supported inside the new controller runtime client

**What did you see ins

[2019-02-08 13:03] LiliC commented on #1077
@patrickshan There is the `Update` action in the client.

[2019-02-08 13:40] shawn-hurley commented on #935
@odra Sounds good to me, let me know if you need help!

[2019-02-08 13:51] shawn-hurley commented on #344
Hey everyone,

This is happening because the API server is closing the watch. The informer will automatically connect because the API server closing watches is normal and expected behavior. In this case, what happens if when the informer attempts to re-establish the watch, it is denied because the resource version is to low. The Informer will then do a List request and use the new resource version

[2019-02-08 13:56] odra commented on #935
:+1:

[2019-02-08 19:38] hasbro17 commented on #344
Yes, re-establishing the watch for objects that aren't updated for a long time seems to be the expected behavior from what I can tell.
I don't think we should be stifling this error as well since the error suggests the watchers are actually operating properly by re-attempting the watch.

Possibly related but from https://github.com/openshift/origin/issues/21636 it seems like this issue was fixed o

[2019-02-08 21:50] mhrivnak opened #1082 "document need for cluster-admin to run tests"
## Feature Request

Users of OpenShift, and presumably other clusters as well, do not generally run as cluster-admin the way some developers do when using minikube or similar. When developing an operator on openshift, it would be helpful to have some documentation that provides guidance on the best or most appropriate way to ensure that the tests run with sufficient permission to create and remove

[2019-02-08 22:15] dhellmann commented on #1082
I ended up with 1 extra step to add the cluster-admin ClusterRole to my user. It's possible a role with fewer privileges would work, too.

See https://github.com/metalkube/baremetal-operator#running-end-to-end-tests and https://github.com/metalkube/baremetal-operator/blob/master/test/e2e/role_binding.yaml

[2019-02-10 06:34] patrickshan commented on #1077
Thanks @LiliC . I could use the `Update` function but was wondering if there is any recommended way to convert the old `Patch` since the old library has both `Patch` and `Update`.

[2019-02-11 05:41] eivantsov opened #1085 "Objects at cluster scope aren't deleted when CR is deleted"
## Type of question

Probably support question

## Question

**What did you do?**

In certain scenarios my operator creates oAuthClient - an object at cluster scope, not namespaced. It works well, however, when I delete my CR, all namespaced objects get deleted but not oAuthclient, even though it has the right ownerReference:

[code]

and is watched by the operator:

[code]

Is this expected or pe

[2019-02-11 11:21] petro404 opened #1087 "Watch Secondary Resource"
## Type of question

How to implement a specific feature

## Question

Is there a way to get implement a secondary "watched" resource for a resource that was not created as part of the operator SDK.

**What did you do?**
I create new custom resource configsync ,the aim of this resource  is to mount config map to existing deployment.
The name of the configmap and deployment are defined as part of t

[2019-02-11 11:21] bofm opened #1088 "test local --up-local leaves a running process"
`operator-sdk test local --up-local` command leaves a running process after completion.

**What did you do?**

[code]

**What did you expect to see?**
`operator-sdk test local --up-local` should kill the background processes it has created.

**What did you see instead? Under which circumstances?**
[code]

**Environment**

* operator-sdk version: operator-sdk version v0.4.0+git 203301be4d10eae16b02

[2019-02-11 14:43] ron1 commented on #1053
Are you able to identify the specific Kubernetes CRD pluralization issue? Do you know if the fix has been back-ported to any of the OpenShift 3.11.x releases?

[2019-02-11 18:29] AlexNPavel commented on #1088
This was an issue caused by us using `go run` to run the operators locally. We fixed this in `operator-sdk up local`, but didn't update the test subcommand as well: https://github.com/operator-framework/operator-sdk/pull/1010/files. I'll update the the `test local --up-local` command with those changes as well.

[2019-02-11 20:12] hasbro17 commented on #1077
@patrickshan I don't think the controller-runtime client will be looking to support Patch anytime soon (if ever) since it deviates from the goal of providing a clear API and not redoing client-go.
Upstream discussion:
https://github.com/kubernetes-sigs/controller-runtime/pull/95
https://github.com/kubernetes-sigs/controller-runtime/pull/235

You can get around by constructing the REST client for a

[2019-02-11 23:05] #1088 closed

[2019-02-11 23:55] hasbro17 commented on #1087
@petro404 The [EnqueueRequestForOwner](https://godoc.org/github.com/kubernetes-sigs/controller-runtime/pkg/handler#EnqueueRequestForOwner) event handler is used for mapping request for the owner of an object.
In your case the ConfigMap objects are not owned by your ConfigSync CR so it can't trigger the reconcile for the owner.

For objects that aren't directly owned by by your ConfigSync CR but ar

[2019-02-12 00:23] hasbro17 commented on #1085
@eivantsov This is actually the expected behavior when you have a namespaced Owner(your CR) and owning a cluster-scoped object (OAuthClient).
Due to the fact that the [OwnerReference does not have a namespace field](https://github.com/kubernetes/kubernetes/blob/6e5176b48df8719ab969a233a0411ad6ba35d222/staging/src/k8s.io/apimachinery/pkg/apis/meta/v1/types.go#L288-L290) the GC cannot lookup the own

[2019-02-12 11:31] matihost opened #1090 "Create/Update/Delete behavior consistency"
Currently there is a little inconsistency in create/update/delete feedback:
* kubectl create/app  for CR  and handling is asynchronous - CR created/configured/unchanged - returns immediately and role/playbook is run asynchrously, and CR status needs to be checked for the result
* kubectl delete for CR hangs until playbook/role finishes successfuly (if play/role fails, it hangs forever)

Please mak

[2019-02-12 11:58] petro404 commented on #1087
Thanks a lot it worked for me

[2019-02-12 14:28] leseb opened #1091 "Writing CSV from existing operator"
## How to write CSV from an existing operator?

**Are you asking about community best practices, how to implement a specific feature, or about general context and help around the operator-sdk?**

I'm currently trying to implement the Rook (https://rook.io) orchestrator as a community operator. We have existing files for the operator itself and the cluster (CRD) we want to deploy.

## Question

So

[2019-02-12 14:41] matihost opened #1092 "Ansible operator using oc auth can-i failed"
When Operator docker was injected `oc` command (OpenShift kubectl fork) (in order to mitigate k8s  object tracking caching - aka  https://github.com/operator-framework/operator-sdk/issues/1051)

When I ran it, I encountered a problem with
`TASK [catproject : Check whether logged user can create projectrequest resources] ***
task path: /opt/ansible/roles/catproject/tasks/main.yml:10
fatal: [localho

[2019-02-12 15:13] joelanford commented on #1053
@ron1 The original issue is documented here: https://github.com/kubernetes/kubernetes/issues/67235. And it was fixed here: https://github.com/kubernetes/kubernetes/pull/66249

OpenShift 3.11 includes this fix as well (https://github.com/openshift/origin/pull/20392)

[2019-02-12 15:16] joelanford commented on #1069
@zipper97412 By chance, does your helm chart release include any randomly generated fields?

[2019-02-12 17:22] shawn-hurley commented on #1090
Hi @matihost

Kubectl is behaving correctly. The deletion is not actually "hanging." You can exit the command, and the deletion still happened. You can make sure of this by checking the `metadata. DeletionTimestamp` field.

Basically what is happening is that kubectl is waiting for the resource to be garbage collected. Because of the finalizer, you're correct that the resource will never be cleane

[2019-02-12 17:22] #1090 closed

[2019-02-12 18:11] the-scott-hand opened #1093 "Implementing custom status and delete hook for managing external resources in v0.4.1"
## Type of question
Feature Implementation/Existence/Best Practice

## Background
I am currently working on creating an operator that manages a non-kubernetes resource. Create/Update/Delete calls require the operator to submit a call to a non-kubernetes API. I also want to have a "status" field that periodically hits this external API for status.

**operator-sdk version:**
 v0.4.1+git
Using Reconc

[2019-02-12 18:47] TimMoran commented on #1091
Hey,

Have you seen [this doc](https://docs.google.com/document/d/1TMPXk9NqkK8Dhsc1PiF-Z-DiVn19LNBk28d_hLcujoA/edit#heading=h.iaq2jsfvvf5c)?

That doc is incomplete but I did find [this one](https://docs.google.com/document/d/1mC7vwBIzDEiEn356WJye9cAsPBU4FZqoK3n29zkjEvQ/edit?ts=5c45d19d) that looks to have a little more content. Please let me know if this is sufficient.

[2019-02-12 19:19] hasbro17 commented on #1087
@petro404 Sounds good. I'll close the issue then.

[2019-02-12 19:19] #1087 closed

[2019-02-12 19:58] shawn-hurley commented on #1093
To answer your first question:

    I've seen this referenced a few times when looking at related issues, but not sure how to actually implement them from an operator-sdk perspective. Are there any examples/documentation I can checkout for implementing a "pre-delete" hook?

This is the correct option. You have to remember that your operator could miss events and if you want to make sure to clean s

[2019-02-12 20:05] giacomoguiulfo opened #1094 "Predictable Release Names with the Helm Operator SDK"
## Type of question

General context and help around the operator-sdk.

## Question

**What did you do?**

Deployed a Helm Operator for a chart and then created a `CustomResource` for it.

**What did you expect to see?**

The chart resources to be created under the release name `${my-cr-name}`

**What did you see instead? Under which circumstances?**

The chart resources created under a release na

[2019-02-12 21:43] joelanford commented on #1094
@giacomoguiulfo Currently it is not possible to define a custom release name, but that seems like a solid use case to me.

We've thought about supporting an annotation on the CR that would allow a user to define their own release name, but since [Helm release names cannot be easily changed](https://github.com/helm/helm/issues/1809), we would need to consider how to handle changes to that annotatio

[2019-02-12 22:26] giacomoguiulfo commented on #1094
Thanks for your reply @joelanford!

I agree, option 1 seems very reasonable to me.

If this is something you could work on and have the time for it, that'll be amazing. Otherwise, let me know and I will be happy to contribute.

[2019-02-12 23:28] joelanford commented on #1094
@giacomoguiulfo Looking at this a little closer, it's not currently straightforward to implement a check for a release name change since we don't have access to the previous CR object during an update.

The deployed release name is currently available in the status, but relying on status to get the current state goes against [Kubernetes design principles](https://github.com/kubernetes/community/bl

[2019-02-12 23:32] joelanford commented on #1094
@theishshah ^^ Thought you might be interested since you're looking into the admission controllers and webhooks.

[2019-02-12 23:50] giacomoguiulfo commented on #1094
@joelanford Couldn't the release name be the `metadata.name` of the `CR`?

[2019-02-13 15:36] matihost commented on #1090
Good explanation! Thank You!

[2019-02-13 18:18] joelanford commented on #1094
@giacomoguiulfo I remembered we had some discussion about the release name in https://github.com/operator-framework/helm-app-operator-kit/issues/49 and https://github.com/operator-framework/helm-app-operator-kit/pull/57 before we integrated the Helm support into the SDK, so check that out for background about how we ended up with the current release name.

Perhaps the scenario of two CRs of differ

[2019-02-13 19:21] estroz commented on #1091
@leseb check out this [design doc](https://github.com/operator-framework/operator-sdk/blob/master/doc/design/milestone-0.2.0/csv-generation.md) detailing the SDK's CSV scaffold implementation. If you don't find what you're looking for there, feel free to ask specific questions here!

[2019-02-13 19:39] #997 closed

[2019-02-13 20:35] gbaufake opened #1101 "Ansible Operator on an Infinite Loop"
## Bug Report
**What did you do?**

I have created an ansible-operator (https://github.com/kiali/kiali-test-mesh/pull/41) which basically execute some playbooks.

**What did you expect to see?**
After the playbook is finished, I would expect to see the operator doing nothing else.

**What did you see instead? Under which circumstances?**
The operator goes to the first step (full logs -> https://pa

[2019-02-13 22:27] shawn-hurley commented on #1101
Just a quick glance at your watches file and I notice that you have not set
your reconcile period to zero

On Wed, Feb 13, 2019 at 3:35 PM Guilherme Baufaker Rêgo <
notifications@github.com> wrote:

[2019-02-13 22:45] gbaufake commented on #1101
Yes you are right. I didn't notice that closing this bug.
Sorry for the misunderstood.

[2019-02-13 23:09] giacomoguiulfo commented on #1094
@joelanford Thanks for your response and all the helpful information. The templating trick you mentioned worked very well for my purposes!

[2019-02-14 10:40] LiliC opened #1103 "test/markdown: flaky test"
Have run into this flaky test few times:
[code]
and

[code]

Tried`http://pool.sks-keyservers.net` and it resolves for me.

cc @AlexNPavel

[2019-02-14 15:41] leseb commented on #1091
@estroz thanks for your help, glad to see the approach is correct. Also, the design doc was useful.
Here's what I've got so far:

[code]

My `ceph_cr.yaml`:

[code]

My `_generated.concat_crd.yaml`:

[code]

However when I try to validate it I get the following error:

[code]

Looking rapidly at the `operator-sdk` code it seems that it was unable to decode the `Deployment` section properly?

Any p

[2019-02-14 17:03] matihost commented on #344
I don't know whether it is related

Failed to watch *unstructured.Unstructured: the server does not allow this method on the requested resource

My play do no use k8s so... it in theory should not watch anything..

[2019-02-14 18:23] AlexNPavel commented on #1103
Yeah, I'm not sure why it is doing this. It seems like some keyservers have been having weird 502 issues. This started happening after we changed the URL from pgp.mit.edu to the sks pool, since the mit server is unreliable and wasn't working when we were trying to add Ish's public key to the pool. I think we should wait maybe about 1 week, and if it continues just remove the hyperlink.

[2019-02-15 09:38] LiliC commented on #1103
That sounds good 👍

[2019-02-15 11:35] patrickshan commented on #1077
Thanks @hasbro17 . I think I might just use the Get & Update to replace it.

[2019-02-15 11:35] #1077 closed

[2019-02-15 11:47] LiliC commented on #344
@matihost You need to pass the specific object you want to watch.

Can you explain this a bit more?

[2019-02-15 16:15] jmrodri commented on #915
/me is working on this now

[2019-02-17 20:39] aaronmcohen opened #1105 "operator up local works but operator test local --up-local does not."
## Bug Report

**What did you do?**

Create a simple operator:
- minikube delete
- minikube start
- eval $(minikube docker-env)
- cd $GOTPATH/src
- operator-sdk new sample-operator
- cd sample-operator
- operator-sdk add api --api-version example.com/v1 --kind Sample
- operator-sdk add controller --api-version example.com/v1 --kind Sample
- create `test/e2e/main_test.go`
[code]
- create `test/e2e/

[2019-02-18 01:40] hasbro17 commented on #1085
@eivantsov I'm hoping you could resolve the above issue with Finalizers. Since there's not much that the SDK can do to work around the GC behavior, I'm going to close this issue for now.
Feel free tor reopen it if you have a follow up question or suggestion.

[2019-02-18 01:40] #1085 closed

[2019-02-18 05:32] eivantsov commented on #1085
@hasbro17 thanks. Yes, I will look at finalizers. If there's an example in an existing Operator, a link/pointer is appreciated.

[2019-02-18 08:32] leseb commented on #1091
@estroz do you think you can look into this? Thanks.

[2019-02-18 15:30] BrianMWest opened #1106 "Helm operator CPU utilization during inactivity is high"
## Bug Report

**What did you do?**
I created a Helm operator to manage deployments of custom objects. To reduce the number of operator Docker images required, I put multiple CRDs in the Helm operator and added each to the `watches.yaml`.

**What did you expect to see?**
A controller pod that sleeps and uses little resources when changes are not being applied to the system.

**What did you see ins

[2019-02-18 15:44] LiliC opened #1107 "pkg/metrics: Return Service so user can make changes"
As per @joelanford suggestion -> https://github.com/operator-framework/operator-sdk/pull/1037#discussion_r257054761, there are times a user might want to make changes to the Service object before its being created, we should consider returning the object first before creating it, and do the creation in the `main.go` file instead of the operator-sdk metrics package.

Discussion is needed for this,

[2019-02-18 15:49] joelanford commented on #1106
@BrianMWest what is the version of the helm-operator in your project's Dockerfile?

[2019-02-18 15:56] BrianMWest commented on #1106
`quay.io/operator-framework/helm-operator:v0.4.0`

[2019-02-18 16:18] joelanford commented on #1106
@BrianMWest Can you try bumping to `v0.5.0` and using the `--reconcile-period` flag? In `v0.4.0`, we didn't watch the resources created by the Helm release, so we had to have a tight reconcile period (60s) to ensure underlying resources didn't drift from the ones specified by the Helm release.

In `v0.5.0`, we started watching the chart resources. With that, you should be able to use the `--reconc

[2019-02-18 18:27] AlexNPavel commented on #1105
Hello. Since the operator is running locally instead of in the cluster, `WaitForDeployment` will not be able to successfully complete. We have another function to solve this problem: `WaitForOperatorDeployment`. This function will act the same as `WaitForDeployment` unless the tests are being run with `--up-local`, in which case it will finish immediately (as the operator should be running locally

[2019-02-18 20:09] estroz commented on #1091
@leseb right now the SDK cannot use just a CSV to run the scorecard. #1044 solves that issue if your operator is deployed using OLM, and [this branch](https://github.com/estroz/operator-sdk/tree/csv-only-scorecard) will run the scorecard using only the CSV without OLM. The latter branch will not be submitted for a PR until #1044 is merged.

[2019-02-18 20:14] aaronmcohen commented on #1105
@AlexNPavel Thank you!

[2019-02-18 21:51] aaronmcohen commented on #1105
@AlexNPavel I might have spoken too soon. After adding `WaitForOperatorDeployment` I thought the test was successful but it turns out it was finishing immediately as you mentioned.

The problem is the operator is running locally but it is trying to pull the operator docker image instead. Thus it is failing.

Updated `test/e2e/sample_test.go`
[code]

kubectl describe pod sample-operator-c4b59bc6d-g

[2019-02-18 21:59] hasbro17 commented on #1103
Should be fixed via #1108

[2019-02-18 21:59] #1103 closed

[2019-02-18 22:04] #665 closed

[2019-02-18 22:13] hasbro17 commented on #784
Long overdue but with #1052 we now have a [section](https://github.com/operator-framework/operator-sdk/blob/master/doc/user-guide.md#leader-election) that explains the two options for leader election.

[2019-02-18 22:13] #784 closed

[2019-02-18 23:40] AlexNPavel commented on #1105
Oh, that shouldn't matter. That seems to be a bug I accidentally introduced with this commit: https://github.com/operator-framework/operator-sdk/commit/a491ff9fc42df57cff6a33f037e6fc137c8f9536#diff-b6a250dfb7ca3e246979976a0467cf97

I'll make a PR to fix that (namespaced resources should not be created in the cluster if running in up local mode). However, the test should be ignoring the fact that t

[2019-02-19 00:10] AlexNPavel commented on #1105
Actually, I found another bug that was created more recently. I'll make a PR soon and update this once that's open.

[2019-02-19 01:04] hasbro17 commented on #1085
None of the sample operators we have are using finalizers right now but you can take a look at the Helm operator code to see how it uses Finalizers to block CR deletion for cleanup:
- [Adds a Finalizer to all Custom Resources that don't have them](https://github.com/operator-framework/operator-sdk/blob/5f3c3a50fa121e6cae05b9afced1469bc9fe2b7c/pkg/helm/controller/reconcile.go#L82-L92)
- [Checks if

[2019-02-19 01:13] #1105 closed

[2019-02-19 01:35] AlexNPavel commented on #1105
@aaronmcohen This issue should be resolved with PR #1109. Thanks for finding this bug

[2019-02-19 14:46] leseb commented on #1091
@estroz thanks. I might hit that https://github.com/operator-framework/operator-sdk/issues/984 at some point too.

[2019-02-19 15:36] aaronmcohen commented on #1105
Nevermind the previous post. Needed to run `dev ensure --update`

[2019-02-19 16:05] BrianMWest commented on #1106
@joelanford I changes the deployment object to include the following under the container spec:
[code]
based on what I saw from doing a `docker inspect` on the image and my understanding of what you were saying. I'm not seeing any improvement on the CPU usage, though. It seems to hovering around the same spot that it was before after about 5 minutes.

I didn't see any documentation on the arguments

[2019-02-19 16:14] joelanford commented on #1106
Yes, it's in our SDK CLI reference here (admittedly not the most obvious place): https://github.com/operator-framework/operator-sdk/blob/master/doc/sdk-cli-reference.md#helm

Is there anything interesting in the operator logs? If none of the CRs are changing, I wouldn't expect any logging other than a "Reconciled release" line for each CR every `reconcile-period` seconds.

[2019-02-19 23:44] joelanford commented on #1053
@spanichella I'm closing this since I think upgrading will resolve your issue. If it doesn't please feel free to re-open!

[2019-02-19 23:44] #1053 closed

[2019-02-19 23:46] joelanford commented on #1069
@zipper97412 Were you able to resolve your issue? If not, please feel free to re-open.

[2019-02-19 23:46] #1069 closed

[2019-02-20 08:53] #459 closed

[2019-02-20 09:47] delgod commented on #182
looks like operators started to implement own version detection functionality :(
yes, maybe it is better to probing the capability/api but sometimes it is hard to implement.

@spahl @LiliC Could you please reopen this issue?

[2019-02-20 13:29] leseb commented on #1091
I'm closing this since the original question was answered. Thanks.

[2019-02-20 13:29] #1091 closed

[2019-02-20 15:47] andriisoldatenko opened #1115 "Add Dockerfile to operator-sdk repo"
## Feature Request

**Describe the solution you'd like**
Add Dockerfile to repo, to be able to build docker image with operator-sdk inside.

[2019-02-20 20:00] andriisoldatenko commented on #1115
E.g.
[code]

or Dockerfile-dev

[code]

[2019-02-20 20:00] andriisoldatenko commented on #1115
@joelanford what do you think?

[2019-02-20 22:35] estroz commented on #900
@aravindhp @djzager @dmesser @eriknelson now that #1016 is merged the SDK will version CSV's and CRD's as discussed here. I'll close this issue for now, and reopen it if you have followup questions or suggestions on the implementation. If you find any bugs feel free to open a new issue. Thanks for the help!

[2019-02-20 22:35] #900 closed

[2019-02-21 00:16] estroz commented on #1115
I don't see an issue with adding these Dockerfiles and corresponding `make` commands. This might be useful for building release binaries too.

[2019-02-21 02:05] miguelsorianod opened #1120 "operator-sdk generate openapi omits field that contains numbers"
**What did you do?**
Execute the command `operator-sdk generate openapi` using operator-sdk master branch.

The CRD Go specification contains the following struct:

[code]

This struct is not the Spec of the CRD itself nor its own CRD (it is not registered in the schema) but a field in the CRD spec.

**What did you expect to see?**

The YAML file of the CRD should contain s3 as one of the validati

[2019-02-21 10:31] matihost opened #1122 "Operator inject owner reference to quota objects making them not working"
My operator playbook  creates the following quota object:
[code]

The operator inject owner reference metadata:
[code]

As a result the quota status is empty.
[code]
and Quota is not working.

If quota object is created without `ownerReferences`  it shows status like:
[code]

I think it is related to https://github.com/operator-framework/operator-sdk/issues/659
it is kind of blocker...

[2019-02-21 12:28] matihost opened #1123 "Failed to watch *unstructured.Unstructured: the server does not allow this method on the requested resource"
When ansible operator playbook creates RoleBinding objects:
[code]
The operator pod service account is essentially cluster-admin : (a a workaround for another case..)
[code]

[2019-02-21 12:35] matihost commented on #344
Created https://github.com/operator-framework/operator-sdk/issues/1123
because my case is different.

My play just creates various object like (ResourceQuota, RoleBinding) in various projects.

I stopped using k8s module, and use oc/kubectl command to interact with cluster...
Essentially I just want that ansible opeartor does not watch anything except CR object (for apply/delete
events).
I thought

[2019-02-21 13:51] shawn-hurley commented on #1123
@matihost Is there some time that we could jump on a call and discuss your use cases. Seems like we are not doing as good of a job supporting them as I would like, but I don't really understand what it is your solving. @fabianvf and I work in EST, hopefully, we can find a time that works.

[2019-02-21 13:57] shawn-hurley commented on #344
This is actually supported in the controller-runtime.

This is a different error than the one in this bug. and we should track it differently. I believe we can use #1123 to do this.

[2019-02-21 13:57] #344 closed

[2019-02-21 14:12] ladmitry opened #1124 "Failed with "the server could not find the requested resource""
## Bug Report

**What did we do?**
Trying to deploy custom resource via the operator:
Facing the issue: _**the server could not find the requested resource**_

**What we expect:**
Below is the stdout log from the operator deployed on **Openshift 3.11**:
`
2019-02-21T13:55:19.173Z	INFO	logging_event_handler	[playbook task]	{"name": "example-full", "namespace": "redis-cluster", "gvk": "db.mysite.com

[2019-02-21 14:50] shawn-hurley commented on #1124
Can you please paste your CRD here.

The ansible operator needs to use the status subresource which requires k8s 1.10 or higher, you get the same error when the status subresource does not exist, and I am pretty sure this is the problem.

[2019-02-21 15:06] ladmitry commented on #1124
Sure, here is CRD:
[code]

[2019-02-21 15:15] shawn-hurley commented on #1124
@ladmitry I think that 3.11 does this for you so for 3.10 I think you need to do this extra step: https://docs.openshift.com/container-platform/3.10/admin_guide/custom_resource_definitions.html#creating-aggregated-cluster-role-crd_admin-guide-custom-resources

[2019-02-21 16:06] matihost commented on #1123
I will contact with @fabianvf  via different channel.
This is what I do, not very complex:

- `operator-sdk new some-operator --cluster-scoped --api-version=ala.has.a.cat.com/v1alpha1 --kind=Cat --type=ansible --skip-git-init --generate-playbook`
- change deploy/crd/....crd.yaml:scope from `Namespaced` to `Cluster`
- cjange role.yaml to essentially cluster-admin (like shown above)
- inject `oc/kub

[2019-02-21 16:13] ladmitry commented on #1124
Unfortunately, it doesn't work.
We've created the ClusterRoles, but the error is still in place and the cause is somewhere else.
Below is the ClusterRole we created. Besides, we are namespace-scoped, not cluster-scoped. So it seems it's not a solution.

[code]

[2019-02-21 16:14] matihost commented on #1051
Renamed issue to better explain intent.

Ability to disable created object cache completely
The CR itself still need to be monitored of course to handle configured/deleted events.

Object cache has another side effect:

When operator is ClusterScope and it creates object within a project and it is admin in that project.
The operator still need "watch" verb clusterwide.

I provided the example in #

[2019-02-21 16:52] shawn-hurley commented on #1124
I think you need to grant access to the subresources as well

[2019-02-22 09:51] matihost opened #1127 "CR reconciliation upon operator pod restart should honor reconcile period option as well"
The Reconcile Period option  (aka https://github.com/operator-framework/operator-sdk/blob/master/doc/ansible/dev/advanced_options.md#watches-file-options )is not taken into account when operator pod restarts. When operator pod is restarted - reconciliation is run.

Please add a  configuration option that reconciliation will not be run upon operator pod restart - unless last reconciliation happen b

[2019-02-22 11:09] calind commented on #1077
@patrickshan check `controllerutil.CreateOrUpdate` (https://godoc.org/sigs.k8s.io/controller-runtime/pkg/controller/controllerutil#CreateOrUpdate).

Also note that in 0.2.0 it will change a little bit: kubernetes-sigs/controller-runtime#319

[2019-02-22 19:54] BrianMWest commented on #1106
@joelanford it seems to be a very noisy logger, but I think I see why. One of the operators spins up an ephemeral DB container in the same pod. The Helm chart randomly generates a password for the two to communicate so that redeploys will automatically rotate passwords. Based on the log diffs and issue #1069, it seems that it is looping over that randomly generated field and constantly redeploying

[2019-02-22 19:56] aaronmcohen opened #1128 "e2eutil.WaitForDeployment does not see pod"
## Bug Report

**What did you do?**
A clear and concise description of the steps you took (or insert a code snippet).

**What did you do?**

Create a simple operator:
- minikube delete
- minikube start
- eval $(minikube docker-env)
- cd $GOTPATH/src
- operator-sdk new sample-operator
- cd sample-operator
- operator-sdk add api --api-version example.com/v1 --kind Sample
- operator-sdk add controlle

[2019-02-22 20:13] BrianMWest commented on #1106
Regarding the HPA, I've confirmed that when I turn off the Helm operator, the HPA functions properly and my deployment scaled up to 3 pods during a stress test. When I turn it back on, it seems to overwrite any changes made by the HPA.

Regarding the randomly generated passwords, is there a way that I can set the random seed to be based on the timestamp of the original object creation so that subs

[2019-02-22 20:36] joelanford commented on #1106
That's an interesting idea. I'll look into that.

In the meantime, the best way to handle that situation with the current Helm operator is to setup the Helm chart to allow you to specify an existing `Secret` that can be used to inject the credentials into the containers. You can also override that particular field as a value in the CR, but that wouldn't be as secure as using a `Secret` since anyon

[2019-02-22 21:12] AlexNPavel commented on #1128
Hello. The `WaitForDeployment` function only works on deployments, not pods. In most use cases, deployments are better for managing pods than trying to manage them manually, so I would suggest looking into using a deployment instead of a Pod. If you decide that manually managing pods is better for your use case, here is a function based on `WaitForDeployment` that has been modified to use the fram

[2019-02-22 21:42] BrianMWest commented on #1106
I will try removing the `replicas` spec for autoscaled objects and report back

[2019-02-23 13:40] aaronmcohen commented on #1128
Thank you @AlexNPavel , This function worked. I have also create a PR based on it. https://github.com/operator-framework/operator-sdk/pull/1129

[2019-02-23 13:40] #1128 closed

[2019-02-25 09:52] LiliC opened #1130 "metrics: Cleanup unused container port"
Review and remove all the places where we still expose `containerPort: 60000`. As we don't expose that metrics port anymore it can be removed.

See https://github.com/operator-framework/operator-sdk/pull/1114#issuecomment-465777987 for list of places.

[2019-02-25 13:48] LiliC commented on #999
Opened PR -> https://github.com/kubernetes-sigs/controller-runtime/pull/337

[2019-02-25 16:06] the-scott-hand commented on #1093
**Re: Question 1:** I believe this question is answered. The [finalizer link you mentioned](https://book.kubebuilder.io/beyond_basics/using_finalizers.html) was particularly useful for my question about a pre-delete hook. Correct me if im wrong, but it seems that the key to detecting the delete is using `instance.ObjectMeta.DeletionTimestamp.IsZero()`(when true, instance is not being deleted, when

[2019-02-25 16:57] shawn-hurley commented on #1093
Assuming that you can't have some very odd webhook behavior to get updates from the external resource then this does make sense to me.

I could see some other thing that will run every 30 seconds and attempt to get the status and then update the object but not doing the entire reconciliation run. You could then set up predicates to filter out status updates for success but if the 30-second http.GE

[2019-02-25 20:48] hasbro17 opened #1132 "Populate CSV spec and status descriptors from types.go"
## Feature Request

Currently `opeartor-sdk olm-catalog gen-csv ...` will generate a CSV bundle with the `customresourcedefinitions` field populated from CRDs in the deployment manifests.

Additionally that command should also generate and populate the `specDescriptors` or `statusDescriptors` fields as well since those are helpful in conveying the API of the CRD types.
https://github.com/operator-

[2019-02-25 23:41] theishshah opened #1134 "pulling dependencies from master"
## Bug Report

**What did you do?**
A clear and concise description of the steps you took (or insert a code snippet).

TravisCI runs are fetching master versions of Ansible Molecule (and possibly other dependencies) and as a result a breaking change on a dependency can break the sdk. Note that this specific instance of the issue has been fixed in #1131

**What did you expect to see?**
A clear and

[2019-02-26 12:07] Avni-Sharma commented on #1130
PTAL https://github.com/operator-framework/operator-sdk/pull/1136

[2019-02-26 12:30] Avni-Sharma commented on #837
Hi @joelanford . I would like to take this up

[2019-02-26 14:12] joelanford commented on #837
I know @hasbro17 was going to begin working on this, and I'm not sure if he has started yet.

@hasbro17, can @Avni-Sharma take this off your plate?

[2019-02-26 15:37] baluchicken opened #1137 "Generate k8s command generates openAPIV3Schema where every field is required"
## Bug Report

**What did you do?**
Generated a new api with: `operator-sdk add api`
Modified generated types skeleton.
Used the `operator-sdk generate k8s`

**What did you expect to see?**
Generate a proper openAPIV3Schema where only those fields are required which are annotated with
`json:"foo,required"`

**What did you see instead? Under which circumstances?**
All my fields are marked as requir

[2019-02-26 16:04] joelanford commented on #1137
@baluchicken To mark a field as optional, you need to use either the `+optional` annotation or the json `omitempty` tag (or both).

[code]

[2019-02-26 16:10] baluchicken commented on #1137
@joelanford Thanks for the quick reply, I tried both, unfortunately it does not help.

[2019-02-26 16:18] joelanford commented on #1137
@baluchicken I successfully tested that example in a new project. Here's the CRD I was able to generate:

[code]

Are you able to share the struct you're having trouble with?

[2019-02-26 16:20] joelanford commented on #870
This was closed by #873

[2019-02-26 16:20] #870 closed

[2019-02-26 16:35] joelanford commented on #1127
@matihost The state about reconciliation periods and timing is all internal to the operator process, so when the pod restarts, it has no way of knowing when the last reconciliation happened in the previous pod process.

The reason that a reconciliation happens when the operator starts is that changes may have been made to the CR while the operator was not running, so it is important for them to be

[2019-02-26 18:08] gbaufake commented on #1101
@shawn-hurley  Added ` reconcilePeriod: 0` and I still got this issue of restarting the operator workflow.

Logs attached

[kiali-test-mesh-operator-5ddf9d5c5d-7mzrz-kiali-test-mesh-operator.log](https://github.com/operator-framework/operator-sdk/files/2906859/kiali-test-mesh-operator-5ddf9d5c5d-7mzrz-kiali-test-mesh-operator.log)

[2019-02-26 18:12] shawn-hurley commented on #1101
Yes, assuming that we are re-running reconciliation because as we starting watching the dependent resources, the queue got another event. I would expect that eventually, this would stop, but two runs are something to be expected from all operators because as you create the dependent resources, you will get reconciliation requests for the primary resource.

[2019-02-26 18:12] #1101 closed

[2019-02-26 18:14] shawn-hurley commented on #1101
We can chat on the issue here if the above explanation was not enough, but I am not considering this an issue to be fixed based on the above.

[2019-02-26 18:20] #1130 closed

[2019-02-26 21:23] baluchicken commented on #1137
@joelanford I regenerated the my whole project and this issue is gone. I just using `omitempty` and it works as desired. Thanks for your help will close this ticket.

[2019-02-26 21:23] #1137 closed

[2019-02-27 15:16] the-scott-hand commented on #1093
Oh interesting, so I could query the status in a predicate and filter out the event if the status hasnt changed? Thats pretty cool. Thanks again shawn for your help, I think this can be closed.

[2019-02-27 15:16] #1093 closed

[2019-02-27 19:23] estroz commented on #1134
@shawn-hurley @fabianvf thoughts?

[2019-02-28 02:08] #934 closed

[2019-02-28 17:06] joelanford opened #1152 "Leader election e2e test flake"
## Bug Report

**What did you do?**
Ran the e2e tests against the `master` branch

**What did you expect to see?**
All tests pass

**What did you see instead? Under which circumstances?**
The `TestMemcached/memcached-group/Cluster` test failed, seemingly related to leader election: https://travis-ci.org/operator-framework/operator-sdk/jobs/499875835#L904

**Environment**
* operator-sdk version: 82

[2019-02-28 21:49] awprice commented on #1077
You definitely need patch when updating objects that could be modified by something else, e.g. nodes and pods. A pod or node could be modified by the controller-manager (or something else) in between the Get and Update calls.

When using Get + Update to modify a field on a node, I've often had the API server reject the update request with: `Operation cannot be fulfilled on nodes \"ip-10-149-72-69.

[2019-03-01 05:18] BrianMWest commented on #1106
@joelanford Removing the `replicas` spec worked! So, if anyone else encountered the HPA issue with the helm operator, the solution is that autoscaled deployments should not set the replicas in the Deployment. Our solution is to have the spec contain `autoscaled: true|false` and if the CR is autoscaled, then use the provided value for `replicas` as `minReplicas` instead.

At this point, I think we

[2019-03-01 21:27] estroz commented on #1120
@miguelsorianod if this is indeed a bug it is in upstream [kube-openapi](https://github.com/kubernetes/kube-openapi/tree/master/cmd/openapi-gen), as we directly call that binary in `generate openapi`.

[2019-03-04 14:04] xcoulon commented on #890
I believe there is the same issue with the `go` generator when using the SDK v0.5.0:
[code]
The scope of the CRD is `Namespaced`.

[2019-03-04 14:48] #1152 closed

[2019-03-04 16:10] cwilkers opened #1164 "Using RequeueAfter in Reconcile requeues immediately"
## Bug Report

**What did you do?**

I tried to add a five second delay [here](https://github.com/cwilkers/useless-operator/blob/master/pkg/controller/useless/useless_controller.go#L132)

**What did you expect to see?**
I expected to see changes made my the Reconciler to persist for about five seconds before moving to the next iteration of the reconciler.

**What did you see instead? Under which c

[2019-03-04 16:24] cwilkers opened #1165 "Create command "version" to match style of other k8s binaries"
## Feature Request

While creating a [bug report issue](https://github.com/operator-framework/operator-sdk/issues/1164) I tried to run the `operator-sdk version` command to find it does not exist as a command, but a flag `--version`

[code]
I would like to see `version` added as a command rather than as a flag to match the look and feel of other Kubernetes ecosystem CLIs like `kubectl`, etc.

[2019-03-04 21:30] #915 closed

[2019-03-04 23:31] estroz commented on #1120
Check out this issue for more info: https://github.com/kubernetes-sigs/controller-tools/issues/139

[2019-03-05 00:37] hasbro17 commented on #1164
@cwilkers Depending on the reconcile.Result and error returned by your Reconciler the controller will decided whether or not to enqueue the key for your CR so it is processed again.
https://github.com/kubernetes-sigs/controller-runtime/blob/master/pkg/internal/controller/controller.go#L215-L229

With `RequeueAfter` you can control the delay with which the key is added for your CR.

However there i

[2019-03-05 00:42] hasbro17 commented on #1122
@shawn-hurley @fabianvf Have either of you see this issue before?

[2019-03-05 00:58] hasbro17 commented on #1165
That's a good idea.
I think it should be easy enough to change this by [adding a new cobra command](https://github.com/spf13/cobra#create-additional-commands) for `version` to the SDK binary instead of using the [--version](https://github.com/operator-framework/operator-sdk/blob/master/commands/operator-sdk/cmd/root.go#L27) flag.

Feel free to pick this up if you have time.

[2019-03-05 01:10] hasbro17 commented on #837
@Avni-Sharma The doc changes here depend on some CLI changes that need to be made as a result of #890
So I think it's probably best to wait until I can get those changes in first.

In the meanwhile you can probably pick up another issue like #1165 if you'd like.

[2019-03-05 02:52] cwilkers commented on #1164
I see what you mean; I took all the requeueing out of my controller, and the secondary watch alone seems to be forcing each iteration along as soon as possible.

Since my operator is just a toy demo (thus the "useless machine" concept) I was hoping to slow it down so observers could see the steps it performs in order. In this case, I can use the sleep function to effectively slow the execution dow

[2019-03-05 02:52] #1164 closed

[2019-03-05 08:27] Avni-Sharma commented on #1165
Hi, Can I work on this?

[2019-03-05 08:46] LiliC opened #1168 "docs: Add details on what metrics are being exposed in operator-sdk"
See https://github.com/operator-framework/operator-sdk/pull/719#issuecomment-469560391

Should we list out what exactly are the controller related metrics being recorded by the controller-runtime? And perhaps give an example of querying the endpoint to see these metrics in an example?
https://godoc.org/github.com/kubernetes-sigs/controller-runtime/pkg/internal/controller/metrics
https://github.com

[2019-03-05 09:34] Avni-Sharma commented on #837
Sure, I would go through that

[2019-03-05 13:14] matihost commented on #1127
Technically it can - just look at status section of the CR - it is the only way to figure out whether CR is in consistent state.

It is only a problem when when the reconcile period and the operator logic is taking a lot of time - and the reconciliation period is intentionally set to big value (1h or so)

For  example if there are 100 CR each of them take a minute or more to process - so restart m

[2019-03-05 13:22] matihost commented on #1122
The PR: https://github.com/operator-framework/operator-sdk/pull/1138
fixes the problem.

[2019-03-05 13:27] matihost commented on #1123
It seems it is related to transient ProjectRequest and Project object coming from OpenShift.

[2019-03-05 15:28] xcoulon commented on #837
May I suggest that the document to create also contains a comparison table of `cluster-scoped` vs `namespace-scoped` operators and `cluster-scoped` vs `namespace-scoped` CRDs?

[2019-03-05 16:35] matihost commented on #915
https://github.com/operator-framework/operator-sdk/pull/1144#issuecomment-469736537

[2019-03-05 16:42] shawn-hurley commented on #1134
yep, I totally agree we should, and will, but we actually need a change in molecule that is unreleased (which is going to be released soon). This means that for now, we need to do it this way, we are tracking this and will be making the necessary changes once molecule is released.

[2019-03-05 20:39] shawn-hurley commented on #1127
@matihost Does this mean that we can close this issue?

[2019-03-05 20:40] #1122 closed

[2019-03-05 20:53] hasbro17 commented on #890
Just going to sum up some offline discussion on the plan for supporting cluster scoped crds and how it impacts the CLI so everyone's on the same page and we can discuss any drawbacks/assumptions to the proposed approach.

We can have two flags instead of one as @joelanford suggested above in option 1
- `--cluster-scoped-operator`:
    - scaffolds an operator to watch all namespaces(`WATCH_NAMESPAC

[2019-03-05 22:38] joelanford commented on #890
@shawn-hurley @hasbro17 What's your opinion on the `--cluster-scoped-operator` flag. IMO, it's somewhat confusing, especially with the addition of `--cluster-scoped-crd`, and it's a bit limiting.

`--cluster-scoped-operator` basically says "set things up to watch all namespaces" and "give the operator permission to read/write CRs and child resource types in all namespaces". When we add support for

[2019-03-06 08:02] #1127 closed

[2019-03-06 10:20] matihost opened #1174 "Ansible opeator playbook successfull but status still running with unknown reason code"
When CR is created or reconcilled - the status or cr, and then play output are the following:

[code]

+
sometimes the message contains also:
[code]

The operator-sdk version:
[code]

Unfortunatelly there are no meaningful logs in the operator pod stdout.

PS. Nice feature by adding a symlink `latest` to the last ansible play logs!

[2019-03-06 11:12] matihost opened #1175 "The CR status timestamps are not in sync"
The ansible-operator CR status timestamps are not in sync.

In particular:
.status.conditions.lastTransitionTime not sync with .status.conditions.ansibleResult.completion
[code]

Additionally

2019-03-06T11:08:15.782885  is not valid timestamp - so that it cannot be used in CRD column as `date`.

[2019-03-06 15:54] LiliC commented on #1115
@andriisoldatenko Do you need a Dockerfile or a released image of operator-sdk? Asking as I followed the referenced PR and it seems like it would make more sense to ask for image of operator-sdk whenever we do a release?

[2019-03-06 16:09] LiliC commented on #852
Closing, if @miguelsorianod you still have a problem with this, feel free to reopen or open a new issue.

[2019-03-06 16:09] #852 closed

[2019-03-06 16:19] andriisoldatenko commented on #1115
yes it would be great to have image somewhere in dockerhub or quay.io?

[2019-03-06 16:31] LiliC commented on #1115
@andriisoldatenko do you mind either opening a new issue for this or just changing the description and title of this issue?

[2019-03-06 17:04] andriisoldatenko commented on #1115
@LiliC I'm not sure, what is the best way to create a PR for Dockerfile and/or edit CI pipeline to have somewhere?

[2019-03-06 21:29] #960 closed

[2019-03-07 05:07] eivantsov opened #1177 "Unable to decode an event from the watch stream: http2: server sent GOAWAY and closed the connection"
## Question
Might be a question to OpenShift team though.

From time to time I can see the following logs in my operator:

[code]
Does it mean that API stopped responding or there are glitches with kube client talking to API?

There's nothing special that the operator does other than watching objects and creating them.

However, I can see similar logs in other operators, for example OLM:

[code]

[2019-03-07 08:39] matihost commented on #1175
It is not, it equals to CR creation timestamp.
[code]

After first pass:
[code]

After second pass:
[code]
After third pass:
[code]

the reconciliationPeriod is 5m.

The lastTransitionTime in general is useful - showing that operator is alive ;)
But honestly I would use it to calculate calculate Ansible playbook duration (assuming it is a timestamp when Ansible play/role is run)

It would be total

[2019-03-07 09:06] matihost commented on #1174
* Removed all CRs of any kind.
* Restarted operator with: "--zap-level=debug", "--zap-encoder=console" on operator pod entrypoint
* Applied single CR - it took a sub-second to finish.
* Status:
[code]
* Last logs:
[code]

[2019-03-07 09:31] LiliC commented on #1115
cc @AlexNPavel for your opinion on the above

[2019-03-07 09:35] LiliC commented on #1177
Hello @eivantsov maybe comment with the problem on [this issue](https://github.com/openshift/installer/issues/1177 ) instead. Like you already said, I also don't think this is related to operator-sdk itself.

[2019-03-07 09:47] pastukhov opened #1178 "panic: No Auth Provider found for name "oidc" when --type helm"
## Bug Report

[code]

**Environment**
* operator-sdk version:
operator-sdk version v0.5.0+git

* Kubernetes version information:

[code]

* Kubernetes cluster kind:

Helm operator to handle logstash installations

[2019-03-07 09:52] LiliC commented on #1178
@pastukhov We support Kubernetes clusters from [version 1.11.3+](https://github.com/operator-framework/operator-sdk#prerequisites) onwards, yours seems to be `1.9.2`.

But I think you might have a problem in your operator code, how did you import `oidc`? Not sure have you seen[ this issue](https://github.com/kubernetes/client-go/issues/345#issuecomment-352139468).

[2019-03-07 10:07] eivantsov commented on #1177
@LiliC thanks

[2019-03-07 10:21] LiliC commented on #1177
@eivantsov No idea when it happens without seeing the full logs from the operator.

You can also have a look at the API server logs for more clues?

[2019-03-07 10:24] Dimss opened #1179 "Handling delete Events for Ansible operator"
## Feature Request

**Is your feature request related to a problem? Please describe.**
No

**Describe the solution you'd like**
I'd like to implement custom deletion logic on CR delete.
And I don't see any way to do it with Ansible operator.
For example, the `watches.yaml` may hold an extra field which is indicates on which event type the playbook or role should be executed.
[code]
Such functional

[2019-03-07 10:27] pastukhov commented on #1178
I'm trying to make helm operator and there is no go code at all.
I have seen issue about it.

[2019-03-07 10:27] eivantsov commented on #1177
@LiliC those are basically the logs... for a minute of so I see those server GOAWAY thing

[code]

I'll take a look at api server logs, thanks

[2019-03-07 10:30] LiliC commented on #1178
cc @joelanford as he is more familiar with helm operators.

[2019-03-07 10:32] #1177 closed

[2019-03-07 14:09] shawn-hurley commented on #1179
I think this should cover it. Please re-open if this is not sufficient and you would like to add additional features 😄.

https://github.com/operator-framework/operator-sdk/blob/master/doc/ansible/dev/finalizers.md

[2019-03-07 14:09] #1179 closed

[2019-03-07 14:22] shawn-hurley commented on #1175
I think this should be a metric, but open to adding this to the status if the community is asking for it.

I think it might make sense to make the ansible timestamp look like a k8s timestamp. This will allow you to do the things you want. I could also maybe see removing it as the transition time is the important value and having two might not be helpful.

@fabianvf @jmrodri @johnkim76 thoughts?

[2019-03-07 14:26] LiliC commented on #326
Closing this issue, as hopefully your question was answered, but feel free to open a new one in case it wasn't.

[2019-03-07 14:26] #326 closed

[2019-03-07 14:27] Dimss commented on #1179
Awesome, thanks!

[2019-03-07 14:36] LiliC commented on #462
Think this should actually be fixed now, both leader election and metrics do not fail when running locally, just log the errors. Feel free to reopen if it's still an issue.

[2019-03-07 14:36] #462 closed

[2019-03-07 16:02] jpkrohling opened #1181 ""generate openapi" fails with no explanation "exit status 1""
## Bug Report

**What did you do?**
[code]

**What did you expect to see?**
The generated openapi documentation for my operator

**What did you see instead? Under which circumstances?**
[code]

**Environment**
* operator-sdk version: 0.5.0
* Kubernetes version information: v1.13.3
* Are you writing your operator in ~ansible~, ~helm~, or *go*?

**Additional context**
This can be reproduced with the

[2019-03-07 18:12] joelanford opened #1184 "Do not expose commands/operator-sdk/cmd"
**Problem**
Users are not going to need `commands/operator-sdk/cmd` as a library, so it should not be exported.

**Proposed fix**
Move `commands/operator-sdk/cmd` -> `commands/operator-sdk/internal/cmd`

[2019-03-07 18:24] AlexNPavel commented on #1115
This wouldn't be too difficult to add, as the ansible and helm operator base images actually use the operator sdk binary as their executable. @andriisoldatenko What is the use case for this? I feel that in most cases it would be better to download and run the executable directly instead of inside a container.

[2019-03-07 18:58] joelanford opened #1186 "Prepare pkg/ansible and pkg/helm for v1.0.0 release"
**Problem**
We currently export most of the internals of the Ansible and Helm operators, which is technically unnecessary, since only the `ansible.Run()` and `helm.Run()` entrypoints and their flag parameters are used in `operator-sdk run` and in scaffolds created by `operator-sdk migrate`.

Leaving `pkg/ansible` and `pkg/helm` in their current states will make it difficult to support new features

[2019-03-07 19:51] joelanford commented on #908
@vintikzzz I'm going to close this since Helmfile support is out of scope for the current Helm operator. If you'd like to draft a proposal and contribute an implementation, feel free to submit a proposal PR or re-open this issue to discuss more.

[2019-03-07 19:51] #908 closed

[2019-03-07 20:11] joelanford commented on #1106
@BrianMWest I looked into setting the seed, and it doesn't seem possible without re-implementing (and reducing the security of) the template functions that rely on randomly generated data.

Helm uses template functions from [sprig](https://github.com/Masterminds/sprig), which [uses `crypto/rand` to generate randomness](http://masterminds.github.io/sprig/strings.html#randalphanum-randalpha-randnume

[2019-03-07 20:11] #1106 closed

[2019-03-08 05:16] joelanford commented on #1178
@pastukhov as @LiliC mentioned, your cluster versions are not supported by the Helm operator, so you will very likely need to upgrade your client and server to at least 1.11.3 to get things working.

To solve the OIDC error, we may need to update the SDK to import the package from the issue @LiliC linked in her comment.

In the meantime, if you have a go development environment setup, you may be a

[2019-03-08 18:55] AlexNPavel opened #1189 "Support JSON output for scorecard"
## Feature Request

**Describe the solution you'd like**
Add support for JSON formatted scorecard output. This would make it easier for automated parsing by CI systems.

[2019-03-08 19:03] devnulled commented on #670
Hi all.  I'm an experienced programmer and also experienced with Kubernetes, but operators and golang are both new to me.

I'm in the process of developing a hybrid operator.  I'm doing this by generating a Helm operator and then using the migrate command as I want the operator to depend on Helm templates for installs/uninstalls but write my own logic for anything outside of that.

I can keep a ru

[2019-03-08 19:38] joelanford commented on #670
@devnulled This is great timing actually. Yesterday, I opened #1186 for discussion about how to prepare the Helm and Ansible operator code for a v1.0.0 release of the SDK. The primary discussion point for that will be how we support hybrid operators.

We will likely be unexporting some of our existing packages/types/functions so that we have more flexibility to implement new features without deali

[2019-03-08 23:41] hasbro17 commented on #1181
@jpkrohling You can get a more verbose output by setting the `GOFLAGS="-v"` env for the command.

[code]

Your current problem seems to be a violation of the [name_match rule](https://github.com/kubernetes/kube-openapi/blob/master/pkg/generators/rules/names_match.go#L54-L76).
kube-openapi name validation rules expect the field name in Go code and field name in json to be exactly same with (Go code

[2019-03-09 21:56] raffaelespazzoli opened #1191 "unable to generate controller for the core group"
## Bug Report

**What did you do?**
A clear and concise description of the steps you took (or insert a code snippet).
here is the command I issued and corresponding error:
[code]

**What did you expect to see?**
A clear and concise description of what you expected to happen (or insert a code snippet).
controller correclty generated

**What did you see instead? Under which circumstances?**
A clear

[2019-03-11 16:17] andriisoldatenko commented on #1115
@AlexNPavel CI/CD pipelines e.g. circleci, travis ask you to run everything in container, and I was wondering to have operator-sdk in container, similar to another open source tools.
Also I would like to have official Dockerfile/docker image rather than reuse custom dockerhub name.

Another good point, I can use `operator-sdk:latest` image in my CI, and it will automatically fetch latest version f

[2019-03-11 22:36] hasbro17 commented on #1115
@andriisoldatenko Contributions are always welcome but there's a few things that we need to consider before proceeding.

Firstly the base image for this container with the SDK binary needs to have all the dependencies installed to be able to run the binary as a local operator via `operator-sdk up local` inside the container.
So essentially it has to be a superset of all the dependencies required f

[2019-03-11 23:16] hasbro17 commented on #1191
@raffaelespazzoli Thanks for reporting the issue.

We have [the check for group names](https://github.com/operator-framework/operator-sdk/blob/master/pkg/scaffold/resource.go#L126-L129) to prevent users from adding single group names for their CRDs.
From the kubernetes [API conventions guidelines](https://github.com/kubernetes/community/blob/master/contributors/devel/sig-architecture/api-conventio

[2019-03-12 09:09] patst opened #1196 "No Auth provider found for name "azure""
## Bug Report

**What did you do?**
I'm trying to run `operator-sdk up local` to test my developed operator.
The kubernetes cluster is running with Azure AKS and uses RBAC authorization with Azure AD.

**What did you expect to see?**
I'm expecting to be able to use the local operator.

**What did you see instead? Under which circumstances?**
I'm getting this exception after running the `operator-s

[2019-03-12 13:11] marcomancuso opened #1197 "Watch Readiness/Liveness on Secondary Resource"
## Type of question

how to implement a specific feature

## Question

Is it possible to trigger the reconcile function on change of ready/not ready of a pod?
Do I need a specific watcher?
How would I catch this event inside the Reconcile?

**Environment**
* operator-sdk version: v0.5.0+git

* Kubernetes version information:

Client Version: version.Info{Major:"1", Minor:"10", GitVersion:"v1.10.11

[2019-03-12 13:41] nrvnrvn opened #1198 "operator-sdk new should not git commit"
## Feature Request

**Is your feature request related to a problem? Please describe.**
Current behavior of the `operator-sdk new` command tries to initialize the repo and even write an initial commit.
This may seem cool and convenient at first glance but actually it does not work in scenarios where `git commit` is not intended to be run unattended. For example:
[code]
**Describe the solution you'd

[2019-03-12 14:18] joelanford commented on #1198
@nrvnrvn The scenario you mentioned seems to be the exception, rather than the norm, and we _think_ most users find it helpful having a clean untouched project from which to begin working and to which they can revert, if necessary.

As you alluded to, you can use `operator-sdk new --skip-git-init` if an initial git commit is undesirable.

There was some discussion in the [original PR](https://gith

[2019-03-12 14:28] joelanford commented on #1196
@patst Thanks for the bug report. We received a similar report about the Helm operator with the `oidc` plugin, so we'll definitely look into it. If you have a Go environment setup, you might find the [workaround I mentioned in #1178](https://github.com/operator-framework/operator-sdk/issues/1178#issuecomment-470807971) helpful.

[2019-03-12 16:24] rafik8 opened #1200 "Maturity model accuracy"
## Type of question

**Are you asking about community best practices, how to implement a specific feature, or about general context and help around the operator-sdk?**
General context question

## Question

**What did you do?**
Explore the operator maturity model: https://github.com/operator-framework/operator-sdk/blob/master/doc/images/operator-maturity-model.png
**What did you expect to see?**
I

[2019-03-12 20:36] joelanford commented on #1200
/cc @dmesser @robszumski

Thoughts?

[2019-03-12 20:51] joelanford commented on #1200
For what it's worth, I think I agree, but it depends on what we mean by "Seamless Upgrades."

If it means "A user can update the version of an image reference in their CR, and the operator will roll that new version out," then I agree that the Helm operator supports that (if the Helm chart supports it).

@rafik8 do you have a specific example in mind that supports bumping the Helm operator maturit

[2019-03-12 21:06] joelanford commented on #500
@eivantsov Closing this since it looks like you were able to resolve your issue.

[2019-03-12 21:06] #500 closed

[2019-03-12 21:10] jayunit100 commented on #1094
Definetly need this as well

[2019-03-12 21:11] joelanford commented on #293
@shawn-hurley I agree, this is an issue with go tooling and not something operator-sdk can fix.

[2019-03-12 21:11] #293 closed

[2019-03-12 21:18] joelanford commented on #1094
@jayunit100 could you explain your use case? Are you able to use the templating workaround I mentioned in my previous comment?

I'd just like to make sure we understand the use cases so we can get the design right when we're in the position to do this.

[2019-03-12 21:19] gbaufake opened #1201 "Ansible Operator Playbook is running twice"
## Bug Report

**What did you do?**
- Created an ansible operator (https://github.com/kiali/kiali-test-mesh/pull/41) and ran it on openshift

**What did you expect to see?**
- CR playbook should only run one time (lo
[kiali-test-mesh-operator-8ddfc8fc5-pljpj-kiali-test-mesh-operator.log](https://github.com/operator-framework/operator-sdk/files/2958830/kiali-test-mesh-operator-8ddfc8fc5-pljpj-kiali

[2019-03-12 21:26] joelanford commented on #263
@devdattakulkarni just checking in to see if you've had time to update (or if you're still interested in updating) any descriptions or diagrams? If not, no worries!

[2019-03-12 22:21] dmesser commented on #1200
I think it comes down to what level of complexity can handled with an upgrade. If it is really just a changing an image tag then this could be handled with a `Deployment` as well.
What makes an Operator leverage built-in, application-specific logic are upgrades where orchestration needs to occur. This could be either in the form of pre- and post-upgrade activities on a single application instance

[2019-03-12 22:22] rafik8 commented on #1200
@joelanford, I totally agree that it depends on the definition of “Seamless Upgrades”. The current definition of it (as of the maturity model) is : “Patch and minor version upgrades supported” and Helm support that.  As a practical example, I was been able to incrementally upgrade from Istio 1.0.1 to 1.0.6 using Helm.
If we add major version upgrade to the definition, Helm will not fit into that a

[2019-03-12 22:27] dmesser commented on #1200
@rafik8  Thanks for testing that with helm. I thin we need to be clearer in our verbage for Phase II and call out the application-specific orchestration happening there. Because this differentiates an Operator from simple rip-and-replace updates and may occur regardloess of major and minor upgrades.
The EtcdOperator for instance will still do a rolling update, even in case of minor version jumps.

[2019-03-12 23:46] joelanford commented on #1200
@dmesser Just as another data point, Helm does support [chart hooks](https://github.com/helm/helm/blob/master/docs/charts_hooks.md), which can do some rudimentary application-specific orchestration based on release lifecycle events. They're not widely used though (only 21 of the 266 charts in the `stable` repo use non-test hooks).

[2019-03-13 06:57] patst commented on #1196
Thanks for the mentioned workaround. I got it working and looking forward to see it fixed!

[2019-03-13 14:14] vchande opened #1202 "Helm operator not honoring helm hooks."
## Bug Report

**What did you do?**
A clear and concise description of the steps you took (or insert a code snippet).

**What did you expect to see?**
A clear and concise description of what you expected to happen (or insert a code snippet).

**What did you see instead? Under which circumstances?**
A clear and concise description of what you expected to happen (or insert a code snippet).

**Enviro

[2019-03-13 15:23] gbaufake commented on #1201
I moved to 0.5.0 and I still see this issue

[2019-03-13 15:24] gbaufake commented on #1201
cc @shawn-hurley

[2019-03-13 15:34] raffaelespazzoli opened #1203 "generate api fails with no explation"
## Bug Report

**What did you do?**
A clear and concise description of the steps you took (or insert a code snippet).
I run the following command:
[code]

**What did you expect to see?**
not sure it never worked correctly. Although I would expect the zz_generated_openapi.go file to be updated and also the CRD definition to be updated.

**What did you see instead? Under which circumstances?**
A cle

[2019-03-13 16:41] #1202 closed

[2019-03-13 16:43] petro404 opened #1204 "subresource Object is deleted but still available"
## Type of question

How to implement a specific feature
## Question

**What did you do?**

I created a watch for sub resource(configmap) that is not created as part of the reconcile flow.
Once this resource is deleted  reconcile flow is being called so i am trying to check if the configmap
is deleted but somehow the client get method return that the DeletionTimestamp is zero.
my concern that it t

[2019-03-13 18:08] hasbro17 commented on #1203
@raffaelespazzoli You can get the verbose output via `GOFLAGS="-v" operator-sdk generate openapi` to show the errors for now.

I've mentioned this in #1181 that we need to update the default verbosity to show all errors on failure. I'm going to close this issue and follow up in #1181

[2019-03-13 18:08] #1203 closed

[2019-03-13 21:31] JohnStrunk opened #1206 "File permissions in Helm operator container"
## Bug Report

**What did you do?**
I created and built the scaffolding for a Helm operator, but the file permissions inside the container are such that the chart and `watches.yaml` are unreadable.

Steps:
[code]

Taking a look inside the resulting image:

[code]

**What did you expect to see?**
The chart & watches file should be readable by the userid that is running in the container.

**What did

[2019-03-14 15:27] shawn-hurley commented on #1201
This is the expected behavior of an operator. Your reconcile loop should be idempotent and can be run more than once. There is no way to guarantee that your playbook will only be run one time. What is most likely happening is that somehow your CR is being changed and causing a reconcile. There is no expectation that your operator will only run one time because there is no way to enforce this in ev

[2019-03-14 15:27] #1201 closed

[2019-03-14 16:30] joelanford commented on #1206
@JohnStrunk Thanks for the bug report. I was able to reproduce and agree this is something we should be able fix from the operator-sdk.

Which version of docker are you using? In 17.09+, the `COPY` command supports a `--chown` flag. I'm wondering if you can use this in your Dockerfile:

[code]

If that works, maybe we should consider using that in our Dockerfile template and bumping our Docker ver

[2019-03-14 16:59] petro404 opened #1208 "Auto generated CRD to golang struct"
## Feature Request

Auto generated CRD to golang will be very useful while integration between 2 operators ,so in case we have one operator written in java and another written in go.
we can take the java crd input and auto generated golang struct so the operator SDK will generate the appropriate golang struct.
This feature is very useful so in case the java operator crd is changing its auto genera

[2019-03-14 19:17] #1174 closed

[2019-03-14 19:34] JohnStrunk commented on #1206
Those changes worked for me, though I'm using `go+rx` & `go+r` in the event the environment forces a non-zero gid.

I'm a bit unhappy about having to hardcode the uid of 1001 in the chown since that requires knowledge of how the base container is built. I tried `${USER_UID}` (which seems a bit less ugly), but it looks like docker won't substitute the variable in the chown option.

Thanks for looki

[2019-03-14 19:53] joelanford commented on #1206
I agree. Would it be more palatable if we created a user entry in `/etc/passwd` for uid 1001, so that we could make it something like `--chown=helm-operator:root`?

That would still require knowledge about which users are present in the base container, but that seems better than a uid.

[2019-03-14 21:18] JohnStrunk commented on #1206
I agree, that looks better.

As for the name, when the container is actually run, `entrypoint` adds user "helm" to the password file. It seems like the build-time and run-time usernames should be noticeably different since the uids are unlikely to coincide in practice. Perhaps: `helm-builder` or `container-builder` to distinguish it from the `helm` user at run-time.

[2019-03-15 11:35] nrvnrvn commented on #1198
read through the initial PR. Git init is actually helpful.
committing everything is questionable though.

[2019-03-15 11:46] nrvnrvn opened #1212 "operator-sdk generate openapi ignores +kubebuilder:printcolumn"
## Bug Report

**What did you do?**
added the following annotation:

[code]

**What did you expect to see?**
Expected to see it in the generated CRD.

**What did you see instead? Under which circumstances?**
[code]

**Environment**
* operator-sdk version:
operator-sdk version v0.5.0+git

* Kubernetes version information:

Client Version: version.Info{Major:"1", Minor:"13", GitVersion:"v1.13.4", Gi

[2019-03-15 17:41] nickboldt opened #1213 "Could GPLv3 code be removed / relicensed under ASL 2.0?"
## Bug Report

You've got a file in the repo which has a GPLv3 license on it, but everything else in here is Apache 2.0.

**What did you do?**

I tried to submit this code to the Eclipse Foundation via their CQ/ipzilla process, and this one file was rejected because GPL is scary.

**What did you expect to see?**

Since the LICENSE file in this repo is Apache 2.0, I expected that everything in the

[2019-03-17 13:56] raffaelespazzoli opened #1216 "add support for finalizers"
Sorry the template for a feature request got lost when I changed the type from bug...
I'd like to request support for finalizers.
Some CRD type need to do complex cleanup via a finalizers.
The operator sdk could provide support for it with the following:
1. optional flag in the `operator-sdk add controller` to specify that code to support finalizer for that type should be generated.
2. add logic t

[2019-03-17 14:03] raffaelespazzoli opened #1217 "Support validating admission webhooks"
## Feature Request
Some CRs need validation that goes beyond the syntactic validation provided by the openapi fields.
Please add a facility to the operator-sdk to manage this situation. From a developer perspective a stub validation method should be generated and the developer needs to fill it up. If the CR does not pass validation then an error (or false) is returned. Requesting the generation th

[2019-03-17 14:07] raffaelespazzoli opened #1218 "Support for defaulting of CR fields via mutating admission webhooks"
## Feature Request
Some CRs need a way to set some fields to default values.
Please add a facility to the operator-sdk to manage this situation. From a developer perspective a stub field defaulting method should be generated and the developer needs to fill it up. Requesting the generation the generation of this method should be optional for the `operator-sdk generate controller` command

**Is your

[2019-03-18 05:17] saamalik opened #1219 "Why declare and initialize ignored variable like Reconciler?"
## Type of question

**Are you asking about community best practices, how to implement a specific feature, or about general context and help around the operator-sdk?**
Yes, I think so

## Question

Hey guys - just a silly question, but I was wondering why both kubebuilder and operator-sdk generate this empty, ignored variable:

[code]

It's seen in the `memcached_controller.go` but I believe I've

[2019-03-18 13:09] shawn-hurley commented on #1219
This is so that the compiler can check that the `ReconcileMemcached` type still conforms to the `reconcile.Reconciler` interface. If you remove the ` Reconcile` function you can see that the compiler says that the `ReconcileMemcached` does not conform to the reconcile.Reconciler.

Going to close, and we can continue the discussion on this PR if you have more questions, or you can re-open if you th

[2019-03-18 13:09] #1219 closed

[2019-03-18 13:58] themr0c opened #1221 "Wait for the Kubernetes API to become available fails on an IPv6 enabled host"
## Bug Report

On an IPv6 enabled host, kind will start listening on  `:::10443` instead of `localhost:10443`

[code]

[code]

As a consequence this task will fail:

[code]

Possible solution: During the creation of the kind container, we should force it to listen on IPv4 interface.

**What did you do?**

1. Foilow https://github.com/operator-framework/operator-sdk/blob/master/doc/ansible/user-gui

[2019-03-18 16:06] saamalik commented on #1219
Ok thanks, @shawn-hurley. In this specific `Reconciler` case, the compiler also has another place to verify, e.g:

[code]

but I guess the black hole trick is useful in other areas. Thanks!

[2019-03-18 17:30] gbaufake commented on #1201
@shawn-hurley
In my case, my playbooks are idempotent so is not a problem running twice.
I just want to understand what causes this behavior since there no modification of CR

[2019-03-18 17:39] miguelsorianod opened #1222 "operator-sdk generate openapi fails when json name does not match attribute name"
Hi,

We have installed operator-sdk v0.6.0 and we have observed the problem that when you define an attribute in the *Spec struct of a defined API type and the attribute name differs from its json struct tag name, the `operator-sdk generate openapi` command fails, whereas that did not happen in older versions that we were using.

An example of the error we observe in that case is:
[code]

Investig

[2019-03-18 17:59] shawn-hurley commented on #1201
There could be many reasons:
1. The operator pod restarts will trigger a reconcile.
2. Reconcile period (requeue after) could be set which cause this
3. I wonder if the spec is changed due to the operator code. We had some code that should be removed in 0.6.0 which might have caused this if the initial CR didn't have a spec.
4. Something in the cluster could trigger this by changing a label or ann

[2019-03-18 18:08] gbaufake commented on #1201
Ok.
It does make sense.
Was your code incorporated on 0.6.0 release?

I can try and let you know if there any difference.

[2019-03-18 19:08] shawn-hurley commented on #1201
It should be if you use the 0.6.0 base image that should work thanks for testing!

[2019-03-18 19:45] #1178 closed

[2019-03-18 19:45] #1196 closed

[2019-03-18 23:20] hasbro17 commented on #1197
@marcomancuso When you watch a resource in your controller the reconcile loop will get triggered for any kind of update for an instance of that resource type.

If you're watching pods as your primary resource with `handler.EnqueueRequestForObject` such that your reconciler receives the keys for Pod objects then you can simply observe the ContainerStatus field of the Pod object in your reconcile lo

[2019-03-18 23:26] hasbro17 commented on #1191
@estroz Just pinging again to get your input before I make the fix which should be a small one.

[2019-03-19 00:06] hasbro17 commented on #1212
@nrvnrvn Thanks for reporting this. I was able to confirm this bug. Doesn't seem to be an upstream bug.
**Side note:** This doesn't relate directly to kubebuilder. It's the crd generator from the [controller-tools](https://github.com/kubernetes-sigs/controller-tools) repo that both kubebuilder and operator sdk are using.

I think this is probably due to the way we regenerate and only append the `v

[2019-03-19 01:57] etsauer opened #1225 "Trouble writing tests when using OpenShift Routes"
## Type of question

I'm trying to build a test suite for a controller for OpenShift Routes

## Question

**What did you do?**
I followed the [Test Framework Documentation](https://github.com/operator-framework/operator-sdk/blob/master/doc/test-framework/writing-e2e-tests.md) and the [memcached sample](https://github.com/operator-framework/operator-sdk-samples/tree/master/memcached-operator) to tr

[2019-03-19 07:14] prometherion opened #1226 "How to generate RBAC files from CLI"
## Type of question

Update the RBAC according to `kubebuilder` annotations.

## Question

**What did you do?**

I accidentally delete the `deploy/role.yaml` and `deploy/role_binding.yaml` files: so I thought that just a `operator generate k8s` could be enough to regenerate them but seems not.

**What did you expect to see?**

A brand new or updated RBAC files (_Role/ClusterRole_ and _RoleBinding/

[2019-03-19 20:18] hasbro17 opened #1227 "User docs for gen-csv cmd"
The CSV generation command `operator-sdk gen-csv` has certain assumptions and a specific workflow in how it updates only certain fields of the CSV manifest and uses certain manifests as the source of truth for updates.

Most of this behavior is what was discussed in the original [design doc](https://github.com/operator-framework/operator-sdk/blob/master/doc/design/milestone-0.2.0/csv-generation.md

[2019-03-19 22:52] bah2830 opened #1229 "leader.Become() using bad error checks"
## Bug Report

**What did you do?**
When using leader.Become with `operator-sdk up local` the namespace not found error is not checked correctly resulting in an error

**What did you expect to see?**
Log line `log.Info("Skipping leader election; not running in a cluster.")` get hit

**What did you see instead? Under which circumstances?**
Before Jan 11 2019: No error as it's ignored
After Jan 11 2

[2019-03-20 10:49] rodesousa opened #1230 "Third Party Resources empty list"
## Question

Do you have a kind of "cache" for Third Party Resources ?

**What did you do?**

I make an operator with the sdk and i have a problem when I import Third Party Resources (TPR). When I watch any objects, in the `Reconcile` func, i want to have a list of TPR that imported. But the list is always empty except when i add or update one TPR during the watch. After when i stop and re-start t

[2019-03-20 13:20] LiliC commented on #1225
@etsauer
From first glance, I can't see anything obviously wrong. What do you do on this line 78:

[code]

[2019-03-20 16:48] snarlysodboxer opened #1231 "Cannot disable leader election"
## Bug Report

**What did you do?**
I generated a new operator, then disabled leader election in `cmd/manager/main.go` with
[code]
then built the binary and started two copies of the operator in a k8s cluster, and it still performs leader election.

**What did you expect to see?**
No leader election in the logs.

**What did you see instead? Under which circumstances?**
One copy of the operator bec

[2019-03-20 18:42] AlexNPavel opened #1233 "Reduce number of global variables in scorecard"
The scorecard currently has a large number of global variables. This makes the code a bit difficult to understand and easier to break. Global variables should be removed and functions updated to support more arguments for these variables.

[2019-03-20 19:34] #1165 closed

[2019-03-20 19:46] etsauer commented on #1225
@LiliC That's just the error message, the actual error seems to be generated from:

https://github.com/etsauer/cert-operator/blob/upgrade-sdk/test/e2e/cert_test.go#L76

[2019-03-20 19:49] luszczynski opened #1234 "Health Check (Liveness and Readiness probe for Operator)"
**What did you do?**

 I've created a new ansible operator using:

[code]

**What did you expect to see?**

I expect to see a deployment object using liveness and readiness probe to check the health of my operator.

The file is `gogs-operator/deploy/operator.yaml`

[code]

**What did you see instead? Under which circumstances?**

A deployment without liveness and readiness probe.

**Environment**

[2019-03-20 20:00] joelanford commented on #1231
@snarlysodboxer Does your `main.go` file also have the following lines (around line 78)?

[code]

If so, that is what you should remove. You can also remove the `LeaderElection: false` line in the` manager.Options` struct if you'd like, because it is disabled by default in the controller-runtime manager.

[2019-03-20 20:03] #263 closed

[2019-03-20 20:21] joelanford commented on #1229
@bah2830 What version of operator-sdk are you using? With `v0.5.0` and `v0.6.0`, I'm seeing the "Skipping leader election" line in my log output when I run `operator-sdk up local` against a new go operator project.

[2019-03-20 20:48] joelanford commented on #1226
@prometherion operator-sdk currently generates a static role and role binding when the operator project is created during `operator-sdk new` and appends to the role when new apis are added during `operator-sdk add api`. It does not currently support regenerating the RBAC files from kubebuilder annotations.

If you're not able to restore your files from git you'll have to recreate them manually. Yo

[2019-03-20 21:01] joelanford commented on #1216
@raffaelespazzoli There is related discussion in #460 and there is a proposal PR open in #489. In the interest of keeping the discussion in one place, would you mind contributing your ideas there?

You may notice there hasn't been much discussion lately, but we are definitely interested in adding better support for finalizers (and we'd happily accept contributions to the proposal and eventual impl

[2019-03-20 21:01] #1216 closed

[2019-03-20 21:33] AsherShoshan commented on #955
LiLiC, So have you got an answer for your question?  I have the exact one. How to know the event type.
Mostly for update one for access oldObj and newObj, compare and decide what to do in reconciliation loop.

[2019-03-21 02:19] jmrodri commented on #1184
Do we have a huge problem of people using code in this project? I've never really seen things in `internal` until this project.

[2019-03-21 02:21] jmrodri commented on #1186
I'd like to understand more about this. What is considered a public API? how are is the API expected to be used?

[2019-03-21 02:23] snarlysodboxer commented on #1231
@joelanford Thank you! That was it. It's working as expected now. Thanks again!

[2019-03-21 02:23] #1231 closed

[2019-03-21 05:24] yaminisridaran commented on #955
HI LiLiC,
Operator sdk considering Add and Update event as same. We need to
differentiate between the Add and Update events either by using status (or)
if you are using like external service to be update we need to use http api.
Delete event we can identify using finaliser. When Delete event is
triggered  DeletionTimeStamp is non Zero. This DeletionTimeStamp is Zero in
Add and Update events.

Than

[2019-03-21 15:24] rodesousa commented on #1230
I have tried a new client without cache:

[code]

but always 0 result :(

[2019-03-21 15:52] joelanford commented on #1186
In Go, an identifier is public if it is exported (begins with a capital letter) and is in a package tree that doesn't contain an `internal` directory in its path.

IMO, I would consider all public identifiers to be part of our public API (since that's what the `go` toolchain considers public) and subject to our backwards compatibility guarantees.

There's some discussion about this starting [here]

[2019-03-21 21:44] shawn-hurley commented on #1230
Are you seeing any errors or is the list just always empty?

any chance you could make a reproducer repo that I can try?

[2019-03-22 09:56] LiliC commented on #1234
cc @shawn-hurley @jmrodri as it's an ansible operator enhancement issue ^

[2019-03-22 10:02] LiliC commented on #1222
Not sure this is an issue with operator-sdk, think this might be an issue with `openapi-gen` itself, but cc @estroz as he worked on openapi in operator-sdk IIRC, and might have more insight into the above issue.

[2019-03-22 10:11] LiliC commented on #1208
If I understand correctly you want a custom resource struct to be generated for you based on java equivalent input? Not sure we currently have plans to add support for java operators, but can you elaborate a bit on that, what would the end result look like and what would the input be.

[2019-03-22 12:11] rayanebel commented on #1230
Hello @shawn-hurley,

I'm working with @rodesousa on this project.
So, we don't have any error messages only empty list when we try to GET/LIST third party resources (for Core ressources it's working).

I create a repository as an example : https://github.com/rayanebel/rancher-operator
I put some comments on your attention.

For your information we try to GET/LIST resources from Rancher, we import

[2019-03-22 12:44] luszczynski commented on #1234
@LiliC
Maybe we should extend this issue to other kind of operators. All operators should have liveness and readiness out of the box IMO.

[2019-03-22 13:04] riccardomc commented on #560
I'd be also interested in this.

[2019-03-22 17:04] joelanford commented on #1234
@Lili @luszczynski We actually used to have a default readiness check but it (in combination with leader election) interfered with rolling out operator deployment updates. See #920 and #932.

If we reintroduce these (or similar) checks, we need to make sure we don't have a regression with the operator deployment rollout issue.

[2019-03-22 18:09] aravindhp commented on #560
I also ran into this went wanting to change the `Group` and `Version` of my operator's CRD  operator-framework/operator-marketplace#139. It is also preferable to be able to handle both versions in the same operator allowing code to be shared.

[2019-03-22 21:26] devnulled commented on #670
I think whatever problems I was having were somehow environment related, or maybe my dep cache being corrupted, not sure.  I eventually ended-up clearing out dep, updating the operator-sdk again, regenerating a project, and then converting it to a hybrid one again and it worked just fine.  I wanted to make sure I wasn't doing something wrong before commenting here again and glad I did.  So the iss

[2019-03-24 04:29] kfox1111 opened #1237 "Ansible pod watch"
## Question

**What did you do?**
I want to create a low level controller like a statefulset. It would watch a cr and spawn pods itself using ansible. If the pod changed/died/etc then ansible would trigger again and put it back.

**What did you expect to see?**
Some documentation explaining how to do this. So far as I can tell it can only watch it's cr.

Is this possible? If not, then this is a fe

[2019-03-24 04:36] kfox1111 opened #1238 "Helm value maping"
## Feature Request

It is not always possible to have a clean values api with helm (when you nest charts for example)

It would be good if the operator could have a step in between the cr and values that let's the operator developer  modify values on the way from cr. For example duplicating a value into multiple places.

[2019-03-25 14:44] shawn-hurley commented on #1234
@luszczynski Thanks for the request! I think this makes sense to tackle in a future sprint.

[2019-03-25 21:48] andrewwebber opened #1240 "CRD Upgrade Lifecycle Documentation"
## Feature Request

**Is your feature request related to a problem? Please describe.**
I would like to have documentation assurances about going through revisions of an initially deployed CRD

**Describe the solution you'd like**
The memcached/nginx examples would be even better if it walked through the following:
- deploy v1 of an operator and CRD
...
- deploy v2 of an operator and CRD

[2019-03-25 22:23] hasbro17 commented on #1213
I don't know too much about GPL but if it's not okay for us to remove the license header then it's probably not okay for us to add it in the first place to an Apache 2.0 licensed project.

From the [note on Apache 2.0 and GPL v3 compatibility](https://apache.org/licenses/GPL-compatibility.html):

@fabianvf Is it possible to do without copying that test file as is?

/cc @robszumski @dmesser Can you

[2019-03-25 22:49] hasbro17 commented on #1217
This has been discussed on prior issues(#1038 #269 ) before but we can consolidate the feature request to this issue.

Validation should be done via the controller-runtime's [webhook server](https://godoc.org/github.com/kubernetes-sigs/controller-runtime/pkg/webhook) and [webhook handler](https://godoc.org/github.com/kubernetes-sigs/controller-runtime/pkg/webhook/admission) APIs.
Examples:
https:/

[2019-03-25 23:02] hasbro17 commented on #1218
As discussed in https://github.com/operator-framework/operator-sdk/issues/1217#issuecomment-476407298 we'll be using the upstream controller-runtime APIs for mutating admission webhooks.
Example:
https://github.com/kubernetes-sigs/controller-runtime/blob/5e3a6da770e2f16f8ce9b0905eaa74974fe7a4c0/examples/builtins/mutatingwebhook.go

We just need to add the scaffolding,docs and examples.

[2019-03-25 23:06] hasbro17 commented on #269
Closing this in favor of #1217 and #1218
We'll track the feature requests for adding scaffolding/docs for validating and mutating admission webhooks over there.

[2019-03-25 23:06] #269 closed

[2019-03-25 23:36] etsauer commented on #1225
Bumping this thread. Any thoughts or feedback? Any other info that would be useful?

[2019-03-26 00:16] hasbro17 commented on #1240
We don't have a defined workflow for upgrading CRD versions right now so we'll need to define that first.
Beyond having documentation and CLI support in the SDK to upgrade the generated CRDs and API definitions for a new version, we will most likely be leveraging the upstream controller-runtime conversion webhook APIs to support upgrading CRDs whenever that lands.
https://github.com/kubernetes-sig

[2019-03-26 05:54] hasbro17 commented on #1225
@etsauer I think this has to do with how the SDK's test framework expects to parse the namespaced manifests(i.e RBAC and Deployment manifests) in order to deploy your operator before running your tests.

So this might have something to do with how your [deploy/operator.yaml](https://github.com/etsauer/cert-operator/blob/upgrade-sdk/deploy/operator.yaml) manifest is a List of resources instead of t

[2019-03-26 08:50] rayanebel commented on #1230
Hello @shawn-hurley @LiliC,

Do you have any news about our problem ?

[2019-03-26 13:14] shawn-hurley commented on #1230
@rayanebel I had a hard time finding how the ProjectList type is added to your cluster. Sorry if I am misunderstanding the bug.

[2019-03-26 13:16] etsauer commented on #1225
@hasbro17 I just tried replacing the existing operator.yaml with a new, simpler one that follows the conventions:

[code]

The result looks to be the same:
[code]

[2019-03-26 13:19] chiefy opened #1244 "Reconciler error: "invalid pkt-len found""
## Bug Report

**What did you do?**
Trying to run my operator locally and getting an error upon deploying a custom resource manifest example (during reconcile).
[code]

**What did you expect to see?**
Reconcile completes, or errors w/ stack-trace referencing my own operator logic

**What did you see instead? Under which circumstances?**
[code]

**Environment**
* operator-sdk version:v0.6.0+git

*

[2019-03-26 13:22] rayanebel commented on #1230
@shawn-hurley Do you have a chat like **Slack** where we can talk maybe we can make a share screen just to show you how it's working from my computer and how my k8s cluster looks like. Maybe it's can be helpful for you ?

[2019-03-26 13:24] shawn-hurley commented on #1230
Kubernetes slack: shurley, or in `#kubernetes-operators` work for you?

[2019-03-26 13:29] #1244 closed

[2019-03-26 13:30] chiefy commented on #1244
Upon doing some tests, I think this is an issue w/ some stuff I am doing inside my controller, though it'd be nice if the stack trace allowed for better bubbling of exactly where it was coming from.

[2019-03-26 13:39] dmesser commented on #1213
@hasbro17 don't think we avoid or steer clear of GPLv3. As a project we should keep it to one license though.

[2019-03-26 13:49] fabianvf commented on #1213
This file is mislicensed, slipped through code review. I'm the author and will update the license properly. My apologies for the oversight.

[2019-03-26 15:42] nickboldt commented on #1213
Great, thanks!

[2019-03-26 15:47] ArjonBu opened #1246 "Ansible operator fails with errors"
## Bug Report

**What did you do?**
I am writing an ansible operator https://gitlab.com/ArjonBu/mautic-operator
I created the CRD. Deployed all manifests related to operator.
Deployed one custom resource and the operator pod gives errors.

**What did you expect to see?**
I expected the object pod to start running.

**What did you see instead? Under which circumstances?**
The deployment of the cust

[2019-03-26 17:59] joelanford commented on #1238
@kfox1111 I may be misunderstanding your question, but it sounds like you're trying to figure out how to share and pass values around to subcharts, which [Helm supports natively](https://github.com/helm/helm/blob/master/docs/chart_template_guide/subcharts_and_globals.md).

Those features _should_ work with the helm-operator as well.

[2019-03-26 18:15] kfox1111 commented on #1238
yes/no...

chart values often can only be read by a subchart based on a subsection of values based on the subchart name. This is often problematic when the subchart is written by someone other then the person writing the main chart.

For example, there is currently no way to map one value going in, to one or more values on the chart.

For example, take this instantiation of a helm chart we current

[2019-03-26 18:19] joelanford opened #1249 "Add homebrew formula update to release process"
In #1224, we added instructions on installing `operator-sdk` using Homebrew. Since we now officially declare support for the [operator-sdk homebrew formula](https://github.com/Homebrew/homebrew-core/blob/master/Formula/operator-sdk.rb), we should include a step in our release process to keep the formula up-to-date.

The `brew` command line tool has a simple way of handling this with:
[code]
And we

[2019-03-26 18:41] AlexNPavel commented on #1225
@etsauer
Hello. I looked at your repo and our test framework and identified the problem. The issue is that we split YAML files using `---` lines. We used to check the size of each element that we got from the split when this would happen to avoid issues with empty strings (such as is a file started with `---`), but it looks like we're not properly checking that anymore. I'll look into this to see

[2019-03-26 19:40] etsauer commented on #1225
@AlexNPavel ok, thanks. That got me further.

[2019-03-26 20:11] joelanford commented on #1229
@bah2830 Just following up to see if you are still experiencing this issue? If so, please feel free to re-open.

[2019-03-26 20:11] #1229 closed

[2019-03-26 21:45] joelanford commented on #1238
@kfox1111 It does. Thanks. And I can definitely see how that would be useful for subcharts authored and maintained outside of your control.

However, I'm hesitant to add this feature since the Helm operator is basically a light wrapper around the Helm install, upgrade, uninstall workflow and the CR `spec` maps directly to the `--values` file. In general, we want to keep the Helm operator aligned w

[2019-03-26 23:01] andrewwebber commented on #1240
Other examples include new available values in a helm chart when using the helm operator.

Presumably in such a case a new CRD is required

[2019-03-27 07:26] MengZn opened #1254 "We should need an event return"
## Type of question

This  question is around the operator-sdk.

## Question

**What did you do?**

We can get the return of the event etc Create,Delete ...

**What did you expect to see?**

If we design an action here, we can know the state of the current resource.
[code]

**What did you see instead? Under which circumstances?**
By passing the action through the handler, the user can know the cur

[2019-03-27 09:11] vchande opened #1255 "Helm v3 support"
I am very curious about what is the plan for helm-operator support with helm v3 coming out.
Are there any plans or active discussions about this?

Before I choose to adapt to operator SDK with helm operator I would like to understand what is the support for helm v3. this can help me in designing an operator for me

[2019-03-27 11:38] marcomancuso opened #1256 "How to create Operator Docker image without Docker (and using Kaniko)?"
## Type of question

**help around the operator-sdk**

## Question

I need to build the Operator Docker image in Jenkins in Kubernetes using Kaniko, but the current SDK needs the Docker Deamon to create the image.
I was hoping I could run `operator-sdk build ` to just compile the operator without creating the image, but without Docker daemon, it would build the operator and then fail with
[code]

[2019-03-27 13:10] #1213 closed

[2019-03-27 13:14] LiliC commented on #1255
@vchande
You mention:

I am curious when Helm 3 release is scheduled to happen? I have been hearing a lot about it, but never an actual release date for it. Do you know more about an actual release date? End of last year they still said it's in early development stages.

cc @joelanford

[2019-03-27 13:18] vchande commented on #1255
@LiliC I am following the listing messages. it's not that soon but I am looking at what are the plans from operator SDK about adapt to the changes. No plans here is making me nervous about adapting to the SDK now.

[2019-03-27 14:53] joelanford commented on #1255
@vchande It's hard to speculate since Helm 3 has not been released, but we have been tracking the [Helm 3 design proposal](https://github.com/helm/community/blob/master/helm-v3/000-helm-v3.md), and we plan on evaluating it once it's released. I'd be surprised if we aren't able to support it.

In fact, we've already begun implementing some of Helm 3's designs in the existing operator. Our [release

[2019-03-27 15:12] vchande commented on #1255
@joelanford  thanks this helps me a lot. I am glad this is been thought through in advance.

[2019-03-27 15:20] #1255 closed

[2019-03-27 18:36] AlexNPavel commented on #1256
Hello. The build context for the operator is stored in `build`. The sdk will still fail to build the image itself, but the actual binary and dockerfile should be correct in that directory. For your use case, you can ignore the error and then run the image build part yourself.

[2019-03-27 19:51] chiefy commented on #1198
I gotta side with @nrvnrvn here - `git init` should be opt-in, not opt-out. This doesn't seem like expected behavior of a scaffold.

[2019-03-27 20:13] shawn-hurley commented on #1254
This will need to be filed against https://github.com/kubernetes-sigs/controller-runtime.

IMO this is not information that a reconciler should need.

[2019-03-27 21:48] estroz commented on #1198
Whether to `git init` by default or not is a personal preference IMO, so we should leave this functionality as-is.

[2019-03-28 00:46] #1184 closed

[2019-03-28 06:26] MengZn commented on #1254
@shawn-hurley thanks i will patch this feature in kubernetes-sigs/controller-runtime.

[2019-03-28 06:26] #1254 closed

[2019-03-28 13:44] marcomancuso commented on #1256
Is there an official Docker image with Go and Operator SDK already installed?

[2019-03-28 16:12] darrylb-github commented on #1124
I get the same error when binding the service account to the cluster-admin ClusterRole

[2019-03-28 17:18] #1225 closed

[2019-03-28 17:41] shawn-hurley commented on #1124
@ladmitry @darrylb-github Any chance that you could make a small reproducer that I could run?

[2019-03-28 17:42] shawn-hurley commented on #1246
@ArjonBu Closing this bug as I was unable to reproduce. We chatted on slack, and I think we are on the same page.

If your still having issues with permissions to the watches.yaml file please re-open

[2019-03-28 17:42] #1246 closed

[2019-03-28 17:49] camilamacedo86 opened #1259 "Missing attributes in the file generated by "operator-sdk olm-catalog""
## Bug Report

Missing attributes in the file generated by "operator-sdk  olm-catalog"

**What did you do?**
* Use the command operator-sdk  olm-catalog to created the ClusterServiceVersion
`operator-sdk  olm-catalog gen-csv --csv-version 0.0.1 --csv-config memcached-operator.0.0.1.clusterserviceversion.yaml`

**What did you expect to see?**
When applying the resource by " kubectl apply -f ../0.0.

[2019-03-28 18:00] chancez commented on #1124
I don't think the update subresource is enabled for CRDs in 3.10

[2019-03-28 18:03] chancez commented on #659
@mhrivnak That would be correct, but it should probably be logging a warning in cases like that as it means that there could be bugs in the operator if it's relying on ownerRefs for deletion, but they cannot be applied.

[2019-03-28 19:43] petro404 opened #1260 "How to debug operator remotely"
## Type of question
best practices

## Question

How can i debug the operator remotely.
I installed my operator on k8s cluster remotely and i would like debug it.

**What did you expect to see?**
A clear and concise description of what you expected to happen (or insert a code snippet).

**What did you see instead? Under which circumstances?**
A clear and concise description of what you expected to

[2019-03-28 19:48] petro404 commented on #1208
basically i would like to perform integration between operators ,main operator is written in go and it expect to create CRD and run it for another operator that is written in java.
so instead of creation the CRD struct manually as part of my project i would like to have the option to generate this struct in golang automatically during build/generation so in case any change in the crd the struct wi

[2019-03-28 19:53] shawn-hurley commented on #1260
I think if you want to a debugger like experience, this is your best bet:

https://github.com/go-delve/delve

Golang's debugger is GDB and even that has some issue AFAIK.

[2019-03-28 20:11] prometherion opened #1261 "Best practices to share CRD types"
## Type of question

Which is the best practice to share the CRD files  with other applications that need to know the custom scheme?

**Are  you asking about community best practices, how to implement a specific feature, or about general context and help around the operator-sdk?**

/best-practices

## Question

**What did you do?**

I created my CRD API along with the reconciler: everything's good

[2019-03-28 20:24] ArjonBu commented on #1246
Actually I have the same problem. As soon as I deploy the operator, it fails to start with the same error.

If I delete the pod manually, it will start fine.

If I deploy the custom resource, It will crash the pod and give the same error.

[2019-03-28 20:31] petro404 commented on #1260
so do i need to compile and run delve as part of the operator image?

[2019-03-28 21:21] subodh-dharma opened #1262 "operator-sdk error for --api-version parameter when trying to add `api` and `controller`"
## Bug Report

**What did you do?**
A clear and concise description of the steps you took (or insert a code snippet).

- Installed the operator-sdk from homebrew version 0.6.0
- Created a new project succesfully
- Tried to add the api and controller to the project with commands
[code]

**What did you expect to see?**
A clear and concise description of what you expected to happen (or insert a code

[2019-03-28 21:31] AlexNPavel commented on #1262
You need to specify a full group version. For example, "com.example.com/v1alpha1"

[2019-03-28 21:37] subodh-dharma commented on #1262
My bad also had some typos in the command. Sorry to bother.

[2019-03-28 21:37] #1262 closed

[2019-03-28 22:11] mhrivnak commented on #659
I would just hesitate to log a warning in case there's a chance that an operator author will deliberately want this behavior, which seems reasonably likely. End users don't like to see warnings in their logs that they can't do anything about, and eventually some of those users open support cases to figure out what's "broken".

[2019-03-28 22:52] darrylb-github opened #1264 "Ansible user guide not working"
## Bug Report

**What did you do?**
[code]

[code]

**What did you expect to see?**
The operator creating the memcached deployment with 1 replica.

**What did you see instead? Under which circumstances?**
[code]

**Environment**
* operator-sdk version:

operator-sdk version v0.6.0

* Kubernetes version information:

Client Version: version.Info{Major:"1", Minor:"10", GitVersion:"v1.10.7", GitCommi

[2019-03-28 23:22] chancez commented on #659
This behavior being deliberate is a bug. There are really bad bugs OLM team has experienced from cross-namespace ownerReferences. It would be desirable for users to open support cases if it came up as it would indicate a serious bug.

[2019-03-28 23:37] #756 closed

[2019-03-29 02:42] etsauer opened #1265 "operator-sdk generate k8s failing to generate DeepCopyObject()"
## Type of question

Having an issue with SDK code generation

## Question

**What did you do?**

I updated my CRD resource _types.go file, and then ran:
[code]

**What did you expect to see?**

I expected my operator to compile, and start cleanly

**What did you see instead? Under which circumstances?**

[code]

**Environment**
* operator-sdk version:
[code]

* Kubernetes version information:

[c

[2019-03-29 03:30] mhrivnak commented on #659
Maybe we're talking about different things. The reporter of this issue made an operator that creates resources in a different namespace from the CR (since in this case, the CR does not have a namespace at all). I'm saying in that case, our proxy should not try to auto-create an owner reference, and it should also not log a warning. It seems like a valid use case, and I'm not sure what would merit

[2019-03-29 09:33] LiliC commented on #1264
We support Kubernetes clusters `v1.11.3`+, also see other [prerequisites](https://github.com/operator-framework/operator-sdk#prerequisites).

Not sure if related but do you have the following installed:

cc @shawn-hurley

[2019-03-29 09:44] darrylb-github commented on #1264
@LiliC Will update my cluster and try again.

Am I right in thinking I don't need the ansible runner and http plugin if running operator via docker in the cluster?

[2019-03-29 09:49] LiliC commented on #1260
You can also just run the operator locally with `operator-sdk up local` that should make it easier to debug. Have a look at https://github.com/go-delve/delve/blob/master/Documentation/cli/getting_started.md#debugging-main-packages

[2019-03-29 10:26] LiliC commented on #1265
Hi @etsauer, I checkedout your repo and ran `operator-sdk generate k8s` and the deepcopy was generated for `EventSubscription`, see `git diff` below:

[code]

Can you try upgrading to latest `operator-sdk` release or master? I am on `operator-sdk version v0.6.0`

[2019-03-29 11:05] darrylb-github commented on #1264
Ran again with all prereqs fulfilled and getting different errors. Any advice? Note I haven't used ansible before; this is a fresh install.

[code]

[code]

[2019-03-29 11:16] ArjonBu commented on #1246
Update: I think I found the problem. When you create the operator using operator-sdk binary, it will create the files with permission 600. Changing them to 660 will make it work. Not sure if this is the solution or more of a workaround.

[2019-03-29 11:20] darrylb-github commented on #1264
It works now though when running the operator within the cluster 🎉

The sed commands though don't seem right for replacing the image name and pull policy. For me they result in the following invalid manifest (due to the {{ }} holders still existing.
[code]

This is obviously easy to fix manually but the readme seems to suggest you just need to run those sed commands
[code]

[2019-03-29 12:15] shawn-hurley commented on #659
Hey folks,

The first pr: #1148 and #1153 fixes and fixed this issue.

I am thinking that we should make a debug level 2 warning that this is happening and that a user needs to use a finalizer to clean up after itself. I also believe that we need to add an entire doc around this issue in the SDK. This is not just a problem with ansible operators but anyone writing an operator.

@chancez @mhrivnak

[2019-03-29 12:23] etsauer commented on #1265
@LiliC I believe what that diff is showing is the _removal_ of the `DeepCopyObject()` method that I had added myself.

[2019-03-29 12:44] LiliC commented on #1265
@etsauer Sorry about that.

Can you try the following instead:
[code]

Full file -> https://gist.github.com/LiliC/9242b62be212d523dcf10736f33419ed

[2019-03-29 12:55] LiliC commented on #1264
@darrylb-github `sed` is different on OSX so that might what is causing the problems in the last comment. Personally, I use `gnu-sed` to bypass the problems:

[code]

[2019-03-29 13:03] etsauer commented on #1265
@LiliC Yes! that worked. thanks.

[2019-03-29 13:06] etsauer commented on #1265
So the whole reason I discovered this is because I was trying to add a new CRD with `operator-sdk add api...` and it was failing at the end. It seemed like the reason was because my existing API types weren't compiling. However, after fixing the deep copy generation, the generate is still failing:

[code]

Is there some way to get more info on failures like this?

[2019-03-29 13:36] LiliC commented on #1265
Hmm running that command after fixing the generate issue in your repo works for me. Did you update your operator-sdk version to latest master from `v0.5.0`?

[code]

[2019-03-29 13:51] LiliC commented on #1261
Can you explain what kind of actions?

[2019-03-29 13:57] joelanford commented on #1246
@ArjonBu is your `umask` is set restrictively? There's [another issue](https://github.com/operator-framework/operator-sdk/issues/1206) where similar permissions issues were described.

[2019-03-29 14:01] LiliC commented on #1204
@petro404 Sorry no one got back to you on this, are you still experiencing the same problem?

[2019-03-29 14:07] LiliC commented on #1197
Closing as the question was answered. If you @marcomancuso need more information, feel free to reopen this issue or open a new one.

[2019-03-29 14:07] #1197 closed

[2019-03-29 14:12] prometherion commented on #1261
Just image I'm building a Platform as a Service where each client can create various kind of apps: they can perform actions using `kubectl` but I'd like to offer them also an HTTP API to interact with them.

To achieve this, I will need an additional component that exposes HTTP APIs and enables to create, update or delete apps/CRDs: this HTTP can easily use a generate _versioned clientset_ thanks

[2019-03-29 14:13] LiliC commented on #1256
There is discussion happening in the https://github.com/operator-framework/operator-sdk/issues/1115

@marcomancuso If Alex answered your question feel free to close this issue and continue the Docker discussion in the above issue so it's in one place, thanks!

[2019-03-29 14:25] darrylb-github commented on #1264
@LiliC The sed command itself works but it looks like the generation code when using ansible has a bug. E.g. `imagePullPolicy: "{{ pull_policy|default('Always') }}"` when generating with ansible vs `imagePullPolicy: Always` when generating with go

[2019-03-29 14:49] LiliC commented on #1264
@darrylb-github Yes, you are right!

cc @fabianvf You made the above change in the https://github.com/operator-framework/operator-sdk/pull/1193

[2019-03-29 14:58] fabianvf commented on #1264
I don't think #1193 actually changed anything (we've included the templating in the generated manifest for a while), but the docs and behavior definitely don't match, thanks for highlighting the discrepancy @darrylb-github

[2019-03-29 16:12] petro404 commented on #1260
cool I tried it and its working fine just want to confirm the steps,
in case i want debug remote operator in production i need to setup my .kube/config with the context of the production env ,then i can use visual code(already configured with delve)  to start local operator which watch all the resource in production.
in Addition i need to stop that the production operator in order to prevent race

[2019-03-29 16:13] LiliC commented on #1261
Can't you just import the api into your new code base?

[2019-03-29 16:15] LiliC commented on #1260
Do you have a dev cluster you can test this, might be better? :) But yes you can stop the operator in the cluster and start one locally, the `operator-sdk up local` is usually useful for devel or testing.

[2019-03-29 16:20] petro404 commented on #1260
agree  using the production context  , BTW `operator-sdk up local` will run the operator as separate process and not as containerized  application right?

[2019-03-29 16:22] LiliC commented on #1259
Hello @camilamacedo86

Those you need to fill in yourself as a user. There is a docs PR to clarify this to users, along with a list of fields you need to input. https://github.com/operator-framework/operator-sdk/pull/1242/files#diff-e0a112b07230172e80465d88412384bdR84

[2019-03-29 16:23] LiliC commented on #1260
Yes, it will run on your machine locally, not in the container.

[2019-03-29 16:25] petro404 commented on #1260
Great thanks a lot for your support.
appreciated :)

[2019-03-29 16:25] LiliC commented on #1260
No problem!

[2019-03-29 16:25] #1260 closed

[2019-03-29 17:29] etsauer commented on #1265
@LiliC
[code]

[2019-03-29 17:33] prometherion commented on #1261
If it's suitable to consider it as a best practice, I would go in this direction: I'm a newbie to Go ecosystem, so I prefer to ask to get feedbacks from veterans.

[2019-03-29 20:55] mhrivnak commented on #659
If something gets created without an owner ref, and the CR doesn't have a finalizer, that would be good to communicate about to the developer. Perhaps the scorecard would be the best place for that.

As for logging, I like debug level better than warning since it's less likely to cause undue alarm. In a case where an operator really does have a use case for leaving a resource behind after the CR i

[2019-03-30 02:29] jmazzitelli opened #1267 "upgrade to Ansible 2.8"
Ansible has recently fixed a bug in the [github_release](https://docs.ansible.com/ansible/latest/modules/github_release_module.html) feature:

https://github.com/ansible/ansible/issues/45391#issuecomment-441086051

In my operator, it will create deployments for a particular image whose version, by default, will be the latest github release, thus it would be nice to use this `github_release`.

This

[2019-04-01 02:37] BuddhiWathsala opened #1268 "operator-sdk build gives error parsing HTTP 404"
## Bug Report

I'm trying to build the K8s operator using
`operator-sdk build quay.io/buddhiwathsala/siddhi-operator:v0.0.1`

But it gives an error as
[code]

**Environment**
* operator-sdk version:
  `operator-sdk version v0.5.0+git`

* Kubernetes version information:

kubectl version

[code]
I'm using `minikube version: v0.33.1` and `go version go1.12 darwin/amd64` enviroment to build the operat

[2019-04-01 09:49] #1256 closed

[2019-04-01 09:58] LiliC commented on #1265
@etsauer Can you try latest master, that is what I used. When you do `operator-sdk --version` it should print out `operator-sdk version v0.6.0+git`.

[2019-04-01 12:06] prometherion commented on #1261
JFI I solved using `dep` as dependency management tool, importing only the `apis` package: works like a charm even I got some collateral packages imported.

[2019-04-01 12:06] #1261 closed

[2019-04-01 12:09] LiliC commented on #1261
@prometherion Sorry missed this before, glad that solved it for you.

FYI: if you are using `dep` you can remove unused packages with prune -> https://golang.github.io/dep/docs/Gopkg.toml.html#prune

[2019-04-01 13:41] etsauer commented on #1265
@LiliC that looks to have worked. Will there be a release cut soon with these fixes?

[2019-04-01 15:43] cpanato opened #1270 "add option to generate the header files to all files and not only for api"
## Feature Request

today looks like you can add a custom header file only for the api, will be good to have an option to add to all files in the project

[2019-04-01 15:56] prometherion commented on #1261
Yeah, `prune` is automatically performed by `ensure` since few versions :)

[2019-04-01 16:04] LiliC commented on #1270
Since we already use the `--header-file` flag in the `k8s` and `openapi` subcommands, we could be using the same whenever we generate any files to be consistent.

cc @joelanford

[2019-04-01 16:14] joelanford commented on #1270
@cpanato When you say all files in the project, do you really mean _all_ files? For example, are you asking to have headers added to `Dockerfile`, `.gitignore`, `Gopkg.*`, YAML files, etc.? Or are we just talking `go` source files?

[2019-04-01 16:16] LiliC commented on #1270
He was thinking of something like that https://book.kubebuilder.io/beyond_basics/boilerplate.html

[2019-04-01 16:26] cpanato commented on #1270
@joelanford I'm talking about go files.

yeah, similar that the kubebuilder does.

[2019-04-01 16:31] joelanford commented on #1270
Ahh okay. Yeah that seems reasonable to me. There's a chicken and egg problem with the `operator-sdk new` command though, since it fails if the project directory exists. To get around that, we could add a `--header-file` flag to the `new` subcommand to populate `hack/boilerplate.go.txt` prior to running all of the scaffolds.

Would we remove the `--header-file` flags that we currently have for the

[2019-04-01 16:47] estroz commented on #1270
@joelanford seems reasonable. I'll make a PR.

[2019-04-01 16:51] LiliC commented on #1265
@etsauer Yes we should be doing a release this Friday.

[2019-04-01 18:29] chancez commented on #659
I would expect it quite difficult to determine this behavior in the scorecard system, which is why I suggested logging it. Debug seems fine, but if the default log level omits it then new developers may not find this until later.

I would expect that they would need to opt out of logging this rather than opt into making it visible. Putting it into debug and having a default level of info just mean

[2019-04-01 19:43] etsauer commented on #1265
Great! thanks.

[2019-04-01 19:43] #1265 closed

[2019-04-01 23:29] hasbro17 commented on #1267
@shawn-hurley @fabianvf Any thoughts on if we need to bump up the Ansible version in the base image?

[2019-04-01 23:39] jmazzitelli commented on #1267
For the record, I was able to workaround this:

[code]

[2019-04-01 23:45] hasbro17 commented on #1237
@kfox1111 I think this is already supported. The ansible-operator will inject ownerreferences into any objects that you create and then watch for that type so that it will re-trigger the reconcile loop when the created object is updated.

@shawn-hurley @fabianvf Not sure if we have this documented anywhere in the ansible-operator user-guide but this is the only place where we mention this behavior

[2019-04-02 00:06] kfox1111 commented on #1237
Ah, interesting. I'll give it a shot then. Thank you.

Would you like me to close the issue, or keep it open until any documentation related questions are covered?

[2019-04-02 00:24] kfox1111 commented on #1238
Yeah, I wondered if that would be the case. I'm kind of split on the whole thing. Having such functionality may be a selling point for those wanting to move from pure helm to operator wrapped helm. Don't want to overcomplicate the operator sdk though if its just to work around a lack of a helm feature. But helm doesn't provide a CR feature at all. So coming up with a good clean CR is kind of in sc

[2019-04-02 13:20] shawn-hurley commented on #1267
@jmazzitelli

Ansible 2.8 has not been released. We will update once the new version is generally available.

Please note that if you wanted to use the latest version you could install ansible with pip from source or release candidate in your docker file. To do this you need to  add lines like this:

[code]

I am going to close this issue, please re-open if I did not cover everything.

[2019-04-02 13:20] #1267 closed

[2019-04-02 13:29] shawn-hurley commented on #1237
@kfox1111

If you want to watch pods and take actions on pods as well, you could do that by adding a section in the watches file to watch pods. This might not be what you're looking for but just to let you know.

We need to spend more time than just adding a line to the documentation. I think the user guide is a quick start and we need to make it much easier to find the other documentation that go

[2019-04-02 13:29] #1237 closed

[2019-04-02 14:32] LiliC commented on #1261
@prometherion I meant you can finetune the prune options even further in the `Gopkg.toml` file :)

[2019-04-02 21:04] joelanford commented on #1238
Yeah, that's the only way I can think of making it work as is. I agree it's not pretty and may have some pitfalls.

@shawn-hurley would this be applicable/desirable in the Ansible operator? I'm not familiar enough with Ansible to know if it is capable to threading a single variable through multiple roles/playbooks.

More broadly, it seems like this is a use case for a hybrid operator, which is bas

[2019-04-02 21:17] joelanford commented on #1268
@BuddhiWathsala It looks like your `operator-sdk` binary is one that used `registry.access.redhat.com/ubi7/ubi-minimal:7.6` as the base image when you created your project. That was the incorrect base image and we switched to `registry.access.redhat.com/ubi7-dev-preview/ubi-minimal:7.6` in `v0.6.0`.

To fix it in your existing project, you should use `registry.access.redhat.com/ubi7-dev-preview/ub

[2019-04-02 21:17] #1268 closed

[2019-04-02 21:38] joelanford commented on #466
@zenglian Sorry no one ever responded to your question! We have since added the `operator-sdk generate openapi` command, which will add an OpenAPI spec to your CRDs.

If that doesn't solve your problem or is not what you were asking, re-open the ticket with more details and we'll take another look.

[2019-04-02 21:38] #466 closed

[2019-04-02 21:47] joelanford commented on #710
@allamand We ended up adding all of the client-go auth plugins in #1199, which will be included in our next release, so this should be fixed.

[2019-04-02 21:47] #710 closed

[2019-04-02 21:53] joelanford commented on #1200
@dmesser Just wanted to follow up to see if you're planning on submitting a PR to clarify the Phase II definition and whether you think Helm's support for chart hooks means the Helm operator should be included as a Phase II operator?

[2019-04-02 22:08] #1181 closed

[2019-04-03 10:38] jpkrohling commented on #1181
Thanks, I got it working based on your insights.

[2019-04-03 13:00] LiliC opened #1281 "Improve error messages in olm-catalog file generation"
## Feature Request

**Is your feature request related to a problem? Please describe.**
When trying to generate the olm-catalog and there is a problem with something in the yaml manifests, the error message should include which file the problem happened in.

**Describe the solution you'd like**
For example when running the following command I would like to see the information about the file path an

[2019-04-03 13:00] LiliC commented on #1281
cc @estroz

[2019-04-03 15:18] gbaufake opened #1282 "Unable to decode an event from the watch stream: http2: server sent GOAWAY and closed the connection"
## Bug Report

**What did you do?**
- Installed an Operator (Kiali Test Mesh Operator) which installs on namespace

**What did you expect to see?**
- An operator running the watches

**What did you see instead? Under which circumstances?**
I saw a problem on operator which delete the namespace and all resources created by ansible operator after the following message:

Complete Log:

[kiali-test-me

[2019-04-04 00:44] pplavetzki opened #1286 "new operater of type=helm fails with template sub directories"
## Bug Report

**What did you do?**
I was trying to generate a new operator using the operator-sdk new command:
```operator-sdk new simple-operator --helm-chart=ps-helm/simple-chart --api-version=ps.net/v1alpha1 --kind=Simple --type=helm```

**What did you expect to see?**
A successful project creation.
[code]

**What did you see instead? Under which circumstances?**
[code]

**Environment**
* oper

[2019-04-04 02:49] joelanford commented on #1286
@pplavetzki This was recently fixed in helm/helm#5423 and #1235. Can you try again with the latest `master` build of `operator-sdk`?

[2019-04-04 11:19] Avni-Sharma opened #1287 "Partial cleanup of ClusterRole and ClusterRoleBinding after running test."
## Bug Report

**What did you do?**
I ran a test for an operator referring this https://github.com/operator-framework/operator-sdk/blob/master/doc/test-framework/writing-e2e-tests.md .

**What did you expect to see?**
After running the test it should ideally clean up all the resources and PASS. However, it fails because it is not deleting the ClusterRoles and the ClusterRoleBindings.

**What did y

[2019-04-04 16:23] pplavetzki commented on #1286
@joelanford Yes running from ```master``` build of ```operator-sdk``` built the project successfully.  I was using the Homebrew installation.

[2019-04-04 16:23] #1286 closed

[2019-04-04 16:26] joelanford commented on #1286
Glad to hear it! If you want to switch back to a release version with this included, we're planning to cut `v0.7.0` tomorrow afternoon.

[2019-04-04 16:40] pplavetzki commented on #1286
Cool looking forward to the next release!

[2019-04-04 19:53] hasbro17 commented on #1281
We should probably strive to be more generous with wrapping errors with some context everywhere we return them.
With something like [errors.Wrap()](https://github.com/pkg/errors#adding-context-to-an-error).
Of course the flip side to that is error messages that can become too verbose but with some judgement there's probably a healthy balance we can strive for.

[2019-04-04 23:32] robszumski commented on #1227
Fixed in #1242

[2019-04-04 23:32] #1227 closed

[2019-04-05 06:54] shekharberry opened #1289 "Make install fails to run"
## Bug Report
Hi,

Following the Quick-start guide and making sure prerequisites are met I was trying to install operator-sdk but it fails.

**What did you do?**
I was following the quickstart guide and installing operator-sdk.
Here are my go settings:
[code]
Now after following each line of quickstart guide when I did make install, I got following error:
[code]

**What did you expect to see?**
I

[2019-04-05 08:05] LiliC commented on #1289
@shekharberry Hello, sorry had to edit the description format of the issue for better readability.

Can you normally build other go programms? I am assuming your env is linux?

[2019-04-05 12:14] shekharberry commented on #1289
Hi,

My go version was not updated. I updated it and it works now. Closing the issue.

--Shekhar

[2019-04-05 12:14] #1289 closed

[2019-04-05 13:03] marcomancuso opened #1290 "Operator Docker Image contains vulnerabilities"
## Bug Report

**What did you do?**
Scanning the Docker image with Clair Scan I receive High Vulnerabilities

**What did you expect to see?**
No Vulnerabilities

**What did you see instead? Under which circumstances?**
[code]

**Environment**
* operator-sdk version:

operator-sdk version v0.5.0+git

**Additional context**
Dockerfile base image:
[code]

[2019-04-05 13:17] huizengaJoe opened #1291 "Helm based operator is continually deleting and recreating secrets in my namespace"
## Bug Report

**What did you do?**
A clear and concise description of the steps you took (or insert a code snippet).

I used the operator-sdk to create an operator from a helm chart
[code]

I am testing it using
[code]

My watchesLocal.yaml
[code]

My CR looks like this:
[code]
**What did you expect to see?**
A clear and concise description of what you expected to happen (or insert a code snippet

[2019-04-05 14:16] TenSt opened #1292 "Reconcile is triggered after status update"
## Type of question
How to update status of the custom CR without triggering Reconciler.

## Question

**What did you do?**
I've updated Status of the CR and used client.Status().Update() func to update it.
Removed watcher on Pods, only one watcher left - for CRs.

**What did you expect to see?**
Reconciler did not triggered.

**What did you see instead? Under which circumstances?**
Reconciler tri

[2019-04-05 14:30] joelanford commented on #1291
@huizengaJoe based on the [Configuration](https://github.com/IBM/charts/tree/master/stable/ibm-mqadvanced-server-dev#configuration) section for this chart, I think you should be able to solve the problem by providing a password in your CR for `queueManager.dev.adminPassword`

The mechanism that checks to see if an update is required performs a dry-run update release and compares the existing deplo

[2019-04-05 14:41] paterczm opened #1293 "How to handle expensive reconciling of remote resources?"
Hello

I'm trying to manage remote resources via rest api using an ansible operator. It works well for creation and deletion, but I'm not sure how to handle updates. If I set resyncPeriod short, my controller will put significant load on the remote service. If I set resyncPeriod long, users will have to wait significant time before their custom resource updates become effective.

A lastUpdateTimes

[2019-04-05 15:05] primeroz commented on #644
@LiliC Is anything happening on this documentation ? I might have just misunderstood the whole thing but an operator I use was updated to version "0.6.0" of the sdk and looking at https://github.com/operator-framework/operator-sdk/pull/786 It should now expose Metrics

[code]

I can see port 8080 listening but i get no metrics out of it
[code]

Is there anything i need to do to get those metrics ?

[2019-04-05 18:18] huizengaJoe commented on #1291
@joelanford thanks for the quick response!  Lesson learned on my side

[2019-04-05 18:18] #1291 closed

[2019-04-05 22:42] #1281 closed

[2019-04-06 11:07] ankitsinhaiitg opened #1298 "Operator-sdk makes syscall, specific to linux making it non-portable to windows."
## Bug Report

**What did you do?**
I tried to compile operator-sdk for windows, got following error -
 github.com/operator-framework/operator-sdk/pkg/ansible/proxy
pkg\ansible\proxy\kubectl.go:243:13: undefined: syscall.Umask
pkg\ansible\proxy\kubectl.go:245:2: undefined: syscall.Umask
make: *** [install] Error 2

syscall specific to linux and won't work for windows

**Environment**
* operator-sd

[2019-04-08 11:22] dmesser commented on #1200
I think we would not convolute our model with this nuance. Even minor version changes might need some additional handholding - are we able to to leverage chart hooks with helm-based Operators? If so, I'd vote to extend the helm capability to Phase II.

[2019-04-08 11:35] LiliC commented on #644
@primeroz Hello, there is already documentation, I guess we forgot to close this issue. Default metrics are exposed on port `:8383`. Let me know if this works or if you are running into any more problems.

https://github.com/operator-framework/operator-sdk/tree/master/doc/user/metrics

[2019-04-08 11:35] #644 closed

[2019-04-08 12:41] galderz opened #1299 "Is the operator-sdk scorecard up to date?"
I've compiled master and tried running it as, but get an error saying the operator manifest cannot be found:

[code]

What exactly is it complaining about? The README of scorecard says this should work.

[2019-04-08 13:24] galderz opened #1301 "How to deploy scorecard proxy?"
What are we supposed to do with the scorecard proxy? There's no info about it on scorecard README.

See below:

[code]

[2019-04-08 13:55] joelanford commented on #1200
Yes. See https://groups.google.com/forum/?utm_medium=email&utm_source=footer#!topic/operator-framework/hVZeiuTwq2Q

[2019-04-08 14:36] cpanato opened #1302 "Trying to set Kubeconfig or Kubeclient in the testing code"
## Type of question
request for help and clarification

## Question
**What did you do?**
Before running the tests I'm creating the k8s cluster using KinD and then after this, I set the `framework.Global.KubeConfig` (also tried to set `framework.Global.KubeClient`) but i got an error when trying to run the tests

[code]

this is the snippet of the code
[code]

am I doing something wrong? or I need

[2019-04-08 15:38] cpanato commented on #1302
just an update
if i set in the `TestMain` looks like it works :)

[code]

[2019-04-08 22:24] hasbro17 commented on #1282
@gbaufake From the upstream issue that you've linked it seems like `Unable to decode an event from the watch stream: http2: server sent GOAWAY and closed the connection` is a harmless log for an event that is expected.
What's surprising is that it is still showing up in SDK `v0.6.0`. With the 1.13.x k8s client libraries I thought this log would have been suppressed.
https://github.com/kubernetes/c

[2019-04-08 22:50] hasbro17 commented on #1287
@Avni-Sharma Can you specify the exact command and flags used to run the tests and the namespaced and global manifests used? E.g `operator-sdk test local ...`

@AlexNPavel There's nothing explicit in the test framework that would cause it to ignore the cleanup a ClusterRole right?
From the manifests in question it seems that role.yaml would just have a ClusterRole instead of a Role.
So we'd have a

[2019-04-08 23:04] AlexNPavel commented on #1287
There shouldn't be any reason that it wouldn't be deleted by the test framework. By default, all roles (regardless of cluster scoped or not) are part of the namespaced manifests. The SDK automatically deletes the resources and waits for deletion to complete. If the object is not deleted an error is given

[2019-04-08 23:39] hasbro17 commented on #1287
@Avni-Sharma The SDK and test-framework version in the operator that you linked is also quite old.
https://github.com/redhat-developer/devconsole-operator/blob/master/Gopkg.toml#L46
Please update to one of the latest versions i.e `v0.6.0` or `v0.7.0` and retry.
The test framework has had significant changes made since `v0.2.1`. If you still see the same problem please reopen this issue.

[2019-04-08 23:39] #1287 closed

[2019-04-09 14:24] allamand opened #1304 "operator-sdk test x509: certificate signed by unknown authority"
## Question

What is the best way to get ride of the x509 error message in tests ?

Can we interract with the config: kubeconfig.TLSClientConfig.Insecure = true

**What did you do?**
[code]

**What did you expect to see?**
Tests to execute properly on the cluster.

Note, that I've got no problem with kubectl

**What did you see instead? Under which circumstances?**

I've got the error message :
[c

[2019-04-09 17:13] gbaufake opened #1305 "Deadlock on operator with Leader Locker with Evicted Pod Bug 1749620"
## Bug Report

**What did you do?**
- Deployed an operator (on this case https://github.com/kiali/kiali/tree/master/operator)
- Went out of resources and operator pod went to evicted state
- Openshift created a new operator pod, but it didn't start the operator code because of the locker.

**What did you expect to see?**
- Ignored the locker on Evicted Operator Pod

**What did you see instead? Und

[2019-04-09 20:38] mhrivnak opened #1306 "migrate command gives access to manager"
## Feature Request

When a user run the `migrate` command, they may want to do one of these things:
* create a go-based webhook
* create a go-based controller and run it with the same manager as the ansible or helm based controllers

 Today, the `migrate` command does not give access to the `Manager` object or anything else that's useful. It would be up to the user to copy-and-paste a bunch of exi

[2019-04-09 20:45] mhrivnak opened #1307 "ansible and helm packages should be useful libraries"
## Feature Request

Relevant use cases as an operator author:
* I want to augment reconciliation logic with go code that runs before or after my ansible or helm based reconciliation logic.
* I want to trigger reconciliation from a goroutine, such as from a Channel source.

These use cases target someone who has created a go-based operator and wants to add reconciliation behavior by using ansible o

[2019-04-09 20:47] mhrivnak opened #1308 "document how to access CRs from helm or ansible based operators in go"
## Feature Request

**Is your feature request related to a problem? Please describe.**
When running an operator that happens to be implemented in Ansible or Helm, I may want to interact with that operator's CRs from go code. For example, I might write an admission webhook in Go for an ansible-based operator. It's not clear how I should access the CRs since there are no Go types defined.

**Describ

[2019-04-09 21:39] joelanford commented on #1292
@TenSt This is expected behavior. If you change your CR, it will trigger another reconciliation. Once your CR has reached a steady state and your Reconcile function makes no further changes, you should stop seeing further immediate reconciliations.

[2019-04-09 21:39] #1292 closed

[2019-04-09 21:45] AlexNPavel commented on #1304
Hello. Is `insecure-skip-tls-verify: true` set in your kubeconfig for your cluster or are you specifying it as a flag to kubectl? The test framework in `v0.2.0` uses the `clientcmd` config getter, which should be correctly picking up the `insecure-skip-tls-verify` config in the kubeconfig.

[2019-04-09 21:50] joelanford commented on #1293
@paterczm I may be missing something, but the ansible operator should be watching your CRs and dependent resources, and triggering a reconciliation when any of them change.

You should be able to set your `resyncPeriod` long (or disable the periodic resync by setting it to 0) so that your CRs are only reconciled as often as necessary.

Are you seeing different behavior?

[2019-04-09 22:18] joelanford commented on #1298
@shawn-hurley Do we use [`ListenUnix()`](https://github.com/operator-framework/operator-sdk/blob/987b9c945a0871fcc074384cc93b7fc5412341e3/pkg/ansible/proxy/kubectl.go#L233-L247)? If not can we remove it so that we don't break windows portability?

If we do need to keep it, maybe we could move it to `kubectl_unix.go` and use [conditional compilation](https://dave.cheney.net/2013/10/12/how-to-use-co

[2019-04-09 23:12] joelanford commented on #1305
Thanks for the report! This is an interesting case we haven't seen before. The reason this is happening is that the operator pod creates the ConfigMap lock with the pod as an owner reference. So the lock will not be garbage-collected until the evicted pod is deleted.

The workaround would be to delete the evicted pod.

The default `main.go` scaffold used to include a readiness check, but we remove

[2019-04-10 09:10] allamand commented on #1304
Hi Alex, thanks for the input.

I didn't uses the `insecure-skip-tks-verify` flag as my laptop is normally configure to accept the certificate.

Meanwhile I added this to the config and you're right this makes it works with operator-sdk test :)

But I didn't understand why operator-sdk need the insecure flag, while kubectl don't?

I try to set this environment variable before starting operator-sdk

[2019-04-10 09:10] #1304 closed

[2019-04-10 11:14] snelis commented on #1094
I would also love to be able to control the release name.
The release name with the hash is also used in dependencies, so even tho im able to control the name with that trick in my own charts, for any dependencies i still get names like `api-eniduuzz7apmkuy4s9kpn37od-memcached`

[2019-04-10 17:24] hasbro17 commented on #1290
@marcomancuso Thanks for reporting this. We're following up on this with the folks responsible for maintaining the RHEL universal base image and will hopefully have an update on this soon.

[2019-04-10 23:36] hasbro17 commented on #1222
@miguelsorianod Having the json name differ from the field name causes a problem with the kube-openapi [name_match](https://github.com/kubernetes/kube-openapi/blob/master/pkg/generators/rules/names_match.go#L54-L76) rule.
Similar issue https://github.com/operator-framework/operator-sdk/issues/1181#issuecomment-471115259

Since this is an API rule violation for the generator I'm not sure that there

[2019-04-12 00:29] camilamacedo86 opened #1315 "How to setup my IDEA to debug the operator in golang locally?"
## Type of question
Debug/Development env

## Question

**What did you do?**
How to setup my IDEA to debug the operator in golang locally?

**What did you expect to see?**
I expected to be able to setup/config my IDEA for when the command ` operator-sdk up local --namespace=` be executed I can debug the code.

**Environment**
* operator-sdk version: operator-sdk version v0.5.0+git

* Kubernetes ve

[2019-04-12 08:17] LiliC commented on #1301
There is a flag:
[code]

https://github.com/operator-framework/operator-sdk/blob/76d13fccc3672c0ad4eb969abb9b9885678771e4/doc/sdk-cli-reference.md#flags-13

[2019-04-12 08:18] LiliC commented on #1302
@cpanato since you found out the solution, closing this issue, feel free to open a new one or reopen this one if you are still running into problems. :)

[2019-04-12 08:18] #1302 closed

[2019-04-12 08:25] cpanato commented on #1302
thanks @LiliC

[2019-04-12 08:28] dragon9783 opened #1316 "helm-operator Release not found, removing finalizer"
## Bug Report

**What did you do?**
1. `operator-sdk up local`
2. `kubectl create -f /path/to/crd.yaml`
3. `kubectl create -f /path/to/cr.yaml`
4. `kubectl delete -f /path/to/cr/yaml`

I found that the custom resource Nginx not been deleted, and got errors
`{"level":"info","ts":1555057401.86288,"logger":"helm.controller","msg":"Release not found, removing finalizer","namespace":"default","name":"e

[2019-04-12 08:52] LiliC commented on #1299
@galderz Yes, I tried it out and confirmed the above does not work for me either. The problem is it assumes you have a `deploy` directory in that path, as per the operator-sdk directory/file structure. So when it tries to search for the other manifests it searches for them in the known paths and yours are not there.

cc @AlexNPavel WDYT of adding a flag to provide your own path to the "deploy" dir

[2019-04-12 09:11] LiliC commented on #1315
Hi @camilamacedo86, I don't know much about IDEA, haven't used it yet. But what the `operator-sdk up local` command does is it just starts the operator locally by doing a `go build` and then exec the binary file with the args you passed to it. Hopefully, that is of help?

[2019-04-12 09:26] LiliC commented on #1316
Hello @dragon9783 not sure if it's related but we support Kubernetes v1.11.3+ cluster, as noted in the https://github.com/operator-framework/operator-sdk#prerequisites.

So the logs are after you executed the `kubectl delete -f /path/to/cr/yaml` command?

cc @joelanford

[2019-04-12 12:08] eivantsov opened #1317 "Update json tag, keep compatibility"
## Type of question

What would be the best way to update json tag in CR struct spec, and keep compatibility at the same time?

Now I have an existing CR in a running server:

[code]
If I change json tag to a `newKey` in the struct, and update custom resource, it is replaced with a new one, however, it has the default value, since oldKey wasn't found when CR was retrieved:

[code]

How can I keep

[2019-04-12 13:37] gbaufake commented on #1282
@hasbro17 Yes.
I am able to reproduce with some frequency.

Everything created by the operator vanishes after this message.
[kiali-operator-b5769c4c8-hbfp6-operator.log](https://github.com/operator-framework/operator-sdk/files/3073153/kiali-operator-b5769c4c8-hbfp6-operator.log)

I am using the latest ocp4 builds and updated the openshift-installer

oc v4.0.0-0.139.0
kubernetes v1.11.0+c69f926354

[2019-04-12 14:10] paterczm commented on #1293
Hello @joelanford. My ansible operator is calling the ansible role every resyncPeriod, regardless if the custom resource changed or not. I thought it up to me to detect if it really changed.

[2019-04-12 14:18] joelanford commented on #1293
@paterczm You set the reconcile period globally with the [`--reconcile-period` flag](https://github.com/operator-framework/operator-sdk/blob/master/doc/sdk-cli-reference.md#ansible), or you can set the `reconcilePeriod` option for a particular GVK in your [`watches.yaml` file](https://github.com/operator-framework/operator-sdk/blob/master/doc/ansible/user-guide.md#watches-file).

Setting the value

[2019-04-12 15:17] joelanford commented on #1316
@dragon9783 I'm pretty sure this is related to the Kubernetes version. The Helm-based operators use the status subresource, which requires Kubernetes 1.11. I think `"error":"the server could not find the requested resource"` is saying it can't find the status subresource.

And if you're curious, the reason for v1.11.3 specifically is that it includes a fix related to CRD pluralization that affects

[2019-04-12 17:13] AlexNPavel commented on #1299
What is your directory structure? If it follows the standard deploy directory structure of the SDK (for versions v0.1.0+), it should work correctly. If not, you can either modify your project to match the expected directory/manifest structure, or use the `--global-manifest` and `--namespaced-manifest` flags to specify the necessary manifests for running your operator (documentation: https://github

[2019-04-12 17:13] cmoulliard opened #1318 "Update brew formula : version 0.7.0"
## Feature Request

Is it possible to update the Brew's formula in order to been able to install `operator-sdk` version `0.7.0` ?

[2019-04-12 18:27] AlexNPavel commented on #1318
Hello. We don't manage the brew formula for the operator-sdk. The bump from `v0.5.0` to `v0.6.0` was done by the brew community about 3 days after release, so I would expect them to update soon. I will have access to a Mac for testing on Monday, so if it is not done by then, I will make a PR over at homebrew-core for the version bump.

[2019-04-12 21:13] enisoc opened #1323 "generate openapi removes shortNames from CRD"
## Bug Report

**What did you do?**
1. operator-sdk add api ...
2. Edit `deploy/crds/my_crd.yaml` to add `shortNames: ["blah"]`.
3. operator-sdk generate openapi

**What did you expect to see?**
The validation section should be filled in without removing my shortNames.

**What did you see instead? Under which circumstances?**
The generator removed my shortNames.

**Environment**
* operator-sdk ver

[2019-04-15 00:12] dragon9783 commented on #1316
@LiliC @joelanford thanks for reply soon, i will upgrade kubernetes to version v1.11.3, and try it, thanks again!

[2019-04-15 00:12] #1316 closed

[2019-04-15 02:34] shawn-hurley commented on #1298
Consider this:

[code]

I have to assume that k/k has some way to build the binary for windows because it does not appear to need conditional compilation as far as I can tell.

[2019-04-15 04:44] hasbro17 commented on #890
We've dropped off this issue but we should try to reach a consensus before `v1.0.0`.

Having some time to think about it, just having the two flags `--cluster-scoped-operator` and `--cluster-scoped-crd` as defined above is still an incomplete solution since there are cases where despite the use of both flags users would still need to tweak their RBAC manifests, or the namespaces that they need to

[2019-04-15 09:33] petro404 opened #1325 "Operator container -- Running as is non root user"
## Type of question

support

## Question
is there an option to run the operator container as non root user?

**What did you expect to see?**
A clear and concise description of what you expected to happen (or insert a code snippet).

**What did you see instead? Under which circumstances?**
A clear and concise description of what you expected to happen (or insert a code snippet).

**Environment**
*

[2019-04-15 10:43] paterczm commented on #1293
That's correct. Looks like there are 2 modes of operation depending on `reconcilePeriod`:
* > 0 means the operator will reconcile every `reconcilePeriod`, regardless if the custom resource changed or not
* == 0 means the operator will reconcile only if the related custom resource changes.

Thanks for help!

[2019-04-15 10:43] #1293 closed

[2019-04-15 12:06] LiliC commented on #1318
@cmoulliard there should be a new formula for the latest version.

[2019-04-15 12:06] #1318 closed

[2019-04-15 13:21] #1264 closed

[2019-04-15 13:46] joelanford commented on #1298
It looks like we use `syscall` directly, but that implementation of `proxy_server.go` uses conditional compilation in [`k8s.io/kubernetes/pkg/kubectl/util`](https://github.com/kubernetes/kubernetes/blob/204d994/pkg/kubectl/util) with:
* https://github.com/kubernetes/kubernetes/blob/204d994aca210e1ef20ea947ae0555df7b70a994/pkg/kubectl/util/umask.go
* https://github.com/kubernetes/kubernetes/blob/20

[2019-04-15 14:54] joelanford commented on #890
I agree.

The one minor gotcha that I know of is that Helm projects now automatically generate RBAC rules from the chart's default manifest, and we require `--cluster-scoped` if cluster-scoped resources exist. If we eliminate that flag, we'll have to think about how we would want that to work.

We could keep the `IsClusterScoped` scaffolding option, and start with `IsClusterScoped = false`. And if

[2019-04-15 19:06] joelanford commented on #1298
We already [vendor `k8s.io/kuberentes`](https://github.com/operator-framework/operator-sdk/blob/2ca5cb197fad6e5a4f4f61d53e1426835cb267c9/Gopkg.toml#L62) and [prune unused packages](https://github.com/operator-framework/operator-sdk/blob/2ca5cb197fad6e5a4f4f61d53e1426835cb267c9/Gopkg.toml#L78), so I don't think it would be a big deal to use `k8s.io/kubernetes/pkg/kubectl/util` directly.

I'll submi

[2019-04-15 20:49] AlexNPavel commented on #1325
Can you clarify your question? The process inside the built containers already runs as a non-root user (which is a requirement for openshift clusters). Specifically, we run as UID 1001: https://github.com/operator-framework/operator-sdk/blob/master/internal/pkg/scaffold/build_dockerfile.go#L39:L51

[2019-04-15 21:45] jcrossley3 opened #1328 "Default RESTMapper returns stale resources"
## Bug Report

**What did you do?**
When applying multiple interdependent resources, e.g. CRD's + CR's, a race condition can result in an infinite loop where cached resources become stale.

**What did you expect to see?**
I expect to eventually receive the resource I created.

**What did you see instead? Under which circumstances?**
I kept getting the stale one

**Environment**
* operator-sdk vers

[2019-04-15 23:07] hasbro17 commented on #1323
Thanks for reporting this.

This is another bug because of the way we currently try to regenerate only the validation block and preserve everything else in the existing CRD manifest.
Except it turns out we're also stomping out the `spec.names` section.
https://github.com/operator-framework/operator-sdk/blob/master/internal/pkg/scaffold/crd.go#L138-L139

This was due to an older assumption where th

[2019-04-15 23:27] hasbro17 commented on #1317
@eivantsov If I understand correctly you are trying to update the API/spec fields of your CRD, but you still want to handle older instances of the CRD with the older API and convert them to the new API.

If that's the case then you're probably asking about the CRD versioning and conversion.
https://kubernetes.io/docs/tasks/access-kubernetes-api/custom-resources/custom-resource-definition-versionin

[2019-04-16 00:32] #1191 closed

[2019-04-16 11:04] secat commented on #1217
As a reference implementation the [kubebuilder SDK](https://github.com/kubernetes-sigs/kubebuilder) has scaffolding for generating mutating/validating webhooks based on the controller-runtime's webhook server and webhook handler APIs.

[2019-04-16 16:55] jmazzitelli opened #1330 "Bad request (400) - could not determine if we should add owner ref"
## Bug Report

Let me state up front that I'm not 100% sure this is a bug - but I am reporting this as one just in case. I am willing to be told I'm doing something wrong though :-) However, if I run my playbook outside of the operator framework (i.e. I just run the ansible playbook locally), it all runs fine. So my ansible tasks and everything are OK and working as I would expect. It is only when

[2019-04-17 05:53] eivantsov commented on #1317
@hasbro17 yes, it looks like I asked if versioning is the best solution. I tried to add a new API version + migration function, and it worked for me. Thanks for helpful links. CLosing.

[2019-04-17 05:53] #1317 closed

[2019-04-17 06:40] jmazzitelli commented on #1330
@shawn-hurley the more I play with this, the more I think this is a bug. But you tell me what you think after you look at it.

[2019-04-17 06:55] ravishankarsrrav opened #1331 "Unable to initialize new project because of dependency issue"
INFO[0000] Creating new Go operator 'mongodboperator'.
INFO[0000] Created cmd/manager/main.go
INFO[0000] Created build/Dockerfile
INFO[0000] Created build/bin/entrypoint
INFO[0000] Created build/bin/user_setup
INFO[0000] Created deploy/service_account.yaml
INFO[0000] Created deploy/role.yaml
INFO[0000] Created deploy/role_binding.yaml
INFO[0000] Created deploy/operator.yaml
INFO[0000] Created pkg/

[2019-04-17 07:51] ankitrgadiya commented on #1331
Update Git version

[2019-04-17 13:29] shawn-hurley commented on #1330
@jmazzitelli I notice this line:

[code]

Which makes me believe that the operator does not know about that type. Can you please give me more background on how that task and the preceding tasks work?

[2019-04-17 13:53] jmazzitelli commented on #1330
@shawn-hurley That is a blank line - I assume you meant to enter something here? :)

[2019-04-17 20:53] jcrossley3 commented on #1259
I believe this issue is not about `spec.displayName` and `spec.description` which *are* filled in with placeholder text, but instead `spec.customresourcedefinitions.owned.displayName` and `spec.customresourcedefinitions.owned.description` which are not.

It's fine, though inconvenient, to expect the user to fill them in, but it'd be nice if the `gen-csv` task would at least warn you that they're r

[2019-04-18 00:27] jmazzitelli commented on #1330
@shawn-hurley regarding this error:

[code]

This is the CRD the ansible operator creates in the target namespace (NOT the namespace where the operator is - in the target namespace where the operator is putting Kiali):

https://github.com/kiali/kiali/blob/master/operator/roles/kiali-deploy/templates/openshift/crds.yaml

[code]
(this is created earlier in the Ansible role in this task [found in os-

[2019-04-18 09:23] BuddhiWathsala opened #1332 "Pass operator env from CLI"
## Type of question

How to pass environment variables in operator.yaml from operator-sdk CLI?

## Question

**What did I do?**
I had some of the operator related configurations which I need to access in the `Reconcile` loop. So, I added those configuration parameters as environment variables in operator.yaml deployment.

**What did I expect to see?**
Once I build and run the operator deployment i

[2019-04-18 13:43] shawn-hurley commented on #1330
Ok, so this is a problem that is known and there is a fix here: https://github.com/operator-framework/operator-sdk/pull/1329

Basically, the issue is that the restmapper is created at startup of the operator. The rest mapper finds all the resources in the cluster so that we can make smart decisions about how to interact with the cluster. Because it appears that you are creating the CRD in your rec

[2019-04-18 13:58] #1298 closed

[2019-04-18 14:16] jmazzitelli commented on #1330
Well, this CRD is very specific to Kiali. It is a way to have Kiali be able to load in custom dashboards (users can later add their own if they want, but Kiali comes with some out of the box).

The user is supposed to use the operator to install everything related to a product, no? This CRD is part of that product (Kiali). It would seem kind of odd to ask the user to install a CRD ahead of time in

[2019-04-18 14:28] jmazzitelli commented on #1328
FYI: https://github.com/operator-framework/operator-sdk/issues/1330 is the same problem

[2019-04-18 15:07] linzhaoming commented on #1332
I think you could refer the following codes, to access the env in the Reconciler codes.

https://github.com/operator-framework/operator-sdk/blob/3f9650c8088944b893516fb3175bf8b95843fe42/pkg/k8sutil/k8sutil.go#L34

[2019-04-18 15:53] jcrossley3 commented on #1330
I think as more and more people start to build k8s-native apps (written in terms of CRDs + controllers) it will be more common to expect operators to install them.

[2019-04-18 16:32] shawn-hurley commented on #1332
Have you exported the environment variables into your environment when running `operator-sdk up local`?

[2019-04-19 23:54] raffaelespazzoli opened #1334 "unable to generate olm-csv if no CRD are defined"
## Bug Report

**What did you do?**
I wanted to generate the OCL CSV. I have an operator that does not define any new CRD. I got the following output:
[code]

**What did you expect to see?**
Not sure, this was the first time I was running this command, not an error though.

**What did you see instead? Under which circumstances?**
see the output above.

The general question is: can OLM be used with

[2019-04-20 21:29] wiardvanrij commented on #1290
Is there an easy way to pick an other base image until this is resolved? Ea; what are the requirements? Thank you.

[2019-04-21 17:47] fkarakas opened #1335 "Watch regular resources like pod,ingress,service"
Hello,
Is is possible to watch "regular" kubernetes resources like pods, ingress, service using operator-framework.

No custom resources

thanks

[2019-04-22 01:12] willthames commented on #954
I think all the issues here have been dealt with now so I'll close this one and raise another one.

[2019-04-22 01:12] #954 closed

[2019-04-22 14:14] morstad opened #1336 "Helm chart dependency fetch when creating new project"
## Type of question

**Are you asking about community best practices, how to implement a specific feature, or about general context and help around the operator-sdk?**  help around operator-sdk - change observed with latest code

## Question

**What did you do?**
A clear and concise description of the steps you took (or insert a code snippet).

[code]

**What did you expect to see?**
A clear and c

[2019-04-22 16:07] joelanford commented on #1336
@morstad The automatic dependency fetching was added recently because many of the charts in [`helm/charts`](https://github.com/helm/charts) are not self-contained and require their dependencies to be fetched prior to generating their RBAC rules and being packaged into an operator.

The helm dependency updater currently [checks that all dependency repos exist](https://github.com/helm/helm/blob/7420

[2019-04-22 16:15] houshengbo opened #1337 "unauthorized: access to the requested resource is not authorized to push docker image"
[code]
I was running thru these commands, but it popped up "unauthorized: access to the requested resource is not authorized", when I hit "docker push quay.io/example/memcached-operator:v0.0.1".

[2019-04-22 16:19] houshengbo opened #1338 "kubectl get deployment and kubectl get pods did not generate as the instruction described"
When I went through 2. Run locally outside the cluster, I have got nothing about the deployment, after the command "kubectl apply -f deploy/crds /cache_v1alpha1_memcached_cr.yaml".
"kubectl get deployment" yielded nothing.
"kubectl get pods"yields
[code]

It is not as described in the instruction.

[2019-04-22 16:42] joelanford commented on #1337
@houshengbo the `quay.io/example/memcached-operator` image name is just an example. You'll need to create a quay account and use it in your image name in place of `example` (e.g. `quay.io/houshengbo/memcached-operator:v0.0.1`).

Or if you already have an account on another image repository like Docker Hub, you can push there as well.

If the above doesn't solve your problem, definitely re-open thi

[2019-04-22 16:42] #1337 closed

[2019-04-22 16:59] houshengbo commented on #1337
@joelanford I just figured it out, but strongly suggest updating the documentation, by saying that the image should be named after quay.io/<username>/<repository name>.

First, make sure you have a valid account with quay.io or other public online repo like docker.io.
Then, <username> should be the username registered with the public repo.
Third, <repository name> can be anything, when push the do

[2019-04-22 19:33] petro404 commented on #1325
thanks

[2019-04-22 19:33] #1325 closed

[2019-04-22 22:08] hasbro17 commented on #1338
@houshengbo Did you update the default reconcile code in your memcached_controller.go file?

https://github.com/operator-framework/operator-sdk/blob/master/doc/user-guide.md#add-a-new-controller

From the name of the pod `<cr-name>-pod` it seems you're using the default reconciler code scaffolded for your controller's handler.

[2019-04-22 22:23] hasbro17 commented on #1335
@fkarakas Yes, the controller's [Watch](https://godoc.org/github.com/kubernetes-sigs/controller-runtime/pkg/controller#ex-Controller) API let's you watch any resource that is registered on your apiserver (custom and standard k8s resources).

E.g we add a secondary watch for `appsv1.Deployment{}` in the memcached-operator example.
https://github.com/operator-framework/operator-sdk-samples/blob/mast

[2019-04-22 22:43] hasbro17 commented on #1334
@raffaelespazzoli Probably someone from the OLM team can confirm if a CSV with no [owned CRDs](https://github.com/operator-framework/operator-lifecycle-manager/blob/master/Documentation/design/building-your-csv.md#owned-crds) is valid before we decide to update the `csv-gen` command.
/cc @estroz

@ecordell @alecmerdler Is the `spec.customresourcedefinitions.owned` field optional for a CSV?

[2019-04-23 00:39] jayunit100 commented on #302
bump :) cc @jfchevrette  @jmrodri  any roadmap info we can get our hands on ?

[2019-04-23 12:15] matihost opened #1340 "Reconciliation stopped happening for some ansible operator based CR"
The reconciliation stopped happening for some ansible operator based CRs.

Two examples:

1) For example CR status:

[code]
but in fact playbook ends with error (rc == 2)

with last logs:

[code]
and `latest` ends with:
[code]

So it should be marked as failed - and next reconciliation should be run next time?

2)
This CR is just ok:
[code]
but

[code]

and `latest` logs:

[code]

The operator-sdk

[2019-04-23 13:24] #1328 closed

[2019-04-23 13:39] PhilipGough commented on #928
@imazik had the same use case and same failure with `v0.7.0`. However this looks to be allowed now on master.  See #1313

I ran `go run $GOPATH/src/github.com/operator-framework/operator-sdk/commands/operator-sdk/main.go add controller --api-version=apps/v1 --kind=Deployment` without errors so far

[2019-04-23 16:00] jaxxstorm opened #1341 "Using zap.Sugared() to write log statements"
## Feature Question

## Question

I'm trying to use zap's Sugared logging https://godoc.org/go.uber.org/zap#hdr-Choosing_a_Logger

Which allows you to do

[code]
But I don't seem to be able to get this working. Is there any documentation on how to do this?

[2019-04-23 16:34] estroz commented on #1334
Based on the language used to describe the CRD's field, it sounds like they're optional:

I'm ok removing the requirement for `owned` CRD's. @raffaelespazzoli I assume you're using external `required` CRD's instead?

[2019-04-23 16:40] joelanford commented on #1341
@jaxxstorm controller-runtime and operator-sdk use the [`logr`](https://github.com/go-logr/logr) logging interface for structured logging throughout. operator-sdk uses the [`zapr`](https://github.com/go-logr/zapr) library to convert a `*zap.Logger` into an implementation of the `logr.Logger` interface. `*zap.SugaredLogger` is not supported by `zapr`

The logr interface encourages the use of struct

[2019-04-23 16:45] estroz commented on #1301
@galderz we'll be adding to the scorecard docs in the coming weeks. From the scorecard [docs](https://github.com/operator-framework/operator-sdk/blob/master/doc/test-framework/scorecard.md#how-it-works):

This section refers to the scorecard proxy container.

Can you link your `deploy/operator.yaml`?

[2019-04-23 17:20] jaxxstorm commented on #1341
Awesome, thanks!

[2019-04-23 17:20] #1341 closed

[2019-04-23 19:24] wkulhanek opened #1342 "watchClusterScopedResources does not seem to work for Ansible Operator"
## Bug Report

**What did you do?**
Wrote an operator that creates ClusterResourceQuota objects based on User objects and a custom UserQuota object. Added "watchClusterScopedResources: true" to the watches.yaml file.

**What did you expect to see?**
Expected the CRQs to be cleaned up when the UserQuota object gets deleted. This does not happen.

**What did you see instead? Under which circumstance

[2019-04-23 19:30] hasbro17 commented on #928
Yes this is fixed on the master and should be in the next release. Thanks for confirming @PhilipGough

[2019-04-23 19:30] #928 closed

[2019-04-23 20:10] joelanford commented on #928
@hasbro17 @estroz I tried this out and noticed that the scaffolded controller has an import for an api package that doesn't exist, so an additional change is required in `pkg/controller/<kind>/<kind>_controller.go` to update the API import from a local, non-existent package to the correct `k8s.io/api` package.

Is there a good way for us to check if the API is a kubernetes-provided API? And if so,

[2019-04-23 20:54] estroz commented on #928
@joelanford if we're going to support adding controllers for kubernetes-provided API we should require a `--k8s-api` boolean flag be passed to `add controller`. Additionally an optional `--k8s-import-path` flag  would be nice for API import paths with multiple domains or that are different than `k8s.io/api`. By default we can assume `k8s.io/api` since this will be the use case most of the time.

[2019-04-23 21:05] raffaelespazzoli commented on #1334
yes I am using required.

[2019-04-23 21:18] joelanford opened #1343 "Use correct controller imports for Kubernetes native APIs"
## Feature Request

**Is your feature request related to a problem? Please describe.**
When using `operator-sdk add controller` to create a controller for a native Kubernetes API, the scaffolded controller code contains an import for a non-existent API package.

**Describe the solution you'd like**
The `operator-sdk add controller` command should support the creation of a controller for a native K

[2019-04-23 21:18] joelanford commented on #928
Created #1343 to track the follow-on updates.

[2019-04-23 22:16] estroz commented on #1343
From #928:

I'm also thinking we should version the controller package, as we can have multiple versions of the resource being reconciled, ex. `v1.Deployment` and `v1beta1.Deployment`. The three versioning strategies I see as reasonable to employ, in order of preference, are as follows:

1. canonical API versioning, ex. `pkg/controller/deployment/{v1,v1beta1}`
2. package versioning, ex. `pkg/contr

[2019-04-23 23:06] hsaputra opened #1345 "Error when running `operator-sdk build` using brew install"
## Bug Report

**What did you do?**
Following steps from User guide to try to build Memcached Operator

**What did you expect to see?**
When running `operator-sdk build quay.io/example/memcached-operator:v0.0.1` I expect to generate Docker image for the Operator.

**What did you see instead? Under which circumstances?**

[code]

**Environment**
* operator-sdk version:

[code]

* go version:
[code]

[2019-04-24 00:11] joelanford commented on #1345
@hsaputra Can you retry with operator-sdk `v0.7.0`? I'm pretty sure this was fixed by https://github.com/operator-framework/operator-sdk/pull/1248.

[2019-04-24 00:21] joelanford commented on #1345
I should have also mentioned that you'll likely need to recreate the project or remove [these lines](https://github.com/estroz/operator-sdk/blob/f0d8d965d5fd22d17a3efcb7fe3b8d94af5c402f/pkg/scaffold/gopkgtoml.go#L98-L101) from your `Gopkg.toml` and then run `dep ensure -update`.

[2019-04-24 00:47] hsaputra commented on #1345
Thanks, @joelanford - will give it a try

[2019-04-24 01:15] hsaputra commented on #1345
Cool, it works. Thanks! 👍

[2019-04-24 01:15] #1345 closed

[2019-04-24 07:53] LiliC commented on #1259
@jcrossley3 thanks for the feedback, pinging @estroz as he mainly works on this.

[2019-04-24 19:00] estroz commented on #1259
@camilamacedo86 @jcrossley3 we're working on a PR (#1162) to infer data in `spec.customresourcedefinitions.owned` from a CRD's dir.

Side note: [`--csv-config`](https://github.com/operator-framework/operator-sdk/blob/474f8d573ef61198856b29f0bdd65d9f73d8a88c/doc/sdk-cli-reference.md#gen-csv) takes a CSV [config file](https://github.com/operator-framework/operator-sdk/blob/474f8d573ef61198856b29f0bd

[2019-04-24 21:17] jcrossley3 commented on #1259
@estroz thank you, but it wasn't clear to me how to use that config file to preserve those entries. do you have an example?

[2019-04-24 23:16] estroz commented on #1259
@jcrossley3 by preserve you mean not overwrite what's already in the CSV? If so, #1162 intends to determine what to put in `spec.customresourcedefinitions.owned` using code annotations described in this [user doc](https://github.com/operator-framework/operator-sdk/blob/dd9e8d3587fa716857adaaf56b38864941f341a2/doc/user/csv-annotations.md). The `csv-config.yaml` file is only intended to point to fil

[2019-04-25 05:27] cmoulliard opened #1349 "Enhance the controller skaffolded in order to support additional patterns"
## Feature Request

**Is your feature request related to a problem? Please describe.**

One of the most difficult thing due to the event based architecture of k8s and async creation of the different kubernetes resources, is to figure out properly if the children resources created by the Controller when a CR is reconciled are created AND have by the example the status "Running". Such information is

[2019-04-25 13:36] cmoulliard opened #1350 "How can we search about metav1.List resources"
## Query a list of resources

How can we query a list of resources (pod, service, ...) using the `client.List(` function ?

Example
[code]
generates an error

![Screenshot 2019-04-25 15 36 01](https://user-images.githubusercontent.com/463790/56739800-dd19d800-676f-11e9-815d-76083b1aeb1e.png)

[2019-04-25 14:38] cmoulliard commented on #1350
Apparently, the `set/GroupKindVersion` should be defined using a k8s resource list such as by example`PodList, ServiceList,...`. Otherwise [this function](https://github.com/kubernetes-sigs/controller-runtime/blob/master/pkg/client/unstructured_client.go#L144) will remove from the string the 4 chars represented by `Kind` and this why we get the error. That will not happen if we define the group ad

[2019-04-26 07:49] cmoulliard commented on #1350
Any feedback ? @LiliC

[2019-04-26 08:16] LiliC commented on #1350
@cmoulliard You can go through all the resources (Pod, Service, Deployment, etc.) in a loop and replace the group you set to list them all. Why do you need to do this, if I can ask? :)

[2019-04-26 08:30] LiliC commented on #1340
cc @shawn-hurley @jmrodri

[2019-04-26 08:33] LiliC commented on #1349
So you want the `Status` support to be added?

[2019-04-26 08:35] LiliC commented on #678
I think this can be closed as it's outdated.

[2019-04-26 08:35] #678 closed

[2019-04-26 08:36] LiliC commented on #1230
@rayanebel are you still running into this problem or can this issue be closed?

[2019-04-26 08:39] LiliC commented on #1115
@andriisoldatenko are you still interested in contributing to this or was the issue solved for you?

[2019-04-26 08:40] LiliC commented on #1332
@BuddhiWathsala has the above answered your question and we can close this issue, or do you have any other questions?

[2019-04-26 08:40] #910 closed

[2019-04-26 11:19] cmoulliard commented on #1349
Yes as I think that this is key feature needed in order to report to the end use using (oc get or kubectl get) if the CR is functionally operational. A CR is a contract between a user and a kubernetes controller in order to install k8s resources and they expect to be informed if the resources have been deployed/updated/removed and if the platform is now ready (= running) in order to continue what

[2019-04-26 11:29] LiliC commented on #1349
Yes, we have plans to add support and helpers for the `Status` field. Not sure if we have another github issue for this @joelanford?

[2019-04-26 11:57] cmoulliard commented on #1350
Here is what I have coded to fetch all the resources created by the operator and where the label condition matches

[code]

Remarks:

- I would like to get all the watched resources in order to verify if the pod status = `running`, .... and if all the statuses of the resources are OK, then I will update the status of the CR to by example the value `Running` or `Installed` in order to inform the us

[2019-04-26 14:04] joelanford commented on #1349
We have #1143, which is a work in progress. Its scope is only to define types and helpers to make it easier for operator developers to create/modify/remove conditions in `status.conditions`.

I'm not sure there's a straightforward way for the SDK to implement a `fetchAllOwnedResources` utility because I don't think there's an `OwnerRefSelector` option for listing resources. To get similar function

[2019-04-26 18:47] bonhamcm commented on #181
Is there an update on this issue? There's been a few releases since June of 2018...

[2019-04-28 03:14] briantopping opened #1355 "Generating tests from `operator-sdk generate`"
## Feature Request

**Is your feature request related to a problem? Please describe.**
When using `operator-sdk generate`, I would ideally like to have had the build also create minimal tests. Ideally, it could run e2e as well.

**Describe the solution you'd like**
[This document](https://kubernetes.io/blog/2019/03/22/kubernetes-end-to-end-testing-for-everyone/) seems to be quite current and I'm g

[2019-04-28 09:01] devopsgym commented on #1315
Hi @camilamacedo86, if you what, use can use the same approach used with Vscode.
using this commands it works for me
``` export WATCH_NAMESPACE=default ```
[code]
then attach to process using this vs code conf
[code]
obviously you need to compile it first.

I hope this can be help

[2019-04-28 17:20] morstad commented on #1336
The subchart in this case may be able to be removed from requirements.yaml, but do not believe that is always the case - especially when doing conditional enablement of subcharts with the  requirements.yaml at install time.  I am able to work around this change, but wanted to be sure impact of recent change was understand.

[2019-04-28 19:15] camilamacedo86 commented on #1315
@devopsgym really tks I will try to do it.

[2019-04-28 19:25] camilamacedo86 commented on #1315
Closing this issue since shows solved.

[2019-04-28 19:25] #1315 closed

[2019-04-28 19:40] camilamacedo86 commented on #1350
Hi @cmoulliard, you can do it.

In the controller, you will define the type of object that you would like to watch as the filters. The following code means that it will watch all resources which are from this type/owner.

[code]

To watch all Pods you will do as follows.

[code]

Then, note that the order followed is the order that you add the impl in the Reconcile. In the reconcile you will be ab

[2019-04-29 07:32] cmoulliard commented on #1350
So, the strategy that you propose to use is then to `r.client.list` all the watched resources in order to find those having the label corresponding to the condition that you want to match

That means that if the controller, base on the CR definition, will create a Pod, Service, Deployment, ... or any kind of k8s combinations, then you will create a function to list each resource and check if it co

[2019-04-29 07:33] #1249 closed

[2019-04-29 07:48] camilamacedo86 commented on #1350
Hi @cmoulliard,

I do not think that the client will featch in the internal cache. I understand that it is the client-go command which will do the same that you do when you run ` kubectl get pods`. The idea here with operators is you be able to automate the "operations", so instead of you run the commands in the command line you will use the same ks8 API that is used by the command in your project

[2019-04-29 08:23] camilamacedo86 opened #1358 "Suggestion: Close the issues/questions which has already the answer and/or are without the required info and replies for X days"
## WHAT:

**Suggestion:** Close the issues/questions which has already the answer and/or are without the required info and replies for X days

Example:

"We are closing this issue since shows that the question raised was answered. Please, feel free to re-open it if be required."

"We are closing this issue since it is opened for more than X days without any reply with the required info.  Please, f

[2019-04-29 09:28] #1332 closed

[2019-04-29 09:31] LiliC commented on #1358
Hey, @camilamacedo86 we try to close and cleanup issues if they are open for longer than X days or if we don't get a response, as much as we can, I just did a small cleanup on Friday. :)

But we often leave issues open if we want to include it in the docs, or if it's a feature request or sometimes we just miss some. 🤷‍♀

Be easier to find the questions/issues solved
Be easier to contribute with st

[2019-04-29 09:31] #1358 closed

[2019-04-29 12:47] LiliC opened #1359 "Update migration guide"
The [guide](https://github.com/operator-framework/operator-sdk/blob/51d28df214440d97031368d7d700a2805161015d/doc/migration/v0.1.0-migration-guide.md) for migrating from v0.0.x to v0.1.0, needs to be updated to reflect any additional changes that may have happened since the `0.1.0` release. Afterward, we should update the title to something like `Migration Guide from v0.0.x to v0.x.0`. The motivati

[2019-04-29 14:22] joelanford commented on #1336
@morstad Good point about the conditional subcharts. I didn't think about that aspect of it.

To handle that case, I think there are two options:
1. Distribute `ibm-shared-liberty` from a publically accessible Helm repo, such that it "just works" with `requirements.yaml`.
2. In `requirements.yaml`, use `repo: file://...`. I've been experimenting with this option, and it looks like you would need t

[2019-04-29 14:50] morstad commented on #1336
I found issue previously which reported behavior you saw (see  https://github.com/helm/helm/issues/3742) - looks like may have been some movement to fix in last month, but unfortunately has been open for some time.

[2019-04-29 16:30] ashokhein commented on #1124
I am facing the same issue when I followed this link https://github.com/operator-framework/operator-sdk/blob/master/doc/ansible/user-guide.md

operator-sdk version: v0.7.0
Kubectl Client Version: v1.9.11
K8s Server Version: v1.9.11
ansible 2.7.9

I tried to run both inside and outside the cluster as per README.md and receiving the same errors:

`{"level":"error","ts":1556555179.8817847,"logger":"r

[2019-04-29 17:29] shawn-hurley commented on #1124
Hello @ashokhein

I see that you are using k8s 1.9 which we do not support.

Please note this from the [README](https://github.com/operator-framework/operator-sdk#prerequisites)

Thanks,

Shawn

[2019-04-29 18:00] shawn-hurley commented on #1124
@darrylb-github @ladmitry was there a reproducer that I could run to test this out?

[2019-04-29 22:00] gbaufake commented on #1282
@hasbro17
Retested on Kubernetes  - v1.13.4+81fc896 and it was completely gone.
 I guess it might need to some documentation it would affect old versions of Kubernetes and Openshift.