[2019-04-29 22:00] #1282 closed

[2019-04-29 23:52] jcrossley3 opened #1360 "Can gen-csv update the WATCH_NAMESPACE downward api destination?"
## Type of question

**Are you asking about community best practices, how to implement a specific feature, or about general context and help around the operator-sdk?**
operator-sdk

## Question

**What did you do?**
The `gen-csv` task seems to copy the `deploy/operator.yaml` whole into the generated CSV, but the `metadata.namespace` value for `WATCH_NAMESPACE` may not be correct for the CSV.

**Wh

[2019-04-30 05:12] baijum commented on #1302
I got a similar issue. Here is the complete traceback:
[code]

[2019-04-30 08:45] LiliC commented on #1302
@baijum Did the above solution not help you, I am referring to this https://github.com/operator-framework/operator-sdk/issues/1302#issuecomment-480884781 comment

[2019-04-30 09:21] camilamacedo86 opened #1362 "How to get the hostname by a project/operator which is running in the cluster?"
## Type of question

Usage

## Question

**What did you do?**
In a golang operator project, I'd like to get the hostname which is returned by the command  `kubectl cluster-info` for example.

[code]

The following works when the project is executed out of the cluster by the tool operator-sdk by the command `operator-sdk up local --namespace={{namespace}}` but not when the operator is running in th

[2019-04-30 09:24] baijum commented on #1302
I am not sure how to get the `KUBECONFIG` path in OpenShift CI environment. But I haven't explored that as the CI is already setting the `KUBECONFIG` environment variable.

BTW, I am getting some hint that my issue could be something different. The catalog source might be invalid. I am checking that in my local system. I am not a member of `openshift` GitHub org. So, I cannot directly check it in

[2019-04-30 09:35] camilamacedo86 opened #1363 "Is possible to get objects/resources created by the kind A in the controller of kind B?"
## Type of question

Usage

## Question

**What did you do?**
Is possible to get objects/resources created by the kind A in the controller of kind B?

**What did you expect to see?**

When I have an operator project with more than one kind and controllers for each kind as this project I'd like to be able to fetch/get the resources created and managed for one kind in a controller of another kind.

[2019-04-30 13:15] shawn-hurley commented on #1363
Hi @camilamacedo86,

Can you past the code that you used?

This should work:

[code]

Let me know if I can help further.

[2019-04-30 13:19] shawn-hurley commented on #1362
I think you may be able to use the kubeconfig.

You can get the [kubeconfig](https://godoc.org/sigs.k8s.io/controller-runtime/pkg/client/config) and then use [it](https://godoc.org/k8s.io/client-go/rest#Config) to get the k8s hostname?

I have not tried this, and I don't know how perfect it will work in the cluster but this might be a place to look?

[2019-04-30 16:14] camilamacedo86 commented on #1362
@shawn-hurley  thanks but I understand that it is what I am doing above. If the project is running outside of the cluster works because of the os.Getenv("KUBERNETES_SERVICE_HOST") is null. However, when it is in the mind shift/cluster has a value and it is not working well as I expected.

[2019-04-30 16:16] camilamacedo86 commented on #1363
Are you sure that it should work? I tried exactly the same and the mss in your example is nil. :-(

[2019-04-30 18:17] #1363 closed

[2019-04-30 19:18] joelanford commented on #1362
@camilamacedo86 I'm not sure this is possible.

When running outside the cluster, `kubectl cluster-info` and other clients use the `cluster.server` value in your `$KUBECONFIG`. This typically uses a host name or IP that is routable to the cluster API server from outside the cluster.

When running inside the cluster, clients use the `$KUBERNETES_SERVICE_HOST` environment variable, which comes from

[2019-04-30 19:49] joelanford commented on #1336
Oh wow, yeah that's exactly what I was seeing. It looks like the PR (https://github.com/helm/helm/pull/3987) has been updated somewhat recently and is waiting on another review.

Do you think that PR will resolve this issue?

[2019-04-30 21:08] estroz commented on #1343
Controllers are version independent by default so the above comment is irrelevant.

[2019-04-30 22:27] camilamacedo86 commented on #1362
Hi @joelanford,

Thank you for your detailed explanation. It is not facing any issue. I was just looking for a way to create an ingress resource in runtime which requires the HOST without the need to spec it.

Anyway, we will not able to use ingress since our project requires oauth proxy authentication. So this need also is no longer required. However, it is great to confirm the understanding and

[2019-04-30 22:27] #1362 closed

[2019-05-01 08:04] camilamacedo86 opened #1365 "How to add the route ocp scheme? Error "no kind is registered for the type v1.Route in scheme" is faced when the user guide is followed"
## Type of question

Operator-sdk usage

## Question

**What did you do?**
Add the route scheme to the project.

* Add the dep `dep ensure -add github.com/openshift/api`
* Add in the main.go as described in the user guide https://github.com/operator-framework/operator-sdk/blob/c3a77eee021a1cc6a31861a0efd253dc23fbe591/doc/user-guide.md#register-with-the-managers-scheme.

[code]
PS.: The AddToScheme

[2019-05-01 08:13] camilamacedo86 commented on #1365
@lisa @jfchevrette @jcrossley3 @jmrodri

[2019-05-01 08:58] camilamacedo86 commented on #477
Hi folks,

It shows not work more in this way. Could you please give me a hand in https://github.com/operator-framework/operator-sdk/issues/1365?

c.c @eivantsov @hasbro17 @benjaminapetersen @shawn-hurley @jfchevrette

[2019-05-01 12:04] morstad commented on #1336
Understand options and investigating how to best address issue encountering - at different stages of build process there is need for helm dependency update.  Ultimately an option to disable dependency checking on conversion would be preferred, but understand is limited use case.

[2019-05-01 12:43] shawn-hurley commented on #1365
AddToScheme is not deprecated as a mechanism, it appears openshift/api would prefer you use `Install` which is the same thing under the hood. This mechanism is the correct thing to do.

Where are you registering the scheme?

[2019-05-01 12:49] camilamacedo86 commented on #1365
Hi @shawn-hurley,

Note that I am doing exactly like the guide and I am facing the issue(you can check the details above). Another way that I found to do it is in #477, however, the func `k8sutil.AddToSDKScheme` no longer exist. Please, could you help me?

[2019-05-01 12:55] shawn-hurley commented on #1365
Ok, don't follow 477 that is old.

Can you link me to the code?

[2019-05-01 13:34] aceeric opened #1366 "Ansible operator modifying dictionary key retrieved from OpenShift"
## Bug Report

**What did you do?**
Created an ansible operator that watches a custom resource. Deployed the operator to  OpenShift. Created debug logging to observe the behavior. The watched custom resource is:

[code]

The CRD is:

[code]

Here are the relevant ansible operator files:

Dockerfile:

[code]

The docker build:
[code]

watches.yaml:

[code]

client-app-operator-playbook.yml:

[code]

[2019-05-01 13:37] camilamacedo86 commented on #1365
Hi @shawn-hurley really tks for the help!!! ++++++++@shawn-hurley

The issue was because I was adding the Route scheme after the setup the controller. The following solution is working perfectly well.

[code]

[2019-05-01 13:37] #1365 closed

[2019-05-02 00:00] #1212 closed

[2019-05-02 00:00] #1323 closed

[2019-05-02 05:06] eivantsov commented on #477
@camilocot https://github.com/operator-framework/operator-sdk/pull/509 works for me.

https://github.com/eclipse/che-operator/blob/master/pkg/controller/che/che_controller.go#L71

[2019-05-02 07:02] cmoulliard commented on #1350
Many thanks for your suggestion @camilamacedo86. I like the idea and approach even if it is needed to register each resource to watch (and maybe to filter them using a label selector) [1]
vs having a Query function able to fetch all the resources as we can do with k8s cli runtimes [2] used by kubectl, oc

Question: Is there an advantage to use `c.Watch(` instead of fetching all the resources as I

[2019-05-02 11:33] camilamacedo86 commented on #1350
HI @cmoulliard,

I am really happy that it was helpful. Following the following approach in my understanding has significant advantages.

Approach example:

[code]
NOTE: I understand that "IsController" == true will make it looks into the cache which has just the objects/resources managed by the operator which will make it more performative.

[code]

Advantages:

- It is following as it's examples

[2019-05-02 11:45] camilamacedo86 commented on #477
@eivantsov it worked the issue was just because I was adding the "routev1.AddToScheme(mgr.GetScheme())" after the "controller.AddToManager(mgr);" then the schema could not be added on it.

[2019-05-02 12:30] raffaelespazzoli opened #1368 "unable to generate CRD"
## Bug Report

I am unable to generate the CRD for the type below. I get the following output:
[code]
so basically nothing gets generated.

**Environment**
[code]
[code]

**Possible Solution**
I don't have a workaround. I am currently stuck

**Additional context**
[code]

here is the entire file `namespaceconfig_types.go`:

[code]

[2019-05-02 12:41] LiliC commented on #1368
@raffaelespazzoli Hey, I used your file and ran the generation and it worked for me using the v0.7.0 release. It seems like you are using master which did not work for me either. Can you maybe switch to the latest release and try again, thanks!. https://github.com/operator-framework/operator-sdk/releases/tag/v0.7.0

[2019-05-02 12:43] LiliC commented on #1368
cc @estroz as you might know more about the generation here, can you try and see and if anything changed between master and the previous release?

[2019-05-02 13:31] raffaelespazzoli commented on #1368
I switched to v0.7.0.
I started from scratch here are my commands:
[code]
edited type adding these two lines:
[code]

then run:

[code]
but the resulting type is the original:

[code]

this warning looks like it may be a lead to the issue:
[code]

the api group has `redhat-cop` but the dir is `redhatcop`, is it possible that this is the cause of the issue?

[2019-05-02 13:44] camilamacedo86 commented on #521
Hi @eivantsov,

We are doing exactly in this way for all resources that are created/managed by the operator in the Mobile Security Service Operator [project](: https://github.com/aerogear/mobile-security-service-operator). I hope that it can be helpful to you. Note that it shows that approach suggested by the Getting Started example as well.

### Approach example/description:

Specifying one Watch

[2019-05-02 13:55] camilamacedo86 commented on #1230
Hi @rayanebel  and @rodesousa,

Shows that your criteria in the ListOptions are not accurate at all. If you still facing issues I'd like to recommend checking the discussing in https://github.com/operator-framework/operator-sdk/issues/1350.

[2019-05-02 13:57] camilamacedo86 commented on #1335
Hi @fkarakas I'd like to recommend checking the discussion https://github.com/operator-framework/operator-sdk/issues/1350 which shows help you regards the subject raised here as well.

[2019-05-02 15:14] camilamacedo86 opened #1371 "What is the best approach to defined that the manager should looking in few namespaces?"
## Type of question

Usage

## Question

Shows that the manager can receive as option just 1 namespace all it will check all namespaces.
I'd like to be able to tell the manager cache/watch an array of namespaces.

[code]

[2019-05-02 15:28] camilamacedo86 commented on #1371
Shows that create a new manager namespace for each required namespace will attend this need. Closing this task.

[2019-05-02 15:28] #1371 closed

[2019-05-02 15:41] spanichellazhaw opened #1372 "Operator sdk, Prometheus and Kafka"
## Type of question

** both implement a specific feature and  general context of operator-sdk **

## Question

**What did you do?**

My goal is to detecting patterns, anomalies and incidents in Kubernetes applications.
Thus, I played with operator SDK examples https://github.com/operator-framework/operator-sdk
I'm currently trying to use Kafka and Prometheus with minishift (using the following gu

[2019-05-02 16:02] estroz commented on #1368
@raffaelespazzoli yes the issue is with the hyphen in your API group. The following works fine for me:

[code]

I'm looking into this issue now.

[2019-05-02 17:28] estroz commented on #1368
The `controller-tools` CRD generator will parse CRD groups from API paths. Since the SDK removes hyphens from API paths but not from CRD titles, there's a mismatch between what our CRD scaffold wrapper expects and what is generated. I'll push a fix.

[2019-05-02 18:41] hasbro17 commented on #1335
Closing this for now.

[2019-05-02 18:41] #1335 closed

[2019-05-02 20:42] #1290 closed

[2019-05-03 08:56] LiliC commented on #1372
hi @spanichellazhaw, so if I understand correctly, you want to build an operator that "detects patterns, anomalies and incidents in Kubernetes applications"?

[2019-05-03 08:57] LiliC commented on #1366
cc @jmrodri @shawn-hurley if you can help out ^

[2019-05-03 09:00] LiliC commented on #1360
cc @estroz

[2019-05-03 09:04] LiliC commented on #1355
Just so we are clear @briantopping so you want a generate command to generate e2e tests for your operator?

We have the e2e framework already in operator SDK https://github.com/operator-framework/operator-sdk/blob/master/doc/test-framework/writing-e2e-tests.md

We also have the `operator-sdk test` command to run the e2e tests.

[2019-05-03 09:08] briantopping commented on #1355
The thought was that it’s easy to template skeleton tests when the skeletons don’t do much. It’s a good start for good habits and makes it easier to document a TDD lifecycle. There’s reasons to do it and also not to do it... :)

[2019-05-03 09:13] LiliC commented on #1355
cc @AlexNPavel

[2019-05-03 10:24] camilamacedo86 commented on #1371
The great news is that the solution for it is impl already and merged in the master branch see the  https://github.com/kubernetes-sigs/controller-runtime/commit/fc804a411c06919561edbcb0453601c436556613 and the https://github.com/kubernetes-sigs/controller-runtime/blob/68ae79ea094aab567d78d7d8596accac2dc27fd0/pkg/manager/example_test.go#L59with this need attended.

Unfortunately, show that the vers

[2019-05-03 11:08] fromanirh opened #1380 "Failed to find exact match with ansible-operator:v0.7.0 docker image"
## Bug Report

**What did you do?**
We recently rebased github.com/MarSik/kubevirt-ssp-operator on top of quay.io/operator-framework/ansible-operator:v0.7.0.
Our operator, among other things, deploys openshift templates. We get this error trying to deploy the aforementioned templates: "Failed to find exact match for template.openshift.io/v1.Template by [kind, name, singularName, shortNames]"
Using

[2019-05-03 11:58] LiliC commented on #1115
Closing due to inactivity, feel free to reopen or open a new issue.

[2019-05-03 11:58] #1115 closed

[2019-05-03 12:00] LiliC commented on #1230
Closing due to inactivity, feel free to reopen or open a new issue.

[2019-05-03 12:00] #1230 closed

[2019-05-03 12:03] LiliC commented on #181
@bonhamcm  We have migration docs and always mention any breaking changes in the CHANGELOG, so this can be closed. If you have any specific questions about the recent release feel free to open a new issue. Thanks!

[2019-05-03 12:03] #181 closed

[2019-05-03 15:54] mossuchida opened #1383 "Multiple CRD & CRs for 1 controller"
I want to create a microservice operator using single controller (I would like to group each apps in different files as files get huge & confusing. also, hard to create nested specs in type.go file).  I don't want to create different controllers for each services as they need to be coordinated by single controller.

I have created multiple CRDs & CRs using commands:
operator-sdk add api --api-vers

[2019-05-03 18:11] #1368 closed

[2019-05-03 22:34] camilamacedo86 opened #1385 "igonere"
ignore

[2019-05-03 23:30] camilamacedo86 opened #1386 "How to make sure that the operator will only watch a List of namespaces?"
## Type of question

Usage/Best practice

## Question

**What did you do?**
I checked that is not possible to inform N namespaces as an option for the watch/cache of a manager.

[code]

**What did you expect to see?**

* A stable release with the impl that is already made and merge in the master to attend it. See https://github.com/kubernetes-sigs/controller-runtime/issues/413

OR

* Some workarro

[2019-05-04 06:18] panichella commented on #1372
Yes. However, I would start with a very simple example in the first place.

One idea I had in mind is trying to monitor some metrics with Prometheus and use operators to make some simple decision making. E.g., annotate some files or resources with operators, gather information with Prometheus, then in case a certain Prometheus metrics go lower than a certain threshold make some decision with opera

[2019-05-04 19:54] #1385 closed

[2019-05-04 20:15] camilamacedo86 commented on #1365
@shawn-hurley done the pr for the docs as requested. See:https://github.com/operator-framework/operator-sdk/pull/1387

[2019-05-05 10:59] camilamacedo86 commented on #1386
In order to solve this problem a PR to upgrade the version of the controller-runtime and attend this need was made. I need help to move forward with. See https://github.com/operator-framework/operator-sdk/pull/1388

[2019-05-06 00:16] siddontang opened #1389 "operator-sdk add API failed"
## Bug Report

**What did you do?**

Followed https://github.com/operator-framework/operator-sdk/blob/master/doc/user-guide.md to create a memcached-operator but failed when adding API

**What did you expect to see?**

Add successfully

**What did you see instead? Under which circumstances?**

[code]

**Environment**

* operator-sdk:

version v0.7.0

* go version:

go version go1.12.1 darwin/amd64

[2019-05-06 00:16] siddontang opened #1390 "operator-sdk add API failed"
## Bug Report

**What did you do?**

Followed https://github.com/operator-framework/operator-sdk/blob/master/doc/user-guide.md to create a memcached-operator but failed when adding API

**What did you expect to see?**

Add successfully

**What did you see instead? Under which circumstances?**

[code]

**Environment**

* operator-sdk:

version v0.7.0

* go version:

go version go1.12.1 darwin/amd64

[2019-05-06 00:20] siddontang opened #1391 "operator-sdk generate k8s failed with no meaningful error"
## Bug Report

**What did you do?**

Follow https://github.com/operator-framework/operator-sdk/blob/master/doc/user-guide.md to run the generate subcommand

[code]

**What did you expect to see?**

Run ok

**What did you see instead? Under which circumstances?**

Failed, but no meaningful error, I don't why.

[code]

**Environment**
* operator-sdk version:

version v0.7.0

* go version:

go versio

[2019-05-06 00:25] #1390 closed

[2019-05-06 03:18] ligc opened #1392 "operator-sdk new app-operator failed"
## Bug Report

**What did you do?**
Failed to new an operator with operator-sdk CLI. The same(similiar) error with both v0.7.0 and master branch.  I was able to run the "operator-sdk new" command successfully a while ago on the same node, but it does not work any more.

**What did you see instead? Under which circumstances?**
[code]

**Environment**
* operator-sdk version:

[code]

* go version:

[2019-05-06 07:53] fentas opened #1393 "Generate Kustomization file in /deploy"
## Feature Request
First of all, thanks for your awesome work. :+1:
This is the first time I get in touch with `operator-sdk`, so if there is a better way let me know.

Instead of generating deploy yaml files with lots of placeholder like `REPLACE_*` I would love to see one env file (defining all required fields) which will be used by `kustomize` to generate a ConfigMap which is used as a variable

[2019-05-06 08:10] LiliC commented on #1392
@ligc I tried the current master branch and could not reproduce the problem. What is the version of `dep` you are using?

[2019-05-06 08:15] ligc commented on #1392
@LiliC Thanks for looking into this, here is the dep version I am using.

[code]

 it is kind of strange, I was able to create operators a while ago on this same node,  but it does not work any more, and I did not remember any change that may affect operator-sdk. Maybe some dep packages on internet was changed?

[2019-05-06 08:25] LiliC commented on #1392
@ligc It's odd as for me it works fine locally. It seems the problem seems to be here:
[code]

This commit exists in operator-sdk, so it must be a dep cache issue. Can you try to do `rm -rf $GOPATH/pkg/dep/sources/https---github.com-operator--framework-operator--sdk/` and retry `dep ensure -v ` in the operator root directory? This seems to have solved it for this dep issue https://github.com/golan

[2019-05-06 08:58] ligc commented on #1392
I ran the following commands, but it does not seem help, the ```operator-sdk new app-operator``` still fails.
[code]

Inspired by your statement "it must be a dep cache issue",  I completely removed the $GOPATH and re-initialized everything, then I could successfully run ```operator-sdk new app-operator``` .

I am fine with closing this issue, as I could use ```rm -rf $GOPATH/*``` as the workaroun

[2019-05-06 09:19] LiliC commented on #1392
@ligc I think if you run into this issue next time, updating local master branch, e.g. pulling from master, in `$GOPATH/src/github.com/operator-framework/operator-sdk/` should also do the trick as it seems dep was not looking in the cache.

Closing as this is solved.

[2019-05-06 09:19] #1392 closed

[2019-05-06 10:50] willthames opened #1394 "Version of the ansible operator image with newer git"
## Feature Request

**Is your feature request related to a problem? Please describe.**
git-sync relies on worktrees to provide git repos. Centos 7's git does not seem to understand worktrees.

**Describe the solution you'd like**
I would like the ansible-operator image to contain a newer version of git (I don't know how new to be honest)

An interim fix for me that works is

[code]

but I'd really

[2019-05-06 12:35] shawn-hurley commented on #1383
I think this is explicitly against the design goals for the controller-runtime.

Could you explain further what your trying to do and I could help come up with an alternative implementation?

[2019-05-06 13:16] mossuchida commented on #1383
ok, I wanted to know if it was possible or designed this way. I will figure out other way then. thanks!

[2019-05-06 13:16] #1383 closed

[2019-05-06 13:16] LiliC commented on #1372
@panichella an operator is a custom controller that holds the knowledge of an application and it reconciles to the desired state. I guess it really depends on what those decisions are, are they there to influence k8s resources and reconcile, then yes I would say you are building an operator. But if they are there to just inform the user, I would say just leverage the k8s api and you don't need the

[2019-05-06 17:16] camilamacedo86 commented on #1383
@mossuchida,

I'd like to share that you can use/call the type/instance A in controller B if required. See [here](https://github.com/aerogear/mobile-security-service-operator/blob/master/pkg/controller/mobilesecurityserviceapp/controller.go#L133) for example we doing it. I hope that it can be helpful for you.

[2019-05-06 17:20] camilamacedo86 commented on #1394
Hi @willthames,

I am afraid that I could not understand what exactly you are looking for. Note that you can run `operator-sdk build <image>:tag` and your docker file will be created then you just need to push it.

Could you please describe what, when and why you are looking for? I will be very glad you with.

[2019-05-06 19:02] hasbro17 commented on #1380
/cc @fabianvf @shawn-hurley

[2019-05-06 20:39] hasbro17 commented on #1389
@siddontang Thanks for the report. I'm having trouble reproducing it on my end though.
I've tried the command for the [v0.7.0](https://github.com/operator-framework/operator-sdk/releases/tag/v0.7.0) release and with the master build.

It's not immediately clear to me what could be the issue from the logs above.
Can you try the command with the master branch of the SDK. Just want to double check if

[2019-05-06 20:50] hasbro17 commented on #1391
@siddontang Again couldn't reproduce this but I think this might be related to your issue in #1389
Did you manage to find a fix for that? If not then we should probably fix that first before moving on to this.
Either way we can probably consolidate both these issues together.

And similar to https://github.com/operator-framework/operator-sdk/issues/1389#issuecomment-489767987 if you could confirm

[2019-05-06 22:23] #1334 closed

[2019-05-06 22:28] hasbro17 commented on #1394
@camilamacedo86 I think @willthames is asking for a newer version of git than what we currently have in the Ansible operator base image for v0.7.0.
https://quay.io/repository/operator-framework/ansible-operator?tab=tags

`operator-sdk build ...` and `docker push` are used to build the operator image on top of that base image.

Deferring to the ansible-operator folks on this.
/cc @shawn-hurley @fab

[2019-05-06 23:31] estroz commented on #1360
@jcrossley3 @LiliC PR open: #1396

[2019-05-07 01:14] siddontang commented on #1389
Thanks @hasbro17

I tried to build master but failed with

[code]

seem operator-sdk now doesn't support latest Go version, a little surprised :-)

[2019-05-07 01:15] siddontang commented on #1389
I also tried `--header-file` too, but still met the same problem.

[2019-05-07 02:28] siddontang commented on #1389
Thanks @hasbro17

I use the latest master and have not met this problem again.

[2019-05-07 02:28] #1389 closed

[2019-05-07 02:28] #1391 closed

[2019-05-07 10:06] camilamacedo86 opened #1397 "Add example of finalizers into guide and Memcached Getting Started impl"
## Feature Request

**Is your feature request related to a problem? Please describe.**
* Help us know it should be implemented and its usage
* Make intuitive the recommendation as it should be used and done properly

**Describe the solution you'd like**
* Add [here](https://github.com/operator-framework/operator-sdk/blob/beb87f05b38dfadc06cdeba82274db0a7cf8918b/doc/user-guide.md#handle-cleanup-on-

[2019-05-07 10:50] camilamacedo86 commented on #1397
According to the doc we should add the following in the CR.

[code]
However, is not clear how we should use it in the controller/reconcile. Could you provide any example in a golang operator project?

[2019-05-07 13:03] joelanford opened #1398 "Release process: use latest release and links"
It would be nice to use the [latest release link](https://help.github.com/en/articles/linking-to-releases#linking-to-the-latest-release) so that we don't have to update the install doc every time we make a release.

To use that, I think we would need to stop using the "This is a pre-release" checkbox when we create a new release, and we would need to stop including the version number in the releas

[2019-05-07 15:10] joelanford commented on #1393
My two cents, this is something [kubebuilder is already using](https://book.kubebuilder.io/beyond_basics/deploying_controller.html#customizing-the-controller-manager-manifests-using-kustomize), and I think it could be pretty useful to incorporate into the SDK.

One minor concern is that we would need to add a new dependency on `kustomize`, bump our `kubectl` dependency to 1.14.x, or vendor `kustom

[2019-05-07 16:42] #1270 closed

[2019-05-07 17:50] camilamacedo86 commented on #1397
Following how I could use/do it.

Controller/Reconcile
[code]

[code]

[2019-05-07 19:40] joelanford commented on #1336
@morstad Understood. I think the best way forward is to leave this issue open and wait for the upstream fix to be merged. If that resolves this issue, we can close this one. If it doesn't (or that PR is closed without being merged), we can look into other options on the SDK side.

[2019-05-07 19:55] joelanford commented on #1238
@kfox1111 We've had more team discussions about hybrid operators and I brought this use case up as something we should support. It has been incorporated more generally into https://github.com/operator-framework/operator-sdk/issues/1307 as the first use case listed:

Do you think this is a reasonable approach for your use case? If so, can we close this and consolidate discussion in #1307?

[2019-05-07 20:07] radu-matei opened #1399 "Multiple image builder options"
Hi, everyone!
First of all, thanks for the awesome work put into this project!

Is it in the scope of this project to support multiple image builder options?
I'm thinking specifically at using various cloud-provided container builders, for cases when running in containerized environments (so running `buildah` is not straightforward, and neither is any form of Docker in Docker), or simply don't wan

[2019-05-08 21:14] camilamacedo86 commented on #1397
PR https://github.com/operator-framework/operator-sdk/pull/1402 done to attend this need.

[2019-05-08 21:14] #1397 closed

[2019-05-08 23:19] #1386 closed

[2019-05-09 09:14] chenmin1992 opened #1404 "Do not override CGO_ENABLED=1 in "operator-sdk build""
## Type of question

**Are you asking about community best practices, how to implement a specific feature, or about general context and help around the operator-sdk?**

## Question

**What did you do?**
[code]

**What did you expect to see?**
build successfully

**What did you see instead? Under which circumstances?**
[code]

**Environment**
* operator-sdk version:

  operator-sdk version v0.5.0+g

[2019-05-09 11:42] willthames opened #1405 "ansible operator does not support multiple inventories"
## Bug Report

**What did you do?**
Set ANSIBLE_INVENTORY to `/opt/ansible/inventory,/applications/docker-debug/docker-debug/inventory,/applications/kuard/kuard/inventory`

**What did you expect to see?**
Ansible operator passing the inventory value on to ansible-runner without complaint

**What did you see instead? Under which circumstances?**

[code]

**Environment**
* operator-sdk version:

0.7

[2019-05-09 12:13] willthames commented on #1405
https://github.com/ansible/ansible-runner/issues/296 is the corresponding ansible-runner issue.

As it stands, I think you'd need to do the split and pass each item with `--inventory` but it'd be nice if ansible-runner handled ANSIBLE_INVENTORY and/or inventory in ansible.cfg, and the operator only checking inventory if it was explicitly set.

[2019-05-09 12:15] LiliC commented on #616
/remove-lifecycle stale

[2019-05-09 12:25] shawn-hurley commented on #1340
I think the problem is attempting to run oc annotate, which may be sending some odd requests that we are unable to process in the cache.

@matihost is it at all possible to get a small reproducer that I can try and get to the bottom of this?

[2019-05-09 20:22] estroz commented on #868
/lifecycle-frozen

[2019-05-10 04:49] syedriko opened #1409 "Build error following doc/user-guide.md or README.md, with go modules"
## Bug Report

**What did you do?**
Followed doc/user-guide.md, with go modules, to the point of
[code]

**What did you expect to see?**
quay.io/example/memcached-operator:v0.0.1 docker image is built

**What did you see instead? Under which circumstances?**
[code]

**Environment**

OOTB Fedora 30

* operator-sdk version:

operator-sdk version: v0.7.0+git
the current HEAD of https://github.com/ope

[2019-05-10 06:42] baichinger commented on #1038
/close

[2019-05-10 06:42] #1038 closed

[2019-05-10 08:54] LiliC commented on #1404
Yes we seem to override that while building. https://github.com/operator-framework/operator-sdk/blob/master/cmd/operator-sdk/build/cmd.go#L175

Let me make turn this into a feature request, I can understand the need for this.

But in the meantime, maybe just perform the build steps one by one instead of using the helper command.

[2019-05-10 11:49] baijum commented on #1404
I am looking for a feature where I can specify Go build arguments.  The flag could similar to `operator-sdk up local --go-ldflags`.  This will be useful to inject build-time values as described in this blog: https://blog.alexellis.io/inject-build-time-vars-golang/

[2019-05-10 12:07] LiliC commented on #1409
@syedriko yes I believe we mention the need to rerun `go mod vendor` in the docs.

cc @estroz

[2019-05-10 12:09] LiliC commented on #1399
@radu-matei Thanks for the feature request, if you are interested you can write up a quick proposal to provide more details on this? https://github.com/operator-framework/operator-sdk/tree/master/doc/proposals

[2019-05-10 12:16] LiliC commented on #1393
@joelanford agreed it would be something nice to have, especially since kustomize is already part of kubectl! My only fear is when do we stop, which ways do we expect and which we reject. We have OLM for obvious reasons, and yaml as that is the default option. But if someone wants jssonet do we want to support that?

@fentas would this be something you would be interested in working, no worries if

[2019-05-10 15:00] syedriko commented on #1409
There's indeed a mention of it in the Advanced Topics of the user-guide.md. But look at this from the first timer perspective. I, for one, did not know go modules existed until I started working through the user guide.

I followed the "Get started with the SDK" link on https://www.openshift.com/learn/topics/operators and worked through the guide step-by-step and ran into the issue I'm reporting.

[2019-05-10 15:38] joelanford commented on #1409
@syedriko thanks for pointing this out. We just merged the go modules support yesterday, so with such a big change, there are likely still some rough edges (like this one).

Since go modules make the `vendor` directory less necessary, we plan to make a follow-up change that only invokes the `go` command with `vendor`-related options when a vendor directory is already present.

When we make that ch

[2019-05-10 16:09] LiliC commented on #992
Added in the #1001 PR.

[2019-05-10 16:09] #992 closed

[2019-05-10 16:46] AlexNPavel commented on #984
/close

[2019-05-10 16:46] #984 closed

[2019-05-10 16:48] allamand opened #1411 "Error generate k8s when using symlinks"
## Bug Report

I've got an error while generating k8s code when the code is symlink in the target directory

i'm using version 0.7.0

**What did you do?**

Without symlink it works :
[code]

With symlinks it broke :

[code]

in my pipeline I can't force the working_directory so I go through the symlink, but it won't work anymore.

thanks for help

[2019-05-10 16:56] joelanford commented on #1411
@allamand Has this worked in earlier versions of `operator-sdk`?

We've seen issues with symlinks come up relatively often, and the answer is typically to flip the symlink and make sure that the symlink points into $GOPATH, rather than creating a symlink in $GOPATH pointed somewhere outside $GOPATH.

Is doing something like that possible in your pipeline?

[2019-05-10 17:46] syedriko commented on #1409
Lucky me :)
Can we then add the `go mod vendor` to the user guide and the readme for now and remove them when they're no longer needed? I added a commit to here: https://github.com/operator-framework/operator-sdk/pull/1408/commits/84ffd568d717b15f0dd7675053b1e53814bfc0e8

[2019-05-10 17:47] AlexNPavel commented on #937
/remove-lifecycle stale

[2019-05-10 18:08] AlexNPavel commented on #935
/remove-lifecycle stale

[2019-05-10 18:11] hasbro17 commented on #767
/remove-lifecycle stale

This is coming up with the stable release of controller-runtime v0.2.0, currently [v0.2.0-alpha.0](https://github.com/kubernetes-sigs/controller-runtime/releases/tag/v0.2.0-alpha.0)

ref: https://github.com/operator-framework/operator-sdk/pull/1388

[2019-05-12 08:53] iwasaki-kenta opened #1418 "Permission denied writing files in the container of deployed operator."
## Type of question

Help around `operator-sdk`.

## Question

**What did you do?**

Try to write a Go-based operator that writes and saves files into its container.

**What did you expect to see?**

Permission should be granted; works if the operator is deployed locally rather than as a Docker container.

**What did you see instead? Under which circumstances?**

Permission denied. Does anything n

[2019-05-13 11:42] craicoverflow opened #1421 "How do I add an OpenShift route to scheme in a Reconcile unit test?"
## Type of question

**Are you asking about community best practices, how to implement a specific feature, or about general context and help around the operator-sdk?**

How to implement a specific feature.

## Question

**What did you do?**

I have created a test function to test my `Reconcile` function by following the [`Testing Reconcile`](https://github.com/operator-framework/operator-sdk/blob/

[2019-05-13 11:43] camilamacedo86 commented on #1421
@LiliC could you give a hand to us?

[2019-05-13 15:06] shawn-hurley commented on #923
/remove-lifecyle stale

[2019-05-13 15:19] LiliC commented on #855
/remove-lifecycle stale

[2019-05-13 15:22] shawn-hurley commented on #1051
@matihost Sorry for the delayed response here.

We have added some code that will not use the cache if the resource's namespace is not in the list of namespaces that your cache is watching. I think this solves the problem and still has the correct behavior for everything else. I am going to close this issue, but please re-open and comment if you disagree with this analysis.

[2019-05-13 15:22] #1051 closed

[2019-05-13 16:35] shawn-hurley commented on #659
Just want to clarify the work that still needs to be done on this issue:

1. We need to add an info log, that mentions that resource XXX will not have an owner reference and therefore will need to be cleaned up.
2. We need to write a really good summary of the rules of this system in a user doc.

[2019-05-13 16:48] shawn-hurley commented on #987
I am going to close this as we have fixed the issue.

please re-open if this is not the case.

/close

[2019-05-13 16:48] #987 closed

[2019-05-13 16:49] shawn-hurley commented on #671
/remove-lifecycle stale

[2019-05-13 16:52] LiliC commented on #1028
/remove-lifecycle stale

unless @hasbro17 this is not relevant anymore?

[2019-05-13 16:53] shawn-hurley commented on #1082
/remove-lifecycle stale

[2019-05-13 17:59] AlexNPavel commented on #1418
For security purposes, the processes in the container are configured to not run as root, so you cannot modify files at the base directory. The operator process has permissions to it's home directory (in `$HOME`), and if you wish to save files, they should be saved in the home directory.

[2019-05-13 19:36] shawn-hurley commented on #1421
Hey,

I think you need to use this function: https://github.com/craicoverflow/mobile-security-service-operator/blob/AEROGEAR-8951/vendor/sigs.k8s.io/controller-runtime/pkg/client/fake/client.go#L57 and pass the scheme where this registered to it.

I am going to close but please re-open if that does not work.

[2019-05-13 20:29] hasbro17 commented on #1028
@LiliC It's still relevant. It just hasn't been highly requested and I kind of forgot to get around to this.
So yes we should keep this open until we add in some docs and an example for the [EnqueueRequestsFromMapFunc](https://godoc.org/github.com/kubernetes-sigs/controller-runtime/pkg/handler#EnqueueRequestsFromMapFunc).

Hard to think of a useful example for it though. I haven't seen any actual

[2019-05-13 21:37] hasbro17 commented on #1404
@baijum Can you please open up a new issue for that so we can track the feature request?
From the looks of it, passing in Go build args to `operator-sdk build` shouldn't be too difficult.

[2019-05-14 07:51] craicoverflow commented on #1421
Hi @shawn-hurley,

Thanks for the reply. I've tried the function you suggested instead and unfortunately I still get the same error:

[code]

Could you reopen this issue? I am unable to.

[2019-05-14 10:20] lynic opened #1423 "Invalid memory adding api following guide"
## Bug Report

**What did you do?**
I following the guide to add memcache-operator API, but got invalid memory error:
[code]

**What did you expect to see?**
I pass without error

**What did you see instead? Under which circumstances?**
I use the operator-sdk master brach and make install to build and install.

**Environment**
* operator-sdk version:

[code]

* go version:
1.12

* Kubernetes versi

[2019-05-14 13:37] shawn-hurley commented on #1421
@craicoverflow I have another idea

and then:

I think you should remove the second one and then see if that helps?

[2019-05-14 14:35] camilamacedo86 commented on #1421
Hi @craicoverflow,

Following my test which worked.

[code]

[2019-05-14 15:01] camilamacedo86 commented on #1421
Hi @craicoverflow,

The following isolated test worked.

[code]
Following the result.
<img width="1145" alt="Screenshot 2019-05-14 at 15 59 22" src="https://user-images.githubusercontent.com/7708031/57708588-806c5780-7661-11e9-900c-213b84d9b17a.png">

[2019-05-14 15:04] shawn-hurley commented on #1421
@camilamacedo86 can you see if removing this line:

works as well?

[2019-05-14 15:16] camilamacedo86 commented on #1421
Hi @shawn-hurley,

After removing the line `s.AddKnownTypes(routev1.SchemeGroupVersion, &routev1.Route{})` it still working which confirms the following is adding the schema.

[code]

So, following the full test in order to prove that it is importing the schema.

[code]
Following the result without adding the Route scheme in the following lines.

<img width="1614" alt="Screenshot 2019-05-14 at 16

[2019-05-14 16:05] oreissig opened #1424 "What does `var _ reconcile.Reconciler` do?"
## Type of question

Question about generated code.

## Question

**What did you do?**
Took a look at the example code.

**What did you expect to see?**
Clear, well-commented code.

**What did you see instead? Under which circumstances?**
The generated code is indeed pretty well-documented, but this referenced line I do not get. I assume it is not there by accident, but fail to see its semantic.
E

[2019-05-14 16:09] shawn-hurley commented on #1424
This allows the compiler to make sure that your type conforms to the interface that it should conform too.

[2019-05-14 16:19] oreissig commented on #1424
Oh that makes sense, thank you!
So maybe it was just a n00b question from me being new to Go, but would you agree that there should be a one-line comment about that in the generated code?

[2019-05-14 16:22] shawn-hurley commented on #1424
No, not an n00b question! Thanks for bringing it up.  I totally think that makes sense to document this. Would you like to add it?

[2019-05-14 16:24] oreissig commented on #1424
Yeah sure, will do tomorrow 👍

[2019-05-14 18:10] mathianasj opened #1425 "Broken Integration Test in Travis"
## Bug Report

**What did you do?**
I was in the process of submitting a pull request, and noticed the travis tests were failing.  I checked out the master branch and ran the tests locally and was presented with the same failure.

**What did you expect to see?**
I expected the tests to pass

**What did you see instead? Under which circumstances?**
[code]

**Environment**
* operator-sdk version: ea

[2019-05-14 18:18] AlexNPavel commented on #1425
Where did you see this happening on travis? We test every PR and branch on travis and I haven't seen this issue occur on travis or in local runs on my workstation.

Results of travis tests on our repo's branches: https://travis-ci.org/operator-framework/operator-sdk/branches

[2019-05-14 18:42] jmrodri commented on #1175
@shawn-hurley sure make them k8s timestamps format. Also okay if they're different.

[2019-05-14 19:15] shawn-hurley commented on #1342
@wkulhanek Sorry for the late reply is your operator watching all namespaces or just a single namespace?

[2019-05-14 19:16] wkulhanek commented on #1342
@shawn-hurley Watching a cluster wide resource. The "ClusterQuota" custom resource is cluster scoped.

[2019-05-14 19:37] fahlmant opened #1426 "Extend metrics API to support custom metrics"
## Feature Request

**Is your feature request related to a problem? Please describe.**
Our operator needs to expose metrics based on stats other than direct CR counts. For example,
the [certman-operator](https://github.com/openshift/certman-operator/) exposes metrics based on a count from the https://crt.sh/ api. More generally, we may want to count CRs a different way, or add a metric that uses t

[2019-05-14 23:03] camilamacedo86 commented on #1421
IN PROGRESS ...
DRAFT COMMENT

I could reproduce the scenario raised here. Following the datails

## Issue description

**WHAT:** Unable to fetch objects using third-party libs as for example v1.Route ("github.com/openshift/api/route/v1")
**WHERE**: in the unit-test
**WHEN**: The third-part scheme is added ( Note that the `r.client.Create(context.TODO(), route)` works )
**IMPACT**: Users are unabl

[2019-05-14 23:40] camilamacedo86 opened #1427 "Error `no kind "Route" is registered for version "v1" in scheme "k8s.io/client-go/kubernetes/scheme/register.go:61` is shown when try to use the Get and/or List for the fakeClient"
## Bug Report
**What did you do?**

Impl a unit test to get a v1.Route object as described in the [unit-testing](https://github.com/operator-framework/operator-sdk/blob/master/doc/user/unit-testing.md) docs.

[code]

**What did you expect to see?**

Able to use `fakeClient.Get` and `fakeClient.List` when the object is of the type [v1.Route](https://docs.openshift.com/container-platform/3.4/rest_ap

[2019-05-15 02:11] l10xbin opened #1428 "operator-sdk add api --api-version=app.example.com/v1alpha1 --kind=AppService"
## Bug Report

**What did you do?**
Try to generate api with command `operator-sdk add api --api-version=app.example.com/v1alpha1 --kind=AppService`

**What did you expect to see?**
End with no error.

**What did you see instead? Under which circumstances?**
operator-sdk add api --api-version=app.example.com/v1alpha1 --kind=AppService
INFO[0000] Generating api version app.example.com/v1alpha1 for

[2019-05-15 09:10] l10xbin commented on #1428
It looks like the problem of go mod, After upgrade go version from 1.11 to go version go1.12.5 linux/amd64, The command works.

[2019-05-15 09:10] #1428 closed

[2019-05-15 10:33] linzhaoming opened #1430 "operator deployment running changed env"
## Bug Report

**What did you do?**
A clear and concise description of the steps you took (or insert a code snippet).
1.  Deploy the operator.yaml generated by the `operator-sdk`, and run successfully in the openshift cluster.
2. Add the env of the running operator to trigger the new deployment, such as `KeyA=ValueA`, whatever.
3. In this case, we expected the old container is stopped, and the new

[2019-05-15 12:35] shawn-hurley commented on #1427
Can you try:

[code]

[2019-05-15 13:45] #1424 closed

[2019-05-15 13:58] camilamacedo86 commented on #1427
Hi @shawn-hurley,

I was very silly here. Yes, it makes sense and worked !!

I will create a PR for the docs with all info over this subject for we are able to close this issue and https://github.com/operator-framework/operator-sdk/issues/1421#issuecomment-492442344.  I will ping you and let you know.

Following the test.

<img width="1257" alt="Screenshot 2019-05-15 at 14 46 33" src="https://user

[2019-05-15 15:10] #1404 closed

[2019-05-15 15:58] #1421 closed

[2019-05-15 16:39] estroz commented on #498
/lifecycle frozen

[2019-05-15 16:40] #941 closed

[2019-05-15 16:41] estroz commented on #976
/lifecycle frozen

[2019-05-15 18:11] fentas commented on #1393
Would love to but atm I am quite busy creating an operator. :+1:

[2019-05-15 18:29] joelanford commented on #1430
@linzhaoming Before we get too far in diagnosing your issue, I want to point out that the SDK lists Kubernetes 1.11.3+ as a prerequisite, so older versions of Kubernetes (and OpenShift) may not work.

Having said that, this sounds similar to #920. Does your operator have a readiness probe that succeeds only after the operator pod becomes the leader?

[2019-05-15 18:34] joelanford commented on #1426
Ping @LiliC

[2019-05-15 19:32] syedriko commented on #1409
Should we close this now that PR #1408 is merged?

[2019-05-15 19:39] joelanford commented on #1423
@lynic Thanks for reporting this issue. I think you may have found a bug in the way we determine the module path in `go.mod`. You can fix it yourself by editing the first line of your `go.mod` to be `module memcached-operator`, or you can recreate the project in a subdirectory within `$GOPATH` (e.g. `$GOPATH/src/github.com/lynic/memcached-operator`)

In the meantime, I'll submit a PR that fixes th

[2019-05-16 02:32] baijum opened #1435 "Flag to provide Go build arguments"
## Feature Request

**Is your feature request related to a problem? Please describe.**

I want to include Git commit hash in the operator binary. It can be injected as a build-time value as described in this blog: https://blog.alexellis.io/inject-build-time-vars-golang/
This requires a way to specify Go build arguments in the `operator-sdk build` command.

**Describe the solution you'd like**

The

[2019-05-16 02:33] baijum commented on #1404
@hasbro17 I have created a feature request here:
https://github.com/operator-framework/operator-sdk/issues/1435

[2019-05-16 09:24] soupdiver opened #1436 "Dependency issues when creating new project"
## Bug Report

**What did you do?**
Follow the instructions to create a new operator
Error occurs during ` operator-sdk add api --api-version=app.example.com/v1alpha1 --kind=AppService`

**What did you expect to see?**
No error

**What did you see instead? Under which circumstances?**
[code]

**Environment**
* operator-sdk version:

`operator-sdk version: v0.7.0`

* go version:

`go version go1.12

[2019-05-16 14:06] joelanford commented on #931
/lifecycle frozen

[2019-05-16 14:45] nmasse-itix opened #1437 "operator-sdk up local: The `ansible_python_interpreter` variable is missing from the generated inventory"
## Bug Report

I created my first operator using Ansible as explained here:
https://github.com/operator-framework/operator-sdk/blob/master/doc/ansible/user-guide.md

**What did you do?**

After having installed the operator-sdk, Ansible, ansible-runner, the openshift module and the ansible-runner-http plugin.

[code]

Having scaffolded the operator structure:

[code]

Having written some code:

[c

[2019-05-16 15:48] camilamacedo86 commented on #1427
We checked that  TypeMeta: v1.TypeMeta{ is injected automatically, so shows not a good practice subscribe to these values. In this way, the best solution here would be not adding "TypeMeta: v1.TypeMeta" at all :-)

[2019-05-16 16:23] #1423 closed

[2019-05-16 16:49] shawn-hurley commented on #1427
@camilamacedo86 do you think that we can close this bug then? Or do you and @craicoverflow think that we should add some documentation for this somewhere?

[2019-05-16 18:16] camilamacedo86 commented on #1427
Yes, we can. I just keep open in order to remind me to create the PR for docs.

[2019-05-16 18:16] #1427 closed

[2019-05-16 20:18] camilamacedo86 commented on #1427
PR done in order to address it in the docs https://github.com/operator-framework/operator-sdk/pull/1440

[2019-05-16 20:57] rafaelvanoni commented on #1436
I ran into the same issue, just got a slightly different output:

[code]

[2019-05-17 06:37] soupdiver commented on #1436
@rafaelvanoni I think yours is just a warning. There is nothing to be compiled in that package and therefor it's ignored. I think this is fine

[2019-05-17 09:37] LiliC commented on #1436
@soupdiver `operator-sdk version: v0.7.0` as that version did not include go mod support yet. If you want go mod support you need to install operator-sdk from the master version, it should be in the next release if you want to wait for that.

[2019-05-17 09:41] soupdiver commented on #1436
@LiliC ahhhhh that actually makes sense. I was looking at the Readme for `master` but was using release `0.7.0`.
Thanks for revealing that 👍

[2019-05-17 09:41] LiliC commented on #1436
@soupdiver no problem, if you run into any issues with anything feel free to open a new issue.

[2019-05-17 09:41] #1436 closed

[2019-05-17 09:44] LiliC commented on #1418
@iwasaki-kenta Hopefully the above answered your question otherwise feel free to reopen this or open another issue.

[2019-05-17 09:44] #1418 closed

[2019-05-17 09:46] LiliC commented on #1425
@mathianasj Hello, like @AlexNPavel mentioned before we run the tests constantly and we haven't noticed this. If you run into this again feel free to open this issue or open another one possibly with link to the failing test, thanks!

[2019-05-17 09:46] #1425 closed

[2019-05-17 09:47] LiliC commented on #1398
This was done in #1395

[2019-05-17 17:04] #1343 closed

[2019-05-17 17:59] #890 closed

[2019-05-18 00:27] chenrui333 opened #1451 "Homebrew v0.8.0 upgrade issue"
relates to https://github.com/Homebrew/homebrew-core/pull/40000

build log:
[code]

Upgrade to 0.7.1 seems fine.

[2019-05-18 01:00] AlexNPavel commented on #1451
The default dependency management system starting with operator-sdk `v0.8.0` is go modules. Go 1.12+ is required, and currently the `GO111MODULE=on` environment variable needs to be set to enable modules. To use `dep` instead, you can use `--dep-manager=dep`

See the README and sdk cli guide for more info: https://github.com/operator-framework/operator-sdk#create-and-deploy-an-app-operator https:/

[2019-05-18 01:39] chancez opened #1453 "Ansible operator should log playbook tasks to ansible log container as they're executed"
## Feature Request

**Is your feature request related to a problem? Please describe.**

My playbook takes a long time to execute, and while I can see the high level overview of what's running within the operator container through the `[playbook task]` event logging, I cannot see the full output of each task until the entire playbook finishes executing, either successfully or through a failure.

Th

[2019-05-20 08:07] allamand commented on #1411
Hi @joelanford, yes it was working in the previous version. For now, I've worked out it by copying files in the GOPATH instead of making symlinks. It take longer to make copy in the pipeline, but it works :)

[2019-05-20 08:16] LiliC commented on #1451
Upgrading worked for using homebrew to v0.8.0 so closing this issue, thanks @chenrui333

[2019-05-20 08:16] #1451 closed

[2019-05-20 10:54] zephinzer commented on #992
This still doesn't work for me, running MacOS 10.11.6 with Go 1.12.5 and `GO111MODULE=on` set.

`operator-sdk version` output:

[code]

`operator-sdk new some-operator --type=go --skip-git-init` output (from outside `$GOPATH`):

[code]

[2019-05-20 11:53] chenrui333 commented on #1451
👍

[2019-05-20 14:14] joelanford commented on #1409
:+1: Thanks!

[2019-05-20 14:14] #1409 closed

[2019-05-20 14:15] joelanford commented on #992
@zephinzer The SDK currently still requires projects to be created in $GOPATH. See the discussion in https://github.com/operator-framework/operator-sdk/pull/1417.

[2019-05-20 18:30] chancez commented on #1453
After some digging, I found how the logs work https://github.com/operator-framework/operator-sdk/blob/master/internal/pkg/scaffold/ansible/ao_logs.go#L40-L49

It seems it waits for the close_write event and uses `cat` which means it's waiting for the file to be closed, then using `cat` to write the entire contents out.

I'm currently working on an alternative script that streams these logs out, bu

[2019-05-20 22:41] estroz opened #1457 "SDK should work outside of `$GOPATH/src`"
## Feature Request

**Is your feature request related to a problem? Please describe.**
The SDK depends on `GOPATH` being set in a users' development/build environment to run certain commands. Specifically [`CheckAndGetProjectGoPkg()`](https://github.com/operator-framework/operator-sdk/blob/fb10d7d75c435eb5951ce14e15e158b1ab0683c2/internal/util/projutil/project_util.go#L141-L148) requires `$GOPATH`

[2019-05-21 01:27] linzhaoming commented on #1430
Thanks, it is simillar to #920 .

[2019-05-21 01:27] #1430 closed

[2019-05-21 03:31] smiklosovic opened #1458 "How do I actually test my operator?"
Hi,

we are using this SDK for deploying some services to Kubernetes but we are lacking tests. We test it all manually by running it.

What are the best practices for testing my operator? There is not any documentation about operator testing. I was looking into this repository, in `test/e2e/memcached_test.go`, but honestly I dont have a clue how that test is run. Travis build does not seem to run

[2019-05-21 04:58] BaddamJhansi opened #1459 "operator-sdk new app-operator failed"
**What did you do**

**operator-sdk** new app-operator failed. It has created app-operator, go.mod, tools.go then it shows new Go scaffold failed, illegal character U+0073 's' in escape sequence (and 11 more errors)).

This is the error shown when I am trying to create new go operator.

**What did you see instead? Under which circumstances?**
[code]
***operator-sdk version:

operator-sdk version:

[2019-05-21 06:39] arunkanthkarre opened #1460 "can we implement the ansible operator in cloud environment?"
to implement ansible operator minikube is required but it does not support in cloud environment.
how can i rectify this one if any one  implement this environment in cloud can u please help me to implement it

[2019-05-21 08:49] camilamacedo86 commented on #1458
Hi @smiklosovic,

The unit test documentation is: https://github.com/operator-framework/operator-sdk/blob/master/doc/user/unit-testing.md

Also, it has a PR to be improved see: ( I hope that you find easier to check the info in here in this PR) : https://github.com/operator-framework/operator-sdk/blob/8fb5317317d58a46eb28ca11cdf3e0ba2eb39c93/doc/user/unit-testing.md

Please, let us know if it is t

[2019-05-21 11:51] camilamacedo86 commented on #1459
Are you able to face the same issue if you use the master branch of operator-sdk?

[2019-05-21 12:38] traghave commented on #955
@LiliC @yaminisridaran
I'm having similar issue, is there way we can distinguish between add and update operations.
Incase of Add I want to invoke POST call to a custom API where as for update I need to do PUT.
Could you help?

[2019-05-21 15:50] shawn-hurley commented on #955
Hello Folks,

There seems to be a lot of questions about the operator knowing if a create event or update event. This is expressly against the design decisions made by controller-runtime.

The reason for this is that no mechanism exists to guarantee that you will get the creation event before processing the addition event. This means that your controller should be making decisions based on the cur

[2019-05-21 17:08] camilamacedo86 opened #1464 "Small improvements for Memcached example"
## Feature Request

**Is your feature request related to a problem? Please describe.**

Since it is not a good practice to make a loop be performed many times, with many checks, unnecessarily which will spend more resources without any need/reason for that I understand that the reconcile follow the same principal.

In order to clarify my idea, make the reconcile requeue always without any reason f

[2019-05-21 17:19] shawn-hurley commented on #1460
Are you asking if the ansible operator can be used with any version of kubernetes? are you asking about a specific operator-sdk command?

[2019-05-21 17:32] camilamacedo86 commented on #1464
I will be working on it. :-)

[2019-05-21 18:12] camilamacedo86 opened #1465 "Create a command to upgrade the local version installed"
## Feature Request

**Is your feature request related to a problem? Please describe.**
If the user would like to update the local installation needs came to be to docs and guess that re-install it again will works which is not a good experience.

**Describe the solution you'd like**

Add a new command `operator-sdk upgrade` for example which will check the SO re-install it to get the latest versio

[2019-05-21 19:05] jmazzitelli commented on #1328
This doesn't solve my problem as reported in #1330

After upgrading to 0.8.0, I still see this:

Make sure I'm running 0.8.0:

[code]

But I still see the error:

[code]

[2019-05-21 19:10] jmazzitelli commented on #1330
I just used 0.8.0 (which should have that fix) and I am still seeing the problem:

Make sure I'm running 0.8.0:

[code]

But I still see the error:

[code]

[2019-05-21 19:11] jmazzitelli commented on #1330
In addition, we (in Kiali) are also seeing this "cannot determine owner" error when attempting to create an OpenShift route (not related to CRDs). I'm not sure if its related or not, but see: https://issues.jboss.org/browse/KIALI-2873

[2019-05-21 19:40] jmazzitelli commented on #1330
I didn't notice this final sentence. So now I understand we need to wait for the ansible operator to use this new stuff.

[2019-05-21 21:27] kdwodc opened #1468 "Build error on 10.14 Yosemite with latest operator-sdk from Homebrew"
## Bug Report

(dependencies seem all in place, and `brew doctor` reports no issues.)

My first time trying to build a new operator with the latest operator-sdk version. Perhaps I did something wrong?

**What did you do?**

[code]

**What did you expect to see?**

A successful build of the generated code, since I didn't change anything.

**What did you see instead? Under which circumstances?**

Ou

[2019-05-21 22:41] joelanford commented on #1459
@BaddamJhansi we don't test `operator-sdk` on Windows, so we don't claim to support it. However, we don't _think_ there should be anything that prevents it from working on Windows.

Unfortunately, that error message is not very helpful. Taking a shot in the dark here, could you post the first line of the `go.mod` file that was generated?

[2019-05-21 22:44] joelanford commented on #1459
As an aside, that message shows that we don't log much context for these errors. I'll open a PR tomorrow to improve the error messages so that we can try to figure out where this is coming from.

[2019-05-21 23:01] joelanford commented on #1398
While #1395 was a great step forward, my intent with this issue was to look at whether our install doc could have a static link that always points to our latest release in GitHub. Something like:

https://github.com/operator-framework/operator-sdk/releases/download/latest/operator-sdk-x86_64-linux-gnu

Having a static link would mean one less thing to update a version number in, and it would make

[2019-05-21 23:04] joelanford commented on #1465
IMO, this would add too much complexity to `operator-sdk`.

For homebrew users, I think it's reasonable to expect them to use the `brew` CLI to upgrade their package natively, since that's how they do it for all other brew-installed packages.

For non-homebrew users, there are currently two methods:
1. Download it from our releases page. This could be scripted fairly easily (just have to pass in a

[2019-05-21 23:08] joelanford commented on #1468
@kdwodc do you by any change have `CGO_ENABLED=1` in your environment? If so, try `unset`-ing that and re-running the build.

[2019-05-22 01:38] BaddamJhansi commented on #1459
@joelanford Thank you so much for looking into my issue.  I am not unable to open go.mod file. Even main.go file which is in app-operator/cmd/manager/main.go is also empty.

[2019-05-22 01:41] BaddamJhansi commented on #1459
@camilamacedo86 i am facing same issue even using master branch.

[2019-05-22 03:07] smiklosovic commented on #1458
HI @camilamacedo86 ,

thanks for links, definitely helpful.

What are the practical differences between local and cluster testing and when would one choose the former approach instead of the latter? Any pros and cons? Can you elaborate on this little bit?

Thanks

[2019-05-22 03:21] smiklosovic commented on #1458
More to it, it is possible to unit test e.g stateful sets?

I understand that I can use fake client for my reconciler so it would be "as if" that client interacts with cluster, but it does not so there are not any pods running or similar.

On the other hand, our reconciliation logic does make some assumptions about the state of a cluster of services before scaling up or down hence we need to call

[2019-05-22 04:13] BaddamJhansi commented on #1459
@joelanford  Thank you so much for looking into my issue. I am unable to open go.mod file. Even main.go file which is in app-operator/cmd/manager/main.go is also empty.

[2019-05-22 06:53] camilamacedo86 commented on #1465
It is fine. Please, feel to close if you think that add it is not the best way.

[2019-05-22 07:02] camilamacedo86 commented on #1458
Hi @smiklosovic,

My suggestion is because I believe that is easier getting started by the unit test to know how you will do it and get a better idea. If your reconcile is creating these objects I don't think you need to mock them.

I hope that it is what you are looking for.

[2019-05-22 08:50] smiklosovic commented on #1458
Cool, please leave this open for a while, maybe I ll have a couple of other questions, I was successful in coding e2e tests and they run fine.

[2019-05-22 14:00] kdwodc commented on #1468
Ah, that was it. Thanks!

[2019-05-22 14:00] #1468 closed

[2019-05-22 15:45] grdryn commented on #1464
In that Memcached example, it explicitly comments to return and requeue when things are created or updated. It does seem odd to have that explicitly commented if you're saying that it's not necessary.

https://github.com/operator-framework/operator-sdk-samples/blob/master/memcached-operator/pkg/controller/memcached/memcached_controller.go#L116..L117

https://github.com/operator-framework/operator-

[2019-05-22 17:57] chancez opened #1471 "Ansible-operator should have extra var containing spec without status"
## Feature Request

**Is your feature request related to a problem? Please describe.**

Currently, when ansible-operator executes your playbook/role, and gets an error, it will put the error into the CR status. This is really awesome and great. The problem is when you end up using the `_app_example_com_database` type variable to access the unmodified `spec` or other parts of the resource.

Because

[2019-05-23 00:11] chancez commented on #1471
Yeah, so I can definitely confirm, if a previous reconcile failure writes a status with a message containg a variable within `{{ }}`, that will be evaluated if you reference `_app_example_com_database.spec`.

So for example, I had a failure like the one below (the error isn't too important), indicating an item in my loop had no `kind` attribute. Notice, it has `{{ resource.apis | map(attribute='ki

[2019-05-23 00:15] smiklosovic opened #1476 "Custom flags for test local (no go test ones)"
## Feature Request

**Is your feature request related to a problem? Please describe.**

I see there in memcached example in main that you are doing flag.String("image") but this flag is set in stone in operator-sdk in test command.

If I want to add my flag (as I have other properties to set, specific to my test), I can not propagate any to "test local" because operator-sdk and go test itself does

[2019-05-23 01:39] dragon9783 opened #1478 "operator-sdk event history"
## Type of question

**help around the operator-sdk**

## Question

**What did you do?**
operator-sdk event only handle object's current state, how could cache event history, and compare object's old state and current state, like controller informer

**What did you expect to see?**

**What did you see instead? Under which circumstances?**

**Environment**
* operator-sdk version:
v0.7.0
  insert re

[2019-05-23 13:22] oreissig opened #1479 "IDE support for e2e tests"
## Type of question

**Are you asking about community best practices, how to implement a specific feature, or about general context and help around the operator-sdk?**

Asking for prior experience or best practices, results should then ideally be persisted in `writing-e2e-tests.md`.

## Question

**What did you do?**
**A clear and concise description of the steps you took (or insert a code snippet

[2019-05-23 14:02] eguzki opened #1480 "Invalid memory generating openapi"
## Bug Report
**What did you do?**
Trying to generate openapi validation of CRD's, with `GO111MODULE` env var set to `on`, then I got invalid memory error:
[code]

Unsetting  `GO111MODULE`, then command works

[code]

**What did you expect to see?**
Same output when `GO111MODULE` is unset

**What did you see instead? Under which circumstances?**
[code]
**Environment**
* operator-sdk version:
[code

[2019-05-23 19:37] joelanford commented on #1459
@BaddamJhansi just to clarify:
- You have a `go.mod` file, but you can't open it to see it's contents? What issue are you having with opening it?
- You also have `cmd/manager/main.go`, but it is empty?
- Other than `go.mod`, `tools.go`, and `cmd/manager/main.go`, do any other files exist?

[2019-05-24 03:24] joelanford commented on #1480
@eguzki This line in your output is suspicious:

[code]

What is the output of running `which go`?

[2019-05-24 04:18] BaddamJhansi commented on #1459
- @joelanford  go.mod type is Movie Clip when I am trying to play it is showing

Windows Media Player cannot play the file. The Player might not support the file type or might not support the codec that was used to compress the file.

- yes cmd/manger/main.go file is empty.

- No, only go.mod, tools.go, and cmd/manager/main.go are created.

- I am able to open tools.go file it has below content
//

[2019-05-24 08:00] eguzki commented on #1480
I installed Go following usual steps
`tar -C /usr/local -xzf go$VERSION.$OS-$ARCH.tar.gz`

[code]
I do not have `GOROOT` env variable set

[code]

[2019-05-24 08:18] eguzki commented on #1480
Setting up `GOROOT`, `operator-sdk generate openapi` command works

[code]

With some weird warning, though, about `can't load package: package github.com/3scale/3scale-operator/pkg/apis/capabilities`, but that package exists
[code]
anyway, this is fine because openapi validation yaml is generated for that package `github.com/3scale/3scale-operator/pkg/apis/capabilities` as well

[2019-05-24 09:01] baijum opened #1484 "Auto reload the local operator for code changes"
## Feature Request

**Is your feature request related to a problem? Please describe.**
When running the operator using `operator-sdk up local` command, I expect the operator to restart whenever there is a change in Go source code in the file-system.

**Describe the solution you'd like**
Operator SDK should watch for any Go source file changes in the file-system and restart the operator. It could b

[2019-05-24 09:43] oxful opened #1485 "failed when make dep"
## Bug Report
failed when make dep when  i install operator-sdk in ubuntu

root@rcpelam:~/go/src/github.com/operator-framework/operator-sdk# make dep
The following issues were found in Gopkg.toml:

  ✗ unable to deduce repository and source type for "k8s.io/apimachinery": unable to read metadata: go-import metadata not found
  ✗ unable to deduce repository and source type for "k8s.io/api": unable

[2019-05-24 09:44] BIAOXYZ opened #1486 "Build docker image by using operator-sdk failed"
## Bug Report

**What did you do?**
Following the steps of https://github.com/operator-framework/operator-sdk to build an operator, and failed at the step of `$ operator-sdk build quay.io/example/app-operator`.

**What did you expect to see?**
Docker image build step succeeds.

**What did you see instead? Under which circumstances?**
[code]

**Environment**
* operator-sdk version:

[code]

* go ve

[2019-05-24 09:58] #1485 closed

[2019-05-24 14:04] LiliC commented on #1486
I think this might be a registry availability issue. Can you retry again? If it doesn't work can you retry just to do `docker pull registry.access.redhat.com/ubi7/ubi-minimal:latest` it seems to be fine now.

[2019-05-24 14:05] LiliC commented on #1484
Thanks for the feature request. Seems like something that would be useful to users, we will try to prioritize it, or if you are willing to work on it you are welcome to do a PR for it! Thanks again!

[2019-05-24 14:20] LiliC commented on #1479
Not sure if this is useful but there is [this blog post](https://dev4devs.com/2019/05/04/operator-framework-how-to-debug-golang-operator-projects/) by @camilamacedo86 about how to debug operators. Let me know if that is of any help!

[2019-05-24 15:36] joelanford commented on #1459
@BaddamJhansi `go.mod` is a text file. You should be able to open it with a text editor like VS Code, notepad, etc.

[2019-05-24 16:33] joelanford commented on #1480
@estroz Is the `can't load package: package github.com/3scale/3scale-operator/pkg/apis/capabilities` error related to #1401.  If so, I think that warning can be safely ignored.

@eguzki It looks like you got things working? Was the fix to explicitly set `GOROOT` to `/usr/local/go`?

[2019-05-24 17:00] estroz commented on #1480
@joelanford yes this is the error #1401 fixes.

[2019-05-24 17:11] estroz commented on #1480
@eguzki that is quite strange, since you should not need to set `GOROOT` unless you're using multiple go versions. I don't think this is an SDK-related issue but I will test this with your go version.

[2019-05-24 18:19] AlexNPavel commented on #1476
You should be able to pass the flags to your test using `--go-test-flags`. That flag simply appends the string you give it (split by spaces) to `go test`, which then passes it to the test that is being run if it does not match one of `go test`'s own flags. The only requirement would be putting the code to add the flags before the call to `test.MainEntry(m)`, the same way that the sdk's own e2e tes

[2019-05-24 18:23] AlexNPavel commented on #1479
To add onto what @LiliC said, there is currently a PR out to add delve debugging support to the `up local` subcommand, similar to what is mentioned in the above linked blogpost. Once this PR is merged, if you have delve installed you can simply do `operator-sdk up local --enable-delve` and then point your IDE's debugger to local port `:2345`: https://github.com/operator-framework/operator-sdk/pull

[2019-05-24 22:25] smiklosovic commented on #1476
@AlexNPavel  I was doing that, the `go test` way with my flags, but I remember that it said that `go test` does no recognise these flags I am trying to pass and it failed. I am doing it via env properties instead. Are you 100% I can do that?

[2019-05-24 22:28] smiklosovic commented on #1476
`image` flag is in operator-sdk test subcommand itself so it is recognised hence parsed from `flag` but I have not see any other case when something completely custom is passed to that.

[2019-05-25 05:59] BaddamJhansi commented on #1459
@joelanford I think this might be problem with windows machine. It was working fine with ubuntu on virtual box.

[2019-05-25 08:31] BIAOXYZ commented on #1486
[code]

Besides, I still think this warning is the beginning of the subsequent image build error.
[code]

Then I try to use `docker pull registry.access.redhat.com/ubi7/ubi-minimal:latest` and notice that it may be due to the old version of docker?
[code]

[2019-05-25 09:35] BIAOXYZ commented on #1486
@LiliC  I find a Ubuntu machine and directly use the operator-sdk binary from the release page. The environment info is listed as follow:
[code]

This time the warning still appears but the image build succeeds. So it is actually due to my docker version, but not the warning. I think this issue can be closed. Thank you~
[code]

[2019-05-25 12:19] oreissig commented on #1479
That sounds awesome!
I'm still having a hard time groking the `writing-e2e-tests.md`, so providing more assistence about the practical flow of working with e2e tests (incl. "how do I debug in case a test fails") in this guide would be greatly appreciated.

[2019-05-25 14:06] BIAOXYZ commented on #1486
When I change to a new CentOS Environment, I met a problem in the `make install` step when compiling operator-sdk at commit `e9a6ee27551a147a74c15c55f2a019f14abbfe3f`.
[code]

Then I `yum install -y bzr` and `make install` again
[code]

Then I `yum install -y hg` and `make install` again
[code]

[2019-05-27 09:04] eguzki commented on #1480
The command is working if I any of these actions are performed, failing otherwise:
* unset `GO111MODULE` en var
* set `GOROOT`

I am not using multiple Go versions.

It is no longer a blocking issue. Just an issue for you to know.

Thanks @joelanford @estroz

[2019-05-27 10:36] LiliC commented on #999
/remove-lifecycle stale

[2019-05-27 10:42] LiliC commented on #1480
@eguzki  Closing as you found the solution and we haven't seen anyone else run into it. Feel free to open a new issue if you run into any other problems. Thanks!

[2019-05-27 10:42] #1480 closed

[2019-05-27 11:32] LiliC commented on #1486
@BIAOXYZ Can you open a new issue for the last problem? First make sure your GOPATH is set correctly and go modules work in the new setup and that you have all the requirements meet in the main README. Closing as you mentioned the first original issue was fixed, but if you still run into the new problem please open a new one, thanks!

[2019-05-27 11:32] #1486 closed

[2019-05-28 12:42] LiliC opened #1490 "docs: Add a working manifests example to the cluster scoped doc"
## Docs Request

Users (this comes from a conversation from slack) have mentioned they would like an additional example for an operator that is cluster scoped https://github.com/operator-framework/operator-sdk/blob/master/doc/operator-scope.md

I would say we add at least the manifests of the final modified cluster memcached example to the already existing doc, so they know exactly where to change

[2019-05-28 13:31] LiliC commented on #1426
@fahlmant  I believe what you are looking for is helpers to serve metrics?

[2019-05-28 13:46] Jinchul81 opened #1491 "[operator-sdk] User "system:serviceaccount:default:nginx-operator" cannot get resource "pods" in API group "" in the namespace "default""
## Bug Report

**What did you do?**
I have followed up the guideline of Helm operator-sdk in [user-guide](https://github.com/operator-framework/operator-sdk/blob/master/doc/helm/user-guide.md)

The unexpected error happened at the end of the "Run as a pod inside a Kubernetes cluster"
Here are my command lists:
[code]

**What did you expect to see?**
No error from the pod state

**What did you see

[2019-05-28 18:42] joelanford commented on #1491
@Jinchul81 Thanks for the report. It looks like the RBAC generation for helm is not including the necessary rule for the leader election feature to work. As a workaround until we get this fixed, you should be able to add the following to `deploy/role.yaml` to resolve the issue.

[code]

[2019-05-28 18:47] jmazzitelli opened #1493 "finalizer deletion bug in k8s needs to be worked around in ansible operator"
(for a complete set of replication procedures including code and scripts to run to see the problem, see my comment down below: https://github.com/operator-framework/operator-sdk/issues/1493#issuecomment-497485434)

This k8s bug (https://github.com/kubernetes/kubernetes/issues/73098) has hit both the [Maistra](https://issues.jboss.org/browse/MAISTRA-378) and [Kiali](https://issues.jboss.org/browse/

[2019-05-28 19:30] joelanford commented on #1491
Actually, I'm fairly confident this is a bug that was fixed in `v0.8.1` (see https://github.com/operator-framework/operator-sdk/pull/1456 for details). Can you upgrade to `v0.8.1` and retry? If upgrading to `v0.8.1` does not resolve your issue please re-open and we can take a closer look.

[2019-05-28 19:30] #1491 closed

[2019-05-28 19:46] joelanford commented on #1459
@BaddamJhansi I agree that this is likely Windows-specific. My hunch is that we don't handle Windows path segments and file separators correctly. It's hard to know for sure without more information, but I think #1487 may fix your issue.

[2019-05-29 01:21] Jinchul81 commented on #1491
@joelanford Thanks a lot for your quick answer! I confirmed that `v0.8.1` should resolve the issue!

[2019-05-29 02:43] feli5 opened #1494 "Failed to start new created app-operator"
## Bug Report

**What did you do?**
I created a app-operator refer to the Readme. And try to start up the operator.

**What did you expect to see?**
App operator start normally

**What did you see instead? Under which circumstances?**
[code]
BTW, my docker image can be found from feli5/app-example

**Environment**
* operator-sdk version:
operator-sdk version: v0.8.0, commit: 78c472461e75e6c64589cf

[2019-05-29 06:36] younglee1 opened #1495 "Service created with operator"
## Type of question

Question about general context

## Question

**What did you do?**
Created an operator and successfully run in cluster.

**Question in detail**
Hi, I'm new to operator. I created my operator following the user guide, and the operator successfully run in k8s cluster. And I noticed that a service with same name as deployment was created. So my question is: what is the service use

[2019-05-29 08:57] LiliC commented on #1495
@younglee1  It's used for metrics and it's created in your main.go file, we have docs explaining this https://github.com/operator-framework/operator-sdk/tree/master/doc/user/metrics#monitoring-with-prometheus

Let me know if any of those don't make sense, we can explain and update the doc as well! :)

[2019-05-29 09:12] younglee1 commented on #1495
Thanks @LiliC
It really helps!

[2019-05-29 11:52] LiliC commented on #1495
Closing this but if you have another questions or if you want to improve the docs you are welcome to!

[2019-05-29 11:52] #1495 closed

[2019-05-29 11:58] Jinchul81 opened #1496 "ingresses.extensions is forbidden: User cannot delete resource "ingresses" in API group "extensions" in the namespace"
## Bug Report

**What did you do?**
I was trying to deploy my custom helm chart which was already verified in Helm management tool, but my operator showed some errors related to RBAC issue.

I had realized that `deploy/role.yaml` should include additional rules, but the error still has happened even though adding the following rules. (please see `extensions` in `apiGroups`  and `ingresses` in `res

[2019-05-29 12:17] #1496 closed

[2019-05-29 12:19] Jinchul81 commented on #1496
There was my mistake. My ingress template included the hard-coded wrong namespace.

[2019-05-29 20:23] camilamacedo86 commented on #1493
Hi @jmazzitelli if you check the https://github.com/kubernetes/kubernetes/issues/73098 shows that the issue there was caused because of the way that it was used. Following an explanation which I hope that helps you.

If you add a finalizer means that it is a flag and the CR will not be deleted until you remove this flag since the idea of using it is just for you have a way to perform actions befor

[2019-05-29 20:30] camilamacedo86 commented on #1478
Hi @dragon9783,

It is really up to you. You can create variables in the Status struct of your CR to keep this information. You can use logs to track the info. You can do it in many ways. Could you describe more what need you are trying to solve? What exactly you need store and why?  Maybe with this info, will be easier to give better ideas.

[2019-05-29 20:44] camilamacedo86 commented on #1494
Hi @feli5,

I understand that you are following the steps here: https://github.com/operator-framework/operator-sdk#create-and-deploy-an-app-operator

I am not able to face the same issue and all works for me. I used Minishift and the system admin user.

[2019-05-29 21:30] jcrossley3 opened #1499 "Obviate the scorecard with more complete code generation"
In theory, the scorecard should return 100% for any application built with the operator-sdk. Any code it generates should include everything the scorecard will test for. Reasonable defaults for everything can probably be derived from the CRD. And if not, even "**CHANGEME**" fields would be better than putting nothing in there.

In other words, give the user something to work with! A score is meani

[2019-05-29 21:46] jmazzitelli commented on #1493
@camilamacedo86 this issue is specifically for the ansible operator framework. The link you provided is to code implemented directly in Go; the doc you recommended is specifically for operators implemented in Go. So those are not really applicable to the issue I'm documenting here (they will be applicable to the folks that need to fix this in the ansible operator framework/sdk - but for the purpos

[2019-05-30 01:56] Jinchul81 opened #1501 "Excluding shorten UID from the release name"
## Feature Request

**Is your feature request related to a problem? Please describe.**
I am trying to migrate Helm chart management from Helm-Tiller(a.k.a. helm.sh) to Helm-operator. There is an issue that unexpected shorten UID is always embedded into the release name. You know MSA consists of diverse applications. Thus, there are dependencies among them. Before I am using Helm-operator, referer'

[2019-05-30 04:45] skhatri commented on #1486
This happens for me if I choose a different domain name to "github.com" for my operator

$GOPATH/src/www.mydomain.com/apps/operator-1 FAILS
$GOPATH/src/github.com/apps/operator-2 SUCCEEDS

[2019-05-30 05:11] feli5 commented on #1494
@camilamacedo86,
Thanks for your reply.
Can you share me your built docker image to let me have a test?

[2019-05-30 06:56] qw1mb0 opened #1502 "cannot find module providing package"
**What did you do?**
I following the guide to add example-inc API, but got cannot find module providing package:
[code]

**What did you expect to see?**
I pass without error

**What did you see instead? Under which circumstances?**
I use the operator-sdk v0.8.1 release and make install to build and install.

**Environment**
* operator-sdk version: `operator-sdk version: v0.8.1, commit: 33b3bfe1017

[2019-05-30 09:39] BuddhiWathsala commented on #293
I had the same problem. But I followed a different approach and make this work.

1. First I copied the `OP-X/pkg/apis/<OP-X-Kind>/` to `OP-Y/pkg/apis/`.

1. Then added the new scheme definition in `main.go` file as described in this [doc](https://github.com/operator-framework/operator-sdk/blob/c3a77eee021a1cc6a31861a0efd253dc23fbe591/doc/user-guide.md#register-with-the-managers-scheme).

Then it w

[2019-05-30 13:38] fahlmant commented on #1426
Yes. The desire is to serve our own metrics using the already provided metrics package.

[2019-05-30 14:42] joelanford commented on #1501
@Jinchul81 we have an open issue to support predictable/customizable release names already. See #1094.

We've been making some improvements that should make it easier to support this, but we haven't quite gotten to this yet.

Since there's already discussion taking place in #1094, I'm going to close this as a duplicate.

[2019-05-30 14:42] #1501 closed

[2019-05-30 14:49] joelanford commented on #1494
@feli5 This sounds similar to https://github.com/operator-framework/operator-sdk/issues/1206. Is it possible you have a restrictive umask set when you run `operator-sdk build`?

[2019-05-30 15:07] joelanford commented on #1502
@qw1mb0 The error output is not very helpful unfortunately. Looking at the code, my guess would be that there was an error compiling the code generation binaries, which is the next step after creating the CRD.

The code I'm thinking is the culprit is [here](https://github.com/operator-framework/operator-sdk/blob/bd4dc8c52ddbe7aa5bd9e8c433d54895963b22a9/cmd/operator-sdk/internal/genutil/k8s.go#L45-

[2019-05-30 16:19] mossuchida commented on #1502
I also have similar issue. It was working last week, but today, when I tried to create a new operator, I got this following error :

nauvoo-3:app-operator super$ operator-sdk add api --api-version=app.example.com/v1alpha1 --kind=AppService
INFO[0000] Generating api version app.example.com/v1alpha1 for kind AppService.
INFO[0000] Created pkg/apis/app/v1alpha1/appservice_types.go
INFO[0000] Created

[2019-05-30 17:18] mossuchida commented on #1502
Well, in my case, my go.mod had the following:
github.com/peterbourgon/diskv v0.0.0-20190425080511-0be1b92a6df0
so, I changed it to
github.com/peterbourgon/diskv/v3 v3.0.0
Then I run
go mod vendor
this made me pass this part, but I have noticed bunch of stuffs are missing in vendor dir now (e.g. Error: chdir /Users/super/Documents/go/src/acmeair-operator/vendor/k8s.io/code-generator: no such file

[2019-05-30 18:14] mathianasj commented on #1425
It was on a pull request and ran successfully the second time

[2019-05-30 18:54] camilamacedo86 commented on #1493
Hi @jmazzitelli,

OK. But no matter the type of operator project the finalizers at the end will work in the same way. I mean it will be a metadata tag added in the CR in your cluster which will not allow it to be deleted until it be removed.

If you look at the doc provided by you, shows that the action which need be performed which when finishing with success will allow deleting it is here `/opt/

[2019-05-30 19:06] jmazzitelli commented on #1493
The implementation works on OpenShift 3.11. We only see this on OpenShift 4. So I'll assume my ansible playbooks are correctly implemented.

But, yes, I'm fairly confident that my playbooks are doing it how the docs say - in fact, I even make sure my ansible tasks NEVER end with an error (I have "ignore_errors: yes" in every one of my tasks) to ensure my ansible remove playbook ALWAYS finish with

[2019-05-30 19:20] jmazzitelli commented on #1493
This is how Maistra worked around the problem - it is this workaround that most likely needs to be implmemented in the operator-sdk Go code that underlies the ansible operator framework code:

https://github.com/Maistra/istio-operator/blob/maistra-0.11/pkg/controller/servicemesh/controlplane/controller.go#L143-L158

cc @rcernich - Rob knows more about the underlying problem and solution.

[2019-05-30 19:20] rcernich commented on #1493
@camilamacedo86, this is an issue if the user deletes the namespace containing the custom resource.  In that case, k8s updates the deletion timestamp every time it runs though its event loop.  If this happens before the operators processing is complete, you'll get a conflict error when you go to remove the finalizer, which effectively blocks the namespace and resource from being deleted.  What's w

[2019-05-30 19:21] camilamacedo86 commented on #1493
Hi @jmazzitelli,

I'd recommend you update the first comment and make it short, and clear as possible by following its template. I think it will help others understand better your issue. Note that the info over versions used and etc are quite important.

 ## Bug Report

**What did you do?**
I did a similar impl as described in [ansible/dev/finalizers.md](https://github.com/operator-framework/opera

[2019-05-30 19:21] rcernich commented on #1493
if you want to do a test, i suspect just putting a sleep call in your finalization processing will successfully reproduce the issue.

[2019-05-30 19:24] jmazzitelli commented on #1493
@rcernich just informed me he saw this on OpenShift 3.11 as well.. I haven't seen it, but if its a timing issue, that could be why.

[2019-05-30 19:58] jmazzitelli commented on #1493
I'm going to post a very simple Ansible operator that replicates this pretty easily. Stay tuned.

[2019-05-30 21:03] jmazzitelli commented on #1493
I am attaching a zip with a simple ansible operator to replicate this. It is extraordinarily small. Here it is:

[optest.zip](https://github.com/operator-framework/operator-sdk/files/3238665/optest.zip)

The `watches.yaml` looks like:

[code]

The only task in the optest role is this (so this is triggered when the CR is created):

[code]

When the CR is removed, the optest-remove role is triggered

[2019-05-30 21:06] jmazzitelli commented on #1493
@camilamacedo86  @rcernich see my complete replication procedures documented in the previous comment - has an attachment with the trivial operator code that shows the bug

[2019-05-30 21:08] rcernich commented on #1493
@jmazzitelli, thanks for working up a concise reproducer.  @camilamacedo86, hopefully the reproducer helps you better understand the issue.

[2019-05-31 01:00] camilamacedo86 commented on #1493
Hi @jmazzitelli,

## Root Cause

**The issue faced has no relation with the OCP version and/or ks8 lib at all.**

The root cause of it is because the CR has been created without the labels which are allowing the operator to be deleted before its finalizer be executed and the deletion of the CR.

<img width="909" alt="Screenshot 2019-05-31 at 01 52 10" src="https://user-images.githubusercontent.com

[2019-05-31 01:25] camilamacedo86 commented on #1493
Hi @jmazzitelli,

## Root Cause

The issue faced shows has no relation with the OCP version and/or ks8 lib at all. It is occurring because the operator has been deleted before the CR. **Note that the finalizer will work if you delete the CR by running `oc delete -n optestns -f deploy/crds/optest_v1alpha1_optest_cr.yaml`**

### Why the issue is faced?

It can be some issue in your [optest.zip](http

[2019-05-31 02:27] jmazzitelli commented on #1493
I'm not following the previous comment completely (are you saying you agree there is a problem here, or do you disagree that there is a problem?), but I will confirm that, yes, if you delete the CR first, all works well (as I mention in my earlier comment, _"You can confirm the remove role actually works if you remove the CR first before you try to delete the namespace"_).

But as an internal RedH

[2019-05-31 08:09] camilamacedo86 opened #1503 "CR with finalizer hang when the namespace is deleted because of Ansible operator is allowing the deletion of the operator before the deletion of the CR be accomplished."
## Bug Report

CR with finalizer hang when the namespace is deleted because of Ansible operator is allowing the deletion of the operator before the deletion of the CR to be accomplished.

**NOTE:** Issue opened in order to make clear the scenario/bug raised in #1493

**What did you do?**
- Checked it with the Memcached example: https://github.com/operator-framework/operator-sdk-samples/tree/master

[2019-05-31 08:23] camilamacedo86 commented on #1493
HI @jmazzitelli,

In order to try to help you, I opened a new Issue with a more clean and assertive description of the issue faced by you.  See https://github.com/operator-framework/operator-sdk/issues/1503

Wdyt over we close this one in favour of https://github.com/operator-framework/operator-sdk/issues/1503 which has a more clean and assertive description over your problem now that we could cre

[2019-05-31 08:43] camilamacedo86 commented on #1503
c/c @jmazzitelli @rcernich

[2019-05-31 10:17] camilamacedo86 commented on #1465
Hi @joelanford,

I think reinstall it again is fine. It is the same approach of Minishift and many other tools. We just need to make clear it in the docs as it is for Minishift for example.

[2019-05-31 10:39] jmazzitelli commented on #1503
My original replication test code/procedures for this issue can also be found here, in case it is helpful: https://github.com/operator-framework/operator-sdk/issues/1493#issuecomment-497485434

[2019-05-31 10:39] jmazzitelli commented on #1493
Closing in favor of the other issue.

[2019-05-31 10:39] #1493 closed

[2019-05-31 11:23] jonathanbeber commented on #1502
@qw1mb0 can you run `operator-sdk add api --api-version=app.example.com/v1alpha1 --kind=AppService` with the `--verbose` flag:

[code]

I had problems with that, I resolved it setting the right value for `GOROOT`, but I'm not sure what's happening in your case. I suspect that you `GOROOT` should be pointing to `/usr/lib/go-1.12/`, not `/usr/lib/go-1.12/bin`, but the detailed output (verbose mode)

[2019-05-31 11:25] jonathanbeber commented on #1502
You can try to update your go version to `v1.12.5` as well

[2019-05-31 15:23] joelanford commented on #1465
@camilamacedo86 Sounds good. I'll close this one then. If you think we need to clarify anything in the [install doc](https://github.com/operator-framework/operator-sdk/blob/master/doc/user/install-operator-sdk.md), feel free to open an issue or PR for that!

[2019-05-31 15:23] #1465 closed

[2019-05-31 15:41] madorn opened #1504 "Utility Methods to Ease Operator Development with Operator-SDK (redhat-cop/operator-utils)"
Raffaele Spazzoli (Red Hat) put together a library of utility methods for operator-sdk available here: https://github.com/redhat-cop/operator-utils

May be nice to have something like this integrated into core operator-sdk project.

[2019-05-31 15:44] slopezz commented on #1330
Although PR have been already merged, I still have the same error.

I have a sample ansible hello-world operator created using source operator-sdk version 0.6.0, which is working correctly (it creates the following objects: ImageStream, DeploymentCondig, Service, Route).

If I create the same ansible operator with new source operator-sdk version 0.8.0 or 0.8.1, I get the following error when tryin

[2019-05-31 15:59] jmazzitelli commented on #1330
@slopezz read this: https://github.com/operator-framework/operator-sdk/pull/1473

The original PR that was merged wasn't the only thing needed - the ansible operator framework needs that PR #1473 , too (to address my specific issue reported in this issue - not sure if it is your issue, too). I do not believe that second PR is going to be merged.

The short answer is - you need to not create CRDs i

[2019-05-31 16:40] slopezz commented on #1330
@jmazzitelli I'm not creating the CRD with the operator, what I am doing is the following (in 3 different steps):

* First I create CRD:
    - crd.yaml

* Secondly I create the operator:
   - service_account.yaml
   - role.yaml
   - role_binding.yaml
   - operator.yaml

* Finally, I create a specific CR (or N CRs):
   - cr.yaml

* So now operator read CR (or CRs), and created desired objects.

So

[2019-05-31 16:58] adityabyreddy74 opened #1505 "Operator failed to deploy helm chart with weird error"
## Type of question

Seeking help to debug

## Question

**What did you do?**
I'm trying to deploy a helm chart with helm type Operator. When a CustomResource is created, operator failed to deploy the helm chart with unclear exception about the failure.

**What did you expect to see?**
Some valid information about the exception.

**What did you see instead? Under which circumstances?**
`
{
    "le

[2019-05-31 22:16] rcernich commented on #1503
The operator being deleted before the CR is a different issue.  If you configure the operator to watch a different namespace, create a CR, delete the namespace, you will see that the namespace and CR are not deleted.  This will only occur if the finalization process takes longer than the grace period.

The reason for this is that k8s updates the deletion timestamp on the CR, which updates the reso

[2019-05-31 22:32] jmazzitelli commented on #1503
this is an important point - the title of this github issue is not entirely accurate because it isn't about deleting the operator, its about deleting the namespace where the CR lives

[2019-06-01 07:45] nikhil-thomas commented on #1476
@AlexNPavel this works only if the flag is being used inside the test code. I believe what @smiklosovic  is asking for is a way to pass a flag to operator code under test.

ie, an equivalent for `--operator-flags` flag in
`operator-sdk up local --operator-flags` command.

At present, if we use `--go-test-flags` it will not be passed to the part of the code where the operator code is run locally (n

[2019-06-01 08:01] nikhil-thomas commented on #1476
i have made a PR addressing this issue.
Could you take a look. https://github.com/operator-framework/operator-sdk/pull/1509

[2019-06-01 10:01] camilamacedo86 commented on #1503
@rcernich

* Please, **check that in the above steps to reproduce the scenario it using the sleep at all. Has not action to be accomplished. The operator will just check the finalizer and update the instance to remove it**
* The CR in the namespace in your above scenario never will be deleted without the issue since the operator will not able to get the CR and updated it to remove the finalizer me

[2019-06-01 10:34] camilamacedo86 commented on #1503
@LiliC could you help me here? Could you check and address this issue for the Ansible Operator?

[2019-06-01 14:34] feli5 commented on #1206
After some dig, I find it works with root user.
And there is no user with id 1001

# docker exec -it 5949f84398fb bash
bash-4.2$ whoami
whoami: cannot find name for user ID 1001

[code]
Then, copy secrets from host

[code]

[code]

[2019-06-01 15:18] feli5 commented on #1494
After some dig, it seems because there is no user with uid 1001
[code]

And if I change to root, it works.
[code]
Need to copy secrets to /var/run/secrets/kubernetes.io/serviceaccount
[code]

[2019-06-01 15:46] danehrlich1 commented on #1451
`export GO111MODULE=on` fixed it for me immediately.

[2019-06-01 16:14] feli5 commented on #1494
BTW, it works, if I comment out the latest line in Dockerfile.
[code]

[2019-06-02 23:55] smiklosovic commented on #1476
@nikhil-thomas I want to do something like this

https://github.com/operator-framework/operator-sdk/blob/master/test/e2e/main_test.go#L27

On whatever flag, not just image.

[2019-06-03 08:03] dragon9783 commented on #1478
Hi, @camilamacedo86 ,
sorry for reply later, like replicas controller in kubernetes,  in order to decrease to request api-server, will get oldReplicas and newReplicas from informer cache.

[2019-06-03 11:49] camilamacedo86 opened #1511 "How can we use the CR.status fields to create alerts/monitor checks for the CRD applied in OCP and managed by an operator project?"
## Type of question

Usage / How to

## Question

How can we use the CR.status fields to create alerts/monitor checks for the CRD applied in OCP and managed by an operator project?

**What did you do?**
Add status in the CR as follows.

[code]

**What did you expect to see?**
Get the "status" to create a monitor alert with Prometheus for example.
E.g if AppStatus <> "OK" shows alert.

**What did y

[2019-06-03 12:48] nikhil-thomas commented on #1476
yes, the idea is to pass any flag which is defined in the operator code.
we have `operator-sdk up local --operator-flags "flag1=val1 flag2=val2"`

my PR adds that functionality to `--up-local` testing
`operator-sdk test lcoal --namespace test-operator-namespace --up-local --local-operator-flags "flag1=val1 flag2=val2"

[2019-06-03 14:37] rcernich commented on #1503
@jmazzitelli, do you see errors in your operator log, when it goes to remove the finalizer?  https://github.com/operator-framework/operator-sdk/blob/master/pkg/ansible/controller/reconcile.go#L104

@camilamacedo86, you're missing the point.  That same block of code, posted above _will_ fail under the following circumstances:

- The operator is installed in a separate namespace from the CR (i.e. th

[2019-06-03 15:05] camilamacedo86 commented on #1503
@jmazzitelli and @rcernich,

Note that in the POC created and described in the first comment it has NOT any time/sleep to delete the CR and it will take milliseconds.

I did this POC to isolate your problem and I just opened it to try to help you since its really hard to understand the #1493. I'd like to suggest you read with attention the first comment and reproduce the steps to understand the is

[2019-06-03 15:35] rcernich commented on #1503
@camilamacedo86 removing the CR directly is not a problem.  The problem exhibits specifically when the namespace containing the CR is deleted _without_ deleting the CR.  When the namespace is deleted, k8s deletes all the resources in the namespace as part of the namespace's finalization.  Because our CR contains a finalizer, the namespace finalizer needs to wait until the CR finalizer is removed.

[2019-06-03 16:18] camilamacedo86 commented on #1503
Hi @rcernich

My point is:

* Note that when we deleted the CR directly or the namespaces in both cases the process is the same: the operator needs to remove the finalizer metadata.

* When we mark to delete the namespace the operator **has been deleted BEFORE the CR** and because of it nothing can remove the finalizer or face any issue.

So, I'd like to make a few questions based on your comments

[2019-06-03 17:48] estroz commented on #1502
@qw1mb0 @mossuchida are you running `operator-sdk add api`/is your operator project in `$GOPATH/src`?

[2019-06-03 17:48] estroz commented on #1132
/lifecycle frozen

[2019-06-03 17:51] estroz commented on #1459
@BaddamJhansi if you can build the SDK from master and try again, let us know if your issue is fixed.

[2019-06-03 18:51] jmazzitelli commented on #1503
I am going to tell our QE folks that there is nothing we can do if they delete the namespace (which deletes the operator and attempts to delete the CR). Anyone who deletes the namespace that houses the ansible operator and CR will see this problem - so the solution is to not do that. I'll tell them not to delete the namespace without first deleting the operator and CR, let that delete finish, and

[2019-06-03 18:55] rcernich commented on #1503
Correct.

Correct.

It does exist, see my response to your second question.

I think this is the point you are missing.  In the scenario we're talking about, the operator exists in a _different_ namespace from the one containing the CR and is able to perform finalization.

If you delete the operator first, yes, you will always see the problem.  The issue we're trying to get addressed is when the o

[2019-06-03 19:00] rcernich commented on #1503
@camilamacedo86, sorry, I didn't realize that @jmazzitelli was collocating his operator with the CR.  I don't believe there's a fix or workaround for that use case.

That said, the issue that I was talking about is a real issue and does affect all operators that use finalizers.  However, the issue will only appear if their finalization processing exceeds the termination grace period used by the na

[2019-06-03 20:46] hasbro17 commented on #1460
@arunkanthkarre Can you please clarify your question?
If I understand correctly by "cloud environment" I'm guessing you meant if your ansible-operator built by the SDK can run on a k8s cluster setup like GKE or Openshift.
If so then yes, your operator should be able to run on any cluster that meets the pre-requisite k8s version specified in the README.

Closing this for now. Please re-open the iss

[2019-06-03 20:46] #1460 closed

[2019-06-03 21:15] hasbro17 commented on #1464
@camilamacedo86 Requeuing after creating/updating resources is intentional because as @grdryn rightly pointed out, you want to ensure that your operator gets to the end of its "happy path"(or end of the reconcile loop).

While it's true that any updates to the API server will necessarily result in watch events to re-trigger your reconcile loop, you can still end up missing events, or even worse no

[2019-06-03 21:42] hasbro17 commented on #1478
@dragon9783 If you are simply trying to ignore duplicate events where the event's resource version hasn't changed, or the CR's metadata.generation hasn't changed during an update then you can use event filtering via [predicates](https://godoc.org/github.com/kubernetes-sigs/controller-runtime/pkg/predicate).
See the [guide on event filtering](https://github.com/operator-framework/operator-sdk/blob/

[2019-06-03 21:45] camilamacedo86 commented on #1503
Hi @rcernich and @jmazzitelli

Following some clarifications.

- The same behaviour is faced ALWAYS and no matter the time
- Golang operators are not facing this scenario and they are not using 1.14+ ks8. Just the ansible ones.
- I did NOT delete the operator manually, the problem is that it has been deleted when should NOT before of the CR
- Regards `I think this is the point you are missing. In

[2019-06-03 21:52] camilamacedo86 commented on #1503
Hi @rcernich and @jmazzitelli,

Unfortunately, shows that my comments still not clear. I think this issue open here has too many comments which are NOT helpful at all for who will try to solve it.

So, I'd like to agree with you both that the best way for us to move forward in my point of view is:

I will close this issue and open a new one to address this scenario/bug which is described here and

[2019-06-03 21:52] #1503 closed

[2019-06-03 21:53] camilamacedo86 opened #1513 "[Ansible-Operator] - Unable to deleted namespace when CR of an Ansible operator has a Finalizer"
## Bug Report

- Unable to deleted namespace when CR of an Ansible operator has a Finalizer
- **It doesn't occur with Golang operators**
- It occurs always when has a finalizer and we try to delete the namespace.
- The Ansible operator is able to remove the metadata of the finalizer when deleting is directly made for the CR and not the namespace. (`oc delete  -f deploy/crds/cache_v1alpha1_memcache

[2019-06-03 22:00] camilamacedo86 commented on #1513
Hi @estroz,

I closed https://github.com/operator-framework/operator-sdk/issues/1503 because I think that has too many comments that will be not helpful for we are able to address this scenario.

Unfortunately, shows that my comments/descriptions there were not clear enough for @rcernich and @jmazzitelli and/or they are facing another issue which should be reported separately.

Please, could you a

[2019-06-03 22:12] rcernich commented on #1513
@camilamacedo86, sorry for the confusion.  This issue is not the problem I was describing, but sounds like it is the issue that @jmazzitelli was having.  If you want me to create an issue for the problem I was describing, I can do that.  As I mentioned in the other issue, the problem I was describing was very difficult to track down the root cause.  Once again, sorry for the confusion.

[2019-06-03 22:16] camilamacedo86 commented on #1513
Hi, @rcernich no problem at all

IMHO: It is better we have one issue for it issue :-) How much more clear we be able to provide the info better/easier and faster can be the fix 👍 So, please feel free to raise your scenario.

[2019-06-03 23:30] rcernich opened #1514 "Allow for customization in Helm based operator"
## Feature Request

**Is your feature request related to a problem? Please describe.**

I have a set of charts, for which some resources need to be customized prior to installation (e.g. specifying a URL value in a ConfigMap that points to a Route installed ).

I have a set of charts that need to be applied in a certain order (e.g. as above, I need the chart providing the Route to be installed bef

[2019-06-03 23:37] rcernich commented on #1514
You can see how the framework is used [here](https://github.com/istio/operator/tree/master/pkg/controller/istiocontrolplane).  The basic framework utilizes json merge patch and k8s strategic merge patch to process updates to resources and uses labels to prune created resources.  The extension simply tells the framework:

* what set of charts to use
* what order to apply the charts
* what labels to

[2019-06-04 01:05] joelanford commented on #1505
@adityabyreddy74 Breaking down the error message, we have two errors:
- `failed to roll back failed installation: no release provided`
- `rendering template failed: reflect: Zero(nil)`

The first error is a little bit misleading. The helm-operator will attempt to rollback the installation if it fails. In this case, the installation is failing, and then the rollback is also failing with the error "

[2019-06-04 01:30] #1478 closed

[2019-06-04 05:38] jdoss opened #1516 "operator-sdk up local doesn't read ansible.cfg in the cwd"
## Bug Report

**What did you do?**
I am running Fedora 30 with Ansible 2.8 running through Python 3 for all of my other Ansible work. System Python is still set to python 2.7, but the system package for installing the openshift is only available for python 3.

[code]
I created an ansible.cfg file that is following the same configuration for my other ansible work. This includes setting `interprete

[2019-06-04 09:38] LiliC commented on #1168
/remove-lifecycle stale

[2019-06-04 10:12] galderz commented on #1299
Ah ok, now I understand this has to be executed from the root of the operator directory.

We originally did not have these role/role_binding/service_account files separated, we just had a `deploy/rbac.yaml` file containing all of them, so that's why I was confused about this.

I'll close this and reopen, I'm still having some other issues.

[2019-06-04 10:12] #1299 closed

[2019-06-04 10:20] galderz opened #1517 "Unable to run scorecard"
Hi, I'm trying to run the scorecard on our operator (see branch).

I start minikube 1.1.0 with 4gb and 4cpu and nothing deployed on it.

After having built operator-sdk master (commit 49ec1963a0ce7490dd52384449d544751bf15934), I execute the scorecard and get:

[code]

The scorecard configuration can be found [here](https://github.com/galderz/infinispan-operator/blob/t_scorecard/.osdk-scorecard.yam

[2019-06-04 10:21] galderz commented on #1301
Closing this for now. I'm unable to get the scorecard running at all, see #1517.

[2019-06-04 10:21] #1301 closed

[2019-06-04 13:05] awalker125 opened #1518 "ansible operator up local fails with requests issue"
## Bug Report

**What did you do?**
Followed the ansible user guide instructions and tried to run up local.

**What did you expect to see?**
Operator to run and provision my resources described by the custom resource.

**What did you see instead? Under which circumstances?**
Got and error from the ansible runner related to requests/urllib3
[code]
[code]

**Environment**
* operator-sdk version:
[co

[2019-06-04 14:25] mossuchida commented on #1502
Yes, I am running the command in $GOPATH/src/app-operator dir.  I have upgraded go version to v1.12.5, but still the same issue. Maybe I need to upgrade Operator SDK also? (Are there upgrade documentation?)

[2019-06-04 16:37] estroz commented on #1502
Try running the following:
[code]
To see if that gets rid of the first error.

[2019-06-04 17:29] joelanford commented on #1499
I agree this could be better. I tested out the current master with the default scaffolds:

[code]

@AlexNPavel @estroz Are there improvements we could make to our `types.go` and `controller_kind.go` scaffolds that would improve the out-of-the-box scores?

[2019-06-04 17:34] estroz commented on #1499
#1162 makes it easier to improve the score (adds annotations for `types.go` files) but there are no fields to add annotations to in new API's, so this won't improve the score out of the box.

We should add more **CHANGEME**-type notes to scaffolded files. The scorecard depends a lot on how the user has defined their operator, so I doubt the score can be improved much out of the box.

[2019-06-04 17:34] joelanford commented on #1511
@LiliC Do you know if there is a mechanism to propagate CR status to a prometheus metric using the controller-runtime or kube-state-metrics features? If not, is there a way to add a custom metric to an existing metrics servers?

@camilamacedo86 If there isn't built in support for this already, you would likely need to implement and register your own custom metric in your operator.

[2019-06-04 18:06] camilamacedo86 commented on #1511
Hi @joelanford and @LiliC really tks for the help.

[2019-06-04 18:48] joelanford commented on #1514
@rcernich This sounds interesting. A few questions:

Do you envision the collection of charts having their lifecycle managed under one CR or multiple? Is there a parent chart that has one or more dependent subcharts?

If I understand this correctly, this part would be a big change from the existing design, which is that a single CR reconciliation results in a single Helm lifecycle action (e.g. ins

[2019-06-04 18:55] joelanford commented on #1516
@jdoss I'm not sure about the `ansible.cfg` file, but for the roles and playbooks, the decision was made to honor the paths listed in `watches.yaml` rather than to try to do something fancy to handle both the `up local` case and the running as a container in the cluster case.

@shawn-hurley @fabianvf is there a reason we don't look for `ansible.cfg` in the root of the ansible operator directory du

[2019-06-04 19:04] joelanford commented on #1518
@fabianvf @shawn-hurley ping. Is this something we can fix or is the ansible `up local` execution environment impacted by users' unrelated ansible and python environment.

[2019-06-04 19:11] joelanford commented on #1499
Also, I think #1143 should make the basic tests pass, since it adds the status with a simple "Ready" condition.

[2019-06-04 19:14] fabianvf commented on #1518
It's expected that the `up local` uses the libraries on the user's machine, I don't think there's an easy way around that, as the Ansible Operator is calling `ansible-runner` to actually execute the provided ansible playbooks/roles. I believe it should respect virtual environments though.

[2019-06-04 19:19] fabianvf commented on #1516
We don't really do anything related to parsing Ansible configuration, we let Ansible handle that when we kick off playbook runs. I'm not sure off the top of my head what context the Ansible commands are being run in, but it's probably not the same directory as the operator is launched from. Does it work when you set the `ANSIBLE_CONFIG` envvar?

[2019-06-04 19:36] joelanford commented on #1411
@allamand I think the issue is a result of changes we've been making to the way we build code generation binaries. As of this morning, we merged #1470 which vendors the codegen libraries into the SDK binary, so we no longer need to build binaries in user projects.

With this change, you _may_ be able to revert back to using symlinks. I wouldn't be surprised if go modules, which we now support sinc

[2019-06-04 19:36] #1411 closed

[2019-06-04 21:05] rcernich commented on #1514
Answers:
1. The reconcile would be driven off a single CR.  Currently, the framework would only support a single chart, which could have multiple subcharts.  That said, invocations could be chained together to support multiple charts.
2. No helm release objects are used.
3. Correct.  One thing we do on Maistra is to modify a ConfigMap, which contains fields for various URLs, by looking them up fro

[2019-06-04 23:20] estroz commented on #1517
@galderz you need to have your CSV/CRD's deployed onto the cluster using the [OLM](https://github.com/operator-framework/operator-lifecycle-manager/), then run the scorecard command as you have it with `--olm-deployed`. The scorecard assumes that the CSV and necessary CRD's have been deployed when passing a CSV.

There is no good documentation explaining this feature unfortunately, but I am workin

[2019-06-05 02:01] joelanford commented on #1514
I like the idea of removing the requirement for storing release state in a separate object. It sounds like a combination of labels and annotations on the release resources are sufficient for recreating the install, upgrade, uninstall lifecycle. And I really like the idea of the apply-like annotation for the 3-way merge. This is something I'd be interested in investigating more as a standalone desi

[2019-06-05 07:44] #1476 closed

[2019-06-05 08:12] LiliC commented on #1511
Hi @camilamacedo86 you shouldn't use those fields to create alerts or metrics. You should collect the metrics themselves about your application directly in the application. And alert later depending on the metrics themselves. Basically, you are forcing some alerting rules on people, but you should just collect metrics instead. :)

You shouldn't see the status field in Prometheus, but you can creat

[2019-06-05 08:12] LiliC commented on #1511
Hopefully, that answers your question, closing this, but feel free to ask any follows up! :)

[2019-06-05 08:12] #1511 closed

[2019-06-05 10:19] galderz commented on #1517
@estroz I've just been passed [this link](https://github.com/operator-framework/community-operators/blob/master/docs/testing-operators.md#testing-with-scorecard) which seems to explain exactly what you just said.

IMO, the scorecard documentation should explain how to test it (obvious isn't it?), and the community operators docu should link to that.

[2019-06-05 12:14] LiliC commented on #1426
@fahlmant
These metrics you mention are specific to your operator we can't create helpers for that, so that logic will live in your operator. What we can do is create a helper function for new registry, metrics serving and k8s service creation. (Or you can use the global registry that is already in controller-runtime, which I would advise against.)

Also noticed you already have metrics pkg, so ma

[2019-06-05 12:17] fahlmant commented on #1426
@LiliC The goal is to leverage the metrics server/service/servicemonitor that the operator already deploys instead of having to create a unique package. We just to register a metric with the actual `/metrics` endpoint that already exists from operator-sdk, all the logic of defining and updating will live elsewhere.

[2019-06-05 12:41] LiliC commented on #1107
As part of this we also want to:

- change the name of the Service to append the `-metrics` string to it, so it's self descriptive
- pass port and name to be able to add more /metrics endpoints.

[2019-06-05 12:43] LiliC commented on #1426
@fahlmant that would mean using the global registry of controller-runtime and we want to avoid doing that.

If anything else we would be creating helpers for a new registry and serving the /metrics endpoint on a different port. We need to discuss this first if we want to support those helpers.

We do plan on making changes to the Service helper function, so you will be able to pass in port and jus

[2019-06-05 12:49] camilamacedo86 commented on #1511
Hi @LiliC and @joelanford,

Thank you for your time and help. I am not sure if I understand it very well, I am quite sure that you have a lot more knowledge in it than I have and maybe my questions are silly, however, could you please help me understand it better?

1. If the custom resource follows the same principle/interface of the "default" resources as a pod for example, why not I should not w

[2019-06-05 13:11] LiliC commented on #1511
@camilamacedo86  No worries, happy to answer any questions.

1. That is fine to create an alert like that, you just need to expose those metrics in the operator and create the alert later in alertmanager.

2. Because those are not the same, one is the number of replicas, the other is OK. You want to create the number of instances for your app and then do the same alert like the first one.
You want

[2019-06-05 13:57] camilamacedo86 commented on #1511
Really tks I will check this video to understand better.

[2019-06-05 16:50] estroz commented on #1517
@galderz it definitely will. Feel free to close this issue if you get OLM deployed and the scorecard runs successfully.

[2019-06-05 16:50] vhosakot commented on #1124
I saw the same error with kubebuilder version `2.0.0-alpha.1`:

[code]

Adding the `// +kubebuilder:subresource:status` comment above the CronJob struct in `cronjob_types.go`, and then running `make manifests` per https://book-v1.book.kubebuilder.io/basics/status_subresource.html resolved the error for me:

[code]

[code]

`status` subresource in CRD after running `make manifests`:

[code]

[2019-06-05 19:03] #1360 closed

[2019-06-05 19:57] jdoss commented on #1516
@fabianvf setting ANSIBLE_CONFIG with the absolute path to the ansible.cfg works.

[code]

[2019-06-05 23:41] estroz commented on #931
@joelanford is this issue specifically for `Gopkg.toml`, or does it include `go.mod`? The latter is now tested, but not the former.

[2019-06-06 06:17] alexander-aldev opened #1526 "Scorecard test misinterprets status as a resource on a global CRD"
## Bug Report

**What did you do?**
Ran the scorecard test on a cluster CRD (mariadbsize):

`operator-sdk scorecard --cr-manifest=deploy/examples/mariadbsize_example.yaml --csv-path=manifest/mariadb-operator-0.1.3-4.clusterserviceversion.yaml`

**What did you expect to see?**
No warnings related to status.

**What did you see instead? Under which circumstances?**
A warning:
`WARN[0014] could not f

[2019-06-06 12:07] fahlmant commented on #1426
@LiliC Why avoid the global registry? Metrics already live there, it makes sense to put more metrics in the same place

[2019-06-06 12:16] LiliC commented on #1426
In general, avoiding globals is good :), but to read specific reasons for avoiding using global metrics registry here is an extract from k8s SIG instrumentation KEP:

To read more on this https://github.com/kubernetes/enhancements/blob/master/keps/sig-instrumentation/20181106-kubernetes-metrics-overhaul.md

You are welcome to use this in your operator, but we won't be adding helper functions to en

[2019-06-06 12:20] fahlmant commented on #1426
@LiliC Okay, then I think I'm missing something. What is the metrics package used for if not for serving metrics about the operator?

[2019-06-06 12:27] LiliC commented on #1426
@fahlmant the metrics package in operator SDK creates a Service object and exposes the port on which the metrics are exposed. The metrics themselves are indeed operator specific, but they come via controller-runtime, it does use the global registry but there is an issue in controller-runtime for that too and in the future we will move away from that.

To read more docs on this https://github.com/o

[2019-06-06 16:35] mossuchida opened #1527 "Changing log level"
Please let me know how to change the log level. Currently, all the logs are displayed.  I tried the following, but it complained: syntax error: non-declaration statement outside function body
Error: failed to build operator binary

atom := logf.Log.NewAtomicLevel()
atom.SetLevel(logf.Log.ErrorLevel)
var log = logf.Log.WithName("controller_moss")

[2019-06-06 17:40] mossuchida commented on #1527
I see this doc for --zap-level, but it talks about command line command against containers & I cannot find any example on how to use it:

https://github.com/operator-framework/operator-sdk/blob/master/doc/user/logging.md

[2019-06-06 17:44] AlexNPavel commented on #1526
Hello. Is your code open source? I would like to see what situations this occurs in, as we haven't seen this before (it looks like the scorecard is probably getting confused by subresources, which is odd because our CRs use status subresources as well)

[2019-06-06 17:53] joelanford commented on #1527
@mossuchida The `main.go` that gets scaffolded [sets up the zap flagset](https://github.com/operator-framework/operator-sdk/blob/e6dfccac266b19e4b0a69797785348382eaf6e5a/internal/pkg/scaffold/cmd.go#L79-L81), and the [sets up a logger](https://github.com/operator-framework/operator-sdk/blob/e6dfccac266b19e4b0a69797785348382eaf6e5a/internal/pkg/scaffold/cmd.go#L89-L97) that is configured by those f

[2019-06-06 17:57] AlexNPavel commented on #1526
Looking at this, it might not be too difficult to fix. We can identify that a resource is namespaced if one of the parts of the URI is `namespaces`. We made some assumptions on how simple the checks could be based on the different formats that a k8s api URI can have, but didn't take into account subresources: https://github.com/operator-framework/operator-sdk/blob/master/internal/pkg/scorecard/olm

[2019-06-06 19:08] alexander-aldev commented on #1526
Thanks for the quick response. Currently MariaDB operator is being distributed under a commercial license (BSL), but I'll try to create a minimal example to use for reproducing the reported problem (ETA next week). Our final score is 100%, so this is not a showstopper.

[2019-06-06 20:49] AlexNPavel commented on #1189
Closed by #1228

[2019-06-06 20:49] #1189 closed

[2019-06-06 22:21] mossuchida commented on #1527
I am newbie to Go lang (I am using it for 3 ~ 4 weeks), I am trying differently, but so far I am not successful.  Would you provide me a code sample?

[2019-06-07 00:14] joelanford commented on #1527
@mossuchida Did you use `operator-sdk new` to create a project? If so, you should have a file in your project at `cmd/manager/main.go` that looks like the file from the links I posted. With no changes to that file, you should be able to run `operator-sdk up local --operator-flags='--zap-level=10'` and see much more verbose logging.

Here's a much simpler snippet with just the pieces important for

[2019-06-07 09:43] LiliC commented on #1527
@joelanford Should we add this to the examples in the logging? I got this question at least twice before, so might make sense. :)

[2019-06-07 09:44] LiliC commented on #1504
@raffaelespazzoli ^ Are you maintaining this project, what was the initial purpose? :)

[2019-06-07 10:10] LiliC commented on #1479
@oreissig since https://github.com/operator-framework/operator-sdk/pull/1422 was merged, does this solve your issue and we can close this? :)

[2019-06-07 12:18] raffaelespazzoli commented on #1504
@LiliC the initial and current purpose of this project is to make it easier to develop operators and increase consistency in behavior and code layout across operators. This is achieved by making available a set of reusable functions and suggesting a set of best practices.

[2019-06-07 12:38] BuddhiWathsala opened #1530 "Error stack trace still shows the user GOPATH"
## Bug Report

**What did you do?**
Panic

**What did you expect to see?**
A stack trace without any GOPATH.

**What did you see instead? Under which circumstances?**
Some of the paths still show my entire GOPATH.

[code]

**Environment**
* operator-sdk version v0.5.0+git

* go version:

go version go1.12 darwin/amd64

* Kubernetes version information:

[code]

* Kubernetes cluster kind: minikube

[2019-06-07 13:29] mossuchida commented on #1527
I am running in kubernetes env (IKS), I am assuming it is using Dockerfile in build dir & want to see less logs in the deployed env (not in my local), but this is what I see. Would you let me know What to change? I just want to change it to print error case only in deployed pod logs using "kubectl logs <pod name>" (I added too much info logs, but I don't want to see them)

Dockerfile has these lin

[2019-06-07 14:35] muralov opened #1531 "Operator indefinitely reconciling CR with Deployed Helm Release due to Basic String Comparison"
## Bug Report

**What did you do?**
We have a chart which is dependent on other 4 helm charts. We have deployed all the charts with helm operator.

**What did you expect to see?**
The operator deployed our application well and it is working well. Also, reconciling is working well.

**What did you see instead? Under which circumstances?**
However, we have noticed that the operator is constantly upd

[2019-06-07 15:06] LiliC commented on #1530
cc @AlexNPavel you worked on #1036 you might have an idea on this.

[2019-06-07 15:29] joelanford commented on #1527
@mossuchida Rather than changing the docker image via the Dockerfile, I'd suggest that you set `--zap-level` in your operator deployment (`deploy/operator.yaml`), like this:

[code]

This args field should be in the container spec for your operator. Here's the full example based on a basic `operator.yaml` scaffold:

[code]

[2019-06-07 15:44] joelanford commented on #1527
@LiliC I created PR #1532

[2019-06-07 15:55] galderz commented on #1517
Hmmmm, tried with `--olm-deployed` and seeing:

[code]

[2019-06-07 16:53] estroz commented on #1517
@galderz have you set up OLM in minikube and deployed your operator? Check out [this doc](https://github.com/operator-framework/community-operators/blob/master/docs/testing-operators.md) if you haven't.

[2019-06-07 17:44] BuddhiWathsala commented on #1530
I also tried the operator-sdk version: v0.8.1 but getting the same issue.

[2019-06-07 18:18] AlexNPavel commented on #1530
We found the issue and will be making a PR to fix it shortly

[2019-06-07 20:35] #1530 closed

[2019-06-08 19:06] camilamacedo86 opened #1536 "Error to generate/move files when the command ` operator-sdk olm-catalog gen-csv --csv-version <tag> --update-crds` is executed"
## Bug Report

The following error is faced when in the deploy/ directory has files which has other names and/or the operator is cluster scoped and instead of role.yaml will have cluster_roles.yaml by following the docs.

[code]

**What did you do?**
Run `$ operator-sdk olm-catalog gen-csv --csv-version 0.1.0 --update-crds`
**What did you expect to see?**
All yaml files under the path deploy/ be c

[2019-06-10 02:59] caitong93 opened #1537 "Add an option to dump operator log to file"
## Feature Request

**Is your feature request related to a problem? Please describe.**

Sometimes e2e test run and failed, we want to check operator log and it is overhead to do it by hand again and again.

**Describe the solution you'd like**

Add an option to support dump operator log to file

[code]

[2019-06-10 07:49] traghave opened #1538 "record.EventRecorder in operator-sdk don't trigger new event incase the event is already seen earlier."
## Bug Report
I'm using recorder in reconcile method like below

[code]

Event appears for once, but if same event is triggered from code it not actually seen when i describe the CRD
kubectl describe memcached

It lists event but with older timestamp.

My usecase is I create the crd instance and a success event shoud get triggered.
Then Edit the same crd instance with additional data and the same

[2019-06-10 08:40] srinivas-kandula opened #1539 "Permission error while deploying helm based operator"
## Type of question

How to troubleshoot helm operator deployment issue.

## Question

**What did you do?**
I am a newbie to the operator framework and trying to learn this framework. To start with i have built helm based operator for my application and able to test it outside of the cluster using `operator-sdk up local`.  However when i deploy CR into the k8s cluster it fails with some RBAC issue

[2019-06-10 13:07] joelanford commented on #1539
@srinivas-kandula It looks like your RBAC role needs more permissions. According to your log output, the operator lacks permission to create `serviceaccounts` resources (your RBAC rule grants only `get` and `delete`).

You may run into similar issues for other resource types as well. You should make sure that your operator’s RBAC role contains all permissions (i.e. `*`) for every possible resource

[2019-06-10 15:18] wreed4 opened #1540 "Horizontally scaling operators/multiple operators under the same resource group"
## Type of question

Best practices, how to use the image the operator-sdk produces

## Question

**What did you do?**
I have three operators, each for one CRD.  These are in different repositories and different "operator-sdk" projects.  However, they all share a resource "group".  let's call them `A.my.group.io`, `B.my.group.io`, and `C.my.group.io`.  They are all go operators.  I've structured t

[2019-06-10 16:53] estroz commented on #868
Closed by #1470

[2019-06-10 16:53] #868 closed

[2019-06-10 16:57] AlexNPavel commented on #1024
/remove-lifecycle rotten

[2019-06-10 17:20] shawn-hurley commented on #1516
so as Fabian mentioned ansible-runner is actually running the ansible and this is done in the ansible-runner directories. To enable this we would have to look for an ansible.cfg file and then copy it into those directories and I am not sure that ansible-runner would respect that anyhow from my reading here: https://ansible-runner.readthedocs.io/en/latest/index.html

1. An option would be to set th

[2019-06-10 17:39] shawn-hurley commented on #1518
@awalker125 I am sorry that you're getting errors. Can you paste bin the requirements that you using from pip? Maybe I can help diagnose and reproduce if I have that.

I agree with @fabianvf that there is nothing we can really do and that virtual env's should be the solution in the long run. Maybe a mention of this in the docs? WDYT?

[2019-06-10 18:20] raoofm commented on #947
/remove lifecycle/rotten

[2019-06-10 19:12] joelanford opened #1541 "Document how to make changes to APIs (e.g. `v1` to `v2`)"
## Type of question

**Are you asking about community best practices, how to implement a specific feature, or about general context and help around the operator-sdk?**

General context and help around the operator-sdk

## Question

**What did you do?**
UX report from @awgreene:

**What did you expect to see?**
A document describing best practices, tips, gotchas, and any other helpful information a

[2019-06-10 19:28] joelanford commented on #1541
As discussed on Slack, there are likely too many different combinations of scenarios that would make it difficult for the SDK to support a subcommand-based solution for API migrations. For example:
- Is it a group, version, or kind change? Or some combination of those?
- Are all of the group or version types/functions moving, or just a subset?
- If just a subset, what subset? And are there interna

[2019-06-10 21:28] roufique2 opened #1542 "extreme-citadel-208123"
## Bug Report

**What did you do?**
A clear and concise description of the steps you took (or insert a code snippet).

**What did you expect to see?**
A clear and concise description of what you expected to happen (or insert a code snippet).

**What did you see instead? Under which circumstances?**
A clear and concise description of what you expected to happen (or insert a code snippet).

**Enviro

[2019-06-10 21:41] hasbro17 commented on #1541
Related: #1240 walk through CRD version upgrade with conversion webhooks.

[2019-06-10 21:43] mossuchida commented on #1527
Thanks, --zap-level=error worked.  Now I am changing the log from reqLogger.Info to reqLogger.Debug, but it complains that it doesn't exist.  I tried to use reqLogger.V(1).Info with "--zap-level=info", but it prints out reqLogger.V(1).Info also.  Would you provide complete --zap-level options & reqLogger options that I can use for operator.yaml & controller.go?

[2019-06-10 21:48] hasbro17 commented on #1464
@camilamacedo86 Closing this for now. Please reopen if you still have questions.

[2019-06-10 23:28] gautamkmr opened #1543 "Broken link in template code"
## Bug Report

Following link is broken in multiple files.
Link: https://book-v1.book.kubebuilder.io/beyond_basics/generating_crd.html

Pages:
https://github.com/operator-framework/operator-sdk/blob/master/internal/pkg/scaffold/types.go#L59
https://github.com/operator-framework/operator-sdk/blob/master/internal/pkg/scaffold/types.go#L67

https://github.com/operator-framework/operator-sdk/blob/mast

[2019-06-11 08:18] rhuss opened #1545 "sigsegv if GOROOT is not set"
## Bug Report

When running an

[code]

in a module enabled project below `$GOPATH`, and `$GOROOT` is not set, then the following errors occurs:

[code]

I would expect either to work out of the box (i'm using modules anyway) or a clear simple pre-run check the GOROOT needs to be set.

(ideally I would prefer to run outside of $GOPATH but this is prevented by #1457 )

**Environment**
* operator-sd

[2019-06-11 08:39] rhuss opened #1546 "Warning during `add api` about missing package"
## Bug Report

When adding a new api via

[code]

on a freshly created project, I get the following output:

[code]

It looks like it succeeded and the directory `pkg/apis/hello` has been created eventually:

[code]

However, the warning is a bit disturbing. Also I was wondering why I was ask for my GitHub credentials during the process (looks like a read-write checkout of some GitHub repo)

![gra

[2019-06-11 09:25] srinivas-kandula commented on #1539
@joelanford Tried providing all permissions to `serviceaccounts`, `clusterrolebindings` and `clusterroles` still seeing the issue.
Now my role.yaml has:
[code]

[2019-06-11 14:15] shawn-hurley commented on #1464
Can

[2019-06-11 15:21] joelanford commented on #1527
@mossuchida the [logging](https://github.com/operator-framework/operator-sdk/blob/master/doc/user/logging.md) doc describes the `--zap-level` flag as:

So you can use `--zap-level=error`, `--zap-level=info`, `--zap-level=debug`, `--zap-level=1`, `--zap-level=2`, `--zap-level=3`, etc. Note that `debug` and `1` are equivalent and increasing numbers mean more verbosity.

These levels correspond to th

[2019-06-11 15:38] joelanford commented on #1542
@roufique2 There's no information in your bug report. Did you mistakenly create this issue? If not, please re-open a new issue with details of your problem/question

[2019-06-11 15:38] #1542 closed

[2019-06-11 15:44] joelanford commented on #1459
@BaddamJhansi we think this is fixed for Windows on the latest `master`. If you get a chance to try it and find that it is not fixed. Please leave a comment and we can re-open.

[2019-06-11 15:44] #1459 closed

[2019-06-11 15:54] joelanford commented on #1539
@srinivas-kandula Some of those resources are not in the core (`""`) API group. You'll need separate sections for each.

[code]

Also, does your chart actually manage `endpoints` directly? If not, you shouldn't need that permission.

[2019-06-11 16:49] joelanford commented on #1505
@adityabyreddy74 We improved the log messages for release failures in #1515, which should make the actual errors a bit clearer

[2019-06-11 16:49] #1505 closed

[2019-06-11 17:57] mossuchida commented on #1527
Thanks, it worked!  It looks like I was not logged into docker & image push was denied, there were no V(1) in the code.

[2019-06-11 17:57] #1527 closed

[2019-06-11 18:02] joelanford commented on #1426
Had an offline chat with @fahlmant, where the suggested way forward is to create a new non-global metrics registry in the operator and serve that directly.

@LiliC suggested https://github.com/brancz/prometheus-example-app/blob/master/main.go for a good example.

[2019-06-11 18:02] #1426 closed

[2019-06-11 18:03] awalker125 commented on #1518
@shawn-hurley yeah I agree there isn't much you guys can do on this one. I'm happy to close this because I have a workaround as described above. I only raised this so if someone else hit this they could maybe follow my steps. I did a pip install requirements on my vagrant box from the results of this command:

[code]

[2019-06-11 18:51] joelanford commented on #1543
@gautamkmr This link works for me.

[code]

[2019-06-11 18:51] #1543 closed

[2019-06-11 18:52] joelanford commented on #1543
@gautamkmr It is possible that you're behind a proxy that is blocking access for some reason?

[2019-06-11 18:54] shawn-hurley commented on #1518
Thanks!

I think this will help, and folks can still see this bug if closed so thanks for the report and fix to help others!

[2019-06-11 18:54] #1518 closed

[2019-06-11 19:13] joelanford commented on #1545
This appears to be a duplicate of #1480.

@rhuss Is your go installation in `/usr/local/go`? If not, you probably need to set `GOROOT` (or move your installation to `/usr/local/go`).

On my system, I have go installed in the default location (`/usr/local/go`), and I'm able to run `operator-sdk add api` successfully without setting `GOROOT`.

When I move my go installation and retry, I get the erro

[2019-06-11 19:24] joelanford commented on #1546
The question about the warnings has come up a couple of times. See this PR for details: https://github.com/operator-framework/operator-sdk/pull/1401

I'm not sure about the GitHub credentials dialog, but my guess would be that it happens as part of the compilation of the generator binaries when `go build` is executed with Go modules enabled. Does the dialog come up around the following lines?

[co

[2019-06-11 20:11] joelanford commented on #1540
@wreed4 I'll take a stab at this, but @shawn-hurley and @hasbro17 may have some helpful insights as well.

Generally, no. Your operator is generally only using CPU cycles to update its caches and reconcile watched objects when they change. Do you anticipate that your operator will be watching and reconciling a large number of objects that are changing frequently?

If you do need to scale up, you h

[2019-06-12 03:26] jmazzitelli opened #1550 "ansible operator causes role to continually be called if k8s task creates CRs of a custom CRD kind"
## Bug Report

**What did you do?**

I will attach a zip file with everything you need to replicate this (see the bottom of this message).

But in short, if my Ansible task does the following (creates CRs of a Kind from a custom CRD), then the ansible operator-sdk framework continually calls my role over and over infinitely:

[code]

If I take that out of my Ansible script, my operator functions p

[2019-06-12 06:26] chinglinwen commented on #1502
I got this similar issue

[code]

[code]

[2019-06-12 07:10] srinivas-kandula commented on #1539
@joelanford Thank you very much !!. This worked perfectly.

[2019-06-12 07:10] #1539 closed

[2019-06-12 12:20] rhuss commented on #1545
Yes, I could fix it by setting `GOROOT`. I just think that its not a nice UX to get a SIGSEGV when not setting GOROOT in my case. If there would have been an error message like 'Please set your GOROOT to your go installation' that would be totally fine.

[2019-06-12 14:45] shawn-hurley commented on #1540
I would suggest in this case to have an `api` repo where the structs and clientset are defined and that your controller will vendor this repo in. This is how k8s and openshift are breaking these things up. see https://github.com/kubernetes/api

Most kubernetes controllers use leader election and don't shard the cluster AFAIK. I think it would be safe to assume that if it works for the pod controll

[2019-06-12 15:34] joelanford commented on #1545
@rhuss There is a line in your log with `go: cannot find GOROOT directory: /usr/local/go`, but I agree that it isn't nice to panic.

Unfortunately, it looks like the `k8s.io/gengo` library is the source of this bug, and I would hesitate to add extra checks in the operator-sdk to guard against misconfigured Go environments.

I submitted an issue upstream to see if this can be improved: https://gith

[2019-06-12 17:26] gbaufake commented on #1550
Facing this issue on OCP 4.1.0

[code]

ansible logs -
[ansible-logs](https://github.com/operator-framework/operator-sdk/files/3282498/running_4_1_0.txt)

[2019-06-12 20:03] shawn-hurley commented on #1330
In v0.6.0 we were doing some incorrect things with owner references. Now that we are doing the correct things, it sounds like something is unable to find some info about the type that you are attempting to create in your operator.

There should be another error log saying "could not get (group version/rest mapping) for xxxx" can you tell me what that is saying?

[2019-06-12 21:49] chancez opened #1551 "Zombie processes are created by ansible and never cleaned up"
## Bug Report

**What did you do?**

Wrote a role which uses async tasks which results in processes accumulating like this:

[code]

The async task module in ansible double forks the task processes it runs and they never get cleaned up. This was originally reported in https://github.com/operator-framework/operator-metering/issues/744

This upstream ansible issue mentions this is basically expected

[2019-06-12 23:05] estroz commented on #1551
@shawn-hurley @fabianvf @dymurray

[2019-06-12 23:09] estroz commented on #1550
@shawn-hurley @fabianvf @dymurray

[2019-06-12 23:20] estroz commented on #1502
@qw1mb0 @mossuchida have you tried the suggested fix?
@chinglinwen is this a persistent error? I was unable to reproduce it. Can you submit another issue with all the required information? Thanks!

[2019-06-12 23:24] estroz commented on #1546
@rhuss: @joelanford is correct, `go/build` package parsing causes this error.

This issue relates to #1502. For a temporary fix, try the following before running `operator-sdk add api`:
[code]
PR #1401 should fix this once merged.

[2019-06-13 02:47] magick93 commented on #1198
Personally, I found it confusing that `git init` was already run. Then even more confusing that `git commit` has been performed.

[2019-06-13 03:46] eformat opened #1553 "Ansible Operator on a Diet"
## Feature Request

If i look to use ansible operator per app, per namespace - the underlying image size is considerable (i note that in quay.io its showing the squashed image size as ~ 200MB?) on disk it seems to be:

podman images
REPOSITORY                                    TAG      IMAGE ID       CREATED       SIZE
quay.io/operator-framework/ansible-operator   latest   7c667eba29ce   3 weeks

[2019-06-13 03:51] chinglinwen commented on #1502
I just changed go.mod operator-sdk v0.8.x to operator-sdk v0.8.1 @estroz , it works now

[2019-06-13 08:01] #616 closed

[2019-06-13 08:06] LiliC opened #1554 "Enable custom resource metrics in helm and ansible"
## Feature Request

Currently custom resource specific metrics are enabled in go type operators only.

cc @shawn-hurley @joelanford

[2019-06-13 08:06] LiliC commented on #1554
Initial PR https://github.com/operator-framework/operator-sdk/pull/1277

[2019-06-13 08:26] qw1mb0 commented on #1502
Hm.
After add `--verbose` flag all fine.

[2019-06-13 09:08] slopezz commented on #1330
Yes @shawn-hurley , on operator container log there is the following message:

[code]

It complains exactly about ImageStream Openshift object (created with the first ansible task):
[code]

I don't know if maybe I am setting incorrect role permission regarding this specific Object:
[code]
But It is weird because for testing purpose I set at the end of `role.yaml` full `*` permission:
[code]

Here

[2019-06-13 12:40] fabiand commented on #400
/remove-lifecycle rotten
I think it's still worth formalizing this a little more - otoh it look
slike we have much more possibilities than 6mths ago.

[2019-06-13 13:43] shawn-hurley commented on #1330
If you notice the group that the operator is attempting to get is "" while the actual group is "image.openshift.io". If you update the k8s module definition to `apiVersion: image.openshift.io/v1` then this should fix this issue.

[2019-06-13 17:40] mossuchida commented on #1502
After upgrading to v0.8.1, It seems like it is working although I see some errors while creating.  Is this expected?
INFO[0002] Created deploy/crds/app_v1alpha1_appservice_cr.yaml
W0613 13:36:27.958214    2867 parse.go:239] Ignoring child directory github.com/example-inc/app-operator/pkg/apis/app: unable to import "github.com/example-inc/app-operator/pkg/apis/app": go/build: importGo github.com/ex

[2019-06-13 17:46] estroz commented on #1502
@mossuchida yes, see #1546

[2019-06-13 19:43] jmazzitelli commented on #1550
If I add this to `watches.yaml`

[code]

This looping doesn't happen anymore, however, the operator logs get flooded with this error message - every 1 second I see this message spit out:

[code]

Interestingly, this doesn't happen with my little test example I attached to this issue - this is only happening on my actual operator that I'm coding up. If I figure out how to replicate it, I'll post it

[2019-06-14 02:11] wreed4 opened #1559 "Hang on client.Get"
## Bug Report

**What did you do?**
I have a controller that creates many sub-resources of varying types.  When running locally, everything works as expected.  However when running as a pod in the cluster, I am seeing client.Get hang forever.  I traced the issue all down the rabbit hole and the closest I got is that under the hood, in a single call in my code to client.Get, client-go's Get is gett

[2019-06-14 06:10] gosoon commented on #273
$ export WATCH_NAMESPACE="default"
$ go run cmd/manager/main.go

[2019-06-14 06:51] BuddhiWathsala commented on #1530
Now it solved. I compile `operator-sdk` from source and install from the master branch. Hope you will release this soon.

[2019-06-14 09:06] LiliC commented on #1559
@wreed4 could it be a permission problem, are your RBAC correct? I am only suspecting this because it works outside of the cluster.

[2019-06-14 09:16] LiliC commented on #1537
@caitong93 thanks for your feature request! Do you know can also always tail the logs? e.g.:
`kubectl logs deploment/<operator-name> -f`

[2019-06-14 09:24] LiliC commented on #1536
@camilamacedo86 I think this a valid request but we make these assumptions because we expect the operator to be generated with operator-sdk and we always generate the role.yaml. So it's not a bug really from our side. But if you want to maybe change this to a feature request?

cc @estroz

[2019-06-14 10:16] slopezz commented on #1330
Thank you @shawn-hurley , after changing the apiVersion to specific Openshift ones, it is working correctly again.

I saw that specifying Openshift APIs was needed on helm-operator, but as it was working well on ansible-operator v0.6.0 without specifying them, I thought it was the correct way to do so.

To know which Openshift apiGroups/resources specify on operator role.yaml, I've seen that for e

[2019-06-14 10:47] wreed4 commented on #1559
@LiliC I thought I had tried that but because you suggested it, I went ahead and just opened up full permissions (metadata removed)
[code]
And wouldn't you know it, it worked.  No hang.  Thank you!  Now I just need to find what i'm not including since I'm giving it a ton....
[code]
I am using the efs csi-driver.. but Im' not sure how that's relevant.

In any case, why the hang? I would expect an e

[2019-06-14 11:42] camilamacedo86 opened #1561 "How to run a command from reconcile inside of a pod/container?"
## Type of question

**Usage**

## Question

**What did you do?**
Getting a pod and trying to `kubectl exec` by using the client libs available.

**What did you expect to see?**
Do something as :

[code]
API example:

`/api/v1/namespaces/project-1/pods/pod-1-lmlzj/exec?command=/bin/bash&command=-c&command=/bin/bash&stdin=true&stderr=true&stdout=true&tty=true`

[2019-06-14 11:56] LiliC commented on #1561
@camilamacedo86 Can you explain a bit more, not sure I understand the reconcile part.

[2019-06-14 11:57] wreed4 commented on #1540
Thank you both, your responses have been extremely helpful.

Not necessarily per resource, but on aggregate I think so.  I anticipate thousands of objects.  Under normal usage, probably only 50% of those will be updated in a day.. so maybe not much traffic.  There are cases however where many customers might do something at the same time which means we might get a burst of several hundred or thous

[2019-06-14 11:59] LiliC commented on #1559
@wreed4 I assume it's a timeout thing.

This looks like the correct permissions at least the ones we generate based on the generic operator. You just need to know what resources will need to do which requests, and this depends on your operator.

[2019-06-14 12:32] cmoulliard commented on #1561
Why don't you use the k8s client to execute this command - see https://github.com/snowdrop/kreate/blob/78f0b5ee8e27117b78fe9d6d5192bc5b04c0e5db/pkg/k8s/client.go#L243 ? @camilamacedo86

[2019-06-14 12:33] wreed4 commented on #1559
It seems to be generally hanging on `Get`ing a pvc... Not sure what happens under the hood there.

[2019-06-14 12:59] LiliC commented on #1559
@wreed4 I haven't come across this problem before so don't know really the solution here. But you mention something about nonexistentname? Can you explain that a bit more.

[2019-06-14 13:00] LiliC commented on #1559
It could be purely EKS connection problem, but just guessing here really. We haven't had any reported issues around this problem so far.

[2019-06-14 14:58] wreed4 commented on #1559
@LiliC nonexistentname was just my way of saying it was trying to Get a pvc that didn't exist yet.  To check if it existed.  That check should have errored and allowed me to create the resource.

And yeah.. I get there isn't a ton of information here that could help you guys debug more. I was hoping it'd be some kind of known issue or "oh I've seen that before" kind of thing.  Oh well.

[2019-06-14 16:20] estroz commented on #1536
@camilamacedo86 you can specify which {cluster}role file is used by modifying the `role-path` field in a [CSV config](https://github.com/operator-framework/operator-sdk/blob/master/doc/user/olm-catalog/generating-a-csv.md#configuration):
[code]
then run:
[code]

[2019-06-14 16:21] #1536 closed

[2019-06-14 17:16] AlexNPavel commented on #947
/remove-lifecycle rotten

[2019-06-14 17:21] AlexNPavel commented on #947
/assign @hasbro17

[2019-06-14 17:21] AlexNPavel commented on #1359
/assign @hasbro17

[2019-06-14 17:32] yashbhutwala commented on #1545
I agree with @rhuss here.  For example, for MacOS, if a user is using `homebrew` to install `go`, `operator-sdk`, etc., these binaries will reside in `/usr/local/bin/go`, etc. by default.  If this is not fixed here, at least documentation clarifying this to add `GOROOT` should be added.

[2019-06-14 17:51] joelanford commented on #1545
@rhuss and @yashbhutwala could you try reproducing your issue with a build from `master`?

[2019-06-14 18:23] joelanford commented on #1545
To satisfy my own curiosity, I did a little more digging about how `GOROOT` works for distributions from package managers, and it appears that packagers should be building the correct `GOROOT` into the `go` binary to match where Go is installed using the `GOROOT_FINAL` environment variable when building from source.

See:
- https://dave.cheney.net/2013/06/14/you-dont-need-to-set-goroot-really
- ht

[2019-06-14 18:23] #1545 closed

[2019-06-14 18:32] yashbhutwala commented on #1545
@joelanford this is my env config:

[code]

But in the error I see this:
[code]

Also I'm running into this error, trying to compile on master:

[code]

[2019-06-14 18:42] joelanford commented on #1545
Interesting! I'll see if I can reproduce that somehow.

For your SDK compile error, make sure to set `GO111MODULE=off`. We haven't switched over to go modules quite yet.

[2019-06-14 18:49] yashbhutwala commented on #1545
Yeah, it's weird and it may just be my system, but I doubt it since I don't think I have configured anything funky on there 😄

Gotcha, cool, so it works on master.

[2019-06-14 18:50] #1502 closed

[2019-06-14 18:50] #1546 closed

[2019-06-14 19:15] joelanford commented on #1545
I'm not able to reproduce on my Mac. I don't typically use the brew go package, so I cleaned out my existing go installation and environment, ran `brew install go`, verified the `which go` and the `go env` GOROOT and then successfully ran `operator-sdk add api` successfully.

👍

[2019-06-14 20:19] joelanford commented on #1531
@muralov Just checking. Do your templates use any functions that generate random data?

Are you able to show some examples of this behavior from the operator logs? I was under the impression that the Helm libraries had a deterministic sort of the resources in the manifest, but I could be wrong on that.

[2019-06-14 21:08] rhuss commented on #1545
I meant that I had *no* GOROOT set at all. I would expect an error message pointing me to set my GOROOT env var, but not a SIGSEGV. That's all.

[2019-06-15 23:30] devdattakulkarni opened #1564 "Failed to build Operator image"
## Bug Report

**What did you do?**
Following the readme, I am trying to build app-operator image.

operator-sdk build quay.io/example/app-operator

**What did you expect to see?**
Image built.

**What did you see instead? Under which circumstances?**
operator-sdk build quay.io/example/app-operator
build github.com/example-inc/app-operator/cmd/manager: cannot load sigs.k8s.io/controller-runtime/pk

[2019-06-15 23:55] devdattakulkarni commented on #1564
I was able to build the image after manually downloading controller-runtime v0.1.11 and manually replacing vendor/sigs.k8s.io/controller-runtime/pkg with pkg folder from v0.1.11. This contained the 'controller' package, which seemed to be missing from the auto-generated pkg tree by operator-sdk cli.

[2019-06-17 08:26] adityabyreddy74 commented on #1505
@joelanford Thanks Joe.

The other issue was with our helm charts. Gotta dig deep into whats going wrong in there.

[2019-06-17 08:36] camilamacedo86 commented on #1561
hi @LiliC I want in the reconcile execute a command inside of the container like `kubectl exec`

[2019-06-17 12:44] camilamacedo86 commented on #1561
I tried the following impl and it did not work as well. The restClient is nil.

[code]

Could you help me here? How can I execute a command inside of the containers of the pods managed by the operator? PS.: I cannot add the command via args when the deployment is made for example. In my case, I would like to do a bkp of the database and move the file for another place.

[2019-06-17 13:36] shawn-hurley commented on #1550
I believe that we determined the issue is with the no-op patches updating the resource version of a custom resource.

@fabianvf I believe you mentioned in slack that you were unable to reproduce this behavior?

[2019-06-17 13:46] jmazzitelli commented on #1550
FYI: my previous comment https://github.com/operator-framework/operator-sdk/issues/1550#issuecomment-501315208 has replication procedures that reproduces it... it also has a .zip that reproduces the problem if you just want to run the code and not have to go through the steps to generate/modify the code to get there.

[2019-06-17 15:49] camilamacedo86 commented on #1561
@shawn-hurley @LiliC @cmoulliard any ideas?

[2019-06-17 16:38] kincl commented on #1564
I also ran into this issue with v0.8.1 of the operator-sdk. I think the issue is that when running `operator-sdk new --dep-manager=modules` it runs `go mod vendor -v` as part of the initialization process but unlike the dep dependency manager, go modules only vendors the packages that are needed to build the application which since there are no controllers specified it does not vendor those requir

[2019-06-17 17:28] fabianvf commented on #1550
@shawn-hurley I reproduced it in openshift 3.11 and then tested a few kubernetes installs, here are the results:

| project | version | reproduced |
| ---------- | ---------- | ------------- |
| openshift | 3.11 | yes |
| kubernetes | 1.11 | no |
| kubernetes | 1.12 | no |
| kubernetes | 1.13 | no |

So this looks like an error specific to openshift, and we should either file a bug against openshi

[2019-06-17 17:43] jmazzitelli commented on #1550
@gbaufake were you able to replicate this on OpenShift 4.1 ?

[2019-06-17 18:43] #1471 closed

[2019-06-17 20:50] shawn-hurley commented on #1561
I think you need to change some of the options of your impl to get it to work.

https://github.com/snowdrop/kreate/blob/78f0b5ee8e27117b78fe9d6d5192bc5b04c0e5db/pkg/k8s/client.go#L251

https://github.com/snowdrop/kreate/blob/78f0b5ee8e27117b78fe9d6d5192bc5b04c0e5db/pkg/k8s/client.go#L270

[2019-06-18 03:59] magick93 opened #1568 "Java operator sdk"
## Feature Request

As you are probably aware Java is one of the more popular languages. Supporting Java in the Operator-sdk would significantly increase its audience. I certainly would be more interested in using this project as I wouldnt have to learn go.

I'm sure many others would also take warmly to a java option.

[2019-06-18 05:41] camilamacedo86 commented on #1561
Hi @shawn-hurley,

Really tks. However, I am still with an issue before that. The following code will return null.

[code]

PS.: The cfg is that one injects in the manager. Have you any idea to solve it?

[2019-06-18 07:20] adityabyreddy74 opened #1569 "Is there a way to know the deployment status"
## Is there a way to know deployment status from helm based operator? something like helm status.

**Environment**
* operator-sdk version:

operator-sdk version v0.6.0

* Kubernetes cluster kind: Kubeadm

**Additional context**
I'm trying to evaluate deployment status from a operator based helm chart deployment.

[2019-06-18 07:38] camilamacedo86 opened #1570 "Unable to get the rest.Config ,"k8s.io/client-go/rest", with client provided by the framework"
## Bug Report

**What did you do?**

[code]
**What did you expect to see?**
[code]
**What did you see instead? Under which circumstances?**
[code]

**Environment**
* operator-sdk version:

operator-sdk version: v0.8.0, commit: 78c472461e75e6c64589cfadf577a2004b8a26b3

* go version:

go version go1.12.5 darwin/amd64

* Kubernetes version information:

[code]

* Kubernetes cluster kind:  Minikube/Mi

[2019-06-18 07:51] camilamacedo86 commented on #1569
I understand that you can use the command line tools to check it and/or the interface. Are you not able to see a pod created for the operator?

[2019-06-18 08:16] darmenliu commented on #1502
hi, same issue with you, please help to share your solution detail info.

[2019-06-18 08:57] spanichella commented on #1568
I agree on this, supporting Java in the Operator-sdk would significantly increase its audience.

[2019-06-18 12:25] shawn-hurley commented on #1570
what is the error that is returned?

[2019-06-18 13:12] muralov commented on #1531
@joelanford Our templates don't use any random data.

I have tried our helm charts with helm install --dry-run and got most of the time diffs, but sometimes not. I run 'helm template' command and I got always the same string. helm template seems to consider ordering of the resources.

[2019-06-18 13:12] oreissig commented on #1479
@LiliC hmm actually not really. It's only part of the solution, but I'm still lacking a convenient workflow that would allow me to iterate on my code in a test-driven way (beyond what can be done with unit tests and fake client).

I feel overwhelmed by the content presented in the `writing-e2e-tests.md` document. Some things that come to my mind:
- It references some sample test case, that I need

[2019-06-18 13:41] chinglinwen commented on #1502
@darmenliu

manual edit go.mod file, replace `operator-sdk v0.8.x` with `operator-sdk v0.8.1`, then try again with `operator-sdk new`. ( I don't remember much )

[2019-06-18 14:52] jbrisbin commented on #1568
At Instana we created an Operator for our agent based on Quarkus [1] that we intend to refactor into a reusable library after we've productionized the alpha. It includes leveraging CDI injection for getting access to services that Operators need and emits CDI events on important lifecycle events, among other things. I hope this effort would work wit the Quarkus dev community to leverage their supp

[2019-06-18 19:58] fabianvf commented on #1550
@jmazzitelli I was unable to replicate the error in openshift 4.1

[2019-06-18 20:08] joelanford commented on #837
This issue is closed by #1434

[2019-06-18 20:08] #837 closed

[2019-06-18 20:23] joelanford commented on #1540
@wreed4 If I understand your question about the the nginx ingress controller correctly, I don't think it is directly comparable to an operator.

In the case of an ingress controller, it is looking at every ingress resource (at least that is assigned to it via an annotation), building and applying a reverse proxy configuration, and actually running the reverse proxy all in the same pod. In this cas

[2019-06-18 20:23] #1540 closed

[2019-06-18 20:35] joelanford commented on #1531
@muralov Thanks for the info. This is something we should be able to fix. So just to make sure I understand, is it the order of the resources that change (e.g. sometimes a secret comes before a network policy and sometimes that same network policy comes before the secret)?

[2019-06-18 20:42] gbaufake commented on #1550
@fabianvf  I faced on 4.1 before adding `watchDependentResources: False` on watches file. as I commented on https://github.com/operator-framework/operator-sdk/issues/1550#issuecomment-501375911

[2019-06-18 21:01] fabianvf commented on #1550
@gbaufake can you paste your logs (`oc logs <operator pod> -c operator`, `oc logs <operator pod> -c ansible`)? I was not able to replicate the issue on 4.1 and did not have `watchDependentResources: False`

[2019-06-18 21:13] joelanford commented on #1494
@feli5 Were you ever able to resolve this without commenting out the `USER` line in your Dockerfile?

We recommend not using the root user for security reasons. The purpose of the`/usr/local/bin/user_setup` script in the Dockerfile is to create a user with UID = 1001.

Looking at the your image, I see a few things that hint that the problem is permissions related:
1. It doesn't look like the user_

[2019-06-18 21:13] joelanford commented on #1494
I'm pretty sure that's the issue, but if not, ping me and we can re-open this issue.

[2019-06-18 21:13] #1494 closed

[2019-06-18 21:15] gaurav-dalvi commented on #1028
I will take this item. I have implemented `EnqueueRequestsFromMapFunc` for my use case recently. Assigning this item to me.

[2019-06-18 21:32] joelanford commented on #1221
@themr0c Sorry this seems to have fallen through the cracks. Do you know if this is still an issue?

/cc @shawn-hurley

[2019-06-18 21:37] joelanford commented on #1028
@gaurav-dalvi Thanks so much! It doesn't look like I can assign it to you, so I'll assign it to myself as a proxy so I can help keep track of it. Let me know if you need any help or want me to review anything for you!

[2019-06-18 21:48] joelanford commented on #1200
I believe this was fixed by #1320

[2019-06-18 21:48] #1200 closed

[2019-06-18 21:58] joelanford commented on #1222
@miguelsorianod @hasbro17 @LiliC @estroz Just wanted to follow up on this issue, which hasn't had any movement for awhile.

Since it looks like this is working as intended based on kube-openapi's rules, I think it makes sense to close this issue. If anyone disagrees, feel free to re-open.

[2019-06-18 21:58] #1222 closed

[2019-06-18 23:02] hasbro17 commented on #1222
Yes I was incorrect when I mentioned a work around or fixing this upstream.
This rule is per the Kubernetes [naming conventions](https://github.com/kubernetes/community/blob/master/contributors/devel/sig-architecture/api-conventions.md#naming-conventions):

I think that's something @miguelsorianod seems to have already fixed judging from the [recent commits](https://github.com/ContainerSolutions/e

[2019-06-19 03:22] joelanford commented on #1569
@camilamacedo86 I think @adityabyreddy74 is asking about how to get the status of a helm release that was deployed by the helm operator. Is that right?

Details about the release status can be found in the CR status conditions. For example, the following will print the list of conditions for a particular CR's release:

[code]

[2019-06-19 04:56] cmoulliard commented on #1561
Such examples will work as the restclient is created outside of the k8s cluster, We need for the Camila use case, something like this but able to working within the cluster

https://gist.github.com/cmoulliard/ec4dac1275042643bab7f4ba2867604f#file-gistfile1-txt-L279

[2019-06-19 08:35] spanichellazhaw commented on #1502
After add --verbose flag all fine.

[2019-06-19 12:22] robbie-demuth commented on #1513
I believe this is also a problem for Helm-based operators. Custom resources created from Helm CRDs have a `uninstall-helm-release` finalizer. If the custom resource is namespace-scoped, deleting the namespace deletes the controller at which point the finalizer on the custom resources in the namespace cannot be handled - causing the namespace to get stuck in a terminating state

[2019-06-19 13:03] muralov commented on #1531
@joelanford yes, that is correct.

[2019-06-19 13:39] shawn-hurley commented on #1513
I believe it is a problem with all operators. Once the delete on the namespace is called, there is nothing that the operator could do.

[2019-06-19 13:55] shawn-hurley commented on #1221
I don't that we have had the bandwidth to look into this.

[2019-06-19 17:06] djohnston89 opened #1573 "Add or Replace Docker with Buildah/ Podman?"
## Feature Request
Container community drive towards podman/ buildah.

Please add these as an option for container builds/ pushes for those not running Docker.

[2019-06-19 17:12] joelanford commented on #1573
@djohnston89 Podman and buildah are already supported with the `operator-sdk build` command. See https://github.com/operator-framework/operator-sdk/blob/master/doc/sdk-cli-reference.md#flags

[2019-06-19 17:12] #1573 closed

[2019-06-19 17:14] LiliC commented on #1479
@oreissig Most of these sound like unrelated to your original issue which is to support IDE, can you open a separate issue for the above ones, it's more about updating docs and possibly generating some e2e scaffold code, thanks!

You are using the fake client? In the e2e tests we have we tend to run those against a real k8s cluster, the fake client is more used for unit tests.

[2019-06-19 17:25] LiliC commented on #1559
@wreed4 No sorry no idea, it might be an EKS issue, do you experience the same on other non EKS k8s clusters?

[2019-06-19 17:54] #1457 closed

[2019-06-19 18:36] themr0c commented on #1221
I haven't looked at this since then, and my focus has changed. If nobody else complains, the issue is probably not important and can go in the attic.

[2019-06-19 18:36] #1221 closed

[2019-06-20 14:03] LiliC opened #1576 "metrics: Include CreateServiceMonitor in every main.go file"
Despite ServiceMonitor helper function being well [documented](https://github.com/operator-framework/operator-sdk/blob/master/doc/user/metrics/service-monitor.md) I noticed is not used that often. I fear this is because of the lack of discoverability. Because [prometheus-operator](https://github.com/coreos/prometheus-operator) is so widely used and regarded as almost the default option for running

[2019-06-20 14:25] LiliC commented on #1561
@camilamacedo86 if you want to do the request directly we do it like this:
https://github.com/operator-framework/operator-sdk/blob/c8ead552930d086056f779e8fdefa7f681c1e432/test/e2e/memcached_test.go#L792-L801

and to get the client we do:
https://github.com/operator-framework/operator-sdk/blob/c8ead552930d086056f779e8fdefa7f681c1e432/pkg/test/framework.go#L72-L79

You should be able to do direct r

[2019-06-20 14:28] LiliC commented on #1570
@camilamacedo86 I think what Shawn meant was that you are ignoring the error that is being returned. So can you check if the error is not nil. e.g.:
[code]

[2019-06-20 15:00] LiliC commented on #1504
@raffaelespazzoli any reason why we can't have those contributed back to operator SDK?

[2019-06-20 17:16] rcernich commented on #1514
Hey, sorry I've been on PTO...

We rely on the helm ordering of resources, but also insert OpenShift specific resources in the appropriate locations (e.g. routes after services).

The ordering I was speaking of was specific to the chart ordering.  We organize the manifest list by charts, as opposed to having a single list of all resources from all charts, then apply resources for each chart, based

[2019-06-20 17:46] joelanford commented on #1576
If we already check to see if the CRD is present before trying to create the ServiceMonitor instance, I don't see any reason not to add it uncommented with a comment that describes what it does.

[2019-06-21 02:07] gaurav-dalvi opened #1578 "Adding third party types.go to current scheme is not working"
## Bug Report

**What did you do?**
1: I have external types.go and hence CR :
https://github.com/noironetworks/aci-containers/blob/snat-jayaram/pkg/nodeinfo/apis/aci.nodeinfo/v1/types.go

2: my operator code : https://github.com/gaurav-dalvi/snat-operator/tree/sdk-bug
I am trying to use Nodeinfo object in my operator code. I added AddToScheme call in main.go but my client is not able to get those

[2019-06-21 04:08] raffaelespazzoli commented on #1504
There is nothing stopping us.

[2019-06-21 07:21] allamand commented on #986
@yaminisridaran can you explain how did you manage ?
I have an operator A which implements CRD A.
I want to create another operator B, which uses CRD B and CRD A.

I've imported crd A go files, but at compile it says it don't found deepcopy functions..

[2019-06-21 09:04] LiliC commented on #1504
@raffaelespazzoli we look forward to your [proposals](https://github.com/operator-framework/operator-sdk/tree/master/doc/proposals#proposals) and contributions! Thanks!

[2019-06-21 09:06] LiliC commented on #1578
@gaurav-dalvi can you please fill in the fields in the bug report above so we can help solve the problem faster, thanks!

[2019-06-21 09:09] LiliC commented on #1568
Thanks for the feature request. If there is any specific things you would like to see being used, best practices etc, in the java operator type please list below. Similar as to how @jbrisbin did it, always good to get information ahead of time!

[2019-06-21 09:34] LiliC commented on #1564
@devdattakulkarni for those releases we still require `go mod vendor` to be run before building, as we do have a dependency on the vendor directory. But since the need for that is removed recently in master so are the docs mentioning that. As @kincl mentioned look at the versioned docs.

Closing this issue, but if you run into any other problems feel free to open a new one, thanks!

[2019-06-21 09:34] #1564 closed

[2019-06-21 09:36] LiliC commented on #1458
Closing this as it's been open for a while, but if you run into any other problems you can always open a new issue.

[2019-06-21 09:36] #1458 closed

[2019-06-21 09:59] gosoon opened #1579 "panic: runtime error: index out of range"
## Bug Report

**What did you do?**
A clear and concise description of the steps you took (or insert a code snippet).

[code]

**What did you expect to see?**
A clear and concise description of what you expected to happen (or insert a code snippet).

**What did you see instead? Under which circumstances?**
A clear and concise description of what you expected to happen (or insert a code snippet).

[2019-06-21 11:47] LiliC commented on #1579
@gosoon this happens because your `api-version` is not valid, I agree we should not panic but currently for you to fix the error, you need to provide a valid api-version, from the docs:

[2019-06-21 11:57] shawn-hurley commented on #1568
Hello All,

I think that the features that I think a bare minimum operator framework
needs are:
1. Informers - A watch mechanism that handles the watching of events and
then publishes them onto a queue for the controller's worker/reconciler to
handle. I think that for some programming languages this is easier than
others, but I think the pattern should probably be used in most cases. This
informer

[2019-06-21 14:17] ZoltanOnody commented on #1435
@hasbro17 any update or ETA for the feature?

[2019-06-21 14:34] LiliC commented on #670
/remove-lifecycle stale

Still relevant.

[2019-06-21 16:48] riccardomc opened #1584 "Leader election mechanism prevents running multiple instances of the same operator"
## Bug Report

While developing this [External Secret Operator](https://github.com/ContainerSolutions/externalsecret-operator) I ran into an issue with the leader election mechanism as summarized here: https://github.com/ContainerSolutions/externalsecret-operator/issues/22.

My intention is to run multiple instances of the same operator in the same namespace for isolation reasons, however the lead

[2019-06-21 16:51] riccardomc commented on #1584
Please let me know if this is a valid bug and the proposed solution is adequate. I would like to try contributing a PR if necessary.

[2019-06-21 17:06] joelanford commented on #1584
@riccardomc I don't think this is a bug since the leader election mechanism is actually working as intended. The `main.go` that the SDK scaffolds is meant to cover the general use case (i.e. don't let two operator instances compete to watch and reconcile the same set of resources).

In your use case, you're watching separate sets of resources, so you can edit your `main.go` to generate an appropri

[2019-06-21 17:53] gaurav-dalvi commented on #1578
@LiliC Done. I thought I updated it already.

[2019-06-21 21:21] joelanford commented on #1531
@muralov I started looking at the call stack and if I'm not mistaken, both `helm template` and the helm-operator end up using the same sorting interface implementation to sort the manifests no matter whether it's an install, update, or update dry-run.

https://github.com/helm/helm/blob/618447cbf203d147601b4b9bd7f8c37a5d39fbb4/pkg/tiller/kind_sorter.go#L122-L150

Is that non-deterministic for your

[2019-06-22 02:27] wangdrew opened #1587 "Enforcing immutability of Spec variables"
I'm writing an operator to manage RabbitMQ queues and would like to know if there's a way for k8s to enforce immutability of particular spec fields. I have the following struct which represents a rabbitMQ queue and some parameters to have it bind to a rabbitMQ exchange:
[code]
The reason why I want immutability, specifically for `VHost`, is because it's a parameter that's used to namespace a queue

[2019-06-24 05:33] hasbro17 commented on #1218
/remove-lifecycle stale

[2019-06-24 08:20] #1168 closed

[2019-06-24 08:32] pawelzny opened #1591 "Unknown field 'Repo' in struct literal of type "vendor/sigs.k8s.io/controller-tools/pkg/crd/generator".Generator"
## Bug Report

`scaffold.CustomRender()` method tries to set unknown `Repo` field in `Generator` struct.
https://github.com/operator-framework/operator-sdk/blob/master/internal/pkg/scaffold/crd.go#L114

`Generator` does not have `Repo` field https://github.com/kubernetes-sigs/controller-tools/blob/v0.1.11/pkg/crd/generator/generator.go#L38

It results with error:

[code]

**What did you do?**

1.

[2019-06-24 10:07] galderz commented on #1517
I've set up OLM but have not deployed the operator. Shouldn't the scorecard do that? With the descriptor references that you pass in it has all the information to deploy and instantiate the operator.

[2019-06-24 11:18] LiliC commented on #1578
@gaurav-dalvi you need to add the third party APIs to the scheme, the guide is here https://github.com/operator-framework/operator-sdk/blob/757f7a0b9d12cacf407cb12c30b89374206f1ff2/doc/user-guide.md#adding-3rd-party-resources-to-your-operator

[2019-06-24 12:34] shawn-hurley commented on #1092
This is closed by #1463

[2019-06-24 12:34] #1092 closed

[2019-06-24 14:43] riccardomc commented on #1584
Ok, thank you. I thought it would be useful for the scaffolding to support this use case but I also see the value in keeping it simple and target the general use case.

I will implement the solution you suggested in our case. Closing.

[2019-06-24 14:43] #1584 closed

[2019-06-24 16:18] jdoss commented on #1516
From my user perspective option 1 seems pretty appealing because it is very similar to to how Ansible works outside of an operator. If there is an `ansible.cfg` in the CWD of where you are invoking `operator-sdk up local` set `ANSIBLE_CONFIG`  to use that cfg until `operator-sdk up local` finishes.

I am using Ansible in a bunch of different contexts unrelated to the `operator-sdk` and having to k

[2019-06-24 16:31] estroz commented on #1517
@galderz the SDK will do that in the future, but cannot as of now.

[2019-06-24 16:40] #1435 closed

[2019-06-24 18:32] bobdonat opened #1593 "operator-sdk generate openapi not preserving shortNames in CRD"
## Type of question

**Are you asking about community best practices, how to implement a specific feature, or about general context and help around the operator-sdk?**

How to implement a specific feature
## Question

**What did you do?**
I would like to regenerate the CRD and preserve shortNames.  I am having trouble with the correct syntax to preserve shortNames.  Please let me know what needs t

[2019-06-24 20:53] #1490 closed

[2019-06-24 21:31] hasbro17 commented on #1587
Hi @wangdrew, that's an interesting use case.

The ideal way to do this would be via the [CRD's OpenAPI Validation](https://kubernetes.io/docs/tasks/access-kubernetes-api/custom-resources/custom-resource-definitions/#validation) by marking certain fields as immutable.
The good news is this is being worked on upstream, but you'll have to wait a while for that.
https://github.com/kubernetes/kubernet

[2019-06-24 21:35] hasbro17 commented on #1587
If you have questions on the approach we can discuss them here.
But for tracking the feature request for validating admission webhooks, we should probably consolidate that to #1217

[2019-06-24 22:24] hasbro17 commented on #1591
@pawelzny Can you please check what version or commit sha you have in your Gopkg.toml for controller-tools?

Did you manually update your controller-tools dependency to v0.1.11?
That was released last week and the SDK isn't using that in v0.7.0 or in v0.8.1.

In the SDK v0.8.1 we've have controller-tools pinned to a commit that has the Repo field in the generator.
- [SDK v0.8.1 Gopkg.toml scaffold

[2019-06-24 23:12] hasbro17 commented on #1593
@bobdonat `operator-sdk generate openapi` will regenerate your CRD and validation every time.
So your edits to the CRD manifest will not be preserved.

The SDK supports defaulting the CRD fields like short names `shortNames` and singular name `singular` via `+kubebuilder` tags defined in your `pkg/apis/<group>/<version>/<kind>_types.go` file.

E.g with:
[code]

`operator-sdk generate openapi` shou

[2019-06-24 23:14] hasbro17 commented on #1593
Another older example from controller-tools:
https://github.com/kubernetes-sigs/controller-tools/blob/ef510a1e684c475ddcc8a944501e139ff7e315a2/pkg/crd/generator/testData/pkg/apis/fun/v1alpha1/toy_types.go#L89-L104

[2019-06-24 23:52] gaurav-dalvi commented on #1578
@LiliC : Yes I did it correctly. You can see it here : https://github.com/gaurav-dalvi/snat-operator/blob/sdk-bug/cmd/manager/main.go#L100

[2019-06-25 03:01] hasbro17 commented on #1240
/remove-lifecycle stale

[2019-06-25 10:18] vincent-pli opened #1595 "Does `operator-sdk build` support ppc64le"
I mean could `operator-sdk build` build go binary for `ppc64le`, local build or cross-compile.
BTW, what about `s390x`

[2019-06-25 12:19] pawelzny commented on #1591
@hasbro17 Thank you for your support. After controller-tools update to the hash you gave me everything started to work as expected.

In my Gopkg.toml file it looks like this:

[code]

Since this solved my problem I am closing the issue.

[2019-06-25 12:19] #1591 closed

[2019-06-25 13:25] LiliC opened #1597 "Go e2e test flake"
I noticed a few times that our e2e test go operator type fails randomly, this happened recently in PRs that did not touch the go operator codebase.

For example, this just changes the helm codebase and the helm test, yet the go e2e test failed https://github.com/operator-framework/operator-sdk/pull/1594

[code]

Nothing else in the logs to indicate what failed.

[2019-06-25 14:25] bobdonat commented on #1593
Thank you.  I was able to generate a CRD with the shortName preserved.

[2019-06-25 14:25] #1593 closed

[2019-06-25 14:53] muralov commented on #1531
@joelanford sorry for the delay. Unfortunately, I cannot share our charts because I am not allowed to share. Today I have run 'helm install --dry-run' and 'helm template' again and I have got different strings again. As I said, with dry-run the results almost each time different, but with helm template the results are always the same.
We have fixed this diff problem by splitting the whole text wit

[2019-06-25 15:17] joelanford commented on #1531
@muralov Hmm. And you're not able to create a sharable chart that reproduces the issue?

A few more questions to see if I can narrow this down:
1. What version of `helm` are you using on the command line when you run `helm install --dry-run` and `helm template`
2. What version of the helm-operator are you using?
3. For your diff where you split and compare, what are you doing to ensure that the ea

[2019-06-25 15:54] muralov commented on #1531
@joelanford I will try to create such a chart, please give me some time.

Here are my answers to your questions:

1. helm version is v2.12.3. Yes, I am using command line. I am also using command line diff comand.
2. We are using operator-sdk version: v0.8.1-dirty, commit: 33b3bfe10176f8647f5354516fff29dea42b6342
3. Here is code snippet of our solution, this is our fast solution:
[code]

[2019-06-25 23:44] gautamkmr commented on #1543
I see thanks @joelanford

[2019-06-25 23:44] gautamkmr commented on #1543
its work now.

[2019-06-26 01:40] vincent-pli commented on #1595
Hi folks, I checked the code in `cmd/operator-sdk/build/cmd.go`, see this:
[code]
Could we remove the `"GOARCH=amd64"`?

[2019-06-26 01:52] feli5 commented on #1494
I changed umask to 0022, but still meet this problem.
[code]
When I start this new build image, below is what I can find, app-operator's permission is still not correct.
[code]

[2019-06-26 09:42] baijum opened #1599 "Option to disable OCI image build"
## Feature Request

**Is your feature request related to a problem? Please describe.**
I want to build operator binary without producing OCI image.

**Describe the solution you'd like**
Introduce a `--without-image` for `operator-sdk build` command to disable building OCI image.

[2019-06-26 12:40] aman1989v opened #1602 "Not able to deploy operator-helm CR"
Firstly, I am not able to push the image using the below query
<code># docker push quay.io/example/nginx-operator:v0.0.1 <br>
The push refers to repository [quay.io/example/nginx-operator] <br>
b00085e81020: Preparing <br>
dc5b6598c38d: Preparing <br>
f5f564a6c664: Preparing <br>
a9a9f6c83b12: Preparing <br>
d0bf58423527: Preparing <br>
97327e241a2a: Waiting <br>
5cb7ea77f481: Waiting <br>
unautho

[2019-06-26 13:21] joelanford commented on #1602
@aman1989v The example namespace in quay is meant to just be an example, so you were correct to push the operator image with your own credentials.

The error you're getting (`trying and failing to pull image`) seems to indicate that the image name you're using in `deploy/operator.yaml` does not exist or is not accessible. Try setting it to `quay.io/veram04/nginx-operator:v0.0.1` and running `kubec

[2019-06-26 13:45] gpanagiotidis opened #1603 "Is it necessary to manage our own observedGeneration field to trigger the reconcile loop?"
When reading the object's metadata, I can not find the observedGeneration field in the status of the object. how is the reconcile loop triggered? Can we exclude triggering on status change?

Another example would be not to trigger a reconcile when it is just the metadata that changes.

[2019-06-26 14:26] joelanford commented on #1595
I think we should support other architectures, but I think we should be careful how we do it. As the code currently stands, it will always automatically cross-compile to `amd64` even when run from non-amd64 machines.

Probably the best way to handle this would be to check if `GOARCH` is explicitly set. If it is, use it, and if it isn't keep the default of `amd64`.

Would that work for you? If so,

[2019-06-27 00:13] vincent-pli commented on #1595
@joelanford
Sure, I'm glad to help on this issue

[2019-06-27 04:11] andy2046 opened #1606 "upgrade controller-runtime to support LabelSelector in fakeClient List func"
## Feature Request

**Is your feature request related to a problem? Please describe.**

Currently the sdk is using `controller-runtime` `v0.1.10`, which does not support LabelSelector filter in fakeClient List func, only support Namespace filter

https://github.com/operator-framework/operator-sdk/blob/3cf985d4cbc5cebf14430079d3c72176f9866ed5/Gopkg.toml#L33-L35

https://github.com/kubernetes-sigs/c

[2019-06-27 09:00] #1579 closed

[2019-06-27 09:27] LiliC commented on #1606
@andy2046 We are already in the middle of upgrading to controller-runtime v0.2.0 in PR https://github.com/operator-framework/operator-sdk/pull/1512 We are blocked until controller-runtime releases a stable v0.2.0 release.

I guess depending on when the v0.2.0 release will happen, bumping to v0.1.11 would be good to do. cc @estroz @camilamacedo86 @joelanford What do you think?

[2019-06-27 10:02] jpkrohling opened #1607 "'generate openapi' - All fields are set as required in the CRD when all fields are optional in the Go types"
## Bug Report

For the Jaeger Operator, pretty much all fields except the CR's `ObjectMeta/Name` are optional. When running the OpenAPI generator, we see that all fields are in the `required` list in the CRD, even though they are all tagged with `// +optional` above their types.

We see that the `optional` tag is indeed working, because we see the `zz_generated.openapi.go` reflect the change: when

[2019-06-27 10:13] jpkrohling opened #1608 "'generate openapi' - CRD name and group are wrong"
## Bug Report

When running `operator-sdk generate openapi` against the Jaeger Operator, the CRD's name and group are overridden, from the original `jaegers.jaegertracing.io` / `jaegertracing.io` to `jaegers.jaegertracing.jaegertracing` / `jaegertracing.jaegertracing`.

**What did you do?**
Executed `operator-sdk generate openapi` against an existing operator (Jaeger's).

**Environment**
* operato

[2019-06-27 10:20] jpkrohling opened #1609 "'generate openapi' should mark optional fields as 'nullable'"
## Feature Request

When tagging fields as `optional`, arrays and pointers fail to be persisted back due to validation failures, complaining that those arrays/pointers aren't arrays or objects, but rather, null:

[code]

In the example above, `spec.storage.cassandraCreateSchema.enabled` is a `*bool`:

https://github.com/jpkrohling/jaeger-operator/blob/466-ValidateCR/pkg/apis/jaegertracing/v1/jaege

[2019-06-27 12:54] joelanford commented on #1606
@LiliC [0.1.12](https://github.com/kubernetes-sigs/controller-runtime/releases/tag/v0.1.12) was actually released last week, so if we are going to bump to a 0.1.x version, we should shoot for that.

If it's just a matter of bumping that version (and the Kubernetes version) in our deps, and none of the function signatures we use in our scaffolds change, then we can probably go ahead and do this sin

[2019-06-27 15:40] joelanford commented on #1569
@adityabyreddy74 I think the above comment should answer your question so I'm going to close the issue. If it doesn't let us know and we can re-open.

[2019-06-27 15:40] #1569 closed

[2019-06-27 15:45] joelanford commented on #1595
Thanks @vincent-pli

Closed by #1605

[2019-06-27 15:45] #1595 closed

[2019-06-27 15:50] josericardomcastro opened #1611 "Namespace empty in controller"
I'm having problems when i create kubernetes objects in my controler.

In my Reconcile() function I can not get the namespace name.

I want the namespace name, but the variables below are coming empty

`request.Namespace`

and

`instance := &examplev1alpha1.TestOperator{}`
`instance.Namespace`

What am I doing wrong?

[2019-06-27 16:55] joelanford commented on #1611
@josericardomcastro If the CRD associated with `examplev1alpha1.TestOperator` is cluster-scoped, your Reconcile will get requests with the `request.Namespace` set to the empty string.

Your CRD's scope is defined in your CRD yaml file in `./deploy/crds/<yourcrd>_crd.yaml` under `spec.scope`. Is that set to `Namespaced` or `Cluster`?

Another possibility is a misconfigured watch in your controller

[2019-06-27 17:50] josericardomcastro commented on #1611
@joelanford my CRD is Cluster scope because i want to watch all namespaces,  is this correct?

So how do I get the name of the namespace that is creating the crd?

[2019-06-27 23:26] AlexNPavel commented on #727
This was resolved in an older release of controller-runtime, so this should be resolved in the SDK as well

/close

[2019-06-27 23:26] #727 closed

[2019-06-27 23:32] AlexNPavel commented on #1603
I don't believe it is possible to exclude triggering for only certain types of changes. The Kubernetes server sends all changes that occur to the operator that is watching the resource type, which is what triggers the reconcile loop.

[2019-06-27 23:37] AlexNPavel commented on #1609
Yes, this would likely have to involve a fix in `kube-openapi`, but maybe there's something we need to change on our side (maybe even a dependency version bump if this has been fixed upstream). I'm not to familiar with the openapi generation though.

/cc @estroz

[2019-06-27 23:38] AlexNPavel commented on #1608
/cc @estroz

[2019-06-27 23:46] AlexNPavel commented on #1597
I have seen this occasionally. We need to print the operator's logs for more information on how to fix this. Could this have been related to the fix #1585?

In any case, we should be printing the operator logs

[2019-06-28 11:08] LiliC commented on #1597
Yes I think so as well, but the weird thing is that not even one deployment is ready. So extending the retry won't fix it I feel.

[2019-06-28 12:02] LiliC commented on #1570
@camilamacedo86 did you have a chance to get any more info or errors, otherwise we can close this and if you run into more problems we can reopen. Thanks.

[2019-06-28 12:13] LiliC commented on #1568
cc @cmoulliard I believe you had interest in java type operators as well. ^

[2019-06-28 13:07] LiliC commented on #1603
@gpanagiotidis

You can filter out events by using Predicates https://github.com/operator-framework/operator-sdk/blob/1b1ebc09edf6d967c96da6ea6318c8e555209846/doc/user/event-filtering.md

[2019-06-28 13:49] pollosp opened #1614 "Helm User Guide doesn't work well"
## Bug Report

**What did you do?**
Follow the example https://github.com/operator-framework/operator-sdk/blob/master/doc/helm/user-guide.md  step by step.
But we notice that by default role didn't have permission to get pods.

[code]
We added full permissions in the role.yml
[code]
And we go the following error and we get stuck, talking with people in the k8s slack recommend my open an issue here

[2019-06-28 14:01] joelanford commented on #1614
I think your primary issue is that `0.8.0` has a known bug with the Helm role generation, which is fixed in [`0.8.1`](https://github.com/operator-framework/operator-sdk/releases/tag/v0.8.1) . Can you upgrade to `0.8.1` and try the Helm user guide again from the beginning? The bug was in `operator-sdk new` when it generates the default `role.yaml`.

[2019-06-28 15:34] cmoulliard commented on #1568
Yep like also @rhuss @jkremser

[2019-06-28 15:40] cmoulliard commented on #1568
Definitively. My list included also the following features

- Registration of the CRDs resources to be watched: primary and secondary
- Notification when a K8s resource has been created, updated or deleted (=> informer ?)
- Cache managing the k8s watched resources (to avoid to query time the k8s every time)
- Status management (= aggregate status of 2nd resources, ...)

[2019-06-28 17:08] estroz commented on #1608
@jpkrohling were these CRDs generated with the SDK? The behavior should have been the same when looking at the commits in the SDK, `controller-tools`, and `jaeger-operator` at the time `jaegertracing_v1_jaeger_crd.yaml` was generated; `io_v1alpha1_jaeger_crd.yaml` probably wasn’t generated with the SDK because we committed scaffolding code after its initial commit. The issue is in `controller-tool

[2019-06-28 18:37] #1198 closed

[2019-06-28 20:12] nrvnrvn opened #1615 "Logger.Error is ambiguous and non-informative"
## Bug Report

**What did you do?**
I am trying to be informative and concise while writing messages to log.
And I got stuck with two problems:
1. the choice is between `logger.Error`, `logger.Info`, `logger.V(1).Info`. These are Error, Info, and Debug levels accordingly. But there are no means for `Warn`ing the end user.
2. `logger.Error` is behaving as it was a controller failure and the stacktr

[2019-06-29 21:18] pollosp commented on #1614
@joelanford  working like a charm :)
[code]

[2019-06-29 21:18] #1614 closed

[2019-07-01 08:44] nrvnrvn opened #1618 "operator-sdk generate fails to work to work with modules"
## Bug Report

**What did you do?**
[code]
`go.mod` and `go.sum` are present. The project is valid and it can be built manually.

**What did you expect to see?**
Successfully generating k8s zz_*.generated.go files.

**What did you see instead? Under which circumstances?**
A clear and concise description of what you expected to happen (or insert a code snippet).

**Environment**
* operator-sdk vers