[2020-04-09 15:19] joelanford commented on #2807
Talking this through with @camilamacedo86 we're both in agreement that the metrics packages are a bit unwieldy and do not support some common use cases.

As @camilamacedo86 said, there have been some recent improvements that should make things at least a little more clear about what the limitations are.

I created a meta-issue (#2811) to capture metrics use cases to make sure we cover all of them.

[2020-04-09 15:19] #2807 closed

[2020-04-09 16:00] abdasgupta opened #2812 "CR for fio_distributed can't start FIO servers when deployed through Ripsaw benchmark operator."
I am trying to install Ripsaw benchmark operator https://github.com/cloud-bulldozer/ripsaw on Power 9 server. When I create the benchmark operator following this guide https://github.com/cloud-bulldozer/ripsaw/blob/master/docs/installation.md, the benchmark operator runs fine. As I am running the setup on Power 9, I had to build docker images for ansible operator https://github.com/operator-framew

[2020-04-09 17:00] camilamacedo86 commented on #2084
I am closing this one as obsolete since we have the #2811 with all that still missing regards the metrics and many fixes and improvements were already done in the latest released versions.

PS.: Also, by reading the description added by myself I am not sure if I am able to remember exactly what was in my mind when I tracked this one.

[2020-04-09 17:00] #2084 closed

[2020-04-09 17:14] camilamacedo86 commented on #2812
HI @abdasgupta,

Sorry, but it is not very clear for me what are you trying to achieve and/or the steps performed. However, shows that you are trying to creating Dockerfile images with the lastest released version of SDK, 0.16, when this https://github.com/cloud-bulldozer/ripsaw  is using a very old version 0.8.1. See: https://github.com/cloud-bulldozer/ripsaw/blob/master/build/Dockerfile#L1

Then

[2020-04-09 17:48] depohmel commented on #2806
yeap, as workaround that one worked.

[2020-04-09 18:49] depohmel opened #2815 "Helm chart controller-runtime.controller Reconciler error for empty manifest"
## Bug Report

similar to https://github.com/operator-framework/operator-sdk/issues/2622

**What did you do?**
```operator-sdk new test-operator --api-version=test.test.io/v1alpha1 --type=helm --kind=Test --helm-chart=path_to_repo```

[code]

**What did you expect to see?**
no errors

**What did you see instead? Under which circumstances?**
I see a Reconciler in operator errors
[code]

**Environme

[2020-04-09 18:49] depohmel commented on #2622
@joelanford @bharathi-tenneti https://github.com/operator-framework/operator-sdk/issues/2815

[2020-04-09 18:55] joelanford commented on #2815
It sounds like there's a `409 Conflict` error being returned by the API server.

Can you provide more context around these errors?
- After you apply the CR, is the operator installing the release successfully the first time through?
- If so, do any of the subsequent reconciles succeed before you see this log message?
- Is there anything _OTHER_ than just applying the CR that you need to do to trig

[2020-04-09 18:58] joelanford commented on #2806
Alright, great! I'm going to close this one since there's nothing else we can do as far as I can tell.

When we release v0.17.0 (should be in the next week or so), this should be fixed again! Sorry about that!

[2020-04-09 18:58] #2806 closed

[2020-04-09 19:06] depohmel commented on #2815
@joelanford
here are the logs from operator
[code]
So as you can see it installed chart, but API services not reasy (pods are not up yet)
After this it goes into never ending loop of reconciling errors.

[2020-04-10 08:18] abdasgupta commented on #2812
Hi @camilamacedo86 Yeah, that's true.

See, my objective is to run Ripsaw benchmark operator (https://github.com/cloud-bulldozer/ripsaw) on openshift 4.3 cluster at first. Then I have to run fio-distributed workload (https://github.com/cloud-bulldozer/ripsaw/blob/master/docs/fio_distributed.md ) with the benchmark operator.

Benchmark operator docker image depends on ansible-operator docker image.

[2020-04-10 09:19] camilamacedo86 commented on #2812
HI @abdasgupta,

Sorry, but still hard to follow your explanation. May is because I do not know these operator projects and I have not its context. However, following some comments inline that I hope that helps you with.

What do you mean with?

Also, you say:

How you did this build? Did you clone SDK project, then check out the tag v0.8.1 and built an ansible SDK image for ppc64le and then, upda

[2020-04-10 09:27] #2707 closed

[2020-04-10 12:45] Rulox commented on #2801
I'll build this manually, the option `-trimpath` works:
[code]

so `operator-sdk` is not building with trimpath for Go1.13. I'll close this as I found a workaround.

[2020-04-10 12:45] #2801 closed

[2020-04-10 15:58] gyliu513 opened #2819 "What is the best solution to change `api-version` and `kind` after code was generated"
After I created the API and Controller with a Kind, can I change the Kind with some script or command?

[code]

After the above command finished, if I want to change the `api-version` and `kind` due to some product requirement, what can I do? Do I need to change code manually or there are some commands/scripts that I can leverage? Thanks!

[2020-04-10 17:16] raffaelespazzoli opened #2820 "error when generating crds using status.Conditions"
## Bug Report
After adding status.Conditions as per the [documentation](https://github.com/operator-framework/operator-sdk/blob/master/doc/user-guide.md#manage-cr-status-conditions),
I get the following error when generating the crds:
[code]

The error message is not generous.
Removing the Conditions field, the generation completes successfully. My status struct is the following:

[code]

**What d

[2020-04-10 17:49] camilamacedo86 commented on #2820
it shows that is missing the var name. See:

Replace :

  `status.Conditions `json:",inline"``

 With

` Conditions status.Conditions `json:"conditions"``

[2020-04-10 17:53] jsm84 commented on #2622
OK I've found the bug in the chart that @depohmel is using. It's the exact case #2. There was a template file, v0services.yaml inside the chart that had the following lines:

[code]

I've removed the comment and the latter `---` from the file, and the operator no longer throws the error, and it renders/prints the chart to stdout as normal. @joelanford As you mentioned, I think the fix for helm-ope

[2020-04-10 18:10] raffaelespazzoli commented on #2820
for golang the two notation should be essentially equivalent and as expected I'm getting the same error with:
[code]

[2020-04-10 18:21] camilamacedo86 commented on #2820
See that the Status structure will represent the status metadata in the CRD and it has an invalid value for this scenario. Replace `json:",inline"` for `json:contionals` for example.

[2020-04-10 20:41] raffaelespazzoli commented on #2820
it worked.

[2020-04-10 20:41] #2820 closed

[2020-04-10 20:47] raffaelespazzoli opened #2822 "error when using status.Conditions"
## Bug Report
I'm getting this runtime error when updating a CR after migrating to using `status.Conditions` as per the docs:

[code]
the CR that I was trying to update is the following:

[code]

Given the error message, and looking at the code, I sustepct the issue could be related to this:

[code]

The type is a map, but is mapped to an array, without specifying what the key would be.

**What di

[2020-04-11 09:48] camilamacedo86 commented on #2822
Could you please share the code snippet with the status and spec type definitions?

[2020-04-11 13:36] raffaelespazzoli commented on #2822
yes, here it is:
[code]
and here is how I set it:
[code]
here is the `SetReconcileStatus` method:
[code]

[2020-04-12 16:06] camilamacedo86 commented on #2822
Note that it provides a method for you to set the new conditional. See: https://godoc.org/github.com/operator-framework/operator-sdk/pkg/status#Conditions.SetCondition.

Let us know if use the method provided solve your problem. However, anyway, I will create a POC as soon as possible and let you know.

[2020-04-12 16:10] camilamacedo86 commented on #2819
The tool do not provide a command to change the API scaffolded already. In this case, I'd recommend creating your new API and copy past the types and then, run the command to generate/update the crd's.

Please, let us know if it answers your question and if we can close this one.

[2020-04-12 18:38] WtfJoke commented on #2059
Hi there,

Its me again.  👋
A german tech magazine https://t3n.de/ asked me to write an article about k8 operators.
This time its less about writing an operator by itself and more what is an operator and how they work.  The article is supposed to get printed first and later on published on their website.

I would like to use the image in the article. If its fine for that use too? Just wanted to ma

[2020-04-12 19:47] FreedomBen opened #2825 "Feature Request: Generate a Makefile for use instead of requiring operator-sdk for building"
## Feature Request

**Is your feature request related to a problem? Please describe.**
A clear and concise description of what the problem is. Example: "I have an issue when (...)"

Not really, other than I like to minimize project dependencies as much as possible, and would prefer to use the operator-sdk for scaffolding only, rather than as a build tool as well.  I think tools like make are bette

[2020-04-12 20:11] abdasgupta commented on #2812
Hi @camilamacedo86 I did all of that as you mentioned
I did exactly this:
[code]
And I tried with both 0.8.1 version and 0.16.0 version. My standalone operator was running fine. But as soon as I deployed the CR, it shoot error

[2020-04-13 00:48] gyliu513 commented on #2819
make sense, thanks @camilamacedo86

[2020-04-13 00:48] #2819 closed

[2020-04-13 01:31] raffaelespazzoli commented on #2822
@camilamacedo86 , thanks for looking at this also on the day of Easter.
with regards to your observation to add a new condition, I just always need to create a new one in this case. If you look at the json, I believe you'll find that it was created correctly. But OCP refuses to accept it likely for a marshaling issue on its side.
this [link](https://godoc.org/sigs.k8s.io/controller-tools/pkg/crd/m

[2020-04-13 05:09] supermqB commented on #2701
@joelanford
the error is not only reported in the edit mode, but also can be seen in "kubectl apply"

[code]

[2020-04-13 05:17] supermqB commented on #2701
@joelanford
Please help to reopen this issue, if it's a valid one. looks I don't have the permission to do it.

Thanks.

[2020-04-13 05:58] kaushiksrinivas opened #2826 "can centos 8 image be used as a base image for operator docker build ?"
## Type of question

**Are you asking about community best practices, how to implement a specific feature, or about general context and help around the operator-sdk?**
General context query on the operator docker image build.

## Question

**What did you do?**
Would like to use centos 8 image as the base image for the docker build of the operator.
default project built using operator sdk fwk provi

[2020-04-13 05:59] kaushiksrinivas commented on #2826
@camilamacedo86 Can you help with this query please.

[2020-04-13 13:58] camilamacedo86 commented on #2826
HI @kaushiksrinivas,

The images have been using ubi8-minimal since using the minimal one bring many advantages. Could you please let us know why you would like to use the change the image? What is the need that you are trying to solve with?

[2020-04-13 14:01] camilamacedo86 commented on #2701
HI @supermqB,

The point is that the error came from the Kubernetes API server, so **it isn't something that can be fixed by the SDK.** The same previous explanation is valid for any kubectl command.

I hope that it clarifies why it was closed.

[2020-04-13 14:08] camilamacedo86 commented on #2812
If you are running the operator as standalone perfect well it would mean that when you apply the CR it also would work well which shows not the case according to your last comment.

So, in POV the error `ERROR! couldn't resolve module/action 'k8s_status'` can be faced because yu are using a structure of a project that is not compatible with the version used and/or has an error in the playbook/role

[2020-04-13 14:16] camilamacedo86 commented on #2825
HI @FreedomBen,

Currently, the SDK has been in a process to be integrated with Kubebuilder.  And then, when this integration is I'm place the Makefile will be provided. We have not an ETA for that, however, you also can follow up the issue https://github.com/operator-framework/operator-sdk/issues/1655 which as this RFE tracked already.

So, far please feel free to create and use a Makefile in you

[2020-04-13 14:39] gyliu513 opened #2828 "Why always generate a file named as tools.go?"
I can see after the code was generated by operator-sdk, there is always a file named as `tools.go` with content as follows:

[code]

What is the use of this file? Can we remove it? Thanks.

[2020-04-13 14:48] robszumski commented on #2059
@WtfJoke No issues! We'd love to see the article when its published :)

[2020-04-13 15:48] bradtopol commented on #2072
working on this now.
/remove-lifecycle rotten

[2020-04-13 17:01] FreedomBen commented on #2825
Awesome, thanks @camilamacedo86 !

[2020-04-13 17:01] #2825 closed

[2020-04-13 18:06] joelanford commented on #2828
This was added by #1001

We'll be removing this as part of the upcoming Kubebuilder integration.

[2020-04-13 18:07] joelanford commented on #2826
You should be able to use any base image you want. The `operator-sdk build` command will use your Dockerfile as is.

If you need further info, we can re-open.

[2020-04-13 18:07] #2826 closed

[2020-04-13 18:09] joelanford commented on #2822
@raffaelespazzoli This may be related to https://github.com/operator-framework/operator-sdk/pull/2739

Can you check to see if this issue is still occuring on `master`?

[2020-04-13 18:09] hasbro17 commented on #2804
@davesargrad We were tracking this feature upstream in controller-tools https://github.com/kubernetes-sigs/controller-tools/issues/240 although doesn't look like there's been much progress since.

There are some existing tools out there to generate the API docs from the Go type definitions although I'm not sure of the limitations if any.
This one does it in html:
https://github.com/ahmetb/gen-crd-

[2020-04-13 18:12] joelanford commented on #2822
If this is also solved by #2739, we may want to consider backporting to v0.16.1.

[2020-04-13 18:19] joelanford commented on #2811
We're going to re-evaluate this after the switch to kubebuilder scaffolding, since we need to upstream kube-state-metrics support to bring these features to the new Kubebuilder-style scaffolding.

[2020-04-13 18:29] hasbro17 commented on #2804
@davesargrad For now the workaround is to use one of the existing tools like the one I linked above.
For markdown there's also the the prometheus-operator's [docgen util](https://github.com/coreos/prometheus-operator/tree/master/cmd/po-docgen) which lets you generate markdown, although I had some issues running that when I last tried it.
https://github.com/coreos/prometheus-operator/blob/master/Do

[2020-04-13 18:29] #2804 closed

[2020-04-13 18:30] raffaelespazzoli commented on #2822
@joelanford What are the steps to check if it works with master? I am not very good at managing golang dependencies...

[2020-04-13 18:34] asmacdo commented on #2812
In 0.14.0, the k8s_status module was moved from file generated by the sdk to an Ansible Collection.
https://github.com/operator-framework/operator-sdk/blob/master/doc/migration/version-upgrade-guide.md#add-operator_sdkutil-ansible-collection

Adding that collection to your roles should do the trick. Since the collection is not released as a part of the sdk, this should work with previous versions

[2020-04-13 18:40] asmacdo commented on #2812
I'm going to go ahead and close this issue, assuming that the above suggestion will work. Please reopen if not.

[2020-04-13 18:40] #2812 closed

[2020-04-13 18:45] joelanford commented on #2795
This is the way Kubernetes control loops are intended to work. Whenever a change occurs in your CR, it will trigger an event to reconcile your CR again. To solve your problem, you can either use a predicate (e.g. the [GenerationChangedPredicate](https://github.com/kubernetes-sigs/controller-runtime/blob/ea32729106c995d9df310ac4731c2061490addfb/pkg/predicate/predicate.go#L118-L136) that ignores sta

[2020-04-13 18:45] #2795 closed

[2020-04-13 18:51] asmacdo commented on #2142
Closed by https://github.com/operator-framework/operator-sdk/pull/2667

[2020-04-13 18:51] #2142 closed

[2020-04-13 18:58] asmacdo commented on #2695
Closed by https://github.com/operator-framework/operator-sdk/pull/2799

[2020-04-13 18:58] #2695 closed

[2020-04-13 19:10] joelanford commented on #2822
in your project's go.mod, you should be able to do this:

[code]

Then run `go mod tidy` and `operator-sdk generate crds`

[2020-04-13 19:12] joelanford commented on #2822
Also, looking at the CR in your original message, you have:
[code]

Should that actually be the following?
[code]

[2020-04-13 19:21] joelanford commented on #2822
I think there's a little bit of confusion that #2739 should clear up. The `Conditions` type is meant to be an abstraction, so you shouldn't have to worry about its underlying type when using it.

In the first iteration, it was implemented as a map (for simplified set sematics) with custom marshal/unmarshal functions that would convert it to and from a JSON array. That actually all worked fairly we

[2020-04-13 19:25] fabianvf commented on #2108
It looks like this is because we use the `generationChanged` predicate to filter events, but not all resources have a generation so some events are skipped unintentionally.

[2020-04-13 19:59] cacois commented on #2795
@joelanford  I'm very confused then. The docs specifically say:

^ For this reason, Status should be modeled as a subresource as explained here.

Is this not specifically saying that this is _not_ the way the control loop should work when updating a subresource (as opposed to a normal resource)?

[2020-04-13 20:18] davesargrad commented on #2804
@hasbro17 Ty for your response.. I appreciate this much. I'll look into your suggestion.

[2020-04-13 20:50] kramvan1 commented on #2623
@ecordell Would be nice to get this timing issue looked at.

[2020-04-13 21:31] asmacdo opened #2832 "Update links that point to CLI docs"
Currently there are some links in the website docs that point to CLI docs on GitHub, rather than CLI docs in the site.
Example: https://operator-sdk.netlify.com/docs/golang/olm-integration/olm-cli/ points to:
https://github.com/operator-framework/operator-sdk/blob/master/doc/cli/operator-sdk_olm_install.md

[2020-04-13 22:23] #2622 closed

[2020-04-13 22:25] joelanford commented on #2795
@cacois Yeah that seems misleading at best.

Status updates, even if using status subresources, bump the generation on CRs. So while changing the status as a subresource doesn’t directly change the main resource, it does for all intents and purposes because the Kubernetes control plane will make that change automatically.

I’ll look into getting that doc updated.

[2020-04-14 01:02] cacois commented on #2795
@joelanford Thanks for the explanation! I assume those docs aren't open source, otherwise I'd offer to help. I'll look into the other options you provided.

Thanks again!

[2020-04-14 01:04] raffaelespazzoli commented on #2795
let me try to clarify. By using status as subresource, when we upgrade just the status with this syntax: `r.Status().Update(context.Background(), instance)`, the operator still receives an update event.
However in this update event the resource version field is not changed. So if we have a predicate that discards update events where the resource version field is not changed we avoid an infinite lo

[2020-04-14 02:13] raffaelespazzoli commented on #2822
I made it work, my bad.

[2020-04-14 02:13] #2822 closed

[2020-04-14 02:15] supermqB commented on #2701
Get it. thanks a lot.

[2020-04-14 02:28] joelanford commented on #2795
@raffaelespazzoli Thanks for the clarification. I was getting mixed up in my previous comments.

So TL;DR (and to make sure my understanding is now correct) :slightly_smiling_face:

1. Using status subresource prevents `resourceVersion` from getting bumped in the main resource.
2. Status changes _do not_ affect generation (even if not using the status subresource)
3. Updates to status subresources

[2020-04-14 03:10] haoqing0110 commented on #1234
Any planning to add non-ansible operator liveness back?

[2020-04-14 03:11] FreedomBen commented on #1854
Still seeing this issue on operator-sdk v0.16.0, go 1.13.8, Fedora 30.
[code]
Fixed it but like some others it stole a small part of my life that I'll never get back :smile:

I've got a few other tips I've been thinking I'll add to some docs.  I'll try to figure out a spot to mention this in case others fall into it.

[2020-04-14 05:28] supermqB commented on #2701
Raised an issue against kubernetes repository. hope it can be fixed later.

https://github.com/kubernetes/kubernetes/issues/90128

[2020-04-14 10:46] raffaelespazzoli commented on #2795
point #2 is wrong. generation is increased by the apiserver every time something changes in a resource (but not if it changes in a subsresource).

[2020-04-14 16:27] joelanford commented on #2798
We captured this issue as an action item to address as part of #2811, so I'm going to close this one since there will likely be larger upcoming changes after the kubebuilder integration lands.

There's been a bunch of discussion here, but I don't think we've properly communicated the origin of this function and some of the assumptions we made when it was added and included in the `main.go` scaffol

[2020-04-14 16:33] camilamacedo86 commented on #2798
Just to supplement as described above note that the original use case for [`k8sutil.GetGVKsFromAddToScheme`](https://godoc.org/github.com/operator-framework/operator-sdk/pkg/k8sutil#GetGVKsFromAddToScheme) was to return just the GVKs of the CRDs that the operator owns. Your RBAC roles would have rules that permit List on these resources already. However, following an example over how would be poss

[2020-04-14 16:33] #2798 closed

[2020-04-14 16:58] #2108 closed

[2020-04-14 19:57] abdasgupta opened #2839 "Ansible operator is trying to create directory in root instead of home directory."
In reference to https://github.com/operator-framework/operator-sdk/issues/2812, the issue got solved following @asmacdo suggestion. But I hit another error!

I am trying to install Ripsaw benchmark operator https://github.com/cloud-bulldozer/ripsaw on Power 9 server. When I create the benchmark operator following this guide https://github.com/cloud-bulldozer/ripsaw/blob/master/docs/installation.md

[2020-04-14 21:59] camilamacedo86 commented on #2839
See: https://github.com/operator-framework/operator-sdk/issues/2648 it is duplicated of.

However, you will probably reach out other issues since as identified in #2812 you have a project built with 0.8.1 SDK and you are trying to use the latest one whiteout upgrade the project properly.

I'd also recommend you scaffold a new project from scratch and compare with your project in order to upgrade i

[2020-04-15 01:19] #2693 closed

[2020-04-15 09:09] abdasgupta commented on #2648
I am facing exactly the same issue at same step. I will probably look for Openshift 4.3.8 cluster.

[2020-04-15 09:11] abdasgupta commented on #2839
Hi @camilamacedo86 . I was using the latest released verion of ansible-operator in the benchmark-operator project. Anyway, thanks for pointing me to the duplicate issue. I am facing the exact same error. Closing this issue.

[2020-04-15 09:11] #2839 closed

[2020-04-15 10:44] #2747 closed

[2020-04-15 11:04] camilamacedo86 commented on #2393
I could reproduce the scenario with 0.16.0 SDK version on top of Ansible Memcached Sample by performing the following changes

1) Update the CR:

[code]

2) Add the tasks to debug their values:

[code]

3) Running `make install` and checking its result:

[code]

[2020-04-15 16:45] mansikulkarni96 opened #2843 "Correct formatting of log messages in scaffolding"
The log info and error messages that are a part of the operator-sdk scaffolding are not formatted in a structured log format that follows the msg, key, value pair format. It would be better if they are formatted using the standard recommendations given by logr in :https://godoc.org/github.com/go-logr/logr and https://github.com/kubernetes-sigs/controller-runtime/blob/master/TMP-LOGGING.md which su

[2020-04-15 21:15] joelanford commented on #2815
I tested this out and it looks like the never-ending loop is actually caused by constant release upgrades. See #1531.

I closed #1531 because I could never reproduce the issue, so thanks for inadvertently providing a reproduction! :)

The helm-operator code is comparing a candidate release manifest with the currently deployed manifest to see if an upgrade needs to happen. Right now that comparison

[2020-04-15 21:36] joelanford commented on #1531
Re-opening. We have a reproducer in #2815.

I want to investigate Helm's sorting logic to make sure it isn't inadvertently introducing the non-deterministic sorting in release manifests. If it is, we should make an upstream fix.

It is possible that a chart template could introduce the non-determinism (e.g. by ranging over a map to produce manifests or the contents of individual manifests). So a s

[2020-04-15 23:43] vimalk78 commented on #1703
@Man-Jain can you point out in comments how to fix the problem? it will be easier than going through the types in link

[2020-04-16 01:32] horis233 commented on #2698
For the first question, I think this design may be for the core resources because their groups are empty.
My concern is why the scorecard doesn't check the resources strictly. For example, for the core resource,like pod, we should add the following into the resources list
[code]
OR
[code]
For other resources like `subscription`
We should specify the group name.
[code]

[2020-04-16 12:47] robbie-demuth commented on #2167
FWIW, I think this is now solved by https://github.com/operator-framework/operator-sdk/pull/2731

[2020-04-16 13:35] rcernich commented on #2770
@luksa fyi

[2020-04-16 14:53] AndrienkoAleksandr opened #2853 "How to communicate with application registry without OperatorSource"
## Type of question

## Question

**What did you do?**
Looks like OperatorSource dropped like deprecated. At least I see crd of the Operator source is not included to the OLM installation. Earlier we could use Operator source to connect to the application registry :

[code]

What should we change to make this feature working without OperatorSource?

[2020-04-16 14:57] camilamacedo86 commented on #2853
HI @AndrienkoAleksandr,

IHMO the best place for you to raise this question is in https://github.com/operator-framework/operator-lifecycle-manager.

Could you please raise the question there?
I am closing this one since it is over OLM and not SDK.

[2020-04-16 14:57] #2853 closed

[2020-04-16 15:05] joelanford commented on #2770
@metacosm I think we list out all possible features that are candidates for inclusion in SDK (or upstream) and then we can triage to determine:
1. if the feature already exists
2. whether the feature is general enough to be included in the SDK (or upstream)
3. if 2., which specific repo is best suited to accept the feature.

Comments are fine and perhaps we can keep a running [task list](https://h

[2020-04-16 16:13] havmad commented on #2510
I have similar requirement of using secrets created by `ansible-vault create secrets.yml` .
File contains git_user and git_pass as key and its corresponding values. I need to pass this secret to operator in order to execute the roles of cloning a git-repository.

To be able to do this I have put this secret.yml in our /roles/../vars/secret.yml directory and accessing this file via roles written in

[2020-04-16 20:19] bradtopol opened #2857 "New document for describing best practices for troubleshooting reconcile loops"
## Feature Request

**Is your feature request related to a problem? Please describe.**
When discussing https://github.com/operator-framework/operator-sdk/issues/2795 the idea came up that we should have a documentation page that provided best practices for troubleshooting reconcile loops.   The idea was this document would start by providing and aggregated list of pre-req content operator creators

[2020-04-16 20:23] bradtopol commented on #2857
/milestone v1.0.0

[2020-04-17 01:50] ron1 commented on #2118
Note OCP 3.11.188 now includes fix for issue https://bugzilla.redhat.com/show_bug.cgi?id=1803163 referenced here: https://github.com/operator-framework/operator-sdk/issues/2118#issuecomment-549598512.

[2020-04-17 11:56] camilamacedo86 commented on #2072
This problem will be solved with the website docs since it has a menu which makes easier users found the infos. So, I am closing this one. However, please feel free to re-open if you see that it still required.

[2020-04-17 11:56] #2072 closed

[2020-04-17 17:13] #2393 closed

[2020-04-18 01:36] raffaelespazzoli opened #2861 "code generation issue in 1.17"
give this type definition
[code]
the k8s code generation gives this deepcopy:
[code]
the code is the same as for 1.16, but with operator-sdk 1.17 something must have changed because the compiler gives this errors:
[code]

**What did you do?**
upgraded to 1.17

**What did you expect to see?**
no new error in the already working code

**What did you see instead? Under which circumstances?**
errors,

[2020-04-19 14:30] raffaelespazzoli opened #2862 "CRD schema validation error on Conditions"
## Bug Report
I get this CRD schema validation error when defining a CRD to a live cluster:
[code]
It is essentially complaining that the item is missing for the `Conditions` type. I use the operator SDK `Conditions` type as follows
[code]

I believe this error started to happen after the upgrade to OCP 4.3.12

**What did you do?**
generated the crd with `operator-sdk generate crd` and `applied` i

[2020-04-19 19:30] raffaelespazzoli commented on #2862
this was due to the CLI being 1.17 and the dependencies being 1.16

[2020-04-19 19:30] #2862 closed

[2020-04-19 19:30] raffaelespazzoli commented on #2861
this was due to the CLI being 1.17 and the dependencies being 1.16

[2020-04-19 19:30] #2861 closed

[2020-04-20 02:31] joelanford commented on #1531
It looks like there _was_ an issue in Helm's sorting logic that was causing this, but that issue was fixed in Helm v3.1.0 via helm/helm#6842.

The latest release of Operator SDK vendors Helm v3.1.2, so this issue should be fixed starting with Operator SDK v0.17.0.

To double check the fix, I used the Kasten K10 chart from #2815 and ran `helm template` about 10 times each with v3.0.2 (from SDK <v0.

[2020-04-20 02:31] #1531 closed

[2020-04-20 02:36] joelanford commented on #2815
@depohmel Can you try upgrading your helm-operator base image to v0.17.0, and let me know if that resolves the problem. See https://github.com/operator-framework/operator-sdk/issues/1531#issuecomment-616275726 for details about what I think was going on.

I'm not positive the indefinite upgrading is causing the original issue, but it seems like it could be related.

[2020-04-20 06:33] shenkonghui opened #2863 "why file "zz_generated.deepcopy.go" error path?"
## Bug Report

**What did you do?**
I want add a api

**What did you expect to see?**
"zz_generated.deepcopy.go"  error path, It shoud be in "pkg"

**What did you see instead? Under which circumstances?**

**Environment**
* operator-sdk version:
operator-sdk version: "v0.16.0", commit: "55f1446c5f472e7d8e308dcdf36d0d7fc44fc4fd", go version: "go1.13.8 darwin/amd64"

* Kubernetes version information

[2020-04-20 06:53] #2863 closed

[2020-04-20 14:39] bharathi-tenneti commented on #2843
/asssign

[2020-04-20 15:46] joelanford commented on #2727
It is, but since we already have a finalizer that runs `helm uninstall` I think we should theoretically be able to remove that constraint and setup watches on the cluster-scoped resources without relying on owner references.

For example, we may be able to use the [`EnqueueRequestForAnnotation`](https://github.com/operator-framework/operator-sdk/blob/21f314afc1d1910f14f3f764d0b1ee863f1cb2a1/pkg/ha

[2020-04-20 16:18] bharathi-tenneti commented on #2727
/assign

[2020-04-20 18:08] kensipe commented on #2843
It is expected that the move to kubebuilder will reduce the surface area of this issue.

[2020-04-20 18:10] estroz commented on #2843
Follow up from https://github.com/operator-framework/operator-sdk/issues/2843#issuecomment-616722184: "incorrect" usage of logs will go away for Go operators when `operator-sdk` migrates to kubebuilder's Go scaffolds; ansible/helm operator images may still have incorrectly formatted logs which should be modified going forwards.

[2020-04-20 18:20] estroz commented on #2857
This is a high-level docs change since it deals with "how kubernetes works". Once we have a clearer picture of our doc organization and maturity we will revisit this issue. Definitely important for v1.0.

In addition: top-level annotated bibliography (links to talks, blog posts, etc) for operator best-practices on SDK website.

[2020-04-21 08:48] DanielXLee opened #2866 "operator-sdk test local failed with `-skipCleanupOnError` flag provided but not defined"
## Bug Report

**What did you do?**
A clear and concise description of the steps you took (or insert a code snippet).
When I run e2e test with the `operator-sdk test local ./test/e2e`, find error
**flag provided but not defined: -skipCleanupOnError**

Detail logs:
[code]

**What did you expect to see?**
A clear and concise description of what you expected to happen (or insert a code snippet).

**W

[2020-04-21 11:40] bclermont commented on #1262
in case someone need to use something like `v1/Event` or other api group in k8s you need to use something like this:

[code]

I got `core` from [there](https://kubernetes.io/docs/reference/generated/kubernetes-api/v1.10/#event-v1-core)

[2020-04-21 11:42] camilamacedo86 commented on #1262
Hi @bclermont,

See that this issue shows has a diff context of your need and is closed. Please, feel free to open a new issue for your scenario and do not forget to provide all requested info as versions used and etc for we are able to help you with.

[2020-04-21 11:44] bclermont commented on #1262
@camilamacedo86 it's not necessarily an issue, I ended on this issue because I was googling the same error message. I put that comment in case someone else in same situation like me ends here.

[2020-04-21 11:50] bclermont opened #2867 "Go: Add OpenCensus"
To really achieve the Level IV Operator Capability level, there should be tracing.

I'm manually adding Jaeger/Opentracing to my operators, but I think it should be implemented directly in operator-sdk and add to the APIs that create children span automatically and let developers implement the sub tracing.

This is a major break in API compatibility. but worth it

[2020-04-21 11:53] bclermont opened #2868 "Go: wrap errors in generated golang code"
Generated code just do

[code]

the operator-sdk itself and generated code should `return fmt.Errorf("funcname(%q): %w", y, err)`

instead to allow pin point origin of errors

[2020-04-21 11:54] camilamacedo86 commented on #2867
Hi @bclermont,

Could you please described what  `Jaeger/Opentracing` provided which and what do you achieve with it? Also, could you please describe what helper did are you asking here as what is the scenario that was solved with?

[2020-04-21 11:57] camilamacedo86 commented on #2868
Hi @bclermont,

Could you please provide the information requested in the template for we we are able to better understand your request as know what version and etc you are using?

[2020-04-21 11:58] bclermont commented on #2867
I have this operator that is super slow and run in few k8s clusters. I added a tons of logs but sometimes things get sluggish and just by looking at the logs it's very difficult to understand.

By using a central jaeger server (like deployed with jaeger operator itself) that constantly ingest traces, I can go look at those instances and see the execution waterfall and pin point where time is spent

[2020-04-21 12:03] bclermont commented on #2868
Just an example, `pkg/controller/controllger.go`

[code]

[2020-04-21 12:16] camilamacedo86 commented on #2867
Hi @bclermont,

Thank you for your reply. I think it would be more clear with the following info added in the first comment. WDYT? Could you please edit it and provided the additional information? PS. I think the versions and vendor used could be helpful as well.

[code]

[2020-04-21 12:18] #2867 closed

[2020-04-21 12:18] #2868 closed

[2020-04-21 14:43] agill17 opened #2871 "Reconcile hangs despite changing primary resource specs"
## Bug Report

**What did you do?**
I have a controller watching a primary resource. When the resource is initially applied in the cluster, controller runs its reconcile correctly. After some time ( maybe few hours ), if I change the primary resource specs, controller does not perform any reconcile and no logs are outputted. It seems hung, however restarting the controller pod resolves this issue

[2020-04-21 15:56] camilamacedo86 commented on #2871
Hi @agill17,

As we spoke about it in the chat could you provide further information for we are able to help with such as the controller implementation and logs?

Also, it is very important to highlight that you are using an old version of SDK (0.10) which do NOT support the GO version used by you. I am not sure what issues could be caused by it. See: https://github.com/operator-framework/operator

[2020-04-21 17:06] agill17 commented on #2871
Apologies, thats the go version I am currently using but this binary was compiled with go 1.12.x. I will update the github issue

[2020-04-21 17:07] camilamacedo86 opened #2872 "operator-sdk generate csv deprecation few low issues."
## Bug Report

**What did you do?**
Run the following command with 0.17 SDK.

[code]

INFO[0007] CSV manifest generated successfully

**What did you expect to see?**
Note see the msgs :

[code]

Since the CSV will not be generated.

Also, I would not expect changes in the `deploy/olm-catalog/` dir and it happens. see:

<img width="651" alt="Screenshot 2020-04-21 at 18 05 37" src="https://user-imag

[2020-04-21 17:07] camilamacedo86 commented on #2872
c/c @estroz

[2020-04-21 17:29] camilamacedo86 commented on #2871
Hi @agill17,

As we spoke about it in the chat could you provide further information for we are able to help with such as the controller implementation and logs?

[2020-04-21 17:53] estroz commented on #2872
Why would the CSV not be generated in this case?

[2020-04-21 18:30] camilamacedo86 commented on #2872
Hi @estroz,

Regards the depreciation and the current behaviour of this command I think we have 3 issues.

- A new CSV are no longer been generating and then I understand that it was the expected behaviour with the deprecation of the feature. However, the msg says that it will be.
- This manifest dir that has been being created and shows that should not.
- I am unable to find the specific info abo

[2020-04-21 18:34] estroz commented on #2872
A new bundle containing a CSV manifest is generated at `deploy/olm-catalog/<operator-name>/manifests/<operator-name>.clusterserviceversion.yaml`. Package manifests are deprecated; the reason you're seeing that message is because a package manifest already exists in `deploy/olm-catalog/<operator-name>` in your test scenario. The command is working as intended.

[2020-04-21 18:57] camilamacedo86 commented on #2872
Tks for the clarification. Just adding a summary.
- Now the command will gen the CSV but in the manifest dir and whiteout the tag dir as well.
- We are using the new format: https://github.com/operator-framework/operator-registry/blob/master/docs/design/operator-bundle.md#bundle-manifest-format

[2020-04-21 18:57] #2872 closed

[2020-04-21 19:02] agill17 commented on #2871
@camilamacedo86 here is a snippet from main.go
[code]

In operator deployment the value of `WATCH_NAMESPACE` env var is set to `""`

[2020-04-21 20:29] #2593 closed

[2020-04-22 16:42] camilamacedo86 opened #2876 "The command `operator-sdk bundle create --generate-only=true` should check if is in the root of the project when no dir arg is informed"
## Bug Report

**What did you do?**
Run `operator-sdk bundle create  --generate-only=true` outside of the root of the project

**What did you expect to see?**
The default error saying that it should be executed from the root of the project

**What did you see instead? Under which circumstances?**

[code]

**Environment**
* operator-sdk version: 0.17
* go version: 1.13

**Possible Solution**

- Use

[2020-04-22 16:42] camilamacedo86 commented on #2876
/kind bug

[2020-04-22 16:47] camilamacedo86 opened #2877 "The ` operator-sdk bundle validate` command should work with the default dir"
## Bug Report

**What did you do?**

Run the command:

[code]

Then I run the command `operator-sdk bundle validate`

**What did you expect to see?**
The validate works successfully by checking the data generated in the default dir.

**What did you see instead? Under which circumstances?**

**Environment**
* operator-sdk version: 0.17
* go version: 1.13

**Possible Solution**
Use the same logic to

[2020-04-22 16:52] camilamacedo86 opened #2878 "The `operator-sdk bundle create --generate-only` do not info where the files were gen."
## Feature Request

**Is your feature request related to a problem? Please describe.**
I'd like to know where the bundle was generated. However, when we run the command this info is not informed.

[code]

**Describe the solution you'd like**
Just output the path/dir.

[2020-04-22 17:00] joelanford commented on #2877
@camilamacedo86 This seems more like a feature request than a bug report. The feature being "add a default bundle directory location"

IMO, the design of the `bundle validate` CLI is intuitive, straightforward, and flexible. This command is intentionally designed to be standalone and not require a project since it can take an arbitrary directory or image reference. This design allows it to be used

[2020-04-22 17:05] camilamacedo86 opened #2879 "operator-sdk bundle create --generate-only is removing the CSV and CRD's content"
## Bug Report

**What did you do?**
Run the following command for Memcached Go Sample upgraded to use SDK 0.17

[code]

**What did you expect to see?**
The bundle be created successfully

**What did you see instead? Under which circumstances?**
The command is removing the content of the CSV in the manifest dir. See:

` $ cat deploy/olm-catalog/memcached-operator/manifests/memcached-operator.cluste

[2020-04-22 17:19] camilamacedo86 opened #2880 "operator-sdk bundle link a sdk doc instead of OCP enhancement"
## Feature Request

When we run `operator-sdk bundle` as follows it is showing a link for a doc. I think we should properly doc the commands and its purpose as address the users to the OLM docs to check its details. So, in POV it should show a link for SDK docs instead of the OCP enhancement or just add the info required in the command helper.

[code]

[2020-04-22 17:22] estroz commented on #2879
Further clarification on the race condition: if `--output-dir` directory is the same as the value passed to `--directory`, the generation library truncates all files in that directory as a side effect of [iteratively copying](https://github.com/operator-framework/operator-registry/blob/v1.6.1/pkg/lib/bundle/generate.go#L433-L464) between the same file. This behavior could be considered a bug in th

[2020-04-22 17:26] estroz commented on #2878
I'd re-create this issue in https://github.com/operator-framework/operator-registry/ since the SDK does not control those log messages from this command.

[2020-04-22 17:44] camilamacedo86 commented on #2878
Hi @estroz,

I still think that it would be here. We create the dir in SDK when it is not informed. See here: https://github.com/operator-framework/operator-sdk/blob/master/cmd/operator-sdk/bundle/create.go#L119

So, the suggested solution would just log the path. Something such as:

[2020-04-22 18:27] IBMRob opened #2883 "operator-sdk run --olm doesn't support v1 CRDs"
## Bug Report

**What did you do?**
Created an operator and CRDs using the `operator-sdk generate crds --crd-version v1` flag.

Used `operator-sdk run --olm ....` to run the operator using OLM

**What did you expect to see?**
The operator start having been installed via OLM

**What did you see instead? Under which circumstances?**
[code]

**Environment**
* operator-sdk version: 0.17.0
* go version

[2020-04-22 18:34] camilamacedo86 commented on #2883
Hi @ecordell,

Could you please give a hand here and let us know if OLM has a task to start to support CRD v1 already? If not, then I think we need to track that.

[2020-04-22 18:38] joelanford commented on #2883
The OLM feature was just recently merged (see https://github.com/operator-framework/operator-lifecycle-manager/pull/1416)

@ecordell can correct me if I'm wrong, but this should work in OLM's next release.

[2020-04-22 18:56] IBMRob commented on #2883
Great to know thanks. Happy to close off. Look forward to the next release, hopefully not another month away

[2020-04-22 19:07] kevinrizza commented on #2879
This is because `bundle generate` was supposed to be a "run once" command. `--output-dir` is intended to only exist for the "I want to differentiate between my pure "manifests directory" AND my "bundle directory that includes a `/manifests` folder". So, you shouldn't ever set `--output-dir` == `--manifests`, because if you are then you just shouldn't set --output-dir.

[2020-04-22 19:07] camilamacedo86 commented on #2883
Hi @IBMRob,

I will re-open at least we confirm that.

[2020-04-22 20:53] joelanford commented on #2877
@estroz Do you think we should close this as "Working as designed"?

[2020-04-22 21:58] estroz commented on #2877
@joelanford yes.

[2020-04-22 21:58] #2877 closed

[2020-04-23 02:09] anfanycw opened #2884 "helm.operator-sdk/upgrade-force annotation value is not actually parsed"
## Bug Report

**What did you do?**
1. Created an helm-based operator for locust with `operator-sdk new ...`
2. Created operator and generated CRD yamls in minikube
3. Applied generated custom resource
4. Updated a value in the custom resource so a configuration change is recognized and re-applied the custom resource yaml.

**What did you expect to see?**
Expected to see all existing helm chart re

[2020-04-23 09:00] davidkarlsen opened #2885 "invalid crd generated"
## Bug Report

**What did you do?**
CRD:
[code]

**What did you expect to see?**
A valid CRD being generated.

**What did you see instead? Under which circumstances?**
unknown field "x-kubernetes-list-map-keys" in io.k8s.apiextensions-apiserver.pkg.apis.apiextensions.v1beta1.JSONSchemaProps,
when applying generated CRD

[code]

**Environment**
* operator-sdk version:

[code]

* go version:
[code]

[2020-04-23 09:22] routerhan opened #2886 "The command: `operator-sdk generate crds` does not support kubectl explain?"
## Feature Request

**Is your feature request related to a problem? Please describe.**
Due to some product requirement, I would like to enable the `kubectl explain` command for my CRDs. It can be done by adding `preserveUnknownFields: false` key in the CRD definitions.

However, this feature will be overwritten when running `operator-sdk generate crds`.

**Describe the solution you'd like**
I am n

[2020-04-23 10:34] camilamacedo86 commented on #2877
HI @joelanford and @estroz,

I do not think that we should close this one. See that as I user would be expected to have a concise behaviour in the commands. I agree that it can be changed to RFE, however, I would expected use the bundle create and validate commands in the same way which do NOT mean change the default behaviour required for the pipeline.

IHMO: The solution here would be:

if the f

[2020-04-23 10:47] gyliu513 opened #2887 "Why not use klog as default log management for operator-sdk"
I found the code generated by operator-sdk is not using klog, can anyone show some reason why not use klog as default? I can see kubernetes is using klog, so why not keep this consistent with kubernetes?

[2020-04-23 10:50] camilamacedo86 commented on #2884
Hi @anfanycw,

According to the error see `"value informed":"T"` you informed "T" instead of "True". Am I right?
Could you please check it with the value as `True`?

[2020-04-23 11:00] kaushiksrinivas opened #2888 "goproxy for operator sdk new operator creation."
## Type of question

general context question on the goproxy for building a new operator.

## Question

without setting goproxy 'https://proxy.golang.org,direct '
we are unable to build the new operator.
My environment is restricted for external access.
need inputs on such environments for building operators without
setting goproxy.
need info on alternate ways of building without goproxy and what

[2020-04-23 11:01] camilamacedo86 commented on #2887
HI @gyliu513,

The [klog](https://github.com/kubernetes/klog) is not used by [kubebuilder](https://github.com/kubernetes-sigs/kubebuilder) and [controller-runtime](https://github.com/kubernetes-sigs/controller-runtime).

Also, by looking its readme we find that `The decision to create klog was one that wasn't made lightly, but it was necessary due to some drawbacks that are present in glog`

So, I

[2020-04-23 11:01] kaushiksrinivas commented on #2888
@camilamacedo86
need your valuable inputs for this.

[2020-04-23 12:36] gyliu513 commented on #2887
I can see the major difference is the log format.

This is golog which is in json format:
[code]

But klog is more reable, including the filename of the log as well:
[code]

[2020-04-23 15:33] anfanycw commented on #2884
@camilamacedo86 ParseBool accepts 1, t, T, TRUE, true, True, 0, f, F, FALSE, false, False. “T” was just one of the cases I tried besides the original from the README (True) before looking at the code.

[2020-04-23 15:43] camilamacedo86 commented on #2888
HI @kaushiksrinivas  and @britoaldan,

To create the project is required to have its dependencies. So, because of this, by default in go 1.13+, we will find the `GOPROXY` envvar with 'https://proxy.golang.org,direct '. See the [Module downloading and verification](https://golang.org/cmd/go/#hdr-Module_downloading_and_verification) to understand it better.

In this way, to attend the requirements d

[2020-04-23 15:50] camilamacedo86 commented on #2884
I will do a test to check it as soon as possible. A possible way to verify that and/or may its fix is by creating a unit test in the to cover this code and ensure that it will work. I do not think that it has been covered by tests.

However, your collaboration would be very welcome as well. Please, if you wish and have time feel free to come up with the fix and tests in a PR.

[2020-04-23 16:15] estroz commented on #2877
I would say defaulting the directory for `operator-sdk bundle validate` would be ok _if_ it were always validating a directory. However you can validate either and image or directory. Unless we have a way to provide a default image tag, which we cannot, we should not set either to defaults.

[2020-04-23 16:20] camilamacedo86 commented on #2877
I did not think about the image possibility. It is true. You are right whiteout the image and/or dir info we are unable to check what should be validated. Fair enough.

[2020-04-23 16:21] camilamacedo86 commented on #2878
I thought better about it and you are right is better it be done there. Very small easy thing btw so I will be working on it. Let's keep the issue open here but I will solve it there.

[2020-04-23 18:12] estroz commented on #2784
@akram we use controller-gen's OpenAPI schema generator, which is explained here: https://book.kubebuilder.io/reference/generating-crd.html. If that doc answers your question, feel free to close this issue.

[2020-04-23 18:15] camilamacedo86 commented on #2790
Hi @estroz,

I am re-opening it. It still required.

[2020-04-23 18:20] estroz commented on #2866
@DanielXLee I'm unable to reproduce this error locally. Can you provide a link to your e2e test code?

[2020-04-23 18:27] joelanford commented on #2884
The problem is that we need to pass `force` to `strconv.ParseBool()`, not `helmUpgradeForceAnnotation`

https://github.com/operator-framework/operator-sdk/blob/master/pkg/helm/controller/reconcile.go#L336

[2020-04-23 18:34] joelanford commented on #2790
/assign

I've got a few branches for some of this already. I'll submit PRs today or tomorrow.

[2020-04-23 18:35] estroz commented on #2886
You can set `preserveUnknownFields` using the field-level [`+kubebuilder:pruning:PreserveUnknownFields`](https://book.kubebuilder.io/reference/markers/crd-processing.html). The docs say this cannot be set to false, but that may not be the case for `v1` CRDs since controller-gen allows that [top-level field](https://github.com/kubernetes-sigs/controller-tools/blob/master/pkg/crd/gen.go#L47-L54) to

[2020-04-23 18:48] estroz commented on #2885
That scheme property was [introduced](https://kubernetes.io/docs/reference/using-api/api-concepts/#merge-strategy) in v1.16. operator-sdk v0.17 is on k8s version v1.17; the v1.17 `v1.PodSpec` contains a [marker](https://github.com/kubernetes/api/blob/kubernetes-1.17.2/core/v1/types.go#L2154-L2155) to generate this property. Your k8s cluster version is v1.15, so you'll need to use [operator-sdk v0.

[2020-04-23 18:49] #2885 closed

[2020-04-23 20:39] cagrev opened #2895 "Helm operator errors: failed to get API Group-Resources and create a new manager"
Using project "whcs-cag" on server "https://api.brief-macaque.purple-chesterfield.com:6443"

I'm running a helm operator using the operator-sdk 0.16.0. I'm struggling to get the correct reconciliation of the various image versions included in my custom resource when the custom resource is updated.

I recently added a new api version as a delta to the v1alpha1 which I had been using to see if that

[2020-04-23 20:40] cagrev commented on #2895
watches.yaml
------------------------------------------------
apiVersion: apiextensions.k8s.io/v1beta1
kind: CustomResourceDefinition
metadata:
  labels:
    app.kubernetes.io/instance: ibm-whcs-service-acd-operator
    app.kubernetes.io/managed-by: ibm-whcs-service-acd-operator
    app.kubernetes.io/name: ibm-whcs-service-acd-operator
    release: v1
  name: acds.acdoperator.wh-acd.ibm.com
spec:

[2020-04-23 20:42] cagrev commented on #2895
watches.yaml

[code]

[2020-04-23 20:46] cagrev commented on #2895
acdoperator_v1alpha1_acdbinding_cr.yaml
[code]

[2020-04-23 22:11] cagrev commented on #2895
Once installed, my CRD shows two stored versions (the v1alpha1, which I had previously been using, and the new one). That looks correct to me.
[code]

[2020-04-23 22:16] cagrev commented on #2895
When I go through the installed operator via the GUI and try to do a create of the CR, the yaml is prepopulated with this version (before I press the Create button). Note that it loads the v1alpha1 apiVersion, when this version of the operator was built with the v1alpha202004232105 apiVersion.
[code]

[2020-04-23 22:18] cagrev commented on #2895
When I go directly to the CR by searching for it in the GUI and open up a window to do a create there, I see it loads with this version, the one that I would expect.
[code]

[2020-04-24 02:08] woohhan opened #2898 "To requeue or not to requeue that is the question"
## Type of question
how to implement a specific feature

## Question
Hi all, I'm using the operator SDK very well. But I was curious as I was writing the controller. My controller makes a Pod and PVC. Here is a sample code.

[code]

The question is: after creating the Pod, should we return with `return reconcile.Result{requeue: true}, nil`? Or is it better not to be returned? Either way, IMO, the

[2020-04-24 03:21] joelanford commented on #2895
@cagrev Sorry you're having issues! It seems like there are two potential issues:
1. The error message is coming from a very early step of the operator startup process that sets up the kubernetes clients. I've never personally seen that issue, but it sounds like a permissions issue. Did you deploy the role and rolebinding associated with the operator?
2. I think the multi-version CRD setup you hav

[2020-04-24 03:49] joelanford commented on #2887
@gyliu513 You can use different log formats. Try using `--zap-encoder=console` in your operator deployment.

[2020-04-24 04:15] gyliu513 commented on #2887
Thanks @joelanford but I can see even if using `zap-encode=console`, I still cannot see the file name and line of code for where the log is from based on document here https://github.com/operator-framework/operator-sdk/blob/master/doc/user/logging.md#output-using-custom-zap-logger

[code]

[2020-04-24 05:28] DanielXLee commented on #2866
@estroz github.com/IBM/operand-deployment-lifecycle-manager/test/e2e, this is my e2e test code, and I can reproduce this issue with operator-sdk version `v0.16.0` and `v0.17.0`, for the version `v0.15.2`, it's good for me.

[2020-04-24 07:14] akram commented on #2784
/close

[2020-04-24 07:14] #2784 closed

[2020-04-24 10:22] dmvolod commented on #2725
@joelanford I can see, that PR #2754 introduce to set GOROOT on k8s generating. But looks like we should set this env inside operator-sdk code for all gen and api add.
What do you think about to implement this. Is it useful or not. A can take care about impl.

[2020-04-24 11:20] camilamacedo86 commented on #2866
Hi @DanielXLee,

Your project is using 0.15.1. See your [go.mod](https://github.com/IBM/operand-deployment-lifecycle-manager/blob/master/go.mod#L12). And then, note that the flag `-skipCleanupOnError` was added in the 0.16. See the following entry in the [changelog](https://github.com/operator-framework/operator-sdk/blob/master/CHANGELOG.md#v0160):

So, you are using an upper version of the tool w

[2020-04-24 11:20] #2866 closed

[2020-04-24 13:45] camilamacedo86 commented on #2888
Closing the issue as sorted out.

[2020-04-24 13:45] #2888 closed

[2020-04-24 14:33] cagrev commented on #2895
So how are multiple versions supposed to work with the helm operator? I would like to understand that. When the versions to a given image reference within the CR change, does the apiVersion need to change? If not, and left at v1alpha1 for example, then how does the controller reconcile whether there are updates required or not?

On the error, I deleted everything on the system in a couple namespac

[2020-04-24 15:25] camilamacedo86 commented on #2898
Hi @woohhan,

It will depend on the business logic implemented by yourself. Note that the reconcile works such as a loop which will still be running until achieving all its goals. See:

[code]

Reference: https://developers.redhat.com/blog/2019/10/04/getting-started-with-golang-operators-by-using-operator-sdk/

In this way, if you check the Go Memcached sample [here](https://github.com/operator-fr

[2020-04-24 15:25] #2898 closed

[2020-04-24 15:28] camilamacedo86 commented on #2878
Closing as suggested since the PR for operator-registry is done already.
See: https://github.com/operator-framework/operator-registry/pull/296

[2020-04-24 15:28] #2878 closed

[2020-04-24 19:16] estroz commented on #2770
We need a framework to assess non-core/immature but promising contributions to operator-framework repos. To me, non-core means something not every operator author in all stages of operator development would benefit from. Maturity comes from community support for and activity in a particular project. A great example of both cases is [Composable](#2340), which is relevant for advanced use cases but

[2020-04-25 04:21] woohhan commented on #2898
@camilamacedo86 Thanks for your answer. I could understand it very well :)

[2020-04-25 11:09] camilamacedo86 commented on #2770
Hi @estroz,

**My opinion over the above suggestions is:**
If we add a dir in the repo with code implementations there then:
- It started to be part of the project which means that requires to be maintained and supported
- contributor began to need to dealing with anyway
- more dependencies will be added to the project, which will increase the complexity to keep it supported and maintained.
- Also

[2020-04-25 13:06] kanekoh opened #2913 "Is it possible to use a third-party test framework like Ginkgo ?"
## Type of question

**Are you asking about community best practices, how to implement a specific feature, or about general context and help around the operator-sdk?**

About how to implement e2e test using a third party test framework.

## Question

**What did you do?**
A clear and concise description of the steps you took (or insert a code snippet).

I'm new into operator-sdk and I'd like to kno

[2020-04-25 17:52] estroz commented on #2770
* Having explicit ownership through an `OWNERS` file and guidelines on contribution/graduation helps prevent this, although bugs/features will be filed against contributed projects that core maintainers will have to at least look at from time to time, which is a good thing IMO. I don't foresee too much overhead.
* How do you mean?
* With [multi-module repositories](https://github.com/golang/go/wik

[2020-04-26 10:48] davidkarlsen commented on #2152
since `operator-sdk build` relies on docker it can become a bit tricky.

[2020-04-26 14:15] metacosm commented on #2770
Do I get this talk on governance right to mean that the current thinking is to not include any of the functionality described above at this point?

[2020-04-26 15:56] routerhan commented on #2886
Thank you for the answer.
I will close this issue.

[2020-04-26 15:56] #2886 closed

[2020-04-26 17:27] estroz commented on #2770
@metacosm not at all. I’m suggesting where to put it and how to manage it.

[2020-04-27 05:42] DanielXLee commented on #2866
Thanks, @camilamacedo86, I'll update our project to the newer version

[2020-04-27 08:10] davidkarlsen opened #2914 "/healthz logs errors"
## Bug Report

**What did you do?**
call pod:8686/healthz endpoint.
It returns the "ok" payload and everything seems fine. But logs are full of
[code]

**What did you expect to see?**
No log message

**What did you see instead? Under which circumstances?**
See above

**Environment**
* operator-sdk version:
v0.17.0

* go version:
1.13.10

* Kubernetes version information:

Client Version: version.I

[2020-04-27 08:42] camilamacedo86 commented on #2914
HI @davidkarlsen,

Your error came from :

[code]
ref.: https://github.com/operator-framework/operator-sdk/blob/master/pkg/kube-metrics/server.go#L36-L56

By looking at the code, shows that the error `Unable to write to serve custom metrics` will be retuned always when the endpoint `/healthz` is called. @joelanford have you more context over it? Could you give a hand with?

[2020-04-27 09:35] camilamacedo86 commented on #2770
HI @estroz,

IMO: The complexities point out are NOT just about the modules/deps. In a way or another, we will start to need to handle and work with any source code added on the project.

Also, I agree that it is valid for who made the collab.  However, if it is not generic, mature, document enough would it attend others? Will it not just address very specific scenarios? What will be the criteria

[2020-04-27 11:07] dmesser commented on #2770
@estroz Thanks for starting this initiative. Couple of questions:

- How do we plan to integrate potentially immature contributions with the mature code base while providing a clear demarkation line for users (either in docs, beta subcommands or comments in scaffolded code)?
- What about contributions that extend existing functionality rather than adding net-new?

Sounds almost like we need a plug

[2020-04-27 11:39] DarkSkyT9A commented on #2543
I am facing the same issue. Any hints on how to solve?

[2020-04-27 11:55] metacosm commented on #2770
My point of view on this issue is that it's meant to determine which functionality (if any) from the above libraries / framework would be good candidate for inclusion with the operator-sdk code base, i.e. functionality that is deemed useful for any operator developer.

If none of the provided functionality is deemed interesting for inclusion within the sdk code base, then I don't think there's a p

[2020-04-27 14:36] aharbis opened #2915 "operator-sdk olm status reports no insallation found on OCP 4.3 cluster"
## Type of question

**Are you asking about community best practices, how to implement a specific feature, or about general context and help around the operator-sdk?**

Question about `operator-sdk olm status` functionality / behavior.

## Question

**What did you do?**

[code]

**What did you expect to see?**

OLM status found / green. Verified by:

[code]

**What did you see instead? Under which

[2020-04-27 15:34] RahulNishad opened #2916 "Accessing cr data in different crd"
Is it possible to access different cr data in another crd controller ? if it's possible how we can do it .

[2020-04-27 16:09] camilamacedo86 commented on #2916
Yes, it is. See:

Ref: https://developers.redhat.com/blog/2019/10/04/getting-started-with-golang-operators-by-using-operator-sdk/

So, you can watch create, delete and update a CR of a kind of CRD that is not the controller owner. You can check here in a personal project where in the backup controller I am doing operations with the database CR for example. See: https://github.com/dev4devs-com/post

[2020-04-27 16:09] #2916 closed

[2020-04-27 17:06] estroz commented on #2915
@aharbis set `operator-sdk olm status --olm-namespace=openshift-operator-lifecycle-manager`.

[2020-04-27 17:06] #2915 closed

[2020-04-27 17:09] estroz commented on #2914
Sounds like we just need to check the error.

[2020-04-27 17:10] estroz commented on #2914
/kind bug
/milestone v0.18.0

[2020-04-27 17:46] aharbis commented on #2915
🤦‍♂️ Makes sense, thanks!

[2020-04-27 18:11] joelanford commented on #2895
@cagrev

Short answer is that multi-version CRDs likely don't work with the helm-operator. In practice, multi-version CRDs are reconciled as a single version on-cluster, so you would have only a single reconciler for a CRD.  The cluster handles multiple versions by using a CRD conversion webhook that is typically provided by the operator. For helm-operator, there isn't a simple way to implement th

[2020-04-27 21:12] cagrev commented on #2895
Ok, thanks for the info. So let's step back a minute, away from the multi-version CRDs. I've gone back to one version of v1alpha1. The changes that are being made in the custom resource are these tags for the various microservice images we are using. With each operator build, one of these tags changes to a newer version and the operator image image itself gets a new version.
[code]
I think you are

[2020-04-27 21:28] cagrev commented on #2895
A version of the operator from 4/20 is currently deployed.

![Screen Shot 2020-04-27 at 4 22 41 PM](https://user-images.githubusercontent.com/6609715/80422364-a35c3f80-88a3-11ea-9cfd-e8acbd7f01cd.png)

Here's what is running now.
[code]
I just bumped my catalog image to a more current one so a newer version of the operator should be picked up too. I'll share more after the upgrades complete for it

[2020-04-27 21:39] joelanford commented on #2895
Ah one other potential issue. If the CR that you've deployed to the cluster specifies the tag values, those will be used rather than the chart's default values. Make sure to remove the `tag` values from your CR if you want to use the chart's default values.

[2020-04-27 21:46] bharathi-tenneti commented on #2727
@mikeshng
Trying to reproduce the issue, to confirm you used `kubectl edit` to edit the  resources(deployment, and ClusterRole) ?

[2020-04-27 21:53] mikeshng commented on #2727
It was a while ago, but I am sure it was either `kubectl edit` or `oc edit`

[2020-04-27 21:59] cagrev commented on #2895
I do want the CR tag values to be used, but they don't seem to be now.

Here's the result from the newer catalog image, which triggered an update to the operator, but not the rest of them.
![Screen Shot 2020-04-27 at 4 55 56 PM](https://user-images.githubusercontent.com/6609715/80424980-65ade580-88a8-11ea-97af-4c7790e9bc9c.png)

[code]

[2020-04-28 04:02] devnulled commented on #670
@huizengaJoe I'm no longer working at the company where I was working on that solution, and it's been some time since I was there.  Something I will likely end-up digging back into within the next year or so, I think.

[2020-04-28 11:55] JoaoBraveCoding opened #2922 "Missing documentation on test-framework"
## Type of question

**Are you asking about community best practices, how to implement a specific feature, or about general context and help around the operator-sdk?**

Documentation

## Question

In a previous release (0.16) of Operator-SDK there used to be some documentation on how to develop and run tests under `docs/test-framework` since the most recent update (0.17)  this documentation seems

[2020-04-28 12:31] camilamacedo86 commented on #2922
HI @JoaoBraveCoding,

We are in the middle to of a process to move all docs to the website. See in the open PR's that you are able to check a preview of it. E.g https://deploy-preview-2920--operator-sdk.netlify.app/

- The e2e doc is here: https://github.com/operator-framework/operator-sdk/blob/master/website/content/en/docs/golang/e2e-tests.md
- The unit test doc is here: https://github.com/opera

[2020-04-28 12:31] #2922 closed

[2020-04-28 12:47] raffaelespazzoli opened #2923 "unable to deploy with operator-sdk run --olm"
## Bug Report

I'm deploying my operator with this command
[code]

the operator deployment hangs in pending state:
![image](https://user-images.githubusercontent.com/6179036/80487949-9e42d300-892b-11ea-9cfa-4f5b1733309a.png)

see in attachment the csv, install plan.
[install-plan.txt](https://github.com/operator-framework/operator-sdk/files/4545746/install-plan.txt)
[csv.txt](https://github.com/op

[2020-04-28 13:15] gyliu513 opened #2924 "How to upgrade operator-sdk?"
## Type of question

**Are you asking about community best practices, how to implement a specific feature, or about general context and help around the operator-sdk?**

## Question

**What did you do?**

I have an operator and the code was generated by operator-sdk 0.15.1, and now I want to upgrade to operator-sdk 0.16.0, any best practice for upgrade my operator code?

[2020-04-28 13:23] gyliu513 commented on #2924
Got the document here https://github.com/operator-framework/operator-sdk/blob/master/doc/migration/version-upgrade-guide.md#v016x

[2020-04-28 13:23] #2924 closed

[2020-04-28 14:04] aharbis opened #2925 "How to retrieve ClusterRole in operator pod installed via OLM"
## Type of question

**Are you asking about community best practices, how to implement a specific feature, or about general context and help around the operator-sdk?**

This is admittedly a cross-over between OLM and Operator SDK, but wanted to start here in the Operator SDK repo, as this primarily involves the Operator runtime itself.

## Question

**What did you do?**

For some brief background,

[2020-04-28 15:05] aharbis commented on #2925
One potential workaround I've come up with is to fetch the list of `ClusterRoleBinding` from the cluster (possibly leveraging label selectors, it seems field selectors don't support the `subjects`), and from the found `ClusterRoleBinding` list find the one which matches our `ServiceAccount` (which we can deterministically know the name of).

From there, once we have the `ClusterRoleBinding` that l

[2020-04-28 15:12] joelanford commented on #2887
@gyliu513 It's possible with zap to include the caller information as well. You would just need to provide a custom logger.

[code]

It _is_ also possible to use klog with controller-runtime since there is a logr implementation for klog. See https://github.com/kubernetes/klog/tree/master/klogr. Note that it is currently listed as a beta.

[2020-04-28 15:14] joelanford commented on #2887
Looking at https://github.com/ManageIQ/manageiq-pods/issues/461

You may want this instead:
[code]

[2020-04-28 15:21] joelanford commented on #2887
I think this answers the question. Also, just to clarify we are not planning to switch from zap to klog. We just wanted to make sure to get back to you about how you can do this with existing functionality before we released v0.18.0.

Let us know if there's anything else we can help with!

[2020-04-28 15:21] #2887 closed

[2020-04-28 16:55] joelanford commented on #2925
@aharbis Are there any labels that OLM puts on the created cluster role that could be used to deterministically find it?

[2020-04-28 17:01] AdheipSingh opened #2933 "Do we need to have a seperate controller for reconciling deployment,statefulset"
## Type of question

**how to implement a specific feature, or about general context and help around the operator-sdk?**

## Question

**What did you do?**
i am implementing a operator which deploys deployments and statefulsets. I have a single controller which reconciles the deployments as well as statefulset workloads. Do i need to have a seperate controller for managing deployment and statefuls

[2020-04-28 17:23] js-max opened #2934 "Ansible not working as expected with include_vars"
## Bug Report

**What did you do?**
Given a JSON file that it's imported with `include_vars` ansible operator is not behaving as expected and returns only filename instead of loaded vars (as per [documented](https://docs.ansible.com/ansible/latest/modules/include_vars_module.html) in `include_vars`)

Now I don't know if it's working as expected or not... need you to clarify please

**What did you

[2020-04-28 17:25] aharbis commented on #2925
@joelanford On the OLM-generated `ClusterRole`, there are the following labels:

[code]

I can link that `olm.owner.namespace` back to the namespace the operator is running in, but this still would require polling the objects to find it. This is currently the workaround I'm building as a POC.

It's also worth mentioning that we intend to support other installation methods for our operator (such as

[2020-04-28 17:30] js-max commented on #2934
Just a quick note, my Dockerfile content:
[code]

[2020-04-28 17:43] joelanford commented on #2925
@aharbis It seems the root of the problem is that the cluster role name has that random suffix at the end. If it followed a deterministic pattern, you could add it as an environment variable to your CSV deployment yourself. Not sure if that would lead to other issues for OLM though.

So it seems like the current way to do this would be `client.List` the cluster roles using a label selector that is

[2020-04-28 19:53] aharbis opened #2938 "operator-sdk run --olm reports installation failure after successful installation"
## Bug Report

**What did you do?**

[code]

**What did you expect to see?**

Successful installation.

**What did you see instead? Under which circumstances?**

The log output from `operator-sdk run --olm` shows a fatal error stating the operator did not install successully, the the log(s) right before this error show `phase: Succeeded`:

[code]

In addition to this, I can verify in the OCP dashb

[2020-04-28 19:59] joelanford commented on #2770
It's on my plate to triage the doc. Thanks SO much to the folks who helped put that together! :pray:

As I mentioned before, my current plan is to make several buckets:
1. upstream to kubebuilder (scaffolding related improvements)
2. upstream to controller-runtime (controller helpers that are widely applicable to all Go operators)
3. upstream to operator-sdk (controller helpers that are applicable

[2020-04-28 20:05] kraman commented on #2938
I noticed the same issue. Operator is running fine and csv is in succeeded phase but operator-sdk reports failure to deploy

[2020-04-28 20:07] cagrev commented on #2895
I have a stable channel set up that uses an older version of our operator. At the time, with that version, we were still using latest for each of the images in the custom resource. You can see that one is still pulling the latest as expected/configured.
[code]
The ACD macroservice didn't start in this case, because of contention for resources on the system, so ignore that for now. `message: '0/8 n

[2020-04-28 20:33] estroz commented on #2770
@joelanford that sounds like a good delineation.

@dmesser for scaffolded code or packages, a contrib folder/repo for plugins sounds like a good idea. Having new contrib commands under alpha/beta sgtm, although we might want to provide an "experimental" release of the SDK that includes these contrib commands. For extensions of current SDK packages used in an operator project, use at your own risk

[2020-04-29 00:10] gyliu513 commented on #2887
Thanks @joelanford , my major concern is most kubernetes eco-system projects are using klog, why not switch the default log to klog for operator-sdk to keep consistent?

[2020-04-29 07:59] davidkarlsen commented on #2885
Do you have a matrix of operator versions and the k8s versions they fit?
I guess I need to build multiple versions of my operator in order to support different k8s versions.

[2020-04-29 14:09] jmazzitelli commented on #1770
Did the rules change as to what is considered camelCase in 0.17.0?

We had a setting "iter8" that worked fine, but now its being converted to "iter_8" - and this didn't happen before.

[2020-04-29 14:11] vinzent commented on #1770
@jmazzitelli  That behaviour i already faced with 0.10 (first version i've used).

[2020-04-29 14:17] jmazzitelli commented on #1770
We had `iter8` working ok (not converted to `iter_8`) up until 0.15.0 (and possibly 0.16.0).

[2020-04-29 14:20] vinzent commented on #1770
At least it was on 0.10/11 that way, that was the time I changed to read from the unmodified "automagic" key.

I personally tink the auto conversion is doing more harm than it helps. It is cool to have at the beginning but soon you will be surprised about things you didn't thought of.

[2020-04-29 14:21] jmazzitelli commented on #1770
@vinzent I'm specifically asking about variables with numbers in them. Yes, the snake_case conversion has been there for a long time.. but SPECIFICALLY for an alphanumeric string followed by a digit - is that now considered camelCase where before it was not?

[2020-04-29 14:22] vinzent commented on #1770
yes, i had exactly that for me unexpected converting of a name with a number at the end. bla1 ended up with bla_1.

[2020-04-29 16:04] tmckayus opened #2942 "new helm operator from existing chart with local subcharts fails with "directory X not found""
## Bug Report

**What did you do?**

Generated a helm operator from an existing chart with an expanded local subchart, no repository defined in Chart.yaml.  This is a valid chart that deploys with "helm install . --generate-name"

$ tree alpine
alpine/
├── Chart.lock
├── charts
│   └── mysql
│       ├── Chart.yaml
│       ├── README.md
│       ├── templates
│       │   ├── configurationFiles-confi

[2020-04-29 17:42] estroz commented on #2885
Not right now, see #2118. I would test your operator with all the k8s versions (dependencies and cluster) that it can run on, and make changes when something breaks.

[2020-04-29 18:36] camilamacedo86 commented on #2811
Hi @joelanford,

May we need to add more one item here which is:

Allow the scenario where we set WATCH-NAMESPACE=A and then, deploy the operator in B and the service monitor would be created successfully in B beside B not be passed to the [manager](https://github.com/operator-framework/operator-sdk-samples/blob/9bb42cdb16f5b25e4e77297e9c906dbd5e6b9c44/go/memcached-operator/cmd/manager/main.go#L97

[2020-04-29 18:50] estroz commented on #2923
Can you link the full source for your operator?

/assign
/triage needs-information

[2020-04-29 22:35] raffaelespazzoli commented on #2923
here is the branch which can be used to reproduce the issue:
https://github.com/raffaelespazzoli/namespace-configuration-operator/tree/preparing-for-v0.2.0
@estroz

[2020-04-29 22:49] estroz commented on #2879
Closed by #2944

[2020-04-29 22:49] #2879 closed

[2020-04-30 13:27] aneeshkp commented on #1770
I am working on converting helm charts into ansible template.

In the process of porting templates,  the helm charts `.values` are transferred into `roles/x/defaults/main.yml` and by default, they are all `camelCase`.

 Now when I want to override the values via CR, they won't work unless I convert all the variables in `roles/x/defaults/main.yml`  and in all the templates into `snake_case`.  Is th

[2020-04-30 16:39] metacosm commented on #2770
Based on this typography, it seems as if the library contributions would be best targeted at `controller-runtime` rather than this project.

This is not what I'm suggesting but there are sufficient commonalities in these libraries and probably others to maybe warrant inclusion in one of the projects… Have you taken a look at the linked projects?

Not any in particular. Seems just that the discussi

[2020-04-30 17:35] estroz commented on #2770
Yeah sorry I derailed pretty hard here.

Agreed, it looks like at least APIs like `CreateOrUpdate` would be suited for controller-runtime.

[2020-04-30 21:40] cybertron commented on #2863
I'm seeing the same behavior. What did you do to resolve this?

[2020-05-01 00:23] jessebye opened #2950 "Multiple CR Versions in watches.yaml results in duplicate Ansible reconciliations"
## Bug Report

**What did you do?**
Created a CRD with two versions:
[code]
Created a `watches.yaml` with:
[code]

Created a CR on v2:
[code]

**What did you expect to see?**
Only the v2 role should have been invoked.

**What did you see instead? Under which circumstances?**
Both the v1 and v2 roles are invoked simultaneously. Here were the operator logs:
[code]
**Environment**
* operator-sdk vers

[2020-05-01 02:31] camilamacedo86 commented on #2950
Hi @jessebye,

Thank you for contacting us. Could you please let us know if you have a CR for each version applied or not? Could you please check that and let us know?

[2020-05-01 02:54] camilamacedo86 commented on #2863
Ensure that you executed the command from the root dir of your project. However, if you still facing problems, could you please raise a new issue and provided all requested information for we are able to help you with?

[2020-05-01 03:17] camilamacedo86 commented on #2934
Hi @js-max,

Shows the var has the json value. See the log added by you:

[code]

Are you assuming that the var has not the json value because of the `Ansible Task StdOut` output?

[2020-05-01 03:23] camilamacedo86 commented on #2934
Hi @js-max,

Could you print the value of the path? What do you think about trying troubleshooting it and ensure that the `file: "{{ temp_folder_tar.path }}/my.json"` has the my.json with the content?

[2020-05-01 04:24] jessebye commented on #2950
@camilamacedo86 I only have one CR applied (the v2 resource).

[2020-05-01 11:20] camilamacedo86 commented on #2950
HI @jessebye,

Really great to know. So, may we have some bug in the ansible watch which is not checking the version. So, IMO the next steps for we analyse it and then provide a fix if it is the case are:

- Create a POC based in the [Ansible Memcache](https://github.com/operator-framework/operator-sdk-samples/tree/master/ansible/memcached-operator) Sample with
- Then, after reproducing the issue

[2020-05-01 18:10] ricardozanini opened #2952 "`operator-sdk bundle validate` fails with "cannot convert int64 to float64" when manifests contains specific version number"
## Bug Report

**What did you do?**
I'm trying to create a bundle image with a specific version like:

[code]

The `bundle validate` command fails with:

[code]

Here's what looks like the `/tmp/bundle-879233443` directory:

[code]

Seems ok to me, but looks like the command is having trouble when trying to convert the version number.

**What did you expect to see?**
My bundle corrected validated.

[2020-05-01 18:12] ricardozanini commented on #2952
Also fails if our directory has version names:

[code]

Tree structure:
[code]

[2020-05-01 18:17] heoneal opened #2953 "CRD.version is no longer generated at master"
## Bug Report

**What did you do?**
A clear and concise description of the steps you took (or insert a code snippet).
I ran the following code with the current master of opertor-framework.

[code]

**What did you expect to see?**
A clear and concise description of what you expected to happen (or insert a code snippet).

I expected to see the spec.version field of the CRD filled with v1alpha1

**Wh

[2020-05-01 19:20] dmvolod commented on #2378
/assign @dmvolod

[2020-05-01 19:41] camilamacedo86 commented on #2953
Hi @heoneal,

From now, the tool is generating CRDs with the version `v1` instead of `apiextensions.k8s.io/v1beta1`.See the [Cnagelog](https://github.com/operator-framework/operator-sdk/blob/master/CHANGELOG.md#added)

The `spec.version` was deprecated and remove in the `v1`. More info: [CRD k8s doc](https://kubernetes.io/docs/tasks/access-kubernetes-api/custom-resources/custom-resource-definition

[2020-05-01 19:44] joelanford commented on #2378
This isn't as simple as it seems unfortunately. See https://github.com/kubernetes-sigs/controller-runtime/issues/244.

A naive workaround now would be to do the filtering client-side using a predicate. The obvious problem is that if your operator is watching chatty resources cluster-wide, there's going to be a lot of unnecessary traffic.

[2020-05-01 19:50] joelanford commented on #2953
TL;DR: use `operator generate crds --crd-version=v1beta1`

Here's the PR where this change was made, for reference: #2874

[2020-05-01 19:50] #2953 closed

[2020-05-01 19:51] dmvolod commented on #2378
Thanks, @joelanford
I saw that kubernetes-sigs/controller-runtime#244 is not fixed yet and understating this.
Is it still possible to implement workaround extending DependentPredicateFuncs and got a lot unnecessary traffic in some cases (if selectors are set ) or better to wait until controller-runtime PR will be implemented?

[2020-05-01 19:54] heoneal commented on #2953
Thank you for the detail @camilamacedo86 I had missed the changelog and that makes a lot more sense.

[2020-05-01 20:54] jmrodri opened #2955 "Consider refactoring internal/scorecard tests to use mocked data in the tests vs testdata directories"
## Feature Request

**Is your feature request related to a problem? Please describe.**
Currently the tests in https://github.com/operator-framework/operator-sdk/tree/master/internal/scorecard/alpha/tests are duplicating bundles in testdata. https://github.com/operator-framework/operator-sdk/tree/master/internal/scorecard/alpha/testdata

It is difficult to see what change caused a test to pass/fail

[2020-05-01 21:01] jmrodri commented on #2955
The changes to the CSV seem to be pretty small. For example:

[code]

[code]

[2020-05-01 21:02] joelanford commented on #2955
Yeah, I don't know what others think, but when I write tests, my preference is to embed stuff testdata strings directly in the `_test.go` file:

For example: https://github.com/operator-framework/operator-sdk/blob/master/pkg/helm/watches/watches_test.go

This way, the test data is literally in the file with the test case, making it easy to develop and debug.
And it incentivizes keeping the test te

[2020-05-01 21:10] jmrodri commented on #2955
Could we have one valid bundle in `testdata/bundle` then in tests load it and modify it to get desired tests? Or create the objects in the tests themselves like it was described in the original comment.

[2020-05-01 21:17] joelanford commented on #2955
I _do_ use `testdata` when a test needs a directory of files or a binary file: e.g. https://github.com/operator-framework/operator-sdk/tree/master/internal/scaffold/helm/testdata/testcharts

A bundle _is_ a directory of files, so it makes sense to me for there to be a `testdata/bundle`.

However, the input to a lot of these tests is a `registry.Bundle` right? That should mean that there's no need

[2020-05-02 04:33] dmvolod commented on #2378
/unassign @dmvolod

[2020-05-03 02:26] nareshdesh commented on #2543
Facing the same issue when I run make tidy with the source of master branch
Also even with the binary downloaded from  `https://github.com/operator-framework/operator-sdk/releases/download/v0.17.0/operator-sdk-v0.17.0-x86_64-linux-gnu` , facing the issue with `operator-sdk new`

Error:
`go: github.com/operator-framework/operator-sdk@v0.17.0 requires
        github.com/coreos/prometheus-operator@v0

[2020-05-03 02:48] nareshdesh opened #2958 ""operator-sdk new" is failing at git unshallow of prom-label-proxy"
## Question

**What did you do?**
Trying to create  a new operator using operator-sdk

**What did you expect to see?**
Expected to create project setup for my operator

**What did you see instead? Under which circumstances?**
Got the following error
[code]

**Environment**
`operator-sdk version: "v0.17.0", commit: "2fd7019f856cdb6f6618e2c3c80d15c3c79d1b6c", kubernetes version: "unknown", go versio

[2020-05-03 10:45] camilamacedo86 commented on #2958
HI @nareshdesh,

Could you provide the result of `go  env? Also, could you let us know if you are facing the same issue when you do not pass the `--repo` value?

[2020-05-03 11:11] camilamacedo86 commented on #2955
Hi @joelanford,

The idea is that scorecard will do a lot of tests. And the, currently, we have a bundle testada for each check performed. See that if we persuade to unit test ALL checks done by it and in this way follow up this approach we can have like 100 dirs/bundles there easily.

A CSV is just an object and that has no need to keep all these files since it very simple to mock the data for th

[2020-05-03 16:50] nareshdesh commented on #2958
Hi @camilamacedo86
Please find below ,the information you asked for.

Following is the content of  `go env`

[code]

Following is the output with out --repo
[code]

[2020-05-03 21:12] camilamacedo86 commented on #2955
Hi @joelanford,

I understand that the idea is that scorecard will do a lot of tests. Am I right? And then, currently, we have a bundle testdada for each check/test performed. See that if we persuade this approach and still creating a new bundle for each check, then we can have a huge quantity of dirs/bundles there easily. (E.g something such as 100 bundles). Also, the tests do not require the ful

[2020-05-03 21:17] camilamacedo86 commented on #2958
Hi @nareshdesh,

Really thank you for the information provided. The default value for `GOPROXY` for a go version + 1.13+ is `https://proxy.golang.org,direct` instead of just `direct`. Could you please try to update it and let us know if it solves your issue?

[2020-05-04 06:37] nareshdesh commented on #2958
Thanks @camilamacedo86 , it worked for me.
Tried the following
`GOPROXY=https://proxy.golang.org,direct operator-sdk new app-operator --type go --repo github.com/xxxxxx/xxxxxxxx.git --verbose`

Closing the ticket

[2020-05-04 06:37] #2958 closed

[2020-05-04 09:25] DTMad opened #2960 "CSV generation configuration"
We updated the operator-sdk version to 0.17.0 and now try to use the CSV generation to create the CSV and CRD files accordingly.

Our file structure looks like that:

deploy
├── common
│   ├── clusterrole.yaml
│   ├── deployment.yaml
│   ├── ...
├── cr.yaml
├── crds
│   ├── crd.yaml
├── kubernetes
│   ├── role.yaml
│   ├── rolebinding.yaml
│   ├── ...
├── olm
│   ├── kubernetes
│   │   ├── 0.1.0
│

[2020-05-04 10:36] harche opened #2961 "Unable to generate lister and informer using generate-groups.sh"
## Type of question

**Are you asking about community best practices, how to implement a specific feature, or about general context and help around the operator-sdk?**

Yes - I need some help around operator-sdk

## Question

**What did you do?**
Since `operator-sdk` doesn't generate `client/lister/informer` I am trying to use the [code-generator](https://github.com/kubernetes/code-generator) for

[2020-05-04 11:13] camilamacedo86 opened #2962 "Improve annotation watch-based on SDK"
## Feature Request

**Context**
We did the pull request for upstream and some feedbacks were made. In the end, the pr was closed because we reach a consensus that it is not generic enough to upstream. The idea of this task is for we incorporate the improvements made in upstream to the current code in SDK. See the PR: https://github.com/kubernetes-sigs/controller-runtime/pull/892

**Improvements to

[2020-05-04 14:11] shawn-hurley opened #2963 "Example for bundle validate does not work"
## Bug Report

The help text for `operator-sdk bundle validate` has this section:

[code]

I wonder if we can create a repo with an invalid bundle and use that as an example so the example can be executed?

[2020-05-04 16:33] cagrev commented on #2895
Hi, any outlook on when additional triage will be done on this one?

[2020-05-04 18:07] estroz commented on #2963
/kind documentation

[2020-05-04 18:10] estroz commented on #2961
@harche can you link your `go.mod` file?

[2020-05-04 18:16] estroz commented on #2961
/assign

[2020-05-04 18:19] estroz commented on #2960
@DTMad take a look at the CLI docs for [`generate csv`](https://github.com/operator-framework/operator-sdk/blob/master/website/content/en/docs/cli/operator-sdk_generate_csv.md), there are now flags that correspond to CSV config fields.

Feel free to re-open this issue if you don't find what you need.

[2020-05-04 18:19] #2960 closed

[2020-05-04 18:22] joelanford commented on #2950
This may be related to this comment: https://github.com/operator-framework/operator-sdk/issues/2895#issuecomment-620146803

I don't think multi-version CRDs are supported with Ansible-based operators.

At the very least, we may need to document this limitation.

[2020-05-04 18:25] estroz commented on #2938
/assign

[2020-05-04 22:35] estroz commented on #2963
Above that line the docs direct you to build and push the image yourself:
[code]

Perhaps the following would be better so users don't assume the `example` namespace exists:
[code]

[2020-05-05 06:43] harche commented on #2961
@estroz thanks for that tip.

I ran into the same problem even with, `./generate-groups.sh all ./pkg/generated ./pkg/apis cache:v1alpha1` but then I add the absolute path of `generate-groups.sh` to my `$PATH` and executed following command from the source root of my operator and it worked just fine.

`generate-groups.sh all github.com/harche/kata-operator/pkg/^Cnerated github.com/harche/kata-opera

[2020-05-05 06:43] #2961 closed

[2020-05-05 06:48] leg100 commented on #2898
@camilamacedo86 I've wanted to ask these two questions too but I'd appreciate further clarification on the answers:

Q1) Why would `return reconcile.Result{requeue: true}` ever be necessary? Surely anything the reconciler is updating, it is also watching, and an update will *implictly* 'requeue' another reconcile. All that would be necessary to avoid further processing in the current reconcile wou

[2020-05-05 11:18] camilamacedo86 commented on #2963
I will get this one and add it to: https://github.com/operator-framework/operator-sdk/pull/2905

[2020-05-05 12:17] camilamacedo86 commented on #2963
To reproduce a test and see an invalid bundle we can just add any file in the bundle dirs which is not part of the bundle. E.g `cp operator.yml to manifest`

[2020-05-05 12:22] camilamacedo86 commented on #2963
The info suggested above to upgrade the docs are added in the PR: https://github.com/operator-framework/operator-sdk/issues/2963

[2020-05-05 13:38] gyliu513 opened #2967 "<operator-name>.package.yaml was not generated with 0.17.0"
## Bug Report

**What did you do?**
A clear and concise description of the steps you took (or insert a code snippet).

I used the command as follows to generate my CSV file

[code]

But this command does not generate `<operator-name>.package.yaml`

[code]

**What did you expect to see?**
A clear and concise description of what you expected to happen (or insert a code snippet).

**What did you see

[2020-05-05 13:58] gyliu513 commented on #2967
@camilamacedo86 can you help? Thanks!

[2020-05-05 14:08] camilamacedo86 commented on #2898
HI @leg100,

Your question as answered above.

**Why would return reconcile.Result{requeue: true} ever be necessary?**

**"Should all r.client.Create be checked with errors.IsAlreadyExists?"**

You have many ways to implement a solution. So, you can say for the project create the resource a not check if exist or not and then use `errors.IsAlreadyExists(err)` or you do as it is done in the example

[2020-05-05 15:13] camilamacedo86 commented on #2967
Hi @gyliu513,

We removed it from 0.17 but after discussing it better we checked that the package manifest still supported by OLM and then we revert the change. See: https://github.com/operator-framework/operator-sdk/pull/2944. Sorry, for the inconvenient and you can use the master branch until the next release.

I am closing this as sorted out. However, please feel free to ping us to re-open if y

[2020-05-05 15:49] slopezz opened #2968 "Ansible task checking available api-groups giving WARNING Failure method (v2_runner_on_ok) in callback plugin"
## Bug Report

**What did you do?**

I need to create  not default k8s objects (like prometheus `ServiceMonitor`), and in order to not have a failing task, I first check if the api-group is available on the cluster:

[code]

Then if api-group exists, it creates the `ServiceMonitor`:
[code]

**What did you expect to see?**

Task finishing with OK (and no WARNING message).

**What did you see instea

[2020-05-05 15:50] gyliu513 commented on #2967
Thanks @camilamacedo86 , oops, this is a break change, we should at least provide some workaround for this, but not use master branch.

/reopen

[2020-05-05 17:13] estroz commented on #2967
@gyliu513 I'll be making a patch release that reverts package manifest deprecation fairly soon. We can leave this open until then.

[2020-05-05 17:15] estroz commented on #2938
This issue has something to do with how we retrieve resource statuses for the installed operator. There might exist packaged objects that aren't being created but are still checked for status. @aharbis @kraman can you link your packages or full operator source?

[2020-05-05 17:37] #2923 closed

[2020-05-05 18:58] cheewaio commented on #2895
Hi, I run into same error when I try to upgrade my helm based operator, even though I try to keep the CRD apiVersion the same at v1alpha1
[code]
To make sure it's not related to RBAC, I grant cluster admin role to the operator. I still get this error. Any idea?  Thanks!

[2020-05-05 22:41] skycmoon opened #2972 "Could you provide an option to only execute `go build` from operator-sdk build step?"
## Feature Request
Currently, `operator-sdk build {image information}` does two things. First `go build` then `docker build`. The problem is that I need to have to build the executable inside a dockerized container for the limitation of CI/CD infrastructure in my company.

For that reason, it would be very useful to provide an option to choose only `go build`, not `docker build` using some flag or

[2020-05-05 23:49] demonCoder95 opened #2973 "Fix various typos on the main website"
## Feature Request

**Is your feature request related to a problem? Please describe.**
There are numerous typos in the main page of the operator [here](https://sdk.operatorframework.io/)

**Describe the solution you'd like**
I can quickly fix these typos. I suppose the ``website`` subdirectory of the repo will need to be edited. I can get a quick PR fix on this.

[2020-05-06 00:05] aharbis commented on #2938
@estroz Unfortunately we cannot, our operators are closed source currently.

Can you point to any specific requirements that our CRD would need to implement for this to work? What is meant by resource status of the installed operator?

[2020-05-06 00:06] demonCoder95 opened #2974 "Broken developer guide link in CONTRIBUTING.md"
## Bug Report

**What did you do?**
Clicked on the developer guide hyperlink in ``CONTRIBUTING.md``

**What did you expect to see?**
Opening of a markdown documentation file.

**What did you see instead? Under which circumstances?**
A 404 Not Found, since the docs no longer live in the ``operator-sdk`` repository, instead have been incorporated into the website.

**Environment**
Irrelevant

**Poss

[2020-05-06 00:37] estroz commented on #2938
After waiting for the CSV to install, `run --olm` will check if all objects in a package exist in the cluster and have positive statuses. In pseudocode:
[code]
It sounds like one of the object manifests in your 0.9.0 package is not being created by OLM. Are there any manifests other than CRDs and the CSV in `0.9.0/`?

[2020-05-06 01:05] #2973 closed

[2020-05-06 01:32] gyliu513 commented on #2967
Thanks @estroz , so you mean you want to release a patch release like 0.17.1? If so, does the new version works with the operator which was generated via 0.17.0?

For my case, my operator was generated by 0.17.0, and now I want to generate the package bundle, can I continue to use the new 0.17.1 to generate the package bundle?

Look forward to the patch release soon! ;-)

[2020-05-06 07:19] gyliu513 opened #2977 "How to upgrade from package bundle to manifest bundle"
## Type of question

**Are you asking about community best practices, how to implement a specific feature, or about general context and help around the operator-sdk?**

## Question

operator-sdk 0.17.0 support both  package bundle and manifest bundle, my question is does there a upgrade solution for customer to upgrade from package bundle to manifest bundle?

[2020-05-06 09:43] burov opened #2978 "Build official docker image with operator-sdk cli"
## Feature Request

**Is your feature request related to a problem? Please describe.**
it a common way to package command tools into docker image and run them inside docker instead of installing binaries on your computer.

As you can see there https://hub.docker.com/search?q=operator-sdk&type=image, hub.docker.com contains a few images, but they didn't have updates for a while, and not official wh

[2020-05-06 11:05] mdbooth commented on #2288
I am still hitting this exact issue:

`
$ pwd
/home/mbooth/go/src/github.com/openstack-k8s-operators

$ operator-sdk new foo --verbose
DEBU[0000] Debug logging is set
INFO[0000] Creating new Go operator 'foo'.
INFO[0000] Created go.mod
INFO[0000] Created tools.go
INFO[0000] Created cmd/manager/main.go
INFO[0000] Created build/Dockerfile
INFO[0000] Created build/bin/entrypoint
INFO[0000] Created bu

[2020-05-06 11:19] mdbooth opened #2979 "add api fails with: deepcopy.go:885] Hit an unsupported type invalid type for invalid type"
This is with a vanilla operator, no customisation. TL;DR:

[code]

Full output:

[code]

My environment:
[code]

[2020-05-06 12:21] mdbooth commented on #2979
This issues appears to be identical to https://github.com/operator-framework/operator-sdk/issues/2288 . I would have reopened that issue, but that doesn't seem to be a thing in github.

[2020-05-06 12:53] mdbooth commented on #2979
I have reproduced this with an empty GOPATH, and creating foo directly under $GOPATH/src

[2020-05-06 13:42] camilamacedo86 commented on #2978
Hi @burov,

It is duplicated of https://github.com/operator-framework/operator-sdk/issues/2152. I am closing this one, however, feel free to ping us to re-open if you need. Also, feel free to follow up #2152

[2020-05-06 13:42] #2978 closed

[2020-05-06 13:43] camilamacedo86 commented on #2152
just to register +1 shows be looking for it in https://github.com/operator-framework/operator-sdk/issues/2978

[2020-05-06 13:48] mdbooth commented on #2979
I CANNOT reproduce this in the same environment with the same GOPATH when I use a locally-built version of the v0.17.0 release tag.

To be clear:

locally-built operator-sdk from git tag 0.17.0 (2fd7019f856cdb6f6618e2c3c80d15c3c79d1b6c) WORKS

downloaded release build operator-sdk-v0.17.0-x86_64-linux-gnu run in the same directory, same commands, same environment, DOES NOT WORK

The release versio

[2020-05-06 14:22] aharbis commented on #2938
@estroz The only files in my `0.9.0/` directory are the CSV and the CRD.

Here's an example of the last log line from my output:

[code]

It looks like from the output that both the CSV and CRD are installed correctly. Additionally I can confirm from the cluster that both are installed successfully, as I can create CR instances of my CRD type through OLM in the console.

[2020-05-06 15:49] mkimuram opened #2980 "e2e test for cluster-scoped operator"
## Feature Request

**Is your feature request related to a problem? Please describe.**
Currently, [e2e test](https://sdk.operatorframework.io/docs/golang/e2e-tests/#running-the-tests) for [cluster-scoped operator](https://sdk.operatorframework.io/docs/operator-scope/#cluster-scoped-operator-usage) doesn't work well, unless operator's namespace is specified by using --operator-namespace option (or

[2020-05-06 22:38] mkimuram commented on #2913
I had the exact same use case and managed to implement it like [this](https://github.com/mkimuram/operator-sdk-samples/commit/a70d8321bbf1d78ce664703765b6be1ef8e594e7).

I've tested it with my kind environment like below way and confirmed that it seems to work well.
[code]

Note that passing `testing.T` like [this way](https://github.com/mkimuram/operator-sdk-samples/blob/a70d8321bbf1d78ce66470376

[2020-05-06 22:45] cheewaio commented on #2895
It turns out that I need to update the operator by changing the subscription channel in OLM.

[2020-05-06 23:23] aharbis opened #2983 "Need a way to disable path parse for gen csv"
## Feature Request

**Is your feature request related to a problem? Please describe.**

Yes. The behavior is summarized in the [doc](https://sdk.operatorframework.io/docs/golang/references/markers/):

**Describe the solution you'd like**

However, if I have a path such as `resources.requests.cpu` (because we are wanting to manually define how resources are provided), and I declare this as a `numbe

[2020-05-07 08:46] k-wall opened #2984 "Upgrade guide for 0.17.x missing"
Hello,

I want to move our app to 0.17.0. I refer to:

https://github.com/operator-framework/operator-sdk/blob/v0.17.0/doc/migration/version-upgrade-guide.md

however, I notice there is no section for 0.17.x.  Previously I'd been following your 'Pinning' advice from this page, so I'm left wondering what is correct for 0.17.x.

## Type of question

**Are you asking about community best practices, h

[2020-05-07 10:19] camilamacedo86 commented on #2984
HI @k-wall,

It has been migrating the docs for the website. See: https://sdk.operatorframework.io
The guide is here: https://sdk.operatorframework.io/docs/migration/version-upgrade-guide/#v017x

I will keep it open for we are able to update the links in the release notes with.

[2020-05-07 10:42] camilamacedo86 commented on #2980
HI @mkimuram,

I agree with the idea of improve the docs and please feel free to collab with by doing a PR if you wish. However, I do not think that tool should deliberate change the roles.

The -flag allows users to run the tests in other namespaces, however, it is up to them ensure that project roles and etc are done for the namespace that they wish to use. Otherwise, for example, how the users

[2020-05-07 11:39] k-wall commented on #2984
@camilamacedo86 thank you for the rapid response.

[2020-05-07 13:23] rcernich commented on #2984
I tried following the process for upgrading to v0.17 and was unsuccessful.  It seems the kubernetes dependencies may need to be updated too.  I was getting the following errors running `go mod vendor`:

[code]

[2020-05-07 13:30] camilamacedo86 commented on #2984
Hi @rcernich,

We should not longer keep the previous replaces in the go.mod. It should be only as follows + any specific module required for your project in the case it was customized and has implementations that are using other libs.

[code]

If the above information is not enough, could you please raise a new issue. The subject of this issue is `Upgrade guide for 0.17.x missing` and your scenar

[2020-05-07 13:57] rcernich commented on #2984
It would be helpful if there was some text that specified this.  If you are upgrading, you will have a replace section for the kubernetes dependencies (see upgrade to v0.16).  It's not clear that these should be the only operator-sdk related entries in go.mod.

[2020-05-07 14:06] joelanford commented on #2895
@cagrev The only other thing I can think of is that the operator can define `overrideValues` in the `watches.yaml` file that will override anything provided by the chart's default `values.yaml` and anything provided in the CR spec.

See https://sdk.operatorframework.io/docs/helm/reference/advanced_features/#passing-environment-variables-to-the-helm-chart for details.

If that's happening, there sh

[2020-05-07 14:07] rcernich opened #2986 "Upgrade guide for v0.17 is not clear"
## Bug Report

**What did you do?**

Modified `go.mod` by replacing the existing entries in `requires` and `replaces` with the versions listed in the upgrade guide.

**What did you expect to see?**

Successful execution of `go mod vendor`.

**What did you see instead? Under which circumstances?**

The following errors:

[code]

**Environment**
* operator-sdk version:

N/A

* go version:

go versio

[2020-05-07 14:08] rcernich commented on #2984
Created #2986

[2020-05-07 14:38] rcernich commented on #2986
Here's a link to the [go.mod](https://github.com/Maistra/istio-operator/blob/36451f837d56e64fb8c08cdecb7db5741ecad79d/go.mod) for v0.16

[2020-05-07 16:26] rcernich commented on #2986
We're using helm internally and removing the replaces section which pins k8s 1.16.2, causes import issues with helm.

[2020-05-07 16:50] camilamacedo86 commented on #2986
HI @rcernich,

The go.mod[1] linked by you on top is NOT updated/changed as described in the migration guide.
Did you link the correct version one? If yes, please see that the versions were not updated as you are still using the old replaces and versions which are no longer required.
[1] - https://github.com/Maistra/istio-operator/blob/36451f837d56e64fb8c08cdecb7db5741ecad79d/go.mod

[2020-05-07 16:56] rcernich commented on #2986
That is correct, it is old.  The documentation does not say anything about removing any of the existing requires or replaces, so I didn't remove anything.  That said, removing those allowed me to progress, but I was still getting errors.  Initially, it would pull in v1.13.0 for k8s.io/kubernetes.  Changing that to v1.17.4, allowed me to get past those errors, but then I started getting v0.0.0 erro

[2020-05-07 17:01] joelanford commented on #2986
Yeah, this seems like a dependency issue that is a result of some extra libraries that your operator is importing/using. Kubernetes is a rats nest of dependency resolution problems (but at least that has been improving lately :slightly_smiling_face: )

I'd have to also spend on time trying to help you chase this down for your repo, but one place to start that _may_ help is the operator-sdk's [go.m

[2020-05-07 17:08] rcernich commented on #2986
From a docs perspective, I think the important thing here is that there is no mention about removing that other replaces section.  I deal with my own import issues, and removing the replaces section that pinned to k8s 1.16.2 did help.  I suspect users may also need to remove many of the k8s.io imports in their requires section too, to have them updated with newer versions.

[2020-05-07 18:08] camilamacedo86 commented on #2986
HI @rcernich,

Each upgrade section is from -1 version to the specific one. So, the migration section guide 0.17 expected that you have a project which is already upgraded to 0.16 successfully. So, as the first step we have:

POV is that since it is a common process to upgrade the projects is quite intuitive that it means to replace the previous modules for [0.16](https://sdk.operatorframework.io/

[2020-05-07 18:49] joelanford commented on #2986
IIUC, go auto-promotes dependency versions in the `requires` section if a transitive dependency requires a more recent version. An example of this is the client-go version being sticky on its `v12.0.0+incompatible` version, and us having to use `replaces` to pin it to `v0.18.2`.

The difficult part is that operator-sdk and controller-runtime have a subset of the k8s.io dependencies as their depend

[2020-05-07 19:01] rcernich commented on #2986
@camilamacedo86, I guess that wasn't clear to me.  I did ensure that those were present and it didn't work.  What it didn't say was that I also had to remove what was required from the previous release.  And because this wasn't clear, I've also got replacements from previous upgrades, which I assume are no longer necessary.  I think what really threw me off were the `Pinned to kubernetes-1.16.2` c

[2020-05-07 19:06] camilamacedo86 commented on #2986
Hi @rcernich,

Really tks for the reply. The `Pinned to kubernetes-1.16.2` was required before 0.17. Now, it is no longer required and is really more implied which I hope that help the users in the one migrations.

I am closing this one since shows that all is sorted out. However, please feel free to contribute with and/or ping us to re-open this one or create a new one if you still needing some h

[2020-05-07 19:06] #2986 closed

[2020-05-07 19:07] rcernich commented on #2986
@joelanford, TBH, it probably makes sense to continue to include the replacements for k8s.io dependencies, so you have something that is at least consistent with a particular operator-sdk version.  If a particular operator requires some other k8s.io module that isn't imported through operator-sdk, they should be able to deal with that.  I think this also holds true for k8s.io version too, e.g. if

[2020-05-07 19:12] joelanford commented on #2986
Hmm. `v0.17.0` no longer requires `k8s.io/kubernetes`. This repo is what necessitated the use of `replaces` for a bunch of `k8s.io` repos (because `k8s.io/kubernetes` go.mod used v0.0.0 versions in `requires`)

Now that SDK no longer requires `k8s.io/kubernetes`, projects that import SDK _AND_ don't themselves depend on `k8s.io/kubernetes` can remove those `k8s.io` replacements. That's why they ar

[2020-05-07 19:17] rcernich commented on #2986
Thanks @joelanford. As you said, this could be a result of our dependencies.  That said, my biggest issue was with the helm import, which I expected would work given that operator-sdk supports helm.  I think the other issue was that kubectl moved into its own project.  Anyway, I'm willing to accept that it's because of my requirements, not operator-sdk.  And my original problem was that it wasn't

[2020-05-07 20:26] mkimuram commented on #2980
@camilamacedo86

Thank you for your comment.

Let me explain this issue more in detail.

To make operator cluster-scope, changes like [this](https://github.com/mkimuram/operator-sdk-samples/commit/e555bb0bf0c810b232b5b18490b2a744c88d3a4c) is required, as the document explains. So, for this particular case, users actually don't care what namespace it is, but it should be some specific one in order

[2020-05-07 21:43] ktreese commented on #2262
@fabianvf I've never written a single piece of go.  I suppose that would be a prerequisite towards helping implement this?

[2020-05-08 00:11] estroz commented on #2983
@aharbis we could skip auto-selecting `x-descriptors` if an `x-descriptors` annotation is present on a field.

Note that with #2792, when you migrate to the new marker format, you get the behavior for free because the SDK will no longer auto-select `x-descriptors`. Obviously that's not a fix because it isn't a released feature yet; we should implement my suggestion or something similar for the cur

[2020-05-08 00:26] alexeldeib commented on #2633
FWIW, I ran into a similar error in a project which was trying to do something like discovery under the hood. This is the raw error returned for  List call against the indicated type. Some code, perhaps in a deep library, or if you are using discovery perhaps somewhere in that, is trying to make the List call without appropriate permissions.

[2020-05-08 00:35] estroz commented on #2979
@mdbooth I am unable to reproduce this issue when downloading from the v0.17.0 release:
[code]

With `$GOPATH` unset:
[code]

With `$GOPATH` set:
[code]

This sounds like an environment issue.

/triage not-reproducible

[2020-05-08 00:39] estroz commented on #2977
@gyliu513 we're currently working on a migration solution. Will keep you posted on this.

@dmesser @shawn-hurley @joelanford

/triage support

[2020-05-08 00:40] estroz commented on #2967
@gyliu513 yes v0.17.1 will work with all aspects of a v0.17.0-built project. It is worth bumping patch versions if possible.

[2020-05-08 00:44] #2974 closed

[2020-05-08 01:37] estroz commented on #2832
I think this is fixed. Re-open if not.

[2020-05-08 01:37] #2832 closed

[2020-05-08 01:37] estroz commented on #2790
Is this done?

[2020-05-08 01:58] camilamacedo86 commented on #2790
Not yet @estroz. See: https://github.com/operator-framework/operator-sdk/search?q=replace+it+for+yaml+%22sigs.k8s.io%2Fyaml%22&unscoped_q=replace+it+for+yaml+%22sigs.k8s.io%2Fyaml%22

also, when it gets done we will able to remove the dep gopkg.in/yaml.v3 from go.mod

[2020-05-08 15:05] estroz commented on #2938
@aharbis I will look into why status is reporting errors erroneously. Hopefully this isn’t blocking you from using the command.

[2020-05-08 17:33] yazug opened #2994 "default text on website build tab "Lorem ipsum dolor sit amet""
https://sdk.operatorframework.io/build/

CREATE AND DEPLOY AN APP-OPERATOR

Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo consequat. Duis aute irure dolor in reprehenderit in voluptate velit esse cillum dolore eu fugiat nulla

[2020-05-08 17:59] cybertron commented on #2863
I ended up re-creating the project from scratch and didn't have this problem the second time around.

[2020-05-08 17:59] yazug commented on #2994
looks like pull request 2992 might be related

[2020-05-08 18:03] asmacdo commented on #2994
Thanks for filing an issue! Closed by https://github.com/operator-framework/operator-sdk/pull/2992

[2020-05-08 18:03] #2994 closed

[2020-05-08 18:18] jmccormick2001 commented on #2979
I tried this on a Centos box with the 0.17 released binary, and also from a local build of master, both seem to work so not sure what could be the issue.

[2020-05-08 18:25] aharbis commented on #2938
Not a blocker. Since the installation seems to work / succeed I'm just ignoring the failure log for now. 😄

[2020-05-08 19:35] mmellin opened #2996 "How to customize container image references when using Operators/OLM?"
## Type of question

**Are you asking about community best practices, how to implement a specific feature, or about general context and help around the operator-sdk?**

This is a general context question relating to the use of Helm-based Operators and OLM.

## Question
I have a use case to deploy applications in various 3rd party airgapped environments. This is defined as one without Internet conn

[2020-05-08 19:45] IBMRob opened #2998 "Upgrade instructions unclear"
## Bug Report

**What did you do?**

Currently we use the following command to create a manifest directory which contains the csv and CRDs of the operator in question `operator-sdk generate csv --csv-version=1.0.0  --update-crds`
After this we then use `operator-sdk bundle create image:1.0.0 --directory deploy/olm-catalog/operator/ --package operator --channels stable,beta --default-channel stable

[2020-05-09 06:04] ssecond commented on #2979
yes, it seems to work, thanks

[2020-05-10 00:43] kanekoh commented on #2913
I am not the expert of Ginkgo/Gomega however, I don't think that is good idea implementing e2e tests using operator-sdk with the unrecommended way which was mentioned the issue you linked.

[2020-05-10 23:42] camilamacedo86 commented on #2984
Closing it since shows that all is sorted out. However, please feel free to re-open if you think that anything else should be addressed here.

[2020-05-10 23:42] #2984 closed

[2020-05-10 23:57] camilamacedo86 commented on #2998
HI @IBMRob,

- Regards the warning :

Note that the deprecated message will be revert. More info: https://github.com/operator-framework/operator-sdk/issues/2967#issuecomment-624115767

- Regards the bundle command:

By using the SDK 0.17 when you run `operator-sdk generate csv --csv-version=1.0.0 --update-crds` it will generate the manifest dir in for example : `./deploy/olm-catalog/memcached-oper

[2020-05-11 00:08] camilamacedo86 commented on #2972
HI @skycmoon,

It was requested and deferred in the past already. See #1600.

Also, you can check in #2568 all information provided over how it works to allow you to create your makefile target.

Please, let us know if it answers your question and if we can close this one.

[2020-05-11 05:54] CohenAviad opened #3001 "Failed to run Operator with: operator-sdk run --olm --operator-version 0.1.0 --install-mode AllNamespaces="""
## Bug Report

**What did you do?**
My operator watches all namespaces (WATCH_NAMESPACE="").
I run my operator using the following command:
`operator-sdk run --olm --operator-version 0.1.0 --install-mode AllNamespaces=""`

And it got stuck on:
[code]

**What did you expect to see?**
Generally, my operator finally running.
The reason my operator didn't run is because the csv was not installed due t

[2020-05-11 11:05] umangachapagain opened #3002 "CSV not getting generated"
## Bug Report

**What did you do?**
A clear and concise description of the steps you took (or insert a code snippet).
[code]
[code]
[code]
and,
[code]

**What did you expect to see?**
A clear and concise description of what you expected to happen (or insert a code snippet).
Successfully generated CSV

**What did you see instead? Under which circumstances?**
A clear and concise description of what

[2020-05-11 11:35] camilamacedo86 commented on #2980
HI @mkimuram,

Thank you for your detailed reply. Following some considerations.

Note that, the `operator-scope` defines the [Manager](https://godoc.org/sigs.k8s.io/controller-runtime/pkg/manager#Manager) cache scope but not the permissions to access the resources.

By looking at the errors added by you it shows that the issue is faced when the test-framework will create the [resources dynamicall

[2020-05-11 13:10] dmesser commented on #2977
@gyliu513 The `opm` tool will be able to convert a single version of an operator in package manifest format to bundle manifest format. We are currently working on a wrapper script to make this run in a loop to produce bundles for all versions in a package.

[2020-05-11 13:16] gyliu513 commented on #2977
@dmesser what is `opm`?

[2020-05-11 14:49] dmesser commented on #2977
@gyliu513 A new [tool](https://github.com/operator-framework/operator-registry/blob/master/docs/design/opm-tooling.md) that comes with the new bundle format: https://github.com/operator-framework/community-operators/issues/1680

[2020-05-11 14:49] asmacdo opened #3004 "angle brackets in website CLI docs are treated as html"
### Problem

In markdown `<` and `>` are special characters, and will render as html. The CLI docs use these characters for variables, which do not render correctly on the website.

https://sdk.operatorframework.io/docs/cli/operator-sdk_generate_k8s/#synopsis
![Screenshot from 2020-05-11 10-32-27](https://user-images.githubusercontent.com/1028657/81573832-07d2d080-9373-11ea-8b37-b1698b77ce18.png)

[2020-05-11 15:17] IBMRob opened #3005 "e2e test fails with additionalPrinterColumns in v1 CRDs"
## Bug Report

**What did you do?**
Create v1 CRDs which include additionalPrinterColumns i.e.

[code]
These were generated using `operator-sdk generate crds --crd-version v1`. These CRDs will deploy fine. When running e2e test, it fails. If I switch the CRDs to use the v1beta1 API then the e2e runs without issue.

**What did you expect to see?**

The e2e test to run as normal

**What did you see

[2020-05-11 15:23] estroz commented on #3002
@umangachapagain I am able to reproduce this issue specifically with ocs-operator. Furthermore, a project isn't being detected despite a `build/Dockerfile` existing:
[code]
This does not occur for other operator projects I've tested.

/kind bug
/assign

[2020-05-11 15:35] estroz commented on #3002
Ignore the above comment, my environment was not configured properly. I was actually able to run `generate csv` successfully, both with defaults and the verbose flag usage you posted. @umangachapagain do you have a specific branch you are working on? `master` uses `operator-sdk` v0.10.0, so I'm assuming so.

/triage not-reproducible
/remove-triage support

[2020-05-11 16:50] zroubalik opened #3006 "Connecting to a Kubernetes Service when running the operator locally"
## Feature Request

**Is your feature request related to a problem? Please describe.**
When I run operator locally via `operator-sdk run --local,` it would be nice if the operator could connect to and resolve internal kubernetes services eg. `myservice.default.svc.cluster.local`

**Describe the solution you'd like**
It would be beneficial for users, as they would have the same experience when deve

[2020-05-11 18:05] joelanford commented on #2979
@ssecond @mdbooth Did you see https://github.com/operator-framework/operator-sdk/issues/1854#issuecomment-525132306?

Pretty sure it's the same issue.

[2020-05-11 18:05] mkimuram commented on #2980
Hi @camilamacedo86

Actually, [the linked branch](https://github.com/mkimuram/operator-sdk-samples/commits/cluster-scope-e2e) is modified on top of the fork from master branch of `operator-framework/operator-sdk-samples`. So, as a code level, I think that I've narrowed down the cause in a way as you suggested, but I failed to explain it clearly.

So, let me explain it step-by-step, again.

There a

[2020-05-11 18:07] estroz commented on #2968
/cc @fabianvf

[2020-05-11 18:08] estroz commented on #2996
/assign

[2020-05-11 18:13] estroz commented on #2998
/assign

[2020-05-11 18:15] estroz commented on #2972
Since this question has already been addressed, closing.

[2020-05-11 18:15] #2972 closed

[2020-05-11 18:16] estroz commented on #3001
This is a bug that was fixed in v0.17.0. If this is back-portable I will create a v0.16.1 release.

/kind bug
/assign

[2020-05-11 18:22] estroz commented on #2977
/assign

[2020-05-11 18:25] estroz commented on #3004
This is a tooling feature, the [cli doc generator](https://github.com/operator-framework/operator-sdk/blob/master/hack/generate/cli-doc/gen-cli-doc.go) needs to be updated.

[2020-05-11 18:29] estroz commented on #3006
Might also be worth addressing in kubebuilder since we're transitioning.

/kind feature

[2020-05-11 18:43] estroz commented on #3005
@IBMRob did you modify the generated CRD manifest by hand? Looks like your validation schema syntax is invalid:
[code]
should be:
[code]
according to [CRD versioning docs](https://kubernetes.io/docs/tasks/access-kubernetes-api/custom-resources/custom-resource-definition-versioning/#specify-multiple-versions).

/triage support

[2020-05-11 18:45] estroz commented on #2998
@IBMRob some instructions on migrating: #2977. More to come.

[2020-05-11 18:48] estroz commented on #2663
@flickerfly is this still an issue with a more recent version? This may have been fixed by an unrelated PR.

[2020-05-11 19:31] estroz commented on #2933
@AdheipSingh a controller reconciles a single object, which is an instantiation of your `Druid` type. Any operation related to managing that object should be dealt with in that controller, ex. your Deployments and StatefulSets if they are created by a `Druid`.

For more info on controllers, check out this [overview](https://book.kubebuilder.io/cronjob-tutorial/controller-overview.html).

Feel free

[2020-05-11 19:31] #2933 closed

[2020-05-11 20:27] mkimuram commented on #2913
Just for removing dependency to `testing.T`, changes like [this](https://github.com/mkimuram/operator-sdk/commit/a0c46ab9b616fd16efb982c0a9d76c216456a2e9) in operator-sdk will be fine, as similar approach was done [here](https://github.com/operator-framework/operator-sdk/pull/1195). Then, it will allow passing `nil` to `testing.T`, so we don't need to access to it in ginkgo test like [this](https:

[2020-05-11 20:50] IBMRob commented on #3005
@estroz - According to that page I think our CRD is valid. It shows the example of
[code]

This shows that additionalPrinterColumns comes under versions.

Using `operator-sdk generate crds` and the e2e test works
Using `operator-sdk generate crds --crd-version v1` and the e2e test fails.  We don't manually edit and of the files CRDs

[2020-05-11 20:53] AdheipSingh commented on #2933
@estroz thanks a lot for clearing the doubt.

[2020-05-11 21:07] estroz commented on #3005
You are correct, I wasn't looking at the scheme correctly. I'm looking into this now.

[2020-05-11 21:16] estroz commented on #3005
Funnily enough I'm seeing the opposite of your issue on both v1.17 and v1.18 clusters:
[code]
[code]

[2020-05-11 21:23] estroz commented on #3005
I found the issue: v1 CRD Go types have the [`jsonPath`](https://godoc.org/k8s.io/apiextensions-apiserver/pkg/apis/apiextensions/v1#CustomResourceColumnDefinition) struct JSON tag, while v1beta1 CRD types have [`JSONPath`](https://godoc.org/k8s.io/apiextensions-apiserver/pkg/apis/apiextensions/v1beta1#CustomResourceColumnDefinition). It seems somewhere, either during some internal conversion step

[2020-05-11 21:47] estroz commented on #3005
@IBMRob running `generate crds` with `--crd-version` values of both v1 and v1beta1 gave me valid CRD manifests. I have the [`+kubebuilder:printcolumn`](https://book.kubebuilder.io/reference/markers/crd.html) on my type to set `additionalPrinterColumns`; I assume that is what you're doing as well? I'll look at any conversions the test framework does next for potential issues.

[2020-05-11 22:00] estroz commented on #2913
Even though passing `testing.T` like you have done is not recommended, it is probably the best way to use Ginkgo/Gomega in conjunction with the SDK's e2e testing library for the foreseeable future.

Instead of continuing development of the SDK's e2e framework, we are going to start promoting [`envtest`](https://godoc.org/sigs.k8s.io/controller-runtime/pkg/envtest) as the go-to operator e2e test fr

[2020-05-11 23:51] camilamacedo86 commented on #2980
Hi @mkimuram,

Really thank you for your collaboration and great effort on it. Today we discussed this issue in the Bug Traigged meeting. The current strategy is to integrate the project with Kubebuilder. We are near to achieve this goal and then, the test-framework will be deprecated soon.

In this way, we will start to recommend to use the env-test instead of it. See: https://book.kubebuilder.io

[2020-05-11 23:51] #2980 closed

[2020-05-12 06:45] umangachapagain commented on #3002
We are working on moving to sdk 0.17.0 and new bundle format here: https://github.com/openshift/ocs-operator/pull/482
This is where we hit the problem with csv generation.

Using old sdk with old bundle format works fine.

[2020-05-12 06:53] IBMRob commented on #3005
@estroz - Yeah I have the following lines in my types.go
[code]

As you say the CRDs appear to be valid and apply with no issue so suspect it is some conversion somewhere. Thanks for investigating

[2020-05-12 13:28] Jamstah opened #3010 "Support ordering of status conditions"
## Feature Request

**Is your feature request related to a problem? Please describe.**
The `status.conditions` array of a CR can be ordered to be able to place conditions of a higher importance at the top of the list, which will then be reflected in UIs and on the Kubernetes command-line to help users identify problems.

When using the Operator SDK, new conditions are appended to the array, so ord

[2020-05-12 15:58] mkimuram commented on #2980
@camilamacedo86

It sounds a good idea to leverage libraries. And envtest seems to provide a good interface.

However, for this particular use case, we need to modify manifests from files and envtest currently doesn't seem to provide a way to do it. (Actually, even without this use case, modifying `metadata.namespace` would be required for testing in auto-generated namespace, which is needed for r

[2020-05-12 17:01] fabianvf commented on #2262
@ktreese it wouldn't hurt, though if you're familiar enough with other programming languages I don't think it would be too hard. I was thinking of making this a more general feature by adding a command line flag to the operator-sdk `exec-entrypoint` and `run --local` subcommands for Ansible-based Operators that allowed a user to specify arbitrary CLI arguments that we pass through to ansible-runne

[2020-05-12 22:35] mkimuram commented on #2980
Also, I noticed that envtest has [strict check](https://github.com/kubernetes-sigs/controller-runtime/blob/master/pkg/envtest/crd.go#L370) to only create CRD, so it needs to be modified to allow creating k8s resources, like sa and rolebinding.

[2020-05-12 23:07] estroz commented on #3002
This issue is arising from incorrect CSV formatting in the PR and #3015, which will cause an error if `---` isn't removed from a manifest before parsing.

[2020-05-12 23:08] estroz commented on #3002
/remove-triage not-reproducible
/kind bug

[2020-05-12 23:12] estroz commented on #3005
@IBMRob apologies if I'm misunderstanding, but you're saying the issue is resolved?

[2020-05-13 00:49] #3002 closed

[2020-05-13 03:02] joelanford commented on #2980
@mkimuram

In Kubebuilder, the default operator scope is cluster-scoped, which makes running tests in parallel quite a bit more difficult (if not impossible) since multiple instantiations of the operator would all try to reconcile any CR that gets created. `envtest` is quite a bit different than the SDK test-framework so some of the concepts (like auto-generation of random namespaces) won't transl

[2020-05-13 04:24] estroz commented on #2996
@mmellin does `helm` not provide utilities to manage chart values?

Otherwise have you looked into [`kustomize`](https://github.com/kubernetes-sigs/kustomize/)? You can define variables and apply them to a set of base manifests. I don't think this plays nicely with Helm charts though.

[2020-05-13 06:21] mmellin commented on #2996
Hi @estroz, thanks for your reply.

We are currently using Helm charts and yes we have no trouble here.  However with OLM the manifests no longer use Helm to install, and furthermore, are "baked" into the containers (such as CatalogSource in the bundle/CSV).  Image references are statically included within a CSV for an operator. This and other manifests are included in a "bundle" and then built in

[2020-05-13 07:56] IBMRob commented on #3005
@estroz - Sorry for the confusion -  no the issue is still there. I was clarifying that the generated CRDs do appear to be valid and will apply to a cluster without issue.  The issue only occurs when attempting to run the e2e framework which results in the error highlighted.

[2020-05-13 09:51] gyliu513 commented on #2977
FYI @chenzhiwei @DanielXLee @horis233

[2020-05-13 12:21] AnilKumarBandi27 opened #3019 "Can we deploy one operator from the other operator ?"
I want to invoke one operator from other operator. Is it possible to deploy an operator from other operator.

[2020-05-13 14:50] akram opened #3020 "Operator logs are not showing in stdout with -localOperator while running tests"
## Type of question
help around the operator-sdk

## Question

I am trying to run e2e tests using the operator-sdk passing -localOperatorFlags "--debug"

**What did you expect to see?**
I want to see the operator logs in debug mode in stdout with the e2e tests logs.

**What did you see instead? Under which circumstances?**
I see only my e2e logs

**Environment**
* operator-sdk version:
0.17.0

  i

[2020-05-13 14:50] estroz commented on #2996
@mmellin thanks for clarifying, I didn’t fully understand the issue. I highly recommend re-opening this issue in the OLM repo. They may have more insight into how such a situation could be handled.

[2020-05-13 16:32] cscetbon opened #3022 "How do you get an EventRecord when writing unit tests ?"
I can't find a way to create one that is needed during my reconcile. I'm using version v0.15.0 and I can't see any example doing so at https://github.com/operator-framework/operator-sdk-samples

[2020-05-13 21:16] mikkeschiren opened #3031 "Ansible: Slower with many pods"
## Type of question

Best practice

## Question

**What did you do?**
I have built an operator that creates new pods when deploying - each pod represents a site and have config maps secrets etc managed by the operator. After a while, when many pods up using the operator - it is getting slow in the response, running through in loops all deployments using the operator. So if possible how do I make t

[2020-05-13 21:43] mikkeschiren commented on #3031
Maybe related to #2358 ?

[2020-05-14 03:32] mmellin commented on #2996
@estroz I will do so! Thanks.

[2020-05-14 04:59] joelanford commented on #2942
@tmckayus Sorry it took me so long to get back to this. It looks like loading and then saving is not round-trippable, which is maybe a bug in Helm. I posted an issue (https://github.com/helm/helm/issues/8120) asking about this. We'll see what the outcome of that is.

I think in the worst case, we can copy the `SaveDir` code into the SDK repo and tweak it to save without tgz'ing the subcharts, and

[2020-05-14 05:03] joelanford commented on #2790
The only place this still remains is in `pkg/ansible/watches/watches.go`. I'll take a look at fixing that file as soon as I get a chance.

[2020-05-14 13:00] akram commented on #3019
@AnilKumarBandi27 the responsibility of an operator is generally restricted to the CR it manages and the resources that are linked to this CR.
Invoking another operator whatever the way may not be a great design.

What would make more sense maybe is to create a CR object in your operator B that will trigger the expected actions of Operator A, and potentially read the status to execute what you wan

[2020-05-14 18:27] bharathi-tenneti commented on #3020
@akram Can you please try `$ operator-sdk run --local --operator-flags="--zap-level=debug"`

[2020-05-14 21:37] mkimuram commented on #2980
@joelanford

Thank you for your comment and sharing information.

I agree with you that it would be a pain. So, we need to port part of them somewhere, if we use this approach.

I see. Thank you.

I understand that envtest works for both mocked controller and real k8s controller. And your comment above seems to mention mocked controller case for integration test, while I'm interested in real k8s c

[2020-05-14 21:54] jkremser commented on #2745
fyi https://github.com/jvm-operators/abstract-operator (I don't work for Red Hat anymore, though)

[2020-05-15 07:30] apasrini opened #3050 "Failed to build image with operator-sdk build api on s390x platform"
## Bug Report

https://github.com/operator-framework/operator-sdk/issues/2392 - Facing same issue but workaround of getting main.go to the root seem to not work for me. I am using s390x platform build of operator-sdk and hitting with the below issue

"github.ibm.com/Cloud-Integration/ibm-appconnect-operator/cmd/manager"}: exec: "go": executable file not found in $PATH"

**Environment**
* operator-

[2020-05-15 08:28] liqlin2015 opened #3051 "Helm Operator: failed to upgrade if there is job in chart"
## Bug Report

**What did you do?**
I was using helm operator to manage my application chart.

**What did you expect to see?**
When I publish new version of my operator operator itself was successfully upgraded. But my application helm release was not upgraded because of error
[code]

The problem is k8s Job itself is readonly, which might be k8s default behaviour. helm just cannot update job as re

[2020-05-15 08:34] realmjian opened #3052 "In Ansible operator module k8s_log can not get Pod log"
## Bug Report

**What did you do?**

In Ansible operator, use k8s_log module of Ansible Kubernetes collection to get specific Pod log failed.

Same Ansible role works well out of the operator.
Same Ansible role works well inside the operator when manually run the roles with ansible-runner cmd.(After "oc exec -ti ....." to the Pod)

**What did you expect to see?**
Return correct Pod log.

**What di

[2020-05-15 09:23] odra opened #3053 "ansible extra system packages installation"
## Type of question

**Are you asking about community best practices, how to implement a specific feature, or about general context and help around the operator-sdk?**

general context and help around the operator-sdk

## Question

**What did you do?**

This is an ansible operator question.

I would like to install extra packages in the operator-sdk ansible image (such as gcc).

I wanted to instal

[2020-05-15 12:04] camilamacedo86 commented on #3050
Hi @apasrini,

See that in #2392 the issue `executable file not found in $PATH"` was faced with `GOARCH="amd64"` and not `s390x`. Also, it was closed because shows that the user could fix his local env and all lead to being related to the wrong local env setup.

Let's bring here from there the @hasbro17's comment which is relevant for your case. Could you please check and let us know?

Also, could

[2020-05-15 15:02] camilamacedo86 commented on #3019
HI @AnilKumarBandi27,

**If you are looking for to define that the Operator A depends on the Operator B:**

Then, I'd recommend you check the [Dependency Resolution](https://github.com/operator-framework/operator-lifecycle-manager#dependency-resolution) option from OLM which allows you to do that.

**If you are looking for using the API from Operator A in Operator B:**

Yes, it is possible. Let's

[2020-05-15 15:02] #3019 closed

[2020-05-16 00:13] estroz commented on #3001
@CohenAviad this bug was fixed in v0.17.1. Can you use that version or do you need a patch release of v0.16?

[2020-05-16 00:15] estroz commented on #2663
Closing this, feel free to re-open if your issue is not fixed in the most recent applicable version.

[2020-05-16 00:15] #2663 closed

[2020-05-16 00:15] estroz commented on #2967
Fixed in v0.17.1.

[2020-05-16 00:15] #2967 closed

[2020-05-16 06:48] tengqm commented on #3053
You can try this (not sure if legitimate):

[code]

That is, switch back to root for software install and then back to the user named `ansible-operator`.

[2020-05-17 13:38] tengqm commented on #1217
Updated proposal link: https://github.com/operator-framework/operator-sdk/blob/master/proposals/kubebuilder-integration.md

[2020-05-17 14:03] CohenAviad commented on #3001
@estroz
thanks for the quick response.

I verified the bug isn't reproduced in operator-sdk v0.17.1. I will use that version, no reason for a patch.

[2020-05-17 14:03] #3001 closed

[2020-05-18 15:11] odra commented on #3053
oh ok, let me give it a try

[2020-05-18 15:13] odra commented on #3053
it did the tick :-)

thanks for the help

[2020-05-18 15:13] #3053 closed

[2020-05-18 15:45] fabianvf commented on #2968
It looks like the log message is coming from either `ansible-runner` or the `[ansible-runner-http](https://github.com/ansible/ansible-runner-http)` plugin, and it looks like the failure is just an issue handling the formatting of an incoming message for logging, but I don't think it should affect the execution of your business logic. If your playbook is executing as expected I would disregard the

[2020-05-18 15:45] #2968 closed

[2020-05-18 16:26] kensipe commented on #3022
@cscetbon thanks for the issue... could you clarify a couple of things?   The title and desc seem like different things.   Are you looking for help with unit tests?  or are you looking for examples for create EventRecords doing reconcile?   What is the focus of this issue?

[2020-05-18 16:27] kensipe commented on #3050
Any progress here @apasrini ?

[2020-05-18 17:47] cscetbon commented on #3022
@kensipe sorry nvm I got the answer from guys on the controller-runtime project. That’s was to create a fake recorder for unit tests. I’m closing the ticket. Thanks

[2020-05-18 17:47] #3022 closed

[2020-05-18 17:47] cscetbon commented on #3022
It might be a good idea to Add something about that in your documentation

[2020-05-18 18:14] estroz commented on #3031
/cc @fabianvf

[2020-05-18 18:14] camilamacedo86 commented on #3022
Also, it shows that it would be similar to https://github.com/kubernetes-sigs/kubebuilder/issues/549#issuecomment-613506558. @cscetbon also I think that would be great if you be able to add here the solution found in order to help others that may face the same. WDYT?

[2020-05-18 18:17] joelanford commented on #3051
@liqlin2015 When you're using this chart with the `helm` CLI, are you able to upgrade it? I'm trying to figure out if this is an issue with the Helm operator, or if there is something that is specific to the use of Jobs in Helm charts that causes problems like this.

[2020-05-18 18:17] kensipe commented on #3052
/cc: @fabianvf

[2020-05-18 18:20] fabianvf commented on #3031
could you post your `watches.yaml`, or ideally a link to your operator?

Is the issue you're seeing that the Ansible is frequently reconciling all of the created Custom Resources, rather than intelligently responding to new events? If so you may want to set `reconcilePeriod` to 0 in the `watches.yaml`, which means that resources will only be reconciled when an event comes in, either from a watched

[2020-05-18 18:22] fabianvf commented on #3052
Very strange, could you post the task that is failing in this way, as well as the output from running it? Also, what base image are you using and how did you install the Kubernetes Ansible collection?

[2020-05-18 19:43] cscetbon commented on #3022
@camilamacedo86 so actually the goal was to get a recorder in order to call the reconcile which is done when the controller is initialized but not in unit tests. I ended up doing something like
[code]
the fake recorder is provided by k8s.io/client-go/tools/record

[2020-05-18 21:36] grosser opened #3066 "use lease-api for leader election to reduce request spam"
see https://github.com/kubernetes/kubernetes/issues/80289

[2020-05-19 04:31] jianzhangbjz opened #3069 "Failed to build operator image"
## Bug Report

[code]
**What did you do?**
A clear and concise description of the steps you took (or insert a code snippet).

**What did you expect to see?**
A clear and concise description of what you expected to happen (or insert a code snippet).

**What did you see instead? Under which circumstances?**
A clear and concise description of what you expected to happen (or insert a code snippet).

*

[2020-05-19 11:26] b1zzu opened #3070 "Use operator-sdk run --olm to test operator upgrades"
## Feature Request

**Is your feature request related to a problem? Please describe.**
We would like to test our operator upgrade ( [integreatly-operator](https://github.com/integr8ly/integreatly-operator) ), and to do it we have to install the current stable version of the operator, and then upgrade it to a pre-release version or to the master version.

What we are currently doing is packaging th

[2020-05-19 12:31] leszko opened #3071 "Add support for buildx and QEMU"
## Feature Request

**Is your feature request related to a problem? Please describe.**
We would like to build multi-arch operator images on amd64 machine.

**Describe the solution you'd like**
We would like to build operator images with [Docker buildx builder](https://docs.docker.com/buildx/working-with-buildx/), so that you could easily build multi-arch operator image from the amd64 machine.

[2020-05-19 14:54] camilamacedo86 commented on #3071
Hi @leszko,

The command `operarator-sdk build <image>` will mainly execute a `go build` and a `docker build`. See that in the scaffolded projects is possible to find the `build/` directory. There you will find the Dockerfile. Note that, in the comment https://github.com/operator-framework/operator-sdk/issues/2568#issuecomment-594747086 you will find a detailed explanation over how it works.

Howe

[2020-05-19 14:54] #3071 closed

[2020-05-19 20:57] joelanford commented on #3069
@jianzhangbjz It looks like something is off with the vendor directory of the project.

As suggested by the error message, can you run `go mod vendor` to sync and then rerun the operator-sdk build command?

[2020-05-19 21:20] joelanford commented on #3010
@Jamstah `Conditions` [currently sorts the conditions by type](https://github.com/operator-framework/operator-sdk/blob/700bef14e0514660ebae45f26213c74c4a66f51e/pkg/status/conditions.go#L185-L187) when marshaling and sending to the server.

The original idea was that the order of conditions doesn't matter semantically, BUT it is important for the order to be deterministic so that simple/accidental

[2020-05-19 21:21] joelanford commented on #2979
Closing since this seems like a duplicate. Please open a new issue if the responses don't help you resolve it.

[2020-05-19 21:21] #2979 closed

[2020-05-19 21:29] joelanford commented on #2925
@aharbis I don't think there's a whole lot the SDK itself can help with here. I'd suggest that you open an issue against the OLM repository to continue this discussion. I _think_ there are some features on the OLM roadmap that may help with this, and you'll get a faster response taking this issue up there.

Closing this one, but if there's something that comes out of the OLM issue that we could do

[2020-05-19 21:29] #2925 closed

[2020-05-19 21:32] joelanford commented on #2815
@depohmel Closing this one since I think it may be solved by upgrading your operator's base image to v0.17. If that doesn't solve your issue, please open a new issue with the logs from a 0.17-based operator and we can keep debugging!

[2020-05-19 21:32] #2815 closed

[2020-05-19 21:44] joelanford commented on #2608
@jpkrohling Can you confirm if your operator is watching all namespaces when you encounter this issue?

If the controller-runtime's `manager.Options.Namespace` field is set to `""` (i.e. all namespaces), then the controller-runtime cache will populate itself using informers that List and Watch at the cluster scope.

The controller-runtime client (likely the one you're using for this `.List()` call

[2020-05-20 06:09] estroz commented on #3070
This is actually something we're interested in implementing sooner than later, at least for bundles. It may be reasonable to do both `upgrade bundle` and `upgrade packagemanifests` (`upgrade --olm` in your example) because package manifests support is sticking around for awhile.

/kind feature
/priority important-soon

[2020-05-20 06:13] leszko commented on #3071
@camilamacedo86 Thanks a lot for the explanation and the links. I'll follow these steps.

[2020-05-20 06:19] estroz commented on #3066
Is there a way to make a [`Lease`](https://kubernetes.io/docs/reference/generated/kubernetes-api/v1.14/#lease-v1-coordination-k8s-io) object a singleton? It seems as though these leases are timed, i.e. applicable to leader-with-lease not leader-for-life, although it is a standard k8s object and can be used like a `ConfigMap`. Unfortunately there isn't great documentation on usage.

[2020-05-20 06:22] estroz commented on #1217
@tengqm thanks for updating this issue. `operator-sdk create webhook` is now available, but only for projects created with `operator-sdk init` (or those that have migrated to that layout). Since `init` is not the default and we do not have migration documentation written yet, I will not close this yet.

[2020-05-20 06:36] grosser commented on #3066
I'd assume the lease can be done for a fare future date, have not played
with it much though.

On Tue, May 19, 2020 at 11:19 PM Eric Stroczynski <notifications@github.com>
wrote:

[2020-05-20 09:16] b1zzu commented on #3070
Thanks, @estroz, if there is anything else I could help with this feature, let me know :)

[2020-05-20 10:45] camilamacedo86 commented on #3071
Hi @leszko,

Tks for the reply and please, feel free to raise new issues with questions if you need our help.

[2020-05-20 11:03] Jamstah commented on #3010
Thanks Joe.

Although I do think that allowing ordering could be useful for helping users, there is also this discussion where I asked about ordering:
https://github.com/kubernetes/community/pull/4521

I'm not k8s API expert so I don't know the ins-and-outs of how arrays are handled internally as maps etc, but it sounds like in a future revision of the spec, the Conditions array is going to be exp

[2020-05-20 11:21] realmjian commented on #3052
@fabianvf

ansible task

[code]
after creation of CR,the part of the Ansible result as below:

[code]

The base image is `quay.io/operator-framework/ansible-operator:v0.15.2`
I installed the Ansible collection in `build/Dockerfile`

[code]
Any problems with my usage?

Thanks.

[2020-05-20 11:34] tengqm commented on #3010
Given that conditions are defined on a per resource type basis, it would be difficult to devise a sorting function for conditions, if possible at all.
Just my 2 cents.

[2020-05-20 12:10] camilamacedo86 commented on #3052
The version 0.15.2 has not the support for ansible collection. It was just added on 0.16.0. The problem here shows that you are trying to use features that are shipped with upper versions whiteout to properly upgrade your project.

I'd recommend you check and follow up the specific steps for Ansible operators in the [migration guide](https://sdk.operatorframework.io/docs/migration/version-upgrade-

[2020-05-20 14:06] aharbis opened #3075 "Scorecard fails with proxyPod timeout, no logs"
## Type of question

**Are you asking about community best practices, how to implement a specific feature, or about general context and help around the operator-sdk?**

Support question with running `operator-sdk scorecard` command.

## Question

**What did you do?**

Set up a basic `.osdk-scorecard.yaml` config which lists only a single `basic` `cr-manifest`.

Run the `operator-sdk scorecard` com

[2020-05-20 15:06] jmccormick2001 commented on #3075
you might try doing a 'kubectl get pod' when you run scorecard, take a look at the container logs it spins up, sometimes that sheds light on what could be going wrong.

[2020-05-20 15:10] aharbis commented on #3075
@jmccormick2001 I tried that, by issuing `oc get pod -w` in a separate terminal window watching the same namespace, and no pods were ever created.

[2020-05-20 15:22] aharbis commented on #3075
Made a little progress, looking at the ReplicaSets instead. I can see our operator is failing to schedule due to missing ServiceAccount. However, I have the ServiceAccount defined in a bundled RBAC manifest YAML, which is specified in the config via `namespaced-manifest` and `global-manifest`.

Shouldn't the `scorecard` automatically apply those YAMLs before install?

[2020-05-20 15:28] estroz commented on #3070
@b1zzu will do. First we'll need an [enhancement proposal](https://github.com/operator-framework/enhancements), which one of the SDK approvers will be starting sometime in the next few weeks unless another community member takes it up first! Then review and implementation.

[2020-05-20 16:09] rcernich commented on #1217
Is the project layout documented, e.g. so I can simply add the resource into my project, without using sdk cli?

[2020-05-20 16:17] estroz commented on #1217
@rcernich the full project layout is documented throughout the [kubebuilder book](https://book.kubebuilder.io/). The section on scaffolding webhooks and where they live is [here](https://book.kubebuilder.io/cronjob-tutorial/webhook-implementation.html). Setup for new project layouts is similar to that for current ones, although you'll have to invoke [`controller-gen`](https://github.com/kubernetes

[2020-05-20 16:47] rcernich commented on #1217
Yeah, I guess I was just looking for something a little simpler, "put your webhook.yaml in this folder."  We already have a controller that we've been carrying along since 0.10.  FWIW, because we started so early, we haven't really been using the sdk cli to manage resources.

[2020-05-20 17:59] pgerv12 opened #3076 "How long does it take for release images to be published to quay.io?"
## Type of question
Release process

## Question
How long does it take for release images to be published to quay.io? It seems like there's been quite a few days between v0.17.1 release and the images being published to quay.io.

Specifically, I'm trying to build an updated Helm operator, but the build is failing because the v0.17.1 tagged image doesn't exist even though v0.17.1 has been released

[2020-05-20 18:59] estroz commented on #3076
@pgerv12 the v0.17.1 tag build is [failing](https://travis-ci.org/github/operator-framework/operator-sdk/builds/687542920) for some reason, looking into it now.

[2020-05-20 19:08] pgerv12 commented on #3076
Ah, ok. So it is driven through Travis. Thanks!

[2020-05-20 19:08] #3076 closed

[2020-05-20 20:05] jmccormick2001 commented on #3075
looking at the code, if OLMDeployed is false, then scorecard should create resources from the global and namespaced manifests.

[2020-05-20 22:43] aharbis commented on #3075
Makes sense. Something seems to be not working, though.

I've definitely got a `ServiceAccount` defined in my `namespaced-manifest`. However, the operator deployment is created and the ReplicaSet fails to schedule pods due to missing `ServiceAccount`.

There are zero helpful logs from the `scorecard` to indicate if it created, failed to create, failed to find, the ServiceAccount or other resources

[2020-05-21 00:18] estroz opened #3077 "olm: installing latest version (0.15.0) is broken"
## Bug Report

Placeholder issue for tracking https://github.com/operator-framework/operator-lifecycle-manager/issues/1534 in the SDK.

**What did you do?**
[code]

**What did you expect to see?**
[code]

**What did you see instead? Under which circumstances?**
[code]

**Environment**
* operator-sdk version:
[code]

* go version:
[code]

* Kubernetes version information:
[code]

* Kubernetes clust

[2020-05-21 00:19] estroz commented on #3077
/assign

[2020-05-21 02:17] joelanford commented on #3010
@Jamstah Thanks for the links. I had been following the Conditions KEP, but hadn't seen the community discussion. Based on the most recent comment there, I'll close this since it sounds like the direction will be `listType=map`, as you expected.

I'm definitely happy to revisit this if the upstream specification/guidance changes.

[2020-05-21 02:17] #3010 closed

[2020-05-21 06:48] jianzhangbjz commented on #3069
@joelanford Thanks for you suggestion! Unfortunately, `go mod vendor` failed.
[code]

[2020-05-21 06:53] jianzhangbjz commented on #3069
And, I tried to `use -mod=mod or -mod=readonly to ignore the vendor directory` this solution, but seems like the `GOFLAGS="-mod=mod"` doesn't work. The `-mod=vendor"` still exist when building this binary.
[code]

[code]

[2020-05-21 08:47] cliveseldon opened #3079 "bundle create command deletes manifests contents"
## Bug Report

**What did you do?**
Followed: https://sdk.operatorframework.io/docs/olm-integration/user-guide/
`operator-sdk generate csv --csv-version 0.6.0`
` operator-sdk bundle create --generate-only`

**What did you expect to see?**
The manifests and metadata to be created

**What did you see instead? Under which circumstances?**
The manifest files were zeroed. They exists but have been clea

[2020-05-21 08:55] camilamacedo86 commented on #3079
c/c @estroz

[2020-05-21 09:17] cliveseldon commented on #3079
Running:
[code]

sort of works - it creates a new manifests and metadata folders alongside an existing 0.6.0 folder copying the manifests from 0.6.0.

Its not clear whether package or manifest structure is the current way forward and how these commands work with these unless I am missing something?

[2020-05-21 10:37] demonCoder95 opened #3080 "Image build fails with "operator-sdk build" command"
## Bug Report
**What did you do?**
While following the [Getting Started](https://github.com/operator-framework/getting-started) guide, everything worked fine till the image building step.
[code]

**What did you expect to see?**
Expected to see a successful building of image

**What did you see instead? Under which circumstances?**
A failure with the following terminal output
[code]

**Environment*

[2020-05-21 14:24] jmccormick2001 commented on #3075
just to verify I'm on the same page, before I debug into this one, wanted to confirm that you have olm-deployed set to false, you are running only the basic tests, and that you still see this resource creation issue?

[2020-05-21 14:42] estroz commented on #3077
Appears to be fixed.

[2020-05-21 14:42] #3077 closed

[2020-05-21 15:01] realmjian commented on #3052
Thanks @camilamacedo86 for the advises.

I fresh installed operator-sdk v0.16.0,and created new Ansible operator.

Full Dockerfile as below:

[code]
[code]

Ansible task

[code]

[2020-05-21 15:34] estroz commented on #3079
@cliveseldon I believe this was fixed in v0.17.1, see #2879.

[2020-05-21 15:34] #3079 closed

[2020-05-21 16:33] aharbis commented on #3075
That's correct. I was using only a `basic` test with a manually created manifest containing the ServiceAccount, ClusterRole, ClusterRoleBinding, etc.

I've since moved to working on the OLM integration (since we **are** OLM enabled), and I've now run into an issue in which it seems the `scorecard` tries to create the CR before our webhooks have come up.

[code]

We see this when a CR is created im

[2020-05-22 00:36] madorn opened #3085 "operator-sdk olm status doesn't work for olm versions with no published assets"
## Bug Report

**What did you do?**
`operator-sdk olm status --verbose --olm-namespace "openshift-operator-lifecycle-manager"`

**What did you expect to see?**
`Successfully got OLM status`

**What did you see instead? Under which circumstances?**
`Failed to get OLM status: failed to get resources: failed to fetch CRDs: request failed: failed GET 'https://github.com/operator-framework/operator-lif

[2020-05-22 02:38] feicun opened #3086 "Set different reconcile period for different controllers"
## Type of question

How to implement a specific feature

## Question

Let's say I have two controllers, I'm looking for a way to set different reconcile/resync periods for each of the controllers.

**What did you do?**
In `main.go`, I have created a manager with customized resync period, and apply it to all controllers:
[code]

In my understanding, because all controllers are managed by this Mana

[2020-05-22 06:49] liqlin2015 commented on #2657
Thanks @joelanford for the analyze. I was using helm operator 0.13.0 when the problem happened. Then I moved to helm operator 0.15.2. Did not realize there is version change.

[2020-05-22 07:30] pre opened #3089 "Unpublished image quay.io/operator-framework/helm-operator:v0.17.1"
## Bug Report

**What did you do?**

Generate a new Helm operator:
- `operator-sdk new lolcat-operator --type=helm --api-version=rdx.net/v1alpha1 --kind=Lolcat`
- build the operator: `operator-sdk build lolcat-operator`

**What did you expect to see?**
Successful build.

**What did you see instead? Under which circumstances?**

Unpublished image `quay.io/operator-framework/helm-operator:v0.17.1`

[2020-05-22 11:18] lut777 opened #3090 "Validation items ".env" that should not appear in a custom CRD"
##Background

I'm implementing a controller.
Naturally, I need to define my CRD resources.
According to the doc, I made changes to the xxx_type.go file to define my CRD file.

## Type of question

No exceptions appear after modifying the file. No errors in the compilation.
HOWEVER, when I execute `kubectl apply -f ./relative_crd.yaml`,  validator reports an error.
The error says: `blablablabla, .e

[2020-05-22 14:05] #2727 closed

[2020-05-22 16:35] aravinder111 commented on #1350
Hi @camilamacedo86, do you see Ansible operator managing a specific k8s resource ? I can do it in GO, but ansible operator `watches.yaml` doesn't provide a way to watch for example a specific configmap ?

[2020-05-22 16:56] aravinder111 opened #3094 "can ansible operator watch a specific k8s resource"
## Type of question

**Are you asking about community best practices, how to implement a specific feature, or about general context and help around the operator-sdk?**
Help with operator-sdk's Ansible operator pattern

## Question

**What did you do?**
I would like to watch a specific k8s resource, to be specific I want to watch a configmap which is not created by my role. Whenever there is a chan

[2020-05-22 16:57] aravinder111 commented on #3094
Slack conversation regarding the same is [here](https://kubernetes.slack.com/archives/CAW0GV7A5/p1590165384414000)

[2020-05-22 17:49] camilamacedo86 commented on #3094
With Ansible operator is possible to watch the resources which are dependent. See; https://sdk.operatorframework.io/docs/ansible/reference/dependent-watches/

But, confirmed with @fabianvf that currently has not a way to scope the operator to a single resource (other than checking and ending early from Ansible)

So, it will be flagged as RFE and will be discussed in the next triage meeting.

[2020-05-22 19:49] camilamacedo86 opened #3095 "operator-sdk olm status is unable to install olm"
## Bug Report

[code]

**Possible Solution**
- add flag `--version` to allow users to choose the version
- we package a set of OLM manifests with the SDK to use as the default set, and only reach out to github releases if the user specifies another version

**Additional context**
- discussion in slack https://coreos.slack.com/archives/C3VS0LV41/p1590174772452300
- place in the code is: https://git

[2020-05-22 20:09] estroz commented on #3089
Yes this is a [known issue](https://github.com/operator-framework/operator-sdk/issues/3076#issuecomment-631663450) with our v0.17.1 build. I'm in the process of debugging this.

/priority critical-urgent
/assign

[2020-05-22 20:12] estroz commented on #3095
Clarification: `olm status` does not install OLM, it looks up the installed version of OLM then queries OLM's Github release manifests for that version. If those manifests don't exist, `status` (and `uninstall`) will error.

These error messages need to be better _and_ the SDK should both permit `--version` to override the detected version and package its own version of released manifests that get

[2020-05-22 20:13] estroz commented on #3085
@madorn see https://github.com/operator-framework/operator-sdk/issues/3095.

[2020-05-22 20:14] estroz commented on #3080
@demonCoder95 have you tried running `operator-sdk generate k8s`?

/triage support

[2020-05-22 20:20] demonCoder95 commented on #3080
Yes, I did. It gives me the following output:
[code]
I'm unsure as to if this unsupported type error is of any significance. I haven't done anything other than what the guide was suggesting.
After running this, and running the ```operator-sdk build <link>``` command I get the same error as listed above.

[2020-05-22 20:25] estroz commented on #3080
Ah yes, see https://github.com/operator-framework/operator-sdk/issues/1854#issuecomment-525132306. The methods necessary for your types to implement the `Object` interface are not being generated for that reason.

[2020-05-22 20:32] estroz commented on #2977
/kind documentation
/priority important-longterm

[2020-05-22 20:36] estroz commented on #2952
@ricardozanini this error is coming from a library we use to validate. From https://github.com/operator-framework/operator-registry/pull/334#issuecomment-632857559:

So this is a bug and will be fixed very soon.

/kind bug

[2020-05-22 20:38] demonCoder95 commented on #3080
Exporting GOROOT fixed the ```operator-sdk generate k8s``` issue, the generation is successful! I'm having some issues with docker when trying to build the image now, let me fix those, and let's see if I can build the image now.
Also, I think we should add this exporting gotcha in the ```getting-started``` guide, avoiding such problems in the future.

[2020-05-22 20:40] estroz commented on #2876
Forcing the invoker to be in the project root only some of the time is bad UX. It would be better to ensure the default directory is `stat`'d and if it doesn't exist return a helpful error message.

[2020-05-22 20:43] demonCoder95 commented on #3080
I suggest we add an "expected command output" after the ```operator-sdk generate k8s``` command in the doc. And below that expected output, we add this note to use the export in case the generation fails. I can send a patch to the doc for this pretty quick.

[2020-05-22 20:44] estroz commented on #2173
Closing, see https://github.com/operator-framework/operator-sdk/pull/2174#issuecomment-626086945.

[2020-05-22 20:44] #2173 closed

[2020-05-22 20:44] estroz commented on #2708
/priority important-longterm

[2020-05-22 20:46] estroz commented on #2741
Closed by #3048

[2020-05-22 20:46] #2741 closed

[2020-05-22 20:46] estroz commented on #2698
/ping @jmccormick2001

[2020-05-22 20:59] estroz commented on #2790
3 more locations: https://github.com/operator-framework/operator-sdk/search?q=%22gopkg.in%2Fyaml%22&unscoped_q=%22gopkg.in%2Fyaml%22

Bumping this to the backlog since this isn't a bug and shouldn't block a release.

[2020-05-23 00:21] grosser commented on #3066
I found a nice article here https://carlosbecker.com/posts/k8s-leader-election
it has the basic code / how to use it ... only unknown would be how to make never switch the leader when it's still running, but that could just be setting an infinite interval

[2020-05-23 00:58] demonCoder95 commented on #3080
I've been able to achieve a successful build. However, I think the documentation update should be done before we close this issue. What do you think? @estroz

[2020-05-24 09:15] RyuunoAelia opened #3099 "Allow CSV to define PodSecurityPolicies (or Openshift SecurityContextConstraints)"
## Feature Request
Some platforms (and probably more and more) are restricting pods to avoid exiting the containers. A good example of that is OpenShift. In that case, some Operators might need to define custom security rules because the ones provided by the platform are too restrictive.
The current status is that each operator will have to define a way to do it by either:
* asking the user to do

[2020-05-24 14:59] tengqm commented on #3052
May have something to do with the ansible proxy?

[2020-05-24 16:08] camilamacedo86 commented on #3052
HI @realmjian,

See in the migration guide that you need to perform changes in other scaffolded files. Did you perform the steps in `Migration to Ansible collections`?

PS.: To upgrade the projects I create a new one from scratch and I compare usually. I think  it is easier.

[2020-05-24 17:19] geerlingguy commented on #1996
I'm assuming standard arm/armv7 is not on the roadmap, though? I just thought about using some of my operators built with Ansible to a Pi cluster... and realized that I can't get any of them to start because of:

[code]

[2020-05-25 08:34] DanielXLee opened #3100 "operator-sdk bundle validate error on macOS"
## Type of question

**Are you asking about community best practices, how to implement a specific feature, or about general context and help around the operator-sdk?**

operator-sdk bundle validate error

## Question

**What did you do?**

I want to use the `operator-sdk bundle validate` to validate my operator bundle image, but have some permission issue, can someone help me next what I need to d

[2020-05-25 10:04] realmjian commented on #3052
@camilamacedo86
What I got is as below:

[code]
What I expected to get is:

[code]
This result happended in both operator-sdk v0.15.2 and v0.16.0.

For v0.17.0, because my Openshit 4.2 with kubernetes 1.14 does not support api version "apiextensions.k8s.io/v1" for CRD,I did not go further for the investigation.

[2020-05-25 10:45] camilamacedo86 commented on #3052
Hi @realmjian,

I am looking in the [module doc](https://github.com/ansible-collections/community.kubernetes/blob/master/plugins/modules/k8s_log.py#L94-L101) to check its options and examples. Could you try to get the log by using another example? See:

[code]

Then, if you are creating a project from the scratch which would ensure that all is scaffolded properly with SDK >= 0.16 according to the

[2020-05-25 11:12] lut777 opened #3101 "Deleting svc with error: the server does not allow this method on the requested resource"
## Background

I configured a CRD and provided the definition of service in the CRD.
When an instance of this CRD is applied by kuberlet, the controller will initialize some services according to the definition of the service in the CRD.

## Type of question

When an instance of CRD is deleted, services defined by this instance also needs to be deleted.
However, I'm having trouble executing the se

[2020-05-25 14:48] realmjian commented on #3052
@camilamacedo86
As tested with `kind: Deployment`,I still got the spec instead of log.
Task

[code]
Dockerfile:

[code]
the same role worked outside of the operator with ansible-playbook execution.
Thanks.

[2020-05-25 16:31] camilamacedo86 commented on #3052
just to add a summary;
- @realmjian test it with a new project built with SDK 0.17 and --crd-version=v1beta1 and face the same issue ( instead of seeing the logs it is showing the pod specs )
- Also, according to him, the Ansible task works as expected and the logs appear when is executed outside of the operator which would lead us to believe that the problem is not related to the module k8s_logs

[2020-05-25 23:43] camilamacedo86 commented on #3101
Hi @lut777,

By checking your comment:

Shows that your scenario would require the usage of a finalizer. See the topic [Handle Cleanup on Deletion](https://sdk.operatorframework.io/docs/golang/quickstart/#handle-cleanup-on-deletion)

The [DeleteAllOf](https://godoc.org/sigs.k8s.io/controller-runtime/pkg/client#example-Client--DeleteAllOf) will delete all resources which would filter by the query i

[2020-05-25 23:47] camilamacedo86 commented on #3100
Hi @DanielXLee,

It shows related to the docker. Are you logged in the docker? Can you try docker login quay.io and then try to use the command again? Are you able to `docker pull quay.io/danielxlee/memcached-operator-bundle:v1.2.0`?

[2020-05-25 23:57] camilamacedo86 commented on #3099
Hi @RyuunoAelia,

Should not it be raised in the OLM project which is the project responsible for the CSV? See https://github.com/operator-framework/operator-sdk-samples.

Has any reason for you raised it here (SDK) specifically? If not, wdyt about address it in the project responsible for the CSV and we close this one?

[2020-05-26 00:07] camilamacedo86 commented on #3090
Hi @lut777,

Sorry, but with the info provided here is not clear for me what did you did and what you are specifically facing.  See that:

- You defined the CRD specs in the *_type.go
- then, you run `operator-sdk generate crds` to gen the CRDs files in the `/deploy/crds` dir
- and, you run `operator-sdk generate k8s` to generate the code for custom resource

So,  could you please provide the type

[2020-05-26 00:38] camilamacedo86 commented on #3086
HI @feicun,

The usage of the `RequeueAfter` will NOT interfere in the Manager sync and then, both will trigger the reconcile. Following a further explanation which I hope that helps you better with.

**How works the Reconcile()?**

The reconcile function is responsible for synchronizing the resources and their specifications according to the business logic implemented on them. In this way, it wor

[2020-05-26 00:40] camilamacedo86 commented on #3085
Hi @madorn,

We opened the issue for you already. See #3095.
In this way, let's close this one as duplicated and please feel free to follow up it.

[2020-05-26 00:40] #3085 closed

[2020-05-26 00:46] feicun commented on #3086
@camilamacedo86 Thanks for all the details! If all controllers managed by the Manager, and all controllers share the same SyncPeriod, is there any way that could let me to modify the SyncPeriod after the Manager has been created?

For example, the Manager has a SyncPeriod as 1 hour, but I would like to let controller A reconciles in 5 seconds period, and controller B reconciles in 10 seconds perio

[2020-05-26 00:58] camilamacedo86 commented on #3086
Hi @feicun,

I am afraid that would not recommend you reconcile the controller is so short period. And then, shows more appropriated you check the resources and have an idempotent implementation and use the Watch feature which will reconcile when an observed resource is created,
 or updated and/or deleted.

So, if besides you have the Watches and the Manager Sync you still having some scenario and

[2020-05-26 01:06] feicun commented on #3086
@camilamacedo86 Thanks for the quick reply! In fact, I use the "5 seconds" or "10 seconds" period only for trying to explain my question. They are not real SyncPeriod I will use.

So my question is, as the Manager will apply SyncPeriod for all controllers, but I need some controllers have different reconcile period besides of the Manager's syncPeriod. Is that possible to achieve that?

Or in other

[2020-05-26 01:27] camilamacedo86 commented on #3086
Hi @feicun,

In this case, you can use the `RequeueAfter` in all returns of some specific controller and then, the controller will always reconcile after X time as well (10 secs for example). Also, I'd recommend you give a look in issue tracked in the controller-runtime [Why resync default is so large - 10hours](https://github.com/kubernetes-sigs/controller-runtime/issues/521) and check the watch

[2020-05-26 03:08] lut777 commented on #3101
Thank you for your help~. @camilamacedo86

Yes, the DeleteAllOf method is called just before removing customized finalizer.

I can not understand what is the `you are trying to delete a resource that you has no permission`. Cause I am trying to delete the resources that I created...
Yes, I created some services in a namespace and I am trying to delete them all.

Could you please give me more infor

[2020-05-26 05:28] RyuunoAelia commented on #3099
I raised it here because I wasn't clear on what project is actually responsible for the CSV content. Thank you for clarifying this for me. I now raised it in the OLM project. BTW you pointed the wrong repository.

[2020-05-26 05:28] #3099 closed

[2020-05-26 14:48] fabianvf commented on #3052
This does seem to be a problem with the proxy, perhaps it's intercepting the request and overeagerly serving it from the cache.

/kind bug

[2020-05-26 15:07] estroz commented on #3100
@DanielXLee as per the [command docs](https://sdk.operatorframework.io/docs/cli/operator-sdk_bundle_validate/#synopsis), your image must be present remotely before validating it, which it does not appear to be in your case. This is a requirement so the image tag does not point to a stale image.

One thing we're going to add in the future is an image SHA argument type so you can directly reference

[2020-05-26 15:07] #3100 closed

[2020-05-26 15:15] estroz commented on #3101
@lut777 can you please elaborate on what you mean by "definition of service" in the CRD, perhaps with an example?

In any case this sounds like a permissions issue. Are you able to delete these services via `kubectl delete service <service-name>`?

[2020-05-26 16:13] #2914 closed

[2020-05-26 16:56] estroz commented on #2998
Update: we recently removed the deprecation notice for package manifests, since they are not deprecated in operator-framework tooling (yet).

[2020-05-26 17:41] camilamacedo86 commented on #2998
I think it can be closed with the changes made so far.
Also, we have the #2977.

[2020-05-26 17:47] hasbro17 commented on #2952
@estroz We can bump to operator-registry `v1.12.4` which should have this fix https://github.com/operator-framework/operator-sdk/pull/3106

[2020-05-26 17:53] jmccormick2001 commented on #2698
you are correct I think, the scorecard should probably be looking at group/version/kind in that test to be more precise....let me know if you still need a fix for this....in the upcoming scorecard (alpha), we modified that test to more simply just check to see if the resources are filled out instead of comparing each of the individually.

[2020-05-26 18:04] jmccormick2001 commented on #3075
looking at the code, there appears to not be a way to specify 'wait for X seconds' before/after a CR is created before proceeding, so I think this would be an enhancement request....note, the new scorecard (alpha) pushes CR creation outside it's responsibility, it just runs tests, setting up resources will be left to frameworks outside of scorecard itself.

[2020-05-26 18:06] hasbro17 commented on #3066
We should address this in the upstream controller-runtime issue for replacing the configmap/endpoints based leader election with the new API: https://github.com/kubernetes-sigs/controller-runtime/issues/460
Probably not much we can change here in the SDK here itself.

[2020-05-26 18:09] estroz commented on #3066
/kind feature

[2020-05-26 18:12] hasbro17 commented on #3066
Actually if this is about the SDK's [leader-for-life pkg](https://github.com/operator-framework/operator-sdk/blob/master/pkg/leader/leader.go) then that's probably another discussion.

[2020-05-26 18:23] estroz commented on #3094
/cc @fabianvf

[2020-05-26 18:35] estroz commented on #2963
/cc @camilamacedo86

[2020-05-26 18:40] estroz commented on #3005
/assign

[2020-05-26 18:43] estroz commented on #3080
We should add the underlying issue to the [FAQ](https://sdk.operatorframework.io/docs/faq/). Feel free to submit a PR if you have time @demonCoder95.

/kind documentation
/remove-triage support

[2020-05-26 19:03] aharbis commented on #3075
Glad to hear there is work being done to lift the CR creation out of scorecard's responsibility. We certainly would welcome such a change.

What's the timeline for that to be released? Is that something we could expect in the near future?

At the moment, `scorecard` tests failing would block us from being able to enter the OperatorHub, even though our operator would pass tests if timing was config

[2020-05-26 19:03] Avni-Sharma opened #3110 "Broken link in doc"
Broken link observed here https://github.com/operator-framework/operator-sdk/blob/ab71095122431788fe6b8775d9606c050895c47d/website/content/en/docs/cli/operator-sdk_run.md#see-also

[2020-05-26 21:53] horis233 commented on #2698
@jmccormick2001
Thanks for your reply. Since the upcoming scorecard will use the other method to check the resources, It is ok for me to ignore it. I open this issue is because I found that in the CSVs of some certified operators, they leave all the `name: ` field to empty to pass the scorecard check. I think that is not accurate.

Could I ask which version of operator-sdk will the alpha scorecard

[2020-05-26 23:26] tobernguyen commented on #2502
I'm willing to pick this up if nobody started on this yet.

[2020-05-26 23:58] #2880 closed

[2020-05-27 00:02] camilamacedo86 commented on #2502
Hi @tobernguyen,

Please, feel free to assign it to yourself and your help on it is more than welcome 👍

[2020-05-27 00:05] estroz commented on #3089
@pre images are now available.

[2020-05-27 00:05] #3089 closed

[2020-05-27 00:54] feicun commented on #3086
@camilamacedo86 Hi, as we discussed above, both of `RequeueAfter` and the Manager's `SyncPeriod` will trigger the reconcile loop. But in my case, I would like to have controller's customized reconcile period "override" the Manager's global `SyncPeriod`.

For example, if I set `RequeueAfter` as 13 seconds, and Manager's `SyncPeriod` as 5 seconds, what I can see is, reconcile happened at:

That is n

[2020-05-27 01:10] camilamacedo86 commented on #3086
Hi @feicun,

Yes, the Manger, the RequeueAfter and indeed the Watch features implemented also will call the reconcile. I really do think that would be possible you ignore  Manager's "SyncPeriod" completely. for one controller specifically,

@estroz @fabianvf @hasbro17 Do you see any other option for @feicun do what he is looking for? Do you see anything else that we could to do address it?

[2020-05-27 01:30] DanielXLee commented on #3100
Thanks, @estroz @camilamacedo86, got it, I'll push my image to the remote repo and then retry it.

[2020-05-27 01:43] estroz commented on #3086
@feicun From the docs:

So (from https://github.com/kubernetes-sigs/controller-runtime/issues/521):

I am not exactly sure of the answer, and in fact what you're trying to do may not have a corresponding feature in controller-runtime. In any case this is a controller-runtime question, so I suggesting re-opening this issue in the controller-runtime repo for a more in-depth response.

Some related i

[2020-05-27 01:43] #3086 closed

[2020-05-27 04:20] estroz commented on #2876
This was actually [fixed](https://github.com/operator-framework/operator-sdk/pull/2944/files#diff-1d8e161f97d3f35b45c2ec48c82757e0R160-R163) in #2944.

[2020-05-27 04:20] #2876 closed

[2020-05-27 05:35] tengqm commented on #3110
Looks like these markdown files are used to generate the website content published here: https://sdk.operatorframework.io/docs/cli/operator-sdk_run/

They are not meant to be browsed as raw github contents ...

[2020-05-27 06:18] Avni-Sharma commented on #3110
Perhaps I missed this, Thanks @tengqm. :+1:  Closing this issue.

[2020-05-27 06:18] #3110 closed

[2020-05-27 07:37] estroz commented on #3005
@IBMRob can you check if your issue is fixed by #3121 if possible? Thanks.

[2020-05-27 07:43] #2963 closed

[2020-05-27 08:40] lut777 commented on #3101
@estroz Well it is simple. I defined some key parameters of the `service` in the CRD.
When a CRD is instantiated, the controller initializes some `services` based on the service parameters defined in this CRD.

As an example:
a CRD is defined as following:

[code]

So the service  `svc-name` will be created in the namespace `loadbalancer`.

So when I need to delete the CRD, I expect to use **Delet

[2020-05-27 08:55] camilamacedo86 commented on #3101
Hi @lut777,

1. Could you please provide the code snippet with the implementation that works and with the implementation with DeleteAllOf that is not working?
2. Could you provide more info on the logs? Is possible to check what resource could not be deleted? Could you provide the stack as well?
3. What is the [scope](https://sdk.operatorframework.io/docs/operator-scope/#overview) of your project?

[2020-05-27 10:33] demonCoder95 commented on #3080
Okay, I'll send a patch to the FAQ and reference this issue so that it can be closed upon merge. Thanks!

[2020-05-27 13:01] nirrozenbaum opened #3123 "is there a way to change watches dynamically?"
## Type of question

**Are you asking about community best practices, how to implement a specific feature, or about general context and help around the operator-sdk?**

## Question

**What did you do?**
developed an ansible operator using the sdk.

**What did you expect to see?**
all is working

**What did you see instead? Under which circumstances?**
A clear and concise description of what you ex

[2020-05-27 19:18] #3052 closed

[2020-05-27 19:43] dian-xh commented on #2884
tried with the 0.17.1 image, and still seeing this issue:

cr:
[code]

log:
[code]

[2020-05-27 20:28] krish7919 opened #3126 "Link broken in release doc"
## Bug Report

In the 0.4.0 pre-release notes , the Version upgrade link pointing to https://github.com/operator-framework/operator-sdk/blob/master/doc/migration/version-upgrade-guide.md#v04x is broken.

[2020-05-27 20:29] hasbro17 commented on #2952
Sigh, apparently #3106 didn't fix this. Still some upstream stuff that needs to be patched.
https://github.com/operator-framework/api/blob/197407cd70e8ddfef85d21216085ed52fbb4bb2d/pkg/manifests/bundleloader.go#L143

[2020-05-27 21:15] camilamacedo86 commented on #2952
Hi @hasbro17,
 I think @estroz had a PR to fix it already.

[2020-05-28 00:39] #3080 closed

[2020-05-28 01:01] camilamacedo86 commented on #2884
Hi @dian-xh,

I will be working on in this fix, thank you for let us know.
/assign @camilamacedo86

[2020-05-28 08:10] mikkeschiren commented on #3031
Hi!

Sorry - missed the answer - my watches.yaml looks like this now:

[code]

I still get the issue with long waits, and that all deploys is runned through - I have same private stuff in the operator right now, but will try to clear it out to share it also.
The strange thing that happens is that the operator seems to think that one step is changed at every run.

[2020-05-28 10:38] camilamacedo86 commented on #3031
HI @mikkeschiren,

You are using `watchDependentResources: true`, it will re-trigger the reconcile if any event (create/delete/update) in the dependent resources be raised. See: https://sdk.operatorframework.io/docs/ansible/reference/dependent-watches/

Has any reasons for you are using `watchDependentResources: true`?

[2020-05-28 11:10] mikkeschiren commented on #3031
Ah - yes I think that is the problem - I think I misunderstood the usage - did some quick tests now and it is looking good. I will get back to you soon. Thank you!

[2020-05-28 12:57] mikkeschiren commented on #3031
Yes, after some deeper testing that solved my problem, thanks for the help @camilamacedo86 .

[2020-05-28 12:59] #3031 closed

[2020-05-28 15:36] #1658 closed

[2020-05-28 18:20] estroz commented on #2884
@dian-xh I am not able to reproduce this issue in v0.17.1. The CR being reconciled is being created from your CSV's [`alm-examples`](https://github.com/IBM/ibm-elastic-stack-operator/pull/28/files#diff-3caf33bfc5f95f8178d06cf53ea2032cR8) right?

[2020-05-28 19:14] estroz commented on #3126
Can you link which notes you're talking about?

/kind documentation

[2020-05-28 19:17] estroz commented on #2952
Closed by #3132

[2020-05-28 19:17] #2952 closed

[2020-05-28 19:28] estroz commented on #2623
@hbfjk @kramvan1 now that #3112 has been merged, the proxy will log a 500 error instead of creating resources without an ownerRef. From the PR:

The lack of ownerRefs may be network related. Feel free to ping/re-open this issue if you see related problems.

[2020-05-28 19:28] #2623 closed

[2020-05-28 20:06] pmorie opened #3135 "operator-sdk run --help prints a broken link"
## Bug Report

**What did you do?**
`operator-sdk run --help`

**What did you expect to see?**
Working links

**What did you see instead? Under which circumstances?**
This link is broken:

[code]

**Environment**
* operator-sdk version:

0.17.0

[2020-05-28 20:22] dian-xh commented on #2884
Yes

[2020-05-28 21:19] kramvan1 commented on #2623
@estroz   Does the 500 mean there will eventually be another attempt/loop on this to get it right?

[2020-05-28 21:24] estroz commented on #2623
@kramvan1 correct.

[2020-05-28 22:04] mmellin opened #3139 "How are Helm hooks supported with helm Operators?"
## Type of question

**Are you asking about community best practices, how to implement a specific feature, or about general context and help around the operator-sdk?**

General context question regarding use of SDK to convert Helm charts to Helm-based Operators.

## Question

Are helm hooks supported with Helm-based Operators and how do I convert a Helm chart which is using them to an Operator? Ar

[2020-05-28 22:30] estroz commented on #3135
This has been fixed in v0.18.0.

[2020-05-28 22:30] #3135 closed

[2020-05-28 23:39] hasbro17 opened #3141 "CHANGELOG generator looks up incorrect PR links"
## Bug Report

Generating the CHANGELOG from the fragments can result in some lines pointing to incorrect PR links.

For the `v0.18.0` release, the following fragment for PR #2987 :
https://github.com/operator-framework/operator-sdk/blob/d1dbfc8336c7d52228cf42e1f2e3d4ab5aff6709/changelog/fragments/2727-helm-support-annotations.yaml

results in the [CHANGELOG](https://github.com/operator-framework/

[2020-05-29 06:50] KlausTele opened #3143 "Testing operator locally: flag provided but not defined: -namespacedMan"
## Bug Report

**What did you do?**
I wrote a test.go file with the instructions from https://sdk.operatorframework.io/docs/golang/unit-testing/ and run `operator-sdk test local ./pkg/controller/mypkg` (where the test.go file resides)

**What did you expect to see?**
The test to run and show a test result

**What did you see instead? Under which circumstances?**
An error message:
INFO[0000] Testin

[2020-05-29 06:57] #3143 closed

[2020-05-29 12:56] camilamacedo86 opened #3144 "Error `Could not parse annotation as a boolean` faced when I apply CSV with the helm annotation"
Open by @camilamacedo86 on behalf of @dian-xh..

## Bug Report

**What did you do?**

I tried with the new 0.17.1 image by updating just the [CSV's alm-examples](https://github.com/IBM/ibm-elastic-stack-operator/pull/28/files#diff-3caf33bfc5f95f8178d06cf53ea2032cR8] , and still seeing this issue https://github.com/operator-framework/operator-sdk/issues/2884 when parsing the annotation boolean:

cr

[2020-05-29 12:57] camilamacedo86 commented on #2884
HI @dian-xh,

I am trying to reproduce the issue faced by you and I also could not face the error. So, lets keeping this close as history and track your scenario in the new issue because it shows no be tthe same case.

I also try to check your project and I will add all info in this new issue. Could you please follow up there? See; https://github.com/operator-framework/operator-sdk/issues/3144

[2020-05-29 12:57] #2884 closed

[2020-05-29 13:54] jmccormick2001 commented on #2698
you should be able to try out the new scorecard in the new release that just was cut, 0.18.

This is run by 'operator-sdk alpha scorecard', also we included some user docs and sample data for people to try it out with.

[2020-05-29 13:55] jmccormick2001 commented on #3075
the release we just cut, 0.18 has the alpha scorecard in there to try out.  Run it with 'operator-sdk alpha scorecard', we added some user docs this release as well.

[2020-05-29 14:05] camilamacedo86 commented on #3144
Hi @dian-xh,

I tried to reproduce this issue with the Helm Memcached sample and I could not. <details>
<summary>
More info :
</summary>

1. Update the Dockerfile
[code]
2. Build a new image and push it
3. Update the operator..yaml to use the image
4. Run `make install`(also I edit the CR and re-applied it)
5. Check the logs

[code]
</details>

Following some questions for we try to figure out it.

[2020-05-29 15:23] aharbis commented on #3075
Sure, I will give that a shot.

[2020-05-29 15:51] komish opened #3146 "Bundle validation fails if CSV contains multiple entries for one owned CRD at different api versions"
## Bug Report

**What did you do?**

1) Create a New Project

[code]
2) Create the initial example.com/v1beta1 API
[code]
3) Mark this API as the stored version in `pkg/apis/example/v1beta1/someservice_types.go` as described here https://book.kubebuilder.io/multiversion-tutorial/api-changes.html#storage-versions

added `+kubebuilder:storageversion`
[code]

4) Add another API version for this resou

[2020-05-29 19:16] camilamacedo86 commented on #3139
The helm operator is based on Helm 3. In this way, I'd recommend you check the [Chart Hooks](https://helm.sh/docs/topics/charts_hooks/) docs to know how to work with. Please, let me know if it answers your question and feel free to raise new issues if you face any problem with.

[2020-05-29 20:49] aharbis opened #3147 "v0.18.0 generated v1 CRD fails to install due to additionalPrinterColumns spec"
## Bug Report

**What did you do?**

We took a working `v0.17.0` project with `v1beta1` CRD apiVersion, and upgraded to `v0.18.0` OSDK following the [migration guide](https://sdk.operatorframework.io/docs/migration/v0.18.0/) to move to `v1` CRDs. Upon regenerating our CRD, the the CRD fails to install in an OCP 4.4 cluster.

**What did you expect to see?**

Working `v1` CRD installation.

**What d

[2020-05-29 23:37] krish7919 commented on #1234
Can we start the server at the default port (8686) under `operator-sdk` start first with the `/healthz` endpoint?

[2020-05-30 03:08] mmellin commented on #3139
hi @camilamacedo86, all our charts are currently build for Helmv2.  Will we have to rebuild our charts to support helm v3 now? Thanks.

[2020-05-30 10:50] camilamacedo86 commented on #3139
Hi @mmellin,

I'd recommend you migrate your chart from V2 to V3 and use the latest released version of SDK 0.18 to create your project. In the latest release was removed the automatic migration of Helm releases from v2 to v3. (#2918). More info: [Changelog](https://github.com/operator-framework/operator-sdk/blob/master/CHANGELOG.md#removals)

Also, note that if you try to use an old version of SD

[2020-05-30 23:13] NoizeMe commented on #2863
Sadly I am currently facing the same issue and am pretty lost right now. Any hints on how to resolve this issue?

It happens when I generate an operator outside the GOPATH. I have checked my GOROOT and GOPATH to be correctly set. I have to admit though, that I am running a self-compiled v0.17.0 tag on Windows.

[2020-05-31 11:15] camilamacedo86 opened #3151 "Plugins Implementation not working to configure a different version of the KB libs"
## Bug Report

**What did you do?**
Bumped a new version in SDK for the plugins to illustrate the SDK plugins version changed.

[code]

**What did you expect to see?**
The PROJECT scaffolded with the plugin SDK version`2.2.2` as defined in its implementation.

[code]

**What did you see instead? Under which circumstances?**

[code]

**Environment**
* operator-sdk version: 5ef63206d489e907aaf619df2

[2020-05-31 11:17] camilamacedo86 commented on #3151
It was solved by https://github.com/kubernetes-sigs/kubebuilder/issues/1534.

c/c @estroz @joelanford @hasbro17

[2020-05-31 11:17] #3151 closed

[2020-06-01 04:56] cscetbon opened #3152 "Why is operator-sdk so slow ?"
**What did you do?**
operator-sdk is slow at generating deep copy files and openapi files

**What did you expect to see?**
I'd expect it to take less than a minute

**What did you see instead? Under which circumstances?**
[code]
[code]
Interestingly, if I remove all files and keep only one it still takes more than 5 min !!
[code]

**Environment**
* operator-sdk version:
operator-sdk version: "v0.1

[2020-06-01 15:09] ryandawsonuk commented on #2337
@tapairmax I hit that too. Resolved it by changing the apiVersion in my Chart.yaml from v1 to v2.

[2020-06-01 17:54] estroz commented on #3146
@komish I think this is fixed in v0.18.0 in which we bumped our validation library version.

/triage support

[2020-06-01 18:05] estroz commented on #3123
/cc @fabianvf

[2020-06-01 18:07] estroz commented on #3126
/assign @asmacdo

[2020-06-01 18:12] estroz commented on #3144
@dian-xh is this still an issue for you? If so can you add some specific info that wasn't in #2884.