[2021-05-06 14:22] AssafKatz3 commented on #3672
Hi,
Since the creation of this issue,  the process became more complex by far. We already had HELM based operator and wanted to add only bundle, but this process isn't documented. I agree with @camilamacedo86  that this process should be interactive and much easier.
Thanks

[2021-05-06 14:33] tony-clarke-amdocs opened #4886 "scorecard test fails to due to docker rate limiting"
## Bug Report

#### What did you do?

operator-sdk scorecard bundle

#### What did you expect to see?

Output from scorecard

#### What did you see instead? Under which circumstances?

"error running tests context deadline exceeded". This is because the pulling the busybox image from docker.io is rate limited.

"Failed to pull image "docker.io/busybox:1.33.0": rpc error: code = Unknown desc = Erro

[2021-05-06 15:54] jobcespedes opened #4887 "feature: dynamic inventory of resources created by a CR of an ansible operator"
## Feature Request
Dynamic inventory of resources created by a CR of an ansible operator

#### Describe the problem you need a feature to resolve.
Operating or running ansible tasks over pods generated by a CR of an ansible operator is kind of cumbersome. One could use kubectl connection plugin and add them dynamically during each reconciliation loop using variables. The existing dynamic k8s inven

[2021-05-06 16:34] estroz commented on #3672
@AssafKatz3 what do you mean "not documented"? The bundle docs are [here](https://sdk.operatorframework.io/docs/olm-integration/quickstart-bundle/).

[2021-05-06 19:26] LCaparelli commented on #4870
@estroz here's the entire CRD, please let me know if this is not what you were asking for

<details>
  <summary>CRD</summary>

[code]

</details>

I suppose we can easily work around this with a mutating webhook, but I was wondering if it was possible using OpenAPI only.

[2021-05-06 20:44] absynth76 commented on #3094
small remark: I think it's implemented using predicates on golang operator, but it's at reconciliation time that the decision is made to pick up or not the resource. It's also possible with ansible, you can watch all configmaps and execute your action only if the configmap respect your requirements (name/annotation/label, you only have to query for the configmap and filter according to your needs)

[2021-05-06 20:56] absynth76 opened #4890 "enable per custom resource vault password usage in ansible operator"
## Feature Request

#### Describe the problem you need a feature to resolve.

As an ansible operator user, I would like to be able to configure the vault password used to eventually decrypt secrets encrypted with ansible-vault.

#### Describe the solution you'd like.

I would like to be able to put a specific secret name in the custom resource watched by the operator, like: "vaultPasswordSecretRef

[2021-05-07 00:59] #4284 closed

[2021-05-07 05:06] obeleh commented on #1973
For anyone coming here falling into the same (beginner) mistake as I did. I had the same problem and what turned out to be the root cause was that my `kubebuilder` comments were like this:

[code]

I'm rather new to Golang and I didn't figure that in this way the kubebuilder comments wouldn't be visible to kubebuilder. When I added a blank line between the function and the comments it was fine. My

[2021-05-07 07:59] absynth76 commented on #4890
Adding on the story,

- the Secret reference(s) could be a list instead of a single reference
- the key used in the Secret data could be a parameter, potentially a list - with a defaulted value - default value could be all keys values or a single key value
Secret reference sample:
[code]

- the CustomResource could read the secret references in multiple ways, maybe the specifications is not the mo

[2021-05-07 08:03] absynth76 commented on #4890
@fabianvf, @camilamacedo86
Sorry to disturb you, I think you are relevant people to contact when it comes to ansible operators, but could you give your opinion on this idea? Would it be possible? Do you think it worth it?

[2021-05-07 17:13] estroz commented on #4886
I guess docker rate limits have dropped considerably within the last year. You should be able to pre-load your cluster's registry with the busybox image pulled from a proxy, since the scorecard runner's pod pull policy is `IfNotPresent`.

/triage support

[2021-05-07 17:19] tony-clarke-amdocs commented on #4886
The scorecard test runs as part of a pipeline. That pipeline can target different clusters. Also if you a multi node cluster or a cluster where nodes are dynamically provisioned then I don't think it's practical to pre-load the image.

[2021-05-07 21:52] jmccormick2001 commented on #4886
if we alllowed scorecard to specify ifNotPresent pull policy would that resolve this?

[2021-05-07 23:07] tony-clarke-amdocs commented on #4886
No. It would still fail on the first pull.

[2021-05-08 01:01] #4285 closed

[2021-05-08 10:01] #4492 closed

[2021-05-08 13:01] #4281 closed

[2021-05-08 18:16] avrahams commented on #4434
@camilamacedo86,
Please see the replay I got in the upstream issue - seems that this issue with openshift resources does not have a clean solution even when the upstream issue will be fixed
https://github.com/kubernetes-sigs/controller-runtime/issues/1191#issuecomment-833058115

[2021-05-10 09:17] SimonBaeumer opened #4901 "[Helm] Reconciliation does not replace json lists but adds new items instead"
## Bug Report

If an kubernetes object is watched and reconciled by the Helm Chart operator the reconciliation does not replace json lists, instead it adds new items as the used patch type seems to just work like this.

## Steps to reproduce

Create a nginx helm chart operator

[code]

Reproduce it:

[code]

Now spectate logs generated by the controller:

[code]

Extracted error msg form Helm: `Se

[2021-05-10 16:12] aharbis opened #4902 "[META] Concerns around k8s api-server overhead of watching resources"
## Type of question

Best practices

## Question

We've seen a handful of different implementations among our operators in how they implement reconciliation, which can be boiled down to:

1. Watching primary resources only
2. Watching primary and secondary resources
3. Reconciling everything on a timer alone, no watches

We are concerned with performance overhead of the Kubernetes API Server, and

[2021-05-10 18:05] estroz commented on #4813
Closing due to duplicate

[2021-05-10 18:05] #4813 closed

[2021-05-10 18:13] estroz commented on #4833
Closing as this seems to be a bug in an OLM image that got fixed.

[2021-05-10 18:13] #4833 closed

[2021-05-10 18:22] estroz commented on #4872
This should work, so labelling as a bug.

/kind bug

[2021-05-10 18:28] max3903 commented on #4830
@estroz Thanks for the reply. I will have to check on how to do this. Hopefully by the end of the month.

[2021-05-10 18:52] estroz commented on #4902
A doc (and maybe a library) would be helpful to outline how to scale an operator. Also a benchmarking tool could help.

Note: controller-runtime recently adopted a [server-side listwatch filter](https://github.com/kubernetes-sigs/controller-runtime/blob/master/designs/use-selectors-at-cache.md) which greatly improves the scaling story, since events not specific to an operator's resources can be fi

[2021-05-10 19:02] tlwu2013 commented on #4884
+1 on the idea Joe brought up. That could bring a huge improvement in terms of the UX. But also agreed as folks discussed in the community call in tracking that as a separated feature request.

[2021-05-10 19:05] camilamacedo86 commented on #4902
Just to share as we spoke in the bug triage meeting

The [Manager](https://godoc.org/sigs.k8s.io/controller-runtime/pkg/manager#Manager) will manage all controllers as and by default syncPeriod is each 10 hours. See:

[code]
From: https://godoc.org/sigs.k8s.io/controller-runtime/pkg/manager#Options

Then, it means if you do not set up the watches for the secondary resources, for example, your oper

[2021-05-11 00:33] adrian-kiwibank opened #4905 "Generated Makefile uses bash-only construct but doesn't specify SHELL=bash"
## Bug Report

#### What did you do?

make test

#### What did you expect to see?

test execution output

#### What did you see instead? Under which circumstances?

When /bin/sh is not an alias for bash:
[code]

#### Environment

[code]

/language go

**Kubernetes cluster type:**

 vanilla

`$ operator-sdk version`

`operator-sdk version: "v1.6.2", commit: "b131ca8ec77c96b9898470eba9560c30af0f23f3

[2021-05-11 05:26] wzhanw opened #4906 "Reconcile will not stop if the watched dependent resource has PersistentVolumeClaim"
## Bug Report
Reconcile never stop if the watched dependent resource has a PersistentVolumeClaim

{"level":"debug","ts":1620702396.9731293,"logger":"predicate","msg":"Reconciling due to dependent resource update","name":"wml-conda","namespace":"wmla","apiVersion":"v1","kind":"PersistentVolumeClaim"}
{"level":"debug","ts":1620702396.991792,"logger":"predicate","msg":"Reconciling due to dependent re

[2021-05-11 06:08] amanjain08 commented on #4885
But this doesn't solve the problem as developer doesn't have any control on the verbosity level.

[2021-05-11 06:08] amanjain08 commented on #4885
But this doesn't solve the problem as developer doesn't have any control on the verbosity level.

[2021-05-11 18:07] estroz commented on #4905
This was [fixed](https://sdk.operatorframework.io/docs/upgrading-sdk-version/v1.7.1/#gov3-set-the-makefiles-shell-variable-to-the-systems-bash-binary) in the most recent release.

[2021-05-11 18:07] #4905 closed

[2021-05-11 18:11] estroz commented on #4906
Is your operator watching the PV or PVC, or are you saying the dependent resource uses a PVC and PVCs are not explicitly watched? If the dependent resource changes because a PVC change, reconcile will be triggered; this is how controllers work.

/triage support

[2021-05-11 18:19] #4884 closed

[2021-05-11 18:24] estroz commented on #4884
If there is interest in a digest lookup feature, feel free to create a separate issue.

I fully agree with @djzager here due to the can of worms image lookup can be. Proxied images? Custom registry CA's? Image tool configuration? Which image tag does `operator-sdk` use from a list returned by `docker inspect --format '{{.RepoDigests}}' <image>`? I'd rather just document that a digest tag is needed

[2021-05-11 22:15] estroz commented on #4905
master's testdata [has the fix](https://github.com/operator-framework/operator-sdk/blob/master/testdata/go/v3/memcached-operator/Makefile#L53).

[2021-05-12 08:07] MildThing opened #4909 "Ansible operator finalizer is not called when CR is deleted during a reconcile"
## Bug Report

We have a finalizer defined in our watch.yaml, if we update a watched CR, then delete the CR while it is running an ansible reconcile role, the finalizer is never called. This is new behaviour, caused I believe by https://github.com/operator-framework/operator-sdk/pull/4407

#### What did you do?

Create a CR for an operator which has a finalizer defined, delete it while a reconcili

[2021-05-12 11:03] FNaughton commented on #4446
@fabianvf - tried adding the envvar
[code]
It does indeed print the ansible run to the console. But this is _in addition_ to the messages logged by default. I would like to control the verbosity of these default messages. Our logging solution collects from stdout.
On the plus side, the debug logs respect the verbosity set in the watched CR annotation. Perhaps we could disable the default message?

[2021-05-12 16:14] estroz commented on #4885
Developers can control verbosity through [zap flags](https://pkg.go.dev/sigs.k8s.io/controller-runtime/pkg/log/zap#Options.BindFlags), which you can see through `ansible-operator run --help`.

[2021-05-12 18:39] paterczm opened #4912 "Can't generate CRD with a required spec"
Hello!

I'm trying to use kubebuilder required marker on the Spec field, but it is being ignored when I do `make manifests` in an operator-sdk golang operator project. The markers work as expected inside the Spec, but not on the Spec field. From what I can see, CRD supports marking the Spec as required. Am I doing something wrong?

[code]

[2021-05-12 18:51] simonshi2016 opened #4913 "ansible-operator 1.6.2 ModuleNotFoundError: No module named 'ansible_collections' when use ansible_collections"
# Bug Report
received `ModuleNotFoundError: No module named 'ansible_collections' when trying to use `ansible_collections.community.kubernetes.plugins.modules.k8s` with community.kubernetes ansible collection version 1.2.1

## What did you do?
1. take ansible-operator 1.6.2 as base image
2. ansible-galaxy collection install -r requirements.yml

requirements.yml has the following collections:
[code

[2021-05-12 19:04] #4251 closed

[2021-05-12 19:46] fabianvf commented on #4251
@jayeshnazre ownerReferences aren't actually supported across namespaces, if you want to clean up cluster-level, other-namespaced or otherwise external resources you need to do it manually using a finalizer.

[2021-05-12 20:39] adrian-kiwibank commented on #4905
Thanks, I didn't see the change where I was expecting to but I have now noted that the generated Makefile now has changed.

[2021-05-13 20:20] tlwu2013 commented on #3770
It's been observed that more charts started to include `values.schema.json` [file](https://helm.sh/docs/topics/charts/#schema-files) for specifying the structure on the `values.yaml` file.

Looks like there's a huge potential that Helm Operator starts to generate CRD validation stanza based on the existence of `values.schema.json`.

[2021-05-14 07:06] #4296 closed

[2021-05-14 19:05] #4913 closed

[2021-05-17 13:07] #3979 closed

[2021-05-17 13:07] #4223 closed

[2021-05-17 13:07] #3962 closed

[2021-05-17 17:59] estroz commented on #4912
You need to remove `omitempty` from that field's JSON tag. See https://github.com/kubernetes-sigs/controller-tools/issues/479.

[2021-05-17 17:59] #4912 closed

[2021-05-17 20:31] kensipe commented on #4906
@wzhanw thanks filing the issue!   Is it possible for you to provide more detail on the PVC configuration and any additional logs?  It would be incredibly helpful to have more log detail or a way to reproduce the situation... thanks!

[2021-05-18 07:07] #4320 closed

[2021-05-18 07:32] rajendragosavi commented on #4456
I am also facing the same issue.

[2021-05-18 08:07] rajendragosavi opened #4919 "FATA[0004] failed to initialize project: unable to scaffold with "base.go.kubebuilder.io/v3": exit status 2"
## Bug Report

#### What did you do?
I tried to create new operator - using operator-sdk.

I hit the command - operator-sdk init --verbose --owner rajendra_gosavi --project-name my-first-opeator

#### What did you expect to see?
The Operator should have created the opeartor and boilerplate code related.

#### What did you see instead? Under which circumstances?
I got an error -

[code]

#### Envir

[2021-05-18 08:09] rajendragosavi commented on #4919
I do not have any .git .md files. The directory just has go.mod file created after go mod init

[2021-05-18 08:19] ClareChu commented on #1570
I dealt with it this way and solved the problem

[code]

[2021-05-18 13:59] rashmigottipati commented on #4919
Hi @rajendragosavi,

Looks like the error is occurring due to incompatible go version. Suggest bumping your go version from go1.15.12 to go1.16.4 and then re-trying the `init` command on a fresh directory.

[2021-05-18 16:32] rajendragosavi commented on #4919
@rashmigottipati  I tried with 1.16.3 it does not work either.
Error: failed to initialize project: unable to run pre-scaffold tasks of "base.go.kubebuilder.io/v3": go version 'go1.16.3' is incompatible because 'requires 1.13 <= version < 1.16'. You can skip this check using the --skip-go-version-check flag

[2021-05-18 16:58] rashmigottipati commented on #4919
@rajendragosavi Can you try setting the flag `operator-sdk init --skip-go-version-check` and skip the check?

The project dependencies aren't upgraded to go 1.16 yet.

[2021-05-18 16:58] rashmigottipati commented on #4919
PR to upgrade go version in kubebuilder: https://github.com/kubernetes-sigs/kubebuilder/pull/2182

[2021-05-18 17:06] rashmigottipati commented on #4919
I tried it on my end and it's able to initialize it when I skip the version.

Please feel free to close this issue if it's resolved.

[2021-05-18 17:39] rashmigottipati commented on #4919
Also curious if you have installed operator-sdk using homebrew and if that's causing any env issues. If your issue is not resolved yet, can you try installing the binary from the releases page instead: https://github.com/operator-framework/operator-sdk/releases and give it a shot?

[2021-05-18 17:40] estroz commented on #4274
Closed by #4863

[2021-05-18 17:40] #4274 closed

[2021-05-18 17:45] varshaprasad96 commented on #4456
@rajendragosavi can you cross check that the decencies of the project are as required for the [latest](https://sdk.operatorframework.io/docs/building-operators/golang/migration/) operator sdk version. If you are still facing issues, please feel free to raise an issue.

[2021-05-18 17:45] rashmigottipati commented on #4919
Here's some more info: https://stackoverflow.com/questions/46693653/compile-version-go1-9-does-not-match-go-tool-version-go1-9-1/53661370#53661370v

Closing this issue, please feel to re-open if issue persists. Thanks!

[2021-05-18 17:45] #4919 closed

[2021-05-19 12:36] rbq opened #4925 "Development proxy ignores path in K8s API URL"
## Bug Report

#### What did you do?

1. set `~/.kube/config` to a Rancher-managed cluster's API
    (sth. like `https://my-domain.tld/k8s/clusters/c-some-id`)
2. `kubectl apply […]` to deploy CRD
3. `operator-sdk run` to run operator

#### What did you expect to see?

I expected both steps 2 and 3 to target the cluster configured in step 1.

#### What did you see instead? Under which circumstance

[2021-05-19 15:02] varshaprasad96 commented on #4615
this is close to getting finished, but since its not a release blocker, bumping it to next milestone.

[2021-05-19 16:35] hulquest opened #4926 "Instruct developers to use a UBI base image."
### What is the URL of the document?

https://sdk.operatorframework.io/docs/building-operators/golang/tutorial

### Which section(s) is the issue in?

https://sdk.operatorframework.io/docs/building-operators/golang/tutorial/#configure-the-operators-image-registry

### What needs fixing?

Developers should be instructed to choose a UBI base image if the operator will be made available on OperatorHu

[2021-05-19 18:18] jberkhahn commented on #3947
blocked pending #4837

[2021-05-19 18:21] estroz commented on #4528
Since we've deprecated packagemanifests, I'd actually like to hide those docs (not remove them) and retitle bundle-related docs. The sidebar/titles should be more clear then.

[2021-05-19 18:40] tlwu2013 commented on #3615
Perhaps the SDK site could also have a style guide page similar to [upstream k8s doc](https://github.com/kubernetes/website/blob/master/content/en/docs/contribute/style/style-guide.md).
And we could see if any established conventions we'd like to leverage too.

[2021-05-19 19:10] #4203 closed

[2021-05-20 08:31] camilamacedo86 opened #4928 "Create API is not calling make targets and is not generating the CRD"
## Bug Report

#### What did you do?

Create an API : ` operator-sdk create api --group=cache --kind=Test2 --version=v1
`

#### What did you expect to see?

The target `make manifests` be called as a post-action of the command.

#### What did you see instead? Under which circumstances?

That has not been called and then we cannot check the crd created.

#### Environment

**Operator type:**

 /lang

[2021-05-20 08:31] camilamacedo86 commented on #4928
c/c @estroz

[2021-05-20 15:37] ninja- opened #4930 "How to properly create a Helm chart for operator?"
## Type of question

General operator-related help

## Question

#### What did you do?

I am looking to upgrade Operator SDK after about a ~ 1.5 year of working on previous version, and I am a bit confused.
How can I package my operator as a normal helm chart?
I see no mentions of that anywhere in the docs.
I tried running `make bundle`, but resulting manifests are removing **Deployment** objects

[2021-05-21 01:13] #3927 closed

[2021-05-21 02:47] sgloutnikov commented on #4828
The standard `brew` install on MacOS looks to be broken as well at the moment until the 1.16 support is in. The install depends on the `go` formula which points to `1.16`.  Workaround with `1.15` installed:

`brew install --ignore-dependencies operator-sdk`

[2021-05-21 04:05] estroz commented on #4928
Since you think this is a bug in kubebuilder can you reopen it there? Thanks. I'd be fine with `make manifests` being run if a resource was created.

[2021-05-21 04:05] #4928 closed

[2021-05-21 19:52] #4828 closed

[2021-05-22 03:03] cndoit18 opened #4936 "when using the randAlphaNum in Helm, the chart release is constantly upgraded"
## Bug Report

#### What did you do?

Use [randAlphaNum](https://helm.sh/docs/howto/charts_tips_and_tricks/) in Helm Chart

#### What did you expect to see?

The chart is only updated over again

#### What did you see instead? Under which circumstances?

 The chart constantly scrolling upgrade

#### Environment

[2021-05-22 15:20] proegssilb opened #4938 "Installation Guide"
The installation guide at https://sdk.operatorframework.io/docs/building-operators/helm/installation/ contains a bad link:

[2021-05-24 16:54] varshaprasad96 commented on #4930
@ninja- that's the right step. After creating an operator project out of helm chart, you can run `make bundle` to package your operator. The deployment should be have been specified in CSV, do you mean its not present and being removed? [CSV](https://olm.operatorframework.io/docs/concepts/crds/clusterserviceversion/#writing-your-operator-manifests) is used by OLM to deploy an instance of an operat

[2021-05-24 17:03] varshaprasad96 commented on #4938
@proegssilb Thanks for bringing this. #4941 would fix this.

[2021-05-24 17:17] estroz commented on #4183
/lifecycle frozen

[2021-05-24 18:01] #4938 closed

[2021-05-24 18:15] estroz commented on #4926
@hulquest do you mean getting Red Hat certified requires UBI? I do not think getting onto OperatorHub requires UBI.

/triage support

[2021-05-24 18:35] varshaprasad96 commented on #4930
@ninja- Please ignore my previous comment! Did you mean - you would like to package a `go` operator in a helm chart to manage its lifecycle? That should be possible, and does not need any additional steps from SDK's end. Just to clarify here, [`make bundle`](https://sdk.operatorframework.io/docs/olm-integration/quickstart-bundle/) is used to package an operator for Operator Lifecycle Manager (OLM)

[2021-05-24 18:37] asmacdo commented on #3947
It looks like there is not much that can be consolidated, so this issue is to create an operator-scope document for Ansible/Helm. If there is redundancy, we can revisit #4837

[2021-05-24 18:37] #4837 closed

[2021-05-24 18:38] ninja- commented on #4930
@varshaprasad96 I am looking to simply create a helm chart that's able to install my operator without OLM on the cluster, and so no ClusterServiceVersion object. Just plain old Deployment, Role, ServiceAccount & CRDs.
I was able to hack this around and create these manifests, but it was a long manual process that could have been integrated some way into operator-sdk and kustomize templates.
Curren

[2021-05-24 18:45] varshaprasad96 commented on #4930
@ninja- Can you please elaborate more on why you would like to use helm chart?
`make bundle` is specific for packaging an operator for OLM. That cannot be used for creating helm chart for the operator.

[2021-05-24 18:47] ninja- commented on #4930
Yes it is specific, but what I want to do is have a kustomize base file that includes needed objects for a pure helm chart (which doesn't differ much from the default config used today that makes the _bundle_) and then split the objects into several files, which kustomize can't do, and that's handled by operator-sdk cli

[2021-05-24 19:40] estroz commented on #4930
The `operator-sdk` CLI will only split up those files in the context of an OLM bundle, and won't really do what you want. What I suggest is using something like `kustomize build config/default | [yq eval](https://github.com/mikefarah/yq)` to process these into multiple docs.

[2021-05-24 19:41] ninja- commented on #4930
that's more or less what I did at this point. but it is still very hacky and would be nice it was integrated with operator-sdk instead.

[2021-05-24 19:57] estroz commented on #4930
Typically either helm or kustomize are used to "fill in" some values in k8s manifests, but not both (except using kustomize as a helm [post-renderer](https://github.com/thomastaylor312/advanced-helm-demos/tree/master/post-render)). A helm template is not a valid k8s manifest, and will error if you try to `kustomize build` them in some cases. These concepts do not sound foreign to you but I wanted

[2021-05-24 20:01] ninja- commented on #4930
I don't understand the `kubectl apply` vs `helm` argument in this case.
The manifests rendered by `kustomize` are still generic enough such that they can be thrown into a helm chart without much problems, with only minor changes.
If I do any adjustments to fit helm, these are post `kustomize` and not before, if that's what you are referring to.

Right now I am using the operator-sdk automation tha

[2021-05-24 22:02] estroz commented on #4930
Ok thanks for clarifying.

I'm saying that `kustomize` and `helm` are really two different templating formats, the latter of which also doubles as a packaging format. So you're kinda losing the benefit of the templating side of helm by trying to use kustomize as the templater. You still certainly can, but I don't think doing so is recommended, nor should operator-sdk should be in the business of b

[2021-05-25 00:16] niuxiaojuan-github opened #4942 "Can I just update base image version to bump up Golang with ansible operator"
## Type of question

General operator-related help

## Question

#### What did you do?
My ansible operator is built based on 0.17.2, I'm using base image quay.io/operator-framework/ansible-operator:v0.17.2

I need to upgrade golang to 1.15.7+ to solve security issue, Can I update base image version to v1.5.0 directly? will rest of code work with v1.5.0 base image?

Do I have to restructure my oper

[2021-05-25 08:30] JackZxj commented on #4840
Waiting for this feature too!

I was doing some test on my local cluster, but it did not work for my local registry!
[code]

[2021-05-25 09:36] ninja- commented on #4930
yes, that's more or less what I have done already, but it still feels more hacky than it should be

[2021-05-26 14:27] #4530 closed

[2021-05-26 15:09] estroz commented on #3700
/lifecycle frozen

[2021-05-26 17:05] #4936 closed

[2021-05-26 20:22] #4751 closed

[2021-05-26 22:57] jfgosselin opened #4949 "Helm Operator for A/B deployment"
## Feature Request

#### Describe the problem you need a feature to resolve.

I’m using the Helm Operator and I want to use it for an A/B deployment (or blue green/deployment) in the same namespace (it must be in the same namespace).

Obviously I can’t deploy two Helm Operators with the same watches.yaml but different Helm chart versions (they will step on each other).

I also don’t want to bump t

[2021-05-27 01:28] nikhil-thomas opened #4951 "OperatorSDK generate command cannot take input from STDIN redirected from a file"
## Bug Report

`operator-sdk generate bundle` command can only read from pipe but not from STDIN redirected from a file.

#### What did you do?

`kustomize <manifests-dir> | operator-sdk generate bundle <--args>` works fine.

However, i cannot provide a pre-rendered (for example from `ko resolve`) yaml file as input to this command.

At present, we have to do:
[code]
this works.

but I want to do

[2021-05-27 17:12] jdockter commented on #4886
@estroz we are seeing this more and more, is there a work around

[2021-05-27 17:49] estroz commented on #4951
@nikhil-thomas mind making a PR?

/kind feature

[2021-05-27 17:53] estroz opened #4953 "[release] improve release process by automating netlify subdomain creation"
Subdomains are created for each minor release branch at release time. Netlify detects these new branches by watching a fixed set of branch names; since these are not patterns, the new branch name needs to be added. Currently this is done manually via the netlify console. This process could be automated, alongside branch -> subdomain mapping creation, at release time. Such automation is a quality-o

[2021-05-27 18:42] estroz commented on #4886
I'm still in the camp of pre-loading images via a DameonSet, which will provision all nodes with an image:

[code]

If that truly is not amenable to your test clusters, then we can talk about a flag to pass some pullable busybox image tag.

[2021-05-27 18:45] tony-clarke-amdocs commented on #4886
@estroz This would become part of the SDK? Even still, I don't see how it helps, we will still be rated limited. Surely, the option is to allow the image to be configured so it can be pulled from a different repository.

[2021-05-27 18:49] estroz commented on #4886
You'd apply this DaemonSet to your cluster yourself. Wouldn't this solve rate limiting since `docker pull busybox` would only be pulled on node join or pod restart? I am trying to find a solution that does not allow changing the image scorecard uses, since we test with a specific image.

[2021-05-27 18:56] tony-clarke-amdocs commented on #4886
@estroz It doesn't seem like a valid solution for two reasons.

1. It's a workaround and users will have to know to do this step
2. It can still be rated limited.

But there are other places where user can configure the image. For example, the olm.config.yaml also user to specify the scorecard image. ```image: quay.io/operator-framework/scorecard-test:v1.7.0```

I think it's pretty reasonable to a

[2021-05-27 19:14] estroz commented on #4886
If my solution really is that painful, then I am ok with adding an `--proxied-init-image-tag` flag so you can just set the full image tag (with a warning about support of course).

[2021-05-27 19:15] estroz commented on #4886
@jmccormick2001 @theishshah how do you feel about this?

[2021-05-27 19:17] tony-clarke-amdocs commented on #4886
@estroz ```--proxied-init-image-tag``` seems like a reasonable option.

[2021-05-28 00:40] nikhil-thomas commented on #4951
sure :+1:
/assign @nikhil-thomas

[2021-05-28 00:47] sqqqrly opened #4954 "Makefile's helm-operator recipe is "silently" broken"
## Bug Report

#### What did you do?
While following [1], I ran "make install run". This depends on "helm-operator".  This dependency completed without error.

[1] https://sdk.operatorframework.io/docs/building-operators/helm/tutorial/

#### What did you expect to see?

I expected that bin/helm-operator would be  a binary: "ELF 64-bit LSB executable, x86-64, version 1 (SYSV), statically linked, no

[2021-05-28 17:06] chlam4 opened #4956 "Empty patch requests seen from helm-based operator even when there're no changes, overloading the kube apiserver"
## Bug Report

We have an operator built on the operator-sdk and its helm-operator.  We have been seeing empty patch requests going to the Kubernetes apiserver even there are no changes.  We have a deployment scenario with hundreds of this operator, which caused heavy traffic onto the apiserver.

#### What did you do?

Follow the procedure [here](https://github.com/turbonomic/t8c-install/blob/mast

[2021-05-29 11:50] mstrYoda commented on #2506
Lets assume we are creating pods according to our CR spec.replicas field. User created a CR with replicas count 3. And then update that resource with replicas count 1. How do we know that we need to find other pods and delete all of them? Are not we need to compare current resource with the previous one?

Or... Finding and deleting old pods using ownerReference is the best practice?

[2021-05-29 12:17] w3st3ry commented on #4796
[The related PR](https://github.com/kubernetes-sigs/kubebuilder/pull/2160) has been merged.

[2021-05-29 16:34] jmccormick2001 commented on #4886
I think it would be good to allow images to be overrode via a setting in the config.yaml file.  In the same way we let users specify their test images, but this would be a global setting in that config file instead of a per-test setting.

[2021-05-31 09:47] absynth76 commented on #4890
With who that discussion must be initiated? Can somebody act upon it ?

[2021-06-01 02:40] Akiya95 commented on #4840
① use  operator-sdk version: "v1.8.0"
② run your cmd with '--skip-tls' flag
  operator-sdk run bundle 172.31.0.7:5000/test.io/operator-demo-sdk-bundle:v0.0.1 --skip-tls

[2021-06-01 02:48] JackZxj commented on #4840
WOW, thanks bro, I will try it later!

[2021-06-01 03:16] Akiya95 opened #4959 "'operator-sdk run bundle' can't pull image"
## Bug Report
I use the 'operator-sdk run bundle' command to deploy an operator, but the result shows that it fails to pull the image.

`
[root@master1 memcached-operator]# operator-sdk run bundle 10.167.14.138:8082/memcached-operator-bundle:v0.0.1 --skip-tls
FATA[0120] Failed to run bundle: create catalog: error creating registry pod: get database path: get index image labels: error pulling image

[2021-06-01 03:53] gyliu513 opened #4960 "Add api group `operators.coreos.com` to `clusterPermissions` by default."
## Bug Report

#### What did you do?

[code]

The CSV `clusterPermissions` does not include api group as `operators.coreos.com`, and this will cause I cannot use OLM to manage this operator.

![image](https://user-images.githubusercontent.com/4461983/120264140-becc2200-c2cf-11eb-8949-80f61ac41edb.png)

#### What did you expect to see?

Suggest add api group `operators.coreos.com` to `clusterPermis

[2021-06-01 16:21] estroz commented on #4886
@theishshah do you want to work on this feature? If so, put this in an upcoming release milestone.

[2021-06-01 19:37] SimonBaeumer opened #4962 "Wrong repo link for scorecard tests examples"
### What is the URL of the document?

https://sdk.operatorframework.io/docs/advanced-topics/scorecard/custom-tests/#building-test-image

### Which section(s) is the issue in?

`Building test image: `

### What needs fixing?

The link  in the "here" from

links to the operator-sdk repo which does not reflect the given structure of a memcached operator.

#### Additional context

[2021-06-02 09:18] basickarl commented on #3826
ddfff

[2021-06-02 09:20] basickarl commented on #3826
@joelanford  How would one update the `config/manager/manager.yaml` file exactly? What is the `full name`? Is it the `metadata.namespace:`? And if so what should I write there?

[2021-06-02 14:51] estroz commented on #4436
/remove-lifecycle rotten

[2021-06-02 18:55] laxmikantbpandhare commented on #4885
@amanjain08 the operator-sdk and ansible-operator versions you are using are very old. this issue was fixed in #4511 , please upgrade to a new version.

[2021-06-02 18:57] #4885 closed

[2021-06-03 11:50] zoopp commented on #4505
I owe an update on the issue so here we go: In the end I did not find a good way to deal with this using the ansible runner and ended up experimenting with other frameworks.

Being more familiar with python, I ended up implementing things using [kopf](https://github.com/nolar/kopf) so the original problem no longer applies to me. I can answer additional questions if there are any otherwise I'm oka

[2021-06-03 18:44] psaini79 opened #4965 "Operator-sdk doesn't install operator controller pod"
## Bug Report

#### What did you do?

Build the docker images for the operator and bundle. Push the images to the repo. Execute the following command to pull the bundle and it command went fine:
[code]

The operator-sdk doesn't install operator and showing the following:
[code]

#### What did you expect to see?

It must install an operator controller pod but that is not created here.

#### What di

[2021-06-04 05:50] nikhil-thomas commented on #4505
Great 👍

So how does we connect events on resources not managed by an operator to one of our CRD (primary resource).
It would be great, if you could share a link to the code. so that I can better understand the flow.

In [tektoncd/operator](https://github.com/tektoncd/operator), (built with [knative/pkg](https://github.com/knative/pkg#knative-common-packages)) we had to deal with something similar

[2021-06-04 07:22] #4339 closed

[2021-06-04 07:22] #4357 closed

[2021-06-04 13:23] #4319 closed

[2021-06-04 13:23] #4302 closed

[2021-06-04 17:09] estroz commented on #4954
This was fixed in v1.3.1, see #4412.

[2021-06-04 17:09] #4954 closed

[2021-06-04 17:11] estroz commented on #4959
@Akiya95 what kind of cluster are you using? Are you able to `docker pull` the `upstream-opm-builder` locally?

/triage support

[2021-06-04 17:12] estroz commented on #4962
@jmccormick2001 which repo was that link supposed to link to?

[2021-06-04 17:12] estroz commented on #4962
/ping @theishshah

[2021-06-04 17:16] estroz commented on #4965
If the CSV has a `Succeeded` phase then whatever was in the CSV was created. What's the output of `kubectl get pods --all-namespaces`?

/triage needs-information

[2021-06-04 18:01] psaini79 commented on #4965
Following is the ouput:

[code]

Is there anything I missed building the bundle?

[2021-06-04 19:34] estroz commented on #4965
Likely not. If your CSV `myapp-database-operator.clusterserviceversion.yaml` contains a Deployment for your controller-manager then a controller-manager pod will be created. Did `operator-sdk run bundle` actually fail, or did the CSV show `Succeeded` in command output? What's the output of
[code]

[2021-06-05 02:01] Akiya95 commented on #4959
Bare-metal k8s deployed by kubespray.
[code]

Yes

[2021-06-05 19:02] mustanish opened #4966 "Memcached deployment crashes after applying CR"
## Type of question
Trying to setup a go based operator using operator sdk (v1.8.0)

## Question

#### What did you do?
I am following this https://sdk.operatorframework.io/docs/building-operators/golang/tutorial/ tutorial to setup a memcached operator

#### What did you expect to see?
I expect to see the exact result mentioned in the tutorial after applying the CR

#### What did you see instead?

[2021-06-05 19:24] #3672 closed

[2021-06-07 06:03] iamniting opened #4967 "How to create webhook for subscriptions without creating an API for it?"
## Type of question

How to implement a specific feature

## Question
How to create a webhook for subscriptions?
I wanted to create a webhook for the subscriptions which can mutate channels for specific subscriptions.

#### What did you do?
`operator-sdk create webhook --group operators --version v1alpha1 --kind Subscription --defaulting --programmatic-validation`

#### What did you expect to see?

[2021-06-07 16:01] varshaprasad96 commented on #4966
@mustanish The error log which you have provided states this while reconciling:
[code]
This is causing seg fault. Can you cross check your sample project with the [testdata](https://github.com/operator-framework/operator-sdk/tree/master/testdata/go/v3/memcached-operator) present in the repository (especially the reconciler logic).

[2021-06-07 16:21] zoopp commented on #4505
Unfortunately I can't share the code as it lives in a private repository outside of github but I can happily describe what I did and hopefully that clarifies it.

I realized that in my case it made sense to have all custom resources collectively managed by a single (kopf) operator. Thus, I ended up adapting the 'alternative' solution that I was talking about in my first message:

Instead of actual

[2021-06-07 17:51] varshaprasad96 commented on #4942
@niuxiaojuan-github There have been quite a few changes in the ansible base image from 0.17.x to 1.5.0. You may have to migrate your project to be compatible with the post 1.0+ changes. Here is the migration guide which maybe helpful https://sdk.operatorframework.io/docs/building-operators/ansible/migration/

[2021-06-07 18:03] asmacdo commented on #4942
+1, that will definitely require manual migration steps.

[2021-06-07 18:05] #4942 closed

[2021-06-07 18:16] estroz commented on #4949
/cc @fabianvf

[2021-06-07 18:17] agalbenus opened #4969 "Failed to install olm using operator-sdk"
## Bug Report

#### What did you do?

`operator-sdk olm install --version 0.18.1`

`operator-sdk olm install --version 0.18.1`

#### What did you expect to see?

olm 0.18.1 installed succesfully

#### What did you see instead? Under which circumstances?

[code]

#### Environment

**Operator type:**

**Kubernetes cluster type:**

`$ operator-sdk version`

operator-sdk version: "v1.8.0", commit: "d3

[2021-06-07 18:24] estroz commented on #4960
Are you trying to create subscriptions and catalogsources from within your operator? Otherwise these permissions are not needed.

/triage needs-information

[2021-06-07 18:31] asmacdo commented on #4966
If you have it handy, could you send me a link to your operator?

[2021-06-07 18:37] estroz commented on #4969
@agalbenus does this happen consistently? If so, try removing any OLM-related operator images from your cluster's registry and try reinstalling OLM.

/triage support
/assign @jmrodri

[2021-06-07 18:41] estroz commented on #4967
Currently you cannot define one with `operator-sdk create webhook`. We use kubebuilder's `create webhook` command for Go operator projects, for which there is already a feature request for this (https://github.com/kubernetes-sigs/kubebuilder/issues/1999). Once that has been implemented in kubebuilder, operator-sdk will get the same feature via vendoring.

You can write your own admission webhook f

[2021-06-07 18:41] #4967 closed

[2021-06-07 18:53] agalbenus commented on #4969
@estroz I tried 3 times and it happened every time...
I suspected that is something wrong with the bindata for 0.18.1 version and I compiled operator-sdk without it to force fetching the data remotely, but it happened again. I suspect that it takes a a little bit for the crds to become available for and this is the reason it fails.

[2021-06-07 19:17] agalbenus commented on #4969
I added 500ms delay between object creation here:
https://github.com/operator-framework/operator-sdk/blob/f298f7c92ee154a0e8123fb13398a7f21720cf0e/internal/olm/client/client.go#L115

and the install command finished with success

[2021-06-07 19:32] mustanish commented on #4966
@asmacdo, here is the link to operator https://github.com/mustanish/memcached-operator

[2021-06-07 19:37] mustanish commented on #4966
@varshaprasad96 I followed all the steps in the tutorial, even where it says to replace the generated controller with the one present inside the [testdata](https://github.com/operator-framework/operator-sdk/blob/v1.3.0/testdata/go/v3/memcached-operator/controllers/memcached_controller.go). The reconciler logic is inside the controller, I will try to set up the entire thing again and replace the ge

[2021-06-07 20:41] psaini79 commented on #4965
# kubectl get events -n myapp-db
No resources found in myapp-db namespace.

[2021-06-07 20:49] psaini79 commented on #4965
this our clusterserviceversion.yaml

[code]

[2021-06-07 20:57] estroz commented on #4965
Ah well that would explain it. There's no deployment in your CSV. Is that intentional?

[2021-06-07 21:19] psaini79 commented on #4965
@estroz

I am also surprised but do you know how to fix it? how can I generate this file dynamically?

[2021-06-08 01:25] #2444 closed

[2021-06-08 01:30] nikhil-thomas commented on #4505
Thanks :heart:

Interesting, this would work in our situation too.
Less hacky and more clear for a code reader. :technologist: :+1:

[2021-06-08 15:22] sqqqrly commented on #4684
I also hit this error using a helm-based operator.

[2021-06-08 19:18] varshaprasad96 commented on #4966
@mustanish I believe the error is probably caused by not instantiating the log ([here](https://github.com/operator-framework/operator-sdk/blob/v1.3.0/testdata/go/v3/memcached-operator/controllers/memcached_controller.go#L60)). Using the `memcached-controller.go` from the master branch would be helpful, as we use the controller-runtime logging. Can you try using the controller code from [here](http

[2021-06-08 19:37] #4966 closed

[2021-06-09 13:53] AnilKumarBandi27 opened #4974 "Not able to assign resources that is cpu request and limits and memory request and limits for operator pod containers."
## Bug Report
I have added the resources that is cpu requests and limits and memory requests and limits to both the operator containers as shown in below CSV file. After the operator installation resources section is empty i.e. resources: { }.

Please find below attached CSV file operator deployment section:

[code]
#### Environment

Ansible-based operator - operator-sdk v1.7.2

Tested on OpenShif

[2021-06-09 15:10] jdheyburn commented on #2288
Like my fellow commenter above, posting my fix which was to set $GOROOT to the directory containing my go installation.

E.g. for a go installation at `/usr/local/Cellar/go/1.16.4/libexec/bin/go` I ran `export GOROOT=/usr/local/Cellar/go/1.16.4/libexec/`

Fixed pull from here: https://github.com/operator-framework/operator-sdk/issues/1854#issuecomment-525132306

[2021-06-09 18:10] varshaprasad96 commented on #4615
closing this as #4346 is merged

[2021-06-09 18:10] #4615 closed

[2021-06-09 18:24] estroz opened #4975 "Support kustomize v4"
## Feature Request

#### Describe the problem you need a feature to resolve.

kustomize [v4.0.0](https://github.com/kubernetes-sigs/kustomize/releases/tag/kustomize%2Fv4.0.0) was released recently. Most operator-sdk usage is compatible, but certain components are not (see #4597).

#### Describe the solution you'd like.

Permit both v3 and v4 kustomize binaries to work with all operator-sdk project

[2021-06-09 18:29] kensipe commented on #3407
@joelanford is this still an open issue?

[2021-06-09 18:32] kensipe commented on #4796
@camilamacedo86  @w3st3ry has this issue been closed with the last PR merge?

[2021-06-09 18:32] estroz opened #4976 "Binary downloader and version checker"
## Feature Request

#### Describe the problem you need a feature to resolve.

Project Makefiles download several binaries, at least [controller-gen and kustomize](https://github.com/operator-framework/operator-sdk/blob/master/testdata/go/v3/memcached-operator/Makefile#L124-L144). Global binaries are used if present, and may be of the wrong version. If a global binary is not present, a project-loca

[2021-06-09 18:33] estroz commented on #4976
This will require kubebuilder changes for Go operator projects.

[2021-06-09 18:33] estroz commented on #4975
This may require kubebuilder changes for Go operator projects.

[2021-06-09 18:36] estroz commented on #4597
See #4975 and #4976.

[2021-06-09 18:36] #4597 closed

[2021-06-09 18:39] estroz opened #4977 "deps: k8s v1.21"
## Feature Request

#### Describe the problem you need a feature to resolve.

Kubernetes v1.21 was released recently.

#### Describe the solution you'd like.

Projects should support v1.21 as soon as possible.

TODO's:
- [x] bump controller-runtime to k8s v1.21, release v0.9.0
- [x] bump go.kubebuilder.io/v3 to controller-runtime v0.9.0
- [x] update operator-sdk dependencies to k8s v1.21 and kubeb

[2021-06-09 19:42] jberkhahn commented on #4241
note: add blurb at top of new tutorial section about difference between bundle generation (which is an operator-developer task), and actually installing/upgrading operators (which is a cluster operator task, and might involve brain surgery), although the operator developer still needs to have their bundle be correct, even if they shouldn't have to actually know about the OLM APIs

[2021-06-09 19:48] jberkhahn opened #4979 "Implement some way to cleanup when `operator-sdk run bundle-upgrade` fails"
Currently, if `operator-sdk run bundle-upgrade` fails, it leaves the changed state on the cluster (such as the newer version of the bundle-pod) as-is. This is useful for debugging purposes, but it's difficult to extract yourself from this state without completely uninstalling all versions of the operator. It would be helpful if there was some command to get out of this state, such as adding a flag

[2021-06-10 19:29] #4317 closed

[2021-06-11 05:32] laxmikantbpandhare commented on #4925
Fix for this issue is dependent on [kubectl PR](https://github.com/kubernetes/kubernetes/pull/97350). Once this PR is merged then only we will be able to move ahead with this fix as it has changes in **apimachinery**.

[2021-06-11 05:37] laxmikantbpandhare opened #4980 "Fix for Development proxy ignores path in K8s API URL. Throw error if it has path."
## Bug Report

This issue is for temporary fix of #4925. In this fix, we will throw an error once we encounter this sitaution.

#### What did you do?

1. set ~/.kube/config to a Rancher-managed cluster's API
(sth. like https://my-domain.tld/k8s/clusters/c-some-id)
2. kubectl apply […] to deploy CRD
3. operator-sdk run to run operator

#### What did you expect to see?

I expected both steps 2 and 3

[2021-06-11 05:39] laxmikantbpandhare commented on #4925
Created another issue #4980 which will fix this issue and throw an error for now. Once [kubectl PR](https://github.com/kubernetes/kubernetes/pull/97350) gets merged then we will move ahead with changes.

[2021-06-11 17:41] Rylon commented on #2609
@Nik-Novak any chance you could share the discussion from that Slack link please? I don't have access to it, nor does it seem that I can sign up for access.

I've got this same problem, and not sure if it's possible to work around it.

[2021-06-11 18:22] rashmigottipati commented on #4925
Removing this from v1.9.0 milestone as #4980 (in milestone v1.9.0) is tracking this issue.

[2021-06-12 13:30] #3857 closed

[2021-06-13 01:30] #3770 closed

[2021-06-14 07:30] #4384 closed

[2021-06-14 12:29] stevelaclasse commented on #4729
I got the same problem and i could solve it by creating a secret of type **kubernetes.io/dockerconfigjson**  , by running the command : **kubectl create secret docker-registry secret_name --docker-server=<your-registry-server> --docker-username=<your-name> --docker-password=<your-pword> --docker-email=<your-email>**
I have created the secret in the same namespace as the serviceaccount or others ma

[2021-06-14 17:59] jfrancin opened #4983 "[IBM] Containers built with helm-operator:v1.3.0 fail the ISV CVP (Container Verification Pipeline) "Free of Important Vulnerabilities" test"
## Feature Request

#### Describe the problem you need a feature to resolve.

#### Describe the solution you'd like.

Rebuild quay.io/operator-framework/helm-operator:v1.3.0 against the current ubi-minimal.

/language helm

[2021-06-14 22:44] kirubaap opened #4984 "Cannot find metrics module github.com/operator-framework/operator-sdk/pkg/metrics"
## Type of question

## Question

#### What did you do?

Unable to find the metrics from operator-sdk

go: finding module for package github.com/operator-framework/operator-sdk/pkg/metrics
pkg\k8s\k8s_client.go:22:2: module github.com/operator-framework/operator-sdk@latest found (v1.8.0), but does not contain package github.com/operator-framework/operator-sdk/pkg/metrics

goversion : 1.15

#### Wh

[2021-06-14 23:49] jberkhahn opened #4985 "Slow down release cadence?"
We had an issue come up today that wanted us to rebuild the helm operator image for 1.3.0. Officially we support version n-1, but with a release cadence of every 3 weeks or so that means an operator built ~3 months ago is no longer supported. Should we slow down our release cadence? We originally had a fast cadence to get in the stuff that didn't make it into 1.0.0, is there still a need for this?

[2021-06-15 01:30] #4179 closed

[2021-06-15 10:03] m-yosefpor commented on #1914
The link is outdated, can you please provide a some useful resource on how can we implement our custom MapFunc event handler?

[2021-06-15 10:19] m-yosefpor opened #4986 "Trigger reconcile on events of cluster-scoped objects created by a namespaced CR."
## Feature Request

#### Describe the problem you need a feature to resolve.

Following https://github.com/operator-framework/operator-sdk/issues/1914:

Consider the following example:

[code]

This controller watches events of a CR named `somev1alpha1.NamespacedCR`, and trigger the Reconcile logic.
In Reconcile, we create some cluster-scoped objects corresponding to this CR, named `somev1alpha1.C

[2021-06-15 20:19] kirubaap commented on #4984
Can someone help be on this issue ?

If the metrics.CreateServiceMonitor() is deprecated , what is the new/alternative  method to be used for creating Service Monitor.

[2021-06-15 20:33] tlwu2013 commented on #4684
hey @sqqqrly, I assume you are using SDK `1.6.0+`, can you confirm?

The `registry.redhat.io/openshift4/ose-helm-operator:v4.7` is a downstream image based on `helm-operator:v1.3.0`. Therefore it doesn't work with the arg `--health-probe-bind-address` being scaffolded by the later SDK version.

[2021-06-16 02:03] gyliu513 commented on #4960
@estroz sorry for late, the answer is yes.

[2021-06-16 12:25] lukczarnota opened #4989 "Log rotation"
## Feature Request

#### Describe the problem you need a feature to resolve.

There is no solution for log rotations.
When operator is handling a lot of workloads then logs are exceeding storage.

#### Describe the solution you'd like.

Possibility to manage log retention by date or size of logs etc.

[2021-06-16 12:38] AndrienkoAleksandr opened #4990 ""operator-sdk generate kustomize manifests -q" hangs for api groups with reference"
## Bug Report

In the operator I have two api groups. First api group referenced to the object from second api group. When I'm trying to build olm bundle ''make bundle" command hanges. I took a look: "make bundle" command uses inside sub-command:

[code]

 And "make bundle" hangs on this step.

#### What did you do?

I will try to explain this bug using sample(https://github.com/AndrienkoAleksandr

[2021-06-16 15:16] sqqqrly commented on #4684
[code]

[2021-06-16 18:17] estroz commented on #4960
Not all operators use these resources; in fact most do not. Therefore adding these by default is not useful and is a security hole. Add them to your project only if absolutely necessary.

[2021-06-16 18:17] #4960 closed

[2021-06-16 18:30] camilamacedo86 opened #4992 "The annotations added on the bundle/metadata/annotations.yaml are not ending up in the bundle.Dockerfile"
## Bug Report

#### What did you do?

- Add new annotations in bundle/metadata/annotations.yaml
- Run make a bundle

#### What did you expect to see?

- Then, the new annotations would need to end up in the bundle.Dockerfile but they have been lost

#### What did you see instead? Under which circumstances?

![Peek 2021-06-16 18-58](https://user-images.githubusercontent.com/7708031/122273294-2f3290

[2021-06-16 18:36] estroz commented on #4635
@Athosone that seems reasonable. Do you need one CRD per application state, instead of just one CRD with different status conditions?

Side note: your description sounds like some components of https://github.com/argoproj/argo-cd. Have you looked into using its APIs?

/remove-lifecycle stale

[2021-06-16 19:20] camilamacedo86 commented on #4992
c/c @estroz do you have thoughts about here? Have we an annotation file in the config/ dir?

[2021-06-16 19:41] msugakov commented on #4992
Here's what I observed. I added annotations
[code]
to `bundle/metadata/annotations.yaml`, ran `make bundle`, and these annotations were gone from `bundle/metadata/annotations.yaml`. They were also not added to `bundle.Dockerfile` contrary to what one might expect.

I tried both operator-sdk 1.5.2 and 1.8.0.

[2021-06-16 20:13] theishshah commented on #4617
added in API pr110

[2021-06-16 20:13] #4617 closed

[2021-06-16 20:31] #4872 closed

[2021-06-16 21:51] Athosone commented on #4635
Yeah we looked into it as well fluxcd which looks great but we are in an hybrid scenario (on premise with support for airgapped and cloud) which does not work well with these GitOps tools.

For example when you want to install a release we need to transfer the images from our remote registry to a local registry to ensure high availability in poor network environment. Then we persist the digests of

[2021-06-17 07:58] pbrissaud commented on #4984
I am facing the same issue. I found an answer in #4295

[2021-06-17 09:53] renczesstefan opened #4993 "Go Operator-SDK: manager pod restarts when applying sample memcached yaml to Minikube with kubectl and fails in CrashBackLoop"
## Bug Report

#### What did you do?

I tried to create a Memcache example project using Golang and operator-sdk. As Kubernetes I am using Minikube and I have installed kubectl too. I am developing the project using WSL 2 as make and other Linux commands are not available on Windows 10. I followed the tutorial of [operator-sdk for Go](https://sdk.operatorframework.io/docs/building-operators/golang

[2021-06-17 09:57] fjammes commented on #3545
I also have the following warning message when running `make bundle` with `operator-sdk-1.8.0`:
[code]
Could you help please?

[2021-06-17 19:16] estroz commented on #4992
Changes made to `bundle/metadata/annotations.yaml` should be persisted, so this is a bug. However, `bundle.Dockerfile` needs to be kept in sync manually because not all annotations can/should be synced as Dockerfile `LABEL`s, just those in the bundle spec. @camilamacedo86 can you retitle this issue to reflect that?

/cc @varshaprasad96

[2021-06-17 19:30] camilamacedo86 commented on #4992
Hi @estroz,

Thank you for give a look here?

Could you please clarifies `However, bundle.Dockerfile needs to be kept in sync manually because not all annotations can/should be synced as Dockerfile LABELs,just those in the bundle spec.`? Can you please provide an example of annotations that should be synced or not?

[2021-06-17 19:34] estroz commented on #4992
[Bundle spec labels](https://github.com/operator-framework/operator-registry/blob/master/docs/design/operator-bundle.md#bundle-annotations) should be in sync as per the spec. All others are defined elsewhere and therefore `operator-sdk generate bundle` cannot know if they should be synced or not.

[2021-06-17 19:53] camilamacedo86 commented on #4992
Hi @estroz,

Why we sync just those ones and not all? Is it not more maintainable in the SDK pov sync all?
Also, this doc does not contain all valid annotations indeed for community-operators.

[2021-06-17 23:44] laxmikantbpandhare commented on #4980
Released as part of Operator SDK v1.9.0 release.

[2021-06-17 23:46] #4980 closed

[2021-06-17 23:57] laxmikantbpandhare commented on #4925
As part of the Operator SDK v1.9.0 release, we have moved temporary fix for this issue. It will throw an error if API endpoint has Path in it. @rbq Could you please try with new version of Operator SDK. You can download the release and view the changes here: https://github.com/operator-framework/operator-sdk/releases/tag/v1.9.0

[2021-06-18 02:20] elliotfehr opened #4996 "Graceful shutdown"
## Bug Report

#### What did you do?
Issued a SIGTERM to the operator-sdk while an ansible-runner was in progress.

#### What did you expect to see?
The operator-sdk should block shutdown until the graceful shutdown option has been exceeded

#### What did you see instead? Under which circumstances?
The operator-sdk exits immediately when receiving a shutdown signal.

#### Environment

**Operator t

[2021-06-21 07:57] jberkhahn opened #4999 "config/webhook/manifests.yaml not being scaffolded by `operator-sdk create webhook`"
config/webhook/kustomization.yaml imports configs/webhook/manifests.yaml as a resource, but manifests.yaml isn't being created, so `make deploy` or `make bundle` are blowing up with unhelpful kustomize errors when trying to scaffold a conversion webhook. I can't find anything in our or the kubebuilder docs that mention this, but commenting out the line importing it seems to work fine. Is this inte

[2021-06-21 10:36] matihost commented on #4989
My problem is probably related but it is generar problem of using ansible runner approach in /tmp directory:
https://github.com/operator-framework/operator-sdk/blob/master/website/content/en/docs/building-operators/ansible/reference/scaffolding.md#the-volume-mount-path

Each reconciliation is a job and bunch of files for a run - it is not cleaned.
WHen CR is deleted - old ansible-runner directory

[2021-06-21 14:00] camilamacedo86 opened #5000 "Changes in the config/manifests/bases/<operator-name>.clusterserviceversion.yaml has been overwritten"
## Bug Report

Changes in the config/manifests/bases/<operator-name>.clusterserviceversion.yaml has been overwritten

#### What did you do?

1. Update `spec.relatedImages` in `config/manifests/bases/<operator-name>.clusterserviceversion.yaml` and described in the doc https://docs.openshift.com/container-platform/4.7/operators/operator_sdk/osdk-generating-csvs.html.

[code]
2. Run `make bundle` or

[2021-06-21 14:02] camilamacedo86 commented on #5000
c/c @msugakov @estroz

[2021-06-21 14:16] msugakov commented on #5000
Saw this behavior with operator-sdk 1.9.0 as well.

[2021-06-21 16:47] joelanford commented on #4949
Just putting this out there as something to consider. Do we want to expose this functionality in the `watches.yaml`, which would apply to all helm-based operators? Or do we think this more of a niche feature that would make more sense to be implemented as part of a hybrid helm/go operator?

I don't personally have a strong opinion, but one thing that comes to mind is the possibility of this being

[2021-06-21 17:07] jfgosselin commented on #4949
What about via an environment variable ? Similar to what you have for the namespace `WATCH_NAMESPACE`.

[2021-06-21 17:57] estroz commented on #5000
`relatedImages` (and `skips`) were not a part of the official CSV spec in v1.5.0. It was added officially recently and is not overwritten in recent `operator-sdk` versions. See #4884.

@msugakov feel free to create a new issue for comment preservation.

[2021-06-21 17:57] #5000 closed

[2021-06-21 17:59] estroz commented on #4989
@lukczarnota I assume you are talking about manager logs only and not operand/application logs? What operator type are you interested in? The solution could probably be generalized, and there are likely existing products/libs out there to do this already.

/triage needs-information

[2021-06-21 18:08] estroz commented on #4975
Ping me for more info if assigned.

[2021-06-21 18:20] asmacdo commented on #4983
Releases older than n-1 y streams will not be updated upstream, you will either need to upgrade or go with a downstream that maintains older images.

[2021-06-21 18:26] jberkhahn commented on #4985
we're going to discuss this at the next release planning session. We had 2 ideas:

1. Slow down the release cycle (more time before release)
2. Cut a minor version release (1.2.0 -> 1.2.1 instead of 1.3)

[2021-06-21 18:28] asmacdo commented on #4986
@m-yosefpor This is a controller-runtime issue, could you please refile with them?

[2021-06-21 18:28] #4986 closed

[2021-06-21 18:30] VenkatRamaraju commented on #4949
@joelanford wrt my PR ([here](https://github.com/operator-framework/operator-sdk/pull/4997)), If no selector is specified in `watches.yaml`, the functionality would be the same as it is currently. A CR will not be reconciled if a selector is specified **and** the labels of the CR don't match what's specified in the selector (in `watches.yaml`).

So if users don't specify any selector, which is the

[2021-06-21 18:31] varshaprasad96 commented on #4999
To include webhooks, we would have to uncomment the `[WEBHOOK]` section in `config/default/kustomization.yaml`. It is mentioned in the kubebuilder book here (https://book.kubebuilder.io/cronjob-tutorial/running-webhook.html#deploy-webhooks).

[2021-06-21 18:46] varshaprasad96 commented on #4993
@renczesstefan this maybe similar to https://github.com/operator-framework/operator-sdk/issues/4966. You may have to use the controller code from the latest release branch. The documentation was updated recently.

[2021-06-21 18:57] camilamacedo86 commented on #5000
Hi @msugakov,

Just to supplement the above comment: this scenario should not occur with the latest versions 1.8.0 and 1.9.0.

[2021-06-21 18:57] tlwu2013 commented on #4999
there's a related [SDK doc issue](https://github.com/operator-framework/operator-sdk/issues/4831) that could be helpful for this issue.

[2021-06-21 19:18] camilamacedo86 commented on #4984
Hi @pbrissaud and @kirubaap,

The operator-sdk/pkg does not live in sdk since its 1.0.0 release. All lib methods on it were moved to  https://github.com/operator-framework/operator-lib. Only the CLI features are in the sdk repo and bin now.

I would like to recommend:
- Migrate your project to the latest version. See: https://sdk.operatorframework.io/docs/building-operators/golang/migration/
- The

[2021-06-21 19:18] #4984 closed

[2021-06-21 19:26] camilamacedo86 commented on #4684
Hi @slopezz,

The downstream repo is now updated with this tag version, see:

https://github.com/openshift/ocp-release-operator-sdk/blob/master/testdata/go/v3/memcached-operator/config/default/manager_auth_proxy_patch.yaml#L13

Note that it has mock projects which are tested against OCP. In this way, that ensures that is working on OCP as well.

Then, the next downstream release will be using its

[2021-06-21 19:26] #4684 closed

[2021-06-21 19:29] camilamacedo86 commented on #4564
I am removing myself as assigned from this one and adding help wanted.
To achieve that we need to improve the mocks in https://github.com/operator-framework/operator-sdk/tree/master/hack/generate/samples to add what is required to pass in the scorecard for these test and then change the tests in https://github.com/operator-framework/operator-sdk/blob/9fa13f31e2b265253c105315ee12cc439e7b4174/test/c

[2021-06-21 19:35] camilamacedo86 commented on #4699
The predicates are only an if, at the beginner of the reconcile to check if is a request made from or not the ns A, B or C then does the action. We need to add this example in:

- https://github.com/kubernetes-sigs/controller-runtime/blob/master/pkg/cache/multi_namespace_cache.go#L41-L46

@theishshah could you please give a hand in this one? unfortunately, I am not finding time to work on that.

[2021-06-21 20:42] jberkhahn commented on #4999
upstream issue: https://github.com/kubernetes-sigs/kubebuilder/issues/2231

[2021-06-22 06:04] msugakov commented on #5000
Ok. I double-checked 1.9.0 and `relatedImages` are preserved in `config/manifests/bases/*.clusterserviceversion.yaml`. Looks like I did some mistake when trying to reproduce it earlier.

[2021-06-22 08:45] majidma-ag opened #5001 "Keycloak crds not getting deployed using ansible operator sdk."
## Type of question

Open question

## Question

#### What did you do?

Used the latest version of keycloak CRDs and deployed using ansible operator sdk.

1. Took the latest keycloak CRDs from the link: https://github.com/keycloak/keycloak-operator/tree/master/deploy/crds and deployed using ansible operator sdk, this used to work earlier with older version of keycloak CRDs.
2. when i apply the CR,

[2021-06-22 10:41] camilamacedo86 opened #5002 "Sync all annotations in bundle/metadata/annotations.yaml to the bundle.Dockerfile"
## Feature Request

#### Describe the problem you need a feature to resolve.

Not all annotations have been synced to the bundle.Dockerfile as a label. The labels are used by OLM in runtime and because of that, we need to ensure that all be available there.

#### Describe the solution you'd like.

- Sync all annotations in bundle/metadata/annotations.yaml to the bundle.Dockerfile
- Update the doc

[2021-06-22 10:43] camilamacedo86 commented on #4992
Hi @varshaprasad96,

As agreed, following the issues created:
- https://github.com/operator-framework/operator-sdk/issues/5002
-

[2021-06-22 10:47] camilamacedo86 opened #5003 "Check how the annotations for metrics has been set and if we should/ought to update them"
## Feature Request

#### Describe the problem you need a feature to resolve.

We add the annotations for metrics when the bundle is generated. However, what happens if we upgrade the project and starts to use a new version of the SDK? Should we not ensure that we will check always the PROJECT file to get the correct versions to bump the layout used as use bump the SDK CLI version used?

#### Descr

[2021-06-22 12:18] davidlanouette opened #5004 "The v1.9 docs link in the Releases dropdown is broken"
### What is the URL of the document?

Any page with the main nav bar.  Click on Releases and select v 1.9.

### Which section(s) is the issue in?

The link to release v 1.9 tries to navigate to https://v1-9-x.sdk.operatorframework.io/.  But the v1-9-x subdomain doesn't exist.

### What needs fixing?

The link to v1.9 specific docs is broken.  Maybe the build didn't complete 100% and the subdomain

[2021-06-22 20:51] estroz commented on #4949
@VenkatRamaraju I think what @joelanford is saying is that `watches.yaml` is not publicly exposed to the user persona who creates CRs but does not administer the operator itself, since that file is only read at startup time. There would be no easy way to troubleshoot issues stemming from a lack of some label required by the operator. Hopefully I captured this potential issue accurately. I guess th

[2021-06-22 20:52] estroz commented on #4949
I moved this to the backlog since it has `needs-discussion`.

[2021-06-22 20:58] VenkatRamaraju commented on #4949
@estroz Thanks for clearing that up.

[2021-06-23 07:08] ulrichSchreiner opened #5006 "Wrong version in ansible-operator with "run" command"
hi,

i've installed the 1.9.0 version of `ansible-operator` as you can see with the `version` command it shows `v1.9.0`:
[code]

But when i use the `run` command, i get this output:
[code]

but here the operator version is `v1.8.0+git`. this is confusing and one might ghink there are different versions of the operator installed.

[2021-06-23 11:24] absynth76 commented on #5001
What do you mean by "deployed with operator-sdk" ?? The sdk is helping on building operators, not to deploy custom resource definitions in the cluster afaik

[2021-06-23 15:45] jhcook-ag commented on #5001
@absynth76 operators can manage other operators in a multi-tenant scenario or perhaps application dependencies. After all, the entire point of an operator is to capture SRE domain-specific logic.

[2021-06-23 18:03] fabianvf commented on #4949
@estroz @joelanford I will say this currently is implemented in the Ansible's watches.yaml and we've not seen issues with it, I think it's primarily being used by teams that are both developing and deploying/managing the operator. I guess there is the potential for footgunning, but I also feel like it's a not uncommon pattern to scope reconciliation by label (I'm thinking specifically of ingress c

[2021-06-24 12:47] motty-seed-x opened #5009 "Unable to run memcached"
Hi

After trying to install operator sdk memcached following the [instructions](https://sdk.operatorframework.io/docs/building-operators/golang/).
[Attaching](https://gist.github.com/motty-seed-x/622d45189fd98a9a2ba3830b2f969084) the flow of the operations.
If anyone has any idea I would love to hear.

[2021-06-24 19:13] jmccormick2001 opened #5010 "cleanup scorecard olm test output"
## Feature Request

#### Describe the problem you need a feature to resolve.

I have an issue when I run the olm suite of tests, in particular the output is too verbose
for the olm-crds-have-validation-test, today it appears to do a golang printf('%v") or similar and stick that into the
human readable output, this is super hard to navigate from a UX point of view:

[code]

#### Describe the soluti

[2021-06-25 10:52] camilamacedo86 opened #5012 "Ignore"
.

[2021-06-25 10:54] camilamacedo86 commented on #5012
@ecordell according to the docs we have:

What means `registry+v1` ? It is not explained in https://github.com/operator-framework/operator-registry/blob/master/docs/design/operator-bundle.md

[2021-06-25 10:58] #5012 closed

[2021-06-25 17:01] goofiesnacks opened #5014 "Unable to generate deep copy methods for struct which has an interface field"
## Type of question

## Question

#### What did you do?

I am trying to generate deep copy methods for the `Dog` struct that my CRD references (this is a simplified example).

[code]

I ran `make generate` which executes this: `bin/controller-gen object:headerFile="hack/boilerplate.go.txt" paths="./..."`

#### What did you expect to see?

I expected deep copy methods to get generated successfully.

[2021-06-28 08:05] mstrYoda opened #5017 "prometheus metric scrape connections refused if pod is not leader"
## Bug Report
Operator pods refuses connections if they are not leader pod. This causes error on prometheus while scraping metrics.
Only leader pod returns metrics data, other pods are blocking while trying to becoming leader.

I am using old version of operator sdk, upgrading to new versions is not possible for any time soon. It is basically resolved by adding a label to leader pods.

I am volunt

[2021-06-28 09:13] FNaughton commented on #4446
Testing with an image built from operator-sdk v1.9 I still see info level logs at stdout even with log level set to 0.
Wondering if I'm missing something here?
Dockerfile:
[code]

Annotation in watched CR:
[code]

[2021-06-28 15:22] chrispatmore opened #5018 "The spec descriptors scorecard test fails for multiple api versions when the API has changed"
## Bug Report

The spec descriptors scorecard test fails for multiple api versions. This seems to by the fact that when the examples are checked it tests the example against the first instance of the API version found in the CSV, not the API version that matches the sample.

e.g. if I have a sample
[code]
Where `valueB` and it's spec descriptor were added in the `v1beta1` api version. If both the

[2021-06-28 17:17] rbq commented on #4925
Checked, throws an error as expected. :)

[2021-06-28 17:52] varshaprasad96 commented on #5009
@motty-seed-x can you elaborate on the error which you are getting? I'm not able to see any errors in the logs which you have attached.

[2021-06-28 18:10] laxmikantbpandhare commented on #4925
@rbq - thank you for you confirmation :)

[2021-06-28 18:17] asmacdo commented on #5004
Yup this was broken, its fixed now

[2021-06-28 18:17] #5004 closed

[2021-06-28 18:37] kensipe commented on #5014
Thanks for the feedback @goofiesnacks .   The Operator SDK leverages a number of dependent projects.   The featuring of generating is a function of those dependent projects and isn't maintained by us directly.  In order to have this feature it would be best to submit an issues against either:
* [kubebuilder](https://github.com/kubernetes-sigs/kubebuilder)  which is the generator you are referencin

[2021-06-28 18:37] #5014 closed

[2021-06-28 19:18] varshaprasad96 commented on #4901
/assign @VenkatRamaraju

[2021-06-28 19:19] VenkatRamaraju commented on #4901
/assign

[2021-06-29 02:00] varshaprasad96 commented on #5017
@mstrYoda The latest versions of Operator SDK follow a different approach to [expose](https://book.kubebuilder.io/reference/metrics.html) metrics. We definitely appreciate the contributions made to Operator SDK, but unfortunately 0.18.2 is a very old version which is not being supported. I'd strongly suggest in updating the SDK version whenever possible.

[2021-06-29 02:00] #5017 closed

[2021-06-29 09:30] mstrYoda commented on #5017
Thank you for your answer. Currently it looks quite hard to move our current operator to the latest version. In a free time I will move the code to the new operator version.

Until then, I resolved my problem by adding a label to leader pod and updating service selector in main.go. Here the code:

[code]

[2021-06-29 15:47] laxmikantbpandhare commented on #4980
Fix is working fine and confirmed by the user.

[2021-06-29 17:28] #3387 closed

[2021-06-29 18:41] amisevsk opened #5021 "Operator SDK v1.9.0 seems to ignore `--output-dir` when generating bundle.Dockerfile"
## Bug Report

#### What did you do?
The behaviour of `operator-sdk generate bundle` appears to have changed in v1.9.0, producing invalid `bundle.Dockerfile`s.

#### What did you expect to see?
In Operator SDK v1.7.2, running `operator-sdk generate bundle` with the `--output-dir deploy/bundle` argument produces a bundle.Dockerfile containing the lines
[code]

#### What did you see instead? Under w

[2021-06-29 19:55] amisevsk commented on #5021
Just checking v1.8.0 and issue does not reproduce there

[2021-06-29 20:16] mhrivnak commented on #4985
The SDK supports various "day 2" operations, such as adding a controller or CRD to an existing project. Devs need the ability to do those things for the lifetime of their project, so whether the compatibility is 3 months or 12 months doesn't really solve that problem. It seems that the SDK has three choices:
* Expect projects to end up using one version of the SDK forever.
* Expect projects to eve

[2021-06-29 21:25] jmrodri commented on #5006
@ulrichSchreiner did you do an update of your repo? I agree it is confusing, today I hit a weird issue where I did a `git fetch upstream` and for some reason did not see the v1.9.0 tag. This caused my ansible-operator to be v1.8.0+git. But now things are fixed after doing a `git fetch upstream --tags`.

I think there is still a bug here because the version value used in run is a different field th

[2021-06-29 22:41] amisevsk opened #5022 "Order of generated webhooks is not stable"
## Bug Report

#### What did you do?
Running `operator-sdk generate bundle` does not write CSV webhookDefinitions in a stable order. This is an issue because we commit the bundle files to our repo and want to use CI to validate that they are up to date on every commit.

#### What did you expect to see?
Webhook definitions are always in same order

#### What did you see instead? Under which circums

[2021-06-30 03:56] ngiii commented on #3397
Hi, @camilamacedo86
regarding
[code]
just want to confirm that does that mean even there is no change in CR, the reconcile will be re-trigged by manager every 10 hours by default?
Thank you!

[2021-06-30 05:18] ulrichSchreiner commented on #5006
hi,
i'm not using the source. i downlooaded the latest release with
[code]
which reports v1.9.0 as version but v.1.8.0-git when the `run` command is used.

[2021-06-30 05:20] jmrodri commented on #5006
@ulrichSchreiner AH okay that's definitely bad. We have someone looking into it. Thanks for the update.

[2021-06-30 08:39] chrispatmore opened #5024 "Separate webhook and API definition"
## Feature Request

More of a debate and potential feature request than an outright feature request

#### Describe the problem you need a feature to resolve.

We have multiple operators that import APIs between each other. And we import the APIs of other open operators or operators written by separate internal teams. This causes a dependency version nightmare, because a long with importing the go

[2021-06-30 10:25] fantapsody opened #5026 "Best practice to maintain a multi-channel catalog image"
## Type of question

Best practices

## Question

#### What did you do?

I would like to maintain a catalog source image (`operator-catlog:latest` for example) with multiple channels, e.g., `alpha`, `beta`, `stable`. A specific version of the operator should generally appear in channel `alpha` first, then channel `beta`, and finally `stable` if everything goes well for a while. However, the tools

[2021-06-30 12:13] renan-campos opened #5027 "Syntax error in csv incorrectly reported as missing csv in bundle"
## Bug Report

#### What did you do?
I tried to deploy the operator I'm developing with operator-sdk run bundle ..., but the command reported that it was unable to find the csv in the manifests directory of bundle image. However, I exported the filesystem of the bundle image and verified that there was a csv in the manifests directory. After some experimenting I found that the same reporting behav

[2021-06-30 16:46] cc83851 opened #5029 "operator-sdk is dropping RBAC definitions from config/rbac when "make bundle" is run"
## Bug Report

#### What did you do?

We have been using operator-sdk and  “make deploy” to deploy a particular operator. We are now moving to using olm for deployment and in the process of shifting to using “make bundle” to create the manifests for olm to use for deploying the operator.

Crudely put, “make deploy” does
`$(KUSTOMIZE) build config/default | kubectl apply -f –`

“make bundle” does
`

[2021-06-30 17:48] varshaprasad96 commented on #5021
@amisevsk yes, this is a bug. #5030 would fix it.

[2021-06-30 18:27] aharbis commented on #4831
I'd like to add a point of view to this as I'm currently working through Operator SDK migration from `v1.2.0` to `v1.3.2`. The Operator SDK's [1.3.0 migration guide](https://sdk.operatorframework.io/docs/upgrading-sdk-version/v1.3.0/#upgrade-your-go-project-from-gokubebuilderiov2-to-gokubebuilderiov3) points to upstream kubebuilder [migration docs](https://master.book.kubebuilder.io/migration/v2vs

[2021-06-30 18:41] sujil02 commented on #3778
https://sdk.operatorframework.io/docs/building-operators/golang/operator-scope/#restricting-roles-and-permissions

[2021-06-30 18:48] jberkhahn commented on #4423
Looks like the PR was merged so I'm gonna close this.

[2021-06-30 18:49] jberkhahn commented on #4956
Looks like the PR was merged so I'm closing this.

[2021-06-30 18:49] #4956 closed

[2021-06-30 18:50] jmccormick2001 opened #5031 "scorecard - default name and location of custom test RBAC"
## Feature Request

#### Document a Standard Location for Custom Image RBAC

In the SDK docs today, it mentions the need of a custom SA with the required RBAC for a custom set of tests, but does not
recommend a default location for defining those RBAC requirements.

#### Describe the solution you'd like.

This is really just a documentation update since SDK doesn't build the RBAC file or scaffold

[2021-06-30 19:03] estroz commented on #4423
This was not actually fixed, see https://github.com/operator-framework/operator-sdk/pull/4762#discussion_r616041362

[2021-06-30 19:49] jberkhahn opened #5032 "Improve docs on versioning and migrations"
From discussion on #4985, it seems most of the pressure points from our release cadence arise not from the frequency of releases, but from misunderstandings about what versions we support and what that means.

Our [current backport policy](https://sdk.operatorframework.io/docs/upgrading-sdk-version/backport-policy/) and [the upgrade guide](https://sdk.operatorframework.io/docs/upgrading-sdk-versio

[2021-06-30 19:49] jberkhahn commented on #5032
@estroz your thoughts?

[2021-06-30 19:55] estroz commented on #5032
The key takeaway that should be written in the header of https://sdk.operatorframework.io/docs/upgrading-sdk-version/, specifying that this is the case within a major version, i.e. for any 1.y version.

[2021-06-30 21:05] amisevsk opened #5033 "Bundle yaml files generated by v1.8.0 and above fail to install on OpenShift 4.7"
## Bug Report
Apologies if this bug belongs in https://github.com/operator-framework/operator-lifecycle-manager instead, I wasn't sure.

#### What did you do?
1. `operator-sdk generate bundle` after updating to operator-sdk v1.8.0 from v1.7.2.
2. Build bundle image
3. `opm index add <args>`
4. register catalog source and install operator

Release v1.8.0 appears to change how bundle files are forma

[2021-06-30 22:06] #5021 closed

[2021-07-01 16:47] estroz commented on #5033
@amisevsk this is likely a result of the dep upgrade in #4871. The produced YAML is still valid afaik. @njhale this sounds like a bug in the bundle unpacker (`opm alpha bundle extract` I'm guessing).

[2021-07-01 16:53] estroz commented on #5024
I recommend defining your shared APIs in separate repo(s), similar to how operator-framework has the api repo https://github.com/operator-framework/api.

[2021-07-01 16:58] chrispatmore commented on #5024
Ah, that's an interesting thought. You're right that is probably the best solution. I guess the problem is you never really know when someone is going to want to import and use your api as part of some larger solution. But operator-sdk also clearly can't default to generating two separate projects. So maybe there is not a lot we can do here. Thanks for the thought though. I'm happy to close this o

[2021-07-01 17:06] estroz commented on #5029
Are the manager-role's permissions present in your CSV's `spec.install.spec.clusterPermissions`?

/triage support

[2021-07-01 17:10] estroz commented on #5022
All webhooks should be sorted by `generate bundle` for stability, so this is a bug.

/kind bug

[2021-07-01 17:17] estroz commented on #5024
Happy to help! As a rule of thumb, when dependencies become an issue it's time to move shared code into a separate repo.

I will close this issue.

[2021-07-01 17:17] #5024 closed

[2021-07-01 22:39] bszeti opened #5038 "Ansible-operator doesn't inject owner if the namespace is not set in manifest's metadata"
## Bug Report

#### What did you do?

Running a Helm chart from an ansible-operator using `community.kubernetes.helm` module.

#### What did you expect to see?

Owner reference is injected for the Helm Secret.

#### What did you see instead? Under which circumstances?

Owner reference is only injected for the resources created by the Helm chart, but not for the Secret containing Helm metadata (typ

[2021-07-02 07:57] cc83851 commented on #5029
Sadly not. manager-role does not appear in any of the files (inc the CSV) in bundle/manifests. The clusterPermissions section of the CSV is included below for information. Thank you for your quick response.

[code]

[2021-07-02 14:30] estroz commented on #5029
Those permissions are identical to those in `manager-role` because they are taken from that manifest. They are created by OLM for your, and do not have to be a separate file in your bundle's manifests dir. In general, all roles and cluster roles that are bound to the operator's service account by default, in this case `ls-aws-operator-system-sa`, are added to their corresponding permissions field

[2021-07-02 14:59] VenkatRamaraju commented on #4901
Hi @SimonBaeumer,

I got the following logs while attempting to reproduce the issue in `operator-sdk v1.9.0`:

```{"level":"error","ts":1625071555.9902122,"logger":"helm.controller","msg":"Release failed","namespace":"default","name":"nginx-sample","apiVersion":"demo.example.com/v1alpha1","kind":"Nginx","release":"nginx-sample","error":"failed upgrade (cannot patch \"nginx-sample\" with kind Servi

[2021-07-02 15:40] houshengbo opened #5040 "The test suite is missing under internal/annotations/metrics"
## Bug Report

#### What did you do?

Run the test cases under internal/annotations/metrics

#### What did you expect to see?

The tests in internal/annotations/metrics were executed.

#### What did you see instead? Under which circumstances?

No tests were found.

#### Environment

**Operator type:**

**Kubernetes cluster type:**

`$ operator-sdk version`

`$ go version` (if language is Go)

`$ k

[2021-07-02 15:49] amisevsk commented on #5033
Yep, the YAML files are still valid, and I didn't see any errors while building the bundle/image.

Should I move the issue over to the `operator-registry` side?

[2021-07-02 15:52] estroz commented on #5033
@amisevsk I'd open this in operator-lifecycle-manager since that's where the bundle unpack code resides.

[2021-07-02 16:04] chlam4 opened #5041 "Helm operator logs full deploy yaml every reconcile cycle even when no changes after upgrading to 1.9 from 1.7"
## Bug Report

We have an operator built on the operator-sdk and its helm-operator.  After upgrading to sdk 1.9 from 1.7, we are now seeing the operator dumps out the full deployment yaml in the info log at every reconcile cycle, even there are no changes at all.  There are no patch requests sent to the kube apiserver.  This behavior is new in 1.9; it didn't exist in 1.7.

#### What did you do?

F

[2021-07-02 18:39] estroz commented on #4949
If this is already something ansible supports, then helm-operator can similarly adopt it imo. There seems to be extra parsing logic implemented [for ansible's watches.yaml](https://github.com/operator-framework/operator-sdk/blob/master/internal/ansible/watches/watches.go#L89); @fabianvf is there a reason `metav1.LabelSelector` can't be used directly?

[2021-07-02 21:04] amisevsk commented on #5033
@estroz I got around to poking at it more (thanks for the tip on `opm alpha bundle extract`!) and it turns out I'm hitting
[code]
(minor typo in the error message).

It's always a big file, but it turns out that wrapping the lines in our CRDs adds 212KB to the bundle, which pushes it over the default limit :upside_down_face:.

Closing this issue as I think I remember there already being issues aro

[2021-07-02 21:04] #5033 closed

[2021-07-03 11:41] pravarag commented on #4745
@estroz can I work on this issue if nobody else is working on it? As I'm new to the `operator-framework` community, will help me in getting my first issue :)

[2021-07-05 04:04] #4561 closed

[2021-07-05 10:14] cc83851 commented on #5029
Ah! I was expecting an explicitly named "manger-role" clusterRole and associated binding to appear somewhere within the bundle files, but I do now see that this same information has made it into the CSV file. Thank you very much for pointing this out to me.

[2021-07-05 10:14] #5029 closed

[2021-07-05 20:23] danquah commented on #5041
Just out of curiosity as I'm tracking down a similar issue. Do you get a new helm release revision for every reconciliation (as in, a "revision" keeps increasing if you do a `helm ls -n <namespace>`) regardless of any diff?

[2021-07-05 21:06] danquah commented on #5041
I'll get back to debugging tomorrow, but just wanted to confirm your experience @chlam4 - I have a small test-setup that creates a simple operator that deploys a single configmap. It's configured with the standard automatic reconciliation every minute, and with v1.7.2 i get the "normal"
[code]

Every minute, but no extra release revision or manifest diff is produced (and importantly for the thing

[2021-07-05 21:08] chlam4 commented on #5041
@danquah Thanks for confirming a similar behavior.  And yes I do also have the revision number incremented every reconcile cycle.

[2021-07-05 21:26] danquah commented on #5041
And to put a even finer point on it. Just verified that an operator built with revision b9fe9961 (the one before cae12a2) and running on a docker-image with this revision does not have this behaviour. If a do a full rebuild with the subsequent commit (cae12a2) I get the behaviour.

So, next step is to figure out where the bug is. @cndoit18 I believe you where involved in the change - any theories

[2021-07-05 21:32] ezeriver94 commented on #5041
Hi, I saw differences in the existing release (loaded from helm using the secret stored in K8S) and the release that would be generated (loaded from the manifests in the helm chart rendered with the values); for example, in the first one, the Raw property is not being set because helm package deserializes the secret and, in the Chart object, the Raw property is ignored. On the other hand, in the L

[2021-07-06 01:44] #4481 closed

[2021-07-06 02:19] cndoit18 commented on #5041
Sorry, I'll spend some time today fixing this

[2021-07-06 03:48] cndoit18 commented on #5041
I tried to fix it, can you help to review it? please @ezeriver94 @danquah

[2021-07-06 04:29] danquah commented on #5041
I'll love to, thanks for the quick reaction, I'll head over to the issue.

[2021-07-06 12:17] ezeriver94 commented on #5041
It's working for me!

[2021-07-06 12:56] danquah commented on #5041
Same :)

[2021-07-06 14:52] chlam4 commented on #5041
Thanks everyone for jumping on this and thanks @cndoit18 for the quick fix.  However, it still doesn't seem working for me.

As mentioned in the description, the [m.chart](https://github.com/operator-framework/operator-sdk/files/6755721/m.chart.txt) and [deployedRelease.Chart](https://github.com/operator-framework/operator-sdk/files/6755727/deployedRelease.Chart.txt) are very different, in the cas

[2021-07-06 15:18] cndoit18 commented on #5041
I'm very sorry for the impact, I think it has something to do with the release read of the helm

https://github.com/helm/helm/blob/eb99434597d230a2106b22f15ac1e250ca5592f6/pkg/storage/driver/util.go#L56

Can you provide the chart so I can fix this problem?

[2021-07-06 15:26] danquah commented on #5041
@chlam4  wird - I'll try the test again. How did you verify ad1f512 ?

[2021-07-06 15:47] chlam4 commented on #5041
@danquah I checked out your branch, and ran `env GOOS=linux make clean build` to build, which resulted in the `helm-operator` binary.  I then copied that to my operator and built it.

When it appeared making no difference, I added a log to ensure I did build with your changes.  Have you got a chance to look at the `m.chart.txt` and `deployedRelease.Chart.txt`?  Could they be deemed equal in your n

[2021-07-06 18:51] jwitko opened #5043 "Support ansible-runner 2.0.0+"
## Feature request

#### What did you do?
I upgraded to the latest ansible-operator and ansible-runner versions.  I then ran `make run` via the Makefile generated by the `operator-sdk create api`.  The ansible-operator would launch and connect but as soon as the socket became available it would try to launch `ansible-runner` and fail.  The failure was due to `ansible-runner > 2.0.0` changing the o

[2021-07-06 20:17] #5041 closed

[2021-07-06 20:17] estroz commented on #5041
/kind bug
/language helm

[2021-07-06 21:09] chlam4 commented on #5041
@cndoit18 Of course.  Here it is: https://github.com/turbonomic/t8c-install/tree/master/operator/helm-charts/xl
Is that what you're looking for?  There're a lot of sub-charts, so please let me know if I can do anything to help you reproduce and debug the problem.

[2021-07-06 23:58] cndoit18 commented on #5041
Hello, I'm trying to check your charts. But there is a problem with the installation of the CRD

output:
[code]

[2021-07-07 00:22] esara commented on #5041
@cndoit18 are you looking for the v1 crd (instead of v1beta) crd?
https://github.com/turbonomic/t8c-install/blob/master/operator/config/crd/bases/charts.helm.k8s.io_xls.yaml
on k8s 1.18 and later this should be the saved version anyway..

[2021-07-07 00:26] cndoit18 commented on #5041
@esara It is v1 and I installed it from the address you provided

[2021-07-07 00:29] cndoit18 commented on #5041
https://github.com/turbonomic/t8c-install/blob/master/operator/config/crd/bases/charts.helm.k8s.io_xls.yaml

@esara I installed crd from this address. it is the v1 crd

[2021-07-07 00:49] esara commented on #5041
I am terrible sorry, let me fix that, until then, you can apply the v1beta version, it will be stored as v1
https://raw.githubusercontent.com/turbonomic/t8c-install/master/operator/deploy/crds/charts_v1alpha1_xl_crd.yaml

[2021-07-07 01:56] gyliu513 opened #5049 "Add some best practice for how to improve operator maturity"
## Feature Request

#### Describe the problem you need a feature to resolve.

#### Describe the solution you'd like.

In https://sdk.operatorframework.io/docs/advanced-topics/operator-capabilities/operator-capabilities/ , there are only some questions for each level of operator maturity, but no best practice that the operator can follow.

It would be great if we can have a sample operator and appl

[2021-07-07 02:12] esara commented on #5041
and now the v1 crd should work fine, too

[2021-07-07 12:47] paterczm opened #5050 "Conversion webhook does not work with envtest"
Hello

I have a custom resource conversion webhook (from version v1alpha1 to v1) which works in a real cluster, but does not work in envtest environment. In the test, the conversion happens only for fields that didn't change (are the same in v1 and v1alpha1). Envtest logs indicate that the conversion webhook is registered:

[code]

Other webhooks (validating) are working in envtest for me. I compa

[2021-07-08 09:07] groeges opened #5051 "operator-sdk gives errors when using ConsoleYAMLSample CR in bundle"
## Bug Report

#### What did you do?

Included some ConsoleYAMLSample CRs (which work OK on Openshift) into the bundle/manifests directory for my operator.
Ran `operator-sdk bundle validate ./bundle` command and got the following errors:
[code]

Changing the kind to be `ConsoleYamlSample` allows the command to work but when installing the operator into Openshift it fails as ConsoleYamlSample is no

[2021-07-08 17:32] sujil02 commented on #5006
@jmrodri As this PR is merged #5023 should we close it or I think we can wait for the new release to cut so we can retest this issue and then close it?

[2021-07-09 07:49] #4488 closed

[2021-07-09 10:34] piyat opened #5053 "Issues with python package openshift 0.12.0 in the ansible operator-sdk image"
I've been testing and developing an ansible operator locally, and I have control over the versions of python packages installed on my device. Locally, I ran into the issue described [here](https://github.com/openshift/openshift-restclient-python/issues/398) and [here](https://github.com/kubernetes-client/python/issues/1333). The suggested workaround is to downgrade the kubernetes + openshift pip p

[2021-07-09 19:51] #3407 closed

[2021-07-11 19:31] techjacker commented on #3461
I'm still experiencing this issue

[2021-07-12 01:51] pravarag commented on #4745
/assign

[2021-07-12 14:41] wondersong opened #5055 "How to remote debug latest sdk 1.9.x like done in 0.17.x using --enable-delve"
## Type of question
In the latest 1.9.x operator  SDK, can not remote debug it like done in ealier release.
## Question
$ operator-sdk up local  -- namespace=integreatly-operator  -- enable-delve

INFO[0000] Running the operator locally.
INFO[0000] Using namespace integreatly-operator.
INFO[0000] Delve debugger enabled with args [ - listen=:2345 - headless=true - api-version=2 exec build/_output/b

[2021-07-12 18:33] estroz commented on #5027
This error is not "solveable" because of the way YAML is deserialized in [api's `LoadBundle()` method](https://github.com/operator-framework/api/blob/master/pkg/manifests/bundleloader.go#L39). The error message could be more verbose though. I suggest opening an issue in the api repo requesting the error message be improved.

[2021-07-12 18:33] #5027 closed

[2021-07-12 18:33] #5040 closed

[2021-07-12 18:36] estroz commented on #5055
This command was removed because it was a wrapper around `delve ansible-operator run`, which you can now call yourself. We don't plan on adding a debug command now because calling `delve` or your debugger of choice directly is a more flexible option.

[2021-07-12 18:36] #5055 closed

[2021-07-12 18:47] estroz commented on #5026
Some great questions here.

What are you trying to set `VERSION` to? Note that version can have build info like `1.0.0-alpha.0`.

This is a design decision from the first iteration of bundles that is being corrected with [declarative configs](https://github.com/operator-framework/enhancements/blob/master/enhancements/declarative-index-config.md#motivation). For now I am unsure of the best way to w

[2021-07-12 20:03] kensipe commented on #5050
@paterczm the concerns listed here are primarily concerns for [controller-runtime](https://github.com/kubernetes-sigs/controller-runtime) which the operator SDK depends on.  Additionally the `envtool` resides in that space.  It may be worth check in with that project.   @varshaprasad96 mention in our triage that should would help take a look at this, just realize if there is an issue it will need

[2021-07-12 20:06] kensipe commented on #5043
@jwitko thanks for raising awareness.   I've updated the description and move this from a bug to a feature.   Changes to support the evolving eco-system doesn't seem like a bug... it is something we need to explicit design and developer a solution for.  Thanks for the early warning.   It is definitely something we want to look into.

[2021-07-12 21:11] wscheele opened #5056 "helm operator for a chart with some dependencies keeps upgrading every sync loop"
## Bug Report

#### What did you do?
Deploy a helm operator to manage a helm chart with a number of dependencies.

#### What did you expect to see?

Upgrades only when either the chart or the cr contained spec values change.

#### What did you see instead? Under which circumstances?

the isUpgrade method (in current master at)
internal/helm/release/manager.go:168
always returns `true`.

after some

[2021-07-13 08:34] SimonBaeumer commented on #4901
Hey @VenkatRamaraju,
I double-checked it and it looks like you are correct.
As this is not an issue regarding the helm-operator I'll close this.

Thanks for your investigations, did not knew about these differences!

[2021-07-13 08:34] #4901 closed

[2021-07-13 23:30] #4999 closed

[2021-07-13 23:40] laxmikantbpandhare commented on #4831
Created proper doc for `create admission webhook`. It got merged as part of PR #5019

[2021-07-13 23:40] #4831 closed

[2021-07-14 08:28] cndoit18 commented on #5056
Thank you very much, I will work with you on this issue recently. Do you have the chart to facilitate me to reproduce and troubleshoot it?

[2021-07-14 08:28] cndoit18 commented on #5056
/assigne @cndoit18

[2021-07-14 08:51] cndoit18 commented on #5056
I tried to generate a pr, can you help to verify it together?

[2021-07-14 08:55] wscheele commented on #5056
did you manage to reproduce the issue?

[2021-07-14 09:07] cndoit18 commented on #5056
Sad news, it did not solve #4936

[2021-07-14 09:15] wscheele commented on #5056
it also doesn't solve my case. keeps upgrading.

[2021-07-14 09:17] wscheele commented on #5056
the approach in the above patch works fine for me.

[2021-07-14 10:30] cndoit18 commented on #5056
Hi, I updated it, can you verify it again? thanks @wscheele

[2021-07-14 10:51] wscheele commented on #5056
same problem, still keeps upgrading

[2021-07-14 11:25] cndoit18 commented on #5056
I'll try to reproduce the problem by adding a unit test first. Can you help me to verify it again? @wscheele

[2021-07-14 11:27] wscheele commented on #5056
yeah, i have vested interest ;)
will test when you have something.

[2021-07-14 13:09] sqqqrly opened #5060 "Helm chart based manager hits OOM"
## Bug Report

#### What did you do?
Used osdk to scaffold and build a helm-based operator and bundle.

#### What did you expect to see?
An operator that runs without hitting OOM.  OOM occurs because helm operators use much more memory. It was suggested to use 1Gi rather than 90Mi by @madorn.

#### What did you see instead? Under which circumstances?
controller manager OOM restarts.  It was not im

[2021-07-14 20:01] komish opened #5061 "Have `operator-sdk scorecard` return different exit codes when it fails a check than when it encounters a fatal error"
## Feature Request

#### Describe the problem you need a feature to resolve.

I'm writing some automation that calls out to `operator-sdk scorecard`, and have noticed that it will return the same exit code (1) if the tool either encountered a fatal error, or succeeded in execution but the bundle being tested did not pass a test.

Effectively, this means that I must parse stdout/stderr to determine

[2021-07-15 01:19] osilkin98 opened #5063 "`make tidy` is no longer a valid make target"
### What is the URL of the document?

[Install the Operator SDK](https://v0-19-x.sdk.operatorframework.io/docs/install-operator-sdk)

### Which section(s) is the issue in?

[Compile and Install From Master](https://v0-19-x.sdk.operatorframework.io/docs/install-operator-sdk/#compile-and-install-from-master)

### What needs fixing?

`make tidy` should be removed from the install instructions, since

[2021-07-15 04:08] cndoit18 commented on #5056
can you test it, this should solve the problem. thank you @wscheele @chlam4

[2021-07-16 07:31] cndoit18 commented on #5056
/kind bug

[2021-07-16 18:12] komish opened #5065 "Enable testing a bundle from a private registry with operator-sdk scorecard"
## Feature Request

#### Describe the problem you need a feature to resolve.
I'm attempting to run `operator-sdk scorecard` with a bundle that exists in a private registry and the tooling returns an error indicating it cannot pull the bundle. Logging into the registry with container tools (skopeo, podman) has not helped.

#### Describe the solution you'd like.
Point operator-sdk scorecard to an im

[2021-07-16 19:15] jmccormick2001 opened #5066 "scorecard - allow initContainer image to be configurable by user"
## Feature Request

https://github.com/operator-framework/operator-sdk/blob/master/internal/scorecard/testpod.go#L36

in scorecard today,  it uses a hard-coded image name for the initContainer when doing the untar.

For some environments, accessing dockerhub is not allowed, ideally we would have a means
to override the initContainer image to be used with something else (e.g. ubi-minimal).

#### De

[2021-07-18 01:58] #4456 closed

[2021-07-19 13:59] jkupferer commented on #5060
I am also seeing OOM errors with my helm-based operator and trying to figure out what is happening. For our use case there is no reason I can see why our operator would be using anywhere near this much memory... Looking at the logs I see indications that the operator is pulling data from just about every API endpoint on the cluster for no reason I can discern:

[code]

[2021-07-19 14:58] schneiderdotme opened #5070 "OLM and Bundle CLI Overview"
The word namespace is spelled incorrectly on this page of the docs:
https://sdk.operatorframework.io/docs/olm-integration/cli-overview/#private-bundle-and-catalog-image-registries

<img width="745" alt="Screen Shot 2021-07-19 at 9 57 18 AM" src="https://user-images.githubusercontent.com/82610054/126181002-705beac3-e131-42f9-9d35-84bd7947ec79.png">

[2021-07-19 15:44] varshaprasad96 commented on #5063
@osilkin98 - The document which referred here is from 0.19.x branch. It has been updated for the latest releases: https://master.sdk.operatorframework.io/docs/contribution-guidelines/developer-guide/.

[2021-07-19 16:06] osilkin98 commented on #5063
Ah okay, that makes more sense. I did not see that link before.

[2021-07-19 16:06] #5063 closed

[2021-07-19 18:04] varshaprasad96 commented on #4977
done here: https://github.com/operator-framework/operator-sdk/pull/5057

[2021-07-19 18:04] #4977 closed

[2021-07-19 18:06] jberkhahn commented on #5056
Hey @cndoit18 assigned this to you because of your open PR. Assigned this to the 1.11.0 milestone, but if it doesn't get in by then it's fine.

[2021-07-19 18:26] jberkhahn commented on #5065
Throwing this in the backlog for now. If someone wants to pick this up @theishshah or @estroz can give some pointers on how to do this.

[2021-07-19 18:29] jberkhahn commented on #5066
This is a dupe of #4886. Closing this is favor of that issue.

[2021-07-19 18:29] #5066 closed

[2021-07-19 18:31] estroz commented on #5070
@schneiderdotme if you'd like to submit a PR to fix this, feel free! Otherwise I can.

/kind documentation

[2021-07-19 18:38] estroz commented on #5061
Technically changing the return code for a failed test or a scorecard command error _by default_ will be a breaking change, so there should be a flag to indicate there should be a different return value. As @jmrodri suggested in the most recent triage meeting, this flag should be named and perhaps accept parameters in a forward-compatible way, i.e. if there are more exit codes we want to add in th

[2021-07-19 19:36] schneiderdotme commented on #5070
@estroz yeah, would love to! I should be able to get to that within 48 hours if that's not too late.

[2021-07-19 19:48] estroz commented on #5070
/assign @schneiderdotme

[2021-07-19 20:54] bitscuit opened #5072 "Helm based operator constantly upgrading release"
## Bug Report

#### What did you do?

Installed helm based operator https://github.com/IBM/ibm-platform-api-operator

#### What did you expect to see?

The controller's logs should be relatively clean and there should only be one ServiceAccount token for the operand

#### What did you see instead? Under which circumstances?

The controller's logs have the following repeated
[code]

It seems like t

[2021-07-20 02:47] cndoit18 commented on #5056
Thank you very much

[2021-07-20 06:14] porridge opened #5073 "Upgrading checklist migration step (for cert volume removal patch) does not match scaffolding"
## Bug Report

The [upgrading step for adding a patch which removes cert-manager volume](https://sdk.operatorframework.io/docs/upgrading-sdk-version/v1.6.1/#manifestsv2-add-a-kustomize-patch-to-remove-the-cert-manager-volumevolumemount-from-your-csv) does not match what the scaffolding code does.

As far as I can tell, [the scaffolding code adds the patch **commented-out**](https://github.com/oper

[2021-07-20 07:15] sagar-jadhav opened #5075 "Can I initialize project with multiple plugins?"
## Type of question

General operator-related help

## Question

#### What did you do?

Run the following command:

[code]

#### What did you expect to see?

Project should initialize with both the plugins without any error.

#### What did you see instead? Under which circumstances?

After running the command I got following output:

[code]

#### Environment

**Operator type:**

**Kubernetes clust

[2021-07-20 17:46] estroz commented on #4754
/lifecycle frozen

[2021-07-20 19:25] sqqqrly opened #5077 "Controller manager's yaml"
## Bug Report

#### What did you do?

Ran OSDK init.  Built and pushed my operator image using tag v2.1.0.

#### What did you expect to see?

Expected that when I make changes to the operator image and redeployed, that the changes would be in effect on the CRC cluster.

#### What did you see instead? Under which circumstances?

The operator image silently never gets pulled again after the first ti

[2021-07-21 06:10] porridge commented on #5073
/assign

[2021-07-21 15:55] bitscuit commented on #5072
I have seen this issue even with operator-sdk version 1.7.2

[2021-07-21 15:57] bitscuit commented on #5056
I'm seeing a similar issue, but my chart has no dependencies https://github.com/operator-framework/operator-sdk/issues/5072

[2021-07-21 16:00] cndoit18 commented on #5056
thank you. I will test it together

[2021-07-21 16:01] VenkatRamaraju commented on #4446
Hi @FNaughton,

Can you show us the current info logs you are getting vs the type of output you are expecting?

With the fix from the PR above, the stdout logs associated with a task will be dumped out (based on annotation/env variable verbosity) during that task's execution. However, we still left the logs that are outputted during the initialization of the operator. Are these the info logs you a

[2021-07-21 17:25] sTb1337 opened #5080 "Quickstart for Go-based Operators"
I get the following error during execution of:

[code]

[2021-07-21 17:42] estroz commented on #4985
I think the decision here was no. @jberkhahn @kensipe @asmacdo can we close this out?

[2021-07-21 17:46] #5070 closed

[2021-07-21 17:50] #5073 closed

[2021-07-21 18:12] estroz commented on #4985
/assign @asmacdo

[2021-07-21 18:19] estroz commented on #5056
Added this to the backlog pending discussion in the PR.

[2021-07-22 02:54] cndoit18 commented on #5072
Hi, can you provide a `PlatformAPI` that works? I'm directly applying the `PlatformAPI` in `config/simple` and it seems to have problems

[2021-07-22 14:09] sqqqrly opened #5081 "Scorecard fails on Helm operator with "ConfigMap Request entity too large""
## Bug Report

#### What did you do?

Ran `operator-sdk scorecard --config <path to project>/config/scorecard/bases/config.yaml  <path to project>`

#### What did you expect to see?
Scorecard results.

#### What did you see instead? Under which circumstances?
`FATA[0006] error running tests error creating ConfigMap Request entity too large: limit is 3145728`

I removed the base64 encoded icon imag

[2021-07-22 16:32] bitscuit commented on #5072
The sample is a valid one. What is the specific error you are hitting?

[2021-07-23 03:31] bitscuit commented on #5072
@cndoit18 I forgot to mention, you will want to change the operator image tag to `3.11.0` because the latest tag points to a really old image https://github.com/IBM/ibm-platform-api-operator/blob/master/bundle/manifests/ibm-platform-api-operator.clusterserviceversion.yaml#L273. You can see the available tags here https://quay.io/repository/opencloudio/ibm-platform-api-operator?tab=tags.

The upgra

[2021-07-23 03:48] cndoit18 commented on #5072
Thanks, I'll try it later

[2021-07-23 06:31] akhilasankar commented on #4263
@waveywaves
I also have a similar requirement, where I have 2 fields in my spec. And I am expecting users to provide value to either one, not two both. How can we achieve this? Did you found a solution for this. ?

[2021-07-23 14:46] kensipe commented on #4985
I support the current cadence and motion to close this issue

[2021-07-23 15:48] sTb1337 commented on #4828
i am also having this problem.. *bump*

[2021-07-23 17:44] estroz commented on #3418
FYI: this has been implemented as an [annotation](https://github.com/operator-framework/operator-lib/pull/60) applied to CRs.

[2021-07-23 18:49] #5006 closed

[2021-07-23 21:32] jberkhahn commented on #4985
I'm fine with closing this.

[2021-07-23 21:32] #4985 closed

[2021-07-24 08:04] #3839 closed

[2021-07-24 10:09] BAIYIMING520 commented on #4223
I have been met same problem like this
make-deploy can't update all resource that my controller want to use in rbac

my pod log  has create these error log

 1 reflector.go:127] pkg/mod/k8s.io/client-go@v0.19.2/tools/cache/reflector.go:156: Failed to watch *v1.Deployment: failed to list *v1.Deployment: deployments.apps is forbidden: User "system:serviceaccount:opdemo-system:default" cannot list re

[2021-07-24 11:31] martin-schaefer opened #5087 "How to install OLM from win64 client"
## Type of question

General operator-related help

## Question

#### What did you do?
I used to install OLM 1.7 using the provided crd.yaml and olm.yaml. Bit now it seems the only way is using operator-sdk. But operator-sdk is not provided for win64 clients.

#### What did you expect to see?
Are crd.yaml and olm.yaml still available somehow? I could not find ot in the Github Repo anymore.

#### W

[2021-07-24 11:40] martin-schaefer commented on #5087
Sorry, I was looking at the wrong project. They are located in https://github.com/operator-framework/operator-lifecycle-manager/tree/master/deploy/upstream/quickstart

[2021-07-24 11:40] #5087 closed

[2021-07-25 02:05] #4356 closed

[2021-07-25 05:59] AssafKatz3 commented on #4689
/remove-lifecycle stale

[2021-07-25 08:05] #4440 closed

[2021-07-25 10:07] #5080 closed

[2021-07-25 10:17] sTb1337 opened #5088 "operator-sdk create api broken on operator-sdk--1.10.0.big_sur.bottle MacOS with Go 1.16.6"
## Bug Report

`` operator-sdk create api`` broken on  operator-sdk--1.10.0.big_sur.bottle  MacOS with Go 1.16.6

#### What did you do?

[code]

[code]

[code]

[code]
#### What did you expect to see?

api skeletons like on https://sdk.operatorframework.io/docs/building-operators/golang/tutorial/

#### What did you see instead? Under which circumstances?

See description above...

#### Environment

[2021-07-25 14:05] #4151 closed

[2021-07-25 18:39] estroz commented on #4689
@varshaprasad96 @fabianvf have you seen this issue, and will the new helm-operator fix this issue?

[2021-07-25 19:10] varshaprasad96 commented on #4689
I haven't tested out this particular scenario, but this issue needs to be investigated. If the bug is related to SDK looking at the wrong location for dependent helm charts while creating api, then this is something which would occur with the new hybrid-helm operator too.

[2021-07-25 19:12] sTb1337 opened #5089 "Operator SDK FAQ"
Link for scorecard ist dead on

[code]

[2021-07-25 19:15] sTb1337 commented on #5089
Also missing links on:

[code]

[2021-07-25 20:05] #3798 closed

[2021-07-25 22:36] evergreen-trading-systems commented on #3461
OS: WSL2

Still does not work!

Commit - https://github.com/evergreen-trading-systems/yta-operator/commit/64a13f71d2b05bc45e4285e6942e3249af85790a#diff-76ed074a9305c04054cdebb9e9aad2d818052b07091de1f20cad0bbac34ffb52

![image](https://user-images.githubusercontent.com/4870868/126915485-18a5860f-ce8b-4ced-897c-008faaae3fac.png)

![image](https://user-images.githubusercontent.com/4870868/126915497-a

[2021-07-25 23:18] evergreen-trading-systems opened #5090 "make test fails"
## Bug Report

#### What did you do?

Create new folder and run

`go mod init example.com/m/v2`

`operator-sdk init --plugins go/v3 --domain example.org --owner "Your name"`

`operator-sdk create api --group ship --version v1beta1 --kind Frigate`

`make test`

#### What did you expect to see?

PASS

#### What did you see instead? Under which circumstances?

[code]

#### Environment

**Operator typ

[2021-07-26 01:34] evergreen-trading-systems commented on #5090
Is go 1.16 supported - https://github.com/kubernetes-sigs/kubebuilder/issues/2124#issuecomment-812743281?

[2021-07-26 03:23] evergreen-trading-systems commented on #5090
This solved my issue - https://github.com/kubernetes-sigs/controller-runtime/issues/1034#issuecomment-672844501
..
Basically, Operator-SDK is not up-to-date.

I switched to Kubebuilder. Operator-SDK is using it under the hood.

I followed this - https://book.kubebuilder.io/quick-start.html, and it works.

## Video

https://user-images.githubusercontent.com/4870868/126928002-96767d1a-eebc-4748-8d2d

[2021-07-26 17:11] varshaprasad96 commented on #5090
This would need some investigation. Looks like the author is using the latest version of operator-sdk which uses `setup-envtest`. The error seems to be because kubebuilder assets are not available at the right location:
[code]
setup-envtest downloads the binaries at `tmp/k8s/<os_specific_folder>`, so I would expect the test setup not to search at the default location (`/usr/local/kubebuilder`) - w

[2021-07-26 17:40] varshaprasad96 commented on #5088
@sTb1337 I tried replicating the error here but am not able to do so.
[code]

The command runs successfully. The sdk version I'm using is below, which is same as you have mentioned:
[code]

The error `[: Zu viele Argumente` I guess means `Too many arguments`. Can you cross-check the create api command again?

[2021-07-26 18:22] kensipe commented on #5077
@sqqqrly thanks for helping to make sure operator sdk is a great project!   In this case, what is described seems to be standard and expected behavior.  A common imagePullPolicy is "IfNotPresent"... if the image is already present it will not pull changes.  It is also considered to be not a good practice to have an image to have an update to an existing version tag.  (exceptions being "latest" or

[2021-07-26 18:22] #5077 closed

[2021-07-26 19:18] nielsvanderbeke opened #5091 "operator sdk ansible vault password not loaded"
## Type of question

General operator-related help

## Question

#### What did you do?

We have a custom operator based on `quay.io/operator-framework/ansible-operator:v1.9.0` where we use secrets stored in ansible-vault. The ansibel-vault password is loaded using a vault password file that is mounted to the operator using Openshift Secret volume mounts.
We based the config for the k8s deployment

[2021-07-26 19:53] estroz commented on #4890
@fabianvf and @asmacdo would be the best contacts here.

[2021-07-26 19:59] varshaprasad96 commented on #5075
@sagar-jadhav We cannot combine multiple base plugins for now. If you are specifically looking for helm+go operator, we do have a [hybrid](https://github.com/operator-framework/helm-operator-plugins) operator plugin which is in alpha stage and would be releasing soon along with Operator SDK.

[2021-07-26 19:59] #5075 closed

[2021-07-27 05:28] sagar-jadhav commented on #5075
Hello @varshaprasad96 Thank you for clarification. I will surely try `Hybrid Operator` plugin.

But I have also mention one more issue in description. Could you please help me with that?

If we cannot combine multiple base plugins then instead of using `--plugins` as CLI option we should use `--plugin`. `--plugins` is bit confusing.

Please share your opinion here.

[2021-07-27 07:24] sTb1337 commented on #5088
@varshaprasad96 thanks a lot for your feedback.

I was using the commands as described on the official tutorial page https://sdk.operatorframework.io/docs/building-operators/golang/tutorial/ and got this errors.

When I executed the commands in  my GOPATH folder, it worked. But outside I got this error messages.

[2021-07-27 15:53] sqqqrly commented on #5077
Since explicit is better than implicit (at least to a point), please consider including the key:value in the scaffolded yaml.

[2021-07-27 16:07] theishshah commented on #4616
Addressed with #5048

[2021-07-27 16:07] #4616 closed

[2021-07-27 16:07] theishshah commented on #3797
PR #5093 now open

[2021-07-27 19:28] varshaprasad96 commented on #5088
@sTb1337 You may have to [turn](https://sdk.operatorframework.io/docs/building-operators/golang/tutorial/#a-note-on-dependency-management) `GO111MODULE=on` if having the project outside `$GOPATH/src`.

[2021-07-27 19:35] varshaprasad96 commented on #5075
I understand. Having this documented somewhere would be helpful. On a side note, in near future we would soon be having support for chaining of plugins [ref: Kubebuilder plugins phase 2](url). Meanwhile, would you like to create a PR to have this documented in SDK [website](https://sdk.operatorframework.io/docs/building-operators/golang/)?

[2021-07-27 21:26] blakebarnett commented on #4906
I believe I'm hitting this also, everything was working fine until I added PVCs to the deployments that the operator is handling. Is it necessary to add resource types to the `NewControllerManagedBy()` call in addition to deployment here? `Owns(&appsv1.Deployment{}).`

I'm confused why it worked fine with secretVolumeSources and configMapVolumeSources but not this. Let me know if there any specifi

[2021-07-27 22:54] varshaprasad96 commented on #5090
https://github.com/kubernetes-sigs/kubebuilder/pull/2272 would solve this issue.

[2021-07-28 05:29] sagar-jadhav commented on #5075
Thank you @varshaprasad96 for your response.

Sorry I won't be able to create a PR for this documentation update. But I will be happy If we have this documented. Can you please ask someone else or create an issue for this so that others can contribute?  I think it's a good candidate for the `good first issue` label.

[2021-07-28 17:30] blakebarnett commented on #4906
I did a few tests around this and have determined that adding the PVC was a red-herring. This operator manages a set of between 3 and 5 deployments cluster-wide in namespaces for each set.

- Everything works fine when I reduce it to 2 deployments (each with an accompanying configmap, secret, service, ingress).
-  If I add a 3rd, Reconcile loops infinitely.
- If I keep the 3rd one that was added a

[2021-07-28 18:28] jfgosselin commented on #4949
First thanks a lot for looking into this feature request, it will simplify my deployments.

Is there an early release I could try or the implementation is still under discussion.

Thanks !

[2021-07-28 21:21] theishshah commented on #3797
PR Merged

[2021-07-28 21:21] #3797 closed

[2021-07-29 08:11] oweise commented on #2578
Just to note it here: In that specific situation this error can also be bypassed by giving an env var USERNAME to the container, as the python method getuser() prefers to read that:

[code]

[2021-07-29 20:51] fabianvf commented on #4992
The changes to `bundle/metadata/annotations.yaml` aren't being persisted because `--overwrite` is set in the Makefile when running bundle generate. To make it so that annotations persist, specify `--overwrite=false` in the call to `operator-sdk generate bundle` in the Makefile, sample diff below:

[code]

With `--overwrite` set to true this behavior is expected though.

#5002 covers the feature re

[2021-07-29 20:51] #4992 closed

[2021-07-30 15:40] aharbis opened #5102 "preserveUnknownFields is removed from CRDs by operator-sdk generate bundle"
## Bug Report

We need to explicitly set `preserveUnknownFields: false` to support upgrades between `v1beta1` CRDs and `v1` CRDs. In the past, we've used YAML post-processing on the CRD files to set this property explicitly. I'm working on upgrading our project to Operator SDK `v1.3.2`, and so now we can leverage `kustomize` for some of this "post-processing" of CRDs.

I've configured `kustomize`

[2021-07-31 20:10] #4352 closed

[2021-08-01 07:48] fgiloux opened #5104 "Documentation RFE: Advanced Topics - ComponentConfig"
I could not find any reference to ComponentConfig in operator-sdk documentation:
https://book.kubebuilder.io/component-config-tutorial/tutorial.html

This is an important aspect for controlling any advance functionality of the controller:
- cleansing policies
- sync period
- logging level
- feature gates

IMHO this should be part of best practices for development of any advanced operator.

The cur

[2021-08-02 08:18] jasonchrion commented on #5088
try `go env -w CGO_ENABLED=0`

[2021-08-02 09:34] yedukondalurd commented on #3237
what are the roles required to use resources in another namespace?

[2021-08-02 12:47] sTb1337 commented on #5088
@jasonchrion: Thx but with CGO_ENABLED=0 no command (operator init...) was executed.
@varshaprasad96: Sadly I tried it and also didn't work.

[code]

[2021-08-02 17:03] varshaprasad96 commented on #5102
@aharbis One more way could be to set this in controller-gen options. Can you try setting this in `Makefile` (similar to this): https://github.com/operator-framework/operator-sdk/blob/6351af55dd38c88ca19114d0c165eadec5c82143/testdata/go/v3/memcached-operator/Makefile#L41

[2021-08-02 17:08] aharbis commented on #5102
@varshaprasad96 Yes, except that's broken for `v1` CRDs: https://github.com/kubernetes-sigs/controller-tools/issues/476

[2021-08-02 18:16] estroz commented on #4870
If I specify `spec: {}` then I get a validation error, but not if spec is empty. This is because spec is not required, and `null` is an allowed value in that case but not the empty spec. If you mark the spec as required, you'll see validation errors in both cases:

<details>
  <summary>updated CRD</summary>
[code]
</details>

[2021-08-02 18:21] jberkhahn commented on #5104
should probably go in this section: https://sdk.operatorframework.io/docs/best-practices/

[2021-08-02 20:49] VenkatRamaraju commented on #4949
Hi @jfgosselin,

The feature has now been approved and merged onto master (https://github.com/operator-framework/operator-sdk/issues/4949). It will be included in the next release of operator-sdk ([1.11](https://github.com/operator-framework/operator-sdk/milestone/31)).

It can also be used currently with the helm-operator binary built from the master, or the master tag for the helm-operator base

[2021-08-02 22:35] VenkatRamaraju commented on #4949
@estroz Created a new PR for ansible that removes all the extra parsing you referred to in your [comment](https://github.com/operator-framework/operator-sdk/issues/4949#issuecomment-873188927). It mirrors #4997.
Link to PR: https://github.com/operator-framework/operator-sdk/pull/5086

[2021-08-03 21:15] tima opened #5115 "Proposal: Introduce a new Ansible Operator base image for Ansible core 2.11 and beyond"
## Feature Request

#### Describe the problem you need a feature to resolve.

In the past 18 months or so, the Ansible core engine has gone through a dramatic transition in how it is developed, packaged and distributed. Ansible has followed a "batteries included" approach including all of its content (modules and other plugins) in one repo and distribution since its inception through version 2.9,

[2021-08-04 11:16] miguelrdp commented on #1701
I found a solution that seems to work and it doesn't require the `ANSIBLE_JINJA2_NATIVE=True` env variable

If instead of
[code]

you do
[code]
you can omit the " in the jinja template and the value is not converted to int!

[2021-08-04 15:02] bitscuit commented on #5072
@cndoit18 while you are working on the fix, is there any sort of workaround to force the operator to stop trying to do these upgrades? My current workaround is to just scale down the operator pod to 0 once the operand is deployed to avoid my cluster being overwhelmed by the number of secrets that are created.

[2021-08-04 15:45] planetf1 opened #5116 "Link to scorecard is invalid within https://sdk.operatorframework.io/docs/faqs/"
### What is the URL of the document?

https://sdk.operatorframework.io/docs/faqs/

### Which section(s) is the issue in?

Within the section

What are the the differences between Kubebuilder and Operator-SDK?

In text

Operator SDK scorecard, a tool for ensuring operator best-practices and developing cluster tests

### What needs fixing?

A correct url for scorecard documentation

The link current

[2021-08-04 16:02] bitscuit commented on #5072
okay, so the fix has already been merged. Any idea when the release will come out?

[2021-08-04 16:37] estroz commented on #5072
@bitscuit the fix is being backported now, so hopefully this week!

[2021-08-04 17:45] estroz commented on #5116
The suggested link is correct. You can actually specify `/docs/testing-operators/scorecard` as the link. Feel free to submit a fix, otherwise someone else will! If so please assign yourself here.

[2021-08-04 17:55] asmacdo commented on #4071
@dalbani, Since the underlying bug is only a problem when running locally, I figure its easier to make the change in the makefile like you suggested. IIRC though, if we did it with the extra arg, it would override the environment var, so I chose to add to it instead. in #5118. wdyt?

[2021-08-04 20:51] #4071 closed

[2021-08-04 20:56] dalbani commented on #4071
@asmacdo: great to see this issue fixed, thanks a lot!

[2021-08-04 22:25] planetf1 commented on #5116
Sure, I can do a pr tomorrow

[2021-08-05 02:24] misteruly opened #5122 "invalid memory address or nil pointer dereference"
## controller-manager  error

[root@master1 ~]# kubectl logs -f  --tail=200  kubeocean-controller-manager-6dcfbcdd4f-w95hr -c manager  -n kubeocean-system
I0805 02:17:55.669424       1 request.go:668] Waited for 1.041209886s due to client-side throttling, not priority and fairness, request: GET:https://10.233.0.1:443/apis/devops.kubesphere.io/v1alpha1?timeout=32s
2021-08-05T02:17:56.618Z        IN

[2021-08-05 02:59] varshaprasad96 commented on #5101
This issue was specifically targeted for OCP clusters. Since accessing the HA information turned out to be trivial, it was decided there is no need to have a separate wrapper. Reference: https://github.com/operator-framework/enhancements/pull/62#issuecomment-781404696

[2021-08-05 02:59] #5101 closed

[2021-08-05 04:41] cg2p commented on #5090
Did you get this working with `operator-sdk` - I have same. I do not have `kubebuilder` installed separate to operator-sdk?

[2021-08-05 04:44] varshaprasad96 commented on #5090
@cg2p A 1.10.x patch release would be out soon as soon as https://github.com/operator-framework/operator-sdk/pull/5117 is merged. That would solve this issue.

[2021-08-05 05:58] SteveMattar commented on #4000
/close

[2021-08-05 05:58] #4000 closed

[2021-08-05 06:55] nielsvanderbeke commented on #5091
You can close this issue, the issue is resolved.
The behavior we observed was not related to ansible-vault password , it was related to an error in the ansible task.
We are able to retrieve the encrypted variables using the guidelines in the operator-sdk documentation and the above code snippit

[2021-08-05 06:56] #5091 closed

[2021-08-05 07:29] planetf1 commented on #5116
It looks as if this was fixed by @timflannagan in 820764f26d506f748ef8928f35731091e34f3ad4 on 2 Aug
The definition of '[scorecard-doc]' was incorrect.
So this looks ok in master.

Whilst the website at  https://sdk.operatorframework.io/docs/faqs/ is still showing the old link , by explicitly navigating to master, this page becomes https://master.sdk.operatorframework.io/docs/ where the link is cor

[2021-08-05 07:29] #5116 closed

[2021-08-05 09:46] juremedvesek commented on #5043
Hi!

Maybe it would be nice to point out that version of ansible-runner should be < 2 also inside starting guide, till you fix the issue.
https://sdk.operatorframework.io/docs/building-operators/ansible/installation/

Since with defaut installation (2.0.1) tutorial does not work. And inside error there is no command line arguments that were used. To get parameters and find out what is going on I n

[2021-08-05 20:35] asmacdo opened #5131 "[Community Process] Create milestones for Patch Releases"
If we need to backport fixes into a patch release, we could create a milestone for that release and add cherrypick PRs to those milestones. This will give the releasers an easily verifiable "green light" to begin their release.

[I think?] A nice side effect is that all our releases would have a nice page to view all the cherrypicked PRs, even the ones that didn't get a changelog entry. Ex: https:

[2021-08-05 20:43] asmacdo commented on #5131
I wonder if its possible to have the bot do this?

[2021-08-06 02:15] #4606 closed

[2021-08-06 03:43] #5122 closed

[2021-08-07 08:17] #4505 closed

[2021-08-09 13:47] StephanSalas commented on #3461
Yep, I think this is a user-experience issue. If I have to rename a path for kubebuilder manually through some riga-maru, I don't think most users will find this edge case very friendly.

[2021-08-09 17:47] camilamacedo86 opened #5133 "Scorecard checking event alerts to detect the deprecation/removal of APIs in the next versions"
## Feature Request

#### Describe the problem you need a feature to resolve.

I'd like to see in the default Scorecard tests results in the warnings over the deprecation/removal of APIs in the next versions

#### Describe the solution you'd like.

Implementation in the basic Scorecard checks to looking for the raised events in the API to gathering its WARNINGS and return as a result of its tests.

[2021-08-09 18:50] asmacdo opened #5134 "Cut 1.11.0 release on August 11"

[2021-08-09 18:53] tlwu2013 commented on #5133
It could be just me, but this “reporting the deprecated/removed APIs” sounds like a really handy scorecard test that is worth becoming a default test and benefits all Operators

[2021-08-09 19:18] asmacdo commented on #5131
We agreed to this on the community meeting today. I'll add this process to our documentation.

[2021-08-11 18:34] jberkhahn opened #5138 "Cut 1.12.0 on September 8th"
If no features have been merged, consider making it a minor release.

[2021-08-11 19:21] #4241 closed

[2021-08-11 23:54] #5134 closed

[2021-08-13 02:21] #4652 closed

[2021-08-13 13:18] phantomjinx opened #5143 "operator-sdk bundle regression - no longer honours --input-dir and/or --output-dir"
## Bug Report

#### What did you do?
Syndesis [project](https://github.com/syndesisio/syndesis/tree/1.13.x/install/operator/config) has been using operator-sdk 1.5.0 for bundle generation. Due to historical circumstances, the Makefile & PROJECT files were located in the config directory and all paths to `config/` were updated to `.`.

Therefore the [command](https://github.com/syndesisio/syndesis/

[2021-08-13 13:39] phantomjinx commented on #5143
Tested `1.11.0` and `1.10.1` - both fail like `1.6.1`.

[2021-08-13 14:16] phantomjinx commented on #5143
![bisect](https://user-images.githubusercontent.com/1634180/129370542-b9984454-e25e-4161-949e-2ebca33b742f.png)

`git bisect` showing regression
[code]

[2021-08-13 15:58] phantomjinx commented on #5143
The result of the bug in Syndesis is that the manager directory is not included, leading to no deployment is the final bundle. The reason for this is that the `manifest/kustomization.yaml` [file](https://github.com/syndesisio/syndesis/blob/1.13.x/install/operator/config/manifests/kustomization.yaml#L26) does not include a `../default` path whereas the default version does.
This makes a difference

[2021-08-13 17:37] kkujawa-sumo opened #5145 "Helm operator: Reconciler error, Operation cannot be fulfilled, the object has been modified"
## Bug Report

#### What did you do?

I observe following error in logs for https://github.com/SumoLogic/sumologic-kubernetes-collection-helm-operator which bases on operator-sdk v1.11.0:
[code]
The object was not modified by me.
Checking changes in related resource I see that differences are in `time` and `resourceVersion`:
[code]

Despite the fact that mentioned error appears in logs I don't see

[2021-08-14 12:03] alex-treebeard opened #5146 "Go Operator Tutorial does not provide working memcached operator"
Thanks for this tutorial!

As far as I can see (from running through the tutorial), this tutorial does not provide controller logic for creating Memcached pods. I can deploy my operator but when I create my CR, the controller takes no meaningful action.

(Note: I'm pretty inexperienced with Go, may be missing something).

The following just prints `0` for the spec size whenever I apply CR changes.

[2021-08-16 07:24] stonepd commented on #4909
Hi @fabianvf - this is still an issue, are there any plans to resolve it?

[2021-08-16 07:24] stonepd commented on #4909
/remove-lifecycle stale

[2021-08-16 10:54] michallula opened #5147 "Customize helm operator values on the fly based on user provided values"
## Type of question

How to implement a specific feature

## Question

#### What did you do?

My team created helm based operator for the cluster scheduler purposes. Our chart depends on Airflow and PostgreSQL operator CRD sub-charts. We provided default values that configure these dependencies' interactions. Such values contain a lot of boilerplate code which needs to be provided by our end-users

[2021-08-16 11:59] kkujawa-sumo commented on #5145
On OpenShift 4.7.6 I see this error in only once - after creation of `SumologicCollection` resource.

[2021-08-16 17:13] VenkatRamaraju commented on #5146
Hi,

The [tutorial](https://sdk.operatorframework.io/docs/building-operators/golang/tutorial/#implement-the-controller) links to a sample Memcached controller [implementation](https://github.com/operator-framework/operator-sdk/blob/latest/testdata/go/v3/memcached-operator/controllers/memcached_controller.go) that can be used to reconcile the operator to the desired state. Is this what you are look

[2021-08-16 18:00] rashmigottipati opened #5148 "PR lookup detection in CHANGELOG generation is not working as expected"
## Bug Report

Generating the CHANGELOG from the fragments may result in some lines pointing to incorrect PR links.

For the 1.11.0 release, the release notes https://github.com/operator-framework/operator-sdk/releases/tag/v1.11.0 have three additions and changes that have incorrect PR links. Below are the changes that have incorrect PR links:

- (go/v3, ansible/v1, helm/v1) Added containerPort pr

[2021-08-16 18:17] rashmigottipati commented on #5148
We should also probably add a note to the release documentation for the release PR authors and approvers to do a manual check and make sure that the linked PRs in the release notes PR are all accurate.

[2021-08-16 18:20] alex-treebeard commented on #5146
Thanks, I should read more carefully 🙂

[2021-08-16 18:20] #5146 closed

[2021-08-16 18:21] asmacdo commented on #5147
I'll ask around and see if anyone has any ideas for how this could work. Thanks for the report!

[2021-08-16 18:23] asmacdo commented on #5148
If we cant get this done by 1.12, lets do a manual audit to make sure the links are correct.
@jberkhahn

[2021-08-16 18:43] asmacdo commented on #5147
One approach to this will be to use not-yet-finished hybrid helm/go operator and a custom values.Mapper : https://github.com/operator-framework/helm-operator-plugins/blob/240cc447b3de0c4176b8f6304395978e5f0935d5/pkg/values/values.go#L23-L25

I'm not sure when the hybrid operator will be ready, but it is being actively developed now. I'll put this on the backlog.

[2021-08-16 20:23] #4585 closed

[2021-08-17 07:36] kkujawa-sumo commented on #5145
I think that it explains what is happening https://github.com/kubernetes/kubernetes/issues/84430#issuecomment-638376994, probably in this scenario k8s needs more time to handle previous update from operator and in the meantime operator does not see changes in the cluster and it tries to update again

some people try to handle this error in following way:
- https://github.com/kubernetes/kubernetes/

[2021-08-17 12:19] matancarmeli7 opened #5152 "Add labels to CRD YAML files"
## Type of question

General operator-related help

## Question
Hi,
how can I add labels to a CRD YAML file
#### What did you do?
I tried to add this code in the `kustomization.yaml` file but it didn't help (it worked with `role.yaml`):
[code]
There is something that I can do to do it?
thanks
#### Environment

**Operator type:**

language go

**Kubernetes cluster type:**

`$ operator-sdk version`

[2021-08-18 02:39] varshaprasad96 opened #5153 "Bump envtest binaries to k8s 1.21"
## Bug Report

#### What did you do?

Currently, Operator SDK downloads envtest binaries of k8s version 1.20.2 to run e2e tests. This is because in the e2e tests, we use `--generator` flag to run a pod and verify if metrics work. The references to the particular tests where it is used is below:
1. https://github.com/operator-framework/operator-sdk/blob/dfcc57516b33abe8bc6b38f87748254c92b16eb4/test

[2021-08-18 07:41] weiwendi opened #5158 "unable to inject the resource to "base.helm.sdk.operatorframework.io/v1": repo ~ not found"
## Type of question

General operator-related help

## Question
unable to inject the resource to "base.helm.sdk.operatorframework.io/v1": repo ~ not found
#### What did you do?
1. Clone my chart from Github repository.
2. Use operator-sdk init project.

`$ operator-sdk init --plugins=helm --domain=quay.io --helm-chart=~/learn-helm/helm-charts/charts/player-stats --kind player-stats`

#### What did

[2021-08-18 07:43] weiwendi commented on #5158
Add operator-sdk version: v1.11.0
        kubectl version: v1.21.1

[2021-08-18 15:23] VenkatRamaraju commented on #4446
Hi @FNaughton,

We have started looking into this again. Here are some clarification points:
- We have two types of logging packages at use - [Zap](https://pkg.go.dev/go.uber.org/zap) and [Log](https://pkg.go.dev/sigs.k8s.io/controller-runtime/pkg/log).
- The fix I submitted in the [PR above](https://github.com/operator-framework/operator-sdk/pull/4961) dumps StdOut logs to the console when verbos

[2021-08-18 20:00] agaffney opened #5160 "The Ansible "markUnsafe" option should mark more things as unsafe"
## Bug Report

#### What did you do?

I added `markUnsafe: true` to `watches.yaml` and created a k8s resource containing strings that look like Jinja templates. I tried to access the `_<group>_<kind>` var to retrieve a field under `status` that I had previously written.

#### What did you expect to see?

I should be able to access data normally in the operator-provided `_<group>_<kind>` var when i

[2021-08-19 14:34] #4590 closed

[2021-08-19 15:45] asmacdo opened #5161 "Ansible docs - zap logging"
https://sdk.operatorframework.io/docs/building-operators/golang/references/logging/#default-zap-logger

zap logging config is mentioned in the go docs, but not for Ansible. Should this info be moved to a non-specific language section or added to Ansible?

[2021-08-20 09:08] weiwendi commented on #5158
Command error.

[2021-08-20 09:09] weiwendi commented on #5158
Kind: must start with an uppercase character

[2021-08-20 09:52] planetf1 opened #5163 "go-get-tool fails if project directory path contains spaces"
## Bug Report

#### What did you do?

Tried to run a Makefile build by operator-idk, known to work
The exact directory had already been used to build an operator, and tools were already downloaded including in 'bin'
However I had rebooted, and running a different OS version (Monterey vs Big Sur), but with the same directory used for my source

#### What did you expect to see?
Previously downloaded

[2021-08-20 15:52] pravarag commented on #4745
@estroz  just wanted to check as I was looking to make the relevant changes. If my understanding is correct, we want to include the current `operator-sdk version` somewhere here in this document: https://github.com/operator-framework/operator-sdk/blob/master/website/content/en/docs/installation/_index.md to identify if we are pointed to correct version or not? One strange thing I found out, the ex

[2021-08-22 23:43] estroz commented on #4421
/lifecycle frozen
/priority important-longterm

[2021-08-23 13:05] hulquest commented on #4926
@estroz You are correct.  If the number of people building certified operators is so small it doesn't warrant a blurb about using a UBI base image, then we can close this.  I was new to the subject and got confused.

[2021-08-23 13:32] LCaparelli commented on #4870
Ah gotcha! So even if children fields/structs are marked as required the parent may still be completely missing if it isn't required itself. Thanks a lot @estroz, closing the issue :-)

[2021-08-23 13:32] #4870 closed

[2021-08-23 16:54] varshaprasad96 commented on #5158
@weiwendi  Resource kind does [need](https://github.com/kubernetes-sigs/kubebuilder/blob/5ca8884a1929e2995e10339fc87122b1ccabefa1/pkg/model/resource/gvk.go#L79) to start with Upper case. This is being validated in the plugin. Does that fix the issue?

[2021-08-23 17:47] dh-ironsec commented on #3461
These helped me:
[code]

[2021-08-23 18:20] kensipe commented on #5161
For helpful insights chat with @asmacdo

[2021-08-23 18:26] kensipe commented on #5158
Thanks for helping to make the operator sdk project better.  It seem the original issue was resolved.  If there is another issue to address please follow up with another issue.  thanks again!

[2021-08-23 18:26] #5158 closed

[2021-08-23 18:28] kensipe commented on #5163
In the triage meeting today, we identified that this is a good first issue.  It seems isolated to `make` and scripts.  @planetf1 thanks for raising the issue here... we welcome a pull request if you are up for it.  We have a number of people here or on slack that can provide feedback and guidance if needed.

thanks for helping to make operator sdk awesome

[2021-08-23 18:29] kensipe commented on #5152
@matancarmeli7 this issue looks upstream related... this question is better handled within the kustomize community.  Closing for now... but please re-open if there is a operator sdk specific concern to address.  thanks again!

[2021-08-23 18:29] #5152 closed

[2021-08-24 07:14] adamdyszy opened #5166 "CSV Field Markers are not collected if they are in subdirectory in nested substructure"
## Bug Report

#### What did you do?

0. Its similar to this issue but the difference is that I have files in a subdirectory:
[CSV Field Markers are not collected if they are in another go file] https://github.com/operator-framework/operator-sdk/issues/3744

1. Add a new directory into the API structure of my operator:

https://github.com/IBM/ibm-licensing-operator/tree/operator_sdk_nested_struct_

[2021-08-24 16:03] dirgim opened #5169 "Add the service account field to the custom scorecard test configuration"
## Feature Request

#### Describe the problem you need a feature to resolve.
Currently, the `operator-sdk scorecard` command has the `service-account` option to specify a non-standard service account that the operator developer wants to use when testing their operator. This is entirely sufficient for manual testing where the developers/testers are aware of their testing setup and configuration.

H

[2021-08-25 01:29] joelanford opened #5170 "pkgman-to-bundles does not propagate channels from channel heads"
## Bug Report

#### What did you do?

[code]

#### What did you expect to see?

I expected the command to automatically traverse the replaces chain from each channel head to set the correct channels for all bundles. For example, I expected 0.9.0 to be in channels:
- `clusterwide-alpha` due to being in replaces chain of `0.9.4-clusterwide`
- `singlenamespace-alpha` due to being in the replaces chai

[2021-08-25 15:22] kgibm commented on #142
Hi, what's the latest recommended approach to this? I see `operator-sdk up` was [removed](https://github.com/operator-framework/operator-sdk/issues/4158) and I can't find the alternative. I tried `make build docker-build install deploy` but the pod shows as ErrImagePull and `make run` shows `if kind is a CRD, it should be installed before calling Start`.

Note that the non-local flow of pushing an

[2021-08-26 04:01] jmrodri opened #5173 "Have we considered a plugin writers library?"
## Feature Request

#### Describe the problem you need a feature to resolve.

While writing the java-operator-plugins, I have found myself copying some of the useful [utility functions](https://github.com/operator-framework/operator-sdk/blob/master/internal/util/utils.go) currently hidden in `internal` directories.

#### Describe the solution you'd like.

I know we've tried to keep public APIs out

[2021-08-26 18:16] jaredoconnell opened #5175 "Running alternative namespace with own SCCs when bundled"
I am trying to have my ansible operator use a separate namespace with its own serviceaccount and SCCs that allow my operator to deploy a daemonset with the ability to use hostnetwork.

I got it working when using "make deploy" by creating a section of kustomizaiton that doesn't have its items prefixed, and it deploys the namespace, serviceaccount, and security context constraint.

However, the pro

[2021-08-27 10:00] dirgim opened #5176 "The ako-operator.v1.4.2 unexpectedly fails the legacy operator-sdk scorecard test"
## Bug Report

#### What did you do?

Run the operator-sdk scorecard test against the `ako-operator.v1.4.2` operator that's deployed on the cluster.

After running the following command:
[code]
with the following osdk-scorecard.yml contents: http://pastebin.test.redhat.com/989990
the operator fails the `Status Block Exists` test.

The CRD that's being tested contents: http://pastebin.test.redhat.c

[2021-08-28 08:52] #4681 closed

[2021-08-28 21:23] camilamacedo86 commented on #5176
@dirgim,

If we run the same test for the same operator with sdk latest releases is this issue faced as well?

[2021-08-30 15:43] estroz commented on #4829
/lifecycle frozen

[2021-08-30 17:53] varshaprasad96 commented on #5175
@jaredoconnell Do you mean that the manifests are not being included in the bundle directory? We could add additional service accounts with `--extra-service-accounts` flag in the `operator-sdk generate bundle` command. Also to add additional manifests to the bundle, we can include them to a `--deploy-dir` and specify the path using the flag.

[2021-08-30 18:08] asmacdo commented on #5166
Thank you for such a well documented issue and reproducer!

[2021-08-30 18:21] jberkhahn commented on #5169
This is a good idea, but would be good to have definitive behavior if the specified service account does not exist - such as erroring out to avoid undefined behavior. Also have to think about whether to put this in the single scorecard config or make a separate file - maybe containing the other cluster-specific flag(s?) such as namespace to run the tests in. Also keep in mind backwards-compatabili

[2021-08-30 18:40] jberkhahn commented on #5175
Also see this issue in OLM: https://github.com/operator-framework/operator-lifecycle-manager/issues/1547

It seems currently OLM bundles do not support creation of SCCs.

[2021-08-30 18:47] jberkhahn commented on #5176
It seems your pastebins aren't publically accessible? Can you post them somewhere everyone can access them?

[2021-08-31 08:42] adamdyszy commented on #5166
I actually ended up ignoring these x-descriptiors, since OCP does automatically resolve these fields in forms based on CRD when creating new instance in new Custom Resource. What are benefits of adding these x-descriptors?

[2021-08-31 13:41] maneeshmehra commented on #5169
@theishshah: When you get a chance, can you please also provide an ETA on this item ? Please note that this is blocking CVP-2275 story on the Container Verification Pipelines team. This story happens to be the last story on the epic on custom functional testing of operators (CVP-762) and we'd like to understand if we will be able to close this committed epic in Q3 timeframe or not. Thanks in advan

[2021-09-01 09:03] AnilKumarBandi27 opened #5179 "Operator stops reconciling and starts printing the level info message infinite times."
# Bug Report

In my ansible operator, I have the below task in one of the roles. The task is used to wait for a resource pod to get into ready status, before executing the other tasks.

I have tested the same task in my local machine, using the ansible-playbook command, It is working perfectly as expected.

When I added the same task into my operator code, I could see the infinite times the below

[2021-09-01 16:13] fgiloux opened #5180 "Have support for building multi-arch operator images in Makefile and Dockerfile"
## Feature Request

#### Describe the problem you need a feature to resolve.

Make easier the build of multi-arch operators.
Today the Dockerfile generated by operator-sdk init is explicitly setting GOARCH to amd64
RUN CGO_ENABLED=0 GOOS=linux GOARCH=amd64 GO111MODULE=on go build -a -o manager main.go
The Makefile generated by the same command is explicitly using "docker build":
docker build -t ${

[2021-09-02 00:01] sxnguyen opened #5181 "Operator should work seamlessly with HPA"
## Feature Request
Operator should work seamlessly with HPA

#### Describe the problem you need a feature to resolve.

When HPA is created inside Operator, the issue was reported in [3367](https://github.com/operator-framework/operator-sdk/issues/3367)

#### Describe the solution you'd like.
I think there could be at least two possible solutions:
1. Operator should detect when a HPA is created, th

[2021-09-02 11:36] Nanyte25 opened #5183 "Filed to create operator from Glitchtip Helm chart"
## Type of question

## Question

#### What did you do?
 Below are the exact steps, I used to create the boilerplate operator from the glitchtip helm chart.

[code]

#### What did you expect to see?

#### What did you see instead? Under which circumstances?

#### Environment

**Operator type:**

**Kubernetes cluster type:**

`$ operator-sdk version`

`$ go version` (if language is Go)

`$ kubectl

[2021-09-02 15:10] deeghuge opened #5184 "Ansible operator available at quay.io/operator-framework/ansible-operator are having vulnerabilities"
## Bug Report
Recent images of ansible operator are showing the multiple vulnerabilities.

Details of Vulnerabilities --> [here](https://quay.io/repository/operator-framework/ansible-operator/manifest/sha256:193dbc046ffbf5606f8c86bf285945483907a9b9505c244e430eaa2033bda338?tab=vulnerabilities)

We are using **quay.io/operator-framework/ansible-operator** as base image to build image for operator

#

[2021-09-02 15:21] deeghuge commented on #5184
Seems like the vulnerability are propagated from [ansible-operator-base](https://quay.io/repository/operator-framework/ansible-operator-base?tag=latest&tab=tags)

[2021-09-02 18:50] meschbach commented on #186
For anyone else who travels down this line `operator-sdk up local` has been removed.  Still searching for a method to set `imagePullPolicy: Always` when building && testing on my local device.

[2021-09-03 05:41] pravarag commented on #5163
@kensipe can I work on this issue if there is no-one already working on it?

[2021-09-03 06:47] planetf1 commented on #5163
@pravarag I've unfortunately not had the chance yet so ok by me

[2021-09-03 06:53] dolfim opened #5186 "Helm operator leader election lost"
## Bug Report

#### What did you do?

Our operator is based on the helm-operator v1.11.0. When the manager is running, we get constant CrashLoop with the message `leader election lost`.

Here are the logs produced by all the reboots:

[code]

#### Environment

**Operator type:**

/language helm

**Kubernetes cluster type:**

OpenShift 4.7.

`$ operator-sdk version`

[code]

`$ kubectl version`

[c

[2021-09-03 06:57] dolfim commented on #5186
It might be a side discussion, but from the logs it looks like the helm-operator is fetching APIs which should not be related to our Helm chart `https://172.21.0.1:443/apis/elasticsearch.k8s.elastic.co/v1beta1`, etc which are creating some client-side throttling.
Could this be related?

[2021-09-03 07:18] pravarag commented on #5163
/assign

[2021-09-03 13:55] #5088 closed

[2021-09-03 14:44] #4949 closed

[2021-09-04 02:26] #4708 closed

[2021-09-04 02:26] #4709 closed

[2021-09-04 02:26] #4715 closed

[2021-09-07 09:19] huzefa51 opened #5189 "CRs are automatically updated in namespaces when CRD version is upgraded"
## Bug Report

#### What did you do?

We have our own operator which is running in all the namespaces with CR and CRD pointing to v1 version.
Now we tried to update our CRD file with v2 version which includes some addition in spec definition.
After rolling this CRD with v2 version we have observed that all the CRs in all our namespaces automatically updated to v2 version. Our guess is this happene

[2021-09-07 12:43] camilamacedo86 commented on #5184
@Jainbrt Are you using the latest version available for ansible?
Could you please let us know what is tag where are you checking it?

c/c @fabianvf @jmrodri

[2021-09-07 13:05] Jainbrt commented on #5184
@camilamacedo86 quay.io/operator-framework/ansible-operator:v1.11.0 base image only shows 4 high severity vulnerabilities only.

[2021-09-07 13:49] jmrodri commented on #5022
Fixed by PR #5177

[2021-09-07 13:49] #5022 closed

[2021-09-07 15:27] msugakov commented on #4992
Hi,

It has been some time but still I'd like to understand how `--overwrite=false` is supposed to help.
`operator-sdk`-s own help tells about it this way:

[code]

If I turn off `--overwrite`, metadata and Dockerfile will not be updated at all. That obviously keeps their content in place but prevents us from seeing new changes that `operator-sdk` might otherwise introduce.

Thanks,
Misha

[2021-09-07 21:41] jberkhahn commented on #5089
Not sure when this got fixed, but it's been fixed on master so I'm closing this issue.

[2021-09-07 21:41] #5089 closed

[2021-09-08 02:17] gyliu513 opened #5190 "How do we programmatically know what operator manages what operands?"
## Type of question

## Question

Each operator can manage a group of operands, does there are any best practise to enable end user can know the operator and operands mapping? Like how do we programmatically know what operator manages what operands?

#### What did you do?

#### What did you expect to see?

#### What did you see instead? Under which circumstances?

#### Environment

**Operator type

[2021-09-08 04:21] fabianvf commented on #4887
/lifecycle frozen

[2021-09-08 08:53] crispaulcastaneda commented on #363
First thing I made a solution by closing the git terminal or if you run VS Code you should close it. If this doesn't work, try to restart your machine.

[2021-09-08 12:50] toamto94 commented on #2152
Does the image support in-cluster configuration?
I always get an error when I run `operator-sdk run bundle ...` from a container. It seems it cannot find the in-cluster configuration. `oc` on the other hand works fine.

[2021-09-08 17:58] varshaprasad96 commented on #5183
@Nanyte25 The error message states that `error calling include: template: glitchtip/templates/secrets.yaml:10:20: executing "glitchtip/templates/secrets.yaml" at <b64enc>: invalid value; expected string`. This maybe because of an issue in the chart templates. If you can share the helm chart, we can take a look at it to check whether there is something wrong on operator-SDK's end.

[2021-09-08 18:15] jberkhahn commented on #5102
If this happens soonish we can backport it to a patch release for 1.12.0, but otherwise we think this is fine for 1.13.0.

[2021-09-08 18:18] theishshah commented on #4423
Blocked by https://github.com/operator-framework/operator-sdk/pull/5191

[2021-09-09 01:17] ctrought commented on #5090
Still seeing this issue in 1.11 installed via brew, followed the quick start instructions.

[code]

[code]

$ operator-sdk version
operator-sdk version: "v1.11.0", commit: "28dcd12a776d8a8ff597e1d8527b08792e7312fd", kubernetes version: "v1.20.2", go version: "go1.16.6", GOOS: "darwin", GOARCH: "arm64"

[2021-09-09 11:37] gadiener commented on #4828
Hi @estroz,
can we reopen this issue, please? I'm having the same issue pointed out by @sTb1337.
Thanks

[2021-09-09 11:52] gadiener commented on #4828
I was able to use the CLI with Go 1.16. I think the problem is in the documentation, we need to update the docs in here https://sdk.operatorframework.io/docs/building-operators/golang/installation/ to specify the requirement of Go 1.16.

[2021-09-09 13:19] asmacdo opened #5195 "Add --ignore-not-found=true to scaffolded `undeploy` make target"
## Feature Request

When deploying the objects in `config/` with kustomize, sometimes it goes wrong and not all the objects are created. When this happens, `make undeploy` fails on the first object that doesn't exist. Its easy to work around, just delete them manually. However this interrupts development flow and is a bit annoying.

If we add `--ignore-not-found`, `make undeploy` will always try t

[2021-09-09 15:22] estroz commented on #4828
Can you create a new issue specific to the brew issues you're seeing?

/cc @jmrodri @sujil02

[2021-09-10 02:30] #4743 closed

[2021-09-10 14:31] #4747 closed

[2021-09-10 18:40] jaredoconnell commented on #5175
It looks like I will need to use a manual workaround for now (by manually applying the SCC). Thanks for the help.

[2021-09-10 18:40] #5175 closed

[2021-09-13 07:05] Jainbrt commented on #5184
@camilamacedo86 @fabianvf @jmrodri Could you please help us understand for the fix update, if any progress is there ?

[2021-09-13 10:22] nmahajan-jpmc commented on #4828
@gadiener I  just tried this and got the same issue. I am on go 1.17. and am getting the same error
_"failed to initialize project: unable to run pre-scaffold tasks of "base.go.kubebuilder.io/v3": go version 'go1.17' is incompatible"_
so did you do something special to use the cli?

[2021-09-13 10:53] gadiener commented on #4828
@nmahajan-jpmc I'm using go 1.16, no special arguments.

[2021-09-13 13:34] jkupferer commented on #5060
Any update on this? We are continuing to see mysteriously large memory consumption from our helm-based operator. For no apparent reason it is attempting to use over 1GiB of memory! We are having to increase its resources again, but there seems to be no reasonable explanation why it would be using anywhere near this amount of memory.

[2021-09-13 16:40] adalziso commented on #5053
Problem disappeared after I installed the following versions:

ansible==4.5.0
ansible-core==2.11.4
ansible-runner==1.4.7
ansible-runner-http==1.0.0
kubernetes==12.0.1
openshift==0.12.1

Does sdk ansible operator framework has plans to "upgrade requirements" for ansible-runner ?
Current requirement (https://sdk.operatorframework.io/docs/building-operators/ansible/installation/)
is:
ansible-runner v

[2021-09-13 18:21] jberkhahn commented on #5173
TODO: refactor the util stuff that was needed for the Java plugin, and we'll reconvene and discuss what the solution for that looks like WRT moving more stuff around.

[2021-09-13 18:49] jberkhahn commented on #5189
This should only happen if you implemented a conversion webhook. Is the old API (v1) of the CR still defined in your CRD? It's pretty normal to have multiple API versions of a resource exist on your cluster simultaneously to avoid this kind of  thing.

[2021-09-13 18:55] jberkhahn commented on #5190
Who is trying to get this information, and from where? There are a variety of sources of information on this. Is this from an end user's perspective, or the operator's author, or someone else? Is it happening while writing the operator, trying to get this information from a running cluster that the operator is deployed on, or somewhere else?

[2021-09-13 20:06] jmrodri commented on #5181
For other readers coming in later, HPA = Horizontal Pod Autoscaler.

[2021-09-13 20:24] jmrodri commented on #5181
@sxnguyen what operator type are you using? ansible? helm? go?

It also sounds like the operator is doing what it was designed to do. It is attempting to make the operand deployment as it was configured to do. So you have 2 controllers acting on the same object. Can you not build the operator such that it has a config that tells it HPA is active and not to reconcile the desired replicas?

In optio

[2021-09-13 22:06] jberkhahn commented on #5186
If your operator is hitting some API that you've never heard of, that's a pretty good indicator that you've generated your operator incorrectly.  It looks like you might be getting rate limited due to hammering the API, and that's causing the leader elections to time out. What helm chart are you using and what commands did you run to generate your operator?

[2021-09-13 22:44] #3807 closed

[2021-09-13 22:44] camilamacedo86 commented on #3573
/lifecycle frozen

[2021-09-14 00:10] sxnguyen commented on #5181
@jmrodri : Thank you for reviewing the item.
We're using Ansible operator right now, but we do have plans to move to Go in the future.
[code]
---> I'm thinking of detaching the `ownerReferences`  of the object when it has HPA attach to it.  Would that be the right way to do it? If not, do you have any other ideas?

[code]
Sorry for not being clear.  Basically, I'm asking if it's possible to get Op

[2021-09-14 08:39] absynth76 commented on #2292
Could we reopen this one? The extra fields mentioned here are not propagated from the CRD towards the CSV when you are generating for ansible operators. Only go operator was taken into account as far as I understand.

[2021-09-14 13:53] akihikokuroda commented on #4959
Hi!  I see this problem, too.  I'm not sure if this is a doc issue or code issue.   The command described in `Building Operators`-> `Go` -> `Quickstart` and `Tutorial`
[code]
fails to pull the bundle image.  The argument should be prefixed with the IP address of the registry like (for docker registry case)
[code]

It is not same (consistent) way to specify the image for the make command
[code]
but

[2021-09-14 15:45] akihikokuroda commented on #4959
[`OLM Integration` -> `Bundle Tutorial` ](https://sdk.operatorframework.io/docs/olm-integration/tutorial-bundle/#deploying-an-operator-with-olm) has this
[code]
So the dock should be updated.

[2021-09-14 15:50] akihikokuroda commented on #4959
[OLM Integration->Bundle Tutorial->Testing bundles](https://sdk.operatorframework.io/docs/olm-integration/tutorial-bundle/#testing-bundles) has this.
[code]

[2021-09-15 06:20] dolfim commented on #5186
The operator was created using the tutorial on the operator-sdk page:

[code]

[2021-09-15 08:04] quangthe commented on #4828
It works with Go 1.16 on Mac Big Sur. The document said Go 1.15 🤔

`go version
go version go1.16.8 darwin/amd64`

`operator-sdk version
operator-sdk version: "v1.12.0", commit: "d3b2761afdb78f629a7eaf4461b0fb8ae3b02860", kubernetes version: "v1.21", go version: "go1.17", GOOS: "darwin", GOARCH: "amd64"`

`operator-sdk init --domain example.com --repo gitlab.com/go-labs-101/memcached-operator
Writi

[2021-09-15 15:40] asmacdo commented on #5179
The "cache miss" log indicates that the requested object isn't being retrieved and added to the cache. My guess is that the problem is the namespace-- I see you are using `"{{ meta.namespace }}` which was changed in 1.0 https://github.com/operator-framework/operator-sdk/blob/820764f26d506f748ef8928f35731091e34f3ad4/website/content/en/docs/upgrading-sdk-version/v1.0.0.md#ansible-operator-meta-varia

[2021-09-15 15:40] #5179 closed

[2021-09-15 18:12] asmacdo opened #5208 "Bump Golang to 1.17"
Dependabot filed some PRs to bump go version. The CI is currently failing, but we probably aren't ready to bump yet.

https://github.com/operator-framework/operator-sdk/pull/5197
https://github.com/operator-framework/operator-sdk/pull/5198
https://github.com/operator-framework/operator-sdk/pull/5199
https://github.com/operator-framework/operator-sdk/pull/5200
https://github.com/operator-framework/

[2021-09-15 18:41] asmacdo opened #5209 "Add DCO info/link to contributors guide."
Currently, DCO is not mentioned in our docs and we somewhat frequently get PRs from new contributors that fail tests until someone tells them they have to sign-off.

https://github.com/apps/dco

[2021-09-15 19:50] jmrodri opened #5212 "output the failed CR from scorecard basic test"
## Feature Request

#### Describe the problem you need a feature to resolve.

The basic scorecard test fails simply stating `error spec does not exist` but it does not tell you which CR is affected.

[code]

#### Describe the solution you'd like.

`scorecard` should output the failed CR as part of the error. It has this information when the error is created.

[code]

maybe something like

[code]

[2021-09-15 19:51] jmrodri commented on #5212
@thomasmckay here's the issue to cover the item we talked about in slack.

[2021-09-15 21:34] tylerslaton opened #5213 "Running bundle creates "runAsNonRoot" error"
### What is the URL of the document?

https://sdk.operatorframework.io/docs/building-operators/golang/quickstart/

### Which section(s) is the issue in?

"Run your bundle. If your bundle image is hosted in a registry that is private and/or has a custom CA, these configuration steps must be complete."

### What needs fixing?

After running the `operator-sdk run bundle` command the pod seems to fail

[2021-09-16 16:21] #5138 closed

[2021-09-16 18:51] amisevsk opened #5215 "Order of generated webhooks still not stable after v1.12"
## Bug Report
Follow-up to https://github.com/operator-framework/operator-sdk/issues/5022, which I cannot reopen.

#### What did you do?
After updating to `v1.12`, `operator-sdk generate bundle` still does not write CSV webhookDefinitions in a stable order. From looking at https://github.com/operator-framework/operator-sdk/pull/5177, webhookDefinitions are sorted based on type, but within types th

[2021-09-17 00:05] jberkhahn commented on #5186
Is "KgAmqp" a pre-existing Helm chart or are you just making a void Helm chart like the example? I can't get the void operator example to fail like this.

I suspect that you are getting rate-limited, but it looks like it's happening client side (on the controller) rather than by the API server. This can be configured via flags thrown on the controller-manager - is there anything funky when you loo

[2021-09-17 02:41] #4749 closed

[2021-09-17 02:41] #4764 closed

[2021-09-17 08:51] dolfim commented on #5186
Our current intuition is that the error is visible only on a large OCP 4.6 cluster (+60 nodes, +2500 Pods, etc).

As advised we tried out to introduce the `selectors` matching the label of some KgAmqp CR.
When the controller was not matching any CR, the logs were quite and the memory usage was very low.
After patching a few (not all) KgAmqp, we saw a huge increase in the memory usage, and the logs

[2021-09-17 13:21] pplavetzki opened #5217 "3rd Party Resources notifications into Operator -- Incompatible Languages"
## Type of question

How to implement a specific feature

## Question

I'm having difficulty trying to use the operator-sdk to add 3rd party resources into my operator.   Can you get notified of state change on a 3rd Party Resource, where you do not have access to the source code, cannot import it due to this closed api and the 3rd party api code is written in a different language than my `golang`

[2021-09-17 13:59] jmrodri opened #5218 "Debug scorecard tests using a debugger"
## Feature Request

#### Describe the problem you need a feature to resolve.

A user requested the ability to debug scorecard test.

#### Describe the solution you'd like.

* Document how to debug scorecard tests
* If needed, change scorecard to make it easier to debug

/language go
/language ansible
/language helm

[2021-09-17 13:59] jmrodri commented on #5218
/cc @thomasmckay

[2021-09-17 19:35] laxmikantbpandhare commented on #5102
We investigated the issue, and found that the kustomize generates the yaml fields by taking inputs from the patch/ dir, while generating bundle we Marshal the crd to bytes so that it is written to a file. While marshalling, as the preserveUnknownFields has the omitempty tag on it, its default value is false and hence its not explicitly written. This brings us to the same problem as faced in contro

[2021-09-17 19:37] laxmikantbpandhare commented on #5102
We investigated the issue, and found that the kustomize generates the yaml fields by taking inputs from the patch/ dir, while generating bundle we Marshal the crd to bytes so that it is written to a file. While marshalling, as the preserveUnknownFields has the omitempty tag on it, its default value is false and hence its not explicitly written. This brings us to the same problem as faced in contro

[2021-09-18 06:59] swartz-k commented on #5208
Hello,  I'm using 1.17 in my env and looking forward this feature. May I do something to help?

[2021-09-18 12:53] camilamacedo86 commented on #5208
Hi @asmacdo,

To move with this one you need ensure the whole ecosystem first is bumped, following the order:
- k8s itself
- controller-runtime
- kubebuilder
- controller-tools
- SDK

Otherwise, we create problems for the contributor and users since is not easier to switch between go versions in the local env.

[2021-09-19 21:49] elliotfehr commented on #4996
/remove-lifecycle stale

[2021-09-20 16:13] zohiba opened #5221 "Where exactly in the operator-sdk code is the command under artifacts formed?"
## Type of question

## Question

#### What did you do?

I want to find out where exactly in the operator-sdk code is the extravars linked to the ansible-playbook command?
#### What did you expect to see?

I want want to know where exactly in the operator-sdk code is the extravars linked to the ansible-playbook command? How is the -e flag passed in?

#### What did you see instead? Under which circ

[2021-09-20 16:38] ZarifS opened #5222 "How to uninstall operator-sdk if installed via Makefile?"
## Type of question
Support Question

## Question
How do I uninstall the operator-sdk binary if I installed via the makefile as mentioned here: https://sdk.operatorframework.io/docs/installation/#compile-and-install-from-master

I see a makefile but no uninstall file. Not sure how this should be uninstalled properly on my system as I need a different version.
#### What did you do?
Looked at docs,

[2021-09-20 17:11] #5043 closed

[2021-09-20 17:16] varshaprasad96 commented on #5215
This does seem to be a bug. We would have to sort each webhook type.
/kind bug

[2021-09-20 17:23] asmacdo opened #5223 "Document ansible "turbo mode" environment variable"

[2021-09-20 17:23] asmacdo commented on #5223
https://github.com/ansible-collections/kubernetes.core#ansible-turbo-mode-tech-preview

[2021-09-20 17:28] varshaprasad96 commented on #5222
@ZarifS If you are using `make install` the binary would be present in the [go install directory](https://golang.org/doc/tutorial/compile-install) in your system. You can delete the binary from that location.

[2021-09-20 18:14] varshaprasad96 commented on #5209
We can have this as a checkbox too in the PR template.

[2021-09-20 18:21] asmacdo commented on #5213
This was hit using:
Docker: 20.10.8
OperatorSDK: 1.12
Kubectl: 1.21.4
Kind: 0.11.1

[2021-09-20 18:48] cdjohnson opened #5224 "Ansible: Unable to load the manager config file","error":"scheme not supplied to controller configuration loader"
## Bug Report

#### What did you do?
1. Download and install `operator-sdk` version `1.12.0` on ubuntu
2. `mkdir test`
3. `cd test`
4. `operator-sdk init --plugins=ansible --domain tt.example.com`
5. `operator-sdk create api --group test --version v1alpha1 --kind TTTest --generate-role`
6. `export IMAGE_TAG_BASE=docker.io/cdjohnson/test`
7. edit  `test/config/default/kustomization.yaml`
    Commen

[2021-09-20 19:26] varshaprasad96 commented on #5186
@dolfim Thanks for raising the issue. With the current information we are also not able to figure out the reason behind this error. And as you have mentioned since the client-side throttling is happening only on large clusters, it would be difficult for us to reproduce. On brainstorming about this in our community meeting, we could think of a few pointers:
1. How many CRDs are installed in the clu

[2021-09-20 19:33] varshaprasad96 commented on #5217
@pplavetzki Thanks for raising the issue. It seems a bit unclear on what you are expecting. Are you trying to use a third party library written in a different language inside the operator code. Or would you like to use a crd generated externally in the operator? We would highly encourage you to bring this up in the [operator-sdk-dev](https://kubernetes.slack.com/archives/C017UU45SHL) channel of th

[2021-09-20 21:03] asmacdo opened #5227 "bump ansible collections community.kubernetes to kubernetes.core"
The ansible collection `community.kubernetes` is now being released as `kubernetes.core`

This ticket is to update:

1. scaffolding
2. tests
3. docs

[2021-09-20 21:04] asmacdo commented on #5223
blocked by https://github.com/operator-framework/operator-sdk/issues/5227

[2021-09-20 21:24] zohiba commented on #5221
Runner Input Directory Hierarchy (https://ansible-runner.readthedocs.io/en/stable/intro.html)
This directory contains all necessary inputs. Here’s a view of the demo directory showing an active configuration.

Note that not everything is required. Defaults will be used or values will be omitted if they are not provided.

.
├── env
│   ├── envvars
│   ├── extravars
│   ├── passwords
│   ├── cmdline

[2021-09-20 21:25] AndrienkoAleksandr commented on #4990
/remove-lifecycle stale

[2021-09-21 07:52] Nanyte25 commented on #5183
@varshaprasad96 one has to update the template 'secret' and assign a value but how can you do this beforehand?

Is its possible to do this from the Helm chart installed locally on a system?

The repo is here https://gitlab.com/glitchtip/glitchtip-helm-chart

[2021-09-21 07:55] dolfim commented on #5186
Thanks for looking at our issue and brainstorming about possibilities.

1. `kubectl get crd` shows 152 CRDs
2. We launched the controller with the following flags
[code]
The debug logs now look like:
[code]

It looks like it is getting the leader election once, and then it fails.

Since the timeout seems to be on the configmap, I tried count all of them:
[code]

At the moment the controller doesn'

[2021-09-21 08:52] dolfim commented on #5186
I don't think the debug zap-log-level introduced more verbose output. The only debug entries are Reconciling and Reconciled release.

As posted before, I see lots of API request which (at least to me) look weird for our controller.
[code]

I don't know the inner logic of the helm-controller but I don't really see a reason for it querying stuff like Tekton, Knative, etc.
But I can imagine that if t

[2021-09-21 11:50] piyat opened #5229 "Getting Ansible Operator Status with AdditionalPrinterColumns"
## Type of question

Open question

## Question
I am using operator-sdk to make an ansible operator. I’m trying to customise the output of `oc get` on my custom resource with additionalPrinterColumns in the CRD. I would like to understand whether it is possible to format the output in the way that I would like or find out if there are other ways to achieve this. The two things I'm having trouble w

[2021-09-21 12:56] asmacdo opened #5230 "[community process] Add instructions for posting recorded meetings to youtube"
Operator Framework has a youtube channel: https://www.youtube.com/channel/UCxRfXpCVxnotoSGxEpB1hwA

We need to get Operator SDK admins access to post to this channel, document who has access to post somewhere, and put a process in place so that this happens regularly. Operator SDK videos have not been posted since February.

[2021-09-21 14:44] asmacdo commented on #5221
This might also be helpful to you https://github.com/operator-framework/operator-sdk/blob/19750cdf19969e9de51a6089bca8852d400c3cbd/internal/ansible/runner/runner.go#L336

Could you elaborate on what you are trying to do? If a discussion would be easier, feell free to ask in the Kubernetes slack #kubernetes-operators or #operator-sdk-dev

[2021-09-21 16:36] siyer-123 opened #5232 "Basic scorecard test not working"
## Bug Report

#### What did you do?

I am trying to implement the `basic-spec-check` test for `operator-sdk scorecard` on `v0.18.2`. **Please note that for my use case, operator-sdk version `v0.18.2` is a requirement; I am unable to use a newer version at this time.**

I am testing my `scorecard` implementation on the following cluster specs:
[code]

In order to run `scorecard`, I created `.osdk-

[2021-09-22 14:21] dirgim commented on #5169
@theishshah can you give us an update on this item? I can see that a [PR implementing this request](https://github.com/operator-framework/api/pull/153) is in review, but have seen no changes in the last 15 days.

[2021-09-22 17:57] asmacdo opened #5234 "Revise release docs regarding Netlify setup"
The instructions are a bit ambiguous and have required a bit of cleanup to get the docs working after each release.

[2021-09-22 18:16] #5209 closed

[2021-09-22 18:24] jmrodri commented on #5056
We removed the priority/important-soon label because the PR that was introduced by this issue was reverted. And we have not heard of this loop coming back since then.

[2021-09-22 18:35] laxmikantbpandhare commented on #4925
Till now, we did the temporary fix for this issue as this issue was dependent on [kubectl PR](https://github.com/kubernetes/kubernetes/pull/97350). [kubectl PR](https://github.com/kubernetes/kubernetes/pull/97350) got merged and we are moving ahead with the permanent fix for this issue.

[2021-09-22 21:06] #5102 closed

[2021-09-22 21:15] mharriscircleci opened #5235 "Ansible Operator sets incorrect condition `Running` on successful reconciliation"
## Bug Report

#### What did you do?

Trigger a successful Ansible operator reconciliation

#### What did you expect to see?
Documentation indicates that Operator should set  `Successful` condition on resource after successful reconciliation
https://sdk.operatorframework.io/docs/building-operators/ansible/development-tips/#ansible-operator-conditions

[code]

#### What did you see instead? Under w

[2021-09-22 21:45] jberkhahn commented on #5186
When the helm controller comes up it dynamically queries the API to build a spec for talking to the cluster, so it might hit a bunch of APIs that look weird. Going to have to do some more digging.

[2021-09-23 08:22] Jainbrt commented on #5184
@jberkhahn @asmacdo thanks for your attention. When do we expect v1.13.0 to be released, as we are dependent for this fix to be in for our next product release in next 10 days?

[2021-09-23 11:44] zohiba commented on #5221
I was basically, trying to add some variables as extravars and I think if I add it to makeParameters function it will be written to extravars file, so that works, exactly what you pointed out!

[2021-09-23 11:44] #5221 closed

[2021-09-23 11:50] zohiba opened #5236 "how to register type in operator-sdk scheme"
I have created some structs types in a particular package and I should be able to use to call k8s api and copy over the response object. But I get the following error:
error:
"error":"no kind is registered for the type vo.VariableOverride in scheme \"pkg/runtime/scheme.go:100\"","stacktrace":"github.com/go-logr/zapr.(*zapLogger).Error\n\t/go/pkg/mod/github.com/go-logr/zapr@v0.2.0/zapr.go:132\nsigs

[2021-09-23 15:39] thoraxe opened #5237 "bad bundle image env var in Quickstart for Go-based Operators"
[code]

This should be `BUNDLE_IMG`

[2021-09-23 16:57] asmacdo opened #5239 "Move rerun actions repo into OF org"
CI uses Eric's action to give contributors the ability to rerun their actions. Since its part of CI, we should move it into the org.

https://github.com/estroz/rerun-actions

[2021-09-23 21:53] jberkhahn commented on #5186
So, trying to reproduce this on my rinky-dink minikube with 150+ CRDS deployed, my controller comes up fine with no hint of self-rate limiting. I suspect that maybe some Openshift specific stuff or configuration might be causing this.

[2021-09-24 02:48] #4823 closed

[2021-09-24 17:28] perdasilva commented on #5224
I've managed to reproduce this on `kind`. Thanks for the great instructions. I'll see if I can figure out the issue.

[2021-09-24 23:53] perdasilva commented on #5224
So, the above PR fixes part of the issue. The other part is getting the `--config` argument to point to a valid location. The way it is currently specified, it expects the file to be in the current directory. However, the ansible-operator image sets the workdir to the home directory, which results in a file not found. I need a more experienced person to help guide me with the fix for this. Whether

[2021-09-27 03:04] varshaprasad96 commented on #5237
@thoraxe Thanks for bringing up this issue. Would you like to submit a PR? The commit you have mentioned would be helpful and can fix the issue.

[2021-09-27 03:10] varshaprasad96 commented on #5236
Any third party resources specified outside `client-go` need to be registered to `manager's` scheme. We can use the `AddToScheme` function provided by controller-runtime for the same. Here is the documentation around that: https://sdk.operatorframework.io/docs/building-operators/golang/advanced-topics/#adding-3rd-party-resources-to-your-operator

[2021-09-27 05:35] DTMad opened #5244 "bundle validate - service account name cannot match service account defined for deployment spec in CSV"
## Bug Report

#### What did you do?

When running
`operator-sdk bundle validate ./bundle`
or by using the Makefile
`make bundle`
the validation fails when having a service account defined which needs to exist in order to run a deployment.

Our setup consists of the deployment for the Operator itself and an additional deployment for a mutating webhook.
Since the webhook needs a separate service ac

[2021-09-27 09:50] simararneja commented on #2950
@camilamacedo86 @fabianvf  At the very least can we have something added to the documentation please ? There are still grey areas to support multi versions in our operators ?

1. What goes into watches.yaml
2. Do they still point to same playbook, or an abstract playbook for both
3. What goes into PROJECT

Thanks in advance.

[2021-09-27 12:38] simararneja commented on #2950
Even with creating separate roles as suggested in the comment above and conditionally including them is invoking the ansible with both `v1` and `v2`

[code]

I can confirm that CRD which is created is only v2.

[2021-09-27 13:17] maneeshmehra commented on #5169
HI SDK team: Please note that this item is blocking CVP team on CVP-2275 and in-return, managed service operator product team(s). We'd really appreciate if someone from the team could provide us with an ETA on when this issue will be resolved and when the CVP team will be able to adopt the next version of the SDK containing the fixes. Thanks.

[2021-09-27 13:55] jmrodri commented on #5169
Move this issue back to 1.13, it is a blocker for 1.13.

[2021-09-27 14:40] rashmigottipati commented on #5237
@thoraxe created a [PR](https://github.com/operator-framework/operator-sdk/pull/5238) for it last week.
It looks good, it's just missing commit sign-off before it can be merged.

[2021-09-27 15:23] theishshah commented on #5169
#5245 is the SDK side implementation of the configurable setting added to the API repo. Following an API release and merge into the SDK we can bring in the above PR and have this done.

[2021-09-27 16:08] stiller-leser opened #5246 "Scaling the ansible operator for six custom resources with 1000s of objects"
## Type of question

Best practices

## Question

I am currently looking into the performance of my operator and how it could be improved, as for one of my CRs I am seeing up to 25 minutes until it is first reconciled.

Looking into the `/metrics` endpoint of my operator I found:

[code]

Do I interpret this correctly, that one reconciliation of my "Operation" resource takes almost 14 seconds?

In

[2021-09-27 16:36] joahimg opened #5247 "Duplicated code added to suite_test.go on adding a new Kind"
## Bug Report

#### What did you do?

I executed these commands to add two `kinds` - `Memcached` and `Memcached2`:

[code]

#### What did you expect to see?

I expected to see no duplicated code in `suite_test.go`

#### What did you see instead? Under which circumstances?

I saw this duplicated code:

[code]

Operator SDK added duplicated code in suite_test.go

<img width="1321" alt="Screenshot 20

[2021-09-27 18:11] varshaprasad96 commented on #5218
@thomasmckay could you please mention more about the workaround you did to get the debugging on scorecard pods?

[2021-09-27 18:21] VenkatRamaraju commented on #5227
/assign @VenkatRamaraju

[2021-09-27 18:40] varshaprasad96 commented on #5236
Thanks for bringing up this issue. If the documentation does not address the issue please feel free to reopen a new issue. Closing this for now as this has been addressed.

[2021-09-27 18:40] #5236 closed

[2021-09-27 19:40] fabianvf commented on #5246
@stiller-leser the time to first reconcile is likely due to re-reconciliation on startup, which will take a while with that number of resources in the cluster. I'm not sure off the top of my head how much work it would take but to fix that we'd have to find a way to prioritize new, unreconciled resources over re-reconciliation to fix drift while the operator was non-functional. If not supported al

[2021-09-27 19:47] varshaprasad96 commented on #5143
Closing this as we have the PR merged.

[2021-09-27 19:47] #5143 closed

[2021-09-28 08:09] stiller-leser commented on #5246
Hi,

thank you for your detailed answer. This is very much appreciate. I am not sure if I could share any playbooks. I'll get back to you on that.

First, I misspoke: The operator is not consuming a lot of memory, but all available CPU. See output of `kubectl top nodes`.

I just did a quick calculation of the current amount of objects. Right now we have about:

- 414 Snapshot CRs
- 25 Artifact CRs

[2021-09-28 14:54] thoraxe opened #5248 "make deploy doesn't set an imagepullpolicy which results in bad caching behavior in kind/clusters"
## Bug Report

#### What did you do?

When trying to develop an operator locally, I was doing the following:

[code]

I was running a cluster with `kind`

#### What did you expect to see?

I expected changes to my controller go code to be reflected in the operator that was running in the cluster.

#### What did you see instead? Under which circumstances?

The operator wasn't running the changes. A

[2021-09-28 16:28] fabianvf commented on #5246
Interesting, we've definitely done less CPU profiling than RAM. I'd be surprised if it was Ansible that was eating up all that CPU (since Ansible should mostly be waiting on network calls), I wonder if it's just the quantity of events being processed by the Go binary.

Yes, that's correct

Yes, it's the ownerReferences we set on the dependent resources that lead to them being cleaned up on deletio

[2021-09-28 16:40] theishshah commented on #5169
Feature has merged on the SDK, it will be included in the upcoming release.

[2021-09-28 16:43] maneeshmehra commented on #5169
That's awesome ! Thanks for all your help.

[2021-09-28 16:43] theishshah commented on #4423
Pushing this ticket out by 1 release. Needs further discussion as our KIND in CI does not support the ability to drop in "Always" as the pull policy - regardless of busybox/ubi. If we decide we want to ship to users with "Always" a configuration path needs to be built to allow a modified version to be run in CI KIND environments.

[2021-09-28 16:44] theishshah commented on #4423
PR #5054 was an attempt at the drop-in replacement, I will work on the configuration path model on this branch for those interested.

[2021-09-28 17:44] fabianvf commented on #4975
/lifecycle frozen

[2021-09-28 18:36] #5169 closed

[2021-09-28 19:40] asmacdo opened #5250 "Add contributor docs for freshening images"
Add contributor docs that answer the following questions:

- Which images are "freshened" by this workflow
- When should this workflow be initiated, and what is the trigger (cron, 11AM every day, but sometimes we need to run manually?)

https://github.com/operator-framework/operator-sdk/blob/master/.github/workflows/freshen-images.yml
https://github.com/operator-framework/operator-sdk/tree/master/

[2021-09-28 20:07] asmacdo commented on #5115
some updates:
- We will continue to use https://quay.io/repository/operator-framework/ansible-operator-base for the default Ansible version, 2.9
- We will introduce 2 new quay repos:

    -  ansible-operator-2-11-preview-base
    -  ansible-operator-2-11-preview
- Freshmaker workflow will be updated to build ansible-operator-base and the preview-base
- a new (temporary) make target will be added t

[2021-09-28 20:08] asmacdo commented on #5250
What is the process for editing/testing this workflow?

[2021-09-28 20:43] asmacdo opened #5252 "Netlify admins should be reflected in the OWNERS file"
Would it be useful to create a category in the owners file for Netlify admins?

https://github.com/operator-framework/operator-sdk/blob/master/OWNERS_ALIASES

I don't think it would be worth the effort to attempt to automate this on the Netlify side, but it could be used to put this information somewhere in the community docs.

[2021-09-28 22:58] AndrienkoAleksandr opened #5253 "Some CR can be with status without any fields but it fails score card tests"
## Bug Report
Hello in our operator we have few CR. And in the one of them we don't have in the status object any fields and it's expected by logic of the CR and corresponding controller. For example https://github.com/eclipse-che/che-operator/blob/d52d5adb16e751699f257561836b3582cd6e26f9/api/v1/chebackupserverconfiguration_types.go#L110. But it fails default score card tests with name https://git

[2021-09-28 23:27] AndrienkoAleksandr opened #5254 "Some CR can be without resources definitions and it fails score card tests"
## Bug Report

In our operator we have few CR. For one of the CR and corresponding controller we don't create any new resources. We only get some info and store it using update CR. So we don't have resources definition for such CR and controller by design.
But it fails default score card test with name https://github.com/operator-framework/operator-sdk/blob/160ccff72882937cca7f8eae5eebeff4c48ea975

[2021-09-29 11:23] tfluehmann opened #5256 "Helm operator selector does not pick updates in CR labels"
## Bug Report

#### What did you do?

I am running two separate helm operators in a Kubernetes cluster. Both should look at the same type of custom resource but should look for different labels (or a label exists or not). I installed two different selectors in the watches.yml file for both operators, one should look at the label `operatorTest`, the other one should not:
`watches.yml`
Operator A:
[

[2021-09-29 13:46] Roia5 opened #5257 "Objects created without ownerReference injected when using force in k8s ansible module"
## Bug Report

#### What did you do?

When attempting to use k8s module to deploy objects using operator-sdk,
I tried to change the ```apply: true``` parameter into ```force: true```.
When using force, the objects are all created without the CR owner.
As a result they are not deleted when the CR is deleted.

#### What did you expect to see?
A correct owner reference to the CR.

#### What did you s

[2021-09-29 14:12] asmacdo commented on #5032
Closing, fixed by #5185

[2021-09-29 14:12] #5032 closed

[2021-09-29 14:29] asmacdo commented on #5184
@Jainbrt the base-base image is rebuilt, the user-facing base image will be rebuilt when I cut the v1.13.0 release today.

Apologies for the slow response, we get a lot of GH pings, so they are easy to miss. If it is important for us to get something looked at quickly, please feel free to chat with us on Kubernetes slack #operator-sdk-dev. Also feel free to join our community triage meetings. http

[2021-09-29 14:42] #5234 closed

[2021-09-29 14:54] Jainbrt commented on #5184
Thanks @asmacdo for your kind response and help on this issue. Sure I will chat with you if anything urgent comes up.

BTW I still see 3 medium vulnerabilities with master image, do we have any plan to fix them also in coming releases ?

[2021-09-29 15:28] asmacdo opened #5259 "Cut release v1.13.0"

[2021-09-29 15:28] asmacdo opened #5260 "Cut release v1.14.0"

[2021-09-29 15:28] asmacdo commented on #5260
Left the milestone off so we talk about this in triage and assign someone.

[2021-09-29 15:52] asmacdo commented on #5184
@Jainbrt yes, I ran another build and the security scan showed no vulnerabilities. This image will be included in the v1.13.0 release.
![Screenshot from 2021-09-29 11-11-49](https://user-images.githubusercontent.com/1028657/135304305-d5f46a0e-4bd7-4c4a-8c88-5b0bee117789.png)

We had an undocumented manual step that was required in the release process. This gap has been identified and documented, s

[2021-09-29 15:52] #5184 closed

[2021-09-29 16:38] fabianvf commented on #5235
This is one of the best bug reports I've ever read @mharriscircleci

[2021-09-29 17:40] Jainbrt commented on #5184
Thanks @asmacdo for the help here.

[2021-09-29 20:36] kgibm commented on #4714
Hi, I ran into this issue as I was about to test using OLM with a customer Go operator in my OpenShift cluster, and I'm not sure if this is a blocker or not. The [OLM Integration Bundle Tutorial](https://sdk.operatorframework.io/docs/olm-integration/tutorial-bundle/#enabling-olm) writes:

Can I still continue with the tutorial?

[2021-09-30 00:03] asmacdo commented on #5259
Its done!

[2021-09-30 00:03] #5259 closed

[2021-09-30 14:18] paterczm opened #5268 "Operator causing control plane outage"
Hello Operator-SDK community

I'm looking for operator-sdk experts to advise me on the following problem:

We can cause a control plane outage with our custom tenant-operator (golang, operator-sdk based) [3]. The tenant-operator sets up resources for application teams (or tenants) who want to use our OpenShift platform, i.e. creates namespaces, clusterresourcequotas, limits and various other secre

[2021-09-30 17:17] camilamacedo86 opened #5269 "Scorecard olm-crds-have-resources-test failing when the owned is in the CSV"
## Bug Report

[code]

#### What did you do?

Run scorecard for the bundle [layer.zip](https://github.com/operator-framework/operator-sdk/files/7261333/layer.zip): `operator-sdk scorecard layer/`

#### What did you expect to see?

All tests passing succefully.

#### What did you see instead? Under which circumstances?

[code]

#### Environment

`$ operator-sdk version` 1.13.0

`$ go version` (if l